[2016-06-01 14:20] gunjpan commented on #2367
@peeter-tomberg : Is it good to close?

[2016-06-01 14:38] subchal commented on #2392
Hi Good morning Gunjpan,

I see above "@subchal : It's fixed here: strongloop/generator-loopback#192
It's fixed, not sure if it's released on npm, you can directly install generator-loopback from GH repo"  -

Can you please provide further instructions, such as, do I need to do npm uninstall loopback-connector-mongodb first, before I do  npm install generator-loopback  ?   Also, I am bit new to Gi

[2016-06-01 14:46] jannyHou commented on #2292
@ssh24 Please verify according to https://github.com/strongloop/loopback/issues/2292#issuecomment-220677220  again.
Thanks!

[2016-06-01 14:47] ssh24 commented on #2392
`Verified`.

**Verification steps:**

- [x] Create a `slc loopback` app
- [x] Create two models `test1` and `test2` using `slc loopback:model`
- [x] Create a **has many** relationship between `test1` and `test2` using `slc loopback:relation` as shown below:

<img width="563" alt="010616 -bash 80x24 terminal today at 10 46 09 am" src="https://cloud.githubusercontent.com/assets/15173354/15713861/23e

[2016-06-01 14:48] subchal commented on #2392
Hi ssh24 good morning - Can you please provide some instructions on how i can get this fix onto my local workstation ?   Can you please provide further instructions, such as, do I need to do npm uninstall loopback-connector-mongodb first, before I do npm install generator-loopback ? Also, I am bit new to Git REpo. Trying to figure out how to do the install directly from Git Repo. Any pointers will

[2016-06-01 14:58] gunjpan commented on #2392
@subchal: Install generator-loopback from its gitHub repo using npm. See how to do it [here](https://docs.npmjs.com/cli/install)

NO. you just need to install generator-loopback as that's the piece was broken.

[2016-06-01 15:02] gunjpan commented on #2292
Related: https://github.com/strongloop/loopback/issues/2392
Verification done by @ssh24 for the fix ^

[2016-06-01 15:05] subchal commented on #2392
He good morning Gunjpan thank you.  Do you know when the fix will make its way I I the npm registry?

[2016-06-01 15:06] gunjpan commented on #2363
@gendigbadig : I'm afraid that there is any straight-forward way to achieve this.
You can execute a [native SQL](https://docs.strongloop.com/display/public/LB/Executing+native+SQL) query to `order` your results according to your `IN` array:

[code]

Hope that helps. Closing this now, should you need any assistance with this issue, please feel free to  reopen and mention me, will be happy to help.

[2016-06-01 15:06] #2363 closed

[2016-06-01 15:08] gunjpan commented on #2392
@subchal: I don't have any fix timeline when it will be released, but it will be released soon as it will be impacting wider audience. Keep tracking this issue and also #2292 as well.

[2016-06-01 15:17] ssh24 commented on #2292
`Verified`.

**Verification steps:**

- [x] Create a `slc loopback` app
- [x] Create two models `test1` and `test2` using `slc loopback:model`
- [x] Create a **has many** relationship between `test1` and `test2` using `slc loopback:relation` as shown below:

<img width="563" alt="010616 -bash 80x24 terminal today at 10 46 09 am" src="https://cloud.githubusercontent.com/assets/15173354/15713861/23e

[2016-06-01 15:18] gunjpan commented on #2392
@subchal: Closing this issue now, as its a duplicate of #2292, please track the progress there. Thank you.

[2016-06-01 15:18] #2392 closed

[2016-06-01 15:54] subchal commented on #2292
Hi good morning everyone

Are the fixes above are in npm registry?   Are do we need to manually update package.jaon file for yeoman generator before doing npm install -g loopback-generator?

[2016-06-01 16:15] ccgdesigns opened #2396 "Bug when model has relation named "trigger""
Defining a relation as follows:

[code]

breaks the code: I am completely unable to create or save a model instance.

- The callback never gets called (not even with an error)
- No row is added into the database

Changing the name "trigger" to anything else fixes the issue. Maybe there should be a check to stop people like me using reserved names?

[2016-06-01 17:33] jannyHou commented on #2292
@subchal The fix hasn't released, it will be in npm registry tomorrow.
Please check workaround:
https://github.com/strongloop/loopback/issues/2292#issuecomment-222576398

[2016-06-01 18:29] jeff3yan commented on #1841
:+1:

[2016-06-01 19:44] 0candy commented on #2292
Published as generator-loopback@1.21.0

[2016-06-01 21:35] agustinaliagac commented on #517
+1

[2016-06-02 00:15] benjaminhaven opened #2397 "getCurrentContext.get(<property>) sometimes returns other request/user's information"
I'm running into what looks like a concurrency issue using the getCurrentContext in operation hooks.

We are using the context to store the user's access token, userId and groupId.  This is done in middleware which is set on the auth:after.

[code]

We attempt to get these values as so:

[code]

This `getCurrentUser` method is used within a operation hook

[code]

The problem I am experiencing is

[2016-06-02 07:39] peeter-tomberg commented on #2367
This took a while to figure out. What I was trying to achieve was a left join query using the loopback query language. According to the 2nd comment on this thread: https://groups.google.com/forum/#!topic/loopbackjs/DTpTbV6NKUQ it's not possible and I should make 2 queries instead.

What I ended up doing was something in the lines of:

[code]

Now when I query my users list and pass along ?filter.w

[2016-06-02 08:57] bajtos commented on #651
I have an idea: how about adding a model-level setting to control the default behaviour (all methods are public, all methods are private) and then allow models to provide overrides in the "methods" section. These overrides can change not only method visibility, but also other metadata like the description used by swagger generator - IIRC there is an issue asking for this feature, but I cannot find

[2016-06-02 09:54] zkuang opened #2398 "find always executed for updateAttributes, even if the ACL not allowing to access the updateAttributs remotemethod"
setup the find logic as:

module.exports = function(Product) {

    Product.on('dataSourceAttached', function(obj) {
        var find = Product.find;
        Product.find = function(filter, option, callback) {
            console.log('find executed');
            find.call(this, filter, option, callback);
        }
    });
};

The ACL:
"acls": [
    {
      "accessType": "*",
      "principalType"

[2016-06-02 10:46] shuhankuang commented on #2147
@luckymancvp
Hi, I can't get the req.accessToken too,
can you please tell me the solution? thx.

[2016-06-02 11:06] bajtos commented on #2391
Your guess is correct. We got only as far as we needed for isolating unit tests and running multiple isomorphic clients in the same webpage.

This is looks like a bug to me. Would you like to contribute the fix yourself? I am happy to guide you along the way.

[2016-06-02 11:37] vroudge commented on #1703
What was the fix for this?

[2016-06-02 11:45] bajtos commented on #470
DENY EVERYONE *
[code]

[2016-06-02 11:46] bajtos commented on #388
As part of our issue triage process, I am closing items that have been inactive for an extended period of time. If anybody thinks the feature proposed here is still relevant and should be prioritised, then please leave a comment to let us know.

[2016-06-02 11:46] #388 closed

[2016-06-02 11:48] #534 closed, assigned to nobody

[2016-06-02 11:49] bajtos commented on #623
As part of our issue triage process, I am closing items that have been inactive for an extended period of time. If anybody thinks the feature proposed here is still relevant and should be prioritised, then please leave a comment to let us know.

[2016-06-02 11:49] #623 closed

[2016-06-02 11:49] bajtos commented on #626
As part of our issue triage process, I am closing items that have been inactive for an extended period of time. If anybody thinks the feature proposed here is still relevant and should be prioritised, then please leave a comment to let us know.

[2016-06-02 11:49] #626 closed

[2016-06-02 11:51] bajtos commented on #603
Closing as a duplicate of https://github.com/strongloop/loopback/issues/2092 where a more recent discussion is taking place.

[2016-06-02 11:51] #603 closed

[2016-06-02 11:51] bajtos commented on #2092
Related: #603

[2016-06-02 11:59] bajtos commented on #669
I am closing this issue, since there were not enough people asking for this enhancement and it clearly was not a priority for us so far. We can reopen it again later when there is more demand.

[2016-06-02 11:59] #669 closed

[2016-06-02 11:59] bajtos commented on #644
I am closing this issue, since there were not enough people asking for this enhancement and it clearly was not a priority for us so far. We can reopen it again later when there is more demand.

[2016-06-02 11:59] #644 closed

[2016-06-02 12:00] bajtos commented on #711
Closing as a duplicate of https://github.com/strongloop/loopback-datasource-juggler/issues/375

[2016-06-02 12:00] #711 closed

[2016-06-02 12:01] bajtos commented on #678
Hello, as part of our triage process, I am closing issues that have been inactive for extended period of time. Please leave a comment if you think this issue is still relevant and should be reopened.

[2016-06-02 12:01] #678 closed

[2016-06-02 12:02] bajtos commented on #748
The loopback-example-component link no longer works. I am closing this issue as no longer relevant. @crandmck feel free to reopen.

[2016-06-02 12:02] #748 closed

[2016-06-02 12:03] bajtos commented on #749
Hello, as part of our triage process, I am closing issues that have been inactive for extended period of time. Please leave a comment if you think this issue is still relevant and should be reopened.

[2016-06-02 12:03] #749 closed

[2016-06-02 12:05] bajtos commented on #760
IIRC, the `refresh` argument refreshes the cached data stored on the model instance at the source of the relation link. Since REST requests always create a new instance, this argument is irrelevant and we should remove it from remoting metadata.

@voitau would you like to submit that change yourself?

[2016-06-02 12:08] bajtos commented on #810
Hey @clarkorz, I am afraid there has not been a high enough demand for us to implement this feature request. If this is still relevant to you then I suggest taking a look at the core code and seeing if you can implement the feature yourself. If you want to open up a PR and mention me directly in a comment, I will try my best to help you get the PR landed!

[2016-06-02 12:08] #810 closed

[2016-06-02 12:09] bajtos commented on #805
I believe this has been already implemented in #794. @raymondfeng feel free to reopen if you think there is more to implement as part of this user story.

[2016-06-02 12:09] #805 closed

[2016-06-02 12:12] bajtos commented on #2398
Hello @zkuang, thank you for reporting the issue. AFAIK, when you call invoke `prototype.updateAttributes` via REST API, we are calling `find` with a filter `{ where: { id: <id> } }` to find the instance you would like to update. I don't see why it would be a security issue, but I may be wrong. Could you please elaborate little bit more on what is your thinking?

[2016-06-02 12:13] bajtos commented on #706
As part of our issue triage process, we are closing items that have been inactive for an extended period of time. Feel free to reopen this issue if you can reproduce it using the latest version.

[2016-06-02 12:13] #706 closed

[2016-06-02 12:18] bajtos commented on #881
While I would love to see this implemented, I think it has lesser priority since I don't see any more linked issues. I am closing this story now, we can always reopen if the problem becomes more pressing.

[2016-06-02 12:18] #881 closed

[2016-06-02 12:22] bajtos commented on #431
We already added try/catch around invocation of remote method (like `User.create`) in https://github.com/strongloop/strong-remoting/pull/119, I believe that should have fixed the original problem of crashing.

I am not totally opposed to this idea, but it may require a bit more of effort. Please open a new issue if you think it's still relevant.

[2016-06-02 12:22] #431 closed

[2016-06-02 12:29] bajtos commented on #916
I am closing this issue, as it clearly was not a priority for quite some time. We can always reopen if this becomes important again in the future.

[2016-06-02 12:29] #916 closed

[2016-06-02 12:29] bajtos commented on #876
@crandmck PTAL, is this still relevant?

[2016-06-02 12:32] bajtos commented on #318
Hello, as part of our triage process, I am closing issues that have been inactive for extended period of time.

While I see the importance of a Backbone.js SDK, I am afraid it's not a priority for us now.

If anybody from the community would like to contribute this SDK, then please leave a comment here so that we can help you to figure out details.

[2016-06-02 12:32] #318 closed

[2016-06-02 12:33] bajtos commented on #1035
When serializing to JSON, invalid dates are converted to `null`.

I think we should fix loopback-datasource-juggler to reject invalid date values.

[2016-06-02 12:40] PaddyMann commented on #651
I'm keen to see a better standard here, but I feel there's a confusing overlap between whether not you can see a route exists (visibility) and whether or not you can use that route:

- We already had ACLs to define whether or not a route can be accessed. It's really weird that a route I've defined as being completely inaccessibly in my ACLs would require a separate configuration to say that I don'

[2016-06-02 12:41] bajtos commented on #958
The Swagger spec v2.0 does not place any restriction on the format of operation ids, see [the spec](https://github.com/OAI/OpenAPI-Specification/blob/d599df756d5f3d9c7af403ca12937c0f4cf3a9ab/versions/2.0.md#fixed-fields-5):

Other codegenerators (e.g swagger-codegen) typically sanitise operation ids before creating a method name, I think swagger-js-codegen should do the same.

I am closing this is

[2016-06-02 12:41] #958 closed

[2016-06-02 12:44] bajtos commented on #957
Hello, I am afraid there has not been a high enough demand for us to implement (and maintain) a connector for RethinkDB. I think the best option is to fork jugglingdb-rethink and rework it to satisfy LoopBack connector API, which can be done by anybody from the community.

[2016-06-02 12:44] #957 closed

[2016-06-02 12:46] bajtos commented on #984
@raymondfeng you are more familiar with ACLs than I am. Could you PTAL?

[2016-06-02 12:46] bajtos commented on #682
Hello, as part of our triage process, I am closing issues that have been inactive for extended period of time. Feel free to reopen if you think this issue is still relevant.

[2016-06-02 12:47] bajtos commented on #1006
Hello, as part of our triage process, I am closing issues that have been inactive for extended period of time. Feel free to reopen if you think this issue is still relevant.

[2016-06-02 12:47] #1006 closed

[2016-06-02 12:49] bajtos commented on #581
I don't think validators should modify the data, they are supposed to check whether a value is valid or not.

To sanitize/normalize data, one can use "before save" operation hook, see [the docs](https://docs.strongloop.com/display/LB/Operation+hooks#Operationhooks-beforesave).

[2016-06-02 12:49] #581 closed

[2016-06-02 12:52] bajtos commented on #1097
@billinghamj hello, I'd like to check with you what's the status, since I don't see any pull request linked to this issue.

Unfortunately the code links in the comments above are no longer valid, since they point to `master` branch, which has changed quite a bit since the time you wrote your comments. We usually press `y` in the GH UI before copying a link, it tells GH to create a permalink using

[2016-06-02 12:53] bajtos commented on #1021
Closing as a duplicate of https://github.com/strongloop/loopback/issues/957

[2016-06-02 12:53] #1021 closed

[2016-06-02 12:56] bajtos commented on #763
Since we were not able to implement `redefine:true` in the last 18 months, I think it will be best to stop waiting and update the docs right now.

/cc @crandmck

[2016-06-02 12:57] bajtos commented on #1130
My guess is that the problem is caused by having two models exposed at the same path `/users`. In which case, I am proposing to improve strong-remoting to detect this situation and print a warning to the user.

[2016-06-02 13:02] bajtos commented on #867
Re-labelling as `doc`, although I am not entirely sure how to best document this.

[2016-06-02 13:05] bajtos commented on #508
Hello, as part of our triage process, I am closing issues that have been inactive for extended period of time. Please let us know if you are still keen to work on the ElasticSearch connector, so that we can reopen this discussion.

[2016-06-02 13:05] #508 closed

[2016-06-02 13:07] bajtos commented on #1183
To address this issue, @Amir-61 has implemented two new methods `replaceById` and `replaceOrCreate` that always replace all model properties. See https://github.com/strongloop/loopback/pull/2316 for the patch exposing them via REST API.

[2016-06-02 13:07] #1183 closed

[2016-06-02 13:13] bajtos commented on #1258
@strongloop/loopback-dev I think this issue needs re-triage to find out whether it's still relevant. Could somebody take a look please?

[2016-06-02 13:16] bajtos commented on #898
I am afraid it's not possible to reliably distinguish between UPDATE and CREATE when running operations like `updateOrCreate` and `replaceOrCreate`, therefore there is now way how to implement a validation that is called only on update/only on create.

[2016-06-02 13:16] #898 closed

[2016-06-02 13:18] bajtos commented on #1030
Hello, as part of our triage process, I am closing issues that have been inactive for extended period of time. It also looks to me that the discussion has diverged quite a lot from the original issue description. Please open new issue(s) if there are still questions/problems to address.

[2016-06-02 13:18] #1030 closed

[2016-06-02 13:19] bajtos commented on #1101
Closing as a duplicate of #2123.

[2016-06-02 13:19] #1101 closed

[2016-06-02 13:26] bajtos commented on #1401
The issue should have been fixed by https://github.com/strongloop/loopback-datasource-juggler/pull/600. Please open a new issue if the problem still persists.

[2016-06-02 14:24] zkuang commented on #2398
I'm not sure if this matters that much. The concern is this gives an unauthorized user the privilege to execute code that's not granted to him since the **find** method is **not** permitted to be executed for that user. At least, he would know some Product ID doesn't exist if he gets back a 404.

[2016-06-02 14:44] richardpringle commented on #1258
@jannyHou, @Amir-61, @loay? You guys probably have the most experience with juggler.

[2016-06-02 15:00] jannyHou commented on #1258
@richardpringle I think it's more like exposing some existed APIs to remote endpoint. I am not quite familiar with exposing an endpoint, does that happen in strong-remoting or loopback core module?

[2016-06-02 15:45] Amastyer commented on #2362
@JoeShi You need to define relation in ModelName.json
for example:
[code]

[2016-06-02 18:31] FreakTheMighty commented on #559
@raymondfeng I agree with @romainquellec I think this issue should be reopened. The solutions appear to be work arounds for design problem.

It seems that because the base user model `DENY`s access to find, there is now way for subclasses to grant access. In my case, adding the following acl fails to allow admin users to list our user subclass.

[code]

[2016-06-02 18:34] raymondfeng commented on #559
@FreakTheMighty We can open a new issue specifically for the ability to override base ACLs from sub-models.

[2016-06-02 19:33] maujee commented on #2292
It looks like this has broken more of the generator now.
Creating a new model, I can no longer add properties.

See below where I've tried to create a new model "Contact" and add a property called "email".

`? Enter the model name: Contact
? Select the data-source to attach undefined to: db (memory)
? Select model's base class PersistedModel
? Expose Contact via the REST API? Yes
? Custom plural f

[2016-06-02 21:09] subchal commented on #2292
Hi Good afternoon Maujee - Glad I didn't download the latest version :) I followed the trick another user posted here to update the package.json in the yeoman-generator

[2016-06-03 01:36] jannyHou commented on #2292
@0candy could you take a look of the new error of model generator:
https://github.com/strongloop/loopback/issues/2292#issuecomment-223397865

I am afraid the CI doesn't catch the error..
Related change: https://github.com/strongloop/generator-loopback/commit/4a70425563df8190c6448b14fa1359ae0f340216#diff-27a1c86133de4310373decfdad200a91R105
Thanks.

[2016-06-03 01:47] tpflueger opened #2399 "AccessToken ACL documentation"
I found it difficult to find documentation on changing the permissions of the AccessToken even though there is a table displaying the defaults.

https://docs.strongloop.com/display/public/LB/Access+token+REST+API

I was wondering if adding the exact method names tied to each of the routes might be helpful for others wanting to also change the defaults.

[2016-06-03 03:29] loay commented on #2213
Hi @sm-g
Did the nested queries fix your issue? Thanks

[2016-06-03 03:55] baabuaravind commented on #2292
I have the same error as like this, please do help to rectify it

Enter an empty property name when done.
? Property name:

[2016-06-03 04:23] jonathanwoahn commented on #1137
@codyolsen +1 - I was struggling with this today, and you just saved me. However, the format one still gives me an error if the email is null. Did this one work for you?

[2016-06-03 04:27] fuzzball1980 opened #2400 "Remote method argument of type Model loses relations"
Hi guys.. I'm lost with something that I have not seen before, I don't know if it is a bug or I'm missing something...

I have a Remote method that take an Issue Object as a parameter, the Issue Model defines a couple of properties and 2 relations, for some reason the issue argument lose the relations when arrive at the remote method. If at the client I add more objects with different names they a

[2016-06-03 06:53] codyolsen commented on #1137
@jonathanwoahn Yeah it's working for me. If you have more troubles you might be able to find more specific help on the [loopback gitter](https://gitter.im/strongloop/loopback).

[2016-06-03 08:24] HarishVara commented on #517
+1

[2016-06-03 12:19] pkgulati commented on #2358
In above example I expect foo = bar when printing context 3 line, however it does not work that way

[2016-06-03 13:33] billinghamj commented on #1097
I don't use Loopback any more I'm afraid, due to many issues like this one.

[2016-06-03 14:02] mitsos1os commented on #1629
I have created a pull request for this:
https://github.com/strongloop/loopback-datasource-juggler/pull/961

[2016-06-03 15:18] loay commented on #2213
I am closing this issue for now. If the problem still persists, please leave a comment and I will re-open the case. Thanks.

[2016-06-03 15:18] #2213 closed

[2016-06-03 18:52] maujee commented on #2292
The same thing happens with relations

[code]

[2016-06-03 19:52] loay commented on #2195
Hi @deviant32
are you still having the same issue? I cannot really reproduce on my end.
Please have a look at these documents:
https://docs.strongloop.com/display/public/LB/Logging+in+users
and
https://docs.strongloop.com/display/public/LB/Registering+users

If you are still having the same problem, please leave a comment here.
Also, please upload your repo or a sample repo where I can reproduce t

[2016-06-03 19:52] #2195 closed

[2016-06-03 19:57] loay commented on #2201
Hi @xixilive
There is a new errorhandler in place so those problems will be fixed soon.
Thanks for pointing out the issue.

[2016-06-03 19:57] #2201 closed

[2016-06-03 20:10] jannyHou commented on #2292
@maujee we are verifying the fix:
https://github.com/strongloop/generator-loopback/commit/cfbdedad07df6b77684403f381981036a4171113

I will update here after the fix published to npm registry.

[2016-06-03 20:12] maujee commented on #2292
@jannyHou Thanks for the update.

[2016-06-03 20:44] jannyHou commented on #2292
The error is fixed and published in generator-loopback@1.2.1
https://github.com/strongloop/generator-loopback/commit/f257078b4f340434b0bcfc201d2758861733a7c7

Please reinstall your generator-loopback to get it work.

[2016-06-03 21:04] cgole commented on #651
+1

[2016-06-03 21:19] raymondfeng commented on #651
@bajtos Maybe `server/model-config.json` is a better place to allow such customizations.

IMO, there are multiple aspects:
1. What methods are defined to be `remoteable`? (With remoting metadata)
2. What remote methods should be exposed to REST? (By default, all remoteable methods are)
3. What remote methods should be exposed to Swagger? (By default. all remote methods from 2)
4. How does ACL play

[2016-06-03 22:28] FreakTheMighty opened #2402 "EventSource connection limit, connection sharing"
With only 6 available connections in Chrome its easy to hit connection limits while using a persistent connection like `EventSource`. I think it would be helpful to support sharing event streams between multiple resources.

[2016-06-03 22:59] richardpringle commented on #2393
@bajtos, when you create new issue can you throw a label on it?

I'll put "feature" on here for now but please feel free to change as necessary.

[2016-06-03 23:06] richardpringle commented on #2352
@raymondfeng are there still plans to land #1221? Maybe someone else should take it over if not.

@bajtos, is this related to coercion clean-up in strong-remoting? Do you have any PRs that fix the issue?

[2016-06-03 23:18] richardpringle commented on #1258
@Amir-61 what does `scope.js` do? Is that for querying with the `{include: {where: scope:...` if so, we just need to check to see if you can use that filter from the api explorer.

[2016-06-04 00:41] richardpringle commented on #2366
Haha @mitsos1os... I can't get over that profile picture!

But I agree, this would be a good feature.

[2016-06-04 00:45] Amir-61 commented on #1258
Hey @jannyHou, Endpoints are exposed [here](https://github.com/strongloop/loopback/blob/master/lib/persisted-model.js)

Hey @richardpringle I have not worked on `scope.js` so I'm not sure if we have support for `{include: {where: scope:...`,  but it has support for `named scopes` and `default scopes`. Lets say you define `top5` named scope:

[code]
Later on you can use your named scope and say:

[

[2016-06-04 01:00] richardpringle commented on #2382
@InfiniSuite, interesting find. The optional parameter on the `count` function is supposed to exclusively be the "where" filter (see [API docs](https://apidocs.strongloop.com/loopback/#persistedmodel-count) for details). Will have to take a deeper dive to see what's causing the issue and if we can return an error if you try to use "filter" as a query parameter.

[2016-06-04 01:09] richardpringle commented on #1258
Interesting. I really think the REST API could use a little more clean-up before adding "scope" endpoints. For now, a user could add them manually. <- @bajtos, what do you think?

@crandmck, looks like @Amir-61 is the best person to team up with on this for documenting. My initial thought is not to include API docs since scope.js is in its own file but I could be wrong.

[2016-06-04 01:12] richardpringle commented on #2380
Hey @fedebalderas, could you provide a sample repo by forking [the loopback-sandbox](https://github.com/strongloop/loopback-sandbox) and providing the steps to reproduce? It would be a huge help!

Thanks in advance :)

[2016-06-04 01:18] richardpringle commented on #2389
Hey @priyavivek1, could provide a sample repo to reproduce the issue with a forked version of [loopback-sandbox](https://github.com/strongloop/loopback-sandbox)? I tried using CURL to hit some of the built-in PersistedModel endpoints and I was getting the expected error message.

[2016-06-04 01:44] richardpringle commented on #2399
[code]
@tpflueger, as you can see, this follows PersistedModel method-name conventions. @crandmck, maybe it would be a good idea just to add a note about following the naming conventions.

[2016-06-04 01:45] richardpringle commented on #2399
Additional methods can be found in the [API docs](https://apidocs.strongloop.com/loopback/#accesstoken).

[2016-06-04 01:48] richardpringle commented on #2400
Hey @fuzzball1980, could you provide a sample repo instead? [LoopBack-sandbox](https://github.com/strongloop/loopback-sandbox)

Fork it, write the steps to reproduce in the readme, and provide the link in a comment here and I will try and figure out what the problem is.

[2016-06-04 01:55] tpflueger commented on #2399
@richardpringle I might have just misunderstood how to set the AccessToken settings on a user. I went about it by adding `__get__accessTokens` to the ACLs of a modified user model.

[2016-06-04 03:59] alFReD-NSH commented on #651
I believe we shouldn't use ACL to do this, as it can be dynamic and it will make it harder to reason about.

[2016-06-04 05:03] edoswaldgo commented on #1321
👍

[2016-06-04 05:32] anant-sharma commented on #1309
@superkhau and @bajtos  I am also facing the same issue.
[code]

@Baskerville42 Please post resolution if you found one.

Thanks

[2016-06-04 07:44] mediastuttgart commented on #2220
@richardpringle of course. I'll try to set up the sandbox at the weekend.

[2016-06-04 12:04] michaelfreund commented on #2220
@richardpringle I'm sorry but the issue was not reported correctly.

**The problem is** IF a **not existing model ID** is given, it SHOULD return `401 AUTHORIZATION_REQUIRED`.

Instead **GET /media/{not_existing_id}/author** will return `404 MODEL_NOT_FOUND` with the the following ACL:

[code]

[2016-06-04 12:44] michaelfreund commented on #2220
@richardpringle here's the sandbox repo https://github.com/michaelfreund/loopback-sandbox-issue-2220. Just open the explorer and try GET /media/{id}/author. Since there is no data, any value for id should work to reproduce the issue.

[2016-06-04 17:56] fuzzball1980 commented on #2400
@richardpringle thank you from taking the time to check this issue

https://github.com/fuzzball1980/loopback-sandbox.git

Like I say in the comment above, the problem happens only with the relations declared on the Model, If I replicate the upload or magazine property with another name (other than the relation name) it pass to the remote method without problem.

JSON Example

`{"name":"Edición May

[2016-06-04 18:50] usbwc opened #2403 "loopback-component-oauth2 can't be installed in lastest Node npm version?"
$ npm i loopback-component-oauth2
npm ERR! Darwin 15.5.0
npm ERR! argv "/usr/local/Cellar/node/6.2.1/bin/node" "/usr/local/bin/npm" "i" "loopback-component-oauth2"
npm ERR! node v6.2.1
npm ERR! npm v3.9.3

npm ERR! No compatible version found: pkginfo@^0.4.0
npm ERR! Valid install targets:
npm ERR! 0.3.1, 0.3.0, 0.2.3, 0.2.2, 0.2.1
npm ERR!
npm ERR!
npm ERR! If you need help, you may report this e

[2016-06-04 19:20] fedebalderas commented on #2380
It works now... We had to add a dollar sign to operators ($and, $gte, $lte).

Thanks anyway 👍

[2016-06-04 19:21] #2380 closed

[2016-06-05 11:07] gjrwebber opened #2404 "Nested object in response after create"
Is this possible?

[code]
I first create a Country:
[code]
Now I want to create a new city and return the country in the response:
[code]

Wanted response:
[code]

Actual response:
[code]

I have tried adding an 'after save' hook to load the country, but it still does not get sent in the response. Is this possible? If not, is there a workaround?

[2016-06-05 14:19] shuhankuang opened #2405 "How can I populate the relation model?"
I didn't use rest api, how can I do than in nodejs?
User
     hasMany (Article)
Article
     belongsTo (User)

Now I have a foreignKey (creatorId) in article, looks like
[code]
How can I populate the data like mongoose,

[code]

[2016-06-05 16:23] rjrahul commented on #2337
@davidcheung, my requirement is to skip a middleware based on path; while execute the same middleware for other paths. If a middleware is an existing middleware like loopback-component-oauth2#authenticate, the only solution I could think of was to wrap the middleware in another middleware and us it to skip the paths.

Based on your suggestion above, I could figure out my option would be to wrap th

[2016-06-06 03:05] gjrwebber commented on #2404
I have managed to get the nested model object using:
[code]

But this feels like a hack. Is this the best way to do what I am after?

[2016-06-06 06:12] seanmangar commented on #559
+1 I'm running into the same issue. There should be a way to override base ACLS from sub-models.

[2016-06-06 15:07] richardpringle commented on #2380
Nice! Glad it worked out.

[2016-06-06 16:07] richardpringle commented on #2400
@fuzzball1980, I was actually not able to reproduce the issue. The output and the input were the same. I'm not exactly sure about the details of your use-case, but to me, it would make more sense to input an issue ID and lookup the issue within the remote-method. You add the `include` filter as well to include the relations.

[code]

But the above does not solve your problem. I do see another issu

[2016-06-06 16:12] richardpringle commented on #2399
@tpflueger wait... you want to see the ACLs set on the user model? I'm a little confused at what you are trying to do...

[2016-06-06 16:34] tpflueger commented on #2399
@richardpringle I was trying to set the ACLs on a user model's access tokens, so that say an admin role would be able to revoke them.

[2016-06-06 17:28] richardpringle commented on #2220
@mediastuttg @michaelfreund (which one should I use? haha), you're right!

What happens is a `findById` call is triggered before the actual remote method is called and the error is returned right away instead of passed along to the `__get__author` function.

@bajtos, do you think it's possible to re-wire strong-remoting such that the error propagates down the middleware chain (in which case ACL wo

[2016-06-06 19:47] Amir-61 commented on #1520
I believe this is related: https://github.com/strongloop/loopback-datasource-juggler/issues/88

[2016-06-06 19:56] richardpringle commented on #2400
side note:
If you do not include an ACL rule on `Media.findById` then I would expect that a user would be able to get the 404 because they could just as easily check `GET /media/{id}` before calling `GET /media/{id}/author`.

However, I added the ACL to deny-all for `findById` and you still run into the same issue. Just thought I would point this out anyway.

[2016-06-06 21:10] gunjpan commented on #2405
@shuhankuang : You can use `include` filter to get all data for related model. Read more about it [here](https://docs.strongloop.com/display/public/LB/Include+filter)
Also, methods added to the model when `HasMany` relation is applied can be useful too. See the [list of methods here](https://docs.strongloop.com/display/public/LB/HasMany+relations#HasManyrelations-Methodsaddedtothemodel).

Closing

[2016-06-06 21:10] #2405 closed

[2016-06-06 21:19] gunjpan commented on #2396
@ccgdesigns : I was able to reproduce the error, raising it as a bug. I believe there was a discussion to expose a list of reserved words, not sure where, but will update you on that.
Meanwhile, would you like to submit a fix, I will be glad to help along the way to get your fix released.

[2016-06-06 21:55] gunjpan commented on #2404
@gjrwebber : Hi, yes, that seems to be a right way. If I understand correctly, what you're trying to do is manipulate res object for `create` method with results of `find` method. I recommend separating the actions here as you won't get a `join` result on your create query.

You can use [`include` filter](https://docs.strongloop.com/display/public/LB/Include+filter) for your find query which will

[2016-06-06 21:55] #2404 closed

[2016-06-06 21:59] gunjpan commented on #2403
Please report this issue in: [loopback-component-oauth2](https://github.com/strongloop/loopback-component-oauth2) repository.

[2016-06-06 21:59] #2403 closed

[2016-06-06 22:09] fuzzball1980 commented on #2400
@richardpringle I'm actually using an issueId  has a parameter and doing a lookup in my project, but implementing that method I found this issue, that I could't resolve yet.

I have a VM running on c9

https://ide.c9.io/fuzzball1980/loopback-acl

If you want to check it request access to the workspace!

About the last reply, are you talking about the same issue?

Thank you very much!

[2016-06-07 00:51] cgole opened #2406 "Update docs for nestRemoting to state that it needs to be done in boot file"
https://docs.strongloop.com/display/public/LB/Nested+queries

in `model.js` we cannot get model’s relations since they are not loaded. Do relation related operations in boot file.

[2016-06-07 01:23] richardpringle commented on #2406
@crandmck, just needs a small note somewhere. You *can* actually do it in the `model.js` but you have to use events to make sure the model is loaded. Would be best to *recommend* that `nestRemoting` be done in a boot script.

[2016-06-07 01:54] richardpringle commented on #2399
@tpflueger, you want to add/remove ACLs from the REST API instead of doing by hand in the JSON?

[2016-06-07 01:58] richardpringle commented on #2400
@fuzzball1980... Thanks, the last comment was not meant for this issue....

[2016-06-07 01:59] richardpringle commented on #2220
side note:
If you do not include an ACL rule on `Media.findById` then I would expect that a user would be able to get the 404 because they could just as easily check `GET /media/{id}` before calling `GET /media/{id}/author`.

However, I added the ACL to deny-all for `findById` and you still run into the same issue. Just thought I would point this out anyway.

[2016-06-07 02:01] richardpringle commented on #2400
@fuzzball1980, did you pass the correct include filter on your lookup?

[2016-06-07 02:56] fuzzball1980 commented on #2400
yes, the problem is with the relations missing in the parameter object not
in the lookup.

Thanks

On Mon, Jun 6, 2016 at 11:01 PM, Richard Pringle <notifications@github.com>
wrote:

[2016-06-07 07:26] diegobent commented on #2391
Yes! Ok!
I have already signed the "Contributor license"

[2016-06-07 10:09] clivend commented on #517
+1 Using MySQL (not sadly)

[2016-06-07 12:26] bajtos commented on #2220
I suspect this may have the same cause as https://github.com/strongloop/loopback/issues/2398 and that's the way how strong-remoting handles prototype methods. It always calls `sharedCtor` (which is implemented via find/findById) before any ACL checks are made. See [restPrototypeHandler](https://github.com/strongloop/strong-remoting/blob/b03dfe8ec53d4ca694a2e438d6b5dadff0824305/lib/rest-adapter.js#

[2016-06-07 12:28] bajtos commented on #2220
@richardpringle it may be better to create a new issue describing the root problem (prototype methods apply ACL checks only after the model instance was found) and close #2220 and #2398 as duplicates.

[2016-06-07 13:24] xandeturf commented on #559
+1
responseText: "{"error":{"name":"Error","status":401,"message":"A…_modules/loopback/common/models/role.js:256:21"}}"

[2016-06-07 13:53] Amir-61 commented on #1979
Connect to https://github.com/strongloop/loopback/pull/2316
Connect to https://github.com/strongloop/strong-remoting/pull/305
Connect to https://github.com/strongloop/strong-remoting/pull/310

[2016-06-07 14:21] richardpringle commented on #2400
Well, I could not reproduce the issue. Could you reproduce it locally or did you just run into it on c9?

[2016-06-07 14:28] richardpringle commented on #2398
Hey @zkuang, I'm closing this issue in favor of strongloop/strong-remoting#311 as the fix must be made in that repository.

Thanks for contributing!

[2016-06-07 14:28] #2398 closed

[2016-06-07 14:30] richardpringle commented on #2220
@mediastuttgart, I am closing this issue in favor of strongloop/strong-remoting#311 as the fix needs to be made in that repository.

Thank you for your contribution, and if I were you I would subscribe to the issue to see when it is solved. Also feel free to leave any comments in there, especially if you come up with a workaround for now (I can also try to help you with that if you have any questi

[2016-06-07 14:30] #2220 closed

[2016-06-07 14:31] fuzzball1980 commented on #2400
Well I use c9 as my development env, not running locally. But the workdpace
I shared with you is a clean loopback sandbox that reproduce the issue.

Hace yo been able to open the workspace? i didnt receive the request.

Thank you!

El Tuesday, June 7, 2016, Richard Pringle <notifications@github.com>
escribió:

[2016-06-07 14:36] michaelfreund commented on #2220
@richardpringle thanks. I will subscribe to strongloop/strong-remoting#311. thanks for your suggestion.

[2016-06-07 14:46] michaelfreund commented on #2398
@bajtos regarding strongloop/loopback#2220 it is an information leak, where model ids can be iterated to check for model existence. this might be necessary information for further attack.

[2016-06-07 15:04] richardpringle commented on #2400
@fuzzball1980, using someone else's VM to reproduce an issue is not valid in our QA process. We need complete control of the environment.

I will leave this as an open issue for now in case anyone else runs into it.

I'm not too concerned as it is not best practice to be passing in full records with relations instead of looking them up (which you are already doing :wink:).

[2016-06-07 15:14] PaddyMann commented on #651
Perhaps... though:

1. Surely the security of whether or not the routes can be called is the most important bit? (so if it's difficult to reason about this because the ACLs can be dynamic, then perhaps that's an issue in itself and is more important to resolve)

2. If the ACLs and the visibility are totally disconnected, then I'm betting that's going even be an even bigger headache for reasoning a

[2016-06-07 15:15] bajtos commented on #2004
Possibly related: https://github.com/strongloop/loopback/issues/2397

[2016-06-07 15:39] jannyHou commented on #2004
i am able to reproduce it with the snippet above:
[code]

[2016-06-07 15:40] toniopelo opened #2408 "Problem while getting HasManyThrough relation with a findOne"
Hi everybody! :)

I have a Group model that have two relations :
   - subGroups : hasManyThrough relation that targets a Group model (itself)
   - tracks : hasManyThrough relation that targets a Track model

I want to get a single group by its id, including its tracks and its subGroups (including the subGroups subGroups and tracks too)

I decided to do a request with a depth of 3. So I applied thi

[2016-06-07 15:40] fuzzball1980 commented on #2400
ok, thanks!

On Tue, Jun 7, 2016 at 12:04 PM, Richard Pringle <notifications@github.com>
wrote:

[2016-06-07 15:58] gunjpan commented on #2358
@pkgulati : https://github.com/strongloop/loopback/issues/2004 is somewhat related?!, IMO

[2016-06-07 17:35] benjaminhaven commented on #2397
Sorry for closing / reopening - wasn't sure if anyone was monitoring this

[2016-06-07 17:36] benjaminhaven commented on #2397
Hey guys,

Just to let you know, it seems like the issue w. the context is not specific to the remote hooks but actually related to trying to get the context from within a promise chain.  The reason we saw it in the hooks was because those were being invoked by Model.create / Model.find operations that were within a promise chain.  The context outside of the chain is correct, when we go into a pro

[2016-06-07 17:59] cgole opened #2409 "Nested API endpoints enabled using nestRemoting do not show up in loopback explorer"
These endpoints show up in API Designer explorer but not in loopback explorer

[2016-06-07 18:17] cgole commented on #2409
I have 3 models bank, account, transaction
bank hasMany accounts
accounts belongsTo bank
account hasMany transactions
transactions belongsTo account

$ cat server/boot/nested.js
module.exports = function (server, done) {
  var Bank = server.models.bank;
  Bank.nestRemoting('accounts');
 done()
}

Start the app and check loopback explorer. You don't see nested API endpoints like these -
GET /banks/

[2016-06-07 18:55] davidcheung commented on #2409
adding some info to this,
it shows up in `loopback:export-api-def` but not `http://localhost:3000/explorer/swagger.json`

[2016-06-07 19:56] juanrhino opened #2410 "Name cannot contain special characters"
I'm testing the loopback generator using the command slc loopback:model and following the example in http://loopback.io/examples/ and in the step Property Name: when I introduce almost anything the generator throws me the error: Name cannot contain special characters [object Object]firstname. The strange thing is that I'm not introducing anything special, but when I introduce some characters like

[2016-06-07 21:19] gunjpan commented on #2410
Can you post the output of `slc -v` here for me?

[2016-06-07 21:22] gunjpan commented on #2384
@tamilvendhank closing this due to inactivity. Should you need any assistance with this issue, please reopen it and mention my name in the comments; will be happy to help.
Thank you :)

[2016-06-07 21:22] #2384 closed

[2016-06-07 21:23] gunjpan commented on #2362
@JoeShi : does @Amastyer's solution above work for you?

[2016-06-07 21:27] perfo4911 commented on #1482
I have done all that  but mine  still not working .I mean it really seems like the solution to this problem but don't know why mine won't work .I am sending data from front -end with angular ng-file-upload module like this

**```
Upload.upload(
    url:urlto -my -remoteMethod,
   data:{file:$scope.file,OtherInfo:$scope.otherInfo}
)
[code]

[2016-06-07 23:28] juanrhino commented on #2410
It shows me this:

strongloop v6.0.1 (node v0.12.7)
├── strong-arc@1.8.8 (fb756f2)
├── strong-build@2.1.2 (a98f310)
├── strong-deploy@3.1.4 (9b29df0)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.2
├── strong-registry@1.1.6 (f8c2339)
├── strong-start@1.3.4 (28c261d)
├─┬ strong-supervisor@3.3.3
│ └── strong-agent@2.0.4 (de9885e)
├── generator-loopback@1.21.0 (3c246d7)
├── node-inspector@

[2016-06-08 02:33] btdevn commented on #517
+1 using mongo connector

The ability to query and filter/exclude data based on relations like belongsTo and hasMany is really very important. Please try to prioritize this!

[2016-06-08 03:03] tpflueger commented on #2399
@richardpringle I was trying to do it by hand with JSON, but I had trouble trying to find the functions that allowed access for the user to get or revoke access tokens.

[2016-06-08 07:51] loay commented on #2338
connect to: https://github.com/strongloop/loopback/pull/2411

[2016-06-08 09:20] #2408 closed

[2016-06-08 09:23] toniopelo commented on #2408
Problem solved : https://github.com/strongloop/loopback-datasource-juggler/issues/261
May be it should be documented in strongloop documentation ?

[2016-06-08 09:46] Overdrivr commented on #2211
@mneil @superkhau `git@github.com:mneil/loopback-sandbox.git` ?

[2016-06-08 10:56] btdevn opened #2412 "hasManyThrough inclusion not working"
I am using mongo-connector  to set up my models like

[code]

[code]

[code]

The collections contain valid data, however when I query like

[code]

`interested` always comes out as a blank array.

[2016-06-08 12:54] KaanErkol commented on #517
+1

[2016-06-08 14:19] bajtos commented on #2393
Ah of course, sorry!

[2016-06-08 14:21] bajtos commented on #2352
@richardpringle I think it may be related to coercion clean-up, thank you for pointing it out!

[2016-06-08 14:24] bajtos commented on #1258
I am fine with that, especially since no LoopBack user was requesting this feature yet AFAIK.

[2016-06-08 14:26] bajtos commented on #1309
@anant-sharma please open a new issue and provide more information: how exactly did you install `slc`/`strongloop`? What is your operating system, what version of Node are you using?

[2016-06-08 14:41] 0candy commented on #2378
Why are you querying the mixin in the model? What are you trying to do?

[2016-06-08 14:45] jannyHou commented on #2265
@codeyad i am trying to fix this bug and find out the working version.
Do you by any chance remember the last time when it worked? Thanks.

[2016-06-08 14:51] gunjpan commented on #2410
@juanrhino : closing this as a duplicate of: https://github.com/strongloop/generator-loopback/issues/193
That's the correct repo to track the progress.

[2016-06-08 14:51] #2410 closed

[2016-06-08 14:57] richardpringle commented on #2399
@tpflueger can you fork a [loopback-sandbox](https://github.com/strongloop/loopback-sandbox), show me how you have extended the user model and what your desired outcome is?

We can definitely accomplish what you're going for here, would be easier to show you on the same codebase though.

[2016-06-08 15:13] Overdrivr opened #2413 "behavior or bug for where filter ?"
# Context
`MyObject` extends `PersistedModel`
2+ instances in the database
Querying on this model with the node API `MyObject.find()` method using two properties

# Problem ?
if one of the properties has value `undefined`, the where filter matches the first object with the other property that matches.

Long story short, does a where filter matches the closest or is it supposed to do a fullmatch on

[2016-06-08 15:47] jannyHou commented on #2292
I am closing issue here since generator looks good now :)

[2016-06-08 15:47] #2292 closed

[2016-06-08 19:13] BoLaMN commented on #2413
duplicate of #1009

[2016-06-08 19:23] 0candy commented on #2412
Could you please fork the loopback-sandbox with your project so that I can see the rest of your config? Thanks!
https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-06-08 20:05] gunjpan commented on #2413
@Overdrivr : I believe that's a normal as in `where` filter, if you provide `key: undefined`, properties with `undefined` are discarded to create the query and that's why it will behave as following `where` filter:
[code]
@bajtos : Thoughts on whether this should be documented.

[2016-06-08 20:25] Overdrivr commented on #2413
Makes sense, but I realize now I have given an incomplete view of the problem.

I had this issue while putting a wrong key inside the where filter. The model has properties `provider` and `provider_id`, and I put `provider` and `id` instead.

After realizing what was going on, I thought that maybe the node API should throw an error or return 0 instances.

[2016-06-08 20:35] mikesteele commented on #517
+1

[2016-06-09 00:59] gxvigo commented on #651
+1

[2016-06-09 01:45] subchal opened #2414 "The where clause is not an object"
Hi Good evening

I have a model called "Favorites" and the findOne method is exposed through StrongLoop Explorer
{
  "id": "string",
  "customerId": "string",
  "volunteereventsId": "string"
}

When I invoke

http://sairamvolunteer.mybluemix.net/api/Favorites/findOne?filter=%7B%22where%22%3A%5B%22customerId%22%2C%22c8f5ecf6d7d5fde3a580c5029d79d505%22%5D%7D&access_token=JdwAlaPuNr8FondEc0HJ2AFF0Xib

[2016-06-09 03:14] Amastyer commented on #2362
@gunjpan Yes

[2016-06-09 10:00] zamb3zi commented on #517
+1 (mssql)

[2016-06-09 11:03] moklick commented on #737
I am also looking for a way to observe when a new relation is created. Can't find anything in the docs.

[2016-06-09 13:58] bajtos commented on #1907
Alternatively, we can use Swagger's `{ type: 'string', format: 'byte' }` approach (base64 encoded characters).

[2016-06-09 14:10] gunjpan commented on #2362
@Amastyer : Great, closing this now.

[2016-06-09 14:10] #2362 closed

[2016-06-09 14:14] gunjpan commented on #2413
@Overdrivr :

I am pretty sure that node API returns an empty array in case of no matching instance found.
Please let me know if you've any further questions or is it good to close?

[2016-06-09 14:16] Overdrivr commented on #2413
Let's close for now, I'll make a test repo and reopen if I find something
odd.
Le 9 juin 2016 4:14 PM, "Gunjan Pandya" <notifications@github.com> a écrit :

[2016-06-09 14:27] gunjpan commented on #2414
@subchal : Your `where` filter syntax is wrong, it should be of following format:
`filter={"where":{"customerID:"your_id_value"}}`

The API explorer accepts only a `stringified JSON` input in filter ([see here](https://docs.strongloop.com/display/public/LB/API+Explorer))
Above should resolve your issue. For future reference, please post your questions to our dedicated Questions' channels _([links]

[2016-06-09 14:27] #2414 closed

[2016-06-09 14:28] gunjpan commented on #2413
@Overdrivr : Great! thank you :)

[2016-06-09 14:28] #2413 closed

[2016-06-09 15:13] Amir-61 opened #2415 "Document list of new endpoints"
Document list of new endpoints [here](https://docs.strongloop.com/display/public/LB/Exposing+models+over+REST) based on [PR#2316](https://github.com/strongloop/loopback/pull/2316)

[2016-06-09 16:23] gunjpan commented on #2388
@PJEstrada : Please take a look at the example [here](https://github.com/strongloop/loopback-example-user-management#how-do-you-log-out-a-user) on how to logout a user. _(Also, [PTAL at related docs](https://docs.strongloop.com/display/APIC/Logging+in+users#Logginginusers-Loggingout))_

Hope this solves your issue. Closing this for now, feel free to reopen it and mention me, in case if you're stil

[2016-06-09 16:23] #2388 closed

[2016-06-09 16:44] bajtos commented on #382
Based on the discussion above, I am proposing the following changes as the immediate fix of the issue:

1) Only allow resetPassword by email if email verification is required and done.

2) Save the password-reset token the same way as the verification token i.e. with the user. That way you would know with which token you can change the password without knowing your old one. It would also mean that

[2016-06-09 18:25] Amir-61 opened #2417 "Change default Model.settings.updateOnLoad"
#### Model.settings.updateOnLoad

Change default of Model.settings.updateOnLoad to true
https://github.com/strongloop/loopback-datasource-juggler/blob/5dca27278a37b1e2e0fa572c3ae20681cd500680/lib/dao.js#L2551-L2557
- [ ] Change Model.settings.updateOnLoad default to true
- [ ] CI test passes (remove test case / confirm new implementation or replacement has tests)
- [ ] Update `3.0-RELEASE-NOTES.md

[2016-06-09 18:26] Amir-61 opened #2418 "Change default validateUpsert to `true`"
#### Model.settings.validateUpsert

Change default of Model.settings.validateUpsert to true. Fix the related comment in lib/dao.js - we cannot remove this option entirely, because it validation does not play well with advanced MongoDB operators.
https://github.com/strongloop/loopback-datasource-juggler/blob/5dca27278a37b1e2e0fa572c3ae20681cd500680/lib/dao.js#L514-L518
- [ ] Change default of Model

[2016-06-09 21:01] gunjpan commented on #2037
This task also needs updating templates,in `loopback-workspace`, used for scaffolding loopback application

[2016-06-09 21:33] gunjpan commented on #2037
@bajtos: Should there be a separate issue for it? or want to cover under this _(in that case, the PR to loopback needs to be merged first)_ , thoughts?

[2016-06-10 03:13] fuzzball1980 commented on #2400
@richardpringle

I have more details...

If in the remote method definition I put the arg type as a Custom Model for example Issue the relations are lost, but If I declare the arg type as a plain object the relations are conserved.

[code]

[2016-06-10 07:40] mitsos1os opened #2420 "Role.getRoles inconsistent entities return"
I believe Role.getRoles functionality isn't working as expected. When issued for a user, it will return the names of dynamically resolved roles such as $authenticated, $everyone, etc.. and then for normal roles, the role id. **So you get an array of names and Ids together**. I do not see any reason for this and I find it incorrect.
- You can see that for resolved roles it adds the name [here](http

[2016-06-10 08:56] ahmed-abdulmoniem commented on #1033
Any news on that guys?

[2016-06-10 09:45] vinhphucit opened #2421 "get all remote methods for managing permission"
Hi all,

I'm developing user, role, acl management in Loopback. I deny all requests in default and in the web ui, I will list all models and properties, remote methods in system. I spend all day but no result.
Anyone can help me list all remote methods and models in Loopback.

[2016-06-10 11:27] sthegde2003 commented on #1279
chadjoseph : Will this work with strongloop pm? I am having issues deploying this with multi process environment. any suggestions?

[2016-06-10 12:40] bajtos commented on #2037
@gunjpan good point, I just wanted to point loopback-workspace out :) Please implement the change as part of this user story.

[2016-06-10 15:09] 0candy opened #2422 "Add globalization to loopback repos [placeholder]"
Add globalization to loopback modules using [strong-globalize](https://www.npmjs.com/package/strong-globalize)

- [x] loopback   https://github.com/strongloop/loopback/pull/2407
- [x] generator-loopback  https://github.com/strongloop/generator-loopback/pull/202
- [x] loopback-datasource-juggler (Amir) https://github.com/strongloop/loopback-datasource-juggler/pull/1022
- [x] loopback-component-pass

[2016-06-10 18:02] gunjpan commented on #2421
@vinhphucit : It's unclear to me what you're trying to do here. could you please elaborate more and provide me some code sample to better assist you. Thanks.

[2016-06-10 18:50] jannyHou commented on #2344
@ssh24 In this feature, I add a prompt in generator-loopback to choose the version of installed loopback. The choice will be passed to loopback-workspace to create the app with specific `loopback` version.

**Verify steps:**

1. Upgrade to the latest strongloop in staging registry. Make sure `generator-loopback` and `loobpack-workspace` included the latest commit.
2. Run slc loopback to create an

[2016-06-10 19:51] ssh24 commented on #2344
`Verified`

1. Change registry to: `npm config set registry http://ci.strongloop.com:4873/`
2. Install the latest commit: `npm install -g strongloop`
3. Create a loopback app: `slc loopback --name APP_NAME`
4. The loopback version prompt should look like:
<img width="572" alt="100616 node - nvm-versions-node-v4 4 3-bin-slc loopback --name loopback-issues-2344 80x24 terminal today at 3 17 08 pm" sr

[2016-06-10 20:01] erikburt opened #2423 "Setting custom authorization header token for $updateAttributes call"
I have a model called Individual that extends the User model. I'm getting a 401 Unauthorized response when trying to call the following
`...
User.prototype$updateAttributes({id: uid},{password:password}).$promise;
...`

I think I've pinpointed the issue but I cannot seem to fix it. I'm trying to set the HTTP authorization header with the access token received in an email (as a query parameter). Us

[2016-06-10 21:48] richardpringle commented on #2400
Okay cool!

Argument type shouldn't be a model class anyway. Safe to close this issue?

[2016-06-10 22:06] fuzzball1980 commented on #2400
Why not? It is nice to have the argument object  definition in the
strongloop explorer automatically :-)

Thanks!

El Friday, June 10, 2016, Richard Pringle <notifications@github.com>
escribió:

[2016-06-10 23:12] JonForest opened #2424 "Confirming a user does not remove their verificationToken on postgres"
Calling User.confirm does not remove the verificationToken

The line here https://github.com/strongloop/loopback/blob/master/common/models/user.js#L488
`user.verificationToken = undefined;`
Results in the verificationToken field not being part of the postgres UPDATE query.

Simply modifying to
`user.verificationToken = null;`
fixes it

Will try to raise a PR this weekend.

[2016-06-11 00:04] ahmed-abdulmoniem commented on #517
+1

[2016-06-11 02:27] codeyad commented on #2265
@jannyHou last project i have working with Component Storage has loopback version 2.14.0

[2016-06-11 07:37] vinhphucit commented on #2421
Glad to see your feedback.

I'm developing admin site for my customer and that site has permission management feature. That mean users with admin role can grant permission for user.
In ACL table, loopback has model, property fields. I need to load all models and properties (find, findbyid...) to web ui, and users with admin role will choose models and properties and grant to specific user.
So  all

[2016-06-11 14:03] chadjoseph commented on #1279
@sthegde2003 I'm not sure about the process manager. I actually developed this approach even further but ultimately abandoned StrongLoop after continuous frustrations.

[2016-06-11 14:23] alFReD-NSH commented on #1279
@chadjoseph Do you mind sharing what framework did you use after dropping stronloop?

[2016-06-11 16:12] felipetoffolo1 commented on #917
+1

[2016-06-11 20:50] arma-gast commented on #2270
What do you think about giving most general rules from child ACLs higher weight than most specific rules from parent? It will allow developer to deny access to all inherited methods with one rule and allow access with more specific ones. On the other hand, if developer applies deny all to all rule in the child model, he will need to copy rules from parent model. It is not DRY. But, at last, with g

[2016-06-12 00:01] rwngallego commented on #878
If this is currently an intermittent issue why don't we change the documentation to warn this is currently not working. I have to spend some hours before I noticed it was a problem in the framework not in my own code. Also as it's intermittent it could led people to release their software with a piece of code that will be affecting badly their production software. This is unacceptable.

We should

[2016-06-12 08:00] Emiya0306 commented on #2125
@richardpringle @peek4y I think it is a good feature that can select special fields to do validation. Make it more flexible and more powerful! 👍

[2016-06-12 13:08] vaibhavmagon commented on #1078
I am also facing the same issue. It does not work.

[2016-06-12 21:45] aggied commented on #1033
Bump. Taking a cursory look at Loopback for potential use in an upcoming project, but the lack of a dynamoDB connector is causing me to take a pause.

[2016-06-12 23:55] alexpls commented on #2211
:+1: found this issue while using MySQL as well.

[2016-06-13 00:01] jbcpollak commented on #1729
this would be useful for unit testing as well. some tests want the app running, some tests don't. Some tests modify the app, some don't. Being able to stop it would let us clear state.

[2016-06-13 03:05] rpalacio86 commented on #1138
+1

[2016-06-13 06:04] zkuang commented on #2398
Thanks @michaelfreund . I'll follow up.

[2016-06-13 09:44] upupzealot opened #2427 "Help with view count."
Now I have a model named "Topic", and what I want to do is to figure out how many times each topic was viewed.

If I add a logic like
`topic.updateAttribute('view_count', topic.view_count + 1)`
to a `breforeRemote('findById')` function, it will solve the problem.

But, what if I need a page to **edit** a topic. For that, I have to find the specific topic by id, and present it to user before they c

[2016-06-13 12:39] cfjedimaster commented on #2270
I'm honestly having a hard time wrapping my head around it - can you create a demo? I don't mean a working demo, just the JSON files.

[2016-06-13 13:03] arma-gast commented on #2270
Say, I define a model Person, which inherits User:

[code]

I get the following log when try POST /people/login:

[code]

Correct me if I am wrong.

We see 3 rules: one from ACL of model Person (general denial) and two inherited from User (general denial and allowing method /login).
  The allowing rule has higher weight, because it is more specific. Even it is inherited.
  I think, rules from mode

[2016-06-13 13:09] #1979 closed

[2016-06-13 14:18] mamartins opened #2428 "Include related models saves unwanted data to mongo"
So, I have a product model which belongs to a Vat model. I added on the json the option to fetch always the vat with the product model

[code]

If I simply perform a save() after getting one product that has the vat embedded on it, it saves to the database the vat object in the product along with vatId.

[code]

This console logs, log a correct object only with the vatId in it, but that is not wha

[2016-06-13 14:56] jannyHou commented on #2265
@codeyad Thanks! We implement some new features related to connector so it's not possible to regress. I have a pr to fix it: https://github.com/strongloop/generator-loopback/pull/199
Will update here after it's published.

[2016-06-13 19:00] garygentry opened #2429 "Capitalized Relation name causes dupes/fails on mssql"
I have related models (example at bottom) setup where the relation name is the same as name of the related model, both capitalized first letter.  When I do a simple api call it's returning 2 fields for each foreign key, one with a capital first letter and another with a lower first letter.

/api/Foo/1 returns:
{
 Id: 1,
 Name: "Foo1",
 barId: 2,
 BarId: 2
}

The biggest issue with this is when usi

[2016-06-13 22:54] garygentry commented on #2429
Looking at this a little closer..

In loopback-connector-mssql/mssql.js, the 'buildSelect' prototype method constructs a sql statement that includes the duplicated columns (BarId/barId) returned by loopback for the model.  Then, if the filter has a limit, as with findById, it wraps the statement in a subquery like this:

`SELECT * FROM (SELECT [Id],[BarId],[barId],ROW_NUMBER() OVER ( ORDER BY [Id]

[2016-06-13 23:47] Emiya0306 commented on #2150
Sorry for long time no reply. When I use Promise.all(), new Promise cannot get relation model as well, it just the data. app.users.add() cannot get.

[2016-06-14 02:21] richardpringle commented on #2325
Done in strongloop/loopback-sandbox@29e8715c60d6b7bc44a0177ee16b51dae3eac742

[2016-06-14 02:21] #2325 closed

[2016-06-14 02:27] hackerunet opened #2430 "Typo in strongloop documentation type of the Principal: "Use""
dear support I think I found a typo in API documentation regarding Type of principal, instead of User its shown "Use"
If is not a typo please explain why the principal type is Use instead of User;
regards
this is the section: http://apidocs.strongloop.com/loopback/#acl
Quote:
principalType 	String
[code]

[2016-06-14 05:55] #2338 closed

[2016-06-14 06:14] superkhau commented on #803
@crandmck ^

[2016-06-14 10:02] murbanowicz opened #2431 "Provide VUE.JS support"
Hi,

I know that Angular was the biggest one and it still is,
but VueJS is trening really quickly and would be really worth to provide VueJS SDK.

[2016-06-14 12:17] mamartins opened #2432 "UpdateAttributes do not validate fields"
If I perform a updateAttributes with fields that are not on the model definition they are saved to mongo anyway.

Product model (copied only the important part)

[code]

[code]

[2016-06-14 14:08] Emiya0306 opened #2433 "Does PersistedModel fully support the Promise?"
Is PersistedModel really supported the Promise? And Promise.all cannot get relation method about the model too. Here is [the old issue](https://github.com/strongloop/loopback/issues/2150#issuecomment-199097351) I found. Thanks.

[code]

[2016-06-14 14:15] timbophillips commented on #1692
++1

[2016-06-14 14:18] Emiya0306 commented on #2433
I got it, because I role.create(Array data), and return Array data not Promise.

But in API doc it says `PersistedModel.create({Object}|[{Object}], callback)`, so it should be support the promise right?

[2016-06-14 15:17] RudthMael opened #2434 "Ids colliding between multiple models inherited from User"
EDIT: June 15th 10:02 GMT+2

Hi,

I have a model `Order` for which I want the owners, service account or admin to access.

[code]

And the models `ServiceAccount` and `Customer` both inherit form `User`.

I created 2 records : customerA, customerB and serviceA.
customerB's id == sericeA's id.

I created a record order which customerA owns.
customerA is the owner and can access the order.
serviceA

[2016-06-14 15:31] cfjedimaster commented on #2270
So given that, yes, I would have expected the ACL in Person to block everything.

[2016-06-14 17:16] Sequoia commented on #664
@hacksparrow it doesn't look like that docs page was ever actually published (or if it was it became un-published). Are there any objections to publishing it now? /cc @cfjedimaster

[2016-06-14 19:06] jesperbruunhansen commented on #1427
Any news on this feature? Or does anybody have ideas how to handle this in a custom build? Our dev-team has been trying off a few ways of doing this, but having native support out the box would be amazing!

[2016-06-14 20:29] davidcheung commented on #2337
@rjrahul wondering if youre solution worked,
 the middlewares get executed in orders (by each of them calling `next()`)
so if you don't call `next()` and send out `res`, you should be able to bypass the default `restAdapter`

[2016-06-14 20:33] davidcheung commented on #2430
related code : https://github.com/strongloop/loopback/blob/42c83f69a090664bb025d89f8dd5f5a7a3ffa34e/common/models/acl.js#L75

[2016-06-14 20:41] davidcheung commented on #2431
Hi @mariaczi,
Thanks for bringing this up, but we are trying to move to a more generic approach for **sdk**s, see [conversation](https://github.com/strongloop/loopback-sdk-angular/issues/188#issuecomment-203512778) for some insights to the reasons behind.

[2016-06-14 20:47] davidcheung commented on #2427
Hi @upupzealot, you could perhaps use a remoteMethod to call the edit, then add metadata to filter it, or vice versa. perhaps you can start a discussion on our [Google groups or stackoverflow](https://github.com/strongloop/loopback/wiki/Questions) to seek a more elegant solutions, closing this issue now as we only accept feature requests / bug reports on Github issues, please feel free to reopen t

[2016-06-14 20:47] #2427 closed

[2016-06-14 21:08] arbrebinaire commented on #2050
@gaurav21r  "I believe connectors are at the heart of what brings loopback value."

The guy is so right.  He wrote that last Valentine's day.

Been working on a connector for JSONP resources (there is a lot of that around)  Quite an undertaking, since[ loopback-connector](https://github.com/strongloop/loopback-connector) (the "base" class) does not agree with the current docs, which is unprecise a

[2016-06-14 21:18] davidcheung commented on #2424
Thanks, this might be issue with generic connector too
https://github.com/strongloop/loopback-datasource-juggler/blob/058d9d46c09f249dd7aa14a09e3097aae8a7a21b/lib/dao.js#L546

https://github.com/strongloop/loopback-connector-postgresql/blob/0facead0dbb46c9e72c95800d3e656523ee3576b/test/postgresql.filterUndefined.test.js

[2016-06-14 21:47] davidcheung commented on #1643
Cleaning up stale issues, please [reopen](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report) if this issue still persist, thanks!

[2016-06-14 21:47] #1643 closed

[2016-06-14 21:47] davidcheung commented on #1649
Cleaning up stale issues, please [reopen](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report) if this issue still persist, thanks!

[2016-06-14 21:47] #1649 closed

[2016-06-14 21:48] davidcheung commented on #1871
Cleaning up stale issues, please [reopen](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report) if this issue still persist, thanks!

[2016-06-14 21:48] #1871 closed

[2016-06-15 00:35] SamuelBonilla commented on #569
The solution for get current authenticated user:

var loopback = require('loopback');
module.exports = function(Model) {
    Model.observe('before save', function(ctx, next) {
        if (ctx.instance) {
            var ctxs = loopback.getCurrentContext();
            ctx.instance.date = new Date();
            ctx.instance.id_user = ctxs.active.accessToken["userId"];
            console.log('curr

[2016-06-15 00:38] superkhau commented on #2355
I'm not sure if it's related to #1874. Looks like a valid bug that you can reproduce though. Escalated.

[2016-06-15 02:48] xandeturf commented on #559
I realized that this error is generated, because have old rules registered . I created this code to solve the problem.

[code]

[2016-06-15 09:05] dkarlovi commented on #1669
Any way forward on this? Can I work around this from config somehow, via ACL?

[2016-06-15 09:56] seanmangar commented on #1669
@dkarlovi You can use a mixin to clear the base ACL. The code looks something like this. I got it somewhere around the issues on github but can't remember where.

`'use strict';

const path = require('path');
const appRoot = require('app-root-path');

function slugify(name) {
  name = name.replace(/^[A-Z]+/, s => s.toLowerCase());
  return name.replace(/[A-Z]/g, s => '-' + s.toLowerCase());
}

mod

[2016-06-15 10:50] seanmangar commented on #1905
+1

[2016-06-15 10:52] seanmangar commented on #257
Can this issue be reopened? I wouldn't mind giving it a shot.

[2016-06-15 12:37] dkarlovi commented on #1669
@seanmangar thanks, will try it out.

But, shouldn't Loopback merge ACL rules by default and allow for overriding them from local model? If it's not done because of security (overriding ACL might lead to unsecured apps), I guess it could emit a warning when in development environment to ensure the dev is not overriding accidentally.

[2016-06-15 14:33] 0candy commented on #2386
Hi @savsharma2, can you please clarify your question? I see that you have an answer already in stackoverflow and that the issue can be closed?  Thanks!

[2016-06-15 14:34] Amir-61 commented on #2432
That seems a bug to me. Just to make the triage process faster would you mind providing a repo using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) to reproduce the issue?

[2016-06-15 14:39] 0candy commented on #2434
Would you mind forking the loopback-sandbox with your project so that I can reproduce the problem with the same configs you have? Thanks!

https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-06-15 14:43] 0candy commented on #2359
Is this the same issue as https://github.com/strongloop/loopback/issues/2355?

I am closing this as a dup of that one for now, if you disagree, please reopen with more details. Thanks!

[2016-06-15 14:43] #2359 closed

[2016-06-15 14:57] Amir-61 commented on #2423
Hey @erikburt,

Could you please provide a sample repo to repo to reproduce the issue?

Thanks

[2016-06-15 15:20] loay commented on #2429
Hi @garygentry
Is you app available on github so I can reproduce the issue? Thanks.

[2016-06-15 15:24] loay commented on #2381
Hi @samzhao2008
Can you post a sample repo so I can reproduce the issue? Thanks.

[2016-06-15 15:26] loay commented on #2364
Hi @tmikulcek
I am having a look. I will get back to you ASAP.

[2016-06-15 17:36] garygentry commented on #2429
It’s not public and would take some effort to do a generic repro, but I’ve narrowed down the code that generates the invalid Sql Server statements.

In loopback-connector-mssql/mssql.js, buildSelect gets called and is passed in the duplicated columns (upper and lower first letter for the foreign key columns).  Since it’s a findById call, it’s filter.limit is true, and the buildSelect method calls

[2016-06-15 19:06] davidcheung commented on #2420
hi @mitsos1os, it would be really helpful if you could reproduce the issue(where the `role name` and `roleId` ends up in same array) in a [sand-box](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report)

please note that in [principalId](https://github.com/strongloop/loopback/blob/42c83f69a090664bb025d89f8dd5f5a7a3ffa34e/common/models/role-mapping.json#L5) are  `strings`
[code]

[2016-06-15 19:22] davidcheung commented on #2357
possibly related : https://github.com/strongloop/loopback/issues/2355, #1874

[2016-06-15 21:14] superkhau commented on #257
@seanmangar Feel free to submit a PR and link to this issue. We can reopen it at that time.

[2016-06-15 22:20] woraphol-j commented on #531
+1

[2016-06-15 23:37] upupzealot opened #2438 "A bug on the doc page 'Using current context'"
It says

[code]

but actually you have to set `enableHttpContext` to `true` not `false`

link: https://docs.strongloop.com/display/APIC/Using+current+context

[2016-06-16 01:59] seriousben commented on #2438
Actually it is enabled by default. enableHttpContext only let's the req and res be added to it.

[2016-06-16 02:13] superkhau commented on #2438
@crandmck ^

[2016-06-16 03:12] upupzealot commented on #2438
@seriousben I don't think it's enabled by default.
I created a new project and the `enableHttpContext` is set to `false`.
Since the doc says I can enable it by setting it to `false`, that's weird, I think it should be `true` in the doc

[2016-06-16 06:56] mitsos1os commented on #2420
Hello @davidcheung !
I have created the sandbox here: https://github.com/mitsos1os/loopback-sandbox/tree/get-roles-return-mixed
You can see for yourself that in the end of the boot scrip for `server/boot/admin.js` the roles of an admin user are printed, and you will see that dynamic roles (simple names), are mixed with static role ids....
In my first comment you can see the lines responsible for t

[2016-06-16 08:43] upupzealot opened #2441 "Multi owner for one model"
`$owner` is defined by the method
`Role.isOwner = function isOwner(modelClass, modelId, userId, callback)`
It will define if the current user is an "owner" of the model instance through key `owner` or `userId` or `belongsTo` relations

The problem is what if a model has two(or more) owners(through relation)?
The codes [here](https://github.com/strongloop/loopback/blob/1559db2ca3f5cf75606a09a806428

[2016-06-16 08:46] upupzealot commented on #2441
I tried to fix this by change the method like this
[code]

[2016-06-16 09:42] mariaczi commented on #257
It would be really useful !

[2016-06-16 11:37] sasivarnan commented on #517
+1

[2016-06-16 12:59] samzhao2008 commented on #2381
Hi @loay
I think what I posted is clear. Have you tried the polymorphic relation with mysql data source, or you just can not reproduce the issue?

[2016-06-16 15:48] davidcheung commented on #2420
Thanks for reproducing the issue, I do agree the behavior is unexpected, not sure whats the best approach to resolve this, perhaps changing
https://github.com/strongloop/loopback/blob/42c83f69a090664bb025d89f8dd5f5a7a3ffa34e/common/models/role.json#L8

[code]
**right now this forces all ids into numbers**
to something like
[code]

then user would be able to do
[code]

@raymondfeng any thoughts?

[2016-06-16 15:54] jannyHou commented on #2433
@Emiya0306 I think you are trying batch create, please check this comment for details:  https://github.com/strongloop/loopback/issues/2164#issuecomment-215645590

The doc you mention is only valid for callback signature. The doc for promise is not ready yet, and batch operations do need us to take care of in the future.

[2016-06-16 16:36] jannyHou commented on #2428
@mamartins I am trying to reproduce your problem. Just a confirm:
all the relations you have is
`product` belongsTo `vat`
right?

Do you have a hasMany or embedsMany from `vat` to `product`?

[2016-06-16 16:51] superkhau opened #2442 "Spike: GitHub issue templates integration"
_From @superkhau on June 16, 2016 0:20_

We should take advantage of GitHub templates for repetitive community tasks. See https://github.com/blog/2111-issue-and-pull-request-templates

We should spike on this to see which parts we need and how to fit it into our goals. From what I can tell so far, this willl help with the standard community PR questions and triage questions.

_Copied from original

[2016-06-16 16:51] superkhau commented on #2442
_From @bajtos on June 16, 2016 13:44_

You can start looking at what Node.js uses:
 - https://raw.githubusercontent.com/nodejs/node/master/.github/ISSUE_TEMPLATE.md
 - https://raw.githubusercontent.com/nodejs/node/master/.github/PULL_REQUEST_TEMPLATE.md

My main concern is how to update these files across all 20+ loopback repositories we have.

Also please move the discussion to a public issue in

[2016-06-16 16:54] superkhau commented on #2442
A simple script will do it, I already maintain a master list of repos in loopback-triage for such purposes (in fact, I'm thinking about moving the master list into a public repo -- loopback-officially-supported-repos or something that exports a list as an array and that is coupled to any repos that want to use it).

[2016-06-16 17:26] mitsos1os commented on #2420
@davidcheung I am afraid you are not right about the auto generated key...
`idInjection: true` what only does is adding an id property with also the `generated: true` property, as you can see [here](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model-builder.js#L286)

The `generated ` property is used by the connector to be auto completed if selected, as you can see [he

[2016-06-16 18:07] loay commented on #2429
@garygentry Thanks, I will try to see what I can do with the details you provided.

[2016-06-16 18:09] hackerunet commented on #473
Hello, I have found some material about MVC implementations but so far I think the most complete and well explained approach has been posted by https://github.com/BerkeleyTrue , so, I have a question regarding the server.js example material submitted by him. Is that aproach vaid to deliver node server up and running in a production environment?
That approach also validares and apply security sugge

[2016-06-16 18:37] davidcheung commented on #2420
you're right, what i wanted to achieve was backwards compatibility,  so user can define `id`, but when its not defined to give them a auto-generated `id` (number)
but since you pointed out that it assigns the `id` as a number (in model builder), probably a bad idea to do so

but the better solution might to be just make it `required` and `unique`( i think its [already unique](https://github.com/st

[2016-06-16 18:49] r1b opened #2443 "How to access loopback explorer through apache ssl?"
We run loopback behind apache w/ssl. When I try to use the explorer it forces all requests to http:

`http://loopback.example.com:80/api/path/to/endpoint`

How can I configure the explorer to use https? I do not want to run an https server as described [here](https://github.com/strongloop/loopback-example-ssl). I only want ssl between the public internet and apache.

[2016-06-16 18:54] r1b commented on #2443
Looking at the "raw" source of one of our resources, it looks like I want to override the "basePath" in swagger:

[code]

Is this correct? Is this possible?

[2016-06-16 19:40] superkhau commented on #473
There are many ways to skin the cat, but yes that is one approach that is valid (you would do the same as you would with vanilla express routes -- see http://expressjs.com/en/guide/routing.html). The `app` in `server.js` is the same app as you get with `express()` with additional functionality. How you organize your routes (in `server/controllers`, etc) is up to you. However, I do agree we should

[2016-06-16 19:49] mamartins commented on #2428
@jannyHou the Vat has a relation HasMany to Product and Product a BelongsTo to Product

[2016-06-16 20:19] ritch opened #2444 "launch.json (vs code) for modules?"
@bajtos @raymondfeng @superkhau @0candy

What do you all think about adding a `launch.json` file to various projects? I'm not sure what other people are doing, so I figured we could just discuss on here. It would be nice to be able to open up any loopback repo and debug/run the tests from vs code without having to customize the launch.json file.

Maybe there is another way to do this?

[2016-06-16 20:37] gunjpan commented on #2444
I've been using VS Code for a while now for debugging test cases, and I always use `Attach` mode from default `launch.json` to connect vscode to debugger ran using `mocha --debug-brk` or similar commands.
Point: did not ever need to explicitly modify `launch.json`

[2016-06-16 20:51] ritch commented on #2444
Cool. I'll re-open if that doesn't work well enough.

[2016-06-16 20:51] #2444 closed

[2016-06-17 00:19] gdeckert commented on #1939
Still incorrect in 2.29.0.

[2016-06-17 01:38] sid2vicious opened #2445 "Issue:"
Hi,

When I run an nsp scan on my code using loopback 2.29.0, I get the following vulnurablity error. Can this be patched in 2.29.0
[code]

[2016-06-17 05:08] loay commented on #2274
Closing this issue. If you are still experiencing the same problem, please leave a comment and I will re-open the case. Thanks.

[2016-06-17 05:20] loay commented on #1410
Hi @superdave2u
Are you still experiencing the same issue?
Now, you can use the new error handler: https://github.com/strongloop/strong-error-handler
To disable stack and other sensitive info, please set `debug:false`
Thanks.

[2016-06-17 05:20] #1410 closed

[2016-06-17 06:43] sonia1588 commented on #735
Hi,

I have a couple of queries on field filters
1. I tried following query to exclude date property from response as below. Which is not working.
{"include": { "relation": "orders","scope": { "fields": {"date":false}}} }

2.  fields filters doesn't works with embedded relations.However it works with where filter using dot notation. I tried as below
{"fields":{"billingAddress.street":true}}

[2016-06-17 07:49] loay commented on #2445
Hi @sid2vicious
Thanks for reporting the issue. Looking into it.

[2016-06-17 08:10] xvrcorp commented on #1976
I got same issue when a property is defined with a default value, "ctx.data" comes with the properties (with default value),

somebody has a solution?

[2016-06-17 08:21] zealseeker commented on #1976
@xvrcorp Is it same to me that it happens when using a related model's prototype function like `auser.__update__test` mentioned here: https://github.com/jannyHou/loopback-sandbox/pull/1
@jannyHou Please spare time to take a look :smile:

[2016-06-17 10:40] younes200 commented on #1441
Hi,
Any updates on this issue ? the related [#128](https://github.com/strongloop/loopback-connector-mongodb/issues/128#issuecomment-180768180) issue on loopback-connector-mongodb was fixed but the bug still exists and need  @alFReD-NSH workaround.
Thank you.

[2016-06-17 11:01] l2fprod opened #2447 "When using a model type as return type in remote method, it becomes "object" unless set as root"
I have a remote method defined with this return:

[code]

With this, the explorer correctly shows the model of the AccessToken type as model schema for the return:

![image](https://cloud.githubusercontent.com/assets/12746550/16148637/32948bd8-348b-11e6-8c61-a564d048726a.png)

Now if I remove root: true, the explorer shows:

![image](https://cloud.githubusercontent.com/assets/12746550/16148663/57d

[2016-06-17 12:05] bajtos opened #2448 "Define remote relation methods immediately at setup time"
At the moment, LoopBack defers definition of remoting metadata for relation methods until the model is connected to a datasource. This is problematic in cases where we want to gather remoting metadata without connecting to databases, typically in `apic loopback:refresh`.

The proposal is to modify `PersistedModel` to always define remoting metdata for relation methods immediately at `setup` time,

[2016-06-17 12:14] crandmck commented on #1939
@jannyHou This is still not fixed.
Somehow your fix in #1953 got clobbered, because it's no longer in `master`.  Perhaps you could try again?

[2016-06-17 12:19] shalkam commented on #2378
I've been able to take care of my problem without having to use the mixin for pagaination.
I am just saying that there will be cases where remote methods should be nested too just like the case with the relations of the related model.

[2016-06-17 13:53] loay commented on #2445
Fixed and updated. Closing.

[2016-06-17 13:53] #2445 closed

[2016-06-17 15:23] #414 closed

[2016-06-17 15:31] bajtos opened #2449 "Validate that relations are only defined on PersistedModels"
Only models implementing relation-compatible methods can be used as candidates for relations. In case of REST/Swagger/SOAP, operations are often not for CRUD. As a result, these models should not be used for relations.

[2016-06-17 16:02] loay commented on #2217
Hi @baldiri
This issue should be fixed now. Please give it a try.
In case it doesn't work, , please create a private gist and share it with me. It is best to keep the discussion going somewhere.

[2016-06-17 16:31] coder1412 opened #2450 "storageService.getFiles limit the number of result ?"
First of all, I would like to say thanks to all the contributors of this project. You guys did a great job, i love loopback. Please continue improving it and please do not stop this project ^^

Im using the storageService.getFiles to return the files of current user but it returns as many files as i they have. Can i limit the number of result ?

[2016-06-17 16:31] coder1412 opened #2451 "storageService.getFiles limit the number of result ?"
First of all, I would like to say thanks to all the contributors of this project. You guys did a great job, i love loopback. Please continue improving it and please do not stop this project!

Im using the storageService.getFiles to return the files of current user but it returns as many files as i they have. Can i limit the number of result ?

[2016-06-17 16:32] #2450 closed

[2016-06-17 16:48] loay commented on #2217
Please feel free to leave a comment if the issue persists and I will re-open the issue.

[2016-06-17 16:48] #2217 closed

[2016-06-17 18:50] ritch commented on #2444
@gunjpan this works really well by the way thanks!!!

[2016-06-17 19:03] 0candy commented on #2441
We don't currently support following relations for multiple owners as you pointed out above. Would you like to submit a PR to add this feature?  Thanks!

[2016-06-17 19:17] rblalock commented on #618
This is a very common use case that could be made elegant in LB.  I like the approach @mrfelton took in his mixin: https://github.com/fullcube/loopback-ds-computed-mixin

What would be really great is if it doesn't have to specified in the mixin object but in the properties of the model themselves.  Here's a concept:

[code]

[2016-06-17 19:36] jannyHou commented on #1939
@crandmck sure let me try again.

[2016-06-17 20:45] jonathan-chin opened #2452 "Verify URL incorrect with "/" restApiRoot"
I've set my restApiRoot to "/", expecting everything to go through http://api.example.com (instead of http://www.example.com/api)

everything seems to work right except that the url generated for verification emails includes a double slash:

http://api.example.com//users/verify etc etc

It's obviously expecting not to be run at the root level. I also tried passing in an empty string "" in the opti

[2016-06-17 21:07] davidcheung commented on #2443
@r1b hope this helps, I believe you'll need to set  [component-explorer](https://github.com/strongloop/loopback-component-explorer#options) docs from `component-config.json` or `component-config.production.json`
[code]

i believe your swagger result should be something like, see [swagger specs](http://swagger.io/specification/)
[code]

-----
and please note that we only accept Feature requests / B

[2016-06-17 21:07] #2443 closed

[2016-06-18 05:45] Emiya0306 commented on #2433
@jannyHou Thanks very much. I get it and avoid to use batch create model.

[2016-06-18 05:45] #2433 closed

[2016-06-18 05:45] Emiya0306 commented on #2150
Look this [issue](https://github.com/strongloop/loopback/issues/2164#issuecomment-215645590).

[2016-06-18 05:45] #2150 closed

[2016-06-18 06:03] Emiya0306 opened #2453 "How can I define model relation in common Mixins?"
I need to define relation between models which use Mixins, but when I console.log(app.models.role), I cannot get the Model. It is a good work flow that Mixins is happened under the ModelBuilder, but I guess that Mixins is defined before the ModelBuilder.

So how can I get the ModelBuilder in mixins?

[code]

[2016-06-18 10:01] Emiya0306 commented on #2453
I found the resolution about this. Use Model 'attached' Event to do this.

[code]

[2016-06-18 10:01] #2453 closed

[2016-06-19 07:14] hq-mobile commented on #1217
Just started seeing this yesterday and it is causing us massive issues on live (having to go in and manually alter the data for users).  Will have a look at solutions provided but just wanted to add my +1.

[2016-06-19 07:47] celicoo commented on #445
+1

[2016-06-19 13:54] upupzealot commented on #2441
@0candy Yeah I'd like to.
I would do that as soon as I get time.

[2016-06-19 14:47] dilshanraja commented on #1905
+1

[2016-06-19 14:57] sachinhub commented on #1905
+1
On 19 Jun 2016 20:17, "Dilshan Rajapakse" <notifications@github.com> wrote:

[2016-06-19 14:58] dilshanraja commented on #789
Bump. Interested in seeing docs for this as well.

[2016-06-19 15:56] GeoffreyEmery commented on #789
this is a serious long dated bump

[2016-06-20 05:54] rjrahul commented on #2337
@davidcheung As I mentioned, in my original request, my requirement is to skip a middleware for few paths while executing the remaining handlers.

In the way you are suggesting, I would have to write all the middlewares executed after rest handler again to get desired behavior that is undesirable from code maintenance perspective.

Consider my middleware.json as follows

[code]

In this case if I

[2016-06-20 14:33] upupzealot commented on #2441
@0candy #2454

[2016-06-20 14:50] jannyHou commented on #1520
@Amir-61 Thank you for providing the related link. I think the `cascade delete` in that link happens between related models. While the requirement in this issue is something like offline-sync
@Nutelac I am not quite familiar with the solution of your scenario. Could you take a look of example:
https://github.com/strongloop/loopback-example-offline-sync
and see if that helps?
Any feedback are appre

[2016-06-20 15:00] gunjpan commented on #2452
@jonathan-chin : Hi, looks like you have stumbled upon a valid bug as there seems to be no handling of `/` as restApiRoot in creating verify link ( [code](https://github.com/strongloop/loopback/blob/45e523d66c629b3a389b84b01d28f83adbd0a1fd/common/models/user.js#L394-L405)):
[code]

This would be a simple fix. Would you like to submit a patch? I will be happy to assist to get it landed.
Meanwhile,

[2016-06-20 15:04] gunjpan commented on #2451
@coder1412 : hey, a solution to your problem is to paginate responses using `skip

[2016-06-20 15:10] #2451 closed

[2016-06-20 15:13] gunjpan commented on #2421
@vinhphucit : Hi, is the following something you're looking for:
[Partitioning users with realms](https://docs.strongloop.com/display/APIC/Partitioning+users+with+realms)

[2016-06-20 15:36] gunjpan commented on #2402
Hey @FreakTheMighty, that's a limitation from Chrome and two suggested solutions [here](https://groups.google.com/a/chromium.org/forum/#!topic/net-dev/0bPuXIq_M5U) would make LoopBack changeStream more robust.
@ritch , @bajtos: thoughts on if we want to enhance `changeStream` with `http 2.0 server push` or `SPDY server push`.
FYI, GitHub also ran into this issue when they were implementing live up

[2016-06-20 15:39] davidcheung commented on #2337
In the current flow, `res` gets sent out during the `rest-middleware`, which stops it from executing the other middlewares from executing after it as well.

@bajtos, @gunjpan any thoughts?

[2016-06-20 16:00] bajtos commented on #2337
@rjrahul's request to attach middleware to a path (e.g. `/api`) but skip it on some sub-paths (e.g. `/api/public`) make sense to me. I don't think there is any elegant solution available right now, except writing a wrapper middleware as shown in https://github.com/strongloop/loopback/issues/2337#issuecomment-223822301.

The config option `unless` sounds too generic to me, how about `excludePaths`?

[2016-06-20 16:20] coder1412 commented on #2451
@gausie It's not a question, It's really an issue!

`/**
         * @ngdoc method
         * @name lbServices.Files#getFiles
         * @methodOf lbServices.Files
         *
         * @description
         *
         * <em>
         * (The remote method definition does not provide any description.)
         * </em>
         *
         * @param {Object=} parameters Request parameters.
         *

[2016-06-20 17:34] ritch opened #2455 "${restApiRoot} not being resolved via middleware.json"
Switching `middlware.json`'s `rest` middleware `paths` property to `['/api']` fixes the issue.The raw `${restApiRoot}` value is being passed to `app.middlewareFromConfig()`.

I think the issue is in `loopback-boot@2.6.5`.

/cc @bajtos @0candy @davidcheung

[2016-06-20 17:49] ritch commented on #2455
Actually the issue is that somehow this specific app was generated with a middleware.json file that is not compatible with the `loopback-boot` listed in it's `package.json`.

So the fix is to update `loopback` and `loopback-boot` to the latest versions.

[2016-06-20 18:06] #2455 closed

[2016-06-20 18:20] jannyHou commented on #1976
@zealseeker @xvrcorp Thanks for your update. And @zealseeker your sandbox is able to reproduce the bug. Really appreciate it!

[2016-06-20 18:55] jannyHou commented on #1994
@Nivl Since it's a mongodb's ObjectId, shall we close this issue now? I am glad to help if you still have other questions :)

[2016-06-20 21:46] f-w opened #2456 "Variables cannot be concatenated with rest string in middleware.json"
[Defining middleware](https://docs.strongloop.com/display/public/LB/Defining+middleware#Definingmiddleware-Usingvariablesinvalues) documented how to use variables in file `middleware.json`. It works if the variable takes entire string value, but not if the value contains other string. For example, if `clientRoot = /ext`, then following static config resolves `/ext` by `"${clientRoot}"`, but `/ext/

[2016-06-21 02:26] Emiya0306 opened #2457 "Question about app.models"
Here I want to get all mixins models, and to do some things, so I print out all model mixins. But in models it has duplicate models in `app.models`, just like `article` and `Article`.

Is there some differences about the duplicate models? I just like to know more about this. Thanks! 😄

[code]

[2016-06-21 08:10] bajtos commented on #2265
Published in `generator-loopback@1.22.0`.

[2016-06-21 08:20] bajtos commented on #2344
Published in `loopback-workspace@3.30.0` and `generator-loopback@1.22.0`

[2016-06-21 08:20] #2344 closed

[2016-06-21 12:49] samzhao2008 commented on #2171
Sorry, I made a mistake in my code. When I corrected it, no such a problem. Thanks

[2016-06-21 12:49] #2171 closed

[2016-06-21 16:36] pbtcjasper commented on #2428
We're having the same issue. We use the include filter in our query. A workaround: You can use `updateAttributes` instead of `save`. This works for us.

[2016-06-21 18:16] upupzealot opened #2458 "API Explorer do not show methods defined in code"
Like some methods which are defined in mixins, it seems that only those defined in json pops up.
My I the only person has this problem?

[2016-06-21 18:23] esco commented on #1078
@vaibhavmagon the solution is to use the allowBlank config. More details here:
https://github.com/strongloop/loopback-datasource-juggler/issues/675

[2016-06-21 20:03] 0candy commented on #2457
To retrieve the list of models, you should do:
`
var models = app.models();
models.forEach(function(Model) {
  console.log(Model.modelName); // put your change here
});
 `

[2016-06-21 20:22] CarlosCuevas commented on #683
+1

[2016-06-21 20:23] CarlosCuevas commented on #517
+1

[2016-06-21 20:37] 0candy commented on #2456
We currently replace the whole variable value and don't support having the variable as part of the path.

Another user requested the same feature: https://github.com/strongloop/loopback-boot/pull/181#issuecomment-216433322

[2016-06-22 04:39] juanpujol commented on #531
+1

[2016-06-22 09:12] Emiya0306 commented on #2457
Thank you, got it!

[2016-06-22 09:12] #2457 closed

[2016-06-22 09:28] scottmcdonnell commented on #1692
+1

[2016-06-22 11:06] crandmck commented on #664
@Sequoia http://apidocs.strongloop.com/loopback-datasource-juggler/#geopoint is published, but doesn't have anything on `minDistance` or `maxDistance`.

(Note https://docs.strongloop.com/display/public/LB/GeoPoint+class is hidden, but it contains the same content as the API doc.)

[2016-06-22 12:03] petrlyapin commented on #1275
+1

[2016-06-22 14:22] Emiya0306 opened #2459 "How can operation hooks catch the relation method?"
I define `user has many roles` (relation) and I define `Role.observe('loaded', roleLoadedHandler)` (operation hooks).

The question is when I call the `user.roles({})` to search all user roles, can operation hooks be emitted? If I want it happened, how can I do it? Thanks!

[2016-06-22 14:50] murbanowicz opened #2460 "Model.relation(modelToRelate) - not working, but not throwing error"
It is really bad issue.
I found one thread about it but I think it should be changed.

I have user and let's say group.
User can be created without group, but when he does not have group, he has to create one or get access to one.
When he is creating new one, I need to relate him with this group as owner and also relate this group with him.
Second one is simple, as it is easy to inject userId to `

[2016-06-22 16:53] Sequoia commented on #664
AH OK. I'll fix links to point to there instead of wiki.

[2016-06-22 17:04] Saganus opened #2461 "nestRemoting methods not callable from code"
Hello.

I originally posted this in the LoopBack Google Groups page

[https://groups.google.com/forum/#!searchin/loopbackjs/akram.shehadi/loopbackjs/QbC8k8OUM5c/32Ot4ggrAQAJ] but I think this could actually be a bug.

I've been working with nestRemoting() to enable nested queries in related models.

This mechanism is working perfectly fine when making request from HTTP, i.e. if I call

`http://mys

[2016-06-22 17:42] jannyHou opened #2462 "User can install a connector that loopback doesn't support by accident"
From @qpresley

We should not be able to install a module that is not a lb connector.

[2016-06-22 17:45] jannyHou commented on #2462
I think as a solution, we’d better maintain a list of supported connectors in loopback-workspace, and validate the custom connector name in generator-lb.

@bajtos @ritch @raymondfeng Any thought?

[2016-06-22 20:00] 0candy commented on #2460
Based on your snippet, this is what I suggest. To access the user model in group.js you should require the server class:

[code]
Not sure if you called `next();` somewhere in that block. See doc:
https://docs.strongloop.com/display/APIC/Remote+hooks#Remotehooks-Signature

If that doesn't resolve your issue, would you mind forking the sandbox with your repo so I can see the rest of the config?
http

[2016-06-22 20:31] mariaczi commented on #2460
I call next of course.
I think that it should work as I wrote:
[code]
without having to find etc. It's making relations useless.

[2016-06-22 21:42] zalos commented on #257
+1

This would be very handy. We have a need to have an inactivity be the cause of logout, as well as the database access for this would be slow, hooking to memcache or redis would be way faster.

[2016-06-22 22:41] devotox opened #2463 "How to use `or` and `and` where filters together"
Your documentation shows this but that doesn't make any sense. An array cannot have keys like that and it does not work as an object

Modules
- loopback: 2.29..0
- loopback-boot: 2.19.0
- looback-datasource-juggler: 2.46.1
- loopback-connector-postgresql: 2.5.0
- strong-remoting: 2.28.1

[code]

I have tried this but it only runs whichever I put first in the object or / and

[code]

[2016-06-23 02:52] Amir-61 opened #2464 "Generating unique numeric model ids"
Instead of auto increment IDs I would like to propose using [flake-idgen module](https://www.npmjs.com/package/flake-idgen), whose description says: `Flake ID generator yields k-ordered, conflict-free ids in a distributed environment`; the benefit of using this module is that you don't encounter any id conflicts when you migrate data between different environments. IIRC [flake-idgen module](https:

[2016-06-23 07:17] upupzealot opened #2465 "INCR function needed."
I'm designing a view counter.
So for that reason I need a **INCR** method on the PersistedModel instance.
If I use some code like

[code]

It would not be an atomic thing, I think.

[2016-06-23 14:37] bajtos commented on #2465
@upupzealot you are right, your implementation is not atomic. It makes sense to me to add an operator for making atomic increments & decrements. Would you like to contribute this feature yourself?

[2016-06-23 14:38] bajtos opened #2466 "Warn the user when model has ACLs configured but app hasn't auth enabled"

[2016-06-23 16:39] qqilihq commented on #2304
Any success on implementing that so far?

[2016-06-23 17:08] ritch commented on #2466
One way to do this is to move `enableAuth` into `config.json` which would allow `workspace` to flip the flag on for you when you start defining ACLs...

[2016-06-23 20:52] gunjpan commented on #2463
@devotox : Re:

I agree, that's wrong syntax for an array. Correct & working syntax is:
[code]
Above has `and` condition is resolved as one of the values for `or` _(and it worked for me)_.

I've corrected it in the docs, please take a look at: [`and/or` filter](https://docs.strongloop.com/display/public/LB/Where+filter#Wherefilter-and/or).

Closing this now, should you need further assistance with

[2016-06-23 21:03] 0candy commented on #2459
If you define `Role.observe('loaded', function(ctx, next){
  console.log('do something here');
  next();
}) `

Then when you call `user.roles({}, function(err, role) {
  console.log();
})`
You should be able to see the operation hook trigger.

[2016-06-23 21:29] gunjpan commented on #2447
I see that setting `root: true` returns results as a single object, not assigned to `arg` value in response
([see this](https://docs.strongloop.com/display/public/LB/Remote+methods#Remotemethods-ReturningdataoutsideofaJSONfield)). Unfortunately, don't have enough info to drive to a conclusion why it happens.
@bajtos : Thoughts?

[2016-06-24 02:08] hackerunet commented on #473
Hello, Sorry to be again adding more doubts to this topic but I have some observations about documentation and server side MVC implementation:
1) After hours of digging deeply in loopback documentation I found some differences about how to succesfully secure server side views using third parties authentication, example: loopback-component-passport, the docs here specify the need of 3 basic models

[2016-06-24 03:27] upupzealot commented on #2465
@bajtos I'm not sure, I only familiar with mongodb, to contribute this feature should update all connectors?

[2016-06-24 05:59] seanmangar opened #2467 "Documentation on User REST API wrongly states the ttl is in milliseconds"
The documentation seems to mention that the ttl value for an Access Token is in milliseconds, but this is wrong. It is actually in seconds when the log in request.

https://docs.strongloop.com/display/public/LB/User+REST+API#UserRESTAPI-Loginuser

Below is the code in Loopback that validates tokens. Clearly says that the ttl is secondsToLive.

[code]

Here is the code that creates Access Tokens wh

[2016-06-24 07:50] bajtos commented on #2465
@upupzealot no need to update all connectors. You can implement it in the connector you are using only.

However, if you are using MongoDB, then `$inc` is already supported when you enable "allowExtendedOperators" flag. See https://docs.strongloop.com/display/public/LB/MongoDB+connector#MongoDBconnector-UsingMongoDBoperatorsinupdateoperations

[2016-06-24 08:43] ghislaindj opened #2468 "ACL if owner is not set"
Hi,

I have an app where you can start to make an `order` without being authenticated and just register before the last step of the payment. It means that my model `order` is first created and updated without any owner in order to save the data, and then `userId` is attached at the end of the process.

How can I create an ACL that allow :
- everyone to execute if there is no owner
- if there is a

[2016-06-24 09:01] ghislaindj commented on #2468
Sorry, I'm gonna ask this question on stackoverflow instead of here.

[2016-06-24 09:01] #2468 closed

[2016-06-24 09:29] pkgulati opened #2469 "bcrypt.compare makes loopback.getCurrentContext as null, bcryptjs works"
If I use loopback middleware context in session:before phase, then during user.login (using loopback passport component with local auth) loopback looses current Context while invoking bcrypt.compare (user.login->user.hasPassword), If I remove bcrypt but use bcryptjs it works perfectly. This is Mac OS.

[2016-06-24 13:35] santhoshscs commented on #517
+1

[2016-06-24 15:36] upupzealot commented on #2465
@bajtos I see, but I still want a common method, so that loopback users can no longer do hacks to break the beauty of it's unity.
I'll try what I can do on this.

[2016-06-24 16:16] bajtos commented on #2447
Here is the patch that added support for generating schema for non-root arguments: https://github.com/strongloop/loopback-swagger/commit/b23e08cfe110db539ae6c3b8a4ec82ad58a999e8 My guess is that we don't correctly recognize `AccessToken` as a known model and emit `object` instead.

[2016-06-24 16:25] superkhau commented on #2458
Can you provide a sample for us to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-06-24 16:31] superkhau commented on #2458
I seen some other issue mentioning something similar, but would like a concrete example to clone and see your particular use case.

[2016-06-24 21:14] amejias101 commented on #1450
having the same issue with my AppUser class which extends User, but it doesnt have any other fields nor relations, so I'm not sure what is happening

[2016-06-24 21:41] raymondfeng commented on #1450
For your sub-model json, try to add the following relation definition:
[code]

[2016-06-25 04:42] Royedc4 commented on #1450
Extended Models loss the base relations?
[code]
It worked without the //options with disableInclude=true
Thanks @raymondfeng

[2016-06-26 02:43] souluniversal commented on #1495
Can I lobby to have the issues with getCurrentContext() and this suggestion referenced in the loopback docs (e.g., https://docs.strongloop.com/display/public/LB/Using+current+context)?

Could save others some serious headaches.

[2016-06-26 03:47] hackerunet commented on #473
Also Can Anyone help me out on this?
in this example https://github.com/strongloop/loopback-example-passport/blob/master/server/server.js
providers.json file setup a local strategy which has the following configuration:
[code]
It means that my post from login will submit username and password to the url /auth/local , so, When I do this I get nothing at all following all instructions from
https://d

[2016-06-26 04:04] souluniversal commented on #1495
Note: After implementing this all of my appi calls -- both Rest and Angular bindings now require options param (neither work and the app hangs when options is not included!)

These both work:
[code]
[code]

This won't work:
//Rest URL
"/api/MainUsers?filter=%7B"limit":10,"skip":10%7D
[code]

[2016-06-26 17:46] pkgulati commented on #2469
do you recommend to use cls-bcrypt?

[2016-06-26 19:30] tpflueger commented on #2399
@richardpringle I wasn't looking correctly in terms of how you can set the ACLs for relationships or the syntax was given. After looking at https://docs.strongloop.com/display/public/LB/Accessing+related+models, the suggestions clarified how each route was setup and how I could change the ACLs tied to an extended User model.

[2016-06-26 19:30] #2399 closed

[2016-06-26 21:30] jwebcat commented on #737
I would like to do the same, a way to observe when a link is created.

[2016-06-26 22:53] JonForest opened #2472 "Incorrect example for validatesFormatOf"
In the docs:
https://apidocs.strongloop.com/loopback-datasource-juggler/#validatable-validatesformatof

The example is shown as:
`User.validatesFormat('name', {with: /\w+/});`

And it should be:
`User.validatesFormatOf('name', {with: /\w+/});`

[2016-06-27 02:21] diesal11 opened #2473 "Spelling Error in docs"
[https://docs.strongloop.com/display/public/LB/Where+filter](https://docs.strongloop.com/display/public/LB/Where+filter)

"Between" is linked and listed as "tween" in the index. Should be "Between"

[2016-06-27 13:47] cfjedimaster opened #2474 "Warn when ACLs used and security not enabled"
If you do not `enableAuth()` in your code, ACLs are ignored by LoopBack. This tripped me up because I used a template where that line wasn't there. IMO, LoopBack should throw a warning in the console when ACLs are encountered on models but aren't being used. While I can see a possibility of someone wanting to add ACLs and not actually have them enforced, I'd think that would be in the _extreme_ mi

[2016-06-27 13:49] snowyu commented on #1495
@souluniversal It should be `Model.find(filter, options)`.

[2016-06-27 13:49] snowyu commented on #1495
I create a component with black and white list supports:
https://github.com/snowyu/loopback-component-remote-ctx.js

[2016-06-27 13:53] gunjpan commented on #2473
@diesal11 : Thanks for reporting. It has been corrected, PTAL. Closing this now

[2016-06-27 13:53] #2473 closed

[2016-06-27 15:00] RicardoVaranda opened #2475 "Find by key name"
Just wondering if loopback has this capability, I know 3rd party libraries already support it for example underscore where you can do a Model.find() in which there where condition matches to key name values as in:

Imagine a JSON:

[code]

If I was trying to find the object for 2016, the following does not work:

Model.find({where:{year:'2016'}}, function(err, res){
console.log(res);
}

[2016-06-27 17:46] gunjpan commented on #2472
@crandmck : Hey Rand, could you PTAL. thanks.

[2016-06-27 18:32] codyolsen commented on #517
+1

[2016-06-27 20:39] crandmck commented on #2474
Added a warning in:
- https://docs.strongloop.com/display/APIC/Authentication%2C+authorization%2C+and+permissions
- https://docs.strongloop.com/display/APIC/Controlling+data+access

@cfjedimaster Let me know if that covers it.

[2016-06-27 23:57] cfjedimaster commented on #2474
1) For the first one, is that enough to enable auth? Ie, you define a function to do so, but you would need to run enableAuthentication to do it, right? I know it may be picky, but I can see folks being confused.

2) Same comment applies.

[2016-06-28 00:07] adanmuguirofoo commented on #1138
+1

[2016-06-28 03:45] allebdev commented on #607
Yes, I need it too. It would be great!

[2016-06-28 07:47] hgouveia opened #2476 "DELETE on a related item doesn't return anything"
when i do `DELETE /api/modela/id/modelb/fk` , the response is status 204  with empty body content, and should be `{ count : 1 }` like normal DELETE operation in anothers endpoints

this happend to me on mongodb 3.2 , using lastest connector, lastest loopback 2.29.0

[2016-06-28 07:49] snowyu commented on #1495
btw: I create a component with black and white list supports.
https://github.com/snowyu/loopback-component-remote-ctx.js

[2016-06-28 11:33] coder1412 commented on #2451
@gausie could you please answer or i will have to open the issue again ?

[2016-06-28 12:55] likun7981 commented on #521
where is native query?

[2016-06-28 14:04] bajtos commented on #2474
Cross posting from https://github.com/strongloop/loopback/issues/2466, which I'll close as a duplicate:

[2016-06-28 14:04] bajtos commented on #2466
Closing as a duplicate of https://github.com/strongloop/loopback/issues/2474

[2016-06-28 14:04] #2466 closed

[2016-06-28 15:22] coder1412 opened #2477 "storageService.getFiles limit the number of result ?"
Im using the storageService.getFiles to return the files of current user but it returns as many files as i they have. Can i limit the number of result ?
#2451 @gunjpan closed this issue with an unworking answer. As you can see below, getFiles function just receive 2 request params container and file, it will ignore filter param.

[code]

[2016-06-28 17:02] paperrr1 opened #2478 "slc ctl stop/restart/soft-restart error:socket hangup"
Doing some intensive testing and the application no longer responds.  After roughly 90 seconds of attempting to restart/close the application I recieve a socket hangup error.  Is there anyway to stop and restart?  Thanks.

`slc ctl stop app_name`
`Command "stop" on "http://xxx.x.x.x:xxxx" failed with Error: socket hang up`

[2016-06-28 20:00] gunjpan commented on #2477
@coder1412: I see, in the #2451, you mentioned someone else -- `@gausie` -- and also didn't reopen it,  thus, didn't get a chance to look at.

IIRC, current implementation of `loopback-component-storage` doesn't support this case to paginate response. I am marking it as a feature request and we will consider it in our planning and prioritize accordingly.

Meanwhile, if you would like to submit a P

[2016-06-28 20:09] gunjpan commented on #2469
@pkgulati : re: `cls-bcrypt`, I am not sure about the reliability, you would need to do your own research.
re: context propogation, we have an ongoing discussion at: #1676 to deprecate it.
Closing this issue as a duplicate, please comment over there.

[2016-06-28 20:09] #2469 closed

[2016-06-28 20:18] jonathan-chin commented on #2452
I fixed it with a simple ternary comparison:

[code]

However, I'm still on version 2.22.2. I'd like to submit a patch for 3.0 but I'd have to set everything up for it.

[2016-06-28 21:29] dktan commented on #1649
facing the same issue

[2016-06-28 21:35] rkmax opened #2479 "Raw access to mongodb doesn't work"
Always get a `Cannot read property 'settings' of undefined`

[code]

my datasource.json

[code]

[2016-06-28 23:51] mora260 commented on #2270
Hi everyone! Right now I'm facing a problem similar to yours, but not the same thing. I'm creating a Model extending from the built-in User model of loopback, and the ACL i actually being inherited completely. But in all the forums I've read, the problem seems to be the other way around.

I don't know what is going on...

[2016-06-29 00:05] crandmck commented on #664
So the question still remains:  Does Geopoint actually have `minDistance` and `maxDistance` methods, and if so, can we please add them to the API docs?

[2016-06-29 04:44] jannyHou commented on #2270
@mora260 and anyone runs into the same issue, we fixed acl problem in pr https://github.com/strongloop/loopback-workspace/commit/bd6c93c03eadc168e5c55308aee2883848d18e6a

And it's released in loopback-workspace@3.31.0
Please update loobpack-workspace in your genrator-loopback, or a more quick way, reinstall your strongloop to get it work.

I am glad to help if you still have problem.

[2016-06-29 05:29] thanickel commented on #878
I am seeing this issue when using promises. Every call that is made to getCurrentContext from a promise is causing it to be null. Not just before save, access is also returning null. Possibly others as well. I have switched to callback and is working fine. Tried with node v4.4.5 and v4.4.7 LTS versions

[2016-06-29 07:07] srihakum opened #2480 "Model validation for enum and optional child with required fields"
1. Currently model properties can have attributes like required and enum, however the value for model instance is not validated by default against enumerated list, is there a way where we can achieve this.
2. Models having properties which are optional (not marked as required) and are of type defined in other models. If the child properties contain required attributes and when a model instance is

[2016-06-29 07:11] Emiya0306 commented on #2459
No, I test it, and feel sorry it is not work. `Role.observe('loaded',function(){})` cannot be call by `user.roles({}, function(err, role) {})`.

[2016-06-29 07:42] coder1412 commented on #2477
Thank you @gunjpan yes i wasn't able to reopen the issue (you cannot re-open your own issues if a repo collaborator closed them) and sorry that i tagged a wrong person, that's my bad :">

Yes it should be a feature request, an important one for production that use storage component.

I will see if i can submit a PR, i'm quite new to Github, just digging deeper and deeper in loopback. Thanks anyway

[2016-06-29 10:47] biliboss commented on #521
@likun7981 you can try
`dataSource.connector.query(sql, params, cb);`

[2016-06-29 11:31] gausie commented on #2451
@coder1412 why are you tagging me?

[2016-06-29 13:17] gunjpan commented on #2451
@gausie: looks like he wanted to tag me :smiley_cat:

[2016-06-29 13:25] coder1412 commented on #2451
@gausie sorry it was my mistake. Best wishes for you anyway :smiley:

[2016-06-29 15:41] johanlaidlaw opened #2481 "Limit on associated model not working"
It seems like where filters are working fine on associated models in REST calls:

`/artists/1/products?filter[where][categoryId]=1`

will only return products in category 1 for artist 1.
But limit does not work

`/artists/1/products?filter[limit]=10`

will return all products for artist 1.
Is this expected behaviour?

[2016-06-29 15:52] devotox commented on #2463
I did this exact thing and it did not work

[code]

aand got an internal server error `"Cannot read property 'type' of undefined"`

[2016-06-29 15:55] devotox commented on #2463
I cannot seem to reopen this ticket

[2016-06-29 15:57] johanlaidlaw commented on #2481
I had specified a default limit in scope in products.json, so I guess you can't override the default scope setting?

Is this expected behaviour? If so, maybe it could be added to the docs?

[2016-06-29 15:58] devotox commented on #2463
Full Stack Trace
Postgres Back end
[code]

[2016-06-29 20:16] gunjpan commented on #2463
@devotox: Looks like an issue with your backend -- `postgres` in this case, could you try executing a [native query](https://docs.strongloop.com/display/public/LB/Executing+native+SQL) and share the outcome if it works or not.

[2016-06-29 21:29] alexjoverm commented on #1275
Just to simplify a bit @jannyHou answer code, it's also possible to do it in this way:

[code]

[2016-06-29 22:13] crandmck commented on #801
@bajtos Sorry, I was on vacation.... I think this still deserves some attention, but honestly I don't have the bandwidth.  Perhaps @sequoia can take it?

[2016-06-29 22:14] crandmck commented on #876
@sequoia Can you look at this?

[2016-06-29 22:17] crandmck commented on #763
@bajtos I'd like to assign this (and a few other LB doc issues) to @sequoia (who is doing some contract work for us) but he is not a collaborator in this repo... Can you do something so I can assign issues to him?  PM me if you have questions.

[2016-06-29 22:22] crandmck commented on #2406
OK I added a short note to https://docs.strongloop.com/display/APIC/Nested+queries.  I'm going to close, but if you think I need to do something more @richardpringle, please reopen.

[2016-06-29 22:22] #2406 closed

[2016-06-29 22:39] crandmck commented on #1258
So @Amir-61 please let me know what you think we should add to the docs.  From this comment:

We should add those along perhaps with examples (?)

[2016-06-29 22:41] crandmck commented on #803
@sequoia would you be able to take a look at this and determine what needs to be done re docs?

[2016-06-29 22:56] crandmck commented on #2050
OK, I tried to capture some of this information in https://docs.strongloop.com/display/APIC/Building+a+connector#Buildingaconnector-Notesforcreatingnon-databaseconnectors

Of course, this is just a bare start and still needs lots of work.  I'll continue revising it.  Please suggest any substantive changes or additions.

[2016-06-29 22:58] crandmck commented on #1939
ping...?

[2016-06-29 22:59] arbrebinaire commented on #2050
Hi,

Much appreciated!

Regards,

François

2016-06-29 18:57 GMT-04:00 Rand McKinney <notifications@github.com>:

[2016-06-29 22:59] crandmck commented on #789
@wilsonmar or @raymondfeng Can someone address this?
@0candy perhaps you have some thoughts?

[2016-06-29 23:04] crandmck commented on #2467
Update https://docs.strongloop.com/display/APIC/User+REST+API#UserRESTAPI-Loginuser

[2016-06-29 23:04] #2467 closed

[2016-06-29 23:14] crandmck commented on #2472
Fixed in https://github.com/strongloop/loopback-datasource-juggler/commit/45e14af4a981fcf376276babeb344ceac578186c
Note that the API docs will not reflect this change until loopback-datasource-juggler is republished to npm.

[2016-06-29 23:14] #2472 closed

[2016-06-30 04:13] pratheekrebala commented on #1596
+1

[2016-06-30 06:37] ChopperLee2011 commented on #1213
i know i can get model B in model A's remote method, but this just make the code redundancy if model  A have many remote methods and they all need to handle model B.
it will be nice if someone have a way to access B out of remote method, like:
[code]

[2016-06-30 06:59] nmklong commented on #2188
@bajtos Thanks a lot for the help, i'll go with this option!

[2016-06-30 06:59] #2188 closed

[2016-06-30 08:55] lucaslopez commented on #1415
+1

[2016-06-30 13:41] 0candy commented on #789
@crandmck Did you get the draft from @wilsonmar? Maybe we can take a look and help with the updates.

[2016-06-30 13:44] devotox commented on #2463
SELECT * FROM "topic-item" WHERE level=1 AND category='' AND ( tags like '%basics-1%' OR tags like '%basics2%' )

Result
[code]

[2016-06-30 14:00] wilsonmar commented on #789
Hi. I'm sorry I didn't get back to this because I didn't hear back about
how to format the doc (GitHub markdown or what)?
If someone can point me to an example I can convert my detailed description
now in a Word file and PowerPoint file.

On Thu, Jun 30, 2016 at 6:41 AM, Candy <notifications@github.com> wrote:

[2016-06-30 14:03] devotox commented on #2463
[code]

[code]

[2016-06-30 14:12] wilsonmar commented on #789
Also, (more importantly) I need a developer of the module to answer some
questions because I don't think people here want a generic description of
JWT, but how Loopback makes use of it. Am I correct?

[2016-06-30 14:17] 0candy commented on #789
@wilsonmar If you could upload your word file to google drive or email to @crandmck, we can get someone on the team to review it and see how we can add the usage with loopback. Thanks!

[2016-06-30 18:50] gunjpan commented on #2452
@jonathan-chin : You can follow the contribution guideline and cloning/forking from GitHub would give you 3.x. Let me know, should you need further help. Thanks.

[2016-06-30 20:15] Sequoia commented on #801
* [ ] Explain `context`: I'll look into this-- it *looks like* context is an instance of `AccessContext` as defined [here](https://github.com/strongloop/loopback/blob/6964914bab64496c789c434fec39d2914231ee23/lib/access-context.js#L10-L27), is that accurate? My certainty that it is is >90% so I'll go ahead & edit.
* [ ] `process.nextTick`: -- I don't see this in the document, was it removed? I don'

[2016-06-30 20:36] gunjpan commented on #1936
@Overdrivr : I believe here that the method aliases are not identified from the list of methods to disable it.
I am escalating as a bug and we will get it prioritized.

[2016-06-30 20:50] crandmck commented on #801
Thanks for your help @Sequoia....

I believe so too, but perhaps @superkhau or another dev can confirm.

[2016-06-30 21:01] Sequoia commented on #801
* Added note about `process.nextTick` with link to a blog post on it (I really don't know how to do a 1-sentence explanation of maintaining asynchrony-- if you can explain it more concisely edit away).
* Removed `reject` function for simplicity's sake
* littered boot script with comments to make it every easy to read thru. If this is too much, the alternative would be to provide a simpler example,

[2016-07-01 02:06] sidewaiise commented on #257
This would be super-useful :)

[2016-07-01 02:35] 0101adm opened #2482 "uploading to amazon s3"
loopback 2.29.0
loopback-storage-component 1.8.0

i can list containers using the explorer.

uploading using the built-in `upload` throws the below error.

`Failed to create a multipart upload on S3: {"message":"The request signature we calculated does not match the signature you provided. Check your key and signing method.","stack":"SignatureDoesNotMatch: The request signature we calculated does

[2016-07-01 06:45] alexjoverm commented on #1316
Looking forward to having this. What's the status?

[2016-07-01 08:46] JaCkIsO commented on #1275
+1

[2016-07-01 09:22] #2481 closed

[2016-07-01 10:20] ron137 commented on #517
+1

[2016-07-01 10:46] vasanthps-rm opened #2483 "Support multiple api versions in a single loopback app"
Kindly add support to multiple api versions in a single loopback app.

For ex:-

In config.*.js, instead of

[code]

We could do

[code]

And for a model, say 'device.json', the corresponding js files can be 'device.v1.js' and 'device.v2.js', each file with api's for their respective versions. The acl's in the json file should have api versions included as well.

Suggestions and better way to impl

[2016-07-01 11:38] henk-scheepers opened #2484 "destroyAll related Models of a Model not doing anything"
I have the following Model

[code]

When I try to `ProjectTemplate.projects.destroyAll` the callback function doesn't return any errors, but also doesn't delete anything. I've tried this through the Explorer, NodeJS and using lbServices in an AngularJS app. Still nothing is deleted.

Any ideas why this is happening?

Thanks

[2016-07-01 15:25] #2475 closed

[2016-07-01 16:03] yotamsha commented on #1275
+1

[2016-07-01 17:44] crandmck commented on #1939
Thas was done for 2.x in 8fe77b2a062bf0de945f9b899f9e71af6d23546f
@bajtos Would it be possible to publish 2.29.1 so it gets published to http://apidocs.strongloop.com/loopback/?

[2016-07-01 18:40] ReLrO opened #2485 "Loopback API returns wrong responses on simultaneous requests"
Hey guys,

I've been experiencing a very odd behavior with loopback when querying it with simultaneous requests. sometimes I am getting the expected responses, but on other times I am getting the wrong responses.

Here is what I am doing:

On the client side I am sending 2 ajax GET requests to the following url's:

[code]

the Customer and Group models have a many to many relationship through a Cu

[2016-07-01 18:58] crandmck commented on #789
Yes @wilsonmar virtually any format would be fine.
One easy way would be to create a markdown doc in [the wiki for this repo](https://github.com/strongloop/loopback/wiki).  That would make it easy to collaborate, and it should not require any special rights to edit the wiki...

But really anything is fine: Create a Google Doc or email me anything.  Thanks!

[2016-07-01 19:03] crandmck commented on #801
Thanks @Sequoia, your changes look good.  I think this can be closed.  If there is any further work or open questions, feel free to reopen.

[2016-07-01 19:03] #801 closed

[2016-07-01 19:04] crandmck commented on #2356
@davidcheung Could you please clarify what you think needs to be added or changed in docs?

[2016-07-01 19:20] #2482 closed

[2016-07-02 13:17] k3n3l commented on #1425
Hi:

Do you know if upsert method is available ???

Best Regards

[2016-07-02 23:38] MartinCerny-awin opened #2486 "MySQL default models have different name for modified / lastUpdated"
User model has column lastUpdated and Role model has column modified. The name of the column should be same in both models.

[2016-07-03 03:27] celicoo opened #2487 "set updatedAt property as new Date()"
I wonder how to set the property updatedAt of my users model in the PUT endpoint.

Thanks.

[2016-07-03 09:49] mitsos1os commented on #2420
@davidcheung thanks for the notice.... I didn't know about y! I will do it from now on. Any news on this issue?

[2016-07-03 10:11] #2486 closed

[2016-07-03 10:11] MartinCerny-awin commented on #2486
It will be removed in LoopBack 3 #1854

[2016-07-03 15:03] likun7981 commented on #521
@biliboss thx  ,I found it .

[2016-07-04 07:54] upupzealot commented on #917
+1

[2016-07-04 07:57] iamprohaktiv commented on #1810
I had same error  but that was because my jenkin server was already running on 8080 and My node server also trying to create server using 8080 port  please check could be same for you too.

[2016-07-04 09:38] bedomo commented on #1841
any news about this functionality ? would be nice if is working or not in this feature.

[2016-07-04 15:42] gunjpan commented on #2479
@rkmax : I tried to reproduce this issue with a sample app, and was able to get the collection for two ways _(my sample code)_:
**Movie.js**
[code]
**datasource.json**
[code]
It would be easier to troubleshoot if you could please provide a sample repo to reproduce this.

[2016-07-04 17:59] gunjpan commented on #2484
@henk-scheepers : what response code do you get for the method call from Explorer? Do you have any ACLs in place?
If possible, please provide me with a sample repo to reproduce the issue.

[2016-07-04 23:09] superkhau commented on #2483
@vasanthps-rm Would you like to submit a PR? Sounds like a good suggestion. @bajtos @raymondfeng Thoughts?

[2016-07-05 00:45] MarkAndrewJohnson commented on #568
It appears we have now encocuntered the same issue with ReferencesMany

[2016-07-05 00:47] MarkAndrewJohnson commented on #568
@fabien would you now have a resolution for this issue?

[2016-07-05 05:05] inv-joseph opened #2488 ""Message: Unexpected string" error while migrating to db in StrongLoop"
Hi , I am trying to migrating my model classes to MySql DB with strongloop tool,
When I click the migrate button the following error I got.

Oops! Something is wrong
Unexpected string
Message: Unexpected string
Request: /workspace/api/DataSourceDefinitions/server.mysql/autoupdate
status: 500

Please help.

[2016-07-05 05:20] vasanthps-rm commented on #2483
@superkhau Sure. I will work on it!

[2016-07-05 09:14] gaurav21r commented on #2050
@crandmck THanks :+1: I'll go through it next week and leave any feedback here. Once again, I stress the fact that since loopback is good enough to be open source, the community can also shoulder some of the tasks of documentation!

[2016-07-05 09:33] alFReD-NSH commented on #1586
@vanthome Currently `Person.create({ name: 'Farid', category: 'student', belongings: [{ label: 'laptop', type: 'lenovo' }] });` belongings wouldn't be saved. It was set in relations:

[code]

[2016-07-05 13:40] richardpringle commented on #2399
@tpflueger, completely understandable. Our docs can be a little difficult to navigate. We're working on improving them. Do you have any recommendations?

[2016-07-05 15:01] gunjpan commented on #2463
@devotox : looks like the cause may be model properties not being mapped to db table columns. Can you share your `<model>.json` file? If it doesn't have the mapping, try to map it as described [here](https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Datamappingproperties).

[2016-07-05 15:06] richardpringle commented on #2361
Hey @josephlaw, I'm not quite sure I understand the context here. How can I reproduce this?

By default, ttl is 1209600 and you can login and logout no problem...

[2016-07-05 15:15] richardpringle commented on #2400
@fuzzball1980, sorry about the late reply... must have just missed the email.

In my personal opinion, you shouldn't have to insert entire records unless you are creating a record, in which case the LoopBack type would just be an *object* and the validation is performed for the `create` CRUD method anyway. Otherwise you should just be referring to records by ID. I like to keep my APIs as simple as

[2016-07-05 15:15] #2400 closed

[2016-07-05 16:10] superkhau commented on #2483
@vasanthps-rm :+1: Just ping me when you're done and I'll help review it. Good luck! :four_leaf_clover:

[2016-07-05 17:58] gunjpan commented on #2487
@celicoo : You can use [ `before save` operation hook](https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-beforesave) to achieve that.
Let me know if that helped you and whether this is good to close.

[2016-07-05 18:17] davidcheung commented on #2356
@crandmck Not sure where we would document this, not sure if this is only a problem with loopback built-in models (this specific case is about built-in models), but main goal would be to advice Users to not save model with `id=0` because it casts to boolean as false, and in some places in loopback we check `if(id)` which if user's DB auto-increment for some reason starts at 0 then they would exper

[2016-07-05 18:19] davidcheung commented on #2420
@mitsos1os no news yet on this issue, so proposal is **user will setup roles with self defined id**
example
[code]
^^ right now this would result in `{id:1, name:'$someRole'}`

@raymondfeng @bajtos any thoughts?

[2016-07-05 19:50] rmg commented on #2356
@davidcheung would you be able to write a blog post about the general problem? Then we could drop in links to it in a few places in the docs where people read about custom IDs or whatnot.

[2016-07-05 20:41] jameslk commented on #313
I've run into an issue due to the use of these singletons where I needed to have two apps (one as my primary app, and another as a remote mirror of that app so I could apply the ACL). However, due to the singletons, the remote app ends up overwriting the models in the primary app through the registry, rendering this design useless without some hacks to create multiple instances of Loopback.

[2016-07-05 21:40] CarlosCuevas commented on #878
Never had this issue.  Changed nothing but my version of node from 0.10 to 4.4.7 and it started.  Using callbacks with async lib, not promises.

I added `require('continuation-local-storage');` to the top of server.js and the issue seems to have gone away, though the fact that it happens intermittently makes me question the results.

[2016-07-05 23:48] dktan commented on #854
I facing similar issue. In my case, I allow $owner to delete, but turn out everyone can delete.

[2016-07-06 02:17] josephlaw commented on #2361
In client side, I call the login with { email:xxxx, password:yyyy, ttl:-1 } .

So that i added below code into LB access-token.js
`var isValid = elapsedSeconds < secondsToLive;`
`      if (this.ttl >= -1) { isValid = true;}  <===== add by @josephlaw`

[2016-07-06 04:25] jeff3yan commented on #878
Have had this issue intermittently and can't seem to reproduce it consistently on any environment, but it's enough to discourage usage of `getCurrentContext`.

I'm only really using the loopback context to propagate user authentication details to a couple of dynamic role resolvers. I can consistently get around this issue by directly accessing the `remotingContext` in the role resolvers, although

[2016-07-06 05:53] tetter36 opened #2490 "401 Authorization Required When Accessing Models"
I'm running into the same issue that can be found here:
http://stackoverflow.com/questions/36082372/loopback-authentication-error

    {
      "error": {
        "name": "Error",
        "status": 401,
        "message": "Authorization Required",
        "statusCode": 401,
        "code": "AUTHORIZATION_REQUIRED",
        "stack": "Error: Authorization Required\n    at
      }
    }

In the DEBUG

[2016-07-06 09:51] devotox commented on #2463
[code]

[2016-07-06 12:23] riterrani commented on #1427
Any news on this feature? Anybody have implemented this in a custom build?

Thanks!

[2016-07-06 13:37] mamartins commented on #2432
@Amir-61 I'll

[2016-07-06 13:49] jdegger opened #2491 "Allow event streams to send ping data"
# Problem

Some providers (like Heroku) need long-polling HTTP streams to send data every x seconds because they have hardcoded timeouts on the requests. Heroku needs a response within 30 seconds and after that within 50 seconds. Because of this, the event-stream is completely useless without a ping event.
# Workaround

I copied the event-stream function from the PersistedModel and added a simple

[2016-07-06 14:40] Amir-61 commented on #1258
Hey @crandmck,

Yes I believe at the very minimum we should have some examples of `scope.findById`, `scope.findOne` and `scope.updateAll` and explaining what they do; IMO they should be added in our documentation [here](https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Scopes). I put in planning and will take care of the documentation.

Thanks!

[2016-07-06 15:04] gunjpan commented on #2490
@tetter36 : Yes, that looks like a bug to me, a logical lapse is in the lines below of function [`isAuthenticated()`](https://github.com/strongloop/loopback/blob/6964914bab64496c789c434fec39d2914231ee23/lib/access-context.js#L154):
[code]
for `userID=0`, it will return false. I am not sure if removing support for userID=0 is a good idea.
@bajtos @raymondfeng : Thoughts??

[2016-07-06 17:29] gunjpan commented on #2490
@tetter36 : After detailed discussion with @davidcheung, realized that we currently do not support `id` set to zero.
Re. documentation, please follow & comment at issue #2356. I will close this issue for now as aduplicate _(removed my previous comment as irrelevant)_

Should you have any questions concerns, please follow up on 2356. Thank you.

[2016-07-06 17:29] #2490 closed

[2016-07-06 17:32] gunjpan commented on #2447
@l2fprod: Did Bajtos' answer help you?

[2016-07-06 18:12] richardpringle commented on #2361
Are you expecting `ttl = -1` to be unlimited?

After taking a deeper dive into our code, it appears as though `-1` is a *valid* ttl value that *invalidates* the actual token. I believe this is actually by design.

@bajtos will have to confirm.

[2016-07-06 19:48] l2fprod commented on #2447
AFAIU the answer is more a pointer to the code for someone in the dev team to fix the issue rather than a solution for me, a loopback user. AccessToken is a loopback model so I guess there is a bug somewhere here.

[2016-07-06 23:16] crandmck commented on #2050
Great, thanks @gaurav21r ...  We are planning on moving the LB docs soon into an open-source format (similar to what we use for http://expressjs.com).  That will make it much easier for the community to contribute.

[2016-07-06 23:51] MartinCerny-awin commented on #517
+1

[2016-07-07 00:35] AThilenius commented on #2198
It looks like filters are dropped in other places as well, like through a hasOne relationship query: https://github.com/strongloop/loopback-datasource-juggler/issues/811 I'm not sure if this is related or not but it looks like include-filters could use some love :) I'm new to Loopback or I would start looking through code.

[2016-07-07 03:20] josephlaw commented on #2361
yes, I expect it will not expire.

[2016-07-07 04:14] mountain1234585 commented on #2331
@Amir-61 @bajtos
I have added a method upsertWithWhere in loopback-datasource-juggler  and also changed the persisted-model.js in loopback/dao.js.

When I run the loopback application, I am able to see the new method in the explorer , but the operation fails giving the following error:

{
  "error": {
    "name": "Error",
    "status": 500,
    "message": "Cannot call Account.upsertWithWhere(). Th

[2016-07-07 09:09] franher commented on #2483
We are looking forward to have this feature :muscle:

[2016-07-07 13:51] Amir-61 commented on #2331
@mountain1234585 Please share the repo(s) to reproduce the issue.

[2016-07-07 15:02] petrlyapin commented on #1321
+1

[2016-07-07 15:22] richardpringle commented on #2361
@josephlaw

There is a pull request for the desired feature: strongloop/loopback#1797

I am closing this issue since the problem has already been addressed in the PR

[2016-07-07 15:22] #2361 closed

[2016-07-07 17:11] tpflueger commented on #2399
When I was doing searches for my problem, I was trying to find a quick reference to AccessToken. When I found the table at https://docs.strongloop.com/display/public/LB/Access+token+REST+API, I was hoping to find method names or documentation that talked about relations. However, if I would have read more into it or knew the actual problem I was having, I would have known that my need was to go to

[2016-07-07 18:18] mountain1234585 commented on #2331
@Amir-61.  Pls find it here --> https://github.com/mountain1234585/myRepo .   dao.js and loopback lib/persisted-model.js

[2016-07-07 18:50] gunjpan commented on #2463
@devotox: Can't seem to get what's causing the error, from top of my head. I cloned your repo: `kids-vocab` and tried to debug it, couldn't get the server running. Could you please run your server enabling debug logs as:
`$DEBUG=loopback:connector:postgresql node <serverFileToRun>`
and see what's the translated `Query` from the filter.

@raymondfeng : Thoughts on what could be the cause of the err

[2016-07-07 19:36] Amir-61 commented on #2331
@mountain1234585 Assuming you are using memory connector and I don't see you have implemented your method `upsertWithWhere` in `loopback-datasource-juggler` in `lib\connector\memory.js`; here is your code which expects the connector to implement `upsertWithWhere()` method.
[code]
Also a quick note about this logic of your code ^:
We had the above checking for `connector.upsertWithWhere.length` for

[2016-07-07 21:39] cgole opened #2493 "Data mapping should happen by default during model discovery + generation"
Instead of having to manually edit the models to add the data mapping, can we have that automated? Seems like a useful feature to have.

[2016-07-07 21:55] cgole commented on #2493
Looks like this is how discovery should work by default. Its a bug in discovery..We found it in mysql.. Not tried with other databases.

[2016-07-07 21:56] raymondfeng commented on #2493
The DB specific mappings should be there by default with discovery. See https://github.com/strongloop/loopback-connector-mysql/blob/master/test/mysql.discover.test.js#L211. Maybe the UI does not?

[2016-07-07 22:58] gxvigo commented on #2493
+1

[2016-07-07 23:09] raymondfeng commented on #2493
The loopback-workspace api seems to handle extensions correctly too. See https://github.com/strongloop/loopback-workspace/blob/master/test/model-property.js#L72

[2016-07-08 02:28] mountain1234585 commented on #2331
@Amir-61
Thanks for your review. I am using salesforce connector and have the method implemented there in salesforce.js.  I will implement it in the memory.js as well .

[2016-07-08 07:03] buzai opened #2494 "Deprecation warning for strong-remoting getFullPath() in loopback-angular-sdk"
Generating "lbServices" for the API endpoint "/api"
Warning: scope User.accessTokens targets class "AccessToken", which is not expos
ed
via remoting. The Angular code for this scope won't be generated.
strong-remoting deprecated getFullPath() is deprecated, use getEndpoints()[0].fu
llPath instead. eval at <anonymous> (C:\Users\chenhao\AppData\Roaming\npm\node_m
odules\strongloop\node_modules\ejs\l

[2016-07-08 10:50] princecharmx opened #2495 "Unable to Query data models based on relational model condition"
Hi,

Scenario: modelA belongs to space
modelA has spaceId
space has field categoryTag

I want to query modelA where related model data has following data  space.categoryTag= "valuex" but I am unable to find a right way.

---
space :
{id:"1", "categoryTag":"valuex"},
{id:"2", "categoryTag":"valuey"},
{id:"3", "categoryTag":"valuex"}
{id:"4", "categoryTag":"valuez"}

modelA:
{"id":"1", "spaceId":"1"

[2016-07-08 10:56] princecharmx commented on #2495
space :
{id:"1", "categoryTag":"valuex"},
{id:"2", "categoryTag":"valuey"},
{id:"3", "categoryTag":"valuex"}
{id:"4", "categoryTag":"valuez"}

modelA:
{"id":"1", "spaceId":"1"},
{"id":"2", "spaceId":"2"},
{"id":"3", "spaceId":"3"},
{"id":"4", "spaceId":"4"}

Result after querying modelA shoud return:
{"id":"1", "spaceId":"1"},
{"id":"3", "spaceId":"3"}

[2016-07-08 16:30] rblalock commented on #618
Another comment on this that is semi-related - I just realized Loopback has this functionality where you can define a defaultFn - https://github.com/strongloop/loopback/issues/292 (source: https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model.js#L288-L313) .  Only 3 use cases are supported and supporting a custom function isn't supported yet.  If and when support for allo

[2016-07-08 16:38] crandmck commented on #2399
@tpflueger  I added a pointer in https://docs.strongloop.com/display/LB/Access+token+REST+API to the related model article.  I hope that will help others in your situation.

[2016-07-08 18:59] gunjpan commented on #2495
@princecharmx : You can use `include` filter to query related models. Read more [here](https://docs.strongloop.com/display/APIC/Querying+related+models#Queryingrelatedmodels-Inclusion) and [here](https://docs.strongloop.com/display/APIC/Querying+related+models#Queryingrelatedmodels-Usingfiltersparameterswithincludedrelations).
Hope that would resolve your question.

[2016-07-08 19:52] davidcheung commented on #2494
@buzai Thanks for bringing this up, this is not an OS specific issue, we should update to use new method in loopback-sdk-angular
- https://github.com/strongloop/loopback-sdk-angular/blob/f002b5d2a2e959d6b2a8ddb85f7a6209ec203e72/lib/services.template.ejs#L126
- https://github.com/strongloop/loopback-sdk-angular/blob/f002b5d2a2e959d6b2a8ddb85f7a6209ec203e72/lib/services.template.ejs#L76

[2016-07-09 02:54] mharkus commented on #517
+1

[2016-07-09 03:16] ryankennedyio commented on #1748
@Amir-61 We've just run into this issue too. I have about 30 models in my load testing account that now cannot be accessed nor deleted.

A sample repo shouldn't be needed for this issue -- fairly obvious as to the cause and solution, no ?

[2016-07-09 14:44] charlie-s commented on #411
This also works:

[code]

[2016-07-09 23:46] devotox commented on #2463
Somehow it works now. But the SQL generated is wrong there is no OR clause

[code]

[code]

[2016-07-10 04:20] buzai commented on #2494
谢谢您的回答我解决了

[2016-07-10 04:20] #2494 closed

[2016-07-10 19:33] alexda14 commented on #2485
see https://github.com/strongloop/loopback/issues/1676

[2016-07-11 10:30] mountain1234585 commented on #2331
@Amir-61

Please consider these two PRs. I tested it manually and seems to work.
https://github.com/strongloop/loopback-datasource-juggler/pull/995
https://github.com/strongloop/loopback/pull/2496

[2016-07-11 10:39] JoeShi opened #2497 "How to add a special keyword to a model's prototype remote method"
I have a API `POST /calendars/:calendarId/events` to create an event belongs to that calendar.

However, I'd have a get the `calendarId` before send the request. So I want to specify a special word to present the `default` calendar.

For example, I wish I can send `POST /calendars/primary/events`. Once the keyword `primary` being specified, it will add to the default calendar without knowing the p

[2016-07-11 11:04] petrlyapin commented on #2080
+1

[2016-07-11 13:34] Piu130 commented on #1010
+1

[2016-07-11 14:54] gunjpan commented on #2497
@JoeShi: assuming the relation being `Calendar` *hasMany* `Event`, I tried to reproduce the issue, and it was working for me for api: `POST /calendars/{:id}/events`.
my remote-hook code:
[code]
Can you please share your code in a sandbox so that I can see why it is not working for you?

[2016-07-11 16:06] superkhau commented on #1748
@ryankennedyio Would you like to submit a PR with the fix?

[2016-07-11 19:21] jdhrivas commented on #1241
Any updates on this feature?

[2016-07-11 19:51] gunjpan commented on #2495
@princecharmx : Closing this for now, should you need further assistance with it, mention me in the comments and I'll be glad to help. Thank you :)

[2016-07-11 19:51] #2495 closed

[2016-07-11 20:19] clarkbw commented on #1241
I'm not longer actively working on this feature, I'd recommend taking a look at the mixin from @gausie

[2016-07-11 21:20] gunjpan opened #2498 "Update test cases to be port independent"
Current test cases run server on port 3000, when needed, which crashes other test cases that try to use the same port on same instance causing CI failures.
Goal is to make test server apps port independent.
Parent issue: https://github.com/strongloop-internal/scrum-loopback/issues/932

[2016-07-12 05:42] MarkAndrewJohnson commented on #1649
@dktan it may or may not help you but I had this issue too but fixed it with an npm update on the loopback module.

[2016-07-12 06:54] mountain1234585 commented on #2331
While doing further tests with connectors, I found out that, the changes work very well for connectors which have no specific  implementation for "upsertWithWhere". It invokes the default implementation and works as expected.

But, it dint work for connectors who would want their specific implementation in their respective lib folder,  and not point to this default implementation. Even if the meth

[2016-07-12 07:17] pinkra opened #2499 "Model ownership and ACL"
Hi,
is it possible to define an owner relationship between a model and _User_ without a direct relationship in the database? For example, i have a System model that is related with User through Reseller. How can i link a System with a User considering that the belongsTo relation does not support the _through_ parameter?

[2016-07-12 13:12] KishoreBarik commented on #1653
Same problem here, get this message in every certain interval.
Most annoying thing is I send some data in query parameter, based on which I send Server-Sent Events, so when the browser throws **net::ERR_INCOMPLETE_CHUNKED_ENCODING** and tries to reconnect to the URL, the request gets duplicated which I don't want. Tried end() method of stream to notify the browser that the transmission is complete

[2016-07-12 13:51] gunjpan commented on #2487
@celicoo: is this resolved?

[2016-07-12 13:52] gunjpan commented on #2484
@henk-scheepers: Is this resolved for you? if not, please provide above info.

[2016-07-12 13:53] gunjpan commented on #2479
@rkmax : is this resolved for you?

[2016-07-12 14:21] henk-scheepers commented on #2484
Hi @gunjpan, I ended up creating a remote method that destroyed the items one by one.

The Explorer as well as AngularJS loopback service returned a 204 status. If I understand correctly it's supposed to return a object with a count property specifying how many items were deleted.

There are currently no ACL on any of the models except for the custom user model derived from the default User model.

[2016-07-12 14:36] #1869 closed

[2016-07-12 14:38] jannyHou commented on #2499
@pinkra I am trying to figure out a solution with you.

Could you explain what do you mean by "link a System with a User"? Why don't you use `hasMany Through` to establish the relation? Please see our doc about how to use [`hasManyThrough`](https://docs.strongloop.com/display/public/LB/HasManyThrough+relations)

And when you say "without a direct relationship in the database", could you explain mo

[2016-07-12 14:46] jannyHou commented on #2476
@hgouveia I am trying to reproduce your problem, could you fork this [sandbox](https://github.com/strongloop/loopback-sandbox) and replace it with your code? Thanks.

[2016-07-12 14:54] bajtos commented on #1939
Done: `loopback@2.29.1`

[2016-07-12 15:22] rkmax commented on #2479
Sorry for the late response. I went on vacations last week.

maybe it's because I'm overwriting the Model.find method

[code]

[2016-07-12 15:27] pinkra commented on #2499
The documentation of loopback specifies that in order to use the owner principal in an ACL is necessary to write a belongsTo relation between the User model and the model the ACL will be related to (System in my case). My question is: how can i do if i cannot relate the System model to User model with a belongsTo relation (in the database the system table is linked to a reseller table that is link

[2016-07-12 16:18] jannyHou commented on #2499
@pinkra I think you can try a custom role, please follow the same doc page of role owner to see how to define a custom role: https://docs.strongloop.com/display/public/LB/Defining+and+using+roles#Definingandusingroles-Dynamicroles

[2016-07-12 16:57] crandmck commented on #1939
Confirmed: https://apidocs.strongloop.com/loopback/v/2.29.1/#user-prototype-haspassword

[2016-07-12 18:46] yanalavishnu commented on #2487
https://docs.strongloop.com/display/public/LB/Defining+mixins

Create a mixin as follows
[code]

[2016-07-12 19:20] gunjpan commented on #2479
@rkmax : no problem, hope you had a good vacation :)

Re. `Model.find` method, I believe, it is not because you're overwriting the `Model.find()`. Notice in my code snippet, I've created a custom remote method `Movie.findMovie()`.

[2016-07-12 19:39] gunjpan commented on #2478
@paperrr1 : Hi, is this still happening? if yes, could you please provide the testing criteria for which it is failing?

[2016-07-12 19:40] gunjpan commented on #2491
@ritch: thoughts?

[2016-07-12 19:45] gunjpan commented on #2488
@inv-joseph : Hi, is this resolved? if not, could you please provide me a sample repo or `.json` file of the model you're trying to migrate. Also, provide me with the database/schema name from MySQL to better assist you.

[2016-07-12 22:07] alexda14 commented on #2487
[Another solution used internally by LoopBack](https://github.com/strongloop/loopback/blob/master/common/models/role.js#L30)

[2016-07-13 02:09] JoeShi commented on #2497
Hello, @gunjpan, The sandbox is here.  https://github.com/saltyegg/loopback-sandbox. the `before remote ` does not get executed. Thank you for the help

[2016-07-13 04:27] inv-joseph commented on #2488
Yes, this issue is resolved.

[2016-07-13 04:27] #2488 closed

[2016-07-13 08:06] devotox commented on #2463
Is there something i am doing wrong?

[2016-07-13 08:37] pinkra commented on #2499
But i wouldn't use a custom role, i would that an instance of System is accessible only by its owner..

[2016-07-13 09:42] foodaka commented on #517
+1

[2016-07-13 09:46] Sloff commented on #2270
Hi @jannyHou, I'm experiencing the same problem as @mora260. My model extending the user model is inheriting all of the acls.

My strongloop is the latest version

[2016-07-13 11:50] bekoli commented on #517
+1

[2016-07-13 12:46] bajtos commented on #2491
+1 for the proposal in general.

I agree the interval of ping messages should be configurable and probably disabled by default.

As for the ping message, we should use EventStream comments. See https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format

[2016-07-13 12:55] peeter-tomberg commented on #878
Having the same issue while using promises with Transactions. Switched to callbacks and it worked. Same issue appeared in an after save hook where I used callbacks though. Turns out the issue was cause I used a promise in a asyncValidator and that messed up the after save (even though I didn't use any promises in there).

[2016-07-13 13:33] stephenwil opened #2500 "Cannot set custom Access-Control-Allow-Origin CORS header"
According to the guidance in https://docs.strongloop.com/display/public/LB/middleware.json, the
cors.param.origin can also be a function:
_Can also be set to a function, which takes the request origin as the first parameter and a callback (which expects the signature err [object], allow [bool]) as the second._

How can this be the case if the file is a .JSON file?
Can't seem to override it (e.g. w

[2016-07-13 15:34] supasate commented on #1035
@bajtos I tried to create with an invalid date value and it already throws `Error: Invalid date: <invalid value>`.

It seems like this issue has been solved. I see the code that handles this issue is located at
https://github.com/strongloop/loopback-datasource-juggler/blob/06cac9e7d4d05983e7a0646bb35bdfdf5340d15c/lib/model-builder.js#L527-L533.

Therefore, I think adding a test for the Date type i

[2016-07-13 20:45] SinvalMAO commented on #1137
Tank you so much @raymondfeng, you save my day :), just me worry about leaving this User email and unique in the database for users not logarem with similar credentials.

[2016-07-13 21:22] loay commented on #2500
Hi @stephenwil
Here is how to configure it with some examples:
https://www.npmjs.com/package/cors#simple-usage-enable-all-cors-requests
Let me know if you need further assistance.

[2016-07-13 21:24] chandlervdw opened #2502 "Loopback iOS SDK with React Native"
Is there any way to utilize the iOS SDK in react-native? Do you guys have plans to build an npm module or the like?

[2016-07-13 21:24] loay commented on #1396
@fabien
Is this issue good to close or still persisting?

[2016-07-13 21:27] loay commented on #1355
@matekb
Is this issue fixed or still persisting?

[2016-07-13 21:29] loay commented on #1534
Is this issue good to close?

[2016-07-13 22:07] gunjpan commented on #2497
@JoeShi : Hey, thank you for providing the sandbox. I cloned it on my local and ran it without making any changes.
First, I did `POST /api/calendars`
then I ran: `POST api/calendars/1/events` and got the expected console output.

Are you doing the same? if not, could you please list the steps for reproducing the issue. Thanks.

[2016-07-13 22:08] gunjpan commented on #2502
@bajtos : PTAL, thanks

[2016-07-13 22:21] gunjpan commented on #2484
@henk-scheepers : I see. Yes, you're right, it should return a count of how many objects were deleted.

[2016-07-13 23:51] crandmck commented on #2242
@jannyHou How does one specify lazy connection for a datasource?  Raymond said in Slack:

So, does that mean something like:
[code]
?? Just a guess.

[2016-07-13 23:58] superkhau commented on #1941
@gaurav21r Thanks for the kind words. It's my goal to make sure everyone in the LB community are getting what you need from us (there is always room for improvement -- we listen and are very flexible regarding change). That said:

1. Will add these considerations to the guidelines
2. We have a private org for archiving (strongloop-archive), but I will bring it up and try to see if we can make it p

[2016-07-14 00:40] jannyHou commented on #2242
@crandmck If you want to defer the connection when booting the app with running `node .`, then the config you provided above will defer it for you.
And if you are going to generate swagger file by something like `apic loopback:refresh`, then you don't have to specify it in your config, the flag `lazyConnect` in apic is set true to defer the connection.

[2016-07-14 01:42] denkan commented on #1495
Sitting late at night and deploying our newly developed solution on customers staging server for tomorrow's presentation when suddenly this getCurrentContext()==null issue occurs. It's been working on our dev machines and our test server without hassle.

Feeling literally nauseous about this whole thing at the moment, with no time to rewrite the codebase, especially when recommended workaround bre

[2016-07-14 06:05] sidewaiise opened #2504 "Filters that allows for comparison of model properties"
Using loopback `where` filter would be a lot more versatile if you could do queries that relate the model's instance properties to one another:

[code]

The `neq` I'm referencing denotes 'not equal' .. eg. someProp != someOtherProp.

Right now, If i want to compare 2 properties I need to go to SQL and do a manual query there. Can this be a feature for future release?

[2016-07-14 06:09] JoeShi commented on #2497
Sorry, I did not describe the problem correctly. What I am expecting is use a special keyword to replace the `:calendarId`. For example, each user can have many calendars, but can have only one `primary` calendar. And the `calendar` object has a property `primary(boolean)` to identify whether it is the primary calendar.

When I try post `/api/calendars/primary/events?access_token=12312313`. On the

[2016-07-14 06:51] #1534 closed

[2016-07-14 07:45] stephenwil commented on #2500
Hi,
  I'm trying to override middleware.json with middleware.local.json to apply the similar solution as per the link above so thanks. If I achieve what I'm trying I will close the issue.

[2016-07-14 07:51] jdegger commented on #2491
Sending out a comment sounds like a good idea.

Is this sufficient to be parsed as a comment? `changes.write(":");`

[2016-07-14 13:30] mrbatista commented on #2504
@sidewaiise see [this](https://docs.strongloop.com/display/public/LB/Where+filter) sections `Operators`. There is `neq` operator for your use case.

[2016-07-14 13:44] bajtos commented on #2502
I think it may be easier to use the isomorphic JS client instead of iOS SDK, see #1734.

I am afraid this is not on our near-term roadmap.

[2016-07-14 13:53] pbtcjasper commented on #1495
We also experienced a sudden entrance of the `getCurrentContext()` is null. The suggested solution does not sound very appealing. Attaching custom object to every remote method is not something we like to do.

However, there is the option of passing the request and response to a custom method. You just add them to your accepted arguments. From there you will be able to get the user token etc.

For

[2016-07-14 14:01] tomhallam commented on #1495
A potential fix that I've found (if it's working fine on your dev machine) is to run `npm shrinkwrap` and install/deploy again with the `npm-shrinkwrap.json` present in the deployed bundle.

It seems that various subdependencies/relationships cause this issue, though I have no idea which combination does it.

[2016-07-14 14:56] mrfelton commented on #1495
We also experienced this all of a sudden in the last few days. Nothing changed directly on our end. My guess is that a dependency of a dependency somewhere updated their version of the async module (which I know can cause this issue). I spent the best part of 2 days trying to rework things following the recommendation here. I was using the https://github.com/snowyu/loopback-component-remote-ctx.js

[2016-07-14 14:59] tomhallam commented on #1495
@mrfelton +1 for this solution not being viable for a larger codebase. Glad that the `npm-shrinkwrap` approach worked for you.

[2016-07-14 15:17] loay commented on #2500
@stephenwil
Don't worry about closing the issue. If you still need further assistance, please let me know so I can help.

[2016-07-14 15:25] gunjpan commented on #2497
@JoeShi : So, to achieve that, you need to design your `calendar` model in a way that it has `id` property of type `string`. That's what google calendar is doing. check out [their calender model](https://developers.google.com/google-apps/calendar/v3/reference/calendars).

Thus, doing `POST /api/calendars/primary/events?access_token=12312313` is same as doing
`POST /api/calendars/{:id}/events`

whe

[2016-07-14 16:23] hgouveia commented on #2476
@jannyHou , this is the fork https://github.com/hgouveia/loopback-sandbox , i already added some migration in the code to ease the process,

to reproduce, please run the server, go to the explorer, and try to delete a comment from a post

*Step 1*
![screenshot 57](https://cloud.githubusercontent.com/assets/668866/16847163/ec234b56-49ef-11e6-815a-696626557161.jpg)

*Step 2*
![screenshot 58](https:/

[2016-07-14 18:40] cgole opened #2505 "`apic loopback:relation` is broken"
Seems like regression (#952)

[code]

version info

[code]

[2016-07-14 18:53] loay commented on #1396
Closing issue. If still persisting, please feel free to leave a message and I will re-open the issue.

[2016-07-14 18:53] #1396 closed

[2016-07-14 18:54] loay commented on #1355
Closing issue for inactivity. If issue is still persisting, please feel free to leave a comment and I will re-open the issue. Thanks.

[2016-07-14 18:54] #1355 closed

[2016-07-14 19:13] jannyHou commented on #2505
I reproduced this error on my local with latest apic, but it only fails with apic, generator-loopback works fine:
[code]

apic version:
[code]

generator-loopback:
The latest commit on master: https://github.com/strongloop/generator-loopback/tree/39e87991a1a5caf93daf8336c16f8421902cbd4c

[2016-07-14 19:27] loay commented on #1393
Closing this one as a duplicate of this one: https://github.com/strongloop/loopback-connector-mongodb/issues/129
We will keep the #129 as it has the PR attached to it.
@mrfelton Please address comments about your PR https://github.com/strongloop/loopback-connector-mongodb/pull/130 so we can merge it. Thanks.

[2016-07-14 19:27] #1393 closed

[2016-07-14 19:34] loay commented on #1741
Hi @danieltrautmann
Still facing the same issue?
If so, can you please re-upload the sandbox repo as it doesn't exist anymore?
Thanks.

[2016-07-14 19:37] loay commented on #1645
Issue resolved. Closing.
If anyone is till facing the same issue, please leave a comment and case will be re-opened. Thanks.

[2016-07-14 19:37] #1645 closed

[2016-07-14 20:37] loay commented on #1695
Hi @daveland2
I used your zip file and connected your app to my mysql db, then setup the db using the sql code in your file `EntityRelationshipDiagrams.docx`
I tried the query that should crash the server and I couldn't reproduce the error. I tried few queries .. I am usually getting some 500 status error but the server hasn't crashed.
I might have been doing something wrong or different, so If th

[2016-07-14 20:38] loay commented on #2094
Hi @ekussberg @drywolf
is this issue resolved?

[2016-07-14 21:27] loay commented on #2485
Hi @ReLrO
As in the comment above by  @alexda14 , that's the current status of `getCurrentContext()`
If you are looking for another alternative or another way to fix it, please provide a sample repo so we can debug it. As you said, the proper responses are intermittent, so I will have to investigate using a sample repo. Thanks.

[2016-07-14 21:33] 0candy commented on #1872
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-07-14 21:33] #1872 closed

[2016-07-14 21:34] loay commented on #2480
Hi @srihakum

You can validate using this option:
https://docs.strongloop.com/display/public/LB/Validating+model+data

As for the child part, let me see if I understand correctly with an example:
Parent: `Vehicle` and attributes: `price`: required, `color`: optional
child: `car` and attributes: `color`: required.
so you are saying that the `color` attribute needs to be validates for the car but it

[2016-07-15 01:27] JoeShi commented on #2497
Hello, @gunjpan Thank you for the explanation. I have tried the following, add the `id` property. Did I miss something? The before remote still does not get executed. Sorry I am pretty new to loopback.

[code]

[2016-07-15 08:34] danieltrautmann commented on #1741
Hi @loay

the project was canceled, so I stopped investigating.
Maybe it was an issue with the encoding and/or collation. I used utf8mb4 and saw that MariaDB provides some collation with a "mysql" suffix, but I didn't tried it.

[2016-07-15 12:51] Edudjr commented on #465
Check [this](https://github.com/strongloop/loopback/issues/651#issuecomment-167111395) solution from ericpietro.

[2016-07-15 14:15] loay commented on #1741
@danieltrautmann Thanks.
It is just that I couldn't reproduce it. if you run to the same issue again, please leave a comment here so we can re-investigate.

[2016-07-15 14:15] #1741 closed

[2016-07-15 14:34] gunjpan commented on #2502
Thanks @bajtos for chiming in. Closing this in favor of #1734

[2016-07-15 15:21] gunjpan commented on #2504
@mrbatista thanks for chiming in.
@sidewaiise: Did above suggestion help you? The `where` filter supports _almost_ all comparison [operators](https://docs.strongloop.com/display/public/LB/Where+filter#Wherefilter-Operators).
Closing this now. Should you need further assistance with it, please mention me in the comments and I'll be happy to help. Thank you and have a great weekend :smiley_cat:

[2016-07-15 15:21] #2504 closed

[2016-07-15 15:26] gunjpan commented on #2497
@JoeShi : No problem.
As mentioned in [the doc I suggested](https://docs.strongloop.com/display/APIC/Model+definition+JSON+file#ModeldefinitionJSONfile-IDproperties):

So, in your `JSON` file above, set `IdInjection` to `false`.

Let me know if that works.

[2016-07-15 15:41] JoeShi commented on #2497
Hello, @gunjpan This is my new `calendar.json` file. Still now working. The [sandbox](https://github.com/JoeShi/loopback-sandbox) is updated. Thank you.

[code]

[2016-07-15 15:45] jannyHou commented on #2476
@hgouveia Thanks i reproduced it.
I am not sure does `destroyById` also returns the `count`, from our [doc](http://apidocs.strongloop.com/loopback/#persistedmodel-destroybyid) it only callback the error msg. But from the code it should include `count` since it eventually called [`destroyAll`](https://github.com/strongloop/loopback-datasource-juggler/blob/06cac9e7d4d05983e7a0646bb35bdfdf5340d15c/li

[2016-07-15 16:05] daveland2 commented on #1695
Thanks for your note on this issue.

I have been pulled off into other more urgent projects since this issue was
shared with you, and at the moment, I am not available to pursue this
situation.

However, it my expectation that things will eventually shift back into this
arena, at which time I will let you know the latest update on this issue.

Dave Eland

On Thu, Jul 14, 2016 at 3:37 PM, Loay <not

[2016-07-15 16:18] jannyHou commented on #2505
I believe it's caused by missing https://github.com/strongloop/generator-loopback/commit/ba69e646cc0eeb3d16a78bf07b1e5c4064e01806
Will apply that commit again to fix it.

[2016-07-15 16:34] Amir-61 commented on #2476
It should return `info` object indicating the number of affected/deleted items even in NoSQL connectors like `loopback-connector-mongodb`; please see [here](https://github.com/strongloop/loopback-connector-mongodb/blob/01128d046dc549c2eaa8854f3e702e622bffc746/lib/mongodb.js#L900), info object is returned by `destroyId` from `loopback-connetcor-mongodb`. If it does not return `count`, it seems a bu

[2016-07-15 18:03] biancajiang commented on #2314
seeing the same pb.

I have a "relManager" registered by Role.registerResolver and the following ACLs which works on WRITE.

"acls": [
    {
      "accessType": "WRITE",
      "principalType": "ROLE",
      "principalId": "$everyone",
      "permission": "DENY"
    },
    {
      "accessType": "WRITE",
      "principalType": "ROLE",
      "principalId": "relManager",
      "permission": "ALLOW",

[2016-07-15 18:09] biancajiang commented on #2314
Our workaround until this is fixed is using ACL.checkAccessForContext() instead with an extra "accessToken" for the context:

var context = {
         accessToken: myAccessToken,
         model: MyModel,
         property: 'updateAll',
         modelId: myModelId,
         accessType: 'WRITE'
       }

       app.models.ACL.checkAccessForContext(context, ...)

[2016-07-15 18:23] buzai opened #2506 "after that i try use this api to get all of users,but it tell me 401."
http://localhost:3000/api/users
i want use it to get all users

i write some script.js to creat 3 people ,i think they are admin uesrs.

module.exports = function(app) {

var Role = app.models.jikeUser;
Role.create(

[
{username: 'John', email: 'john@doe.com', password: 'opensesame'},
{username: 'Jane', email: 'jane@doe.com', password: 'opensesame'},
{username: 'Bob', email: 'bob@projects.com', pa

[2016-07-15 18:37] jannyHou commented on #2505
@kraman Do you have idea which version of generator-loopback does apiconnect installs from hursley 55501? it says 1.22.22 but actually it's not the latest code on master branch and it doesn't include this commit https://github.com/strongloop/generator-loopback/commit/ba69e646cc0eeb3d16a78bf07b1e5c4064e01806 , which fixes the error.
Thanks :)
[code]

[2016-07-15 20:00] tvdstaaij commented on #1495
@wprater I would really like to know whether or not @snowyu's implementation of this workaround as a component ([loopback-component-remote-ctx](https://github.com/snowyu/loopback-component-remote-ctx.js)) is affected by the [concurrent request problem you described](https://github.com/strongloop/loopback/issues/1495#issuecomment-192985634). If it's not affected then I will definitely use it as a w

[2016-07-15 20:15] zanemcca commented on #1495
+1 for this method being a poor solution.

I refactored all of my code and tests after this popped up randomly only to discover that it does not work on related methods like `contractor.prototype.__create__contract`.

It appears that the `options` arg is not being persisted for related models. You can check `method.accepts` during runtime and see that it does not have `options` even after verifyin

[2016-07-15 20:16] zanemcca commented on #1495
For anyone who is interested here is an updated version of the hack that takes into account all of the previously listed errors, except for the  related methods error.

[code]

This takes into account the bug pointed out by @wprater and a fix for it by @digitalsadhu.
It also adds a blacklist that will ignore certain functions such as login and logout.This fixes the issues noticed by @ryedin and ot

[2016-07-15 20:24] buzai commented on #2506
https://github.com/buzai/strongloop-account
this is my code

[2016-07-15 20:26] zanemcca commented on #1495
@richardpringle is there any update on a fix for this issue?

[2016-07-16 00:10] sidewaiise commented on #2504
Ok I think my point wasn't conveyed very well. Yes I'm aware there is a `neq` operator already available.

The important part is the `property: someOtherProp` part - where `someOtherProp` is actually another property name within the model. It would be similar to doing an SQL query like:

`SELECT * FROM myTable WHERE column_A != column_B;`

Does that make sense?

[2016-07-16 05:55] tomgie opened #2507 "Use loopback with limited api?"
Is there a way for an example delete something with a post request through the URL or headers? I am limited only on POST and GET requests for a program I am using. Otherwise can anyone point me in the right direction to a database type thing like loopback?

[2016-07-16 06:36] holbora opened #2508 "hasManyThrough query relation model in parent scope"
Hi,

I have the following situation:

**Recipe.json**

[code]

**Category.json**

[code]

and the 'through' model

**RecipeCategory.json**

[code]

I've simplified the models for readability.
My question is:

How can I get all Recipes with name like 'test' and category in category1Object, category2Object..

  Recipe.find({
          filter: {
              where: {
                name: { like: "t

[2016-07-16 08:38] devotox commented on #2463
Should i change up my filters?

[2016-07-16 17:12] emresebat opened #2509 "Order of model properties which inherit custom model"
Hi

I have a model l which inherits from Entity,

Entity properties:

[code]

Payment properties

[code]

The order of the properties for Payment model on explorer is listed as

[code]

So first own properties and then base properties, also on database level id, active, createdAt, updatedAt columns are generated last which I don't prefer.

How can I change this behaviour?

[2016-07-17 01:47] kukobumpero commented on #527
I'm also suffering with this right now... I'm new to loopback and expected to have "class table inheritance" as the default behaviour etc. It's quite hard for my head to accept that extending "person" into a "customer" generates two tables with **absolutely no connection**, independent id's and customer literally repeats all of person's properties/fields etc...

I guess I will have to do some "cop

[2016-07-17 17:17] holbora commented on #2508
+1

[2016-07-18 03:09] sebastianfelipe commented on #1970
Thanks! Same problem. I think a lot of users has the same problem, really is very useful to have the model account which has been used to log in a user. Thanks. I read the answer, I haven't implemented yet, but I know that is the answer I was looking for. :)

[2016-07-18 03:36] sebastianfelipe commented on #1970
One last thing. The problem still affecting the implementation of solutions. Because the ACL doesn't discriminate between the model. It would be very good if the ACL can add a new feature called model or something. For example "authenticate" with model "model", or something simila, and for behind, compare the model of the that was added in the "createAccesstoken" with that added in the ACL. In cas

[2016-07-18 03:46] shSina commented on #1970
it is possible to handle the issue by creating new admin role in server boot scripts folder as below ,
[code]
and use it like this(in models acls ):
[code]

[2016-07-18 04:08] sebastianfelipe commented on #1970
Thanks, yes, I was thinking in implement that option. Thanks. I made the changes you posted above, and when I log in with a user, I have the model name feedback as we wanted. The problem I have, is that when I migrate the database I won't have the "model" column. That has to be added by hand? I mean, is there any way to add the physical column to the database by automigration or similar? Thanks.

[2016-07-18 04:56] sebastianfelipe commented on #1970
With MongoDB, I don't have problems, but with relational databases, I've tried and I haven't found a good implementation. I'm trying with Mysql :/

[2016-07-18 05:12] sebastianfelipe commented on #1970
I thought in a solution, I already tested. In case that we use relational databases, like MySql, to migrate without a problem. We can create an AccessTokenCustom, extendind from Accesstoken like this:
`
{
  "name": "AccessTokenCustom",
  "base": "AccessToken",
  "idInjection": true,
  "options": {
    "validateUpsert": true
  },
  "properties": {
    "model": {
      "type": "string",
      "requi

[2016-07-18 07:19] upupzealot commented on #1371
@superkhau It's seems that there is no doc teach users how to create hasManyThrough polymorphic relation.
I think it's more a bug(or missing) than a question in the doc.

[2016-07-18 12:42] yagop opened #2510 "Unknown property undefined is skipped for model RoleMapping"
I'm trying to delete a Role mapped to a user but instead of that it removes all `RoleMapping` and `Roles` with that roleId.

`DELETE /modelapi/Usuarios/184/role/1`

[code]

`Usuario` is the model wich extends from `User`

[code]

Something similar happens when querying an specific user role:

`GET /modelapi/Usuarios/182/role/1`

[code]

[2016-07-18 15:01] hoangtrongphuc opened #2511 "So many issues"
2 month ago, I check loopback source with more 500 Issues, and now, everything not change? So loopback maybe use in production.
Maybe I will wait for loopback v3

[2016-07-18 15:04] domino3d opened #2512 "memory connector bad response status code"
Hi
can you please change status code for Duplicate entry error from 500 to 409 ?

Here is a thing, when you put something into cloudant connector, duplicate error message returns 409
But when the same thing occur in strongloop memory connector it returns 500 with stack:

My suggestion is just to change ...\node_modules\loopback-datasource-juggler\lib\connectors\memory.js

from

to

[2016-07-18 15:59] paperrr1 opened #2513 "All SLC CTL commands met with http://127.0.0.1:8701" failed with Error: connect ECONNREFUSED"
I can't bring anything up.  All my actions are refused.  I have absolutely no idea why.  What can I do to resolve this and avoid in the future?

[2016-07-18 18:05] superkhau commented on #1035
@supasate Thanks for contributing the test to verify invalid dates. I'm going to close this as resolved by strongloop/loopback-datasource-juggler#1000.

[2016-07-18 18:05] #1035 closed

[2016-07-18 19:21] davidcheung commented on #2461
I believe this is a bug as well, how and when relations are populated seems inconsistent,
when i add new record, then the first time around I get `photo.folder()` populated
then when the `create` is done as `update` it doesnt get `photo.folder()` anymore
issue reproduced on https://github.com/strongloop/loopback-sandbox/compare/master...davidcheung:nest-remoting-sandbox-2461?expand=1

### Scenario

[2016-07-18 19:39] crandmck commented on #2507
A REST app should use the HTTP DELETE method to delete a record; otherwise it wouldn't truly be REST.  So that's how LB works, e.g. [PersistedModel REST API - Delete model instance](https://docs.strongloop.com/display/public/LB/PersistedModel+REST+API#PersistedModelRESTAPI-Deletemodelinstance).  You might be able to hack around it, e.g. using a remote method, but I don't think that is advisable.

[2016-07-18 19:49] alexda14 commented on #2507
@crandmck
What about [Express HTTP method override](https://github.com/expressjs/method-override) ? Does it solves an issue ?

[2016-07-18 19:49] crandmck opened #2515 "Move LoopBack docs to open source GitHub repo"
Currently [LoopBack docs](https://docs.strongloop.com/display/public/LB/LoopBack) are not publicly editable.  Lots of people have requested this, and it makes total sense.  This is a tracking issue for the "epic" to move the LoopBack docs into an open-source repo.  The goal involves quite a bit of work and numerous separate tasks.  Note that the [API docs](http://apidocs.strongloop.com/) are alrea

[2016-07-18 20:38] superkhau commented on #1371
@upupzealot I think polymorphic relations were contributed by @fabien awhile back, I'm not sure if the proper docs came along with the feature. @crandmck Can you give us some insight here?

[2016-07-18 20:44] superkhau commented on #2511
@hoangtrongphuc You can take that as a sign of a healthy active project. We have a team of people working on triaging issues, but it takes time to go through each and every issues individually (we get roughly 60-70 issues every 2 weeks, so just to balance the incoming numbers is a feat in itself).

While comparing numbers, you could take a look at https://github.com/nodejs/node. They have about 50

[2016-07-18 20:44] #2511 closed

[2016-07-18 21:00] superkhau commented on #2512
@domino3d Would you like to submit a PR?

[2016-07-18 21:15] superkhau commented on #2507
Remote methods as suggested by @crandmck is the recommended way if you want to craft your endpoint to your specification. As recommented, using HTTP DELETE makes more sense. Closing this as resolved.

[2016-07-18 21:15] #2507 closed

[2016-07-18 21:48] stalinkay commented on #1739
+1

[2016-07-19 05:51] tomritsema commented on #2513
Same thing here.  It seems as if the internal process manager _pm_ is down.
`slc start` in the directory where my package.json resides seemed to have started it again

[2016-07-19 06:48] guanbo commented on #1495
As @hotaru355 @zanemcca mention to "model.prototype.__create__relation" not work for @ritch 's solution. Because prototype.methods resolve by dynamically

https://github.com/strongloop/strong-remoting/blob/master/lib/shared-class.js#L130

My solution is walking around by acl.
[code]

[2016-07-19 08:23] sebastianfelipe opened #2516 "Multi-User Problem Using ACL and Extended Models Issues"
Hi friends,

There is a big problem. I've implemented a solution, but I think there have to be a real update from the loopback team. Here the case:
- There are 2 users, userA and userB. Both extend from the User model
- userA has a lot of rows with users already registered from 1 to n, and userB from 1 to m
- You loggin with userA, and you can do for example GET userAs/idGivenWhenLoggedIn and you

[2016-07-19 09:57] hgouveia commented on #2476
@Amir-61 @jannyHou i just tested with MongoDB 2.4.9 on my server, and same problem, i also made this test using memory db and same issue

[2016-07-19 14:24] bajtos commented on #2462
In my opinion, we need to allow users to use 3rd party connector, either community maintained or perhaps their proprietary one.

I guess the problem boils down to how to recognize what package (name?) is a valid connector.

[2016-07-19 14:38] #2502 closed

[2016-07-19 15:02] qpresley commented on #2462
Does use of a 3rd party connector strictly imply that the automatic install of that connector must succeed?  What is wrong with allowing them but not installing them? @bajtos

[2016-07-19 18:18] james-relyea opened #2517 "Case-sensitivity of 'arg' in remoteMethod"
[Loopback documentation](https://docs.strongloop.com/display/public/LB/Remote+methods#Remotemethods-Argumentdescriptions) states that the type property of an argument for a remote method "_must be a Loopback type_".

The documentation for [Loopback types](https://docs.strongloop.com/display/public/LB/LoopBack+types) further states that the type is case-_insensitive_.

However, I used _Boolean_ as

[2016-07-19 19:26] superkhau commented on #2517
@crandmck ^

[2016-07-19 21:16] crandmck commented on #2507
@alexda14 I'm not familiar with that module _per se_ but I believe it would be appropriate only to use it with an "standard" Express app, not as part of a LoopBack app.

[2016-07-19 21:24] crandmck commented on #1371
We have docs for "regular" [HasManyThrough relations](https://docs.strongloop.com/display/LB/HasManyThrough+relations) but not for _polymorphic_ hasManyThrough relations.  In fact, I didn't even know that was possible.  I welcome any information on examples on that.

[2016-07-19 22:18] superkhau commented on #1371
@fabien Can you help out @crandmck with some documentation? I believe you implemented this feature awhile back?

[2016-07-19 22:25] cgole opened #2518 "Default value left blank for array items in property type array does not work"
Enter an empty property name when done.
? Property name: p1
   invoke   loopback:property
? Property type: array
? The type of array items: string
? Required? Yes
? Default value[leave blank for none]:
Warning: please enter the p1 property again. The default value provided "" is not valid for type: string

[2016-07-19 23:48] crandmck commented on #2517
The note in the docs is explicit:

That is, I was specifically told to add this at some point...

So either:
1. It was true when I added it, but that has changed and it's no longer true.
1. There is a bug, and it _should_ be true, but is not (at least for Boolean).

@superkhau Do we have any tests or examples that would indicate which of the above is the case?
@raymondfeng Any comments?  Are type

[2016-07-20 01:29] juanscolari commented on #517
+1

[2016-07-20 04:18] stretchkennedy commented on #517
+1. This is seriously inconvenient, because the order of included relations isn't stable if `limit` changes, making it impossible to reliably paginate across them.

[2016-07-20 06:13] Bohmaster commented on #517
+1

[2016-07-20 07:19] dongmai opened #2519 "MongoDB - loopback.getCurrentContext() return null"
Hi everyone ,

Sorry for duplication, but I'm facing it again on nearly the latest version of loopback.
 Here is my `pacakge.json`

[code]

I've used a middleware to save current logged user data into context but it (`getCurrentContext`) always returned `null` when working with MongoDB (memory db works just fine.)

Bellow is my code,

[code]

Can anyone please have a look ? Have I done something w

[2016-07-20 13:09] Overdrivr commented on #817
@raymondfeng Which middleware are you referring to ?

Does this mean that we can store OAuth tokens directly inside LB's AccessToken model, using node api equivalent of `POST /User/{id}/accessTokens` ?

[2016-07-20 13:44] demakrated commented on #1692
+1

[2016-07-20 15:58] m3hari opened #2520 "working with PDF files loopback storage component"
**How can I upload PDF files using loopback storage component?**
I have tried adding PDF content type on storage config as follows

[code]

but it fails with the following  stacktrace

[code]

[2016-07-20 16:28] justinwatkins opened #2521 "Pass options through to the resetPasswordRequest event"
user.js in User.resetPassword
`UserModel.emit('resetPasswordRequest', {
          email: options.email,
          accessToken: accessToken,
          user: user
        });`

The resetPassword method already accepts an options property bag and it seems trivial to pass this back through in the event object.  It would be useful to be able to pass context data through to that email (like some site st

[2016-07-20 16:33] justinwatkins opened #2522 "UserModel.setup"
`
// Access token to normalize email credentials
UserModel.observe('access', function normalizeEmailCase(ctx, next) {
  if (!ctx.Model.settings.caseSensitiveEmail && ctx.query.where && ctx.query.where.email) {
    ctx.query.where.email = ctx.query.where.email.toLowerCase();
  }
  next();
});
`

This code completely chokes if you have case insensitive email on and you try to query the user api by e

[2016-07-20 18:30] james-relyea commented on #2517
Just sharing some more info on this. This is a test model I used:

[code]

Running the following request with a value of _false_ for both _favourite_ and _favourite2_:
`curl -X POST --header "Content-Type: application/x-www-form-urlencoded" --header "Accept: application/json" -d "favourite=false&favourite2=false" "http://localhost:3000/api/tests/favourite"`

I see this in the log:
[code]

And this

[2016-07-20 19:10] achintverma opened #2524 "Limit filter on included models results in unexpected output"
Assume there are two models Account and Listing. I want to pull accounts with 5 listings from each account. When make a REST call as follows:

[code]

It gives result with No Listings in few accounts but in reality there are listings under each user

[2016-07-20 19:27] achintverma commented on #2524
BTW, connector is MongoDB

[2016-07-20 19:42] 0candy commented on #2519
Thank you for pointing out this issue. Due to the instability, there are plans to deprecate this method.
See https://github.com/strongloop/loopback/issues/1676

[2016-07-20 19:55] upupzealot commented on #1371
@crandmck I just tried things out.
It seems that polymorphic on hasManyThrough works like this:
[code]
I did this in a mixin script, but it also works in model json(tried).
Hope this would be helpful :-)

[2016-07-20 20:09] ritch opened #2525 "EPIC: KeyValue models"
### Problem

I should be able to easily read and write values in cache-friendly data stores. I should have control over exactly when each value expires. I should be able to choose my store.

### Example

[code]

## Tasks
- [x] The first cut
- https://github.com/strongloop/loopback-datasource-juggler/pull/1023 (master)
- https://github.com/strongloop/loopback-datasource-juggler/pull/1031 (2.x)
- [x

[2016-07-20 20:56] superkhau commented on #1371
@upupzealot Thanks for the input! Always appreciated when the community helps out with issues like this. Ideally, we should have an example dedicated to this topic.

[2016-07-20 21:28] superkhau commented on #2517
Not sure, but I'm fairly sure the intent was to keep it case-insensitive.

@james-relyea Can you try to setting type to Boolean (without the double quotes). It's probably being set to true because it thinks the value is a String. Anyways, it sounds like a bug but I would like to confirm if that is the case. Please provide a sample repo so we can clone it on our end to verify. @richardpringle @gunj

[2016-07-20 23:24] crandmck commented on #1371
Thanks @upupzealot I added https://docs.strongloop.com/display/APIC/Polymorphic+relations#Polymorphicrelations-HasManyThroughpolymorphicrelations.  Could you also paste the corresponding model JSON?

[2016-07-21 02:16] sidewaiise commented on #2409
Also experiencing this. Would love a solution - makes debugging and verifying that nested queries are available (and working) through REST.

[2016-07-21 02:19] sidewaiise opened #2526 "Control of nested query access (nestRemoting) via ACL"
Using nestRemoting on model relations, how do we define ACL rules for data access?

for relations it's like:

`"property": [ "__findById__relationName", "__create__relationName" ]`

So I assume it will be something like **"__findById__relationName__RelationRemoteMethodName"**

Any specifics on this?

[2016-07-21 03:59] james-relyea commented on #2517
I tried with `type: Boolean` and it seems to set its type to object. Throws an error:

[code]

[2016-07-21 05:19] jjhesk opened #2527 "missing function from findByIdAndUpdate"
I have been using the presistent model to work with mongodb. I cant find the function `findByIdAndUpdate` exist upon calling this name.  referenced by http://mongoosejs.com/docs/api.html

Should this part be added?

[code]

[2016-07-21 05:45] jjhesk commented on #2527
`updateattribute` is the mapping.

Referencing from https://apidocs.strongloop.com/loopback/#persistedmodel-prototype-updateattribute I cant find much sample code from the internet.

[2016-07-21 09:20] fargozhu opened #2528 "Can't Create a New Datasource Using SLC"
I am trying to create a new datasource using slc command line without success. The EISDIR states that looks like a permission issue but even going crazy (chmod 777) it still persists.

─$ slc loopback:datasource
events.js:154
      throw er; // Unhandled 'error' event
      ^

Error: EISDIR: illegal operation on a directory, read
    at Error (native)

[2016-07-21 09:31] inv-joseph opened #2529 "Need to change data-source according to domain name"
Hi ,
My new task in loopback is to change the data-source according to the domain name requested from user, So initially I changed all the defaut  dataSource in the model-config.json to null.
And I changed code in application.js in  project-folder/node_modules/loopback/lib/application.js

The following are added in the

[code]
Here I am setting the domain names and datasoure name from config file.

[2016-07-21 13:29] bajtos commented on #2422
@0candy please check the list of module we are going to deprecate (see https://github.com/strongloop-internal/scrum-loopback/issues/897#issuecomment-232953068) and remove them from the list of modules to globalize.

[2016-07-21 13:30] mohit1993 commented on #1460
Is there any update on this issue? I have a similar problem. I have two models Merchant and Consumer, data model belongs to both merchant and consumer. I want to use owner relation on this data. But only consumer is working because it is declared. Is there any way to use both of them?

[2016-07-21 13:56] 0candy commented on #2422
Just confirmed, none of the deprecated ones are in the list.

[2016-07-21 14:39] upupzealot commented on #1371
@crandmck I used the Author and Picture model in the page you give, not well tested but it should work. I will update this issue if I find out something new.
the **ImageLink** model
[code]
in javascript:
[code]
in json file
[code]

[2016-07-21 15:51] richardpringle commented on #2517
@crandmck: this is a confirmed bug, not a doc issue

[2016-07-21 15:57] richardpringle commented on #2517
Creating a new issue in `Strong-remoting`: strongloop/strong-remoting#326

[2016-07-21 17:15] ritch opened #2530 "Key Value Redis Connector"
Follow on for: https://github.com/strongloop/loopback/issues/2525

In order to use the proposed `KeyValueModel` you'll need a `key-value-connector`.

**loopback-connector-kv-redis**

This will implement the kv interface specified in https://github.com/strongloop/loopback/issues/2525 for redis.

/cc @raymondfeng @bajtos

# Prerequisite

#2550

# Tasks

 - [x] project infrastructure (repository, REA

[2016-07-21 18:32] crandmck commented on #1371
That's great, thanks very much @upupzealot !
It's always better to stick with the same example models, etc.

I updated https://docs.strongloop.com/display/APIC/Polymorphic+relations#Polymorphicrelations-HasManyThroughpolymorphicrelations

I'm going to close this issue, since there's not at least minimal documentation, but if anyone wants to suggest additions or modifications to ^ please do so!

[2016-07-21 18:32] #1371 closed

[2016-07-21 19:03] bekl opened #2531 "Extending AccessToken does not work"
If both User and AccessToken are extended, login fails with:

[code]

&lt;project dir&gt;/common/models/customer.json:

[code]

&lt;project dir&gt;/common/models/customer-access-token.json:

[code]

&lt;project dir&gt;/server/model-config.json:

[code]

If the default entry for AccessToken is not removed from model-config.json, login works but ignores CustomerAccessToken. The issue affects both Lo