[2015-09-29 21:34] superkhau commented on #1705
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-09-29 21:38] superkhau commented on #1705
Actually, can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

I would like to confirm whether it's a bug or not. But for future questions, please follow the instructions from the previous comment.

[2015-09-30 00:56] jrschumacher commented on #637
@raymondfeng can you look at strongloop/loopback-datasource-juggler#725 and give me some feedback.

[2015-09-30 10:32] proreact-mj commented on #1692
+1

[2015-10-01 09:06] bajtos commented on #1700
Oh, I beg my pardon, you need to put the JSON snippet to a different file: `server/component-config.production.json`. I'll fix my comment above to prevent further confusion.

[code]

[2015-10-01 09:07] bajtos commented on #1700
Yes, you can use the same convention that works for other config files (datasources, model-config, etc.) - just add `.{env}.` to your file name, e.g. `server/component-config.production.json`

[2015-10-01 17:10] superkhau commented on #1579
@ianseyer @ernie58 Are you guys still running into this issue?

[2015-10-01 17:33] #1322 closed

[2015-10-01 23:46] crandmck commented on #1700
OK, please review:
- [Turning off stack traces](https://docs.strongloop.com/display/LB/Environment-specific+configuration#Environment-specificconfiguration-Turningoffstacktraces)
- [Disabling API Explorer](https://docs.strongloop.com/display/LB/Environment-specific+configuration#Environment-specificconfiguration-DisablingAPIExplorer)

[2015-10-02 01:18] gonzofish commented on #1137
So I looked at the roadmap and noticed it had an (8) next to it...does this represent the effort to complete it? What is the likelihood of this getting done? When is the target for this getting done?

[2015-10-02 02:39] mhamann commented on #1702
How much code do you need to see? The project I'm using this in is pretty complex. Several models, a mongo datasource, and the typical boot stuff.

[2015-10-02 08:35] riteshjagga commented on #274
I am trying to follow the workaround by the issue owner in the boot script
`var ObjectID = require('mongodb').ObjectID;`

I get the following error: *Cannot find module 'mongodb'*

Loopback Connector MongoDB is installed in the `node_modules` directory which uses mongodb.

How do I use mongodb in the boot script? I am quite new to Node.js coming from PHP, Flex and Java background, sorry for a triv

[2015-10-02 08:54] Sogl opened #1708 "Can't install (OS X 10.10, node 4.1.1, npm 3.5.5)"
Hi!

Tried to install and got an error:
[code]

How to fix?

[2015-10-02 11:04] Sogl commented on #1708
Fine with node 0.12.7.

Any plans to add support for node 4?

[2015-10-03 20:26] matthewdickinson commented on #1566
I believe that I have found why I still have an issue and you don't: from my tests, Loopback no longer handles models which have plural model names -- when my model files were generated, they came pre-pluralized (e.g. my model is Customers instead of Customer). When I converted these modules to use singular model names, then the tests outlined work fine. However, in previous versions of Loopback,

[2015-10-04 00:33] MarkAndrewJohnson opened #1709 "hasAndBelongsToMany deleted objects"
We have a new app server that is mostly running fine.  We have however encountered one problem.

We have among others, two models - Member (extends User) and Product.

As a two-way relationship a member can like a product and for that product you can see it's likes, so we used hasAndBelongsToMany relationship.

Now where the problem exists is we can delete a product (but not a member).  The proble

[2015-10-04 02:39] esco commented on #1666
:+1:

[2015-10-04 02:50] esco opened #1710 "$owner ACL requires model to be persisted"
Let say I have a Post model and a User model. Post has a `belongsTo` relation to User. There is an ACL denying `$everyone` anything and allowing `$owner` "WRITE". When POSTing a new Post that contains a `userId` field (the name of the belongsTo relation) via /api/Post, a 401 is returned. From the [looks of it ](https://github.com/strongloop/loopback/blob/e68cd8fc87730404a78e1475b828886e3582bd6f/co

[2015-10-04 06:59] conradj commented on #517
+1 (Postgre)

[2015-10-04 07:53] mastertinner opened #1711 "Calculated properties stripped from remote method in production"
I have created a hook which calculates some additional properties for a model and then adds them to the response as follows:

[code]

This works fine. Also I created a remote method to return all the businesses nearby a user's location:

[code]

This also works fine as long as `NODE_ENV` is set to `development`. As soon as I set `ENV_NODE=production`, a `GET` to my remote method doesn't return the

[2015-10-04 12:13] tsteuwer commented on #445
@digitalsadhu you are amazing. If loopback could support json api then I know a ton of ember sites that would love to switch over to loopback

[2015-10-04 12:21] digitalsadhu commented on #445
Thanks a lot @tsteuwer ! Progress is going well. Adding tests as we speak (My wife has our little son off for a walk so I'm squeezing in a couple hours work on the project)

[2015-10-04 14:22] digitalsadhu commented on #445
@bajtos Currently bodyparser isn't supporting content-type `application/vnd.api+json` and ctx.req.body === [] if I don't set content-type specifically to `application/json`. I wonder what the best way to fix this is? Should I submit a patch to loopback core to support `application/vnd.api+json` body parsing?

[2015-10-04 15:12] raymondfeng commented on #445
@digitalsadhu You can configure the json body parser so that it can support extra types. See https://github.com/expressjs/body-parser#type

[2015-10-04 15:23] raymondfeng commented on #445
BTW, let's refactor https://github.com/strongloop/strong-remoting/blob/master/lib/http-context.js so that it can expose hook/extension point to allow plugin of media type handlers, for example.

[code]

[2015-10-04 18:02] blackvirus18 opened #1712 "Not Able to update dynamic fields"
I have a model with the following structure
{
firstName: "deepesh",
lastName: "naini",
email: "theinvincible975@gmail.com"
question: {
5611662e337ae3605046f0d5: false,
5611662e337ae3605046f0d7: false
},
}

Now what I want is based on a condition I want to update the boolean values to
{
firstName: "deepesh",
lastName: "naini",
email: "theinvincible975@gmail.com"
question: {
5611662e337ae3605046f0d5

[2015-10-04 22:20] dregre commented on #1692
+1

[2015-10-05 03:11] blackvirus18 commented on #1712
@raymondfeng Any inputs on this would be much appreciated.

[2015-10-05 07:22] digitalsadhu commented on #445
thanks @raymondfeng that refactor would be very useful as I don't want to have to instruct people to configure the body parser separately from the module i'm writing. `remoteObjects.registerMediaType` would be excellent. I currently have a working solution here https://github.com/digitalsadhu/loopback-component-jsonapi/blob/master/headers.js#L4-L26 but its not ideal, bodyparser would be better

[2015-10-05 14:06] hourliert commented on #517
+1

[2015-10-05 14:20] solher commented on #517
+1

[2015-10-05 14:32] bajtos commented on #445
I would personally submit a patch to body-parser so that it recognises `application/vnd.api+json` as JSON by default. The other approaches listed above are fine with me too.

[2015-10-05 14:34] digitalsadhu commented on #445
K, thanks @bajtos I can look at doing this.

[2015-10-05 15:12] digitalsadhu commented on #445
@bajtos looks like we need to support it in loopback or perhaps just in loopback-component-jsonapi. bodyparser don't wish to support it directly. See. https://github.com/expressjs/body-parser/issues/131#event-426888449

[2015-10-05 15:39] digitalsadhu commented on #445
@bajtos @raymondfeng
To support JSON API correctly, I need to translate all error responses from:
[code]
to
[code]
I've noticed that not all errors go through the remote method `afterError` hook.

My validation errors are nicely formatted for JSON API as above which is half the battle but other errors such as 404s and some 500s seem to avoid the hook.

Any pointers re: where I might go to try to h

[2015-10-05 16:30] zanemcca commented on #367
Is it mandatory to use automigrate or autoupdate to get indexes to work?
If it is mandatory could we get a documentation update for indexes?

After some trial and error I got my composite indexes working with MongoDB by calling autoupdate at application startup.

[2015-10-05 20:53] digitalsadhu commented on #445
@bajtos @raymondfeng Disregard last question. Solved by a combination of a custom error handler middleware to catch some errors and a custom rest api middleware function as described here: Environment-specific+configuration#Environment-specificconfiguration-CustomizingRESTerrorhandling to catch the rest. In the end I needed to transform errors in 3 different places so im wondering if I could have

[2015-10-05 21:45] superkhau commented on #367
@raymondfeng ^

@crandmck ^

[2015-10-05 22:00] superkhau commented on #1711
Can you provide a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

[2015-10-05 22:03] superkhau commented on #1710
Please ask questions on one of our official channels. See https://github.com/strongloop/loopback/wiki/Questions. Closing.

[2015-10-05 22:06] superkhau commented on #1709
Can you provide a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

[2015-10-06 11:54] chandrasekhark opened #1713 "How to reterive entire schema in response using loopback"
When i execute post method in loopback using rest api, i am getting response success with data including id (primary key) and parameters which i send as input.

I want entire table schema in response. How to achieve it?

![screenshot from 2015-10-06 16 33 38](https://cloud.githubusercontent.com/assets/8915614/10307790/0fb94e96-6c4f-11e5-880d-1dc6640bfe20.png)

[2015-10-06 17:50] jorgenfb commented on #770
This would really help create a better user experience. Only require the user to log in when needed, not before trying your application.

[2015-10-06 20:44] vargo commented on #1692
+1

[2015-10-06 22:36] srl295 commented on #782
BTW I recommend [cfenv](https://github.com/cloudfoundry-community/node-cfenv) for accessing Cloud Foundry-provided environment variables.

[2015-10-07 03:38] kennethlynne opened #1714 "Protected properties (password etc) exposed"
We have configured a relationship where a content belongsTo a user.
Also we have a notification entity that also has a belongsTo relationship to a user.

We use mongoDb.

I see in the database that the owner is saved in its entirety on a content and notification (cached relation). I could not find any documentation on this caching?

# WTF
I also see that when we GET content/:id and GET user/:id/no

[2015-10-07 14:50] ianseyer opened #1715 "AssertionError: missing path on slc run"
Hi all. Had a stable lb application that I recently added a bunch of models to via `slc loopback:model`.

Immediately after that, I ran `node server/server.js` (and `slc run`) only to get a very vague error:

[code]

I have looked at `server.js`L22, and it is this:
[code]

So I'm guessing it has something to do with `__dirname`?

Any ideas?

**UPDATE**

I have reverted to the last stable version o

[2015-10-07 14:50] jasnell commented on #782
Yes, as has been mentioned, Bluemix (and CloudFoundry in general) passes specific configuration detail to the application via environment variables, the Port to listen on being the most critical. You'll need to modify the default loopback generated code to grab that configuration in order for things to work. If you're unsure where to begin, may I suggest installing the `bluemix-workshop` from npm

[2015-10-08 00:18] bajtos commented on #274
I am afraid there isn't any easy way how to get hold of the ObjectID constructor of the mongodb module used by loopback-connector-mongodb. You can try `require('loopback-connector-mongodb/node_modules/mongodb').ObjectID`, however that may break if your module layout is different (e.g. if you are using `npm@3`).

Perhaps we can modify loopback-connector-mongodb to export the native ObjectID constru

[2015-10-08 00:27] bajtos commented on #1137
@gonzofish I am afraid we don't have any target date for this.

[2015-10-08 00:29] bajtos commented on #1689
This looks like a bug to me, I think we should generate the `id` property only if it's not set.

[2015-10-08 00:32] bajtos commented on #1688
I am not familiar with embedded relations. @raymondfeng or @fabien could you please check this issue yourself?

[2015-10-08 01:03] juanscolari commented on #1316
+1

[2015-10-08 04:10] wusuopu commented on #1689
@bajtos May I submit a PR to fix it.

[2015-10-08 09:39] ernie58 commented on #1579
@superkhau Sorry for my late response, still having this issue on my main project, meanwhile I use 0.12.7

I tried a new project, copied my datasources, one at a time, couldn't reproduce this issue
I also tried different environments (datasources.staging.json) and added the exact same datasources one at a time, couldn't reproduce either

[2015-10-08 13:19] brilvio opened #1717 "Not able to run on windows a project that I started on linux"
Data source is memory db, it is running fine on ubuntu but on windows after I installed the node modules, when I try to run with node . this error appears.

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: listen EACCES
    at errnoException (net.js:901:11)
    at Server._listen2 (net.js:1020:19)
    at Server._listen2 (D:\gordosteam\medias\node_modules\loopback\nod

[2015-10-08 15:08] jrschumacher commented on #637
@voitau @esco a patch to this has been released in [loopback-datasource-juggler@v2.41.0](https://github.com/strongloop/loopback-datasource-juggler/releases/tag/v2.41.0) you can use it by adding `normalizeUndefinedInQuery` setting to your datasource config or model config (see tests for more detail). Options are:

- `"nullify"` which converts undefined to `null`
- `"throw"` which throws an error `U

[2015-10-08 15:14] esco commented on #637
Excellent:exclamation: :+1: thanks guys

[2015-10-08 15:39] esco commented on #1150
@OwenBrotherwood this solution breaks if you have a scope defined on the User model. The scope will create an `and` query which doesn't get detected by the if

[code]

[2015-10-08 19:27] rajaraodv commented on #1708
Try this: http://stackoverflow.com/a/33024280/1553014

[2015-10-08 20:08] OwenBrotherwood commented on #1150
@superkhau Can something be done with this issue: currently triac and no assignee. @esco gave some input that should be understand. Currently, I have had to do a context switch from javascript to IBM Mainframe work which is hopefully finished soon. "I'll be back"

[2015-10-09 00:22] brilvio commented on #1717
Sorry about that another process was using the 3000 port. sorry.

[2015-10-09 00:22] #1717 closed

[2015-10-09 03:31] soltrinox commented on #1213
I solved this one with the help of this thread.

 I had a second object model that i did not want to create relations from, because it was a generic object and could contain variable data fields, so i simply stored the PARENT UUID in a property field of my CHILD generic object then added the dependent child UUID to an ARRAY inside a ARRAY of ANY property on the parent.

So when i accessed the pare

[2015-10-09 03:57] dh376 opened #1718 "Deleting a relation"
I have tried to make a relation between models: A hasMany B.
Something is not right and I tried to delete that relation,
1. I have changed json file to get rid of the relation.
2. In the API Explorer, when I try to run any get or post method, it gives me error "column "userid" of relation "pictorials" does not exits.
The database indeed does not have userid column. But I don't know why loopback st

[2015-10-09 06:51] voitau commented on #637
Thank you!

[2015-10-09 09:29] nuba commented on #517
+1

[2015-10-09 15:31] riteshjagga commented on #1321
+1

[2015-10-09 16:04] mastertinner commented on #1711
Thanks @superkhau and sorry for not reading the reporting instructions. Here's my test project: https://github.com/mastertinner/loopback-sandbox

[2015-10-09 20:20] bajtos commented on #782
LoopBack already contains code to detect certain cloud platforms and apply the appropriate host/port settings. I've submitted a pull request to add support for Bluemix based on the comments above, see https://github.com/strongloop/loopback-boot/pull/156

[2015-10-09 20:24] simoami commented on #782
@bajtos That's great! Thanks for the update.

[2015-10-09 20:26] #637 closed

[2015-10-09 21:27] srl295 commented on #782
@bajtos LGTM.  Note that it would be nice if the DB connectors could also detect cf bound services

[2015-10-09 21:51] jasnell commented on #782
Yes, good point. VCAP_APP_SERVICES contains all the detail for provisioned
services including the data storage ones.
On Oct 9, 2015 2:27 PM, "Steven R. Loomis" <notifications@github.com> wrote:

[2015-10-09 22:23] simoami commented on #782
I feel that it would be hard to support all cloud providers in the core framework as well as connectors and plugins. What would be great is to have a custom mapping config per cloud provider, that a config loader picks up at boot time and overrides settings for the app config (think app.set()), datasources, and other plugins.

Something like this:

[code]

The difference from what the configs curr

[2015-10-09 23:37] ogrotten opened #1719 "slc loopback > "The program 'slc' is currently not installed.""
Installed without errors via npm: https://gist.github.com/ogrotten/c4bebc6e9bcaebefc194

What gives?

[2015-10-10 00:51] achintverma opened #1720 "ACL seems to be not working: 401 Authorization Required"
Hello, I created a Model named "ShippingAddresses" which has following ACL rules.

[code]

When I create a record by making a POST call on endpoint /api/shipping_addresses it works perfectly fine but when I make a GET request on same endpoint /api/shipping_addresses it's not working.

Also, just for side note, I have ShippingAddresses model's relation defined with Account (inherits User). Relation

[2015-10-10 01:06] achintverma commented on #1720
Just so you know, I'm using the same access_token to create record (HTTP POST) as well as for getting records (HTTP GET) so that it doesn't see both requests from different users (owners).

[2015-10-10 03:08] TNT-Likely opened #1721 "model hooks beforeUpdate not work"
model hooks beforeUpdate not work

hope somebody can help me ,thanks.

[2015-10-10 05:03] Neil-UWA commented on #1721
user operation hooks instead. model hooks are deprecated.

[2015-10-10 05:16] shaunstanislaus opened #1722 "unable to install strongloop globally with `npm -g strongloop`"
[code]

[2015-10-10 05:26] pongstr commented on #1708
I suggest you use [`nodenv`](https://github.com/OiNutter/nodenv) with [`node-build`](https://github.com/OiNutter/node-build) plugin so to manage node versions

But if you don't prefer that, you can

[code]

hope this helps

[2015-10-10 05:42] TNT-Likely commented on #1721
@Neil-UWA it work,but how i can set some attribute?

this.xx='' not work

[2015-10-10 07:10] shaunstanislaus commented on #1722
shaunstanislaus@Master ~ $ npm install -g strongloop
npm WARN deprecated jsonstream@1.0.3: use JSONStream instead
npm WARN deprecated showdown@0.3.1: IMPORTANT hotfix
npm WARN deprecated react-tools@0.10.0: react-tools is deprecated. For more information, visit https://fb.me/react-tools-deprecated

2015-10-10 15:08:11.308 xcodebuild[22860:3553658] [MT] PluginLoading: Required plug-in compatibility

[2015-10-10 07:10] Neil-UWA commented on #1721
You can still use model hooks, but they are not recommended since they are deprecated. I suggest you to migrate from model hooks to operation hooks.

[2015-10-10 09:18] Sogl commented on #1708
@rajaraodv , First answer is downgrade node.js from `4.x.x` to `0.12.x`. I already did what you mentioned.

@pongstr, I use `homebrew` to install and manage node versions. And I already tried with `npm i -g node-gyp@latest` before `stronloop` module installation.

Guys, which node version you have with working `strongloop` global module?

[2015-10-10 12:36] daankets opened #1723 "Too strict validation on User.email"
I get the following validation error when trying to persist a user in my local test environment:

[code]

According to me, this is a too strict validation for an email address. The spec states that an email address should comply to the pattern <userOrMailBox>@<smtpHostName>. There is no requirement whatsoever that the hostname must also contain a domain name. Of course it is possible to override t

[2015-10-10 17:20] me6iaton commented on #1412
Same problem

[2015-10-10 17:20] srl295 commented on #782
@simoami https://www.npmjs.com/package/cfenv will handle the multiple CloudFoundry-based environments, also   check out https://www.npmjs.com/package/config-multipaas and https://github.com/ryanj/cloud-env ( the latter 2 don't support CF *yet*, but may leverage cfenv  )

[2015-10-10 18:05] rmg commented on #1722
What version of XCode do you have installed? These errors suggest there is something wrong with your installation. These kinds of errors can happen when your version of XCode and CLI Tools are mismatched versions.

What version of npm are you using? There are known issues with npm-v3.x that prevent strongloop from installing globally when the optional dependencies fail.

Another possibility is you

[2015-10-10 20:00] cloflin commented on #1722
Had a very similar problem.

Solution for me was to downgrade to npm v2 and reinstall.

[2015-10-11 01:06] shaunstanislaus commented on #1722
@cloflin are you kidding? download npm from 3.3.6 to v2 ?

[2015-10-11 01:26] shaunstanislaus commented on #1722
@rmg i am using version 3.3.6 npm
i am still on OS yosemite

[code]

[2015-10-11 01:59] shaunstanislaus commented on #1722
@rmg i even downgraded to v2.x.x npm and it still doesn't work, incase you should know @cloflin

[code]

[2015-10-11 02:06] rmg commented on #1722
@shaunstanislaus your downgrade to npm@2 worked and strongloop was successfully installed... but the command is `slc`, not `strongloop`.

This part of the installation, just before it prints the big list of modules/dependencies installed, lists the commands it adds to your $PATH and what files they are symlinks to:
[code]

If you run `slc` you should now get a usage message.

[2015-10-11 02:08] shaunstanislaus commented on #1722
@rmg  yes, below are the usage message. may i know if the above errors are suppose to happen?

[code]

[2015-10-11 02:17] rmg commented on #1722
The errors are in upstream dependencies that do not yet support node-v4. Some of them will go away as we refactor some of our commands and others will go away as the upstream modules are fixed.

The reason they are safe to ignore is that they are all marked as `optionalDependencies` because they either provide minor performance improvements or add only extra features that are not essential. Unfort

[2015-10-11 02:17] #1722 closed

[2015-10-11 07:19] ezraroi commented on #1495
I am experiencing the same issue but the current solution doesn't work for me. I have the logged user in the options as suggested in a remote method , but my remote method is calling `updateAttribute` and this calls `before save` and in `before save` i don't have the logged user in the options object

[2015-10-11 08:13] ezraroi commented on #1495
Also looks like it is breaking the login method, this is the error I am getting after adding the suggested code:

[code]

I am using In-Memory connector

[2015-10-11 18:45] cloflin commented on #1722
Exactly what I did. Downgrade to npm (v2.2) and then the strongloop install works (after which I upgraded npm back to latest). There is a known issue of npm3 handling optional peer dependencies. I've seen it with at least 2 other projects I use.

Sent from my Apple IIe

[2015-10-11 21:50] listepo opened #1724 "ES6(Babel) Support"
Hi guys, how soon will support es6?

[2015-10-12 09:25] #1689 closed

[2015-10-12 09:32] Pentiado commented on #1724
I'm using es6 in production with LoopbackJS for half a year, maybe more.

[2015-10-12 09:44] listepo commented on #1724
```require('babel/register');``` will work with any node.js framework, but few support inheritance of modules,models and components like:

[code]

[code]

[2015-10-12 09:51] listepo commented on #1724
I like how it is done in ember.js http://stackoverflow.com/questions/28654662/how-to-extend-an-ember-cli-addon

[2015-10-12 13:38] listepo opened #1725 "[Relations]No check that the model does not exist"
[code]

`sfveververv3rv3` is not model, but not errors, not messages in console

[2015-10-12 14:58] bajtos commented on #1651
Hi @doublemarked, sorry for a late reply, your thorough analysis requires more time to digest it.

In general, I think we should upstream any customizations of 3rd party middleware.

"tolerate empty json" - this may be rather controversial. We are returning an empty object when the body is empty, however I can imagine that `null` or even an empty array may be valid alternatives too. Perhaps this s

[2015-10-12 15:21] bajtos commented on #445
IIUC, it should be ok to add another instance of body-parser.json middleware and configure it to parse `application/vnd.api+json` request bodies. This can be done from a component setup function via `app.middleware()`.

I don't think you can get rid of handling the errors in two places - REST error handler and then generic app error handler.

However, I think you can get rid of `remotes.afterError

[2015-10-12 15:43] AlmaasAre commented on #1714
So the issue here is:

When we include the owner of a model, and then we call save() on that model, the owner seems to be stored in MongoDB. Seems like save() does an upsert, and validateUpsert for that model is false.

[2015-10-12 17:19] ataraxus commented on #1321
+1

[2015-10-12 17:29] OwenBrotherwood commented on #1406
:+1:

[2015-10-12 18:54] digitalsadhu commented on #445
That would be pretty nice. A single error handler would simplify things. I
can at the very least try to refactor out the afterError handler and tidy
things up.

On Mon, 12 Oct 2015 at 17:21, Miroslav Bajtoš <notifications@github.com>
wrote:

[2015-10-12 20:39] achintverma commented on #1719
It was happening to me too. Please make sure you have enough memory and / or swap space. I was setting up on AWS and it was not showing any error.

Can you paste the console output?

[2015-10-12 21:49] cgole commented on #1719
Did you install it globally?  - npm install -g strongloop

[2015-10-13 00:27] ogrotten commented on #1719
It was on a managed vagrant appliance. I mentioned it to the 'manager' and he set up loopback to be pushed with the next update . . . and now I don't have the problem and can't revert to it.

Sorry.

[2015-10-13 01:54] uooq opened #1726 "afterRemote hook intermittently failing"
I have an afterRemote hook on a model that extends the built-in User model. Under some circumstances, the afterRemote hook fails to run.

Here's how we can trip it up: we run test automation in mocha that starts up a server, issues requests, tears down the server, then in a different test case starts another server.  If I run the second test case on its own, it passes (and the afterRemote hook run

[2015-10-13 07:03] ekussberg opened #1727 "Generated API is missing getCurrent"
Hello,

we have a problem, that when we generate ng-lb for our project, there are missing getCurrent methods for our Users classes (Customer & Employee). They both have "base": "User" and it is generating them only on macs.

Any suggestions?

[2015-10-13 11:37] ghatwala opened #1728 "Facing issue while installing strongloop on RHEL 7.1"
Hi All,

Facing below error while installing strongloop on RHEL . My npm version is :
 [user1@pts00433-vm29 ~]$ npm -v
3.3.6
Node version is :
[user1@pts00433-vm29 ~]$ node -v
v4.2.0
Next to install strongloop using "npm" , i tried below
[user1@pts00433-vm29 ~]$ npm install -g strongloop
Just copying last few lines here ...
 "
make: Entering directory `/home/user1/.node_modules_global/lib/node_mod

[2015-10-13 13:57] bajtos commented on #445
@digitalsadhu Cool. Would you mind contributing this change yourself? Here is the code to change: [lib/rest-adapter.js#L306-L308](https://github.com/strongloop/strong-remoting/blob/4575e92142aa32ee4a568862f93b394e7d034127/lib/rest-adapter.js#L306-L308). You can use the implementation of `handleUnknownPaths` as an inspiration, it's few lines above.

[2015-10-13 14:12] tamitutor commented on #418
+1

[2015-10-13 18:56] vdust commented on #1723
I confirm this issue, but it goes beyond being too strict: it even accepts some invalid email addresses as valid. I created a fork of loopback-sandbox with some examples of addresses that should be accepted  (but aren't) and addresses that should be rejected (but aren't):

https://github.com/vdust/loopback-sandbox

The truth is that email addresses *can't* be validated by a single regular expressi

[2015-10-13 23:13] superkhau commented on #1728
@rmg ^

[2015-10-13 23:25] superkhau commented on #1727
@bajtos ^

[2015-10-13 23:28] superkhau commented on #1726
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-13 23:30] superkhau commented on #1719
@ogrotten Are you still running into issues? Can I close this?

[2015-10-13 23:35] superkhau commented on #1714
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-13 23:37] superkhau commented on #1725
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-13 23:51] superkhau commented on #1708
@rmg ^

[2015-10-13 23:52] superkhau commented on #1721
This is correct. See https://docs.strongloop.com/display/public/LB/Operation+hooks

[2015-10-13 23:52] #1721 closed

[2015-10-13 23:57] superkhau commented on #1720
See my example at https://github.com/strongloop/loopback-example-access-control and the ACL docs at https://docs.strongloop.com/display/public/LB/Authentication%2C+authorization%2C+and+permissions.

For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-13 23:57] #1720 closed

[2015-10-14 00:00] djkoell commented on #1275
+1

[2015-10-14 00:13] kennethlynne commented on #1714
The problem was this:

We use the loopback-ds-timestamp-mixin
It disables some validation https://github.com/clarkbw/loopback-ds-timestamp-mixin/blob/master/es6/time-stamp.js#L16

We did some manipulation of the data in some scenarios, after it was loaded with some hydrated relations. We then used the save prototype method on the model to save the changes, effectively saving everything.

The next

[2015-10-14 00:15] kennethlynne commented on #1714
Solved by using updateAttributes and includes with explicit field scope

[2015-10-14 00:17] superkhau commented on #1718
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

@crandmck Do we have docs for this issue?

[2015-10-14 00:17] #1718 closed

[2015-10-14 00:48] rmg commented on #1708
@Sogl have you tried this with npm@2 instead of npm@3? The issue summary claims npm@3.5.5, but that version doesn't exist yet, so I'm guessing you meant 3.3.5. If that's the case, then you are likely running into a bug in npm that was only fixed in 3.3.7.

If downgrading to npm@2 or upgrading to npm@3.3.7+ fixes the issue, then this is likely a duplicate of #1722 (and a bunch of others).

[2015-10-14 01:05] uooq commented on #1726
Thanks for the response.

I'll do what I can. It's a private repo. I'll need to build out a separate project that exhibits the same behavior but doesn't have our business guts...

[2015-10-14 01:28] achintverma commented on #1720
That's not helpful. Do you think I didn't go through the links you ping me?

I just asked a very simple question. Can you please see the ACL definition above and tell me why I can create but not update or get?

[2015-10-14 01:45] superkhau commented on #1720
@achintverma This is not the correct place to ask questions (Google Groups, StackOverflow and Gitter are the official channels we support as stated in the link I provided you). If you believe this is a legitimate bug, then I will reopen the issue after you provide a sample project. I will then try to reproduce the issue on my end to confirm the bug. See https://github.com/strongloop/loopback/wiki/

[2015-10-14 01:47] superkhau commented on #1720
I understand you asked asked a simple question, but please read the first line of reporting issues: DO NOT post *questions* using GitHub issues.

[2015-10-14 06:23] superkhau commented on #1150
@OwenBrotherwood I can bump this up to major.

@raymondfeng ^

[2015-10-14 06:37] superkhau commented on #1579
@ernie58 That means it has something to do with the specifics of your project. I will close this for now until you can reproduce it. Not much we can do without the STR. Feel free to message again when you figure out your end.

[2015-10-14 06:37] #1579 closed

[2015-10-14 06:40] superkhau commented on #1715
@ianseyer Are you still running into this issue? Can you try updating to the latest `strongloop` via `npm install -g strongloop`. Then scaffold a new project as you did above and see if you still get the same errors.

[2015-10-14 06:47] daankets commented on #1723
[This library](https://github.com/chriso/validator.js) comes pretty close I believe...

[2015-10-14 06:50] superkhau commented on #1723
@daankets @vdust Would one of you guys like to contribute a patch?

[2015-10-14 07:33] superkhau commented on #1713
You will have to create a remote method that returns the schema. There is no specific example to show you how, but maybe @crandmck can point you at the docs that can get you started.

For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-14 07:33] #1713 closed

[2015-10-14 08:35] bajtos commented on #1727
Hi @ekussberg, could you please provide us with steps how to reproduce the problem on our machine? Start by forking loopback-sandbox as described in [wiki instructions](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report), then add your Customer and Employee models, then keep adding other bits of your app until your sandbox app reproduces the problem.

[2015-10-14 08:56] petermilan opened #1729 "Is there a way how to programatically stop the Loopback App?"
I could not find any possibility how to stop the loopback server. Is there some functionality like app.stop() like there is app.start() ?

[2015-10-14 09:03] Pentiado commented on #1729
It sounds like "xy problem" - http://mywiki.wooledge.org/XyProblem. Killing the process is not going to work for you?
process.exit()

[2015-10-14 09:07] petermilan commented on #1729
well there could be situations when you don't want to do that for example sending logs to some service (like logstash, graylog etc) and then stop the loopback app. I think doing this:
[code]

will kill the process before the log will be sent to the logging service.

[2015-10-14 15:02] danielblignaut opened #1730 "Build error causes slc start to fail"
Hi, Every time I install strongloop globally, I get the following npm install failure. I read up about a previous issue referencing a problem with npm 3 (https://github.com/strongloop/strongloop/issues/248). My current setup is using the latest node stable (4.1.2) with npm (2.14.4). If it's relevant, I'm using nvm to handle my node version. Here's the npm install dump:
[code]

Strongloop succeeds

[2015-10-14 15:28] vdust commented on #1723
First, I must correct what i stated in my previous comment: It's [RFC5321](http://tools.ietf.org/html/rfc5321) and [RFC5322](http://tools.ietf.org/html/rfc5322) that define what valid email addresses are in the context that concerns us here. As a result, some of the *valid* addresses i added in my test code (e.g. ``local."quoted word"@example.com``) use deprecated syntax and are probably safe to r

[2015-10-14 15:40] seanbrookes commented on #1729
consider using the loopback-workspace module.  It has a
stop()/start()/restart() api

On Wed, Oct 14, 2015 at 2:07 AM, Peter Milan <notifications@github.com>
wrote:

--
*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://strongloop.com/node-js-performance/strongops/>

[2015-10-14 15:58] ziad-saab commented on #517
:+1:

[2015-10-14 16:06] eugenehp commented on #953
hey @bajtos can you advise what is the best place in source code to start tickling this feature?
I saw 6+ months of support at https://github.com/strongloop/loopback/issues/517 and looks like I'm going to need this in couple of my productions...

so what would be your advise to implement this so it might get a chance to be merged to `master` branch.

Thanks. :+1:

[2015-10-14 18:11] crandmck commented on #1718
The docs don't currently explain how to delete a relation.  I think it would be a good addition.

My understanding is that you should be able to delete the relation by editing the model JSON file, as @dh376 says.  You just have to remove all the content from the key
``` "relations": {},```

However, if there is a through model, you might have to edit a second model JSON file.  I think that should

[2015-10-14 18:38] rsmamoru opened #1731 "some "slc loopback" commands cannot move selection"
I don't know if I should submit an issue here. I've posted it in Google Groups.

When I execute "slc loopback:property" command, the program gives me step by step questions, but I cannot move selection with arrow keys, it stays on "ACL".
"slc loopback:relation" and "slc loopback:acl" also have the same problem :-(

But "slc loopback:model" command works fine.

So, is it a bug?

[2015-10-14 18:55] ogrotten commented on #1719
I am not.

[2015-10-14 18:55] #1719 closed

[2015-10-14 19:41] ritch opened #1732 "Wildcard for Operation Hooks"
Do we support wildcard for operation hooks? If we do where is it in the docs?

We should add support for this as it is really nice to be able to write a generic hook (see `createChangeStream()` for one example.

@bajtos @Setogit

[2015-10-14 20:47] kkutschera commented on #1722
Iam on El-Capitan and a simple npm update -g before installing strongloop did it for me. Hope it helps

(npm update -g will apply the update action to each globally- installed package that is outdated -- that is, has a version that is different from latest.)

[2015-10-14 20:54] joe-at-startupmedia commented on #569
I am having issues with this implementation using the following:

server/server.js

[code]
redemption.js
[code]
server.js output:

[code]
model output:
[code]

[2015-10-14 20:57] superkhau commented on #1729
@petermilan There is no app.start either. It is defined at runtime via `app.start = function()...`. You can use `process.exit()` as suggested by @Pentiado. As for the logging situation, you can create your own function that calls process.exit **after** you finish logging (ie. via callback, event emitter, etc).

That said, for now I will escalate this issue to a feature request.

[2015-10-14 21:00] superkhau commented on #569
@joe-at-startupmedia As stated by @pulkitsinghal, please join https://gitter.im/strongloop/loopback to get quick answers on already closed issues.

[2015-10-14 21:13] superkhau commented on #1731
What OS are you on? Can you try it again with a new project and provide the step to reproduce the issue? Do the J/K keys work?

[2015-10-14 21:18] superkhau commented on #1731
@rsmamoru I tried it on OSX 10.11 and I am not running into any issues. Can you try updating to the latest version of `slc` (`npm install -g strongloop`).

[2015-10-14 21:34] superkhau commented on #1730
@rmg ^

[2015-10-14 22:37] rmg commented on #1730
Duplicate of strongloop/strong-pm#286 and will be resolved by strongloop/strong-supervisor#166.

[2015-10-14 23:20] rmg commented on #1730
@danielblignaut strong-supervisor@3.3.0 has been released and should fix this. Please re-run `npm install -g strongloop` to get the update and let us know if it works for you.

[2015-10-15 03:47] rmg commented on #1728
There's a bug in npm@3 (apparently fixed in 3.3.7, though I haven't verified it myself yet) that results in optionalDependencies not being treated as optional, which is what is happening here.

See #1722, #1685, strongloop/strongloop#253, and finally npm/npm#9643.

You should either upgrade to npm@next (currently 3.3.8) or downgrade to npm@2.

Unrelated, you should also upgrade node to v4.2.1, esp

[2015-10-15 03:49] rmg commented on #1728
@ghatwala once you've had a chance to confirm, please close this issue if my comment above resolves your problem.

[2015-10-15 06:21] OwenBrotherwood commented on #1150
@superkhau The issue seems to interest a lot of people, so it would be good to have a standpoint on it.
It is possible to support the normal use of email case sensitivity, as default or option, without going against the stated rfc's, in the framework

[2015-10-15 06:25] bajtos commented on #1732
@ritch could you please describe the problems you are trying to solve in more detail, so that we can come up with the best solution? What does wildcard refer to - a wildcard on model names or a wildcard on hook names?

[2015-10-15 06:32] bajtos commented on #953
@eugenehp

I saw 6+ months of support at #517 and looks like I'm going to need this in couple of my productions...

@raymondfeng @fabien do you have any thoughts on how to implement support for querying nested documents/objects/arrays? I am not familiar enough with this part of loopback to give a good advice.

[2015-10-15 08:27] ernie58 commented on #1275
+1

[2015-10-15 11:29] Sogl commented on #1708
@superkhau. Why you tagged my issue with "wrong-repo"? In which repo I need to post?

@rmg , Thank you very much! Works fine with `node 4.2.1` and `npm 3.3.8`.
I found an error with `slc arc` command. Create a new issue?

[2015-10-15 12:24] danielblignaut commented on #1730
I've re-run ```npm install -g strongloop``` and I'm no longer getting any make or gyp failures on install but on running ```slc start```, I am still getting this:

[code]

[2015-10-15 13:46] ritch commented on #1732
@Setogit can you elaborate a bit on the problem?

My take on it is fairly brief: operation hooks are too hard to understand and use.

[2015-10-15 14:43] julien-sarazin commented on #418
+1

[2015-10-15 14:57] bajtos opened #1733 "Make loopback apps secure out of the box"
Review the best practices to secure Node.js applications in production and update the project template to implement necessary measures.

Further reading:
 - https://blog.risingstack.com/node-js-security-checklist/

[2015-10-15 15:10] raymondfeng commented on #1733
+1. We should add it to the LB 3.0 roadmap too.

[2015-10-15 15:38] superkhau commented on #1150
Duplicate of #1723.

@OwenBrotherwood I will bring this up during sprint planning. Otherwise, we accept PR's so feel free to submit a patch. ;)

[2015-10-15 16:08] superkhau commented on #1708
@Sogl It's not a direct LoopBack issue, but more of an `slc/strongloop` issue. You can post directly to the StrongLoop Controller repo here: https://github.com/strongloop/strongloop

[2015-10-15 16:08] #1708 closed

[2015-10-15 16:25] superkhau commented on #1730
For future reference, please post `slc` issues at https://github.com/strongloop/strongloop.

[2015-10-15 17:13] lesterzone commented on #1450
@Rajan I have exact same issue, but I'm not sure what do you mean with put relations back...

[2015-10-15 17:44] crandmck commented on #1090
@hacksparrow What's the status of this work?

[2015-10-15 17:45] #693 closed

[2015-10-15 17:55] rmg commented on #1730
@danielblignaut you will need to stop and start strong-pm. It seems to be retaining a reference to the old version - the line referenced in that error doesn't even exist in the updated version.

[2015-10-15 19:27] TimPerry opened #1734 "Isomorphic client use on React Native"
Hey, I'm looking to use loopbackjs client (isomorphic) with react native. Seen as loopback uses core node modules I have followed the browserify guide to pull all them into a bundled file. However I'm not sure how I would go about using a browserified file in the app as you can only require files in?? Any ideas how you would do this?

Maybe a better question would be: is there any interest in crea

[2015-10-15 20:29] rsmamoru commented on #1731
I use:
* Windows 8.1 64-bit.
* node-v4.1.1-x64.
* strongloop 5.0.1.

---
This problem occurs in any projects.

The difference between "slc loopback:model" and other commands is it begins with "type an answer" while other commands begin with "selection".

---
**slc loopback:datasource** (no problem)

1. `C:\_strongloop\my-project>slc loopback:datasource`
2. `? Enter the data-source name: mysqlDs`
3

[2015-10-15 21:34] danielrvt commented on #512
+1

[2015-10-16 04:43] superkhau commented on #1731
Can you try on node 0.10.x or 0.12.x? It might be a new issue with yeoman and node 4.

[2015-10-16 05:46] DiogoDoreto commented on #517
For those who need this in SQL relations, I've created a [fork of loopback-connector](https://github.com/DiogoDoreto/loopback-connector/tree/query-relations) and already got something good.

Here's a example. Suppose that a model `customer` have many `orders`, then you can create a query like this:

[code]

with some line breaks for readability:

[code]

You can already query multiples relations t

[2015-10-16 05:48] superkhau commented on #1734
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

There is definitely interest, but we do not have the resources at the moment to take this on. I will leave this issue open and set it as a feature request.

[2015-10-16 06:55] kranthitech commented on #1688
Thanks @bajtos . @raymondfeng , @fabien - Can you please confirm is this is the expected behaviour or a bug? THanks.

[2015-10-16 07:04] TimPerry commented on #1734
My apologies @superkhau. If you have any suggestions on how this would work I wouldn't mind giving it a go and if I get something working submit a PR.

[2015-10-16 09:29] sandipp opened #1735 "Error while installing loopback on elementary os"
Error while installing loopback on elementary os

I'm trying to install loopback framework on local machine using following command and I got error while doing so.

    sudo npm install -g strongloop

Error

    npm WARN deprecated jsonstream@1.0.3: use JSONStream instead
    npm WARN deprecated showdown@0.3.1: IMPORTANT hotfix
    npm WARN install Couldn't install optional dependency: shasum chec

[2015-10-16 13:07] rsmamoru commented on #1731
yes, the commands work fine with node 0.12.

2015-10-16 11.43 GMT+07.00, Simon Ho <notifications@github.com>:

--
*Membangun Pasar Sunnah: Memerangi Riba*

Rule 1: Tidak diizinkan Riba
Rule 2: Berlakukan Uang Sunnah
Rule 3: Siapa yang tanam, dia panen. Siapa yang tidak tanam, dia tidak panen

(Syaikh Imran Hosein <http://imranhosein.org>)

[2015-10-16 14:26] LucaColonnello opened #1736 "Permissions changes on user roles from an interfaces"
Hi,
I have to build an app with an users module that manage roles and users, making possible to set the permissions (permissions are static) for each role.

How can I do this with ACL?

Thank you!

[2015-10-16 14:27] eugenehp commented on #1207
@voitau :+1:

@ritch let us know, what do you think about previous comment. thanks!

[2015-10-16 14:30] eugenehp commented on #953
thanks @bajtos
I'm particularly going to be interested to implement solution on top of the mongodb connector first, and then possibly MySQL.

Since you guys @raymondfeng @fabien have more experience with your code, please advise on the best way to pursue this.

Thank you.

Have a nice weekend ahead!

[2015-10-16 14:56] ritch commented on #1207
I think you've nailed it here: mongo needs to implement buildNearFilter

@superkhau

[2015-10-16 15:04] lesterzone commented on #175
I have this configuration (Admin is just a name for my real model)

[code]

Then when:

[code]

Output

[code]

It works when POST /oauth/token.

I tried `loopback.User.hasMany(loopback.AccessToken, {as: 'accessTokens'});`

but it throws an error because 'hasMany' is undefined for User

I'm missing something ?

[2015-10-16 15:09] OwenBrotherwood commented on #1150
@superkhau PR: will do if I get there before sprint

[2015-10-16 15:20] raymondfeng commented on #1736
User/Role/RoleMapping/ACL are loopback models that can be persisted into DBs and exposed as REST APIs. Your UI should be able to use such APIs or Angular SDK to interact with these models.

[2015-10-16 15:42] superkhau commented on #1731
@raymondfeng Any suggestions here? Should we just recommend users avoid node 4 on windows until yeoman fixes itself?

[2015-10-16 15:43] superkhau commented on #1735
@rmg ^

[2015-10-16 15:56] simoami commented on #688
just for the sake of understanding, we have two error handlers, one referenced in middleware.json and another one in strong-remoting. when does the error handler defined in middleware.json kick in? I tried defining a custom one but it never kicked in. To test, I created a custom API route that explicitly returns an error on callback `cb(err)`. I also used a mix of `throw err` and `1/0` to see if I

[2015-10-16 16:00] framp opened #1737 "Server hangs when using a where filter on subresource in hasManyThrough"
Given the models:
[code]
where Customer has many Items through CustomerItem

If you try to request `/api/Customers/1/Items?filter[where][property]=10` the server will hang

Repo to reproduce the issue here: https://github.com/framp/loopback-bug-1737

[2015-10-16 16:08] masalinas commented on #1635
Do you know what is the error? I have the same problem

[2015-10-16 16:17] raymondfeng commented on #1635
Can you track down what MongoDB command is sent using `DEBUG=loopback:connector:mongodb node .`?

[2015-10-16 16:52] rmg commented on #1735
@sandipp this looks like an npm issue. You could try `npm cache clean` or simply retrying the install to see if the checksum error goes away. If none of that works, you might have to go to [npm](https://github.com/npm/npm) for help.

Ultimately, however, these are just _warnings_ not errors and should not be preventing you from installing strongloop.

[2015-10-16 16:52] #1735 closed

[2015-10-16 18:04] masalinas commented on #1635
I resolve the problem with other way, first query the organization from id and adding the new administrator to this organization with this code:

Organization.findById(credentials.organizationId, function(err, organization) {
            if (err) return cb(err);

            console.log('Organization: find is:', organization.name);

            organization.administrators.create(credentials.admini

[2015-10-16 18:04] JoshElias opened #1738 "elemmatch does not work on include queries when using mongo-connector"
Any query where you want to filter results by elemMatch on an included property, you get a 500 error.
[code]

[2015-10-16 18:09] petergi commented on #1186
I'm getting the same issue but with Mongodb upon server startup.

(node) warning: possible EventEmitter memory leak detected. 11 connected listeners added. Use emitter.setMaxListeners() to increase limit.
Trace
    at DataSource.addListener (events.js:239:17)
    at DataSource.once (events.js:265:8)
    at DataSource.ready (/Users/petergiannopoulos/Projects/otolane/occ/node_modules/loopback-dataso

[2015-10-16 18:23] #1738 closed

[2015-10-16 19:46] eugenehp commented on #517
Hey @DiogoDoreto looks good.

What about REST filters?

Thanks.

[2015-10-16 19:50] DiogoDoreto commented on #517
@eugenehp `buildSelect` is a low level function that is used by REST filters, so they get the feature as well.

[2015-10-16 19:52] eugenehp commented on #517
Would you mind @DiogoDoreto if I ask you to show me the similar query in the REST format (just the same one you posted above)?

Thank you.

[2015-10-16 19:57] DiogoDoreto commented on #517
I think it would be something like `/customers?filter[where][vip]=true&filter[where][orders][where][id]=2`.

It's important to note that `orders` is the name of the relation defined in `customer` model and that the value in it is a full filter, which means that besides `where` you can also use `limit`, `order`, etc

[2015-10-16 19:58] eugenehp commented on #517
interesting. Thanks Diogo. I'll give it a try and let you know.

Have a great weekend ahead!

Cheers.

On Fri, Oct 16, 2015 at 9:57 PM, Diogo Doreto <notifications@github.com>
wrote:

[2015-10-16 20:01] DiogoDoreto commented on #517
Thank you! if you are using `loopback-connector-mysql` you can change the dependency version on package.json to `DiogoDoreto/loopback-connector-mysql#query-relations` to get my modifications.

[2015-10-16 21:42] superkhau commented on #517
@DiogoDoreto Would you like to submit a PR? I can get the PR prioritized for review during sprint planning since everyone in the community really wants this feature.

[2015-10-16 22:28] crandmck commented on #688
@simoami You should ask your question on the [Google Group](https://groups.google.com/forum/#!forum/loopbackjs).  No one will notice it here in a closed GH issue.
PS. If I knew the answer, I would tell you, but I don't :-)

[2015-10-16 22:38] crandmck commented on #175
@lesterzone You should ask your question in the [Google Group](https://groups.google.com/forum/#!forum/loopbackjs).  It's not likely anyone will see it in a closed GH issue.

[2015-10-16 22:41] rsmamoru commented on #1731
OK, I agree with that.

But we can use two versions however.
For example:
* I add Node v0.12 to the Path (environment variable) so it can be run anywhere (good for slc commands).
* I set Node v4 in my IDE settings to test if my apps are compatible with this version.

[2015-10-16 23:54] DiogoDoreto commented on #517
@superkhau https://github.com/strongloop/loopback-connector/pull/31

[2015-10-17 01:37] superkhau commented on #1731
@rsmamoru That sounds like a good solution for now. I've escalated this issue to bug status so we can check it again after yeoman generator updates to a version beyond 0.20.3.

[2015-10-17 01:42] superkhau commented on #175
@lesterzone Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-17 01:46] superkhau commented on #1186
@petergi Did you try the solution provided by @raymondfeng above?

[2015-10-17 02:17] petergi commented on #1186
Yeah no dice. But I tracked it down to using faker on a before hook. It's what seems to trigger the warning. I was using faker to generate fake data to work with.

Thanks!

Sent from my iPhone

[2015-10-17 02:53] superkhau commented on #1736
@LucaColonnello Take a look at https://github.com/strongloop/loopback-example-access-control

For future reference, please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-17 02:53] #1736 closed

[2015-10-17 09:07] type0lang opened #1739 "hateoas support"
Strong need to add jsonapi support, maybe pluggable support to other paradigms like hal.

slc loopback:jsonapi
slc loopback:hal

[2015-10-18 11:30] danieltrautmann opened #1740 "automigrate and autoupdate doesn't work for AccssToken if utf8mb4 is used (MySQL / MariaDB)"
Hi,

I created a database with utf8mb4 encoding and tried the automigrate and autoupdate feature.
All tables were created successfully except the AccessToken table.

After that I turned on the debug mode and saw the following error:
`Specified key was too long; max key length is 767 bytes`

- Database: MariaDB 10.0.21
- Encoding: utf8mb4
- Collation: utf8mb4_general_ci
- Loopback Version: 2.22.2

[2015-10-18 13:35] danieltrautmann opened #1741 "AccessToken ttl is NaN (MySQL / MariaDB)"
Hi,

if I try to login, the access token cannot be created.
It seems, that the default value for `ttl` is not set in the database.

The login request results in the following SQL statement:
`INSERT INTO `AccessToken`(`id`,`ttl`,`created`,`userId`) VALUES(\'C6y9sbi4v5BqL7spRKM0SqNak84GBoRzA3jBes7YVTC2vI9FIXzHBLXRGtp7HAo4\',NaN,\'2015-10-18 13:01:08\',1)`

As you can see, it's trying to insert NaN i

[2015-10-18 13:38] javierfdr commented on #1739
+1

[2015-10-18 14:00] mastertinner commented on #1711
I just noticed that it only happens when I use mongodb. So that's probably the main difference between my production and local development. So I added a datasource for a mongodb in production.

[2015-10-18 15:28] hecnabae opened #1742 "500 Internal Server Error on save"
Hello , I get 500 Internal Server Error when trying to save an entity. I'm using the mongodb connector and android sdk.
What can be the cause?
Entity :

[code]

Android code:
[code]

Model:
[code]

Thanks in advance!

[2015-10-18 18:58] julien-sarazin commented on #947
What is the status of this issue? Do we have to handle this on our own?

[2015-10-19 04:42] Neil-UWA commented on #1732
I also have this needs for this feature

[2015-10-19 09:43] sandipp opened #1743 "Error while discovering models from existing `redshift` table."
Got the following error while discovering models from existing `redshift` table.

[code]

Please find my [package.json] (https://gist.github.com/sandipp/66a61e245681317b1d6b)
I'm working on newly installed `loopback` app.
My connection with `redshift` was successful.

[2015-10-19 10:26] sandipp commented on #1743
found error following function
[code]
in `node_modules/loopback-connector-postgresql/lib/discovery.js` file
if I print r variable is having following values
[code]
So need to change this line
[code]
to
[code]

[2015-10-19 12:21] tvr3000 commented on #418
+1

[2015-10-19 17:25] superkhau commented on #1743
Can you provide a sample project for me to reproduce this? I don't get lowercase results in the return values in the tests.

[2015-10-19 18:04] superkhau commented on #947
I agree with the fix proposed by @simoami . It should be up to the implementer to decide what to do if a user is not found. Would you like to submit a PR for #1374?

@bajtos @raymondfeng @ritch Thoughts?

@shairez You are right about the example, we should probably not send the `err` with the 401 response. Would you like to submit a PR for that?

@julien-sarazin I would like to get input from @baj

[2015-10-19 18:10] superkhau commented on #1742
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-19 18:10] #1742 closed

[2015-10-19 18:12] geekguy opened #1744 "Querying associated model with scope and limit"
Here is the test project: https://github.com/geekguy/loopback-sandbox (Details in readme)

Lets say we have 3 models, M1, M2 and M3 and instances are m1, m2 and m3.

M1 hasMany M2 and M2 hasMany M3.

Now. I want M2s for a given M1 and I want to include M3 with some condition.

[code]

This returns all m2s and includes m3s with matching condition which is perfect.

Now I wan only one m3 per m2. So

[2015-10-19 18:13] superkhau commented on #1741
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

Also, can you using MySQL and not MariaDB to see if you run into the same problem?

[2015-10-19 18:13] superkhau commented on #1744
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-19 18:14] geekguy commented on #1744
@superkhau : I ll do that, but this looks like an issue to me.

[2015-10-19 18:15] superkhau commented on #1740
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

And can you try the same using MySQL instead of MariaDB.

[2015-10-19 18:17] superkhau commented on #1744
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-19 18:18] psi-4ward commented on #569
Ive the same issue

[2015-10-19 19:18] danieltrautmann commented on #1741
You can find the repository here:
https://github.com/danieltrautmann/loopback-sandbox-issue-1740-1741

I narrowed down the issue to this part of the account model:
[code]

I also tried it with MySQL 5.6.26... same issue.

[2015-10-19 19:29] danieltrautmann commented on #1740
You can find the repository here:
https://github.com/danieltrautmann/loopback-sandbox-issue-1740-1741

STR:
1. Setup database with encoding utf8mb4 and collation utf8mb4_general_ci
2. Change `datasources.json` according to your database
3. Run `node .`
4. Check if table AccessToken was created

NOTE: Datasource debug mode is needed to see the error message!

Same behaviour with MySQL 5.6.26

[2015-10-19 20:16] geekguy commented on #1744
@superkhau : My bad. should have checked that.

Here is the test project: https://github.com/geekguy/loopback-sandbox

[2015-10-19 20:39] alfierivera commented on #1411
Maybe we could work on a mixing that will add this functionality?

What would be the best way to start on this?

[2015-10-19 21:44] GauSim commented on #1692
+1

[2015-10-19 22:19] superkhau commented on #1734
Unfortunately, I do not know enough about this area. However, we can ask some of the other team members to get their thoughts.

@bajtos @anthonyettinger @jtary Any of you guys have experience with React Native?

[2015-10-20 00:01] mike-aungsan commented on #1704
Probably you don't have permission to create directory. Run with sudo

[2015-10-20 00:21] mike-aungsan opened #1745 "Customizing models"
I am trying to customize models according to this link,
https://docs.strongloop.com/display/public/LB/Customizing+models

common/models/MyModel.js

module.exports = function(Review) {
  Review.on('dataSourceAttached', function(obj) {
    var find = Review.find

    Review.find = function(filter, cb) {
      // cb is not a function

      //
    }

  }

}

Response Body

{
  "error": {
    "name":

[2015-10-20 00:33] mike-aungsan commented on #1077
I have similar issue.
https://github.com/strongloop/loopback/issues/1745

[2015-10-20 00:42] mike-aungsan commented on #443
I have similar issue.
https://github.com/strongloop/loopback/issues/1745

[2015-10-20 01:16] mike-aungsan opened #1746 "Adding a schema to a model"
https://docs.strongloop.com/display/public/LB/Validating+model+data#Validatingmodeldata-Addingaschematoamodel

the code from the example does not work

var productSchema = {
  "name": { "type": "string", "required": true },
  "price": "number"
};
var Product = Model.extend('product', productSchema)

ReferenceError: Model is not defined
    at Object.<anonymous> (/home/test/dev/common/models/produc

[2015-10-20 01:20] framp commented on #1411
I'd personally start by refactoring the methods for nested and base resources - so that they can share code (there are already differences in behaviour between nested and base resources - eg. /a/1/b/2 doesn't accept filters).
Then I'd expose the query used to fetch data (not the actual code, just an abstract object/function which represent the request) in a hook.
With that we should be able to get

[2015-10-20 02:18] mrbatista commented on #1411
I have found (this)[https://github.com/exromany/loopback-counts-mixin].

[2015-10-20 02:27] Neil-UWA commented on #1744
try to  explicitly define keyThrough property

[2015-10-20 02:48] framp commented on #1411
Cool, but doesn't really accomplish the same goal.

When talking about nested resources I meant resources accessed through a relationship (`/a/1/b/2`), not included resources

[2015-10-20 03:39] geekguy commented on #1744
@Neil-UWA : Not sure what you mean. Can you please elaborate?

[2015-10-20 04:18] Neil-UWA commented on #1744
@geekguy, sorry, I thought you're using has many through relation. I had this problem when defining has-many through relation without defining key through before.

[2015-10-20 05:40] mattwoolnough commented on #1728
I'm also seeing same issue on Ubuntu 15.04

matt@linux:~$  npm -v
2.14.7
matt@linux:~$ node -v
v4.2.1

[code]

[2015-10-20 07:29] sandipp commented on #1743
I'd not make any changes in code. So I can't provide you sample project.
I already shared my [package.json] (https://gist.github.com/sandipp/66a61e245681317b1d6b).
In addition to that I've connected `redshift` which is using `PostgreSql Server 8.x` from my local `psql-client 9.3`.
Then I've tried discover model link and got this error, and this lowercase properties name.
What more information I ca

[2015-10-20 08:50] bajtos commented on #1734
I don't know much about React Native either, but I would like LoopBack to support React Native at some point in the future. According to React Native [docs](https://facebook.github.io/react-native/docs/network.html#content), it provides a polyfill for XMLHttpRequest API implemented via native networking libraries, so that's a good start.

As for loading the loopback app via `require`, have you tri

[2015-10-20 08:59] julien-sarazin commented on #947
@superkhau Alright. Thanks.
Just as a proposal for those who want to send a 401 if the email does not exist.
[code]

[2015-10-20 09:23] estin commented on #947
@julien-sarazin  in you proposal for one HTTP request for reset password would be two SQL requests for fetchin user by email.

 1. Coder.findOne({where:{email: email}})
 2. if user was founded in resetPassword would be new findOne again by email

sorry for my poor English

[2015-10-20 09:26] julien-sarazin commented on #947
@estin no worries. You're totally right. It's just a "temporary solution" for the pending situation.

[2015-10-20 11:45] julien-sarazin opened #1747 "loopback.getCurrentContext() is null when setting the accessToken from a cookie."
I had to dig into the sources to understand why the accessToken was available from req.signedCookies but not set on the current context, even after adding :

[code]

And i came to this (middleware/token.js)
[code]
The token is properly fetched but the context is always null.

I tried to understand the context creation flow and it seems that you initialize the context during the routes:loopback#res

[2015-10-20 12:30] listepo commented on #445
Hi guys I need help. Why ```this.definition.relations``` is empty?
[code]

[2015-10-20 12:48] listepo commented on #445
When creating a need to get all relations.
Get information about the relationship. To properly set the data. Also, I do not see a single method that returns the foreign key if it is set or created by default.

[2015-10-20 13:20] framp commented on #1737
@superkhau I'll be happy to jump on it, fix the issue and prepare a PR but I'm getting a little bit lost while debugging the issue.

Is there some document I'm missing which describes the request flow and what loopback components are being used?

[2015-10-20 13:25] julien-sarazin commented on #1747
I've found a hacky solution that fit with my needs for now but doesn't work with ACL. :
1 - enabling HTTP in context in config.json
[code]
2 - using the ctx.http.req.accessToken
[code]
3 - ACL restrictions does not work (401 even when i'm authenticated)
[code]
My question: It is possible to combine Passport + Built-in ACL ? If so, can someone tells me how, cause it's driving me crazy.

Thanks!

[2015-10-20 15:05] GlennMurphy opened #1748 "ID's being converted to scientific notation"
As mongo's generated ID's get larger loopback seems to convert mongo's auto generated ID's to scientific notation integers instead of keeping them as strings.

For instance. I have a document with the auto generated ID "562547717371313000366169"

If I request document via the endpoint:

/documents/562547717371313000366169

Loopback returns that it can not find the model. I hooked this call with th

[2015-10-20 15:09] hunterloftis commented on #1609
What does this mean? As far as I know, there is not a thing called "heroku labs."

[2015-10-20 15:22] raymondfeng commented on #445
You should use `modelClass.definition.relations`. I assume the model class is part of `ctx`. The `this` might be the model class or prototype.

[2015-10-20 15:27] SynerG commented on #1692
+1

[2015-10-20 15:39] ritch opened #1749 "Use eslint instead of jshint"
I'm not so opinionated on which of these we use, but @sam-github mentioned that eslint is better, and I tend to believe him.

@bajtos @sam-github

[2015-10-20 15:44] listepo commented on #445
@raymondfeng  thanks, how to set plural for all models?

[2015-10-20 15:44] BerkeleyTrue commented on #1749
:+1:

[2015-10-20 15:55] bajtos commented on #947
@superkhau the proposal in #1374 LGTM in general, I don't have any objections against this change.

[2015-10-20 15:57] bajtos commented on #1749
I don't mind either, as long as we can configure eslint to support the current coding style in our codebase.

[2015-10-20 16:00] superkhau commented on #1749
+1 for eslint

[2015-10-20 16:28] superkhau commented on #947
@estin @julien-sarazin Can one of you guys take the implementation in #1374 and submit it as a PR? I will merge it after a small review.

[2015-10-20 17:16] ianseyer opened #1750 "passportConfigurator userModel not responding to change"
Hi there!

I am using the facebook passport component, to handle user signup via facebook.

It is fully functional, however:

despite my `server.js` containing:
[code]

the users are still created in the standard `User` table.

How would I go about changing this?

[2015-10-20 17:31] BerkeleyTrue commented on #1749
ESlint is able to replace JSCS as well.

It would also be trivial to implement a loopback specific config package that all loopback pages can npm install.

[2015-10-20 18:53] listepo commented on #445
@raymondfeng ```this.definition.settings.relations```

[2015-10-20 18:56] listepo commented on #445
I think you need to fill and other parameters ```as, property, foreignKey```

[2015-10-20 20:39] mike-aungsan commented on #1118
@bajtos
This is my model.json . lastupdated Property does not added automatically. Am I missing something?

{
  "name": "test",
  "description": ["A Test model"],
  "base": "PersistedModel",
  "strict": true,
  "idInjection": false,
  "options": {
    "validateUpsert": true
  },
  "properties": {
    "name": {
      "type": "string",
      "description": ["Name of this template"],
      "required"

[2015-10-20 22:07] mike-aungsan commented on #292
This property does not work.

"properties": {
  "testUuid": {
      "type": "string",
      "description": ["Just A Number field to Test defaultFn and Error Message.",
                      "..."],
      "default": "$uuid",
      "required": false
    },
}

Anything wrong?

[2015-10-21 05:28] rizvanhaider opened #1751 "Can't access stronglooop loopback application which is running on a subfolder on live server"
I have installed strongloop loopback application on a live server on domain e.g: www.mydomain.com . I have created stronglooop loopback project in a subfolder called "lb" After successfull creation I executed the command "slc run" the terminal logs that your loopback app is running on http://mydomain:3000 but when I opened www.mydomain.com/lb or www.mydomain.com:3000/lb... it was not running there

[2015-10-21 08:33] barboni commented on #1747
+ 1

[2015-10-21 09:36] mkoplqq2006 opened #1752 "why?"
Who can tell me, How did my mailbox receive the message?

[2015-10-21 09:43] julien-sarazin commented on #1747
Found the solution to get the accessToken from the cookie.
Force the context creation in the *middleware.json* file
[code]
And set the custom AccessToken model (AuthToken for me) **after** the boot
[code]
i'm still having an issue with ACL that does not work. But i'll open another issue.

[2015-10-21 09:53] yagop commented on #846
Any update on this.

[2015-10-21 12:17] julien-sarazin commented on #1747
Last message, fixed the problem with ACL, the relation between my custom User model (Coder) had a foreign key with my custom AccessToken (AuthToken) named ```coderId```. Built-in ACL won't work if the key is different from userId.

[2015-10-21 12:55] bajtos commented on #1118
@mike-aungsan isn't your app reporting `Unknown default value provider $now` to the console? The correct value for `defaultFn` is `"now"` (no dollar sign). See https://github.com/strongloop/loopback-datasource-juggler/pull/458/files

[2015-10-21 13:06] ddddm opened #1754 "Querying model: filter by related model properties"
Hello. Please help me to understand loopback principles.

For example, i have a "User" model with oneToMany relation to "Photo" model with "status" property (string). My goal is to query only "User" which have "Photo"s with status == "active". As i understand from docs i can query "User" model and include "Photo"s there, specifiying "where" field for "Photo" model, but that's not my goal. Instead

[2015-10-21 13:19] filipemoraes opened #1755 "HasManyThrough relations not working."
There are 3 models: Stage, Races and RaceStage.

stage.json
[code]

race.json
[code]

racestage.json
[code]

I started the nodejs in debug mode:
[code]
I used the StrongLoop API Explorer to make a get request: [GET] /Stages/{id} (id=1) and added the following filter:
[code]

Follows the debug mode response:
[code]

On line 5 the parameter is null: "...params: [null]...".
What I did wrong?
Tks.

[2015-10-21 13:21] ddddm commented on #1754
Found an answer to my question in this issue: https://github.com/strongloop/loopback/issues/517
Its not implemented yet. However, @DiogoDoreto made a fork to loopback-mysql-adapter which might help.
https://github.com/strongloop/loopback/issues/517#issuecomment-148616091

[2015-10-21 13:21] #1754 closed

[2015-10-21 14:25] ghatwala commented on #1728
Hi ,

I have tried the downgrade to npm 2 , but problem still persists.
Could you let me know the best fit versions of npm , node which helps in installing strongloop ?

Regards,
Amit

[2015-10-21 16:04] h2non opened #1756 "Override user get"
I would like to override the default endpoint created by loopback, e.g: `GET /api/users/:id`.

I'm defining a remote method with the same path, but it doesn't work.

[2015-10-21 17:35] superkhau commented on #1756
https://github.com/strongloop/loopback/issues/1077

For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-21 17:35] #1756 closed

[2015-10-21 17:45] g3k0 commented on #1321
+1

[2015-10-21 17:50] h2non commented on #1756
Thank you! I saw that issue, but I was expecting another more convenient solution.

[2015-10-21 18:07] superkhau commented on #1752
What message are you talking about?

[2015-10-21 18:08] superkhau commented on #1756
I don't believe there is one ATM, we accept PR's if you're willing to propose a solution. ;)

[2015-10-21 18:13] crandmck opened #1757 "Create loopback-faq example app"
Let's create a single example app repo to illustrate various small use-cases in multiple example app repos (see list in https://github.com/strongloop/loopback-example#topic-specific-examples).  Intent is to provide working example code but in one repo, to make it easier to maintain.

[2015-10-21 18:23] crandmck opened #1758 "Consolidate example apps"
Some of the [topic-specific](https://github.com/strongloop/loopback-example#topic-specific-examples) example apps can be combined with the [tutorial examples](https://github.com/strongloop/loopback-example#tutorials) because they are closely related.  This should be relatively straight-forward.

Here are some candidates
- [x] Fold [loopback-example-embedded-relations](https://github.com/strongloop

[2015-10-21 18:48] mike-aungsan commented on #1118
Thanks @bajtos   I figure it out a while later :)

[2015-10-21 20:05] GustavoRPS commented on #1655
+1

[2015-10-21 22:12] #1752 closed

[2015-10-21 23:12] superkhau commented on #1740
@danieltrautmann Did you happen to install MySQL/Maria via homebrew by any chance? I ran into the same issue before. Fixed itself when I installed the official off the MySQL site.

[2015-10-21 23:14] superkhau commented on #1704
@ghatwala Are you still running into issues?

[2015-10-21 23:16] superkhau commented on #1745
I believe youPlease post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-21 23:16] #1745 closed

[2015-10-21 23:17] crandmck opened #1759 "Prototype versus instance methods"
Edit and publish https://docs.strongloop.com/display/LB/Prototype+versus+instance+methods

[2015-10-21 23:18] superkhau commented on #1746
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-21 23:18] #1746 closed

[2015-10-21 23:38] superkhau commented on #1748
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-21 23:40] superkhau commented on #1755
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-21 23:40] #1755 closed

[2015-10-21 23:49] superkhau commented on #1751
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-21 23:49] #1751 closed

[2015-10-21 23:50] superkhau commented on #1750
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-21 23:51] superkhau commented on #1737
@crandmck ^ Do we have such a doc?

[2015-10-22 00:14] superkhau commented on #1186
@petergi Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-22 00:30] berill opened #1760 "Querying nested included models isn't using the foreignKey and not using the scope filters"
Hi,

Trying to include model and related sub-model, but it doesn't seem to be taking into consideration the foreign key, nor the filter in sub-model scope.

Test to reproduce is:

1. a Writer model inheriting from User
2. the Writer has a relation hasMany towards Book (that inherits from PersistedModel)
3. the Writer has a relation hasMany towards SocialNetwork (that inherits from PersistedModel)

[2015-10-22 01:18] mike-aungsan opened #1761 "Error: FileSystemProvider: Path does not exist: undefined"
According to this doc,

https://docs.strongloop.com/display/public/LB/Storage+component

I created a folder 'storage' under server folder

server/server.js

var ds = loopback.createDataSource({
    connector: require('loopback-component-storage'),
    provider: 'filesystem',
    root: path.join(__dirname, 'storage')
});

var container = ds.createModel('container')

Error: FileSystemProvider: Path

[2015-10-22 01:22] mike-aungsan commented on #1761
I see what the problem is. The error actually come from datasources.json

This command should ask for root storage path.

slc loopback:datasource

[2015-10-22 01:22] #1761 closed

[2015-10-22 01:37] ianseyer commented on #1750
This seems like an issue to me. The lack of documentation makes it hard to tell, but setting a `userModel` would seem to be the appropriate thing to change.

[2015-10-22 03:27] pmoelgaard commented on #1692
+1

[2015-10-22 10:28] bajtos commented on #608
We should rethink what needs to be done here. The current project template loads `loopback.rest` via `server/middleware.json`, where it is possible to specify the options object passed to `loopback.rest(options)`. In a discussion elsewhere, we came to the conclusion that remoting config should be in fact moved away from `server/config.json` and kept in `server/middleware-config.json`.

[2015-10-22 10:30] bajtos opened #1762 "Drop support for remoting config in server/config.json"
`loopback.rest` middleware is now loaded via `server/middleware-config.json` where it is possible to specify any extra configuration as needed.

I am proposing to remove `app.get('remoting')` entirely.

[2015-10-22 10:35] bajtos commented on #1150
I am proposing to add a new setting to the User model that would allow LoopBack apps to decide whether they want case-sensitive checks of emails or not.

[2015-10-22 10:41] OwenBrotherwood commented on #1150
@bajtos sounds good.
This issue is in what way the user email is used in Authentication, ie strict case sensitive or not and that the framework is used to reduce load on the application

https://github.com/strongloop/loopback/issues/1723 is the other issue of interest, that seems to have a life of it's own but is "interesting" as to what is a valid user email, that is in turn used in Authenticatio

[2015-10-22 10:48] bajtos commented on #1701
I am closing this issue as invalid per @fabien's comment mentioning the current behaviour is intended.

[2015-10-22 10:48] #1701 closed

[2015-10-22 15:40] mrbatista commented on #651
@superkhau Is there any sprint planned for these features?

[2015-10-22 15:55] superkhau commented on #651
@mrbatista Anything marked with a label is up for sprint planning. There is no guarantee when the issue will be pulled into the current sprint. See https://waffle.io/strongloop-internal/scrum-loopback.

[2015-10-22 17:20] TimPerry commented on #1734
@bajtos Sorry I'm not entirely sure what you mean.

In terms of the browserify approach I've replaced the react native packager with a webpack one, this has allowed me to use the loopback webpack plugin and I seem to have something working. However I had to skip using loopback-boot and it was throwing that cannot find loopback-boot#instructions error like (https://github.com/strongloop/loopback-bo

[2015-10-22 17:39] ianseyer commented on #1750
Well, regardless, I made an issue here:
https://github.com/strongloop/loopback-component-passport/issues/95

[2015-10-22 17:52] superkhau commented on #1750
@ianseyer What is missing from the docs?

@crandmck ^

[2015-10-22 17:54] ianseyer commented on #1750
Well, so the documentation here: https://apidocs.strongloop.com/loopback-component-passport/#passportconfigurator-prototype-setupmodels is not very clear, but I believe I am using it correctly in the example above.

[2015-10-22 17:58] superkhau commented on #1762
+1

[2015-10-22 18:13] Overdrivr commented on #995
I believe I have the same issue. I use supertest with mocha

Here is my test script
[code]
I am using MySQL storage, here is my automigration script
[code]
At first I thought I did not initialize properly the server but I receive the first console.log when running mocha.
Here is my console output
[code]

Any idea what is going on ? I'm pretty sure my test script is missing something but since I'm

[2015-10-22 18:30] crandmck commented on #1737
No, I don't think so.  If we can get this info, it would be a nice addition to docs... Perhaps @raymondfeng could provide it?  It might not even be practical... flow for Node/async operations can become rather complex (which is why it's hard to debug).

[2015-10-22 18:38] crandmck commented on #1750
@ianseyer Have you read [Third-party login (Passport)](https://docs.strongloop.com/pages/viewpage.action?pageId=3836277)? That should provide better information than just the API doc.  Also, see https://github.com/strongloop-community/loopback-example-passport.

[2015-10-22 18:40] ianseyer commented on #1750
Yes, I have read both. Both use the default user class, nor is there an explicit "here is how you use your own user model" section.

[2015-10-22 18:43] ianseyer commented on #1750
Ah! Fixed. Turns out it creates `userIdentity` and `userCredential` based on initial configuration, and creates a relation in the DB that relates to a specific model. Since I had used this before with the default class, changing the userModel changes nothing.

Adding a note about that to documentation might be useful, or maybe I'm just slow!

Either way, thank you!

[2015-10-22 18:45] crandmck commented on #1750
Thanks @ianseyer -- I will add a note to the docs to clarify.   Since you resolved your problem, I'll close this issue.

[2015-10-22 18:46] ianseyer commented on #1750
Sorry, Misfire. Not fixed.

[2015-10-22 19:11] listepo commented on #1749
:+1:

[2015-10-22 20:44] danieltrautmann commented on #1740
Yes I installed it via homebrew. I'll try the original sources in the next days and give feedback to you.

[2015-10-22 22:23] rmg commented on #1728
@ghatwala what is the error message when installing using npm 2?

[2015-10-22 23:05] berill commented on #1760
Hi guys,
sorry had reported the bug late at night and forgot to actually check your reporting issue guideline. doh.

Here is the forked repo: https://github.com/berill/loopback-sandbox/

Steps to reproduce are included in the commit, but copied here anyway:
- npm update && npm install
- node_modules/mocha/bin/mocha test/sub-model-test.js

I'd say it is a datasource-juggler problem, seeing that the

[2015-10-23 01:28] mike-aungsan commented on #426
I spent a few hours on this too. Doc is not clear. It should clearly mention that default is denied

[2015-10-23 01:43] mike-aungsan opened #1764 "access tokens in the query parameter"
Is there anyway to disable access tokens passed in the query parameter ?

[2015-10-23 02:14] superkhau commented on #426
@crandmck ^

[2015-10-23 02:15] superkhau commented on #1764
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-23 02:15] #1764 closed

[2015-10-23 05:44] djaney opened #1765 "Not getting parent relation in Angular SDK"
I'm trying to query the UserIdentitiy and include the user model. but the user data does not appear in the result. It works If I query User and include identity but not the other way around.

The Query:

                    return UserIdentity.find({
                        filter:{
                            include:'user',
                            limit:params.count(),

[2015-10-23 10:34] khashayar commented on #1441
It only happens with MongoDB as a datasource.

@superkhau
1) Create a custom 'user' model based on 'User' model
2) Add following relation to it:

[code]
3) Create a boot script with following code

[code]

Now check the [GET} /users result with `{include: "roles"}`, the roles array for first user is empty!

Adding the following lines would inside the boot script would solve the problem:

[code]

[2015-10-23 10:52] alFReD-NSH commented on #1441
@khashayar that happens because you're using th e built in `User` model which doesn't have the relationships defined for it and not your custom built `user` model I believe.

[2015-10-23 10:57] mackwan84 opened #1766 "Include Filter doesn't work for referencesMany relation"
I am working on a ticketing system with loopback recently. I have defined a ticket model with a relation named "assignees" which reference to the model "EndUser" using referencesMany. However, when I try to list out all tickets with Include Filter, no assignees are returned from the query. Why?

Here is my model definition

[code]

[2015-10-23 11:07] vnathalye commented on #426
While trying CoffeeShop example given at [https://docs.strongloop.com/display/LB/Getting+started+part+II](https://docs.strongloop.com/display/LB/Getting+started+part+II) I'm getting 401 only while editing the review. I've the ACLs defined as given @ [https://docs.strongloop.com/display/public/LB/Define+access+controls](https://docs.strongloop.com/display/public/LB/Define+access+controls)

So the f

[2015-10-23 11:24] khashayar commented on #1441
@alFReD-NSH Actually I'm using my custom `user` model. It was a typo once I entered the sample code here on Github. I updated the actual sample code.

[2015-10-23 16:27] h2non commented on #1756
Ideally, the framework should provide a decoupled layer between HTTP protocol top interface and data layer with a convenient interface to programmatically bind those layers, and handle them properly.
For instance, you can declare your HTTP interface explicitly, but al protocol level, and then bind it to model layer. Loopback actually does something similar internally, but that logic is not exposed

[2015-10-23 22:43] crandmck opened #1767 "Document nestRemoting"
Need to add [nestRemoting](https://github.com/strongloop/loopback/blob/master/lib/model.js#L663) both to API docs and to relations docs.  See http://blog.brainfock.org/2015/10/23/loopback-tip-of-the-day-nest-remoting/

Also see test at https://github.com/strongloop/loopback/blob/master/test/relations.integration.js#L1326

Also:
nestRemoting is a function, and you call it like this:
`Book.nestRemot

[2015-10-24 00:59] mike-aungsan commented on #274
I setup Model according to this example with HasManyThrough Relations.

https://docs.strongloop.com/display/public/LB/HasManyThrough+relations

In the explorer, http://localhost/explorer

I do not find any API that I can create appointment with physicianId and patientId

I look at appointment API, I look at patient API and physician API

Is it something missing or that need to be created manually?

[2015-10-24 00:59] mike-aungsan opened #1768 "API missing"
I setup Model according to this example with HasManyThrough Relations.

https://docs.strongloop.com/display/public/LB/HasManyThrough+relations

In the explorer, http://localhost/explorer

I do not find any API that I can create appointment with physicianId and patientId

I look at appointment API, I look at patient API and physician API

Is it something missing or that need to be created manually?

[2015-10-24 07:52] digitalsadhu commented on #445
@bajtos earlier you mentioned:

I'd be happy to have a crack at submitting the PR for this. Any chance you can give me a bit of guidance?

[2015-10-24 16:38] danilat opened #1769 "Error using connector-remote datasource for AccessToken model"
Using loopback to develop a couple of microservices I found a bug when I try to use a common microservice to auth validate access-tokens using remote-connector.

I have this configuration in the datasource:

[code]

And all related authentication/authorization stuff in the model-config use the auth datasource. For example:

[code]

When I use an existing access-token I get this error:

[code]

I'm

[2015-10-25 13:23] digitalsadhu commented on #445
@bajtos @raymondfeng @ritch
I'm running into another issue that specifying 'application/vnd.api+json' as the `accept` type is not handled in strong remoting here:
https://github.com/strongloop/strong-remoting/blob/4575e92142aa32ee4a568862f93b394e7d034127/lib/http-context.js#L561-L593
I end up with a `406 Not Acceptable`

The only option I can think of at the moment is to detect `application/vnd.ap

[2015-10-25 16:18] danieltrautmann commented on #1740
Now I tried the current versions of MySQL and MariaDB.
Instead of using homebrew, I created two virtual machines, one with MySQL 5.7.9 and one with MariaDB 10.1.8.

It works well with MySQL, but not with MariaDB.
Unfortunately I have to use MariaDB.

[2015-10-25 23:07] tekand opened #1771 "Define custom logic for upsert"
Is there a way to "help" the upsert find the instance to be updated?

My model is the following:

`{ time: Date, qId: id, aId: id, id: id}`

id is defined as the primary key, but because of business logic `{gId, aId}` can be considered as a primary key. I would like to create a new instance in case the `{gId, aId}` does not exists (regardless of the `id`) and update the existing one if is existing

[2015-10-26 10:02] seemike commented on #1217
It there a fix now? What is the recommended workaround?
We found this problem in the production system of our application. Some instances cannot be retrieved because the ObjectId values are converted to number.
This bug is really critical to us!

[2015-10-26 12:44] amok commented on #607
But does it fit REST spec?

[2015-10-26 15:13] framp commented on #1737
Got some more time to debug it and tracked it down to the `DataAccessObject.find` in `loopback-datasource-juggler/lib/dao.js#L1309`.
The function is called 4 times, the third time it's not calling `allCb` and consequently `cb`.

Following the callback:
 - `connector.all(self.modelName, ctx.query, options, allCb)` which goes to `lib/connectors/memory.js#L315`.
- `self._models[model].model.include(n

[2015-10-26 17:11] ianseyer commented on #1750
@crandmck just want to make sure you see that this is NOT fixed. My mistake.

[2015-10-26 17:16] pmoelgaard commented on #1180
+1

[2015-10-26 17:18] pmoelgaard commented on #1626
+1

[2015-10-26 17:19] pmoelgaard commented on #1454
+1

[2015-10-26 18:24] ritch commented on #445
Sure. You should be able to add it as a `case`.

[2015-10-26 18:25] digitalsadhu commented on #445
@ritch awesome. Will do.

[2015-10-26 18:36] pmoelgaard commented on #1180
for what it's worth, I solved it on my side by creating a mixin, it's by far the easiest way... I'm right now only using MySQL, so didn't add support for other connectors, but it would be easily done...

https://gist.github.com/bf1091d5827e85d5a27f.git

[2015-10-26 18:55] JonnyBGod commented on #1454
+1

[2015-10-26 19:23] wesleycoder commented on #1321
+1

[2015-10-26 20:33] crandmck commented on #1750
Thanks @ianseyer.   I'm not clear on whether this is a doc issue or if there is a problem with the passport component or the example app.

[2015-10-26 20:53] ianseyer commented on #1750
The issue, at this point, is a passport component issue.

Though it is hard to tell, due to the sparse documentation around changing
the user model used by the component.

On Mon, Oct 26, 2015 at 3:33 PM Rand McKinney <notifications@github.com>
wrote:

[2015-10-26 21:35] digitalsadhu commented on #445
@ritch PR submitted. https://github.com/strongloop/strong-remoting/pull/249

[2015-10-26 22:22] mike-aungsan commented on #1764
https://groups.google.com/forum/#!topic/loopbackjs/ehQyypHegLw

[2015-10-26 22:32] vikmeup commented on #1771
:+1:

[2015-10-26 23:29] mike-aungsan commented on #1485
Same issue. comment here just to trace this bug.

[2015-10-26 23:37] crandmck commented on #1750
@raymondfeng Could you take a look at this, please?

[2015-10-27 00:27] superkhau commented on #1740
@raymondfeng Do we support MariaDB officially?

[2015-10-27 00:33] superkhau commented on #1769
Thanks for the PR. I will pass it along to @ritch since he knows this area better.

[2015-10-27 00:34] superkhau commented on #1769
@danilat Actually can you submit the PR? You only referenced it.

[2015-10-27 00:36] superkhau commented on #1769
Actually nevermind, its here at: https://github.com/strongloop/loopback/pull/1770

[2015-10-27 00:42] superkhau commented on #1768
Can you provide a link to a test project on GitHub? See https://github.com/strongl    oop/loopback/wiki/Reporting-issues#bug-report

[2015-10-27 00:46] superkhau commented on #1766
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See h    ttps://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-27 00:46] #1766 closed

[2015-10-27 00:50] superkhau commented on #1765
Can you provide a link to a test project on GitHub? See https://github.com/strongl    oop/loopback/wiki/Reporting-issues#bug-report

[2015-10-27 02:18] mrbatista commented on #1750
@crandmck The problem is hard-coded relation in models user-identity.json and user-credential.json. At the moment, for my experience, use of this component is strictly dependent to model User built-in loopback or custom model with the same name for model and foreing key for relation. @ianseyer if you use custom model, is necessary to define custom model for identity e credentials. In the fact copy

[2015-10-27 02:50] MarkAndrewJohnson commented on #1321
The benefit of making this a type instead of a loopback option is that if you need to provision for a secondary access method which isn't via loopback then the enum won't validate the input.  Obviously not every use case by far but worth keeping in mind.

[2015-10-27 06:01] rizvanhaider opened #1772 "Error! Process out of memory.... Do Strongloop loopback app by default uses multiple processes?"
I have created a loopback.io project which creates rest API of a MySQL table which contains more than 150,000 records, the rest API takes 30 seconds to retrieve specific(3) columns, I also have more two tables which are also big like this table, after combining these all the rest will go too slow.. Now I have 4 questions

Is this loopback project bydefault uses multiple process/threads?
If I have

[2015-10-27 08:33] tekand commented on #1771
Another workaround would be to define a remote method for the model which then queries the correct and unique `id˙ and then executes the upsert.

[2015-10-27 08:48] topazas commented on #281
I found this problem in couple Ubuntu 14 servers using node.js 4.1.2
By default somehow slc is not created or not added to PATH.
Solved this problem by adding symlink:
```code```
sudo ln -s /usr/lib/node_modules/strongloop/bin/slc.js /usr/bin/slc
```code```

[2015-10-27 09:18] topazas opened #1773 "node.js 4.1.2 support"
For simple testing in Ubuntu 14 and node.js 4.1.2 LTS it does not work with multiple problems. Any plan to support newer version of node.js?

[2015-10-27 09:21] digitalsadhu commented on #1495
@ezrarol are you passing your options through to updateAttributes? See Ritchs comment above about needing to pass the options object along yourself.

[2015-10-27 12:45] echmykhun commented on #1700
Hello!
I just wanted to test production config of my application. I set NODE_ENV to "production" and called node server/server.js and it returns me this:

    throw new Error('Cannot apply ' + fileName + ': ' + err);
    ^
Error: Cannot apply /vagrant/server/component-config.production.json: Cannot merge values of incompatible types for the option `loopback-component-explorer`.
    at mergeCompone

[2015-10-27 12:51] echmykhun opened #1774 "loopback-component-explorer production disabling cause error"
Hello!
I just wanted to test production config of my application. I set NODE_ENV to "production" and called node server/server.js and it returned me this:

    throw new Error('Cannot apply ' + fileName + ': ' + err);
    ^
Error: Cannot apply /vagrant/server/component-config.production.json: Cannot merge values of incompatible types for the option `loopback-component-explorer`.
    at mergeCompon

[2015-10-27 14:03] Overdrivr commented on #995
Please note that this issue is not reproducible computer to computer. I am not getting this issue on my second work computer, with the exact same codebase.
Is it possible it is related to mocha timeout ? Is 1 second the default ?

[2015-10-27 15:21] raymondfeng commented on #1773
Can you elaborate the problems?

[2015-10-27 16:47] Pentiado commented on #1773
I'm running LoopbackJS on 4.2.1 on few different OSes including Ubuntu and works perfectly fine

[2015-10-27 17:35] pmoelgaard opened #1775 "virtual properties / read-only properties / property aliases"
MySQL 5.7 supports generated columns, which basically are virtual fields, any plans to add support for virtual properties or read-only properties ?

[2015-10-27 17:46] nasihere opened #1776 "dynamic relationship by code not working with random model"
When i removed relations from Customer.Json and Review.json and try to do the same relationship by code. Why isn't showing me expected results? What i am doing wrong

  var Customer = app.models.Customer;
  var Review = app.models.Review;

   Customer.hasMany(Review, { as: 'customer', foreignKey: "authorId" })
   Review.belongsTo(Customer, { as: 'review', foreignKey: "authorId" })
     Customer.fi

[2015-10-27 18:32] mike-aungsan commented on #465
I can put this at user.js, model extends from build-in user, which hidden count API from API explorer and probably disable
user.sharedClass.find('count', true).shared = false

But I want to hide and disable reset API but have type error
user.sharedClass.find('reset', true).shared = false

TypeError: Cannot set property 'shared' of null

Anyway, these API should be in document somewhere.

Many Than

[2015-10-27 18:32] danielrvt commented on #1121
+1

[2015-10-27 19:46] iblazevic opened #1777 "adding route specific middleware"
I've read through documentation and couldn't find a solid example on how to exactly add route specific middleware.

To illustrate what that means, we have custom authorization middleware that we had to make for this specific project and its configurable for specific routes.

In express it would look something like this:

    router.route('/someRoute')
      .get(
        customAuthorize(customPara

[2015-10-27 20:52] superkhau commented on #1777
@crandmck ^

[2015-10-27 20:52] superkhau commented on #1777
Oops, accidentally closed it.

[2015-10-27 20:54] superkhau commented on #465
@crandmck ^

[2015-10-27 20:56] topazas commented on #1773
Please close. I think it was some misconfiguration in systems. It works.

[2015-10-27 20:56] #1773 closed

[2015-10-27 20:56] superkhau commented on #1776
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-27 20:56] #1776 closed

[2015-10-27 21:02] superkhau commented on #995
@Overdrivr Default for mocha is 2s.

[2015-10-27 21:20] crandmck commented on #1777
IIUC, docs currently say to do it the same as in Express: https://docs.strongloop.com/display/LB/Defining+middleware#Definingmiddleware-Routingmiddleware.

@bajtos Is the above a good way to add route-specific mw?  Should we add an example like that to docs?

[2015-10-27 22:05] benawarez commented on #213
Could you share how you implemented gridfs storage?  Thanks.

[2015-10-28 00:31] ghost opened #1778 "Password data type"
Perhaps loopback should support Password data type off the box since doing this in connector level means cleartext passwords end up to query logging.

Many apps do not encrypt their passwords and for the average joe user writing custom hooks/queries within loopback to do this would be beyond their depth level especially if the dev is non-security focused as typically is the case.

Ideal candidate

[2015-10-28 00:41] titusfoo commented on #1778
Thinking around this beyond the box.. would be great to have custom type hooks that are cast'able.. e.g. if custom type "Passwords" is cast into certain connector/use, thing happens for which one can write .js and off the box there is Password - where also cast back to presentation would just overwrite with 'hidden' or something if somebody forgot to hide the property in first place.

[2015-10-28 01:12] ghost opened #1779 "Custom Cast'hook'able Data Types"
Continuing from #1778 Password Data Type, raising this as separate for more versatile solution where Password could be reference implementation;

Would be great to have application wide custom types that are hookable when casted around difference places (presentation, data stores etc.)..

e.g. if custom type "Passwords" is cast into certain connector/use, translation happens from type cast hook(s)

[2015-10-28 04:06] #1765 closed

[2015-10-28 09:28] framp commented on #1737
Fixed the bug, it was a missing callback in loopback-datasource-juggler.

I opened a PR on that repo

[2015-10-28 11:37] AndreasPizsa commented on #1321
+1

Enums are a common pattern; adding enum support - whether as a type or a constraint - would greatly simplify repeated validity checks on parameters.

[2015-10-28 13:23] Ijmir opened #1781 "creating entity with relation stores the foreign key as plaintext instead of ObjectID"
I have feeds and comments models.
comments belongsTo feeds with foreign key **feedRef** and relation name **feed**.
feedRef field is an ObjectID - defined in boot script.

[code]

1) When I save a comment with **feed** object (with _id) attached I see that in mongodb feedRef is stored as plaintext and **feed** is discarded
2) When I save a comment with **feedRef** attached I see that in mongodb fe

[2015-10-28 15:19] h2non commented on #1756
This could be done now with:
[code]

[2015-10-28 15:28] vdust commented on #1723
At the time i commented on this ticket, a port of Dominic Sayers' is_email for node that i read about couldn't be found anywhere. It seems that it is back on here: https://github.com/hapijs/isemail/

    $ npm install isemail

It validates all the test cases of the original implementation and also has support for dns check (optional).
I'll take a look at it and write a patch to use it in loopback.

[2015-10-28 15:37] davebcn87 commented on #1178
This is happening to me also. When trying to create an embedded model through the API Explorer I get a validation error like this:

    ...contains invalid item at index `0`: `id` is blank (value:...

[2015-10-28 16:45] superkhau commented on #1781
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-28 20:19] julien-sarazin commented on #418
Seems like *hasAndBelongsToMany* relations are not promisified neither.
Example
**Article (extended from PersistedModel)**
[code]
**Author (extended from User)**
[code]

[code]

Maybe i'm missing something...

[2015-10-28 23:15] crandmck commented on #465
Parts of the above are documented:
- [sharedClass.find()](https://apidocs.strongloop.com/strong-remoting/#sharedclass-prototype-find)
- [sharedMethod](https://apidocs.strongloop.com/strong-remoting/#sharedmethod) - I notice that the `shared` class property does not have a description--I will add that.

AFAIK, there is no `reset` method of `user`, but there is a [resetPassword](https://apidocs.stro

[2015-10-28 23:21] berill commented on #1760
After a chat in the gitter channel, it turns out the subquery was wrong as it was missing the scope { } around the where.

I've pushed the correct commit in the forked repo, and that now works with the mysql connector.

However the unit test with the memory connector is still failing.

Correct query:
[code]

[2015-10-28 23:36] crandmck commented on #426
@mike-aungsan I added a note to https://docs.strongloop.com/display/LB/Accessing+related+models#Accessingrelatedmodels-note.
Please let me know if there's any issue with it.

[2015-10-28 23:58] mike-aungsan commented on #426
@crandmck Many Thanks

[2015-10-29 00:03] mike-aungsan commented on #465
@crandmck
What is the different between those two?

For example,

// does not work
user.disableRemoteMethod('update', true)
user.disableRemoteMethod('destroyById', true)

// it work
user.sharedClass.find('update', true).shared = false
user.sharedClass.find('destroyById', true).shared = false

Thanks.

[2015-10-29 00:43] ritch opened #1783 "Command line for printing swagger.json"
As a LoopBack dev, I should be able to export my api def as swagger, so that I do not have to run my app and curl http://localhost:3000/explorer/swagger.json.

[code]

By default it should output the swagger document as yaml.

It should take a couple opts.

[code]

That would output JSON instead of yaml.

Also, I should be able to use the output of the api-def tool as the input of another tool.

[

[2015-10-29 00:46] #1737 closed

[2015-10-29 05:01] Neil-UWA commented on #1774
I suppose in your component-config.json, looks like :

[code]

The problem here is that when you set NODE_ENV to production, the merge utility of loopback will try to merge a boolean (in this case , false in your component-config.production.json) with Object and it fails to merge them.

The simplest way to disable explorer is to remove explorer.js and the component-config.{}.json file entirely in

[2015-10-29 06:50] superkhau commented on #1772
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

Node.js is single threaded.

See https://strongloop.com/node-js/subscription-plans/ for pricing.

[2015-10-29 06:50] #1772 closed

[2015-10-29 09:55] jhitchcock opened #1784 "Cloud9 Update"
Morning,

It seems like the cloud9 template for creating a loopback instance is out of date often. Is there a process we can agree with Cloud9 to keep it up to date?

[2015-10-29 10:55] wprater commented on #1264
is there more config required for the syntax mentioned in the first post to work?  in order for my mixin (plugin) to work, I need to define it in the LDL file for the model.

[2015-10-29 10:58] mrfelton commented on #418
@julien-sarazin I don't think any of the relationship methods are promisified directly, although they do support promises via the `getAsync` method which is promisified. eg

`author.contributions.getAsync().then()`

[2015-10-29 12:15] bajtos commented on #1783
Sounds like a useful feature to me! :+1:

[2015-10-29 12:57] sinedied opened #1785 "REST naming conventions and consistency"
It there a way to setup the default naming convention for REST API exposition? I did not find in documentation, in this case this may be a possible evolution.

I am bothered as by default, `PascalCase`, `camelCase` and `snake-case` is mixed in exposed endpoints. For example, any *PersistedModel* has the `/findOne` and `/change-stream` endpoints. Is there a way to uniformize that?

[2015-10-29 15:43] jhitchcock commented on #1784
NEvermind, Cloud9 have removed it now

[2015-10-29 15:43] #1784 closed

[2015-10-29 16:07] julien-sarazin commented on #418
You're totally right. Thank you!

[2015-10-29 16:41] philipheinser commented on #770
@raymondfeng Any updates on this one?

[2015-10-29 17:18] chandadharap commented on #1783
Need to assign to Candy

[2015-10-29 17:35] superkhau commented on #1785
@crandmck ^

[2015-10-29 17:51] crandmck commented on #1785
The remoting property `rest.normalizeHttpPath` controls the naming convention for model REST endpoints. See
See https://docs.strongloop.com/display/LB/config.json#config.json-Remotingproperties

As far as the naming convention for PersistedModel endpoints, that is a design choice/eng. feature, not a doc issue.  Not sure what I'm supposed to do with this. @superkhau is there something else that nee

[2015-10-29 17:57] superkhau commented on #1785
@crandmck Thanks. One thing we should note is the naming convention for persisted model endpoints are not changeable and a design/engineering choice. I believe one of the todo items for LB3 is to make this more flexible (ie. user customizable).

[2015-10-29 18:14] ianseyer commented on #1750
I see. So can I get confirmation that this is infact an issue, and `UserModel` is not functioning? @crandmck

[2015-10-29 18:44] crandmck commented on #1758
Related: move examples out of component repos into separate example repos:
- https://github.com/strongloop/loopback-component-push/issues/49
- https://github.com/strongloop/loopback-component-storage/issues/26

[2015-10-29 18:59] sinedied commented on #1785
Thanks, `rest.normalizeHttpPath` should mame me happy ;)

I agree that the naming convention are design choices, it is sad though that the same convention are not consistently applied everywhere for the base model. But since the normalization option should fix it, it is more a matter of polish than a real issue then.

[2015-10-29 19:03] crandmck commented on #1785
Added a note to https://docs.strongloop.com/display/LB/PersistedModel+REST+API.

[2015-10-29 19:03] #1785 closed

[2015-10-29 19:08] crandmck commented on #1750
@superkhau I believe this falls into triage?  IAC, I don't _think_ it's a doc issue, but someone in eng. should really have a look.

If this is a bug in `loopback-example-passport`, then this issue would more properly be in that repo.

[2015-10-29 19:09] ianseyer commented on #1750
I made one there, but it was closed by Simon.

On Thu, Oct 29, 2015 at 2:08 PM Rand McKinney <notifications@github.com>
wrote:

[2015-10-29 19:28] nitintutlani commented on #1692
+1

[2015-10-29 19:44] superkhau commented on #1750
@ianseyer Which issue was this? Let's reopen it if you believe it to be a legitimate bug. Please provide a sample repo with steps to reproduce on my end to confirm it (if you have no already done so).

[2015-10-29 19:45] ianseyer commented on #1750
Oh!

Sorry, it wasn't you. It was superkhau.

https://github.com/strongloop/loopback-component-passport/issues/95

I will make a repo soon.

On Thu, Oct 29, 2015 at 2:44 PM Simon Ho <notifications@github.com> wrote:

[2015-10-29 19:54] superkhau commented on #1750
LOL, I am superkhau. I marked that issue as a duplicate of this issue. Are you saying that issue is different from this one?

[2015-10-29 19:56] ianseyer commented on #1750
XD

My email changes it to your name proper. It is the same issue, however, the
issue belongs in passport-component.

On Thu, Oct 29, 2015 at 2:54 PM Simon Ho <notifications@github.com> wrote:

[2015-10-29 20:58] superkhau commented on #1750
Haha, its all good. You are right though, we should reopen the other issue and close this one as the duplicate. Fixing.

[2015-10-29 20:59] superkhau commented on #1750
Duplicate of https://github.com/strongloop/loopback-component-passport/issues/95.

[2015-10-29 20:59] #1750 closed

[2015-10-29 21:21] barocsi commented on #1669
This nature has another bad result, as co-issue comes with Angular JS SDK User.logout(): it simply does not return anything, not even fires the callback. Meaning there is no way to detect the result of the logout nor the nature of the logout in this special case when accessToken had been deleted from the database.

Reference https://github.com/strongloop/loopback/issues/1081

[code]

As a workarou

[2015-10-29 21:45] crandmck commented on #465
Where is this code running?  Normally, it's `User` (not `user`), because you do
[code]

[2015-10-30 03:45] arash01 commented on #440
Same here

[2015-10-30 12:34] sinedied commented on #1785
I used the `rest.normalizeHttpPath` option but this did not fix the `findOne` endpoint, where it should be transformed to `find-one`. This bug may be related to #608 .

[2015-10-30 13:06] sinedied commented on #843
I tried to make a new `BaseModel` deriving from `PersistentModel` and added this code inside.

However, new models deriving from `BaseModel` still have the endpoints exposed, why is that?

[2015-10-30 13:48] groupsvkg opened #1786 "Admin page after login"
Hi Team,

I have created a boot script to create admin role and assigned it to a user.

Am using angularjs sdk on client side. Trying to figure out how land a user to different page when user is "admin".

Not able to get role associated with user on client side after login.

Regards,
vishal

[2015-10-30 13:50] kennethlynne commented on #843
Maybe whitelisting endpoints using ACL solves the problem for you?

![image](https://cloud.githubusercontent.com/assets/390817/10847264/81f10dea-7f15-11e5-8c50-c519a548cdcd.png)

[2015-10-30 15:37] sinedied commented on #843
This may be a solution, but do not want to use ACL for now I do not manage users.
Anyway, I'm more interested in understanding why models deriving from my base model did not inherit its behavior than finding a workaround ;)

[2015-10-30 16:33] dot-louis commented on #917
+1

[2015-10-30 16:50] priyavivek1 opened #1787 "Loopback creates a domain with no error handler"
It does that here: https://github.com/strongloop/loopback/blob/9a33602458712afecedd25062f02bd8b5c4e01a5/server/current-context.js#L35

And that's a problem, because node doesn't invoke the uncaughtException handler when a Domain error goes uncaught. See https://github.com/nodejs/node/issues/3607.

Loopback should have a reasonable default error handler, or provide me with an API to install one.

c

[2015-10-30 17:36] f0ysal commented on #1692
+1

[2015-10-30 17:59] superkhau commented on #1758
- [ ]  Merge 5 database branches into one master branch with README steps differing for connectors

[2015-10-30 20:58] seminice opened #1788 "Remote method request PENDING"
I'm using remote method like this
[code]

when I call the method from my angular app
```Reply.rate({replyId: replyId}, cb);```
The request hangs pending, it works and adds a rate to the reply model , but it stuck pending,
I'm using a similar remote method to upload videos and images and its the same, the request is pending.
Anything Im missing here?

[2015-10-30 23:52] EthraZa commented on #1595
Hi, I came to the point in my project where I need to update an user password.
Was this fixed already?

[2015-10-31 00:50] mike-aungsan opened #1790 "Role.isInRole && ACL.isMappedToRole do not work"
https://github.com/strongloop/loopback-acl-route/issues/3

I finally found this repo. Basically copy the code from this file
https://github.com/strongloop/loopback/blob/9a33602458712afecedd25062f02bd8b5c4e01a5/test/role.test.js

Those two functions does not work. isInRole should be true

    User.create({name: 'Raymond', email: 'x@y.com', password: 'foobar'}, function(err, user) {

      console.l

[2015-10-31 01:06] superkhau commented on #1788
[code]

For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-31 01:06] #1788 closed

[2015-10-31 01:28] superkhau commented on #1786
Can you provide a link to a test project on GitHub? See https://github.com/strongl    oop/loopback/wiki/Reporting-issues#bug-report

[2015-10-31 06:49] groupsvkg commented on #1786
Hi superkhau,
i will share the test project but ......basically i want to know the correct syntax of clientside login api to inclues role in response

in login response i want to know user's role so that i can render correct page.

[code]

[2015-10-31 08:45] seminice commented on #1788
Thank you! and I'm really sorry I thought it was an issue since I implemented that after upgrading to the latest loopback.

[2015-10-31 09:20] wzup opened #1791 "Error: Cannot find module '../data-sources/db'"
I want to perform Auto-migrate my models to my MongoDB database. I read this docs https://docs.strongloop.com/display/public/LB/Creating+a+database+schema+from+models

There is a code example.
[code]

I copy it and change a little to `mongodb` instead of `oracle` and I get error `Cannot find module '../data-sources/db' `:
[code]
How to perform an auto-migration?

[2015-10-31 20:12] malotur commented on #1692
+1

[2015-10-31 20:39] kaisatec opened #1792 "Does loopback have the pure javascript sdk rather than rely on angular?"
Does loopback have the pure javascript sdk rather than rely on angular?

[2015-11-01 03:11] colinshen opened #1793 "Extending User modal，acl doesn't work"
[code]

I register a custom as Admin,However,  in explorer, after set token, the create function still got 401,Authorization Required"

[2015-11-01 12:54] Ijmir commented on #1781
I'll recreate the issue in loopback-connector-mongodb with the forked repo

[2015-11-01 15:29] xiangmeng4geo commented on #1692
+1

[2015-11-02 02:07] superkhau commented on #1792
No, but it it something to do on the roadmap.

For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-11-02 02:07] #1792 closed

[2015-11-02 02:13] superkhau commented on #1791
https://github.com/strongloop/loopback-example-database

For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-11-02 02:13] #1791 closed

[2015-11-02 02:16] superkhau commented on #1788
NP, next time try checking out the forums, Google search, etc. You can also get some live support from the community at our [Gitter channel](https://gitter.im/strongloop/loopback). Worse case is you ask here and one of the LoopBackers will let you know if its really an issue. Have fun. ;)

[2015-11-02 02:21] superkhau commented on #1786
Login: https://github.com/strongloop/loopback-getting-started-intermediate/blob/master/client/js/services/auth.js#L5

Including other models using Angular SDK: https://github.com/strongloop/loopback-getting-started-intermediate/blob/master/client/js/controllers/review.js#L6-L11

Combine the two together and see if it works for you. Let me know if you run into more issues.

Also, for future referen

[2015-11-02 02:21] #1786 closed

[2015-11-02 02:24] superkhau commented on #1790
Dupliciate of https://github.com/strongloop/loopback-acl-route/issues/3

[2015-11-02 02:24] #1790 closed

[2015-11-02 06:38] superkhau commented on #1793
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-11-02 12:05] bajtos commented on #947
Fixed by #1789

[2015-11-02 12:06] #947 closed

[2015-11-02 12:16] bajtos commented on #1783
Proposed implementation:
 - implement a command-line tool in loopback-swagger repository
 - add this tool as a new slc command, e.g. `slc export-swagger`

[2015-11-02 12:47] bajtos commented on #1669
return User.logout(function (err, result) {
                 // Never receives any result
               });
[code]

[2015-11-02 12:51] barocsi commented on #1669
Great, it works, thanks @bajtos

[2015-11-02 15:40] wesleymilan commented on #311
I'm having the same issue using remote connector and lasted versions
"loopback": "^2.22.0",
"loopback-boot": "^2.14.0",
"loopback-connector-remote": "^1.0.3",
"loopback-datasource-juggler": "^2.41.1",

[2015-11-02 16:45] colinshen commented on #1793
here is the project:https://github.com/colinshen/loopback-sandbox .. i m not sure I did correct...but I tried.the project could run correctly, but still have the problem

[2015-11-02 19:11] mike-aungsan commented on #465
I extend User model and the  name is user.

  module.exports = function(user) {

    user.disableRemoteMethod('createChangeStream', true)

    // Update or insert a model instance
    user.disableRemoteMethod('upsert', true)
    user.disableRemoteMethod('create', true)
    user.disableRemoteMethod('resetPassword', true)

    user.sharedClass.find('update', true).shared = false
    user.sharedClass

[2015-11-02 19:29] superkhau commented on #1702
The minimal amount to reproduce the issue.

[2015-11-02 20:08] mike-aungsan opened #1794 "Add role.principals() and role.roles() to API docs"
@crandmck

Cannot find API info of these two functions from the following code.

Line 50:

[code]

https://github.com/strongloop/loopback/blob/9a33602458712afecedd25062f02bd8b5c4e01a5/test/role.test.js

[2015-11-02 21:01] Pinesy commented on #1279
Do you have any examples of where you added the functionality to support multiple databases/datasource for certain models per realm? I would greatly appreciate being able to see any idea of how you added that. @bcbirkhauser

[2015-11-02 21:37] superkhau commented on #1793
Have you gone through https://github.com/strongloop/loopback-example-access-control?

[2015-11-02 21:48] superkhau commented on #311
@wesleymilan Please open your own issue since this issue is already closed.

[2015-11-02 23:37] mastertinner commented on #1711
After some further research I have figured out that my remote method doesn't even trigger the
[code]
event even though it has a
[code]
in it. Do you know why that might be?

Again, this didn't happen when I was using the memory db but only when using MongoDB.

[2015-11-03 00:33] crandmck commented on #1794
I don't know anything about these methods.  I don't see them in [the source code](https://github.com/strongloop/loopback/blob/master/common/models/role.js).  I do see [principals in the role.json file](https://github.com/strongloop/loopback/blob/master/common/models/role.json#L20), so that might be the source of `userRole.principals`.

Someone in engineering needs to take this and let me know if I

[2015-11-03 00:50] karissa commented on #917
+1

[2015-11-03 02:13] ritch commented on #1794
Those functions come from relations

[2015-11-03 04:35] colinshen commented on #1793
Yeah, maybe I made a mistake. I will try to rewrite it. thanks

[2015-11-03 09:14] pavlin99th commented on #1774
Another workaround:

- **component-config.production.json** as suggested:
[code]
- rename **component-config.json** to **component-config.development.json**:
[code]
- create **component-config.json** with just:
[code]

[2015-11-03 09:27] ironbuzz-ilya commented on #1787
Domains are deprecated according to the Node.js docs - https://nodejs.org/api/domain.html.

Will Loopback implement an alternative? We are using domains to pass request into entity classes

[2015-11-03 10:13] wzup opened #1795 "How to catch validation error (422, Email already exists) in LoopbackJS?"
Question on Stackoverflow http://stackoverflow.com/questions/33496250/how-to-catch-validation-error-422-email-already-exists-in-loopbackjs

I use default Loopback's REST API. When I want to create a new user I just send a `POST` request to a default Loopback's endpoint `/api/Users`.

The issue is when an email already exists in a DB, Loopback throws an error `ValidationError; status 422; Email alr

[2015-11-03 10:42] wzup commented on #1795
I figured it out. They provide `afterRemoteError()` hook that runs after the remote method has finished with an error https://docs.strongloop.com/display/public/LB/Remote+hooks

    User.afterRemoteError('create', function(ctx, next) {
        console.log('> Client.afterRemoteError triggered');
        console.error('ctx.error: ', ctx.error);
        next(err);
    });

[2015-11-03 10:42] #1795 closed

[2015-11-03 12:35] wzup opened #1796 "Why LoopbackJS doesn't set values for emailVerified and verificationToken?"
I have created a custom `Client` model whose base class is a built-in `User` model. I used command-line tool `slc loopback:model` for it. An automatically created config for the model is as follows (`common/models/client.json`):

    {
      "name": "Client",
      "plural": "Clients",
      "base": "User",
      "idInjection": true,
      "properties": {},
      "validations": [],
      "relation

[2015-11-03 14:37] bajtos commented on #1777
My recommendation is to configure all middleware via `server/middleware.json`. The file format allows configuration of multiple middleware instances limited to a list of paths and verbs.

[code]

[2015-11-03 15:17] dot-louis commented on #531
+1 Would also like to see a readOnly property.
My use case is that we store a number of followers as a property to avoid having to compute it each time from a hasAndBelongsToMany relation wich can be intensive.
But we don't want the user to be able to change the followersCount himself.

[2015-11-03 16:07] bajtos commented on #1734
To support loopback-boot in the browser, you have to add boot instructions to your browser bundle, this is done by [compileToBrowserify](https://github.com/strongloop/loopback-boot/blob/638368844d840ac412417596362cd9092200f658/index.js#L154). Instructions are stored in a virtual JSON file called `loopback-boot#instructions`. When running in a browser, there is a thin wrapper which loads instructio

[2015-11-03 17:07] Jeff-Lewis commented on #1380
JM2C - I think you guys are doing an excellent job managing the multiple repos of StrongLoop and I see it as a great example of how to divide and conquer using node and npm. Don't forget guys, StrongLoop's product offering and feature sets covers a lot, so much that I can only compare it to other large enterprise software companies that have been around a lot longer. You guys have made incredible

[2015-11-03 17:32] npedrini commented on #1395
I'm seeing a similar issue where includes specified in the includes filters are not included if a near query is specified in the where filter.

[2015-11-03 18:01] crandmck commented on #1794
@ritch I realize they come from relations, but if those relations are intrinsic to how roles work, then should we add them to the API docs?

[2015-11-03 19:26] sakhisoufiane commented on #1395
Just switched back to express/mongoose, did way I'm free to do whatever I
want with my data

[2015-11-03 19:35] digitaldrummerj commented on #1793
I just ran into the same issue last week and wrote a blog post on how to fix it.  http://digitaldrummerj.me/strongloop-extending-user-model-security/

Essentially in code in the [Your Model].js file, I had to clear out the existing ACLand add them back in along with my new ACL.  The root of the issue, is that the last thing in the built-in user model ACL is to deny everyone.

[2015-11-03 20:55] ritch commented on #1794
Yes we should add them, similarly to how we've added the `PersistedModel` methods.

[2015-11-04 00:22] wzup commented on #353
Not yet closed. Let's continue
https://github.com/strongloop/loopback/issues/1796

[2015-11-04 01:01] lukeblechlmbww commented on #598
@mrjrdnthms, thank-you for the Grunt file, it was exactly what I was looking for!

I did happen to come across a bug in the npm grunt-loopback-angular-addmodeldata package, where if you have model names of CamelCase that get converted to camel-case.json, it would not find the .json file. I have a fix in case others who come across this ticket have the same issue, but the git link on the npm page t

[2015-11-04 03:52] surfjedi commented on #1730
+1

[2015-11-04 04:42] colinshen commented on #1793
@digitaldrummerj great，thanks

[2015-11-04 04:42] #1793 closed

[2015-11-04 14:44] barocsi commented on #531
@amenadiel an user would be able to abuse its on profile :)

[2015-11-04 20:41] crandmck commented on #1777
@bajtos If that's the best practice recommendation for _all_ middleware, then I will change [the doc section](https://docs.strongloop.com/display/LB/Defining+middleware#Definingmiddleware-Routingmiddleware) that says to define routes the "Express way".  OK?

Also, this example is for authorization, but normally routing would be set in the `routes` phase, right?

[2015-11-04 20:48] iblazevic commented on #1777
Can it somehow be divided into multiple files, doing it this way may cause middleware.json to become really big and hard to manage?

[2015-11-05 01:40] mike-aungsan commented on #436
I still have similar issue extending RoleMapping, AccessToken and ACL

[2015-11-05 10:40] juanramb commented on #1454
+1

[2015-11-05 11:04] bajtos commented on #1777
@crandmck routes serving non-JSON responses should be defined the "Express way". For routes serving JSON, I would recommend creating a new `Model` and implementing these routes as regular remote methods.

As I understand this issue (the original question), @iblazevic is asking how to configure additional middleware that should be limited to certain routes only. I feel this may be a very specific u

[2015-11-05 11:36] ekussberg commented on #890
I am getting socket closed when use your example with async in parallel in a bit more complex method where i also query other models directly.
[code]

[2015-11-05 12:46] richardaum commented on #109
At Strongloop, is possible only attach a transaction to a Model? Is possible to use multiple models operations inside a Transaction block without chaining transactions, as in SQL?

[2015-11-05 13:21] diegonetto commented on #257
I didn't see any reference of this in the docs, so I assume it still hasn't been implemented?

If so I'd like to take a stab at it.

[2015-11-05 16:01] bajtos commented on #445
@digitalsadhu

Awesome! You can start looking here: https://github.com/strongloop/loopback-swagger/blob/b6e39252640732e31c26d6831bf86c5b6593aff7/lib/specgen/route-helper.js#L161-L162. The default list of produces/consumes types is initialised [here](https://github.com/strongloop/loopback-swagger/blob/b6e39252640732e31c26d6831bf86c5b6593aff7/lib/specgen/swagger-spec-generator.js#L25-L35) and then u

[2015-11-05 16:21] digitalsadhu commented on #445
Nice! On my list!

On Thu, 5 Nov 2015 at 17:02, Miroslav Bajtoš <notifications@github.com>
wrote:

[2015-11-05 16:36] raymondfeng commented on #257
@diegonetto It's not implemented. Contribution is welcome!

[2015-11-05 16:43] shbhsngh opened #1798 "Encrypt a persistedModel property"
I have a property which need to be stored in encrypted format.
Note: this property is not a part of built-in User model and it is not a password

[2015-11-05 16:45] raymondfeng commented on #109
There is no reliable way in Node to implicitly propagate the transaction context over the async invocation chain. As a result, we choose to use `options` arg to control the transaction scope.

[2015-11-05 17:05] matthewdickinson commented on #1566
I replied to this issue (with more details) requesting it be re-opened, but
nothing seemed to happen.

On Tue, Sep 29, 2015 at 4:00 PM Simon Ho <notifications@github.com> wrote:

[2015-11-05 17:47] jannyHou commented on #1798
https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-beforesave

[2015-11-05 17:53] #1798 closed

[2015-11-05 18:32] richardpringle commented on #1796
@crandmck ^

[2015-11-05 19:02] richardpringle commented on #1774
Hey @echmykhun can you provide a sample repo for me to reproduce the issue, please? https://github.com/strongloop/loopback/wiki/Reporting-issues

[2015-11-05 19:03] crandmck commented on #1777
OK, thanks @bajtos, I clarfied the statement in the docs to reflect this.  I'm going to close this now as I believe we've addressed it.

[2015-11-05 19:03] #1777 closed

[2015-11-05 19:10] crandmck commented on #890
It's not clear to me why this is labeled as a doc issue (and assigned to me).  If I need to add something to the docs, please tell me what.  If not, then I'm going to remove the "doc" label... and if it's not actionable, then I presume it should be closed @superkhau .

[2015-11-05 19:45] 0candy commented on #1771
Can you provide a sample repo for me to reproduce this issue?
See link:
https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-11-05 21:14] tekand commented on #1771
@vikmeup feel free to provide such repo if you can do, I am only able to do after the weekend. Thanks. :)

[2015-11-06 02:10] scottsut commented on #1645
@bomattin your model name "Groups" in database might be uncorrect.

[2015-11-06 02:38] mike-aungsan opened #1799 "Role.registerResolver called twice"
var async = require('async')
    var _ = lodash = require('lodash')
    var ObjectID = require('mongodb').ObjectID

    module.exports = function(app) {

      var Role = app.models.Role;
      Role.registerResolver('aToB', function(role, context, cb) {

        var data, userId

        if (context && context.remotingContext && context.remotingContext.args && context.remotingContext.args.data) {

[2015-11-06 02:39] mike-aungsan commented on #1799
console.log( arguments.callee.caller.toString())

    function (role, context, callback) {
        if (!(context instanceof AccessContext)) {
          context = new AccessContext(context);
        }

        this.resolveRelatedModels();

        debug('isInRole(): %s', role);
        context.debug();

        var resolver = Role.resolvers[role];
        if (resolver) {
          debug('Custom res

[2015-11-06 02:42] mike-aungsan opened #1800 "Bug in data checking in find function"
Let's say userId is undefined, it probably translated into empty array and it return everything from DB.

    var Team = app.models.team
    Team.find({'fields': {'projectId': true}, 'where': {memberId: userId} }, function (err, projectIds) {
    })

[2015-11-06 06:33] shbhsngh commented on #1798
Can you please explain how encryption can be done in loopback?

[2015-11-06 07:43] superkhau commented on #1798
LoopBack does not provide built-in encryption for properties. You can however use an operation hook (ie.`before save` to run some logic to encrypt the data) before persisting it to your data store.

As for the actual encryption, a Google search should give you some candidates such as https://nodejs.org/api/crypto.html.

If you need more support, try asking on our Google Groups or Gitter channel (c

[2015-11-06 08:55] superkhau commented on #890
@crandmck Ask @bajtos, he added the doc + question label for this issue.

/cc @bajtos

[2015-11-06 09:29] superkhau commented on #1566
@matthewdickinson Sorry for the late response, I've reopened the issue. I will try to reproduce it with your updates.

In the meantime, @raymondfeng Do you know anything about this breaking change off the top of your head?

[2015-11-06 17:56] gunjpan commented on #1800
Can you please provide me a sample repo to re-produce the issue?!
Please see: https://github.com/strongloop/loopback/wiki/Reporting-issues

[2015-11-06 18:40] loay commented on #1799
Can you please provide more info?
What seems to be the error that you are getting so I can reproduce it on my end?
SEE https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-11-06 18:49] loay commented on #1712
What kind of db are you using?
is there an error that you are getting or empty tuple in the table ?
any repo where I can reproduce the error?

[2015-11-06 18:55] loay commented on #1686
Can you pleas provide more info or a repo to reproduce the issue so I can test on my end?

[2015-11-06 19:51] davidcheung commented on #1747
@julien-sarazin would you be able to provide a [sample repo](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report) for me to reproduce the issue. Thanks

[2015-11-06 20:02] davidcheung commented on #1747
related : https://github.com/strongloop/loopback/issues/1676

[2015-11-06 20:08] davidcheung commented on #1649
Would you be able to provide a [sample repo](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report) for me to reproduce the issue. Thanks

[2015-11-06 20:11] davidcheung commented on #1644
@crandmck ^

[2015-11-06 20:20] loay commented on #1630
we only accept feature requests and bug reports there.
SEE: https://groups.google.com/forum/#!forum/loopbackjs

[2015-11-06 20:30] davidcheung commented on #1643
Would you be able to provide a [sample repo](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report) for me to reproduce the issue. Thanks

[2015-11-06 20:31] h2non commented on #1630
Oh, grand! Looks like since you has been bought by IBM you're improving the company support policies with fresh modern and ultra useful ways.

(irony off)
Leaving Github is a really bad choice IMHO.

[2015-11-06 20:50] superkhau commented on #1630
@h2non Sorry for the confusion, we have a lot of new people coming on board to help with the triaging of GitHub issues so bear with us. This sounds like a question for @raymondfeng or @fabien.

[2015-11-06 20:53] superkhau commented on #1630
@h2non Could you provide a sample for us to reproduce the issue? https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-11-06 20:54] superkhau commented on #1630
@raymondfeng @fabien ^

@crandmck ^ You'll probably need input from @raymondfeng or @fabien  to update the docs with their answer.

[2015-11-06 21:04] superkhau commented on #1630
@bajtos @ritch @raymondfeng Any opinion here? I also prefer GitHub for all things issue related.

[2015-11-06 21:08] loay commented on #1636
Would it be possible to provide a link for the repo so I can reproduce the error where it fails?
Thanks

[2015-11-06 21:19] ritch commented on #1150
+1 for `User.settings.caseInsensitveEmail`  ...we should probably default it to true in 3.0 IMO.

[2015-11-07 17:31] danieltrautmann commented on #1740
@superkhau, @raymondfeng Any updates on this?

[2015-11-07 22:19] GeoffreyEmery commented on #1362
+1 on commit soon

[2015-11-08 06:07] RandiMesyah commented on #1704
i have same problem, please help

lapi-ratu@lapiratu-X455LF:~$ nodejs -v
v0.10.25
lapi-ratu@lapiratu-X455LF:~$ python --version
Python 2.7.10
lapi-ratu@lapiratu-X455LF:~$ g++ --version
g++ (Ubuntu 5.2.1-22ubuntu2) 5.2.1 20151010
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITN

[2015-11-08 08:09] superkhau commented on #1704
@cgole ^

[2015-11-08 08:35] superkhau commented on #1740
@raymondfeng ^

@danieltrautmann From what I know, we do not officially support MariaDB. If you require further assistance, we have paid offerings. See https://strongloop.com/node-js/subscription-plans/

Closing as I do not see any issue with the current MySQL implementation. If you believe there are more issues, I will reopen this.

[2015-11-08 08:35] #1740 closed

[2015-11-08 08:43] superkhau commented on #1150
+1 for true in LB3

[2015-11-09 00:59] behzadeshan opened #1801 "Integrating Middle Gear with Loopback"
Hi,
I have released a new view engine named `Middle Gear`. Take look at it here https://www.npmjs.com/package/middle-gear
How can I integrate it with loopback?

[2015-11-09 01:49] enicholson commented on #1692
+1

[2015-11-09 05:02] superkhau commented on #1801
LoopBack only provides APIs. The view engine is up to the user to implement. What are you trying to do? Are you new to LoopBack?

[2015-11-09 10:01] bajtos commented on #890
I thought it would be a good idea to document how to make an aggregate (Group By) query in mongodb, using the solution described in https://github.com/strongloop/loopback/issues/890#issuecomment-66581628.

@crandmck if you think this does not belong to docs then I am fine with that too. In which case this GH issue can be closed right away.

[2015-11-09 10:35] behzadeshan commented on #1801
@superkhau Thanks. No I am not new to LoopBack. I know it only provides REST APIs. My intention is extending `Middle Gear` as it should be as a Middle Gear between application Logic and Presentation layers. After a couple of hours researching I found that LoopBack is the best option for handling the Logic layer. Now I want to merge LoopBack with Middle Gear and before doing, I need some advice and

[2015-11-09 13:07] listepo commented on #1725
@superkhau yes https://github.com/listepo/loopback-model-not-exists

[2015-11-09 15:48] loay commented on #1629
Can you provide more info please?
Let's use this example in the tutorial:
https://docs.strongloop.com/display/public/LB/Embedded+models+and+relations#Embeddedmodelsandrelations-EmbedsMany
so customer has multiple emails. Which object are you trying to update its attribute? and when you say it updates the whole object instead of the specific attribute .. can you provide an example as well?
Thanks.

[2015-11-09 17:47] gholias opened #1803 "ValidationError: The `CarDriver` instance is not valid. Details: `email` is invalid (value: "bond@gmail.com")"
I a have a class that inherits from the Loopback user class.

I started getting an error this morning after I update to the latest version.

[code]

Is there anything Im missing?

This is my CarDrive model definition

[code]

I appreciate any help

[2015-11-09 19:04] Amir-61 commented on #1803
Could you please provide me a sample repo for me to re-produce the issue?
SEE: https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-11-09 19:58] superkhau commented on #1801
Thanks for the clarifying. I think we can find the right people to chime in.

With regards to docs, @crandmck can give you some pointers if you have specific questions.

It would be hard to come up with an exhaustive list of features as it really depends on what features you want to support. For example, not every enterprise graded framework needs to support "server-side rendering" (ie. LoopBack d

[2015-11-09 19:58] #1801 closed

[2015-11-09 20:06] behzadeshan commented on #1801
Ok. Thank you.

[2015-11-10 06:10] superkhau commented on #1725
@listepo This is more of a feature request when I think about it. Would you like to submit a PR?

[2015-11-10 09:27] fabien opened #1806 "Regression: dynamic coercion of Model will clobber property values on update"
I finally went through a full update cycle with my apps, and in updating from 2.18.0 to 2.23.0 I discovered the following undesired (and BC breaking) behavior:

With a property that has some default value (either static or a fn/dynamic value):
[code]

[code]
I think it's related to this commit: https://github.com/strongloop/strong-remoting/commit/34b0665841d763944dca3e9b4b2033366ea8a0c0

/cc @bajt

[2015-11-10 10:09] fabien commented on #1806
I was able to identify where the issue exactly happens, but the fix is unsatisfactory because it prevents dynamic (object) type conversion.

However, it's extremely difficult to not end up with the issue here - how can we declare that the coerced values are in fact just *defaults* and that they should *not* overwrite any existing data on update?

[2015-11-10 10:27] alFReD-NSH commented on #1344
One reason setup is used in here, is for the [problem described in here](http://stackoverflow.com/q/31539987/774086) and it's used for example in [user model](https://github.com/strongloop/loopback/blob/master/common/models/user.js#L567-L693). Without it, the remote methods wouldn't be created for the extended models.

If we "modify loopback-boot to assign module.exports from the model script to t

[2015-11-10 15:35] richardpringle commented on #1617
Hey @ianseyer, did you manage to resolve your issue? If not can you follow [steps to reproduce your issue](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report) and I'll see if I can help!

[2015-11-10 16:10] jannyHou commented on #1616
Hi @dmitrovskiy , would you please provide the information of where you write your code ```var Post = loopback.findModel('post');``` like the path of your file or the folder contains it.

[2015-11-10 16:55] raymondfeng commented on #1617
`type` is a keyword for the model definition. You can work around it using a different name, such as:
[code]
We could add support for escaped type, such as `$type`.

[2015-11-10 18:45] heralight commented on #1728
work well with node v5.0.0 (npm v3.3.12) on ubuntu 14.04
nvm install 5
run this : npm install -g strongloop  --no-optional

[2015-11-10 23:33] crandmck commented on #1644
Hi @pulkitsinghal I can certainly help you with the logistics, but I will need to get approval from @chandadharap before adding this.  She is on vacation now, but I'll try to get a moment of her time to discuss this when she returns.

[2015-11-10 23:54] crandmck commented on #890
OK, thanks, I see.  I added https://docs.strongloop.com/display/LB/MongoDB+connector#MongoDBconnector-Aggregate(groupby)query
It could probably use a bit more explanation, but I don't know anything about MongoDB, so suggestions welcome.

[2015-11-11 01:00] bcbirkhauser commented on #1279
I've modified my server.js code to attach the appropriate datasource to each model that requires a realm. The downside is it only allows one datasource per realm for every model that requires the realm.  But for some of the core models, they do not require a realm so they use the core database.  I have the datasource set in the database for each realm till I find a better, more secure solution.  T

[2015-11-11 02:03] rawrmaan commented on #1009
This is redonk. High priority for my team +5

[2015-11-11 14:03] Juneil commented on #1217
Same as seemike, can we have a feedback please ?
Thanks

[2015-11-11 15:39] barocsi opened #1807 "childprocess.spawn breaks process.context"
Interestingly after calling an imagemagick function from a models remotemethod, after successful callback loopback.getCurrentContext() returns null.

Imagemagick spawns a child process and an event listener does the callback function call.

from imagemagick.js

[code]

where std.finish() simply does the callback

Well I am not sure where is this relates to the getCurrentContext, however in the loo

[2015-11-11 18:09] csvan opened #1808 "Fresh install on OSX yields long list of errors/warning"
I recently tried running `npm install -g strongloop` on my MacBook Pro (2013). Latest version of OSX and XCode tools are installed, as well as gcc, libstc++ and git. I am running Node.js 5.0, installed via the official package from the projects website.

A colleague of mine has confirmed the same problem on his MacBook Pro.

The install fails with the following (very long list):

[code]

[2015-11-11 19:10] rob3c commented on #1412
I can't get webpack to work with any loopback samples, either :-(

I see that loopback-boot has browserify-specific code, but I didn't trace through it much. What does loopback need to do differently in the client vs the server that it needs this code, and can it be more generic? Would it be easier to introduce webpack into a non-browserify sample and then set some LB flags or something to tell it

[2015-11-11 19:12] loay commented on #1808
What's npm version? $npm -v
Also, did you try  with node 4.2?

[2015-11-11 19:21] csvan commented on #1808
NPM 3.3.2 according to `npm -v`

No, we have not tried with 4.2 as we have made a global upgrade to 5.0. I think they are essentially the same though (save for, well, the breaking changes in the changelog which do not seem related to this), with 4.x being an LTS.

[2015-11-11 19:23] csvan commented on #1808
We have not tried with 4.2. However, everything works just fine on our Linux boxes running the same versions of Node and NPM as the Macs.

[2015-11-11 19:28] cloflin commented on #1808
Have you tried the npm install with the --no-optional flag?

Sent from my Apple IIe

[2015-11-11 19:45] vabnirvana opened #1809 "401 errors for User Model"
I am receiving login failed error and am not able to understand how should i proceed. I have inherited User as base for my model user. I am receiving:
{
  "error": {
    "name": "Error",
    "status": 401,
    "message": "login failed",
    "statusCode": 401,
    "code": "LOGIN_FAILED",
    "stack": "Error: login failed"
}

Any leads would be awesome. Thanks

[2015-11-11 19:53] BerkeleyTrue commented on #1412
@rob3c Because loopback relies heavily on JSON config files which are automatically imported at startup, these files need to be formatted for use with browserify/wepback which needs to know how to bundle them before hand.

Because they are automatically loaded at startup and not hard coded as requires or imports, Browserify or Webpack won't normally bundle them (this is true with any type of plugi

[2015-11-11 20:19] Amir-61 commented on #1809
Could you please provide a sample repo to re-produce the issue?
SEE: https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-11-11 20:21] vabnirvana commented on #1809
I am facing this issue in the latest version of strongloop on mac that is "loopback": "^2.22.0".

[2015-11-11 20:39] JoshWilliams92 commented on #1469
Is it possible to use loopback as an alternative to mongoose?

[2015-11-11 21:05] rmg commented on #1808
The error messages are expected due to a bunch of optional sub-dependencies that don't compile with node-v4 or node-v5.

The installation overall should not actually fail, though. That part is a [bug in npm@3](https://github.com/npm/npm/issues/9643) that was [fixed in v3.3.7](https://github.com/npm/npm/commit/2289234e11b30c878585aebee68d4a3a5bd63cce).

Please upgrade to npm@latest (`npm i -g npm@l

[2015-11-11 21:05] barocsi opened #1810 "Setting cors:true in config.json throws exception"
\node_modules\cors\lib\index.js:188
      o.origin = defaults.origin;
               ^
TypeError: Cannot assign to read only property 'origin' of true
    at middlewareWrapper (\node_modules\cors\lib\index.js:188:16)
    at setupCors (\node_modules\loopback-explorer\lib\swagger.js:145:18)
[..]

    "loopback-boot": "^2.6.5",
    "loopback-component-passport": "^1.5.0",
    "loopback-connector-mong

[2015-11-11 21:37] loay commented on #1810
so what led to that error? can you provide the steps in order to reproduce the error?
Any repo to be used as well to reproduce the error? thanks.

[2015-11-11 22:07] barocsi commented on #1810
Simply node . started the app and it threw error right away. Only this parameter was changed in the config file. Here is the full stack trace
TypeError: Cannot assign to read only property 'origin' of true
    at middlewareWrapper (\test\node_modules\cors\lib\index.js:188:16)
    at setupCors (\test\node_modules\loopback-explorer\lib\swagger.js:145:18)
    at Swagger (\test\node_modules\loopback-e

[2015-11-11 22:17] csvan commented on #1808
The suggestion by @cloflin resolved this for us at the moment (thank!). I have not tested everything yet, but haven't run into any issues so far.

@rmg  I will give that a go as well, thanks!

[2015-11-11 22:42] barocsi commented on #1810
Additionally for which I am confused in the middleware.json cors is enabled
    "cors": {
      "params": {
        "origin": true,
        "credentials": true,
        "maxAge": 86400
      }

[2015-11-11 22:48] loay commented on #1810
i used a sample project and  I could reproduce the same error when I do node .

for lines 188 and 191
if you use
o.origin == defaults.origin;
instead of
o.origin = defaults.origin;
and in line 194, if you use
o.preflightContinue == defaults.preflightContinue;
instead of
o.preflightContinue = defaults.preflightContinue;

That should fix the issue in your project and run the node server fine. If tha

[2015-11-11 22:51] dnovice commented on #1469
Loopback wraps the mongoose functionality and uses it underneath the covers.

From:  JoshWilliams92 <notifications@github.com>
Reply-To:  strongloop/loopback
<reply+00c5b3f82709b5f2610e79b2b31420bb84ae113355acc5e592cf00000001125b69819
2a169ce0553e8b7@reply.github.com>
Date:  Wednesday, November 11, 2015 at 3:39 PM
To:  strongloop/loopback <loopback@noreply.github.com>
Cc:  David Novice <djn@employ

[2015-11-11 23:00] rob3c commented on #1412
@BerkeleyTrue Thanks for the quick reply and especially the detailed info! I'm not sure I understand about the "hard coded" requirement with webpack to bundle them, though. Would you mind giving a specific example?

One significant difference between webpack and other bundlers is that webpack lets you "require anything". So that means any arbitrary asset you `require()` like JSON, SASS, CSS, HTML,

[2015-11-11 23:38] BerkeleyTrue commented on #1412
By hard coded I mean using require or import.

[code]

Webpack/browserify searches for these static statements and then resolves the module and includes it in the bundle. But loopback doesn't do this with all the config files mainly because they could have many different names (I'm including model.json files you create in this).

Yes, you could but loopback can't know ahead of time what you are go

[2015-11-11 23:43] fabien commented on #1806
@raymondfeng any thoughts on this? The fix I mention over at https://github.com/strongloop/strong-remoting/issues/254 works fine, but I'm not sure if this has any actual drawbacks at the moment.

[2015-11-11 23:51] gustavomick commented on #559
@doublemarked thanks.

[2015-11-12 00:18] EthraZa commented on #1728
Just have the same problem installing on an Amazon Linux with nvm.
Using 4.2.2 is a no go to install Strongloop.
Using 5.0.0 it installed ok. But I don't yet found how to get the slc command line working!

[2015-11-12 00:22] rob3c commented on #1412
Thanks for the additional detail. As you can tell, I don't know the LB internals yet, so I appreciate the tip on where to dive in!

I'll check out compiler.js next, but right now I've been looking at how the isomorphic demo's gulpfile invokes browserify to build the lbclient bundle. I stepped through the `boot.compileToBrowserify()` function and saw how it assembles 'instructions' for browserify t

[2015-11-12 00:44] BerkeleyTrue commented on #1412
@rob3c IMHO Loopback in the client is still needs a lot of work. It doesn't seem to garner the attention it deserves from the StrongLoop team. I have heard talks of a rebuild but have not seen any progress in that direction.

There are also better ways now to get data in the client. I'm currently evaluating Falcor to replace our REST api calls (We've been using Yahoo's Fetchr to create isomorphic

[2015-11-12 00:45] BenjaminHorn commented on #1186
I wrote a simple data-fixture script:
[code]

the script runs fine, and all looks fine in the db, but I am getting

*(node) warning: possible EventEmitter memory leak detected. 11 connected listeners added. Use emitter.setMaxListeners() to increase limit.
Trace
    at DataSource.addListener (events.js:179:15)
    at DataSource.once (events.js:204:8)
    at migrate (/home/.../strongloop-test/server

[2015-11-12 00:57] raymondfeng commented on #1806
@fabien Should we introduce an option such as `applyDefaults` (default to true) for the model constructor so that the coercion can skip the defaults?

[2015-11-12 03:12] rob3c commented on #1412
@BerkeleyTrue Sharing your frustrating experience with LB on the client and the corresponding lack of attention and progress by the SL team is much appreciated, if a bit disheartening. I'm starting to get the feeling we'll be looking elsewhere...

I wasn't familiar with Fetchr, but it sounds like that may be a good thing lol. Falcor is certainly on our radar and one of the more interesting options

[2015-11-12 03:39] simoami opened #1812 "Auth checks return the wrong http status code when aclErrorStatus is set to 403"
When aclErrorStatus is set to 403, it fails one use case, when the accessToken is supplied but invalid.

Consider the following use cases:

1. attempt to access a protected resource without creds (missing token): 401(a auth/login failure)
2. attempt to access a protected resource with invalid creds (fake token): 401 (a auth/login failure)
3. attempt to access a protected resource with expired cred

[2015-11-12 04:41] BerkeleyTrue commented on #1412
Yes, Falcor is pretty new, but that's balance by the fact that Falcor is already used at Netflix. Fetchr will allow you to do REST in an isomorphic way but it definitely is lightweight and you will end up righting a lot of code that Falcor will take care of for you.

@rob3c I feel like the conversation has moved from the topic of this issue. You can ping me on Gitter if you want to chat more about

[2015-11-12 05:13] colinshen opened #1813 "Include filter get empty array."
In angular
[code]
only one of the funds will get the value. the values of all other funds are empty array.
then i tried in API Explorer,
I used `{"include":{"relation":"values","scope":{"limit":1}}}` as the filter.
I got the same thing as in angular.

[2015-11-12 07:32] simoami commented on #1812
Sorry, this might be the result of a modified token middleware. Need to investigate some more.

[2015-11-12 07:32] #1812 closed

[2015-11-12 07:54] Nutelac commented on #1412
I think Relay or Falcor is currently best way to go.

[2015-11-12 08:35] bboalimoe opened #1814 "can sl supports auto-generated createdAt and UpdatedAt ?"
Actually, I can do this job in the before save hook.but that's lame i think
did loopback framework support this?
thanks

[2015-11-12 10:08] bajtos commented on #1630
I don't have a strong opinion.

While I personally prefer to keep all discussions that may lead to a bug/enhancement report on GitHub, I do understand that offloading questions to the mailing list reduces the amount of GH issues we have to process as part of our triage process.

[2015-11-12 10:46] rmoetwil opened #1815 "Strongloop Remote API changes"
A few days ago v2.23.0 was released.

We encountered differences in response for DELETE and POST update?where calls.
Returning 200 i.o. 204.

Can you update the online documentation and inform such changes in the release notes?

[2015-11-12 12:52] doublemarked commented on #559
@gustavomick no problem. At this time I would suggest converting this into a simple mixin. The logic may remain the same.

[2015-11-12 13:48] gustavomick commented on #559
@doublemarked  could you give me an example?

[2015-11-12 14:25] Amir-61 commented on #1809
@vabnirvana We need to see how you defined ACL and your models; please provide a sample repo to see how you defined them; that way we can give more precise feedback of what is defined wrong. Thanks!

[2015-11-12 14:36] vabnirvana commented on #1809
The User.json is as follow. It is a private repo so ill not be able to share it.

{
  "name": "user",
  "plural": "users",
  "base": "User",
  "idInjection": true,
  "options": {
    "validateUpsert": true
  },
  "mongodb": {
    "collection": "User"
  },
  "properties": {
    "name": {
      "type": "string",
      "required": true
    },
    "email": {
      "type": "string",
      "required": t

[2015-11-12 15:16] loay commented on #1813
Can you provide more info for this case please?
Any specific repo to be referred to?
Thanks.

[2015-11-12 15:44] barocsi commented on #878
+1

[2015-11-12 16:09] kraman commented on #1815
@superkhau Was this due to your fix?

[2015-11-12 16:15] bajtos commented on #1815
Here are the relevant commits:
 - REST API change: https://github.com/strongloop/loopback/commit/26af1472e75f98269fb5c10b31d39320958a8930
 - Node.js API change (one of several relevant commits): https://github.com/strongloop/loopback-datasource-juggler/commit/2120e53f7f64135dc5a97cf4425a0c41d4778493

[2015-11-12 16:20] doublemarked commented on #559
@gustavomick sure, why not - it's not flawless, but it gets the job done.

1. Add this to your model.json:
[code]

2. Drop this in common/mixins/clear-base-acls.js:
[code]

[2015-11-12 16:26] Amir-61 commented on #1809
Hi @vabnirvana,

I tried your model and it works fine for me!

Some notes meriting consideration though:

1)You are defining email, password,.. properties, although they are already defined exactly the same way in the parent `User` model; please see: https://github.com/strongloop/loopback/blob/master/common/models/user.json;

2)For `ACL`s you are missing `accesstype`s, they are not right, but they

[2015-11-12 16:59] vabnirvana commented on #1809
Hi, Thanks following ur instructions make it work for me.

[2015-11-12 16:59] #1809 closed

[2015-11-12 17:08] jannyHou commented on #1814
Hi @bboalimoe , we have no support for this features now. And yes as you mentioned, you can define the custom hook for your model. Thanks for your suggestion, I labeled it as feature.

[2015-11-12 17:16] jannyHou commented on #1815
Please check https://github.com/strongloop/loopback-datasource-juggler/blob/master/CHANGES.md for other related update

[2015-11-12 18:15] EmileSpecs opened #1816 "Can't modify response data in afterRemote"
This is a very strange issue and annoying because it's just one of those that's not supposed to not work!

I have this mixin which is simply supposed to delete the password from the response data just like in the documentation:
[code]
The result still includes the password and the `more` property that I've added doesn't exist in the response data.

Interestingly if I set `result.password = null;`

[2015-11-12 19:41] colinshen commented on #1813
I will make a repo later. Did I use the correct json for include filter?

[2015-11-12 19:58] loay commented on #1813
have a look at this document concerning include filter. It should help:
https://docs.strongloop.com/display/public/LB/Include+filter

[2015-11-12 19:59] gustavomick commented on #559
nice. why is a mixin preferable?, instead of may be a boot script, its because migrations aspects? thank you.

[2015-11-12 20:02] doublemarked commented on #559
Because it's config driven instead of code driven. The configuration of the acls stays near the configuration of the clearing of the acls.

[2015-11-12 20:03] doublemarked commented on #559
And generally a mixin is cleanly reusable, but it is perhaps unlikely that this example would be reused across many models.

[2015-11-12 20:12] richardpringle commented on #1813
Hey @colinshen, just a tip: whenever you're posting in code in comments on GitHub, you should use \``` to wrap your code. It will make it easier for everyone to read! Check out the [GitHub docs](https://help.github.com/articles/github-flavored-markdown/#fenced-code-blocks) for more info.

[2015-11-12 20:29] colinshen commented on #1813
@richardpringle thanks. I will do it next time.

[2015-11-12 20:52] jannyHou commented on #1816
hi @EmileSpecs I am trying to reproduce your problem, can you send me your model's .json and .js file?

[2015-11-12 21:04] richardpringle opened #1817 "Deprecate persistedModel.updateAttribute method in LB3"
The `updateAttribute()` method of the persistedModel instance methods should be deprecated since it is redundant. The same functionality can be accomplished by using `updateAttributes()` (plural) and simply passing in an object with a single property `updateAttributes({name: 'value'}, cb)` as noted in the [api docs](https://apidocs.strongloop.com/loopback/#persistedmodel-prototype-updateattribute)

[2015-11-12 22:07] EmileSpecs commented on #1816
Hi @jannyHou , thanks!

Model:
[code]
This is the mixin:
[code]

[2015-11-13 00:23] colinshen commented on #1813
@loay here is the repo.
https://github.com/colinshen/loopback-sandbox
this is the filter i used in explore {"include":{"relation":"values","scope":{"limit":2}}}. You will see there is only the first data that has values.

[2015-11-13 00:55] crandmck commented on #1815
Updated docs
- [POST/update operation](https://docs.strongloop.com/display/LB/PersistedModel+REST+API#PersistedModelRESTAPI-Updatematchingmodelinstances)
- [DELETE operation](https://docs.strongloop.com/display/LB/PersistedModel+REST+API#PersistedModelRESTAPI-Deleteallmatchinginstances)

By default, `destroyAll` is not exposed over REST

[2015-11-13 00:56] #1815 closed

[2015-11-13 01:09] #752 closed

[2015-11-13 01:09] #747 closed

[2015-11-13 01:10] #719 closed

[2015-11-13 05:11] bboalimoe commented on #1814
ok~ thanks and
I know that IBM acquire strongloop. I wonder if sl would still be open source and continuously maintained ?

[2015-11-13 09:51] fabien commented on #1806
@raymondfeng sounds reasonable, yes - then again, I don't think strong-remoting is even aware of Loopback models, let alone the passing of such options to a constructor?

[2015-11-13 11:43] digitalsadhu commented on #445
@bajtos I've been digging into this a bit. My first thought was to try something like this:

[code]

But 2 problems,

1. `produces` and `consumes` aren't coming through from say a remoteMethod definition so I'm thinking I don't fully understand the nature of the route object. (Though it looks very similar to a remote method definition)

2. Even if 1 above worked, boot scripts are run after the loo

[2015-11-13 12:51] bajtos commented on #445
strong-remoting's `SharedMethod` copies only a subset of properties from the original options, see the constructor: https://github.com/strongloop/strong-remoting/blob/65479ddb63524274193ea16d5e2ea5fbbc5c8b03/lib/shared-method.js#L81-L141 and also `fromFunction` method: https://github.com/strongloop/strong-remoting/blob/65479ddb63524274193ea16d5e2ea5fbbc5c8b03/lib/shared-method.js#L158-L169

This i

[2015-11-13 14:32] fabien commented on #1806
@bajtos +1 for label: major

[2015-11-13 14:36] digitalsadhu commented on #445
Thanks @bajtos that makes sense, thanks for clarification.

How were you imagining rest.jsonApi would work?

Perhaps something like, if `rest.jsonApi=true` the following:
- 'application/vnd.api+json' added to supportedTypes
- 'application/vnd.api+json' added to consumes/produces list

Perhaps also:
- `bodyParser` modified to treat Content-Type 'application/vnd.api+json' as json

[2015-11-13 14:37] digitalsadhu commented on #445
@bajtos also, how hard is it to get access to strong-remoting rest options inside loopback-swagger?

[2015-11-13 14:42] bajtos commented on #445
Your proposal above looks good to me.

I'd say it's easy. Swagger specgen has access to `remotes` and the rest `handler`, see
 https://github.com/strongloop/loopback-swagger/blob/b6e39252640732e31c26d6831bf86c5b6593aff7/lib/specgen/swagger-spec-generator.js#L40-L41

The handler has `options` property, see
  https://github.com/strongloop/strong-remoting/blob/32efdc433f8bd12f1ecc7872c855216b99c0911e

[2015-11-13 14:45] digitalsadhu commented on #445
Ok excellent. I'll make that my next push.
Thanks for the feedback

[2015-11-13 14:55] gausie opened #1818 "Why is ChainedContext.get private?"
For some reason ChainedContext.get is marked as private in the doc block:

https://github.com/strongloop/loopback/blob/master/server/current-context.js#L89

However, it is used in the documentation

https://docs.strongloop.com/display/JA/Using+current+context

Is it incorrectly marked?

[2015-11-13 14:59] loay commented on #1813
@colinshen  Having a look. Thanks.

[2015-11-13 15:13] loay commented on #1808
@csvan is it installed fine now?

[2015-11-13 15:57] colinshen commented on #1813
I hope I did not use it in a wrong way. So,please check and give some suggestions.

[2015-11-13 16:26] bomattin commented on #1645
@raymondfeng I've got a test case here for you: https://github.com/bomattin/lb-acl-test

[2015-11-13 16:34] raymondfeng commented on #1806
@fabien It starts to make me wonder if we should introduce a static method on the model class to handle the coercion, such as `MyModel.coerce(rawValue)`.

We have a few different flavors in creating a model instance.

- Construct a model instance, applying defaults and validating properties
- Loading raw json object from DB or REST into a model instance as-is (No defaults will be applied, with or

[2015-11-13 16:35] loay commented on #1813
@colinshen
it is all in the scope limit as I see it.

When I play with the values in the filter I do get different results. so let's remove the filter completely.

[code]

[code]

[2015-11-13 17:19] crandmck commented on #1818
current context is exposed through [loopback.getCurrentContext()](https://apidocs.strongloop.com/loopback/#loopback-getcurrentcontext).

See https://github.com/strongloop/loopback/blob/master/server/current-context.js#L14

Doc is correct AFAICT.

[2015-11-13 17:19] #1818 closed

[2015-11-13 17:48] fabien commented on #1806
Having a public method like that would certainly be great (I found myself wishing for this before), and it looks like this will resolve the issue.

[2015-11-13 18:11] rmg commented on #1808
the `--no-optional` flag will skip _all_ optional dependencies, even the ones that would actually install fine on this system. If this is mainly being used for `slc loopback` then that is fine. If things like cpu profiling and heap profiling are expected to be used, they will be missing.

[2015-11-13 18:41] colinshen commented on #1813
@loay That's true all other filter work correctly without limit. but when i use limit. I got this. You can see in fund2, the values array is empty. Is this a bug, or it originally looks like this. I mean I want to get one value for each fund.
[code]
[code]

[2015-11-13 21:35] loay commented on #1813
@colinshen
I got what you meant now.
As far as I know LIMIT and ORDER are not really supported inside INCLUDE.
But There is a work around.

for example, you can make your function call the relation like that:

[code]
That will give the first value for each fund.

[code]

You can play in the where condition accordingly to get the results that you need.

[2015-11-13 22:46] rkmax commented on #1395
I have a issue I dont know if it's related. in my records I have a `field: [string]` but when I query always get 0 records but in the database exists records than match with that query

## Loopback version it does not works
[code]

## Mongo version working
[code]

[2015-11-13 22:50] mike-tofi commented on #517
+1

[2015-11-13 22:50] mike-aungsan commented on #517
+1

[2015-11-13 22:53] mike-aungsan commented on #517
I use mongo connector and having error

user obj
    {
        "profile": {
            "username": "test@gmail.com"
        }
    }

?filter[where][profile.username]=test@gmail.com

{"error":{"name":"Error","status":404,"message":"Unknown \"user\" id \"undefined\".","statusCode":404,"code":"MODEL_NOT_FOUND"}}

[2015-11-13 22:54] Neil-UWA commented on #1814
u can using mixins

[2015-11-13 23:18] mike-aungsan commented on #517
It does not work with find REST API.
Anyway all of those info should be in this link :)
https://docs.strongloop.com/display/public/LB/Where+filter

[2015-11-13 23:46] fablife commented on #1452
Also seems to fail on property level declaration:

`
  "properties": {
    "name": {
      "type": "string",
      "required": true,
      "index": {"unique": true}
    },
`
This is being ignored, I can create as many instances with the identical `name`property as I want.

[2015-11-14 00:22] xapou commented on #531
When ```created_at```or ```updated_at``` are **required** and **set at the db level** by the PostgreSQL server (before_update trigger), you may want to expose the value to your users/admins but you do not want to be required to provide these values for an insert or an update. This is a pretty common use case.

It would make sense to be able to flag these 2 fields as 'readOnly'.

[2015-11-14 15:25] ahmed-abdulmoniem opened #1819 "Passing null JSON to optional string parameters converts null to 'null'"
Hi,

I have an end point (remote method) with optional string parameters.

I am collecting the parameters from a view using angular and some of them are null.

When I pass the parameters which contain some JSON null parameters it is saved to database (postgresql) as string and the string is 'null' ..

Any clue why this is happening and this wasn't happening before BTW ..

My current loopback versi

[2015-11-14 15:45] timneedham opened #1820 "swagger.json not including models added after boot?"
Hi,

It seems when adding models programmatically via `app.model()` __after__ booting via `loopback-boot` and `app.listen()`... everything works fine, but the runtime-added models don't appear in swagger.json and consequently not showing in Strongloop explorer?

* New to Loopback, very impressed... apologies if I'm missing something: adding runtime models is central to my use-case.

Many thanks

T

[2015-11-14 16:45] bboalimoe commented on #1814
@Neil-UWA thanks~ great addon！

[2015-11-15 09:09] ataraxus commented on #1450
Same issue here, could you elaborate whats exactly you fix?

[2015-11-15 09:14] ahmed-abdulmoniem commented on #1819
Any response guys?

[2015-11-15 21:24] mastertinner commented on #1774
I'm having the same problem. While @pavlin99th's solution provides a temporary fix (thanks for that!), I think the right solution would be to completely replace the config object if the value in the production file is a boolean with the value ```false``` as in:
[code]

[2015-11-16 03:41] superkhau commented on #1412
I will bump this up to major and see if if we have any plan in the works.

@bajtos @raymondfeng @ritch ^ This warrants some attention.

[2015-11-16 04:14] superkhau commented on #1819
Can you provide a link to a test project with steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

[2015-11-16 09:02] ahmed-abdulmoniem commented on #1819
@superkhau So this is not the new default behavior of strongloop?

[2015-11-16 09:50] EmileSpecs commented on #1653
I have the same issue, even with the https://github.com/strongloop/angular-live-set-example example.

I don't have compression in my middleware stack, with compression it doesn't work at all. So the events work just fine, but the errors are annoying, because to filter through it all looking for other issues is problematic. Also it just doesn't look great when you have 100's of errors in the consol

[2015-11-16 13:30] bajtos commented on #1412
+1 for supporting other bundlers like WebPack.

[2015-11-16 14:30] jannyHou commented on #1814
@bboalimoe hope this article would be useful to you:) https://strongloop.com/strongblog/ibm-express-loopback-node-js/

[2015-11-16 15:02] bajtos commented on #890
@crandmck thank you, the example LGTM. I'm closing this issue as done.

[2015-11-16 15:02] #890 closed

[2015-11-16 16:14] loay commented on #1808
closing #1808

[2015-11-16 16:14] #1808 closed

[2015-11-16 16:35] loay commented on #1810
@barocsi  Still having an issue with that?
Thanks

[2015-11-16 16:57] superkhau commented on #1653
@EmileSpecs I suggest creating your own **new** issue so that someone may triage your issue. This issue already closed, so you won't get much attention here.

[2015-11-16 17:02] superkhau commented on #1819
I'm not sure what you mean yet. I'm trying to determine whether this is a backwards compatibility issue with LoopBack or something to do with your app. Can you provide sample repo?

[2015-11-16 18:50] jannyHou commented on #1816
Hi @EmileSpecs, since I have nothing in front-end, I did everything from explorer. What I did is creating some sample emailaccounts and then clicking endpoint GET /emailaccount.
Right the mixin doesn't work, but I am not sure whether my process reproduced your problem in a right way, so I need to confirm with you first then I can move to the next step to fix it.
Thanks.

[2015-11-16 21:01] superkhau commented on #1758
@cranmck We can split these tasks out to TO members individually instead now.

[2015-11-16 21:06] crandmck commented on #1758
ok shall i do that @superkhau ?

[2015-11-16 21:11] superkhau commented on #1758
yes pls.

[2015-11-16 21:12] doublemarked commented on #1121
It's not a wildcard, but you can merge all of those into a single object using an array for the property:
[code]

[2015-11-16 21:48] jannyHou commented on #1816
@EmileSpecs  well I think I find the solution, hope it's not too late for you :) Please check this issue:
https://github.com/strongloop/loopback/issues/1162
I tried and it works. The solution is to use `unsetAttribute` instead of `delete`,  so in your case, it should be `result.unsetAttribute('password')`

[2015-11-16 22:20] dtomasi commented on #1692
+1

[2015-11-17 07:55] EmileSpecs commented on #1816
@jannyHou thanks! I saw that in the documentation but didn't think the resulting array of objects would be instances of the model and thus have that function so I just ignored it.

Also because of the example in the documentation... I suggest that the documentation be updated, since it's obviously not correct.

I'm not sure when the `unsetAttribute` function wouldn't be be available but I'm now us

[2015-11-17 07:55] #1816 closed

[2015-11-17 07:58] ahmed-abdulmoniem commented on #1819
@superkhau I will try but it will take some time ..

As a simple explanation:

1 - I have a remote method which takes optional string parameters
2 - When I pass on those optional string parameters a `null` it is saved in database as a string (word) = `"null"`

My expected result: Is that when I pass `null` nothing should saved in database but actually the word  `null` is converted to a string and

[2015-11-17 12:17] geekguy opened #1821 "Default scope condition overrides default value"
https://github.com/geekguy/loopback-sandbox/commit/adef36ff4d7d2ebf987f8d5e0f10649f2d49ba29

Remove db.json and restart server.

`checkDefault` should be "Default String" but its "Scope Condition String".

Looks like a bug or am I missing something here?

[2015-11-17 14:58] loay commented on #1813
@colinshen
Did that work out for you? If not please let me know. Thanks.

[2015-11-17 17:58] colinshen commented on #1813
I just removed that part from my site because it is not very important now and I really want to get the newest data automatically. After Limit and order working, I will do it again. Are you guys working on those small things now? Anyway, thanks a lot!!!

[2015-11-17 19:25] kevintechie commented on #1489
A missing or invalid access token should return a 401 per HTTP 1.1 RFC. See my response to related issue: https://github.com/strongloop/loopback/issues/1496

[2015-11-17 19:56] gunjpan commented on #1820
@timneedham Hey Tim, I am looking into this issue. Could you please provide me a sample repo to reproduce the issue?

[2015-11-17 21:04] loay commented on #1813
@colinshen
so if you do the same code:
[code]
It will simply give the highest value regardless of the fund, which is not what you want .. you want the highest value or the highest 2 values for each fund.

[code]

So what you can do is query using

GET /Funds/{id}

and simply iterate through the ids and it will give the requires result for each id. Let me know.

[2015-11-17 21:33] timneedham commented on #1820
@gunjpan Hi, I've put a sample repo here:

https://github.com/timneedham/loopback_issue_1820

...hope it makes sense? Thanks for taking the time to look into this.
Tim

[2015-11-17 22:00] kevintechie commented on #1669
A missing or invalid access token should return a 401 per HTTP 1.1 RFC. See my response to related issue: #1496

[2015-11-18 00:40] colinshen commented on #1813
@loay ok,I got it . Thank you

[2015-11-18 02:03] loay commented on #1813
closes#1813

[2015-11-18 02:03] #1813 closed

[2015-11-18 14:37] jannyHou commented on #1541
Hey @mercuriete glad to know that your problem is solved! If you still have questions about document or routing related issues, please provide the  doc link as well as your code (you can fork this repo https://github.com/strongloop/loopback-sandbox and upload your project to sandbox, then we can solve any problem together more easily!)
For future reference, please ask questions on [google group](h

[2015-11-18 14:38] #1541 closed

[2015-11-18 16:23] jannyHou commented on #1524
Hey @Silvercast , I think you did the right thing in `node.json`, but don't use through model (delete `noderelation.json` as well). Just use one model called node and build two relations to itself would be enough. And I also recommend name a foreign key with `id` appended after the `name`, check [relation doc](https://docs.strongloop.com/display/public/LB/HasMany+relations) for more details.
For f

[2015-11-18 16:23] #1524 closed

[2015-11-18 16:34] #1522 closed

[2015-11-18 18:50] varunj90 opened #1822 "npm supertest intercepts middleware and does not run boot scripts"
We are registering our middleware handler in server/middleware.json like the following:

![image](https://cloud.githubusercontent.com/assets/3495961/11250388/4ed468dc-8dfa-11e5-9d5a-ee502a84ad75.png)

When performing integration tests using supertest :

![image](https://cloud.githubusercontent.com/assets/3495961/11250550/e573288c-8dfa-11e5-9812-a68a3a6d8474.png)

the code does not go through our m

[2015-11-18 18:50] jbcpollak opened #1823 "Can you create a ChangeStream for a single item?"
The [documentation](https://docs.strongloop.com/display/public/LB/Realtime+server-sent+events) says you can watch a model for changes from the client like this:

[code]

But what if you want to watch just a single item for updates? Is the following possible?

[code]

If this isn't automatic, is there a best-practices way to implement this with loopback?

[2015-11-18 19:10] JoshWilliams92 commented on #1469
I have done some research on IBM and concluded that loopback allows you to create .json files and .js files which is your data model and object model. Works perfectly for me, except I need to know how I can use it with gridfs instead of mongodb.

[2015-11-18 21:18] #535 closed, assigned to nobody

[2015-11-18 21:20] #367 closed, assigned to raymondfeng

[2015-11-18 21:21] #474 closed, assigned to nobody

[2015-11-18 21:30] #746 closed, assigned to nobody

[2015-11-18 22:49] raymondfeng commented on #1822
To customize error handling for LoopBack REST APIs, you need to register an error handler in server/config.local.js:
[code]
Please note the REST handler doesn't pass control back to the middleware chain.

[2015-11-18 23:11] loay commented on #1821
Hi @geekguy,

It doesn't look to be a bug. It is the property of the model definition JSON file.
If you have a look at the Default scope part in the following document:

https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Scopes

The scope condition in m1.JSON does override any value.
For example,

So back to your case:

In m1.json , if we do the same t

[2015-11-18 23:38] mrbatista commented on #1629
@loay same problem. see [this](https://github.com/mrbatista/loopback-sandbox/tree/embedOne_updateAttributes) sandbox repository that reproduce the issue.
The problem for mongoDB connector is that $set operator patch single field and replace object, for patch object need to use dot notation see [this](https://docs.mongodb.org/v3.0/reference/operator/update/set/#set-fields-in-embedded-documents) for

[2015-11-19 00:16] geekguy commented on #1821
@loay : This is little confusing.

Let me give you a real life example.

Let's say I have a `Product` model and one field is 'isActive'. By default this field will be false.
So product.json will look this this.

[code]

[2015-11-19 00:27] geekguy commented on #1821
@loay : This is little confusing.

Let me give you a real life example.

Let's say I have a `Product` model and one field is 'isActive'. By default this field will be `false` and whenever I am querying, I ll append `where: {isActive: true}` because I only want to display active products.

So product.json will look this this.

[code]

This will work fine. `isActive` will be `false` by default and I

[2015-11-19 00:55] gunjpan commented on #250
Closing due to inactivity.
 For future reference, please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

Please feel free to reach me if you need to reopen it.

[2015-11-19 00:55] #250 closed

[2015-11-19 01:28] Amir-61 commented on #723
Hi @NgaNguyenDuy,

Sorry to get back to you late! This tickets seems pretty old and probably it has been solved by now; I tried to re-produce the issue and it seems it is working now; however, I need to double check it with you; if you still have the same problem could you please let me know what datasource (db-connector) you are using? Please update us on this.

Also possibly sharing a Repo to re

[2015-11-19 01:47] crandmck commented on #1644
@pulkitsinghal I created https://docs.strongloop.com/display/SL/Google+Cloud+Platform where you can add your content.  NOTE: You must be logged in to the Confluence wiki to see this page.  Let me know if you need any help editing.

Here is some basic info:
- https://docs.strongloop.com/display/LB/Translating+documentation
- https://docs.strongloop.com/display/LB/Contributing+to+LoopBack+documentat

[2015-11-19 07:21] daslicht opened #1824 "Documentation Middleware"
Hi,
see here:
https://docs.strongloop.com/display/public/LB/Add+a+static+web+page#Addastaticwebpage-Introductiontomiddleware
The Files Middleware wont work until you remove the following from middleware.json:
[code]

This should be mentioned there.

[2015-11-19 07:37] EmileSpecs opened #1825 "Change/Event Stream Errors"
![issue](https://cloud.githubusercontent.com/assets/7687212/11264961/dfa39abc-8ea0-11e5-800e-9157b3b0c30e.jpg)
Even when running the https://github.com/strongloop/angular-live-set-example example, I get console errors in Chrome console:
`net::ERR_INCOMPLETE_CHUNKED_ENCODING`

I don't have compression in my middleware stack, with compression it doesn't work at all. So the events work just fine, but

[2015-11-19 11:30] jamesjjk opened #1826 "Model User.confirm method returns error LB2.25"
On confirming a user in the method confirm, the user.save function on line 469 throws an error: { [Error: You are not authorised to make this call] statusCode: undefined, code: undefined }

Loopback version 2.25

[2015-11-19 11:50] jamesjjk commented on #1826
ACL issue

[2015-11-19 11:50] #1826 closed

[2015-11-19 13:18] mrbatista commented on #1629
@raymondfeng This is a critical bug: update attributes of Model with embed object replace whole instead update only specified attributes. Any workaround for fix this issue?

[2015-11-19 15:34] loay commented on #1821
@geekguy
let's remove the default scope for the sake of testing .. the values created in test-data.js override the values in property default.
So the order of power as I see it:
1) default scope.
2) test-data.js or any testing data in general.
3) property default.

So the scope default enforces the value in queries but if you remove the scope default .. the values fed in your data will have the up

[2015-11-19 16:03] bajtos commented on #1821
I think I know what is happening here.

The idea behind (non-default) scopes is to create a nested endpoint that always applies a set of filters to both READ and WRITE operations.

Relations are a typical example - both `GET /api/products/1/category` and `POST /api/products/1/category` will modify the query/post data by adding `productId: 1`.

Let's modify the `Product.isActive` example above to m

[2015-11-19 16:04] gausie commented on #1018
This bug should be reopened.

The above, as @raymondfeng quoted, is currently *not* the case. The defaultScope is currently applied when updating a record.

[2015-11-19 16:15] Amir-61 commented on #1824
Hi @daslicht,

Thanks for mentioning this here! You are absolutely right; if you have the following in the `middleware.json`, you already defined a route for `/` to show the loopback status in `routes` phase, which happens before `files` middleware and you no longer get `files` middleware, sinceresponse is sent in `route` phase:

[code]

[2015-11-19 16:26] raymondfeng commented on #1821
@bajtos +1 to introduce a new option to control if the `where` clause should be used for `writes`. See https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/scope.js#L328. We can even add a `properties` for fixed values.

[2015-11-19 16:51] bajtos commented on #1821
@raymondfeng thanks. I am proposing to label this issue as an enhancement then. /cc @loay

[2015-11-19 18:03] gausie commented on #1241
I've been working on this as a mixin today. Not finished yet, but take a look!

https://github.com/gausie/loopback-softdelete-mixin

[2015-11-19 18:08] geekguy commented on #1821
@bajtos : Now its clear to me from your comment
[code]

I couldn't find that kind of documentation [here](https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Scopes). Is it documented anywhere else?

I come from a rails background so I thought loopback's scope would be similar to [rails default scope](http://apidock.com/rails/ActiveRecord/Base/default_s

[2015-11-19 18:17] geekguy commented on #1744
@superkhau : Did you get a chance to verify this?

[2015-11-19 18:31] daslicht commented on #1824
Thank you for the Reply !

[2015-11-19 18:31] #1824 closed

[2015-11-19 18:56] pwwolf opened #1827 "Default favicon.ico in Loopback"
This is a minor gripe, but I noticed that Loopback projects contain the same favicon.ico as strongloop.com.  This is frustrating because in a browser with a lot of tabs, I can't distinguish which tab is my local server vs strongloop.com, where I usually have doc opened.

Personally I prefer not to even have a favicon set by default.  The browser caches the favicon to localhost:3000, and then any n

[2015-11-19 20:23] superkhau commented on #1744
@geekguy Sorry not yet, been busy. However, I will find someone who can. ;) @Amir-61 ^

[2015-11-19 20:53] varunj90 commented on #1822
hi raymondfeng, we already have something similar defined in our server.js

![image](https://cloud.githubusercontent.com/assets/3495961/11284011/81b25832-8ed5-11e5-85ab-3ee6d15d5757.png)

and supertest is defined as the follwoing for the test case mentioned above

![image](https://cloud.githubusercontent.com/assets/3495961/11284029/9c528d4c-8ed5-11e5-8627-0271d7a02a9e.png)

________________

do yo

[2015-11-19 20:53] varunj90 commented on #1822
@raymondfeng  - tag added.

[2015-11-19 22:01] 0candy commented on #1760
Hi,

It appears that what you're trying to do is not supported:
https://github.com/strongloop/loopback/issues/517#issuecomment-71796806

Can you confirm whether that's what you're encountering?  If so, I will close this as a dup of that issue.

Thanks!

[2015-11-19 22:53] Amir-61 commented on #1744
Hi @geekguy,

Thanks for reporting this issue. It definitely seems a bug to me. Also, it is worth mentioning the following examples based on your models:

[code]

However:

[code]

[2015-11-19 22:56] raymondfeng commented on #1822
Can you share the test file? I'm using the following one:
[code]

[2015-11-19 23:01] crandmck commented on #1234
Reviewed and edited https://docs.strongloop.com/display/LB/Routing

[2015-11-19 23:52] sharkinsspatial opened #1828 "options.template property causes failure with some transport types."
Some [nodemailer](https://github.com/andris9/Nodemailer) transport types fail when the template property is included in the options object.  Notably when using [Mailgun](https://github.com/orliesaurus/nodemailer-mailgun-transport).  The template property is only used to eventually populate the options.html [property](https://github.com/strongloop/loopback/blob/master/common/models/user.js#L422) an

[2015-11-20 00:22] jannyHou commented on #1827
@pwwolf Thanks for your suggestion! We will see if there is any improvement to bring the icon change faster. As a workaround you could probably load your app after setting the favicon.
Another idea(not sure whether it works):  you can try some watchify modules like this [watchify example](https://github.com/gulpjs/gulp/blob/master/docs/recipes/fast-browserify-builds-with-watchify.md), it brings th

[2015-11-20 01:30] jannyHou commented on #1827
Hey @superkhau @ritch @raymondfeng @bajtos, from the description above, some improvement regarding favicon might be need:) The customized favicon(set from middleware.json) has the same problem.

[2015-11-20 02:10] Neil-UWA commented on #1821
I think this problem also related to this one https://github.com/strongloop/loopback/issues/1701

[2015-11-20 04:08] Amir-61 commented on #1828
Hi @sharkinsspatial,

Could you please share a repo to reproduce the issue? You can use `loopback-sandbox` to reproduce the issue (Please see: https://github.com/strongloop/loopback-sandbox).

Thanks!

[2015-11-20 13:26] sharkinsspatial commented on #1828
Hi @Amir-61, steps to reproduce are included in the [README](https://github.com/sharkinsspatial/loopback-sandbox/blob/master/README.md) in the forked `loopback-sandbox` [here](https://github.com/sharkinsspatial/loopback-sandbox).

[2015-11-20 14:28] jakerella commented on #1234
@crandmck Looking at that URL, it doesn't seem like there is any information about the original issue here. Additionally, looking through this page: https://docs.strongloop.com/display/public/LB/Defining+middleware I don't see any information on the inability to do post-processing or a warning about middleware on `routes:after`.

Unless this issue has been addressed within the framework, I think w

[2015-11-20 14:43] bajtos commented on #1827
IIUC, the favicon is cached by the browser - I don't think we can do much here. See e.g this thread discussing the topic in Chrome context: https://productforums.google.com/forum/#!topic/chrome/zXlEW0ZFErY

The only solution I can think of is to disable the default StrongLoop favicon as suggested @pwwolf:

I don't have a strong opinion which way is better. @ritch @raymondfeng do you happen to reme

[2015-11-20 15:05] varunj90 commented on #1822
@raymondfeng

var supertest = require('supertest');
var app = require('../server/server.js');

function server(verb, url) {
  return supertest(app)[verb](url)
    .set('Content-Type', 'application/json')
    .set('Accept', 'application/json')
    .expect('Vary', 'Accept-Encoding');
}

  it('POST /fundstransfers with invalid payload - Fail', function (done) {
    console.log("here000000000000000000

[2015-11-20 16:23] gunjpan commented on #1820
@timneedham :Hi, after investigating, I've found out that this issue is a know limitation of the current explorer implementation, I am changing the labels to "enhancement". We need to prioritize this request against other stories in our backlog. Found the same issue: https://github.com/strongloop/loopback-component-explorer/issues/140

[2015-11-20 16:59] csvan commented on #1808
Pardon the late reply, we haven't tried a recent install since the workarounds provided here worked just fine.

[2015-11-20 17:29] fabien commented on #1821
IIRC I initially implemented `defaultScope` and I can confirm that it expected that scope will indeed enforce its values, both during READ as well as WRITE operations. The idea behind this decision is that one should not be able to bypass the scope (think ownership/multi-tenancy and similar scenarios).

I agree, an option to change this default behavior perhaps makes sense. However, some time afte

[2015-11-20 17:31] fabien commented on #1817
Sure, it's redundant, but why deprecate it because of that? It's actually quite similar to: http://backbonejs.org/#Model-set

[2015-11-20 17:47] richardpringle commented on #1817
Hey @fabien, in the backbone example they actually have two different argument options for a single method. Right now, we have two different methods that can do the same thing. Having multiple arguments is okay but having two methods (especially that only differ by an 's') isn't necessary.

Make sense?

[2015-11-20 18:02] fabien commented on #1806
@raymondfeng digging further, I did find `applyDefaultValues` to be already implemented here: https://github.com/strongloop/loopback-datasource-juggler/blob/934786200b0180ed3d3cf45f78986b2019511e79/lib/model.js#L79

Which suggests that we can change the following: https://github.com/strongloop/loopback/blob/master/lib/model.js#L131

Into:

[code]

Unfortunately I wasn't able to test this, because

[2015-11-20 18:30] crandmck commented on #1234
OK, I didn't realize it worked that way.  Definitely seems odd.

Anyway, I added the following note:

To https://docs.strongloop.com/display/LB/Routing and https://docs.strongloop.com/display/public/LB/Defining+middleware#Definingmiddleware-Routingmiddleware.

Also,@hacksparrow added the following clarification to https://docs.strongloop.com/display/LB/Routing:

Does that take care of the issue?

[2015-11-20 18:36] jakerella commented on #1234
I think it would be nice to mention how to alter an outbound response, but that might be better in another section. I think what you have above is sufficient for this ticket.

[2015-11-20 19:37] fabien commented on #1806
Update: the above does not work at all. I'm really starting to wonder if we actually want this coercion to be applied when the httpContext is being created. We already have a proper `sharedCtor` to handle this for us. Think about it for a moment:

The httpContext coerced model instance will always be a 'new' model; I can't really think of any use for such a model to be made available in coerced fo

[2015-11-20 20:01] timneedham commented on #1820
@gunjpan Great stuff, I look forward to seeing it in a story soon!
Tim

[2015-11-20 20:17] fabien commented on #1806
@raymondfeng please see referenced PR's. Thanks.