[2016-12-19 17:37] #690 closed

[2016-12-19 19:49] dancingshell commented on #3037
@lygstate are you using memory connector? I noticed when running my tests through the memory connector it doesn't throw index errors, but using the postgres connector it will throw a uniqueness error

[2016-12-19 20:47] superkhau commented on #3039
@ayon115 Please ask question using our Google Groups or Gitter, see http://loopback.io/doc/en/contrib/Reporting-issues.html#asking-questions for more details. Closing as this is not an bug/feature request.

[2016-12-19 20:47] #3039 closed

[2016-12-19 20:48] superkhau commented on #3039
That said, how about https://groups.google.com/forum/#!searchin/loopbackjs/multipart|sort:relevance/loopbackjs/-7xumo0V8qg/tPKDfnABTXwJ

[2016-12-19 23:03] lygstate commented on #3037
I am using MongoDB

[2016-12-20 10:14] tamitutor commented on #257
+1 This feature would be nice to have--configurable from config.json or what have you...

[2016-12-20 13:21] asaf050 commented on #1477
+1

[2016-12-20 13:24] doublemarked opened #3042 "Discussion: Developer/Strongloop communication"
At the advice of @bajtos in #2693 I am opening this discussion regarding developer communication.

Context: Fixes #2693 and #3021 implemented access-token invalidation when the users changes an email or a password. However, the current code deletes all access tokens, including the token used to make the change password/email request. The effect of this is that client code must anticipate immediate

[2016-12-20 13:35] doublemarked commented on #3042
I'd like to share my own thoughts on this. I may have missed it, but I don't recall any communication regarding these changes, which I think took place in mid-September. Our team did not discover the problem until last week when we performed some cleanup that bumped up the Loopback version.

I would like to offer the following suggestions,

  1. Perhaps Strongloop should consider a low-volume anno

[2016-12-20 14:40] beingshashi commented on #2964
Hi @jannyHou ,
I tried the above things , now i am getting this error-
Error loading module "loopback":
 TypeError: Cannot read property 'extend' of undefined
    at Object.<anonymous> (/usr/lib/node_modules/strongloop/node_modules/generator-loopback/app/index.js:25:29)
    at Module._compile (module.js:570:32)
    at Object.Module._extensions..js (module.js:579:10)
    at Module.load (module.js:4

[2016-12-20 14:45] beingshashi commented on #2964
Hi @jannyHou ,

Kindly solve the problem asap , its been too long , and too much frustrating , not able to work with this.

[2016-12-20 16:17] josieusa commented on #2728
To people watching the issue #1495, I'd like to inform that the PR is no longer a work-in-progress. It works for me. For details see the PR.

[2016-12-20 17:41] superkhau commented on #3042
@doublemarked Thanks for bringing up this discussion. I've been advocating a Community Governance page on loopback.io for things like this (and transparency especially). @bajtos Has something in the backlog (probably won't get to it till the new year though since most people are going on vacation soon).

IMO:

Never since we should be following semver and only breaking on majors.

IMO, Google Grou

[2016-12-20 17:48] superkhau opened #3043 "How to make id increase from a set value?"
_From @DongWenHu on December 20, 2016 5:57_

I don't want to make id increase from 1, can I make id increase from a set value?
Or can I make id is an uuid?

_Copied from original issue: strongloop/strongloop#334_

[2016-12-20 17:48] superkhau commented on #3043
_From @sam-github on December 20, 2016 15:28_

@superkhau

[2016-12-20 17:50] superkhau commented on #3043
@DongWenHu Have you looked at http://loopback.io/doc/en/lb2/Model-definition-JSON-file.html (search for UUID).

For future reference, http://loopback.io/doc/en/contrib/Reporting-issues.html#asking-questions. We reserve GitHub issues for bug/feature requests.

[2016-12-20 17:58] BenjaminHorn commented on #3017
@bosco-li anything new on this?

[2016-12-20 18:38] raymondfeng commented on #3017
We use `qs` module to parse such parameters. You probably found a bug in https://github.com/ljharb/qs.

[code]

Can you open an issue against https://github.com/ljharb/qs?

[2016-12-20 19:12] superkhau commented on #2821
tldr;

To update LB3 projects:

1. Remove publishConfig from `package.json` in master
2. Add `{"tag": "lts"}` to 2.x branch
3. Publish a new version of 3.x.x and a new version of 2.x.x

[2016-12-20 19:43] superkhau opened #3046 "Relations: hasMany bugs: Forces to change foreignKey to integer"
_From @tmclouisluk on December 20, 2016 9:52_

Table A:
[code]

Table B
[code]
For table A, s_id is uuid so it should be in string.
when I go to http://localhost:3000/explorer,
i found that loopback forces to change the datatype of id in table A from string to integer.

Is there any solution for this?

_Copied from original issue: strongloop/loopback.io#209_

[2016-12-20 19:43] superkhau commented on #3046
Please post on strongloop/loopback -- I'll help move this issue there.

[2016-12-20 19:44] superkhau commented on #3046
@tmclouisluk Let's continue the conversation here as this is not a documentation issue for loopback.io.

[2016-12-20 19:44] superkhau commented on #3046
cc @crandmck ^

[2016-12-20 20:35] ljharb commented on #3017
See https://github.com/ljharb/qs/issues/188#issuecomment-268351415 for why this isn't a bug, it's two things: the default `depth` option of `qs.parse`, and that there's no safe way to automatically coerce the strings `"true"` and `"false"` into booleans.

[2016-12-20 21:10] ritch commented on #3026
from https://strongloop.com/strongblog/coming-soon-loopback-3-0/

[2016-12-20 21:16] superkhau commented on #2821
Connect to https://github.com/strongloop-internal/scrum-loopback/issues/1361 for PRs related to LB3 release. @bajtos PTAL at all the PRs connected to that epic.

[2016-12-20 21:20] raymondfeng commented on #3017
@bosco-li I guess we can make the `qs.parse` options configurable with reasonable defaults in LB.

[2016-12-20 21:59] raymondfeng commented on #3017
@BenjaminHorn Please note that you can use `stringified` JSON as the value for `filter`, for example:
`?filter={where: {"and":[{"valid":true},{"or":[{"name":"test"},{"deleted":false}]}]}}`

[2016-12-21 01:21] superkhau commented on #2821
@bajtos loopback-connector-remote doesn't have an LTS branch, I'll confirm with you tonight for how to move forward here.

[2016-12-21 01:26] superkhau commented on #2821
@bajtos I sent PRs to all those repos and linked them above. You may also use this epic to track https://github.com/strongloop-internal/scrum-loopback/issues/1361

[2016-12-21 06:23] ashwell commented on #2086
+1

I just ran into this issue while trying to setup some recaptcha middleware to only run on our user creation route. I'd rather not hardcode the the `restApiRoot` since it is subject to change in the future.

[2016-12-21 08:04] Samox commented on #2483
+1

[2016-12-21 08:05] ashwell commented on #2086
@jubbens I kept looking through loopback issues and found this one, #2456

I think that is one of the issues both of us are running into. After spending some time trying different work arounds I ended up just settling on using a boot script that adds the middleware with the express `use` function so I could set the path to a regular expression that uses `restApiRoot` and a `$` anchor to make sure

[2016-12-21 08:22] BenjaminHorn commented on #3017
@raymondfeng I am aware of that, but I still want to use the more common REST filter format.

[2016-12-21 12:19] doublemarked commented on #3042
Yeah, indeed. I have taken a cautious tone because it's not clear whether anybody agrees with me that token invalidation is a breaking feature, but I certainly agree with following semver.

Yes I think a patch that reverts the change (or introduces a default-off flag) would be correct. It should be treated with similar severity to a regression.

Sounds good to me.

[2016-12-21 12:54] bajtos commented on #2860
I am guessing that the code handling blacklist/whitelist is run in the first turn of the event loop, when a model is created/configured, but is not attached to a datasource yet. The relation methods are not defined at this time yet. These methods are defined in a later tick, when the model gets attached to a datasource.

If my guess is correct, then I think we should listen for events like `modelR

[2016-12-21 15:10] bajtos commented on #2821
Reassigning to @ritch for the last step (post to Google Groups after the blog post was published).

[2016-12-21 16:28] bajtos commented on #3026
Yes, only for 3.0, as was described in the "coming-soon" blog post.

See [lib/model.js](https://github.com/strongloop/loopback/blob/18a89e556a629cb0c7367c6ca586c7fed9ea70a4/lib/model.js#L443-L447) in the 2.x branch.

[2016-12-21 16:37] jannyHou commented on #2964
@beingshashi I have been trying to help but I am afraid it's not a bug of loopback. We run `slc loopback:model` several times everyday but never see such an error...

We could not investigate more on how the reinstalled node and npm changed the behaviour.

And maybe take a look at our support plans if you need problem solved urgently: https://strongloop.com/node-js/subscription-plans/

[2016-12-21 22:33] kobaska commented on #3027
Hey @bajtos, Can you please give your view on this, whether transaction is something you have thought about in replication scenarios?

[2016-12-21 22:34] nelsonec87 commented on #1295
+1

[2016-12-22 02:14] superkhau commented on #2821
Checked off last items, merged in GS explorer 4.0.0 update at https://github.com/strongloop/loopback-getting-started/pull/24 and fixed LTS tags for LB3 release repos at https://github.com/strongloop-internal/scrum-loopback/issues/1373. Moving to closed column as done! :rocket:

[2016-12-22 06:09] isuruAb commented on #1739
is this available now ?

[2016-12-22 08:54] josieusa commented on #1495
Hi everyone,
following my comment here on Aug 10, I closed that PR (in favor of strongloop/loopback-context/pull/11 which works for me and is only waiting for review).

[2016-12-22 08:59] stalinkay commented on #1739
@Isuru, this is nothing official but I think this is what you are looking for, till there’s an official implementation. [loopback-j <https://github.com/backstage/loopback-jsonschema>sonschema](https://github.com/backstage/loopback-jsonschema).

[2016-12-22 10:09] bajtos commented on #2821
@superkhau I believe we are moving finished stories to "Done" pipeline on ZenHub instead of closing them. (I did it myself now.)

[2016-12-22 11:30] archenroot opened #3049 "Support INNER JOIN vs LEFT JOIN definition in model relation"
This is possible feature request.

I would like to define either to use inner or left (outer) join when joining two models.

This could be implementeed as:
1. either inner or left is used by default for any JOINs
or
2. Both supported at the same time, which will then require 2 methods available instead of one supported in the moment.

We have for example URI:
/parent/1/childs

So we could have som

[2016-12-22 11:31] bajtos commented on #1495
Hello, the patch allowing remote methods to receive remoting context via `options` argument has been landed to both `master` (3.x) and `2.x`.

Remaining tasks:
 - [ ] Update the documentation at https://loopback.io/doc/en/lb3/Using-current-context.html using the information in #3023.
 - [ ] Close other context-related issues and point users to this new solution.

Please note that I am still intend

[2016-12-22 11:31] bajtos commented on #1495
Ouch, I pressed "comment" button too soon. The pull request for 2.x is waiting for CI right now (see #3048).

[2016-12-22 11:33] ebarault commented on #1495
@bajtos

which do you consider as the target approach ?

[2016-12-22 11:36] tvdstaaij commented on #1495
@bajtos When this update is published, is there a possibility it will break 2.x projects using the [workaround](https://github.com/strongloop/loopback/issues/1495#issuecomment-233059182) that already uses options?

[2016-12-22 11:53] bajtos commented on #1495
@ebarault

Propagating context via "options" argument is our recommended and supported approach. While it has downsides (e.g you have to manually add `options` argument to all your methods and be disciplined in passing them around), it is also the only solution that is 100% reliable (meaning a change in a dependency like a database driver won't break it).

I don't know how reliable the new loopbac

[2016-12-22 11:58] massilvaLaz commented on #1377
Hi,
I want  want to query some fields , one from the subdocument  but I have no result  for the subdocument fields .

My code:
`Products.find({"fields": ["id","fields.name"]};`

Response/
[
  { "id": "585ab055578ee31431df8bf4"},
  {"id": "585ab055578ee31431df8bf5"}
]
Someone can help me please!

[2016-12-22 12:21] bajtos commented on #3042
Hi, thank you @doublemarked for starting this discussion.

I agree with what @superkhau wrote, we shouldn't be introducing breaking changes into minor versions.

In the particular case you have described (access-token invalidation), we did not realise this change may be breaking existing applications :( To be honest, this seems like a problem that cannot be fixed - how to know what we don't know?

[2016-12-22 12:56] ebenmoha opened #3050 "Generated relations contains only one entry"
The discoverSchema method returns only 1 entry for the relations while I have multiple relations for each table. I tried to manually add them, but the "discoverForeignKeys" method is returning wrong values for the table that references the association. Here's an example:

{ fkOwner: 'dbo',
    fkName: 'FK_Foo_Bar',
    fkTableName: 'Foo',
    fkColumnName: 'Foocolumn',
    keySeq: 1,
    pkOwner:

[2016-12-22 15:08] bajtos commented on #3027
Hi @kobaska, your first proposal makes a lot of sense to me, we should add `options` argument to `rectify*` methods. This will also enable context-propagation as proposed/implemented by #3023 (see also #1495).

Would you mind contributing this improvement yourself?

[2016-12-22 17:10] upupzealot commented on #2952
Same problem, it seems the new method 'disableRemoteMethodByName' is not working.
It did stops the remote method from using(in code 401), but, the method still shows in the explorer.

[2016-12-22 22:33] matts310 commented on #1415
+1

[2016-12-22 22:34] matts310 commented on #1692
+1

[2016-12-22 22:48] sebastianhaas commented on #2409
I can confirm, it would be nice if there was a solution for this problem.

[2016-12-22 23:07] superkhau commented on #2821
@bajtos Yes we are, I'm clicking close and moving back to "Done" in ZH, but maybe it didn't reflect here.

[2016-12-22 23:15] superkhau commented on #3042
tldr;

- [ ] Create loopback-announce for low-volume announcements
- [ ] Feature flags to enable/disable features (breaking changes) that were accidentally introduced in non-major versions
- [ ] Community governance page to describe such processes for transparency

We'll need to create issues to take these items on in the new year (or whenever we decide to prioritize these issues as part of sprint

[2016-12-22 23:16] superkhau commented on #3042
Slapping 8 point estimates to @ritch to prioritize during backlog grooming.

[2016-12-23 13:36] viniciusgomes opened #3054 "Problem to setup StrongOps and Generate Deploy"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Guys i've been trying to build release and deploy application, but i try to follow this tutorials:
https://strongloop.com/strongblog/node-js-monitoring-elastic-beanstalk/
https://strongloop.com/strongblog/setting-up-and-monitoring-node-js-apps-on-elastic-beanstalk-with-strongops-2

[2016-12-23 13:48] AndreMaz opened #3055 "Accessing ctx outside the Operation Hooks"
I'm trying to integrate WebSockets with the Loopback. I'm using the [WS package](https://www.npmjs.com/package/ws).
I have a simple model called ParkingLot with just two properties capacity and numCars.
What I want to achieve is to allow a client to subscibe to this resource and receive notifications when the resource changes its values

My file server file (located at server/server.js) looks like

[2016-12-23 14:39] doublemarked commented on #3042
All sounds great, guys. TYVM!

[2016-12-24 04:04] wzl002 commented on #917
+1

[2016-12-26 12:46] vijay22sai commented on #2871
@fabien Is there anyway to access http request object inside an operation hook? How did you fix issues with loopback-context? I tried using cls-hooked but faced same issues as cls. I am looking for a workaround to replace loopback-context with a better mechanism. I am thinking of setting all context variables on req.context and consuming those values in other chain of functions. But I couldn't acc

[2016-12-27 07:02] jaysson commented on #2256
Any update on this?

[2016-12-27 10:17] doublemarked commented on #2164
@bajtos, if I can guess at your rationale here - because there is no transaction covering the entire batch, the create function should return partial success/failure to accurately inform the caller of what has occurred in the datastore.

FYI: I discovered today that batch creates via relation (like hasMany) do not appear to respect this. For instance, `modelInstance.relatedstuff.create([a,b,c])` w

[2016-12-27 10:52] narender56 opened #3056 "How to make query for array of object?"
Hello everyone,

I have a requirement to get the data from array of objects,which is seems like below object. i have to make query based on "id" from colors array?.please can anyone suggest the query.

   [
      {
          "id":"123123213",
          "name":"Some Name",
          "colors":[
               {
                    "colorId":"1"
                },
               {

[2016-12-27 16:08] dongmai commented on #827
same with datasources.js

[2016-12-27 22:47] dylandechant opened #3057 "Cannot enforce attributes for arrays of objects in model definition file"
### Bug or feature request

- [x ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Cannot enforce attributes for arrays of objects in model definition file

### Link to sample repo to reproduce issue (if bug)

### Expected result
I am defining a model:
[code]

with the above, i can basically put anything i want into `sub_categories`.  Is this intentional, can i

[2016-12-28 09:00] josieusa commented on #2871
@vijay22sai Hello,
regarding the package `cls-hooked` you mentioned, I'm curious about *how* did you use it.
The up-to-date approach for `cls-hooked` is this PR, and it's only waiting for merge (you can already try it, see the link for more info):
https://github.com/strongloop/loopback-context/pull/11
The trick is to require `cls-hooked` before *everything*, but my PR adds some more stuff.
Let me

[2016-12-28 09:32] vijay22sai commented on #2871
@josieusa Thanks for your suggestions.

I tried to use your proposed [PR](https://github.com/strongloop/loopback-context/pull/11) as mentioned [here](https://github.com/strongloop/loopback-context/pull/11#issuecomment-269439642). But still it didn't solve the concurrency issue which i have been facing.

Here is the code snippet to reproduce the issue. let me know if anything wrong in the usage.

h

[2016-12-28 10:09] josieusa commented on #2871
@vijay22sai Thanks, I'll take a look.
Meanwhile, you may double-check if you followed the **updated** README:
https://github.com/josieusa/loopback-context/blob/feature/cls-hooked-3/README.md
Thanks

[2016-12-28 11:25] josieusa commented on #2871
@vijay22sai I can confirm that I get the same output :(
It's strange because, if you write your async code using a different library than `when`, for example `async`, the problem disappears (it's even tested: see https://github.com/josieusa/loopback-context/blob/feature/cls-hooked-3/test/main.test.js#L107).
I'll take care of opening an issue in `loopback-context` to keep track of the problem, and

[2016-12-28 11:43] vijay22sai commented on #2871
@josieusa, Thanks for confirming the issue. Please let me know once you created the issue so that i can keep an eye on it. Also you may know that `loopback-context` is deprecated and https://github.com/strongloop/loopback/pull/3023 is replacing it. I am waiting for https://github.com/strongloop/loopback/pull/3048 patch because i am using loopback 2.x version in my application.

Were you able to ge

[2016-12-28 12:49] vijay22sai commented on #2871
@josieusa Thanks for creating an issue on `loopback-context` repo. BTW what promises library you use for async flow which works with `cls-hooked`? I am a heavy user of `when`. I want mainly this kind of functionality: `when.all(bunchOfPromisesArray).resolve(resolverFunction)`
Could you suggest similar promise library which also works with `cls-hooked`, Thanks.

[2016-12-28 13:18] josieusa commented on #2871
@vijay22sai Yes, I just tested for you that`bluebird` passes your concurrency test (I'm going to reproduce it in the aforementioned issue). I didn't test its [`Promise.all`](http://bluebirdjs.com/docs/api/promise.all.html) method though (similar to `when.all`), so beware. Maybe, before using it in production, you would want to test if [`Promise.all`](http://bluebirdjs.com/docs/api/promise.all.html

[2016-12-28 13:28] vijay22sai commented on #2871
@josieusa Thank you very much 👍 . I will test it myself and update you.

[2016-12-28 18:33] crandmck commented on #3042
Please also open a PR in loopback.io to add information about for the new GG and feature flags to the loopback.io site.  If unsure where or how to do so, open an issue in the loopback.io repo and I will help.

[2016-12-28 18:46] loay commented on #3022
@dkarlovi
The developer needs to know the appropriate error message in order to be able to debug in debugging/development mode.
If you are talking about production mode. Please refer to https://github.com/strongloop/strong-error-handler
You can configure it in order not to show the sensitive information in the error message

[2016-12-29 00:36] superkhau commented on #3042
@crandmck Updated bullet list to include tasks from your comments. TY to adding in.

[2016-12-29 06:01] vijay22sai commented on #2871
@josieusa By using your `PR` and with `bluebird@3.4.7`, I have solved loopback-context bugs. I tested `Promise.all` of `bluebird` and it works great with context. Tested it at high concurrency (10-50 requests) and everything works great. Thanks a lot for your inputs.

I will port to use [official solution](https://github.com/strongloop/loopback/pull/3023) whenever it is mature and stable meanwhile

[2016-12-29 06:59] oneoutone opened #3058 "acl question"
I'm trying acl in my project, now I have defined some roles and add config in my model, but I find that I can just define roles can access or not, how can I make user role get different data just like $owner?, for exampale, user A is belongs to office A, user B belongs to office B, then A can just get office A data, B get B data. I find strongloop also have scope model and roleMapping.pricipalType

[2016-12-30 06:36] ishansan38 opened #3059 "Loopback PUT Request turn emailVerified to "false""
### Bug or feature request

- [ ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

I tried a Put request with Loopback Explorer - it turns emailVerified to false, and thats why I am unable to login user.

### Link to sample repo to reproduce issue (if bug)

### Expected result
Should remain True

### Actual result (if bug)

### Additional information (Node.js v

[2016-12-30 20:12] skyserpent opened #3060 "Strict validation not looking at relation references"
### Bug or feature request

- [X] Bug
- [X] Feature request

### Description of feature (or steps to reproduce if bug)
When you strict an API model and set the `strict` property value in the model.json to `validate` it does a great job of validating properties.

However, if you have a relation, it doesn't count that relation name as a property and the application is forced to add the relation name

[2016-12-31 03:27] schempy commented on #2382
Looks like in the library strong-remoting file https://github.com/strongloop/strong-remoting/blob/master/lib/http-context.js#L224 is where the query parameters are extracted from the url. It's based on the method that is being accessed. In this case the acceptable query parameter for method ```count``` is ```where```. If ```where``` is not found in the query parameters then an empty object is retu

[2016-12-31 04:32] Casy commented on #825
+1

[2016-12-31 13:48] hishamjaved opened #3061 "Schema autoupdate fail if property mysql.columnName contains "_" character and mysql datatype is ENUM"
### Bug or feature request

- [x ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
If property mysql.columnName contains underscore in the name and its mysql.dataType is ENUM then it produced the following error message during autoupdate() but not in automigrate()

Error: ER_BAD_FIELD_ERROR: Unknown column 'photoType' in 'user-common'

Error prone property Synt

[2017-01-02 09:45] pierreclr opened #3062 "[BUG] Fields property to default scope not working"
I'm trying to implement a soft delete feature on my loopback application and when adding a default scope with a fields exclusion the result is pretty weird :

### Description of feature (or steps to reproduce if bug)

Just create a model with a default scope :
[code]

### Link to sample repo to reproduce issue (if bug)

Since the bug is really easy to reproduce, I didn't provide any test repo

###

[2017-01-02 15:10] josieusa commented on #2871
@vijay22sai I posted an alternative solution on strongloop/loopback-context#17

[2017-01-03 04:02] qaiser110 opened #3063 "Changing any property on User extended model changes the emailVerified property to false"
### Bug or feature request
- [x] Bug
- [ ] Feature request

### Issue Description
I've I've recently migrated to Loopback 3. I'm Postgresql database. One of my tests is failing with a strange behaviour. I've raised [this issue](http://stackoverflow.com/q/41435187/699091) on Stackoverflow as well.

I have a Member model that extends the User model. Whenever I change any property on my Member model,

[2017-01-03 07:52] mackwan84 commented on #3063
+1 I am facing the same problem after update to 3.0.

[2017-01-03 08:59] hishamjaved commented on #1987
Yes this issue still persist. The actual problem was that how can we allow same email address/username for different realms. It still gives error of user already exist if I already have a user of same email address.

Realm: ORG1     Email: myuser@domain.com
Realm: ORG2     Email: myuser@domain.com

The above mentioned scenario should work. if realm is different. But it is not working, please resol

[2017-01-03 09:04] dkarlovi commented on #3022
@loay this is not part of a stacktrace or something, this is when in production mode.

[2017-01-03 11:56] hussainak commented on #3063
+1

[2017-01-03 12:02] microSoftware commented on #2513
Same issue on mac.

strongloop v6.0.3 (node v7.2.1)
├── strong-arc@1.8.9 (3dd25ac)
├── strong-build@2.1.2 (a98f310)
├── strong-deploy@3.1.4 (9b29df0)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.3
├── strong-registry@1.1.6 (f8c2339)
├── strong-start@1.3.4 (28c261d)
├─┬ strong-supervisor@3.3.3
│ └── strong-agent@2.1.1 (b51fc45)
├── generator-loopback@1.25.0 (6a0e2c0)
├── node-inspector@

[2017-01-03 17:23] PhilippeCorreges opened #3065 "Problem with replace() method"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Setup an app with a model like:
`{
  "name": "Link",
  "plural": "Links",
  "base": "PersistedModel",
  "idInjection": true,
  "options": {
    "validateUpsert": true
  },
  "properties": {
    "linkName": {
      "type": "string",
      "required": true
    },
    "linkURL": {

[2017-01-03 18:11] #3065 closed

[2017-01-03 19:39] notbrain commented on #3063
+1 in 2.36.2

Our password reset is now broken because of this too. `emailVerified` set to 0.

Just tried to upgrade from our pinned 2.29.1 version of loopback to the latest 2.x version. Was pinned because of a previous regression wrt PUT/PATCH endpoint verbs. Trying to get back up to latest.

Tried to explicitly set `emailVerified = 1` in our custom reset function we created, but no dice (must be

[2017-01-03 19:39] rusackas commented on #3059
Experiencing the same problem here. We have an admin tool that sets emailVerified to true via a pot request, but it stopped working.

[2017-01-03 19:45] Monstrik commented on #1987
@loay Reopen this issue or create new one.

[2017-01-03 22:12] 0candy commented on #3058
Hi @oneoutone , did you take a look at the documentation on user roles?
http://loopback.io/doc/en/lb3/Controlling-data-access.html#specifying-user-roles
It also has a link to an example project which shows how to limit a team to access to the project they are granted permission to.
https://github.com/strongloop/loopback-example-access-control

[2017-01-04 11:46] hishamjaved commented on #2159
This is an issue which has to address. But as a workaround you have to remove the validations on email/username properties. Then apply your customized validation on email/username for uniqueness of <realm><email> OR <realm><username>.

server/models/user.js
module.exports = function(User) {
    delete User.validations.email;
}

[2017-01-04 12:14] hishamjaved commented on #1987
I found a workaround for this issue, this may help

server/models/user.json
`{
"name": "user",
"base": "User",
  ...
  ...
  "indexes": {
    "realm_email_index": {
      "keys": {
        "realm": 1,
        "email": 1
      },
      "options": {
        "unique": true
      }
    }
  }
  ...
  ...
}`

[2017-01-04 12:21] lleopardi commented on #3063
+1

[2017-01-04 14:06] jfey commented on #1460
+1

[2017-01-04 14:17] amarczuk commented on #1460
+1

[2017-01-04 14:34] aekevinscroggins commented on #1460
A way around this issue is to set up custom role resolvers, for example:

# Message.json
[code]

Note that there are multiple creators (users) present in the message model. If using $owner, it will always default to the first creator (user) it encounters. If you apply a custom role resolver via the principalId, you can run custom code to determine if the user querying the route should have access

[2017-01-04 15:44] lschricke commented on #3063
Same issue here.

[2017-01-04 15:54] davidcheung commented on #3063
once this lands it should fix
https://github.com/strongloop/loopback/pull/3053

[2017-01-04 16:00] bajtos opened #3068 "Access token invalidation should be disabled by default in 2.x"
As described in https://github.com/strongloop/loopback/pull/3048, adding automatic access token invalidation to 2.x is viewed as a breaking change by some of our users.

We should add a new feature flag (model-level setting?) to 2.x to control whether access token are invalidated or not. When this flag is not set, a warning should be printed to notify users about a potential security vulnerability

[2017-01-04 16:50] Jeff-Lewis commented on #2519
@josieusa try telling MongoDB to use [cls-bluebird](https://github.com/TimBeyer/cls-bluebird) instead and then use `cls-hooked` instead of cls when [initializing](https://github.com/TimBeyer/cls-bluebird#usage) `cls-bluebird`.

In `MongoClient.connect` [we can pass in](http://mongodb.github.io/node-mongodb-native/2.2/api/MongoClient.html) the `promiseLibrary` to use.  Now I'm not sure if there is

[2017-01-04 19:20] crandmck opened #3069 "Where is "MySQL" in list?"
@miroslav-grabinskiy commented on [Thu Dec 29 2016](https://github.com/strongloop/loopback.io/issues/219)

In-memory db (supported by StrongLoop)
  IBM DB2 (supported by StrongLoop)
  IBM DashDB (supported by StrongLoop)
  IBM MQ Light (supported by StrongLoop)
  IBM Cloudant DB (supported by StrongLoop)
  IBM DB2 for z/OS (supported by StrongLoop)
  MongoDB (supported by StrongLoop)

Press the do

[2017-01-04 19:23] jannyHou commented on #3062
@pierreclr weird I saw similar bug but not exactly the same as yours.
with loopback@2.x
  - using mongodb connector: the the fields filter in scope doesn't work, I still get the `deleted` property shown in results.
  - using memory connector: `deleted` is not hidden but other properties are hidden...

with loopback@3.x
  - using mongodb connector: everything works as expected
  - using memory conn

[2017-01-04 19:50] jannyHou commented on #3061
@hishamjaved I believe this problem is fixed in pr https://github.com/strongloop/loopback-connector-mysql/pull/226
while we haven't released the new verson.

I am confirming the status of mysql and see when will we be ready to release it.

[2017-01-04 19:51] jannyHou commented on #3061
I label it with "blocked" due to waiting for release. Will confirm then close it after new version of mysql published.

[2017-01-04 20:35] jannyHou commented on #3060
@skyserpent Interesting idea, while IMO, it's hard to apply same validate strategy on the relation property, because you cannot manipulate it in the same way you do with a common property, e.g:

model `Customer` has a property `name` and hasOne `Address`
you can do `Customer.create({name: 'myName'})` but you cannot do `Customer.create({address: {address_instance}})`

and take some validation funct

[2017-01-04 21:00] jamesjjk commented on #1774
@echmykhun Should re-open and accept PR.

[2017-01-04 21:14] go1dfish commented on #2895
I also need this feature or at least an example of a workaround for the mongo connector for now.

[2017-01-04 21:17] go1dfish commented on #1180
+1

[2017-01-04 21:46] jannyHou commented on #3056
Hey @narender56 what kind of query do you want? `create` or `find` or something else? Can you elaborate more?

[2017-01-04 21:58] jannyHou commented on #3050
Hey @ebenmoha I am trying to reproduce your problem, which connector are you using?

[2017-01-04 23:05] ebenmoha commented on #3050
Hello @jannyHou . I am using the mssql connector, the connector and its juggler doesn't seem to support many things like PK identity, hasOne, hasMany, and hasManyThrough relations. I am actually working on a fork of this two libraries (connector + juggler) so that it can handle all this things. I created a first pull request for loopback-connector-mssql that fixes this bug and also a multiple prim

[2017-01-04 23:48] benbrown commented on #3059
This appears to be caused by a change in v2.36.2, which is attempting to set emailVerified to false when a user changes their email address.

This should ONLY happen when the email address actually changes, not ANY time a user record is modified!

[2017-01-05 09:43] bajtos opened #3071 "Add "options" flag to disable access token invalidation"
Invalidating all access tokens on every change of email/password is a bit cumbersome for users. The invalidation was added to allow users to recover after their email/password was stolen. IMO, users usually change their email/password for different reasons and in most cases do not want their other sessions to be logged out.

I am proposing to modify the current implementation to recognize a new fl

[2017-01-05 14:46] bajtos commented on #2519
Issue moved to [strongloop/loopback-context #21](https://github.com/strongloop/loopback-context/issues/21) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-05 14:46] #2519 closed

[2017-01-05 15:15] devotis commented on #1987
Realms seems like to be part of a solution too. https://loopback.io/doc/en/lb3/Partitioning-users-with-realms.html

I need to implement exactly the same. Multiple users with the same email address belonging to different organisations (brands in my case).

[2017-01-05 16:17] devotis commented on #1987
This is my diff for frontend and backend that introduced duplicate email addresses by leveraging realms.

[code]

PS: Reset password needs attention too btw.

[2017-01-05 16:32] rusackas commented on #3059
Temporary workaround for those in need:
With any PUT to the User model, you can include the existing/current email address, and it will save everything else correctly without invalidating the email.

[2017-01-05 17:11] Monstrik commented on #2866
What about 3.x fix

[2017-01-05 17:38] beeman commented on #2866
@Monstrik the fix for 3.x just landed in master

[2017-01-05 17:50] Monstrik commented on #2866
Thanks

[2017-01-05 23:08] jdhrivas commented on #2456
+1

[2017-01-06 22:18] caruana commented on #457
I see this open feature request is a bit stale, but i'm wondering if there is any update here?

[2017-01-06 22:22] portokallidis commented on #2205
Hello,

If i may, you can console.log the item.relation and discover the schema.
More specific if you use the `.getAsync()` method you will get a promise with the data.
 `Item.relationProp.getAsync().then((rel)=>{ //do stuff with 'rel' })`

[2017-01-07 20:22] steinhae commented on #3040
I also encountered the behavior that no AccessToken is created on the server side. To be precise it is created as it is indicated by an increased id but deleted right after.

This behavior is caused by the latest commit to "strongloop/loopback/common/models/user.js" (https://github.com/strongloop/loopback/commit/29a17f39d5aaee9072fb42e582863766f126f911).
Which invalidates AccessTokens on password/

[2017-01-08 19:05] peebles opened #3076 "model modify"
### Bug or feature request

- [ ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional information (Node.js version, LoopBack version, etc)

[2017-01-09 02:53] seanxlliu opened #3077 "the 'explorer' component doesn't work behind nginx with rewrite rule"
my configs are as following:

nginx:
 rewrite ^/api/v2/resources(.*) /resources$1 break;

component config:
  "loopback-component-explorer": {
    "mountPath": "/resources/explorer"
  }

other REST apis worked just fine, but /api/v2/resources/explorer always returns 301 and redirect to '/resources/explorer', hence not working.

I am not sure if this is a bug of loopback or explorer.

[2017-01-09 10:39] barocsi opened #3078 "runincontext deprecated but whats the replacement?"
loopback deprecated loopback.runInContext() is deprecated. See https://docs.strongloop.com/display/APIC/Using%20current%20context for more details.

That URL does not have any details about this command replacement.
According to the docs, currentcontext is discouraged, the linked examples on the docs are pointing to 404
https://github.com/strongloop/loopback/blob/master/example/context/app.js

The

[2017-01-09 12:02] bajtos commented on #1495
📢 I have released this new feature in both 2.x (`2.37.0`) and  3.x (`loopback@3.2.0`) 📢

[2017-01-09 12:07] Undrium opened #3079 "nestRemoting causes huge performance changes"
Our project has Users which need access to models further away than one step from them in relationship. A User is part of a group which in its turn has other items.

**/Users/uid/Groups/gid/Items/iid**

The above URI shouldn't be a problem, right? The users are connected to the groups through another model, otherwise this uses normal relations. Since we only got access to **/Users/uid/Groups/gid**

[2017-01-09 12:44] bajtos commented on #1676
Hello, the official implementation of "options" injection has been landed via  #3023 (3.x) and #3048 (2.x, behind a feature flag, disabled by default for backwards compatibility) and released in 2.37.0 and 3.2.0. The documentation will be updated soon, see ttps://github.com/strongloop/loopback.io/pull/227.

I am closing this issue as done.

[2017-01-09 12:44] #1676 closed

[2017-01-09 12:46] bajtos commented on #3078
See https://github.com/strongloop/loopback/pull/3023.

The documentation update is in progress, see https://github.com/strongloop/loopback.io/pull/227 (or the markdown file [here](https://github.com/strongloop/loopback.io/blob/e28628f7e83b78cd480283244d9804c9e54f9110/pages/en/lb3/Using-current-context.md)).

[2017-01-09 12:46] #3078 closed

[2017-01-09 12:46] bajtos commented on #3078
@crandmck could you PTAL?

[2017-01-09 12:48] bajtos commented on #2991
Also note that loopback-context is known to not work in certain common situations, for example when there is a connection pool involved. Let' move the discussion to loopback-context issue tracker.

[2017-01-09 12:49] #2991 closed

[2017-01-09 12:49] bajtos commented on #2991
Issue moved to [strongloop/loopback-context #22](https://github.com/strongloop/loopback-context/issues/22) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-09 12:53] bajtos commented on #2871
FWIW, #3048 has been released today. I am closing this issue, please open a new one in loopback-context if there is anything more to discuss in relation to the old `getCurrentContext` API.

[2017-01-09 12:53] #2871 closed

[2017-01-09 12:55] bajtos commented on #2728
https://github.com/strongloop/loopback-context/pull/11 has been landed and a new version `loopback-context@3.0.0` has been released.

I am closing this issue as done. Please open a new issue in loopback-context project if there is anything else remaining to discuss.

[2017-01-09 12:55] #2728 closed

[2017-01-09 12:55] #2617 closed

[2017-01-09 12:57] Undrium commented on #3079
After some deep diving into the wonderful world of debugging of NodeJS I found the perpertrator to be another Boot-script (getCurrentContext-quickfix) used from here: https://gist.github.com/ebarault/fdc39c5d07cc40f08664256f9e00905a

I know alot of people use this as a patch, so might be helpful in the future. Also, I hope this is not patched into the official version (https://github.com/strongloo

[2017-01-09 12:58] bajtos commented on #2603
The new solution for context propagation has been implemented and released, see https://github.com/strongloop/loopback/issues/1495 and https://github.com/strongloop/loopback/pull/3023.

loopback-context is known to have issues with the MongoDB connector, let's keep that discussion in https://github.com/strongloop/loopback-context/issues/21.

I am closing this issue.

[2017-01-09 12:58] #2603 closed

[2017-01-09 13:04] bajtos commented on #2597
As I wrote in https://github.com/strongloop/loopback-connector-mongodb/pull/275#issuecomment-240086764, I think we should not be monkey-patching our code to support CLS. Instead, the fix should be implemented in the MongoDB client library we are using under the hood.

Let's keep all discussion related to loopback-context + MongoDB in the following issue please: https://github.com/strongloop/loopba

[2017-01-09 13:04] #2597 closed

[2017-01-09 13:06] bajtos commented on #2485
I am closing this issue as there are not clear instructions how to reproduce it, plus we have deprecated `getCurrentContext` APIs. If the problem is still relevant, then please open a new issue in https://github.com/strongloop/loopback-context/issues and create a sample app reproducing the problem (see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report).

[2017-01-09 13:06] #2485 closed

[2017-01-09 13:10] bajtos commented on #2094
Hello, we have landed & released an official solution for injecting context via "options" arg, see https://github.com/strongloop/loopback/issues/1495 and the related pull requests.

There is also a parallel work done by @josieusa where loopback-context was upgraded to use cls-hooked under the hood. Feel free to try the new version `loopback-context@3.0.0`. If you run into issues, then please repor

[2017-01-09 13:10] #2094 closed

[2017-01-09 13:15] bajtos commented on #878
Hello. The original `getCurrentContext` implementation was based on `continuation-local-storage` that's know to loose the context in many situations. We decided to deprecate this API in favour of an explicit propagation of context via the "options" argument, see https://github.com/strongloop/loopback/issues/1495 and the related pull requests.

In the meantime, a new version `looopback-context@3.0.

[2017-01-09 13:15] #878 closed

[2017-01-09 13:16] bajtos commented on #1423
Closing in favour of #1495.

[2017-01-09 13:16] #1423 closed

[2017-01-09 13:19] bajtos commented on #1505
I am closing this issue since there was no activity in more than a year.

Please see https://github.com/strongloop/loopback/issues/1495 for the new "official" way for propagating current context.

You can also try the new https://github.com/strongloop/loopback-context and see if it works in your app. If you do, then please report any issues to loopback-context's issue tracker.

[2017-01-09 13:19] #1505 closed

[2017-01-09 13:30] bajtos commented on #1651
Ouch, those few weeks to come back to this issue grew into a year :(

Some parts of this discussion is no longer relevant:

 - `remoting.context` is disabled in project template ([source](https://github.com/strongloop/loopback-workspace/blob/4653142725834b664ffc26ed50bc782c967d01d2/templates/projects/empty-server/data.js#L68)) now
 - `remoting.cors` is disabled too ([source](https://github.com/str

[2017-01-09 13:33] bajtos commented on #1984
Hi, loopback-context is know to loose the context in many cases. We have deprecated it in favour of explicit context passing via the "options" argument, see https://github.com/strongloop/loopback/issues/1495.

There is also an alternative approach being explored in https://github.com/strongloop/loopback-context, feel free to give it a try. If you do, then please report any issues found in loopback

[2017-01-09 13:33] #1984 closed

[2017-01-09 13:33] #2004 closed

[2017-01-09 13:33] bajtos commented on #2004
Issue moved to [strongloop/loopback-context #23](https://github.com/strongloop/loopback-context/issues/23) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-09 15:26] bajtos commented on #2164
Yes, that would be ideal!

I agree with your proposal. Unfortunately it is a breaking change IMO, thus it has to wait until the next major version :( Let's open a new issue to keep track of it: https://github.com/strongloop/loopback-datasource-juggler/issues/1217

Considering that it was our intentional decision to not return a promise from a batch create() call, I am closing this issue as rejecte

[2017-01-09 15:26] #2164 closed

[2017-01-09 15:28] bajtos commented on #2164
Let me correct that - the request for a promise-enabled bulk create is a valid one, let's discuss it in https://github.com/strongloop/loopback/issues/1275.

[2017-01-09 16:40] kjdelisle commented on #1217
Note to whomever is picking this up: Check if this is still an issue in LB 3.x first!

[2017-01-09 17:08] pierreclr opened #3081 "[BUG] Security issue when resolving $owner role"
### Bug
considering the following model definition :
[code]

If a user tries to access this ressource as a sender or as a user, it should be able to access it.

Problem : In that case, the $owner role will be resolved if the current logged in user (in the access context) has the same id that the one in userId BUT the senderId role will not be resolved which should not be the case.

No we can speak

[2017-01-09 21:22] crandmck opened #3082 "Not return id while calling this "modelId: ctx.instance.id" in my model after save method."
@vipulpatel1994 commented on [Mon Jan 09 2017](https://github.com/strongloop/loopback.io/issues/232)

Not return id while calling this "modelId: ctx.instance.id" in my model after save method. Also try "modelId: ctx.where.id" it does not work, kindly help me out.

in socket connection

[code]

---

@crandmck commented on [Mon Jan 09 2017](https://github.com/strongloop/loopback.io/issues/232#issuec

[2017-01-09 22:37] TrevorPage commented on #2789
@zsszatmari I just encountered exactly the same issue. For the sake of example imagine the objects are Reviews. Each Review is owned by your User 'subclass'. Now, what I found was that even though I had set up a simple ACL in my Review.json to permit $owner to READ their owned objects, the problem seems to be that the 'base' User has a default ACL to deny all. So, even though the owned object's AC

[2017-01-09 23:01] ataft commented on #257
+1 Basing expiration on inactivity is a must for most apps.

[2017-01-09 23:12] amr-alamir commented on #1137
@codyolsen you can also use [isemail](https://github.com/hapijs/isemail), which is used by loopback in [this line](https://github.com/strongloop/loopback/blob/master/common/models/user.js#L12) for email validation, as shown here:

`
'use strict';

var isEmail = require('isemail');

module.exports = function(user) {

    delete user.validations.email;

    user.validate('email', function (err) { if

[2017-01-10 00:36] lobabob commented on #1794
So it's been more than a year already. Any updates on where this is at?

[2017-01-10 08:49] akapaul commented on #251
I've found another way to do this. In common model **User** there is a method called **validatePassword**. If we extend our **UserModel** from **User**, we can redefine this method in JS, like following:

[code]

This works for me. I don't think that `g` (globalize) object is required here, but I added this, just in case. Also, I've also added my validator options in JSON definition of UserModel,

[2017-01-10 09:20] barocsi opened #3084 "Ambiguous CORS error after following migration guide"
[Migration guide says](https://loopback.io/doc/en/lb3/Migrating-to-3.0.html):
Edit the initial section in your server/middleware.json and add a configuration block for cors middleware:
[code]

Edit the remoting section in your server/config.json and set cors to true:
[code]
I am getting this error:
[code]

Without setting this, I do not get this error.
How can I enable CORS then?

Here is the json

[2017-01-10 09:26] barocsi opened #3085 "After updating to 3.0 Rest Errors are displayed as html instead of JSON"
Following exactly the migration guide https://loopback.io/doc/en/lb3/Migrating-to-3.0.html#update-use-of-rest-error-handler part resulted nothing but plain HTML errors and console logged errors instead of properly formatted REST error JSON.

stack:
[code]

[2017-01-10 09:41] barocsi commented on #2805
same in https://github.com/strongloop/loopback/issues/2805
no effect, not working

[2017-01-10 13:49] ritch opened #3086 "Driver Errors and Other Juggler Gripes"
From: https://github.com/mediasuitenz/tech-stack/blob/master/loopback-style-guide.md

@raymondfeng @kjdelisle I think we should look into these isssues. Particularly about not catching errors from drivers.

---

So I ran a sql injection fuzzer https://github.com/sqlmapproject/sqlmap on the search endpoint to see what I could dig up. As far as I can tell there was no successful injection - but I di

[2017-01-10 13:58] mandarzope commented on #1033
I have created [loopback-connector-dynamodb](https://github.com/mandarzope/loopback-connector-dynamodb)

Its was forked from [juggling-dynamo](https://github.com/tmpaul/jugglingdb-dynamodb) it is still in under progress.

We are using it in our production. It currently does not support String and Number sets. Support will be added in few days.
If someone wants to try it out then please try.
I am s

[2017-01-10 14:03] #2824 closed

[2017-01-10 14:27] bajtos commented on #257
Hello, the status of this feature request remains the same - it's not a priority for us right now. However, we welcome community contributions and if you decide to implement this feature, then I am happy to help you along the way. Just open a pull request and mention my handle (@bajtos).

[2017-01-10 14:54] a-legrand opened #3087 "Remote method with capitalize letter"
- [X] Bug
- [ ] Feature request

When creating a remote method name containing a capital letter, reponse time is very slow

Example :
```User.addFavourite = function(XXX, cb) { ... }```
can take up to 7s
while same code with ```addfavourite``` as method name take less than 600ms

node 6.9.2
loopback 2.36.2

Worked fine with previous loopback (can't tell exact version)

[2017-01-10 15:01] a-legrand commented on #3087
"Favourite" is the name of a model in my application...
I guess it is the problem, since ```addSomethingelse``` seems to work

[2017-01-10 15:10] bajtos commented on #1033
@mandarzope this is awesome! Would you mind adding a mention of your project to our "Community projects" section on loopback.io, see http://loopback.io/doc/en/community/How-to-add-a-project.html. Possibly to "Community connectors" section in https://loopback.io/doc/en/lb2/Community-connectors.html too.

@crandmck I think there is a bit of overlap between those two doc pages, is it perhaps worth ei

[2017-01-10 15:10] #1033 closed

[2017-01-10 18:04] crandmck commented on #3078
It looks like `example/context/app.js` was removed at some point.   https://github.com/strongloop/loopback.io/pull/227/ removes this link, so it won't be an issue any longer once that PR is merged.

[2017-01-10 18:10] crandmck opened #3088 "Extraneous refs to context files in API doc"
There are two references to context for API docs:
- https://github.com/strongloop/loopback/blob/master/docs.json#L8
- https://github.com/strongloop/loopback/blob/master/docs.json#L14

However, `server/current-context.js` was removed and `server/middleware/context.js` does not have any API doc comments, so it seems we should just remove these two links from `docs.json`.

@bajtos

[2017-01-10 20:48] redaikidoka opened #3089 "Duplicate identifier 'options' > loopback 3.1"
### Bug or feature request
- [X] Bug

### Description of feature (or steps to reproduce if bug)
In the new loopback, the findByIdAccessTokens method has 2 options: parameters

### Link to sample repo to reproduce issue (if bug)

error TS2300: Duplicate identifier 'options'.
Upon looking further, it appears that the options parameter is being duplicated in the method signature. Example of a built-i

[2017-01-10 20:56] davidcheung commented on #3085
@barocsi Loopback 3.0 is using strong-error-handler which uses [accepts](https://www.npmjs.com/package/accepts) to perform the content-negotiation,
browsers sends `Accept headers` such as `text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8` which gets resolved as `text/html`.

With that said I do agree that there seems to be a lack of customizability with the content-type (

[2017-01-10 21:06] davidcheung commented on #3059
this bug should be fixed in #3053 or in (2.x) #3072, please ping me in this thread if issue persists to reopen. Closing now.

[2017-01-10 21:06] #3059 closed

[2017-01-10 21:07] davidcheung commented on #3063
this bug should be fixed in #3053 or in (2.x) #3072, please ping me in this thread if issue persists to reopen. Closing now.

[2017-01-10 21:07] #3063 closed

[2017-01-10 21:08] davidcheung commented on #3076
@peebles im closing this issue as theres no information in the ticket, please open another issue as you see fit.

[2017-01-10 21:08] #3076 closed

[2017-01-10 21:26] gaecer commented on #3059
Tomorrow I'll check this update, thanks.

Il giorno mar 10 gen 2017 alle ore 22:07 David Cheung <
notifications@github.com> ha scritto:

--
{"name":"Gaetano Cerniglia",
"email":"cernigliagaetano@gmail.com",
"skype":"gaetano.cerniglia",
"tel":"3458161655"}

[2017-01-10 22:32] barocsi commented on #3085
This makes sense, thanks!

[2017-01-11 05:41] dancingshell commented on #3059
tl;dr... was/is this an issue for loopback 3.x.x?

[2017-01-11 07:09] #3085 closed

[2017-01-11 08:52] sorokh commented on #1739
@Isure, you have jsonapi support via https://github.com/digitalsadhu/loopback-component-jsonapi.

[2017-01-11 09:12] rizvanhaider opened #3090 "(node:6444) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: Cannot read property 'type' of undefined"
` slc loopback:relation`
**Throws Error**

[code]

[2017-01-11 10:35] vijay22sai opened #3091 "2.36.2 version breaking replaceOrCreate method on User model"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Let's say database collection is empty and when invoking User.replaceOrCreate, getting error `TypeError: Cannot read property 'email' of undefined`

the line which causes this is [here](https://github.com/strongloop/loopback/blob/v2.36.2/common/models/user.js#L844). originalUserDa

[2017-01-11 10:55] vijay22sai commented on #3091
@loay Can you please check this issue once. I could see the changes are done by you here https://github.com/strongloop/loopback/commit/d06190dae6b858e4da7b3ae91494e429f9adec66#diff-5d81af95449574544e7317f3eda2badeR680
Thanks.

[2017-01-11 10:58] IzaGz opened #3092 "customise error for ACL denying response"
now its constantly sends 401 :
[code]
issue to enable custom acl errors for specific method is required

[2017-01-11 14:15] gunjpan commented on #3090
@rizvanhaider : Hi, could you please provide the steps to reproduce?
 I tried running `slc loopback:relation` and it works as intended on my end.
Possibly, something messing up packages. I would recommend:
- first uninstall`strongloop` by `npm uninstall -g strongloop` and do `npm cache clean`.
- reinstall `strongloop` globally : `npm install -g strongloop` and try the same command one more time.

[2017-01-11 15:58] davidcheung commented on #3079
@Undrium interesting and thanks for bringing this up, it would be great help if you could try to upgrade to the latest LB with https://github.com/strongloop/loopback/commit/4de3aa77e35a0c2f01f3a8f58bc935962bc9ae16, (the implementation is different from the one offered from the gist) and see if there are any performance degradation, or a [sandbox](https://github.com/strongloop/loopback-sandbox) so

[2017-01-11 16:03] davidcheung commented on #3087
@a-legrand hmm that sounds weird, does the existence of that method slow down all other methods(possible routing issue)? or it is just the response time for that method itself?
would you be able to provide a sandbox reproducing the issue?

[2017-01-11 16:09] bajtos commented on #1495
The documentation at http://loopback.io/doc/en/lb3/Using-current-context.html was updated too (please allow few minutes for the changes to propagate to the website).

I am calling this issue finally done 🎉

[2017-01-11 16:09] #1495 closed

[2017-01-11 16:26] Saganus commented on #1495
This is great work, thanks!

One question though, any recommended path to upgrade from 2.29.1 to 2.37.0?

I mean, are there any specific warnings or issues I should be aware of? Or is it enough to just change the package.json loopback version and then installing it?

I know I have to clean up my code to stop using the previous context code, but is it as simple as removing it before the update, ins

[2017-01-11 16:31] doublemarked commented on #1651
@bajtos I agree that this has grown stale and that much of it is no longer relevant. I'm in favor of closing it out. Thanks for following up on it, regardless of the delay :)

[2017-01-11 16:31] #1651 closed

[2017-01-11 17:45] jorgerenteria opened #3093 "Error building application with generator"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Hello,

When I try to create an application with the generator it is not possible to use the arrow keys and it is not possible to select version 3.

Can you help me?

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additio

[2017-01-11 18:17] lobabob commented on #2257
I encountered `AssertionError: The query argument must be an object` when trying to use the above solution.

[2017-01-11 18:25] #2821 closed

[2017-01-11 18:41] stringbeans commented on #2748
Any updates here?

I've also noticed that the default scope will overwrite the filter passed into a model query...

Suppose we have the model definition:

[code]

with the default scope definition:

[code]

If I try to execute the query...

[code]

... The query generated (in mysql) is matching `isActive = true`. The user specified filter should ideally overwrite the default scope and not the othe

[2017-01-11 18:50] a-legrand commented on #3087
Only this method (and also "deleteFavourite", for same reason I guess) is slow.
All other methods are totally OK.
I will provide it in a sandbox asap

[2017-01-11 18:50] crandmck commented on #1033
I don't see any overlap , unless I'm misunderstanding.  "How to add a project" gives instructions on how to add a project to the [LoopBack community](http://loopback.io/doc/en/community/index.html) section in the docs, while "Community connectors" is just a list of some of the data source connectors developed by the LB community.

But adding a link from "Community projects" to "Community connector

[2017-01-11 19:02] crandmck commented on #1033
Added by https://github.com/strongloop/loopback.io/commit/1115f425c0f8af9d78173f4552050773a722af7c

[2017-01-11 19:10] stringbeans opened #3094 "PersistedModel.destroyAll has very dangerous behaviour if the filter is not passed in correctly."
- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
The .destroyAll method is very dangerous if the filter you pass into it is incorrect. For example...

[code]

Will actually destroy ALL User records because the filter passed into the function is incorrect. This seems like very dangerous behaviour and our developers have been hurt by this multiple times.

(f

[2017-01-11 19:22] raymondfeng commented on #3094
Maybe some validation can be done to see if the caller accidentally pass in `filter` instead of `where` directly. Most DBs will delete all records if no criteria is provided. We need to have a way to delete all records too.

[2017-01-11 20:54] stringbeans commented on #3094
@raymondfeng i would think there would be different behaviour between `PersistedModel.destroyAll()` vs `PersistedModel.destroyAll({})`

in the case where there's ever an object passed in you destroy all records that match that object filter. otherwise if there's an undefined object then you destroy all records

[2017-01-12 04:49] narender56 opened #3095 "nativescript-loading-indicator is not working in ios."
Hi everyone,

I'm using nativescript-loading-indicator plugin for loader,it's working fine for android but in ios is not. It's looking some value for "mode". Can anyone please tell me what value will there for this "mode" in ios?

ios: {
    details: "Additional detail note!",
    square: false,
    margin: 10,
    dimBackground: true,
    color: "#4B9ED6",
    mode: // see iOS specific options be

[2017-01-12 09:10] bajtos commented on #2397
I am afraid Node.js does not provide any robust solution for continuation-local-storage at this moment, therefore we cannot provide a reliable `getCurrentContext` functionality :( See https://github.com/strongloop/loopback-context#warning and https://github.com/strongloop/loopback-context#known-issues for more details.

Promises are one of the known cases that don't work. However, IIRC there are w

[2017-01-12 09:10] #2397 closed

[2017-01-12 09:36] bajtos commented on #1495
@Saganus Yes, upgrading should be as easy as you described:

 1. Update LoopBack version
 2. Set `injectOptionsFromRemoteContext` in your model JSON files
 3. Rework your methods to use the new context propagation API

However, there may be community-maintained modules that may have issues with the new computed "options" argument, see e.g. https://github.com/mean-expert-official/loopback-sdk-build

[2017-01-12 09:47] rizvanhaider commented on #3090
@gunjpan : thanks for your response, I had tried same on my two local machines and also on VPS running ubuntu 16.04, all are generating the same error.

[2017-01-12 11:26] bajtos commented on #1033
@crandmck thank you for adding the link, should we perhaps add it to the sidebar too?

Sorry for not being clear in my comment. What I meant is that the sidebar on http://loopback.io/doc/en/community/index.html lists a single community-maintained connector "Elasticsearch connector", which seems a bit random to me. What is the criteria used to decide which community connectors should be listed in t

[2017-01-12 11:50] bajtos commented on #3088
Good catch @crandmck! I agree with you, both lines should be removed in the `master` branch. I think we should preserve them in `2.x`?

[2017-01-12 16:50] cfjedimaster opened #3096 "Exported Swagger file does not include host token"
### Bug/Feature request

Export Swagger via slc loopback:export-api-def.

### Expected result

The generated swagger should contain a ${host} token. It does not.

[2017-01-12 20:10] ataft commented on #569
@jankcat Thanks, this example worked perfectly! Exactly what I was looking for after reading too many pages of back and forth on the issue. I couldn't figure this out from the current 3.0 documentation, so I created a pull request to add your example to the documentation.

[2017-01-12 22:23] crandmck commented on #3088
Agree.  Just remove them in master (and thus future 3.x releases).  I'll open a PR.

[2017-01-12 23:04] ataft commented on #2091
Double Wow, I just ran into this issue as well. Doing a trace on the database, I realized that "include" is not doing any type of join, but rather executing a separate query for each model/table. At first, I was worried it was looping through the initial result set and executing a query for each row to get the include data. However, it appears that it executes the main query, then one query for ea

[2017-01-12 23:22] k1ng440 commented on #3095
this is loopback.

[2017-01-12 23:53] crandmck commented on #1794
I'll try to sort it out.

[2017-01-12 23:59] lobabob commented on #517
+1

[2017-01-13 00:10] crandmck commented on #1033
Oh, I see.

Yes, you are correct that the [community projects](http://loopback.io/doc/en/community/index.html) listed are fairly random.  When I created the site, I just picked a few prominent ones. Frankly, I don't recall the rationale for adding the Elasticsearch connector.

In general, the idea of this part of the site is to provide a place for open-source projects to promote themselves, so it'

[2017-01-13 00:49] #1644 closed

[2017-01-13 01:35] narender56 commented on #3095
Oops .... sorry

[2017-01-13 01:35] #3095 closed

[2017-01-13 08:46] bajtos commented on #3096
This is intentional behaviour.

Swagger spec explicitly allows hostname/port to be undefined, in which case the client should make the request to the same hostname/port where the swagger spec was fetched from. See https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields

Users wishing to set Swagger `host` to a certain value can set `swagger.host` in `server/config.jso

[2017-01-13 08:46] #3096 closed

[2017-01-13 12:11] bajtos commented on #1033
On the second though, I think the current status is good enough, let's focus our energy on improving other things.

[2017-01-13 12:18] fubz opened #3099 "Limit of 100 being applied to all models"
I have a very basic model:

[code]

When I query the model at the base endpoint  ( GET /api/fileList ), the API is only returning 100 records.  I've noticed this in all of my models.  With no scopes, no filters, no limits specified within my custom code there is still a limit of 100 being returned.  I cannot figure out where this limit is being applied.

my package.json dependencies

[code]

pleas

[2017-01-13 12:46] cfjedimaster commented on #3096
Ok, but why (and I didn't test this, I was just told this) does APIC output ${host}?

[2017-01-13 13:26] bajtos commented on #569
@ataft thank you for the pull request to improve our documentation!

As I commented there, while the example shown in this issue is a valid one, it is also using a different approach than we implemented for context propagation.

Here is a better example:

[code]

[2017-01-13 14:28] bajtos commented on #3096
My guess is that since APIC manages the whole lifecycle of an API server, it knows the host where the app is being deployed and therefore it can provide that value in Swagger.

In vanilla LoopBack, where apps are run via `node .` (or preferably a process-manager like `strong-pm` or `pm2`), possibly behind a load-balancer like `nginx`, or even another gateway, it's difficult for the application to

[2017-01-13 15:03] SkyStalker commented on #517
+1 (MySQL)

[2017-01-13 15:04] cfjedimaster commented on #3096
Your comments make sense. Unfortunately I've got nothing for your question though. :)

[2017-01-13 16:26] fubz commented on #3099
I set debug using DEBUG=loopback:connector:*
This showed me that my oracle connector has a property:  "maxRows": 100

in my server/datasources.json, I set the maxRows property to 1000; however, my unfiltered api calls are still  only returning 100 rows.

[2017-01-13 16:48] just4give opened #3100 "node-schedule in lookback cluster"
I have similar problem as described [here ](https://github.com/strongloop/loopback/issues/974).
I am using node-schedule to run some task every week/month.
Now when I run loopback in cluster, it creates workers , master does not run any task. To avoid same code being run by all workers, I am checking workder.id.  But problem is , when I restart cluster , it creates different worker ids. Not always

[2017-01-13 17:16] joeybenenati commented on #2483
any movement on this?

[2017-01-13 18:10] jbakerdev commented on #517
+1 (postgre) This is really important to have

[2017-01-13 18:17] crandmck commented on #3088
Fixed by #3907

[2017-01-13 18:17] #3088 closed

[2017-01-13 19:56] kjdelisle commented on #2847
Sorry about the issue reopening, it was a side-effect of our ZenHub tooling and some experimentation with workflow. Unfortunately, the amount of work required to backport the fix from 3.x to 2.x is extreme. I do agree in principle that it should be fixed, and I sympathize, but we won't be backporting this fix.

[2017-01-13 19:56] #2847 closed

[2017-01-13 22:53] JaredCowan commented on #517
+1

[2017-01-14 04:41] schempy commented on #3029
In the project loopback-datasource-juggler this line, https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/datasource.js#L524,  is causing ```forceId``` to be ignored:

The ```id``` property would need to have ```generated: true``` in the config for ```forceId``` to work properly.
[code]
This line, https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model

[2017-01-14 19:27] jamesjjk opened #3101 "Loopback 2.37.0 Unreliable concurrent create queries"
### Bug/Feature request

- [x] Bug

I have noticed a bug in our unit tests after updating loopback to version 2.37.0 from 2.36.0. The tests in question use a mongodb persistance layer. On concurrent create / read queries (in particular the token model - which has a custom ID fields) loopback is intermittently not creating the document, whilst acknowledging through the callback.

- This is a standa

[2017-01-14 21:52] mradzinski commented on #517
+1 (postgres)

[2017-01-15 07:53] totalard commented on #517
+1 Mysql

[2017-01-15 18:26] jcolemorrison commented on #1460
+1

[2017-01-16 07:59] jmimi opened #3102 "Count on `RoleMapping` results 0 always"
### Bug or Not!
When I count on `RoleMapping` the result is zero. Because `principalId` is string but mongodb connector considered it's to be an object-id.
So I have to change `RoleMapping` settings as adding to that.

I couldn't find anything in documentation for `strictObjectIDCoercion`, I find that in source code at : [here](https://github.com/strongloop/loopback-connector-mongodb/blob/eff65e05

[2017-01-16 10:01] bajtos commented on #517
Please, stop posting +1 comments which are only spamming all people subscribed to this thread. Instead, click on the big yellow "thumbs up" button at the top of this issue to upvote it.

[2017-01-16 10:37] pierreclr opened #3104 "[SUGGESTION] Not throwing 404 - `EMAIL_NOT_FOUND` error on passwordResetRequest"
Hi, I was thinking about how to handle the best way any password reset request.

IMO, we shouldn't throw a 404 by default in case of email not found. Indeed we can imagine that someone trying to discover which is a user of your (loopback) platform could try (in a bruteforce way) that kind of combination (from first / last names dictionary combined with the most famous email providers) `{firstName}

[2017-01-16 10:39] pierreclr commented on #3081
I understand that's not a real security problem but I insist because of the functional aspect !

Indeed in the first case I describe : only the owner role on userId will be resolved :/

[2017-01-16 11:41] Undrium commented on #3079
It seems fine since it does not go through every available model-function injecting the context but lets you do it manually. What should be tested is when this is done to a larger amount of model functions or measure the difference on a single function getting it assigned. This occured to us when we started using the nestRemoting() so should probably be a model which is indirectly related as a chi

[2017-01-16 12:55] pierreclr opened #3105 "[BUG ?] Passing tests in french"
Hi there, I'm trying to pass the loopback tests in order to make my PR properly.

Some of them are not passing because it `expect 'erreur inconnue' to be equal 'unknown error'` for example. Indeed, error class expectations are base on regex (and not 'instance of') which is problematic regarding to the automatic translation ..

Maybe the best way would be to set automatically the lang to `en` in th

[2017-01-16 15:46] pierreclr commented on #3102
It's related to v1.18 connector mongodb and maybe the `strictObjectIDCoercion` settings not present on roleMapping.json. You should see this issue https://github.com/strongloop/loopback-connector-mongodb/issues/327

[2017-01-16 16:29] jmimi commented on #3102
@pierreclr Thanks for reply.
I test with mongodb connector version `3.0.0` too and still the problem exists.
I override the `RoleMapping` settings and added `strictObjectIDCoercion`.
And I close this issue regarding to your open issue

[2017-01-16 16:29] #3102 closed

[2017-01-16 16:36] jmereaux commented on #3084
+1

[2017-01-16 17:47] pierreclr commented on #3092
hi @IzaGz, you can easily catch your errors at an higher level for example with `MyModel.afterRemoteError()` and define the comportment you need.

I did it to handle the (403 forbidden) when a user try to access a ressource without the rights to do so instead of (401 Authorization Required) in loopback by default

[2017-01-16 17:49] pierreclr commented on #3093
Using APIC you can't generate LB3 app. Use the latest version of slc instead

[2017-01-16 19:31] imravichaudhary commented on #1316
+1

[2017-01-16 19:56] crandmck opened #3108 "404 error when querying mongo database with where clause on integer (32 or 64)"
@Jonibigoud commented on [Sat Jan 14 2017](https://github.com/strongloop/loopback.io/issues/244)

## Nature of the issue

request API with where clause

Loopback version:
    "loopback": "^3.0.0",
    "loopback-boot": "^2.6.5",
    "loopback-component-explorer": "^4.0.0",
    "loopback-connector-mongodb": "^1.17.0",

## Expected behavior

Get an object from a query with "where" clause on integer 3

[2017-01-16 20:59] loay commented on #3105
Hi @pierreclr
Can you send a pr with the updated proper error message in French so the test passes?
Also, I am not sure if I understand the scenario of the error message. You just switched the language to French and you got one failed test? Can you please give a little bit more details? Thanks.

[2017-01-16 21:03] pierreclr commented on #3105
No :  A lot of test do not pass because of the translation system.

However for my PR's needs I delete the translation file in `intl/fr/message.json` and then put the english one for replacing. Then I launch the tests and having only one (the one you can see on the screenshot) which is failing.

[2017-01-17 10:05] narender56 opened #3110 "How to add vibrate animation to the text field?"
Hi all,

I have a query ,when user remains some field empty in a form, i have to vibrate that filed. do we have these feature in  nativescript ? Thanks in advance.

[2017-01-17 12:34] sotream commented on #2500
@stephenwil I'll try to configure cors. Can you share your solution, please.

[2017-01-17 14:46] bajtos opened #3111 "AccessToken invalidation"
This is an Epic to capture all stories for implementing AccessToken invalidation on email/password change.

[2017-01-17 15:24] bajtos opened #3112 "Documentation for AccessToken invalidation"
Update our documentation to describe all recent changes (and the new config options) related to access token invalidation

[2017-01-17 15:24] bajtos opened #3113 "Blog post: AccessToken invalidation"
Write a blog post to announce the recent changes and explain the reasoning behind them.

[2017-01-17 17:01] serpentinefire commented on #1856
I found that the limit value is picked up from server.js

[2017-01-17 18:30] FelipeAguayo opened #3114 "Problem with defaultFn 'now' in Model"
### Bug/Feature request

I installed loopback v3.2.1 with strongloop (A LoopBack API server with local User auth) and performed some tests. When creating elements with 'create' and using 'defaultFn:' now "'as the default value in the model's property:
[code]

I found these results in the response json (see created and modified property).

![image](https://cloud.githubusercontent.com/assets/9990531

[2017-01-18 01:12] Hellenic commented on #3017
Hey!
I ran into this same 'issue' and wanted to give my thoughts for it. I understand the parsing of the query is done with qs library and that there's no safe way to convert string to booleans, at least not without the context. However, it anyway seems to partly work with Loopback already.

I have the following:
[code]

So I guess there even is some kind of conversion in Loopback already or does

[2017-01-18 02:07] rendy14s opened #3115 "TypeError: Cannot read property 'create' of undefined"
Can anyone help me ?

i have got a problem,

Error on server :
TypeError: Cannot read property 'create' of undefined

File .js server :
'use strict';

let app = require('../../server/server');

module.exports = function (Tsmeeting) {

    Tsmeeting.remoteMethod('meeting', {
        accepts: { arg: 'employee', type: 'Object', required: true },
        http: { path: '/meeting', verb: 'post' },

[2017-01-18 08:01] bajtos opened #3116 "Example app propagating transaction ids via context"
Write an example app showing a reference implementation of the following use case:

cc @raymondfeng @ritch

[2017-01-18 08:58] jwebcat commented on #917
This would be fantastic +1

[2017-01-18 09:10] oneoutone opened #3117 "CPU usage high"
Hi guys,  I update my loopback-connector-mongodb to v1.18.0 with mongodb 2.2.20, and connect to mongodb ReplicaSet with url "mongodb://userame:password6@host1,host2:port/database?replicaSet=setid", then  strong-pm's CPU usage keep increasing, I tried restart the server, but cpu usage reach 100% in serval hours every time, any idea about it?

[2017-01-18 10:28] mull commented on #683
For those of us arriving to this issue late, where is the appropriate place to follow progress on this feature? It looks to me like it is indeed planned.

[2017-01-18 11:35] JoeShi opened #3118 "High CPU if using MongoDB ReplicaSet"
My strong-pm instance reach 100% usage in an hour while using MongoDB ReplicaSet.

If not connecting to MongoDB without ReplicaSet, every thing is fine.

My databases.producton.json is

[code]

[2017-01-18 16:29] GalanB commented on #3084
Looks like a documentation error. Though the migration guide says to set 'cors' to true, it shows setting it to false. And this page says if 'cors' is false then use the settings in middleware.json: https://loopback.io/doc/en/lb3/config.json.html#overview

[2017-01-18 19:07] jmwohl commented on #569
I'm probably misunderstanding something here, as I'm pretty new to Loopback. But do the examples above imply that _every_ model method that needs access to the authenticated user must implement this explicitly? This seems like a lot of overhead for an extremely common situation. Is there any way to just make the authenticated user, if it exists, available in ALL remote methods?

[2017-01-19 01:59] jcolemorrison commented on #418
Just curious, how relevant is this thread to Loopback 3.0?  Does it still only have promises available in some areas?  I remember seeing something in the loopback 3 announcement (https://strongloop.com/strongblog/coming-soon-loopback-3-0/) that bluebird would be a part of everything.

[2017-01-19 05:09] #3110 closed

[2017-01-19 07:38] narender56 opened #3119 "How to eliminate the duplicate objects when we get collections?"
Hi all,

 I have a collections like the following.

[{
  "id": 1,
  "name": "Peter",
  "email": "pryan0@tamu.edu",
  "gender": "Male"
}, {
  "id": 2,
  "name": "Peter",
  "email": "clee1@nhs.uk",
  "gender": "Male"
}, {
  "id": 3,
  "name": "Peter",
  "email": "ebutler2@epa.gov",
  "gender": "Male"
}],

So here name  field is duplicated,when i get this collection i want to get only one object base

[2017-01-19 09:36] bajtos commented on #418
@jcolemorrison

When a LoopBack 3.x method returns a promise, then it's a promise created by Bluebird.

Yes, we haven't enough bandwidth to promisify all APIs. See the checklist in the issue description at the top for a list of places that need to be promisified yet.

Contributions are welcome!

[2017-01-19 10:19] PaddyMann commented on #418
Promisifying custom validators in loopback-datasource-juggler is missing from the checklist.

I've submitted a PR here: https://github.com/strongloop/loopback-datasource-juggler/pull/1229

Hoping to get your input @bajtos on what's needed on the testing front.

[2017-01-19 11:24] bajtos commented on #418
Added to the checklist. Thank you for the pull request too!

[2017-01-19 12:03] GuillaumeSarfati commented on #1666
hello ! :) is this achieved?

[2017-01-19 12:50] bajtos commented on #569
Yes, that's correct - see http://loopback.io/doc/en/lb3/Using-current-context.html

We tried to use continuation-local-storage as a Node.js replacement for ThreadLocalStorage, unfortunately it turned out there is no reliable implementation of CLS available in Node.js land :(

The solution based on "options" argument is the only robust and reliable approach we have found. However, if you can find a

[2017-01-19 16:22] jmwohl commented on #569
@bajtos Ok, thanks.

I haven't looked under the hood, so not sure how complicated it would be to implement, but one thought would be to offer a setting at the model level that populates the options from request automatically for all methods. It just seems like such a common need — I can't remember ever working on an app where I _didn't_ need access to the user in the controllers (remote methods, i

[2017-01-19 21:00] felipetoffolo1 opened #3121 "Rolemapping only accept principalId where with like"
### Bug/Feature request

After i upgraded Loopback to version 3, This filter o rolemapping returns nothing
`{"where":{"principalId":"5880038427758463a1ae5a3b"}}`
i changed my filter to this
`{"where":{"principalId":{ "like": "5880038427758463a1ae5a3b"}}}`
and it worked. But is it a bug? Or it changed onn the new version? (i did not find anything about it in migration docs)

### Expected result
Exp

[2017-01-19 22:37] Casy opened #3122 "Customize the result of changeStream"
i did a [post in SO](http://stackoverflow.com/questions/41304697/how-can-i-edit-the-result-of-changestream-in-loopback) but nobody answer me :(

The question is pretty simple, how can i change the default changeStream response? i want to search the id of the update and return the entire object, no just the modification and his id

[2017-01-20 01:25] JonnyBGod commented on #2071
Any update on this. It seems like I am experience this bug.

Nothin works when trying to update a ```b``` in ```a embedsMany b```. Tried all possible methods, ```set```, ```updateById```, ```updateAttribute```, ```updateAttributes```, ```updateAll```.

The methods are not triggered, just hangs in there...

[2017-01-20 01:29] JonnyBGod commented on #2071
Test case: https://github.com/JonnyBGod/loopback-multi-emails-and-phones-mixin/tree/setPrimary
just ```npm i && npm test```

[2017-01-20 01:31] JonnyBGod commented on #2071
Relevant starting point https://github.com/JonnyBGod/loopback-multi-emails-and-phones-mixin/blob/setPrimary/multi-emails-and-phones.js#L620-L667

[2017-01-20 06:57] alFReD-NSH commented on #3121
Try converting `"5880038427758463a1ae5a3b"` to object id.

[2017-01-20 10:23] icy90 opened #3124 "Calling User.save() removes all current access tokens even not change user email or password."
#3021
in common/models/user.js:
[code]

`ctx.instance` always true when you do `User.save()`

[2017-01-20 10:33] itinance opened #3125 "Include-filter via REST-API-url doesn't work as documented and returns always empty arrays"
### Bug (apparently)

This issue describes either a lag of documentation or indeed a bug.

Given is a model "_team_" and a model "_members_". The Model _team_ has a "**hasMany**"-relation to "_members_" and "_members_" has a "**belongsTo**"-relation to "_team_".

Querying members of a team via URL can happen as follows:
`/api/teams/58810bbae544c60100fef14d/members`

Following the documentation for

[2017-01-20 11:03] timlind commented on #3068
Is documentation update included in the above tasks? It's the first place I went to look when it broke.

[2017-01-20 12:01] sinedied commented on #608
Is there any news regarding the the `normalizeHttpPaths` options?
I just download the latest strongloop tools and created the "notes" example project with Loopback 3.0.0, and this options is there in `config.json`.

I changed the `normalizeHttpPaths` to `true`:
[code]
But it has absolutely no effect on the `PersistedModel` methods, nor the model name so it is basically useless and does not what th

[2017-01-20 12:24] bajtos commented on #3068
Good point! What page would you recommend to change? Would you mind contributing this change yourself? In my experience, documentation contributed by users tends to be the best one, because users know best what and where they were looking for in the docs.

[2017-01-20 13:03] taoyuan commented on #3125
team_member.json:
[code]

[2017-01-20 13:40] itinance commented on #3125
Thx for your quick answer. Unfortunately this will reduce the result set once more. Changing the foreignKey to "teamId" will do something else but not assign this member to the specific team.

Both URLs will response then empty results:

`/api/teams/{id}/members`
-> empty
`/api/teams/{id}?filter[include]=members`
-> team-entity with empty array for "members"

[2017-01-20 14:08] saikumara commented on #3030
@jannyHou Did you get any solution for this issue, I am struggling for this.

[2017-01-20 14:56] bajtos commented on #3068
Actually, let's keep the documentation as part of the follow-up story https://github.com/strongloop/loopback/issues/3112

[2017-01-20 18:04] 4d5452 commented on #3114
role.json does not declare a "date" type within the "created/modified" properties.

That is:
`
"created":{ "defaultFn": "now"}
`
_When it should be_
`
"created":{ "type": "date", "defaultFn": "now" }
`

**To Fix**:  Extend (or replace) the built in Role model by creating your own role.json file within the common/models directory.  Hope this helps.

[2017-01-20 19:10] deviant32 commented on #1460
+1

[2017-01-20 21:23] gunjpan commented on #3090
@rizvanhaider : it's happening because you've this file [model-config.json](https://github.com/rizvanhaider/node-shop/blob/master/common/models/model-config.json), which is wrong place for it. It confuses `slc-relation` as it can't decide which one is correct: that one or the one in `server` dir (the correct one).
Delete this file and it should resolve it. Deleting worked for me.

Closing this now

[2017-01-20 21:23] #3090 closed

[2017-01-21 00:04] mrjrdnthms commented on #2223
I ran into this. Looks like its fixed in loopback 3.x but not in 2.x.
[https://github.com/jouke/loopback/blob/2.x-latest/lib/persisted-model.js#L693](https://github.com/jouke/loopback/blob/2.x-latest/lib/persisted-model.js#L693)

Since is not sent to server since both arguments use body as source => remoteChanges does explicitly, since has no source defined so defaults to body. Please update 2.x w

[2017-01-21 00:15] JonnyBGod commented on #2071
Found the problem. Not a bug at least in my use case.

The problem was a bug in my embedded model ```before save``` observer where ```next()``` was not being triggered.

[2017-01-21 13:09] pierreclr commented on #3125
@itinance Your models are misconfigured ... it should be something like `team_member` `hasOne` team on `teamId` and `team` `hasMany` members on `teamId`.

[2017-01-21 13:20] pierreclr commented on #3119
Hey @narender56 this is not an issue but a question. Could you please close it ? The answer of your question is :
[code]

[2017-01-21 17:22] itinance commented on #3125
Thx @pierreclr But this will add a separate field to the "**team**"-model instead of using it's primary key "id". Any more ideas?

[2017-01-21 17:27] pierreclr commented on #3125
@itinance of course not ! The `hasMany` relation property is handle by the destination model (here `team_member`.

[2017-01-22 05:39] yvoronen opened #3127 "[BUG] Model with two `embedsMany` relations does not function properly"
### Bug

A model with two `embedsMany` relations, for example a customer with many addresses and many emails, does not work properly. You can't add an address and then an email. Simple steps to reproduce below.

[code]
Edit `common/models/customer.json` and change   `emails` relation to be of `"type": "embedsMany"`.

Now start the app and customer model is not really functional. Cannot add even a

[2017-01-22 05:49] yvoronen commented on #3127
I found a workaround that allows me to proceed: setting `validate: false` for `embedsMany` relations makes it work again.

[2017-01-22 11:54] dzhytomyrsky opened #3128 "How to define the instance to persistedModel.updateAttributes(data, callback) method"
Please help me to understand, how to define the instance for persistedModel.updateAttributes(data, callback). I want to write PUT method endpoint to update a model instance, but it is not common for me, how persistedModel.updateAttributes(data, callback) gets the required instance.

[2017-01-23 01:10] ericmorentin commented on #3027
Greetings. I am a college of @kobaska. Am starting work on adding options to rectify methods this week.

[2017-01-23 04:50] hhhe2000 commented on #559
@bonemx In your case,  I think it maybe a bug in loopback-connector-mongodb. If you use version 1.17.0, ACL will be OK.

[2017-01-23 10:03] ExTheSea opened #3130 "Model relation call fails when id is 0"
### Bug/Feature request

When creating a relation (tested with hasMany and belongsTo relations) between two models it will crash the application if you try to get the related items from a model with id = 0. These are possible due to them coming from a database where ids can be 0.

### Expected result
Imagine i have a modelA with a hasMany relation to modelB called "child". When i try to use the re

[2017-01-23 10:35] bajtos commented on #3027
@ericmorentin Great, I'm looking forward to your contribution(s)!

[2017-01-23 10:53] ExTheSea commented on #3130
I made a small test modifying the model.js file to do a check like
`if(id!=null)`
instead of
`if(id)`
which won't cause problems when trying to get child items of models with id = 0

[2017-01-23 15:42] bajtos commented on #608
@sinedied I did a bit of research and found the following:

You can enable `normalizeHttpPaths` at model level, for example by adding the following lines to your model JSON file:

[code]

2) AFAICT, there is no code in loopback and strong-remoting that would allow app-wide configuration of `normalizeHttpPath`. Our project template in loopback-workspace is wrong :( Would you mind to submit a pull r

[2017-01-23 16:01] ExTheSea commented on #3130
After a little bit of looking around this only seems to be an issue for me as i'm using an oracle table that allows PK columns to be 0. Other databases like MySQL won't even allow that.
I still feel though as this is a bug in the models.js file and could be easily fixed be making a more specific null-check or am i missing something?

[2017-01-23 18:27] crandmck commented on #3026
Updated in loopback.io docs.  Need to update API docs also.

[2017-01-23 18:32] davidcheung commented on #2346
@AndreMaz I'm afraid i dont have a ETA on this feature, I will unassign myself for now as I won't have the bandwidth to work on this issue. If anyone can open a PR and give it a try would be great

#### possible things to be worked on
- [ ] need to rewrite https://github.com/strongloop/loopback/blob/4c9c6236e3ea04875034a8d7fea0e09529d1beed/lib/model.js#L898-L971
  - handle multiple nested `__findb

[2017-01-23 20:01] rawrmaan commented on #1003
This should be a bigger priority. ACL.find contributes to a significant percentage of each requests's latency in my app

[2017-01-23 20:14] jamesjara commented on #559
I'm trying to figure out,I'm having the same issue, as  @hhhe2000 I'musing md connector, but I have changed all to memory , and still getting same error.

[2017-01-23 21:11] davidcheung commented on #2374
related https://github.com/strongloop/loopback/issues/3130

[2017-01-24 01:41] josephlaw commented on #3111
Hi, got "Invalid Access Token after upgrade from 2.37.1 to 2.38.0, no idea what happen.

`error{"data":{"error":{"message":"Invalid Access Token","stack":"Error: Invalid Access Token\n    at /Users/xxxx/tmp/server/node_modules/loopback/common/models/access-token.js:117:23\n    at /Users/xxxx/tmp/server/node_modules/loopback/common/models/access-token.js:170:11\n    at Object.forward (/usr/local/li

[2017-01-24 01:56] josephlaw commented on #3111
Add `"logoutSessionsOnSensitiveChanges" : true` into server/config.json to fix "Invalid Access Token" after upgrade from 2.37.1 to 2.38.0. Thanks your attention.

[2017-01-24 08:36] sinedied commented on #608
@bajtos Yes, I noticed the only place this flag works was at the module level, but even though it only affect user-added remoting methods, but not methods inherited from PersistedModel.

The doc is actually misleading on this option, but it would really be useful to have this option works as described, application-wide to enforce consistency on REST endpoints.

As a side note, I find it very ugly

[2017-01-24 09:22] bajtos commented on #3112
We should update the documentation ASAP, we have already had a customer asking about the warning printed by recent LoopBack 2.x versions.

Below is my response, some of the information can be reused in the docs.

Some time ago, we have fixed a security vulnerability in LoopBack. The fix was viewed as backwards-incompatible by some LoopBack users, therefore we introduced a feature flag to enable/di

[2017-01-24 09:23] bajtos commented on #3071
On the second thought, this is a great "first commit" task for people wanting to start contributing to LoopBack. I have added `patch-welcome` label and removed `P1`.

[2017-01-24 13:42] bajtos commented on #3111
@josephlaw hi, thank you for the feedback. Could you please open a new issue and include full steps for reproducing the issue, ideally per our [bug-reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)? Also if you could mention my GitHub handle (`@bajtos`) in the issue description, so that I get email notification.

[2017-01-24 13:42] pierreandreline commented on #3130
I had the same issue (relations items from model id = 0). But I had to modify include.js file
_if (targetId)_ ==> _if (targetId !== null)_ in the _includeOneToOne_ method to make it work. No change in _models.js_.
There were too heavy consequences of changing zero id in the model. My database is MySql. Don't know if i did well.

[2017-01-24 14:14] chris-held commented on #1077
Is there a way to execute code _after_ the default find executes? I'm running into the same issue with the following code:

[code]

[2017-01-24 14:25] bajtos commented on #1003
@rawrmaan thank you for chiming in. Would you mind contributing this improvement yourself? I am happy to help you along the way.

[2017-01-24 15:25] javierblancosp commented on #531
@dancingshell you aren't taking in account a try of insertion of a new attribute. Please considere this  modification :)

[code]

[2017-01-24 17:21] rawrmaan commented on #1003
@bajtos Thanks for the offer. Normally I would accept but I realized I'm unfortunately going to have to ditch Loopback entirely due to the unstable nature of `loopback-context`. :(

[2017-01-24 18:38] bajtos commented on #1003
Well, loopback-context is unstable because there is no reliable implementation of a thread-local-storage for Node.js. We have a more reliable alternative available now, see http://loopback.io/doc/en/lb3/Using-current-context.html

[2017-01-24 19:50] loay commented on #3130
Hi @ExTheSea
Thanks for reporting the issue. It is already been detected and on our list of issues To Be Fixed.
Please follow up with these 2 issues:
https://github.com/strongloop/loopback/issues/2374
https://github.com/strongloop/loopback/issues/2356

Thanks.

[2017-01-24 20:07] #3130 closed

[2017-01-24 20:14] loay commented on #3118
Hi, there is an issue opened already about the same thing:
https://github.com/strongloop/loopback/issues/3117
Let's focus on one issue so we can avoid distraction. Thanks.

[2017-01-24 20:14] #3118 closed

[2017-01-24 20:24] loay commented on #3091
Hi @vijay22sai
Thanks, I will have a look.

[2017-01-24 21:30] loay commented on #3105
Hi @pierreclr
In order to set your language to English, you have 2 options as indicated here:
https://github.com/strongloop/strong-globalize#demo

I will switch my system to French, then test and then let me know.
Thanks.

[2017-01-24 21:39] crandmck opened #3133 "Wrong ACL Name for deleting a record"
@jbrownssf commented on [Tue Jan 17 2017](https://github.com/strongloop/loopback.io/issues/252)

## URL of the page
https://loopback.io/doc/en/lb2/Controlling-data-access.html

## Nature of the issue
The ACL terms for how to define roles is inaccurate. The role for removing a record by ID is defined on the page as "destroyById" (which did not work). The one that does work for me is "deleteById".

[2017-01-24 21:41] loay commented on #3119
Hi @narender56
You can also use `PersistedModel.findOne([filter], callback)`
Same as find, but limited to one result; Returns object, not collection.

In the filer, use ``` {where:{'name':'Peter'}} ``` and that should do the trick.

Please let me know if you have any further questions.

[2017-01-24 21:41] #3119 closed

[2017-01-24 21:45] loay commented on #533
@ritch @bajtos
Is this issue still valid or shall we close the issue?
Thanks.

[2017-01-24 21:48] crandmck commented on #3084
Thanks for reporting.  Fixed by ab6a381d5c781ea117f3f22e6bd5a098835df36b.

[2017-01-24 21:48] #3084 closed

[2017-01-24 21:48] #682 closed

[2017-01-24 22:00] codeyad opened #3134 "updateattribute bug"
Hi, i created a loopback proyect with the lates version and connected my models to a mysql database, the problem is that when i try to update one of those models it updates all properties (to null) if i dont include them, so if i just whant to update ```name``` it update the whole model with empty data.

[2017-01-25 03:02] yshing commented on #3134
In 3.0 the PUT method is Replace, need to use PATCH method for updating single attributes using REST routes.

[2017-01-25 08:56] bajtos commented on #3034
Done.

[2017-01-25 08:56] #3034 closed

[2017-01-25 08:57] #3068 closed

[2017-01-25 10:08] bajtos commented on #533
Since the issue was opened more than two years ago and there was very little discussion since then, I am closing it. @ritch feel free to reopen if you think this is still valid.

[2017-01-25 10:08] #533 closed

[2017-01-25 11:20] michaelfreund commented on #3112
@bajtos Thank you for opening this ticket.

It's unclear what `injectOptionsFromRemoteContext` is exactly doing.

Because of the whole context stuff issue I have setup a test environment trying to get rid off loopback-context and use the option approach.

From your docs

It doesn't matter if I set `injectOptionsFromRemoteContext` to `true` or `false` in `model.json` config. I have to add `optionsF

[2017-01-25 13:39] bajtos commented on #3112
It adds an `options` argument with `optionsFromRequest` to the built-in methods provided by `PersistedModel`, e.g. `PersistedModel.create()`.

Yes, you have to describe the `options` argument of your custom methods explicitly, it is an intentional part of the design.

I see your point, in hindsight the name `injectOptionsFromRemoteContext` truly does not convey enough information about the intent.

[2017-01-25 13:48] codeyad commented on #3134
Oh thanks @yshing i didnt see the Notes of the lates version, they changes the updateAttributes in PUT by replaceById.

[2017-01-25 15:32] jdhrivas commented on #531
@superkhau based on the roadmap, when can we expect this feature on LB3?

[2017-01-25 15:32] bajtos commented on #608
@sinedied I don't remember all the details about this flag. Could you please create a small app reproducing the issue you are facing per our [bug reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report) and open a new issue to discuss what's missing in the current implementation of `normalizeHttpPath`? Please mention my GitHub handle (`@bajtos`) in the issue desc

[2017-01-25 18:50] jamesjara commented on #2210
For my case I'm getting "ctx.args.data.setAttribute('clientId', userId);  .. is not defined" , but accessing to the object directly is working, but I'm wondering if this can create a bad side effect.

`	model.beforeRemote('**', function(ctx, modelInstance, next) {
		if (ctx.req.accessToken) {
			var userId = ctx.req.accessToken.userId;
			ctx.args.data.clientId = userId;  //this is working

[2017-01-25 20:57] joostdebruijn commented on #2856
I have the same behaviour with LoopBack v3.2.1. I can make an example to reproduce the bug, if needed?

[2017-01-25 21:33] raymondfeng commented on #2873
@sam-github It seems that `oracledb.getConnection()` has `configurable` set to `false`. As a consequence, the monkey-patching technique used by `strong-agent` fails to work. What can we do here? I guess `strong-agent` should check if the property/method can be patched.

[2017-01-25 22:14] jannyHou commented on #3030
@saikumara Sorry I still could not reproduce the error, at least with memory connector, please check the test I mentioned in comment https://github.com/strongloop/loopback/issues/3030#issuecomment-267394049

Let's take that test as example and modify the query to test our scenarios:

Scenario one:
[code]

Get the expected result, please note that User CDE don't have posts so the result is empty ar

[2017-01-25 22:17] superkhau commented on #531
@jdhrivas It's definitely on there, but not sure when. @kjdelisle Might have a better idea as to when in regards to LB3. As for LB4, it'll probably be there by then (estimating mid 2017).

That said, does someone here want to submit a patch? We can get it reviewed/landed much sooner if this happens.

[2017-01-25 22:32] sam-github commented on #2873
I'm having trouble reproducing, so it will be hard to develop a fix.

[code]

How do I install oracledb to reproduce? Will I need an actual oracle server, or will it fail earlier than that?

cc @bnoordhuis

[2017-01-25 23:43] bnoordhuis commented on #2873
@sam-github You probably need to set LD_LIBRARY_PATH / DYLD_LIBRARY_PATH.

@raymondfeng strong-agent checks that `.configurable` is true before trying to define a new property descriptor (function around() in lib/proxy.js.)

[2017-01-25 23:58] raymondfeng commented on #2873
@sam-github You need to follow https://github.com/oracle/node-oracledb/blob/master/INSTALL.md to have Oracle instant client installed and configured for `oracledb` to work.

[2017-01-26 08:34] 4d5452 opened #3137 "Unusual behavior while running boot script to create/read/delete stored data."
### Bug/Feature request

Please review the readme of the repo below...
repo: https://github.com/4d5452/Loopback-CRD-Test

The repo includes a working environment to demonstrate the problem (if it is a problem).  This might be related to #3101.

### Additional information

node -e 'console.log(process.platform, process.arch, process.versions.node)'
`win32 x64 6.3.1`

npm ls --prod --depth 0 | grep

[2017-01-26 09:56] PaddyMann opened #3139 "PATCH verb for model relation methods"
As of Loopback 3, we're told to use PATCH if we want to updateAttributes rather than replace an entire model.

Fine. So we've moved over to PATCH.

But I can't find any way to set up an ACL for a related model that I wish to update with a PATCH. If I define it with (e.g.) __update__account, then it's the PUT method that is activated. There doesn't seem to be an equivalent for PATCH.

Not clear if

[2017-01-26 12:39] kogutu opened #3141 "Where clause = problem"
Hi, I have problem with this function in AngularJS:
`          Posts.find({
          "where": {
            "and": [
              {"month_year": "2017-01"},
              {"id_lek": "587ca62f8b90cb2b70b87d9b"}
            ]
          }
        }
        , function ( posts) {
          console.log( posts.length);
        });
    }`

This function always return me 1(true). In Mongo i have one reco

[2017-01-26 13:19] shugi-bugi commented on #1415
+1

[2017-01-26 13:28] Freundschaft commented on #1905
I agree, at least this should be possible to integrate as a configuration flag or plugin

[2017-01-26 14:57] pierreclr commented on #3141
`Posts.find({ filter: { "where": { "and": [ {"month_year": "2017-01"}, {"id_lek": "587ca62f8b90cb2b70b87d9b"} ] } } } , function ( posts) { console.log( posts.length); }); }`

[2017-01-26 15:33] barocsi opened #3142 "Loopback 3.2 user observe loaded returns ctx undefined"
I have updated loopback 2.x to 3.x, using an accessToken supplied request to load an user object from db I am receiving _undefined_ ctx.
[code]
any ideas?

[2017-01-26 15:44] pierreclr opened #3143 "[PROPOSAL] Handle the loopback tests"
Hi everyone !

Since I'm using loopback in production, I experimented some issues which made me reconsider the way loopback's tests are launched.

Loopback intends to be very adaptative (thanks to multiple connectors, highly configurable etc), I'm sure you'll agree with that ! However because of the 'unit' character of unit tests (sounds logic) we are not able to easily identify interdependencies

[2017-01-26 16:25] barocsi commented on #3142
But, just explain me, in 3.x for loaded there is ctx.data, for other hooks its ctx.instance...what is the reasoning behind?

[2017-01-26 16:29] raymondfeng commented on #2873
I can reproduce the problem now.
[code]

[2017-01-26 16:37] sam-github commented on #2873
node version?

[2017-01-26 16:41] raymondfeng commented on #2873
6.9.4

[2017-01-26 16:50] bnoordhuis commented on #2873
If I had to venture a guess I'd say the object has been frozen or sealed.  Does this patch help?
[code]

[2017-01-26 18:07] priyavivek1 commented on #2873
if we update node oracledb module oracledb.js file with property Configurable : TRUE in getConnection, it works fine.
So following comment is correct:
"@raymondfeng strong-agent checks that .configurable is true before trying to define a new property descriptor (function around() in lib/proxy.js.)"

@sam-github : we use nodeversion 0.10.39 currently.

[2017-01-26 18:36] davidcheung commented on #3093
not sure if the solution to move to `slc` would solve the problem, its likely to be a windows issue (see https://github.com/nodejs/node/issues/2996), it works on the regular `cmd` only I believe, maybe some versions of gitbash.

[2017-01-26 18:45] davidcheung commented on #3124
@bajtos

[2017-01-26 19:08] loay commented on #3117
Please refer to this previous issue: https://github.com/strongloop/loopback/issues/1469

[2017-01-26 19:34] kogutu commented on #3141
Still not working:/ Now function always return me 0 (false).
Look this is my DB Posts (one record)
![image](https://cloud.githubusercontent.com/assets/1575187/22347021/8928743e-e406-11e6-8a16-28b0e23c6d39.png)

This is from console.log (firs row is where clause who use to find function), second row is posts.length

[2017-01-26 19:53] sam-github commented on #2873
I've reproduced this, and found a fix, I'll look at Ben's suggestion above, too.

[2017-01-26 20:58] sam-github commented on #2873
I have submitted a fix, it is under review.

[2017-01-26 22:19] jannyHou commented on #517
- [x] memory
- [x] mongodb
- [ ] cloudant 3/5 pass https://gist.github.com/jannyHou/113cc88758f606d49c65760f6ffaeb1a
- [ ] redis
- [ ] SQL

[2017-01-26 22:29] #2873 closed

[2017-01-26 22:40] sam-github commented on #2873
Fixed in https://www.npmjs.com/package/strong-agent v2.1.2

I'm not sure what version of strong-pm or strongloop you are using, I may need to backport the fix to 1.x.

[2017-01-26 22:48] sam-github commented on #2873
strongloop 5.x is now using strong-agent@2.1.2

[2017-01-27 01:48] #1759 closed

[2017-01-27 03:36] sanjay-shah opened #3144 "Getting error when creating model using `lb model`"
### Bug
Getting error when creating model using `lb model`

### Error result

====================
lb model
? Enter the model name: Poolstats
? Select the data-source to attach Poolstats to: db (memory)
(node:18144) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: Cannot read property 'type' of undefined
(node:18144) DeprecationWarning: Unhandled promise

[2017-01-27 03:42] carlosroec commented on #440
Hey @martinjuhasz, have you found a solution for this bug?. Same issue using the verb DELETE.

[2017-01-27 03:47] jdhrivas commented on #3114
@FelipeAguayo @4d5452 I created a pull request to update the model.

[2017-01-27 05:17] michaelfreund commented on #3112
@bajtos Thank you for the detailed answer. I will contribute the documentation improvement for both versions.

[2017-01-27 09:47] martinjuhasz commented on #440
No sorry, i don't work anymore on that project and i'm not sure if this is solved. I guess the swagger implementation has problems with uncommon http-types like `DELETE` + body data.

[2017-01-27 10:07] barocsi opened #3147 "Loopback 3.x updateAttributes on user 'loaded' hook ctx.data contains only attribute"
So far when calling updateAttributes on a model, the observe 'loaded' hook returned instance data properly in 2.x.

In 3.x it only holds reference to the ctx.data containing solely the data from the updateAttribute parameters. And the ctx has a parameter (undocumented) originalUser.

How can 'loaded' user can be accessed consistently and safely during an updateAttributes call?

[code]
yields a ctx

[2017-01-27 10:24] #3105 closed

[2017-01-27 13:38] priyavivek1 commented on #2873
We are using strongloop 5.0.0 currently. it should work. Thanks

[2017-01-27 18:56] superkhau commented on #3144
@sanjay-shah Can you try it with a fresh project? Create an app, datasource then model. Then try the other way, Create an app, then model, then datasource and let me know if you run into the same error above.

[2017-01-27 19:25] crandmck commented on #1985
Docs are now on http://loopback.io/doc/ so we should not have this issue.

[2017-01-27 19:25] #1985 closed

[2017-01-27 19:29] crandmck commented on #2072
Close in favor of https://github.com/strongloop/loopback-sdk-ios/issues/103

[2017-01-27 19:29] #2072 closed

[2017-01-27 19:35] crandmck commented on #2098
This was added to http://loopback.io/doc/en/lb2/Where-filter.html#regular-expressions, so closing.

[2017-01-27 19:35] #2098 closed

[2017-01-27 19:36] #2114 closed

[2017-01-28 03:30] akshayKrSingh opened #3151 "loopback 3.x | ACL not working"
I have a derived 'Person' model from the in-built User model. But for some reason whenever I am accessing GET: /Person

It's saying 401 | Authentication required.

Things I've done:
1. Added a custom role as per the documentation, "admin"
2. My Person model's ACL config is:
[code]

3. In Debug mode, i tried to analyze the loopback acl resolver's output:
[code]

I was able to figure out that this h

[2017-01-28 12:06] barocsi commented on #569
Coming from 2.x + current context I am not able to port this implementation to the following cases, and the documentations concept is soo confusing...
options object
optionsFromRequest (that is converted) what? Really? What about options not coming from a request but from an internal test run?

.getCurrentContext
.runInContext (for testing)
.set('xx',value)

the example about getting current user

[2017-01-28 17:09] pinicius commented on #251
Hi akapaul, I've tried your solution. This is my code:

[code]
And investigator.json file:

[code]
My question is how can I throw a validation exception instead an Error? I'm newbie with strongloop

Thanks in advance

[2017-01-28 23:31] barocsi opened #3152 "Documentation not reproduceable on currentcontext & ctx is not the same on consecutive hooks"
doc says on https://loopback.io/doc/en/lb3/Using-current-context.html
[code]

well it does not run before my models 'access' hook.
it runs if I replace invoke with 'auth', but the consecutive ctx in the 'access' hook does not even contain ctx.args!

Moreover
[code]
this part is not even covered in the docs. Docs does not even mention invoke on the linked page
https://loopback.io/doc/en/lb3/Definin

[2017-01-28 23:50] barocsi commented on #3112
injectOptionsFromRemoteContext is unclear that it should only be applied to 2.x because on 3.x it gives an error message
[code]
where we can see its clearly not working with built in 'access' or 'loaded' hooks.

[2017-01-29 00:12] barocsi commented on #1621
then whats the difference between ctx.options and ctx.hookState?

[2017-01-29 00:52] barocsi opened #3153 "Mixin not triggered for built in methods"
LoopBack 3.2.1,

I have a model for which I want to assign a mixin, that watches all methods including built in ones for a comment model.
[code]
When calling http://localhost:3000/api/comments/:id/
Nothing is being triggered, only the registered console log is visible.

It's however triggered when I use a custom remote method.

Why?

[2017-01-29 03:26] jbcpollak commented on #2144
is there any update on this? As a generalized feature it would be very helpful. Using `updateAttribute()` is not always practical. Currently I'm considering fetching the current state of the object in `before save` and then checking for the differences in `after save`, but this is not ideal

[2017-01-29 05:13] akapaul commented on #251
Hi @pinicius!

You should not call the **validatePassword** method directly in model definition. This is called inside loopback code while validating User model, so the validation exception will be thrown by loopback. If you want to understand the logic, how user validation occurs, you can look inside native [User model](https://github.com/strongloop/loopback/blob/master/common/models/user.js), se

[2017-01-29 09:57] pinicius commented on #251
Hi @akapaul and thanks for your quick response!

My code finally after your advise

[code]
investigator.json file:

[code]
However, it continues raised Error exception instead of captures it like Validation Exception.

I have defined a route for user registering like this (routes.js):

[code]
What I'm doing wrong??

[2017-01-29 10:25] barocsi opened #3154 "Where is saveOptions remote hook defined?"
example on https://loopback.io/doc/en/lb3/Using-current-context.html suggests this
[code]

Why is it different than other mixin hooks where the 'unused' parameter is not present?

[2017-01-29 10:26] #3154 closed

[2017-01-29 10:56] barocsi opened #3155 "ctx in beforeRemote hooks and ctx in operation hooks"
"The context object is specific to operation hooks and does not have any relation to the context object passed to remote hooks registered via Model.beforeRemote and Model.afterRemote."

Why even we call them the same, if they purport different ways.

How can they can be connected?

I would like to somehow figure out currentUser and pass it down to the chain so it will be received by remote and ope

[2017-01-29 11:39] barocsi opened #3156 "createOptionsFromRemotingContext callback?"
I want all my models to include specific user information therefore tried to implement
[code]
However where the framework knows If I try to async do something and its finished, so the model is populated with extra information fetched from a database? There is no callback.

Or shall we do all the async stuff in a beforeRemote mixin? Would be great, but for some reason that is called AFTER a model o

[2017-01-29 12:59] barocsi commented on #3153
Turns out it works for find
http://localhost:3000/api/comments?access_token=xx
but it dosnot work for finding belongsTo
http://localhost:3000/api/comments/1598914170424545/post?access_token=xx

[2017-01-29 13:30] barocsi commented on #3153
Well never mind, I went with another solution this is very unreliable and buggy.

[2017-01-29 13:30] #3153 closed

[2017-01-29 14:20] barocsi opened #3157 "createOptionsFromRemotingContext only runs once"
Created a mixin that adds some extra variable to the options object for supposedly all models.
for the first time it runs, and visible in an 'access' hooks ctx.options object for MODEL_A.
However, when from the remotemethod I run another remote method (passing option properly) and that remote method tries to load another model MODEL_B, in that 'access' hook ctx.options object I can see nothing.
Su

[2017-01-29 16:03] kogutu commented on #3141
I know where is problem:
When I have id_lek with "-" on end.
![image](https://cloud.githubusercontent.com/assets/1575187/22405521/59fbcee6-e644-11e6-92be-174e3cff08bd.png)

Where clause working, when my id is without "-" where clause is not working.

Tell my why, when add "-" to the  id is work, without is don't

[2017-01-30 02:00] akapaul commented on #251
Hi @pinicius!

What error do you see? Have you imported **g** module, using the line:
[code]

It is not required, anyway, but if you omit it, you should simplify strings you pass to Error object constructor, like passing a concatenated strings, without formatting symbols, e.g. replacing:

[code]
to
[code]

Also, you should not define own routes in loopback using the way you mentioned, because it c

[2017-01-30 02:32] archenroot commented on #2080
Any update on this?

[2017-01-30 08:34] Cerberus commented on #1955
`prototype.patchAttributes` for method PATCH
for the others I found it when set _methodname_ to _**_ and console.log context object (ctx)

ModelName.beforeRemote( "**", function( ctx, unused, next) {
    console.log('ctx.methodString', ctx.methodString)
    next();
});

Use the string that append ModelName
(I've tried on LoopBack 3.0)

[2017-01-30 09:54] pierreclr opened #3159 "[BUG] custom role resolver called regardless configuration"
Hi,

I actually encounter a problem with custom dynamic role resolve.

### Description ###

considering this ACL on a model :
[code]

and the following `registerResolver` in boot folder:
[code]

### Expected result ###
We should only see 'trying to resolve custom role' on findById / READ remote call. (depending on the ACL configuration

### Actual result ###
On any remoteMethod, the resolver is ca

[2017-01-30 10:59] bajtos commented on #3112
Hello, the documentation change was already landed few days ago, see https://github.com/strongloop/loopback.io/pull/258

@michaelfreund could you please take a look and send a new pull request if there is any information missing?

Please open a new issue and provide a small app reproducing the issue per our [bug reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-re

[2017-01-30 11:15] bajtos commented on #569
@barocsi I am afraid I don't understand very well your comment. I'll try to answer as best as I can.

[code]

When you are invoking a method from code (e.g. in a test), you need to build and pass the `options` object explicitly. For example:

[code]

The `options` value contain the same token as set by LoopBack 2.x. You can retrieve the current user e.g. by calling `options.accessToken.user()` met

[2017-01-30 13:23] bajtos commented on #1621
- `ctx.options` is set using `options` argument provided to DAO methods like `MyModel.find` or `MyModel.create`. If there are was `options` argument provided, then `ctx.options` is set to an empty object, so that hooks don't have to check whether `ctx.options` is set.
 - `ctx.hookState` is for sharing data between hooks (e.g. "before save" and "after save").

@crandmck Perhaps this is something to

[2017-01-30 13:27] bajtos commented on #2144
@jbcpollak

No update. I am not aware of any solution that would be  better than what you have described:

[2017-01-30 13:39] bajtos commented on #3159
I am afraid I am not familiar with ACLs enough to help here.

@raymondfeng @ritch @superkhau can you help please?

@pierreclr While we are waiting for response, could you please create a small app reproducing the issue per our [bug-reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)? It will make it easier for us to investigate your issue.

[2017-01-30 15:13] celalo commented on #1554
How can I make use of overriding model's `toJSON()` if I need to hide/whitelist properties for certain operations?

For example, I need to hide `createdAt`, `createdBy` properties from the `POST` method, as the user is not supposed post these properties when creating a new object since they are handled at the background, but they should be included in the `GET` method, as I need to be able to prov

[2017-01-30 15:47] loay commented on #3134
Thanks @yshing for providing an update.
@codeyad I am closing the issue. If the issue is still persisting, please fell free to leave a comment and I will re-open the issue. Thanks.

[2017-01-30 15:47] #3134 closed

[2017-01-30 16:03] loay commented on #1442
@nicolasembleton
It looks like issue is fixed. If you are still having troubles, please leave a comment and I will re-open the issue. Thanks

[2017-01-30 16:03] #1442 closed

[2017-01-30 16:41] raymondfeng commented on #1554
Please see the code snippet above.

[2017-01-30 17:16] barocsi commented on #1621
Thanks it was already cleared for me as well as for a legacy code to be turned to option propagation it means to run over ALL the code and all DAO methods to properly implement the new parameter.

I think to persist ctx without passing parameters on and on would require an isolated DAO provider with a ctx instance that is used to factory the remaining Model instances.
DAO layer could be created fo

[2017-01-30 19:04] loay commented on #2367
Hi @peeter-tomberg
Is this good to close?
Also, we are working on implementing the features of join queries and 2nd level filtering as well.
Regards,

[2017-01-30 19:06] pinicius commented on #251
Hi @akapaul !

I did not know that, I supposed It would create the new models from the my model (with rewrite method)

Thanks so much, It works :) :+1:

[2017-01-30 19:06] loay commented on #2458
@upupzealot Is this issue fixed?
if not, can you provide a sample repo so we can reproduce and debug? Thanks.

[2017-01-30 19:13] loay commented on #2381
Hi @samzhao2008
If I remember correctly, this issue was fixed in version 3 that was released recently. Can you please double check and let me know if the issue still persists?
Thanks.

[2017-01-30 19:15] loay commented on #2536
Duplicate issue. Can you please use the previous issue for the discussion https://github.com/strongloop/loopback/issues/1905
Thanks.

[2017-01-30 19:15] #2536 closed

[2017-01-30 19:30] ritch commented on #3010
@gvillenave thanks for the issue. I think this is a matter of making the docs for `potected` more clear. Its "hidden while nested".

If someone has time a doc change would be an awesome PR for this.

[2017-01-30 19:30] #3010 closed

[2017-01-30 19:33] ritch commented on #3112
Just reviewed 👍 looks good.

[2017-01-30 19:33] #3112 closed

[2017-01-30 19:44] loay commented on #2463
Hi @devotox, is the issue still persisting? Thanks.

[2017-01-30 19:49] loay commented on #2186
Hi @ywang-clarify
Is the issue still persisting?
Thanks

[2017-01-30 20:51] loay commented on #2524
Hi @achintverma
Can you please provide a sample repo so we can debug the issue? Thanks.

[2017-01-30 20:53] sam-github commented on #2873
@priyavivek1 can you confirm that it did in fact work?

[2017-01-30 20:55] loay commented on #2521
Issue fixed as per this PR https://github.com/strongloop/loopback/pull/2992/files
Closing

[2017-01-30 20:55] #2521 closed

[2017-01-30 21:23] ywang-clarify commented on #2186
We're still on version 2.36.2 and I haven't tried it on the latest. But it should be easy to test. Basically, try to include any relation and at the same time, include a "fields" array, but do not include id or foreign key properties in the "fields" list. In version 2.36.2, it silently ignores the relation you tried to include because you've specified a fields list that doesn't include enough info

[2017-01-31 00:55] crandmck commented on #3026
API docs are now updated: http://apidocs.strongloop.com/loopback/#model-disableremotemethodbyname

[2017-01-31 00:55] #3026 closed

[2017-01-31 03:11] jorafali commented on #2950
Another BUMP as I upgraded from LB3 to LB3.2. I had to redo the nasty hard coded fix.
Is it not on anyone's radar because everyone else fiddles with the source code or is everyone somehow managing to never have a custom model based on AccessToken ?

[2017-01-31 04:49] priyavivek1 commented on #2873
@sam-github : it worked for us. Till now, no problems reported. the exception is not coming and the issue has been resolved.

[2017-01-31 05:43] superkhau commented on #3159
@pierreclr I don't see any issue with your code. What happens when you fully resolve:

[code]

Does the ACL kick in after resolving your user?

1. If the ACL doesn't kick in after your resolver, then it's probably a bug
2. If it does kick in, then things are working properly and failing because you didn't finish resolving the custom role resolver

As suggested by @bajtos, please provide a link to

[2017-01-31 06:50] #3115 closed

[2017-01-31 07:50] michaelfreund commented on #3112
@bajtos there is still some information missing. `customer.json` example in the docs isn't showing the most important fact - the `injectOptionsFromRemoteContext` option and where to place it.

I will send a pull request with corresponding updates. But before, let's clarify some more facts.

1. You have to extend the build-in user model to be able to adjust option `injectOptionsFromRemoteContext` t

[2017-01-31 08:54] pierreclr commented on #3159
@superkhau Thank you for your answer. I now understand how the custom role resolver works ...
Doing the following :
[code]

However here we are executing some unused code since we don't want to resolve this role on `updateAttributes` for example. Isn't it more performant to only execute it on the concerned methods ? Especially when we need to fetch information from the database !

[2017-01-31 11:31] luckylooke opened #3164 "[SUPPORT] Polymorphic realtions use case"
Hello, can you give me a hint how to setup simple polymorphic relations?

Lets say we have book which belongs to author model and also belongs to publisher model.

Thanks

PS: I was not able to do so according loopback documentation.. :/

[2017-01-31 13:03] bajtos commented on #3112
Oh, that's an oversight. The very purpose of `customer.json` example is to show how to enable `injectOptionsFromRemoteContext`, I don't know that line could get lost 😱

Excellent 🙇

Yes.

Yes.

Yes. You also need your `updateCurrentUser` method to properly announce the `options` argument in its remoting metadata.

Yes.

I would also recommend to explicitly disable all remote methods in the built-i

[2017-01-31 14:14] bajtos commented on #1621
DAO layer could be created for each remote method call and garbage collected afterwards. However it would sound pretty complicated and I bet would soon face the issues of the currentContext paradigm.

I see what you mean. I am exploring this concept for Controllers, where a new controller instance would be created for each request. I don't have anything specific to share yet.

BTW if CLS-based con

[2017-01-31 14:42] barocsi commented on #1621
Yes, I am using it right now, thanks.
However still some packages break loopback-context 3.0.0 still, like loopback mongodb connector ^1.8.0 so one should be aware of that.

[2017-01-31 16:09] nmahefa opened #3168 "[SUGGESTION] `ORDER BY` optional"
Hello,

It's possible to make `ORDER BY` optional ?
for example SELECT query are builded like this

`SELECT * from "foo.foo" ORDER BY "id" `

it would be cool if we can use scope, to disable the order by like this (for example, "order" to true instead of string" ) :
`"scope": {
    "order": false
}`

Thanks.

[2017-01-31 16:29] jannyHou commented on #2080
This story is already in backlog, we will make an investigation in the future.

[2017-01-31 16:39] raymondfeng commented on #3168
Can you try `"scope": { "order": [""] }`?

[2017-01-31 16:48] nmahefa commented on #3168
In my models.json :
`"scope": { "order": [""] }`

the result output :
`SELECT \"id\",\"k\",\"u\",\"t\" FROM \"p\".\"u\" ORDER BY`.

[2017-01-31 16:51] raymondfeng commented on #3168
Hmm, that's bad. We need to filter out empty strings.

Maybe we should relax https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L1476 to `filter.order != null` and normalize `false` to `""`

[2017-01-31 19:02] superkhau commented on #3159
IMO, the way you're describing would be more performant (ie. the ACL should scope down to only the method being asked before trying to determine access). I don't think the current implementation operates in this fashion as you discovered. I'll definitely bring it up during our conversations on loopback-next.

cc @raymondfeng

[2017-01-31 19:33] 0candy commented on #3164
Hi @luckylooke, Have you taken a look at the getting started tutorial. It shows an example of setting up the model relations.
See https://loopback.io/doc/en/lb3/Define-model-relations.html

[2017-01-31 20:20] luckylooke commented on #3164
Thanks for link I already have done both tutorials (Getting started I, II), I didnt notice that reviews belongs to shops and reviewers as well.. so what are polymorphic relations for?? It seems that they do the same thing.

[2017-01-31 20:55] raymondfeng commented on #3164
Please check out https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/relations.test.js#L1672

[2017-01-31 22:18] crandmck opened #3170 "Update doc for updateAttribute option for password"
Need docs for change to User model to preserve the current session (provided via `options.accessToken`) when invalidating access tokens after a change of email or password property.

Cf https://github.com/strongloop/loopback/commit/e17cc3d23a9fe40efe8516bf1d18d6ee1d1977cb

[2017-01-31 23:08] crandmck commented on #3170
This was already addressed elsewhere.

[2017-01-31 23:08] #3170 closed

[2017-02-01 02:47] totalard opened #3171 "Formdata not available when upload file"
When i upload files with meta function as seen in http://stackoverflow.com/questions/28885282/how-to-store-files-with-meta-data-in-loopback

Everything worked BUT the formData sent along with the upload.

Kindly help, How i get the data i sent along with file upload,

My Code is Given Below

``'use strict';

module.exports = function(Upload) {

	Upload.upload = function(ctx,options,cb){
		if(!opti

[2017-02-01 06:44] luckylooke commented on #3164
@raymondfeng thanks, very good idea.. It should come to my mind. But I still dont understand use case :/ Could you point me the case where I should pick polymorphic relations instead of common relation and why? Many many thanks.

[2017-02-01 07:42] FVJohnny opened #3172 "HasAndBelongsToMany findById returns an error."
### Bug/Feature request

findById method applied to a model that has a HasAndBelongsToMany relation with another model returns an error when it doesnt find any match with the ID.  It should only return a null object.

assembly.parts.findById(partId,
  function(err, part) {
 if(err) return console.log(err);
console.log(part);
});

### Expected result
If it couldn't find the parts model that matches

[2017-02-01 11:04] jordialborch commented on #1692
+1

[2017-02-01 11:05] jordialborch commented on #1415
+1

[2017-02-01 16:06] PaddyMann commented on #2952
This behavior differs to `disableRemoteMethod` which correctly hides the endpoint, but unfortunately now raises a `deprecated` warning.

A side effect of this is that for APIs with numerous models and most of the endpoints disabled, the API explorer becomes become pretty useless as it's so painful to navigate.

[2017-02-01 16:24] cfjedimaster opened #3175 "logoutSessionsOnSensitiveChanges Warning"
### Bug/Feature request

LoopBack 2 now adds a warning when you use a User model and do NOT set logoutSessionsOnSensitiveChanges to true. This is fine and all, but you get the warning twice - once for User, and once for your model that extends User. While it is possible that a person may use User, since we always tell people to extend it, the warning should be disable for the User model itself.

#

[2017-02-01 18:19] raymondfeng commented on #3164
@luckylooke See http://guides.rubyonrails.org/association_basics.html#polymorphic-associations. Polymorphic relation is only needed if you have to relate to other models with different types. For example, both Student and Teacher can borrow books.

[2017-02-01 18:40] cfjedimaster commented on #3175
Sorry - this was LoopBack 2, not 3.

[2017-02-01 21:13] luckylooke commented on #3164
@raymondfeng I cant see any advantage of polymorphic belongsto from common belongs to.
"For example, both Student and Teacher can borrow books." It is same as both coffeeshops and reviewers can have reviews, like in examples here https://loopback.io/doc/en/lb3/Define-model-relations.html. It means that it also suits for statement `relate to other models with different types` So what do I get in ad

[2017-02-01 23:25] crandmck commented on #1621
I clarified and added a bit more to http://loopback.io/doc/en/lb3/Operation-hooks.html#sharedhookstateproperty.  Hopefully that covers it.

LMK if anything else is needed.

[2017-02-02 05:28] anotheredward opened #3176 "Fails to load middleware when launched from Jest test script"
### Bug

When trying to require `server.js` inside a Jest test file loopback fails to find middleware.

Demo repo here: https://github.com/anotheredward/jest-loopback-2-bug-demo

Jest website here:
https://facebook.github.io/jest/

### Expected result

Server boots and we're able to access the app object and test upserting user models.

### Additional information

I've spent a couple of hours tryi

[2017-02-02 09:26] totalard commented on #3171
No info?

[2017-02-02 09:31] bajtos commented on #1621
@crandmck awesome, thank you!

I think you have a typo in the new text: "If *an* options argument was provided" should be "If *no* options argument was provided".

[2017-02-02 21:20] anotheredward commented on #3176
Loopback module loading does not work with the default Jest testEnvironment key (jsdom), but works fine if it is set to `node`. I have updated the demo repo to reflect the correct configuration:
https://github.com/anotheredward/jest-loopback-2-bug-demo/commit/721409609ceb4cf1bef4c7a4cdbada91d9a06247

[2017-02-02 21:20] #3176 closed

[2017-02-02 21:30] frankorama opened #3177 "Model data being validated BEFORE the 'Before Save' operational hook called on an embedsMany relation"
### Bug/Feature request
We have 2 models related via an embedsMany relation such that:
**ParentModel.json**
[code]
**ChildModel.json**
[code]

We would like to populate the value of `prop1` in the ChildModel's `before save` hook...
[code]

... however Loopback is throwing an exception before the `before save` hook is being called:  `The 'ParentModel' instance is not valid.  Details: '_childModels'

[2017-02-02 22:54] crandmck commented on #1621
OK, this text came from your [comment above](#issuecomment-276061223) which seems to have a typo as well, which I apparently misinterpreted:

I changed to "If an options argument was provided" but just wanted to be sure that is correct.

[2017-02-02 22:56] barocsi commented on #1621
actually the oroblem might be extended to between operation hooks of different persistedmodels

[2017-02-02 23:16] crandmck commented on #1621
@barocsi Please suggest wording changes in PR to https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb3/Operation-hooks.md

I'm not confident of my understanding of this area, so your help is appreciated!

[2017-02-03 09:31] PaddyMann opened #3178 "Custom remote method with 2 parameters but no :id doesn't work with role-resolver"
### Bug/Feature request

I have custom remote methods for these paths:

    /organizations/:id
    /organizations/:organizationId/people
    /organizations/:organizationId/people/:id
    /organizations/:organizationId/people/:personId/assessment

All are associated with a custom role resolver.

The final path does not work - instead of picking up the correct ACL and our custom role resolver, it in

[2017-02-03 09:47] PaddyMann commented on #3178
My bad! Issue was caused by having the same path structure specified in 2 places.

[2017-02-03 09:47] #3178 closed

[2017-02-03 11:28] bajtos commented on #1621
@crandmck I checked loopback.io, the current version LGTM. Thanks for fixing it!

Are you asking how to pass hook state between let's say "before save" hook on a `Product` model and "before save" hook on a `Category` level, invoked e.g. by a single embedded relation method? I am afraid this is a use case we haven't considered yet. Please open a new issue to discuss it and mention my handle (`@bajt

[2017-02-03 11:30] barocsi commented on #1621
That would be the same scope as the the currentcontext, options propagation and createoptionsfromremotecontext scope I guess?

[2017-02-03 13:09] angfal commented on #2364
Hi, everyone!

The same problem with count and update methods. As I understand, all filter/where objects should 'removeUndefined' with 'normalizeUndefinedInQuery' parameter. And all data objects (for create, update) without it.

Could you please pay attention on this bug? Because it's an enough serious problem. The requests like `Model.remove({id: $id, cb});` and `Model.update({id: $id, $data, cb}

[2017-02-03 17:04] loay commented on #2458
@upupzealot  Closing issue for inactivity. Please leave a comment and we will re-open. thanks.
@superkhau please feel free to re-open if you see the necessity.

[2017-02-03 17:04] #2458 closed

[2017-02-03 18:29] sam-github opened #3179 "invalid url printed from simple loopback application"
### Bug/Feature request

The application was basically copied from the `yo loopback` output for hello world:

[code]

Put that in a directory with no loopback directory structures, but loopback installed as a dep, and run it.

Output is

Which is an invalid URL.

### Expected result

### Additional information

node -e 'console.log(process.platform, process.arch, process.versions.node)'

npm info

[2017-02-03 18:39] loay commented on #2463
As per this previous comment https://github.com/strongloop/loopback/issues/2463#issuecomment-231562024 it seems to be working now. If you need any further help, please feel free to leave a comment and I will re-open the issue.

[2017-02-03 18:39] #2463 closed

[2017-02-03 18:56] bajtos commented on #3179
@sam-github Good catch. I think this is a bug in the code building the `host` value, see https://github.com/strongloop/loopback/blob/304ecc4784c927be69caaa01a1b7344b169f0fa9/lib/application.js#L543-L561

Because you are not using `loopback-boot` and the default `server/config.json` (which provides `host` value), we infer the host from `this.address().address` as `::`, meaning "listening on all net

[2017-02-03 19:32] lkappeler commented on #1729
The app.listen function is returning the server instance which is called in the server/server.js script.
You can assign returned the server instance to a variable and the simply call server.close() to stop the lb server.

server/server.js
[code]

[2017-02-03 20:24] loay commented on #2129
Hi @samgavinio @celicoo
Is this issue still persisting?
Thanks

[2017-02-03 23:40] Sturgelose opened #3181 "Using custom named foreign keys breaks relations"
### Bug request

Create two simple classes, for example, Country and City.
* Country **has many** Cities
* A City **belongs to** a Country

Instead of setting the default `foreignKey` value (countryId), set it to `country`, in both relationships.

As a result, endpoints such as `GET /Cities/{id}/country` and `GET /Countries/{id}/cities/{fk}` will return either NULL or an error.

Used classes:

[co

[2017-02-03 23:49] #1558 closed

[2017-02-04 00:12] ritch commented on #443
Lets add something like this:

[code]

to the docs.

[2017-02-04 00:17] ritch commented on #1475
As long as `context, user, next` is documented as part of the before/after remote api - we should be good. This is confusing for many other cases.

[2017-02-04 00:58] mrjrdnthms commented on #2223
Actually now that I have updated to 3.x I realized this code hasn't been updated! Here is the link to 3.x latest. Note [https://github.com/jouke/loopback/blob/3.x-latest/lib/persisted-model.js](https://github.com/jouke/loopback/blob/3.x-latest/lib/persisted-model.js):
`{arg: 'remoteChanges', type: 'array', description: 'an array of change objects',
            http: {source: 'body'}},`

[2017-02-04 02:45] farlymedicaboo opened #3182 "Error: Callback was already called when use co-express"
### Bug/Feature request

Hi, I tried to use co-express to the remote method and get this notice on console log,

(node:12202) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Callback was already called.
(node:12202) DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.

[2017-02-04 13:47] davidchriqui commented on #3151
same here

[2017-02-04 22:10] mprogers commented on #2073
I ran into this problem about a year after this was closed, and this suggestion resolved it -- so doesn't this need to be fixed in the tutorial?

[2017-02-04 23:33] tvdstaaij commented on #742
I just got bitten by this issue in a different form that was apparently not covered by the above fix. Not with a PUT on an instance (`prototype.updateAttributes` in node API terms) like reported in this issue, but rather with a POST to `/update` (`updateAll` in node API terms). The backend will happily persist (yes, actually persist, not just a wrong in-memory representation) random properties to

[2017-02-05 00:47] qaiser110 commented on #1319
I have the same issue. Any update on this?

[2017-02-05 03:33] totalard commented on #3121
How i do that?

[2017-02-05 10:59] fabien commented on #742
@tvdstaaij this is indeed the case for `updateAll`, as none of the instance-level logic is applied (including calling `isValid` as you point out in the related issue). Knowing this, I always disable the `/update` endpoint by default, and either implement a `before` filter or create an endpoint myself that will incorporate the desired logic.

Perhaps the documentation should be more clear about thi

[2017-02-05 11:07] totalard commented on #274
Is it true?

[2017-02-05 21:22] garusis commented on #1319
I'm having the same issue. So, should not I use polymorphic relations?

[2017-02-06 00:57] asano-shinichi commented on #2513
Hi, I have same issue on Mac.
Kaspersky Internet Security causes this issue for me.

[code]

[2017-02-06 08:25] TangMonk commented on #1692
+1

[2017-02-06 09:48] bajtos opened #3183 "updateAll should honour strict mode"
### Bug/Feature request

See https://github.com/strongloop/loopback/issues/742#issuecomment-277486024

When user makes a `POST /update` request (calls `updateAll` in node API terms), the backend will happily persist (yes, actually persist, not just a wrong in-memory representation) random properties to MongoDB through an `updateAll` even though strict mode is enabled for the model.

### Expected r

[2017-02-06 09:49] barocsi opened #3184 "Password too long user model"
Suddenly loopback started to check my generated password length. Is this by design? I'm not sure that from which version it is doing this:
[code]

Why even 72 chars is the max passwords length? What if I am storing an OAuth hash generated by a 3rd party provider?

From which point does it event started to validate my passwords built in?

Why on earth would it started to validate the email, in a DI

[2017-02-06 09:50] bajtos commented on #742
Hello, I think there are two parts to this issue: 1) enforce `strict` mode 2) validate property values. I opened https://github.com/strongloop/loopback/issues/3183 to fix the first part, let's move the discussion there.

+1

@fabien could you contribute this doc improvement yourself please? See http://loopback.io/doc/en/contrib/doc-contrib.html to get started.

[2017-02-06 09:52] fabien commented on #3183
@bajtos will this be backported to v.2?

[2017-02-06 09:56] fabien commented on #742
@bajtos I would prefer someone else to handle the documentation. Is that OK with you? I don't know exactly where to add this information, or how to word it correctly.

[2017-02-06 11:42] bajtos commented on #2307
Closing in favour of https://github.com/strongloop/loopback/pull/3185.

[2017-02-06 11:42] #2307 closed

[2017-02-06 12:25] RobertDiebels commented on #3144
@superkhau I'm having the same issue though just running the `lb` command. Just did a fresh install of loopback-cli.

**Reproduction**

Removed older version of loopback-cli with `npm uninstall -g loopback-cli`.
Cleared cache with  `npm cache clear`
Installed `npm install -g loopback-cli`

Ran `lb` error that followed:
[code]

**Versions:**
loopback-cli: 1.0.1
node: 7.1.0
Windows: 10

**Extra info

[2017-02-06 12:27] bajtos commented on #3003
Done.

[2017-02-06 12:27] #3003 closed

[2017-02-06 12:39] bajtos commented on #3124
Fixed.

[2017-02-06 12:39] #3124 closed

[2017-02-06 14:49] uhallgarn opened #3186 "after save - data undefined?"
Hi,

I am writing an 'after save'- hook and have some problem to read data. What I would like to do is to access data in another model, but when doing this it is undefined. Here is some code.

[code]

I also tried to use Fault.app.models.faulttype.find instead of ctx.Model.app.models.faulttype.app as in the example above, however with same result.

I am using the ctx.Model.app.models to grab one o

[2017-02-06 16:03] kjdelisle commented on #2969
@raymondfeng Should this return an array or an object? It seems to me like you wouldn't want multiple items back if more than one matches the given item.

[2017-02-06 16:12] bajtos commented on #742
Sure, no worries.

[2017-02-06 16:14] bajtos commented on #3183
Should it be? I labelled this issue as a feature (semver-minor), which means it won't be backported.

What's your opinion?

[2017-02-06 16:32] bajtos commented on #1475
Note that for after remote hooks, handler's signature is `context, result, next` (at least AFAIK). It happens that most CRUD operations return the model instance as the result, therefore `result` is often the model (user) instance, but not always.

[2017-02-06 16:55] farlymedicaboo commented on #3186
i don't know this is the proper way, can you try to faulttype JSON.stringfy(faulttype) and then faulttype = JSON.parse(faulttype); ?

[2017-02-06 17:01] fabien commented on #3183
I'd prefer to see it backported, because to me it doesn't appear like a feature. The semantics of `strict` were a far cry from actually being strict up until now, if you know what I mean. An option like that should behave as expected at all times, to avoid the issues (even security related) mentioned.

[2017-02-06 20:55] tatemz commented on #607
If it is helpful: here is the spec for PATCHing JSON objects

https://tools.ietf.org/html/rfc6902

[2017-02-06 22:36] crandmck opened #3187 "Document behavior of updateAll with strict mode"
Cf #3183, #742

This seems to be a bug (though the first issue above is marked "feature").  Normally, I would not document a bug.  However, since it has behaved this way for some time, if it is changed, we should add something to the release notes.

Otherwise, since it's pretty sweeping in nature, we should note the behavior, e.g. in:
-  [PersistedModel REST API](https://loopback.io/doc/en/lb3/Per

[2017-02-06 22:36] crandmck commented on #742
Added issue to track doc work #3187 .

[2017-02-06 22:53] mrjrdnthms opened #3188 "remote method PersistedModel.diff only receives one parameter [revisited]"
As far as I can tell there is a bug in the way PersistedModel sets up the diff remote method. I think @jouke was corrected when he assessed that "setRemoting is defined for remoteChanges with http: { source: 'body' }, and 'since' is not. I then discovered that strong-remoting only sets one parameter in the request body when it's defined like this."

I have created a pull request to fix this issue.

[2017-02-07 08:19] superkhau commented on #2073
@mprogers Would you like to contribute a fix to the tutorial? I can help you get it landed if you're interested.

[2017-02-07 08:27] superkhau commented on #3144
@RobertDiebels Thanks for the steps to reproduce. I'm going to bump this up to major for now until verified on our end.

@bajtos Reassigning to you for now.

[2017-02-07 09:13] zealseeker commented on #3175
Do you know how to configure the json file of the User models and whether should we add into user.json in loopback modules or the persisted models we create? If the former, I am afraid it will warn again as long as I update loopback for fixing some bugs.

[2017-02-07 10:27] uhallgarn commented on #3186
I tried to change that, but it didn't make any difference.
Very strange that I can view the entire objetc, but not the specific attribute.

[2017-02-07 11:09] guptakvgaurav opened #3190 "How to handle api error responses ?"
### Bug/Feature request
I would like to customise error response of my api. Error response should look like

Therefore there should be a hook/centralised mechanism to handle outgoing responses of the APIs.

Current Attempt:

**> /server/boot/apiResponseHandler.js**

Sample API throwing error looks like

### Expected result

Should have an error handler for api api responses.

### Additional inform

[2017-02-07 11:14] NaqeebSial opened #3191 "ACL is not working with datasource"
Acl not work when datasource of acl model is changed.I have this case in my db
  { "model":"product"
      "accessType": "*",
      "principalType": "ROLE",
      "principalId": "$everyone",
      "permission": "DENY"
    }

this work when i add it to product.json directly but not when i have linked acl model with datasource

[2017-02-07 12:01] totalard opened #3192 "How Stop bulk Insert/Upate if one of them failed Validation"
Dear,

In my scenario.
i am uploading bulk data from csv.. Works fine.. BUT when one of then (row) validation failed i want the one row with error message. Now i getting whole request failed message.

i am running validation at before save hook.

I think you understand the issue. It is needed.

**I done**
i have done following when validation failed.
return cb(new Error('Validation Failed'));

if

[2017-02-07 12:02] totalard commented on #3171
it is still not fixed

[2017-02-07 14:45] massilvaLaz commented on #3056
Try this  : {"where":{"colors":{"elemMatch":{"colorId":"1"}}}}

[2017-02-07 14:58] cfjedimaster commented on #3175
Well since this is apparently gone in 3 (I believe), it may be a non-issue.

[2017-02-07 15:20] narender56 commented on #3056
Thank you @massilvaLaz , It worked. :-)

[2017-02-07 15:20] #3056 closed

[2017-02-07 15:25] RobertDiebels commented on #3144
@superkhau no problemo! Would like to metion that I followed the [get started](http://loopback.io/getting-started/) notes from 3.0. I'm mentioning this because I remember having to install the strongloop package separtely in the past (I'm not a frequent user of strongloop so I might be wrong about that).

**Some details on what I tried to do**

- Tried using `lb model` at first (which is where I o

[2017-02-07 17:41] smartmouse commented on #922
@crandmck if we add a bit more steps under the example before each .json file, that may help the user. I tried it out and  @AndrewJHart  has a good point.  Let me ao a PR and you can review for me but now we will be using lb relation in the new doc

[2017-02-07 18:22] superkhau commented on #2083
Timeboxed to 3 points.

[2017-02-07 21:35] viniciusgomes commented on #1865
Guys Any solution for that?

[2017-02-07 22:06] superkhau commented on #3144
@RobertDiebels `loopback-cli` is definitely the recommended way forward (as opposed to the old `slc` you may remember previously. I'll try to repro on my machine using your instructions and escalate to bug soon. ;)

[2017-02-07 22:08] superkhau commented on #3144
@RobertDiebels I do not get that error on OSX when following your steps above, so it's probably a Windows only issue. I'll see if I can repro on a VM later.

[2017-02-07 22:17] #2926 closed

[2017-02-08 05:56] perkd commented on #1295
+1

[2017-02-08 09:28] RobertDiebels commented on #3144
@superkhau I'm trying to reproduce this now on a machine which had no previous installation. If it works there I will let you know (including versions).

[2017-02-08 09:40] RobertDiebels commented on #3144
@superkhau Just tested it on a Windows 10 machine with no previous installation. **It works** on that machine.

**Versions**
[code]
I think it might be a migration thing? Maybe @sanjay-shah can confirm that?

**Previous installation details**
node: 7.1.0
Windows: 10

I'm not sure whether this will help as I can't go back and check the state of my pervious installation.
I was using ` strongloop 2.x

[2017-02-08 10:50] RobertDiebels commented on #3144
Ok I got it **working** on the machine I was having issues with.

I installed a newer version of Node along with NPM. I'm now running:
[code]
Running `lb` shows the proper sequence now. So I think it's the combination of specific versions of node and npm which caused the issue.

[2017-02-08 11:07] rsingh25 commented on #1692
+1

[2017-02-08 13:03] AnthonyLabaere commented on #1692
+1

[2017-02-08 17:36] vjtc0n commented on #3094
@raymondfeng So maybe we have to check if the record exists or not, then destroyAll() ?

I think this is inconvenient somehow.

Don't you think we could separate into 2 situations like @stringbeans said ?

[2017-02-08 20:29] superkhau commented on #3144
@RobertDiebels Awesome, thanks for helping look into it. :bowing_man:

@sanjay-shah Can you confirm @RobertDiebels's findings and see if it works for you using a newer version of node?

[2017-02-09 01:14] totalard opened #3194 "App object is Undefined"
I shave created many boot scripts in boot directory.
Some of them  Started like this

var app = require('../server");
 console(app);

I. Getting undefined in some boot scripts and working fine in some boot scripts.

Is it a bug?   How this happening?

Somebody give me detailed info please

[2017-02-09 05:02] chadwithuhc commented on #1321
👍

[2017-02-09 07:33] RobertDiebels commented on #3144
@superkhau no problem 😄 ! I'll see if I can check tonight if the problem occurs again if I install the `7.1.0` version. Could be that it was some weird thing with the cache and that the update cleared everything properly.

In that case reinstalling the current version of node people are running could help (if for some reason they can't upgrade). Or it could show the same error.

[2017-02-09 08:38] av-k commented on #257
Prolongation by each request (maximum one update per day)
[code]

[2017-02-09 14:40] paulosuzart commented on #1853
Hi guys, Anyone managed to do what @AndreMaz mentioned?

[2017-02-09 15:07] loay commented on #2512
Proper code is added. Issue is fixed as per this pr: https://github.com/strongloop/loopback-datasource-juggler/pull/1245

[2017-02-09 15:07] #2512 closed

[2017-02-09 15:18] Amir-61 commented on #2068
Now `forceId` behaviour is added for both LB 2.x and LB 3.x in http://loopback.io/doc/en/lb2/Model-definition-JSON-file.html and http://loopback.io/doc/en/lb3/Model-definition-JSON-file.html respectively. The difference is default value where in LB2.x by default `forceId` is set to false whereas in LB 3.x `forceId` is set to true for security reason. Related to https://github.com/strongloop/loopba

[2017-02-09 15:18] #2068 closed

[2017-02-09 15:36] bajtos commented on #2307
Fixed.

[2017-02-09 19:16] upupzealot opened #3197 "'required' on properties don't work on memory datasource?"
my code is like:

[code]

`title` property is required in the model `Topic`, but create a Topic instance without title is still fine?

[2017-02-09 19:33] smartmouse commented on #922
The changes have been merged with @crandmck 's help and  we are closing this. Thanks

[2017-02-09 19:33] #922 closed

[2017-02-09 20:49] joseluisjb1990 commented on #1321
+1

[2017-02-09 22:28] luncht1me commented on #3121
Converting to ObjectID doesn't work. I'm having the same problem.

Trying to find a RoleMapping using principalId in the where query returns nothing.
If I try and find it as a regex of the Id string it works.
principalId is stored as a string in mongodb.

[2017-02-09 22:48] luncht1me commented on #3121
It's kind of annoying, I had a nice function to return the roles of a user based on their mapping
[code]

But now this has to be changed since doing the initial `where` with `principalId` returns nothing....

The resulting function is much less verbose, as I can only realistically target a single Role, and then check thru all the mappings that our userId is included.
It's ugly. It's bad. I hate it

[2017-02-09 23:18] luncht1me commented on #3121
Just a debug output:
[code]

In the first output, the principalId is a string, as seen by the quotes. But then the next output, principalId is no longer a string but an actual Id. I'm assuming this casting here is what's breaking the query.

[2017-02-09 23:36] luncht1me commented on #3121
After lots of debugging. I've come to a solution.

In loopback's default `common/models/role-mapping.json`, added `"strictObjectIDCoercion": true` to the model definition.
Now principalId can be queried properly.

resulting `node_modules/loopback/common/models/role-mapping.json`:
[code]

[2017-02-10 00:45] mrjrdnthms commented on #2672
I also am running into this issue using the MYSQL data connector. As the number of changes in the change tables grows the cleanup function slows way down. Examining mysql it looks like 1000+ queries are being run every 30 secs with this default.

I disabled the cleanup function by setting changeCleanupInterval to -1 in all my change tracked model config json files. What does the cleanup function d

[2017-02-10 01:06] crandmck commented on #2826
@superkhau Do we need to do anything further here?

[2017-02-10 01:57] jonathanwoahn commented on #720
I have this same issue. I'm not sure what caused it, but I was able to get around it be clearing localstorage. Hopefully it doesn't crop up again any time soon.

[2017-02-10 04:11] alFReD-NSH commented on #3121
Seems like same issue at #1441. You can also try my workaround which I described in [here](https://github.com/strongloop/loopback/issues/1441#issuecomment-180767939):

[code]

[2017-02-10 04:28] alFReD-NSH commented on #3181
With the current state and design of Loopback, you shouldn't name the foreignKey same as the relation. [Here's](http://stackoverflow.com/q/41556519/774086) a similar problem.

[2017-02-10 04:50] superkhau commented on #2826
Nope, we already deleted the repos. We'll just continue educating the new users to look on http://loopback.io//doc/en/lb3/Tutorials-and-examples.html instead from now on.

[2017-02-10 04:50] #2826 closed

[2017-02-10 05:04] smartmouse commented on #984
@marcuspl  Thank you for spotting this issue.  We confirm with @raymondfeng that it should be role name.  This should be a bug in code  and not doc issue .

So we should pass in the   principalName instead of the principalId
Do you want to provide a patch?
Thanks

[code]

[2017-02-10 07:38] luncht1me commented on #3121
this requires overwriting the internal RoleMapping model. We shouldn't have
to do this for default intended functionality.

The fact remains theres a discrepancy and inconsistency between
RoleMapping's definition of principalId and how it's being handled in
queries.

On Thu, Feb 9, 2017, 8:11 PM Farid Nouri Neshat, <notifications@github.com>
wrote:

[2017-02-10 07:41] luncht1me commented on #3121
but thankyou for the alternate work around.

On Thu, Feb 9, 2017, 11:38 PM Colin Johnson, <lunchtime@nxtlvl.gg> wrote:

this requires overwriting the internal RoleMapping model. We shouldn't have
to do this for default intended functionality.

The fact remains theres a discrepancy and inconsistency between
RoleMapping's definition of principalId and how it's being handled in
queries.

On Thu, Feb

[2017-02-10 07:43] yellowred commented on #1639
+1, any updates so far?

[2017-02-10 08:55] ImanMh commented on #1985
Very nice, congratulations and thanks a lot.

[2017-02-10 11:50] AndreMaz commented on #1853
Hey @paulosuzart currently this can't be done automatically, check this https://github.com/strongloop/loopback/issues/2346#issuecomment-263583335 for more info.

The only way is creating the desired endpoints manually

[2017-02-10 16:43] smartmouse commented on #984
I am removing the doc label as this is not really doc issue.

[2017-02-10 16:48] crandmck commented on #984
@superkhau Who should we ping/assign this to now to ensure it doesn't get lost?

[2017-02-10 18:28] superkhau commented on #984
@crandmck I believe @kjdelisle's team is on it according to the Slack convo's in their channel.

[2017-02-10 18:29] superkhau commented on #984
@marcuspl Would you like to submit a patch instead? I can help get it landed quickly.

[2017-02-11 00:32] SippieCup commented on #1033
@mandarzope How do you querying a table that has both hash & sort key attributes by just the hash key using your connector in loopback.

I keep getting a PKMissingError for the model if I do not include a sort key.

[2017-02-11 15:05] celicoo commented on #2129
@loay I think so, i already dropped the loopback and i strongly recommend you to do the same. There are a lot of bugs, you can't overwrite a lot of behaviours. The worst framework i ever worked it.

[2017-02-12 10:21] lazaridis-com commented on #382
@raymondfeng , @bajtos - I try to understand why a security-related issue is kept for 2,5 years open. Shouldn't this been a high priority issue, fixed immediately?

[2017-02-12 10:39] lazaridis-com opened #3199 "void"

[2017-02-12 13:27] wayn commented on #2595
@jannyHou , can I add multi parts to a assembly with one function? or must call create function many times?

[2017-02-12 16:40] lazaridis-com opened #3200 "Provide a "start" command"
The `lb` command line tool should have a `start` command.

This would simplify the usage, especially for newcomers (they don't know much about the underlying stack).

Additionally, it would be more consistent in general (one command-line tool, "lb").

### Current Status

[code]

### With "start" Command

[code]

[2017-02-13 11:40] #3168 closed

[2017-02-13 13:03] vishnukarthikreddy opened #3201 "How to create replica set in Loopback for Mongodb ?"
Hi Coders,

Am creating replica set in Loopback for Mongodb. Could anyone suggest me how to create it ?
This is my first attempt for Replication.

Thank you in advance.

Greetings,
Vishnu Karthik.

[2017-02-13 15:44] wohldani opened #3202 "Connection to MongoDB fails"
Connecting to MongoDB has stopped working:

node_modules/loopback/lib/application.js:246
MongoError: Cannot create data source "mongo": Cannot initialize connector "mongodb": option host is not supported

darwin x64 4.4.6

├── loopback@2.38.0
├── loopback-boot@2.23.0
├── loopback-component-explorer@2.7.0
├── loopback-component-passport@2.3.0
├── loopback-connector-mongodb@1.18.0
├── loopback-datas

[2017-02-13 16:16] xdgimf commented on #3202
There's an [issue](https://github.com/strongloop/loopback-connector-mongodb/issues/344) on loopback-connector-mongodb

[2017-02-13 18:09] #3202 closed

[2017-02-13 22:46] siegiw opened #3203 "User model has no index for email attribute by default"
This has a major performance hit on login by email for large user scale, at least on my postgres db.
Annoying especially when using autoupdate, resulting in drop of indices that were manually created

from loopback user.json:
[code]

I tried subclassing user and defining an appropriate index, which unfortunately results in erratic creating/destroy of the email index, possibly due to race condition

[2017-02-14 05:37] supasate opened #3204 "Boot scripts are not loaded when testing with Jest"
### Bug

When testing with Jest, boot scripts in the `server/boot` folder are not loaded.

### Expected result

Boot scripts in the `server/boot` folder are loaded correctly when testing with Jest

### Additional information

darwin x64 6.7.0
├── loopback@3.2.1
├── loopback-boot@2.23.0
├── loopback-component-explorer@4.0.0
├── loopback-connector-mysql@3.0.0

[2017-02-14 06:18] supasate commented on #3204
After looking into the code, it seems like the root cause is that the `loopback-boot` checks file extensions must be specified in `require.extensions`(this [line](https://github.com/strongloop/loopback-boot/blob/v2.23.0/lib/compiler.js#L186) and this [line](https://github.com/strongloop/loopback-boot/blob/v2.23.0/lib/compiler.js#L648)). However, Jest doesn't set `require.extensions`. So, all files

[2017-02-14 08:24] supasate commented on #3204
[Update] I found a workaround by using `transform` and `transformIgnorePatterns` options as follows:

In my `package.json`,
[code]

My `preprocessor.js`
[code]

However, I wonder should we rely on deprecated `require.extensions`?

[2017-02-14 13:19] barocsi opened #3205 "context issue: 'invoke' runs after createOptionsFromRemotingContext"
Consider the code below, its not yet a running test tho because I can see from the output that invoke is triggered after 'createOptionsFromRemotingContext' according to the example found on https://loopback.io/doc/en/lb3/Using-current-context.html.

Not working.

[code]

tracing out createOtionsFromRemotingContext... // MAN WHY SUCH LONG NAME??? //
[code]

so exactly what is the trigger, event, or

[2017-02-14 18:52] Casy commented on #3121
any update on this?

[2017-02-14 19:33] superkhau commented on #3200
Issue moved to [strongloop/loopback-cli #15](https://github.com/strongloop/loopback-cli/issues/15) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-14 19:33] #3200 closed

[2017-02-14 19:46] Casy commented on #3121
I try with @luncht1me solutions but still have this issue.

And when i try with like:
`Error: The principalId property has invalid clause {"like":"58a343ec165687d52aa62bc9"}: Expected a string or RegExp
`

[2017-02-15 14:48] WebStackDev opened #3206 "Suggestion: automatically register components"
Currently there seems to be no way to find out at run-time which components were loaded via component-config* files, unless each component registers itself via app.set() when it bootstraps itself (just like loopback-component-explorer does https://github.com/strongloop/loopback-component-explorer/blob/ffb09f9d4d14e3a15909255cc31bf272e0ee4cf2/index.js#L38).

As a developer, in case you need to load

[2017-02-15 15:29] bajtos commented on #3206
@raymondfeng @davidcheung how does this fit use case into the new loopback-boot design?

[2017-02-15 15:40] bajtos commented on #984
FWIW, this may be related to #2420 and https://github.com/strongloop/loopback/pull/2975 /cc @ebarault.

[2017-02-15 16:18] WebStackDev commented on #3206
I will also post here for reference the temporary work-around as described above:

[code]

[code]

[2017-02-15 16:41] raymondfeng commented on #3206
Check this out - https://github.com/strongloop/loopback-boot/blob/master/lib/plugins/component.js. Now each artifact type for LoopBack can have associated handlers that process each phase of the boot lifecycle and each of them can populate more metadata to the runtime.

[2017-02-15 17:55] gdeckert commented on #569
@bajtos - thank you for this information. Two points that aren't entirely clear -

1) to make use of options, will I need to migrate from LoopBack 2.x to LoopBack 3.0?

2) Are only operation hooks affected by this issue ('before save', 'after save', etc), or are all remote methods subject to continuation passing issues?  (i.e. would I have to update every place where I'm currently referencing req.

[2017-02-15 20:07] ninoguba commented on #591
I'm experiencing the same thing as @danielmihai described.  I can see the User, Role, RoleMapping tables on my mongodb datasource but the ACL, and AccessToken are not "migrated".  Anybody figured this out?

[2017-02-15 20:39] nidhhoggr commented on #1666
I am noticing a similar issue along the lines of the following. Granted that an array of roles isn't currently supported as proposed above take the following code for example:

[code]

In this case the role `superprovider` and `devtoken` are custom defined roles and in a particular request only `superprovider` is allowed access to the request.

##PROBLEM

Despite `superprovider` being allowed acce

[2017-02-15 20:47] danielmihai commented on #591
I made a boot script which does this on app startup. Take a look at the boot scripts in my loopback prototype repo if you'd like. I had to extend the basic User etc. models. Kind of ugly and imo defeats the scope of loopback

[2017-02-15 22:48] nidhhoggr commented on #1666
I was able to resolve the issue above after debugging with:

`DEBUG=loopback:security:* npm start`

However there still appears to be a seperate issue with regards to how custom roles are resolved.

I found that using a resolver that returns an error in the first paramater of the callback does not allow the ACLS to be searched. If I instead pass `false` as the second parameter and leave the first

[2017-02-16 04:17] marcuspl commented on #984
@superkhau I moved on a long time ago, don't even think I could find it anymore. Thanks though.

[2017-02-16 09:28] upupzealot commented on #2465
@bajtos is it on the todo list of loopback team?

[2017-02-16 09:31] bajtos commented on #3188
Hello, I am afraid I am still not able to reproduce the problem you are trying to solve. Please take a look at  https://github.com/strongloop/loopback/commit/8b8713e34b0baae333d7499828ddd81e078c013 which shows a test that invokes `diff` with `since` argument via the REST API and passes with the current implementation, therefore verifying that `diff` works correctly already.

I believe there is som

[2017-02-16 09:39] bajtos commented on #3121
cc @fabien I know you are using the MongoDB connector a lot, have you encountered this issue too? Can you think of any advice on how to fix it in user-land?

[2017-02-16 09:40] bajtos commented on #3121
Can we close this issue as a duplicate of #1441 then? /cc @alFReD-NSH

[2017-02-16 09:48] fabien commented on #3121
@bajtos here's what I have in a bootscript - it works fine:

[code]

[2017-02-16 11:00] xmanemran opened #3207 "Connector for Microsoft Azure Table Storage"
Hi all, recently I try to make a application use loopback. But we have a dependency , that is I have to use "Microsoft Azure Table Storage". There are no connector available for "Microsoft Azure Table Storage" . Can any one please tell me how I can solve this problem. If I have to make a connector than how can I do that.

[2017-02-16 11:08] dyaa commented on #1879
@behrad can you please tell me how you implemented that !

i'm facing the same issue trying to authorize some end points using the `restApiKey` ...

[2017-02-16 11:45] barocsi opened #3208 "require ('server.js') yields a different instance"
require server.js yields booting the app each time its required.
[code]
When running tests I want to run some additional configs AFTER the booting is complete therefore within my tests I use a different booting scheme:
[code]
Unfortunately when from other model remotemethods I require server it runs the booting session again.

How can I boot the server ONCE and make sure every require returns the

[2017-02-16 12:52] behrad commented on #1879
I've a boot script which is overriding `AccessToken.findForRequest` @dyaa

note that the dirty part is that I was forced to copy/paste private `tokenIdForRequest` inside loopback auth imlementation.

[code]

[2017-02-16 15:44] bajtos commented on #2465
@upupzealot not really, would you like to contribute this improvement yourself?

[2017-02-16 17:44] #1241 closed

[2017-02-16 20:32] zbarbuto commented on #3199
Agree 100%. And this is only issues in the main loopback project. This doesn't include the data source juggler and various other connectors and components (the Postgres connector has 50 open issues and 19 open pull requests has been barely touched in months). It would be great if strongloop was a bit more open about what their priorities are and why so many issues (in some cases major ones) are le

[2017-02-16 23:09] mpycio commented on #1441
I've been struggling with this for some time now as well, but what worked for me after updating to 2.38.0 was adding a 'role-mapping.json' file with updated props as follows:

[code]

[2017-02-17 00:30] DaGaMs opened #3209 "findById does not include "options", but find does?"
# Description/Steps to reproduce
According to the new remoting context injection #3023 I expect to always get an `options` property in the current context of an operation hook. I have a mixin that will restrict the requested object to the current owner (and in the future other team members, so I can't use `$owner`):

[code]

This works just fine when I do a request like this: `/api/projects?filter

[2017-02-17 05:44] pkgulati commented on #531
+1

[2017-02-17 07:26] #3208 closed

[2017-02-17 11:59] zealseeker commented on #3175
I solved this problem by adding `"logoutSessionsOnSensitiveChanges": ture` in server/config.json.

[2017-02-17 12:19] skalyanapu-mtuity commented on #1004
@loay  , I'm facing the similar issue , where "/users/reset/" always throws 204 though I passing correct email , on the another side email existence was working fine and showing 404 work as expected their ,
but no 200 OK response , is there anything i'm missing please suggest me ...

[2017-02-17 12:19] bajtos commented on #3121
Hello, I submitted https://github.com/strongloop/loopback-workspace/pull/437 that will enable `strictObjectIDCoercion` for all new applications scaffolded using our `lb`/`apic`/`slc` tooling.

For existing applications, you can either add a boot script as @fabien shown above, or you can enable the setting via `server/model-config.json`:

[code]

As part of the update, according to https://github.c

[2017-02-17 12:21] bajtos commented on #1441
A possible workaround is described in https://github.com/strongloop/loopback/issues/3121#issuecomment-280635105.

[2017-02-17 12:22] ketansp commented on #2248
I need something similar. We should be able to use flexibility of sql inside loopback.

[2017-02-17 12:42] bajtos commented on #569
@gdeckert

You can pass context via options in LoopBack 2.x as long as you enable this feature, see http://loopback.io/doc/en/lb3/Using-current-context.html#annotate-options-parameter-in-remoting-metadata:

_In LoopBack 2.x, this feature is disabled by default for compatibility reasons. To enable, add "injectOptionsFromRemoteContext": true to your model JSON file._

I think the code which can acce

[2017-02-17 16:44] raymondfeng commented on #3208
I think ideally we should wrap most of the code in server.js into a function, such as:
[code]

[2017-02-17 20:13] wprater commented on #1960
I cannot seem to get this to work with Postgres.  no intervening model is created and if I create my own, then there are errors booting the app, as it cannot find a `belongsTo` method on this line https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L1579

[2017-02-18 01:39] DaGaMs commented on #3209
Ok, I have narrowed this down a bit now. The problem is not actually with findById, but with the ACL settings. I must be missing some important ACL property somewhere, but I'm not sure what it is. I created a repo with a minimal project based on the Note example of strongloop 3.0. Just type `mocha` to run the test cases.

https://github.com/DaGaMs/loopback_context_test

[2017-02-18 02:02] DaGaMs commented on #3209
Some more information. When I run with `DEBUG="*"`, I can see that in the _working_ test case, the ACL resolver seems to "do the right thing", _i.e._ resolve to `isOwner=true`, see [this gist](https://gist.github.com/DaGaMs/e3d5c6d908a6de88c131b88339c1ea9f);

On the other hand, in the test case that fails, I get [this output](https://gist.github.com/DaGaMs/6fb6f6d76157f531a62f023cdb912796), which

[2017-02-18 02:24] DaGaMs commented on #3209
So, simply removing the last part of the access control list makes the tests pass:

[code]

It seems that there's really some very peculiar bug that only strikes when the dynamic `$owner` role is resolved in a `findById` query.

[2017-02-18 09:46] totalard opened #3210 "How i get My Related Data from model Instance"
Dear,

truble is in node APi
Not Angular SDK

I tried Many time, i have run this code

`Post.findById(1,{
include: 'comments'
}).then(function(posts){
 //Now posts a instance of Post;
})

How i get comments related to it from the instance. ?
like **posts.comments()**

It is not working
One method is working posts.comments.getAsync()
But i Think getAsync will do a seperate query to database, What i

[2017-02-18 10:44] perkd commented on #1905
+1

[2017-02-19 00:58] BoLaMN commented on #3151
I think I figured this out last week I believe there was an equals some where that's comparing the role mapping principalType of 'Role' against the defined acl accessType of 'ROLE' and gets filtered out some where.

I also think there is an issue with https://github.com/strongloop/loopback/blob/master/common/models/acl.js#L114 as it's got an || ALL so for the acls that don't have a property set li

[2017-02-19 11:58] barocsi commented on #1512
Any updates? Still swallowing the real errors for example next({error}) from an observe 'access' or 'loaded' funtion.

[2017-02-19 21:05] ilkerc commented on #3210
As I understood, you want to access the comments of a Post (post/{:id}/comments).
I think you should access them over comments, think "objId" as the fK

[code]

And I would suggest you to use the [gitter](https://gitter.im/strongloop/loopback) for your questions.

[2017-02-20 14:51] sam-github commented on #3179
The IPv6 equivalent is `http://[::]:<port>`, but it doesn't work in Chrome, so I assumed it just didn't work at all, so I tried `::1` (explicit localhost IPv6), and that didn't work either...

Then I read [this](http://superuser.com/questions/852484/why-cant-chromium-connect-to-http-18080-i-e-ipv6-localhost) and tried with Firefox, and it does work, and tried the suggestion above, and it didn't wo

[2017-02-20 14:52] sam-github commented on #3179
https://github.com/nodejs/node/issues/9390#issuecomment-280394892 <--- looks relevant

[2017-02-20 15:34] enricop89 opened #3212 "loopback-connector-mysql: dataSource.discoverSchema doesn't read the default value from db"
# Description/Steps to reproduce
Hi all,

I am using the dataSource API discoverSchema.. Everything works well except for one thing... the model produced doesn't contain the default value (only for certain type of data). It seems like the API doesn't read the default property from Db.

Example:

Table 'COMPANY':

<img width="1107" alt="screen shot 2017-02-20 at 16 16 20" src="https://cloud.githubu

[2017-02-20 22:56] deepakrkris commented on #2083
@superkhau @ritch we can use es6 features in loopback model.js files, but loopback models are themselves not es6 classes. The base model constructors in loopback are customized in every model.js with javascript function calls. So, extending model using es6 classes is not a feature, loopback supports.

[2017-02-20 22:59] deepakrkris commented on #2083
@moimael do you want to recognize ES6 classes as models, when you drop corresponding JS files somewhere in the project? There is no out of the box solution for that.
But we can use es6 features in model.js files. I will add documentation for that.

[2017-02-20 23:24] greaterweb opened #3215 "Problems extending User model with loopback v3.3.0"
# Description/Steps to reproduce
1. Scaffold a new loopback project using the CLI (eg. `lb`)
2. In `server/model-config.json` find the builtin model reference:
[code]

and replace with the custom model reference:
[code]

**the `user` name for the custom model as it is used as seen in other examples, I will retest with a custom model name as well**

3. Create a new model setting `User` as the `base

[2017-02-20 23:33] raymondfeng commented on #3215
The offending code is introduced by https://github.com/strongloop/loopback/commit/9fe084fffd1d431a9af94b498003b725e4e73abe.

Does your AccessToken model has a relation to User so that https://github.com/strongloop/loopback/commit/9fe084fffd1d431a9af94b498003b725e4e73abe#diff-5d81af95449574544e7317f3eda2badeR693 won't have `undefined` relatedUser?

[2017-02-20 23:42] greaterweb commented on #3215
@raymondfeng thank you for the prompt response!

I've updated the original ticket to include a few more details on steps to reproduce.

To answer your question, with my example I've not defined any custom relationships with the builtin `AccessToken` model. I'll create a quick repo with sample code and see if I can resolve the issue through configuration.

[2017-02-20 23:47] raymondfeng commented on #3215
In your case, built-in `AccessToken` has a belongsTo relation `user` to the built-in `User` model. Since you remove `User` from `model-config.json`, the relation is not resolved for `AccessToken`. You probably need to create a subclass for `AccessToken` with a `user` relation to your new user model.

[2017-02-21 00:05] greaterweb commented on #3215
I guess this opens the flood gates to architecture/design discussions related to extending the `User` model (I know it's something your team has discussed at length before). What is the best way to allow developers to extend the builtin `User` model and retain all of the "out of the box" benefits such as wiring to other models such as `AccessToken` and integration with components such as [loopback

[2017-02-21 01:57] greaterweb commented on #3215
@raymondfeng @superkhau

I've created a [sample repo](https://github.com/greaterweb/loopback-issue-3215) to explore the issue, please see the branches below.

A rather simple [user setup boot script](https://github.com/greaterweb/loopback-issue-3215/blob/0153ac19e456e180564432dfc3bb7bef93309ca1/server/boot/user-setup.js) has been added to trigger the issue. If you run `npm install` and then `node

[2017-02-21 02:11] superkhau commented on #3215
cc @bajtos

[2017-02-21 02:13] Abreu0101 commented on #974
@ritch I'm following your advice. And to make a simple test I set the `Cron` to run every `5min`, and from the `explorer` I keep getting an endpoint (with just one record), and when the cron run (at min 5), the response takes a little more time than normal.  Is it related to the boot script loading again? (Note, I also add the `Async` library). Is there a way to access the model, without loading t

[2017-02-21 02:59] deepakrkris commented on #1028
timeboxed to 3 points

[2017-02-21 03:17] deepakrkris opened #3216 "Extend model using ES6 classes"
- [ ] spike on loopback documentation to provide some ES6 examples
- [ ] how to extend models with es6 classes.

connect to https://github.com/strongloop/loopback/issues/2083

[2017-02-21 03:17] #3216 closed

[2017-02-21 11:39] pierreclr opened #3217 "Can't extend user prototype"
Hi there, I encounter a problem on my custom user model (which extends User). This is the only model on which I can't access my custom prototypal methods. When I `console.log(app.models.user.prototype)` I can't see any of my methods but those of the builtin model ... However they are working on the explorer but not internally.

Any help please ? I just want to do some
[code]

Is this issue already

[2017-02-21 12:39] bajtos commented on #1028
IMO, we should be promoting/documenting the approach presented in https://github.com/strongloop/loopback/issues/1028#issuecomment-116134548 - the built-in method should be disabled, and a different new method should be mapped to the HTTP endpoint of the disabled built-in method.

The example in the issue description may break code that's expecting certain signatures of built-in model methods.

[co

[2017-02-21 12:48] bajtos commented on #3215
cc @ebarault who is the author of  9fe084f which introduced this regression.

@greaterweb thank you for such detailed bug report!

I think we should:

 1. Fix the code to handle the case where the user model does not have "hasMany AccessToken" relation set up at all. While this may be a wrong configuration (a problem at user side), we shouldn't be crashing applications after upgrade to a newer Loo

[2017-02-21 19:19] kjdelisle commented on #1275
We'll be deferring this to the next major version of LoopBack, which will support batch operations.

[2017-02-21 19:19] #1275 closed

[2017-02-21 19:58] nVitius commented on #1275
@kjdelisle Is there a roadmap for when that is planned to be released?

[2017-02-21 20:06] kjdelisle commented on #1275
It's still very much in the planning phase as far as I'm aware. @raymondfeng Do we have a rough timeline for 4.x?

[2017-02-21 20:12] zbarbuto commented on #1275
Would also love to see a roadmap of upcoming and future features/fixes

[2017-02-22 00:26] antarasi commented on #569
Elegant way of getting userId from acccessToken by request object in remote method:
[code]

[2017-02-22 00:39] greaterweb commented on #3215
@bajtos with regards to point 4, I can certainly help provide some additional context with more specific examples for tests that once worked which now fail. I'm traveling this week for work so it may be a little delayed but I will try to update the sample repo with some of the test scenarios. A quick look though at the one project I tried the solution from `dev/mask-issue`, the failing tests seem

[2017-02-22 07:41] padelagani commented on #3217
@pierreclr Where have you created your prototype method ?

[2017-02-22 08:43] pierreclr commented on #3217
In `common/user.js` but In this file I also require another file in wich I have part of the logique :
common/models
   user/contacts.js
   user.json
   user.js

user.js is like
[code]

[2017-02-22 11:23] MrsBookik opened #3220 "LIMIT-Parameter has strange results on included relations"
# Description/Steps to reproduce

I want to query via REST-API all records of a (parent)-model including its related models. But the latter one i want to limit to a specific amount of maximum records transfered.

#Models:

    -   DEPARTMENT
        Fields:
            - id
            - name
            - ...
        Relations_ -> hasMany: Messages
        Relations_ -> hasMany: Members

    - ME

[2017-02-22 13:09] bajtos commented on #1512
@barocsi I am afraid this issue is not a priority for us right now. Would you like to contribute this change yourself? I am happy to help you along the way, just mention my handle in the pull request description. See this page to get you started: http://loopback.io/doc/en/contrib/code-contrib.html

[2017-02-22 13:15] bajtos commented on #3179
@sam-github thanks for the update. My take is that we should fix the code building the URL to detect `::`-like addresses (`::`, `::1`, etc.) and  convert them to `[::]`-like host in the URL. Maybe we should treat `::` in a special way and convert it to `localhost` to support Chrome, even if it means there may be inconsistency between `::` used by `listen()` on the server and IPv4 address used by t

[2017-02-22 16:09] timlind opened #3223 "Before create hook modelInstance"
Documentation should be provided for what modelInstance refers to on a before remote create hook, is it invalid, is it a model instance containing the input values, or is it a model instance prior to mixing in the values from args.data, can args.data be manipulated before?
[code]
The current documentation specifically mentions modelInstance for the create hook, but it seems to be completely useles

[2017-02-22 18:20] siddhipai commented on #3194
Hi @totalard  ,
Could you provide more details with boot scripts' codes that are failing?

[2017-02-22 18:27] sam-github commented on #3179
@bajtos  I'm sorry, I am overloaded, and don't have time to make the fix. It maybe isn't even a big deal, it seems I did something unusual? Maybe flag as "good first contribution"?

I don't think there is an inconsistency, listening on `::` accepts connections to both IPv6 and IPv4, so whether `http://localhost` maps to `::1` or to `127.0.0.1`, both will work. The only thing that won't work is tha

[2017-02-22 20:42] #3205 closed

[2017-02-22 20:50] siddhipai commented on #3204
Hi @supasate

Can you provide me details with the code of boot script which did not work with jest?

[2017-02-22 21:11] ritch commented on #3223
https://loopback.io/doc/en/lb3/Remote-hooks.html does mention it several times.

Do you have some specific suggestions? Do you mind proposing a PR against github.com/strongloop/loopback.io ??

[2017-02-22 21:18] #3207 closed

[2017-02-22 22:18] raymondfeng commented on #3207
To use Microsoft Table Storage with LoopBack, you are not required to have a connector (nice to have). There is a Node.js client - https://docs.microsoft.com/en-us/azure/storage/storage-nodejs-how-to-use-table-storage. You can use it directly with LoopBack.

[2017-02-22 22:22] emrahcetiner commented on #2719
Are there any sample applications related to bulk update?

[2017-02-22 23:12] siddhipai commented on #3141
Hey @kogutu
I reproduced your issue on local and I get the response as expected

![image](https://cloud.githubusercontent.com/assets/15273582/23237177/0e58c270-f911-11e6-9318-6029d2f453f8.png)

![image](https://cloud.githubusercontent.com/assets/15273582/23237195/242a66da-f911-11e6-951b-2c0d3a1f0256.png)

Please try to reproduce it on your machine too with new data. And let us know if you get it.

[2017-02-23 02:30] phil-hawkins commented on #1321
+1

[2017-02-23 05:28] xmanemran commented on #3207
I all ready write 50% of it. OK man I will try to complete it  @superkhau

[2017-02-23 06:36] NaqeebSial opened #3224 "Remote hooks on remote methods are not working when called from other model"
I know that remote hooks are middleware and apply only when a remote method is called from a client side, fine but what if I want to call a remote method from another model, my hooks on that remote model should work even then also because it is a part of my domain policy that whenever my  particular remote method is called a particular hook should be trigger. Remote hooks work fine on remote metho

[2017-02-23 09:31] PaddyMann opened #3225 "No way to do a count/exists with a JOIN (without writing SQL)"
# Description/Steps to reproduce

Currently `count` only takes a `where` argument rather than a `filter`.

I'm looking to do  check that a user has a `UserProjectRole` for a given `Organization`. It needs to join `UserProjectRole` with `Project` in order to check this.

There seems to be no solution for this.

My workaround is to write SQL:

    const sql = `
      SELECT COUNT(*) AS roleExists

[2017-02-23 11:16] tymlez opened #3226 "Hierarchical Dataaccess"
Hi,
is there  a way of a kind of hierarchical Data access ? Meaning if your model has an attribute  "Company ID" and the method "find" gets executed the first record with the specific CompanyID gets retrieved, but as a fallback if that "Compay ID" record doesn't exist another default record ( in our case Company = BLANK) gets retrieved. All of that must be completely in-transparent for any develop

[2017-02-23 12:04] sirmadboy commented on #2672
@mrjrdnthms where do I need to put changeCleanupInterval on my model config json file. for example I have this model.json file:
[code]

[2017-02-23 12:07] bajtos commented on #3215
+1

@greaterweb would you like to contribute this improvement to our documentation? I can help you to fill missing pieces once you have something to start with. See http://loopback.io/doc/en/contrib/doc-contrib.html to get started.

All your reasons make perfect sense to me.

+1

There are quite many things that models don't inherit right now, see these related issues:
 - https://github.com/strong

[2017-02-23 17:32] siddhipai commented on #3141
This is kind of weird when I reproduced this issue with mongodb.
There is some kind of restriction with the format of the number that @kogutu is passing.

I have created a boot script which is:
![image](https://cloud.githubusercontent.com/assets/15273582/23270016/3ed6b0b0-f9a7-11e6-9706-162d4b2bb21d.png)

and if i run the code I get:

![image](https://cloud.githubusercontent.com/assets/15273582/23

[2017-02-23 18:03] bajtos commented on #3179
Great idea, let's leave it at this :)

[2017-02-23 18:23] mrjrdnthms commented on #2672
@sirmadboy You put it at the root of the json file. I would also recommend adding replaceOnPUT, forceId, persistUndefinedAsNull as I ran into other issues without those properties set. Keep in mind I'm using mysql on server and sqlite on clients.

So your model would be:
`{
  "name": "employee",
  "base": "PersistedModel",
  "trackChanges": true,
  "properties": {
	"id": {
	  "type": "string",

[2017-02-23 18:46] siddhipai commented on #3204
Hi @supasate

Thanks for the information. That's a nice catch.
We can replace require.extensions with something that can go with node 4/6 for loopback 3. Would you like to contribute for the change?

[2017-02-23 20:35] simenko opened #3228 "New mechanism of forwarding request context via options arg does not work for model.find()"
I am trying to access request context via new mechanism of passing "options" object from remote method down to model methods.

I have "loaded"  operation hook on a user model:
[code]
I have a custom remote method, taking options from request, and I have some calls to user.model.findById() and user.model.find() in this method. I forward options argument as described here: https://strongloop.com/str

[2017-02-24 00:12] greaterweb commented on #3215
@bajtos I wouldn't object to assisting with the documentation but to be perfectly honest, I still think I need a little clarification as to what the actual best practices are for extending the `User` model.

For the Loopback project I cite in above comments with the failing tests, all now seem to passing once again when using the [`fix/invalidate-tokens`](https://github.com/strongloop/loopback/tre

[2017-02-24 10:05] OSMeteor opened #3229 "Make it easy to configure custom JSON response format"
- like this  {code:200,msg:"sucess",result:{}}  format all api .
- i can not write rest.js res

[2017-02-24 11:44] bajtos commented on #3215
By default, the built-in `User` and `AccessToken` models have the following relations configured:

 - `User hasMany AccessToken` - see [common/models/user.json#L88-L95](https://github.com/strongloop/loopback/blob/2570dda984b1d8758a168f48148392660bfab7e3/common/models/user.json#L88-L95)
 - `AccessToken belongsTo User` - see [common/models/access-token.json#L20-L24](https://github.com/strongloop/loo

[2017-02-24 12:39] bajtos commented on #3215
While implementing the warning message, I learned few more interesting facts:

Model relations are inherited. If the application has custom `user` model but uses the built-in `AccessToken` model, the relation "user hasMany accessTokens" will be configured correctly, no extra work is needed in `user` definition.

The problem starts when the app is extending both `User` and `AccessToken` models. In

[2017-02-24 12:46] bajtos commented on #3215
Based on my comment above, the first set of instructions should be corrected to the following:

So when setting up a custom User model while using the built-in AccessToken model, one needs to re-configure AccessToken's "belongsTo" relation to target the new User model. This can be configured in `server/model-config.json` as follows (assuming the new User model is called `user`):

[code]

[2017-02-24 13:30] #3210 closed

[2017-02-24 15:13] mathewvino opened #3232 "HasMany through relationship is not working when we explicitely add the id attribute"
Hi there,

Here are the three tables mapping;

Notice: If  we remove the id attribute from student/course table the join relationship will work:

I am looking for the following : Give me all the courses for student:

**Will work the below url** if we remove the id attributes from both tables (Student/course).
http://localhost:3000/api/students?filter[include]=courses

**Will not  work the below ur

[2017-02-24 17:02] supasate commented on #3204
Hi @siddhipai

I would like to contribute, however, I'm not quite sure what's is the right way to deal with it yet.

Based on this statement from [nodejs.org](https://nodejs.org/api/globals.html#globals_require_extensions) about `require.extensions`,

without `require.extensions`, how do we know which extensions are supported in runtime by other programs (custom loaders)? Do you have any idea on t

[2017-02-24 21:15] ninoguba commented on #591
Thanks @danielmihai your boot scripts gave me some ideas but I ended up just leaving ACL and AccessTokens in memory while the rest connected to a sql datasource.  Works great so far.  Do you guys see any issues with this approach?

[2017-02-24 22:54] KevinMongiello opened #3233 "Include relation filter crashes loopback"
# Description/Steps to reproduce

Minimal repo with which to reproduce bug:
https://github.com/KevinMongiello/loopback_include_bug

Steps to reproduce:
0a) Run mongodb
0b) Open up explorer  `http://localhost:3333/explorer`
1) Create/Post a new author,
2) Create/Post a new 'post'
3) Open "GET" in author section
4) Paste this in filter `{"include": {"relation": "post", "scope": {"fields": "id"}} }`

[2017-02-25 00:07] Freundschaft opened #3234 "Disable POST endpoint of replaceOrCreate method and keep PUT only"
Hi everybody,

when I have replaceOrCreate on an endpoint, it always shows me PUT and POST for replaceorcreate, I only want the PUT endpoint, but not the POSt endpoint. Is that possible?

I checked the loopback source and figured this out:

`var replaceOrCreateOptions = {
      description: 'Replace an existing model instance or insert a new one into the data source.',
      accessType: 'WRITE',

[2017-02-25 02:33] Freundschaft commented on #1955
I also always get an empty object for beforeRemote, thats really strange :/

[2017-02-25 07:30] nivincp commented on #591
Probably it'll clear the data inside these tables if it's configured in memory after a script restart.

[2017-02-25 10:45] frankorama commented on #2031
@TrySpace I know this is old, but I just had another look at your code.  You are attempting to add a new child instance (result) to the parent model (Node).  You need to add the children to a parent **_instance_**

Change your code as follows:
[code]