[2015-02-17 22:12] ritch opened #1100 "Create example for auth using loopback-connector-remote"

[2015-02-17 22:26] raymondfeng commented on #1099
Would you like to submit a patch?

[2015-02-17 22:38] superkhau commented on #1023
@AvivLander spoke to @raymondfeng regarding the issue and we suggest you resolve it by modifying `rethink.js` in the `jugglingdb-rethink` module (`your-project/node_modules/juggling-rethink/rethink.js`):

[code]

Let me know if that works for you.

[2015-02-17 22:40] zanzamar commented on #1073
You can try `npm cache clear` then run the install again.

[2015-02-18 00:16] krv783 opened #1101 "Updating Model Instance containing Array of Objects w/PUT, inserts [object Object] or crashes server"
I'm having an issue when updating a model instance (PUT) which contains an array of objects. The model in question (Product) is persisted in MySQL. The "variations" property is an array of objects (other models), which in turn, are nested further. When I ```POST /Products``` a new Product through StrongLoop API Explorer, all is well, and the "variations" column in MySQL is populated with the corre

[2015-02-18 03:04] partap commented on #418
I agree... I've already forgotten it a few times writing the unit tests :-/

Hear hear.

Ok... I wasn't sure what you guys would think about adding new methods to
the API, but that does sound like the best way to go about it, while
staying backwards compatible.

Let's keep this simple and disable the batch create in the promise mode for

Will do...

 I could, for example, attach a $promise variabl

[2015-02-18 09:28] roopesh90 commented on #1073
Hey thanks for the reply @zanzamar.
unfortunately, it didn't work. Ended up with the same error

[2015-02-18 13:34] bajtos commented on #292
My last comment was rather incorrect, let me correct.

There is no out-of-the-box way how to implement `lastupdated` model property. The right approach is to use a `before save` hook, indeed.

The `created` property can be implemented with `default: '$now'` and it will work as long as the calls of `updateOrCreate` are always passing the full object data retrieved from the database in the "update"

[2015-02-18 13:47] krv783 commented on #1101
I have narrowed down the issue. When updating a Product instance via ```PUT /Products```, and including the ```productId``` in the request payload, it inserts ```[object Object]```, into the ```variations``` field in MySQL. I believe this shouldn't happen.

The server will crash with the above stack trace if using ```PUT /Products/{id}```, ONLY when updating a ```variations``` field that ALREADY c

[2015-02-18 15:46] zanemcca opened #1103 "Trailing whitespace in lib/persisted-model.js"
I am getting build failures due to trailing whitespace. I believe it is related to 538e9f0c625b81f338d1f9125dcc086c329cc218 any idea on this @crandmck?

[2015-02-18 15:51] zanemcca commented on #1099
Submitted a patch. The build is failing due to issue #1103 though. I will await a fix for it.

[2015-02-18 16:48] raymondfeng commented on #1101
Thanks. We'll investigate.

[2015-02-18 16:53] crandmck commented on #1103
All my changes in that commit were in doc. comments.  Can trailing whitespace in a comment cause a build failure?  Also, AFAIK, our CI tests continue to pass.
@ritch any idea?

[2015-02-18 17:14] raymondfeng commented on #1103
See https://github.com/strongloop/loopback/pull/1104 <https://github.com/strongloop/loopback/pull/1104>

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc.

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://strongloop.com/mobile-application-development/loopback/> in Node, plus get DevOps capabilities <http://strongloop.com/node-js-performance/strongops/>

[2015-02-18 17:19] #1103 closed

[2015-02-18 17:19] raymondfeng commented on #1103
Fixed by https://github.com/strongloop/loopback/pull/1104

[2015-02-18 17:33] #1099 closed

[2015-02-18 17:52] crandmck commented on #1103
@zanemcca Apologies.  I didn't even realize my commit had trailing whitespaces.  Apparently, our build framework does not consider these checks fatal.  I just configured my editor to trim trailing whitespace, so this shouldn't happen again.

[2015-02-18 18:17] zanemcca commented on #1103
@crandmck No problem I figured it was something minor like that.

[2015-02-18 18:32] krv783 commented on #1101
I found something that seems to fix the problem...in my case at least..

at line: 361 in ```/loopback-datasource-juggler/lib/dao.js```

```self.getDataSource().connector.updateOrCreate(Model.modelName, update, done);```

should be changed to:

```self.getDataSource().connector.updateOrCreate(Model.modelName, self._forDB(update), done);```

this corrected the issue with ```PUT /Product```, when I w

[2015-02-18 18:42] zanemcca opened #1105 "Inherit remote method from base class or through hasOne or embedsOne"
Essentially I have a vote model that has upvote and downvote remoteMethods and I wish to have the vote model contained within multiple other models and I do not want to rewrite the remote methods so it would be better if I could inherit them through model inheritence, hasOne or embedsOne relations.

Is this possible somehow?

[2015-02-18 19:17] raymondfeng commented on #1101
Actually, that seems to be a good fix. Do you want to submit a patch with tests?

[2015-02-18 19:28] krv783 commented on #1101
I'm really new to Github. I tried forking the loopback-datasource-juggler
Repo and pushing my changes but I'm stuck at ERROR: Permission to
strongloop/loopback-datasource-juggler.git denied to krv783. Forgive me for
my ignorance :/ Otherwise I probably would..

On Wed, Feb 18, 2015 at 2:17 PM, Raymond Feng <notifications@github.com>
wrote:

[2015-02-18 19:36] raymondfeng commented on #1101
Here are the steps:

1. Fork the strongloop/loopback-datasource-juggler repo into your own account
2. `git clone your-repo-url`
3. Make changes
4. commit and push to your repo
5. Go to your repo and create a pull request

[2015-02-18 19:49] ritch commented on #981
Technically this is not a bug... but if you do not use GUIDs you will run into them fairly quickly.

[2015-02-18 23:47] reichert621 opened #1107 "Can't add attachments to user verification email"
When using the `User.prototype.verify` function (http://docs.strongloop.com/display/public/LB/User#user-prototype-verify), I'd like to include `attachments` in the options. The verification email we're sending includes an image, and this image can't be displayed with adding it as an attachment. See https://github.com/andris9/Nodemailer#attachments

I've created a pull request for this issue here:

[2015-02-19 01:19] crandmck commented on #832
@bajtos Can you explain what it means for a prop. to be "hidden"?

[2015-02-19 01:20] crandmck commented on #718
@raymondfeng Can you answer the above?

[2015-02-19 06:11] blackvirus18 opened #1109 "Anomaly in router.stack sorting"
Hi Team,

I am experiencing an anomaly in the way stable sort is working on the router.stack object in server-app.js. On two different linux boxes I am getting different results. Find below the logs after sorting has been applied on router.stack object.

VM-Ware 1

[ { handle: { [Function: query] __NR_original: [Function: query] },
    name: 'query',
    params: undefined,
    path: undefined,

[2015-02-19 07:26] raymondfeng commented on #1109
I noticed that the `phase` property is missing for a few routes on VM-Ware1.

[2015-02-19 10:55] blackvirus18 commented on #1109
Yes, Raymond that does seem to be the root cause but the point is that with the same codebase and and same middleware config files **phase** property is coming on VM-Ware 2 but not on VM-Ware 1 and this is causing a lot of problems for us.

[2015-02-19 13:21] bajtos commented on #832
@crandmck A hidden property is not send in the JSON data returned in the server response. An example of a hidden property is `User.password`.

[2015-02-19 15:29] listepo commented on #1021
+1

[2015-02-19 15:30] listepo commented on #1021
on when this feature is planned?

[2015-02-19 16:49] raymondfeng commented on #1021
The author of https://github.com/fuwaneko/jugglingdb-rethink has the following disclaimer.

The module is mostly compatible with LB. Can some of you reach out to @fuwaneko? Maybe he can port it to LB.

[2015-02-19 17:01] raymondfeng commented on #1109
Can you make sure both installations have the exact same versions of dependencies? Can you try to zip up the app on VM-Ware2  and unzip it to VM-Ware1.

For clean npm install, you can do the following too:
[code]

[2015-02-19 18:38] kidwm opened #1110 "include in default scope does not work in model returned after created"
It seemed to be not able to include data of other model in json gotten after sending POST to /api/models ?

[2015-02-19 19:13] superkhau commented on #1023
@AvivLander Did you get any further on this?

[2015-02-19 19:45] raymondfeng commented on #1110
Can you elaborate what you are trying to do?

[2015-02-19 19:46] raymondfeng commented on #1097
@billinghamj Are you willing to contribute a patch?

[2015-02-19 19:50] ritch commented on #418
Haha! so true

[2015-02-19 21:16] sjmcdowall commented on #782
simoami -- any chance you can expand on this? I'm having an issue deploying my mongodb app to bluemix -- says it can't connect to the DB even through the URI looks ok ...

[2015-02-19 22:08] #932 closed

[2015-02-19 22:09] greaterweb commented on #632
Closing.

[2015-02-19 22:09] #632 closed

[2015-02-19 22:42] billinghamj commented on #1097
@raymondfeng Yes absolutely, would be happy to. Just want to make sure there is a chance to discuss it first.

[2015-02-19 23:44] crandmck commented on #832
OK, thanks @bajtos.  I added to http://docs.strongloop.com/display/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Hiddenproperties.
Is the value of the "hidden" key always an array of strings?  Can it be anything else? I assume that each string must match the name of a property, right?

This is minimal reference documentation.  If you have any suggestions of where else to mention it in the

[2015-02-20 00:06] Nutelac commented on #1094
I'm not sure if I get it, but so far I tried:
[code]

but when I for example make POST request:
[code]

the "group" field in response is missing.
[code]

[2015-02-20 00:07] Nutelac commented on #1110
It is the same problem described here https://github.com/strongloop/loopback/issues/1094?

[2015-02-20 00:11] crandmck commented on #1069
The following models have settings:

Base Model - modelClass.settings.acls - array of ACLs

[Change](https://github.com/strongloop/loopback/blob/master/common/models/change.js)
 - `hashAlgorithm` : crypto.createHash default is sha1
 - `ignoreErrors`:  if true then when changes are rectified, will throw unless it is true.

[ACL](https://github.com/strongloop/loopback/blob/master/common/models/acl.j

[2015-02-20 00:38] raymondfeng commented on #1094
That's expected. The default scope won't come into the picture for the response of create. But subsequent queries will include the `group`.

[2015-02-20 01:37] kidwm commented on #1110
@Nutelac Yes, thank you!

[2015-02-20 02:01] blackvirus18 commented on #1109
Yes Raymond I already did that but still facing the same issue.

[2015-02-20 04:42] clarkbw commented on #1092
Looking into this I couldn't find an easy way to search for all instances at once.  There are limits on the length of searches and the number of ORs you can use.  So these links offer some redundant results but at the same time some good places to start.

`afterInitialize OR beforeValidate OR afterValidate OR beforeSave OR afterSave user:strongloop language:JavaScript`

https://github.com/search?u

[2015-02-20 11:21] bajtos commented on #832
Yes, it's always an array of strings and the strings must match existing property names.

I think it makes sense to mention this in places where we are describing REST API exposed by Models and also in the place where we show how to hide remote methods from the API.

[2015-02-20 11:59] PuKoren opened #1111 "Appending data to a model's Array type property"
## Description

I'm trying to achive appending of objects into a property (array type) of a document that already exists, using *PUT*.

## Exemple:

### I have the following object into my database:
[code]
*events* is described in my model with type: ["object"]

### I try to obtain:
[code]

### By sending:
[code]
In the *PUT* request.

### What I obtained
[code]

This seems logical to me, as I req

[2015-02-20 12:03] fabien commented on #1111
If you model your 'events' array as an `embedsMany` relation, you can treat it just like a regular relation, and thus, append using POST `/api/things/events`.

[2015-02-20 12:20] seriousben commented on #1094
to make it work, we use an remote after create hook where we put the
`group` relation in user.__data
Same pattern followed by User.login where the user can be returned within
an AccessToken.

--Benjamin Boudreau
    http://seriousben.com/

On Thu, Feb 19, 2015 at 7:38 PM, Raymond Feng <notifications@github.com>
wrote:

[2015-02-20 13:13] PuKoren commented on #1111
Can you provide me an exemple ?
I tried:
[code]
Nothing shows off

I tried also to create an empty PersistedModel called "empty" as below:
[code]
Set it as dataSource: "db" in the model-config because otherwise it is not exposed on API, and used for relation:
[code]
But it creates an "empties" property of type array inside my document (shouldn't it be "events" ?) that  now looks like:
[code]

Is i

[2015-02-20 13:19] bajtos commented on #932
For posterity, the issue was fixed by the commit a028d9d19, released as `loopback@2.11.0`.

[2015-02-20 13:20] fabien commented on #1111
Yes, this is normal - you're well on your way with this solution. The relationship accessor will be called `events`, yet the property is called `empties` (however, you can set the as: `property: '_events'` for example). Note that the actual property and relationship accessor cannot have the same name, because they would clobber.

[2015-02-20 13:46] PuKoren commented on #1111
Thanks for your answer.
Now last step, when I try to create the model, I have the following error:
[code]

So I tried with this in the model relation (as documented here at bottom: http://docs.strongloop.com/display/public/LB/Embedded+models+and+relations)
[code]
But the same error is triggered.

Any idea how to bypass this?

[2015-02-20 14:08] fuwaneko commented on #1021
@raymondfeng Sure I can :)

[2015-02-20 15:11] blainsmith commented on #960
I came across this issue to so I dug into the LoopBack code itself to find that by default all related model methods have a DENY ALL ACL set. You need to explicitly open them up.

http://docs.strongloop.com/display/public/LB/Restricting+access+to+related+models

The ACLs do not inherit from the target model's endpoint.

[code]

This definitely tripped me up for a while and is not explained in the

[2015-02-20 15:16] PuKoren commented on #1111
While waiting for your response, I ended up with this code.
That does the job for me (caution with this snipped you are able to append but you can't delete from an embedded array. This is also bad performance since you have to query the DB to fetch and then save data again. *Brrrrr bad bad*).
[code]

I'm still waiting for more info on how to achieve this

[2015-02-20 16:14] fuwaneko commented on #1023
@superkhau There is no getDefaultIdType in JugglingDB. I've tried to define type for ID same way it's done in MongoDB module. You can try latest [code](https://github.com/fuwaneko/jugglingdb-rethink/blob/master/rethink.js#L94) from master branch on GitHub, but I doubt it'll work. Never did for me, that's why I didn't push it to npm.

[2015-02-20 16:22] raymondfeng commented on #1023
@fuwaneko Thank you for chiming in. `loopback-datasource-juggler` was initially forked from `jugglingdb` but it has been evolved for a long time. Most of the contracts for connector implementations are still the same, but LoopBack does introduce additional things.  `getDefaultIdType` if one of the new things and it tells LoopBack what's the default type for `id`.

Would you like to port `jugglingd

[2015-02-20 16:25] raymondfeng commented on #1021
@fuwaneko That's great! See https://github.com/strongloop/loopback/issues/1023#issuecomment-75265962. I look forward to a fully functional rethinkdb connector for LB.

[2015-02-20 17:18] greaterweb opened #1115 "User Model API Docs vs User Model Config"
There seems to be a difference in the [properties documented](http://apidocs.strongloop.com/loopback/v/2.12.1/#user) for the User model and those actually present in the [model configuration](https://github.com/strongloop/loopback/blob/b57cd3e40936ee40a03465391b2aeb024cb07d30/common/models/user.json#L3-L31).

In Documentation:
* `username`
* `password`
* `email`
* `emailVerified`
* `verificationTo

[2015-02-20 18:15] fuwaneko commented on #1023
@raymondfeng Yeah, I try to pass all the tests and it seems there's a problem with [findByIds](https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/basic-querying.test.js#L83) and [sorting](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L648). In this test you pass numbers but ids in Rethink are UUIDs (represented by strings), so it won't sor

[2015-02-20 18:17] raymondfeng commented on #1023
Can you provide a link to your repo that runs tests with juggler? We can investigate a bit.

[2015-02-20 18:23] fuwaneko commented on #1023
@raymondfeng https://github.com/fuwaneko/loopback-connector-rethinkdb sure, I've just started though.

[2015-02-20 18:37] simoami commented on #782
Not sure if this will help you, but here's what I've done:

I modified server.js, right after setting the errorHandler (line 54) and added the following:

[code]
This is something you could set in the config files as well, if you use a js based config file.

Also, make sure you use the proper environment variables instead of hardcoding URIs and other settings.

I hope this solves your problem.

[2015-02-20 18:37] bajtos commented on #617
Actually, this issue is not related to #1048 nor replication, as the change tracking algorithm does not use `changed` events.

A workaround is to use the new `after save` hook instead of `changed` event.

[2015-02-20 18:42] ritch opened #1117 "Bearer tokens should not be decoded"
Currently bearer tokens are [treated as base64 encoded strings](https://github.com/strongloop/loopback/blob/master/common/models/access-token.js#L196). According to HTTP 1.1 and OAuth 2 they are not base64 but instead plain text with only base64 characters allowed.

Since access tokens already meet this requirement, the base64 encoding / decoding really has no real purpose AFAICT.

@rmg do you hav

[2015-02-20 18:42] sjmcdowall commented on #782
Thanks -- but that won't help me access the MonoDB instance at MongoDBLab .. Need to somehow hash up the datasources properly (I think, just a guess on my part) -- but thanks for the suggestion!!

[2015-02-20 18:46] simoami commented on #782
My issue was that the app couldn't start at all, and bluemix couldn't connect to my app since the port and host were not dynamic in my app. I had to use process.env.VCAP_APP_HOST instead of process.env.HOST. same goes to other parameters from other services.

[2015-02-20 18:51] sjmcdowall commented on #782
Ah -- I luckily had that fixed before -- it's just access my MongoDB service ... thanks though!! Yeah, it's a bit tricky writing "proper" deployable scalable apps.. but I love it when it works. :)

[2015-02-20 18:55] rmg commented on #1117
The code you linked to is for Basic auth only, the handler for Bearer is a few lines above.

This is done because Basic auth specifies base64, and if you give a token as your user/pass and let the browser/curl/library pass it as basic auth, it will base64 what you give it.

[2015-02-20 19:09] ritch commented on #1117
@rmg I was looking at the wrong line... fixed the link.

[2015-02-20 19:10] bajtos opened #1118 "Example of `defaultFn` in model property definition"
See https://github.com/strongloop/loopback-datasource-juggler/pull/458.

I am not sure if there is an example app that can be updated to show this new feature.

[2015-02-20 19:15] rmg commented on #1117
Ah, I see now. I don't recall modifying that line. Might have just been a whitespace change. I tried not to modify any behavior other than the Basic auth case.

[2015-02-20 19:21] bajtos commented on #982
This is a problem not specific to bulkUpdate only, it is also a problem when calling model methods from Mocha unit tests ([mailing list thread](https://groups.google.com/forum/#!msg/loopbackjs/zPBnpxuzx5o/g0renTQpdBcJ)) and strong-mq message listeners (gitter: *subscribing to events does not involve a req object, and thus the middleware to initialize the context is not executed. Can you think of a

[2015-02-20 19:55] raymondfeng commented on #1117
It's required by oAuth 2.0 Bearer token spec to be b64: https://tools.ietf.org/html/rfc6750#section-2.1

[2015-02-20 20:04] raymondfeng commented on #1117
By checking https://github.com/jaredhanson/passport-http-bearer/blob/master/lib/strategy.js#L89-L101, it seems that the token value is not b64 decoded. Maybe b64 is just a recommended format for bearer tokens.

[2015-02-20 22:24] BerkeleyTrue commented on #982
I ended up changing the logic to avoid this issue. It would be nice to be able to do this in the future.

[2015-02-21 10:05] fabien commented on #1111
I think you should try inheriting from a model that is tied to a `Transient` datasource - there are examples of this in the relation tests. Your model will need an id, in order for the relationship to be valid (so you can update or delete by id, for example).

The `Transient` connector will handle autoId creation: https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/connectors

[2015-02-22 03:34] shaunbruno commented on #382
Reading the comments, I realize this issue was closed as there may have been no further discussion. As @offlinehacker  and @TFaga have noted, a scope/type concept to differentiate the reset password token from a normal token would solve the issue.

Having read the code in my current version (see version info below), if I'm not mistaken the normal reset password scenario (without being logged in) h

[2015-02-22 17:38] kidwm commented on #839
I have spent much time to find out how to set a hook for `PUT /api/Models`, more examples or method list would help.

[2015-02-22 17:45] raymondfeng commented on #382
+1 to add `scopes` to AccessToken model. We have a TODO to fully consolidate the oAuth2 related models with the base User/Application/AccessToken/Scope models.

[2015-02-22 17:56] kocsenc opened #1119 "Unable to retrieve contents of a many-to-many relationship using through model API"
I ran into a **reproducible**  problem with the created API. I am not sure if it’s a configuration issue or an actual bug.

As an example let’s use `Company` and `Major`. We made a many-to-many relationship using a **through model** called `CompanyMajor`.  Here are the model definitions (simplified):

`company.json`:
[code]

`major.json`:
[code]

`company-major.json`:
[code]

Steps to reproduce (u

[2015-02-22 18:01] raymondfeng commented on #1119
Thank you for reporting the issue. Would you please check in the example to a github repo and provide the link?

[2015-02-22 18:03] craigcabrey commented on #1119
I'm working on this with @kocsenc, I'll create a repo and link it here in a few minutes.

[2015-02-22 18:14] craigcabrey commented on #1119
Repo with reproducible issue: [craigcabrey/loopback-many-to-many-bug-example](https://github.com/craigcabrey/loopback-many-to-many-bug-example)

[2015-02-22 18:26] craigcabrey commented on #1119
I think the source of the issue is defining the `foreignKey`s. Removing those attributes results in the expected functionality working.

[2015-02-22 18:35] raymondfeng commented on #1119
The `foreignKey` for `hasMany` relation was wrong. For example,
[code]

The `foreignKey` is the key on the target model `Major` and it should be `companyId`.

Please fix the app as follows:
[code]

Same for Major.companies.

[2015-02-22 18:35] #1119 closed

[2015-02-22 19:14] kocsenc commented on #1119
Well that's embarrassing. Thanks for the very rapid response.

Very much appreciated

[2015-02-23 02:11] kidwm commented on #256
Hey, I just encountered the same problem, and turn to delay the models listing query for 1 second as a workaround.

[2015-02-23 10:37] PuKoren commented on #867
I fixed this using new "observe" method, as below:
[code]

[2015-02-23 11:53] psi-4ward opened #1121 "ACL wildcard in property for related Models?"
Hi there,
i often have ACL like:

[code]

Grant full access to the related model `Question` for the role `editor`. Sadly i have to explicitly define every method here. Probably we could support something like `__*__questions` ?
Or is there another ay to grant access to related models?

[2015-02-23 12:41] billinghamj opened #1122 "Non-collection resources"
Does Loopback support models where the resource it represents is a single object, rather than a collection? If so, how do you go about doing this?

The reason I wonder about this is because a lot of the base model docs reference instance object IDs. In the event of non-collection resources, there would be no ID.

[2015-02-23 13:38] bajtos commented on #617
I am proposing to not fix this issue and deprecate model events instead, in the same way as we are going to deprecate the old hooks "beforeSave/afterSave". The new operation hooks already cover all functionality offered by model events, and by keeping the number of overlapping APIs low, we will spent less time on their maintenance.

@ritch @raymondfeng @fabien @clarkorz  any objections?

[2015-02-23 17:14] ritch commented on #617
Sounds good. We should print an error when someone binds the deprecated events.

[2015-02-23 17:14] bajtos commented on #698
#1039 added a test to verify and document this contract. I am closing this issue a resolved.

[2015-02-23 17:14] #698 closed

[2015-02-23 17:21] raymondfeng commented on #382
The other thing is that we should only allow resetPassword by email if email verification is required and done.

[2015-02-23 17:22] crandmck commented on #839
@kidwm I will try to prioritize this work.  If you have any helpful examples or insights based on the time you spent, or even specific questions, I would greatly appreciate you sharing them here.

[2015-02-23 17:27] bajtos commented on #617
I'd rather print a deprecation warning via [depd](https://www.npmjs.com/package/depd) in the same way as express does.

[2015-02-23 17:45] crandmck commented on #832
OK, I added that info, and cross-referenced from:
 - [Exposing models over REST](http://docs.strongloop.com/display/LB/Exposing+models+over+REST#ExposingmodelsoverREST-Hidingproperties)
 - [Security considerations](http://docs.strongloop.com/display/LB/Security+considerations#Securityconsiderations-Hidingproperties)

I'm going to go ahead and close this since we're trying to wrap up the sprint.  L

[2015-02-23 17:45] #832 closed

[2015-02-23 17:48] ritch commented on #382
Agreed. We need support for scopes in ACLs first though. @raymondfeng can you link that issue here (or PR)?

Yep.

[2015-02-23 17:48] bajtos commented on #1109
@blackvirus18 Can you please simplify your application to the point where you have a minimal example that reproduces the issues and that you can share with us? Without that, it's impossible for us to help you.

[2015-02-23 17:53] ritch commented on #382
I like this idea actually... It means we must somehow tag the token though. @raymondfeng would this be possible using your scope implementation?

[2015-02-23 18:01] raymondfeng commented on #382
There are two things involved:

1. How to make sure there is only one active token in place per user for e-mail verification or password reset?
2. How to prevent the special tokens from being used out of scope?

For 1, we need to ensure the integrity during verify/resetPassword.
For 2, we need to add scopes to the access token.

[2015-02-23 18:27] bajtos commented on #953
This is possibly a duplicate of #517.

[2015-02-23 18:45] billinghamj opened #1123 "Foreign key existence not checked when adding to many-to-many"
Path like `/users/1/roles/rel/101`

Where `users` and `roles` have a many-to-many relationship

Adding role 101 to user 1.

The user ID is validated, however the role ID is not.

I'm intending on making a PR for this, but making this issue as a note for now

[2015-02-23 19:58] ritch commented on #1117
Exactly. Should we remove the decoding then?

[2015-02-23 20:15] ritch commented on #1056
I've run into this again... Somehow I had `loopback` linked into a `require('module').globalPaths` directory causing the version of loopback used with `boot()` and `server.js` to be different. IMO this shouldn't break since there is really no conflict.

I think the root issue is that loopback has some sort of state (the registry). If this was moved entirely to the app level (eg. `app.registry`) th

[2015-02-23 21:14] crandmck commented on #1069
@ritch I added docs in the above commit.  PTAL, or close if you prefer.

[2015-02-24 00:13] ritch commented on #1100
https://github.com/strongloop/loopback/issues/1100

[2015-02-24 00:14] ritch commented on #1069
Looks good...

[2015-02-24 00:14] #1069 closed

[2015-02-24 01:19] listepo commented on #1021
+1

[2015-02-24 02:50] greaterweb opened #1124 "/models and /routes Exposed To All Environments"
I'm pretty curious as to why `/models` and `/routes` are [exposed to all environments](https://github.com/strongloop/loopback/blob/master/server/middleware/rest.js#L31-L35) (in most cases, it would be at `/api/models` and `/api/routes`. Maybe this is something that could be useful for some sort of development/tooling purpose but I struggle a bit to find a reason why this is open.

To compound the

[2015-02-24 03:06] greaterweb commented on #1124
Temporary fix to disable the routes:

If default, generated loopback setup which includes `/server/boot/rest-api.js`:

[code]

[2015-02-24 05:35] pulkitsinghal opened #1125 "hasOne relationship does not populate foreignKey"
If `UserModel` `hasOne` of `GlobalConfigModel` then should something like `adminUser.globalConfigModels.create(...` should result in an instance of `GlobalConfigModel` which  has a foreignKey pointing back to UserModel ... right?

[code]

[code]

[2015-02-24 05:56] pulkitsinghal commented on #1125
here's a repo to demonstrate the problem: https://github.com/pulkitsinghal/loopback-issues-1125

[2015-02-24 06:40] shaunbruno commented on #382
@raymondfeng For (1) there are a couple options - of course as mentioned the reset token could be included as a (typically null - when not in use) property on the User model. Alternatively, I used for a personal implementation a separate ResetPasswordToken model with a 1-1 correspondence to it's owning User model. The second strategy affords additional tracking on the reset process (global number

[2015-02-24 06:57] raymondfeng commented on #1125
There is a user error at https://github.com/pulkitsinghal/loopback-issues-1125/blob/master/server/boot/create-model-instances.js#L47. The arg should be `devGlobalConfig`. Array is not supported here.

[2015-02-24 06:57] #1125 closed

[2015-02-24 07:22] bajtos opened #1126 "Better error handling in the replication algorithm"
At the moment, the change tracking & replication algorithm reports errors via `console.error`. We should  allow the user to provide a function to call when an error occurs.

[2015-02-24 07:24] #1048 closed

[2015-02-24 07:59] bajtos commented on #1056
IMO we don't need `Model.boot` because `app.model(MyModel)` already sets `MyModel.app = app` and emits `attached` event.

[code]

Another option is to modify `loopback.createModel` to fill `MyModel.loopback = loopback`. This will serve as a workaround until we implement per-app registry.

[2015-02-24 08:15] bajtos commented on #1020
We should get this for free once https://github.com/othiym23/async-listener/issues/14 is implemented and released.

[2015-02-24 12:58] moadqassem opened #1128 "Error while creating a loopback application in strongloop"
I have installed all the dependency for strongloop, e.g nodejs v0.12.0 and npm 2.5.1, and of course the strongloop using:

npm install strongloop
as its mentioned in their getting started page,and I can see the node_modules have been created for the strongloop however when I try to create a loopback application by using:

slc loopback
I keep getting this error:

Error loading module "loopback": [E

[2015-02-24 13:20] moadqassem commented on #1128
apparently I have to add the -g flag during installation, I have been looking inside the docs about if it has a special meaning, I guess its used for global installation which I am kinda not a fan of! however it worked afterwards

[2015-02-24 13:20] #1128 closed

[2015-02-24 14:23] johnsoftek commented on #382
Reset password is the only way at present to continue an incomplete
registration (where the verification link is not followed before expiry),
so don't close it off without some other work around.

On 24 February 2015 at 03:48, Ritchie Martori <notifications@github.com>
wrote:

[2015-02-24 14:27] sandinorc commented on #175
Help me please
events.js:72
        throw er; // Unhandled 'error' event
              ^
TypeError: Cannot call method 'create' of undefined
    at ModelConstructor.User.createAccessToken (/var/www/html/er/employees/main/node_modules/loopback/common/models/user.js:68:23)

[2015-02-24 15:09] pulkitsinghal commented on #1125
should i reopen the issue and change the title to make it about better validation of args?

[2015-02-24 16:14] raymondfeng commented on #1125
Maybe open a new one with the same link to your repo?

[2015-02-24 17:08] crandmck commented on #175
@bajtos Where did you find that link--it is broken.  And what is the actual article that needs to be fixed?

[2015-02-24 17:12] Pentiado commented on #1119
I found an error in docs: http://docs.strongloop.com/display/public/LB/HasManyThrough+relations
There is no way to contribute to documentation right now?

[2015-02-24 17:26] mikeblakeney commented on #961
just wondering if anyone has made any progress on this connector.  I'd love to jump in help with it.  I'm particularly interest in it's application to mobile devices...

[2015-02-24 17:32] superkhau commented on #1119
@Pentiado http://docs.strongloop.com/display/public/LB/Contributing+to+LoopBack+documentation

[2015-02-24 17:43] Pentiado commented on #1119
Thanks! Somehow I missed that. I just contributed to docs.

[2015-02-24 17:44] crandmck commented on #988
Cf http://docs.strongloop.com/display/LB/Synchronization

[2015-02-24 17:46] superkhau commented on #1119
@Pentiado NP and thanks for the contribution. ;)

[2015-02-24 18:02] ritch opened #1129 "Example of Replication using PubSub"
At the minimum we need an example of doing replication using pubsub. This might uncover the need for additional APIs. This depends on the new (wip) pubsub module.

https://github.com/strongloop/loopback-messaging/issues/2

[2015-02-24 18:26] #1100 closed

[2015-02-24 18:28] crandmck commented on #1119
@Pentiado I approved your edit per the [community workflow](http://docs.strongloop.com/display/public/LB/Contributing+to+LoopBack+documentation#ContributingtoLoopBackdocumentation-Communityworkflow).  Thanks!

[2015-02-24 18:36] ritch opened #1130 "Missing methods when extending User as user"
[edited for detail]
I have a model called `user` which extends the built-in `User` model. I create a simple remoteMethod called `greeting` following all the standard reference material (this method works on other, non extended models). However, the new remote method does not work on the `user` model unless the `User` model is set to `"public": false` in the `model-config.json`.

Note, this is rela

[2015-02-24 18:45] ritch commented on #1082
See "Auth Example"

[2015-02-24 18:45] #1082 closed

[2015-02-24 22:31] crandmck commented on #1118
This is documented per #388.   If/when we add it to an example app, then we can reference that in the docs as we..

[2015-02-24 22:34] #1070 closed

[2015-02-24 22:37] crandmck commented on #1071
Fixed by a82b33ec5c3cd043c53fed222ece2db67fc77c3c.

[2015-02-24 22:37] #1071 closed

[2015-02-24 23:31] chandadharap commented on #1118
@bajtos Am not sure if there is an example, perhaps you can follow up with Simon but update the example yourself.

[2015-02-25 03:27] avijohnson commented on #877
Could you guys post a simple example of a "like" query in loopback for MongoDB connector? Please refer me to one if already exists. Thx.

[2015-02-25 06:19] superkhau commented on #1124
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs.

[2015-02-25 06:27] superkhau commented on #1123
Can you provide a repo with steps-to-reproduce? We should verify issue before you submit a PR.

See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-02-25 06:29] superkhau commented on #1122
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-25 06:29] #1122 closed

[2015-02-25 06:31] superkhau commented on #1121
Would you like to submit a pull request?

[2015-02-25 06:36] superkhau commented on #1111
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

@fabien Since you are already working on this issue, I will leave it open (the new procedure is to redirect questions to the Google group).

[2015-02-25 06:39] superkhau commented on #1110
Closing as duplicate of #1094. @kidwm Repoen if this is still an issue.

[2015-02-25 06:39] #1110 closed

[2015-02-25 07:14] superkhau commented on #1107
Connected to #1106

[2015-02-25 07:14] superkhau commented on #1105
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-25 07:14] #1105 closed

[2015-02-25 07:20] superkhau commented on #1088
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-25 07:20] #1088 closed

[2015-02-25 07:20] #1085 closed

[2015-02-25 07:21] superkhau commented on #1081
Can you provide a repo with steps-to-reproduce? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-02-25 07:23] superkhau commented on #1078
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-25 07:23] #1078 closed

[2015-02-25 08:40] kidwm commented on #1094
@seriousben Thanks, I'll try to attach relation data in remote hook

[2015-02-25 11:04] psi-4ward commented on #1121
Dont know if i find time to dig this deep in the ACL implementation. Im not there for next 5 weeks

[2015-02-25 11:14] slawo commented on #961
@mikeblakeney I have not seen any port of this connector. Currently we're evaluating other options. If we chose to use loopback we'll probably have to do a port next year, if there are no new on this front.

[2015-02-25 11:26] slawo commented on #964
@raymondfeng Actually could you reopen this issue? regexp is not available with sqlite by default, making this a real issue for adapting additional connectors where regexp is not available.

Those functions might seem redundant but they are not and they don't add much clutter/overhead to the library.

[2015-02-25 12:19] bajtos commented on #985
be set ahead of the current checkpoint.

Here is a problem of that approach.

Because you are associating changes with the next checkpoint (CP+1), the latest changes will be replicated twice: once for "since=CP" and then again for "since=CP+1".

This is not only a performance degradation, it will cause false conflicts to be reported:

If a client does not replicate for a while, while other clients

[2015-02-25 12:22] bajtos commented on #175
@crandmck The link was there one year ago, I guess the page was moved since then? We should really preserve URLs when moving pages around in the docs.

[2015-02-25 12:38] bajtos commented on #1118
IMO we don't need an example app for this, the feature is simple enough to be understood even without any example.

[2015-02-25 12:38] #1118 closed

[2015-02-25 13:12] bajtos commented on #877
See https://groups.google.com/d/msg/loopbackjs/riXYU_DhG3c/rXGowuYvLMYJ

[code]

Via the REST API - see https://github.com/strongloop/loopback-connector-mongodb/pull/86

[code]

[2015-02-25 15:17] greaterweb commented on #1124
Ouch.

My questioning of the role these endpoints serve don't exactly invalidate the security implications here.

Take `/api/routes` for example, the response exposes all public endpoints including, HTTP method, accepted parameters and the loopback method that is invoked. I can't think of one good use case on why I would ever want to do this on a public facing site. This just seems like an open in

[2015-02-25 15:36] superkhau commented on #1061
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-25 15:36] #1061 closed

[2015-02-25 16:05] superkhau commented on #947
Please create a test project on github to reproduce the issue per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-25 16:30] fabien commented on #1111
@superkhau in that case, it's probably best to close this.

[2015-02-25 16:30] #1111 closed

[2015-02-25 16:42] raymondfeng commented on #961
It should be fairly straightforward to port https://github.com/jugglingdb/sqlite3-adapter to LoopBack.

[2015-02-25 17:02] estin commented on #947
repo for this issue https://github.com/estin/loopback-sandbox

[code]

P.S. I`m have not enough  experience with nodejs and loopback...

[2015-02-25 17:22] bajtos commented on #1124
I agree the security implications should be considered.

@raymondfeng @ritch do you remember why these routes were added?

@greaterweb Would you mind contributing the toggle for disabling these routes yourself?

[2015-02-25 18:24] ritch opened #1134 "Move /models /routes to explorer middleware"
[This issue](https://github.com/strongloop/loopback/issues/1124#issuecomment-76008965) raises the concern for these routes always being available. They should not be available from a vanilla use of `loopback.rest()`. Instead whatever is using them (I'm assuming explorer) should add them or turn them on.

[2015-02-25 18:25] ritch commented on #1124
These are used (or at least were) by the explorer. We should support some option to remove them or even better just move them to the explorer middleware and then if you disable the explorer you disable these routes.

I'm closing this issue in favor of an actionable one: https://github.com/strongloop/loopback/issues/1134

[2015-02-25 18:25] #1124 closed

[2015-02-25 18:31] bajtos commented on #1134
Note: loopback-explorer does not use this routes, it has it's own routes for ages. If there was not a backwards-compatibility concern, I would say the routes can be immediately deleted.

I am proposing to add a flag  that will control whether these routes are added or not. This new flag should be:
 - Enabled by default to preserve backwards compatibility.
 - Deprecated from the beginning, so that

[2015-02-25 18:46] crandmck commented on #175
Hah, I didn't notice that the date on that comment was 2014, not 2015...

Yes, I have been making more of an effort to do that, but unfortunately it is not easily done with Confluence (a significant issue with the product IMO).  In any case, in the past we made a number of sweeping changes in the organization that have broken old links, and there's no way to fix those at this point.

Also, I think

[2015-02-25 19:01] greaterweb commented on #1134
Thanks guys for looking into this.

I can take a stab at the first two items @bajtos has suggested. Depending on time, I might be able to look into the loopback-workspace one as well.

I'll be sure to include a few tests as good measure.

[2015-02-25 19:06] crandmck commented on #877
Since this seems to be a common question, I added it to the docs: http://docs.strongloop.com/display/LB/MongoDB+connector#MongoDBconnector-Case-insensitivequery

@bajtos - PTAL.

[2015-02-25 19:26] greaterweb commented on #1134
Trying to think through a config option that is meaningful and concise for this one, two options
* `disableLegacyExplorer` - (`boolean`, `false` by default) seems appropriate but is a bit lengthy - `true` disables the routes, `false` or omitting the option keeps them enabled
* `legacyExplorer` - (`boolean`, `true` by default) this shorter option seems better - `false` disables the routes, `true` o

[2015-02-25 20:24] greaterweb commented on #1134
Work completed to resolve this in PR. Though I wonder if we should improve the middleware to limit only `GET` requests.

[2015-02-26 00:18] ritch commented on #1060
@amenadiel I'm not sure what you are talking about exactly. The code you have should be fine... but I'm not sure what it is reference to.

[2015-02-26 00:18] #1060 closed

[2015-02-26 00:23] superkhau commented on #867
@PuKoren Is this good to close?

[2015-02-26 00:23] superkhau commented on #860
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-26 00:23] #860 closed

[2015-02-26 00:27] superkhau commented on #852
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-26 00:28] superkhau commented on #845
@panduroab Did @Cosmin-Parvulescu's solution work for you? Is this good to close?

[2015-02-26 00:29] crandmck commented on #1068
@raymondfeng I added authOptions to http://docs.strongloop.com/display/LB/Configuring+providers.json#Configuringproviders.json-OAuth2, but I need a general description and list of all the supported properties of `authOptions `-- is there anything other than `display` ?

[2015-02-26 00:30] superkhau commented on #844
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-26 00:30] #844 closed

[2015-02-26 00:31] superkhau commented on #830
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-26 00:31] #830 closed

[2015-02-26 00:37] crandmck commented on #843
OK, I clarified in [docs](http://docs.strongloop.com/display/LB/Exposing+models+over+REST#ExposingmodelsoverREST-Hidingendpointsforrelatedmodels).

[2015-02-26 00:37] #843 closed

[2015-02-26 00:44] pulkitsinghal commented on #852
I will but it may take me 2 weeks before I get around to it :(

[2015-02-26 00:49] superkhau commented on #852
Any help is appreciated. ;) We'll see what we can do in terms of priority.

[2015-02-26 00:53] superkhau commented on #829
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-26 00:53] #829 closed

[2015-02-26 01:04] ritch commented on #1115
@raymondfeng any thoughts?

[2015-02-26 01:38] crandmck commented on #523
@raymondfeng Should this be labeled as a doc issue?  If so, can you clarify what needs to be changed or added to docs?

[2015-02-26 02:15] superkhau commented on #820
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

@bajtos @raymondfeng @ritch PTAL, I want to close, but this could also be a bug. Labeling with Question for now.

[2015-02-26 02:20] superkhau commented on #802
@bajtos @raymondfeng @ritch PTAL, possible bug.

[2015-02-26 03:43] superkhau commented on #815
@simoami Is this good to close?

[2015-02-26 03:45] superkhau commented on #791
@bajtos @raymondfeng @ritch PTAL

[2015-02-26 03:48] superkhau commented on #753
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-26 03:49] superkhau commented on #736
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-26 03:49] #736 closed

[2015-02-26 03:49] superkhau commented on #733
@Spark-star Is this issue good to close?

[2015-02-26 03:52] superkhau commented on #728
@Spark-star Has the issue been resolved? Can I close it?

[2015-02-26 04:13] superkhau commented on #594
@ritch Is this still relevant?

[2015-02-26 04:15] superkhau commented on #579
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-26 04:18] superkhau commented on #567
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-26 04:18] #567 closed

[2015-02-26 04:20] superkhau commented on #561
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

@bajtos @raymondfeng @ritch PTAL

[2015-02-26 04:21] superkhau commented on #553
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-26 04:22] superkhau commented on #551
@ritch Is this still relevant?

[2015-02-26 04:23] superkhau commented on #547
@frankcarey Has the issue been resolved? Can I close it?

[2015-02-26 04:24] superkhau commented on #546
@frankcarey Has the issue been resolved? Can I close it?

[2015-02-26 04:25] superkhau commented on #542
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-26 04:25] #542 closed

[2015-02-26 04:25] superkhau commented on #537
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-26 04:25] #537 closed

[2015-02-26 04:27] superkhau commented on #535
@ian-lewis-cs Has the issue been resolved? Can I close it?

Also, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-26 04:28] superkhau commented on #530
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-26 04:29] superkhau commented on #528
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-26 04:36] bluestaralone opened #1136 "Discriminative orders of events in Operation hooks"
Base on this document, i want to convert from Model Hooks to Operation hooks but i got problem.
http://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-Migrationguide

In the document, check "before save" description, we will see that "The hook is triggered before the validation" so i want to validation model data, before call the hook so how can i do this ?

[2015-02-26 04:39] superkhau commented on #512
@johnsoftek Has the issue been resolved? Can I close it?

[2015-02-26 04:42] superkhau commented on #506
@bigmeech Has the issue been resolved? Can I close it?

[2015-02-26 04:43] superkhau commented on #500
@diproart Has the issue been resolved? Can I close it?

[2015-02-26 04:44] superkhau commented on #496
@altsang Is this still relevant?

[2015-02-26 04:45] superkhau commented on #485
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-26 04:51] superkhau commented on #476
@bajtos @raymondfeng @fabien Has the issue been resolved? Can I close it?

[2015-02-26 04:51] superkhau commented on #475
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-26 04:51] #475 closed

[2015-02-26 04:54] superkhau commented on #473
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

@bajtos @raymondfeng @ritch Safe to close?

[2015-02-26 04:54] superkhau commented on #461
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-26 04:55] superkhau commented on #450
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-26 05:02] Coobaha commented on #528
@superkhau its already merged

[2015-02-26 05:02] #528 closed

[2015-02-26 05:05] superkhau commented on #442
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-26 05:05] #442 closed

[2015-02-26 05:06] superkhau commented on #436
@raymondfeng Is this still relevant?

[2015-02-26 05:08] superkhau commented on #426
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-26 05:13] superkhau commented on #414
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-26 05:15] superkhau commented on #403
@crandmck Safe to close?

[2015-02-26 05:20] superkhau commented on #370
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-02-26 05:22] superkhau commented on #300
@raymondfeng @fabien Is this still relevant?

[2015-02-26 05:22] superkhau commented on #236
@raymondfeng @fabien Safe to close?

[2015-02-26 05:28] superkhau commented on #1136
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-02-26 05:28] #1136 closed

[2015-02-26 05:30] superkhau commented on #528
@Coobaha ty

[2015-02-26 05:42] #551 closed

[2015-02-26 06:07] LetsDoIt- commented on #426
@rubentorresbonet  the acl that you defined with the property __get__orders is for which model?
Is it for the user model or for the orders model?

[2015-02-26 06:50] bajtos commented on #877
LGTM, though I am not very familiar with MongoDB internals. @raymondfeng could you please take a look too?

[2015-02-26 07:10] bajtos commented on #1134
+1 for `legacyExplorer`, `disableLegacyExplorer=false` is a double negative which is better to avoid.

This part is easy, just add a new entry to [templates/components/api-server/component.js](https://github.com/strongloop/loopback-workspace/blob/5275efe737215ce7a4d338407c2ab173fd91ab6d/templates/components/api-server/component.js#L50) and a new unit-test to [test/end-to-end.js](https://github.com

[2015-02-26 07:13] srguiwiz commented on #763
Does the example really work?

Keep getting 401 Authorization Required when invoking that method, despite known good AccessToken.  Seems to be coming from loopback/common/models/roles.js .

What else do I need to do except above code, to make it work?

Did add one line for an HTTP GET for easier testing, so currently I have:

[code]

Then for URL (with valid token)

[code]

I keep getting

[code]

[2015-02-26 07:27] bajtos commented on #820
@superkhau It's ok to close this one, thanks for checking.

@skyserpent The current implementation of `User.login` allows clients to login via email+password, that's why the email field is required and must be unique. We would like to refactor the authentication to allow developers to provide their own `User` model (see "Pluggable authentication providers decoupled from the user model" in [Roadmap

[2015-02-26 07:27] #820 closed

[2015-02-26 07:31] bajtos opened #1137 "User model without email or without username"
LoopBack should allow developers to configure the `User` model to use only email+password or only username+password for logging in.

See #791, #820 and "Pluggable authentication providers decoupled from the user model" in the [Roadmap](https://github.com/strongloop/loopback/wiki/Roadmap)

[2015-02-26 07:31] bajtos commented on #820
Let's move the discussion to #1137.

[2015-02-26 07:32] bajtos commented on #791
This is not supported at the moment, see https://github.com/strongloop/loopback/issues/820#issuecomment-76133701. Let's move the discussion to #1137.

[2015-02-26 07:32] #791 closed

[2015-02-26 07:38] bajtos commented on #802
Relabelling as an enhancement.

@sam-github was recently asking for a similar feature in our chat.

At the moment, `PUT /api/things/:id` preforms `updateAttributes`, which allows the client to update only a subset of model properties. When the model is not found and a new instance is being created, this may be incorrect behaviour, because a new model may require additional properties.

Workaround:

[2015-02-26 07:46] bajtos commented on #594
We are tracking the progress using "#Epic: Components" milestone, see the [list of open stories](https://github.com/search?utf8=%E2%9C%93&q=milestone%3A%22%23Epic%3A+Components%22+user%3Astrongloop+is%3Aopen&type=Issues&ref=searchresults).

I believe it's ok to close this issue now.

[2015-02-26 07:46] #594 closed

[2015-02-26 07:47] #561 closed

[2015-02-26 07:50] bajtos commented on #476
Since there was activity since Aug last year, I think it's safe to close this issue. We can always reopen later if there is any new information added.

[2015-02-26 07:50] #476 closed

[2015-02-26 07:55] bajtos commented on #763
IIRC you need to add `isStatic:true` to your remoting metadata.

[code]

See also https://github.com/strongloop/loopback/issues/597.

[2015-02-26 07:59] rubentorresbonet commented on #426
@LetsDoIt- Have a look here: http://docs.strongloop.com/display/public/LB/Restricting+access+to+related+models

[2015-02-26 08:43] srguiwiz commented on #763
Tried variations without and with isStatic: true, and without and with prototype, and both with User.remoteMethod and with loopback.remoteMethod.  No luck.

[2015-02-26 08:47] mirow opened #1138 "Cannot change templating engine in User.verify() e-mails"
The ejs templating engine is hardcoded into the loopback core (loopback.template function), and User.verify() uses it when sending confirmation e-mail to users, so I cannot use any other templating engine.

[2015-02-26 08:55] bajtos commented on #763
Please run your app with `DEBUG=loopback*,strong-remoting*` and see if you can find any hints in the debug logs. If you are still not able to figure this out, then please post a question to our [mailing list](https://groups.google.com/forum/#!forum/loopbackjs), so that we don't derail this doc task into a support thread.

[2015-02-26 09:15] PuKoren commented on #867
If using `Device.definition.properties.createdAt.default` is considered as deprecated then I think it is good to close

[2015-02-26 09:41] bajtos commented on #617
@pungoyal @clarkorz You were discussing a new "created" event in #838. We would like to deprecate events in favour of Operation hooks. Is there any use case (beyond not-yet-implemented "ctx.isNewInstance") where you cannot replace your event-based implementation with an operation hook?

[2015-02-26 09:45] pungoyal commented on #617
@bajtos We have not followed the discussion about operational hooks. What would be a good place to get a grasp?

[2015-02-26 10:05] bajtos commented on #617
@pungoyal http://docs.strongloop.com/display/LB/Operation+hooks

[2015-02-26 14:50] johnsoftek commented on #512
@superkhau AFAIK, no.

Context propagation relates to supplying context around a remote request. From memory, ResetPassword is quite strange in that it does not return a result for the original request. Instead the example suggests listening on an emit event. That event does not supply the original request context and therefore the original url is not available.

[2015-02-26 17:08] simoami commented on #815
Yes, Thanks for the clarifications!

[2015-02-26 17:08] #815 closed

[2015-02-26 17:46] crandmck commented on #403
Yes, this is fixed -- Not sure why it wasn't closed previously.

[2015-02-26 17:46] #403 closed

[2015-02-26 18:09] cajoy opened #1139 "Indexes not auto updated"
I've created model without indexes (only ID by default). Put in some data.

To enable autoupdate In code I have

[code]

Where actual is true.

I've updated model and for one field I've added index

[code]

After restart server autoupdate still shows that database is actual and mongodb collection has not been updated.

[2015-02-26 18:22] raymondfeng commented on #1139
I don’t think mongodb connector implements isActual(). autoupdate calls ensureIndex(). So it should be safe to call it without checking the existence of indexes.

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc.

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://strongloop.com/mobile-application-development/loopback/> in Node, plus get DevOps capabiliti

[2015-02-26 18:32] cajoy commented on #1139
So just call autoupdate on all "restarts"?

[2015-02-26 20:52] cajoy commented on #1139
So I've removed isActual() but no indexes was updated in Mongodb collection

[2015-02-26 20:55] cajoy commented on #1139
I've found where is the issue.

autoupdate expects list of model names but not list of models.

I've fixed code and it works fine. But docs should be improved

[2015-02-26 20:55] #1139 closed

[2015-02-26 21:01] bajtos commented on #292
FYI, #453 implemented `defaultFn` option that accepts one of `guid`, `uuid` or `now`.

[2015-02-26 21:01] srguiwiz commented on #763
In [mailing list](https://groups.google.com/forum/#!msg/loopbackjs/lo2wtNDtAUM/z46PthrHpTsJ) Raymond then mentioned required additional step:

Add the following ACLs to the `"User"` model in `server/model-config.json`:

[code]

[2015-02-26 21:22] greaterweb commented on #1134
@bajtos, no problem. I can make the update to the loopback-workspace project

[2015-02-26 21:51] superkhau commented on #512
@bajtos @raymondfeng @ritch PTAL

[2015-02-26 21:52] superkhau commented on #867
@bajtos @raymondfeng @ritch PTAL

[2015-02-26 21:53] superkhau commented on #1138
Are you trying to use a different templating engine when using `User.verify`? Or for the entire app? Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report and I will verify your issue.

[2015-02-27 00:20] crandmck commented on #718
Updated http://docs.strongloop.com/display/LB/HasOne+relations as best as I could.  I have a number of questions inline in the article.  PTAL when you have a moment.

[2015-02-27 07:34] #485 closed

[2015-02-27 09:26] bajtos commented on #867
In general, there is no way for an atomic `upsert` to tell in advance whether it will create a new record (and therefore default values should be generated) or update an existing record (in which case the default values should not be generated).

Your workaround works only as long are your application does only one of the following:
 - either send a request without an id, thus triggering a regular

[2015-02-27 10:45] bajtos commented on #512
Regarding the current context - see https://github.com/strongloop/loopback/issues/982. I would expect that if the event is emitted from a HTTP handler, then the event listeners should be able to access the current context even now, before #982 is fixed.

As for passing the request context to "resetPasswordRequest", perhaps that can be added to loopback. I am not familiar with the current implement

[2015-02-27 13:06] pungoyal commented on #517
Can we upvote on this feature?

[2015-02-27 13:45] bajtos commented on #517
Sure, leave a comment containing one of `:+1:` or `+1` (as regular text, not like I did).

[2015-02-27 14:02] pungoyal commented on #517
:+1:

[2015-02-27 16:53] Jeff-Lewis commented on #517
+1

[2015-02-27 17:32] ritch commented on #985
The problem mentioned in your last comment **is not related to checkpoints**. This is because **we only track the latest revision**. If we add TTL support to juggler we can track more changes and allow the juggler to clean them up.

Let me be explicit about the purpose of checkpoints. They are a simple counter for each set of model changes (remember there isn't a client and a server just Model to

[2015-02-27 17:36] GameScripting commented on #517
+1

[2015-02-27 17:39] bajtos commented on #985
We had a long chat with @ritch and came to the following conclusions:

 - Checkpoints should be an optional optimisation, the replication must work even without them.

 - In order to get that, we must modify change-tracking to keep a history of all changes with a configurable TTL to prevent the changelog from becoming too lonng

 - The checkpoint manipulation should be moved outside of `.replicate

[2015-02-27 18:37] #617 closed

[2015-02-27 18:40] bajtos commented on #617
The events were marked as deprecated by strongloop/loopback-datasource-juggler#473. Please upgrade your code to use the new Operations hook.

[2015-02-27 19:33] weslley39 commented on #517
+1

[2015-02-27 19:54] mirow commented on #1138
I'm quite new to Loopback, so maybe I'm doing something wrong. I've tried to use different templating engines for the entire app (jade and handlebar so far), but they don't affect the e-mail sent from User.verify.

Correct me if I'm wrong, but it does look to me like this piece of code is hard-coded to always use ejs as a templating engine?:
https://github.com/strongloop/loopback/blob/master/lib/l

[2015-02-27 22:22] sam-github commented on #802
From chat:

[code]

[2015-02-27 22:30] brunocascio opened #1141 "How to save ObjectId in an array?"
For example, i have to model "likes", then:

[code]

Is that possible like above?

Note: I use mongoDB

[2015-02-27 22:39] fabien commented on #1141
I think you should look into `referencesMany` relations, it does exactly what you need.

[2015-02-27 23:08] brunocascio commented on #1141
Could you show me some example?

[code]

But in api explorer, i have to complete ALL fields of user...

[2015-02-28 00:03] raymondfeng commented on #718
HasOne relation doesn't play a role in deciding `$owner` role.

[2015-02-28 00:14] raymondfeng commented on #718
Doc reviewed and updated.

[2015-02-28 00:40] brunocascio commented on #1141
Also, I can to define the model as:

`likes:[ {type: String, unique: true} ]`

and create remote methods for handle this property, but don't like generate more code.

Any ideas?

[2015-02-28 01:12] violet-day commented on #517
:+1:

[2015-02-28 11:24] Telemakhos commented on #327
Is there an ETA for sprint65?

[2015-02-28 16:42] kidwm commented on #838
Sorry, but I have a newbie question, since then how do old model hook `afterCreate` work?

[2015-02-28 17:45] fabien opened #1142 "updateAttributes accessType: EXECUTE != WRITE"
From my own testing and looking up the code/tests, it appears that the accessType of `updateAttributes` is `EXECUTE` whereas `WRITE` is expected. This has not been tested, and thus slipped through the maze it seems: https://github.com/strongloop/loopback/blob/19a3fe64e45c083e998cdd65f8c31cc19d1cb807/test/model.test.js#L405

[2015-02-28 18:41] fabien commented on #1142
AFAIK this goes for `updateAll` as well ...

[2015-03-01 15:06] fabien opened #1143 "Update loopback-boot dependency"
Currently, `loopback` has the following devDependency in package.json:

[code]

Updating to:

[code]

Causes 14 failures:

325 passing (9s)
1 pending
14 failing

1) access control - integration /users "before each" hook:
2) access control - integration /users "after each" hook:
3) access control - integration /banks "before each" hook:
4) access control - integration /banks "after each" hook:
5) a

[2015-03-01 15:19] fabien commented on #1143
It appears that the issues have been presents from `loopback-boot 2.0.0` onwards.

[2015-03-01 16:22] fabien commented on #1142
Looks like this has been resolved when accessType was introduced recently. The test case is insufficient to actually check this behavior, because a 'proxy' of the shared method (a plain object) is used.

[2015-03-01 16:22] #1142 closed

[2015-03-01 17:05] benmarten opened #1144 "Filtering Issue with AND and INQ"
Hi, I am encountering an issue when sending requests like this from iOS/Android SDK:

	NSArray:
	{
	    filter =     {
	        where =         {
	            and =             (
	                                {
	                    name =                     {
	                        like = Spaghetti;
	                    };
	                },
	                                {

[2015-03-01 19:50] hotaru355 opened #1145 "Discovery: MySQL dataLength is 3x larger than in DB"
Running `dataSource.discoverSchema()` against a MySQL database generates model definitions with incorrect `dataLength` properties for all database columns of type `VARCHAR`. Interestingly, the discovered `dataLength` is exactly 3 times the value of what is defined in the database.
Related post on StackOverflow:
http://stackoverflow.com/questions/25988681/loopback-2-0-mysql-db-field-length-conversi

[2015-03-01 20:45] grosem commented on #693
Just tried to edit http://docs.strongloop.com/display/LB/Validatable+class. Unfortunately the page is not loading in Chrome or Firefox when in edit mode. Anybody else with that problem?
Some validation methods (e.g. Validatable.validateAsync) are linked, but not documented.

[2015-03-01 22:21] brunocascio commented on #1111
Try with this:

[code]

[2015-03-01 22:40] brunocascio opened #1146 "EmbedsMany with selected properties"
Is this possible?

For example:

[code]

where only get `id` from `User` :

Expected result:

[code]

Or much better:

[code]

which is the correct form?

[2015-03-02 02:31] altsang commented on #327
@Telemakhos sprint 65 is slated to start 3/10, we run 2 week sprints that start on a Tuesday and end on the Monday the week after

[2015-03-02 05:48] shaunbruno commented on #720
Also reporting only scenario that works is logout with POST, and only works if access_token is set in the GET URL. POST access_token is ignored, and causes Model.findById error. Same with header 'Authorization:' field - also ignored and causes error. Plain GET with access_token in URL causes authorization required error.

strongloop v2.10.3 (node v0.10.32)
├── strong-arc@1.1.0
├── strong-build@1.0

[2015-03-02 06:23] solenovex opened #1147 "lb-ng fails in windows xp"
In the tutorial  LoopBack/Getting started part II http://docs.strongloop.com/display/public/LB/Create+AngularJS+client, When I try to execute command: lb-ng server/server.js client/js/services/lb-services.js.
It failed:
C:\learn\loopbackLearn>lb-ng server/server.js client/js/services/lb-services.js
Loading LoopBack app "C:\\learn\\loopbackLearn\\server\\server.js"
{ [Error: Cannot find module '../

[2015-03-02 06:50] #728 closed

[2015-03-02 06:55] raymondfeng commented on #1145
Does your MySQL DB use multibyte character sets? The dataLength is in bytes.

[2015-03-02 07:03] solenovex commented on #1147
sorry, my bad, mongodb doesn't support windows xp anymore.

[2015-03-02 07:03] #1147 closed

[2015-03-02 07:06] superkhau commented on #1076
The inclusion filter is erroneous applied to the association table. As a result, the queries on related tables all become null. @raymondfeng has a fix in the works at https://github.com/strongloop/loopback-datasource-juggler/pull/476. Track progress on that issue instead, closing this one.

[2015-03-02 07:06] #1076 closed

[2015-03-02 14:41] brunocascio opened #1149 "Possibility to add "count()" in scope"
For Example, some like this:

[code]

Reponse:

[code]

[2015-03-02 15:45] bajtos commented on #985
This will not work in the way how it's proposed in my comment.

[code]

Yes, allowing different values for local and remote `since` may work. In other words, the checkpoints will remain specific to each peer (Model replicated), i.e. CP 4 for ModelA refers to a different set of changes than CP 4 for Model B.

In the simple client-server setup where the replication is always initiated by the client,

[2015-03-02 15:53] bajtos commented on #985
Based on my previous comment, below is a list of tasks I need to implement to fix this issue. I'll copy it to the issue description.

 - `Model.replicate` will accept two `since` values - one for the source model, another for the target model. The single `since` value will remain supported for backwards compatibility with a deprecation warning.

 - Either associate changes with CP+1, or bump the C

[2015-03-02 17:23] #981 closed

[2015-03-02 17:52] hotaru355 commented on #1145
I see, thanks for the clarification. The database uses UTF8 as the default character set, so the number of bytes would be variable (?). Is there any way for loopback to get the "length in characters" instead of getting the "length in bytes" ?

[2015-03-02 17:56] crandmck commented on #988
In discussion, we determined that Miroslav needs to complete his work on the API, then add some eng. docs.  At that point (next sprint) it will likely be ready for me to start working on the docs.

[2015-03-02 17:59] crandmck commented on #693
Hm, I can view the page fine in Chrome.  What do you mean "in edit mode" -- do you mean you are logged in to the wiki and editing the page?

The content of this page is created by a custom Confluence macro that renders the content from http://apidocs.strongloop.com/loopback-datasource-juggler/#validatable into the page on docs.strongloop.com.  If you just want to view the API doc, try that page in

[2015-03-02 20:27] raymondfeng commented on #1143
@fabien `loopback-boot` has two active releases:

1.x.x is for LoopBack 1.x project layout
2.x.x is for LoopBack 2.x project layout

The reason we use `loopback-boot@1.x` as dev dep for `loopback` is that we still have some test fixures in LB 1.x layout.

Based on the above, this issue is not a critical bug.

[2015-03-02 20:39] grosem commented on #693
Yes, I tried editing it in the wiki. Didn't know about the macro.

Still, some methods are missing there.

[2015-03-02 21:01] partap commented on #1145
I figure MySQL is allocating 3x the amount of characters requested because it doesn't know if the field is likely to be mostly ASCII or mostly Asian-language characters.  They would have to store the declared character length somewhere though...otherwise `describe` and `show create table` wouldn't work right...

in [`queryColumns`](https://github.com/strongloop/loopback-connector-mysql/blob/master

[2015-03-02 21:01] crandmck commented on #693
Do you mean that some methods are missing from http://apidocs.strongloop.com/loopback-datasource-juggler/#validatable ?  If so, what?  It _should_ include all the methods in
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/validations.js

[2015-03-02 21:03] Morriz opened #1150 "loopback auth treats User.email case sensitive"
And it goes the same for User.username, but that depends on taste...

My use case: I can't login when my iOS automatically sets the first character to uppercase...but please look beyond this ;)

[2015-03-02 21:05] raymondfeng commented on #1145
We can switch to `character_max_length`. PR?

[2015-03-02 21:11] esco opened #1151 "role.users doesn't invoke callback"
The role.users function doesn't invoke the callback if the query succeeds. Check comments in the code below to see where...

[code]
Should this just be returning the array via callback?

Another thing I noticed is that its checking for the existence of the callback
[code]
Since this is happening within a an anonymous function after a call to `roleMappingModel.find` which is not being returned, sho

[2015-03-02 21:21] raymondfeng commented on #1151
Patches are welcome.

[2015-03-02 21:32] esco commented on #1151
@raymondfeng sure, I had basically made another function that does with this was intended to do in the interest of using it now. I'll move that logic over to roles.js and submit a patch this week.

[2015-03-02 21:38] partap commented on #1145
I figured you'd probably want to add `character_max_length` rather than replace `character_octet_length` ... there could be people relying on the current behavior.

Also, byte length makes more sense in some cases...blob, for instance.

[2015-03-02 21:43] #718 closed

[2015-03-02 22:06] manlito commented on #517
+1

[2015-03-02 22:12] partap commented on #1145
Oops, it's actually called `character_maximum_length`

[2015-03-02 22:13] partap commented on #1145
[PR Here](https://github.com/strongloop/loopback-connector-mysql/pull/79)

[2015-03-03 00:33] crandmck commented on #1090
Some overlap with #928

[2015-03-03 00:34] crandmck commented on #928
We do have some docs: http://docs.strongloop.com/display/LB/Polymorphic+relations but I'm sure they could be improved.

[2015-03-03 00:43] crandmck commented on #818
I believe all of these issues have been fixed: http://apidocs.strongloop.com/loopback/#persistedmodel no longer lists `update`; Example for `updateAll` is now correct; Ritchie enhanced strong-docs so it now separates static and instance methods.

[2015-03-03 00:43] #818 closed

[2015-03-03 00:45] raymondfeng commented on #1068
`authOptions` is specific to each passport provider's implementation. For example, the passport-facebook supports the following options in `authenticate` method:

https://github.com/jaredhanson/passport-facebook#display-mode
https://github.com/jaredhanson/passport-facebook#extended-permissions

[2015-03-03 00:51] crandmck commented on #391
I don't believe this should have the "doc" label; although some of the items are doc items, many are not.  If and when we create specific doc issues from the items on the list, then those should have the "doc" label.

[2015-03-03 04:40] stringbeans commented on #517
+1

[2015-03-03 07:59] bajtos commented on #391
Agreed :+1:

[2015-03-03 08:37] bajtos commented on #988
Related: https://groups.google.com/forum/#!topic/loopbackjs/IG0YhOhPz-0

[2015-03-03 10:47] PradnyaBaviskar commented on #1054
Tried reproducing this by taking following steps...
<ol><li>
Scaffolded a demo app using "slc loopback".<ol><li>
 "slc loopback" automated "npm install" for me.</li><li>
But,  the install logs did not show up any warning.</li></ol><li>
Later I started the app using "slc run".
That too did NOT report any warning. </li>
</li></ol>

Seems this issue is already fixed.

cc / @bajtos

[2015-03-03 12:21] #1054 closed

[2015-03-03 12:32] ricardohbin commented on #1073
Did you try do the delete file file `/home/a7/.npm/99390cf3-a7-npm-mime-db-1-6-0-package-tgz.lock` as the error suggests?

[2015-03-03 12:54] brunocascio opened #1154 "Maximum call stack size exceeded"
I override `create`method:

[code]

And returns:
[code]

In console log, `call to create` is repeated infinitely.

[2015-03-03 13:03] seriousben commented on #1154
I think you might want to use `once` and not `on`

--Benjamin Boudreau
    http://seriousben.com/

On Tue, Mar 3, 2015 at 7:54 AM, Bruno <notifications@github.com> wrote:

[2015-03-03 13:05] brunocascio commented on #1154
Yes, but i think call stack happens because Recipe.create() calls recursive with remote method.

[2015-03-03 13:10] seriousben commented on #1154
Well in your code you are calling the same create twice. Recipe.create and
this.create ends up being the same method.

Also I would not override create.

--Benjamin Boudreau
    http://seriousben.com/

On Tue, Mar 3, 2015 at 8:05 AM, Bruno <notifications@github.com> wrote:

[2015-03-03 13:12] brunocascio commented on #1154
I tried to change `create` for `upsert`, and same problem.
[code]

I need override this method because i need add more logic (for example, image processing)

[2015-03-03 13:14] seriousben commented on #1154
In loopback you would use hooks to add logic:
http://docs.strongloop.com/display/LB/Adding+logic+to+models

--Benjamin Boudreau
    http://seriousben.com/

On Tue, Mar 3, 2015 at 8:12 AM, Bruno <notifications@github.com> wrote:

[2015-03-03 13:15] brunocascio commented on #1154
Great! Thanks!

[2015-03-03 13:15] #1154 closed

[2015-03-03 13:16] bajtos opened #1155 "Fix the way how Checkpoint model is defined"
At the moment, each `Change`-based model creates a new `Checkpoint` model, but with the same model name "checkpoint". AFAIK, this is not a valid supported usage of LoopBack model building.

We should rework the way how `Checkpoint` models are created and give more control to LoopBack users.

[2015-03-03 16:18] kidwm commented on #839
This is the snippet of my use case.
`Transaction.afterRemote('prototype.updateAttributes', function(context, model, next) {
    if (context.req.body.status == 'finish' )
      model.list().forEach(function(item) {
        item.doneAt = new Date();
        item.save();
    next();
  });`

[2015-03-03 16:24] grosem commented on #693
I noticed validate and validateAsync missing, but didn't compare all of them. Thanks.

[2015-03-03 16:33] jasonsturges opened #1158 "Loopback examples dated from README.md"
Loopback [examples section of the README.md](https://github.com/strongloop/loopback/blob/master/README.md#examples) appears dated, such as:

### Missing / broken links
- [loopback-example-todo](https://github.com/strongloop/loopback-example-todo)

### Projects marked deprecated
- [loopback-example-database](https://github.com/strongloop/loopback-example-database)
- [loopback-example-datagraph](htt

[2015-03-03 16:47] crandmck commented on #693
Thanks, this appears to be an issue with strong-docs the custom module we use to generate API docs.  I'm investigating.

[2015-03-03 17:00] crandmck commented on #1068
OK, I added a note to http://docs.strongloop.com/display/LB/Configuring+providers.json#Configuringproviders.json-OAuth2 Closing.  @raymondfeng you can review if you wish.

[2015-03-03 17:00] #1068 closed

[2015-03-03 17:52] superkhau commented on #1158
Thanks for the report, all the examples are now at strongloopback/loopback-example. We should change the readme and link to that repo directly. Would you like to submit a PR?

[2015-03-03 18:08] fabien commented on #1011
@raymondfeng I'm having issues after updating an older app. If I gather correctly, it means that allowing EXECUTE will also allow WRITE. Is this correct? To me EXECUTE should be useful to distinguish between any other custom operation and explicit READ or WRITE.

[2015-03-03 18:28] raymondfeng commented on #1011
EXECUTE allows you to READ or WRITE.

[2015-03-03 18:55] jasonsturges commented on #1158
Pull request in progress.  Thanks.

[2015-03-03 19:10] superkhau commented on #1158
Thanks, looking forward to it. :+1:

[2015-03-03 21:58] #1158 closed

[2015-03-03 22:06] jsam commented on #517
+1

[2015-03-04 01:03] crandmck commented on #693
Fixed in https://github.com/strongloop/loopback-datasource-juggler/commit/e81415cedae3d0bd3de0603fb29e2fbd094ea3d8.  Note that http://apidocs.strongloop.com will be updated the next time loopback-datasource-juggler is npm published.

[2015-03-04 01:40] superkhau commented on #1144
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-03-04 06:15] mrfelton commented on #209
fwiw I'm doing something like this in my own setup by using the unimplemented `methods` key in the model json schema to define the remote methods in the same way as you would normally in the `remoteMethod()` method, and then using that to setup the remote methods on the fly.

eg

common/models/my-model.json
[code]

common/models/my-model.js:
[code]

Seems to be working ok so far. My only gripe wit

[2015-03-04 06:29] bajtos commented on #209
@mrfelton can you submit a pull request with your implementation? Remote methods should be defined by [registry.createModel](https://github.com/strongloop/loopback/blob/d5b7447750c4ca881744f5f9ce8be559a993d2ab/lib/registry.js#L87).

Few things to change in the second snippet:

1) I believe you don't have wait for the model to be attached. In LoopBack 2.x, the remoting metadata is stored in a name-

[2015-03-04 06:44] roopesh90 commented on #1073
@ricardohbin the file gets deleted by npm after the execution automatically somehow. I cant find it.

[2015-03-04 06:45] roopesh90 commented on #1073
@ricardohbin the file gets deleted by npm after the execution automatically somehow. I cant find it.
and I closed the issue by mistake, apologies.

[2015-03-04 06:46] roopesh90 commented on #1073
@ricardohbin the file gets deleted by npm after the execution automatically somehow. I cant find it.
and I closed the issue by mistake, apologies.

[2015-03-04 06:58] fabien opened #1161 "Documentation: Model.remoteMethod incomplete"
I find it rather alarming that non-static/prototype based remote methods are silently being phased out. At least that's my impression. Being able to piggy-back on the existing `findById` behavior and then work from that still strikes me as being essential.

To my surprise, the documentation doesn't even mention the `isStatic` option, which allows this: http://docs.strongloop.com/display/public/LB/

[2015-03-04 07:43] grosem commented on #693
Great, thanks.

[2015-03-04 09:59] bajtos commented on #838
It is called only when you invoke `Model.create` or when you invoke `Model.updateOrCreate` without model id. When you call `updateOrCreate` with an id that does not exist, a new model instance is created but the hook `afterCreate` is not called at all. This is one of the bugs in the old hooks that is fixed by the new Operation hooks.

[2015-03-04 10:01] bajtos commented on #473
@superkhau I'd prefer to keep this open as an ongoing discussion about how to best support the MVC paradigm.

[2015-03-04 10:10] bajtos commented on #838
See #1148 for an example of multiple different approaches for converting the old "beforeCreate" hook into the new "before save" hook.

[2015-03-04 11:25] PuKoren opened #1162 "Hooks: Unable to delete a context.instance property"
I try to clean up some data after processing it into my context object, using:

Let's say ctx.instance contains the following:
[code]

[code]

But it appears that ```ctx.instance.unwantedField``` is stored in my DB anyway with value ```"MY_SUPER_MESSAGE"```
Setting it to null insert it with null value, but I have no way to completely remove it and prevent insertion into the database.

[2015-03-04 12:54] mrfelton commented on #209
Thanks @bajtos .

The reason I wait until the model is attached is because I needed access to the app object so that I can inspect the structure and pull out the method details from there. I wasn't able to get a handle on a complete enough app object anywhere else. I'm guessing that if I move it to`registry.createModel.` I'll have direct access to it from there.

I'm not sure what you mean by ping

[2015-03-04 13:24] brunocascio commented on #556
I have same problem:

Ref to question: https://github.com/strongloop/loopback-datasource-juggler/issues/336#issuecomment-76734453

[2015-03-04 14:30] bajtos commented on #209
They are just example method names. "ping" is a static method, "pong" is a prototype (instance) method.

The code sample in your comment above requires developers to register them in this way:

[code]

What I would like to see instead:

[code]

Does it make sense now?

[2015-03-04 14:34] mrfelton commented on #209
gotcha. I read through #597 that you lined to also so it makes more since to me now. I actually hadn't come across the isStatic property before.

[2015-03-04 15:14] bajtos commented on #985
Here is an outline of a possible solution based on our yesterday's
discussion with @ritch.

 - Keep a set of changes we have seen, plus one record (rev,prev)
  for the last change (HEAD). The set can be stored using the existing
  data model by reserving a special value of "prev" or "checkpoint" for
  the historical records.

 - During the replication, the source sends a full list of changes
   ma

[2015-03-04 17:07] ritch commented on #985
prefers to rather report a false conflict than to make an incorrect merge.
The more time I spend thinking about this problem, the more I am convinced
that the current approach is the right solution for v1.0.

I'm torn on this. I prefer the simplicity of the current `change` data structure and `conflict.resolve()`. I don't want to have to deal with "false conflicts" though.

This reminds me of node

[2015-03-04 17:38] michael-lumley opened #1164 "Support for Calculated Attributes dependent on related models"
I was disappointed with the lack of support for calculated attributes dependent on related models and <a href="http://stackoverflow.com/a/28860988/2102695">wrote a plugin to implement that functionality</a>.  I wanted to bring that plugin to the attention of the developers in the event that they were interested in implementing that functionality in future releases. I'm confident that there are oth

[2015-03-04 17:43] kidwm opened #1165 "Expose context.instance in `before delete` operation hook"
Or how to delete related items when a specific model is deleted ?

http://stackoverflow.com/questions/28607543/how-to-access-the-modal-instances-that-will-be-deleted-in-the-before-delete

[2015-03-04 17:45] bajtos opened #1166 "Replication and ACLs"
The replication algorithm should check that the user invoking the action has permissions to modify the model instances replicated.

**Tasks**

 - [x] replication #1270
 - [x] conflict resolution #1294
 - [x] documentation update

[2015-03-04 17:48] bajtos commented on #986
For v1.0, I would like to implement the following solution, which should be bullet-proof and support all existing replication use-cases, although at the cost of lower performance. Later in the future, we can implement optimised variants.

 - The `diff` step will return the current revisions of the data in the database (what we think we have) for each delta.
 - The instructions for "bulkUpdate" wil

[2015-03-04 17:53] bajtos opened #1167 "Fix updateAll and deleteAll implementations in all connectors"
- [x] 1. Add a test to juggler's test suite run by all connectors to check that `updateAll` is implemented and return the number of updated records.
- [x] 2. Fix Memory connector to provide the number of updated records
- [ ] 3. Run the new test in all DB connectors and fix any test failures
  - [x] Verify and fix MongoDB connector changes
  - [x] Verify and fix MySQL connector changes
  - [x] Ver

[2015-03-04 17:54] bajtos commented on #986
The implementation outlined in my previous comment depends on https://github.com/strongloop/loopback/issues/1167.

[2015-03-04 18:09] bajtos commented on #985
Plus the added complexity is placed on the shoulders of LoopBack users :( To me, it feels like "we could not figure out ourselves how to get this working, so dear user, go figure it out yourself".

Tomorrow, I'll continue working on small improvements of the current approach and writing more big-picture unit tests, in order to get a better picture of which scenarios works well and when we are dete

[2015-03-04 18:12] bajtos commented on #985
:+1:

On the other hand, I think `conflict.resolve` is just an API, it should be possible to keep the user-facing API simple regardless of the complexity of the underlying implementation.

Exactly. My dislike for "false conflicts" started this whole issue, but I still haven't found a way how to solve this efficiently.

[2015-03-04 19:26] superkhau opened #1168 "Remote method accepts arguments undefined"
When passing parameters into a remote method, the accepted arguments are not provided to the handler function.

Reproduce by running http://github.com/strongloop/loopback-example-app-logic and performing a curl request (`curl localhost:3000/api/cars/rev-engine -d '{"sound":"vroom"}'`). Another option is to simply try out the Person example in the docs, the output will be `"Greetings... undefined"`

[2015-03-04 19:44] sajjad-ser commented on #327
+1

[2015-03-04 19:51] hotaru355 commented on #1145
Thanks for the quick fix. A last mandatory and mundane question: when will the release with this change roll out?

[2015-03-04 20:13] superkhau commented on #473
@bajtos Sounds good.

[2015-03-04 20:16] raymondfeng commented on #1145
Once the PR is landed, we can release it right away.

[2015-03-04 20:20] raymondfeng commented on #1168
Can you specify the `Content-Type` header to be `application/json`?

[2015-03-04 20:48] jorgeramos commented on #327
+1

[2015-03-04 20:48] gavinengel commented on #473
Hmm.  The models in loopback are definitely there already in common/models.  The views I guess are not meant to be in a loopback project, as it is returning raw json from ajax/websocket.  Since routing basically follows a standard from LB/Swagger (I think), just leaves controllers.  So, are controllers needed in a REST API framework?  I think so.  In my mind it makes sense that an endpoint is not

[2015-03-04 20:49] mrbatista commented on #327
+1

[2015-03-04 20:50] mrbatista commented on #517
+1

[2015-03-04 20:54] superkhau commented on #1168
That works! Closing. ;)

For anyone else reading, it should be `curl localhost:3000/api/cars/rev-engine -H "content-type:application/json" -d '{"sound":"vrooom"}'`

[2015-03-04 20:54] #1168 closed

[2015-03-05 00:20] bitmage opened #1170 "Require Fails Silently in Boot Script"
If I have this in a boot script:

[code]

The script will silently fail to load (console.log never prints).  There's no error message, and the server apparently starts as normal.  I also tried `throw new Error('oops')` in place of the require and this is silently caught.

I would expect the server to crash and an error to print.

I'm on `loopback@2.7.0`.

[2015-03-05 00:24] hotaru355 opened #1171 "EmbedsMany relation throws ER_BAD_FIELD_ERROR"
I am getting the following error when making a `GET` or `POST` request to a simple REST endpoint:

    "ER_BAD_FIELD_ERROR: Unknown column '_children' in 'field list'"

The parent model is defined with this JSON:

    {
      "name": "Parent",
      "options": {
        "idInjection": false,
        "mysql": {...},
        "relations": {
          "children": {
            "model": "Child",

[2015-03-05 02:03] movibe commented on #327
+ 1

[2015-03-05 05:31] superkhau commented on #1170
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-03-05 05:32] superkhau commented on #1171
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-03-05 08:56] bajtos opened #1173 "Improve docs for Operation hooks"
Judging by the recent discussions in GitHub issues, the current minimal documentation does not make it clear how to correctly use the hooks and why they are designed in a seemingly unintuitive way.

The goal of this task is to write down all knowledge that's in Miroslav's head at the moment, add information from comments in the issues linked below, and beef up the doc page [Operation hooks](http:/

[2015-03-05 12:12] bkniffler opened #1175 "Loopback is too big for browser usage (browserify)"
I was following the instructions on:
https://strongloop.com/strongblog/full-stack-javascript-isomorphic-loopback-browse/

Now I ran the browserify grunt task on loopback and was surprised to find out that the distributable file was 1,9mb in size, after minifying still 1mb. I'm sure the size could be further reduced by gzipping, but it's still too big for browser usage. I'm aware you got a client s

[2015-03-05 12:20] bajtos commented on #985
One more idea to consider, though not for v1.0. It seems to me that most of our difficulties described above stem from our desire to implement a generic peer-to-peer replication, which is a very complex problem. What if we pivoted to a multiple-clients & single-server scenario, where the clients always sync changes with the server, the sync is always initiated by the client, and there is always on

[2015-03-05 12:43] pandaiolo commented on #1175
+10

I wanted to implement some sort of data layer on the client side, but had no time to do it. (I did a [PR](https://github.com/pandaiolo/loopback-sdk-angular/commits/feature/client-model-config) over angular-sdk to achieve some isomorphism but it was a bit messy and not aligned on LB roadmap)

In the meantime, [js-data](http://www.js-data.io/) has release interesting stuff and is now framework

[2015-03-05 13:39] bajtos commented on #985
@ritch based on my work in #1176, I am regaining confidence about our current implementation. As long as the clients are keeping track of checkpoints and send correct `since` filters, the usual scenarios seem to work correctly. Yes, it means that checkpoints are no longer an optional optimisation not affecting the observed behaviour, but IMO that's fine for now.

I'd like to add few more tests ver

[2015-03-05 13:59] PuKoren commented on #1111
I tried it but ID is not created, so I generated an UUID client-side before insert :/
If I do 2 concurrent POST on the relation, one if ignored and data is not appended, so I think its not ready yet

[2015-03-05 14:27] umbrella-ivan-zhukov opened #1177 "Loosing context after external request"
In external request callback loopback.getCurrenrContext() returns 'null'.
Is this an expected behavior?

[2015-03-05 15:16] ritch commented on #985
No objections

[2015-03-05 16:19] zetflo commented on #817
+1

[2015-03-05 16:33] BerkeleyTrue commented on #1175
There is already an issue covering this [here](https://github.com/strongloop/loopback/issues/989). This is a huge problem, though and I hope there is a patch sometime soon.

[2015-03-05 16:36] BerkeleyTrue commented on #1177
Have you set the remoting context setting as [here](http://docs.strongloop.com/display/public/LB/Using+current+context). If so, then this is likely a bug.

[2015-03-05 16:42] raymondfeng commented on #817
I did some basic testing. The oAuth 2.0 token based authentication is already working with ACLs if you enable the middleware on your resource/api server that serves the model endpoints.

[2015-03-05 17:09] PuKoren opened #1178 "Multiple POST on an embedsMany relation loses data"
Using an embedsMany relation:

[code]

If I send multiple `[POST] /MyDocument/{id}/actions` quickly on the same document ID or if the DB is slow, some data are lost. I suppose embedsMany POST fetches from DB, appends data, and save back to DB. If there is multiple operations at the same time, the saved value does not contains every posted actions.

[2015-03-05 17:11] umbrella-ivan-zhukov commented on #1177
Yes, I have this setting.
It seems, while the response has not been sent, external request rewrites the current context with the new one. And I really need the initial context throughout the request processing.

[2015-03-05 17:24] bajtos commented on #1162
@PuKoren thank you for reporting the issue. What model method is triggering your "before save" hook? Could you please provide us a full code to reproduce the problem, e.g. as described in https://github.com/strongloop/loopback/wiki/Reporting-issues?

[2015-03-05 17:40] PuKoren commented on #1162
Thanks for your answer, the method triggering the hook is the simple built-in POST method.
I'll create the repo asap

[2015-03-05 17:53] PuKoren commented on #1162
There is the repo:
https://github.com/PuKoren/loopback-sandbox

Steps to reproduce:
  - Clone the repo and start the server
  - POST on ```/MyModels``` with the following body
    ```{"WantedProperty": "My Value", "UnwantedProperty": "Value 2"} ```
  - GET on ```/MyModels``` and see the result (UnwantedProperty is still there)

[2015-03-05 18:01] BerkeleyTrue commented on #1177
Context is within a domain of each request so each request has its own context. Additional request should not overwrite the others.

If there is no request there is no context to create.

How exactly are you trying to use it. Maybe I am just misunderstanding your use case. Can you provide some example code?

[2015-03-05 18:09] chandadharap commented on #1167
Prioritize these connectors:
Mongo, Mysql, Postgress, MSSQL, Oracle

[2015-03-05 18:18] greaterweb opened #1179 "bug: limitations of middleware.json"
By using `middleware.json` to configure your middleware you are unable to use the same middleware twice within a phase as the property names would conflict.

For example, if you wish to serve static assets from multiple locations you would be unable to configure this through `middleware.json`. The second instance of `"loopback#static"` would overwrite the first.

[code]

This may seem like a trivi

[2015-03-05 18:29] fabien commented on #1162
This is a known issue - it's why `unsetAttribute` exists. Try it instead of `delete ctx.instance.unwantedField;` like this:

`ctx.instance.unsetAttribute('unwantedField');`

[2015-03-05 18:59] chandadharap commented on #1173
I'd rather that Rand sit with you and get the info to update and improve docs, rather than you write this.

[2015-03-05 19:03] crandmck commented on #1173
Miroslav, I will go through the above issues and try to extract the pertinent info.  I will likely have questions as a result.... Then let's meet and you can give me a brain dump, as Chanda suggests.  You could also jot down some notes if you have some specific things you know you'd like to add to or change in the docs.

[2015-03-05 19:18] raymondfeng commented on #517
I guess we can make it happen for NoSQL DBs, but it will be difficult for RDBs.

[2015-03-05 19:34] crandmck commented on #1134
Does this require any doc updates or additions?

Currently, to disable API Explorer, docs just say to delete `explorer.js` boot script:  http://docs.strongloop.com/display/LB/Security+considerations#Securityconsiderations-DisablingAPIExplorer  Will that change with this?

How is the `legacyExplorer` option exposed?

[2015-03-05 19:37] umbrella-ivan-zhukov commented on #1177
@BerkeleyTrue , thanks for your response! Here is the simplified code:
[code]

[2015-03-05 20:10] PuKoren commented on #1162
This works, thanks.

[2015-03-05 20:42] greaterweb commented on #1134
The instructions for disabling the API Explorer remain valid. This issue was to address two routes remaining exposed which have not been used by the API Explorer for some time.

The `legacyExplorer` option is an addition to the the `config.json` file. When making the upgrade to `v2.14.0`, it's is a good idea to add `"legacyExplorer": false` to your config. I'm sure we'll see an update soon to the

[2015-03-05 21:03] partap commented on #1145
@raymondfeng
I couldn't run some of the tests...the including and excluding views tests seem to want some existing db schema  that I don't have...
I didn't worry about it too much because the part I modified seems to work.

[2015-03-05 21:32] ltlikesstudy commented on #418
Hi, is the model method can do promise at this time? I still using callback right now.

[2015-03-05 21:42] rdegges opened #1180 ".random() API Call for ORM"
Hi all, started using loopback recently, and am loving it.

One thing I'd love to see is a `.random()` model method. It'd be nice to occasionally select a random item from the datababase.

I know that in active record / Django / most other ORMs, it's possible to execute these sort of queries in different ways, and I figured it'd be worth a github issue.

Best,

-Randall

[2015-03-05 21:59] crandmck commented on #1134
Heh, that would be my job ;-)
Please review to see if I explained it correctly:
http://docs.strongloop.com/display/LB/config.json#config.json-Top-levelproperties
Thanks!

[2015-03-05 22:46] fabien commented on #1162
@crandmck perhaps `unsetAttribute` should be more clearly documented somewhere. The reason why `delete inst.prop` doesn't work, is because of the internal object that stores the actual attribute values.

[2015-03-05 22:46] #1162 closed

[2015-03-05 23:29] hotaru355 commented on #1171
I have created a repo on github to reproduce the issue. Please add valid connection information in the `server/datasources.json`, create the tables in MySql (CREATE statements are in the readme) and try to GET a parent model.

https://github.com/hotaru355/issue1171

[2015-03-06 00:16] greaterweb commented on #1134
Ha! Sorry, I did not know :-)

Thanks for all of the great work documenting, I imagine it's a decent challenge keeping up with all StrongLoop has going on!

Your addition to the docs looks good, two small changes though:

Thanks!

[2015-03-06 00:17] crandmck commented on #1162
Added to http://docs.strongloop.com/display/LB/Operation+hooks#Operationhooks-Operationhookcontextobject.  Thanks for the heads up!
BTW, this is an area where we want to improve the docs in general - see #1173.

[2015-03-06 00:46] komarik0 opened #1181 "Cannot create model without id property"
Model has id property by default so it's not possible to create model without id.

[2015-03-06 00:53] crandmck commented on #1134
You're welcome... and, yes, it _does_ keep me quite busy :-)

Thanks for catching the typo!  Fixed...

[2015-03-06 00:55] BerkeleyTrue commented on #1177
Yes, that seems like a bug. The domain for the fetchUser callback should be the same as the domain for cardDetails callback.

It may also be that the callback for thirdPartyService is loosing the domain since it's outside of loopback? Not sure on that one. Will need a Strongloop Dev or someone more familiar with Domains to chime in here.

Here is a quick work around for you.

[code]

[2015-03-06 03:36] chinuy commented on #564
Is there any timeline you want to put this implemented?

[2015-03-06 06:26] fabien commented on #1162
@crandmck actually, it's not tied to operation hooks at all. In general, if you ever want to remove a property from a model instance, this is the way to do it. So I think it should move up to a more basic level of the docs (working with models?).

[2015-03-06 06:40] fabien opened #1183 "Removing attributes/values"
As a result of https://github.com/strongloop/loopback/issues/1162#issuecomment-77481675 - I would like to raise the following concern: because `updateAttributes` performs a partial update, you'll risk not actually removing a property from the dataSource itself. I cannot really tell if this already works or not.

In any case, this should be properly tested.

[2015-03-06 09:32] fabien commented on #838
@bajtos I would go with `ctx.isNewInstance` and the three values you proposed: `true, false, undefined`

[2015-03-06 11:09] rajaraodv commented on #327
+!

[2015-03-06 12:01] umbrella-ivan-zhukov commented on #1177
Unfortunately it does not work for model hooks, that called after external request.

[2015-03-06 12:11] brunocascio opened #1185 "Validate numeric fields"
Is possible validates min and max, length?

[code]

[2015-03-06 13:41] brunocascio opened #1186 "Automigrate Memory Leak"
[code]

`Loopback version 2.8.0`

[2015-03-06 14:35] rabchev commented on #517
+1

[2015-03-06 17:11] bajtos opened #1188 "Conflict API for common resolution actions"
The `Conflict` model should provided API for the three usual ways how conflicts are usually resolved: "use mine", "use theirs", "edit & resolve manually".

See https://github.com/strongloop/loopback/pull/1187#issuecomment-77584907 for background info.

[2015-03-06 17:12] raymondfeng commented on #1186
LoopBack try to defer a CRUD method invocation if the data source has not been connected to the DB. The scheduled method will be called once the `connected` event is fired and the listener will be removed. Can you check what's going on with your DB connection?

[2015-03-06 17:18] fabien commented on #838
@bajtos could you please summarize which context property name and values you expect? I think I'll need this soon as well.

[2015-03-06 17:19] bajtos commented on #517
As far as I am concerned, a good start would be to support nested filters for embedded objects and embedded models.

[2015-03-06 17:28] fabien opened #1189 "setAttribute implementation"
For a while now I've monkey-patched DAO as follows:

[code]

While refactoring I stumbled upon this today (some tests fail when I remove this code).

IIRC I did this because there were some issues when setting attributes that were not already defined as true properties of a Model. I don't think it would be harmful if we would use this implementation in DAO.

It matches `unsetAttribute` more closel

[2015-03-06 17:29] crandmck commented on #1162
Oh, ok; thanks.  My assumption was based on the example code above.  How do you get the `ctx` object?  Can you provide an example of using this outside of a hook?

[2015-03-06 17:29] bajtos commented on #1179
The current implementation already provides solution for you. The value for each middleware key can be an array, in which case a new middleware instance will be registered for each item.

[code]

As for code-based registration, you can always call `app.middleware` to register your middleware in the appropriate phase. So for example, you can create a following boot script:

[code]

The point of mov

[2015-03-06 17:29] #1179 closed

[2015-03-06 17:29] bajtos commented on #1175
Closing as a duplicate of #989

[2015-03-06 17:29] #1175 closed

[2015-03-06 17:30] bajtos commented on #985
Done.

[2015-03-06 17:30] #985 closed

[2015-03-06 17:40] raymondfeng commented on #1189
this[name] = value will trigger the setter of the property. The setter might coerce the value.

[2015-03-06 17:50] bajtos commented on #838
I am not sure what you are asking me. Your previous comment described exactly what I would like to see implemented:

I am ok with a partial implementation that does not include necessary changes in all connectors, as long as the behaviour is reasonable in the case when the connector does not provide the flag yet. It's also ok to implement this flag for one of the hooks only, e.g. "before save", an

[2015-03-06 17:52] fabien commented on #1189
@raymondfeng so in that case, should it be as follows?

[code]

[2015-03-06 18:04] greaterweb commented on #1179
Missed that part in the docs that you could use an Array, thanks for pointing it out.

I now see how the use of Router in the proposed solution can be a bit expensive. I employ a similar solution so I'll certainly refactor it a bit.

Thanks again!

[2015-03-06 18:06] notbrain commented on #838
As part of this I would love to see the operation hooks expanded to include `'after create'` and `'after update'` that would hide the implementation of `isNewInstance` and the checking that it entails. If you need specific detail you can use `'after save'` and then inspect `ctx.isNewInstance` for the values but straight up usage for the simple difference between create and update would be +1 in my

[2015-03-06 18:38] BerkeleyTrue commented on #989
@bajtos any advice or strategies on this?

[2015-03-06 18:43] BerkeleyTrue commented on #985
woot!

[2015-03-06 22:31] greaterweb opened #1190 "feature request: app.middleware handler only accepts function"
LoopBack's [`app.middleware`](http://apidocs.strongloop.com/loopback/#app-middleware) only [accepts a function](https://github.com/strongloop/loopback/blob/9a0267e87a51fc17109416a87f017956be3cac17/lib/server-app.js#L143) value for the `handler` parameter. As `handler` is ultimately passed to an [`app.use`](https://github.com/strongloop/loopback/blob/9a0267e87a51fc17109416a87f017956be3cac17/lib/ser

[2015-03-06 23:09] fabien commented on #1162
@crandmck sure:

[code]

[2015-03-07 11:43] benmarten commented on #1144
Created it: https://github.com/benmarten/loopback-sandbox

To reproduce the issue, please pull code, npm install and 'slc run .'
Then try:
- Works: 0.0.0.0:3000/api/Dishes?filter[where][name][like]=Spaghetti&filter[where][and][][pickupAddressZip]=12345
  Result: []
- Does not work: http://0.0.0.0:3000/api/Dishes?filter?filter[where][and][][categories][inq][]=Scharf&filter[where][and][][categories]

[2015-03-07 14:03] ulion commented on #162
It seems "delete result.field" still not affect the final response?

[2015-03-08 11:28] jrschumacher commented on #688
There should be a link to the customizing REST error handling on http://docs.strongloop.com/display/public/LB/Defining+middleware

[2015-03-09 13:01] toreader opened #1191 "Remote hooks called before ACL rules are applied"
Right now ACLs are called after before remote hook. That means this stack of calls:
1. Before remote Hook
2. ACL
3. Remote method
4. After remote hook
I'd expect ACLs to be checked prior calling before remote hooks and not the other way round.

Example:
[code]
with this ACL
[code]
Even though the Loopback explorer displays a 401 error, the console displays "before remote hook". In my opinion, this

[2015-03-09 15:30] raymondfeng commented on #1191
@ritch ACL check is done from one of the remote hooks. Can we ensure it's called before any other remote hooks?

[2015-03-09 16:15] crandmck commented on #688
Added a link to http://docs.strongloop.com/display/LB/Defining+middleware#Definingmiddleware-Error-handlingmiddleware.

[2015-03-09 16:18] crandmck commented on #1173
This may not be completed this sprint, since the feature is being significantly reworked.

Miroslav said:

[2015-03-09 16:21] ritch commented on #1191
If you create the hook after boot it should run in the expected order.

[2015-03-09 16:36] bajtos commented on #1173
@crandmck first few things that are ready to be documented.

Document "hookState" - see https://github.com/strongloop/loopback-datasource-juggler/pull/485 and https://github.com/strongloop/loopback-datasource-juggler/issues/484

Capture the information from https://github.com/strongloop/loopback-datasource-juggler/pull/483#issuecomment-77332635. The first part explains why there is "instance" obje

[2015-03-09 16:38] bajtos commented on #1173
Some material for starting a FAQ section: https://github.com/strongloop/loopback-datasource-juggler/issues/482#issuecomment-77327772

[2015-03-09 16:54] dberry-98 opened #1192 "Maybe this is a feature request: create REST service from an anstract WSDL"
This is perfect to RESTify a soap service but I can I use this to implement REST front end using an abstract wsdl?

[2015-03-09 17:14] PuKoren commented on #867
Yeah finally found a solution for the issue (but this works only using mongodb):

[code]

Hope this can help

[2015-03-09 17:59] bajtos commented on #989
My plan is to produce profiling data using file (bundle) size instead of execution time, so that we can identify the files and modules that contribute most to the overall size. There may be an existing browserify module for that, I did not check yet. (Please let me know if you figure out how to do this.)

Once we have that information, it should be easy to pick the biggest dependencies, check if t

[2015-03-09 18:04] raymondfeng commented on #1192
Have you checked out https://github.com/strongloop/loopback-connector-soap?

[2015-03-09 18:10] bajtos commented on #988
Resizing down to 3 story points. I'll collect list of resources/comments for @crandmck so that he can write the user documentation himself. I'll still need to write down developer documentation describing how the replication works under the hood.

[2015-03-09 18:11] bajtos commented on #986
Timeboxing the story to 5 points, I'll focus on fixing the race condition and leaving out the UX/ease-of-use for a follow-up story if I run out of time.

[2015-03-09 18:12] dberry-98 commented on #1192
yes, thanks. I put this question on the wrong repository.

[2015-03-09 18:12] bajtos commented on #1173
Re-estimating to 1 story point. I'll only gather more pointers to relevant comments and pull requests, so that @crandmck can write the content himself.

[2015-03-09 18:13] #1192 closed

[2015-03-09 18:28] seriousben commented on #445
:+1:

[2015-03-09 21:04] theofidry opened #1193 "Return an object instead of an array for get collections"
Comment after reading [OWASP Security Guidelines](https://www.owasp.org/index.php/OWASP_AJAX_Security_Guidelines#Always_return_JSON_with_an_Object_on_the_outside).

I do not know if it's necessary, so I ask just in case.

[2015-03-09 21:05] theofidry opened #1194 "How to override explorer metadata ?"
Let's say like seen in the issue #1077, I override the default `find` method to add relations filter by default.   As of now, the best snippet I found is the following:

[code]

But now, the data `Model` and `Model Schema` in the explorer are incorrect. How may I update them accordingly?

[2015-03-09 21:43] theofidry opened #1195 "Inconsistent API endpoint description."
In the explorer, for a a model without any relation, all the API endpoints description are sentences without a dot at the end. For instance:

`PUT /Toys Update an existing model instance or insert a new one into the data source`

However, when I add a relation like the `hasMany` for instances, the new API endpoints added for my model have a dot at the end for some, and none for others. For instanc

[2015-03-10 00:15] mkeremguc opened #1196 "nested create through REST"
either i couldn't find in documentation or this is a feature request:

Country hasMany Cities
City belongsTo Country

is it possible to create/update models through REST like:

[code]

that would create the country and then create 2 cities with the names accordingly and set the hasmany/belongsto relation between.
and even more:

[code]

that would create the country and set the relation accordingl

[2015-03-10 03:41] BerkeleyTrue commented on #989
So the first step is to get the size of each file/script in the bunde?

[2015-03-10 09:44] bajtos commented on #989
For each file/script, you need two values: the size of the file itself, and the cumulated size of all dependencies including the file itself.

For example, a single-line file `var loopback = require('loopback')` is small itself (about 20 bytes), but huge when dependencies are included (1.4MB).

[2015-03-10 15:53] bajtos commented on #162
AFAIK, you need to call `result.unsetAttribute('field')` for that.

[2015-03-10 17:22] bajtos commented on #418
You can use promises for CRUD methods, see https://github.com/partap/loopback-datasource-juggler/commit/1e6c453191f49c0f4a25fec2d694856c0cdf622a. Promises for relations methods are in progress, see strongloop/loopback-datasource-juggler#452

[2015-03-10 17:23] bajtos commented on #564
Not really. Would you mind contributing this feature yourself?

[2015-03-10 17:55] bajtos commented on #985
@BerkeleyTrue have you had a chance to verify this new implementation? Does it work better for you? The docs haven't been updated yet (see #988), but check out the unit-tests added by linked PRs, they should show how to use the API.

[2015-03-10 19:41] timbur opened #1197 "REST API for creating REST APIs?"
I apologize if this is the wrong place to ask about this.  I dove head first into LoopBack just yesterday and one of the things I would like to use it for is to allow users to specify models, relations, validation, acl, etc. for their own resources at somewhat arbitrary endpoints.

Arc does this, right?  So it's obviously something built into the core of the platform.  I was planning on seeing how

[2015-03-10 20:04] raymondfeng commented on #1197
Please check out https://github.com/strongloop/loopback-workspace. The module has metadata models and REST apis. It's the backend for [StrongLoop Arc](https://strongloop.com/node-js/arc/).

[2015-03-10 20:46] chadvanklompenburg opened #1198 "adding indexes property in model.json causes mysql error in automigrate"
Taken from common/models/campsite.json
[code]
running automigrate triggers this error if indexes property is set in the model.

`Error: ER_KEY_COLUMN_DOES_NOT_EXITS: Key column 'undefined' doesn't exist in table`

Without indexes it runs/instantiates the database/tables as expected.

[2015-03-10 20:52] superkhau commented on #1198
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-03-10 21:33] ulion commented on #162
Thx for the tip, hope it can be put on the remote hook doc.

[2015-03-11 03:48] superkhau opened #1199 "`updateAll` in explorer does not trigger `change` event"
Connected to strongloop/loopback-sandbox#1

[2015-03-11 10:11] mamboer opened #1200 "Add scope pagination features"
I'm trying to add pagination features to specified model's related scope object,
so i override the scopeRemoting method in model.js, line 598 , add some magic codes as the gist below:
https://gist.github.com/mamboer/d416af722a7f8c252fc0

This code snippet add a '__paginate__XXX' prototype method on models, cheers.

Hope that cool guys from loopback can integrate this feature, thanks!

[2015-03-11 12:31] viveke10 commented on #878
I have installed loopback@2.8.8 but still gets currentUser:  null , as mentioned below

var ctx1 = loopback.getCurrentContext();
     var currentUser = ctx1 && ctx1.get('currentUser');
     console.log('currentUser: ', ctx1);
     console.log('currentUser.username: ', currentUser);
     //console.log('ctx: ', ctx); // voila!
    	if (ctx.instance) {
    		ctx.instance.updated = new Date();
    	}

[2015-03-11 12:52] ernie58 commented on #942
+1, would solve my problem here: http://stackoverflow.com/questions/28982398/strongloop-loopback-native-sql. Something like
    scope: {
        where: {
            Role: 'student'
        }
    }

[2015-03-11 13:36] smehrbrodt commented on #1018
@fabien Are you sure this is not a bug? Why would you not allow to update a property that you used to define a scope?

[2015-03-11 13:51] timbur commented on #1197
Thanks!  I've checked everything out and performed a few tests to see how feasible it would be to use the workspace API for my use-case, and so far it doesn't seem feasible in a live environment; i.e., when some model is created/updated/deleted, those changes aren't reflected until restarting the server.  So it looks like I'll need to figure out how to live-reload the models as they're changed, or

[2015-03-11 13:52] spirospolitis commented on #1018
@smehrbrodt +1

[2015-03-11 14:06] timbur commented on #1197
Oh, forgot to mention, the following post shows a couple of nice examples that should help me with live reloads of models, but I guess my concern is whether or not it will scale to thousands of custom models and brings me back to my gut feeling that all of the model definitions, properties, relations, validation, acl, etc. should be stored in a database.

https://groups.google.com/d/msg/loopbackjs

[2015-03-11 14:07] chadvanklompenburg commented on #1198
Test project.  Mysql connection will have to be modified.
In the project directory running this should duplicate the potential bug I'm seeing.
`node server/bin/automigrate.js`

https://github.com/chadvanklompenburg/loopback-test.git

[2015-03-11 18:09] bajtos commented on #878
@viveke10 please provide an app that we can use to reproduce the problem locally on our machines, see [wiki instructions](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report)?

[2015-03-11 18:13] bajtos commented on #162
/cc @crandmck

[2015-03-11 23:37] superkhau opened #1203 "Remote method generator"
See strongloop/generator-loopback#90

tl;dr
Create a generator that scaffolds a remote method using user-provided answers.

[2015-03-11 23:40] superkhau commented on #1203
Duplicate. Closing in favour of strongloop/generator-loopback#94.

[2015-03-11 23:40] #1203 closed

[2015-03-12 02:07] atajwala commented on #1073
I am seeing the same issue when installing strongloop on a gcloud hosted ubuntu micro instance.

[2015-03-12 03:18] mamboer commented on #1200
BTW:
This is only an enhancement on loopback's default pagination feature ,
the enhanced pagination method will response back a data structure like {"total":20,"items":[item1,item2]} to the client side, which is more friendly to most of the client side pagination components such as jquery.twbsPagination.js.

[2015-03-12 04:04] raymondfeng commented on #1144
One workaround is to send in the `filter` as stringfied json.

[2015-03-12 04:21] benmarten commented on #1144
thanks a lot! this worked :)

sth like that:
http://stackoverflow.com/a/9020923/2302437
[_dishRepository invokeStaticMethod:@"filter" parameters:@{@"filter":jsonString} success....

[2015-03-12 04:21] #1144 closed

[2015-03-12 04:26] superkhau commented on #1167
Connected to strongloop/loopback-datasource-juggler#502

[2015-03-12 04:42] viveke10 commented on #878
I cannot provide you app because its client project of our company

[2015-03-12 06:49] superkhau commented on #1167
@bajtos For number 3, should I write unit tests for each connector individually? ie) Add two more unit tests directly to`loopback-connector-mongodb`? One that verifies `updateAll` is implemented` and another to verify a count is returned when updating records?

[2015-03-12 07:18] bajtos commented on #1167
No, add your new tests to [test/manipulation.test.js](https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/manipulation.test.js). This file is run by all connectors as part of their test suite (or at least it should be) via [test/common.batch.js](https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/common.batch.js).

[2015-03-12 07:29] bajtos commented on #1167
See also https://github.com/strongloop/loopback-datasource-juggler/blob/274a5c778ae0e76403fbb1480c7b144b898c3e18/test/memory.test.js#L404-L427, I am not sure if `dao.js` provides a fallback implementation for connectors that don't implement `updateAll`. If it does, then we should test it too.

[2015-03-12 07:37] bajtos commented on #1167
It's ok to add the new tests to `test/basic-querying.test.js` as you did in #502, considering that other `updateAll` tests are already living there.

[2015-03-12 07:47] bajtos commented on #986
This still leaves a small hole, because the "data" where-filter checks only that no existing properties were modified, it cannot ensure that no new properties were added. This issue should hopefully apply only to non-strict mode where users can add arbitrary dynamic properties to model instances. Depending on how the MongoDB connector persists and queries undefined properties, it may be affected t

[2015-03-12 08:18] bajtos commented on #878
@viveke10 Have you read the instructions? We are not asking you to disclose your proprietary code, but to create a new small app that reproduces the problem.

[2015-03-12 08:49] umbrella-ivan-zhukov commented on #1177
Do anybody have suggestions why context gets null after external http request?
I'm stucked with this bug, also tried to use node.js domains directly, but failed.

[2015-03-12 11:11] aarnaud commented on #586
+1 same issue with id as uuid

[2015-03-12 12:48] AaronBedward opened #1204 "Error: Can't set headers after they are sent. calling confirm user"
Hey guys,

I'm using mocha and supertest to create functional tests. Below is a copy of the test.

	it("should verify user POST /api/User/confirm", function (done) {
		app.models.Users.findById(userId, function (err, usr) {
			json('get', '/api/user/confirm?uid=' + userId + '&token=' + usr.verificationToken)
			.expect(204,done);
		});
	});

However this test returns :

Error: Can't set headers af

[2015-03-12 13:01] AaronBedward commented on #1073
Also having the issue, tried deleting npm-mime-db lock still the same issue
- Ubuntu 14.04

[2015-03-12 16:30] archana09 commented on #817
Can you please direct me some code example how you are doing this?

[2015-03-12 18:09] dashby3000 opened #1206 "MSSQL StoredProc support"
The ability to "import" a StoredProc into a Model attached to MSSQL, so the following would work `MyModel.StoredProcName(param1, ... paramN, function(error, result))?`

[2015-03-12 18:52] rptally opened #1207 "geopoint radius filter"
Currently the API supports a [near] filter relative to a lat, lng geopoint, such as

[code]

You can additionally support a result count, such as

[code]

I'd like to request adding a filter by radius capability as follows:

[code]

where m indicates miles and k indicates kilometers ( 10m = 10 miles; 10k = 10 kilometers; default 10 = 10 miles).  This assumes you can continue to filter[limit] the r

[2015-03-12 22:17] bajtos commented on #1056
Related:  strongloop/loopback-datasource-juggler#119 - "The model names have to be unique."

[2015-03-13 05:55] viveke10 opened #1209 "adding reference as below"

[2015-03-13 09:11] vladmiller commented on #109
Absence of transactions is a pain.

[2015-03-13 11:21] mirow opened #1210 "Cannot use falsy passwords"
I created a new user without a password, and it was stored in the database without problems (the password field was null in the database). Trying to read the user from the database proved to be impossible in some cases, as ModelConstructor calls UserModel.setter.password which throws an error when there is a falsy password.
Here's the offending line:
https://github.com/strongloop/loopback/blob/mas

[2015-03-13 15:36] dennisaj commented on #924
+1 - exist, $exist, exists are not available

[2015-03-13 16:08] bajtos commented on #1183
Yes, this is a real problem affecting offline sync (change replication) too.

[2015-03-13 16:10] bajtos commented on #1199
The `change` event is deprecated, closing this issue as "won't fix".

[2015-03-13 16:10] #1199 closed

[2015-03-13 16:44] ritch opened #1211 "Client plug-ability for browser based HTTP agents"
It would be nice to be able to use angular's `$http` service (and other similar http clients provided by framworks such as ember, jquery, backbone, perhaps even plain browser xhr).

/cc @bajtos @kraman

[2015-03-13 17:01] ritch commented on #1210
We don't support this yet. I'm not sure how you were able to create a user without a password. IMO this is the main issue:

You should get a validation error.

Being able to create users without passwords is a feature you would like? Perhaps you could start a discussion (or chime in on an existing discussion) in a separate issue and we can use this to track fixing the first part (being able to cre

[2015-03-13 17:07] ritch commented on #1207
This has been suggested elsewhere (I think in a [PR to the mongo connector](https://github.com/strongloop/loopback-connector-mongodb/pull/68)). I don't think `radius` is appropriate though. I'd suggest something similar to `mongo`'s `$maxDistance`.

[2015-03-13 18:51] ritch commented on #1056
@kraman @bajtos @chandadharap and I had an offline chat about this and here was essentially our outcome:

- 1. implement per app registry (inherit modelbuilder entries from global)
  - 1.a `Model.registry` set when you create the model.
- 2. find and replace references to the registry interface (eg. `loopback.getModelByType()` => `Model.registry.getModelByType()`)
- 3. loopback boot should use the

[2015-03-13 18:53] bajtos commented on #1056
Some clarification:

Only `Model` and `PersistedModel` should be copied to the per-app registry, no other models are inherited. It is not possible to use a global model in an app, because each model can be attached to single application (and datasource) only.

We may consider implementing a check that will refuse to add Model and PersistedModel to an app or a datasource.

[2015-03-13 18:55] ritch commented on #1056
So essentially we would be adding a new `Model` property:

[code]

The `Model.registry` will be set by `loopback.createModel()` and `app.model()` to the correct registry. The "correct" registry will be determined by a `loopback` flag that allows you to specify to use `perAppRegistries`.

When `perAppRegistries` is `true` each `app` object will create its own registry. Most likely this will be avai

[2015-03-13 18:57] ritch commented on #1056
Also... `perAppRegistries` should default to `false` in `2.0` and set to `true` in `3.0`. Perhaps we could set it to true in the generated code as well? @bajtos

[2015-03-13 21:45] rptally commented on #1207
I can see that and it simplifies the request to better match existing db support.

    /homes?filter[where][location][near]=lat,lng&filter[distance]=10&filter[limit]=25

[2015-03-14 10:42] mirow commented on #1210
Ah, I've extended the built-in User model, and made the password not required. So that isn't supported?

[code]

I understand it's a bit unorthodox to have an optional password...

[2015-03-15 05:32] esco commented on #1196
It sounds like City should be an Embedded Model http://docs.strongloop.com/display/public/LB/Embedded+models+and+relations

[2015-03-15 05:44] esco commented on #1150
It looks like the findOne query that searches by username or email isn't case sensitive https://github.com/strongloop/loopback/blob/1cabd74308e8c57aa8033641c77bccfcf86e57f3/common/models/user.js#L196-L203

@raymondfeng is it possible to do a case-insensitive query?

[2015-03-15 11:43] yagobski opened #1213 "How to access to another Model from models/ExampleModel.js ?"
Hi,

I want to access to another model from my

module.exports = function(ExampleModel) {
//something like
//var loopback = require('loopback');
//var app = module.exports = loopback();
//var EsPlaylist = app.models.EsPlaylist;
};

Because creating remoteMethod from boot/ not working anymore with the new version.

Thanks in advance

[2015-03-15 12:29] yagobski commented on #508
Hi, Iam working on the new version of the Elastic Connector can help to have multiple index management and synch between models and ES based on events. To finish this module i need some architecture advices to make create/delete the first mapping and the index All feature. Any suggestions?

[2015-03-15 13:26] johnsoftek commented on #517
+1

[2015-03-15 16:42] raymondfeng commented on #1213
Use ExampleModel.app.models.EsPlaylist

[2015-03-15 16:42] #1213 closed

[2015-03-15 23:26] yagobski commented on #1213
Not working for me.

var EsPlaylist = Playlist.app.models.EsPlaylist;
                                 ^
TypeError: Cannot read property 'models' of undefined

[2015-03-16 00:03] superkhau commented on #1213
Are you in a boot script or in /common/models/model.js?

[2015-03-16 00:05] yagobski commented on #1213
iam in common/models/playlist.js

module.exports = function(Playlist) {
    var app = Playlist.app;
    var EsPlaylist = app.models.EsPlaylist;

[2015-03-16 00:05] superkhau commented on #1213
did you define a relation from your model to the playlist yet?

[2015-03-16 00:06] yagobski commented on #1213
Yes relations are working and i can use explorer to see the 2 models

[2015-03-16 00:08] yagobski commented on #1213
There is no relations between this two models i just want to access to the other model from this model.

[2015-03-16 00:08] superkhau commented on #1213
You must define the relation to access the model using the dot notation.

[2015-03-16 00:09] yagobski commented on #1213
how can i access to others models if i don't have relation?
for exemple i want to access to User model from Example model ?

[2015-03-16 00:14] superkhau commented on #1213
Depends on what you're trying to do and where. See http://docs.strongloop.com/display/LB/Working+with+LoopBack+objects#WorkingwithLoopBackobjects-Gettingtheappobject

Make sure you read the entire article. What you're trying to do is already described in the "Cannot do this from a model script section".

[2015-03-16 00:20] yagobski commented on #1213
Thanks.

it was working before just after upgrade to the last version.
If i do just like this
module.exports = function(Playlist) {
var app = Playlist.app;
console.log(app);

I have "undefined" in my console.log

[2015-03-16 00:25] yagobski commented on #1213
I undertand it is not possible from documentation. So i have moved my code to boot script. I have another problem with Playlist.remoteMethod from boot script not add methode to explorer. It works for me only when i put the remoteMethod in common/models/
Any ideas? thanks in advance

[2015-03-16 00:31] superkhau commented on #1213
You should be defining your remote methods in `/common/models/model.js`. If you're a creating a remote method in there, you CAN access the app object (because its registered already at the time of invocation). Find the paragraph that says:

Also, please ask questions at our Google Group: https://groups.google.com/forum/#!forum/loopbackjs

If you want to know why: https://github.com/strongloop/loop

[2015-03-16 00:33] yagobski commented on #1213
Thanks for your help.

[2015-03-16 00:36] superkhau commented on #1213
No problem. If you have any more questions, feel free to post and I will be glad to continue this conversation there. Cheers. ;)

[2015-03-16 01:58] violet-day commented on #109
:+1:

[2015-03-16 02:03] bluestaralone commented on #924
:+1:

[2015-03-16 08:19] bajtos commented on #1056
I'd rather wait a bit before setting it to true in the generated code. Let's get more confidence that the local registries work, before we make it a default for new projects. Unfortunately the code coverage of LoopBack unit-tests is not good enough to give us that confidence, thus we need to test the feature in a number of real applications.

[2015-03-16 08:19] bajtos commented on #1056
Let's discuss the rest in #1212.

[2015-03-16 13:11] bajtos commented on #1183
Here is a test case that works in MongoDB but does not work with Memory nor MySQL, the code is assuming the Person model from [test/manipulation.test.js](https://github.com/strongloop/loopback-datasource-juggler/blob/7dc0fcd26fc670a7dde76a39a76ce9885da96e8a/test/manipulation.test.js#L12-L23):

[code]

When I replace `p.unsetAttribute('gender')` with `p.gender = null`, the test passes in all three

[2015-03-16 13:36] bajtos opened #1215 "Replicate unset attributes"
- At the moment, DAO strips undefined attributes from the data sent to the database, see #1183.
 - Because we are encoding data sent to `bulkUpdate` as JSON, the update instructions don't contain undefined properties.

As a result, there is no way how to replicate the instance `{ name: 'foo' }` to a server that has an instance like `{ name: 'foo', custom: 'extra' }`.

[2015-03-16 13:37] bajtos commented on #1215
Workaround: enable `strict:true` for all replicated models, set `null` as the default value for all optional fields and never call `inst.unsetAttribute`.

[2015-03-16 13:42] bajtos commented on #1215
Note that this issue is simpler than #1183 because it is enough to fix `updateAll` to allow the caller to request that specific named properties should be removed (set to undefined). Once we have that available, we can modify `bulkUpdate` to remove any properties that are in the database but not in the updated data, because we already have the current data from the database.

[2015-03-16 13:58] thaiat opened #1216 "updateAttributes remote hook"
I don't seem to find a way to run a beforeRemote hook for the `updateAttributes` operation
Is this possible ?

[2015-03-16 13:58] francois-montmasson-efg commented on #1079
blip problem back

[2015-03-16 14:04] bajtos commented on #1215
The fix described in my comment has a flaw: SQL connectors cannot distinguish between "undefined" and "null" values. When replicating changes from between a memory-backed datasource and an SQL-backed datasource, we have to convert any undefined values to null values. This conversion will modify the data and thus the checksum/revision, which will cause conflicts in the subsequent replication runs.

[2015-03-16 21:04] hotaru355 commented on #517
+1

[2015-03-16 23:11] cossou opened #1217 "Keys are not being parsed has ObjectId"
Hi guys,

I have the following scenario.
I made a `GET` to the following address: `/accounts/{id}/apps/{fk}`

With the `id` and `fk`
`id`: 54dc9dec466d681300289184
`fk`: **550715659866120300128497** (_ObjectId but its also Integer_)

I'm using Mongo and both `id` and `fk` were auto generated.

The result from the API:

[code]

My App model:

[code]

[2015-03-16 23:16] yagobski commented on #517
+1

[2015-03-17 06:18] raymondfeng commented on #1217
@ritch strong-remoting is confused by the special MongoDB object id literal (550715659866120300128497) and parses it into a number. Unfortunately, the number loses the precision and it cannot be formatted as hex to test the object id pattern.

[2015-03-17 11:23] mbenaissa commented on #454
Is this point of scope is closed, it doesn't work for me.
My case is: I have a Product model, and I set in place a system that trace CRUD actions in a meta data fields (created, updated, deleted, ownerId). We can't delete instances, but only flag them in the deleted field.
Now, I want to see in the list of products only the non deleted instances {deleted:false}.
I saw the documentation for the def

[2015-03-17 16:29] ritch commented on #1217
Strong-remoting needs to know what type it should use for those arguments. Since it isn't explicit it tries to convert it to an integer (since it looks like one).

You can be explicit about the type by modifying the `accepts` array for the `SharedMethod`. You can get the shared method using `MyModel.sharedClass.find()`. See these links for more:

http://apidocs.strongloop.com/strong-remoting/#shar

[2015-03-17 16:33] raymondfeng commented on #1217
At the moment, the fk argument is typed as `any`. See https://github.com/strongloop/loopback/blob/master/lib/model.js#L497-L499.

[2015-03-17 16:33] cossou commented on #1217
@raymondfeng & @ritch Thanks!

Can I force the type in the `.json`?

[2015-03-17 16:34] ritch commented on #1217
I wonder if we can set that to `string` if we know that the dataSource is going to use `string`-ish IDs.

[2015-03-17 18:34] cossou commented on #1217
@ritch @raymondfeng Is there a simpler way to force the `fk` to string.

Wondering why no one else run into this problem before.

[2015-03-17 18:42] NickvdMeij commented on #1180
+1

[2015-03-17 20:39] BerkeleyTrue commented on #985
@bajtos Working on migrating to new version. Will be working on it for the next couple of hours.

[2015-03-17 20:56] dashby3000 opened #1218 "IDs are being generated for Model that has a base of "Model""
If I have a `model` defined as such:

[code]

And it referenced as a `type` in a model defined like this:

[code]

In Swagger, it generates the following:

[code]

The `id` field from the model `Foo` should not be necessary since it is not a `PersistedModel`.  The only way to get rid of it is to make one of the required properties of `Foo` and `id` field.

However, this is not a suitable workaroun

[2015-03-17 21:31] dashby3000 opened #1219 "Qualified names for Models"
The API Architect wants the ability to create a "qualified" name spaces for Models.  In effect, this would result in having models that conform to namespaces.  For example "foo.User" is different than "User", than "bar.User".

ref: PLATAPI-847

[2015-03-17 21:56] dashby3000 opened #1220 "SubClassing a Model"
The process of using the `setup` method to allow a `Model` to inherit remote methods of another `Model` is not documented.

This pattern is seen in the `User` Model within LoopBack.

[2015-03-17 22:23] superkhau commented on #1167
3. Mongo connector test fails with:

[code]

[2015-03-17 23:28] raymondfeng commented on #1167
@superkhau For update, you need to have at least one property in the data arg.

[2015-03-17 23:30] superkhau commented on #1167
@raymondfeng The test itself is testing for `undefined` though? See https://github.com/strongloop/loopback-datasource-juggler/pull/502/files#diff-404450f6fd92e7f3f2031232213c07c5R981

[2015-03-18 00:17] raymondfeng commented on #1167
The failing test case should have been fixed in master. You can rebase.

[2015-03-18 00:39] superkhau commented on #1167
Still failing.

[2015-03-18 09:23] bajtos commented on #1167
I turns out I need `deleteAll` to report the number of deleted records too. https://github.com/strongloop/loopback-datasource-juggler/pull/511 is implementing the changes in juggler, we need to fix connectors too.

@superkhau would you mind taking care of fixing `deleteAll` in the connectors as a part of your work on `updateAll`, and keeping this GH issue to track both?

/cc @raymondfeng

[2015-03-18 12:08] makersu opened #1222 "Deploy with "slc build --pack" using datasources.production.json"
When I "export NODE_ENV=production", then "slc run",it go with datasources.production.json.
When I "slc build --pack",
then "slc deploy http://localhost:7777 xxx-x.x.x.tgz", it go with datasources.json.
Is there something missing?
Thanks.

[2015-03-18 16:25] BerkeleyTrue opened #1223 "new replicate callback signature does not play well with promises"
[this](https://github.com/strongloop/loopback/blob/master/lib/persisted-model.js#L882) causes the signature to change for promises, breaking backwards compatability for those of us wrapping apu in promise.

The return from this callback gets pushed onto a single array with the first index being array of conflicts and second argument being checkpoint object. This gave me several headaches tracking

[2015-03-18 16:42] BerkeleyTrue commented on #1223
Actually this is more of an issue with how Q's makeNodeResolver handles callbacks with more than one result argument.

[2015-03-18 16:48] BerkeleyTrue commented on #1223
So this is an issue that is fixed in latest Q that hasn't been released yet. Closing this issue.

[2015-03-18 16:48] #1223 closed

[2015-03-18 17:26] bajtos opened #1224 "[3.0 ]Remove deprecated features"
- model hooks and events
 - metadata routes
 - [validateUpsert](https://github.com/strongloop/strong-express-metrics/issues/4)
 - `loopback.DataModel`

Plus all places where we call depd's `deprecate`.

[2015-03-18 18:22] superkhau commented on #1167
Sure.

Connect to strongloop/loopback-datasource-juggler#511

[2015-03-18 18:39] zanemcca commented on #803
@superkhau I have the same issue except the related model I need to retrieve is done through a polymorphic relation. How do you recommend getting it?

[2015-03-18 20:04] drish opened #1226 "afterValidate operation hook"
Hello guys.

The docs say the current version does not support `afterValidate` hook, but what about the case where I need to manipulate data after it is validated ?
For example, after all my fields are validated I'd like to encrypt some of them and persist into datastore.

Common hook `model.afterValidate` is deprecated.

Thanks in advance.

[2015-03-18 21:41] superkhau commented on #1167
Do we expect consistent data types among all connectors? For example:

[code]

Should we be returning custom results based on the type of connector? Or just simply a number (count) of items affected for all connectors to be consistent?

[2015-03-19 06:57] bajtos commented on #1167
I strongly prefer juggler and connectors to return a consistent value independent on the connector used. In this case just a number (count) of affected rows. The connector-specific code should stay in connectors, juggler should not need to know about different response formats.

We should probably preserve current behaviour for backward compatibility and send the "count" value in a new callback ar

[2015-03-19 06:58] bajtos commented on #1167
If we decide to go with `cb(null, data, count)`, then I have to rework https://github.com/strongloop/loopback-datasource-juggler/pull/511 to use the same pattern.

[2015-03-19 09:54] Loikos opened #1229 "Use a reference to a model in another"
Hi,

I would like to know if loopback allow you to use a model in another.

For example :

i have 2 models like this :

Server.json
[code]
And Datastore.json
[code]

And in my Server.js for example i wish to find elements from Datastores.

I try this :

Server.js

[code]
Like you can see in comment it seems that you can create a link to the model Datastore but you have access to description only o

[2015-03-19 13:06] seriousben commented on #418
Anybody having some issues with node-redis losing cls namespace? on .then.

Seems like something like https://github.com/TimBeyer/cls-bluebird would be required to make cls work better with node-redis and other packages.

[2015-03-19 14:41] kblcuk opened #1230 "Remote methods break for models with long numerical ids"
We use tweet ids as identifiers for tweets stored in our system.
Currently GETs fail, because remote methods try to deduct id type. So for instance /api/Tweets/576329482765791232 returns 404, whereas the tweet with that id is actually present.

Shouldn't remote methods creator (for instance here: https://github.com/strongloop/loopback/blob/master/lib/persisted-model.js#L571) respect id type define

[2015-03-19 16:41] bajtos commented on #1167
Ok, I see that https://github.com/strongloop/loopback-datasource-juggler/pull/502 is returning an object with a count property to the callback, that looks like a good approach. I'll apply the same principle in https://github.com/strongloop/loopback-datasource-juggler/pull/510

[2015-03-19 16:42] raymondfeng commented on #1167
I prefer that connectors to call back with single data object. The `count` should be a property of `data` in this case. If existing CRUD apis on `PersistedModel` expects a callback with `count`, it can be handled by dao.js.

[2015-03-19 16:47] leolannenmaki commented on #1230
Chiming in as well (I also work on the project in question).

Our current workaround is pretty ugly. We patch `any` to `string` in a couple of places. For example:

[code]

And then we overwrite remote methods like `findById` to `accept` `id` of type `string` instead of `any`.

So at least `PersistedModel.setupRemoting` and `ModelCtor.sharedCtor` should be made awere of the desired type of `id` in

[2015-03-19 17:24] chandadharap commented on #1129
Ritchie to update this with Al's example requirement so we know exact acceptance.

[2015-03-19 22:39] fabien commented on #1230
See: #1217 - probably a duplicate

[2015-03-19 22:41] fabien commented on #1216
`updateAttributes` is on the prototype: `beforeRemote('prototype.updateAttributes', ...)`

[2015-03-19 23:29] superkhau commented on #1167
:+1:  to single data object. I am modifying all the other connectors to match this approach.

[2015-03-20 01:10] superkhau commented on #803
@zanemcca Not sure as I am not too familiar with polymorphic relations. @fabien Can you chime in here?

[2015-03-20 05:18] alFReD-NSH commented on #418
@seriousben That issue was fixed at version 2.8.8, what version are you using?

[2015-03-20 06:07] fabien opened #1231 "Built-in models: no indexes?"
I've been scratching my head a bit, but is it actually true that none of the built-in models use indexes?

/cc @raymondfeng @bajtos

[2015-03-20 06:30] superkhau commented on #1167
@bajtos @raymondfeng Postgres connector doesn't return number of rows deleted in `executeQuery` for `deleteAll`. It returns:

[code]

This is kind of a blocker because I'm not sure how to get the count. The ugly option I can think of is to perform a count query (`SELECT COUNT(*) FROM table WHERE "name" = "John"`), then perform the delete query (`DELETE FROM table WHERE "name"="John"`). Can you guy

[2015-03-20 06:35] leolannenmaki commented on #1230
Very nice! It's probably a duplicate and looks like this might be fixed already. We'll try out the fix. Thank you!

[2015-03-20 06:54] bajtos commented on #1167
What version of PostgreSQL are you using? I am also surprised that the response contains `command: 'DROP'`, I would expect `command: 'DELETE'` instead.

The docs for both [8.2](http://www.postgresql.org/docs/8.2/static/sql-delete.htm) and 9.0 says that

DELETE count
[code]

[2015-03-20 07:30] #986 closed

[2015-03-20 09:34] kblcuk commented on #1230
Yep, fix from #1217 works, as in the string type is respected. However, the #1217 seem to cause other problem -- id's not explicitly defined in model definition are treated as Number right now, whereas with version we're using (2.8.4) and with latest release they are passed as is to MongoDB (which then properly stores them as ObjectIds).

I'll comment on this in the linked issue.

[2015-03-20 09:39] kblcuk commented on #1217
Currently the fix causes problems with auto-generated ids for Mongo -- loopback now tries to force datatype to number if id is not explicitly defined in model definition file, whereas before (current HEAD) it let Mongo to decide what datatype id should be.

So GETting `/api/myModel/550be5c213cd775eb14e7edb` throws `id must be a number`.

[2015-03-20 10:36] pasindud commented on #575
I had the some problem but just added ```var cors = require('cors');
app.use(cors());``` to the server.js was quick simple

[2015-03-20 12:36] seriousben commented on #1217
Could the mongo connector provide a new type? This would be very useful in a lots of situations.

[2015-03-20 12:39] seriousben commented on #418
@alFReD-NSH here is what I am using right now. This seems to be related to node-redis specifically.
[code]

[2015-03-20 12:52] bajtos commented on #575
See strongloop/strong-remoting#165 and strongloop/loopback-workspace#192, you can configure the cors middleware declaratively too.

[2015-03-20 13:47] EmilTholin commented on #913
@raymondfeng Any update on this? I guess the bigger question is; will we see awesome connector hooks in LoopBack soon? Cheers.

[2015-03-20 16:10] jakerella opened #1232 "`routes` middleware phase not firing?"
Hi! I generated a fresh LoopBack app using slc v3.0.4, then added the following to middleware.json:

[code]

In the `/server/middleware/status.js` file I have the following:

[code]

I would expect that for each route hit the server console would display that message. I am following the [instructions in the docs](http://docs.strongloop.com/display/public/LB/Defining+middleware#Definingmiddleware-M

[2015-03-20 16:15] raymondfeng commented on #1232
Please use 'routes:before'. The `rest` middleware is added by `server/boot/rest-api.js` using `app.use()` which in turn registers the middleware using `routes` phase. Handlers in the same phase are executed by order of registration.

[2015-03-20 16:18] bajtos commented on #1232
This is expected behaviour. You are effectively doing this:

[code]

Routes don't call `next`, therefore your middleware is never executed by express.

This is a know express issue (feature?).

[2015-03-20 16:19] bajtos commented on #1232
However, if you were hitting a URL that does not exist, your middleware will be executed just before the 404 handler kicks in.

[2015-03-20 16:20] bajtos commented on #1232
In general, we point LoopBack users to ask questions in the mailing list. I am closing this issue as resolved. Feel free to add "needs doc" label if you think this is something to capture in the docs. Or even better, submit the docs change yourself :)

[2015-03-20 16:20] #1232 closed

[2015-03-20 16:20] jakerella commented on #1232
@bajtos I see... that makes some amount of sense, but then how can I hook into the outgoing response object post-route handling?

[2015-03-20 16:29] bajtos commented on #1232
Regarding http://stackoverflow.com/questions/29169519/strongloop-loopback-how-to-customize-http-response-code-and-header - we would like to fix the 200 vs. 201 code for loopback 3.0. It's a breaking change, see https://github.com/strongloop/loopback/issues/360.

In the meantime, you can setup an "afterRemote" hook (per model).

AFAIK, Express (and thus LoopBack) don't provide any direct way how to

[2015-03-20 17:15] BerkeleyTrue commented on #1188
:+1:

[2015-03-20 17:21] superkhau commented on #1167
https://github.com/strongloop/loopback-connector-postgresql/blob/master/package.json#L18 for the version of the `pg` lib we use.

I'm not sure if just the `pg` lib yet, but I'll try adding the `RETURNING` clause and see how that goes.

[2015-03-20 17:25] crandmck commented on #1232
@jakerella If I need to update docs for any of above, please reopen this and re-label as "doc".  N.B. the "needs doc" issue is for software issues that need associated doc work (vs. the issue to actually track the doc work).  I'm engulfed in work around Strong PM at the moment, otherwise I'd try to sort it out myself... :-)

[2015-03-20 17:45] bajtos commented on #838
I have landed #515 which added `ctx.isNewInstance` property and implemented support for that in the memory connector. Now we need implement this feature in all connectors, any volunteers?

[2015-03-20 18:40] jakerella commented on #1232
FYI, I implemented what I needed with a boot script:

[code]

[2015-03-20 18:40] jakerella commented on #1232
@crandmck I'll open a new issue for documentation.

[2015-03-20 18:45] jakerella opened #1234 "Document the functionality for middleware `route` phase better"
This pertains to the [documentation about using phases in middleware](http://docs.strongloop.com/display/public/LB/Defining+middleware#Definingmiddleware-Middlewarephases). I've discovered through testing and discussions with people on issue #1232 that using the `route` phase is a bit tricky. Because of how LoopBack processes routes, if a route is matched to a path, then any middleware set on the

[2015-03-20 18:51] superkhau commented on #1167
@bajtos @raymondfeng FYI, The `RETURNING` clause works. For reference, the clause on SO fails, but the clause at the bottom of [this page](http://www.postgresqltutorial.com/postgresql-delete/) works. tl;dr - `RETURNING *` works, `IS TRUE RETURNING *` doesn't.

[2015-03-21 00:58] zanemcca commented on #803
Thanks for the reply @superkhau. For the record I have a hackish solution where I use a switch statement on the polymorphic type property to find the appropriate model to query then I use the solution you gave above.

I am wondering though if there is anyway to get the order.customer() call to work within a hook as @djabif has asked? Could I define the hook in a different place that would load aft

[2015-03-21 04:24] lennybr commented on #327
+1

[2015-03-21 08:13] fabien commented on #803
@zanemcca are you currently using `Model.observe('after save')`? It's odd that the relation accessor wouldn't work in this case.

[2015-03-21 09:04] grosem commented on #386
@fabien & @raymondfeng

I just tested it with the latest version and it is still possible. For example like this (manager is extending the User model):

http://localhost:3000/api/events?filter={"where":{"nr":1},"include":{"relation":"manager","scope":{"include":[{"relation":"accessTokens"}]}}}

https://groups.google.com/forum/#!topic/loopbackjs/8XmsoaHpNP4 seems to be the same problem.

[2015-03-21 10:31] bajtos commented on #1167
Please don't fetch all data from the database via `RETURNING *`, try to limit the amount of data as much as possible, e.g. by returning only a list of IDs via `RETURNING id` or perhaps get only the count via `RETURNING COUNT(*)` if that works.

[2015-03-21 16:02] bananajohnny commented on #586
+1

[2015-03-21 20:18] pasindud commented on #564
shouldn't this be set by a config.json ? or any other flag

[2015-03-22 06:11] smusa opened #1236 "[Error: Cannot find module 'loopback'] code: 'MODULE_NOT_FOUND'"
I am trying to get the API server on Openshift. I used "rhc app create MyApi https://raw.github.com/strongloop/openshift-cartridge-strongloop/master/metadata/manifest.yml mongodb-2.4" to create the API app on Openshift. It's up and running fine and i can explore the API fine.

When i try to create the data model using "slc loopback:model" then i am getting following error:
Error loading module "lo

[2015-03-22 13:22] Ijmir commented on #327
so it is not going to be in sprint 65?

[2015-03-22 14:24] mkeremguc commented on #1196
ok but how to use CRUD over REST api ?

[2015-03-23 04:55] superkhau commented on #1167
Makes sense. Limiting with `RETURNING id` instead now as `RETURNING COUNT(*)` doesn't work - aggregate functions not allowed in `RETURNING` clauses.

[2015-03-23 05:36] raymondfeng commented on #1167
@superkhau I don't think you have to mess around `RETURNING'. Here is what I see from the debug output of Model.deleteAll:
[code]
The `rowCount` is what we need.

[2015-03-23 05:38] superkhau commented on #1167
@raymondfeng I will double check before messing with the query itself to make sure `rowCount` is there.

[2015-03-23 06:14] superkhau commented on #1167
@raymondfeng After more digging, the `rowCount` is in the results object of the original query. Unfortunately, we only return [`data.rows`](https://github.com/strongloop/loopback-connector-postgresql/blob/master/lib/postgresql.js#L122). Anyways, I think the root of the issue and my confusion is this:

1. `executeSQL` is low level and called by `prototype.query`, it should return `err` and the `res

[2015-03-23 08:48] bajtos commented on #1167
+1

Just be careful to not break the public API exposed by the connector please. If `executeSQL` is not exported then you are fine.

[2015-03-23 10:38] bajtos opened #1237 "Move replication & sync to a standalone module"
Move replication & sync to a standalone module, this will enable us to version this component independently of the loopback core.

[2015-03-23 15:53] raymondfeng commented on #1167
@superkhau +1.

[2015-03-23 16:38] ritch commented on #1237
+1

@bajtos I'd like to do the initial creation of this module when the time comes.

[2015-03-23 17:50] marcellodesales commented on #924
+1 PLEASE!!!!

Today I needed to return the list of categories/subcategories...

[code]

I want to return only all the categories in the root of the response, all all their related subcategories as the embedded object in the overridden method "find"...

[code]

Since the objects does not have the property, the query DOES NOT RETURN!!! Just like it is defined, MongoDB has this http://stackoverflow.

[2015-03-23 19:42] Terekhov commented on #924
Looks like this is planned #1009

[2015-03-23 21:52] marcellodesales commented on #1009
@bajtos @raymondfeng is there any timeframe when this feature makes the cut?

[2015-03-24 00:11] crandmck opened #1239 "Update usage of "slc run" in docs."
In most places where we use `slc run` currently in LoopBack docs, we should change to either:
- `slc start`
- `node .`

@sam-github to advise when one or the other makes sense.

[2015-03-24 01:07] bitmage commented on #491
I'm still not able to call Model.deleteById() or instance.delete().  npm ls:

[code]

When I call:

[code]

I get:

[code]

Find and save functionality work fine however.

Where does this code need to be implemented?

[2015-03-24 09:33] bajtos commented on #1009
@marcellodesales not really. Can you contribute the feature yourself?

[2015-03-24 10:08] gowram opened #1240 "How to use include filter and where filter in single query."
Hello there,

I have some use case, that i want to query with two filters "include" and "where", i tried many ways but i did not get any result so far.

it's actually i need to get logged-in users role.

is there any other simple way to have it with?

Thanks & Regards
Rama

[2015-03-24 10:41] bajtos commented on #988
I wrote down answers to https://gist.github.com/bajtos/63b415629a341ef5d0c9

@ritch could you please review? The text is not meant to be a final version to be published, just a source of information for @crandmck.

@crandmck I am reassigning this story to you. Let me know if there is anything else you need from me  or @ritch in order to finish the documentation.

[2015-03-24 11:02] bajtos commented on #491
"deleteById" is registered here: https://github.com/strongloop/loopback/blob/df770455eb84a3b1919a1d71c2002206967d1e52/lib/persisted-model.js#L617-L624

"deleteAll" is intentionally described as `shared: false`, because deleting all records is a pretty dangerous operation

"prototype.delete" does not seem to be registered with remoting.

The "deleteById" problem is most likely caused by https://git

[2015-03-24 11:03] bajtos commented on #491
@bitmage Workaround: call `lbclient.models.MyModel.deleteById` instead.

[2015-03-24 11:08] #1188 closed

[2015-03-24 11:12] bajtos commented on #564
Now that the error-handling middleware is configured in `server/middleware.json`, it should be reasonably easy to modify the handler factory to accept an `options` argument which would specify the behaviour.

[2015-03-24 15:25] clarkbw opened #1241 "investigate soft delete feature"
This is a fork of the issue strongloop/loopback-component-push#57 and the related pull request strongloop/loopback-component-push#72 where a quick patch was created to investigate implementing a soft delete for the strongloop/loopback-component-push module.

@raymondfeng mentioned that this would make sense to generalize and bring up to the loopback level so I'm opening this issue for that.

I'd a

[2015-03-24 15:29] raymondfeng commented on #1241
+1 to explore the idea to use `softDelete` setting.

[2015-03-24 15:44] jsheely commented on #1009
This already works using the exists method.

[code]

The key is https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L488 where it will apply the $ sign to any property it doesn't understand as an else case.

[2015-03-24 15:46] raymondfeng commented on #1240
Have you checked out http://docs.strongloop.com/display/LB/Include+filter#Includefilter-Includewithfilters? <http://docs.strongloop.com/display/LB/Include+filter#Includefilter-Includewithfilters?>

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc.

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://strongloop.com/mobile-application-development/loopback/>

[2015-03-24 15:46] raymondfeng commented on #1240
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs instead of github issues.

[2015-03-24 15:46] #1240 closed

[2015-03-24 15:47] seriousben commented on #1241
We have easily implemented softDelete in our application in:
 * Adding a softDelete method to models
 * Disabling the remote `del /:id` method
 * Adding a remote `del /:id` method calling softDelete
 * Ensuring remotely fetched objects never include deleted objects (after hooks on find*)
 * adding a default query criteria on `'access'` when isDeleted is not in the query

Things to think about:
 *

[2015-03-24 15:48] kraman commented on #1009
@jsheely That is specific to mongodb. would be nice if this could be generalized to all dbs.

[2015-03-24 15:49] jsheely commented on #924
@dennisaj Spread a little fud. This feature actually already works. See my note on the related article #1009

exists is not explicitly available but the condition will be evaluated by automatically adding $ to in the mongodb connector.

[2015-03-24 16:00] jsheely commented on #1009
@kraman Agreed. I just wanted to be clear that this feature technically can work today. This and the related issues make it seem like it wasn't possible.

While it is not a **baked** part of the abstracted API it is very nice that it can fall down into the specific implementations of the provider and still be handled.

[2015-03-24 16:05] mattaylor commented on #327
+1 for https://github.com/gritzko/swarm

[2015-03-24 16:59] raymondfeng commented on #1009
@kraman What's your expectation for relational DBs? Do you interpret `exists: true` as `IS NOT NULL`?

[2015-03-24 17:01] chandadharap commented on #1166
link PR

[2015-03-24 17:03] kraman commented on #1009
@raymondfeng yes, typically it would be `IS NOT NULL`

[2015-03-24 17:41] superkhau commented on #1167
@bajtos After speaking with @raymondfeng on hangouts, it was decided that we can just modify the second argument (get rid of `data.rows`) which allows me to use the second arg for all connectors. I am going to modify all the third arg updates to do that instead.

[2015-03-24 18:57] shlomiassaf commented on #586
+1, same issue here, POST works, PUT does not.

[2015-03-24 18:59] shlomiassaf commented on #586
@bajtos , @raymondfeng  I think you should look into this...

[2015-03-24 22:07] bajtos commented on #1167
I am not convinced this is not a BC, but I'll go with whatever decision you have made so that we can get this finished ASAP.

[2015-03-24 22:12] bajtos commented on #586
This is a duplicate of https://github.com/strongloop/loopback-datasource-juggler/issues/262, see also https://github.com/strongloop/loopback-datasource-juggler/blob/e13c0cdc12467aff5f347fa1112c03ba1dcdbb8b/lib/dao.js#L396-L398

[2015-03-24 22:12] superkhau commented on #1167
@bajtos Had another meeting with @raymondfeng explaining the BC issue you just mentioned. Gonna update the PostgreSQL connector to return `data.rows` if selecting and `{count: affectedRows}` on `destroyAll/updateAll`. We can discuss any further changes directly there.

[2015-03-24 22:13] shlomiassaf commented on #586
:+1:

[2015-03-24 23:08] BerkeleyTrue opened #1242 "Initial replication not replicating existing models from server into browser client."
Updating loopback broke client initial feed. Replication cycle reports completion with no conflicts but further queries to local models returns empty results.

loopback 2.14.0
~~loopback-datasource-juggler 2.19.0~~
loopback-datasource-juggler 2.21.0 same issue here.

[2015-03-25 11:00] vietanh85 opened #1243 "Cannot create index for properties"
"indexes": {
    "ng_id_index": {
      "ng_id": 1
    },
    "order_index": {
      "order": 1
    }
  }

My indexes configuration for MyModel.json as above, but it's looks like loopback didn't create any index in my mongodb.
Could you please help me to take a look on that?

[2015-03-25 11:56] vietanh85 commented on #1243
Sorry, my bad, I forgot to call dataSource.autoupdate()
Please ignore this issue.

Thank you,
Anh.

[2015-03-25 11:56] #1243 closed

[2015-03-25 20:45] brad-decker opened #1244 "Records returned from automatically generated relationship functions are not instances of the related model"
I have an Assistant model and a Bidder Model. An Assistant has one Bidder, and a bidder belongsTo an Assistant.

If i do: Bidder.findOne({include: "assistant"}) the returned record has the assistant() method and returns an assistant object (assistant instanceof app.models.Assistant is true) and it has all prototype methods declared on it.

If, however, I do Assistant.findOne({include: "bidder"}) t

[2015-03-25 21:08] #1244 closed

[2015-03-25 21:15] brad-decker commented on #1244
This was my bad. I had used assistant.bidder(bidder) to associate a bidder record with an assistant which has caused this issue. now i'm trying to determine the proper way to associate two records.

[2015-03-26 08:58] AurelieV commented on #517
+1

[2015-03-26 08:58] bajtos opened #1247 "Remove usages of "crypto" module in browser"
At the moment, LoopBack uses the builtin "crypto" modules in several place. When building a browser bundle, the crypto module adds whopping 650kb of code (unminified). We should review the usages of "crypto" module and replace them with a smaller implementation like [sha.js](https://github.com/crypto-browserify/sha.js) and [randombytes](https://github.com/crypto-browserify/randombytes) where possi

[2015-03-26 09:05] bajtos opened #1248 "Make `loopback.template` server-side only"
Make `loopback.template` a server-only API, so that we can avoid including `ejs` in the browser bundle. This should save about 24kb from the un-minified bundle size.

See also #1256.

[2015-03-26 09:10] bajtos opened #1249 "User passwords in the browser"
At the moment, the `User` model includes internal methods `hasPassword` and `hashPassword` in the browserified bundle too. The implementation uses `bcryptjs`, which adds about 50kb to the bundle (un-minified) and another 650kb through crypto-browserify (see #1247).

I'd like us to consider whether these two methods make sense to be called in the browser, how should we replicate changes made to a u

[2015-03-26 09:21] bajtos commented on #989
I did some investigation in the past two days while I was travelling.

The biggest contributor to the bundle size is the "crypto" module, it adds ~650kb unminified. See https://github.com/strongloop/loopback/issues/1247 for a follow-up discussion.

Another big dependency is lodash with 367kb unminified. https://github.com/strongloop/loopback-datasource-juggler/pull/538 removes this dependency.

Sm

[2015-03-26 10:11] bajtos commented on #1167
@superkhau could you please describe the callback arguments in the documentation explaining how to build a connector? http://docs.strongloop.com/display/LB/Building+a+connector

I am not sure if the API documentation in juggler's `lib/dao.js` was updated to match the changes we made to `update*` and `delete*` callbacks, could you please check that too?

[2015-03-26 10:16] bajtos commented on #1167
@superkhau for example, updateAll still says that a scalar "count" value is returned: https://github.com/strongloop/loopback-datasource-juggler/blob/e13c0cdc12467aff5f347fa1112c03ba1dcdbb8b/lib/dao.js#L1634 It would be nice to fix the implementation too, it's using a property called `count` instead of `info` now.

What is the final loopback/juggler API that you have arrived at with @raymondfeng? I

[2015-03-26 11:28] bajtos commented on #126
FWIW, composite ids are not supported by (all) CRUD operations yet according to https://github.com/strongloop/loopback/issues/126.

[2015-03-26 11:29] bajtos commented on #126
FWIW, composite ids are not supported by (all) CRUD operations yet according to https://github.com/strongloop/loopback-datasource-juggler/issues/121

[2015-03-26 13:22] brunocascio opened #1250 "Multiple where filters"
`recipes?filter[where][or][][name][like]=Receta&filter[where][or][][description][like]=description%20of%20recipe``

i get `[]`

Which is the correct form for this query?

[2015-03-26 13:30] jbeurel commented on #517
+1

[2015-03-26 13:35] brunocascio commented on #1250
I forgot add `%`in value of like

`recipes?filter[where][or][][name][like]=%Receta%&filter[where][or][][description][like]=%..%`

[2015-03-26 13:35] #1250 closed

[2015-03-26 14:03] zanemcca commented on #803
@fabien Yes I am trying to access it from Model.observe('after save'). The ctx.instance.consumable is undefined and  ctx.instance.__get__consumable() returns undefined as well.

[2015-03-26 16:35] bajtos commented on #1237
@ritch shall I assign the issue to you then? I am anticipating that this move will require some changes in loopback-boot , so that components can decide whether they should be called before the models are defined (new) or after all models and datasources and boot scripts were booted (current behaviour).

[2015-03-26 17:05] BerkeleyTrue commented on #1242
@bajtos What is the correct way to seed client models? Before running the replication method would populate the models in localStorage. Now it seems that if there are no change models the algorithm ends abruptly.

Is the proper way to seed the clients models on initial load?

[2015-03-26 17:28] bajtos commented on #1242
@BerkeleyTrue thanks for reporting the issue. Can you reproduce the problem using current loopback & juggler master branch?

By looking at the code, I think the problem may be here: [lib/persisted-model.js#L1330-L1336](https://github.com/strongloop/loopback/blob/4a8c3be8f4fcd4a7cb6831035b1317cafe1726ea/lib/persisted-model.js#L1330-L1336)

[code]

As you can see, the periodic cleanup is run only on

[2015-03-26 17:29] bajtos commented on #1242
I'll have to investigate why this problem was not picked up by unit-tests, because we are running replication tests in the browser too.

[2015-03-26 17:51] BerkeleyTrue commented on #989
Found this last night https://github.com/hughsk/disc. it visualise the size of scripts in a bundle. Was going to investigate how it generates this data but I see you beat me to it. Though I share it anyway.

[2015-03-26 18:12] bajtos commented on #1167
I made the changes myself, see  https://github.com/strongloop/loopback-datasource-juggler/pull/540 and https://github.com/strongloop/loopback/pull/1252

[2015-03-26 18:16] #575 closed

[2015-03-26 18:20] bajtos commented on #989
Thank you for sharing this! I hacked browserify to report dependent-dependency edges and then wrote a simple analytics script to give me some insights, because that's was the easiest option while being offline. However, the disc module looks very useful, I'll give it a try someday.

[2015-03-26 18:50] superkhau commented on #1167
Done.

[2015-03-26 18:57] ritch commented on #1215
Really we need to support the least common denominator functionality required by the combination of connectors you'd like to replicate between. Essentially this means we need to support treating properties the way SQL does. Meaning...

[code]
should error during validation.

Really what this means is that we need something like what you are proposing but specifically it should enforce SQL nullable

[2015-03-26 18:57] ritch commented on #1215
For the record I am a big **-1** on the name `superstrict`. Something less vague would be preferred.

Maybe `requireNullability` (stupid name but thats the idea).

[2015-03-26 18:58] wxqp commented on #517
+1

[2015-03-26 19:09] BerkeleyTrue commented on #1242
I have just tried to run rectifyAllChanges before replication but method depends on change models existing in the client in order to actually function. When no models are present no change models exist.

[2015-03-26 19:22] carliwis commented on #517
+1

[2015-03-26 20:54] raymondfeng commented on #1218
The following should work:
[code]
Please note that you need to set `idInjection` to false and hide the `id` property by setting its value to `false` or `null`, which prevents it from inheriting the property from the base model.

[2015-03-26 21:08] raymondfeng commented on #1218
@dashby3000 Please verify the solution.

[2015-03-26 21:29] ritch commented on #1249
I'd be fine if we just threw when calling those methods in the browser.

[2015-03-26 21:30] ritch commented on #1249
Then replace `bcrypt` with a noop or a throw-only function.

[2015-03-26 21:32] ritch commented on #1248
What if we had a module for generating a loopback app browserify bundle... It would allow you to opt out of certain features. Something like this:

[code]

[2015-03-26 21:33] ritch commented on #1248
Either way I like the idea of removing this in the browser bundle... I doubt anyone uses it.

[2015-03-27 05:15] seanbrookes opened #1253 "Scaffold a webapp project including website resources/assets"
I find myself copying and pasting the following code into each project:

[code]

Express and path used to be included by default. Is it possible to reinstate them or at least have a 'web app' flag on the slc loopback CLI?

[2015-03-27 07:03] bajtos commented on #1242
I am afraid I cannot reproduce the problem on my side. Can you please provide a small app and instructions for reproducing it?

[2015-03-27 07:44] bajtos commented on #1253
If you are using the recent project template, then you should configure your static middleware in `server/middleware.json`.

[code]

FWIW, you can also use `loopback.static` instead of `express.static` in your code.

Yes, that's the solution I like most.

[2015-03-27 08:56] bajtos commented on #1215
// MyModel has a property b that is **NOT** nullable
MyModel.create({b: undefined}) // or null obviously
[code]

I'll try to think about a better option name than superstrict. For the record, my idea was to extend the range of `strict` values with `strict: 'super'`. We already have `strict: 'throw'`. On the other hand, if we create a new setting independent of `strict`, then users can use this new

[2015-03-27 09:44] bajtos commented on #988
I have updated the gist, users should set `strict: "throw"` instead of `strict: true`.

[2015-03-27 10:34] bajtos commented on #988
Upcoming changes to incorporate in the gist and/or the doc page:
 - https://github.com/strongloop/loopback/pull/1251Improve error handling in replication
 - https://github.com/strongloop/loopback-datasource-juggler/pull/542 Add model setting "defaultToNull"

[2015-03-27 13:57] bajtos commented on #1166
@chandadharap @ritch I'd like to check with you what's the status of this story? It's assigned to Sync v1.0 milestone, but not in the current sprint 67.

[2015-03-27 14:01] bajtos commented on #512
You should use `app.get('url')` to get the canonical URL at which the application can be accessed. I am not sure if you approach based on the `Origin` header will work when the website making the XHR request is on a different domain than LoopBack's REST API, or when the request is sent from a native iOS/Android app.

[2015-03-27 14:32] seanbrookes commented on #1253
is the above documented somewhere?  I couldn't find it at the time

[2015-03-27 14:34] seanbrookes commented on #1253
out of curiosity why was express removed?

- seems like loopback/express is like chocolate/peanut butter : they just go together

- are most LB projects non-express

[2015-03-27 16:17] mbuster opened #1255 "Replication: ACLs and individual models"
Is it the case that the current replication mechanism attempts to replicate the entire model/table (all instances)? If so, how would one replicate only "owned" instances, or instances otherwise allowed by ACL?
For example, a browser application might want to only replicate instances of a "Project" model which are owned (or otherwise allowed) by the currently logged in user. Currently attempts to r

[2015-03-27 16:35] ritch opened #1256 "Spike: Feature Exclusion / Inclusion in Browserified Bundles"
I should be able to run a tool (or module, gulp/grunt task) that allows me to provide a config like the following:

[code]

This configuration should result in **inclusion** of `replication` dependencies and **exclusion** of `template` and `accessControl` dependencies.

**This should allow me to have significantly reduce the bytes downloaded by the browser!**

[2015-03-27 16:37] bajtos commented on #517
What databases are you using? Is it enough to support filtering on second-level properties for memory and MongoDB, or do you need it for SQL databases too?

[2015-03-27 16:45] bajtos commented on #1253
http://docs.strongloop.com/display/LB/Defining+middleware#Definingmiddleware-Usingbuilt-inmiddleware

`loopback.static` was always available.

loopback provides the same properties/methods as express does, we are copying everything from the express object to the loopback object. Even better, loopback 2.x includes properties that have been removed in express 4.x, e.g. `loopback.errorHandler` works

[2015-03-27 17:33] raymondfeng commented on #982
LGTM

[2015-03-27 17:37] marcellodesales commented on #1009
@jsheely I agree with that being available in the API, as well as with @kraman around "IS NOT NULL" on relational db...

[2015-03-27 17:41] bajtos commented on #1215
@raymondfeng @ritch I am pondering the idea of forcing the users to enable both "strict" and "persistUndefinedAsNull" when tracking changes, what is your opinion on that?

[2015-03-27 17:44] bajtos commented on #1215
If we don't do the above, then I am proposing to implement the following:

Using the example above, when we are applying `{ name: 'bar' }` to an instance `{ name: 'foo', custom: 'extra' }`, I'd like to be able to call the following:

[code]

Unfortunately this will require support in connectors (MySQL, possibly Memory) too, so I am not sure if it's worth the effort.

Thoughts?

[2015-03-27 18:07] crandmck commented on #988
Progress on this was delayed due to my jury duty and strong-pm.io, but FYI I am working on draft content to merge into existing docs at http://docs.strongloop.com/display/LB/Sync+doc+updates.  Will look at above also.

[2015-03-27 18:14] bajtos commented on #982
@raymondfeng @ritch what's your opinion on `getCurrentContext` in browser? At the moment, it always returns `null`. Should I implement a shim that will always return the same context object instead?

Related: https://github.com/othiym23/node-continuation-local-storage/issues/36

[2015-03-27 18:23] BerkeleyTrue commented on #982
@bajtos Why not just use localStorage?

[2015-03-27 19:20] BerkeleyTrue commented on #1242
Hmm. Well hopefully it not just me. Let me put something together.

[2015-03-28 14:16] jcsmesquita opened #1257 "No 'Access-Control-Allow-Origin' header on 413 (Request Entity Too Large)"
**1. Some info**
This might not be a loopback issue but I'm wondering if someone can point me in the right direction.
I have an AngularJS 1.3.15 client-side app making requests to my loopback api.

In the app, I intercept request results (with $httpProvider.interceptors) and interpret the status codes to display meaningful messages when the user does something - for example I intercept 401 respons

[2015-03-28 20:32] fabien commented on #1241
@raymondfeng @seriousben this is a snapshot of the code I have been using - it's generalized as a Mixin, and uses the new `access` operation hook:

https://gist.github.com/fabien/1585f7be8a1c05e5ec21

The code has been updated recently, but the gist does not reflect this yet. If there's enough interest I'll see if I can release it as a proper npm package.

[2015-03-28 20:39] fabien opened #1258 "Enable remoting of new scope methods"
Recently `scope.findById`, `scope.findOne` and `scope.updateAll` have been added, this is a reminder to implement the corresponding remoting endpoint as needed. Suggestions for the REST API are welcome.

Also, documentation should be added - in both projects.

https://github.com/strongloop/loopback-datasource-juggler/pull/520
https://github.com/strongloop/loopback-datasource-juggler/pull/524
https

[2015-03-28 20:52] seriousben commented on #1241
Really cool stuff in there, thanks @fabien. I really think having this implemented as a mixin is the way to go and as soon I have some time will give you better feedback by implementing that way as well.

@raymondfeng How awesome would it be to enable mixins from the json model defintion file? And how awesome would it be if those mixins could be provided by third party npm modules a bit like the m

[2015-03-28 23:00] fabien commented on #1241
@seriousben thanks for the heads-up. AFAIK this is already working (or perhaps this is still pending with this: https://github.com/strongloop/loopback-boot/pull/111 ?) - I'm not really sure, because I'm waiting forever to have this patch merged ... I have been using the patched code since last year though, which enabled me to extract all kinds of 'traits' as mixins.

[2015-03-29 00:16] #1167 closed

[2015-03-29 03:56] clarkbw commented on #1241
This is exactly how my example mixin works, see: https://github.com/clarkbw/loopback-ds-timestamp-mixin

[2015-03-29 03:58] dv3000 commented on #238
I think I found a bug, but I'm not 100% sure if it is my mistake ...

according to this line of code https://github.com/strongloop/loopback/blob/master/lib/application.js#L301-L306

I can do something like this:
http://localhost:8001/v1/collection/findOne?access_token=mycurrenttoken&filter=%7B%22where%22:%7B%22id%22:%id-2%22%7D,%22fields%22:%5B%22id%22%5D%7D&id=id-1

That makes the "findOne" valid

[2015-03-29 04:03] dv3000 opened #1259 "principalId $owner has a security error?"
I think I found a bug, but I'm not 100% sure if it is my mistake ...

according to this line of code https://github.com/strongloop/loopback/blob/master/lib/application.js#L301-L306

I can do something like this:
http://localhost:8001/v1/collection/findOne?access_token=mycurrenttoken&filter[where][id]=id-2&id=id-1
or
http://localhost:8001/v1/collection?access_token=mycurrenttoken&filter[where][id]=

[2015-03-29 08:09] fabien commented on #238
This is not really a bug, it's a limitation of how ACL's currently handled (pre- instead of post find).

You have a few options when restricting access like this:
- expose all data access through a relation, for example `/api/users/:id/things` which will scope all operations correctly, making sure one cannot access anything outside of their ownership. You'd usually need to `deny` all access to `/a

[2015-03-29 22:48] atajwala commented on #720
I am seeing similar issue as 'shaunbruno' points out above. In my case, both the GET/POST with access_token is causing a 'Model.findById error'. Please advice.

[2015-03-30 08:08] bajtos commented on #1257
First of all, try to setup a global CORS middeware in your server, that may prevent the  "Access-Control-Allow-Origin" problem. See https://github.com/strongloop/loopback-workspace/pull/192 for some inspiration and https://github.com/strongloop/loopback/issues/575 for related discussion.

However, I suspect the problem will be somewhere else. As you can see, the PUT request was sent to the server,

[2015-03-30 09:16] bajtos commented on #982
I don't understand. Why do you want to persist context in the local storage? How would you provide the default value?

Here is what I am thinking about:

[code]

However, since we don't have continuation-local-storage now, we can make `runInContext` optional and simply change `loopback.getCurrentContext` to return e.g .`window.__loopbackCurrentContext`.

[code]

Users can implement whatever persis

[2015-03-30 09:16] #1126 closed

[2015-03-30 13:34] jcsmesquita commented on #1257
Thank you so much @bajtos !! It works now!
I followed your advice about setting up global CORS - specifically I used the recommendation from @pasindud in https://github.com/strongloop/loopback/issues/575.

[2015-03-30 13:57] bajtos commented on #1257
Cool, I am closing this issue then.

[2015-03-30 15:47] superkhau commented on #1259
Can you provide a link to a test project on Github? See https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-03-30 15:49] superkhau commented on #1255
Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-03-30 15:49] #1255 closed

[2015-03-30 15:52] superkhau commented on #1236
Is `strongloop` installed on the remote server? `npm install -g strongloop`. For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-03-30 15:52] #1236 closed

[2015-03-30 15:54] superkhau commented on #1230
@kblcuk Can I close this or do you still see other issues?

[2015-03-30 16:00] superkhau commented on #1229
It looks like you a need to create a relation between your two models (ie. Server `has many` Datastore, Datastore `belongs to` Server`. Once you set that up, you can access Datastore via Server (ie. `Server.Datastore.find(...)` . See https://github.com/strongloop/loopback-example-model-relations. For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See

[2015-03-30 16:00] #1229 closed

[2015-03-30 16:02] superkhau commented on #1226
Use operation hooks. See http://docs.strongloop.com/display/LB/Operation+hooks. For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-03-30 16:04] superkhau commented on #1222
@sam-github @rmg Should these types of questions go to https://groups.google.com/forum/#!forum/strongloop?

[2015-03-30 16:07] superkhau commented on #1216
See [`operation hooks`](http://docs.strongloop.com/display/LB/Operation+hooks). For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-03-30 16:07] #1216 closed

[2015-03-30 16:09] superkhau commented on #1210
@mirow Is this still an issue for you?

[2015-03-30 16:10] superkhau commented on #1209
@viveke10 Why did you open this issue? Reopen if you want to add something.

[2015-03-30 16:10] #1209 closed

[2015-03-30 16:12] fabien commented on #1226
@drish @superkhau see https://github.com/strongloop/loopback-datasource-juggler/pull/545

[2015-03-30 16:22] superkhau commented on #1226
@bajtos What should we do with this issue? Are validation hooks deprecated in favour of operation hooks?

[2015-03-30 16:24] fabien commented on #1259
@superkhau I'm pretty sure I posted an answer to this - did you delete it?

[2015-03-30 16:26] superkhau commented on #1259
@fabien No, but I may have closed it? Can you reference your fix to this issue?

[2015-03-30 16:32] fabien commented on #1259
@superkhau wish I could find it ... I searched for other issues by @dv3000 to see if I I posted to a duplicate, but apparently this is the only issue sofar.

[2015-03-30 16:50] bajtos commented on #1084
Relabelled per our discussion with @raymondfeng, @ritch and @superkhau

[2015-03-30 16:51] raymondfeng commented on #1084
@superkhau Would you like to create a simple benchmark test that leverages https://github.com/lloyd/node-memwatch to see if it helps?

[2015-03-30 17:05] bajtos commented on #1215
We have agreed with @ritch and @raymondfeng that the current implementation is good enough for v1.0 release.

[2015-03-30 17:06] #1215 closed

[2015-03-30 17:07] bajtos commented on #988
Instructions update based on https://github.com/strongloop/loopback/issues/1215:

- Set the option "trackChanges" to true.
- Change the id property to an auto-generated GUID
- Enable "strict" and "persistUndefinedAsNull" flags.

[2015-03-30 17:08] bajtos commented on #982
We agreed with @raymondfeng and @ritch to keep returning `null` in the browser, as we don't have a reliable way how to provide local context in the browser.

[2015-03-30 17:08] #982 closed

[2015-03-30 17:10] superkhau commented on #1084
Sure, adding to TOB for planning.

[2015-03-30 17:14] superkhau commented on #1259
Ok, well it will show up eventually. I will leave it open for now until its found and referenced properly. TY.

[2015-03-30 17:22] bajtos commented on #1226
See also https://github.com/strongloop/loopback-datasource-juggler/issues/433

[2015-03-30 17:42] superkhau commented on #1226
I see. I will assign this issue to you for further processing as it seems you are already on it.

[2015-03-30 18:19] billinghamj commented on #418
@bajtos I don't seem to be able to use promises on CRUD on my models at the moment. I'm using a data source with the remote connector though. I guess that isn't supported yet?

[2015-03-30 19:41] mirow commented on #1210
We circumvented the problem by implementing our own hashPassword() and validatePassword() functions, so it's not a problem for us.

[2015-03-30 20:18] kblcuk commented on #1230
No, nothing apart from what I commented on in #1217 already (id's default to Number rather than whatever DB provides); since this is marked as duplicate, I guess it should be save to close it; I'll keep an  eye on the other issue for progress.
Thanks!

[2015-03-30 20:58] rmg commented on #1222
You need to set `NODE_ENV` in the deployed environment: `slc ctl -C http://localhost:7777/ env-set NODE_ENV=production`

[2015-03-30 22:15] karlmikko commented on #1241
I agree with keeping this as a mixin as it will make adding more datasources in the future easier. Would be interesting to consider how an immutable data store like http://www.datomic.com/ with a builtin notion of time and history would be implemented. As timestamps would need to be shimmed if you wanted a similar data structure.

[2015-03-30 22:47] BerkeleyTrue commented on #1242
@bajtos see https://github.com/r3dm/loopback-fullstack

[2015-03-31 00:38] poldridge commented on #475
+1

[2015-03-31 01:51] superkhau commented on #1230
No problem! Feel free to open this issue again if you run into issues again.

[2015-03-31 01:51] #1230 closed

[2015-03-31 06:42] fabien commented on #1259
@superkhau found it: https://github.com/strongloop/loopback/issues/238#issuecomment-87349410

[2015-03-31 06:57] fabien commented on #386
ping @raymondfeng @bajtos @ritch

[2015-03-31 09:32] bajtos opened #1260 "Store property values encrypted"
We should provide an easy way how to encrypt property values on "save" and decrypt then on "load". At the moment, users have to implement operation hooks as a workaround.

Optionally, we can provide support for one-way encryption too, think of `User.password`.

https://github.com/strongloop/loopback-datasource-juggler/issues/441

https://github.com/strongloop/loopback/issues/1226

[2015-03-31 09:34] bajtos commented on #1226
Can you please elaborate a bit more please? Are you trying to store the property value in an encrypted form and decrypt it on load?

As I said in https://github.com/strongloop/loopback-datasource-juggler/issues/441#issuecomment-77531300, hooks are not the right tool for encrypted storage.

See https://github.com/strongloop/loopback/issues/1260 for a discussion about the best way how to implement e

[2015-03-31 11:17] bajtos commented on #1242
Using the latest [master](https://github.com/strongloop/loopback/commit/4a81d060186ef3bdba0aa6d8f35cbdb939bfa661):

[code]

Browser log after calling `localStorage.clear()`:

[code]

Browser log after I restarted the server and reloaded the page, keeping the contents of local storage intact:

[code]

Is this the same you are seeing? What should I look for in these logs?

[2015-03-31 13:49] dbarbeau commented on #720
Hello, I'm having a similar issue with logout over REST api. A `MyUser` is derived from `User`. Then `api/MyUser/logout` doesn't work (not even in the API Explorer).

 - GET + Authorization header : Not found": "Unknown 'MyUser' id 'logout'"
 - GET + "access_token=xxx..." in query string : Not found": "Unknown 'MyUser' id 'logout'"
 - POST + Authorization header : "Bad request": "access_token is a

[2015-03-31 14:35] dbarbeau commented on #720
Ugh... embarassing... forget about me, I had disabled authentication (commented out `server.enableAuth()`). Which adds to the confusion because login works perfectly in either way but logout needs enableAuth() to operate.

[2015-03-31 15:16] jcsmesquita commented on #877
I got this working with the mongo connector. Is there any chance we could make it work for the built-in memory connector as well?

[2015-03-31 15:31] jakerella opened #1261 "Examples missing for middleware documentation"
The [documentation page for middleware](http://docs.strongloop.com/display/public/LB/Defining+middleware) lists four examples in the TOC, but the actual content only has one (the "Static middleware"). Do we have these other examples? If not, we should remove them from the TOC:

  * Static middleware
  * Pre-processing middleware
  * Routing middleware
  * Error-handling middleware

[2015-03-31 17:34] BerkeleyTrue commented on #1242
This is definitely not what I am seeing.

Chrome
![developer_tools_-_http___localhost_3000_](https://cloud.githubusercontent.com/assets/6775919/6924991/56a63b46-d791-11e4-94b1-b95f4c789728.png)

FF
![inspector_-_http___localhost_3000_](https://cloud.githubusercontent.com/assets/6775919/6925004/6e1bab44-d791-11e4-8cf3-8f88c9f3ff6d.png)