[2016-03-12 01:10] richardpringle commented on #2110
@raabbajam, did you get `Customers/1/bankAccounts/1/transactions/` to work?

[2016-03-12 03:35] richardpringle commented on #2112
Hey @timotheemoulin, have you seen this: https://docs.strongloop.com/display/public/LB/Embedded+models+and+relations

[2016-03-12 04:11] richardpringle commented on #2137
Hey @hq-mobile (Dan), I cracked the case! To be completely honest, I didn't actually understand what `nestRemoting` was doing, I only knew the expexted output. After a bit of a deeper dive, I've figured it out. To me, it's not completely intuitive how to use this so what I will do is throw a `Doc` label on this issue so that we can improve the documentation.

@crandmck, could we include the follow

[2016-03-12 04:19] richardpringle commented on #2137
Update: this is incorrect. All of the *relation remote methods* are instance methods:
[code]
[code]

[2016-03-12 07:30] hq-mobile commented on #2137
You sir, are a gentleman and a scholar!!!

At one point I was calling nestRelation on the Freelancer object with 'business' as part of a try anything approach but it appears the pesky underscore put paid to any chance of fluking it.

Agree it needs some further documentation, as a nice to have (and I understand this might be technically challenging) something as fundamental as a modelling the grap

[2016-03-12 09:26] giowe commented on #2103
yes... as I said:
I can use both server/config.**{env}**.json/js
but just  server/config.json.
It would be useful a  server/config.js

[2016-03-12 16:55] jonathan-chin opened #2141 "Custom Model Extending User Model Creates Double Access Tokens on Login"
As per official documentation, I've extended the built in User model so that I can define its relations to other custom models. I call it SMUser.

When someone logs in, I call SMUser.login() and that successfully generates an accesstoken. However, it also seems to generate a second accesstoken 1 second later.

When someone logs out, I call SMUser.logout() and that successfully deletes an accesstok

[2016-03-12 20:55] SurealCereal commented on #1692
+1

[2016-03-12 22:08] devotis commented on #651
@ericprieto works great. I used the @ratik mixin variant though. That way I could define what methods are expose in the model.json files.

[2016-03-12 22:28] devotis commented on #531
I want to make the security more explicit and define which properties are writable. So I'd like a whitelist of writable fields instead of a blacklist of readonly fields.

Would anybody mind or find it helpful if I fork https://github.com/fullcube/loopback-ds-readonly-mixin and invert it to https://github.com/devotis/loopback-ds-writable-mixin ?

[2016-03-13 11:00] kenmorechalfant opened #2142 "Setting access token cookie?"
I want to use a cookie to keep a user logged in.

On this page [here][1] they say

Seemed simple enough. I figured the cookies were set by Loopback automatically during the login process but it's still not working, I check my cookies in Chrome dev tools and none are set.

Am I missing something? Otherwise, what's the best way to hook into the login method to have set the cookie/header?

I found do

[2016-03-13 15:35] jonathan-chin commented on #2141
I'm dumb

[2016-03-13 15:35] #2141 closed

[2016-03-13 18:25] EthraZa commented on #1779
I was just searching for this.
I just created a model to hold credentials for another web APIs to integrate with and found there is no easy way to hash my password fields. That is sad because I now Loopback knows how to do that since it have it builtin in the User model.
So, +1

[2016-03-14 10:15] Narrator commented on #487
+1

[2016-03-14 11:22] richardpringle commented on #2140
Hey @alexxgathp, could you fork our [sandbox](github.com/strongloop/loopback-sandbox) and reproduce the issue then post a link in here?

Model operations should affect the change steam no matter where they are taking place. Once your sandbox is up, I'll dive in and see if I can find the source of the issue.

[2016-03-14 12:07] nivincp opened #2143 "How do I configure the timezone info?"
I have been looking for this like since the last 2 - 3 hrs. Still I can't figure out how. I need to set it up as UTC+07 I see an option to specify it in the datasources.json

`"mydb": {
	"host": "127.0.0.1",
	"port": 3306,
	"database": "mydb",
	"username": "root",
	"password": "root",
	"name": "mydb",
	"connector": "mysql",
	"timezone": "UTC+07:00"
}`

It seems to have no effect.

I have two field

[2016-03-14 13:32] dligthart commented on #1841
Love to see graphql support

[2016-03-14 13:50] technova opened #2144 "How to get affected attributes of persisted model?"
Could not find any documentation around it. Basically I need to find changed attribute/values in after save hook.

For example: model is created with {name: "something", description:"something else"}

When I update this model with {name: "something", description:"**something something** else"}

I need to find affected attributes, in my example this is only  **"description"**

Note: I am using mong

[2016-03-14 14:58] Amir-61 commented on #1876
@richardpringle @bajtos

see issue #2123

We have never had support for bulk update; we have just had support for bulk insert; the issue you mentioned should be labeled as a feature not a bug.

Thanks!

[2016-03-14 15:29] devotox opened #2145 "UUID does not seem to be supported"
if i use an integer as the id of a row i get the data back perfectly but if i use an uuid then the id returns as null. In my model json file i have tried type uuid and type string to no avail

[2016-03-14 15:39] devotox commented on #2145
"id": {
      "id": true,
      "type": "string",
      "required": true,
      "defaultFn": "uuid",
      "postgresql": {
        "dataType": "uuid"
      }
    },

Just for anyone coming here and seeing this. they work with a configuration like this in your model json

[2016-03-14 15:39] #2145 closed

[2016-03-14 17:07] devotox opened #2146 "Custom Remote Methods do not work when a path is used"
[code]

First it does not try and run my Language.uri_id function and then it also returns this from my database

[code]

[2016-03-14 17:36] richardpringle commented on #1876
@Amir-61, I disagree. All of the other CRUD operations that happen at the class level (vs the instance level) accept an array of model instances. It is an inconsistency and thus I have labelled it a bug.

If we are making a design change, all aspects of the design should be considered. Just because we had not supported a bulk update before does not mean that we should simply ignore it again. As a

[2016-03-14 17:51] 0candy commented on #2142
You can take a look at the user management example here:

How to login the user:
https://github.com/strongloop/loopback-example-user-management/blob/master/server/boot/routes.js#L20-L41

Set to use loopback token in server:
https://github.com/strongloop/loopback-example-user-management/blob/337d892643f79513f2bed0b4a042aa204019fd79/server/server.js#L15

[2016-03-14 18:17] richardpringle commented on #1876
Just to add:

Trying to do a bulk update throws an "unkown error". If this were a feature, we would be passing back a meaningful error message.

Also, there is a documentation issue [here](https://apidocs.strongloop.com/loopback/#persistedmodel-upsert). The first input parameter `data` is described as a model instance. The function however can take an array of model instances. The documentation is

[2016-03-14 18:22] alexxgathp commented on #2140
Okay, here it is: https://github.com/alexxgathp/loopback-sandbox
The custom script is under "customscripts". I added instructions of the steps I take to run it too.

[2016-03-14 18:30] alexxgathp commented on #2140
One odd thing I just noticed, the sandbox has another issue. It does not seem to produce the change either, in addition to not showing in the Changestream.

However, with my local project, it is a MySQL datasource, and the change does occur, though it does not show in the Changestream.

[2016-03-14 18:41] kenmorechalfant commented on #2142
If I'm understanding this correctly:

**Step 1:**

**Step 2:**

But I've followed this example and the cookie never gets set. I don't see it in Chrome dev tools. Is the User.login() supposed to set a cookie? Or are you supposed to do that manually?

If so, how exactly are you supposed to set the cookie?
This documentation:
http://apidocs.strongloop.com/loopback/#loopback-token
leads me to believe

[2016-03-14 20:38] richardpringle commented on #2140
Hey @alexxgathp, thanks for putting up a sandbox, it makes troubleshooting so much easier for me!

I have figured out the issue. Your custom script is using a different instance of the app object. Everytime you fire up a new node process it is going to require a new app instance.

So, if you want to perform an operation on boot in a custom script, you can put the script in the 'boot' folder. You c

[2016-03-14 21:33] alexxgathp commented on #2140
Ah, I see. I assumed it was making calls to the REST API, but I see it was processing it as if it was the first instance.

I'll try one of those other ways. Thanks!

[2016-03-14 21:33] #2140 closed

[2016-03-14 21:37] richardpringle commented on #2140
Using loopback-connector-remote as a data-source connector makes REST calls so that should work.

[2016-03-14 23:01] kenmorechalfant commented on #2142
EUREKA. I got it to work. The cookie wasn't being signed.

Sorry, I'm pretty much new to Express and lower-level stuff like this. I remembered reading that the cookie had to be signed but it slipped my mind that I had to pass "signed: true".

[2016-03-15 00:36] rawrmaan commented on #2132
It may be `newrelic`--that was causing Promise issues for me.

[2016-03-15 00:58] jbcpollak commented on #2132
I don't have newrelic installed, although I do think it could be some other dependency interacting with loopback.

[2016-03-15 04:37] zamb3zi commented on #404
`setMaxListeners` is hard-coded [here](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model-builder.js#L183). For our purposes (I work with Foysal) we do fine by increasing this to 64. I guess it should be configurable?

[2016-03-15 07:21] superkhau commented on #2142
@kenmorechalfant Glad you got it working. ;) Closing.

[2016-03-15 07:21] #2142 closed

[2016-03-15 07:27] superkhau commented on #404
@zamb3zi Would you like to submit a PR?

[2016-03-15 09:20] luckymancvp opened #2147 "Can not get accessToken from req object !"
I have some projects used sailjs, and I saw that loopback is very interesing. I created a simple app , and want to get current user login . But I can not get accesstoken from req object. I dont know why

Please help me !!

My repo : https://github.com/luckymancvp/stroongloop-app/blob/master/server/server.js#L14
Reference: https://docs.strongloop.com/display/public/LB/Using+current+context

[2016-03-15 10:39] DragonTorus commented on #397
Hi! Is there any oficial, normal way(not workaround) to redefine base Model and its relations in loopback 2.27.0 & jugler 2.45.2? Thanks.

[2016-03-15 12:50] kartsims commented on #1810
I am having this issue as well and editing the package directly doesn't feel like a permanent solution... What do you need to help debugging ?

[2016-03-15 13:07] richardpringle commented on #2125
@peek4y, go down to the [verify email section on this page](https://docs.strongloop.com/display/public/LB/Registering+users) to see how to turn email verification off

[2016-03-15 14:33] luckymancvp commented on #2147
My friend helped me figured it out . Thank you

[2016-03-15 14:33] #2147 closed

[2016-03-15 16:44] listepo commented on #1692
+1

[2016-03-15 17:54] richardpringle commented on #2144
Hey @technova, we support exactly what you want to do! Unfortunately, I could not find any documentation references in the regular docs.

Luckily, we have the API docs as well. It's always a good idea to take a look in there and see if you can spot a method name that sounds like it will do what you want.

Check out the first few methods that are listed on the [PersistedModel Class](https://apidocs

[2016-03-16 01:14] noderat commented on #2144
Ah, well I'm glad I stumbled upon this. I had glazed over those in the API docs before and put that task in my project on hold. Documentation in confluence would be great!

[2016-03-16 01:49] gdeckert commented on #487
+1

[2016-03-16 08:40] yahoohung opened #2148 "findOrCreate"
I have a interesting problem on loopback. It displayed wrong result when I was adding records with findOrCreate. Let's see the example.

[code]

I think it should be create 1 record with modelName '123' only, but I got 10 finally.

Is there something wrong? Thanks.

[2016-03-16 11:37] peek4y commented on #2125
So, this should skip email validation during sign up right?

Sorry, din't get time to try it out.

[2016-03-16 13:24] mathewmeconry commented on #1692
+1

[2016-03-16 13:25] richardpringle commented on #2125
Yeah it should. I actually haven't had time to try it out either to be honest... Let me know how it goes

[2016-03-16 13:33] varunj90 commented on #2063
@Joesimonsen - any updates? It's been a week.

[2016-03-16 14:19] peek4y commented on #2125
Nope, it doesn't work :cry:

``` "message": "The `user` instance is not valid. Details: `email` can't be blank (value: undefined); `email` is null (value: undefined)." ```

[2016-03-16 14:42] richardpringle commented on #2125
Definitely a bug then, I'll take a look

[2016-03-16 16:12] peek4y commented on #2125
:+1: Thanks!

[2016-03-16 17:50] Joesimonsen commented on #2063
*Comment made from Zendesk by Jain, Varun on 2016-03-16 at 17:49:*

<blockquote><div class="zd-comment">
<p>Hi again,</p>

<p> </p>

<p>When can you set up some time?</p>

<p> </p>

<p>Varun Jain</p>

<p>IT Solutions Developer | API Management and Build Out | EETS</p>

<p>79 Wellington Street West, 7th Floor, Toronto, ON, M5K 1A2</p>

<p>T: 416-307-3385 M: 647-987-1813
<br> </p>

<p>Yes I do see t

[2016-03-16 18:07] Joesimonsen commented on #2063
*Comment made from Zendesk by Joe Simonsen on 2016-03-16 at 18:07:*

<blockquote><div class="zd-comment">
<p>Hello,</p>
<p>Apologies for the delay here.  Our main developer in this area is currently out sick and should return on the 18th.  I will speak with him again when he is back to set something up as soon as possible.</p>
<p>Apologies again for the delay here.</p>
<p>Joe Simonsen</p>
</div></

[2016-03-16 18:43] kennethlynne commented on #487
Tried to register a remote method on the url of the relation method and it still calls the relation method.
Tried to register it after the "attached" event was fired.
Tried to override the method on the model itself (__create__relation)

Nothing seems to work. Wtf :+1: :)

[2016-03-16 19:12] superkhau commented on #2148
Can you provide a sample repo so we can reproduce this issue on our end?

[2016-03-16 19:15] jbcpollak commented on #517
:+1:

[2016-03-16 19:26] richardpringle commented on #2125
@peek4y, sorry that was silly of me. That is for *verifying* not *VALIDATING***. The built-in User model actually depends on email for some of its functionality so it doesn't really make sense to be able to remove it.

Instead, you can take a look at the User model code and copy some of its functionality for your own model.
https://github.com/strongloop/loopback/blob/master/common/models/user.js
h

[2016-03-16 21:10] jubbens opened #2149 "Authorization header is not acceptable for resolving $owner role in ACLs?"
I am testing my API using Supertest and Mocha. I'm having problems getting a test to pass which involves logging in as a user, creating a new instance, and then deleting that instance. The purpose of this test is to verify that authenticated users are able to delete their own instances but I'm getting `401 UNAUTHORIZED` on the `DELETE` command.

I have a feeling that passing the access token via t

[2016-03-17 02:57] Emiya0306 opened #2150 "Remote hooks of relation methods for edit request does not make sense."
[code]

1. When I execute "/api/apps/56e29af2b9e2285b3792a7d7/roles" and server end edit the request.body successfully. Just like "56e29af2b9e2285b3792a7d7_RoleName", but the data in database is just "RoleName".
Does remote hooks of relation methods have any special operations?

2. The second question is How can ACLs apply into different model instances? Just like the model "Bank", and I will crea

[2016-03-17 02:58] violet-day commented on #1676
Any progress about `cls`?

[2016-03-17 03:48] peek4y commented on #2125
Hmm, that doesn't sound right to me. I was wondering if there could be a simpler way to solve this.

[2016-03-17 09:14] tomcooksey opened #2151 "Through relations not automatically deleted"
I am quite new to loopback, so it maybe that I am missing the point, however I have defined a couple of models; MenuCategory and Image, and these have a many to many relationship.  So I have defined a hasManyThrough relationship using the following configs:

MenuCategory model

[code]

Image model

[code]

CategoriesToImages link-model:

[code]

I was under the impression that I should be able to

[2016-03-17 09:38] dineshi2it opened #2152 "slc debug is not working"
[code]
Am I giving wrong cmd or something is wrong with node-inspector ?

Also I have tried the following but the app is not running
[code]

[2016-03-17 10:06] vkeyrockz opened #2153 "ACL checkpermission not working properly"
i have static ACL rules inside my model named 'Event'

this are the acl in my   Event.json

[code]

[code]

it works properly during rest calls to that model

but , i have custom route for that model . During that route i check with "ACL.checkpermission" to verify permission for principal manually . This is my custom route in my boot script

[code]

in console i got this ,

[code]

Later while i c

[2016-03-17 12:38] jbcpollak commented on #776
@inawlaljar you probably already figured this out, but you are missing `isStatic: true`:

[code]

[2016-03-17 14:04] jubbens commented on #2149
I turned on `loopback:security:*` debugging messages and it appears to be correctly identifying the token as belonging to the user. However, I am still getting `401` on the API request.

[code]

[2016-03-17 15:21] loay commented on #579
Hi @veekungx , is this issue still occurring? if so, please refer us to test project on github so we can test.
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.
Thanks

[2016-03-17 15:21] #579 closed

[2016-03-17 15:24] loay commented on #720
Hi @egel did fabien's fix work for you? thanks

[2016-03-17 17:04] gunjpan commented on #2152
@dineshi2it : the first command: `slc debug node .` should be replaced as `slc debug .`
_(Use `slc debug -h` for more info)_

Also I have tried the following but the app is not running

Looks like this is happening due to `node-inspector` version, installed under `strongloop`.
Current version in `strongloop` is `~0.7.0`, updating it to the latest resolves the issue.
Meanwhile, you can edit the `pa

[2016-03-17 17:04] #2152 closed

[2016-03-17 18:35] dineshi2it commented on #2152
@gunjpan: The second command is similar to `slc debug .` which actually worked. The thing is it took too much time to start the server. Just came to know this from [node-inspector documentation](https://github.com/node-inspector/node-inspector#node-inspector-takes-a-long-time-to-start-up). I think this needs to be added in [loopback doc.](https://docs.strongloop.com/display/SLC/Debugging+applicati

[2016-03-17 19:34] vshgemini opened #2154 "Extend Role and RoleMapping Models"
Hi

Using loopback CLI capability, I created two models 'role' and 'roleMapping' with their base class pointed to loopback built-in models Role and RoleMapping respectively. Added ACL to 'role' model programatically as follows :
               var Role = app.models.role;
               var RoleMapping = app.models.roleMapping;
               var aclToAdd = {};
                aclToAdd.accessType =

[2016-03-17 21:18] richardpringle commented on #2125
I mean a workaround would be to insert a dummy email but currently, we do not support extending the user model without an email at all. I have left a `feature` tag on this issue so that we could potentially disable the email validation, but realistically, this isn't in high demand (not to say that is wouldn't be useful in certain cases).

In your case, you could extend or use the built-in user mod

[2016-03-18 04:56] Neil-UWA commented on #2150
try this for question 1:
[code]

[2016-03-18 06:49] peek4y commented on #2125
Got it :+1: will go with a workaround. Hoping to see this feature soon :smile:

[2016-03-18 08:35] Emiya0306 commented on #418
I think there is a bug in loopback promise.
The PersistedModel promise will lose all it own __proto__ properties.
The models app and user are all saved in MongoDB.

[code]

@bajtos And when I change the user to memory db, the app model is MongoDB, I will get the result. Additionally, Everything is worked well in callback. I was interesting about this. But I cannot find why, I think it may be a bug

[2016-03-18 09:10] Lughino commented on #531
+1

[2016-03-18 13:34] ebarault commented on #632
@batjos: would you know if this feature request has been considered, or will be at some point? It would indeed be nice that getRoles return actual role names rather than their ids

[2016-03-18 13:35] tn opened #2156 "Can't attach model to db (memory)"
Hi. I just installed loopback by getting started guide and get error.
What is the reason?
[code]

[2016-03-18 13:41] richardpringle commented on #2149
Hey @jubbens, is it possible for you to put this example in a forked [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) for me so I can take a closer look? I do appreciate the code you have posted as well as the logs, but forking the sandbox just makes the debugging and error reproduction process go a lot faster for me.

I did try to reproduce the error, but I could not even POST t

[2016-03-18 14:09] ebarault commented on #632
referring to [this url](https://github.com/strongloop/loopback/blob/0fda4c4193a6354dc5152c364b3e2c9bef87e8f2/lib/models/role.js#L467-L469)

this simple modification would do the trick
`
if (principalType && principalId) {
        // Please find() treat undefined matches all values
        inRoleTasks.push(function(done) {
          roleMappingModel.find({
              where: {principalType: princ

[2016-03-18 14:50] mbeauchamp7 opened #2157 "Model migration error - Loopback-workspace"
I was migrating a user model extended by the User model in my postgresql database with the slc arc gui and it worked fine but I keep getting this error pointing to the loopback-workspace directory.

![migrateerror](https://cloud.githubusercontent.com/assets/15185355/13881361/10181dee-ecf7-11e5-8bd3-5cfea5dbd1f8.png)

Thanks

[2016-03-18 14:55] richardpringle commented on #2149
@jubbens, upon further documentation review I have found the following:

The above quote comes from [here](https://docs.strongloop.com/display/public/LB/Defining+and+using+roles).

To make the ACL work, create a belongsTo relationship between Car and User. Since you are only allowing the `content-provider` role to create Cars, you can inject the userId upon creation using an operation hook.

[2016-03-18 14:56] terehov commented on #1692
+1

[2016-03-18 14:59] Amir-61 commented on #2148
@yahoohung You need to to use (ASYNC)[https://github.com/caolan/async] to iterate; a simple `for loop` is not going to work properly for `findOrCreate` which is async. Please see the examples [here](https://github.com/caolan/async) to see how you can use them.

Thanks!

[2016-03-18 15:05] richardpringle commented on #2150
@Emiya0306 What do you mean by

Are you talking about the [translation of documentation](https://docs.strongloop.com/display/public/LB/Translating+documentation)?

Did @Neil-UWA's solution work?

As for applying an ACL to a specific model instance, this is not something that is supported. What you might be able to do is [partition your users into realms](https://docs.strongloop.com/display/public/

[2016-03-18 15:30] richardpringle commented on #2151
[code]

Try fixing the typo first and see what happens.

In the future (not everyone does this but they should), to get help as fast as possible, fork a [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) and recreate the issue and put the *steps to reproduce* in the README.md. That way I can see exactly what your setup looks like including your configs. Hope that helps!

[2016-03-18 15:40] #2156 closed

[2016-03-18 15:45] richardpringle commented on #2154
I don't think that relations get extended, just the properties and methods.
Checkout the two JSON files for the built-in models:
https://github.com/strongloop/loopback/blob/master/common/models/role.json
https://github.com/strongloop/loopback/blob/master/common/models/role-mapping.json

[2016-03-18 15:46] jubbens commented on #2149
Hi @richardpringle thanks for looking into this for me.

I do indeed have a belongsTo relation and the foreign key is getting set correctly. I'm using middleware to inject the owner ID into the request.

I made a [sandbox](https://github.com/jubbens/loopback-sandbox) for the problem as you requested. It's inside the nested loopback-sandbox folder in that repo. You can just `npm test` to run the te

[2016-03-18 16:07] dh376 commented on #917
+1

[2016-03-18 18:19] richardpringle commented on #2149
You have set `ownerId` instead of `userId` which is the default foreign key. You either need to change the name in the middleware function or change the foreign key to `"ownerId"`.

I still could not get your test to pass though. I tested by hand with loopback-component-explorer and it worked fine (although that is passing in the access token as a query string, but it should produce the same resul

[2016-03-18 18:24] jubbens commented on #2149
@richardpringle Thanks for your help, I simply changed the injected id from ownerId to userId and the test passes for me now. My fault, I owe you a beer. :)

[2016-03-18 18:27] richardpringle commented on #2149
Perfect! Closing.

[2016-03-18 18:27] #2149 closed

[2016-03-18 19:10] superkhau commented on #2148
@yahoohung What are you trying to do in that example? Why are you looping x times and not using x at all? Please clarify.

[2016-03-19 11:48] moklick commented on #1810
I am having the same issue. I can't set cors: true in the config.json
[code]

[2016-03-19 13:48] Emiya0306 commented on #2150
@Neil-UWA Sorry for late reply about the issue, I'm current on weekend. And your solution works well on my question. It's very cool, thanks! But I'm little confused about why to use __context.args.data__ to edit the data, because of the relation model?

@richardpringle Yeah~ I saw the "Contributing to LoopBack documentation", and I will mail for the translation after finishing my project.

I'm a l

[2016-03-20 00:52] Fabrik19SH commented on #1138
Hi, this point is still valid. Is there a workaround for using handlebars?

Many thanks

[2016-03-20 13:07] h2non commented on #1852
Just for your reference, this is the final implementation I'm using to fix this as simple middleware in the `parse` phase.

It's working in production for a couple of months without troubles. A bit rudimentary and should be improved if merged into the framework, but works for me.

[code]

[2016-03-21 03:27] Emiya0306 commented on #2150
[code]

@Neil-UWA Sorry, the promise problem I cannot solve, results.roles[0].principals is undefined. T^T

[2016-03-21 05:02] gaurav21r commented on #1692
@ritch Any updates? :)

[2016-03-21 10:55] krissell commented on #1275
+1

[2016-03-21 12:13] seanfuture commented on #1724
+1, naturally - would prefer loopback over custom / alternate solutions .. ty

[2016-03-21 12:34] christophla commented on #1692
+1

[2016-03-21 15:55] jannyHou commented on #2071
@mamartins I am so sorry for replying you late, we have a deadline to pass so everything turns slow.

First in loopback we use `updateAttribute` and `updateAttributes` instead of parent.item.set(id, newData) to update data.
Please check [doc for updating data](https://docs.strongloop.com/display/public/LB/Creating%2C+updating%2C+and+deleting+data#Creating,updating,anddeletingdata-Updatingdata%28mo

[2016-03-21 15:57] yashmurty commented on #1186
:+1:
I am also facing the same issue after upgrading my node to v4.2.x
Earlier I was using v0.10.25 (legacy) and I didn't face this error, and I am sure reverting back to that version will solve the problem.
Do we have any better fix?

[2016-03-21 17:20] jannyHou commented on #2075
@katherdx I am closing this issue since the question turns clear after our chat above, and for the new issue you open, I discussed with richardpringle about the join query before, I believe if you want to use both tables(post and share), then his answer is perfect with current supported loopback features.

I just come up with another workaround but this would change your structure: use one table i

[2016-03-21 17:31] jannyHou commented on #2132
@jbcpollak in loopback3.0, we always use bluebird as the promise library, please check out doc to see more details:
https://github.com/strongloop/loopback/blob/master/3.0-RELEASE-NOTES.md#always-use-bluebird-as-promise-library

[2016-03-21 18:47] gunjpan commented on #2107
@b3nk3:
Re:

/api

That is very limited information for me to see what's happening, but, I guess, it could be the case that the path results into: `/api/explorer` which is invalid for accessing explorer.

[2016-03-21 19:09] donaldG21 commented on #517
+1

[2016-03-21 19:17] jannyHou commented on #2157
@mbeauchamp7 I think it's fixed by https://github.com/strongloop/loopback-workspace/commit/b08f5d4296e3dc617652c751111e623cf5cc9931
could you check if the latest code in workspace works for you?

[2016-03-21 19:30] gunjpan commented on #2101
@Emiya0306 : Hi, apologies for a delayed reply and thank you for providing the repo.
After further investigating, I found out following:

So, for example, even if the books model's default ACL is ALLOW `$authenticated` for `GET /books`, the route `GET /user/{id}/books `default will still be `DENY ALL`.

That means, adding following ACLs unlocked the endpoint:  GET `/users/{id}/bookmarks`:
[code]

[2016-03-21 20:04] PaddyMann opened #2158 "No documentation on how to modularize really large applications?"
I'm new to Loopback, so sorry if I've missed something.

I can't find anything in the documentation about how to split your (very large) application into smaller modules. Do you have any links / guidance / best practices etc. that you can share?

[2016-03-21 20:19] cfjedimaster commented on #1207
So I hate to ask a tech question here - but apparently maxDistance is supported - but I'm not sure we actually document *how* you would use it in a REST-based URL filter. Got an example?

[2016-03-21 20:24] jannyHou commented on #2143
@nivincp I am trying to reproduce issue, for a better debug, could you fork this sandbox: https://github.com/strongloop/loopback-sandbox
and upload your code? thanks!

[2016-03-21 20:36] cfjedimaster commented on #664
I'd like to see this re-opened. I've spent the last hour or so trying to find out how to maxDistance works, and nothing seems to be working right. I can certainly sort by distance from a location, but I can't filter by a max distance.

[2016-03-22 01:52] StanFisher commented on #1692
+1

[2016-03-22 03:18] Emiya0306 commented on #2101
Yeah! It helps me and I learn a lot about relation models. It's cool! By the way, I also ignore to set the User model to "public": false, it makes 404.

Thank your very much, and here is another question about promise. Link is [here](https://github.com/strongloop/loopback/issues/2150).

[2016-03-22 03:18] #2101 closed

[2016-03-22 08:48] b3nk3 commented on #2107
@gunjpan I have sorted it in the meantime. The problem was that I had the :3000 port forwarded onto a domains /api . Now I have changed it to a separate subdomain rather than /api and it works as a charm.

Thanks for answering tho.

[2016-03-22 10:41] tushargangwal commented on #1645
If still somebody facing issue on this let me know.. I implemented this successfully..

[2016-03-22 11:21] vshgemini commented on #1645
I am having this issue and dont able to implement authorization. kindly help @tushargangwal

[2016-03-22 13:07] richardpringle commented on #2158
Hey @PaddyMann, the best place to ask questions is actually on our [Google Groups page](https://groups.google.com/forum/#!forum/loopbackjs). We're reserving the issues section on GitHub for bugs and feature requests, just to make things a little more manageable.

I'm going to close this issue, but I'm still curious, maybe you could post in the Google Group with a little more detail and share the l

[2016-03-22 13:07] #2158 closed

[2016-03-22 13:22] richardpringle commented on #2153
@vkeyrockz would you like to submit a PR for the fix?

[2016-03-22 13:34] PaddyMann commented on #2158
@richardpringle ok - thanks for the advice. I've posted on the Google Group!

Should I get some good answers, I'll raise a new issue as I think this information should be added to the docs. (or let me know if there's another process I should follow to make this kind of request)

[2016-03-22 13:57] richardpringle commented on #2158
Yeah just open a new issue if you get a clear (and detailed) idea of what you are looking for in terms of docs and open up a new issue. You are welcome to mention me directly too.

[2016-03-22 14:36] chojowliu opened #2159 "Partitioning users with realms"
I love the function that loopback provided to partition users with realms, but is there anyway, I can use the same email address in different realms? I would like the same user (test@test.com) in realm "service" and also in realm "customer". Currently, I can add it directly into the database by using SQL, but when I try to use User.create(), I will keep getting err about email is being used.

http

[2016-03-22 14:58] richardpringle commented on #2150
@Emiya0306, what is this `app.create` function you are using?

[2016-03-22 15:05] 0candy commented on #2128
Could you please fork this sandbox: https://github.com/strongloop/loopback-sandbox
and upload your code for us to reproduce the issue? Thanks!

[2016-03-22 15:25] hacksparrow commented on #2001
@lius implementation is still under internal review.

[2016-03-22 15:30] 0candy commented on #2159
Unfortunately as listed in the link you posted.

I will list it as a feature enhancement.

[2016-03-22 15:35] chojowliu commented on #2159
Thanks

As a workaround, do you foresee any problem if I use SQL code (maybe a
store procedure) to create a new record in the User table with same email
address just different realm?
Will it cause the problem in any other part of the system? I currently
manually enter the record by myself (go directly using sql tool), it looks
okay so far.

On Tue, Mar 22, 2016 at 10:31 AM, Candy <notifications@gi

[2016-03-22 16:12] superkhau commented on #2148
@yahoohung You there?

[2016-03-22 16:16] superkhau commented on #2157
@mbeauchamp7 Are you still running into issues? Can we close this?

[2016-03-22 16:25] superkhau commented on #2144
@richardpringle Are you planning to ping @crandmck and reassign to him? I'm assuming he needs instructions on how to write up the docs (ie. example/description from engineering), are you going to provide it for him?

[2016-03-22 17:18] luckymancvp opened #2160 "slc pm error"
I dont know why ? But I can not deploy my app to develop server  by this command in local :
`slc build; slc deploy http://dev.chotsale.vn`

But when I run `slc pm` in my local and then deploy by command `slc build; slc deploy http://127.0.0.1`, so I can run in local

This is log from develop server .

[code]

[2016-03-22 17:18] luckymancvp commented on #2160
I'm sure that I install mongoDb, "loopback-connector-mongodb": "^1.13.3",

[2016-03-22 17:22] mrjrdnthms commented on #517
+1

[2016-03-22 19:29] loay commented on #1810
@kartsims @moklick
- but did the solution in this comment: https://github.com/strongloop/loopback/issues/1810#issuecomment-155933790
work for you guys as a temp solution? It did work for me.
- also, can you please share a repo of your code, so I can reproduce. I will try to push for a permanent solution after I look at your cases.

[2016-03-22 19:38] CarlosCuevas commented on #2092
@richardpringle Just caught that this is also the case when type is "array".

[code]

failing to passing children will not trigger an error

[2016-03-22 19:40] lius commented on #2001
@hacksparrow Ok, Thanks.

[2016-03-22 21:19] GauSim commented on #1841
+1

[2016-03-22 22:01] gunjpan commented on #2146
@devotox : Hi, few things regarding the code above:
first of all:

should be changed to:
`returns: { arg: 'data', type: 'Language', root:true }`
considering that the model is named `Language` and it's identified as one of types allowed in LB, otherwise you should get a warning like:
`Swagger: skipping unknown type "language".`

Re:

It is happening because your resulting `Request URL` for remote m

[2016-03-22 23:40] connormckelvey commented on #2121
Ran into the same issue. I was able to get it working by using:
[code]

[2016-03-22 23:46] superkhau commented on #2121
I'm not sure whether the procedure changed. Maybe @bajtos has some insight here?

@crandmck Can we update the docs to reflect this?

[2016-03-23 00:20] moklick commented on #1810
Hey @loay,

sorry the fix doesn't work for me.. that is nothing I can do in a production app.
You can easily reproduce it by creating a new project:
[code]

[2016-03-23 00:42] devotox commented on #2146
Thank you for the help.

what I managed to do so I could still use the path following your process was and this worked exactly as i hoped.

[code]

[2016-03-23 00:42] #2146 closed

[2016-03-23 03:14] Emiya0306 commented on #2150
@richardpringle , app is the PersistedModel and app.create() is PersistedModel.create(). I think it is from loopback-datasource-juggler/lib/dao.js.

[2016-03-23 05:47] vshgemini commented on #1645
Solved this isssue . When you add an ACL entry to DB, make sure you specify the 'accessType'. It is always good to specify all the attributes of an ACL ( model, property, accessType,. permission, principalType, principaId ). Also value for 'model' shuld correspond to the 'name' attribute specified in <your-model>.json file.

[2016-03-23 07:29] kartsims commented on #1810
Same here, that is not an acceptable solution to the issue... Doesn't look "fixed" if it needs such a hack.

I did as @moklick said and did get the error :

[code]

I uploaded the code I got, just in case, here : https://github.com/kartsims/loopback-issue-1810

Also I am running the code on OSX with the following versions

[code]

[2016-03-23 09:24] bajtos commented on #2121
This is a duplicate of https://github.com/strongloop/loopback-component-explorer/issues/51 which has been fixed by https://github.com/strongloop/loopback-boot/pull/168 and released as `loopback-boot@2.17.0`.

The patch mentioned above adds support for using `null` value to disable a component (`false` values is not supported). Here is the correct usage:

[code]

@crandmck could you please update t

[2016-03-23 09:36] bangonkali commented on #1692
+1

[2016-03-23 09:38] nivincp opened #2161 "Where clause in beforeRemote related method"
Cart.beforeRemote('*.__destroyById__products', function(ctx, cart, next) {
});

How can I add a where clause in the above remote hook for example like the one follows

ctx.args.filter.where = {"id_product_attribute": id_product_attribute};

[2016-03-23 11:07] PhearZero commented on #1841
:+1:

[2016-03-23 12:08] bajtos commented on #418
Ah, that's an oversight, would you mind to submit a pull request fixing the problem?

[2016-03-23 12:09] bajtos commented on #418
@jbcpollak could you please open a new issue to discuss batch create with promises?

[2016-03-23 12:11] Nautigsam opened #2162 "Modifications of embedded models are not saved in database"
Hello, I made a sample repo of a supposed bug I am experiencing. Am I doing something wrong?
Here is the link: https://github.com/Nautigsam/loopback-embed-test

[2016-03-23 13:02] richardpringle commented on #2150
I believe it should look something like this:
[code]

[2016-03-23 13:21] loay commented on #1810
Thanks. Having a look.

[2016-03-23 13:25] jmls commented on #2080
I would like to know also

[2016-03-23 13:50] romainquellec commented on #559
This issue shouldn't be closed.
The normal method to override ACL is by using slc loopback:acl and this does't work.

[2016-03-23 14:10] romainquellec opened #2163 "Simple ACL problem"
I'm currently adding some ACL to my application.

FYI, I overdrove User with Utilisateur with this code :
`  "name": "Utilisateur",
  "base": "User",`

Just for trying, I just add some widely open ACL to "Utilisateur"

`"acls": [
    {
      "accessType": "*",
      "principalType": "ROLE",
      "principalId": "$everyone",
      "permission": "ALLOW"
    }`

This doesn't work. I Still can't acces

[2016-03-23 14:14] romainquellec commented on #2163
With : DEBUG=loopback:security:* node .

` loopback:security:role isInRole(): $everyone +45s
  loopback:security:access-context ---AccessContext--- +0ms
  loopback:security:access-context principals: [] +0ms
  loopback:security:access-context modelName Utilisateur +0ms
  loopback:security:access-context modelId 1 +0ms
  loopback:security:access-context property findById +0ms
  loopback:security:ac

[2016-03-23 14:42] romainquellec commented on #2163
For now, my fix is very wrong : I change the default ACL of User in loopback.

Everyone, do not do this !

[2016-03-23 14:42] richardpringle commented on #2161
@nivincp please direct any questions about LoopBack to any of the three following locations:
- [Google Groups](https://groups.google.com/forum/#!forum/loopbackjs)
- [StackOverflow](http://stackoverflow.com/questions/tagged/loopbackjs+or+strongloop?sort=newest&pageSize=50)
- [Gitter](https://gitter.im/strongloop/loopback) (supported, but we prefer posting to Google Groups so others may benefit from

[2016-03-23 14:42] #2161 closed

[2016-03-23 14:47] jannyHou commented on #2163
@romainquellec glad to know that you figure out the right way to set ACL!
I tried to create a new user called `myuser` extending `User` model, and set ACL on it, the entire myuser.json file is:
[code]

endpoint `GET myusers/` is public to everyone.

[2016-03-23 15:00] romainquellec commented on #2163
Ok. I reversed my change and update the loopback.
Apparently, it's been fix since my last update.

[2016-03-23 15:01] bajtos commented on #1876
@richardpringle from my experience, supporting both single-instance and bulk update in the same method is cumbersome for several reasons:
 - The type of output argument(s) depends on the type of the input argument(s) - array vs. object - which is difficult to encode in Swagger. In our AngularJS SDK, we had to create a wrapper method `createMany` to handle the array case.
 - Error handling is very

[2016-03-23 15:08] loay commented on #1810
in `config.json`, instead of setting `cors` to true, you can set ;
[code]

[2016-03-23 15:11] richardpringle commented on #2162
Hey @Nautigsam, thanks for posting the sample repo!

I observed some pretty strange behavior and I didn't see anything wrong with your code. When using `PUT api/Books/{id}/cover`, the `Book` instance is updated with the new cover but it does not persist to the `Pages` model.

Definitely a bug, thanks for catching it!

[2016-03-23 15:15] kartsims commented on #1810
Works for me :sparkles:

After looking back into the documentation I didn't find where I got the idea that setting it to `true` would do the trick but it has to be in there, somewhere, I don't think I made this up! If I ever find it again, I'll let you know.

Thanks for the reply @loay

[2016-03-23 15:23] loay commented on #1810
Glad I can help :)

[2016-03-23 15:23] #1810 closed

[2016-03-23 15:24] loay commented on #720
Hello, I am closing this issue for now.  If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-03-23 15:24] #720 closed

[2016-03-23 15:28] ebarault commented on #411
@fabien: would you mind sharing how you achieve this kind of boot event or your own?

@raymondfeng : other than that, i see there is a started event which emits when all boot scripts are executed (and hence every models are loaded) but I don't see any doc on how to use this. Would you have any examples at hand ?

[2016-03-23 16:13] jbcpollak commented on #2132
I saw that. As long as loopback doesn't override the global Promise implementation, I am happy. I think you can close this issue. I am not actually sure that Loopback was causing this problem for me, but it seemed the most likely culprit.

[2016-03-23 16:38] jbcpollak opened #2164 "Request: Return a Promise for PersistedModel.create() batch mode."
PersistedModel.create() doesn't return a Promise in batch-create model. See https://github.com/strongloop/loopback/issues/418#issuecomment-74691763 for details.

If you try, you'll get an error like this:

[code]

It would be good to find a solution so this mode can support promises as well. If it cannot be done, I would suggest breaking this mode out into a separate `batchCreate()` method so the

[2016-03-23 16:44] moklick commented on #1810
Now this is a good fix. Thanks a lot @loay

[2016-03-23 17:33] jannyHou commented on #2164
hey @jbcpollak, thanks for your suggestion, when you test batch-create, are you trying to create multiple instances like this?:
https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/manipulation.test.js#L218-L224

[2016-03-23 17:44] loay commented on #1074
Hello,
Closing this issue.  If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-03-23 17:44] #1074 closed

[2016-03-23 17:51] loay commented on #1109
hello,

closing this issue.  If you are still running into problems, feel free to leave a comment and I will reopen the issue. Thanks

[2016-03-23 17:51] #1109 closed

[2016-03-23 18:12] richardpringle commented on #1876
@bajtos, we have `PersistedModel.createUpdates` and `PersistedModel.bulkUpdate` functions, I thought we could use those but I see that they are not in `dao.js` (in persisted-model.js in loopback-core).

[2016-03-23 18:52] loay commented on #1177
getCurrentContext is deprecated: https://github.com/strongloop/loopback/issues/1676 but I am not sure if it is related to your case, so if you are still running into the same issue, can you please provide a link to your test project to reproduce? Thanks.

[2016-03-23 19:17] loay commented on #1341
Hi @Spark-star
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue. Thanks

[2016-03-23 19:17] #1341 closed

[2016-03-23 19:19] loay commented on #1309
Hi @Baskerville42
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue. Thanks

[2016-03-23 19:19] #1309 closed

[2016-03-23 20:20] devotis commented on #517
+1

[2016-03-23 21:05] tamitutor commented on #559
+1 for reopening this issue

[2016-03-23 21:06] loay commented on #1265
Hi @vietkute02
Closing due to inactivity. If you are still running into problems, please provide a test project on github so we can reproduce the issue, and  then I will reopen the issue.
Thanks.

[2016-03-23 21:06] #1265 closed

[2016-03-23 21:21] loay commented on #1277
Hi,
you can set your format validation.
For example:
[code]
More on validation in this document. Also, your link is not working anymore.
Thanks.

https://docs.strongloop.com/display/LB/Validating+model+data

[2016-03-23 21:45] loay commented on #1303
Hi @nvcken
Still having problem with the same issue?

[2016-03-23 21:52] loay commented on #1308
Hi @watzing
Closing this issue for now. If you are still having problems with the same issue, please provide a link to a test project so we can reproduce the issue and help out, and re-open the issue.

Thanks

[2016-03-23 21:52] #1308 closed

[2016-03-23 22:28] crandmck commented on #2121
Updated both mentions in the doc noted above.

[2016-03-23 22:28] #2121 closed

[2016-03-23 22:30] crandmck commented on #2144
Yes, please provide details and example @richardpringle ... Thanks!

[2016-03-23 23:20] lughino opened #2165 "ForceId seems not work properly in embedsOne and embedsMany relations."
When I associate a model with embedsOne, if I create it through the `POST /api/model/:id/embeddedModel` automatically the id is generated despite the explicit `forceId` field with the value `false`.
This is my setup:

[code]

While as regards the embedsMany, despite I set `forceId` to `true`, if I not insert the id in the object, a duplicate id error is returned:

[code]

This is the configuration

[2016-03-23 23:24] richardpringle commented on #2144
Sorry, didn't mean to just leave you hanging @crandmck!

Either @bajtos or @ritch would do a better job than me, I've never actually used it.

[2016-03-23 23:30] richardpringle commented on #2160
@luckymancvp, it looks like this issue is in the wrong-repo. Please migrate to https://github.com/strongloop/strongloop/issues

[2016-03-23 23:35] #2160 closed

[2016-03-24 00:37] richardpringle commented on #2124
Hey @katherdx, in the future, please ask questions over in one of the following locations:
- [Google Groups](https://groups.google.com/forum/#!forum/loopbackjs)
- [StackOverflow](http://stackoverflow.com/questions/tagged/loopbackjs+or+strongloop?sort=newest&pageSize=50)
- [Gitter](https://gitter.im/strongloop/loopback) (supported, but we prefer posting to Google Groups so others may benefit from t

[2016-03-24 00:37] #2124 closed

[2016-03-24 02:34] nvcken commented on #1303
Hi @loay
I worked around this by some trick at hook, I got conflict CurrentContext not only when integrate Stripe but also with another third-party like Google Cloud Storage.
But my loopback project had been pending long ago so I am not sure now.

[2016-03-24 03:39] nivincp commented on #2161
@richardpringle sorry for the inconvenience, will make sure to open further issues in stackoverflow / google groups.

Here the id_product_attribute is a field in products relation which is mapped to the CartProduct model.
The above remote hook is used in Cart model and I need to somehow apply the where clause to CartProduct context from within the CartModel context. I am also attaching the cart.js

[2016-03-24 04:16] nivincp commented on #2143
@jannyHou please check the commit

https://github.com/nivincp/loopback-sandbox/commit/5f499712a744e62f1b22531c0cbae66022357917

[2016-03-24 05:15] kolach commented on #517
So far it's the work in progress:
https://github.com/strongloop/loopback-connector/pull/40

[2016-03-24 05:15] zamb3zi commented on #1412
I've been working on this for a few days and I now have a working method. It borrows ideas from the defunct `loopback-webpack-plugin` and it works fine with the latest webpack. To demonstrate it, I made a fork of the basic loopback example here [`loopback-webpack-example`](https://github.com/zamb3zi/loopback-webpack-example)
It's pure webpack (no browserify needed) and can be used to create a sing

[2016-03-24 05:29] loay commented on #1303
Thanks @nvcken
Closing the issue for now. If you are still having any troubles, please feel free to leave a comment and I will re-open the issue.

[2016-03-24 05:29] #1303 closed

[2016-03-24 09:34] hoangtrongphuc opened #2166 "Pagination in API loopback"
Loopback auto create API function, but I can't not see pagination of Model with thousand record. Please add this feature.

[2016-03-24 13:06] bajtos commented on #2144
I am afraid we don't support this feature. IIRC, one of the reasons is that detection of changed attributes has non-negligible performance overhead. It is also difficult to implement in a way that would work correctly when multiple clients are modifying the same record at the same time.

[2016-03-24 13:07] bajtos commented on #2144
Changes and checkpoints are used by change-replication (offline sync) algorithm. They work on model-instance level by comparing checksum of canonical JSON representation of the model instance in question, they don't distinguish individual model properties.

[2016-03-24 13:13] bajtos commented on #2144
Having wrote all above, if you are using `prototype.updateAttributes()` to make the changes, and can change the client to send only the modified properties in the `data` argument, then the following code should work for you:

[code]

Your example update should be performed with the following data - notice that `name` is excluded from the data because it's not supposed to change:

[code]

[2016-03-24 13:59] bajtos commented on #1876
Those two methods were designed for use for change replication. However, I like the idea of having a more generic variant of `bulkUpdate` that could be used on its own to perform a set of updates (create/replace/delete) in one batch. OTOH, to implement it correctly with atomic semantics, we will face the same difficulties as described in my previous comment :(

[2016-03-24 14:11] umbrella-ivan-zhukov commented on #1177
@loay , thanks for information.
Yes, seems like my issue:

You can view my fix [here](https://github.com/umbrella-web/node-continuation-local-storage/commit/710174dd0c75c9b4dd95678813db01d82af121e1), where I'm looking data through all available contexts.

[2016-03-24 14:11] #1177 closed

[2016-03-24 14:33] jannyHou commented on #2089
Checklist of all datasource connectors we have:
The connetors already handles url would be checked.

- [ ] Mongodb
- [ ] Mysql
- [ ] Postgresql
- [ ] Mssql
- [ ] DB2
- [ ] Cloudant
- [ ] Oracle
- [ ] Redis
- [ ] sqlite3 (N/A in this story)

[2016-03-24 15:08] jannyHou commented on #2143
@nivincp thank you I will update my test result later, and meanwhile, I find something might be helpful for you, could you check comment from this `node-mysql` issue:
https://github.com/felixge/node-mysql/issues/620#issuecomment-26676851

[2016-03-24 16:57] loay commented on #1963
Hi @mike-aungsan,
I am having a look at that.

[2016-03-24 18:24] richardpringle commented on #2161
@nivincp, please use code blocks like this
[code]
[GitHub documentation on creating and highlighting code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/)

The easiest thing to do would be to create a [middleware function](https://docs.strongloop.com/display/APIC/Defining+middleware)

You can append a `where` filter onto the `request` object anywhere before the `rou

[2016-03-24 20:41] caffeinewriter opened #2168 "Password Reset Token in the loopback.token() middleware should have a method to immediately invalidate tokens"
Currently, when using access tokens for password resets, they remain valid even after they reset is performed, and can be reused up until the configured TTL is reached. It should be possible to immediately invalidate the token, particularly for password reset situations. It may not prove an issue with a sufficiently small TTL, but it's still something that should be addressed.

For example:

[code

[2016-03-24 21:15] caffeinewriter commented on #2166
You should look into the [limit](https://docs.strongloop.com/display/public/LB/Limit+filter) and [skip](https://docs.strongloop.com/display/public/LB/Skip+filter) filters.

E.g.

`/api/Test?filter[limit]=10&filter[skip]=0`
`/api/Test?filter[limit]=10&filter[skip]=10`
`/api/Test?filter[limit]=10&filter[skip]=20`

That would be 3 pages, each with 10 records.

There's actually a pagination example on

[2016-03-24 21:47] mike-aungsan commented on #1963
Thanks

[2016-03-24 22:23] crandmck commented on #664
Happy to reopen, but I don't have the information on the methods.  Where are they implemented?

[2016-03-24 22:51] superkhau commented on #1744
This issue may be related to https://github.com/strongloop/loopback-datasource-juggler/pull/787. I'm going to take over that PR and add in some test cases for your limit issue to see if we can kill two birds with one stone.

[2016-03-25 00:08] aquid commented on #1460
Any updates on this? I am facing the same problem. How to handle relation if sender and reciever both belong to the same Messenger model.

Does hasMany relationtionship will work for the Messenger(User) model where Messenger hasMany messages can be defined.

[2016-03-25 03:50] #2166 closed

[2016-03-25 10:06] s-a opened #2169 "Problem resolving module path in electron runtime environment"
Does loopback support electron runtime environment?

Some users reported problems while resolving module paths of loopback in electron runtime environment. I Tried to reproduce at...

ref:
- https://github.com/s-a/iron-node/issues/96
- https://github.com/s-a/iron-node/issues/99

[2016-03-25 11:31] hoangtrongphuc opened #2170 "Sub view folder - same areas in MVC"
My project have 2 views , view for admin and view for client, but It's only one client folder in loopback project. How can I config loopback for this ?

[2016-03-25 11:35] hoangtrongphuc commented on #2170
http://stackoverflow.com/questions/28729892/add-multiple-dir-for-static-files-in-loopback

[2016-03-25 11:35] #2170 closed

[2016-03-25 12:57] KaanErkol commented on #1441
Is there any update?

[2016-03-25 13:24] cfjedimaster commented on #664
Heh, I wish I knew. I'm still trying to get maxDistance to even work.

[2016-03-25 19:19] tjosbon commented on #517
:+1:

[2016-03-25 19:55] samzhao2008 opened #2171 "'this' in model instance method is strange."
Hi, I recently use loopback to build an application, I found that this in MyModel.prototype.mymethod is not an instance of MyModel.

[code]

This behavior breaks my knowledge about the PersistedModel and it takes me hours to figure out the reason. Because of the strange phenomenon, I can not call updateAttributes instance method of PersistedModel either by this.updateAttributes(params) or  Video.p

[2016-03-25 20:15] imeninnik commented on #1731
[code]
win 10,
not stable working nor with `slc` nor with `yo`, tried in `far`, `webstorm`, `cmd`, `git bash` and `powershell`

_stable_ here is means that some times it works (one in 2 or so tries)

[2016-03-26 14:10] cipriancaba opened #2172 "Best way of updating multiple Model instances"
I want to update some attributes for the instances returned by a `Model.find` query

What is the best way to achieve this? I've had a look over `createUpdates`, `bulkUpdate`, `updateAll` but these don't seem to do what I want..

Basically each of the models would need to be appended a value for a `prices` property, so if `Product.prices = [100]` before the update, after the update it will be `Prod

[2016-03-26 14:54] apparentvisuals commented on #630
If anyone is still looking to make this work. Was able to get this working on the latest connector code by tweaking the format of the clause.

{ where:  { '$text': { search:  "search term" } } }

This works because the connector will treat $text as a conditional and auto append $ to the search key.

[2016-03-26 15:36] epyx25 opened #2173 "scope in inherited model"
Is it possible to use `scope` on inherited model?

I have **employee** which inherits from **contact**. **partner** hasMany contacts

**models/employee.json**

[code]

**models/partner.json**

[code]

contact table looks something like this:

| id | name | partnerId |
| --- | --- | --- |
| 1 | foo | 1 |
| 2 | bar | 1 |
| 3 | baz | 2 |

calling **GET** employees/ returns all of the contact table's

[2016-03-28 08:57] ahmed-abdulmoniem commented on #917
+1

[2016-03-28 13:42] technova commented on #2144
Thanks @bajtos . This code has dependency on client who is sending data. But still this works for me.

[2016-03-28 18:09] Amir-61 commented on #2172
Hi @cipriancaba,

`createUpdate` and `bulkUpdate` were designed for change replication; the naive solution would be iterating through the result returned from `Model.find` and update them or alternatively I believe [updateAll](http://apidocs.strongloop.com/loopback/#persistedmodel-updateall) should work for you as well. If not, you should reproduce the issue by our [loopback-sandbox](https://githu

[2016-03-28 18:57] Amir-61 commented on #2098
Oh Sorry I forgot to get back to this ticket; you are absolutely right, I will label it as a document issue and it will be fixed soon; thanks a lot for helping us improve the documentation.

[2016-03-28 19:02] Amir-61 commented on #2098
@crandmck PTAL ^ Thanks :-)

[2016-03-29 00:46] miltonguty commented on #1141
hi brunocascio ,I need do the same please could you tell  me if you found a solution , thanks

[2016-03-29 00:54] FreakTheMighty commented on #1395
I believe I'm seeing a related issue, I'm doing a query like so through the angular sdk:

[code]

When I use the `near` query, the `order` is no longer respected, and the results are ordered by distance. It seems like `near` doesn't behave well with other filters.

[2016-03-29 05:51] groge commented on #1275
+1

[2016-03-29 07:38] cipriancaba commented on #2172
Thank you for your update.. I will move the question to the google group to avoid spamming the issues..

Best

[2016-03-29 07:38] #2172 closed

[2016-03-29 09:15] sebastianhaas commented on #1321
+1

[2016-03-29 14:01] bajtos commented on #2144
@technova cool, I am glad my solution works for you. In which case I think we can close this issue now.

[2016-03-29 14:01] #2144 closed

[2016-03-29 14:08] tomcooksey commented on #2151
Hi, sorry I have been on holiday.

Thanks for the typo spot, unfortunately it didn't make a difference.  I have had to write a cascade mixin.  I will try and create a sandbox for the issue.

[2016-03-29 15:00] richardpringle commented on #2151
@tomcooksey,if you do manage to get a sandbox up, please post the link in here and mention me in the comment.

[2016-03-29 15:34] richardpringle commented on #2123
@pktippa, as per @bajtos' [comment](https://github.com/strongloop/loopback/issues/1876#issuecomment-200383701), we are going to modify the code to produce a meaningful error but we will not support PUT with an array of records to update at this time.

[2016-03-29 17:10] bajtos opened #2175 "Spike: improve handling of swagger spec when developing LB app in API Connect"
Make it easy for users to make changes both in LoopBack source code and in the generated swagger document in such way that changes made in both places are preserved.

[2016-03-29 17:15] bajtos opened #2176 "Spike: Lazy connect datasources on app start"
In order to generate swagger spec, e.g. inside `apic`, we need to load the app. At the moment, all datasources open connection to databases at the start time and if there is any problem, the whole app crashes, even though we only wanted to query metadata.

The proposal is to modify all connectors to correctly implement a lazy `connect` method and then modify juggler to allow the user to defer init

[2016-03-29 17:56] weikaolun commented on #1362
This looks like a promising solution. What's the status of the implementation these days?

[2016-03-29 20:48] jannyHou commented on #2143
@nivincp I simplified your scenario:
https://github.com/jannyHou/loopback-sandbox/tree/simplify-app
from my test,
1. the timezone config in `server/datasource.json` wouldn't work, which is not surprised, explained in https://github.com/felixge/node-mysql/issues/620#issuecomment-26676851.
And workaround from `node-mysql` side is:

2. when I use `loopback-ds-timestamp-mixin` to define `createdAt` an

[2016-03-29 21:29] crandmck commented on #2098
OK, I tried this out myself, and just to be clear, you only need the leading `/` when you are using a flag.  Without a flag, you don't need the leading slash.....
That's what I observed. I think the OP said that, but I just want to confirm.

[2016-03-29 21:31] superkhau commented on #1744
The fix it at https://github.com/strongloop/loopback-datasource-juggler/pull/786/files, needs more test coverage before merging though.

[2016-03-29 21:54] crandmck commented on #960
Sorry it took me so long to fix this.  I changed the wording of the warning in https://docs.strongloop.com/display/LB/Accessing+related+models based on your suggestion @proreact-mj.    Does this cover it?

[2016-03-29 22:06] saintc0d3r commented on #559
+1

[2016-03-30 01:06] chandreshinf opened #2177 "AssertionError: false == true while connecting to mysql datasource"
Hi All,

I am new to strongloop. Following the tutorials from api documentation. While creating model, I will get error because of selecting mysql datasource. I have already created datasource connection with mysql.

`Select the data-source to attach myModel to: mysqlDs (mysql)`
  `readline.js:924`

 `throw err;`
 `^`
`AssertionError: false == true`

any help would be appreciated.
thanks

[2016-03-30 03:50] nivincp commented on #2143
@jannyHou

Couldn't get it working the above way :-)

I see an option to set the "dateStrings": true in datasources.json here https://github.com/felixge/node-mysql#connection-options

That didn't worked either. As a workaround I am using date_add and date_upd in my mysql tables as type string in model.json and then formatting it using the moment.js with the timezone I have specified in the config.

[2016-03-30 04:23] pktippa commented on #2123
@richardpringle thanks for the update.

[2016-03-30 05:49] dancingshell commented on #546
+1
We have pilots (extended from User) that have many flights with the hasMany and belongsTo relationships defined. I would like to be able to call Flight.create() with $owner ACL defined and have flight creation be restricted to `flight.pilotId = current logged in userId`

currently, I have to define this restriction in a before save method hook

[2016-03-30 07:09] proreact-mj commented on #960
First part looks good. But the is another warning box further down the page that is still contradictory.

Might be a good place to put the information about explicit opening (the Reversed base statement and original example). Also clearly stating in the example eg. "For example, the build-in User model always have a default deny all, so to access related models you need to ...."

[2016-03-30 07:11] DFranch commented on #1841
:+1:

[2016-03-30 10:09] nivincp commented on #591
Can we customise the table names for built in models? For example I'd like to name the built in User model as users in my mysql database and AccessToken as access_tokens. I understand it can be done for custom models using model.json. Just wondering how to do it with built in models?

[2016-03-30 10:48] SumeetR commented on #1319
Hello,

Any update on this issue? I am experiencing the same as @zane-insta as I have a Catalogue model that represents various types of content, having a 'belongsTo' relationship with them, and really need to be able to include the original content with the Catalogue model.

Cheers,
S.

[2016-03-30 12:12] PaddyMann opened #2178 "MySQL dataType not working"
I have a model JSON file, with:

    "partnerId": {
      "type": "number",
      "required": true,
      "index": true,
      "mysql": {
        "dataType": "smallInt"
      }
    }

The mysql dataType seems to have no effect.

I have also tried:

    "partnerId": {
      "type": "number",
      "required": true,
      "index": true,
      "dataType": "smallInt"
    }

With no joy. It's not clear

[2016-03-30 12:13] PaddyMann opened #2179 "Support for MySQL unsigned"
I can't see anyway to make an unsigned field in MySQL (based on the docs here: https://docs.strongloop.com/display/public/LB/MySQL+connector ).

Would be great to add support

[2016-03-30 14:58] jannyHou commented on #2179
@PaddyMann I think we support `UNSIGNED` option, see:
https://github.com/strongloop/loopback-connector-mysql/blob/b27d1ce32fc937108dbb1c61e7b681df807e35fb/lib/migration.js#L568

And see how to use `unsigned` from this test case: https://github.com/strongloop/loopback-connector-mysql/blob/b27d1ce32fc937108dbb1c61e7b681df807e35fb/test/migration.test.js#L242

[2016-03-30 16:05] tomcooksey opened #2180 "isNewInstance is true when performing update using REST API in after save hook"
I am using MySQL as the database and am observing the `after save` hook:

[code]
(Note I am doing this in a mixin)

When I perform a PUT through the REST API, my hook fires but isNewInstance is true, when it should be false as I am performing an update.

[2016-03-30 17:25] jcalvor opened #2181 "server"

[2016-03-30 17:25] #2181 closed

[2016-03-30 17:45] jannyHou commented on #2143
@nivincp I am glad to know that you find a workaround.
We have an example repo about how to use the timestamp mixin:
https://github.com/strongloop/loopback-example-mixins
but I got same result:

I will label it a bug then.

[2016-03-30 18:06] jannyHou commented on #2143
@nivincp filed bug: https://github.com/clarkbw/loopback-ds-timestamp-mixin/issues/21
Can I close this issue now since the issue finds a solution? We can discuss further new problems if you still have concern

[2016-03-30 18:14] sam-github opened #2182 "way to configure HTTPS that doesn't involve writing javascript"
Currently, there is only a way to **implement** HTTPS, see https://docs.strongloop.com/display/LB/Preparing+for+deployment and https://github.com/strongloop/loopback-example-ssl#load-the-ssl-certificate

I expected to find that there were some json config files that the HTTPS options needed to be added into.

This is not friendly for tools, such as `apic`, that may wish to configure an app to use

[2016-03-30 18:48] PaddyMann commented on #2179
Great - thank you. Could have sworn I had tried doing it as shown in the test case without luck, but appears to work :)

[2016-03-30 18:52] PaddyMann commented on #2178
Now I've found the latter seems to work:

      "type": "number",
      "required": true,
      "dataType": "smallInt",
      "unsigned": true,
      "index": true

The docs show it working within a "mysql" attribute, and this definitely isn't working and doesn't reflect what I've seen in the tests. The example in the docs could do with updating :)

[2016-03-30 18:52] #2178 closed

[2016-03-30 18:55] PaddyMann opened #2183 "Docs issue: "Using the datatype field/column option with MySQL" incorrectly shows to use "mysql" parameter"
Page: https://docs.strongloop.com/display/public/LB/MySQL+connector
Section: "Using the datatype field/column option with MySQL"

Issue:

Example shows to use the mysql parameter, but I've found this doesn't work and the settings should be attached at the level above.

So

    locationId":{
        "type":"String",
        "required":true,
        "length":20,
        "mysql":
        {

[2016-03-30 19:14] PaddyMann opened #2184 "dataType has no effect for primary key field"
If I have a model configured with an `id` field and a specific `dataType`, e.g.:

    {
      ...
      "idInjection": false,
      ...
      "properties": {
        "id": {
          "type": "number",
          "id": true,
          "dataType": "smallInt",
          "unsigned": true,
          "generated": true
        },
       ...

Then the `dataType` is (incorrectly) ignored and the id field i

[2016-03-30 19:43] richardpringle commented on #1955
@pktippa you might have to use the alias `updateOrCreate`. I'm not quite sure why it doesn't work but it should.

Also, `upsert` was implemented as a static method because of the way prototype methods are called by strong-remoting. Any operation performed on this example endpoint `/api/Examples/{id}/` will first call `findById(...)` and then the remote method you originally wished to call. If you

[2016-03-30 20:50] richardpringle opened #2185 "Inaccuracy in Remote Hooks Signature Docs"
https://docs.strongloop.com/display/public/LB/Remote+hooks#Remotehooks-Signature

It says that "For static remote methods..."
[code]
I believe this is true for custom static methods, but for methods such as `upsert` or `create` which are by definition static methods, they require a third argument in the callback, just like instance methods.

@crandmck, when you get to this, please message me... th

[2016-03-30 20:54] richardpringle commented on #1955
^ EDIT:

changed to:

[2016-03-30 20:59] richardpringle commented on #1955
@pktippa

b. The 'upsert' hook getting triggered when we do a PUT but not for POST why?
c. The 'upsert' hook not getting triggered for PUT/{id}

a) It is a static method because of my above explanation (the design flaw)
b) The `create` method is mapped to POST and `updateOrCreate` (alias is `upsert`) is mapped to PUT
c) The 'updateAttributes` method is mapped to PUT MyModels/{id}

There are no bug

[2016-03-30 20:59] #1955 closed

[2016-03-30 22:01] ywang-clarify opened #2186 "filter include and filter fields don't work well together"
I have 3 models A, B, C

A belongs to B
B belongs to C

I want to query A, include B, include C. But I only want a few fields from each model.
Using a filter like this without specifying any "fields" works fine and brings back the nested models.

[code]

But as soon as I add a "fields" filter property to any level of the query, all included relations from that level seem to be ignored. So if I que

[2016-03-30 23:28] ywang-clarify commented on #2186
I walked through the loopback-connector code and it looks like what's happening is that because I didn't include the foreign key field in my "fields" array, the initial query didn't bring back enough information to correctly write the query to bring back the related objects.

The unit tests use the memory datasource, so this probably wouldn't be an issue. The problem is that the sql connector real

[2016-03-30 23:34] ywang-clarify commented on #2186
So even though I know what's causing my initial problem. I'm still curious as to why I get these test failures.

[2016-03-31 03:35] nivincp commented on #2143
@jannyHou Yes and thanks for your help.

[2016-03-31 04:20] pktippa commented on #1955
@richardpringle Thanks for the explanation.

[2016-03-31 06:57] KaanErkol commented on #2004
any solutions ?

[2016-03-31 07:17] dligthart opened #2187 "Help create a Stormpath (user mgmt) middleware module for TEDx Amsterdam Open source Loopback Backend"
This middleware module for loopback will be used to offload user mgmt to SAAS party called stormpath:

https://docs.stormpath.com/nodejs/

All help on this is appreciated!

We want to utilize this module for the TEDx Open Source Backend:
https://github.com/TEDxAmsterdam/Backend/issues/2

[2016-03-31 07:57] ebarault commented on #505
@superkhau : would you know when the "required" option on relations should land in a coming sprint?

[2016-03-31 08:37] nmklong opened #2188 "How to add more parameters to find hook"
Hi, I'm using beforeRemote for "find" hook to add some extra stuffs to the filter from data extracted from query, something like this:

[code]

This works fine, however in the explorer, it doesn't show that the user needs to pass "country" as a parameter, is there anyway i can change the "find" hook so that it will show country as a required parameter? Thank you.

[2016-03-31 09:49] bajtos commented on #1749
I am testing the presets now, I am pretty impressed by eslint capabilities. I discovered an issue along the way, see https://github.com/eslint/eslint/issues/5744

[2016-03-31 11:59] KaanErkol commented on #1454
+1

[2016-03-31 12:24] gaurav21r commented on #1841
Guys there are *reactions* now in Github. Lets use them instead of a new comment for `+1`

[2016-03-31 14:46] bajtos commented on #1972
@davidcheung I though it was not possible to create models with no primary key, because then the datasource/connector would inject one. Is thus just a model instance that does not have the primary key set? Perhaps when applying the `fields` filter, we should always include the primary key even if it's not listed in the `fields` array?

@raymondfeng thoughts?

[2016-03-31 14:48] bajtos commented on #2127
@richardpringle I don't know enough about this part to answer your question. Could you elaborate a bit more on what kind of design improvements you would like to make? Or perhaps what parts of design are sub-optimal?

[2016-03-31 15:58] richardpringle commented on #2127
@bajtos, change the design so that the related model wouldn't be stored as well

[2016-03-31 16:32] superkhau commented on #505
@ebarault It's not high in the priority list ATM. Would someone like to submit a PR? I can get it bumped in priority for community contributions.

[2016-03-31 16:40] bajtos commented on #2182
:+1:

Rant: this is partially a problem of Node.js core API, because it does not provide a unified HTTP/HTTPS API where switching between secure/unsecure could be done by configuration.

When it comes to HTTP clients, [request](https://www.npmjs.com/package/request) does a nice job of abstracting two different core APIs away.

For LoopBack, I am proposing to do something similar and use a module t

[2016-03-31 22:02] richardpringle commented on #2123
@bajtos,
I found that the issue is in the `create` method. If an array is passed to `updateOrCreate` [dao.js#L471](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L471) causes the data to be passed directly to `create` (which makes sense since we don't actually support a bulk update). From there, for each duplicate entry, the create method will send an error which

[2016-03-31 22:09] richardpringle commented on #2123
Input (both records already exist):
[code]

memory:
[code]

MongoDB
[code]

[2016-04-01 01:05] Blaugold commented on #559
+1

[2016-04-01 04:16] dongmai opened #2189 "How can I disable remote methods for Container model of Storage component ?"
Hello everyone,

Seems I can not disable any remote methods of Container model of Storage component. I've tried to call `Container.disableRemoteMethod('find',true);` in `container.js` but the `Get /containers` api was still be there (on api explorer).

Can someone please take a look to help me out ?

Thanks.

[2016-04-01 07:11] PaddyMann opened #2190 "Text field loses line break when saving to DB"
We have a `text` field in a model. When a value with line breaks is saved, the line breaks are lost on its way to MySQL.

This can be fixed with:

    function onBeforeSave (context, next) {
      context.instance.message = context.instance.message.replace(/\n/g, '\n\r');
      return next();
    }

Not ideal, so we'd like a more permanent fix for all text fields. Not sure if this is MySQL specifi

[2016-04-01 09:41] farlynd opened #2191 "TypeError: Cannot read property 'create' of undefined"
Hi,
I try to follow ReferencesMany helper's method, and get this error

[code]

this is kamar's remote method code,

[code]

and this is kamar model json :

[code]
is this a bug or something i missing?
Thanks.

Farly.

[2016-04-01 10:36] ekussberg opened #2192 "Session is not regenerated when AccessToken is expired"
We have came across following situation:
1. User logs in
2. We change the TTL = 1 in the DB for the accessToken
3. User in the client does:
            LoopBackAuth.clearUser();
            LoopBackAuth.clearStorage();
            window.location = '/';
4. The sessionId stays the same, but the accessToken doesn't exist anymore.

Any solutions or do you know what do we do wrong?

[2016-04-01 14:35] jannyHou commented on #2191
@farlynd I think the problem happens with your model name `Fasilitas`, I tried with model `Account` it works fine:
[code]
I will dig into the reason.

[2016-04-01 15:14] jannyHou commented on #2191
@farlynd ah...the tricky thing is **Relation Name** is case sensitive, so you should use
`*Fasilitass*` instead of
`*fasilitas*`
in `kamars.fasilitass.create(fk);`,
if you  define you relation name as `*Fasilitas*`:
[code]

[2016-04-01 15:56] farlynd commented on #2191
wow, so fast!

actually thats works, thanks!,

[code]

[2016-04-01 17:38] #2132 closed

[2016-04-01 17:38] #2163 closed

[2016-04-01 17:38] #2179 closed

[2016-04-01 17:38] #2191 closed

[2016-04-01 20:17] KaanErkol opened #2194 "event stream belongsto field include problem"
i have comment model and its belongs to customer model and i want data like this

`{
  "target": "56fed4c41a2309d34198d9ea",
  "data": {
    "content": "asdcxz",
    "id": "56fed4c41a2309d34198d9ea",
    "createdAt": "2016-04-01T20:06:28.192Z",
    "updatedAt": "2016-04-01T20:06:28.192Z",
    "postsId": "56fe4d2d1e0f4d7e374b7791",
    "customerId": "56fe3ddb03496447364a9bf2",
    "$$hashKey": "obj

[2016-04-01 20:52] 3plusalpha commented on #1666
+1 for multiple roles

[2016-04-02 02:15] hussainak commented on #1441
I believe the project is probably dead due to a recent restructure in IBM.

[2016-04-02 06:04] Amir-61 commented on #2180
Hi @tomcooksey,

Please provide a sample repo using out [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) which reproduces the issue.

Thanks!

[2016-04-02 20:28] superkhau commented on #1441
@hussainak The project is not dead, we are all very busy working on various projects. If you need immediate support, we offer a variety of subscriptions. See https://strongloop.com/node-js/subscription-plans/.

That said, can someone provide sample project with some instructions so I can reproduce on my end? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report. For now, I wi

[2016-04-02 22:24] deviant32 opened #2195 "User confirm method not appending Email as UID"
I am using the email address as the id of my model instead of username.  When the email verification email goes out it is missing the uid entirely.

this is what i get:
http://localhost:3000/api/clients/confirm&token=d884bacb6d4f1fb9a212dbaad84250c206519397c477d74c2da32d37a3bf39a048ce6db2e7b2a6d16965c579e702765b92de45961138a2fbedc64a35a0a2681a

[2016-04-03 07:38] achadha235 commented on #1275
+1

[2016-04-03 16:34] AurelieV commented on #1441
@superkhau I have provided a repo wich reproduces the error in issue #1986.

[2016-04-03 20:39] Amir-61 commented on #2194
Hi @KaanErkol,

Could you please provide a sample repo using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) with your models and what you want to achieve? Also We recommend that you ask these kinds of questions in our [google group](https://groups.google.com/forum/#!forum/loopbackjs) to get a faster response; we usually use git hub issues for reporting bugs and features...

[2016-04-03 21:26] Amir-61 commented on #2183
@crandmck PTAL ^

[2016-04-04 00:11] gunjpan commented on #2119
Proposed solution: update `loopback-connector-rest` to accomodate `swagger` APIs.
Steps:
- Update `datasource` generator to include an option to provide `swagger.yaml/json` location, thus set a flag for `swagger`. Resulting `datasource` generator should prompt as:

? Select the connector for kd: REST services (supported by StrongLoop)
? Enter swagger specification location: local path / url / swag

[2016-04-04 13:00] bajtos commented on #2119
Steps:
- Update `datasource` generator to include an option to provide `swagger.yaml/json` location, thus set a flag for `swagger`. Resulting `datasource` generator should prompt as:

? Select the connector for kd: REST services (supported by StrongLoop)
? Enter swagger specification location: local path / url / swagger object

- Read swagger spec at runtime - should be accomplished using [`swagge

[2016-04-04 13:22] bajtos commented on #2123
From reading the code ([lib/dao#L471-L474](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L471-L474)), I believe the original intention was to short-circuit to `create` when data does not contain `id` property.

I am proposing to implement the same behaviour for bulk-update case, even if it means that certain requests that would pass with the current implementatio

[2016-04-04 13:50] gunjpan commented on #2119
@bajtos :
Re:

I'm thinking of binding all the opertations from parsed spec to our template _(which I believe would be same as converting swagger to our template?!)_

Good point, agree.

[2016-04-04 14:18] gunjpan commented on #2119
- [ ] Create a POC for the proposed solution

[2016-04-04 14:23] richardpringle commented on #2123
@bajtos Which branch should I make the change on?

[2016-04-04 14:46] bajtos commented on #2123
@richardpringle start with master, and once the PR is landed, back-port the fix to 2.x too.

[2016-04-04 15:26] crandmck opened #2196 "Correct docs for where clause"
Per, https://github.com/strongloop/loopback-connector-mongodb/pull/109#issuecomment-90953432, review and correct [where filter docs](https://docs.strongloop.com/display/public/LB/Where+filter) on case-insensitive matches.

[2016-04-04 17:32] superkhau commented on #1441
@AurelieV Can you provide a link to the sample project and not the closed issue so I don't have to dig through the discussion please?

[2016-04-04 17:49] AurelieV commented on #1441
Sorry, was on mobile, and couldn't do it easliy. Moreover the conversation is interessting because it provide the way to reproduce (or not) the problem.

The repo https://github.com/AurelieV/loopback-sandbox

[2016-04-04 18:33] jannyHou commented on #1441
@AurelieV feel very sorry for replying you late, I was working on another deadline after talked with you about this issue one month before, now I am back on loopback issue and trying to debug your repo.

I still get the right response:
[code]
I run `npm install` from npmjs registry so I should have the same version of dependants as you.
mongodb:3.2
strongloop: "version": "5.0.1"
loopback-connector

[2016-04-04 18:59] lomashg commented on #2063
Hi Joe
Lomash from TD , i have replaced Varun ( who is not out of a long vacation)  . Do let me know any updates on this one .

[2016-04-04 19:41] 3plusalpha opened #2197 "how to disable nested remote methods via disableRemoteMethod"
I need to disable a remote method via `disableRemoteMethod`, which is exposed to:
`/stocks/{id}/products/{fk}`

I checked the docu and issues here, but couldn't find any hint how to handle nested routes in `disableRemoteMethod`.

[2016-04-04 20:50] ritch commented on #2119
I think we should do this and not try and support our template syntax. We can leave the REST connector as is this way and create a fairly simple connector from scratch with the swagger client.

This new swagger connector would:
 - mixin the swagger client methods
 - mixin all of the `PersistedModel` methods, mapping to logical swagger client methods
 - implement hooks around execution

Here is som

[2016-04-04 21:02] jannyHou commented on #2189
@dongmai I am trying to help you reproduce your problem, I tried with a simple loopback app and it works:
1. `slc loopback` to create app
2. `slc loopback:model` to add a model
3.  `myModel.disableRemoteMethod('find', true);` in common/models/mymodel.js
4. `node .` and open explorer, `GET/ myModels` is hide.
If you still get error, could you fork this sandbox and replace it with your code: https:/

[2016-04-04 21:03] 0candy commented on #2102
Can you please provide a link to a test project for me to reproduce the issue? Thanks!
See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

[2016-04-04 21:12] 0candy commented on #2197
You should be able to hide the endpoint like this:
https://docs.strongloop.com/display/APIC/Exposing+models+over+REST#ExposingmodelsoverREST-Hidingendpointsforrelatedmodels

[2016-04-04 21:16] 3plusalpha commented on #2197
I tried this already, but could only hide post, delete, get for `/stocks/{id}/products` with
`Stock.disableRemoteMethod("__get__products", false);`
`Stock.disableRemoteMethod("__create__products", false);`
`Stock.disableRemoteMethod("__delete__products", false);`

But what do I have to add in order to hide `/stocks/{id}/products/{fk}` that contains `{fk}`?

[2016-04-04 21:49] 0candy commented on #2197
Can you please provide a link to a test project for me to reproduce the issue? Thanks!

[2016-04-04 22:45] mneil opened #2198 "Should be able to filter on foreign key relations"
I ran into an issue specific to my use case that I'm surprised loopback doesn't support since it is entirely possible to do through query string parameters alone.

I have a model, accounts. Accounts has many users. Users has many roles.

I want to get users and their roles through the account. I expect to be able to make a query like:

[code]

Filter is completely ignored, it seems, when querying

[2016-04-04 23:15] richardpringle commented on #2123
@bajtos,

No, they get the same "unknown error" because of the [rest-adapter error handler](https://github.com/strongloop/strong-remoting/blob/master/lib/rest-adapter.js#L374-L378). The `err` object in this case is really an array of errors so `err.message` is undefined.

[2016-04-05 02:50] dongmai commented on #2189
Thanks @jannyHou , I still get other model methods disabled but the Container model of Storage component. It only happens for Storage component, you can refer the docs here : https://docs.strongloop.com/display/public/LB/Storage+component.

[2016-04-05 03:14] dongmai opened #2199 "Can I disable the two attributes : created, lastUpdated of User model when inheriting it ?"
Hi everyone,

In my project for specify reasons I want to disable the two attributes on my model that inherited from User model. How can I do that ? Now, they always appear on Api explorer when creating new instance for my model.

Thanks.

[2016-04-05 04:00] dongmai commented on #2199
I found the solution here: https://docs.strongloop.com/display/APIC/Model+definition+JSON+file#ModeldefinitionJSONfile-Excludepropertiesfrombasemodel.

[2016-04-05 04:00] #2199 closed

[2016-04-05 06:18] alFReD-NSH commented on #1441
Actually it works because it contains [the workaround](https://github.com/AurelieV/loopback-sandbox/commit/cbea3fbe8d14d3037ff3449da3968c4bdc4d0a42#diff-96763114acceee670bf46aa969ed0126R14).

[2016-04-05 06:24] farlynd opened #2200 "How to use http source : form"
Hi, i tried to write remotemethod using `http: {source: 'form'}` and got this error

[code]

this is my code

[code]

i have no idea how to work with `http: {source: 'form'}`, but when i tried use http: {source: `'path'}` and set `http: {verb: "put", path: ":fk/updateA"}`, everything is fine, do i miss something?

-Farly

[2016-04-05 06:57] dongmai commented on #531
+1

[2016-04-05 08:43] AurelieV commented on #1441
Yes sorry, I have forgotten I have put it here :s

[2016-04-05 11:12] celber commented on #517
:+1:

[2016-04-05 12:53] gunjpan commented on #2119
Had a chat with @ritch and in attempt to not support our template syntax for Swagger APIs, creating a new connector for swagger APIs is a viable solution here. Following are the tasks that need to be completed to achieve that:
- [ ] Current implementation of the [swagger-client](https://github.com/swagger-api/swagger-js) seems to be only supporting fetching Swagger spec via HTTP. The task is to fi

[2016-04-05 13:14] bajtos commented on #2119
@gunjpan we will need AWSOM approval for the new connector, could you please start the process soon, possibly even before the spike is done?

[2016-04-05 13:17] gunjpan commented on #2119
@bajtos : It'll be my first AWSOM request, will start the process ASAP. Thanks.

[2016-04-05 14:13] bajtos commented on #1749
As part of this GH issue, we are adding `eslint` into the following repositories: `loopback`, `loopback-datasource-juggler`, `strong-remoting` and `loopback-boot`.

Eventually, we should add it to all other loopback repositories too (there are over 60 of them!). The plan is to create follow-up issues, grouping multiple repos in one issue - either by a "repo expert" or by functional areas (connecto

[2016-04-05 14:46] zanemcca commented on #1650
It would be nice if there was a way to add some custom logic in as well. The use case I am thinking of is sending an email after an 500 error code and then killing the process. Currently to achieve this I override `errorHandler` in `remoting`.

Will the new error handler be able to achieve this in some way @loay?

[2016-04-05 14:53] jannyHou commented on #1998
I am closing it since https://github.com/strongloop/loopback/pull/2040 merged.

[2016-04-05 14:53] #1998 closed

[2016-04-05 14:54] loay commented on #2118
https://github.com/strongloop-internal/scrum-loopback/issues/799

[2016-04-05 20:31] jannyHou commented on #2113
@giowe I created a simple app to reproduce your problem but the scenario works for me:
[code]
Go to explorer:
/tests/myscope?filter={ "include":"testsubs" }
The response body is an empty array since I didn't put any sample data. But no errors like you reported.
Could you try it again? If you still have problem, please fork https://github.com/strongloop/loopback-sandbox and replace with your code,

[2016-04-05 20:33] jannyHou commented on #2143
I think the timezone difference happens due to loopback. It's 4 hours ahead even I don't use mixin. I will open another issue to explain it.

[2016-04-05 20:33] #2143 closed

[2016-04-05 20:36] #2075 closed

[2016-04-05 20:41] jannyHou commented on #1616
I am closing it since info provided is not enough to reproduce the issue.
If anyone run into similar issue or could provide more details, please feel free to reopen it:)
Thanks for understanding.

[2016-04-05 20:41] #1616 closed

[2016-04-05 20:43] jannyHou commented on #1976
I am closing it since info provided is not enough to reproduce the issue.
If anyone run into similar issue or could provide more details, please feel free to reopen it:)
Thanks for understanding.

[2016-04-05 20:44] jannyHou commented on #1921
I am closing it since info provided is not enough to reproduce the issue.
If anyone run into similar issue or could provide more details, please feel free to reopen it:)
Thanks for understanding

[2016-04-05 20:44] #1921 closed

[2016-04-05 21:13] jannyHou commented on #1994
@bajtos @raymondfeng @superkhau @ritch Any thought?

[2016-04-05 21:16] jannyHou commented on #2082
hey @RandyZ have you solved your problem or is there any update for this issue?

[2016-04-05 21:55] jannyHou commented on #2177
@chandreshinf I m trying to reproduce your error, if I understand correctly, you steps should be:
[1] `slc loopback` to create an app
[2] `npm install loopback-connector-mysql` to install connector
[3] `slc loopback:datasource` to create a mysql connector
[4] `slc loopback:model` to create a model and attach it to mysql datasource

But I tried above steps it works fine for me.
If you are not follo

[2016-04-05 22:16] jannyHou commented on #2164
@jbcpollak could you confirm the scenario that you are testing? From my understanding batch create is like:
[code]
But it works fine for me.

[2016-04-06 08:00] farlymedicaboo commented on #517
+1

[2016-04-06 08:32] xixilive opened #2201 "The loopback#urlNotFound and loopback#errorHandler middleware file paths can not be resolved in test env"
In my test env, it try to resolve paths from following positions:

- try resolve `loopback#urlNotFound` at node_modules/loopback/server/middleware/urlNotFound.js
- try resolve `loopback#errorHandler` at node_modules/loopback/server/middleware/errorHandler.js

and In fact, the correct filename are `url-not-found.js` and `error-handler.js`, In  development and production environments, They are works

[2016-04-06 08:50] mountain1234585 opened #2202 "How to define properties for a model containing child objects"
Hello,
While creating model, in discoverModelProperties, I am able to represent single json as mentioned below - var props= [{"name": "title", "type": "string", "length": 100, "required": true}] and passing this in the callback method. I can view this property names in json format appearing for the model in the loopback explorer against Model Schema.

But, for cases where I have a child object for

[2016-04-06 10:57] sachinhub commented on #2139
There is a a node-RED contrib module available @ https://github.com/EdgeVerve/loopback-connector-nodes-for-Node-RED which allows running Node-RED from within loopback application. It also provides nodes which can observe events happening in loopback application and trigger a flow.

Please have a look at the wiki page @ https://github.com/EdgeVerve/loopback-connector-nodes-for-Node-RED/wiki/Loopbac

[2016-04-06 10:59] bajtos commented on #1994
@Nivl thank you for starting this discussion.

I am little bit confused, because the built-in AccessToken model ([see source](https://github.com/strongloop/loopback/blob/2a86e9535b08fc85eb129c87c11c58510c4cfccd/common/models/access-token.json)) does not defined any `uid` property.

What database are you using? For example, if you are using MongoDB, Could it be that `uid` is an ID value, which is o

[2016-04-06 11:04] bajtos commented on #1874
Possibly related: https://github.com/strongloop/loopback/issues/1994

[2016-04-06 11:06] bajtos commented on #1749
Done, I am closing this issue.

[2016-04-06 11:06] #1749 closed

[2016-04-06 11:36] Nautigsam opened #2203 "Weird behaviour when creating embedded model instance"
Hello, I'm facing a strange behaviour with an operation hook triggered two times instead of one, you can check it out on this sample repo: https://github.com/Nautigsam/loopback-embed-create-test

[2016-04-06 11:56] bajtos commented on #2123
I see. That makes my original proposal not very good, as the request can still fail with an error that is not very helpful.

I am proposing to fix error handling in strong-remoting too (in addition to changing juggler as proposed earlier).

Something along these lines can be added to [defaultHandler](https://github.com/strongloop/strong-remoting/blob/c1006e2ddd5bd2899dfc98b3b905c2126e2d6930/lib/re

[2016-04-06 13:57] IgorDavy commented on #487
+1

[2016-04-06 14:07] bajtos commented on #2106
Done - see #2108 (3.x), #2204 (2.x).

[2016-04-06 14:07] #2106 closed

[2016-04-06 14:10] jdschreck opened #2205 "Trouble accessing javascript structure returned by find function with include filter"
I have one model related to another with a hasMany relation.  I am using the include filter to get back a
javascript structure which should have an array objects of the first model type each of which should have a member array that lists the related model objects:

{ include: { relation: 'cssrules' }}

When I do a console.log(result) I see that it appear to be correct.  I have an array of the firs

[2016-04-06 14:13] richardpringle commented on #2123
+1

Sorry I hadn't read this when I made my comments [in the PR](https://github.com/strongloop/loopback-datasource-juggler/pull/889#issuecomment-206383166)

[2016-04-06 18:23] jannyHou commented on #2205
@jdschreck I am trying to look into this issue, could you fork sandbox: https://github.com/strongloop/loopback-sandbox and replace with your testing?
Thanks.

[2016-04-06 19:50] paperrr1 opened #2206 "losing MongoDB date resolution and formatting when applying where filter"
[code]

Within MongoDB itself the SAME model property reads: 2016-04-05T19:48:02.314Z How do I avoid this lost date resolution or keep the formatting the same?

Thanks.

[2016-04-06 20:03] moklick commented on #175
@lesterzone if you are using a model that inherits from User, try to add these lines to `server/model-config.json`:

[code]

[2016-04-06 20:30] jannyHou commented on #2203
@Nautigsam Thanks for your sandbox. I am debugging to find why it's triggered twice, the second one is triggered since `bookInstance.updateAttributes()` is called when you creating a pageInstance for it. But I still have no idea where the first one comes from.
Do you have any update or new findings?

[2016-04-06 20:44] loay commented on #1278
Hi @hellsan631 ,
I tested your repo and I tested the failed cases using explorer and they worked fine, so it is probably something with the test cases.  I see the same test cases failing as well on my end, however they did work fine on explorer. I tried only the first 2.

Also, I don't see a problem with POST in the first 2 cases, it is in the PUT and GET.
Let me know if you are still running into

[2016-04-06 20:46] loay commented on #1277
hi  @superdave2u
I am closing this issue. If you are still running into the same issue, please feel free to leave a comment and I will re-open the issue. Thanks.

[2016-04-06 20:46] #1277 closed

[2016-04-06 20:50] superkhau commented on #2123
+1

+1

[2016-04-06 21:00] gunjpan commented on #2202
@mountain1234585 : Hi, LoopBack allows properties of Object types. I recommend reading about [LoobBack types: Object Types](https://docs.strongloop.com/display/public/LB/LoopBack+types#LoopBacktypes-Objecttypes).

Hope that answers your question. If it's not the case, could you please provide more detail about your issue.

[2016-04-06 21:02] superkhau commented on #1744
I've merged in the fixes. Please let me know if it works for you guys! ;)

[2016-04-06 21:07] jannyHou commented on #2203
@Nautigsam oh ok I think I find why it's triggered twice:
once by [`EmbedsMany.prototype.prepareEmbeddedInstance`](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L2374)
and once by [`EmbedsMany.prototype.create`](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L2644)

[2016-04-06 21:08] superkhau commented on #398
Are you guys still running into this issue? I'm closing it for now, ping and I will reopen.

[2016-04-06 21:17] jdschreck commented on #2205
I will give that a try.

John

From:   Janny <notifications@github.com>
To:     strongloop/loopback <loopback@noreply.github.com>
Cc:     John Schreck/Fishkill/IBM@IBMUS
Date:   04/06/2016 02:23 PM
Subject:        Re: [strongloop/loopback] Trouble accessing javascript
structure returned by find function with include filter (#2205)

@jdschreck I am trying to look into this issue, could you fork san

[2016-04-06 21:59] Nivl commented on #1994
@bajtos It seems like you're right, `accessToken.uid` is from Mongo and it's an ObjectID.

[2016-04-06 22:09] Amir-61 commented on #2183
@PaddyMann,
I just followed documentation for `Using the datatype field/column option with MySQL` and it worked fine for me when I pass a `mysql` object like:

[code]

If it does not work for you, please reproduce the issue using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox).

Thanks!

[2016-04-06 22:25] gunjpan commented on #2119
After discussion with @raymondfeng & @ritch, will keep this story limited to basic use and we will move incrementally towards increased complexity.

Closing this spike for now. Following are the two tasks:
- https://github.com/strongloop-internal/scrum-loopback/issues/819
- https://github.com/strongloop-internal/scrum-loopback/issues/826

/cc @bajtos

[2016-04-06 22:25] #2119 closed

[2016-04-06 22:43] gunjpan commented on #2184
@PaddyMann: Could you please let me know what database you're using.
Besides that, I would recommend having a look at: [How properties can be mapped to database column](https://docs.strongloop.com/display/APIC/Model+definition+JSON+file#ModeldefinitionJSONfile-Datamappingproperties) when using relational database.

Please let me know if `mapping property` works for you. If it doesn't, a sample rep

[2016-04-07 01:47] loay commented on #1186
@aldegoeij @yashmurty @warriorpostman @BenjaminHorn  and everybody who is still having the same problem, I cannot reporduce the error with mysql, however I can reproduce with postgres connector, so the way I got it to work, is the following:
in your app, go to : `node_modules\loopback-connector\lib\sql.js` and line 395, after this line
[code]
please add:
[code]

let me if this works for all of you

[2016-04-07 01:55] loay commented on #684
This document should help as well:
https://docs.strongloop.com/display/LB/Remote+hooks

Closing this issue for now. If you still have an issue with the same subject, please feel free to leave the comment and I will re-open the issue. Thanks.

[2016-04-07 01:55] #684 closed

[2016-04-07 03:26] loay commented on #622
@bajtos
I see the PR already merged. Can I close this one?
Thanks.

[2016-04-07 03:32] loay commented on #687
@Spark-star
You can also have a look at these document:
https://docs.strongloop.com/display/public/LB/GeoPoint+class
Closing this issue, please feel free to leave a comment if you have a further question, and we will re-open. Thanks.

[2016-04-07 03:32] #687 closed

[2016-04-07 03:39] farlymedicaboo opened #2207 "Cannot see related model at afterRemote, return codebase"
Hi, i have 2 model and my goal is to get apart that has specify room, first i tried to do it in remoteMethod, fetch all `Apart` model with the relations `Kamars`.but i have no idea how to choose only the apart with the `Kamars` in remoteMethod, so i think i can do that in afterRemote, i plan to check result if `Kamars` is empty or property `tipe` is not match, and then i will remove the document f

[2016-04-07 08:47] BenjaminHorn commented on #1186
@loay thanks for investigating this. It works for me!

[2016-04-07 09:23] bajtos opened #2208 "replaceById for relations"
- [ ] If I understand the recent changes correctly, we implemented `replaceById`  in `lib/dao` only. We should implement this method for relations too, since we already have `updateById`.

- [x] Also `updateById` should be aliased to `patchById` for consistency with regular DAO methods.

- [ ] Last but not least, we should modify HTTP mapping in 3.0 to expose `patchById` at `PATCH` verb and `repla

[2016-04-07 09:25] bajtos commented on #2208
Ah, never mind. We don't have `updateOrCreate` for relations now, so there is no need to implement `replaceOrCreate` right now. I'll change the issue title and description.

[2016-04-07 10:35] bajtos commented on #1630
In order to save the updates made in an embedded model, the embedded model calls `save()` on the parent model, which triggers validation of the parent model. See the [source](https://github.com/strongloop/loopback-datasource-juggler/blob/1e8fe6a0d7b5c84a3f67ad4d6a05ddaa8d1229ba/lib/relation-definition.js#L2195).

I am not sure what's the right behaviour, whether embedded relation should or should

[2016-04-07 10:44] bajtos commented on #1629
FWIW, we have a feature request https://github.com/strongloop/loopback/issues/1196 where the user is asking for "create" operation to create embedded models too. This may be an exact opposite of what is being discussed/requested here.

It makes me wonder: if create/update called on a parent model should not update related models, then what's the point of using an embedded relation instead of a reg

[2016-04-07 10:46] bajtos commented on #1178
Quoting @fabien, the author of embeded relations:

See https://github.com/strongloop/loopback-datasource-juggler/pull/516#issuecomment-83972147, I hope I did not put the quote too much out of the original context.

[2016-04-07 11:24] bajtos commented on #622
@loay I am proposing to mark `loopback.remoteMethod` as deprecated. The deprecation message should include instructions what to do instead - either call `Model.remoteMethod` or even better, place the metadata into "methods" in the model JSON file.

Thoughts?

[2016-04-07 11:24] bajtos commented on #622
Other than that (or after that is landed?), this issue can be closed, indeed.

[2016-04-07 11:30] bajtos commented on #80
As part of our issue triage process, I am closing items that have been inactive for an extended period of time. If anybody thinks the feature proposed here is still relevant and should be prioritised, then please leave a comment to let us know.

[2016-04-07 11:30] #80 closed

[2016-04-07 11:32] bajtos commented on #126
As part of our issue triage process, I am closing items that have been inactive for an extended period of time. If anybody thinks the feature proposed here is still relevant and should be prioritised, then please leave a comment to let us know.

[2016-04-07 11:32] #126 closed

[2016-04-07 11:34] bajtos commented on #148
As part of our issue triage process, I am closing items that have been inactive for an extended period of time. If anybody thinks the feature proposed here is still relevant and should be prioritised, then please leave a comment to let us know.

[2016-04-07 11:34] #148 closed

[2016-04-07 11:43] bajtos commented on #171
In #1323, we added an option to `enableAuth` to auto-attach any missing auth models to a given data-source. When this option is set, `enableAuth` will validate that all required models are present and attached to a data source.

However, when the option is not present, the validation is skipped.

I am proposing to modify `enableAuth` to run the validation even when the new option is not set. This

[2016-04-07 11:48] bajtos opened #2209 "Doc: return response body from remote method"
See https://github.com/strongloop/strong-remoting/pull/284 which implemented this new feature.

[2016-04-07 11:52] bajtos commented on #213
Closing in favour of follow-up issues: https://github.com/strongloop/loopback-swagger/issues/34 and https://github.com/strongloop/loopback/issues/2209

[2016-04-07 11:52] #213 closed

[2016-04-07 12:19] lius commented on #2001
Do we have any news?

[2016-04-07 12:29] h2non commented on #1630
Thanks for the answer, but I'm not using loopback anymore. Fell free to close the issue.

[2016-04-07 13:20] bajtos commented on #238
Hello, I am reviewing old issues to check which of them are still relevant. I am little bit confused about what's the actual problem reported here. Could somebody explain 1) what requests to invoke, 2) what is the actual result and 3) was was the expectation? A full app reproducing the problem would be even better, see https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-04-07 13:25] bajtos commented on #228
That works like a charm :+1:

[2016-04-07 13:25] #228 closed

[2016-04-07 13:26] bajtos commented on #409
Hey @coodoo, unfortunately there has not been a high enough demand for us to implement your feature request. I suggest taking a look at the core code and seeing if you can implement the feature yourself as we accept a lot of community contributions. If you want to open up a PR and mention me directly in a comment, I will try my best to help you get the PR landed!

I am closing this issue for now.

[2016-04-07 13:26] #409 closed

[2016-04-07 13:30] bajtos commented on #420
[code]

@raymondfeng @ritch this issue has been inactive for more than a year, I am proposing to close it. We can re-open it when/if we start looking into ways how to refactor and improve the current implementation of remoted relation methods. Any objections?

[2016-04-07 13:41] lvning opened #2210 "Save custom values in beforeRemote related method"
Hi,
I'm using remote method like this:

[code]

I am trying to save custom values("status" and "createDate") in a model on MongoDB. but not successed.

Thanks for your help,

[2016-04-07 13:43] Cadrach commented on #238
I have not been developping on loopback for sometimes now, but the initial report is about an inconsistency of the security system when requesting with *findOne* & *findById*

[2016-04-07 13:58] bajtos commented on #479
@nvdnkpr IIRC, one can reconfigure relations of built-in models in `server/model-config.json`. Source code: https://github.com/strongloop/loopback/blob/88d41f84fd8eac997a31388ccdbd3ce026ab0dfe/lib/registry.js#L181-L191

An example of `server/model-config.json` (I didn't tested it myself though):

[code]

I am closing this issue as no longer relevant, feel free to reopen if the solution outlined ab

[2016-04-07 13:58] #479 closed

[2016-04-07 14:20] bajtos commented on #460
I am closing this issue as done by #469

[2016-04-07 14:20] #460 closed

[2016-04-07 14:24] bajtos commented on #511
@ritch we haven't found time to make this change in the last 1.5 years, I am not sure if it is still relevant. Thoughts?

[2016-04-07 14:25] bajtos commented on #571
@projectxmaker @raymondfeng is this issue still relevant?

[2016-04-07 14:29] bajtos commented on #533
@ritch the link in the issue description is no longer valid :( I can also see that some work has been already done on this matter, see https://github.com/strongloop/loopback/issues/410#issuecomment-64675247. Is this proposal still relevant today?

[2016-04-07 14:33] bajtos commented on #305
Since nobody else has run into this issue, I am closing it. @ritch @kraman feel free to reopen if you think it's still valid and relevant.

[2016-04-07 14:33] #305 closed

[2016-04-07 14:44] mneil opened #2211 "Filter on relation doesn't respect id constraint"
**The setup**

User hasMany through accounts
Accounts hasMany through users

**The problem**
Retrieving users from accounts by id fails to correctly constrain the result set.

I expect `/api/accounts/1/users?filter={"where":{"id":2}}` to return 1 result - the user by id belonging to account id 1.

**What happens**
I receive 2 users, both myself and the user of id 2

What is happening is that the c

[2016-04-07 14:44] loay commented on #1630
Closing the issue.
@bajtos please re-open if you still think it is relevant for any work/discussion. Thanks.

[2016-04-07 14:44] #1630 closed

[2016-04-07 14:47] loay commented on #622
I misunderstood, I thought the PR merged before is what was required.

[2016-04-07 14:50] lvning commented on #2210
I fixed it,to save custom values like this

[code]

And everythings working fine.

[2016-04-07 14:51] #2210 closed

[2016-04-07 14:54] loay commented on #1186
@BenjaminHorn  Thanks.
I am closing the issue. If the problem is still persisting, please feel free to leave a comment and I will re-open. Thanks.

[2016-04-07 14:54] #1186 closed

[2016-04-07 14:56] bajtos commented on #346
One can set `shared: false` in `server/model-config.json` to have the model available via `app.models.MyModel` and `app.registry.getModel('MyModel')` without exposing the model via the REST API.

Here is an example of creating such model programatically:

[code]

You can use `disableRemoteMethod` for that, see the [docs](https://docs.strongloop.com/display/LB/Exposing+models+over+REST#Exposingmode

[2016-04-07 14:56] #346 closed

[2016-04-07 15:02] bajtos commented on #416
This should have been fixed by https://github.com/strongloop/loopback/commit/8766d4a68d014402dd8ed70295eb3b9d8a635c0d since `loopback@2.13.0`.

[2016-04-07 15:02] #416 closed

[2016-04-07 15:05] bajtos commented on #641
I checked with @0candy and @jannyHou, they are running on Windows and cannot reproduce the problem. I am closing this issue as no longer relevant.

[2016-04-07 15:05] #641 closed

[2016-04-07 15:05] loay commented on #697
Hi @veekungx
Here is the controlling data document to help you out:
https://docs.strongloop.com/display/LB/Controlling+data+access

If you have any other question related to that topic, please feel free to leave a comment and I will re-open the issue for further assistance. Thanks.

[2016-04-07 15:05] #697 closed

[2016-04-07 15:15] gunjpan commented on #2210
@lvning : Awesome. I was debugging at the moment with the sandbox I created to emulate your situation. Glad that it is working. Thanks for letting me know.

[2016-04-07 15:29] lvning commented on #2210
@gunjpan Thanks for your great effort:-)

Good luck!

[2016-04-07 16:10] mamartins commented on #2071
if the relation is a one to many same happens

[2016-04-07 16:26] Nautigsam opened #2212 "validateAsync doesn't work"
Hello, I'm facing a strange behaviour while using validateAsync, I made a sample repo here: https://github.com/Nautigsam/loopback-validateAsync-error
Is it a real bug or am I doing something wrong?

[2016-04-07 17:13] loay commented on #969
@pulkitsinghal @OwenBrotherwood
I will close the issue for now. If it is still ongoing, please feel free to leave a comment and I will re-open. Thanks.

[2016-04-07 17:13] #969 closed

[2016-04-07 18:04] lomashg commented on #2063
@Joesimonsen @bajtos
Please provide an update on this feature .

[2016-04-07 18:12] Nautigsam commented on #2203
Sounds right, I thought it was the source of a bug on my project but finally not so I close it. Thanks!

[2016-04-07 18:12] #2203 closed

[2016-04-07 18:19] Nautigsam commented on #2198
How is a role tied to an account? I think the simplest way is to make a remote method that will do exactly what you want.

[2016-04-07 18:38] pstinghua commented on #1692
+1

[2016-04-07 18:45] loay commented on #1138
Hi,
one of the possible reasons  that the template is hard-coded is for ease of use for many users. You can change the text of the email body in `models/user.js` .. If there is a better suggestion for the `loopback,template` function, please submit a PR. Thanks.

For the possibility of using handlebars, jade, mandrill, I will get back to you on that.

[2016-04-07 18:58] jannyHou commented on #1986
Good. After clearing my mongodb database, I can reproduce the error now.

[2016-04-07 19:00] jannyHou commented on #1441
Good. After clearing my mongodb database, I can reproduce the error now.

[2016-04-07 19:03] AurelieV commented on #1441
@jannyHou  Wonderful \o/.
It seems to be connected to the fact that principalId is a string, rather an ObjectId.

[2016-04-07 19:16] jannyHou commented on #1994
The conversion between String and Object in mongodb could be similar issue of this one https://github.com/strongloop/loopback/issues/1441

[2016-04-07 19:22] jannyHou commented on #1441
@AurelieV I keep failing to reproduce it because if the data existed in db, it always contains `roles` no matter using the workaround line or not.
 4 scenarios:
- [x] Empty db. With workaround
- [ ] Empty db. Without workaround
- [x] db with data. With workaround
- [x] db with data. Without workaround

I check the scenarios that work fine.

So do you also fail to include roles in scenario no.4?

B

[2016-04-07 19:36] AurelieV commented on #1441
@jannyHou  In which way do you create the data in DB?

[2016-04-07 19:47] jannyHou commented on #1441
@AurelieV
1. run app with `node .` it will create data into empty db
2. try filter without workaround, roles in response is empty [ ] (but data should be in db, this confused me)
3. terminate app, run it again with `node .`,  the data should exist in db
4. try filter with or without workaround, response contains roles

[2016-04-07 19:57] loay commented on #1319
Hi @zane-insta , that's what I get if I run your tests:
[code]

I believe line 16 should be `myId:1` and not `id:1` .. then the error message will be:
[code]

BTW, if we set id=2 in line 88, the test will pass.

if there is something that I am missing, please clarify further. thanks.

[2016-04-07 19:59] loay commented on #1171
Hi @hotaru355 @jfoliveira
does the previous comment help fixing the issue?
Thanks.

[2016-04-07 20:01] loay commented on #1354
Hi @superdave2u is that issue still persisting?
Thanks.

[2016-04-07 20:03] loay commented on #1367
Hi @penzhan8451
Closing issue. If the problem is still persisting, please feel free to leave a comment and I will re-open the issue. Thanks.

[2016-04-07 20:03] #1367 closed

[2016-04-07 20:40] AurelieV commented on #1441
I run the app, previously I erase all my database to have a clean one.
Filter not work, even if RoleMapping show that the relation exist.
Restart the app does not change the result :s

[2016-04-07 20:42] AurelieV commented on #1441
@jannyHou but if one time I run it with the workaround, all the time after, even without workaround; it works

[2016-04-07 20:44] AurelieV commented on #1441
@jannyHou And this is because with the workaround, a new RoleMapping is created in the database, with an ObjectId rather than a string for principalID. When you see RoleMapping, two objects exist, and the role is retrieved by the one with an objectId as principalId

[2016-04-07 20:51] jannyHou commented on #1441
@AurelieV nice it makes sense! thank you

[2016-04-07 20:54] loay commented on #1378
Hi @antoineverger
when you do an upsert operation, the data argument must be an object, unlike the create operation that supports both object and array.

[2016-04-07 21:26] mneil commented on #2198
A role belongs to an account through role mappings. So users may have many roles and may have duplicate roles through accounts.

It's not that I can't get the data I want. It's that I'm surprised that relations endpoints do not allow any additional filters. I even mentioned the alternative query, that does work. Writing out `where:{id:2}` is more that writing out `/2`. I also feel like it's less i

[2016-04-08 00:31] zanemcca commented on #1319
Sorry I do not use @zane-insta anymore.
Line 16 is just there to give the first comment `id: 1` for convenience. Same with line 25.

So changing line 88 would turn the second and third test into the same test which defeats the purpose.

In test 2 you can see that `otherModel` is successfully included and it does not have a custom id.
In test 3 you can see that `myModel` is not included and it does

[2016-04-08 02:59] sm-g opened #2213 "Include from many tables, when hasmany points to base model, is it possible?"
I have City with many Names on different langs, when every translated string located in its own table:
[code]
[code]
and many `lstring_ftsN` tables
[code]

Can I make `names` relation to load all related strings with single query, `Cities?filter[where][_id]=1&filter[include][names]`?

[2016-04-08 06:59] nmklong opened #2214 "Cannot hide endpoints for hasOne relationship"
My Order class has "referral" as a hasOne relationship

I want to hide all endpoints of the relation referral, so i added this:

[code]

It did hide everything except for the PUT and DELETE endpoints. If i change the relationship to hasMany everything will be hidden, so i guess this is a bug for hasOne relationship. can somebody check? Thank you

[2016-04-08 12:00] bajtos commented on #2063
@lomashg @Joesimonsen  I think the current status is that we are still not able to reproduce your problem :( From what I can tell, it looks like some part of the code converts a Buffer instance to a plain object via `toJSON`, this is happening before the data reaches strong-remoting's `toResult()` function.

https://github.com/strongloop/loopback/issues/2063#issuecomment-190779380 makes me believe

[2016-04-08 12:34] loay commented on #2123
In addition to the necessity of clarifying the error message instead of getting an unknown error, I found out something which I think might be related.

when we do an upsert operation, the data argument must be an object, unlike the create operation that supports both object and array. I believe when we do an array of objects using a create operation, then we find a duplicate instance, it switches

[2016-04-08 12:36] loay commented on #1393
@mrfelton
There were some comments about your PR by @raymondfeng . can you please have a look at them and fix that, so we can merge your PR? Thanks.

[2016-04-08 15:43] jdschreck commented on #2205
I have created https://github.com/jdschreck/loopback-sandbox which demonstrates the problem.

To run this testcase in the Explorer execute the following urls:

Model1/init
Model2/init
Model1/runQuery

There are two files present... bad.output which exhibits the problem and good.output which shows it working if I do a parse(stringify(results)). The example is configured to produce the bad output in

[2016-04-08 17:54] gaurav21r commented on #1692
@all GitHUb now has Reactions! Use the thumbs up `+1`s instead of a new comment!

[2016-04-09 06:04] jouke opened #2216 "Remote calls to PersistedModel.diff do not receive the 'since' parameter"
As it turns out, any remote calls made to 'diff' (as needed by offline syncing) do not pass on the 'since' parameter correctly. It is always undefined. I noticed that it wasn't specified where to get the value from.

I created a pull request that solves the issue at https://github.com/strongloop/loopback/pull/2215

Can this be merged?

Thanks,

Jouke Visser

[2016-04-10 17:51] hulutter commented on #1321
+1

[2016-04-10 20:06] baldiri opened #2217 "Error when confirm a user registration (Users/confirm)"
After receive an email when i register as new user, i try to confirm email address with the link inside mail but i get next error:

{"error":{"name":"Error","status":500,"message":"ER_FIELD_SPECIFIED_TWICE: Column 'lastUpdated' specified twice","code":"ER_FIELD_SPECIFIED_TWICE","errno":1110,"sqlState":"42000","index":0,"stack":"Error: ER_FIELD_SPECIFIED_TWICE: Column 'lastUpdated' specified twice\

[2016-04-11 01:10] pulkitsinghal commented on #879
In the sample below, I remove everything from the custom `MyModel` which extends `User`:
1. the validations on username and email are removed
2. the password field is removed
3. the username and email fields are removed
[code]

[2016-04-11 01:22] Upguard opened #2218 "Authenticate: True with 3rd party integration redirects back to login page after confirmation"
Like the title says, I'm having problems with integrating third party authentication using loopback-component-passport.

When I go to my login page, it redirects to auth/provider, takes me to the third party site, redirects back to my site and adds the user account. However, when I set authenticate: true on my $state, after the account is created, instead of redirecting to my dashboard, it redirec

[2016-04-11 09:36] Industrial opened #2219 "Weird require in Documentation"
Hi.

https://docs.strongloop.com/display/public/LB/Creating+a+database+schema+from+models lists this code:

[code]

Where does `../data-sources/db` come from? I've asked around and got the answer to use `app.dataSources['my_source']` instead. Maybe this is out of date documentation?

[2016-04-11 12:56] gunjpan commented on #2219
@Industrial : Hi, thank you for pointing out. This has been corrected to:

[code]

[2016-04-11 12:56] #2219 closed

[2016-04-11 14:35] ahmedmoneam commented on #517
+1

[2016-04-11 16:36] Amir-61 commented on #2183
I'm closing this ticket now...Please feel free to reopen or create a new issue if it does not work for you...

Thanks!

[2016-04-11 16:36] #2183 closed

[2016-04-11 16:45] Amir-61 commented on #2058
Closing this issue due to inactivity. Please feel free to reopen or create a new ticket which reproduces the issue.

Thanks a lot!

[2016-04-11 16:45] #2058 closed

[2016-04-11 17:48] diegomoura637 commented on #776
im using loopback over strongloop, when i make the remote method from my model user.js, exactly the same way than you makes, nothing happen, i need to setup any other file to it work?

[2016-04-11 20:00] jannyHou commented on #2176
- **MYSQL**
Doesn't report error with invalid or empty settings
- **MONGODB**
Doesn't report error with invalid or empty settings
- **DB2**
Report empty and invalid settings

[2016-04-11 20:29] superkhau commented on #776
@diegomoura637 Please open your own new issue for us to resolve it. We usually don't check closed issues. However, in your case you need to extend the builtin User model to add remote methods. See https://github.com/strongloop/loopback-example-user-management/blob/master/common/models/user.json#L2-L3 and https://github.com/strongloop/loopback-example-user-management/blob/master/common/models/user.

[2016-04-11 22:59] jannyHou commented on #2176
[loopback-boot/lib/executor.setupDatasources](https://github.com/strongloop/loopback-boot/blob/master/lib/executor.js#L32)

[loopback/lib/application.js.dataSource](https://github.com/strongloop/loopback/blob/master/lib/application.js#L221)

[2016-04-12 06:58] mediastuttgart opened #2220 "ACL allows relation access for not found entries even though DENY"
It SHOULD return `401 AUTHORIZATION_REQUIRED`.

**ex /media/{id}/author** will produce:

[code]

where author is a relation defined in `media.json`

[code]
even though the ACL for media is defined as follows

[code]
even if the same ACL is applied to the author model as well

[code]

System
[code]

[2016-04-12 09:07] bajtos commented on #2200
Hi @farlynd, could you please show us the HTTP request (headers + body) that you send to call your remote method?

[2016-04-12 09:08] bajtos commented on #2200
FWIW, the http mapping of input arguments is performed here: https://github.com/strongloop/strong-remoting/blob/master/lib/http-context.js#L136-L140

[2016-04-12 12:48] eduludi commented on #517
:+1:

[2016-04-12 14:04] lomashg commented on #2063
Sure will do and update you

[2016-04-12 14:28] Morriz commented on #2168
+1

[2016-04-12 18:14] loay commented on #1171
Hi, I am closing this issue. If you are still experiencing an issue, please feel free to leave a comment. Thanks.

[2016-04-12 18:14] #1171 closed

[2016-04-12 18:16] loay commented on #1378
Hi @antoineverger
closing this issue for now. If you still have a related question, please feel free to leave a comment and I will investigate further.

[2016-04-12 18:16] #1378 closed

[2016-04-12 18:16] loay commented on #1278
I am closing this issue for now. If you are still experiencing an issue, please fell free to leave a comment and I will re-open the issue. Thanks.

[2016-04-12 18:16] #1278 closed

[2016-04-12 20:44] ebarault commented on #1744
@superkhau : i can't find the merge in the master branch, is it on a specific branch?
please see my comment an PR  [here](https://github.com/strongloop/loopback-datasource-juggler/pull/787) i think the patch for https://github.com/strongloop/loopback-datasource-juggler/pull/787 is not enough

[2016-04-12 21:20] superkhau commented on #1744
@ebarault I merged in https://github.com/strongloop/loopback-datasource-juggler/issues/786. See if this is good enough for you.

[2016-04-12 22:43] aws-na-ss-usplu commented on #1321
What the status?
+1

[2016-04-12 23:05] #2029 closed

[2016-04-13 04:22] sbehrends opened #2222 "ACL DENY all properties for everyone"
While following documentation like (https://github.com/strongloop/loopback-example-access-control) of ACL managment in Loopback Im having an issue in most basic Rule.

I created a sample model called Article. Added one ACL that DENY everything to unauthenticated and only allow to authenticated users. But on explorer I can still list Articles and POST new articles without any token or authenticatio

[2016-04-13 04:24] sbehrends commented on #2222
Just to add some information.
I am extending User to a "Author" model based on User.

DEBUG=loopback:security:* node .
Does not shows any information while doing the request.

[2016-04-13 08:34] jouke commented on #2216
I just closed the merge request as it did not fix the issue as expected. I'm preparing another fix

[2016-04-13 08:34] #2216 closed

[2016-04-13 09:15] Morriz commented on #531
Will this make it in? Any response would be appreciated ;)

[2016-04-13 10:28] ebarault commented on #1744
well i guess it's unfortunately of no help for issue https://github.com/strongloop/loopback-datasource-juggler/pull/787

[2016-04-13 10:45] jouke opened #2223 "remote method PersistedModel.diff only receives one parameter"
After a lot of debugging, I found that PersistedModel.diff, when called remotely, receives only one parameter, while it allows both 'since' and 'remoteChanges' to be passed.
It turns out that setRemoting is defined for remoteChanges with `http: { source: 'body' }`, and 'since' is not. I then discovered that strong-remoting only sets one parameter in the request body when it's defined like this. Th

[2016-04-13 11:28] supasate opened #2225 "apic command should be changed to slc when generating ACL"
https://docs.strongloop.com/display/public/LB/Controlling+data+access#Controllingdataaccess-UsingtheACLgeneratortodefineaccesscontrol

To generate ACL, the command
`$ apic loopback:acl`
should be changed to
`$ slc loopback:acl`.

[2016-04-13 11:29] #2225 closed

[2016-04-13 11:30] supasate commented on #2225
@crandmck Is it correct to use apic? I just found it on that page while other commands use slc.

[2016-04-13 13:13] roopesh90 commented on #1073
Haven't gone back to the loopback implementation. Since i didn't get a solution and was in a time-crunch, I had to shift to Django.

[2016-04-13 14:31] benkroeger opened #2226 "Add missing unit test for token middleware"
as discussed in #2108

[2016-04-13 14:42] jannyHou commented on #2176
@bajtos When we boot the app, it triggers the datasource setup function of all connectors in `datasource.json`, within setup it creates a new datasource instance, which tries to connect using ds settings.
I am not sure is it proper to add a flag parameter in `datasource.setup` then if it's called when booting the app, it skips [this block which tries to create a new datasource instance](https://gi

[2016-04-13 14:56] jbcpollak commented on #2164
@jannyHou sorry for the delay, it took a while to get a good usecase.

I have something similar to what you showed, but it does not work:

[code]

And I see:

[code]

Here are my loopback version specifications in package.json:

[code]

[2016-04-13 15:05] bajtos commented on #2226
@benkroeger It's better to open a pull request directly, there is no need to create short-lived placeholder issues like this one.

[2016-04-13 15:25] benkroeger commented on #2226
just following the [git-flow](http://nvie.com/posts/a-successful-git-branching-model/) concept here. And I need an issue in order to name my branch correctly.

[2016-04-13 15:35] PaddyMann opened #2228 "autoupdate doesn't always work?"
I've had very mixed results with autoupdate. Sometimes it seems to work fine, othertimes not.

For example, I've tried to update a list of countries from:

[code]

to

[code]

For some reason the code column doesn't get created. If I delete the table and run `autoupdate` again then it does. By the time I've done this additional step, I've lost faith in using auto-update as part of a production rel

[2016-04-13 15:54] jonathanwoahn opened #2229 "Angular bulk upsert throwing error"
First off, I just learned about Loopback about 2 weeks ago, and it has changed my life. I love it.

Second, I'm getting an error in Angular using the lbService while doing a bulk upsert:

[code]

I have located the problem, in the "upsert" method in lbService for the Angular resource. When doing a bulk upsert, there is a parameter that needs to be set that current doesn't exist:

[code]

I have be

[2016-04-13 15:57] Morriz opened #2230 "loopback 'authorization' header conflict"
When I use the 'authorization' header for basic auth (a very common scenario), then loopback mistakenly uses it's value for the accessToken lookup. This is not re-configurable, so it's killing a very common workflow.

This can be easily overcome if the current iteration going over each group of possible locations would iterate first with only the user supplied keys, and only then resort to the def

[2016-04-13 16:00] Morriz commented on #2230
So:
[code]
would be run twice, first for the user options, then the defaults

[2016-04-13 16:26] mamartins commented on #1460
yes this is an issue for sure. More than one owner should be allowed

[2016-04-13 16:26] Morriz opened #2231 "loopback.getCurrentContext() is empty"
When I make a regular request to a custom remote method, I see that ctx does not get populated in this part (around token.js:105):
[code]
which makes the token not available in `ctx.get('accessToken')`, even when it is properly set on `req`

bug?

[2016-04-13 18:01] loay commented on #1319
@zanemcca
Sorry the tag mention goes directly to the name you used to open the issue.
I am having another look. thanks for clarifying.

[2016-04-13 18:03] loay commented on #1073
@AaronBedward @cleever @petermac-
How about you guys? Have you recently tried to install?
Thanks.

[2016-04-13 19:24] crandmck opened #2232 "Document model name "loose" casing implications"
From Roman Sosnin:
When I get my project's models this way:

[code]

all my custom models are doubled, i.e. if I build my own model called "abc", then when I use this method, I receive 2 models:  "abc"  and "Abc" then 2nd time it's the same name, but the first letter of the model is UpperCase. But it's the same model, since it has the same attributes...

Miroslav Bajtos told me that it is correct

[2016-04-13 20:14] jannyHou commented on #2214
hey @nmklong I think if you leave foreignKey as blank and use the default one, you need to use `Order.disableRemoteMethod('__get__referrals', false);` instead of `Order.disableRemoteMethod('__get__referral', false);`

I tried both `hasMany` and `hasOne`, yeah `hasMany` works fine with your code, but for `hasOne`, you will need to disable two more remote methods:
[code]

All of the buildin remote m

[2016-04-13 20:50] davidcheung commented on #2229
Hi @jonathanwoahn, great to hear you love loopback!
Thanks for bringing this up, the bulk `PUT` method is actually not supported at the moment, [See issue](https://github.com/strongloop/loopback/issues/2123#issuecomment-204149539) for discussion.

There is a [temp fix](https://github.com/strongloop/strong-remoting/pull/289) to handle errors better but not the support of bulk `PUT` yet

On the angu

[2016-04-13 20:53] loay commented on #2231
Hi @Morriz
Please have a look at this issue: https://github.com/strongloop/loopback/issues/1676
Thanks

[2016-04-13 20:55] loay commented on #2228
Hi @PaddyMann
Can you specify the connector you are using? loopback version if possible as well?
Also, if possible, can you provide a repo where I can reproduce your issue?
are you getting an error message or the code coulmn just doesn't get created.. Thanks

[2016-04-13 21:13] loay commented on #2206
Hi @paperrr1
Did you try using date validation?
https://docs.strongloop.com/display/public/LB/Validating+model+data

what I am thinking of is using something similar to that:
[code]

[2016-04-13 21:21] jannyHou commented on #2189
@dongmai I think this caused since model `Container` is created in facet `server`, not `common`
If you want to disable all REST endpoints of it, a workaround is set field `public` as false, it will hide all rest apis:
in `server/model-confg.json`, set Container's config as:
[code]

I will dig more into the server facet, see is there a way to disable single remote method and how to do it.

[2016-04-13 21:34] davidcheung commented on #2218
Hi @Upguard Not sure if this helps your issue,
What I have previously setup for my app was having a common controller (in my case **header**),
so two resource to look at for login related issues are `LoopBackAuth` and `User`

and it would have something such as
- have login page emit an event
- have header update such event using `User model` from controller
In your case I assume `$location` would

[2016-04-13 21:54] jonathanwoahn commented on #2229
Upsert actually works with an array, but in the current state it returns an
array of all the "upserted" objects, but the Angular resource is expecting
an object - so it throws an error. But adding "isArray: true" to the upsert
method no longer throws an error. So the better idea is probably to create
a "bulkUpsert" method in the angular-sdk, and have it use the same route.
I'll open an issue over

[2016-04-13 21:55] superkhau commented on #531
This feature seems likely for the planned juggler updates. @raymondfeng can probably give some insight as to whether this is on the roadmap.

[2016-04-13 21:59] richardpringle commented on #2189
Hey @dongmai, first of all, you should probably put this issue in the [loopback-component-storage repo](https://github.com/strongloop/loopback-component-stroage) so that we can track all issues related to that module there.

Models that have loopback-component-storage as their datasource are set up differently than other models. That's how they get all the extra methods like `download`.

What are

[2016-04-13 22:19] superkhau commented on #1744
@ebarault Let's continue the conversation over there since it's unrelated to this one.

[2016-04-13 22:49] crandmck commented on #2225
Thanks @supasate That was a mistake.  I fixed it... It should be `slc` on that page.  Note that there is a corresponding page for API Connect https://docs.strongloop.com/display/APIC/Controlling+data+access that has the `apic` command.

[2016-04-13 22:57] superkhau commented on #1073
@cgole Ping, can you verify if installing strongloop on Ubuntu 14.04 is indeed broken?

[2016-04-14 00:43] yahoohung commented on #2148
Yes. Thanks for quick response. I have fixed the problem with async and step module.

[2016-04-14 00:43] #2148 closed

[2016-04-14 06:23] PaddyMann commented on #2228
Hi @loay

├── loopback@2.27.0
├── loopback-boot@2.17.0
├── loopback-component-explorer@2.4.0
├── loopback-connector-mysql@2.2.1
├── loopback-datasource-juggler@2.46.0
├── loopback-ds-timestamp-mixin@3.2.2

I haven't got the time to set up a public repo this morning, but have found that if I flip between the two property lists above, then the primary key field is never set up (`id` or `code`). The

[2016-04-14 07:08] PaddyMann commented on #2228
A separate weird undesirable behaviour I get is that I have a many-to-many relationship between another model and country.

When I have `code` as the primary key, I'd ideally like the connecting table to have a field `countryCode` of type `CHAR(2)` (to match `code`). Instead it sets up `countryId` as a `VARCHAR(512)`.

[2016-04-14 07:28] Neil-UWA commented on #2222
re-order your acls, put the deny all rule first

[2016-04-14 11:10] jonathanwoahn commented on #2080
+1

[2016-04-14 15:36] smartmouse commented on #1073
Looks like you are using node 0.10.36 version., pretty old , I think there are new node 0.10.x version.

[2016-04-14 15:46] bajtos commented on #2175
A suggestion from @raymondfeng - a flag to tell swagger generator to merge the output with the current swagger spec, instead of replacing the content.

[2016-04-14 15:56] loay commented on #1073
So basically it is not broken on Ubuntu. a test was made and it installs fine. It could be an old node version. we will need more details on each case separately, however it is been confirmed that it is not broken.

[2016-04-14 18:39] loay commented on #1073
another test is done. node 0.10 working for strongloop install as well on xlinux ubuntu

[2016-04-14 19:09] superkhau commented on #1073
@loay Let's close this. If anyone is running into issues on Ubuntu 14.04 as of today, please create a new issue with your `node` and `npm` versions. We can solve each issue case-by-case.

[2016-04-14 19:09] #1073 closed

[2016-04-14 20:40] davidcheung commented on #2103
I'm also curious as to why `config.js` isn't under the default boot list, while `config.local.js` and config.`<env>`.js works

@bajtos, @superkhau any thoughts?

[2016-04-14 21:21] jannyHou commented on #2176
@raymondfeng @bajtos I try to implement the lazy connect and take mongodb and mssql as an example:

https://github.com/strongloop/loopback-boot/pull/185
In loopback-boot, I add a flag variable `lazyConnect` to each datasource config when booting app(haven't thought of a proper name, so name it as `lazyConnect` temporarily)

https://github.com/strongloop/loopback-connector-mongodb/pull/241
https://

[2016-04-14 22:38] pulkitsinghal commented on #420
Hello @bajtos and @raymondfeng - my colleague ( @aquid ) and I were overriding a create method and testing our implementation when we saw something we had never seen before:

The test we ran was with a `Model.relatedModel.create()` statement (correct me if I'm wrong here @aquid)

So I'm are just curious what is this second argument sandwiched in between? I dont' understand the conversation upstair

[2016-04-14 22:48] pulkitsinghal commented on #420
I'm guessing that instead of using: `MyModel.create = function(data, callback){` ... we can instead write a bti more robust code if we don't care about the mysterious argument popping in and out of the picture:

[code]

But still it would be good to know why related method invokes of create have a different argument-set than non-related ones? And what it means.

[2016-04-14 22:50] gunjpan commented on #2222
@sbehrends : Hi, I tried to reproduce the issue with ACL entries you provided and found that it is working fine and behavior is as expected i.e. to block access for `unauthenticated` users.
Please give a try to the code I uploaded here: https://github.com/gunjpan/sandbox/tree/lb2222 and see if that's something you're doing.
If not, can you provide me with a sample repo? or send a PR to that sandbo

[2016-04-14 23:51] 0candy commented on #2188
Is country a property you defined in your model? Did you set it to required?

[2016-04-14 23:58] Amir-61 commented on #2029
Connect to https://github.com/strongloop/loopback-datasource-juggler/pull/893

[2016-04-15 00:11] crandmck commented on #2134
I would like to do this as well, because I simply cannot handle all the work that needs to be done.  However, it's a bit complex because we're using a Confluence wiki and reusing the content as part of a commercial product, API Connect.

Ultimately, I want to extract all the docs that pertain just to the LoopBack framework (and not the tools `slc` and Arc, and their equivalents in API Connect) and

[2016-04-15 01:58] farlynd commented on #2200
Thanks @bajtos for the response. you are right, the problem is on the header, i set this on the beforeRemote `ctx.res.set('Content-Type', 'application/x-www-form-urlencoded'); `and everything is fine.

1 quick question, how to bring a variable from before remote to remote method without using ctx.args?, for example i have a ctx.args['type']=ABCD, so i split it into var A=A,var B=B,var C=C, var D=D

[2016-04-15 02:03] casamia918 opened #2233 "slc model generator didn't show built-in model"
I'm following "getting started part 2" tutorial.
https://docs.strongloop.com/display/public/LB/Create+new+models
I'm on the "Define the Reviewer model" step and command "$slc loopback:model" to create reviewer model.
At the generator options, the guide says to choose "User" as base class. But in my case, there are only 5 base classes - model, persistedModel, coffeeshop, review, (custom).

Did I mi

[2016-04-15 02:06] superkhau commented on #2134
+1 for this! waiting for the day this happens so we can review doc updates with PRs! ;)

[2016-04-15 02:09] superkhau commented on #2233
@crandmck ^

[2016-04-15 02:10] tongfa commented on #1469
dnovice,

Early on, you mentioned you tweaked something in the linux kernel.  What did you do exactly?  I'm wondering if that impacted your test results, but no one else did this.

[2016-04-15 02:54] dnovice commented on #1469
I did this just to try to get it to work better, after it was clear to me
that Loopback was much slower than Mongoose by itself.

 sysctl -p
net.ipv4.ip_forward = 0
net.ipv4.conf.default.rp_filter = 1
net.ipv4.conf.default.accept_source_route = 0
kernel.sysrq = 0
kernel.core_uses_pid = 1
net.ipv4.tcp_syncookies = 1
kernel.msgmnb = 65536
kernel.msgmax = 65536
kernel.shmmax = 68719476736
kernel.shma

[2016-04-15 04:04] 0candy commented on #1398
Closing due to inactivity. If you are still running into problems, please feel free to leave a comment and we can reopen the issue.

[2016-04-15 04:04] #1398 closed

[2016-04-15 04:07] 0candy commented on #1599
Closing due to inactivity. If you are still running into problems, please feel free to leave a comment and we can reopen the issue.

[2016-04-15 04:07] #1599 closed

[2016-04-15 04:28] dongmai commented on #2189
Hi @richardpringle ,

My purpose is just exposing `download` method. But I cant find any way to do this. If make container as a private model I see that users cant use `download`  (to load an image for example.).

[2016-04-15 06:02] crandmck commented on #2233
@casamia918 Did you try scrolling down with the arrow keys?
I just tried this and it works exactly as documented.

[2016-04-15 06:02] #2233 closed

[2016-04-15 10:02] barocsi commented on #531
I mean these are sort of available in others like mongoose/restify

[2016-04-15 13:00] casamia918 commented on #2233
@crandmck I found the reason. I've not installed node modules, just cloned the git repository. After I excute "$npm install", the every built-in base classes are properly shown. Thanks.

[2016-04-15 13:18] richardpringle commented on #2189
@dongmai, here's what you do:

In `server/model-config.json`
[code]

So what I'm saying above is that you need to create another model and call it whatever, but "file" makes the most sense to me.

When you're creating your new model, `file`, make sure the base class is `Model` instead of `PersistedModel`.

Add the following code in `file.js`
[code]

I didn't fill out any of the logic, but I just u

[2016-04-15 13:21] richardpringle commented on #2189
@dongmai, could you please also open a new issue in [loopback-component-storage](https://github.com/strongloop/loopback-example-storage/issues) as a feature request, asking for the additional feature to disable remote methods and mention me in the description? I think that is something that we could easily implement, but it won't get implemented unless you open a feature request in that repo.

[2016-04-15 13:38] cspeer commented on #974
So, I have this very strange problem only when working with https://github.com/LearnBoost/kue which `only` occurs when I'm running the server with `slc run`.
So, I set up kue and as soon as I run something like `kue.createQueue()` the worker crashes:
[code]
No further information. No nothing.
However, if I run the app with `node .` everything is fine and works as expected.

Any ideas?

Thanks,
Chr

[2016-04-15 14:41] loay commented on #2228
hi @PaddyMann
I haven't heard any weird behavior with mysql neither had it myself. So if I test your case, it may or may not happen.
I am testing something similar that is close to your situation. I will let you know if I find anything. In the mean time, it will be helpful if you can create a repo so we can test your case in specific. Thanks.

[2016-04-15 16:08] kestasdycode commented on #1920
What is the status of this issue? I am having the same problem with mysql connector. I need to use and operator.

[2016-04-15 18:23] cspeer opened #2234 "kue & slc run crash the server"
Hi there,

I have this very strange problem when working with https://github.com/LearnBoost/kue which `only` occurs when I'm running the server with `slc run --cluster=1` (or without the cluster)
So, I set up kue and as soon as I run something like `kue.create(type, data).save()` the worker crashes:

[code]

No further information. No nothing.
However, if I run the app with `node .` everything is

[2016-04-15 22:32] Webjin commented on #517
+1

[2016-04-16 11:58] devotox opened #2235 "Are there any http datasource connectors"
To be able to connect to another remote api over http and get the data in some format that you can then change and model to your own api's format?

[2016-04-16 12:22] casamia918 opened #2236 "document page issue in mobile browser"
This is not about the loopback's functionality issue, but about loopback's web site issue.

I'm studying loopback by reading its document page.
https://docs.strongloop.com/

When I'm busy and in the outside, I read this page using iPhone. Hoping for responsive web page? I don't care. But the problem is, this doc's left nav menu is not shown in the mobile browser

![img_5198](https://cloud.githubus

[2016-04-16 23:06] Amir-61 commented on #2236
Sorry could you please explain a little bit more? Do you mean if you click on links the pages is not shown? And instead you need to sue the direct url? I tried it on my own phone it seems working... I need more info though...

Thanks!

[2016-04-16 23:12] casamia918 commented on #2236
@Amir-61

![screen shot 2016-04-17 at 8 09 08 am](https://cloud.githubusercontent.com/assets/8295005/14584156/cdf16af8-0473-11e6-833a-15e50851c290.png)

This is capture from pc's browser. Compare with the mobile version. PC version has left side menu but mobile version doesn't. I can't find menu enable button on the mobile version and this make me so annoying to link to another article.

[2016-04-16 23:18] Amir-61 commented on #2236
Oh I see... Thanks for clarification... @crandmck it seems menu is this missing on mobile versions? Any thought?

Thanks :-)

[2016-04-17 11:27] terusus opened #2237 "Include filter works differently with and without where filter"
Following use case: ModelA belongsTo ModelB.

[code]

[code]

This inconsistency is problematic.

[2016-04-17 11:32] #2237 closed

[2016-04-17 11:46] likun7981 opened #2238 "id property (stateName) cannot be updated from home to index.home"
I want to update the id property  , but get the error , Why can't update the Id property

[2016-04-17 14:40] hq-mobile opened #2239 "More granular operation hooks API"
Hi,

Not sure if this is the right place to ask questions so feel free to close and point me to the correct place.

I'm sure there was good reason to deprecate the model hooks API from a technical standpoint, however from an api consumer point of view the API was a great place to store model logic in a readable well defined location.  Using the operation hooks API it is possible to create the same

[2016-04-17 16:07] hq-mobile commented on #2239
Hey,

Just to add to this a real world example so it doesn't appear I am being picky without coming across a use case where the old way worked better for my use (I appreciate that may not be the case for others). I do love the framework you guys are building, and this is in no means a blocker but just a suggestion from a user perspective.

The old Model Hooks way I would have something like
Invoic

[2016-04-18 01:51] jannyHou commented on #2176
**UPDATE**
Now when we run `apic loopback:refresh`, the connection error is not shown since the error check takes longer time than swagger generator finished. But it turns out that the swagger update still triggers connection.

As a solution:
[1]. Since the boot is called when we [`require('app_path')`](https://github.ibm.com/apimesh/apiconnect-cli-loopback/blob/master/lib/swaggerGenProc.js#L21),

[2016-04-18 05:58] nmklong commented on #2188
@0candy no it's not a property of the model, it's just a required param which i will use to process the "find" later. I just want to show it in the explorer so the mobile team knows what parameter they need to pass.

[2016-04-18 05:59] nmklong commented on #2214
@jannyHou thank you for your perfect response! However i suggest making this a bit clearer in "Exposing model" tutorial so that other users won't get confused when they use this relationship like me.

[2016-04-18 08:32] bajtos commented on #2176
I am proposing to use an environment variable instead, e.g. `LB_LAZYCONNECT_DATASOURCES`.

[2016-04-18 08:50] bajtos commented on #2200
I think the cleanest way is to use a custom mapping function, see https://docs.strongloop.com/display/LB/Remote+methods#Remotemethods-HTTPmappingofinputarguments, and build an object containing all your variables as properties.

[code]

[2016-04-18 11:44] sahilanguralla opened #2240 "Object inside object inside array getting converted to [Object]"
I am posting an object inside an object inside array of objects inside root object. But when I try to access it in remote method **create**, that I have overridden, it changes the innermost object to String "[Object]".

e.g. I posted:
[code]
This is received in remote method as:
[code]

Please reply ASAP. Thanks

[2016-04-18 11:48] nmklong opened #2241 "How to do join and sum for relational tables"
So for example i have these 2 tables:

[code]

A has many B's

I want to do a search for `value` of `A`, but i also want to join and sum `value_to_be_summed` for B's that have the same `id_a`

I searched but not seeing anywhere in the documents to guide that, please help, thank you

[2016-04-18 13:41] diegobent commented on #2001
Hi @hacksparrow !
Something new about this feature??

[2016-04-18 13:52] bajtos commented on #2103
Hello, this is a commonly asked question. The reason why don't support `.js` extension for "master" configuration files (config, datasources, model-config, etc.) is to allow programatic editing of the configuration via loopback-workspace, for example in StrongLoop Arc. Now we have `config.json` that is easy to edit via `JSON.parse` and `JSON.stringify`. If there was `config.js`, our tooling would

[2016-04-18 13:52] bajtos commented on #2103
Loosely related: https://github.com/strongloop/loopback-boot/issues/93

[2016-04-18 14:32] bajtos commented on #420
@pulkitsinghal I am afraid your question is completely unrelated to the discussion here. If you find my answer bellow as not sufficient, then please open a new GH issue and/or ask in our mailing list, so that we do not derail the discussion here.

The new middle argument is `options`. There aren't many options implemented OOTB yet, but because the `options` value is passed in `ctx.options` to [Ope

[2016-04-18 14:42] hq-mobile commented on #1821
This took me a while to understand but now it makes sense. It has however made implementing soft delete problematic.  Ideally I would like to have had the scope applied only to the read operation too i.e.

[code]

and have been able to set is_deleted in the delete (effectively update) operation.  However the documentation's current suggestion of:
[code]

feels pretty hacky as it is incredibly hard

[2016-04-18 15:06] jannyHou commented on #2176
@bajtos Thank you, using ENV is the right way, setting command line argument is pretty dangerous. Will change that part.

[2016-04-18 16:13] superkhau commented on #2236
This has been a known issue for awhile. Is there a way to make confluence show the sidebar on mobile @crandmck?

[2016-04-18 16:22] hacksparrow commented on #2001
The first approach we tried in the poc was found to be non-scalable. We are exploring the more options.

[2016-04-18 17:12] jannyHou commented on #2089
**VERIFY STEPS**

This feature enables datasource using connection strings. So there are two things to verify for each connector:

- [ ] The connection string will override other config(could be verified by making them invalid, but the connection should succeed due to correct url)

- [ ] Config object without connection string still works(could be verified by make url empty)

And please check http

[2016-04-18 17:46] richardpringle commented on #414
@Amir-61 Did you reproduce this issue? I see that you are the one that put the bug label on the issue. Next time could you please add some details in a comment just in case someone else is going to make the fix.

[2016-04-18 17:50] jannyHou opened #2242 "Lazy connect datasources on app start"
The proposal is to modify all connectors to correctly implement a lazy connect method and then modify juggler to allow the user to defer initialization of connections until later.

This issue is created to track the implementation and any feedback are welcomed and appreciated!

spike story: https://github.com/strongloop/loopback/issues/2176

[2016-04-18 17:51] Amir-61 commented on #414
I believe so... It was long time ago... Someone may have already solved it by now...

[2016-04-18 17:52] jannyHou commented on #2242
Now when we run `apic loopback:refresh`, the connection error is not shown since the error check takes longer time than swagger generator finished. But it turns out that the swagger update still triggers connection.

As a solution:
[1]. Since the boot is called when we [`require('app_path')`](https://github.ibm.com/apimesh/apiconnect-cli-loopback/blob/master/lib/swaggerGenProc.js#L21), I think we

[2016-04-18 17:58] jannyHou commented on #2176
I am closing this spike issue. Track and move discussions in this issue https://github.com/strongloop/loopback/issues/2242. Also link prs to it.

[2016-04-18 18:50] crandmck commented on #2236
I haven't found a way to make the sidebar appear.  We're using a third-party add-on called "Spacetree" to create the navigation sidebar, and I suspect it's an issue with that.  BTW, the [default Confluence mobile view](https://confluence.atlassian.com/doc/confluence-mobile-284365706.html) is really useless -- it just shows blog posts (which we don't use), most popular pages (based on "likes", whic

[2016-04-18 19:28] superkhau commented on #2236
@crandmck Thanks for the workaround, at least we can navigate around now. ;) +1 for the longer-term goal.

[2016-04-18 19:30] superkhau commented on #2236
@casamia918 That's the best we can do for now, so keep your eye our for a blog announcement when we move the docs off confluence (not sure when though since we have no idea where this "feature" lies in the roadmap ATM).

[2016-04-18 19:30] #2236 closed

[2016-04-18 19:45] jannyHou commented on #2214
glad that it solves your problem:) @nmklong I think we already document here https://docs.strongloop.com/display/LB/Exposing+models+over+REST#ExposingmodelsoverREST-Predefinedremotemethods
The list of methods you disabled is only used to demo an example, for a full mapping between predefined method and endpoint, please check the link above and also https://docs.strongloop.com/display/LB/PersistedM

[2016-04-18 20:07] Amir-61 commented on #2241
ummmm... I believe you know you can query related models using foreign keys (please see [here](https://docs.strongloop.com/display/public/LB/Querying+related+models)) However your problem seems different since you want to query by an aggregate function like [group by](http://dev.mysql.com/doc/refman/5.7/en/group-by-functions.html) in SQL and sum them up... Unfortunately I don't think if we have su

[2016-04-18 20:15] Amir-61 commented on #1926
I'm closing this ticket due to inactivity... Please feel free to re-open the issue if the problem persists with a sample repo using our [loopback-sandbox](https://github.com/sharkinsspatial/loopback-sandbox) to reproduce the issue...

Thanks!

[2016-04-18 20:15] #1926 closed

[2016-04-18 20:19] Amir-61 commented on #2038
Closing this issue due to inactivity... Please feel free to open the issue if the problem persists and please provide a sample repo using [our sandbox](https://github.com/strongloop/loopback-sandbox), so we can reproduce it...

Thanks!

[2016-04-18 20:19] #2038 closed

[2016-04-18 21:20] crandmck commented on #2103
Added https://docs.strongloop.com/display/APIC/LoopBack+FAQ#LoopBackFAQ-DoesLoopBacksupportJavaScriptconfigurationfiles(notjustJSON)?

[2016-04-18 21:29] jannyHou commented on #2205
@jdschreck Thank you for the extreme detailed sandbox to reproduce the problem.
So what happens here is when you get the raw data, the type of the included data is `Function` instead of `Object`.
You can verify this by
[code]

Console.log result:
[code]

I cannot say is it a bug or designed in this way for other purposes. I will dig into it then update here.

[2016-04-19 01:08] superkhau commented on #1920
Can someone can provide a sample repo for me to reproduce the issue?

[2016-04-19 01:12] superkhau commented on #2235
- https://github.com/strongloop/loopback-connector-rest/
- https://github.com/strongloop/loopback-connector-remote

For future reference, please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2016-04-19 01:12] #2235 closed

[2016-04-19 01:29] superkhau commented on #1598
@dodiego I think the issue is you're using async functions without using async boot scripts.

[code]

Try that and let me know if you're still running into issues. In addition, you should use inclusion for what you're trying to do. I see parts of your code where you're trying to get specific properties of interest based on categories, etc. See https://docs.strongloop.com/display/APIC/Include+filte

[2016-04-19 01:29] #1598 closed

[2016-04-19 01:33] superkhau commented on #1663
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-04-19 01:33] #1663 closed

[2016-04-19 01:34] superkhau commented on #1610
Are you guys still running into issues here? I believe this should be fixed since promise support was implemented recently.

[2016-04-19 01:39] superkhau commented on #1291
Closing this until we decide there is a need to work on benchmarking again.

[2016-04-19 01:39] #1291 closed

[2016-04-19 01:40] superkhau commented on #448
@Amir-61 Reassigning to you as you are the expert. We should get this one prioritized.

[2016-04-19 02:00] paotoya757 opened #2243 "Problems with custom remote method involving unrelated models inside a transaction"
Hello, I have a problem implementing transaction behavior with two unrelated models. In the script "oferta.js", I tried to load the models, and they seem to load successfully. But the issue is that the callback passed to the "Oferta.beginTransaction" function, is not being executed, which means that my transaction is not being created. Any help would be greatly apreciated. Best regards to all.

of

[2016-04-19 02:02] paotoya757 commented on #2243
The blue arrow indicates a console.log line that is not being reached in the code.

[2016-04-19 04:58] geekguy commented on #1821
Hey @hq-mobile

Take a look at https://github.com/strongloop/loopback/issues/1821#issuecomment-158466751

I tried that solution and it worked for me.

My implementation:

[code]

This will work as default scope. Each database query will have `active=true` condition.

Let me if this is what you are looking for.

[2016-04-19 06:32] hq-mobile commented on #1821
That is exactly what I am looking for! Clearly did not spend enough time thinking about the problem, but you did! Nice one!!!

[2016-04-19 08:12] sahilanguralla commented on #2240
My bad. Everything was fine, it was just the console logs. Sorry Again.

[2016-04-19 08:12] #2240 closed

[2016-04-19 09:24] A11oW opened #2244 "embedOne don't work"
Hello.

I try embed one model in another model, but that ain't happening
I have two table in PostgreSQL `restriction` and `region`
and two models:

[code]

[code]

If I am requesting some 'restriction', I get such answer:

[code]

But I expect to receive a response:

[code]

What I do wrong?

[2016-04-19 11:40] ahmedNY commented on #517
+1

[2016-04-19 12:13] jdschreck commented on #2205
Janny,
    Thanks for looking into this.  I look forward to hearing what more you
find out.  It is unclear to me how console.log and JSON.stringify seem to
be successful in navigating this structure to print out what we expect to
see.

John

From:   Janny <notifications@github.com>
To:     strongloop/loopback <loopback@noreply.github.com>
Cc:     John Schreck/Fishkill/IBM@IBMUS
Date:   04/18/2016

[2016-04-19 12:55] bajtos commented on #1650
IMO, that's out of scope of this module. You should disable strong-remoting's error handler completely and then install your own error handling middleware to handle this case.

[2016-04-19 13:38] bajtos commented on #2241
I think executing native SQL is the best solution here, especially considering performance.

[2016-04-19 14:21] tconroy commented on #559
+1... why is `slc loopback:acl` broken? It walks me through the prompts but doesn't seem to do anything as a result of my choices.

[2016-04-19 14:38] #2176 closed

[2016-04-19 15:03] loay commented on #2175
- validate the yaml file.
- `config:set` the default properties in memory, then merge the output with current specifications.

[2016-04-19 18:12] jubbens opened #2246 "Fast sequential POST calls to add a related model breaks relations"
Let's say I have a model called `Cars` and a model called `Tags`, and a hasMany relation which gives me `/Cars/:id/Tags`. If I do quick successive `POST` calls to `/Cars/:id/Tags` (without waiting for each to return) it causes some relations to go missing. The `Tag` models are there, but some of them are not included under `tagIds` for the related `Car`. Random ones go missing.

Adding a 1s sleep

[2016-04-19 18:39] Amir-61 commented on #2241
Thanks Miroslav!

Hey @nmklong,

I will close this ticket soon since your question is answered...

Thanks :-)

[2016-04-19 18:47] superkhau commented on #2241
I think we should consider creating a query generation engine for connectors. Instead of writing it all out by hand inline. Like a separate module that is in `lib` for each connector that is only responsible for generating queries. This will allow us to build up queries on the fly like active record for example instead of having one giant object with nested items.

[code]

Not sure if this second

[2016-04-19 21:15] loay commented on #1987
Hi I am closing this issue for now. If it is still persisting, please feel free to leave a comment and I will re-open the issue. Thanks.

[2016-04-19 21:15] #1987 closed

[2016-04-19 21:51] loay commented on #2206
Hi @paperrr1
Did you try the above mentioned suggestion?
If you are still having troubles or need further help, please let me know and I will re-open the issue.
Thanks.

[2016-04-19 21:51] #2206 closed

[2016-04-19 22:26] devotox commented on #2235
Thank you and will do that in the future

[2016-04-20 04:53] nmklong commented on #2241
Thank you guys, i think i'll go with raw sql to get the ids and then use the ORM to give the response back

[2016-04-20 04:53] #2241 closed

[2016-04-20 07:09] MarkAndrewJohnson commented on #1821
I'm now looking at this type of scenario as well.  However setting on 'access' is problematic because we just want to set the default on all find() queries, not findOne, findById, or similar.  In practise administrators need to be able to find drafts but users should never see them in the list (as just one example).  It would be great to have a default scope where option that was ONLY for the WHER

[2016-04-20 07:34] #1951 closed

[2016-04-20 11:08] RicardoVaranda commented on #2238
Can you provide some Snippets of your code so we can understand better what the issue is.

[2016-04-20 11:10] RicardoVaranda commented on #2212
What strange behavior are you facing?

[2016-04-20 13:16] richardpringle commented on #2239
Hey @hq-mobile (Dan), the best place for questions is usually as follows:
- [Google Groups](https://groups.google.com/forum/#!forum/loopbackjs)
- [StackOverflow](http://stackoverflow.com/questions/tagged/loopbackjs+or+strongloop?sort=newest&pageSize=50)
- [Gitter](https://gitter.im/strongloop/loopback) (supported, but we prefer posting to Google Groups so others may benefit from the discussions)

[2016-04-20 13:28] richardpringle commented on #1985
@crandmck, I know we've run into this before but I couldn't find the old issue. Did we ever resolve this?

[2016-04-20 15:17] bajtos commented on #2239
Let's keep the discussion here for now.

We are tracking a request for per-method hooks in https://github.com/strongloop/loopback/issues/1857. If I understand you @hq-mobile correctly, that's the feature you would like to get?

The trouble with old model hooks is that they were not invoked in all cases where they should be invoked, which causes surprises and bugs in the applications.

Taking your

[2016-04-20 15:21] bajtos commented on #2239
I pasted wrong link, here is the correct URL: https://github.com/strongloop/loopback-datasource-juggler/issues/397

I have edited my comment above to prevent future confusion.

[2016-04-20 15:46] hq-mobile commented on #2239
Yes, your understanding is correct.  Personally when building a REST API I think of things in terms of resources (models) and feel that the model based hooks made the most amount of sense.

I also try to stick as closely as possible to CRUD operations as it makes it easy to generalise resource behaviour. If I have to provide and action/remoteMethod then I tend to handle it with an 'after' hook and

[2016-04-20 17:39] mcasimir commented on #1455
+1

[2016-04-20 21:01] tomcooksey opened #2247 "Self through relationship hanging"
Hi,

I have setup a has-many-through relationship recursively as follows: (it's the 'related' relationship we're interested in)

[code]
With a link table:

[code]

But when I request this model the whole server just hangs, even when just accessing via the default API.

I must be setting this relationship up incorrectly but I am out of ideas!

[2016-04-21 07:19] nmklong opened #2248 "Is there anyway to add custom "ORDER BY""
Hi,

I have been implementing a complicated query, which i had to use raw sql, now i want to use loopback's ORM to return the response, but i can't manage to alter the order by.

The idea is that i finally got an array of ids, which i would like to keep its order, i can do this by doing

`ORDER BY FIELD(id, 1399, 8833, 8989, ....)`

in sql, however, i can't alter loopback's order by

[code]

Is th

[2016-04-21 08:58] superkhau commented on #2248
Native is probably your best bet for a workaround. https://docs.strongloop.com/display/public/LB/Executing+native+SQL

[2016-04-21 09:32] nmklong commented on #2248
@superkhau so there is no other way? because i already used native above, now i want to use ORM so that the response looks nice and consistent with what i already declared in models files

[2016-04-21 10:29] elbarto132 commented on #1138
+1

[2016-04-21 14:08] Mowso commented on #429
I think I'm experiencing the same issue. I'm following this [doc](https://docs.strongloop.com/display/public/LB/Authentication%2C+authorization%2C+and+permissions) in an API with a [container](https://docs.strongloop.com/display/public/LB/Storage+component) and I have an error when I add relations to my container model.
[code]
Here's my container.json and here's the error :
[code]
Any ideas :grin:

[2016-04-21 14:21] ebarault commented on #1865
@loopback team : was this planned for a coming sprint?

[2016-04-21 14:25] eggerdo commented on #2151
:+1:  I can confirm this, deleting an object of a model that has a hasManyThrough relation to another model does not delete the entries in the link (through) table.

[2016-04-21 14:29] tomcooksey commented on #2151
I never managed to get a sandbox setup, but it doesn't seem like it's a difficult bug to replicate.  If anyone's interested, I wrote this cascade mixin to achieve this functionality.  I supply it on the basis that it worked for me and people are free to use it if it helps them:

[code]

Configured in model thusly:

[code]

[2016-04-21 15:17] eggerdo commented on #2151
:+1: thanks, the mixin seems to work fine for me too, except that I had to change
[code]
to
[code]

[2016-04-21 15:19] tomcooksey commented on #2151
Ah yes, that was me playing with something.  Glad it works!

[2016-04-21 16:25] enceladus commented on #2135
I think to prevent this issue from opening again we can clear up the documentation. [The example here](https://docs.strongloop.com/display/public/LB/Registering+users#Registeringusers-Verifyingemailaddresses) re-uses `user` as the model name and the model instance, and it's causing people a lot of confusion. Seen this issue raised more than a couple times. Switching the first instance of `user` wi

[2016-04-21 17:38] mike-aungsan commented on #784
I am seeing this error again.

$ npm -v
2.15.1
$ node -v
v4.4.3

Error: Cannot find module 'loopback-phase'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (/usr/lib/node_modules/loopback/lib/server-app.js:4:27)
    at Module._compi

[2016-04-21 17:42] orlandoibm commented on #1692
+1

[2016-04-21 17:57] loay commented on #2228
Hi @PaddyMann
I tested the auto-update with couple of different scenarios including the usage of phpMyAdmin and you are right, the code column is dropped.

- first of all, I don't recommend the usage of code because it is a reserved mysql keyword.
- So for the sake of testing here, I used `countryCode` and it doesn't get created unless I remove the `"id":true` part.  It happens because you switche

[2016-04-21 18:14] loay commented on #1846
@mariohmol remote as in phpmyadmin or you mean remote mysql?
I tried phpmyadmin and i tried the sql insert and it worked fine.
I don't recall seeing a timeout connection to db, unless the db doesn't allow you to. In other words. I have seen cases where the db will let u establish connection if you are using localhost but nothing external. I am not sure if this is your case or not.
if you are still

[2016-04-21 18:14] #1846 closed

[2016-04-21 18:25] loay commented on #2231
Hi @Morriz
I am closing this issue for now. If you need furhter help, please leave a comment and I will re-open the issue.

[2016-04-21 18:25] #2231 closed

[2016-04-21 20:34] PaddyMann commented on #2228
Thanks for following up @loay

I appreciate the workaround to get around a bug. Is the plan to now fix it?

I'm not so clear on why it happens. I have no problem running these commands in MySQL:

    -- Start with PK as auto-incrementing int
    CREATE TABLE `testtable` (
      `id` INT NOT NULL AUTO_INCREMENT,
      PRIMARY KEY (`id`));

    -- Rename PK and change to CHAR(2). Note that `code` is

[2016-04-21 20:35] PaddyMann commented on #2228
Should I be raising these issues here or on the mysql-connector issue tracker? (or or the juggler tracker?.... not always clear where the issue stems from)

[2016-04-21 20:45] loay commented on #2228
If it is related to mysql-connector issue, then yes please use `loopback-connector-mysql` repo.
So in this case, I would say yes.
I will flag this one as a bug.

[2016-04-21 21:19] shalkam opened #2249 "Certain api urls not working with a Hasmany through relation for user roles"
Hello,
First here is the message that I get for calling this url :

[code]
I absolutely have no idea where to start to find out what wrong with the code.
Please help.

regards,
Mostafa

[2016-04-21 22:00] loay commented on #2081
Hi @margagn
Can you please provide a repo of your app so I can reproduce the issue and work on it?
Thanks.

[2016-04-21 22:07] loay commented on #2217
Hi @baldiri
Can you please provide a link  to your app so I can reproduce the error and work on it?
Thanks.

[2016-04-21 22:53] jannyHou commented on #1612
@gausie @bajtos @superkhau @ritch I am trying to implement this feature but got confused by it's requirement, could anyone take a look? Thanks a lot:

From my understanding promisify means a function either executes the callback or create a promise then return the promise, like:
[code]
So I feel reasonable to promisify functions in model `Role` like:
[Roles.isOwner](https://github.com/strongloop/l

[2016-04-21 23:52] shalkam commented on #2249
I've been able to figure it out.
The problem was with the [role-mapping.json](loopback/common/models/role-mapping.json)

it didn't have the relationship for the user model so I had to add it manually
so I edited the its relations to become like this - added a "user" relationship -
[code]
but I had to change the core code inside loopback module itself, I don't know if there is a better way to do it

[2016-04-22 00:04] jannyHou commented on #2247
@tomcooksey I am trying to reproduce your problem, could you fork this [sandbox](https://github.com/strongloop/loopback-sandbox) and provide your code? Thanks!

[2016-04-22 00:09] jannyHou commented on #2246
@jubbens Thanks for raising up this problem and providing solutions as well, I will see if I can reproduce it and is there any proper approach to handle this scenario.

[2016-04-22 01:04] jannyHou commented on #2164
@jbcpollak thanks for your code, to be honest I am not very familiar with ES6 syntax.... I find some explanation about combine loopback and es6: https://groups.google.com/forum/#!topic/loopbackjs/x6ApjcsbQ30
Does this help?

[2016-04-22 01:15] #2214 closed

[2016-04-22 01:18] jannyHou commented on #2080
For anyone interested in `multiple foreignKeys`, we don't support it as first class now, I label it as a feature, hope we can fully support it in the future.

[2016-04-22 03:18] pmoelgaard commented on #1138
+1

[2016-04-22 07:47] baldiri commented on #2217
Hi @loay

my app is a closed system, what i mean is that you must log in first and then when you are logged, you can create new users who must validate email address.

I have no problem to give you access to app so you can reproduce the problem but i would like to send you url and values to login through email. Where can i email you?

Thanks in advance!

[2016-04-22 08:52] PaddyMann commented on #443
I found overriding the `find` method also affected `findOne` etc which was undesirable.

My workaround was:

    // Override Project.find to use our bespoke Project.list
    Project.on('attached', () => {
      const origFind = Project.find.bind(Project);
      Project.find = (query, options, cb) => {
        if (typeof options === 'function' && options.name === 'callback') {
          return Proj

[2016-04-22 10:00] yahoohung opened #2250 "Identify foreign key?"
How can we force loopback to check foreign key exist or not before save?

[2016-04-22 12:31] A11oW commented on #2244
Hmm apparently I need use `restrictions?filter[include]=region`.
can I use request without filter and response will be with region?

[2016-04-22 12:57] tomcooksey commented on #2247
Hmm, I have no idea as to why but this appears to have 'fixed it self'.  I forked the repo to produce an example and it worked then I checked my original app and it's working now...

I have no words!  Sorry for wasting your time.

[2016-04-22 12:59] gunjpan commented on #2202
@mountain1234585 : Hi, is this good to close.

[2016-04-22 13:06] gunjpan commented on #2184
@PaddyMann : hi, did the mapping work for you?

[2016-04-22 13:08] gunjpan commented on #1965
@csmtcy : Hi, my apologies for a delayed reply. Are you still facing this issue?
I tried to access the link you posted and I get `404`.

[2016-04-22 13:20] gunjpan commented on #1565
@jamesjjk: Hi, is this still an issue? or it's closed as per #1552 ?

[2016-04-22 13:23] Amir-61 commented on #1889
Hi @mbouclas,

Is this still an issue? If so could you please create a sample repo reproducing the issue using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox).

Thanks :-)

[2016-04-22 13:43] PaddyMann commented on #2184
Hi @gunjpan

Sorry, I was off sick and lost track of this issue. I'm using MySQL.

I suspect the issue is the one further diagnosed in #2228 - another issue where the primary key field has not been auto-updating correctly when changing to and from an auto-generated value.

[2016-04-22 13:53] jannyHou commented on #2247
lol no worries, same thing always happens to everyone. Glad to know that you fix it!

I saw this line so I suppose it's probably caused by missing `done` or something similar, not the relation. But anyway, congrats that it's solved.

Since it's fixed, I am closing issue here, please feel free to reopen it if you still have questions.

[2016-04-22 14:00] jannyHou commented on #2244
@A11oW I am trying to reproduce your problem, if it's a embedsOne relation, you don't need to use filter to get it.
Please check this relation example https://github.com/strongloop/loopback-example-relations to see how to use embedsOne relation.

I will reply you after I try your code, BTW, for a better debug, could you fork this [sandbox](https://github.com/strongloop/loopback-sandbox) and replac

[2016-04-22 15:07] jannyHou commented on #2249
@shalkam I think you are trying to create a relation from your model(`user`) to a lb build-in model(`Role`) which is not suggested.

Regarding how to use `Role`, please check our doc https://docs.strongloop.com/display/public/LB/Defining+and+using+roles to see more details.

And also this example: https://github.com/strongloop/loopback-example-access-control to see like how to register resolver.

[2016-04-22 15:10] richardpringle commented on #2135
@crandmck, want me to open a new issue for the above comment?
@enceladus is right, we shouldn't use the same variable name twice. I might also even suggest that the upper/lower-case 'u' might not be enough of a difference for new LoopBack users (developers). Maybe something like `userInstance` could be used to make things unquestionably clear.

I personally prefer the upper/lower-case convention f

[2016-04-22 16:13] jannyHou commented on #2095
@mamartins Thank you for pointing out this.

According to the result, it's triggered but always returns false. Will look into it then, and example here also doesn't return correct result:
https://github.com/strongloop/loopback-datasource-juggler/blob/1e8fe6a0d7b5c84a3f67ad4d6a05ddaa8d1229ba/lib/validations.js#L165

[2016-04-22 16:44] souluniversal opened #2251 "Does loopback.getCurrentContext() work dependably?"
Wondering if loopback.getCurrentContext() actually works dependably and what the issues are. We've had non-stop problems with storing/pulling context using any sort of mechanism similar to the way that loopback.getCurrentContext() appears to work. Why? Various reasons; including everyone/every module using different Promise implementations, some of which play nicely with domains, other which don't

[2016-04-22 17:25] chrisamoore opened #2252 "Query Params standard ?"
What is the filtering (query parameters) specification for loopback called; ie. `filter[where][name]=foo` ?

What is the syntax called; Odata, hypermedia ... etc ?

And... can I enumerate the query params in the remote definitions / exposure to express them in swagger?

[2016-04-22 17:48] crandmck commented on #2135
@richardpringle I'd appreciate it if you could update the docs, since you're up to speed on this specific thing, and I'm at an offsite currently.

[2016-04-22 18:10] jannyHou commented on #2250
@yahoohung loopback defines a bunch of operations hooks for model, please check our doc https://docs.strongloop.com/display/public/LB/Operation+hooks to see details, I think what you are trying to use is `before save`

[2016-04-22 18:16] Amir-61 commented on #2190
Hi @PaddyMann,

It seems it is working with this sample code:
[code]

[code]

The `\n` will be preserved in PHPMyAdmin but for somereason they are not shown in MySQL  Workbench, and in either case the result from loopback is showing line breaks...

[2016-04-22 18:18] loay commented on #2190
Hi @PaddyMann
I tested with some boot data using `\n` and it was preserved in phpmyadmin. Now, in workbench, it doesn't make the line break but it is preserved still, as when we export the file to a csv or sql file, then import it in phpmyadmin, then it is still preserved and shows the linebreaks.
![linebreak](https://cloud.githubusercontent.com/assets/1986928/14750857/f5444574-0894-11e6-9468-5fb0

[2016-04-22 18:30] chrisamoore commented on #2252
There should be a config option in the remote method definition, I am assuming that Strongloop or IBM has encountered this already, and quickly have a solution for me.
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameterCollectionFormat possibly relevant
I guess each api endpoint on all gets should have the Filter query params added in 2.0

Logically it should hook up

[2016-04-22 18:31] chrisamoore commented on #2252
cc @raymondfeng @bajtos

[2016-04-22 18:45] gunjpan commented on #2238
@likun7981 : Hi, as @RicardoVaranda mentioned, could you please provide some snippet of code or a sandbox repo so that we can better assist you.

[2016-04-22 18:47] gunjpan commented on #2222
@sbehrends : Hi, is this resolved? PTAL at previous comments and let me know if you need any further assistance. Thanks.

[2016-04-22 19:45] jannyHou commented on #2246
@jubbens I could not reproduce your problem..

I create an app, with two models: `test` and `subtest`:
`test` hasMany `subtest`
`subtest` belongsTo `test`

Add boot script:
[code]

The returned results are all correct. Do I miss any steps or misunderstand your question here?
Or can you fork this [sandbox](https://github.com/strongloop/loopback-sandbox) and replace with your code? Thanks.

[2016-04-22 19:55] richardpringle commented on #2135
@crandmck @enceladus, could you both take a look please? I made some changes so please point out anything that I may have missed.

Cheers

[2016-04-22 21:58] danielrvt commented on #2114
It's just for hasAndBelongsToMany

[2016-04-23 06:48] kevinsschmidt commented on #1495
Any progress on this?

I think the proposed workaround is pretty dirty (because related model methods have a different signature, methods like login/logout have to be excluded, ... )

[2016-04-23 14:38] jubbens commented on #2246
Hi @jannyHou

I'm making the requests via an `HTTP POST` from the iOS SDK. I'm also not sure if this is how the included model functions handle these calls, for example to `/Tests/1/Subtests`?

[2016-04-23 19:26] pbalaga commented on #473
Probably as many others I wonder if this topic is still being explored. Loopback sets its goals clear as an API framework but - in spite of its growth - the Node ecosystem seems to be lacking a reliable MVC-based framework for building web apps (similar to RoR, ASP MVC, etc.). I would imagine this has a lot of potential.

Is that anything going on in this direction?

[2016-04-24 00:05] abdagli commented on #559
+1

[2016-04-24 01:06] dregre commented on #1412
+1

[2016-04-24 01:19] dregre opened #2253 "Cached Relations Ignored in Universal (aka Isomorphic) Loopback"
I am playing around with universal (isomorphic) loopback.

I have a remote model called Post with a one-to-one relation to another remote model, Content.

Now consider the following:

[code]

In the above, I try to fetch `Post` and include `Content`.  However, when I try accessing the `content()` getter synchronously, I get an error.  When I access the `content()` method asynchronously (by providi

[2016-04-24 01:22] dregre commented on #2253
PS:
Others seem to have run into the same issue.  See, e.g., https://groups.google.com/forum/#!topic/loopbackjs/B3kLIpnRDT4

[2016-04-24 05:41] mariohmol commented on #1846
I'm connected to the database using mysqladmin. (external server)
Most of the tables it works good, just in case of tables with too many columns, it takes too long time.

I did the map manually, this was my workaround.. thanks

[2016-04-24 11:03] shalkam commented on #2249
@jannyHou  I am using the angular sdk, and it's easier for me to do the user/roles link via the api.
What about if I create the a couple of models that extend the "Role" and the "RoleMapping" model instead of using the  loopback built-in models, would that be recommended?

[2016-04-24 19:08] shalkam commented on #2249
I've fixed the issue using models extending the built-in models, and things seems to be ok

[2016-04-24 21:06] tomcooksey opened #2254 "MySQL Error"
I have tried to recreate this is Sandbox and can't, so I don't know where the issue is but I am getting an SQL error when processing a PUT through the API to one of my models (POST and DELETE work fine).  Is there a way I can view the whole MySQL statement being sent to the server to give more clues?

Error is: ER_PARSE_ERROR: You have an error in your SQL syntax; check the manual that corresponds

[2016-04-24 21:48] tomcooksey commented on #2254
So, the plot thickens..!

If I add a new field to the model called 'another_property' type, string, and then send that field in a PUT everything works fine again.  Curiously this model is the only model I have that only has one field (organisation_id).

Any ideas?

This works:

[code]
Model Definition:

[code]

[2016-04-24 21:49] tomcooksey commented on #2254
If I don't send the field (even if just null value) another_property I get an SQL parse error.

[2016-04-25 02:53] bytecodedan commented on #292
I haven't quite figured it out but I have deployed a sample app on OpenShift and it fails to start because of this default feature.  However, it's fine running locally.

/var/lib/openshift/570be5c42d5271676e00002e/app-root/runtime/repo/node_modules/loopback/common/models/application.js:70
  Application.definition.rawProperties.created.default =

[2016-04-25 02:54] shaharz opened #2255 "PUT model/{id} (updateAttributes) implicitly invokes findById & access hook"
I believe this is a similar issue to https://github.com/strongloop/loopback/issues/2064. According to the [docs](https://docs.strongloop.com/display/APIC/Operation+hooks), updateAttributes doesn't trigger the 'access' hook. However, when you PUT model/{id} there is an implicit [`findById` call in model.js](https://github.com/strongloop/loopback/blob/4cd84dcd8af5f4f90ff62f506a6bf49e6fc2036b/lib/mod

[2016-04-25 03:38] yahoohung commented on #2250
@jannyHou Thanks for your comment. Is it possible define the foreign key relationship in model.json not just do it one by one in each model?

[2016-04-25 06:45] superkhau commented on #2248
Not that I know of off the top of my head. @raymondfeng Do you know if there is another workaround?

[2016-04-25 07:14] superkhau commented on #473
@pbalaga There is work being done with regards to adding controllers so stay tuned. Not definitive dates on implementation, but there will be a blog post when it happens. Make sure you subscribe to get the updates/announcements. https://strongloop.com/strongblog/

[2016-04-25 10:17] alvarp opened #2256 "Nested roles"
Hi,

Maybe it's a misunderstanding of [this](https://docs.strongloop.com/display/APIC/Authentication%2C+authorization%2C+and+permissions#Authentication,authorization,andpermissions-Accesscontrolconcepts), but in theory, loopback can handle a user having a role, mapped to another role, which have an ACL allowing it to do something. This isn't working for me.

There's the role "model_read" mapped to

[2016-04-25 12:41] rweng opened #2257 "disable caching"
So I've been playing around with loopback but was not able to set up my models and api correctly. After a lot of debugging, it turns out that loopback (or datasource-juggler) is caching data and I am not able to bust it.

I've created this gist to illustrate the case: https://gist.github.com/rweng/148cea1d0d0d60016d168fbb4162139a

Now even worse is that the same problem occurs when using the API.

[2016-04-25 13:57] jannyHou commented on #2250
@yahoohung Sorry what do you mean by "define the foreign key relationship in model.json"? Could you explain more about this?

From my understanding, each model has its own `modelName.json` file, when you define a relationship from this model, it contains a foreign key, and the relationship is stored in `modelName.json`

[2016-04-25 14:21] jannyHou commented on #2246
@jubbens could you please fork this [sandbox](https://github.com/strongloop/loopback-sandbox) and replace with your code? Or explain more about the steps of how to reproduce it? From your description, it seems like a race condition, but to be honest I am not familiar with ios sdk...it's good if it could be reproduced without touching ios, or I will forward it to expert developer of ios.

[2016-04-25 14:27] jannyHou commented on #2249
@shalkam Glad to know that you fix it! Build-in models are read-only, that's why sometimes your change wouldn't work. I am closing issue since it's fixed. Please feel free to reopen it if you have further  questions.

[2016-04-25 14:40] #2249 closed

[2016-04-25 14:46] tomcooksey commented on #2254
I now seem to have confirmed that if you have a model with only one property then PUTs don't work, they result in an SQL error.  I removed all but one fields of another model and got the same error..!

[2016-04-25 14:51] tomcooksey commented on #2254
Ah OK, sorry for the rambling.  I think I have nailed it, having one field can be symptomatic of this problem.  In my app I have an organisation_id but I fill this in automatically on the server based on their credentials.  For the model I first found this issue with, I only have one field - organisation_id as all the other fields like title, content etc are in a separate linked table for translat

[2016-04-25 15:21] loay commented on #2248
Hi @nmklong
Did you try customizing your variable, then use it with the order filter?

I am not sure what are you trying to do but I can think of something that:

```var customizedField = Customized Function ();```

then within the find function itself, you can use ```order: "CustomizedField <ASC|DESC> " ```

[2016-04-25 15:24] loay commented on #2254
@tomcooksey
let me read from the top first so I can understand the whole situation :)

[2016-04-25 15:28] loay commented on #2254
you can use `console.log()` in your code.

For the rest of the issues, can you create a sandbox repo or if you already have a github rep, can you share the link, so I can have a look . Thanks.

[2016-04-25 15:30] chrisamoore commented on #2252
in the `loopback-component-swagger` I found this... which is kind of not explicit, which I would prefer.
How would I go about being more explicit here ?

`console.log(swaggerObject.paths['/someroute'].get.parameters);`

[code]

[2016-04-25 15:34] tomcooksey commented on #2254
Hi, I have forked the repo here and created a sandbox - it requires a database to recreate the issue:

https://github.com/tomcooksey/loopback-sandbox

If you POST to adverts an empty JSON object, a new model gets created as in one of my mixins organisation_id is being populated so it doesn't fail validation.  If you then perform a put on that record Adverts/{id} with the same empty object you get

[2016-04-25 15:36] raymondfeng commented on #2254
Please use `DEBUG=loopback:connector:mysql` env var to dump out the offending SQL statements.

[2016-04-25 16:00] richardpringle commented on #2135
Sorry, forgot to post the link: https://docs.strongloop.com/display/public/LB/Registering+users

[2016-04-25 17:33] yogieputra8 commented on #2135
Just looked at the docs and it looks better to understand for new loopback users now. Thanks again @richardpringle

[2016-04-25 17:45] ritch commented on #1612
[code]

[2016-04-25 17:46] ritch commented on #1612
Don't promisify registerResolver, just support the resolver returning a promise here:

https://github.com/strongloop/loopback/blob/06cece038ec39db1fd61184aef3a9a0ca2140d3a/common/models/role.js#L295

[2016-04-25 17:49] jannyHou commented on #1612
@ritch thank you I got it:)

[2016-04-25 18:23] loay commented on #2254
using your repo as is, I connected the datasource to a remote phpmyadmin db and I tested the outcome.
POST works fine.
PUT works fine for the first time, but not the 2nd time.

So I tested few possibilites with `create` and `update` in the `create-models.js` file .. I found this error.

[code]

Now,  I isolated the problem in `ownership` and `permissions` files. Once, I commented out the observe f

[2016-04-25 19:09] loay commented on #2201
Are you getting an error message? or there is a specific problem?
I have a test file where I set
[code]
and it works fine.. if you have a repo, you can refer me to for your case, it will help me sort this problem out. Thanks.

[2016-04-25 19:38] tomcooksey commented on #2254
Hey, thanks for taking a look.  The error you got suggests that loopback.getCurrentContext() is returning null, I'd be interested as to the circumstances that can cause this as I've never come across that.

However, I think my original problem still persists, I have committed a new change to my sandbox removing all the mixins.  In this case if you create a new Advert through POST sending:

[code]

[2016-04-25 19:39] loay commented on #2212
I tested with your PR. I can get it to work fine.

I added
```    "file":"db.json" ``` in datasources.json and here is the outcome after running the app 3 times:

[code]
[code]

As for the PR itself, I will comment on the PR.

[2016-04-25 20:26] loay commented on #2254
I am not sure what are you trying to do?
You can't use blank values to update when the values are required.
if you use sql to run the same operation, you will get the same error.
what are you trying to do in native mysql?? can you please correct the following statement?
[code]
?

[2016-04-25 20:30] tomcooksey commented on #2254
Yea, I realise it's not the right thing to do, however what I believe that needs to be fixed is a more meaningful error message, ie the error should be caught before it gets to actually executing the query.  The main goal of an ORM layer is to abstract away from the database it self and I don't think the framework is doing that very well in this instance.