[2016-10-20 20:46] superkhau commented on #531
This item is on the roadmap for LB3. As for when that'll happen, I'm not sure. It'll definitely be faster if someone here could contribute a PR.

[2016-10-20 20:56] superkhau commented on #491
@deepakrkris @gunjpan PTAL

[2016-10-21 00:06] shaheero opened #2881 "MySQL Discovery Honors Foreign Keys Made To The Same Column Only Once"
- [x] Bug
- [ ] Feature request

I have 2 columns that reference the same column in another table through a foreign key. MySQL discovery only made one relationship and ignored the other.

[2016-10-21 04:44] sushilks commented on #1692
+1

[2016-10-21 06:18] SowmyaGrama opened #2882 "EmbedsMany relation assigns default value to relation objects in response"
I have 2 model Task and Hearts, Task embedsMany hearts.
**task.json**

[code]

**hearts.json**

[code]

After model creation when i do a POST call.
Request:
POST http://localhost:3000/api/Tasks
Payload:
 {
  "taskId": "string"
}
Response:
{
  "taskId": "string",
  "id": 1,
  "heartsList": []
}

Expected Result: Since I did not pass heartsList I do not expect it to be added in response, We have a s

[2016-10-21 08:22] superkhau commented on #2770
Submitted fix at https://github.com/strongloop/loopback-swagger/pull/69

[2016-10-21 13:12] danielmihai commented on #591
How do you create the default loopback model acls, roles, rolemapping etc. ?

after using loopback autoupdate to create the array of default models, the values for User acls in the acls table were not created, in fact, only the model tables (with fields) were created, but no properties of the model were persisted (like acls).

How can I achieve that?

[2016-10-21 13:22] gunjpan commented on #491
@superkhau : This seems to be resolved, see the update above.
@jbcpollak : Glad it worked for you.  As @bajtos  mentioned earlier:

and  so `destroyAll()`, being an alias for `deleteAll()`, unavailable.

@fabien :
Re:

This seems to be reported and fixed at : https://github.com/strongloop/loopback-connector-remote/issues/14

Is this good to close?

cc/ @deepakrkris

[2016-10-21 14:35] Amir-61 commented on #2872
tbh this feature requires some internal discussions; but as a high level description I would like to introduce audit-trail middleware where:
* We give the users the option which RESTfull endpoint they want to have the audit middleware active for. Or introducing `exceptions` option which makes the middleware active for all endpoints except the ones mentioned in `exceptions`
* We give them option wh

[2016-10-21 14:43] danielmihai commented on #1645
@tushargangwal Could you provide an example application, please ?

[2016-10-21 16:18] fabien commented on #2871
Normally, you'd use something like this:

[code]

However, `loopback-context` is deprecated, and for good reason. I was bitten hard by depending on this functionality, from when it was first introduced in mid-2014. Seemed a great idea back then - just spent a couple of weeks (!) fixing all the occurrences in my(fairly large) code-base ...

[2016-10-21 20:26] nsisodiya commented on #1412
Loopback Sucks !! :(
I use webpack and unable to build client sdk !

[2016-10-21 21:05] superkhau commented on #1412
@nsisodiya We understand your frustrations. Would you please elaborate the problem so that we can see if we can work out a solution?

[2016-10-21 22:01] dancingshell commented on #1676
I also was playing around with a solution. I would love someone from Strongloop team or the community to chime in about the roleResolver `AccessConext` and whether this is a viable direction. It's a work in progress and I haven't tested all edge cases including remote methods.

https://gist.github.com/dancingshell/26b8101e0620b27244d63b71f2b8f55a

[2016-10-21 23:12] #2770 closed

[2016-10-22 00:16] superkhau opened #2885 "Update README for kv-redis connector"
We have a blank README for kv-redis ATM -- will update with basic's like usage, running tests, etc.

cc @bajtos

[2016-10-22 00:36] dleute commented on #2270
The original problem appeared to be that models inheriting from User did not inherit ACL's so they had to be copied over.

Now the problem seems to be the ACL's on User are not respecting overrides from the child. If I put a blanket deny all rule on the child model, the specific ACL's from the parent are still overriding.

In my case, the easiest fix is to copy out the source ACL's from the parent

[2016-10-22 07:50] fabien commented on #1676
@dancingshell I think I've seen you mention this solution before, but somehow it slipped my mind while churning away on things.

Your solution seems to work pretty well for your use-case, as a workaround it's perfect. However, I think it's less suited as a general solution. Sometimes, `READ` access will also need the current context/user, but it looks like that could be supported as well.

My main

[2016-10-22 09:04] shyam2k16 opened #2886 "greater and less than where clause is not working togather"
Hello,

I want to fetch datewise data but i am not getting desired output.
I am using this   {"createdAt":{"gt":"2016-10-18","lt":"2016-10-21"}} in where clause to fetch data .. but it is giving all the records.
Individullay i am gtting correct response but when I am using gt and lt togheter it is giving all the data

Any help would be appreciable..

Please suggest.

[2016-10-22 17:07] nsisodiya commented on #1412
@superkhau - Why you guys cannot give 100 lines of Pure JavaScript code which can work with webpack and can make a REST calls... to server..
Infact I wrote my own implementation and I am using it from long time but my implementation is not perfect.
Please Checkout  - https://gist.github.com/nsisodiya/d3e286507dfc7579f143e7a027428284

[2016-10-22 19:52] alihalabyah commented on #2875
@bajtos and everyone I want to consider this closed since the cause of the issue is another plugin I was using as per the below code to live monitor the status of the API but it's good to mention that my socket was breaking at the first rest request/hit because the socket parser somehow was listening to the http request and trying to generate a session variable in which resulting in breaking the s

[2016-10-22 19:52] #2875 closed

[2016-10-24 07:42] bajtos commented on #2872
Thank you for the details, @Amir-61, I have a better understanding now. How do you envision to store the audit data? How much flexibility in the configuration do we need?

[2016-10-24 07:44] bajtos commented on #2872
I am also wondering, is this something we have to implement in LoopBack (and keep maintaining)? Another options is to provide an example showing users how they can build their own auditing middleware, tailored to their specific needs.

[2016-10-24 08:22] bajtos commented on #2875
@alihalabyah thank you for coming back to us and sharing the reason of the failures you were observing.

I agree with closing this issue.

[2016-10-24 16:39] phra commented on #2886
is this confirmed?
@shyam2k16 do you get the same result if you split the query object like `{"createdAt":{"gt":"2016-10-18"}, "createdAt":{"lt":"2016-10-21"}}` ?

[2016-10-24 18:50] tallesborges commented on #1415
+1

[2016-10-24 22:20] ritch commented on #1676
@fabien thanks for posting your gist. Do you think we should replace my original solution with a link to your gist? I know you took care to make it a general solution, and it looks much more complete than what I suggested a while ago.

I think argument injection is the only bullet proof solution to this problem. It is not perfect either, but it is predictable. This is what I'd prefer:

[code]

Whi

[2016-10-24 23:29] raymondfeng commented on #1676
The other approach is to introduce request-scoped model repositories (one instance per request) so that a repository instance itself can carry context information as its state. Please note that LoopBack models are singletons as of today and they are tied with attached datasources.

With model repository, LoopBack runtime can create a new instance (or acquire an instance from a pool) per request:

[2016-10-25 00:52] superkhau opened #2891 "Disable `slc loopback:property` for KeyValueModels"
We should not allow `slc loopback:property` for KeyValueModels as described at https://github.com/strongloop/generator-loopback/pull/239#issuecomment-255681593.

[2016-10-25 03:12] jannyHou commented on #2493
To have a more detailed context of this issue, here is the original buggy scenario:

Related to issue:  https://github.ibm.com/apimesh/scrum-api-editor/issues/814
Will verify is it fixed by issue above asap.

[2016-10-25 05:01] jjhesk opened #2895 "Random Sample List"
### Bug or feature request

- [ ] Bug
- [x] Feature request
### Description of feature (or steps to reproduce if bug)

https://groups.google.com/forum/#!searchin/loopbackjs/random$20post%7Csort:relevance/loopbackjs/4_Rhe-jd8jM/lS03333FBwAJ

How to get random post from loopback?? I am using mongodb connector
Currently I have tried various plugins from the github and none of them is working for me.

[2016-10-25 07:25] fabien commented on #1676
@ritch if you have a chance to try my gist first, then yes, please link to it. I am using this code as part of a larger codebase, so some things might be different if you run it on plain LB.

I really like your use of having a single `params` argument, it's much more consistent! It will surely break BC all over the place though, although I think we can mitigate this for remoting calls by allowing

[2016-10-25 08:43] doublemarked commented on #1676
@raymondfeng do I understand correctly that essentially model.js files would then get executed per-request, to ensure that the model handle used by all methods is the one tied to the context-linked repository? And thus, all hooks (etc etc) get initialized per request as well.

[2016-10-25 10:18] a-legrand commented on #1676
@fabien I don't get it,
how do you get the remote context from a before save hook for example ?
I just need to access the user id it in
Mymodel.observe('before save', function(ctx, next) {
 [...need user id...]
 next();
});

tx for you reply, I don't know loopback a lot, but I think your gist can save me :)

[2016-10-25 15:57] #2872 closed

[2016-10-25 17:43] superkhau opened #2896 "Create code of conduct"
- [ ] Create issue to get feedback from community (come to some agreement)
- [ ] Create content on loopback.io
- [ ] Link to content from LoopBack wiki

[2016-10-25 18:12] rusackas commented on #683
+1

[2016-10-25 18:45] jbcpollak commented on #491
Thanks. I understand it is functioning as intended, however I would say
deleteAll should be public at the data access layer and access should be
managed by the security layer. If it was disabled by the security layer by
default I would understand
.

As is, it is confusing and breaks the convention.

Anyway, thanks for the clarification.

On Fri, Oct 21, 2016, 6:23 AM Gunjan Pandya <notifications@g

[2016-10-25 21:13] jannyHou commented on #2868
@ahmed-abdulmoniem

So from my understanding, let's say you have two models `User` and `Account`:
- `User` hasMany `Account`
- `Account` belongsTo `User`

And when you do `user1.accounts.findById(id, cb)`, you only want to have the account belongsTo user1.

If this is the case I think you are looking for how to restrict access to related model, please check our doc for details: http://loopback.io/

[2016-10-25 21:29] jannyHou commented on #2886
@shyam2k16 @phra I think the right format is
[code]
Please see our doc for `where` filter to know more about how to use `and/or`:
https://docs.strongloop.com/display/public/LB/Where+filter#Wherefilter-and/or

[2016-10-26 08:56] phra commented on #2886
@jannyHou yeah, i was remembering that were splitted in some way. thank you.

[2016-10-26 10:44] bajtos commented on #1676
Thank you @fabien for posting a detailed comment about your experience and taking the time to extract your code into a gist that can be used by general audience. The solution you proposed looks reasonable to me at high level 👍

I especially like the ability to configure options-injection at model setting level, i.e. by editing Model JSON file.

What I personally/subjectively don't like that much,

[2016-10-26 10:56] bajtos commented on #1676
MyModel.myMethod = function(params, cb) {
  // params.userId => injected by user code
  // params.foo => mapped by system
};
[code]

Now let's add some remoting metadata using LoopBack JSON files similar to what we have here, the code here is a mockup

[code]

[2016-10-26 11:11] bajtos commented on #2807
Looks like we are not going to get any more feedback from the community here and we have to make the decision ourselves.

In the light of the discussion above, I am proposing the following plan:

 1. Explicitly drop support for Node v0.10 and v0.12 from LoopBack 3.x, i.e. add `{ "engines" : { "node" : ">=4" } }` to the following repositories:
  - [ ] strong-remoting
  - [ ] loopback-datasource-jug

[2016-10-26 11:50] ahmed-abdulmoniem commented on #2868
I have added ACL and it is not working from the time of this issue.

I mean findById is not returning the owned object even if you added ACL

[2016-10-26 13:40] archenroot commented on #2080
I would mark this rather than feature as major issue, as this is preventing usage of loopback in certain scenarios.

I of course understand there is workaround by going with custom method with custom SQL queries where I can write the joins using multiple keys by hand. But it is breaking the beauty of model driven design of loopback and in general I think direct SQL queries method should be used on

[2016-10-26 17:18] jannyHou commented on #2080
@archenroot make sense. Labelled it as major

[2016-10-26 17:39] jannyHou commented on #2886
:+1: We use git to track features and bugs and I am closing this issue since problem solved.
Feel free to reopen it if you have other questions :) Thanks for understanding.

[2016-10-26 17:39] #2886 closed

[2016-10-26 17:46] crandmck opened #2898 "Review docs for access control in DB"
Review #2830 for any doc updates needed.

[2016-10-26 18:20] eddiemonge commented on #2807
Sounds great for LB3.

LB2 plan sounds reasonable, although since 0.10 LTS ends in 5 days, I'd be ok dropping support for that now entirely.

[2016-10-26 18:33] sam-github commented on #2807
LGTM

[2016-10-26 18:34] sam-github commented on #2807
I strongly recommend blogging about this choice.

[2016-10-26 20:08] bostondv commented on #517
+1

[2016-10-26 20:09] gvillenave commented on #517
+1

[2016-10-26 21:59] pikitgb opened #2900 "Customize params missing in request"
HI! Guys ! how i customize my errors messages when there is params missing in my API request ?

I have something like this:
Model.remoteMethod(
     'rest_method',
     {
         http: { verb: 'get' },
         description: '...',
         accepts: { arg: 'param_1', type: 'string', required: true, default: 'default_value' },
         returns: { arg: 'data', type: ['Model'], root: true }
     }

[2016-10-26 22:29] nitaigf opened #2901 "Multitenancy for loopback"
### Bug or feature request
- [ ] Bug
- [x] Feature request
### Description of feature (or steps to reproduce if bug)

It would be interesting the possibility of creating datasources single or multiple tenants on the same database, this way would be possible to situations such as:
- A single application for multiple companies, where each tenant would be the set of tables relating to the modules con

[2016-10-27 02:42] superkhau commented on #2807
@bajtos LGTM and yes I think @sam-github idea about sending a blog out would be good (as well as updating GG with the choice).

[2016-10-27 04:41] shyam2k16 commented on #2886
Thank you @jannyHou  .. It's working!

[2016-10-27 07:44] superkhau commented on #2901
There is some WIP that has been delayed for awhile at https://github.com/strongloop/loopback-multitenancy

[2016-10-27 07:50] superkhau commented on #1412
@nsisodiya Unfortunately, I'm not familiar enough with webpack to give you a good answer. @bajtos Do you want to chime in?

[2016-10-27 08:23] bajtos commented on #1412
@nsisodiya you are free to use whatever client API for making REST calls to the server, no need to stick to isomorphic/universal version of LoopBack.

Here are few options that should work in webpack:
 - https://www.npmjs.com/package/request
 - https://www.npmjs.com/package/superagent
 - https://github.com/wcandillon/swagger-js-codegen

[2016-10-27 09:06] bajtos commented on #2807
Agreed, a blog post is needed here. We have Public Holiday tomorrow and I'll be travelling next week, so this may get delayed a bit.

[2016-10-27 10:16] dongmai opened #2902 "Can't retrieve the current user from access token."
### Bug or feature request

- [x] Bug
- [ ] Feature request
### Description of feature (or steps to reproduce if bug)

I have a middle-ware that I want to check some logic on the current user, bellow is my code:

<img width="517" alt="screen shot 2016-10-27 at 5 09 36 pm" src="https://cloud.githubusercontent.com/assets/3855966/19763433/28368b24-9c68-11e6-8117-effeab43cca2.png">

As I see there is

[2016-10-27 11:37] bajtos commented on #1676
I cannot speak for @raymondfeng, but here is what I think he meant: Right now, you have only one global entity for each model, which is the model constructor. When you invoke a static method like `Product.find`, there is no per-request "instance" to which we could attach additional per-request data.

Compare this with my proposal for Controllers above, where we would create new controller instance

[2016-10-27 14:47] nitaigf commented on #2901
I read that also has another POC project here in strongloop - https://github.com/strongloop/loopback-multitenant-poc which deals with the same subject. I'll see them, but would like an official version :-)

[2016-10-27 15:16] nitaigf commented on #2901
For those who are new like me on the subject, but need this functionality, read on:

- https://msdn.microsoft.com/en-us/library/aa479086.aspx
- https://en.wikipedia.org/wiki/Multitenancy

[2016-10-27 15:30] raymondfeng commented on #1676
@bajtos Please note ES6 supports destructuring for parameters, for example:
[code]

@doublemarked @bajtos There are different ways to have isolated instances for the model per request. We can rebuild it per request (which is expensive). It also be done by something like:
[code]

The idea is to move away from singletons if needed so that we can carry states for such objects per request.

[2016-10-27 15:57] #2830 closed

[2016-10-27 16:28] superkhau opened #2903 "-"
-

[2016-10-27 16:31] superkhau opened #2904 "Spike: Progressive LoopBack example app"
As per @cgole

[2016-10-27 16:33] nitaigf commented on #2901
Some friends have told me can do multi-tenant on loopback (as in the examples cited above and @superkhau contribution) but always lose something, be the explorer, such as integration with the ARC or other great features of this loopback environment.

As already mentioned before, I am new to Node, Express, Loopback, but I want to learn from this process and maybe one day to contribute to the commun

[2016-10-27 16:41] crandmck commented on #2515
This is done!

[2016-10-27 16:41] #2515 closed

[2016-10-27 16:49] #2903 closed

[2016-10-27 16:51] stefanomartins commented on #2901
Searching the Internet for that feature, I saw some posts that recommended the use of several Docker containers, one for each tenant. Personally, I don't believe that's manageable, and walks away from the concept of multitenancy. The multitenancy feature on StrongLoop would be a great addition to the project.

Best regards!

[2016-10-27 17:37] crandmck commented on #2775
This is now covered by https://github.com/strongloop-internal/scrum-loopback/issues/1142

[2016-10-27 17:37] #2775 closed

[2016-10-27 20:21] jeff3yan commented on #517
Have there been any updates on this pull request? https://github.com/strongloop/loopback-connector/pull/40

[2016-10-27 21:14] superkhau opened #2905 "Formalize GitHub voting system"
As a user, I want to bump up priority for features/bugs that should be fixed earlier based on GitHub thumbsup/+1 (:+1:) reactions.

Tasks:
- [ ] Create a draft of the reasons for why and how it's going to work and document on loopback.io
- [ ] Pass around stakeholders for feedback
- [ ] Draft a blogpost to announce
- [ ] Get the blogpost finalized by stakeholders
- [ ] Update issue template to lin

[2016-10-27 22:16] Simone-cogno commented on #683
+1

[2016-10-27 22:22] ORESoftware opened #2906 "Model.create method is underspecified"
I am trying to programmatically save model(s) in order to write data to a test database. Below is the source code for Model.create().

[code]

when I use:

[code]

this Model.create functionality is misbehaving => the callback does not always seem to include consistent arguments. The first argument seems to vacillate between different types of errors. I also in some cases find that the callback fi

[2016-10-27 22:34] #2891 closed

[2016-10-27 23:55] crandmck commented on #2373
Closed in favor of https://github.com/strongloop/loopback.io/issues/71.

[2016-10-27 23:55] #2373 closed

[2016-10-28 02:46] dongmai commented on #2902
@bajtos Can you please look at this, thanks!

[2016-10-28 14:41] bostondv commented on #1676
@fabien Would you be able to share an example of how to do this? I'm trying to extend the context in a boot script to include the current user object. Thanks!

[2016-10-28 18:10] nsisodiya commented on #1412
@bajtos - Well, I am using superagent and request. That is not the answer I am looking for.
Please go through my gist, I do not know exact definition of API, example, for findById API, I do not know exact interface, I have coded most thing in my gist, but I still do not know this is 100% perfect or not..

[2016-10-28 18:20] nsisodiya commented on #1412
@bajtos - for making proper `find` API, I have to code like this...
[code]

[code]

This code, I wrote based on my observation in network tab. Your API documentation cannot help me in writing this kind code...

[2016-10-29 03:23] jjhesk opened #2907 "localhost and hosted versions are different"
### Bug or feature request

- [x] Bug
- [ ] Feature request
### Description of feature (or steps to reproduce if bug)

Just deploy the loopback instance and discovered that both localhost version and the actual hosted version are different. That happened to one of the api call. The environment is using mongo adapter the latest one. I have developed the remote call as well as the normal call from t

[2016-10-29 13:43] timlind opened #2908 "Unknown property principleId is skipped for model RoleMapping"
### Bug or feature request

- [x] Bug
- [ ] Feature request
### Description of feature (or steps to reproduce if bug)

Following instructions for using roles on the docs : http://loopback.io/doc/en/lb2/Defining-and-using-roles.html

Setting the role.principles.principleId does not persist to database (tested on postgres and mongo connector)
### Link to sample repo to reproduce issue (if bug)
### E

[2016-10-29 19:00] shalkam commented on #517
[strongloop/loopback-connector-mongodb/pull/301](https://github.com/strongloop/loopback-connector-mongodb/pull/301)
So I went on my own and tried to make the dot notation work on non-embedded relations  for mongodb.
And it's working for me now, I hope someone finds this helpful.

[2016-10-30 03:58] jjhesk commented on #2907
The cause is from [here](https://github.com/strongloop/loopback-connector-mongodb/issues/52)

[2016-10-30 08:15] yshing opened #2909 "eslint-config-loopback not detecting Undeclared Variables"
### Bug or feature request

- [ ] Bug
- [X] Feature request
### Description of feature (or steps to reproduce if bug)

eslint-config-loopback does not have 'no-undef' rule which [Disallow Undeclared Variables](http://eslint.org/docs/rules/no-undef).

Kind of used to have Undeclared Variables warning when using eslint. However when playing with newly scaffolded loopback projects, eslint not complai

[2016-10-30 12:19] dpasqualin commented on #1355
@matekb , did you manage to make it work? Could you provide an example? Thank you!

[2016-10-30 17:36] UzverNumber47 commented on #917
+1

[2016-10-30 18:22] michaelfreund commented on #1666
+1

[2016-10-30 19:03] dpasqualin commented on #2302
@mitsos1os , any news on this? I'm facing a similar issue.

[2016-10-30 20:29] jamesjjk commented on #1455
@ritch I have implement a change-stream using SSE which works in a cluster using broker (pubsub). It would be great to understand why you think it should be initiated from createChangeStream or equivalent model method?

[2016-10-30 22:28] jeff3yan commented on #683
+1

[2016-10-31 04:02] celicoo commented on #2129
This solution doesn't work.

[2016-10-31 17:06] bajtos commented on #2902
@dongmai thank you for reporting the bug. Could you please create a small app reproducing the issue? See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report for more details.

BTW `req.accessToken` is already an instance of `AccessToken`, no need to call `findById` again.

[2016-10-31 17:32] matekb commented on #1355
@dpasqualin I ended up using another solution (not loopback) so unfortunately I do not know if this is fixed.

[2016-10-31 17:34] bajtos commented on #1409
Closing in favour of the issues above.

[2016-10-31 17:34] #1409 closed

[2016-10-31 17:41] dpasqualin commented on #1355
@matekb thank you for your answer, I'll have to do the same and move to a different framework.

[2016-10-31 18:40] bajtos commented on #1412
@nsisodiya I understand your pain. Unfortunately I don't have any easy solution for you right now.

You can use [loopback-component-explorer](https://github.com/strongloop/loopback-component-explorer) to explore the REST API, the input parameters and outputs. This component is using [loopback-swagger](https://github.com/strongloop/loopback-swagger) to generate Swagger description of application's

[2016-10-31 22:56] crandmck commented on #1710
It's not clear to me that the docs are incorrect.  From the above comments, it sounds like it doesn't work as it should--which is the behavior that is documented.

Am I misunderstanding?

[2016-11-01 03:15] adamwlarson commented on #1799
I definitely see the same issue. When setting a breakpoint in VS Code and then calling a single endpoint wrapped with an ACL that points to a role that needs to be resolved, I hit the breakpoint twice. Its very repeatable on any role.

[2016-11-01 03:42] adamwlarson opened #2910 "BUG: registerResolver not blocking access?"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
1. Create a registerResolver for a role of your choice.
2. Do a few database lookups, and return cb(null, false) and notice that access is still allowed

### Link to sample repo to reproduce issue (if bug)
I will need to work on getting this together, as I am working on a private

[2016-11-01 03:56] adamwlarson commented on #2910
Sorry, figured it out, apparently if you derive from another model all ACL's come through, I caught this when walking through which ACL's were getting pushed.

Is there an easier way to see what ACL's are active for a given model?

[2016-11-01 03:56] #2910 closed

[2016-11-01 06:01] vijay22sai commented on #825
I am also looking for the same thing.

[2016-11-01 06:29] oguzhanyalcin commented on #1739
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2016-11-01 13:15] danielmihai commented on #2142
@kenmorechalfant Where did you set 'signed': true ?

[2016-11-01 16:57] lukewendling commented on #2352
@bajtos Any chance this can this be backported to 2.x? We've been bitten by this a couple of times.

[2016-11-01 17:21] franckysolo opened #2911 "Server not responding anymore"
Hello,

I 'am using vuejs in frontend and loopback in backend for an api development.
Today, I'm trying to connect to api with with my login method from frontend and server does not sending response.
the request seems to be blocked! Yesterday everything work fine, i did not change anything in my configuration. No update or upgrade on my ubuntu...
I don't know what append
[code]

Screen shot
![Scre

[2016-11-01 19:30] franckysolo commented on #2911
Ok the problem is not due to loopback, it's vue-router and history option issue
sorry for useless post
i close it!

[2016-11-01 19:30] #2911 closed

[2016-11-02 01:41] jankcat commented on #816
For those looking for a solution to finding out the authenticated user in a remote method (now that currentContext is deprecated), the groundwork is laid out at the following link: https://docs.strongloop.com/display/public/LB/Remote+methods#Remotemethods-HTTPmappingofinputarguments

Here is my example snippet:
[code]

[2016-11-02 01:44] jankcat commented on #569
For those looking for a solution to finding out the authenticated user in a remote method (now that currentContext is deprecated), the groundwork is laid out at the following link: https://docs.strongloop.com/display/public/LB/Remote+methods#Remotemethods-HTTPmappingofinputarguments

Here is my example snippet:
[code]

[2016-11-02 02:06] hoangtrongphuc opened #2913 "Throttle request in remote method"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)
I want to limit request to remote method, each method has diff config for throttle request.

### Link to sample repo to reproduce issue (if bug)

### Expected result
In remote method config:
[code]

[2016-11-02 04:26] padelagani commented on #2902
@dongmai , have you tried including "user" relation ?

Try this

[2016-11-02 05:24] bitmage commented on #576
For anyone else looking at this, you want `MyCollection.app.dataSource.connector.connect` or alternatively `MyCollection.app.dataSource.adapter.connect`.  The `connect` method on the dataSource is a generic one and returns the empty params that @mariohmol and @thiagobrunoms encountered.

[2016-11-02 09:58] Overdrivr commented on #2906
Please refer to the [API documentation](http://apidocs.strongloop.com/loopback/#persistedmodel-create). Your call to `create` is not valid, there is no second optional parameter.

[code]

Cheers

[2016-11-02 12:00] mitsos1os commented on #2302
@dpasqualin No news yet. I think it should be in general that embedsOne relations are identified by their property from the parent model and no Id is needed whatsoever. It's **one** after all ! :-)
EmbedsMany should need the id (if selected) in order to be able to identify which from the list to refer to

[2016-11-02 13:06] dpasqualin commented on #2302
@mitsos1os , thank you for your answer, I agree with you.

[2016-11-02 13:13] arakno76 commented on #1454
+ 1

[2016-11-02 13:40] arakno76 commented on #2074
Hi there, do you have any idea of when the options.where filter will be implemented? I have to choose for the right architecture form my prod solution and can't stand listening to thousands objects notifying their status changes instead of few needed events... thank you!

[2016-11-02 15:27] jannyHou commented on #816
@jankcat Thank you for looking into `context` issue and providing the sample code!

While the link you post is from our old doc site. Now it's migrated to new site and please check latest doc of proper usage of `context`:
http://loopback.io/doc/en/lb2/Using-current-context.html
It elaborates some warning, solution, ect....

[2016-11-02 15:34] jankcat commented on #816
Thanks, I updated my comment to the new documentation location.

[2016-11-02 16:16] ORESoftware commented on #2906
Huh? I was debugging my code and I literally got to the above code, which has this signature.

`DataAccessObject.create = function(data, options, cb) {}`

where data is most likely an object or an array of objects that represent data for models, options is options, and callback is the callback.

[2016-11-02 16:18] ORESoftware commented on #2906
If you are right, then y'all need to throw an error if the user passes the wrong args. EIther way, you're in the wrong IMO.

[2016-11-02 16:33] Overdrivr commented on #2906
If you don't trust the documentation on a standard feature like this then I'm not sure I can be of much help here.

Now for the explanation, `DataAccessObject.create` is most likely called during `Model.create(data, cb)`, it is not a direct placeholder for `Model.create`. Which explains why it has an extra argument `options`, since it's two different functions.

As for the error, you can pass it t

[2016-11-02 17:36] jannyHou commented on #917
Thank you all for the feedback :)
Please add your 👍 reaction on the top comment instead of posting new "+1"
We are using vote system https://www.bountysource.com/teams/strongloop/issues to list issues with high numbers of thumb ups

[2016-11-02 18:36] richardpringle commented on #2129
@superkhau, I think @celicoo can use [strong-error-handler](https://github.com/strongloop/strong-error-handler) instead of my solution right?

[2016-11-02 21:03] bajtos commented on #2352
@lukewendling @justinlueders
I am afraid there is no easy way how to backport the fix to 2.x, as the coercion code was completely rewritten in 3.0.

I think this is the place where to fix the problem in 2.x, if you feel like contributing the fix yourself:
https://github.com/strongloop/strong-remoting/blob/c88d61c3334bcc64e94727bf482904900f134590/lib/http-context.js#L298

[2016-11-02 21:59] bajtos commented on #683
Please, don't spam everybody on this thread by posting +1 comments. Click on the "thumb up" icon at the top. It will also allow us to sort issues based on the number of upvotes.

[2016-11-03 09:32] frastlin commented on #473
Hello,
I would like to request that a "MVC Server" be placed in the "? What kind of application do you have in mind? (Use arrow keys)" part of the "slc loopback" command.
There currently doesn't seem to be any kind of guidance on creating an MVC framework with Loopback. I would love to see something that can compare to what Sails currently has. I feel Loopback is much much more active than Sails,

[2016-11-03 14:07] yagobski commented on #1275
Any progress on this ?

I want to do something like this:

                    { id: task.id },
                    filesObj,

                    function(response) { /* success */
.....

[2016-11-03 14:50] yagobski commented on #569
Any other solution to get current connected user inside the model?

[2016-11-03 14:59] davidcheung commented on #2522
fixed by #2912,  closing issue

[2016-11-03 14:59] #2522 closed

[2016-11-03 15:13] yagobski commented on #1676
@fabien how can i get the current connected user inside a model using your solution. Can you please share an example. Do you have any other solution to get current user in models.

Thanks

[2016-11-03 19:05] jannyHou commented on #2913
thank you @hoangtrongphuc for the feature!

[2016-11-03 19:12] jannyHou commented on #2895
Hi @superkhau  I saw your comment in google group chat https://groups.google.com/forum/#!searchin/loopbackjs/random$20post%7Csort:relevance/loopbackjs/4_Rhe-jd8jM/lS03333FBwAJ, shall we move further discussion here?

[2016-11-03 19:21] pthieu commented on #110
@ritch: can you comment?

[2016-11-03 19:37] jannyHou commented on #2882
@SowmyaGrama could you fork https://github.com/strongloop/loopback-sandbox and provide your code?

There is an example repo which contains a basic `embedsMany` relation from model `Book` to model `People`: https://github.com/strongloop/loopback-example-relations, I tried with it but by default when I do `POST/ Books` in explorer, it doesn't return me embedded items:
[code]
And actually for `GET/ B

[2016-11-03 19:44] jannyHou commented on #2812
@sinegovsky-ivan we have an issue discussing typescript related things: https://github.com/strongloop/loopback/issues/1692

[2016-11-03 19:48] davidcheung commented on #2207
@farlymedicaboo sorry for the delay, are you still facing this issue, would you be able to provide a sandbox with steps to reproduce?

[2016-11-03 19:49] aliemrahpekesen commented on #1739
👍

[2016-11-03 19:50] 0candy commented on #1879
@behrad Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-11-03 19:50] #1879 closed

[2016-11-03 19:50] 0candy commented on #1771
@tekand @vikmeup Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-11-03 19:50] #1771 closed

[2016-11-03 19:51] 0candy commented on #1971
@imatmati Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-11-03 19:51] #1971 closed

[2016-11-03 19:52] 0candy commented on #1975
@IgorDavy Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-11-03 19:52] #1975 closed

[2016-11-03 19:52] #2026 closed

[2016-11-03 19:53] 0candy commented on #2100
@katherdx Closing due to inactivity. When you post your sample repo, I can reopen the issue.

[2016-11-03 19:53] #2100 closed

[2016-11-03 19:53] 0candy commented on #2128
@Morriz Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-11-03 19:53] #2128 closed

[2016-11-03 19:54] #2173 closed

[2016-11-03 19:54] 0candy commented on #2192
@ekussberg Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-11-03 19:54] #2192 closed

[2016-11-03 19:54] tekand commented on #1771
:(

[2016-11-03 19:55] bosco-li commented on #1597
@pulkitsinghal We are closing this issue due to inactivity for 9 months and we were not able to reproduce this.  If you need this to open again please do so.  Thanks!

[2016-11-03 19:55] #1597 closed

[2016-11-03 19:55] 0candy commented on #2223
@jouke Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-11-03 19:55] #2223 closed

[2016-11-03 19:56] 0candy commented on #2319
@JoeShi Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-11-03 19:56] #2319 closed

[2016-11-03 19:56] jannyHou commented on #2812
We will create checkpoint/roadmap issue in the future after we figure out a concrete plan to fully support TypeScript. And at that time we will include an example loopback app with TypeScript  in our doc and example repos.

I am closing this issue now since we haven't supported it yet, but an example will be added after we move to implement the feature. Thanks for understanding and please feel fre

[2016-11-03 19:56] #2812 closed

[2016-11-03 19:57] #2386 closed

[2016-11-03 19:58] 0candy commented on #2412
@btdevn Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-11-03 19:58] #2412 closed

[2016-11-03 19:58] 0candy commented on #2434
@RudthMael Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-11-03 19:58] #2434 closed

[2016-11-03 20:03] kjdelisle commented on #2906
@ORESoftware Did you find @Overdrivr 's answer helpful? Please let me know if you have additional questions.

[2016-11-03 20:03] #2906 closed

[2016-11-03 20:07] Amir-61 commented on #2793
Closing this issue, since it seems the previous comment answered the question. Please fee free to open the issue if you see any other problems.

Thanks!

[2016-11-03 20:07] #2793 closed

[2016-11-03 20:08] pthieu commented on #1207
Closing. Issue looks resolved. Please re-open if https://github.com/strongloop/loopback-connector-mongodb/pull/68 did not resolve this.

[2016-11-03 20:08] #1207 closed

[2016-11-03 20:10] Amir-61 commented on #2787
Is this still the issue?

[2016-11-03 20:11] Amir-61 commented on #2432
Is this still the issue?

[2016-11-03 20:11] pthieu commented on #1200
@mamboer: Do you still need this enhancement officially merged? We have a template for enhancement feature request now, just click the `New issue` button. It might take a while to get to this, but you can speed up the process by opening your own PR.

Please re-open if you still need this.

[2016-11-03 20:11] #1200 closed

[2016-11-03 20:13] davidcheung commented on #2307
@ambrt if we also url encode the redirectUrl would this already not be a problem? it is altering the url?

[2016-11-03 20:13] 0candy commented on #2378
@shalkam Since you were able to take care of your issue, I am closing this. Thanks!

[2016-11-03 20:13] #2378 closed

[2016-11-03 20:14] davidcheung commented on #2625
@richardaum closing this issue due to inactivity, please reopen if you are still facing this issue

[2016-11-03 20:14] #2625 closed

[2016-11-03 20:14] Amir-61 commented on #2750
Closing this issue due to inactivity. Please fee free to re-open the issue with more info and sandbox to reproduce the issue.

Thanks

[2016-11-03 20:14] #2750 closed

[2016-11-03 20:15] jannyHou commented on #1596
@pulkitsinghal there is an example repo https://github.com/strongloop/loopback-example-relations that contains basic relations to try, in your case, I believe it's `hasMany` or `embedsMany`, but both of them return related items in the above sample repo.

We are closing it, feel free to reopen it with your sample code. Thanks for understanding.

[2016-11-03 20:15] bosco-li commented on #2291
@cloudtronics we will close this issue for now since it's not active for a few months, if @raymondfeng suggestion doesn't work for you please feel free to reopen this.

[2016-11-03 20:15] #2291 closed

[2016-11-03 20:16] #1596 closed

[2016-11-03 20:17] davidcheung commented on #2611
i believe this is duplicate issue as https://github.com/strongloop/loopback/issues/2307
i think the correct solution is to escape the url, closing this in favour of #2307

[2016-11-03 20:17] #2611 closed

[2016-11-03 20:18] #2131 closed

[2016-11-03 20:22] pthieu commented on #1193
@theofidry: I believe for JSON returns, we always return as an object. If you see the server return JSON that's not enclosed in `{}`, please open a new issue with repro steps.

Going to close, thanks for the heads up on this.

[2016-11-03 20:22] #1193 closed

[2016-11-03 20:22] bosco-li commented on #1727
@ekussberg We will close this issue for now, feel free to reopen this when you can provide show us how to reproduce this.  Thanks.

[2016-11-03 20:22] #1727 closed

[2016-11-03 20:22] davidcheung commented on #2573
Looks like this issue is resolved. Closing issue

perhaps we can open a feature request for "Disabling original remoteMethod upon method overriden"

[2016-11-03 20:22] #2573 closed

[2016-11-03 20:24] pthieu commented on #1164
@michael-lumley: looks like you can use the two work arounds above or open a PR for us to merge (to speed up the process). Going to close, please re-open if you still require this.

[2016-11-03 20:24] #1164 closed

[2016-11-03 20:26] jannyHou commented on #2244
I am closing this issue since I could not reproduce it. Please feel free to reopen it if you still run into same issue. Thanks!

[2016-11-03 20:26] #2244 closed

[2016-11-03 20:26] davidcheung commented on #2653
perhaps you can take a look at the transactions docs and see if theres some possible solutions,
https://docs.strongloop.com/display/public/LB/Using+database+transactions
if you feel this is still an issue please reopen.

[2016-11-03 20:26] #2653 closed

[2016-11-03 20:27] pthieu commented on #1149
@brunocascio: This might take a while for us to get to. To speed up the process, you can do one of two things:
 1. If you still require this, open a new issue using the `New issue` button and fill in the template provided to you
 2. Open a PR adding this functionality yourself and we will review and merge.

Will close this issue now. Please use `#1` if you still require this.

[2016-11-03 20:27] #1149 closed

[2016-11-03 20:27] bosco-li commented on #1426
@rus0000 we will close this issue since it's been inactive for over a year, please feel free to reopen  if you can help provide a test case.  Thank you

[2016-11-03 20:27] #1426 closed

[2016-11-03 20:27] davidcheung commented on #2657
@Industrial is this issue resolved, im closing this issue now, please reopen if you see fit.

[2016-11-03 20:27] #2657 closed

[2016-11-03 20:28] jannyHou commented on #1994
I am closing the issue, please feel free to reopen it if you have further questions. Thanks.

[2016-11-03 20:28] #1994 closed

[2016-11-03 20:29] davidcheung commented on #2658
@zisismaras closing this issue due to inactivity, please reopen if you see fit.

[2016-11-03 20:29] #2658 closed

[2016-11-03 20:29] jannyHou commented on #1521
I am closing this issue since I could not reproduce it. Please feel free to reopen it if you have further questions. Thanks.

[2016-11-03 20:29] #1521 closed

[2016-11-03 20:35] davidcheung commented on #2630
@kamal0808 i dont think we support that currently, i think that would require us to completely change the way errors were generated, and throw them at a later stage. not sure if thats in the roadmap currently.

[2016-11-03 20:35] jannyHou commented on #2250
I am closing this issue here, please feel free to provide more details and reopen it if necessary. Thanks.

[2016-11-03 20:35] #2250 closed

[2016-11-03 20:35] loay commented on #2568
Hi @shankarpilli
Is your issue fixed or do you need further assistance? Please leave a comment in case the issue is not fixed so I can investigate further. Thanks.

[2016-11-03 20:35] pthieu commented on #1121
@psi-4ward: Do you still require this? As mentioned in https://github.com/strongloop/loopback/issues/1121#issuecomment-157172284, you can put your method names into an array.

This might take a while for us to get to. To speed up the process, you can do one of two things:
 1. If you still require this, open a new issue using the `New issue` button and fill in the template provided to you
 2. Open

[2016-11-03 20:35] #1121 closed

[2016-11-03 20:39] davidcheung commented on #2667
@wilywork closing this issue due to inactivity, please reopen with a sandbox if you are still facing this issue

[2016-11-03 20:39] #2667 closed

[2016-11-03 20:39] #2527 closed

[2016-11-03 20:43] gunjpan commented on #2478
@paperrr1 : closing due to inactivity. If you're still facing the issue, please open it in the correct repo: https://github.com/strongloop/strong-pm/issues  and someone would be happy to assist you.
Thank you and have a great day.

[2016-11-03 20:43] #2478 closed

[2016-11-03 20:44] davidcheung commented on #2685
@markokostovski, closing this issue due to inactivity, if you are still facing this issue, please reopen if you see fit.

[2016-11-03 20:44] #2685 closed

[2016-11-03 20:45] Amir-61 commented on #2786
Closing this issue due to inactivity

[2016-11-03 20:45] #2786 closed

[2016-11-03 20:46] loay commented on #2153
Hi @vkeyrockz
As mentioned above, can you please submit a PR for the fix?
Please follow this for reference: http://loopback.io/doc/en/contrib/code-contrib.htm

Thanks.

[2016-11-03 20:47] davidcheung commented on #2662
@ggoncalves closing this issue due to inactivity, please reopen if you are still facing this issue.

[2016-11-03 20:47] #2662 closed

[2016-11-03 20:50] psi-4ward commented on #1121
Rather old Topic...

No I don't need it anymore, switched to FeathersJS. Thanks!

[2016-11-03 20:51] loay commented on #2789
Hi @zsszatmari,
You should be able to see the objects you own. That is happening due to the permission given. You need to have the proper permission in order to access these items. So here is a document on how to control data access. Please have a look and let me know if you have further questions.
https://docs.strongloop.com/display/public/LB/Controlling+data+access

If it is still not working, p

[2016-11-03 20:52] pthieu commented on #1065
Closing because issue has been resolved: https://github.com/strongloop/strong-remoting/pull/174 points to https://github.com/strongloop/strong-remoting/issues/175

[2016-11-03 20:52] #1065 closed

[2016-11-03 20:53] jannyHou commented on #2113
I am closing it since I could not reproduce. Please feel free to reopen it with a sample code. Thanks.

[2016-11-03 20:53] #2113 closed

[2016-11-03 20:54] davidcheung commented on #2686
@mkumr hopefully u were able to find a solution to your problem, closing issue due to inactivity, please reopen if you see fit.

[2016-11-03 20:54] #2686 closed

[2016-11-03 20:54] jannyHou commented on #2082
I am closing this issue here, please feel free to reopen it with sample code if you still run into the problem. Thanks.

[2016-11-03 20:54] #2082 closed

[2016-11-03 20:54] davidcheung commented on #2695
@wenkun-tonghui this is likely not an issue the loopback repo can solve, closing this issue now, please reopen if you see fit.

[2016-11-03 20:54] #2695 closed

[2016-11-03 20:56] davidcheung commented on #2698
Trying to clean up old issues, @nammaianh were you able to reproduce this issue? please ping me here or reopen a new issue and link to this one if you can reproduce this issue, thanks

[2016-11-03 20:56] #2698 closed

[2016-11-03 20:57] loay commented on #2847
Hi @roytan883
Can you please provide a sample repo so I can debug the issue?
Thanks.

[2016-11-03 20:57] davidcheung commented on #2691
@benjaminhon closing this issue due to inactivity, please ping me here or reopen another issue and link to this one with a sandbox to reproduce the problem

[2016-11-03 20:57] #2691 closed

[2016-11-03 21:00] pthieu commented on #1020
Closing in favour of https://github.com/othiym23/async-listener/issues/14. Please re-open if this is still required, @BerkeleyTrue.

[2016-11-03 21:00] #1020 closed

[2016-11-03 21:01] 0candy commented on #2305
Aside from "hasOne", you can use `.link`

[2016-11-03 21:02] davidcheung commented on #1285
I'm closing this issue due to inactivity, please reopen with steps to reproduce if you are still running into this issue.

[2016-11-03 21:02] #1285 closed

[2016-11-03 21:02] loay commented on #797
Hi @hacksparrow
I don't think this is an issue anymore since the introduction of the `strong-error-handler`, unless you mean in a specific spot where it is still persisting.

[2016-11-03 21:02] #797 closed

[2016-11-03 21:08] loay commented on #592
Hi @Acaspita
Are you still having the same issue. Here is a documentation for ACL:
https://docs.strongloop.com/display/public/LB/Controlling+data+access

Please let me know if you are still having the same question.

[2016-11-03 21:08] #592 closed

[2016-11-03 21:10] pthieu commented on #987
@bajtos: you mentioned you've split https://github.com/strongloop/loopback/issues/1020 into three stories. Can you link this issue to the associated story? If not, can you close?

[2016-11-03 21:17] jannyHou commented on #2460
@mariaczi If I understand correctly, first you complain that `user.group()` doesn't throw error when your filter is not valid, that's something we should improve in the future, it's already in our roadmap.

Then could you elaborate more about what do you expect `user.group()` do? This is the current doc for a relation method like `parentModelInstance.children()`: http://loopback.io/doc/en/lb2/HasM

[2016-11-03 21:19] 0candy commented on #2197
@3plusalpha Hope the above resolved your problem. Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-11-03 21:19] #2197 closed

[2016-11-03 21:20] pthieu commented on #970
@STRML are you okay it the solution above? Been over the year since this issue was opened. I am closing; please re-open if solution above does not work for you.

[2016-11-03 21:20] #970 closed

[2016-11-03 21:28] davidcheung commented on #1422
We no longer allow model names to contain dots, future applications shouldnt face this issue now ,closing issue

[2016-11-03 21:28] #1422 closed

[2016-11-03 21:34] pthieu commented on #952
@alFReD-NSH: This might take a while for us to get to. To speed up the process, you can do one of two things:
 1. If you still require this, open a new issue using the `New issue` button and fill in the template provided to you
 2. Open a PR adding this functionality yourself and we will review and merge.

Will close this issue now as it's been over a year. Please use option `#1` if you still requ

[2016-11-03 21:34] #952 closed

[2016-11-03 21:41] pthieu commented on #953
@eugenehp: Have you made any progress on this: https://github.com/strongloop/loopback-datasource-juggler/pull/1083/files allows this functionality but only for arrays.

[2016-11-03 21:52] pthieu commented on #1725
@listepo: This might take a while for us to get to. To speed up the process, you can do one of two things:
 1. If you still require this, open a new issue using the `New issue` button and fill in the template provided to you
 2. Open a PR adding this functionality yourself and we will review and merge.

Will close this issue now as it's been over a year. Please use option `#1` if you still require

[2016-11-03 21:52] #1725 closed

[2016-11-03 21:59] pthieu commented on #1913
@alFReD-NSH: This might take a while for us to get to. To speed up the process, you can do one of two things:
 1. If you still require this, open a new issue using the `New issue` button and fill in the template provided to you
 2. Open a PR adding this functionality yourself and we will review and merge.

Will close this issue now as it's been over a year. Please use option `#1` if you still requ

[2016-11-03 21:59] #1913 closed

[2016-11-03 22:00] pthieu commented on #1912
@Neil-UWA: This might take a while for us to get to. To speed up the process, you can do one of two things:
 1. If you still require this, open a new issue using the `New issue` button and fill in the template provided to you
 2. Open a PR adding this functionality yourself and we will review and merge.

Will close this issue now as it's been almost a year. Please use option `#1` if you still requ

[2016-11-03 22:00] #1912 closed

[2016-11-03 22:06] pthieu commented on #1055
@brillout: This might take a while for us to get to. To speed up the process, you can do one of two things:
 1. If you still require this, open a new issue using the `New issue` button and fill in the template provided to you
 2. Open a PR adding this functionality yourself and we will review and merge.

Will close this issue now as it's been over a year. Please use option `#1` if you still requir

[2016-11-03 22:06] #1055 closed

[2016-11-03 22:09] pthieu commented on #991
@Nutelac: Do you still need this? While this may not be a complex task, it's relatively low priority so this might take a while for us to get to. To speed up the process, you can do one of two things:
 1. If you still require this, open a new issue using the `New issue` button and fill in the template provided to you
 2. Open a PR adding this functionality yourself and we will review and merge.

W

[2016-11-03 22:09] #991 closed

[2016-11-03 22:17] STRML commented on #970
Yeah, we did something similar in the end:

[code]

[2016-11-03 22:34] pthieu commented on #1379
@hacksparrow:
[code]
When middleware methods are invoked, they usually return a function with the prototype `function(req, res, next){})` where `next()` is invoked to trigger the next middleware in the chain.

[code]
Would not work with this architecture, as you're invoking `.favicon()` and `.compress()` simultaneously, without knowing when to trigger the next middleware in the chain. It would be

[2016-11-03 22:36] #1379 closed

[2016-11-03 22:57] Amir-61 commented on #1422
Just to add ore info this is the LB 3.0 behaviour; it was a breaking change so we introduced it in LB 3.0

[2016-11-03 23:16] ebarault commented on #2516
@crandmck, @richardpringle  could you reopen this issue?

I was facing a similar "organization/teams/members" advanced access control situation and after deeply looking into the whole loopback access control logic i've successfully built a relation set with custom AccessToken, Role, RoleMapping and Users models (extending built-in models) allowing to use any number of User-based models while relyi

[2016-11-04 00:30] shankarpilli commented on #2568
Issue is not fixed. please investigate. user node in you back end. and get error message. Once that is done if possible write a post or paste code here.

[2016-11-04 03:44] hoangtrongphuc commented on #2913
Do I need open PR to add this feature in strong-remoting ?

[2016-11-04 05:03] roytan883 commented on #2847
@loay
here is the repo:
[loopback-string-num-bug](https://github.com/roytan883/loopback-string-num-bug)

[2016-11-04 13:26] richardpringle commented on #2516
Hey @ebarault, I'm not currently working on the framework but @superkhau might be a good person to mention in a PR. I'm sure it would be a great contribution!

Otherwise, I would open a new issue as a feature request with the new issue template.

Cheers and good luck!

[2016-11-04 14:46] Amir-61 commented on #2787
I'm closing this issue since it seems it has been resolved. Please feel free to leave a message and we re-ropen the issue.

Thanks a lot!

[2016-11-04 14:46] #2787 closed

[2016-11-04 14:51] Amir-61 commented on #2774
Yea @superkhau answer makes sense; now since we are returning `count`in the message body, `204 NO CONTENT` would not be the right HTTP status code anymore. Thanks @superkhau for clarification.

Closing this issue now.

[2016-11-04 14:51] #2774 closed

[2016-11-04 14:59] Amir-61 commented on #2432
I'll be closing this issue due to inactivity; please feel free to open a new issue or re-open this issue if the issue still persists.

Thanks!

[2016-11-04 14:59] #2432 closed

[2016-11-04 15:01] jannyHou commented on #2913
I think so.
cc @gunjpan @deepakrkris Any idea or suggestion?

[2016-11-04 15:01] bosco-li commented on #2856
@hoangtrongphuc we need a sample code to make sure we are on the same page with the problems you mentioned.

Also Is there a stacktrace you can show the error is from loopback?

Thanks.

[2016-11-04 15:31] Amir-61 commented on #502
I believe https://github.com/strongloop/loopback/pull/1667 now solves this problem and now we return 200 HTTP status code as well. CC: @superkhau

Related: https://github.com/strongloop/loopback/issues/2774#issuecomment-249039009

Closing this issue now.

[2016-11-04 15:31] #502 closed

[2016-11-04 15:55] jannyHou commented on #2907
I am trying to reproduce it , if confirmed a bug we will take a look.

[2016-11-04 16:34] PaddyMann opened #2915 "Override remote method, passing through current context"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

We have guidance on how to override an existing remote method (see #443), but I'm yet to find an example that allows us to pass through the current context as can easily be done when adding a new remote method.

This didn't use to cause problems as I used getCurrentContext to gra

[2016-11-04 18:40] Amir-61 commented on #1514
Hey @Nutelac , unfortunately there has not been a high enough demand for us to implement your feature request. Closing this issue now; however, please feel free to send a PR for this feature and we can discuss it further there.

Thanks!

[2016-11-04 18:40] #1514 closed

[2016-11-04 18:45] davidcheung commented on #1726
closing inactive issues, @uooq are you still facing this problem?
Please feel free to ping me on this issue or reopen a new one.

[2016-11-04 18:45] #1726 closed

[2016-11-04 18:49] davidcheung commented on #1819
I would actually assume you would put default as `""` for string type. to reproduce i would assume the behavior will be same on any remoteMethod that is expecting a `String` argument.

@ahmed-abdulmoniem looks like this issue has been inactive, is this still an issue?

[2016-11-04 18:50] davidcheung commented on #2027
looks like the issue has been resolve, closing issue now, please ping me here or open a new issue if as you see fit.

[2016-11-04 18:50] #2027 closed

[2016-11-04 18:57] davidcheung commented on #2389
assuming `v1` is your model? I would assume it to work if the relations are setup properly

Closing inactive issues, @priyavivek1 are you still facing this issue, please ping me on this issue or open a new issue with steps to reproduce

[2016-11-04 18:57] #2389 closed

[2016-11-04 19:08] davidcheung commented on #2584
@tmclouisluk are you still facing this issue? closing inactive issues, please ping me or open a new issue with steps to reproduce your issue, thanks

[2016-11-04 19:08] #2584 closed

[2016-11-04 19:11] jannyHou commented on #2907
@jjhesk I tried similar things on my end but it works for me:

Scenario:
 - A model called `Test` attached to mongodb
 - Create an instance `{id: 12345678, name: 'testInstance'}`
 - http://0.0.0.0:3000/api/Tests?filter[where][id]=12345678 will return you the result.
 - http://0.0.0.0:3000/api/Statuses?filter[where][name]=testInstance also returns you the result

Please take a look of your doc rega

[2016-11-04 19:13] Amir-61 commented on #2797
It seems a valid bug. I labeled it as a `bug`.

[2016-11-04 19:17] davidcheung commented on #2480
@srihakum is this still an issue, you can take a look at [this issue](https://github.com/strongloop/loopback-datasource-juggler/issues/541#issuecomment-216531138), you can allow validation to `allowNull` values, closing this issue now, please ping me in this issue or open a new issue with steps to reproduce.

[2016-11-04 19:17] #2480 closed

[2016-11-04 19:28] davidcheung commented on #2600
looks like issue is resolved. closing now

[2016-11-04 19:28] #2600 closed

[2016-11-04 19:31] davidcheung commented on #2588
Closing inactive issues, we use [`qs` middleware](https://github.com/ljharb/qs/) (same as express) to parse queries, so definitely checkout the docs there to see how they parse these values, if you are still facing this issue, please ping me back on this issue or open a new one with steps to reproduce. thanks!

[2016-11-04 19:31] #2588 closed

[2016-11-04 20:00] jannyHou commented on #1520
I am closing this issue here since it's 1 year ago. Please feel free to reopen it if you have further questions. Thanks.

[2016-11-04 20:00] #1520 closed

[2016-11-04 20:01] jannyHou commented on #2157
I am closing it since we could not reproduce it. Feel free to reopen it with a sample box or any updated details.

[2016-11-04 20:01] #2157 closed

[2016-11-04 20:02] jannyHou commented on #2177
I am closing this issue since I could not reproduce the bug. Feel free to reopen it with sample code or any updated info.

[2016-11-04 20:02] #2177 closed

[2016-11-04 20:06] bosco-li commented on #2900
@pikitgb Thank you for creating the issue.  You can only customized the message in `node_modules/strong-remoting/intl/en/message.json', but we do not support customized error message as an input for missing a required parameters.   Can you share with us why you like to customize the message?  Perhaps we can provide a better suggestion on how to solve the problem.

You can probably workaround the i

[2016-11-04 20:06] jannyHou commented on #2908
`principleId` ---> should be `principalId`

[2016-11-04 20:31] jannyHou commented on #2848
still could not reproduce the issue and I didn't see other users report same ones..closing it here but will reopen it if others also run into same issues.

[2016-11-04 20:31] #2848 closed

[2016-11-04 20:34] jannyHou commented on #2334
I am closing issue here. Please feel free to reopen it if you have further questions.

[2016-11-04 20:34] #2334 closed

[2016-11-04 20:35] jannyHou commented on #2528
I am closing issue here. Please feel free to reopen it if you still run into it or have any further questions

[2016-11-04 20:35] #2528 closed

[2016-11-04 20:36] jannyHou commented on #2246
I believe it's the same one as https://github.com/strongloop/loopback/issues/2048

Closing this issue and let's move discussion to the above issue.

[2016-11-04 20:36] #2246 closed

[2016-11-04 20:37] jannyHou commented on #2048
same issue as https://github.com/strongloop/loopback/issues/2246

[2016-11-04 20:37] jannyHou commented on #2705
hi @benjaminhon any update?

[2016-11-05 02:44] benjaminhon commented on #2705
Sry i think its a problem on my side. It should be resolved

Sent from my iPhone

[2016-11-05 07:58] behrad commented on #1879
I've overridden AccessToken#findForRequest to use Application's one of clientkey, restApiKey, masterKey, ... as a permanent token mechanism, However I'd rather to see this built in loopback core.

[2016-11-05 09:38] beingshashi commented on #2859
@davidcheung - I have seen this behaviour in 2 windows machine and 1 Mac and 2 ubuntu , windows seems to work well when we have done environment variables but.. mac and ubuntu.. everytime i install i get same errors.. then i have to make lot of bla bla steps..to get rid of all errors and start loopback.. very frustrating.

[2016-11-05 10:16] dongmai commented on #2902
@padelagani , It doesn't work.
@bajtos  Seems it only happens for **loopback-connector-mssql**

[2016-11-05 19:07] TuNi54 opened #2917 "query date : near & order filters doesn't work together"
Hi all,

I have a query with a near & an order filters, but it doesn't work.

Someone knows why ?

Thank you :)

[code]

[2016-11-06 12:27] Amastyer opened #2918 "How should I use virtual properties in loopback?"
Use Object.defineProperty?

[code]

When I call myModel.test,the result obtained is 'test'.
When I request GET /MyModel/:id, but there is no test property in the returned object.

[2016-11-07 00:30] cashweaver commented on #651
I'm not sure if this is the best place for this comment, but I found @ericprieto's disableAllMethodsWithExceptions incredibly helpful. Thank you for documenting it! I received a deprecation warning for `disableRemoteMethod` when using it, so I rewrote the function to use the recommended `disableRemoteMethodByName`.

[code]

[2016-11-07 03:46] hoangtrongphuc opened #2919 "Include filter not working with findById"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
I have API like this :
`/agencies/580c8399453059b376fe7170/customers/580cba85f38bab97788ab18d?filter[include]=transactions&access_token=a2Ptji0MPOpCvdCCOvE0VybZ3ipP30JCvqWNvQdbEALLd64fdDBSlKukBpMpjRaR`

but I cannot get transactions of customer.
If I replace by API :
`/agencies/58

[2016-11-07 06:55] SowmyaGrama commented on #2882
Thanks Janny,

Let me try this and get back to u . I am using loopback version 2.X

On Fri, Nov 4, 2016 at 1:07 AM, Janny <notifications@github.com> wrote:

[2016-11-07 14:34] tomcooksey commented on #2168
There is already a way to do this!  Just call the logout method on the user:

`User.logout(req.accessToken.id, function(err) {
                    res.send('Success');
                });`

[2016-11-07 15:06] frankorama commented on #2031
I'm having the same problem with the .remove() and the .destroyById().  According to the documentation these helper-methods should be available for embedded relations but I'm getting error messages.

I've forked the loopback-example-relations repository to illustrate the problems:

To run the example, start the loopback application.

Navigate to
[code]

Each email address will have a remove link w

[2016-11-07 15:27] jannyHou commented on #2705
@benjaminhon no problem :) Glad to know that you solved the issue. I am closing it here, feel free to reopen it if you have other questions.

[2016-11-07 15:27] #2705 closed

[2016-11-07 15:35] jannyHou commented on #2917
@TuNi54 I am trying to reproduce your problem. Could you fork https://github.com/strongloop/loopback-sandbox and replace with your code? Thanks.

[2016-11-07 15:45] TuNi54 commented on #2917
Hi @jannyHou,

just try something like that

[code]

[2016-11-07 15:56] Amir-61 commented on #2857
Closing this issue due to inactivity; please feel free to open a new issue if the issue still persists.

Thanks!

[2016-11-07 15:56] #2857 closed

[2016-11-07 21:00] #2908 closed

[2016-11-07 22:21] #2050 closed

[2016-11-08 04:01] superkhau commented on #2885
Closing in favour of https://github.com/strongloop/loopback-connector-kv-redis/issues/19

[2016-11-08 04:01] #2885 closed

[2016-11-08 04:11] superkhau commented on #2168
Does @tomcooksey solution work for you guys?

[2016-11-08 04:43] ghost opened #2921 "Image not upload."
Image uploading api was stuck and in response its gives nothing..but after sometimes in command its gives request aborted..
i have use loopback for last 1 year but before 2 days upload api was stuck ..please give me solution..

[2016-11-08 05:11] myvo commented on #1495
@digitalsadhu Thank you for your suggestion! This is the great solution, we never getCurrentContext and never got currentContext bug. It's really cool.

Just a small updating on step **Access state in a remote method**

[code]
**http.source** can be req or context is also OK. More info http://loopback.io/doc/en/lb2/Remote-methods.html#http-mapping-of-input-arguments

[2016-11-08 10:28] phra commented on #2918
functions (so also ES5 getters/setters) are never serialized in JSON so you can not send it via HTTP. just use a regular property instead.

[2016-11-08 13:33] bajtos commented on #2747
Fixed by https://github.com/strongloop/loopback/pull/2820 and https://github.com/strongloop/loopback/pull/2822

[2016-11-08 13:33] #2747 closed

[2016-11-08 14:19] DaGaMs commented on #1475
I see the same behaviour as @csvan: a remote hook on `confirm` has no `user` instance set. It's peculiar because the confirm succeeds otherwise.

@superkhau I don't see how the reference to the test cases is relevant here? I don't see a test of `afterRemote('confirm')`. What makes you think it's _not_ always undefined? I have no problem with `afterRemote('create')`, which is tested aplenty, but `c

[2016-11-08 16:19] virendra656 commented on #624
If you just want to format all errors then make handler in hook.js  as suggested by @projectxmaker  it worked for me.

module.exports = function(server) {
  var remotes = server.remotes();
  var opts = remotes.options || {};
  opts.errorHandler = {
    'handler': function restErrorHandler(err, req, res, next) {

              }
  }
  remotes.options =  opts;
}

[2016-11-08 16:19] cfjedimaster opened #2922 "When including a related model's properties, relation name works but property name doesn't"
### Bug or feature request

- [x ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Given a model Post that relates to AppUser, which extends User, I want to get posts and include the user's email address. I tried this:

http://localhost:3000/api/posts?filter[include][creator]=email

### Expected result

A list of Posts with creator.email.

### Actual result (i

[2016-11-08 17:46] pthieu opened #2923 "testing github projects -- issue functionality"
test

[2016-11-08 17:46] #2923 closed

[2016-11-08 18:57] jannyHou commented on #2922
Since currently the query doesn't work with a model's properties, let's update our doc first to reflect current behaviour:
Created a pr to reword the doc: https://github.com/strongloop/loopback.io/pull/146

---

Current behaviour:
Take example of `Post.find({include: {owner: 'orders'}}, function() { /* ... */ });`

The `orders` has to be a relation name but not property name.

@raymondfeng Could y

[2016-11-08 19:25] caffeinewriter commented on #2168
@superkhau I think that should work. Haven't had a chance to test it, but it seems like a workable solution.

[2016-11-08 21:07] davidcheung commented on #2648
Closing inactive issues, not sure where the issue should belong anyways, seems to be org wide behavior.

[2016-11-08 21:07] #2648 closed

[2016-11-08 21:13] superkhau commented on #2168
@caffeinewriter Can you confirm and report back? I will leave this issue open till then.

[2016-11-08 23:14] nVitius commented on #1275
Bulk importing of items is a really important feature, IMO. You can already pass in a JSON collection to the POST method on a PersistedModel, so there shouldn't be any interface changes.

[2016-11-08 23:24] crandmck commented on #651
Should we add this (explanation and code for `disableAllMethodsWithExceptions`) to the documentation?  If so, what would be the best place?

[2016-11-08 23:29] crandmck commented on #2516
I don't believe this is a doc issue _per se_.  From @ebarault's comment above, it sounds like we could either create a new sample app, add this to an existing example app (e.g. [loopback-example-relations](https://github.com/strongloop/loopback-example-relations) ), and perhaps enhance LoopBack relation model feature (but I'm unclear if this is feasible).

Anyway, I'll remove the doc label for now

[2016-11-09 01:34] jdhrivas commented on #559
@raymondfeng please included these fact in the documentation.

[2016-11-09 08:38] bekl commented on #651
Why is `prototype.patchAttributes` treated separately? I noticed that disabling `patchAttributes` alone doesn't have any effect (anymore, was fine until a few weeks ago), but wonder if this the intended behaviour?

[2016-11-09 08:50] bajtos commented on #987
The three stories created from #712 are listed in 712's description: #985, #986 and #987 (this one). Yes, "last story" in https://github.com/strongloop/loopback/issues/712#issuecomment-69324255 is referring to this issue (#987).

[2016-11-09 10:17] bajtos opened #2924 "Incorrect swagger definition for models with forceId:true"
### Description of feature (or steps to reproduce if bug)

The swagger specification generated for LoopBack models with `forceId` set to `true` (the default in LoopBack 3.0) is incorrect. The model definition marks the `id` property as required, but the `create` operation is rejecting requests with `id` property set.

This causes problems in API Connect, where the sample request data generated by

[2016-11-09 12:04] ugo-buonadonna commented on #1460
+1

[2016-11-09 12:42] bajtos commented on #2902
@dongmai good to know! Could you please create a small app reproducing the problem, as I mentioned in my last comment?

@0candy @loay could you PTAL?

[2016-11-09 13:44] gunjpan commented on #651
@crandmck :

Not at the moment, This feature is partially complete, once implemented, should eliminate a need to write above code. We can document the feature at the time.

[2016-11-09 15:22] cphpham opened #2925 "Remote method route without or has alias model name in path"
Is it possible to define a remote method route without the model name in the path?

The documentation only describes how to change method names: http://loopback.io/doc/en/lb2/Remote-methods.html#setting-a-remote-method-route

Default: GET /apiRoot/modelName/methodName
Desired: GET /apiRoot/methodName or GET /apiRoot/aliasModelName/methodName

Need some help here, who can help?

[2016-11-09 15:57] ebarault opened #2926 "remote method replaceById saves an extraneous id property in db (mongodb)"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

issue: remote method `replaceById` saves an extraneous id property to model in addition to native _id mongodb id property

### Link to sample repo to reproduce issue (if bug)

### Expected result

no extraneous id property saved to db

### Actual result (if bug)

extraneous id pr

[2016-11-09 19:00] raymondfeng commented on #2922
No, we only support relations. But to some extent, you can view relation as an extended form of property to provide navigational support. For embedded relations, you can customize the property to avoid conflict with the relation.

[2016-11-09 19:08] cfjedimaster commented on #2922
We definitely need to improve the docs here then.

@raymondfeng so to be clear, when you say I can use fields, are you saying fields also works on related properties? So:  Get me all posts, include the related "owner", and the fields I care about: posts.title, posts.owner.name. Something along those lines?

[2016-11-09 19:15] raymondfeng commented on #2922
Unfortunately, `fields` doesn't work for relations. We have two separate things at the moment. For regular properties, you can use `fields` to select/deselect. For relations, you need to use `include`.

[2016-11-09 19:20] cfjedimaster commented on #2922
Ok so I just want to make sure I understand. When requesting model X, I can ask for related model Y, but I can't get just a subset of that model.

That would useful - right? And I should file an ER for it?

Use case: Get a shopping carts owner, but just the user id and name. Not the full user object.

[2016-11-09 19:26] jannyHou commented on #2922
@cfjedimaster My pr is checked in and the doc is updated: http://loopback.io/doc/en/lb2/Include-filter.html

[code]

- If you want to only include owner's relations, then use:

`Post.find({include: {owner: 'orders'}}, function() { /* ... */ });`

- If you want to only include owner's properties, then use:

[code]

[2016-11-09 19:33] cfjedimaster commented on #2922
@jannyHou what happens if 'email' is a property of Post and the user?

[2016-11-09 19:46] jannyHou commented on #2922
If `email` is a property of `Post`, use

[code]

[2016-11-09 19:48] cfjedimaster commented on #2922
Oh fascinating - the inner scope there is just for the relation. Ok, cool.
Thanks.

Btw - general comment. It feels like the 'query' API is so powerful, yet
hard to digest since its over multiple docs and not always consistent. For
example, sometimes we get examples like you've shown above, and sometimes
we get that *and* a REST API example, but not always.

No need to respond, just saying that it

[2016-11-09 19:52] davidcheung opened #2928 "relation to allow batch creation in 3.x"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
https://github.com/strongloop/loopback/pull/2879 it didnt handle batchCreate for relations,
so in a scenario where `POST /book/:id/page` it will not inherit `allowArray` flag and therefore will not allowArray in 3.x's more strict coercion

related code
https://github.com/strongloo

[2016-11-09 20:26] jannyHou commented on #2922
cool. Thanks @raymondfeng for confirming. Since the doc is updated I am closing issue here.

Yes :)

[2016-11-09 20:26] #2922 closed

[2016-11-09 21:51] crandmck commented on #651
@gunjpan Cool--please keep me posted.  I added the `needs-doc` label to remind us when we get to that point.  Thanks.

[2016-11-09 22:07] dancingshell commented on #651
I have refactored the code to be a little more DRY and also include a method for passing in an array of endpoints to disable.
[code]

[2016-11-09 22:25] JohnPhoto commented on #251
Is there any updates on this issue, what is current best practice?

I am not feeling overly confident in reimplementing a proper hashing myself and @av-k solution feels outdated now that `getCurrentContext()` is deprecated AFAIK (?)

[2016-11-09 23:16] humblepie commented on #1010
@BoLaMN Thanks for providing details on how you patched this.  I found an issue with your patch though.

You changed the object being used to pull the targetId in the linkOneToMany function.  And that does not work correctly when the subquery pulls in more than one result.

The obj should be target.

          function linkOneToMany(target, next) {
            **var targetId = obj[lookupKey];**

[2016-11-10 06:03] bonemx commented on #559
@FreakTheMighty  I run into the same problem,I don't know why if I have In the model-config.json the ACL, RoleMapping and Role definitions with the datasource pointed to mongodb it doesn't works but if I change the dataSource to the default memory db it works like a charm.

"ACL": {
    "dataSource": "db",
    "public": false
  },
  "RoleMapping": {
    "dataSource": "db",
    "public": false
  },

[2016-11-10 07:19] superkhau commented on #2905
Document bountysource as a mechanism we'll be using to see what's popular.

cc @jannyHou

[2016-11-10 07:27] superkhau commented on #1475
@DaGaMs No problem, that link seems to have moved down. See this test https://github.com/strongloop/loopback/blob/master/test/user.test.js#L1264 -- it asserts user should include result or fail. The tests are passing ATM so I came to the conclusion that something is there.

However, that said I do recall the obvious weirdness to the API when I created loopback-example-app-logic with the strange fa

[2016-11-10 08:21] superkhau opened #2929 "Put back issues tabs"
For a small set of repos, we removed the issues tab and redirected users to strongloop/loopback/issues (i.e. https://github.com/strongloop/loopback-ibmdb). After this short trial period, I feel this is a clunky experience for the end users.

I am proposing we revert these changes and put the issues tabs back in and do not redirect users to strongloop/loopback/issues.

Thoughts?

@bajtos @ritch @ra

[2016-11-10 10:55] bajtos commented on #2924
The petstore example shows the approach we can use too.

https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/yaml/petstore-expanded.yaml

Check out their POST /addPet - it takes a body of type NewPet. GET /pet returns a type Pet, which is allOf NewPet, plus id.

[2016-11-10 11:00] bajtos commented on #2929
+1 ✖️ 💯  from me.

I find the missing "issues" link in the GitHub UI confusing, one has to go to README and then follow the link to loopback issue tracker.

I also want to grow the number of community contributors/maintainers. To help that, I think it's important to have a designated place where to keep track of issue and discussions related to each repository, without having to filter out all oth

[2016-11-10 11:11] ebarault commented on #1495
hi all, there is already a `ctx.options` object referenced [here](http://loopback.io/doc/en/lb2/Operation-hooks.html#operation-options) for operation hooks that

also when you look at the ctx context available for exemple at role resolving stage, there is no such `ctx.options`object, but there is a `ctx.remoteContext.options`. Anything you put in this later object is then already available in `ctx

[2016-11-10 11:14] bajtos commented on #1475
Note that `create` and `confirm`

I agree the current method signature `(ctx, unused, cb)` is confusing. Perhaps it's time to simplify it to promise-based `(ctx) -> Promise`, with a fallback to support old three-arg handlers?

As for this particular issue with `User.confirm`. I believe the second argument holds the result of the method call, not the model instance. (See [lib/model.js](https://gith

[2016-11-10 12:13] bajtos commented on #2630
Could you please provide us with a snippet of your AngularJS code showing how exactly are you trying to accomplish this?

AFAIK, Angular's [ngResource](https://docs.angularjs.org/api/ngResource/service/$resource), which is used by our Angular SDK, allows you to add an error handler than can access the full error response. Quoting the docs:

I imagine something like the following should work:

[cod

[2016-11-10 12:24] bajtos commented on #2229
We already have `createMany` to support batch creation, `upsertMany` would be a better name for bulk upsert.

However, as commented in https://github.com/strongloop/loopback/issues/2123, we are dropping support for bulk upsert in LoopBack 3.0, therefore I would rather not add `upsertMany` to the Angular SDK.

[2016-11-10 12:24] #2229 closed

[2016-11-10 12:33] bajtos commented on #1620
This was an intentional decision. If you enable bulk-delete and the user does not provide a WHERE filter that's narrow enough (e.g. because they construct the filter argument incorrectly), then the call would delete all model instances in the database.

I am recommending two options:
 - Write a custom remote method ([introduction](https://strongloop.com/strongblog/remote-methods-in-loopback-creati

[2016-11-10 12:33] #1620 closed

[2016-11-10 12:34] danielmihai commented on #327
+1

[2016-11-10 12:36] bajtos commented on #1870
This should have been fixed by https://github.com/strongloop/strong-remoting/pull/343 in the upcoming LoopBack 3.0 version (currently a Release Candidate).

[2016-11-10 12:36] #1870 closed

[2016-11-10 12:40] bajtos commented on #1936
This should be a relatively easy fix in strong-remoting, we need to fix `SharedClass.prototype.isMethodEnabled` to check all aliases, not only the primary method name:

https://github.com/strongloop/strong-remoting/blob/d2037311b379b36f781a091379f1a4da927b629d/lib/shared-class.js#L144-L154

Are there any volunteers willing to contribute this bug fix?

[2016-11-10 12:42] Overdrivr commented on #1936
Sounds easy enough, I can tackle this issue. I'll make a PR then

[2016-11-10 12:44] bajtos commented on #1898
As part of our backlog grooming, we are closing issues that were inactive for a long period of time.

@ghatwala please open a new issue if the problem can be still reproduced on the latest loopback version.

[2016-11-10 12:44] #1898 closed

[2016-11-10 17:45] superkhau commented on #1475
+1 for Promise based API

[2016-11-10 17:52] DaGaMs commented on #1475
@superkhau I think I see the misunderstanding now: the link to the code that you sent refers to hooks on the `create` method. I was talking about `confirm`, which is what is invoked when a user clicks on the verification email (whereas `create` is invoked on POST to `/Users`). After some head-scratching, I realised that the problem is probably that no access_token is set upon confirmation, and hen

[2016-11-10 17:54] DaGaMs commented on #1475
So as a workaround, I currently have to fetch the user "manually" using the user ID, which is part of the request, via `User.findById(context.args.uid)`.

[2016-11-10 19:10] ebarault commented on #1676
@fabien, thanks for sharing this, it seems we are a number of folks out there currently building custom solutions to solve context-passing related issues...

while i like the general idea of your solution, after testing it here's the main cons i'd point out that would not make it a generic enough solution imo (some of these are probably out of your code reach, and more to impute to loopback inner

[2016-11-10 19:25] superkhau opened #2931 "Set up mqlight on apimesh/build"
To get mqlight tests running on CI.

[2016-11-10 20:18] cfjedimaster opened #2932 "The default for strict should be true"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Ok, technically this isn't a bug, but hear me out. Yesterday I discovered that by default. LB APIs allow you to pass unknown properties. So given a model called Cat with properties for name and age, I can send a prop called foo and LB just accepts it. I've heard the following rea

[2016-11-10 20:20] cfjedimaster opened #2933 "How $owner is checked is too loose"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

When you define an ACL related to $owner, LB uses the following rules to determine if you are the owner:

1) a relation to a model that extends user. 2) a simple property called userId. 3) a simple property called owner

However, imagine a model called cat. It has a relation call

[2016-11-10 20:21] cfjedimaster opened #2934 "Document what $owner checks"
### Bug or feature request

- [x ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

The rules for how $owner work (
1) a relation to a model that extends user. 2) a simple property called userId. 3) a simple property called owner) are not actually documented.

[2016-11-10 20:42] TuNi54 commented on #2917
Any idea ?
Thanks

[2016-11-10 20:43] superkhau commented on #2932
@cfjedimaster I agree, seems odd to default to the prototyping case. Should just reject unknown properties -- and at the HTTP level, either 400 or 422 if you want to be more precise I suppose.

[2016-11-10 20:44] cfjedimaster commented on #2932
I would argue for throwing an error, not ignoring, but I'd settle for anything but strict:false being the default. ;)

[2016-11-10 20:48] superkhau commented on #2932
I would advise against throwing an err, but return one with a descriptive message via callback -- and having strong remoting return the correct error code higher up.

[2016-11-10 21:48] cfjedimaster commented on #2932
Well I think we need to stick to what behavior we have now in terms of strict behavior. We're just talking about changing a default. I don't think what you describe is supported, is it? Or is it one of the options.

[2016-11-10 22:04] superkhau commented on #2932
No, it's not one of the options. Yes, we're on the same page of changing the default setting. I'm just curious as to this:

Are you talking about programmatic usage or via API explorer? I'm assuming we want both, ie. the error when you call `Cat.create({foo: 'invalid-property'})` and when someones performs a req via `POST /api/Cats` with json `{"foo": "invalid-property"}`.

[2016-11-10 22:06] cfjedimaster commented on #2932
Oh interesting. So... I'd expect the same behavior. If strict is false, then both "just work" (although in non-NoSQL it's going to throw an error anyway). And for the other values... yeah, I'd expect it be the same throughout.

[2016-11-10 23:31] gitman commented on #1739
👍

When do I expect this to be scheduled?
And what can I do right now to add Support for hateoas in my API today?

[2016-11-11 02:45] superkhau commented on #2931
Fixed by @rmg at https://github.ibm.com/apimesh/build-images/pull/2/files

[2016-11-11 02:45] #2931 closed

[2016-11-11 03:21] dancingshell commented on #303
@raymondfeng @cchacons any idea why this wouldn't be working for me? please help `postgres-connector`

Doesn't work (returns empty array)
[code]

works (same upper bound so i know there is data i should be getting from the first query)
[code]

[2016-11-11 03:42] dancingshell commented on #303
Nevermind I was having a moment with moment.

[code]

[2016-11-11 10:35] dharmendrasdlt commented on #1840
I m not able to access different models with same plurals but each having different endpoints ?

`my-model.js with /{version}/user/my-model/` and 'your-model.js with /{version}/user/your-model/'

I m also not able to access invoke different remoteMethods in same model like this

`my-model.js with /{version}/user/` and 'your-model.js with /{version}/user/your-model/'

[2016-11-11 11:35] ekta-slit commented on #2925
Help on above issue will be realy helpful!

[2016-11-11 11:50] dharmendrasdlt commented on #2925
It would be great if some one can help or resolve this.. as every other API requires desired routes in REST!!

[2016-11-11 14:24] adrien-k commented on #1138
+1, the way `verify()` generates the email's html body is very hard to extend as it can only relies on `loopback.template()`.

What would you think of a additional `templateFn` option ?

It would be especially useful when one has a template engine specific for email that can't rely on `loopback.template`(like https://github.com/crocodilejs/node-email-templates for CSS inlining)

[2016-11-11 15:57] jannyHou commented on #2917
@TuNi54 I am trying to help, can you follow https://github.com/strongloop/loopback/issues/2917#issuecomment-258868317 and provide some sample data to reproduce your problem?

[2016-11-11 19:20] FreakTheMighty commented on #531
@dancingshell our use cases sound a little different. I am interested in protecting a field from being written through the REST api even during create, but allow it to be changed from the server. I accomplished this by overriding the properties setter like so:

[code]

Internally, we can still set the role attribute by accessing the private variable `$role`.

[2016-11-11 19:57] zhenyanghua commented on #1138
If you use es6 in node, you can really just use `${}` to write the
template, it is really flexible.

Zhenyang Hua

On Fri, Nov 11, 2016 at 9:24 AM, adrien-k <notifications@github.com> wrote:

[2016-11-12 00:41] ebarault commented on #1676
Please, see my revised version of @fabien 's gist.
https://gist.github.com/ebarault/fdc39c5d07cc40f08664256f9e00905a

**in a nutshell**
- it fixes a few bits to make it work in a more code-base agnostic env
- it solves the issue with ctx.remotingContext not being available in Model.beforeRemote hooks
- it leverages on a `data` object in http context to pass data from earlier stages (such as role-r

[2016-11-12 15:11] BoLaMN commented on #1265
I believe this issue needs to be reopened as I was seeing similar issues before finding this post

I ended up removing the whole function from https://github.com/strongloop/strong-remoting/blob/master/lib/shared-method.js#L439 and my request went from 18 seconds down to 122ms.. seeing it used in other places too 😕

before: https://cldup.com/zvSeIJ3OIR.png
after: https://cldup.com/5ZwoZKLgJa.png

T

[2016-11-12 21:53] BoLaMN commented on #1010
Hey @humblepie

You are correct, there was an issue with my fix i forgot to update the details here to include it, i found a few other places which needed to be patched aswell

i ripped out the required changes into a diff patch for you.

https://gist.github.com/BoLaMN/e2fb1473cae8081ac255fdd0cbe927ba

includes a issue with including embeds to do a sub include on embedded models too

Cheers

[2016-11-13 08:23] roytan883 commented on #2847
So it is a bug or not?

[2016-11-13 08:24] roytan883 commented on #2847
@loay @kjdelisle
So it is a bug or not? Will it be fixed?

[2016-11-13 16:14] ambrt commented on #2307
Hi @davidcheung
Yes, I think that url encode  [here ](https://github.com/strongloop/loopback/blob/master/common/models/user.js#L425) and url decode [here](https://github.com/strongloop/loopback/blob/master/common/models/user.js#L790) would solve the problem.

[2016-11-13 17:20] hanseilers commented on #1803
It's a year later and I still get the same issue. It says email not valid, but the actual error digging down is that the table has not been created.

What is the status on those better error messages?

[2016-11-13 20:45] renegat59 commented on #735
Hi!
I have a very simple query that is failing the same way as @bluestaralone. I can't figure out what I can do. The code:

Recipe.find({
      fields: {
        title: true,
        slug: true
      },
      include: {
        relation: 'tags'
      }
    }, function(err, recipes){
      cb(err, recipes);
    });

Recipe has relation "hasAndBelongsToMany" to Tag. With this query I am always getti

[2016-11-14 02:53] hellsan631 commented on #735
@renegat59 try including the fields you want for tags as well.

ex:
[code]

[2016-11-14 05:38] ghatwala commented on #1898
@bajtos  : ok sure !!!

[2016-11-14 08:05] bajtos commented on #1265
@BoLaMN thank you for chiming in. We are happy to reconsider and reopen this issues, however we need clear steps to reproduce the issue on our machines. Could you please provide us with a small app we can use to reproduce the issue per http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report?

Also what is your Node version?

[2016-11-14 09:40] kamal0808 commented on #2630
@bajtos

$scope.product = Product.findById(10,

[code]

[2016-11-14 09:41] kamal0808 commented on #2630
Will check this out and respond if it fulfils my requirements. Also, if my question is still not clear, I can still provide a snippet from my angular code. Please let me know.

[2016-11-14 10:03] kamal0808 commented on #2630
@davidcheung what do you suggest is the best workaround for this?

[2016-11-14 15:53] davidcheung commented on #2307
actually i believe that would also mean if the url has parameters it will also be lost, we should fix this

[2016-11-14 17:23] superkhau opened #2939 "Get windows set up locally"
- [ ] Get windows set up locally
- [ ] Create knowledge sharing document in KB

[2016-11-14 17:24] #2939 closed

[2016-11-14 18:03] kjdelisle commented on #2847
@roytan883 Sorry for the delayed reply! I've taken a look at your reproduction and I'm seeing the same thing, so I'll be marking this as a bug and taking a look. Thanks a ton for your report and for putting the effort into that reproduction. :D

[2016-11-14 18:08] kjdelisle commented on #2847
reproduced on `loopback@2.36.0`

[2016-11-15 07:49] BoLaMN commented on #1010
found one more in relation-definition.js too for queries with the 'relation' function.

eg

[code]

have added the diff patch too https://gist.github.com/BoLaMN/e2fb1473cae8081ac255fdd0cbe927ba

Cheers

[2016-11-15 10:51] tborja commented on #1856
What's the fix on this? I am running loopback on Bluemix. I am getting the Request too large error using swagger js client.

[2016-11-15 13:00] FraserChapman opened #2943 "Set default value for arg when the http.source property is body - remote methods."
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

If one defines a remote method, one can set the accepted args names, types and default values.
However if one sets the default value for an arg where the http.source is body the default value is ignored.

### Link to sample repo to reproduce issue (if bug)

e.g.
[code]
### Expect

[2016-11-15 13:17] bajtos commented on #2924
Instead of hard-coding detection of `forceId`, we should come up with a property flag indicating whether a property may or may not be in `create` data. This flag then can be used e.g. for Cloudant's `_rev` field, see https://github.com/strongloop/loopback-connector-cloudant/issues/55

[2016-11-15 13:26] jdegger commented on #2491
Few notes:
1. changes.write(":") does not send a comment. So far I don't know what does.
2. The code above memory leaks, the timer is not always stopped

The good news is that I figured out how to have it not memory leak.
1. Work with setTimeout instead of intervals
2. Listen on express events to kill destroy everything

Snippet of my much bigger function than listen above:
[code]

You can get req

[2016-11-15 13:28] jdegger commented on #2491
Addition: You might think of using the afterRemote hook to destroy everything but that executes after the initial run through the function, not after the connection has closed.

Idea: add a hook which listens for the connection to close?

[2016-11-15 22:32] smartmouse opened #2946 "StrongLoop certification on z/OS"
###Certified strongloop on z/OS

[2016-11-15 22:58] cgole commented on #2946
moving it to the correct repository..

[2016-11-15 22:58] #2946 closed

[2016-11-15 23:23] ritch commented on #2929
I agree with the idea in general.

What if we start with:

 - strong-remoting
 - loopback-datasource-juggler
 - loopback-connector-*
 - loopback-example
 - loopback-sdk-*

I'm also 👍 for just reverting entirely. Just wondering if we might have some repos that get missed during triage since no one looks at them.

[2016-11-15 23:34] superkhau commented on #2929
@ritch I'm going to propose do it entirely, don't want to be in the state where is half done/half not like now -- the trial run is over.

Yeah, we need to draw the lines on who is taking care of which repos cross squad so we can all take ownership and not miss any repos.

[2016-11-15 23:41] superkhau commented on #2929
@sspai Take a look at https://github.com/strongloop/eslint-config-loopback

Note the following:

- We have no "issues" tab
- The first lines in the README is a warning to post issues at strongloop/loopback/issues
- package.json also redirects users to https://github.com/strongloop/eslint-config-loopback/blob/master/package.json#L20

Your task is as follows:

Go through all the repos in the strongl

[2016-11-16 14:27] bostondv commented on #1676
Hey @ebarault, thanks for the gist! However, my `Model.beforeRemote` hooks still are being executed before the context `beforeRemote` hook. I have the same problem with @fabien's gist as well.

I've got your gist in a boot script and it's being run before all other boot scripts. The `Model.beforeRemote` is in the model's javascript definition file under `common/models/MyModel.js`

Any idea how to

[2016-11-16 15:00] ebarault commented on #1676
@bostondv : so yes, I've no clean way to do this right now (there might be a better way, but i took the shortest track for my project to move on). So here it is

in the bootscript (cf. gist), i register the beforeRemote for ctx injection on ** :
[code]

now, you need to know that are the ** beforeRemote hooks are actually executed after all per-method beforeRemote registered hooks. So first, you n

[2016-11-16 16:43] denzelwamburu commented on #1856
Also running into the same error

[2016-11-16 17:37] tspoke opened #2948 "With nestRemoting ACL should work for FK by default"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

At the moment, nestRemoting doesn't create endpoint for custom remotes. The solution, describe here (https://github.com/strongloop/loopback/issues/1859#issuecomment-163037446) is working but has a problem with ACLs.
With nestRemoting, default generated endpoints like `GET /api/St

[2016-11-16 20:42] siddhipai commented on #2929
@superkhau
The repos which does not have issues tab are:
[code]

[2016-11-16 21:00] pthieu opened #2949 "Follow lexical convention for `require()`/declaration lines"
### Description of feature (or steps to reproduce if bug)
We need to follow a convention for variable declarations. There isn't a documented convention.

Logical:
[code]
Above is from https://github.com/strongloop/loopback/blob/806c600fb23e6912603731c5dfbd6ad4ab4deb08/lib/loopback.js -- I'm not sure how this is logical, maybe I've picked a bad file that's not sorted at all.

Lexical:
[code]

I'm s

[2016-11-16 21:04] pthieu commented on #2949
/cc @strongloop/loopback-dev

[2016-11-16 21:18] superkhau commented on #2929
@siddhipai I checked off all the items and put the issues tab back for each of the above. You should be good to go with sending the PRs to each of the above.

[2016-11-16 21:37] bostondv commented on #1676
@ebarault thanks so much, that's exactly what I needed!

[2016-11-16 21:43] superkhau commented on #2949
I agree with lexical.

[2016-11-16 22:28] siddhipai commented on #2929
Repo status for README.md and package.json

- [ ] https://github.com/strongloop/loopback-connector-kv-extreme-scale
- [ ] https://github.com/strongloop/loopback-getting-started-intermediate
- [ ] https://github.com/strongloop/loopback-connector-dashdb
- [ ] https://github.com/strongloop/eslint-config-loopback

[2016-11-16 23:55] ebarault commented on #2805
in [Migrating to 3.0 note](http://loopback.io/doc/en/lb3/Migrating-to-3.0.html), it is stated that one shall set in **config.json**
[code]
and in **middleware.json**
[code]

but i can't find any impact of the latest on the overall app behavior. Removing the config lines in middleware.json does work the exact same way. I'm confused about the requirement to have this config in middleware.json.

[2016-11-17 00:10] codephobia opened #2950 "Token middleware not accepting custom model"
I have been trying to implement a custom access token model so that I can store additional information on the token itself (login source, ie. website, desktop app, etc), but when I do this, the access token is no longer accessible from req.accessToken, and instead returns null.

The easiest test is that you will get a 500 error on user logout, and the token will not be removed from the database, a

[2016-11-17 01:54] jannyHou commented on #2948
This could be a sub story of supporting second level custom remote method. A propagated ACL should be applied to the related model's custom method.

[2016-11-17 02:01] jannyHou commented on #2926
@ebarault Can you paste your `model.json` file here? I am trying to reproduce your bug and interested in how you define the id property in your model. Thanks.

[2016-11-17 08:23] tspoke commented on #2948
Maybe this feature is more a 'patch' to an not completed feature : nestRemoting.

NestRemoting should include custom remote, and if it does this ACL problem will disappear by itself.

I'm limited with loopback with nestRemoting (3 childs model depth limitation, ACL,...). This method should be more powerful, I would love to do this kind of thing with ACL check :

[code]

[2016-11-17 08:57] Undrium commented on #1495
Keep this fresh, we are using the "Loopback Component Group Access"-module to enable group access to our resources. Of course this module requires the getCurrentContext which forced us to downgrade multiple modules to make things work. Such a basic thing shouldn't become an complicated puzzle of module versions to make it work.

[2016-11-17 09:27] ebarault commented on #1495
@Undrium please check the solution I managed to set up here, gathering a lot of individual contributions
https://github.com/strongloop/loopback/issues/1676#issuecomment-260960244

[2016-11-17 12:29] tamitutor commented on #1856
+1

[2016-11-17 16:29] raymondfeng commented on #1856
Have you adjusted the limit per https://loopback.io/doc/en/lb2/config.json.html?

[2016-11-17 17:04] ebarault commented on #2926
@jannyHou : here you are, pretty vanilla
[code]

[2016-11-17 17:54] jjhesk opened #2951 "firebase connector feature"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)
Is that a good idea to have firebase connector the share the information from the firebase to the rest of the data pool in loopback? i think it is very demanding.

[2016-11-17 20:13] loay commented on #2772
@superkhau
I think we can cross off both:
-  https://github.com/strongloop/loopback-ios-getting-started
- https://github.com/strongloop/loopback-android-getting-started

There is no `package.json` and I don't think there is any upgrade here, unless we will go dig in the jar files for example in Android.

[2016-11-17 21:31] ebarault commented on #1676
all: some archeology to excavate an old debate: https://github.com/strongloop/loopback/issues/1362 around the ctx propagation question

[2016-11-17 22:16] davidcheung commented on #1819
closing issue due to inactivity, if this issue still persist, please reopen

[2016-11-17 22:16] #1819 closed

[2016-11-17 22:19] davidcheung commented on #1866
closing duplicate in favor of #1865

[2016-11-17 22:19] #1866 closed

[2016-11-17 22:27] cashweaver opened #2952 "Disabling createChangeStream doesn't hide the GET endpoint from anonymous users"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Running `myModel.disableRemoteMethodByName('createChangeStream')` should cause the `GET` endpoint to return a 404/500 error. The correct error code is returned for $authenticated and $owner roles, but not for $anonymous. An $anonymous user making a request to the `GET` endpoint f

[2016-11-17 22:40] davidcheung commented on #2630
@kamal0808 hmm atm I don't really have a workaround for this, as our errors are often in only String form and it can be hard to extract data out of that.

[2016-11-17 22:47] davidcheung commented on #2859
@beingshashi I'm not sure how to reproduce that, not sure if it's the global modules having conflicts with each others, not sure if it is possible to reproduce in a [sandbox repo](https://github.com/strongloop/loopback-sandbox) that produces that problem, as the problem sounds like it could be environment related.
http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2016-11-17 22:57] ebarault opened #2953 "Model relation option `disableInclude`should impact remote methods only"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

Model relation option `disableInclude`should impact remote methods only : include filters should still be available when calling methods internally
- see https://github.com/strongloop/loopback/issues/386
- see https://github.com/strongloop/loopback/issues/1362#issuecomment-245808

[2016-11-17 23:23] Casy commented on #2068
You can edit or use the endpoint replaceOrCreate if the forceId is true :/

[2016-11-17 23:39] Amir-61 commented on #2068
Yes that is an expected behaviour; `replaceOrCreate` uses the PK and if you use `forceId: true` it means we are preventing users from passing the PK so in this case there would be no `replace` operation and it would be always `create` operation which contradicts with the end goal of `replaceOrCreate`.

[2016-11-18 01:23] superkhau opened #2954 "test issue"
please ignore

[2016-11-18 01:24] superkhau commented on #2954
This issue was moved to strongloop-internal/scrum-loopback#1198

[2016-11-18 01:24] #2954 closed

[2016-11-18 02:31] tborja commented on #1856
Hello,

This is my config.json

{
  "restApiRoot": "/api",
  "host": "0.0.0.0",
  "port": 3000,
  "remoting": {
    "context": false,
    "rest": {
      "normalizeHttpPath": false,
      "xml": false
    },
    "json": {
      "strict": false,
      "limit": "80mb"
    },
    "urlencoded": {
      "extended": true,
      "limit": "50mb"
    },
    "cors": false,
    "handleErrors": false
  },
  "

[2016-11-18 03:14] tborja commented on #1856
I checked where the error message Request Entity Too Large occurs and it is in here:
 from /node-modules/raw-body/index.js

function readStream (stream, encoding, length, limit, callback) {
  var complete = false
  var sync = true

  // check the length and limit options.
  // note: we intentionally leave the stream paused,
  // so users should handle the stream themselves.
  if (limit !== null &&

[2016-11-18 08:58] SowmyaGrama commented on #2882
@jannyHou : Just looked at the repo you shared, from you comments it clear that the people object is indeed returned from POST call to /Books
What is the payload you pass to /Books?
In the response i see
[code]

[2016-11-18 09:46] elfahxh opened #2955 "When my sharding key have two fields, loopback does not support to locate a model using two fields."
### Bug or feature request

- [ x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
I created two Models,  Model-B is an embedded model in Mode-A, Model-A must have sharding key which have two fields. When I call such related method,  Model-A.Model-B.create(), will failed.
The root-cause is that, underline, it will call updateAttributes() of Model-A,  while the

[2016-11-18 15:38] davidcheung commented on #2379
No longer applicable, express logger might be sufficient for APIC usage, closing issue.
/cc @bajtos @ritch

[2016-11-18 15:38] #2379 closed

[2016-11-18 15:44] davidcheung commented on #2863
@ORESoftware closing issue due to inactivity, if issue still persist please open an issue against the pg driver itself

[2016-11-18 15:44] #2863 closed

[2016-11-18 15:54] davidcheung commented on #2672
adding info to this
https://github.com/strongloop/loopback/blob/a0bc2041599343d7a1b95f16fab466b3c583a900/lib/persisted-model.js#L1802-L1803 perhaps because `createChangeHandlers` will sometimes become immortal?

[2016-11-18 15:57] jannyHou commented on #2882
@SowmyaGrama I am afraid you misunderstand here:
`links` is just a property of model `Book`, embedded people only occur in your book instance when you do `GET Books/` with filter `"include": "people"`

sample result:
[code]

[2016-11-18 17:58] ritch commented on #2951
I would really like to implement this, but its not something we can even consider in the near term. If many people chime in asking for it we can re-open the issue, so speak up!

Feel free to build your own connector, it shouldn't be that difficult for firebase:
http://loopback.io/doc/en/lb2/Building-a-connector.html

[2016-11-18 17:58] #2951 closed

[2016-11-18 18:57] crandmck commented on #2068
@Amir-61 If we need to add or change something in http://loopback.io/doc/en/lb2/Model-definition-JSON-file.html, please open a PR.... or please give me a clearer idea of what we need to do.

[2016-11-18 18:59] crandmck commented on #2934
Could you please suggest where in the docs we should add this.  Pointers to examples, or related issues would also help.

[2016-11-18 19:15] Amir-61 commented on #2068
@crandmck I'll find some time and send a PR ASAP.
Thanks!

[2016-11-18 21:28] #1635 closed

[2016-11-18 21:28] #1642 closed

[2016-11-18 21:28] #1657 closed

[2016-11-18 21:28] #1659 closed

[2016-11-18 21:28] #1678 closed

[2016-11-18 21:28] #1775 closed

[2016-11-18 21:28] #1787 closed

[2016-11-18 21:28] #1849 closed

[2016-11-18 21:28] #1903 closed

[2016-11-18 21:28] #1906 closed

[2016-11-18 21:30] #1535 closed

[2016-11-18 21:30] #1543 closed

[2016-11-18 21:30] #1548 closed

[2016-11-18 21:30] #1602 closed

[2016-11-18 21:30] #1605 closed

[2016-11-18 21:30] #1606 closed

[2016-11-18 21:31] #1504 closed

[2016-11-18 21:31] #1507 closed

[2016-11-18 21:31] #1516 closed

[2016-11-18 21:31] #1549 closed

[2016-11-18 21:31] #1626 closed

[2016-11-18 21:31] #1814 closed

[2016-11-18 21:31] #1817 closed

[2016-11-18 21:32] #1389 closed

[2016-11-18 21:32] #1400 closed

[2016-11-18 21:32] #1435 closed

[2016-11-18 21:32] #1456 closed

[2016-11-18 21:32] #1478 closed

[2016-11-18 21:32] #1827 closed

[2016-11-18 21:32] #1857 closed

[2016-11-18 21:32] #1877 closed

[2016-11-18 21:32] #1882 closed

[2016-11-18 21:33] #1268 closed

[2016-11-18 21:33] #1290 closed

[2016-11-18 21:33] #1305 closed

[2016-11-18 21:33] #1344 closed

[2016-11-18 21:33] #1349 closed

[2016-11-18 21:33] #1359 closed

[2016-11-18 21:33] #1360 closed

[2016-11-18 21:33] #1380 closed

[2016-11-18 21:34] #1693 closed

[2016-11-18 21:35] #1095 closed

[2016-11-18 21:36] #110 closed

[2016-11-18 21:36] #1091 closed

[2016-11-18 21:37] #1129 closed

[2016-11-18 21:37] #1130 closed

[2016-11-18 21:37] #1211 closed

[2016-11-18 21:37] #1266 closed

[2016-11-18 21:37] #1454 closed

[2016-11-18 21:37] #1455 closed

[2016-11-18 21:37] #1506 closed

[2016-11-18 21:44] Amir-61 commented on #2068
PR to fix doc: https://github.com/strongloop/loopback.io/pull/170

[2016-11-18 22:06] jannyHou commented on #2080
Copied from https://github.com/strongloop/loopback/issues/2955#issue-190276274
Support composite keys in embeds Relation:
  - Scenario:

The root-cause is that, underline, it will call updateAttributes() of Model-A, while the search filter only have "_id" field, cannot define a combined multiple keys to find Model-A from database. hence, will encounter a failure.

[2016-11-18 22:06] jannyHou commented on #2955
@elfahxh We have an issue to track "Supporting composite foreign key in loopback":
https://github.com/strongloop/loopback/issues/2080

I migrated your comment to that issue and let's keep all discussion there. I am closing this issue as a dup. Thanks for understanding.

[2016-11-18 22:06] #2955 closed

[2016-11-18 22:33] BerkeleyTrue opened #2956 "Model.find with Include query caches relationship between subseques"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Create endpoint that uses static Model.find method with include query
Subsequent requests show cached relationships instead of live data from db.

### Expected result

relationship should reflect changes in the database upon additional requests.

### Actual result (if bug)

relat

[2016-11-19 19:31] UnacceptableUse commented on #2513
Having the same issue
$ slc -v
strongloop v6.0.3 (node v5.9.1)
├── strong-arc@1.8.9 (3dd25ac)
├── strong-build@2.1.2 (a98f310)
├── strong-deploy@3.1.4 (9b29df0)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.3
├── strong-registry@1.1.6 (f8c2339)
├── strong-start@1.3.4 (28c261d)
├─┬ strong-supervisor@3.3.3
│ └── strong-agent@2.1.1 (b51fc45)
├── generator-loopback@1.24.5 (de24875)
├── node

[2016-11-20 09:38] Amir-61 commented on #2772
Closing this issue as done...

[2016-11-20 09:38] #2772 closed

[2016-11-20 20:12] bekl commented on #1602
How can remote methods (e.g. of the built-in `User` model) be unhooked?

[2016-11-21 08:39] bajtos commented on #2949
+1 from me.

Just keep in mind that lexical ordering is not feasible in certain situations, e.g.

[code]

If we agree to introduce lexical ordering, then the following document should be updated: https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/contrib/style-guide.md

[2016-11-21 09:18] balanza commented on #2917
my two penny:

assuming you're working with MongoDB, hence you implicitly refer to `loopback-connector-mongodb` module, here is the chunk of code responsible of sorting:

[code]

As you can see, if any field has a `near` filter, other sorting instructions are ignored. This is mainly because the `near` filter is, by itself, considered not a filtering clause (i.e. that slices the result set) but an

[2016-11-21 09:33] SowmyaGrama commented on #2882
Janny, I was thinking that since links is a embedsMany field, the people model is returned within the links field. In the model defined here books has 3 fields, id, name and people
https://github.com/strongloop/loopback-example-relations/blob/master/common/models/book.json

Now if  do not  want **links** to be returned as empty array, is there a way to avoid it?
I will do a POST call with { "name"

[2016-11-21 10:36] TuNi54 commented on #2917
@balanza thank you for your explanation.
However, I have already a near and maxDistance filters. I would like to add an order criterion by date, as you can see in my example above.
Do you any idea?

[2016-11-21 10:41] sirmadboy commented on #2672
what is the purpose of this function https://github.com/strongloop/loopback/blob/a0bc2041599343d7a1b95f16fab466b3c583a900/lib/persisted-model.js#L1610 ?
from https://github.com/strongloop/loopback/blob/a0bc2041599343d7a1b95f16fab466b3c583a900/lib/persisted-model.js#L1587, I can see that `cleanupInterval` is set either `Model.settings.changeCleanupInterval` or 30 seconds. but right now I have no id

[2016-11-21 12:05] tomers opened #2962 "Wrong total() calculation in example"
- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Wrong total() calculation in `example/client-server/models.js`

### Link to sample repo to reproduce issue (if bug)

### Expected result
Existing code:
[code]
### Actual result (if bug)
Should be:
[code]
### Additional information (Node.js version, LoopBack version, etc)

[2016-11-21 12:15] tomers opened #2963 "Parameter cardId is ignored in CartItem.sum"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
The cardId parameter is ignored in `example/client-server/models.js`.

### Expected result

[code]

### Actual result (if bug)

[code]

[2016-11-21 12:44] kblcuk commented on #1400
Soooo, has this been implemented, or not relevant anymore, or...? Questions, questions :/

[2016-11-21 12:53] beingshashi opened #2964 "Not able to create model in loopback"
? Enter the model name: account_info
? Select the data-source to attach account_info to: users (mongodb)
(node:11564) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: Cannot read property 'type' of undefined

events.js:160
      throw er; // Unhandled 'error' event
      ^

TypeError: Cannot read property 'type' of undefined
    at /usr/lib/node_modules/y

[2016-11-21 13:22] balanza commented on #2917
Unfortunately I don't have a solution you can implement in your app
straight away. But you can easily fork the loopback-connector-mongodb
module and fix this issue (I think it's barely two lines of code). Then,
eventually, propose a PR. If you fancy do it and you need some help, here I
am.

*Emanuele De Cupis*
*emanuele.decup.is* <http://emanuele.decup.is>

On 21 November 2016 at 11:37, TuNi54 <no

[2016-11-21 13:57] tomers opened #2965 "Context example should be deleted"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Context example (`example/context`) should be deleted in version 3.0.
[code]

[2016-11-21 14:01] TuNi54 commented on #2917
it's strange, hasNearFilter method return always false :|

[2016-11-21 14:05] tomers opened #2966 "Mobile-models example application does not start"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

models file is missing. The following log explains the bug:

[code]

[2016-11-21 14:08] balanza commented on #2917
sure you're using the very latest version of the module? Here's the function:

[code]

Beware: if you put the near filter into an and/or/not clause, it doesn't work: https://github.com/strongloop/loopback-connector-mongodb/issues/271

[2016-11-21 14:14] tomers opened #2967 "Replication example application is broken"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

[code]

[2016-11-21 14:16] TuNi54 commented on #2917
I didn't have the latest version, then I uninstalled loopback & the connector. My package.json is like this :
[code]

And my request :

[code]

But if I do a `console.log(hasNearFilter(filter.where))`, it's still false

[2016-11-21 15:26] bajtos commented on #2630
Yes, that's the way how we designed LoopBack.

The error message you are describing is a validation error. You can detect this particular error by checking HTTP status code, it is 422. (The status code is repeated in response body in `error.statusCode` property too). As for details about validation problems, the JSON response contains machine-readable error codes in `error.details.codes`, for exam

[2016-11-21 15:26] bajtos commented on #2630
I am relabelling this item to `doc`.

[2016-11-21 16:58] 0candy commented on #2966
@gunjpan Missed this example when making update to `app.model`.
https://github.com/strongloop/loopback/pull/2401

[2016-11-21 16:58] 0candy commented on #2967
@gunjpan Missed this example when making update to `app.model`.
https://github.com/strongloop/loopback/pull/2401

[2016-11-21 18:33] #2929 closed

[2016-11-21 18:55] #2962 closed

[2016-11-21 19:00] jannyHou commented on #2964
@beingshashi It seems an old bug which is fixed in latest `generator-loopback`, can you confirm some module versions you are using? Thanks:

 - `generator-loopback` version
 - `strongloop` version
 - node version
 - npm version
 - your system

And please upgrade `generator-loopback` to latest version and see if it fix your problem.

[2016-11-21 19:03] jannyHou commented on #2956
@BerkeleyTrue I am trying to reproduce your problem and curious about how do you get `__cachedRelations`?

Can you fork https://github.com/strongloop/loopback-sandbox and replace with your code? Thanks.

[2016-11-21 19:09] raymatos commented on #1321
Is this resolved?  Or is there a best practice for enums?

[2016-11-21 19:28] jannyHou commented on #2917
I reproduced it in `loopback-connector-mongodb` with test case https://github.com/strongloop/loopback-connector-mongodb/blob/07afdbfa02476d04bcc08b1cb7008d622987a51b/test/mongodb.test.js#L1527

filter:
[code]

@TuNi54 can you confirm which connector you use? Thanks. If it's a mongodb specific error I can open as issue in `loopback-connector-mongodb` to track fixing it or further discussion. If it'

[2016-11-21 19:32] TuNi54 commented on #2917
Hi @jannyHou, thank you for your help.

Yes, I confirm the connector is `loopback-connector-mongodb`.

Thank you, I'm waiting your issue.

Regards

[2016-11-21 19:47] jannyHou commented on #2917
@TuNi54 @balanza I opened a new issue in mongodb and linked it to this issue to keep our discussion:
https://github.com/strongloop/loopback-connector-mongodb/issues/310

closing this one as a dup :)

[2016-11-21 19:47] #2917 closed

[2016-11-21 21:25] Amir-61 commented on #2949
👍  for Lexical ordering and documenting in our KB.

[2016-11-21 21:34] superkhau commented on #2949
Regarding this -- I think we should space out the actual operations that use the requires:

[code]

That way, we can treat it as actual var declarations (where order matters) instead of lumping those together with imports.

[2016-11-21 21:47] pthieu commented on #2949
I'm in agreement, Seems like a grey area here though. What happens if you only need `.extend`?

[code]
I'm believe the above is simpler, but not sure if SL wants:

[code]

[2016-11-21 21:48] superkhau commented on #2949
var util = require('util');

var extend = util.extend;

[2016-11-22 00:04] pthieu commented on #2949
So basically, we're instating the rule to always require the root module and assign any methods inside afterwards in a separate block. I'm ok with this as long as it's defined somewhere, which I guess I'll do when we have all the rules set.

[2016-11-22 00:35] danielrvt opened #2969 "PersistedModel.FindOrCreate returns a collection instead of an object"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

When using promises with the `FindOrCreate` static method of the `PersistedModel`, the result is a collection instead of an object, but the documentation states that the result is a single object.

[code]

### Link to sample repo to reproduce issue (if bug)

### Expected result

[2016-11-22 11:52] zulfatilyasov commented on #300
Currently you can validate nested CartEntity model by manually calling _entity.isValid() method
[code]

[2016-11-22 14:16] yshing commented on #2909
Seens added in 5.0.0

[2016-11-22 14:16] #2909 closed

[2016-11-22 18:55] ebarault commented on #2516
I pushed a PR enabling loopback to play with multiple User based models. Could you please have a look ?

[2016-11-22 22:52] raymatos commented on #1865
Is there a workaround? In my case i have an resource object that has a relation of `hasOne` to a file model. The file model has a remoteMethod of upload.

`/models/resources.json`
[code]

`/models/files.json`
[code]

`/models/files.js`
[code]

[2016-11-22 22:56] Amir-61 commented on #2963
@tomers Thanks for bringing this to our attention; it is fixed now by https://github.com/strongloop/loopback/pull/2973

[2016-11-22 22:56] #2963 closed

[2016-11-23 08:21] tomers opened #2976 "Documentation bug for model's deleteAll event"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

I think there is an error in the documentation of the `deleteAll` event (`lib/model.js`).

Current documentation:

#### Event: `deleted`

Emitted after an **individual** model has been deleted.
Argument: `id`, model ID (number).
...

#### Event: `deletedAll`

Emitted after an **i

[2016-11-23 12:02] ebarault opened #2978 "'use strict' breaks supports for db connectors in lib/applications.js"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Adding 'use strict' in lib/application.js on recent code style review broke the support for db connectors here : https://github.com/strongloop/loopback/blob/master/lib/application.js#L427

### Link to sample repo to reproduce issue (if bug)

any loopback example app, just npm ins

[2016-11-23 15:42] jannyHou commented on #2907
@jjhesk any update on this issue? Can you share more info about "hosted versions"? What's the difference between local version and hosted versions?

[2016-11-23 16:53] codephobia commented on #2950
BUMP. Would really hate to change the source code in loopback to work around this. Hoping someone has a solution for me and that I am just missing something.

[2016-11-23 16:53] loay commented on #2978
Thanks @ebarault Looking into your PR as well.

[2016-11-23 17:04] 0candy commented on #2617
@emazzu Did you resolve the issue? Can I close this?

[2016-11-23 17:08] drmikecrowe commented on #651
@Discountrobot and @dancingshell  --- converted to mixin:

You can expose methods in your model.json file:
[code]

or hide specific methods:
[code]

https://gist.github.com/drmikecrowe/7ec75265fda2788e1c08249ece505a44

[2016-11-23 17:12] ebarault commented on #651
hi,
As stated in https://github.com/strongloop/loopback/issues/2953
What do you think of adding an option per method to decide whether the remote method should be made totally unavailable (in code and over rest), or just over rest?

[2016-11-23 17:47] drmikecrowe commented on #651
What I chose to do (I just updated the Gist) is to not hide any methods that had explicit ACL's.  So, if you granted an allow permission, then expose that method or remote method (based on these comments https://github.com/strongloop/loopback/issues/651#issuecomment-219639397)

[2016-11-23 17:48] emazzu commented on #2617
yes, thank you !!!

Regards
Eduardo

[2016-11-23 18:30] superkhau commented on #2771
Done at https://github.com/strongloop/loopback-workspace/pull/332

[2016-11-23 18:30] #2771 closed

[2016-11-23 18:37] #2976 closed

[2016-11-23 18:50] antoinebrault commented on #1427
Any ETA on this feature? This is blocking for a lot of real world applications.

No progress on https://github.com/strongloop/loopback/milestone/17 for a long time.

[2016-11-24 00:25] beeman commented on #2866
@chojowliu I've created a fix for this in the PR referenced above. Feel free to try my fix to see if it works for you.

[2016-11-24 01:02] nhubbard opened #2981 "Installation dependency issues (Linux x64)"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Installation of the `apiconnect` package fails consistently when NPM attempts to install `fsevents`.

### Link to sample repo to reproduce issue (if bug)

### Expected result
API Connect installs itself and everything is hunky-dorey.

### Actual result (if bug)
Installation of API

[2016-11-24 16:37] rahpuser opened #2982 "Documentation of upsertWithWhere method"
### Bug or feature request
- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

**upsertwithwhere** documentation is wrong, missing where param.
[link](https://apidocs.strongloop.com/loopback/#persistedmodel-upsertwithwhere)

[2016-11-24 18:09] rahpuser commented on #2969
It returns an array [ object created or not, created flag ]. Not sure if there is another way to handle this ? for me it looks good

[2016-11-24 19:24] jannyHou commented on #2982
@Amir-61 ^^

[2016-11-24 19:29] jannyHou commented on #2981
@nhubbard apiconnect doesn't support node 6.x yet. Can you try with other versions?

[2016-11-24 19:42] jannyHou commented on #2981
@nhubbard Also the following link contains OS, hardware, prerequisites, etc.. of apiconnect:
http://www-969.ibm.com/software/reports/compatibility/clarity-reports/report/html/softwareReqsForProduct?deliverableId=D0880A20256111E5ABE72E1847D16897#!

You can find nodejs versions under "prerequisites"

[2016-11-25 18:01] f-w opened #2984 "Cannot define configs used by Express in config.json"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
I defined config *trust proxy* in /server/config.json. This config is recognized by Express so I expect Express uses it.

### Link to sample repo to reproduce issue (if bug)

### Expected result
Express uses *trust proxy* setting to return client ip correctly as described in https

[2016-11-25 18:07] juanfergaviria commented on #517
+1

[2016-11-25 19:06] Amir-61 commented on #2982
Fixed by https://github.com/strongloop/loopback/pull/2983

[2016-11-25 19:08] #2982 closed

[2016-11-25 19:38] gunjpan commented on #2967
@0candy : It's not due to changes in #2401. Investigating

[2016-11-26 10:43] beingshashi commented on #2964
Hi @jannyHou  I tried `sudo npm install yeoman-generator --save` and also `sudo npm install generator-loopback --save` , still i have same issues:-
npm version =>3.10.8
node version =>v6.9.1
ubuntu 14.04

[2016-11-28 00:40] jjhesk commented on #2907
yes. The issue is still outstanding. I had to manually using external program to convert the id into object id before storing into the db.

[2016-11-28 07:54] beingshashi opened #2986 "Implement Multi-tenancy Architecture in Loopback"
Hi,

I was reading this document [Multi-tenant Arch.](https://docs.stormpath.com/rest/product-guide/latest/multitenancy.html) , we have got that we also need to have the exact structure.

Now the issue is , we have been already using loopback as our backend application. And we want to move to multi-tenant system.

So question is does LoopBack supports Multi-tenant system?

If yes how can we achiev

[2016-11-28 11:15] zeriss commented on #517
+1

[2016-11-28 12:51] PaddyMann opened #2987 "hasMany through returns duplicate records"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Model one config (`organization.json`):

    "relations": {
      ...
      "users": {"type": "hasMany", "model": "OrganizationUser", "foreignKey": "organizationId", "through": "UserOrganizationRole"}
    },

Model two config (`organization-user.json`):

    "relations": {

[2016-11-28 16:27] jannyHou commented on #2907
@jjhesk Since I could not reproduce it on my localhost explorer, can you share more info about "hosted version"? Thanks.

[2016-11-28 19:03] superkhau commented on #2986
Closing this issue in favour #2901, please continue the discussion there.

[2016-11-28 19:03] #2986 closed

[2016-11-28 20:01] superkhau commented on #2867
Add script to https://github.com/strongloop/loopback-scripts

[2016-11-28 20:05] aekevinscroggins commented on #1460
+1

[2016-11-28 23:17] JonnyBGod commented on #466
This would simplify a lot f implementations.
Any news on this?

[2016-11-29 05:16] superkhau commented on #2498
Closing in favour of https://github.com/strongloop-internal/scrum-loopback/issues/876

[2016-11-29 05:16] #2498 closed

[2016-11-29 06:01] skyserpent opened #2989 "setHeader error when using accessType `WRITE` with principalId `$everyone` when doing POST /api/_modelName_/change-stream"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Error: Can't set headers after they are sent.
server-0     at ServerResponse.OutgoingMessage.setHeader (_http_outgoing.js:344:11)
server-0     at ServerResponse.res.setHeader (/Users/me/project/node_modules/loopback-explorer/node_modules/connect/lib/patch.js:134:22)
...

This happ

[2016-11-29 11:00] AndreMaz commented on #1853
I'm having the same issue. I need a structure like
- house/{id}/rooms/{id}/lights/{id}/level

with the following relations:

House hasMany Room
Room hasMany Light

but when i try to access it I get an error:

`
{
error: {
name: "Error",
status: 404,
message: "Shared class "House" has no method handling GET /1/rooms/1/lights",
statusCode: 404,
stack: "Error: Shared class "House" has no method handl

[2016-11-29 11:50] wikiziner commented on #1724
+1

[2016-11-29 14:25] AndreMaz commented on #2346
Hello @PaddyMann how did you solve this issue?

I facing a similar issue. I want to build the following endpoint

- House/{id}/rooms/{id}/lightSensors/{id}/readings/{id}

However with `nestingRemote()` I'm only able to get to the

 - House/{id}/rooms/{id}/lightSensors/{id}

and can't go to the deeper levels such as:

-  House/{id}/rooms/{id}/lightSensors/{id}/readings
-  House/{id}/rooms/{id}/ligh

[2016-11-29 15:03] PaddyMann commented on #2346
Hej @AndreMaz

We've initially tried to reduce the number of levels involved, trying to keep it to two. The downside is you need to have additional logic in your `role-resolver` to handle the parent levels. Currently only a fraction of our API has been moved over so I'm not 100% certain this will be the long term solution.

I've also hit a number of Loopback limitations that have led us to overide

[2016-11-29 17:36] thiago-soliveira commented on #1841
Any news on this?

[2016-11-29 19:56] pthieu commented on #2967
Possible duplicate of https://github.com/strongloop/loopback/issues/2966 (different app)

[2016-11-29 19:56] pthieu commented on #2966
Possible duplicate of https://github.com/strongloop/loopback/issues/2967 (different app)

[2016-11-29 20:43] Amir-61 commented on #2965
Fixed by https://github.com/strongloop/loopback/pull/2972

Thanks!

[2016-11-29 20:43] #2965 closed

[2016-11-29 20:44] Amir-61 commented on #2982
Fixed by https://github.com/strongloop/loopback/pull/2983

[2016-11-29 21:34] jannyHou commented on #2964
@beingshashi It still works on my end:
[code]
From the error message, it seems the datasource choice has some problem:

Can you fork https://github.com/strongloop/loopback-sandbox and provide me your project? I will run the command with the same project you tried, see if I can reproduce the error.

[2016-11-29 21:39] jannyHou commented on #2981
@nhubbard Any update? Hope apiconnect is working with you.

[2016-11-29 22:27] ritch commented on #1138
This is possible now. Closing.

[2016-11-29 22:27] #1138 closed

[2016-11-29 22:30] ritch commented on #856
If someone out there wants to build this, we'll link to it from our docs. But need to trim down the list of features we are thinking about.

[2016-11-29 22:30] #856 closed

[2016-11-29 22:34] ritch commented on #494
I think the idea makes sense, but its not something we can consider in our current list of features.

BTW I think the syntax mentioned above does work...

[2016-11-29 22:34] #494 closed

[2016-11-29 23:02] Amir-61 commented on #1513
I believe your question has been answered; is this still an issue? I'm closing this issue; however if this issue still persists, please leave a comment and reproduce the issue using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) and we will re-open the issue for you.

Thanks!

[2016-11-29 23:02] #1513 closed

[2016-11-29 23:09] Amir-61 commented on #2796
I'm closing this issue due to inactivity... please feel free to open issue with a sample repo reproducing the issue using https://github.com/strongloop/loopback-sandbox.

Thanks!

[2016-11-29 23:09] #2796 closed

[2016-11-30 00:43] Amir-61 commented on #2984
To make the triage process faster, I appreciate if you provide a sample repo using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) to reproduce the issue.

Thanks!

[2016-11-30 00:47] Amir-61 commented on #2969
`findOrCreate` returns an array; please see https://github.com/strongloop/loopback-datasource-juggler/blob/c8ade9e9d00737e8c4be266168b579ca9d72573e/test/manipulation.test.js#L1319-L1334

This needs some doc correction; I'm labeling it as `doc` so we will get it fixed soon. Thanks!

[2016-11-30 06:58] grandhisubrahmanyam35 opened #2991 "Loopback context returning undefined in afterRemote method"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
If i trigger any method through afterRemote , In that methods loopback-context returning undefined.

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional information (Node.js version, LoopBack version, etc)

[2016-11-30 13:06] Shereminskiy commented on #2797
I have got the same issue with model:updateAll.
Can it be somehow connected to loopback driver  like loopback-connector-mongodb?

[2016-11-30 15:40] Amir-61 commented on #2991
@grandhisubrahmanyam35

Not sure where you found this hook? AFICT, loopback supports `access`, `before save`, `after save`, `before delete`, `after delete`, `loaded`, `persist` and some remote hooks like afterRemote and `beforeRemote`; for OH please see: https://loopback.io/doc/en/lb2/Operation-hooks.html and for remote hooks please see:https://loopback.io/doc/en/lb2/Remote-hooks.html#overview

If

[2016-11-30 16:08] grandhisubrahmanyam35 commented on #2991
@Amir-61 Sorry, I suppose to mention **afterRemote** .

[2016-11-30 16:20] beingshashi commented on #2964
@jannyHou : Its kind of big project , earlier i was not having this issues , i think i have got this after updating the node and npm , mostly. So i have recorded a video and have mailed you please check it. Still it doesn't work for you. let me know will go on skype call , i need to solve this issue any way.

[2016-11-30 19:17] purushottamjha commented on #1477
+1

[2016-11-30 19:29] deepakrkris commented on #2918
@Amastyer adding 'test' property in the MyModel object will not add that to loopback model definitions. If you would want to add a property to a model , it would be in the model configuration json file

[2016-11-30 19:30] deepakrkris commented on #2918
@Amastyer please do let me know if you have any questions
@superkhau it seems reasonable for me to close this issue, do you agree ?

[2016-11-30 19:31] #2918 closed

[2016-11-30 20:29] loay commented on #2978
PR is merged. Issue is fixed.

[2016-11-30 20:32] #2928 closed

[2016-11-30 22:11] deepakrkris commented on #2915
@PaddyMann  use of getCurrentContext() is deprecated and a new approach is documented under https://loopback.io/doc/en/lb2/Using-current-context.html

@superkhau do you have any information to add here ?

[2016-11-30 23:01] superkhau commented on #1028
Connect to #443 because it looks related

[2016-11-30 23:38] JonnyBGod commented on #466
I just released two new mixins to take care of these features:

[loopback-set-through-properties-mixin](https://github.com/JonnyBGod/loopback-set-through-properties-mixin) allow to set through model properties

[loopback-include-through-mixin](https://github.com/JonnyBGod/loopback-include-through-mixin) allows to include model properties with queries

[2016-12-01 07:35] PaddyMann commented on #2915
At this point I've stopped trying to overide the standard functions and instead have disabled them and created new ones.

This isn't what I'm used to with other frameworks, but it's fine. I'll update my comments on #443 to indicate this is the case.

[2016-12-01 07:35] #2915 closed

[2016-12-01 07:38] PaddyMann commented on #443
My above solution for overriding methods is flawed as it doesn't provide a way to get the current context (now that getCurrentContext is deprecated).

Our solution has instead been to simply disable the default methods and create new ones. For clarity and consistency, we always name them `remoteFind`, `remoteCount`, etc.

[2016-12-01 09:49] ebarault commented on #651
@drmikecrowe , all, please see https://gist.github.com/ebarault/d162892cd1873faad45faa0d08ddcdfd

I refactored bits and pieces to make the code more straightforward and compatible with any version of loopback including v3 where a number of function names change.

Especially, i simplified the whole <is this a static or is this a related instance method?> logic. The reason why you only get static mo

[2016-12-01 11:43] ebarault commented on #651
After all I bootstrapped a whole new [mixin](https://gist.github.com/ebarault/1c3e43e19735f03dee8260471f8d3545?ts=2) which is more compact (leveraging on lodash sugar):

the option to enable methods from ACLs is now configurable with `enableFromACLs` param (which defaults to `true`)

[2016-12-01 12:05] ebarault opened #2994 "update patchAttributes method name in base Model User (loopback v3)"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Model remote method name `patchAttributes` is not valid in base model User, and should be replaced by `prototype.patchAttributes` here : https://github.com/strongloop/loopback/blob/master/common/models/user.json#L65

### Expected result

patchAttributes is activated by default fo

[2016-12-01 13:06] PaddyMann commented on #651
@ebarault Where did you spot `enableFromACLs` ? Not seen anything mentioned of it and searching Google and the codebase returns nothing...

[2016-12-01 13:49] pierreclr opened #2995 "validatesLenghtOf not working on array"
Hi,

I have a loopback app with a model (campaign) which embeds many campaignSteps on property steps. When I try to do

`Campaign.validatesLengthOf('steps', { max: 7 })`

I can't create a campaign with an empty steps array and loopback crashes me a validation error

Any help would be welcomed

[2016-12-01 14:12] ebarault commented on #651
@PaddyMann : it's from my own mixin code : [here](https://gist.github.com/ebarault/1c3e43e19735f03dee8260471f8d3545?ts=2#file-disable-remote-methods-js-L10)
you configure it in the mixin setup section of the Model definition : [here](https://gist.github.com/ebarault/1c3e43e19735f03dee8260471f8d3545?ts=2#file-example-json-L20)

 (although it's intended to bet set when expected false, as it defaults

[2016-12-01 14:19] PaddyMann commented on #651
ah great stuff (sorry I misread your previous comment!)

I'll probably give your mixin a try in the next week or two :)

[2016-12-01 19:32] Amir-61 commented on #2995
@pierreclr Based on what you described it seems it is a bug; however in order to make the triage process easier and come up with a `bug` label, could you please reproduce the issue with [loopback-sandbox](https://github.com/strongloop/loopback-sandbox)?

Thanks a lot!

[2016-12-01 19:38] jannyHou commented on #2987
@PaddyMann I am trying to reproduce your dup records but appreciate some details:
Is this bug related to "ROLE"? Since you mentioned instances' roles in:

User 2 is in organization 1 with role projectAdministrator
User 2 is in organization 1 with role accountant

Can I simply reproduce it with a hasManyThrough relation without touching any role definition?

[2016-12-01 19:47] Amir-61 commented on #2994
I could not reproduece this issue with LB 3.0; please try https://github.com/strongloop/loopback-getting-started-intermediate on master branch which uses LB 3.0; there `reviewer` model extends the built-in user model; and still we have patchAttributes activated for this model; could you try to reproduce this issue using [loopbakc-sandbox](https://github.com/strongloop/loopback-sandbox)? Or alterna

[2016-12-01 20:03] Amir-61 commented on #2991
@grandhisubrahmanyam35 could you reproduce your issue using [loopback-sandbox](https://github.com/strongloop/loopback-sandbox)?

Please see: http://loopback.io/doc/en/contrib/index.html#reporting-issues

[2016-12-01 20:17] c3s4r commented on #651
@PaddyMann: what would be the differences between using your gist and this module https://github.com/Neil-UWA/loopback-remote-routing ? (Are there any differences?) If there are differences, I would recommend creating your code as a npm module.

[2016-12-01 20:23] #622 closed

[2016-12-01 20:43] PaddyMann commented on #2987
@jannyHou This relates to our own schema:

- `User` is connected to `Organization` through `UserOrganizationRole`.
- `UserOrganizationRole` has columns `userId`, `organizationId`, `roleName`

It doesn't relate to roles within `Loopback`. You could replace it with an example of Patients, Doctors and Appointments if that makes life less confusing :)

[2016-12-01 21:02] PaddyMann commented on #651
@c3s4r You meant your comment for someone else? (no gists from me?)

[2016-12-01 21:29] c3s4r commented on #651
Sorry, I meant @ebarault. I just edited my comment.

[2016-12-01 22:28] ebarault commented on #651
@c3s4r thanks for bringing this mixin through
essentially the difference is that the solution proposed in this discussion can automatically enable only the methods explicitly covered by static ACLs in the model configuration, so you don't have to enumerate them manually once more

[2016-12-01 22:35] ebarault commented on #2994
@Amir-61
hi, i should have made it clearer, i posted it quickly while it was fresh. once should have read "patchAttributes is not **authorized** by default for smart role $owner for Models extending User base model"

but... it appears my test config misled me : although non static method now should be deactivated appending the 'prototype.' prefix (e.g. `prototype.patchAttributes` to the method nam

[2016-12-01 23:13] deepakrkris commented on #2925
REST endpoints can be customized using the http.path setting in model definition json : http://loopback.io/doc/en/lb2/Customizing-models.html#customizing-other-model-settings

example:
{
  "name": "modelName",
  "plural": "/",
  "http": {
    "path": "/aliasModelName" or "path": "/aliasModelName/version1"
  },
  "base": null,
  "idInjection": true,
  "properties": {},
  "validations": [],
  "relat

[2016-12-01 23:14] #2925 closed

[2016-12-02 00:36] #2943 closed

[2016-12-02 00:40] deepakrkris commented on #2943
@FraserChapman the 'default' field is only to populate the loopback-explorer UI screen fields, it will not auto-populate the API inputs.
https://loopback.io/doc/en/lb2/Remote-methods.html#argument-descriptions
And also to add... for field type http:body the explorer does not allow input values, so this feature is not available

[2016-12-02 04:06] rohmanahmad opened #2996 "where in relation"
im sorry , im new in loopback.

how to implement this.

[code]

[2016-12-02 07:51] jorafali commented on #2950
I just posted on the google group with the same issue thinking it was coming from me trying to setup my accessToken via middleware.json.

https://groups.google.com/forum/#!topic/loopbackjs/af_wBNJz3Ps

Out of curiosity : do you know what the registry condition is actually trying to test for ?

[2016-12-02 09:23] iliraga commented on #1275
I just checked, it seems to work rightnow.

`
POST https://api.whatever.ch/students
[{
  "name": "refki"
}, {
  "name": "xhevdahire"
}, {
  "name": "peter fischli"
}]
`

and as a result, something like this is retrieved:

`
[
{ "id": "asdfasdfasdfsdf", name: "refki" },
{ "id": "some_id", "name": "xhevdahire" },
{ "id": "some_id", "name": "peter fischli" }
]
`

So it seems to work. Maybe this issue

[2016-12-02 09:50] ahmetcetin commented on #1275
@iliraga which version of loopback you're using? @superkhau can this issue be closed if it's already merged?

[2016-12-02 09:54] iliraga commented on #1275
@ahmetcetin Selam, this is what i have in my package.json:

[code]

So loopback version **2.22.0**.

[2016-12-02 09:56] ahmetcetin commented on #1275
@iliraga tesekkurler, i'll give at a shot, i should update my loopback finally, this will be a good reason to update.

[2016-12-02 10:35] louisl commented on #2154
@richardpringle I'm having this problem too but I'm using built in models. It appears the guys above solved it basically by redefining the models with extended models therefore creating their own. I've tried getting the Role by id too as below. This is in an angular controller as part of a role manager I need to build.

Regards.

[code]

[2016-12-02 11:11] alexjoverm commented on #1275
@iliraga If you read the thread, this is about the under the good, when you pass an array of entities loopback iterates and creates them one by one instead of doing a bulk update. So the problem still remains.

[2016-12-02 14:04] projectxmaker commented on #1439
is there any final answer for this question ?

[2016-12-02 17:27] Amir-61 commented on #2996
Hey @rohmanahmad,

I'm afraid we have GH issues tab just for reporting `bugs` and `feature requests`; however we have https://groups.google.com/forum/#!forum/loopbackjs where both community and LoopBack experts can both help with your questions; would you mind please ask your question there? Thanks a lot 🙇

[2016-12-02 17:27] #2996 closed

[2016-12-02 20:13] JonnyBGod commented on #397
How is this feature coming up? Any timeframe for this to be implemented?

The lack of this feature is a big burden especially when you are crating a publicly available API where model names should make sense. Client is very different from User...

[2016-12-02 21:25] #2200 closed

[2016-12-02 22:46] c3s4r commented on #651
I just finished creating a module for this. I changed the names of the options a little bit, and added unit tests. I manually tested on loopback 2 and 3, and it seems to be working fine.

[https://www.npmjs.com/package/loopback-setup-remote-methods-mixin](https://www.npmjs.com/package/loopback-setup-remote-methods-mixin)

I'm also thinking on adding an option for defining new remote methods as wel

[2016-12-02 23:49] codephobia commented on #2950
No idea, but I did notice that for me, it is the only condition firing.

[2016-12-03 01:21] #1941 closed

[2016-12-03 10:32] iolp opened #2997 "Customise error if access permission is DENY ."
By default, if user doesn't have specific rights to, loopback sends:
`{
  "error": {
    "name": "Error",
    "status": 401,
    "message": "Authorization Required",
    "statusCode": 401,
    "code": "AUTHORIZATION_REQUIRED",
    "stack": "Error: Authorization Required"
  }
}`
But what to do if i want send custom messages and, maybe status, about permissions requirements ?

[2016-12-05 08:58] ebarault commented on #651
I said. I will be pushing the mixin as an npm module soon.
@c3s4r :
1. mention the contributors when publishing on npm, don't just publish as you own creation. I'm referring to the people who brought something from this discussion
2. the way you refactored does not work for nonStatic methods named with `prototype.` that are enabled from ACLs definition

[2016-12-05 11:10] AndreMaz commented on #2346
Thanks @PaddyMann

This limitation is a huge drawback and kinda reduces the utility of the whole framework. Instead of just worrying about the data model and (supposedly) the rest of the logic were done by the framework we now have to keep in mind that only two levels are supported and use workarounds to go further...

@bajtos @pthieu @davidcheung @richardpringle is there any prediction about wher

[2016-12-05 15:08] c3s4r commented on #651
@ebarault: Sorry, I did this on my best intentions, didn't want to steal the credit. I couldn't wait because I was needing it for a project, so I putted some effort on doing the unit tests, refactoring the code and publishing the module. Anyways,... let me know how you would like to proceed. I can mention you on the credits, or I can transfer you the project.

[2016-12-05 20:25] cfjedimaster commented on #2934
Sorry for the delay in responding. I'd say maybe here: http://loopback.io/doc/en/lb2/Authentication-authorization-and-permissions.html. In the table cell that discusses $owner.

[2016-12-05 20:37] kjdelisle commented on #2847
This issue has been fixed in the 3.0 release candidate, and because the fix was a large rewrite of the type coercion functionality, it will not be back-ported.

[2016-12-05 21:19] jannyHou commented on #2987
@PaddyMann Confirmed it's a bug.

[2016-12-05 21:57] jannyHou commented on #2987
A thought: I am trying to read the implementation of function `modelFrom.prototype['__findById__' + relationName]`, which maps that endpoint: https://github.com/strongloop/loopback/blob/master/lib/model.js#L529

Actually in javascript code, function `organization.users()` will fetch users with uniq ids:
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/scope.js#L118
// func

[2016-12-05 22:02] jannyHou commented on #2981
I am closing it since original question is answered. Feel free to reopen it if needed.

[2016-12-05 22:02] #2981 closed

[2016-12-05 22:10] jannyHou commented on #2964
Hi @beingshashi for security reasons I cannot open the video you sent me, sorry for that.
Some thought:

- If you are using `generator-loopback` inside `strongloop` module, try delete it and install a global  one: `npm install -g generator-loopback `.
- If it's already a global one, try remove the folder and reinstall it again.
- And please make sure that`generator-loopback` is **NOT** inside your

[2016-12-05 22:28] nidhhoggr commented on #1676
I was having issues with remote context a while back, especially after wrapping a remote method call in a third party library callback (particularly jsdom). I have been trying to find some practical working example of this aside from the examples that have been provided in this thread. Is it safe to say that https://github.com/snowyu/loopback-component-remote-ctx.js should pretty much address this

[2016-12-05 23:03] ebarault commented on #1676
@nidhhoggr : i just went through the code from snowyu component. It is essentially a port to coffee script of the one of the general idea developed in this thread about passing the context as an argument injected in the methods definitions (`option` argument).

If you want a pure node implem which is also making sure the context is available the same way in methods definition, remote methods hooks

[2016-12-05 23:08] vwchu opened #3001 "TypeScript Decorators for defining Models"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

In addition to TypeScript definitions for the Loopback APIs #1692, it would be incredibly useful and significantly improve the usability of the framework in TypeScript if the models could be define declaratively using [Decorators][1] in lieu of using JSON files. For instance:

[c

[2016-12-05 23:29] ebarault commented on #651
-> no pb @c3s4r : not my full credit at all either. We can add a list of contributors from this thread.
It remains that the implementation is broken for now. I'll reach out on your github repo to discuss these, we can co-author it if you will. Just give me a moment to move on with other pending stuff.

[2016-12-05 23:35] nidhhoggr commented on #1676
I can confirm @snowyu implementation is working and you snippet does give me a better understanding of what is happening with method injection etc. I see that your RemoteContext has a prototype method for setting the access token. Ideally would this be set in some middleware? The legacy implementation using getCurrentContext looked something like this:

[code]

So my question, is there a way to se

[2016-12-05 23:36] siddhipai commented on #2867
PRs created for cheked repos:

[generator-loopback] (https://github.com/strongloop/generator-loopback/pull/247)

[2016-12-05 23:44] ebarault commented on #1676
@nidhhoggr : there's actually a method for getting the accessToken, not to set it.
[code]
the accessToken is always available in the remotingContext, in the `req` object, so you can always get it from the helper `remoteCtx.getAccessToken()` provided in the snippet

[2016-12-06 00:06] nidhhoggr commented on #1676
@ebarault Okay I see now, so it's being set from the items in contextProperties array. Thanks you Sir!

[2016-12-06 00:10] c3s4r commented on #651
I just fixed the broken implementation but haven't pushed yet. (Can do it
tomorrow morning). Anyone that has contributed on the initial code please
let me know your usernames on npm so I can add you as contributors.

El dic. 5, 2016 6:29 PM, "Eric Barault" <notifications@github.com> escribió:

[2016-12-06 07:43] siddhipai commented on #2867
PRs created for checked repos:
- [X] [angular-live-set](https://github.com/strongloop/angular-live-set/pull/30)

[2016-12-06 08:39] #2706 closed

[2016-12-06 11:20] drmikecrowe commented on #651
@c3s4r I wouldn't mind being listed as "contributing", but I didn't do the heavy lifting (mainly started the mixin process).  @ebarault really took my start and ran with it

[2016-12-06 14:29] c3s4r commented on #651
I just pushed the package to npm with the outstanding bug fixed. Also, I added @ebarault and @drmikecrowe as contributors and a credits section in the README file.

[https://www.npmjs.com/package/loopback-setup-remote-methods-mixin](https://www.npmjs.com/package/loopback-setup-remote-methods-mixin)

[2016-12-06 14:42] ebarault commented on #651
hi @c3s4r,
[this](https://github.com/devsu/loopback-setup-remote-methods-mixin/blob/master/setup-remote-methods.js#L29) should be tinkered as it might lead to unexpected results since you make the choice to exclude both instance and static methods for a unique given name, let's continue the discussion on your github.

[2016-12-06 14:44] devotis commented on #651
@ebarault I think it makes sense to create an issue for that at https://github.com/devsu/loopback-setup-remote-methods-mixin/issues

[2016-12-06 14:54] bajtos opened #3003 "Test ES6 code in PhantomJS"
Right now, we use PhantomJS headless browser to run (some of) loopback tests in a browser environment. Unfortunately, PhantomJS does not support ES6 yet - see https://github.com/ariya/phantomjs/issues/14506

To allow us to write ES6 code, we need to add some sort of ES6-to-ES5 transpiler to our Grunt pipeline.

[2016-12-06 16:35] jannyHou commented on #2926
Confirmed:
test script:
[code]
console.log:
[code]

in mongodb:
[code]

[2016-12-06 17:43] ritch commented on #1803
This is a bug.. not sure why it was marked as a feature.

[2016-12-06 17:47] ritch commented on #3003
@bajtos anyone else able to take this on?

@kjdelisle @pthieu ??

[2016-12-06 18:02] #1267 closed

[2016-12-06 18:02] #1260 closed

[2016-12-06 18:03] #1256 closed

[2016-12-06 18:03] #1253 closed

[2016-12-06 18:05] #1248 closed

[2016-12-06 18:05] deviant32 opened #3005 "Remote method returning file called twice"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Create remote method that returns a file
`
generateThumbnail.returns = [
    { arg: 'body', type: 'file', root: true },
    { arg: 'Content-Type', type: 'string', http: { target: 'header' } },
];
`

in the remote method call the callback with the following:

`
cb(null, stream, fi

[2016-12-06 18:06] #1190 closed

[2016-12-06 18:07] ritch commented on #1190
Closing because stale :(. Please speak up if you think this should be prioritize higher.

[2016-12-06 18:08] ritch commented on #1189
@raymondfeng @fabien LMK if we should re-open. Closing for inactivity.

[2016-12-06 18:08] #1189 closed

[2016-12-06 18:12] ritch commented on #1165
We would have to change the way `deleteById` and friends behave to achieve this. I don't think we can really do that. Something to consider in loopback.next thought @raymondfeng.

[2016-12-06 18:12] #1165 closed

[2016-12-06 18:13] ritch commented on #1143
I don't think we want to make boot@2 BC. @bajtos re-open if you think we should.

[2016-12-06 18:13] #1143 closed

[2016-12-06 18:14] ritch commented on #1143
/cc @raymondfeng

[2016-12-06 18:15] ritch commented on #1098
Take a look at https://github.com/strongloop/strong-globalize

[2016-12-06 18:15] #1098 closed

[2016-12-06 18:26] deviant32 commented on #3005
This is only happening for images.  All other mimetypes seem to work fine.

[2016-12-06 18:35] deviant32 commented on #3005
Nevermind, the issue was with swagger going out and rendering an image in the results.

[2016-12-06 18:35] #3005 closed

[2016-12-06 22:09] amenadiel commented on #624
Thanks @virendra656
In my case, I needed to intercept well meant MongoError instances that shouldn't be served with status 500, they were more 409 (ish). This worked perfecly.

[2016-12-06 22:30] superkhau commented on #2997
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

That said, you can create remote methods that return whatever you need. See https://github.com/strongloop/loopback-example-app-logic#define-a-remote-method

[2016-12-06 22:30] #2997 closed

[2016-12-06 23:04] Casy commented on #2074
+1

[2016-12-07 00:24] gvillenave commented on #1666
+1

[2016-12-07 12:44] bajtos commented on #1143
IIRC, we are dev-depending on `loopback-boot@1` to verify that `loopback@2` apps can be bootstrapped using `loopback-boot@1`. The goal was to simplify upgrade from `loopback@1` to `loopback@2`, i.e. make sure that applications created with `loopback@1` project layout can be upgraded to `loopback@2` runtime without the need to upgrade the project layout too.

To be honest, I think we can drop the b

[2016-12-07 13:42] bajtos commented on #1260
Let me add more context for anybody who may come across this closed issue: I personally think agree with @fabien that encrypted properties can and thus should be implemented as a mixin. Additionally, I think it's best to keep this mixin outside of loopback core, to allow independent versioning and easier maintenance.

If it turns out that the two hooks "loaded" and "persist" are not enough to supp

[2016-12-07 14:02] richardpringle commented on #2154
Hey @louisl, I'm not actually working on LoopBack anymore but I could still try to help.

Are you just trying to create a role instance? Extending the Role model is a little more complicated.

[2016-12-07 14:15] wenkun-tonghui opened #3008 "loopback memory connector cached model issue"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
There are two models in my application. I am using loopback memory connector and the model relation is that, model A belongs to model B, while the foreign key is 'fid'.

1.
[code]

2.
[code]

3.
[code]

### Link to sample repo to reproduce issue (if bug)

### Expected result

Exce

[2016-12-07 14:15] wenkun-tonghui commented on #3008
@raymondfeng  Could you do me a favor to take a look at this issue?

[2016-12-07 15:09] jannyHou commented on #2907
I am still not able to reproduce the error. Closing it now and I notice that this issue is mentioned in
https://github.com/strongloop/loopback-connector-mongodb/issues/302
Let's keep discussion there since you already know that it's a mongodb bug :)

[2016-12-07 15:09] #2907 closed

[2016-12-07 15:42] bajtos commented on #3003
Ah, sure, of course.

So far, we are using `browserify` to build the browser bundle (see [test/karma.conf.js#L19](https://github.com/strongloop/loopback/blob/63beaa21fe270d6dc2f0fa5d6cf17d13048a3065/test/karma.conf.js#L19)) and adding `es5-shim` to add missing ES5 APIs (see [test/karma.conf.js#L23](https://github.com/strongloop/loopback/blob/63beaa21fe270d6dc2f0fa5d6cf17d13048a3065/test/karma.conf

[2016-12-07 20:23] asaf050 commented on #1672
Hey,
I'm having to same issue. here's my remote method:
`  function checkout(id, fk, quantity, serials, cb) {
        cb();
    };
    Kit.remoteMethod(
        'checkout', {
            description: 'Checkout quantity/serials of spesific kit item',
            accepts: [
                { arg: 'id', type: 'string', required: true },
                { arg: 'fk', type: 'string', required: true },

[2016-12-07 20:36] asaf050 opened #3009 "Error using remoteMethod Cannot read property 'apply' of undefined"
Hey,
I'm getting error while access the remote method via REST. here's my remote method:
[code]
The error i'm getting is:
[code]

[2016-12-07 22:11] b-admike commented on #3009
Hi @asaf050, can you give me the steps you took to reproduce this issue? I am trying to reproduce locally.

[2016-12-07 22:26] louisl commented on #2154
@richardpringle Apologies, I was unaware you've moved on. Thank you for your reply. Yes I'm just trying to create roles in the database for persistent use, Super User, Admin, Sales Team etc. But as explained above it's failing with ```TypeError: Cannot read property 'create' of undefined```

[2016-12-07 23:24] c3s4r commented on #651
@ebarault: I'm aware of the limitation, I didn't see it like a big issue, anyways, if you think it should be changed, please open an issue on the other repo and let's continue the conversation there.

[2016-12-07 23:25] gvillenave opened #3010 "User.email is not a protected property"
### Bug or feature request
- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
From the documentation (https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#protected-properties) it appears that User.email should be a protected property, but it's not currently. Is that by design or is it a bug? Is there a way to override that in a model that extends

[2016-12-07 23:41] crandmck commented on #2934
Thanks @cfjedimaster So, IIUC, the table cell should be...

Dynamic role:
 - $everyone (for all users). A relation to a model that extends user.
- a simple property called userId.
- a simple property called owner

Is that right?

[2016-12-08 01:12] rurivera6 commented on #2091
Wow, I just ran into the same thing.  Does loopback ever intend on supporting "inner" or "right" joins?  I'm having to filter my results for the right/linked table first then having to do an "inq" clause on the left table.  Klugie work arounds everywhere I need an inner join.

[2016-12-08 02:02] superkhau commented on #3010
Not sure if it was intentional, but it's not protected in the source at https://github.com/strongloop/loopback/blob/master/common/models/user.json#L24. You can override whatever you want when you extend the User model. The intent of the doc I think is to show you how to use protected properties (meaning if we changed the User in the doc to any other model, it'll still be correct). @crandmck ^

@ba

[2016-12-08 02:02] superkhau commented on #3010
@Amir-61 Only assign the triage label if you respond to the user.

[2016-12-08 02:11] Amir-61 commented on #3010
@superkhau I assigned to myself and was writing the answer to respond but after 5 minutes that I assign to myself and was preparing the answer you said this
Ok I leave this issue to you...

[2016-12-08 03:22] #3008 closed

[2016-12-08 08:57] bajtos commented on #646
Closing in favour of https://github.com/strongloop/loopback-datasource-juggler/pull/1180

[2016-12-08 08:57] #646 closed

[2016-12-08 08:59] pierreclr commented on #2995
Hi @Amir-61 I did what you expect from me : here is the repo https://github.com/pierreclr/loopback-sandbox

I created two branches to describe my bugs with the related chai tests in server/test/:testName.js
The first branch which is called bug/validate-length-embedsMany reproduce the bug I was talking about.
The second one is about a bug on default scope which I think is not a operational feature

[2016-12-08 09:52] bajtos commented on #3010
I don't see why `email` should be protected, thus I think the current status is intentional and we should fix the documentation.

While I was investigating this, I discovered that we have two similar flags: `hidden` (which is already used by [User model](https://github.com/strongloop/loopback/blob/63beaa21fe270d6dc2f0fa5d6cf17d13048a3065/common/models/user.json#L24)) and `protected`.

Quoting from

[2016-12-08 09:56] asaf050 commented on #3009
Hey,

I changed the
`function checkout (..)`
to `Modelname.checkout(..)`

Works now, Thanks!
Closing the issue.

[2016-12-08 09:56] #3009 closed

[2016-12-08 11:21] bajtos commented on #1769
@ritch this issue seems legit to me.

Based on my understanding of the problem and the discussion in #1770, the problem has two parts:

 - `AccessToken.prototype.validate` cannot be called via loopback-connector-remote.
 - When invoking AccessToken methods via loopback-connector-remote, the responses don't correctly coerce Date properties. This may be a bug in remoting metadata of AccessToken or a

[2016-12-08 11:45] bajtos opened #3011 "Configure database indexes for Auth models and relations"
At the moment, the authentication code (ACL, Roles, permissions) is making several relatively complex queries that are not backed by any database indices. This has two negative effects:

 - The performance suffers, as the database has perform full scan
 - Backends like Redis (and possibly ElasticSearch too?) cannot execute these query at all, see https://github.com/strongloop/loopback-connector-re

[2016-12-08 14:46] richardpringle commented on #2154
checkout https://github.com/strongloop/loopback-example-access-control and https://loopback.io/doc/en/lb2/Defining-and-using-roles.html. If you've seen those already, my apologies.

I think the reason that you might be seeing that error is because of where you're calling `Role.create`. I'm guessing that the script is running before all the models are finished initializing.

[2016-12-08 16:24] b-admike commented on #3009
Awesome! I suspected that but also my app didn't have `strong-remoting` as a dep and I wanted to find out what was happening there from your trace.

[2016-12-08 19:15] superkhau commented on #3010
@bajtos I agree, we should clearly indicate the differences of the two. @crandmck Can you help with the above? Escalating this from triage to doc and reassigning to you.

[2016-12-08 19:31] Amir-61 commented on #2995
@pierreclr

I could reproduce your bug for `emedsMany`. Thanks for reporting.

Let's please focus each GH issue for a specific bug instead of having more than one issue reported. Please create a new GH issue for that. Thanks!

[2016-12-08 20:22] Amir-61 commented on #2921
Could you please let me know the steps to re-produce the issue? Or alternatively can you reproduce the issue using [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) that I can run on my local machine?

Thanks!

[2016-12-08 20:30] pthieu commented on #3003
Sounds interesting, I can take this on. Might need some hand-holding. What's the priority on this?

[2016-12-08 21:53] superkhau commented on #3003
IMO, this is very important to having the loopback repo pass (I think there are windows issues related to phantom too).

[2016-12-09 01:36] dahuahe opened #3012 "Custom Role registerResolver"
if i custom ROLE  example
in *RoleMapping* data

in *Role* data

in *User* data

one model have the acl

      "accessType": "*",
      "principalType": "ROLE",
      "principalId": "$everyone",
      "permission": "DENY"
    },{
      "accessType": "READ",
      "principalType": "ROLE",
      "principalId": "admin",
      "permission": "ALLOW"
    }]

i find if it work only use **role.registerRes

[2016-12-09 08:11] jjhesk opened #3013 "lb-ng lb-services is not working"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Link to sample repo to reproduce issue (if bug)

in console i typed in `lb-ng server/server.js client/lb-services.js` from the root directory where package.json is located.

### Expected result
full items of controllers from the listed model names.

### Actual result (if bug)
it only got
[code]
and
[code]

### Additional information

[2016-12-09 09:28] bajtos commented on #3003
I would prefer to get this done ASAP. We have already spent a lot of time and effort to allow us to use ES6 in our code, I think this is the last missing piece.

On the other hand, this is not related to PhantomJS passing/failing in the current code, therefore it's not a critical problem.

I have explicitly disabled ES6 syntax in eslint config of loopback. For upstream dependencies like strong-rem

[2016-12-09 13:51] BenjaminHorn opened #3017 "REST filter bug"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

1. send the following request `http://localhost:3000/api/test2s?filter[where][and][0][valid]=true&filter[where][and][1][or][0][name]=test&filter[where][and][1][or][1][deleted]=false`
2. check for the console.log produced by the models https://github.com/matebrandl/REST-filter-tes

[2016-12-09 16:09] beingshashi opened #3019 "aws sdk startup error in loopback"
Hi,

I am getting this error when i start my loopback app:-

Web server listening at: http://0.0.0.0:3000
0|server   | Browse your REST API at http://0.0.0.0:3000/explorer
0|server   | You have triggered an unhandledRejection, you may have forgotten to catch a Promise rejection:
0|server   | SignatureDoesNotMatch: The request signature we calculated does not match the signature you provided. Check

[2016-12-10 04:07] roytan883 commented on #2847
I think the bug is **fatal**.
**application/json** is common way to input HTTP data.
But so strange, no one report this bug before?
Why do you reopen it ? I havn't test it on 3.0, so I don't known if it was fixed.

**Also i think it should be fixed in 2.x, if not, means we can't use 'application/json' in 2.x** ?

But i have test it with pure **Express** and **body-parser**, string and number are p

[2016-12-10 08:33] Overdrivr commented on #1936
Fixed via https://github.com/strongloop/strong-remoting/pull/385

[2016-12-10 12:02] dahuahe commented on #3012
somebody help

[2016-12-11 04:02] jjhesk commented on #3013
didnt resolve the issue. i worked around with using a starter pack to generate the same.

[2016-12-11 04:02] #3013 closed

[2016-12-12 03:05] yshing commented on #2059
@Amir-61 It looks like when 'findOrCreate' was used as promise, it resolves with an array `[data, isNewInstance]` which is not in the documentation...

[2016-12-12 11:54] bajtos commented on #2807
Done. Not all projects have released the new major version, but that can happen on a slower schedule over the next few weeks.

[2016-12-12 11:54] #2807 closed

[2016-12-12 15:54] dkarlovi opened #3022 "[Security] streamline errors for non-existant access token and expired access token"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

When handling an access token, Loopback will issue different error messages depending on the type of failure:

1) when the **access token is expired**, `access-token.js` will [state](https://github.com/strongloop/loopback/blob/master/common/models/access-token.js#L110-L112) "Inva

[2016-12-12 17:01] sffetlio opened #3024 "Related models don't get updated when updating a model"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
I have two simple models Account and Background. Account has
[code]
Steps to reproduce:

1. Create an Account
2. Create two backgrounds
3. Use PUT /Accounts/{id} with {"backgroundId": 1} to set a background for the account. Result:
[code]
4. Use PUT /Accounts/{id} again with {"bac

[2016-12-12 17:12] #2978 closed

[2016-12-12 17:14] lygstate opened #3025 "HttpContext.prototype.getArgByName show not pollute the body."
args = JSON.parse(args);

[code]

I have a custom command that have args as it's attribute.

[2016-12-12 18:33] skyserpent commented on #2080
+1

[2016-12-12 21:09] loay commented on #2568
Hi @shankarpilli
Can you provide more info so I can debug?
The info in the first comment are not enough. Can you please provide a sample repo so I can reproduce? Thanks.

[2016-12-12 22:12] #2867 closed

[2016-12-12 23:04] cfjedimaster commented on #2934
Yep!

[2016-12-13 00:46] crandmck commented on #2934
Fixed, thanks!

[2016-12-13 00:46] #2934 closed

[2016-12-13 01:06] JonnyBGod commented on #817
Is this still in the pipeline or is it better to create our own solution?

[2016-12-13 02:16] superkhau commented on #2905
@bajtos Reassigning to you to get planned whenever as this seems more up your alley.

[2016-12-13 02:49] superkhau commented on #2860
@ritch I think we should get @jannyHou to work on this feature as she is more familiar in this area.

[2016-12-13 07:14] shankarpilli commented on #2568
Its very simple. You have a server and application. In your database you don't have records. so you have send error message from the server.
How I have to wrote that in the server side and How that message get in the Android application error message.

[2016-12-13 11:17] AndreMaz commented on #1859
Hey @J0N47H4N

In your example you access Game model within the category.js by doing:

`
module.exports = function(Category) {

    Category.mature = function(id, callback) {
        var app = this.app;
        var Game = app.models.Game;
        .
        .
        .
     }
}
`
However when I try to do the same thing receive the following error:
'
TypeError: Cannot read property 'app' of undefine

[2016-12-13 16:59] NormanColoma commented on #1724
So, are you working on this?

[2016-12-13 19:01] jannyHou commented on #2860
@superkhau
According to the bug described in the first comment:

It seems more like a loopback-model/strong-remoting issue, I am not familiar with how the white/black list work :(

relation relevant part:
[`loopback/model.js`](https://github.com/strongloop/loopback/blob/master/lib/model.js#L232-L252) resolves relation functions in model.

[2016-12-13 20:44] yunyunzai commented on #2856
I think it has to do with datetime type validation specifically.
Following should propose a working solution but never merged.
[https://github.com/strongloop/loopback-datasource-juggler/pull/895/files](url)

[2016-12-13 21:39] superkhau commented on #2860
NP, I'm not sure either, I believe @richardpringle worked this feature awhile back. It'll probably touch both areas: remoting + the relation part you mentioned above. Anyways, let's leave it in the backlog and figure out when it actually gets prioritized. TY for chiming in. ;)

[2016-12-13 22:25] richardpringle commented on #2860
@jannyHou @superkhau, it wasn't actually me that worked on it. I'm not sure if nested relations were ever tested though.

[2016-12-13 22:45] superkhau commented on #2860
@richardpringle TY for chiming in. Guess we'll have to dig into it when it gets prioritized. :bowing_man:

[2016-12-13 22:48] emckean opened #3026 "documentation does not show that disableRemoteMethod is deprecated"
### Bug or feature request

- [ X] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

[Documentation for disableRemoteMethod](https://loopback.io/doc/en/lb3/Exposing-models-over-REST.html) does not indicate that this method is deprecated.

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional informat

[2016-12-13 22:54] crandmck commented on #3026
I was not aware of this...Why do you think it's deprecated?  The 3.0 release notes still say to use it: https://loopback.io/doc/en/lb3/3.0-Release-Notes.html#clean-up-of-api-for-finding-and-disabling-remote-methods.

[2016-12-14 00:37] crandmck commented on #3026
@bajtos Can you confirm that `disableMethodByname()` is deprecated?  If so, is it for 3.0 only or both 2.x and 3.0?

[2016-12-14 02:27] emckean commented on #3026
Hi -- I was going by this [line 439](https://github.com/strongloop/loopback/blob/7f2cdc106c61723543f9fb205f8298acd5f6633e/lib/model.js)

[2016-12-14 04:30] crandmck commented on #3026
OK this should be added to the API docs as well.  But my question to @bajtos stands: just for 3.0?

[2016-12-14 05:04] kobaska opened #3027 "Transactions on Rectify"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature

Pass transaction through to rectifyOnSave and rectifyOnDelete functions which get called on the after save and after delete hooks.

[2016-12-14 06:45] JonnyBGod opened #3028 "Rename User model to BaseUser"
### Bug or feature request
- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

As per https://loopback.io/doc/en/lb3/Using-built-in-models.html#user-model, "You must create your own custom model".

Given that, it would be better to rename the **User** model to **BaseUser** so that we could name our own model **User**.

In some cases the best name to call it

[2016-12-14 11:14] jjhesk commented on #2907
it is confirmed that this bug is related to [issue](http://stackoverflow.com/questions/21867199/loopback-mongodb-connector-modification-to-support-slug-ids) and not sure this patch is fixed at this [issue](https://github.com/strongloop/loopback-connector-mongodb/pull/15)

[2016-12-14 11:16] jjhesk commented on #2907
it is confirmed that this bug is related to [issue](http://stackoverflow.com/questions/21867199/loopback-mongodb-connector-modification-to-support-slug-ids) and not sure this patch is fixed at this [issue](https://github.com/strongloop/loopback-connector-mongodb/pull/15)

[2016-12-14 11:24] jjhesk commented on #2895
what is the resolution for this feature so far?

[2016-12-14 13:04] Overdrivr opened #3029 "Custom IDs can be overriden through REST API"
I am not sure this is a bug or a feature, but using this example config
[code]

The `id` can be redefined through REST API, and the value provided in the body has precedence over the "uuid" value.

It can be easily fixed with an operation hook

[code]

But it's rather inconsistent with the behavior of `"idInjection": true` where the id cannot be defined through REST api. So is this the expected be

[2016-12-14 18:33] yashmurty commented on #1987
@loay This issue still persists.
@n2sandhu did you find a solution for this?

[2016-12-14 19:49] bosco-li commented on #3025
@lygstate Thank you for asking.  We will need more information on what you did to be able to reproduce this issue.  Can you please provide a sample code for us?

[2016-12-14 20:08] bosco-li commented on #3024
@sffetlio I'm looking at the issue now will get back to you on this.  Thank you for using the template, makes things much easier and quicker.

[2016-12-14 20:14] superkhau commented on #3029
I would say yes its consistent because your are overriding default autoinc behaviour which injects numeric ids. I do agree it is sort of clunky and that you should be able to declare uuid type as part of the model definiton. @raymondfeng Thoughts?

For future reference, please post questions at on our [Google Groups forum](https://groups.google.com/forum/#!forum/loopbackjs) or try asking using liv

[2016-12-14 20:28] Amir-61 commented on #3029
Also you may consider using `forceId: true` if you want to prevent users from setting the generated id value manually.

Please see: https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#top-level-properties

[2016-12-14 20:53] bosco-li commented on #3022
@dkarlovi Thank you for the time you spent on creating this issue.  I'll put this as a bug in our backlog and prioritize this to work on.

[2016-12-14 21:23] bosco-li commented on #3012
@dahuahe We do not support multiple this with our function call.

To solve your problem, a proposal is to take a look at promistify the function and use methods like promise.map to make the coding easier for you.

[2016-12-14 21:23] #3012 closed

[2016-12-14 21:41] bosco-li commented on #2989
@skyserpent Thank you very much for following the template to create this issue.  Much appreciated.

For our benefit and to ensure we are on the same page, can we have an repo to see the code where you encounter this problem?

[2016-12-14 21:47] bosco-li commented on #2952
@cashweaver Thank you for opening the issue by following the template, this helps us a lot to understand the issue.

To me this seems to be a valid error code as we do not want to expose what resources is available and what is not to an anonymous user.

@superkhau comment?

[2016-12-14 22:12] bosco-li commented on #3024
@sffetlio I've confirmed with @raymondfeng that we do not support aggregate update over relations in one shot, at least for the current version of LB.

A possible way to workaround this I will suggest to add custom logic in the javascript file for the model you created

[2016-12-14 22:12] #3024 closed

[2016-12-14 22:31] sffetlio commented on #3024
@bosco-li Thanks for the comment. Actually my issue is not with the update over a relation, but the
[code]
Correct me if I'm wrong but in my example the included background object is loaded by backgroundId. And when I change the backgroundId with a PUT request, the new background object should be included and returned as a response to the PUT. This is not the case. The new backgroundId is correctl

[2016-12-15 02:55] superkhau commented on #2952
I would expect 404 as suggested by @cashweaver. @bosco-li Can you verify the results (by reproducing on your machine? If you get 401, then label this issue as a bug and move to needs priority as usual.

[2016-12-15 07:16] darknos commented on #2080
+1

[2016-12-15 07:55] Overdrivr commented on #3029
`forceId` was exactly what I was looking for. Maybe it could be nice mentionning it in https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#id-properties

However, using `forceId` with the following config is not working, the user-defined id takes precedence.

[code]

Request
[code]

Response 200
[code]

[2016-12-15 11:27] bajtos commented on #3003
@pthieu

[code]

The tests are passing because we are not using any ES6 yet. Here are the instructions how to reproduce the problem we need to fix:

 1. Enable ES6 in eslint config - remove [these three lines](https://github.com/strongloop/loopback/blob/f27cd2ccfb4da35f2d9dbdfd735d719fdb4c79db/.eslintrc#L3-L5). eslint-config-loopback allows ES6 by default, these three lines were overriding that se

[2016-12-15 12:05] somu1251 opened #3030 "How to get 10 documents in each include relation model"
Example:

Model name is category

My filter query is
{"include": [{"relation": "videos", "scope": { "order": "created DESC",  "skip": 0, "limit": 10}}]}

I want latest 10 videos for each category.

But using the above query getting only 10 videos from all the categories

[2016-12-15 13:53] yagobski commented on #756
I have same error with loopback 3.0

`Unhandled error for request GET /api/Albums/3?access_token=mJIE9mwBpcuSrAii3zuDxfYAJHnDGBSXRghm3a5HHa9g9vLZHh02eGglQUlz13on: Error: Cannot call AccessToken.findById(). The findById method has not been setup. The PersistedModel has not been correctly attached to a DataSource!
`

[2016-12-15 15:14] jannyHou commented on #2080
Anyone also interested in this feature please do 👍 on the first comment :) instead of adding new comments. Thanks!

[2016-12-15 17:21] superkhau commented on #3029
Looks like a bug with forceId.

[2016-12-15 17:22] jannyHou commented on #3030
@somu1251
what is your relation? Is it
- `Category` hasMany `Video`
- `Video` belongsTo `Category`
?
And are you calling api `Category.find()` with the filter?
For better debug, please fork https://github.com/strongloop/loopback-sandbox and replace with your use case :)

`Category.find()` will return you all categories instances with the 10 videos you want included in each instance:
[code]

[2016-12-15 17:31] jannyHou commented on #2881
Hi @shaheero if this is a MySQL issue then better to open issue in https://github.com/strongloop/loopback-connector-mysql and track discussion and fix there.

And please follow the template https://github.com/strongloop/loopback-connector-mysql/issues/new to provide more details :) Thanks.

[2016-12-15 17:37] jannyHou commented on #2873
@amerishk We mostly move to `slc start` instead of `slc run`, please check http://loopback.io/doc/en/lb2/Running-and-debugging-apps.html

[2016-12-15 17:38] somu1251 commented on #3030
Hey Janny,
Thanks for your quick response.

My model's relation is

* video belongs to category
* category hasAndBelongsTo video

Yes, I'm calling API Category.find() with the filter

{"include": [{"relation": "videos", "scope": { "order": "created DESC", "skip": 0, "limit": 10}}]}

Yes, I need response like this

[
  cate1: {
    videos: [];  // 10 videos
  },
  cate2: {
    videos: [];  // 10 vi

[2016-12-15 17:42] jannyHou commented on #3030
@somu1251 Try change "category hasAndBelongsTo video" to "category hasMany video"

[2016-12-15 17:49] jannyHou commented on #3030
And an example of using `include` filter with `hasMany` relation:
https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/include.test.js#L546-L548
That test case is very similar to your scenario.

[2016-12-15 17:54] somu1251 commented on #3030
@somu1251 Try change "category hasAndBelongsTo video" to "category hasMany video"

Tried with hasMany Relation
getting only 10 videos for all categories

[2016-12-15 17:56] somu1251 commented on #3030
Actually, I want to get 10 videos for each category

[2016-12-15 18:19] lazydino commented on #2142
Do you need to set up cookieParser middleware? I did

  "session:before": {
    "loopback#cookieParser": {
    "params": "${cookieSecret}"
    }
  },
  "session": {
    "loopback#session": {
      "params": {
        "secret": "kitty",
        "saveUninitialized": true,
        "resave": true }
    }
  },

in middleware.json but node complained

${cookieSecret} does not resolve to a valid value. "

[2016-12-15 21:54] jannyHou commented on #3030
@somu1251 I am confused, what do you mean by `each category`?
Can you post here what result you get from your api?

[2016-12-15 22:16] ritch commented on #2924
This is not a blocker for 3.x because we can fix this in the swagger generator.

[2016-12-15 22:34] kobaska commented on #3027
I see two options we could do:

1) Pass options object through to all the calls related to rectify
which means we have to add options to PersistedModel.rectifyChange, Change.rectifyAllChanges and Change.rectifyModelChanges:

PersistedModel.rectifyChange = function(id, **options**, callback) {
.....
  };

Change.rectifyModelChanges = function(modelName, modelIds, **options**, callback) {
}

2) Disa

[2016-12-15 23:48] lazydino commented on #2142
Find the solution, I need to set an express field like app.set('cookieSecret', 'kitty');  cookie-parser and session packages are required too.

[2016-12-16 01:58] upupzealot opened #3031 "How to access ctx(current user) in an operation hook without using currentContext ?"
As the doc saying currentContext is not stable and we are removing it in v3, then how can I do things like access ctx(current user) in an operation hook?

I'v read the doc and searched the issues here, still, waiting for a more official advice I think.

[2016-12-16 07:12] baluragala commented on #1698
Has this been implemented in latest versions ? if not, are there are any future plans to implement this? Happy to pick this up if this is still an open feature

[2016-12-16 08:50] somu1251 commented on #3030
HI Jaany,

API is Category.find with below filter

{"include": [{"relation": "videos", "scope": { "order": "created DESC", "skip": 0, "limit": 2}}]}

with limit 2 videos in each category

I have 3 categories (comedy, fun, education)

I m getting below response

[code]

But, I want response

[code]

[2016-12-16 11:06] LakshmiPrasanna-Kotagiri opened #3032 "Setting ACL for Extended User Model with DB persistance"
Bug

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional information (Node.js version, LoopBack version, etc)

[2016-12-16 11:07] LakshmiPrasanna-Kotagiri commented on #3032
We have requirement where users mapped to admin role should be able to create users. To satisfy the requirement  , followed below steps
1. Created Extended usermodel with DB persistence
2. Created tables related to user, acl, role, rolemapping and accesstoken
3. Created custom role "admin", have added user "BOB" to the admin role.
4. Also created John , Jane users and assigned other role.
5. Creat

[2016-12-16 11:48] iolp opened #3033 "Why custom all handling route executes before loopback generated routes?"
I have "app.get('*', viewRender());" after loopback boot, and before app.start. This is my views rendering middleware. But every request exept ones with routes, that defined in boot scripts is going to viewRender middleware. How can i set viewRender middleware for exepting requests with loopback auto-generated routes?
I have create the question here: [http://stackoverflow.com/questions/41183682/wh

[2016-12-16 13:05] mattietea commented on #1531
Did you end up figuring out a solution adanielyan? I'm getting a 500 error. I have the token in the header and I'm calling it on Users/logout but still getting error.

[code]

[2016-12-16 14:38] bajtos commented on #3031
We are working on the solution right now, please join the discussion in #3023.

[2016-12-16 14:38] #3031 closed

[2016-12-16 14:40] bajtos opened #3034 "Email/password change should not invalidate current session"
In #2693 and #3021, we implemented access-token invalidation when the users changes an email or a password. However, the current code deletes *all* access tokens, including the token used to make the change password/email request.

IMO, this is a poor user experience, the access token (session) used to make the change should be preserved.

One of the reasons why this was not made in the original p

[2016-12-16 15:14] adanielyan commented on #1531
@mattietea it's been a while ago, I can't find that code now. But I believe you shouldn't provide token in a header but should rather provide it as an argument to User.logout() function. Check out this docs: https://apidocs.strongloop.com/loopback/#user-logout

[2016-12-16 15:22] jannyHou commented on #3030
@somu1251 From the result it's more like video instances are not **related** to the first two category instances properly...not a problem of the filter.

A filter bug wouldn't result in some instances contain correct result but some not :p

Please make sure you can see video instances
[code]
in function
[code]

If it still doesn't work, please fork https://github.com/strongloop/loopback-sandbox an

[2016-12-16 17:36] codejie commented on #2264
i have the same issue when I used custom User and custom AccessToken models, and I found the follow code in model.js:301, I think it is the root cause.
var ANONYMOUS = registry.getModel('AccessToken').ANONYMOUS;

[2016-12-16 22:38] tamitutor commented on #1009
+1
Trying to send a query via the REST api.  Want to return Mongo documents where a particular field does NOT exist.

[2016-12-17 03:24] superkhau commented on #2547
Already impl'd by @bajtos at https://github.com/strongloop/loopback-connector-kv-extreme-scale, closing.

[2016-12-17 03:24] #2547 closed

[2016-12-18 02:10] itsvicsoto commented on #690
@sjmcdowall solution works, i tried paying attention to the middleware.json and yes it was missing sub-element `params` works like magic.

[2016-12-19 00:40] lygstate opened #3037 "How to make sure the uniqueness of indexes"
### Bug or feature request
- [X] Bug
- [X ] Feature request

### Description of feature (or steps to reproduce if bug)
The following is my model description.
[code]
And when I insert duplicated ackId join with deviceId
loopback doesn't raise error for me.

[2016-12-19 07:57] alihalabyah opened #3038 "Is loopback PCI compliant?"
Hi Everyone,

I was trying to search whether Loopback is PCI compliant or not? I would say it is but I'm not sure and of course I know at the end it depends on the final app you'll be building on top of it

But in general, Anyone has previous experience in this and what should be done to make sure the API is PCI?

Best,
Ali

[2016-12-19 09:53] ayon115 opened #3039 "Loopback remote method with Multipart request"
Hello, Can anybody provide me a sample code of a loopback remote method that's a multipart request having both text and a file in it's body ?

[2016-12-19 11:23] IzaGz opened #3040 "Loopback passport local auth doesn't save accessToken to database ."
I am tryng to use the 'loopback-component-passport' [https://github.com/strongloop/loopback-example-passport](https://github.com/strongloop/loopback-example-passport). In my own repo and in this example  loopback doesn't save neither 'accessToken' neither 'userIdentity'. Authentication is successful, in browser i can see cookies as 'connect.sid', but where can i find accessToken from server-side ?

[2016-12-19 16:40] ishansan38 opened #3041 "Sessions working fine on localhost, but gets expired in Chrome/Firefox after some time."
### Bug or feature request

- [x ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
I have been working with nodejs and loopback for a project which requires sessions to be active.
Sessions, though are working properly in my localhost, but gets expired after some time on server. I have checked it in Chrome/Firefox and are not working. Need help urgently.

### Li