[2017-11-08 16:30] adhicoder commented on #1525
One possible solution is to refer to the field again at the time of sql query. For example, if the query is {where: queryParameter}, then at the time of calling, call it as find(where: queryParameter.where). This is because an extra field is added to the queryParameter JSON object which is {queryParameter.order}. Hence extraction of the original query is necessary at the time of calling.

[2017-11-09 00:28] ataft commented on #512
Hopefully this is fixed in Loopback 4, so for now I'll just do like @johnsoftek with the following:

[code]

[2017-11-09 09:18] ivesdebruycker commented on #2500
For future reference, create file middleware.local.js:
[code]
Restart server

[2017-11-10 02:06] jersonjohn commented on #1645
I am implementing this right now.  So far going good.  But I may wanted to customise this little more than what was available, so I guess might need team's help.

[2017-11-10 15:58] #3588 closed

[2017-11-10 18:58] eramsa commented on #3646
I got solution from your guiding,
I've add a variable for `UID ` after storing it. removed attribute by
[code]

[2017-11-10 18:58] #3646 closed

[2017-11-11 02:25] mpereira-dev commented on #2073
This is still an issue. The proposed solution did nothing for me. FWIW I'm using Mysql.

[2017-11-11 08:30] #3591 closed

[2017-11-11 10:30] #3544 closed

[2017-11-11 13:30] #3592 closed

[2017-11-11 16:37] EmilianoCervantes commented on #1720
Have you tried creating a new js file with this:
[code]

[2017-11-12 07:49] L-David commented on #3644
sorry, I don't quite understand the warning, does it means we can't have two CustomUserModels having an ownership relationship to the same model instance or we should not use any of the built-in role resolver at all. Or shouldn't be using multiple user config in production and try to supercharge a simple user config.

[2017-11-13 06:19] waytoharish opened #3688 "LoopBack Swagger command issue"
Hi,
I am facing issue when running command with valid Swagger file-
apic loopback:swagger --filename myswaggerfile

C:\Users\HarishSharma\TestmySwagger>apic loopback:swagger --filename C:\Harish\DIP\APIFramework-master\APIFramework-master\Node\account-info-swagger.yaml
? Enter the swagger spec url or file path: C:\Harish\DIP\APIFramework-master\APIFramework-master\Node\account-info-swagger.yaml
Lo

[2017-11-13 12:01] akvaliya commented on #1511
I have used below code
[code]

When i modified existing index like
From
[code]
to

[code]
I got below error

**Unhandled rejection MongoError: Index with name: textSearch already exists with different options**

Does anyone have any idea how to resolve this?

[2017-11-13 13:00] #3101 closed

[2017-11-13 13:02] akvaliya commented on #576
I am using this

[code]
I am getting mdb null.
My datasource is
[code]
Anyone can tell me what am i missing here.

[2017-11-13 15:00] #3589 closed

[2017-11-13 15:00] #3535 closed

[2017-11-14 10:55] sleroy commented on #1337
Same for me as @mackwan84

[2017-11-14 11:20] eramsa opened #3690 "Is it possible to have nested models instead of master detail?"
Is it possible to make or build model which contain a model in itself? I build something like the fallowing but is not what i want really. I know how to make it in master detail in SQL databases or noSQL.
[code]
But in explorer shown like fallowing to POST or GET data:

[code]

[2017-11-14 13:17] ambrt commented on #1337
@sleroy it seems that answer is here https://github.com/strongloop/loopback/issues/1499#issuecomment-118250091

[2017-11-14 18:33] princecharmx commented on #3518
@supermafete @bajtos , is loopback being actively devleoped or its getting obsolete? No responses from anyone?

[2017-11-15 04:53] dhmlau commented on #3684
@raymondfeng , any thoughts?

[2017-11-15 14:47] luanxuechao opened #3691 "How to customize validation response body"
I don't  want it like this body
[code]
I want to custom a error body ,how can I do it? forword reply of you

[2017-11-15 14:54] Overdrivr commented on #2711
I didn't find the time to work on this yet, I will try next month

[2017-11-15 16:12] akki-ng opened #3692 "Where filter on multiple attributes not working with $near"
I have a ```Store``` model like below
[code]
My indexes in mongo looks like
[code]

I'm able to do ```find``` and ```count``` with two filters being used separately
[code]
But I am not able to use ```find``` with below filter while ```count``` still works
[code]

I'm going through this issue and I tried to debug it diving deep inside loopback and datasource-juggler code but could not find the root

[2017-11-15 21:18] #3658 closed

[2017-11-15 22:10] ajbeach2 commented on #1679
this is still an issue.

[2017-11-16 02:43] #3667 closed

[2017-11-16 07:10] b3rew commented on #630
try adding `"allowExtendedOperators": true` on your datasources.json mongodb connector

[2017-11-16 09:40] supermafete commented on #3518
Hi Patrik,

Yes is actively developed, but I don't know why this issue is not being
attended.

Regards,

2017-11-14 19:33 GMT+01:00 Pratik Chopra <notifications@github.com>:

[2017-11-16 09:41] supermafete commented on #3518
BTW, no, it's not merged in the latest versions.

[2017-11-16 15:06] denzelwamburu commented on #575
Was getting an error with `304` . This was due to local cache. Clearing it solves the issue.

[2017-11-16 17:54] #3598 closed

[2017-11-16 22:31] anodynos commented on #2812
Hi @kapoorji - check https://github.com/strongloop/loopback-next which is written (and consumed) in TypeScript!

[2017-11-16 23:42] dynshon commented on #3382
I have same problem, how did You resolved?

[2017-11-17 03:55] dhmlau commented on #2924
Per @crandmck 's comment, assign this to @bschrammIBM as well.

[2017-11-17 05:22] #3596 closed

[2017-11-17 07:03] joni-toivonen opened #3694 "'findById' returns 200"
api/TestModels/{id]

returns a 200 response if the element was found.

If the element was not found, it still returns 200.

The proper behavior when the element is not found should be to return 404

Edit:
Created an empty loopback application:
[code]

common/models/test-model.js:
[code]

common/models/test-model.json:
[code]

package.json:
[code]

server/datasources.json:
[code]

server/model-conf

[2017-11-17 07:13] jersonjohn commented on #1196
Hi there,

Is there any progress on this?  I am currently migrating our existing API services application from .NET Entity framework to loopback , basically preparing the POC for this.  New to this and exploring more,  Very interesting indeed, But stuck at this point, because in .net entity side have nested insert with relational models,  It will be much easier for me.  Sorry if it is wrong thread

[2017-11-17 08:22] #2948 closed

[2017-11-17 09:52] sunnyhk commented on #3593
Got similar issue, when I use {"where":{"id":XX}} it returns the correct result.
But when I try other clause like ("where":{"itemId":AAA}} it returns empty array.
Further test the id clause with some invalid id i.e. {"where":{"id":YY}}, it incorrectly return an array of full result including all items.
I'm using loopback 3.8.0

[2017-11-17 12:38] angelo24983 commented on #1314
@amazinggadget any news on this topic? I am facing the same problem :(

[2017-11-17 13:42] ahmetcetin commented on #1477
in api documentation (http://apidocs.loopback.io/loopback/#user-login) it looks like this feature is there but i couldn't make it working. is it already implemented? is there any sample code?

[2017-11-17 15:59] dhmlau commented on #3694
Could you please provide more information?
- any sample app
- which connector
- node version and loopback versions:
[code]

[2017-11-18 18:29] simoroshka opened #3695 "Authentication is not working with a model that extends User model."
# Description/Steps to reproduce
I created an Account model and based it upon User model.
<img width="408" alt="screen shot 2017-11-18 at 20 27 48" src="https://user-images.githubusercontent.com/7287215/32983546-03ed1b6c-cc9f-11e7-96e6-80219f8820c8.png">

Then I create a new account through the api explorer, login, get the token and apply it to the explorer. When I try to get all accounts it says

[2017-11-18 20:14] simoroshka commented on #3695
Sorry, got confused and did not realise that getting all accounts route is restricted even for User

[2017-11-18 20:14] #3695 closed

[2017-11-18 21:50] #2097 closed

[2017-11-19 03:50] #3605 closed

[2017-11-19 04:44] #2794 closed

[2017-11-19 21:58] dromaludaire commented on #3487
Looks like this will be closed when PR #1522 lands.

[2017-11-19 22:47] #3606 closed

[2017-11-20 03:39] jersonjohn commented on #1610
I still experiencing this issue?  Any update?

[2017-11-20 04:33] grmahajan11 commented on #1610
Hello Jetson,

Greetings,

Thanks for writing back.

We have changed our approach for this particular use case. Will not be able
to comment on its resolution. However, will try implementing it again soon.

Will write you back once I do so.

Thanks and Regards,
Ganesh Mahajan

On 20-Nov-2017 9:10 AM, "Jerson" <notifications@github.com> wrote:

I still experiencing this issue? Any update?

—
You are

[2017-11-20 04:35] privateOmega opened #3696 "Loss of Endpoints on upgrade"
# Description/Steps to reproduce

Bug: Upgrading from loopback-3.9.0 to any versions above it causes loss of some of the default Endpoints. I am unable to produce the code because it is running in production.

I've tracked the bug to the following lines in **application.js**:
**setSharedMethodSharedProperties(ModelCtor, app, config);
app.registry.configureModel(ModelCtor, config);**

Changing the

[2017-11-20 05:33] jersonjohn commented on #1610
Thanks

[2017-11-20 07:40] tky20 commented on #3623
anyone solved this or any workaround?

[2017-11-20 09:00] malpower opened #3697 "Event Stream Message Lost"
Hi,
I created an application based on loopback, and i created another client program try to receive the event throw the SSE, but i found that the message will be lost with some unknown reason.

Below is the client program code:

[code]

I tried 20 times on explorer to create new data, and the client only received 8 times.

Is there any thing i lost to config to the loopback program?

[2017-11-20 14:34] vvipulsuccess opened #3698 "How to override "replaceById" remote method."
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2017-11-20 15:00] Overdrivr commented on #3640
@raymondfeng  So to disable filters for a method, we need to implement a beforeRemote hook, and modify the context to delete the "query string" entry I'm guessing. Is this correct ? Is this an issue for ACL if the access token was passed in query string as well ?

[2017-11-20 15:43] jannyHou commented on #3487
@dromaludaire Thanks for reminding. Closing it.

[2017-11-20 15:43] #3487 closed

[2017-11-20 18:57] dhmlau commented on #3688
Summary of our investigation:
- the yaml file is valid
- the quick workaround is to remove `>-` in the yaml file.
- no js file being generated.

cc @raymondfeng

[2017-11-20 19:12] dhmlau commented on #3698
@vvipulsuccess , please see this thread: https://github.com/strongloop/loopback/issues/443

[code]

[2017-11-20 19:15] bschrammIBM commented on #2924
@rashmihunt
Can this be closed?

[2017-11-20 19:15] #2924 closed

[2017-11-20 19:31] raymondfeng commented on #3688
@waytoharish Can you attach your swagger file here?

[2017-11-20 21:55] raymondfeng commented on #3688
Based on a private version of the swagger I received, it doesn't have a separate `definitions` and all schemas are embedded. I'll make a fix to tolerate that but adding support for embedded schemas might be a bit involved.

[2017-11-20 23:02] #3133 closed

[2017-11-21 02:50] huylv69 commented on #3653
Up

[2017-11-21 03:07] dhmlau commented on #3688
PR: https://github.com/strongloop/loopback-swagger/pull/112

[2017-11-21 04:05] huylv69 commented on #3657
@JergenSimon
Why must create new method login? When i login by default method , it created a new token and stored to database. It just does not recognize the corresponding token when i login . Get an authentication token from the user super , how can that be done ? Thanks

[2017-11-21 04:33] vvipulsuccess commented on #3698
above solution is not valid one...

For replaceById, passing "id" which need to update, "body" which want to update.

[2017-11-21 06:00] princecharmx commented on #3518
@supermafete , thanks for responding. If you are in direct touch with the core team, please do reach out as this is big security loophole for loopback to be termed as enterprise friendly

[2017-11-21 06:42] stanislavt commented on #3686
Hi, @naumanahmad17
Here is the approach which works for me:
[code]

pay attention, that your model relation has name `order` but you use `orders` in afterRemote hook.

[2017-11-21 07:45] huylv69 opened #3699 "Error Access control with multiple user models ."
Hi all,
I have issues with "Access control with multiple user models" .
I run demo project at https://github.com/beeman/loopback-example-multiple-user-models
and read document in http://loopback.io/doc/en/lb3/Authentication-authorization-and-permissions.html#preparing-access-control-models .
I can login success, but when i use method or logout , server response same error : "accessToken is require

[2017-11-21 08:10] taimoor736 opened #3700 "'currentInstance' is undefined in 'before save' hook"
As per the documentation of version 3 it says that in 'before save' hook the context parameter of its callback function contains a property with name 'currentInstance'. But it always gives me undefined.
I don't know if documentation is wrong or its a bug.
I am getting this error while performing update on multiple instances.

here is my code

Please help me out with this.
Thank You.

[2017-11-21 08:32] #3581 closed

[2017-11-21 08:52] joni-toivonen commented on #3694
@dhmlau I added more information

[2017-11-21 09:56] supermafete commented on #3518
@princecharmx I'm not with direct touch with the core team. I'm just an external developer implementing Loopback solutions. I strongly think that this issue must be reviewed asap, as it concerns to security. The fact is probably nobody are noticing it because it only happens implementing property level security, and it's unnoticed using REST.

[2017-11-21 13:08] bajtos commented on #3518
Hello, sorry for the silence. Our maintainers team is small, unfortunately we don't have capacity to address all issues ourselves. Patches are welcome, we are prioritizing our support for people contributing pull requests over people reporting issues.

As for the pull request https://github.com/strongloop/loopback/pull/3618, the comment https://github.com/strongloop/loopback/pull/3618#issuecomment

[2017-11-21 14:58] supermafete commented on #3518
@bajtos All right. I will try my best to make a new PR, but I have no idea how to make a test case. Could you give me a rough guide?

[2017-11-21 15:09] SippieCup commented on #3696
Are the loss of default endpoints all in the `User` Model or a model that extends it?

I recently upgraded from 3.9 to 3.16.2 and did not experience any endpoints being removed. However, I did notice that after using the CLI to generate a new model, it would overwrite any model's JSON file that extended the `User` class.

Could you provide a bit more information?

[2017-11-21 15:22] SippieCup commented on #3640
@Overdrivr The access_token is passed via query string, so you would have to iterate through and pull out just the access token, and then ensure that you are handling authentication correctly.

I would not go that approach as it can potentially lead to some hard to maintain & understand code.

I would instead say that you should explicitly define the scope for the particular endpoints in the model

[2017-11-21 15:37] amismailz commented on #2987
Same issue here. Is there an estimate to solve this?

[2017-11-21 15:48] privateOmega commented on #3696
I found the loss of endpoints on models which were based on Persisted Model I think. I don't think there was any change's happening to the model's JSON file. Anyway I have pinpointed it to application.js file of loopback framework and have successfully got back the lost endpoints on changing in loopback 3.10. But after that codebase was heavily changed and being not very proficient, I was unable t

[2017-11-21 16:03] bajtos commented on #3518
@supermafete

Please don't open a new pull request, just add more commits to your existing one. As for tests, take a look at https://github.com/strongloop/loopback/pull/3293, I think it's a good example you can follow.

[2017-11-21 16:19] supermafete commented on #3518
@bajtos Ok, I'll do my best on further days.

[2017-11-21 16:42] SippieCup commented on #3696
What version of datasource connectors are you using? My guess is that its not being generated because its getting hung up when trying to attach models to the datasource. When you updated loopback, did you also update the datasource connectors?

If not, you should try doing that so that everything is in parity with just juggler.

[2017-11-21 17:26] rahulrsingh09 opened #3701 "Use the json like filters that is available for native loopback models for remote method"
I have this following remote method

[code]

I want to be able to use the regular exp filters for the above how is this possible like ```{"where":{"name":{"like":%rahul%}}}```

Can we do that in remote methods

[2017-11-22 09:11] TrevorPage commented on #3640
Without wanting to hijack, some of the points @Vincz has mentioned are kind of related to my use case where I wish to achieve the following:

- A GET to `/` (i.e. a `find` operation to list all objects) needs to return objects that are owned by the authenticated user, _and also_ those objects which are owned by other users but have a `shared` property set. (In other words, when listing the entire

[2017-11-22 11:42] TrevorPage commented on #880
Sorry to sound stupid here, but can anyone point me to the documentation (or code) that shows scopes being used in a REST API query? Or is this a feature long gone in an older Loopback version? All I can find references for now are the use of scopes within Include filters.

[2017-11-22 12:50] privateOmega commented on #3696
Mongodb is of v1.18.1. I have tried running the app using loopback 3.9 and 3.10 out of which loopback 3.10 causes the loss. I have even resolved the issue in loopback 3.10 by editing application.js file of loopback in node_modules. So are you saying it might be a version compatibility issue?

[2017-11-22 15:13] wzup opened #3702 "WARN deprecated nodemailer@2.7.2:"
[code]
 What solution for this?

[2017-11-22 15:28] wzup opened #3703 "ENOENT: no such file or directory, open '...\strong-globalize\package.json'"
[code]

What warn is this?

[2017-11-22 15:50] dhmlau commented on #3702
@wzup , please see the conclusion: https://github.com/strongloop/loopback/pull/3585.
Duplicate of https://github.com/strongloop/loopback/pull/3585

[2017-11-22 15:50] dhmlau commented on #3584
Closing in favor of https://github.com/strongloop/loopback/pull/3585

[2017-11-22 15:50] #3584 closed

[2017-11-22 15:51] dhmlau commented on #3688
@waytoharish , fix is in `loopback-swagger@5.4.0`.
Is it good to close?

[2017-11-22 19:08] SippieCup commented on #3696
Loopback is broken up into a few different repos as you are probably aware, I'd make sure you install  loopback-connector-mongodb v3.3.0 when you run loopback 3.16.2.

I think that will resolve the issue.

[2017-11-22 21:11] #3610 closed

[2017-11-23 04:47] taimoor736 opened #3704 "'exists' operator is not working if data source is memory"
I am getting no result if my data source is a memory. Its a bug. Whenever I apply the filter to an API with exists operator it's not producing any result even if the record exists in the file.
Please have a look at it.
Thank You

[2017-11-23 09:37] princecharmx commented on #3518
@supermafete , @bajtos , this problem is only with custom access token. I reverted to loopback AccessToken model than it started working as intended. Also, @supermafete , I tried to apply fixes you suggested but that did not solve my problem. I would like to know if you are also using custom access token in your project?

[2017-11-23 09:39] princecharmx commented on #426
@emazzu , @crandmck @raymondfeng  , this problem is only with custom access token. I reverted to loopback AccessToken model than it started working as intended.

[2017-11-23 12:00] konrad-garus commented on #1275
`create([])` does not seem to be transactional, which pretty much makes it useless.

[2017-11-23 13:15] #3686 closed

[2017-11-23 15:53] ihebski commented on #1809
While trying to parse the data using the GET method always failed .
Here is my solution to solve it .

You need to setup an access key in order to request the server for the data ,there is a user model when u access /explorer
![screen_1](https://i.imgur.com/94hAABA.png)

go to post and add a new user
![screen_1](https://i.imgur.com/bspYUXL.png)
`Note : delete id replace it with "password":"YOUR_PA

[2017-11-23 16:34] #3577 closed

[2017-11-24 06:07] #3510 closed

[2017-11-24 08:52] Bastorx commented on #2201
Yeah, the problem is the file is named url-not-found in node_modules (instead of urlNotFound), I copied-pasted and renamed urlNotFound the copy and it works. But edit the file in node_modules isn't a good solution.

Do you have a way to fix it ?

[2017-11-24 10:09] sstone1 opened #3705 "ID field with generated = true, forceId = true appears in Swagger example"
Reopening as #3510 was closed and this is regularly causing our users confusion.

# Description/Steps to reproduce

I am using the following LoopBack model definition:

[code]

Each instance of this type has those three properties ($class, id, timestamp).
The ID needs to be generated on the server side when creating new instances of this type.
The ID must not be supplied by the client.

# Expected

[2017-11-24 13:44] masalinas opened #3706 "How Loopback transactions with mysql and lock tables in find procedures"
# Description/Steps to reproduce

I have a procedure like this:

`
 Expedition.findOne(filter, function (err, result) {
                if (err) return cb(err);

                // create expedition header if not exist
                if (result == null) {
                   // add new expedition
                   ...
                else {
                   // update expedition

[2017-11-24 21:03] #2860 closed

[2017-11-25 01:50] web-hollywood commented on #213
Hi bajtos

I'm currently trying to download a file from the backend API(loopback3).
So I integrated it like this.

UserProfile.remoteMethod (
    'totalDeductions',
    {
      description: 'Total deductions for exporting',
      accepts: [
        {arg: 'sDate', type: 'date', description: 'Start date for the report.', required: true},
        {arg: 'eDate', type: 'date', description: 'End date fo

[2017-11-25 14:31] eramsa opened #3707 "How to get a master detail query by loopback?"
have Company and Product model with has many relation from company to product model. how to make a Get method to get company name or ID returns company information with all related products.

something like fallowing object:

 [{
        "C_name": "tatli",
        "address": "TR-IS- aktepe",
        "tel": "123456789",
        "id": "5a18772e61b6370e4c713b44",
      [{
    "P_Code": "123456",

[2017-11-25 18:26] matt-landers commented on #1495
On node 8.9.1 with the MongoDB  connector, getCurrentContext returns null if it is not set outside of the call to a model like:
[code]
However, it does work when you move it outside:
[code]
You also must use the bind option or it will return null as well. The documentation on loopback-context will have you pulling your hair out because it will not work as written.

[2017-11-25 20:09] danielhanzs commented on #3514
Thanks, I was trying to define in memory db inside the corresponding model another one, This solution is good for me

[2017-11-26 14:11] elboletaire commented on #2201
Should we wait for loopback 4??

[2017-11-26 14:20] jura-b opened #3708 "How to order remote hook from different file in a model?"
I have an afterRemote hook from a mixin and another in example-model.js. I want to control the sequence of the hook. Is there any possible workaround?

[2017-11-26 20:32] #3614 closed

[2017-11-27 04:16] dhmlau commented on #3703
@wzup , could you please provide more information on how to reproduce the warning message you've provided above?

[2017-11-27 06:26] PawanWagh opened #3709 "Adding to the model the count of related models instances"
Referring to this #917 . I would like to re-open this issue

[2017-11-27 10:55] hanleirx opened #3710 "How do I connect to a MongoDB Database using SSL with Loopback？？？"
Hi,
I want to connect to a MongoDB Database using SSL with Loopback and I tried js and JSON. But it didn't work for me. Could you help me how to config it?

[2017-11-27 13:49] VinaySingh1 opened #3711 "GeoSearch not working"
Hi,

I am using loopback 3.13.0 version and mongodb . I created model for geosearch having "geolocation" property  with "lat" and "lng" fields. Loopback query used for geosearch is

Mymodel.find({"geolocation":{"near":{"lat": 45.8846377,"lng":-95.3772806},maxDistance:100}})

I faced two issues:

1. In mongdb if any lat lng is not valid or null then it breaks the code. So I think for invalid values

[2017-11-27 15:51] #3587 closed

[2017-11-28 09:20] ssageghi opened #3712 "User.verify"
Hi
I'm trying to enable email verification and it's ok on local machine
the problem is when I build the app for deployment and upload the app to server
when user sign up and verification email send the port number is in the link and I don't want that.
(somthing like this: http://www.hostname.co:3000/api/Profiles/confirm? . . .)
I try setting the port number to 80 and it's worked on local machine a

[2017-11-28 11:13] #3590 closed

[2017-11-28 12:13] #1936 closed

[2017-11-28 14:23] Cooker-Monster opened #3713 "200 code for POST rather than 201 remains"
a __POST__ command returns a __200__ code instead of __201__.

It's a little bit strange because this nice Framework manages very more sofisticated and powerful features and that is the first ugly thing that we can see in the very beginning of a demo.

Please note that it's the same behaviour for 3.1.0 and 4.0.0 versions

# Steps to reproduce

lb demo
cd demo
lb datasource
lb model
node.
http://lo

[2017-11-28 19:13] #3612 closed

[2017-11-29 01:49] sebastianfelipe commented on #3576
I finish my thesis, couldn't do it before, I will have a look at it right now. Sorry for the late.

[2017-11-29 03:54] pradeep4sure commented on #3593
Got similar issue, using orgId in Content as foreign key of id in Organisation collection. Using Content.find({where:{ orgId }}) returning [] empty array. Getting results when using other fields like Content.find({where:{ name }}).

[2017-11-29 09:06] shaheero commented on #3644
Since 3.13.0 has broken even the current working $owner relations and introduced "ownerRelations" as per [ef7175a](https://github.com/strongloop/loopback/commit/e17132d06182e421b3da9a5544f68fc04c61ea17#diff-733982793c3bd5e61d1a4350451fb494) and now that this warning appears:

Is there any documentation on how and where to use "ownerRelations"?

In order for the warning to go away, where should `{o

[2017-11-29 09:11] shaheero commented on #3712
+1

[2017-11-29 09:18] privateOmega commented on #2202
Any updates on this?

[2017-11-29 09:24] privateOmega commented on #3696
@SippieCup I am so sorry to get back to you this late, but I've tried the above approach and it doesn't work.

[2017-11-29 09:46] privateOmega commented on #2202
@casamia918 Inorder to do that all you've got to do is build a persisted model for name and use the 'embedsOne' relation in the json file of all the models that require the name model. Hope this clarifies the question.

[2017-11-29 11:22] shaheero commented on #3712
Well, it is weird using port 80 on the server didn't work. Are you sure your node app is run on port 80 on the server? I am assuming you are not using HTTPS (port 443).

[2017-11-29 11:34] ssageghi commented on #3712
@shaheero I used nginx and it is listening to port 80 and make a reserve proxy to port 3000

[2017-11-29 11:43] shaheero commented on #3712
In the link that 'doesn't work' on your production server, if you replace :3000 with :80, does it work?

[2017-11-29 11:48] ssageghi commented on #3712
it worked without clicking on the link

[2017-11-29 12:16] ssageghi commented on #3712
it mean the userInstance verify itself and emailVerified in the user turn to 1 without clicking on the link

[2017-11-29 13:13] shaheero commented on #3712
How is that possible? What do you even mean? That the user.verify function is being triggered automatically after the email is sent? How is that related to mentioning the port number in the url?

[2017-11-29 13:29] ssageghi commented on #3712
I don't know but It happens to me :((((

[2017-11-29 13:30] ssageghi commented on #3712
Yes it's triggering and when i click the link the loop back say token  not valid

[2017-11-29 14:16] shaheero commented on #3712
Are you sure you don't have something in your code that is doing this automatically?

[2017-11-29 14:45] ssageghi commented on #3712
@shaheero Yes I'm pretty sure about that because on the local I can sign up and send verification email and verify that without problem but when I build that and upload to development server this happen
Is there another way to hide port number in the option that we pass to verify?

[2017-11-29 16:50] MROALI commented on #505
@nicolaspernoud  I will ameliorate your mixins to take into consideration the optional belongsTo relation.
I would add to the model relation an attribute  optional which indicates if the can't be null or not.

Example :
{
  "name": "taxonomy",
  "base": "PersistedModel",
  "idInjection": true,
 ....
"relations": {
 ....
    "parent": {
      "type": "belongsTo",
      "model": "taxonomy",
      "f

[2017-11-30 14:47] ivanschwarz commented on #3139
@bajtos : Hello. I don't think this issue was solved. If I clone a getting started [repository](https://github.com/strongloop/loopback-getting-started-intermediate) and run it, I don't see in StrongLoop API Explorer any `PATCH` endpoints being generated for related methods (e.g. `PATCH /Reviewers/{id}/reviews`).

**Steps to reproduce**:
[code]
Navigate to `http://localhost:3000/explorer/`

[2017-11-30 19:31] smachs opened #3714 "After login send data about user logged in to a model"
I apologize if this is not the right area to ask for this, but I've been looking for a few days and I can not find anything;

Is there any way that after the client logs in `POST /Users/login` he get the `"id"` from result of `POST /Users/login` and transport the data to a new `GET /CurrentLoggedUser/{id}` so that it for example to display the data in the front-end through the call `GET /CurrentLo

[2017-12-01 17:25] dhmlau commented on #3703
Closing it due to inactivity.  If problem exists, please provide more information on how to reproduce, and we'll be happy to reopen this issue.  Thanks.

[2017-12-01 17:25] #3703 closed

[2017-12-01 23:13] dhmlau commented on #3665
@emazzu , do you still encounter this problem?  If so, please provide the requested information above.  Thanks.

[2017-12-02 07:29] joshuaai commented on #1342
@IgorVieira you need to set the ACL on your custom user model to grant READ access to the get roles method (or all methods), to the owner.

[2017-12-02 10:19] VinaySingh1 opened #3715 "comparing string date"
I try the Restful API using below query in loopback
mymodel.find({where:{and[{status:"A"} ,{updatedDate:{"gte":"2017-11-01"}}]}})
But I can't find any record.
I am using mongodb and in mongodb updatedDate is string datatype with date values in format "YYYY-mm-dd".
Any suggestion?

[2017-12-03 17:58] supermafete commented on #3518
@princecharmx I'm not using custom access tokens.

[2017-12-03 22:05] #3620 closed

[2017-12-04 10:03] bajtos commented on #3697
Hello @malpower, thank you for reporting the issue. Could you please create a small app we can use to reproduce the issue locally on our computers? See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2017-12-04 10:35] kamal0808 opened #3716 "Array automatically transforms to object in findById filter"
# Description/Steps to reproduce
I'm trying to use the `PersistedModel.findById` function with the following filter..
[code]
where, `productModels` is a hasMany relation with the Persisted Model,
`sku` and `binLocation` are valid properties of the ProductModel,
and `productSKUsArray` is an array of strings.. `['103564','103561','AnokhiQueenQuilt','jerseystriped']`

When the method is called, I get

[2017-12-04 11:10] emazzu commented on #3665
Yes, thanks you !!!!

[2017-12-04 17:04] bajtos commented on #3139
@ivanschwarz I am afraid we don't have bandwidth to make this change ourselves. Would you like to contribute a pull request? I am happy to help you along the way.

[2017-12-04 19:09] VMois commented on #1799
@mike-aungsan I have the same problem. Could you explain to me why this it is called twice?

[2017-12-04 19:29] mike-aungsan commented on #1799
If I remember correctly, there is an issue with ACL rule. I did not really solve the problem. I just change ACL rule and try to avoid those rules combination that cause the problem. I did not remember exactly what ACL rules combination cause the problem.

[2017-12-05 03:50] dhmlau commented on #3665
@emazzu , glad to help. Could you please let us know the step to reproduce, and possibly a test project? https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.  Thanks.

[2017-12-05 03:52] dhmlau commented on #2711
Marking it as `help wanted` as @Overdrivr is interested to submit a PR.

[2017-12-05 11:10] emazzu commented on #3665
I could resolve the issue.
In the table RoleMapping I associate a user with the role for example:

Table Role Mapping
![image](https://user-images.githubusercontent.com/6100546/33604057-63b0a55e-d993-11e7-93c3-8d6d4a6b5af6.png)

Table Role
![image](https://user-images.githubusercontent.com/6100546/33603921-f9f19358-d992-11e7-887d-17a50284408c.png)

Before in the table roleMapping, I had added the

[2017-12-05 13:33] angfal opened #3717 "PersistedModel's updateAll method crashes the server when invoked via the remote connector"
# Description

I have a model with a remote datasource. When I tries to execute `updateAll` method my server crashes.

The problem is loopback registers `updateAll` remote method with an object type, which is not supported by strong-remoting type registry.

[code]

# Reproduction

To reproduce the problem, just run this test in any loopback application. It fails on `updateAll` shared method.

[cod

[2017-12-05 14:41] dhmlau commented on #3665
Closing as issue has been resolved.

[2017-12-05 14:41] #3665 closed

[2017-12-05 15:18] malpower commented on #3697
uh...
It's interesting, i couldnt reproduce the issue with the sandbox repo, but in our product repo, we can reproduce it whatever we use redis to store data nor using json file.

I'll continue to reproduce it, when i find the reason and it's really an issue, i  will open another.

BTW, thank you so much for your help.

[2017-12-05 15:18] #3697 closed

[2017-12-05 15:55] sebastianfelipe commented on #274
This problem exists in LoopBack 3.17.0 yet, is there a way to solve it from the config files?

[2017-12-05 16:17] sebastianfelipe commented on #274
A general solution, at least one that I applied and solved the problem, is stipulate in each JSON model file:
[code]
Or use for example a CustomPersistedModel, where is based on PersistedModel and every other model should be based on CustomPersistedModel and there apply that solution. That works with 3.17.0, I tried it now and it is working.

[2017-12-06 07:28] riteshvish commented on #1340
@raymondfeng how we can change defaultPremission of usersModel

I have created a model "Customer" with a base of "User" Model.
We have some dynamic field to save in Customer like customer profile where a customer can add any type of data.

Problem
when I am trying to update, put dynamic fields I am getting
{
  "error": {
    "statusCode": 401,
    "name": "Error",
    "message": "Authorization Req

[2017-12-06 11:06] naumanahmad17 opened #3721 "Trouble Executing the related model afterRemote method"
i have two models user and order.
user has one to many relation with order.

now when new order is created
using the route.

following is the post request.
/users/'+userId+'/order

i want to execute some code in after that order has been placed
what i have tried so for is that following
**In order.js**
`order.afterRemote('create',function(context,order,next){`
        ` console.log("Order Has been

[2017-12-06 12:08] naumanahmad17 commented on #3721
i have come up with the solution.
`user.afterRemote('prototype.__create__order', (ctx, message, next)=> {`
     ` console.log('remoteExutese');`
      `next();`
    `});`

[2017-12-06 12:09] #3721 closed

[2017-12-06 12:20] Grigorius commented on #3266
Any updates?

[2017-12-06 14:42] twboc commented on #3615
I am still reproducing this error with dynamically created models on boot time.

PACKAGE:
{
    "compression": "^1.0.3",
    "cors": "^2.5.2",
    "helmet": "^1.3.0",
    "loopback": "^3.17.0",
    "loopback-boot": "^3.1.0",
    "loopback-swagger" : "^5.5.0",
    "loopback-component-explorer": "^5.2.0",
    "serve-favicon": "^2.0.1",
    "strong-error-handler": "^2.0.0"
  }

CODE:

`'use strict';

[2017-12-06 16:06] jpventura commented on #3564
@kjdelisle https://github.com/jpventura/loopback-petstore

[2017-12-06 18:22] jonathan-casarrubias commented on #3487
@jannyHou I'm already in version 3.13.0 and I'm still unable to query related models when using hasManyThrough

a very simple query won't work

[code]

We have had this issue for some time now, I was expecting strongloop/loopback-datasource-juggler#1522  fixed it but the problem remains.

This is a pretty basic query not working, are you guys having the same issue?

[2017-12-06 19:05] dromaludaire commented on #3487
@jonathan-casarrubias https://github.com/strongloop/loopback-datasource-juggler/pull/1522 indeed fixes this issue, but it was committed on Nov, 14, ie. after 3.13.0 was released. You can either wait for a new version of datasource-juggler to be released, or use the master branch.

[2017-12-06 23:10] hsdhillon opened #3722 "Getting access to transport instance of nodemailer"
I am trying to make use of email-templates project for nodejs hosted at https://github.com/niftylettuce/email-templates/

It can take the nodemailer transport instance as config argument but I am having hard time to figure out how to access transport instance of email connector configured in datasource directly. Following is the sample configuration I have in datasorces.json for email connector.

[2017-12-07 00:28] hsdhillon commented on #3722
I found the details I was looking for. Using above example, transport instance is accessible using

`app.dataSources.emailBackend.connector.defaultTransport()`

[2017-12-07 00:28] #3722 closed

[2017-12-07 13:53] kjdelisle commented on #3564
@jpventura and I went over it together on Gitter and his particular use-case involves the swagger connector, which does things a bit differently (posting this here in case anyone was wondering about the subsequent reply).

[2017-12-07 18:21] pulkitsinghal commented on #3701
What is your datasource? If you are fetching from DB then even though loopback-juggler or ORM might support the syntax ... it is up to the specific underlying connector implementation to have the actual implementation.

For example:
1. Clearly the ORM supports the syntax you asked about:
    * https://loopback.io/doc/en/lb2/Where-filter.html#like-and-nlike
    * https://loopback.io/doc/en/lb3/Wher

[2017-12-07 18:25] rahulrsingh09 commented on #3701
Yes @pulkit we can do it after a bit of researching we found out. The docs were not that helpful at start. The one thing that bothers me is the lack of functionality of querying when comming to related models like for some thing i include in my model in mysql connector or a orm connector.Any idea of that as i got a few issues on the same , but to no avail all were closed due to no time for dev

[2017-12-07 18:26] rahulrsingh09 commented on #3701
Now i more interested in getting that included model filtered based on certain parameters of the included model. Like with sql joins. If you get any leads on the same i would appreciate it.

[2017-12-07 19:03] claylua commented on #2484
@gunjpan i can verify @jdhrivas steps does reproduce this issue.

Another ways to reproduce this is

1.  create a hasmany relationship between two models. eg. A has many B
2.  on A.js create after delete observable
3.  inside this observable, delete B using destroyAll won't destroy any B entries.

something like this

[code]

tested on Loopback 3.0

[2017-12-07 20:14] #3677 closed

[2017-12-08 11:24] akvaliya opened #3723 "Loopback timeout(no response from server) when make a time consume request"
I have a request which processes thousands of data. So sometimes It takes more then 5 minutes to complete.

But unfortunately loopback returns timeout(no response from server) before process is completed.

In nodejs request. You can remove request timeout for specific request by below code.

`request.setTimeout(0)`

Can anyone tell me how can i do this for loopback **remote method?**

[2017-12-08 13:06] bajtos commented on #3697
@malpower you are welcome! I hope you will be able to figure out the source of the bug, good luck :)

[2017-12-08 13:25] davidjconnelly opened #3724 "In search of a basic validation example"
Hello,

This is the first time I've ever posted on Github (yes, really!) and I hope I haven't broken any rules by asking a stupid question.

I'm currently trying to find a **basic and complete example** of how validation works.  All I'm really trying to figure out is how the basic structure/flow would work.

The best example I can find is from raymondfeng on this page:
https://github.com/strongloo

[2017-12-08 14:50] bajtos commented on #3615
@twboc could you please open a new issue for the problem you are experiencing and be more specific about the kind of error you are seeing? This issue is specifically about `$new_AccessToken`, which is not part of your discovered/auto-imported models AFAICT.

I am closing this issue as fixed.

[2017-12-08 14:50] #3615 closed

[2017-12-08 14:52] bajtos commented on #3266
Hello, I am afraid we don't have bandwidth to work on this feature. You are welcome to try to implement and contribute it yourself, but be warned that the implementation is going to be non-trivial.

[2017-12-08 15:28] bajtos commented on #651
@go2smartphone @Hyperc0der Please open a new issue describing the problem you are facing in detail, ideally with a small app reproducing it (see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report).

[2017-12-08 15:30] bajtos commented on #3643
Hello, I am afraid I have no idea what's going on and unfortunately don't have bandwidth to investigate right now :(

[2017-12-08 15:32] bajtos commented on #2353
Changing remoting metadata for relation methods is tricky. IIRC, their `sharedMethod` instances are always re-created and then dropped away, therefore your changes are not persisted. Please open a new issue to track this problem.

[2017-12-08 15:39] bajtos commented on #3642
Hello @Overdrivr, sorry for the delay, we have difficulties staying on top of all new issues - I am glad you have pinged me.

LoopBack models are "loose" by default, allowing clients to attach any additional properties beyond the pre-defined model schema. This is controller by model setting "strict" - see our docs here: https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#top-level-prope

[2017-12-08 18:12] Maransatto commented on #443
I've tried @veekungx solution too, but it seems to work as an override, but it shows me the error message: TypeError: cb is not a function

[2017-12-09 06:02] #3626 closed

[2017-12-09 11:57] twboc opened #3726 "Dynamic model discovery: "Swagger: skipping unknown type" error - no schema defined in Swagger UI"
Swagger cannot process dynamically discovered models on boot time which ends in a situation that Model schema is undefined in the swagger UI.

Swagger: skipping unknown type 'ModelType'

PACKAGE:
[code]

CODE:

[code]

[2017-12-09 13:39] dselman commented on #3638
I can also reproduce this bug.

[2017-12-09 18:12] aravindatcts commented on #576
I am getting error message - " Cannot read property 'connect' of undefined".
 Is there any way to add a hook when datasource is connected to trigger any event ?
app.dataSources.mongods.connect(function(err,db) {

mongods is datasource name.

[2017-12-09 20:32] ahmedsoliman64 commented on #1865
I got a solution i need to share with all of you

nestRemoting function take an options json object which contain an attribute called filterMethod this method filter the model function to get only the defaults methods so i passed this attribute callback function with customization in the ( else if ) to check my remote method ( DoWhat ) and return it

`server.models.Client.nestRemoting('units', {fi

[2017-12-10 05:20] eramsa opened #3727 "Where to place images and other components folder in loopback?"
I want to add blog images and documents specific folder and get access to files in project, where should i make this folders and how can access in front end? I've tested images folder on common, server and project root folder but I couldn't access by something like : `http://localhost:3000/logo.jpg `or `http://localhost:3000/images/logo.jpg`

[2017-12-10 08:14] jura-b commented on #3295
+1
Same issue here too

[2017-12-10 22:44] #3466 closed

[2017-12-11 01:21] jannyHou commented on #3727
Hi @eramsa LoopBack has several ways for static file support, hope these tutorials can help you:
- preconfigured with EJS out of box: https://loopback.io/doc/en/lb2/Tutorial-access-control.html#configure-server-side-views

- add static web page by defining static middleware: https://loopback.io/doc/en/lb2/Add-a-static-web-page.html

- front-end framework SDK: https://loopback.io/doc/en/lb2/Angular

[2017-12-11 01:39] jannyHou commented on #3726
@twboc Unfortunately in LoopBack3 I am afraid you can not load the dynamically built model in swagger, this is limited by the boot module: swagger is one of the built-in plugins that get executed before any boot script files, and also before function `app.start`, as you can see from the code

[code]

Now the LoopBack team is working on a new version and the boot implementation is about to start, p

[2017-12-11 01:39] #3726 closed

[2017-12-11 01:44] jannyHou commented on #3724
Hi @davidjconnelly welcome to the git community :) Have you looked into our documentation for "validating model data"?

Link: https://loopback.io/doc/en/lb2/Validating-model-data.html

I can provide more help if it doesn't answer your questions.

[2017-12-11 01:46] jannyHou commented on #3723
@akvaliya If you are using transaction, this is probably the answer: https://loopback.io/doc/en/lb2/Using-database-transactions.html#set-up-timeout

[2017-12-11 02:05] jannyHou commented on #3717
Hi @angfal I am trying to reproduce your error, are you running any endpoint from the Explorer(usually http://localhost:3000/explorer/)? If so can you post the endpoint name here? Thanks.

I am trying to figure out how do you execute the `updateAll` method.

[2017-12-11 02:26] jannyHou commented on #3716
Hi @kamal0808 thank you for your sandbox repo, I run it and tried with explorer endpoint
GET /StoreConfigModels/{id}
with filter:
`{"include": {"relation": "productModels", "scope": {"fields": ["sku", "binLocation"], "where": {"sku": {"inq": ["103564","103561","AnokhiQueenQuilt","jerseystriped"]}}}}}`

While I could not see the error, without the `where` clause it returns the correct result with o

[2017-12-11 02:29] jannyHou commented on #3715
Hi @VinaySingh1 I am trying to help you on this issue but the description is a little vague, could you fork https://github.com/strongloop/loopback-sandbox, provide your sample code with some testing data? Thanks, you can leave the datasource config as a fake one and I can test with my local mongodb database.

[2017-12-11 02:37] jannyHou commented on #3713
@Cooker-Monster Thank you for the suggestion, seems we have an issue for it: https://github.com/strongloop/loopback/issues/360

I also created an issue in LoopBack4 for it: https://github.com/strongloop/loopback-next/issues/788
and bring the attention to my team.

I am closing this issue as a duplicate and let's keep the discussion in either story above. Thanks for understanding.

[2017-12-11 02:37] #3713 closed

[2017-12-11 05:40] eramsa commented on #3727
Great thanks @jannyHou, I got help to solve it by using `loopback-component-storage` i will try those solutions you suggested.

Thanks for your guiding.

[2017-12-11 05:40] Overdrivr commented on #3642
You're correct that solves the problem (that has nothing to do with relations in fact). Thanks a lot

[2017-12-11 05:40] #3642 closed

[2017-12-11 07:09] angfal commented on #3717
@jannyHou I have two loopback servers A and B. The server A contains a model with a remote connector to the server B. When a function from the server A executes 'Model.updateAll' request to the server B, I receive success result, but the server A crashes when it tries to process the response.

I can provide a sandbox example if it doesn't help

[2017-12-11 08:59] akvaliya commented on #3723
It was quite easy then it looked like.

All i had to do is pass `http req object` in my remote method and then set timeout to 0.

[code]

[code]

Thanks anyway!

[2017-12-11 10:04] angfal commented on #3717
The links to sandbox:
- https://github.com/angfal/remote-updateall-crash
or
- git@github.com:angfal/remote-updateall-crash.git

Just run the both servers and execute `Message.updateAll` service from the explorer of serverA (3000 port). The server crashes

[2017-12-11 11:03] bluestaralone commented on #3575
if (fn === null) throw new Error("Callback was already called.");
I got the same problem, who can help me to solve it. Thanks.

[2017-12-11 11:21] davidjconnelly commented on #3724
Hi.  Thank you for your message.

The answer is yes.  I did see it.  Very respectfully, I'd have to say that I found the documentation to be less than perfect.

In my original post, I had typed out some very specific questions that I have regarding validation.  One or two of those questions have now been answered, pretty much because time seems to have the effect of solving problems.  Nevertheless

[2017-12-11 11:22] #3724 closed

[2017-12-11 11:45] kamal0808 commented on #3716
@jannyHou I figured, the sandbox env could not reproduce the issue. And I think the main reason for that is running the sandbox in loopback `^v2.22.0`, whereas my original project is running on loopback `v2.18.0`. I'll fix the sandbox to run on the same `v2.18.0` and let you know if I am able to reproduce the issue.
Question: If it is indeed a loopback version issue, are you going to help me solve

[2017-12-11 15:02] bajtos commented on #3644
@shaheero @L-David

 I guess this doc page would be the place where to document "ownerRelations", but AFAICT there is no mention there :( http://loopback.io/doc/en/lb3/Managing-users.html

We definitely did not want to break existing applications, that's why we introduced the new model setting `ownerRelations` that's turned off by default to preserve backwards compatibility. If there is a situatio

[2017-12-11 16:18] jannyHou commented on #3723
Great, glad to know you figure it out :) I am closing it since it's solved. Feel free to reopen it if you have other questions.

[2017-12-11 16:18] #3723 closed

[2017-12-11 19:12] viguirilo commented on #3700
It seems that this property was changed to `instance`.

I have tried every operations involving saving instances into my test model and in every response, I have received `ctx.currentInstance = undefined`.

So, I concluded that the docs are out of date.

[2017-12-11 19:26] viguirilo commented on #3694
I have tested in my new project and I couldn't reproduce this behaviour you are reporting.

Here is my request:

`http://localhost:3000/api/Tests/1`

Here is the response:

[code]

And here is my `package.json`

[code]

Probably this bug has been fixed in the most recent versions.

[code]

[code]

[2017-12-11 19:46] viguirilo commented on #3639
You may disable remote methods inside your `.js` file.

Loopback 2.x:
`MyModel.disableRemoteMethod('find', true);`

Loopback 3.x:
`MyModel.disableRemoteMethodByName('deleteById');`

You still be able to access these methods inside your application with `AnotherModel.app.models.MyModel.find();` but nobody could do it via REST API.

[2017-12-12 04:40] taimoor736 commented on #3700
Thanks for the reply @viguirilo. Please update the docs.

Thank You.

[2017-12-12 09:26] joni-toivonen commented on #3694
I just tried to replicate it and the problem still persists.
The problem might have something to do with how loopback handles redis.

[2017-12-12 12:30] Yaty commented on #817
Any update ?

[2017-12-12 16:23] #3702 closed

[2017-12-12 18:55] akashaggarwal7 opened #3729 "Problems with update related methods"
# Description
Apologies for not following the format strictly, I don't think I'd need to for these errors:
I'm facing these errors when trying to use these methods(TrainRouteStation is an extension of PersistedModel):
`TypeError: TrainRouteStation.updateAttributes is not a function`
`TypeError: TrainRouteStation.patchAttributes is not a function`

Initially, when I tried using `PersistedModel.upse

[2017-12-12 21:55] mauriceKA opened #3730 "Add documentation to User.verify()"
# Description/Steps to reproduce
If you run loopback behind a reverse proxy, it sends verification mails with a registration URL beginning with http://127.0.0.1:3000/
This will not work if the user clicks on it.

There are parameters in the options object passed to the verify-method, but they are undocumented. You can only get to know them by reverse engineering.

# Expected result
The parameters

[2017-12-13 16:25] #3633 closed

[2017-12-13 17:17] jannyHou commented on #3727
@eramsa You're welcome, glad to hear that you figure it out :) I am closing this issue since the problem is solved, feel free to reopen it if you still have questions.

[2017-12-13 17:17] #3727 closed

[2017-12-13 17:26] jannyHou commented on #3716
@kamal0808 I am afraid if the problem is solved in a new minor version, upgrading would be the best solution...If upgrading the whole package has risk, how about I help you figure out which is the fix PR and you cherry-pick it to your local package?

[2017-12-13 20:59] dhmlau commented on #3688
Verified.  See discussion in https://github.com/strongloop/loopback-swagger/issues/111

[2017-12-13 20:59] #3688 closed

[2017-12-14 08:45] bajtos commented on #517
FWIW, some support for querying nested properties was added by https://github.com/strongloop/loopback-datasource-juggler/pull/1239, plus https://github.com/strongloop/loopback-datasource-juggler/pull/1515 is going to fix coercion of nested values.

[2017-12-14 14:13] jasoncys commented on #3593
Got similar issue.  Here are the details:

- LoopBack version: 4.0.0 (generator-loopback@5.4.0 loopback-workspace@4.0.0)
- Node version: 8.9.1
- MongoDB version: 3.6.0
- Ubuntu version: 16.04 LTS
- ACL: Anyone can access to anything

Custom Participant model inherited from the built-in User with the following attributes:
    "user_type": {
      "type": "string",
      "required": true
    },

[2017-12-14 15:14] VinaySingh1 commented on #3715
Hi @jannyHou  thanks for replying. This issue has been resolved. Actually my updatedDate has date values in string data type. So when I changed the data type to Date then this starts working properly.

[2017-12-14 15:25] VinaySingh1 commented on #3711
Hi,
@fabien , @albertoleal  . Any suggestions on this issue?

[2017-12-14 15:49] bajtos commented on #2201
I am afraid that comment about a new error-handler was misleading. We do use [strong-error-handler](https://www.npmjs.com/package/strong-error-handler) instead of [errorhandler](https://www.npmjs.com/package/errorhandler), but the `urlNotFound` middleware is still required to convert "no path found" situation into a javascript error for the error-handling middleware to handle.

But yes, this probl

[2017-12-14 15:52] bajtos commented on #1495
I have cross-posted the comment above to https://github.com/strongloop/loopback-context/issues/21.

I am going to lock down this issue to collaborators only, please open new issues if there is anything else to discuss.

[2017-12-14 15:54] bajtos commented on #213
@web-hollywood I don't see any obvious problem. Please create a small app that I can use to reproduce the issue on my computer (see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report) and open a new issue. Thanks!

[2017-12-14 15:54] elboletaire commented on #2201
Yeah but, as you said, it's an entirely new code, so it's not a valid solution for the majority of us (I mean, the people in this issue).

In my case what I did was just add some hardcoded code to my `test.js` which copies these files to their expected locations if they not exist. Something like this:

[code]

[2017-12-14 15:59] bajtos commented on #2201
@elboletaire I feel your paint! Unfortunately we don't have bandwidth to investigate this issue ourselves.

My recommendation is to load your test setup in a debugger, set breakpoint to loopback-boot's compiler's method `resolveMiddleware` (see my earlier https://github.com/strongloop/loopback/issues/2201#issuecomment-290720446), and find out why the module resolver behaves differently in the test

[2017-12-14 16:06] bajtos commented on #1477
@ahmetcetin AFAIK, it's not possible to include arbitrary related models in `User.login` request yet. Would you like to contribute this feature yourself?

[2017-12-14 16:11] ahmetcetin commented on #1477
@bajtos i'll give it a try during Christmas break, till then quite busy.

[2017-12-14 16:11] elboletaire commented on #2201
I have the same time than you. The dirty trick works, so I'm not gonna loose more time on it.

We'll see if loopback 4 fits our needs btw... because it's like a totally new framework... 😕

[2017-12-14 17:08] phortonssf commented on #1477
@ahmetcetin below code is working for relational data on login. You can remove scope if you want every field from the relational data. Let me know if you have a different solution or idea.
The App-user.js returns user along with relational data. Needs node ^7.6.0
[code]

[2017-12-14 20:39] Maransatto opened #3731 "Managing callback error with try catch with many functions"
Hi folks,

I have a method that executes many creates and updates, and all of then has it's own callback.
The problem is that I can't throw the error when it has one, or show the callback when it's ok.
I tried to use try catch but it still goes to fulfill the finally part first.
I couldn't find any good error handling example;

Look at the code:

[code]
it only show me "ValidationError" in the con

[2017-12-14 21:42] jannyHou commented on #2882
I think this is the line that causes the problem: https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L2450

Let me try if I can omit/change the default value by passing in `options`

[2017-12-15 07:45] Overdrivr commented on #817
The approach I would use is similar to what Gitlab does, use OAuth2 for first connection to acquire user email, then let the user generate a password. It's not exactly the full OAuth2 flow, but at least in the end you can create a regular User with Loopback, and benefit from ACL/Authentication/etc.

Eventually, if you need interaction with the OAuth provider, then you might be able to store creden

[2017-12-15 19:19] viguirilo commented on #3654
Probably the first argument returned is the error. It means that your request had happened successfully.
Try to attach another argument in your callback function.

[2017-12-16 18:04] nitro404 opened #3732 "Data source names are not correctly assigned or retained"
# Description/Steps to reproduce

When a data source is created either via the data sources configuration file or programmatically, the name attribute is not correctly retained and defaults to the name of the connector used instead. Additionally, the settings attribute does not exist for programmatically created data sources, so there is no way to obtain the original name (that I know of) of the d

[2017-12-17 05:17] #3418 closed

[2017-12-17 15:09] vmvwebworks opened #3734 "broken links"
https://github.com/strongloop/loopback-example-rest-connector/blob/master/external-server/server/model-config.json#L31

https://github.com/strongloop/loopback-example-rest-connector/blob/master/local-server/server/datasources.json#L6-L20

from
## How do you perform a GET request to a remote server?

In this example, we have a REST API exposed in model-config.json .

To make a request to the remote

[2017-12-17 17:37] #2901 closed

[2017-12-18 13:52] avataristvan commented on #1525
@adhicoder: thanks, you saved my day!

[2017-12-18 15:06] joschne commented on #517
@tellex: After fixing two small bugs it worked very well! I think it is a very good starting point for those using postgres. Thank you for the initiative.

Since I had to copy the files of your repo to different places it's not so easy to provide you the fixes with a pull request…

[2017-12-19 09:10] #3629 closed

[2017-12-19 15:59] AllaanR opened #3735 "env in loopback-cli not working"
# Description/Steps to reproduce

I have the datasources.local.json file configured inside my project. When I run `lb model` the cli only shows the datasources from datasources.json.

[2017-12-19 17:17] privateOmega opened #3736 "Incorrect Documentation for built-In model - Application"
# Questions
https://stackoverflow.com/questions/34216308/use-of-the-application-model-in-loopback/39023999#39023999

# Description/Steps to reproduce
https://loopback.io/doc/en/lb3/Using-built-in-models.html#application-model
First link refers to the express application wrapper(http://apidocs.loopback.io/loopback/#application-new-application).

# Expected result
The link should refer to built-in m

[2017-12-19 17:21] privateOmega commented on #3735
What have you set the NODE_ENV variable to in the env file?

[2017-12-19 20:14] AllaanR commented on #3735
I also tried to set the NODE_ENV to local and it still doesn't work.
My entire app works using the .local files, but the cli doesn't.

[2017-12-20 06:19] subburaj51 commented on #3380
I Followed the same settings as `ttl=-1` and  `allowEternalTokens` in my extended User model. But `allowEternalTokens` is `UNDEFINED` why??

[2017-12-20 06:31] #3627 closed

[2017-12-20 06:31] #3624 closed

[2017-12-20 06:36] subburaj51 opened #3737 "Permanent AccessToken using ttl=-1"
Hi

I am trying to set the permanent AccessToken for my product.  I followed the instructions as i set `ttl=-1`, and  `allowEternalTokens= true` in my Extended User Model. But still  `allowEternalTokens` is `UNDEFINED`??

If i set  `allowEternalTokens = true` in loopback's user.json, its working fine..

[2017-12-20 09:06] #3737 closed

[2017-12-21 16:35] #3635 closed

[2017-12-21 23:07] stringbeans commented on #3094
this issue just bit us in the butt again :(

[2017-12-23 09:08] #3648 closed

[2017-12-25 11:31] abdonrd commented on #1841
Any progress? 🙂

[2017-12-25 15:19] artsrunimargaryanfd opened #3738 "Inherit from User model takes admin role loopback."
I've read Issues about multi user problems and ACLs for extended models, but still can't understand my problem.
I have User model (built in) and customer model inherited from User model. First User is admin in my case.
and I have such kind of permissions for all persisted models.
 {
      "accessType": "*",
      "principalType": "ROLE",
      "principalId": "$everyone",
      "permission": "DENY"

[2017-12-26 08:11] gaja33 opened #3739 "How to check whether data is already present in db"
hi.
I have a medicine model and i want to maintain unique medicine info, Before adding new medicine i want check whether current medicine is already present in db. im using postgresql..

[2017-12-26 12:08] masalinas commented on #3673
You could close the ticket, now I'm using query type attributes insted of path ones. No works nullable attributes using query type.

[2017-12-26 12:08] #3673 closed

[2017-12-26 16:09] #3619 closed

[2017-12-26 20:22] obo20 commented on #3593
i'm receiving this exact issue as well. Has anybody found a way around this?

[2017-12-26 22:36] Donluigimx commented on #3028
That means this is not happening?

[2017-12-27 02:40] jonathan-casarrubias commented on #3593
I suddenly started to present this issue as well,

[code]

it returns empty array :(

[2017-12-27 05:04] privateOmega commented on #2769
@Sigfried figured it out yet? I am stuck at the same point

[2017-12-27 11:19] choychris commented on #3356
I am passing an error intentionally to prevent some creation in 'before save' hook in **next(error)**,
then the **Unhandled error** pops up in console log. Any solution for this ?

[2017-12-27 11:32] creativemode opened #3740 "(node:2260) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot read property 'manifest' of undefined"
I was trying to build Android Platform form mobile app.
after this command >cordova platform add android
I am getting this error msg:

(node:2260) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot read property 'manifest' of undefined

I am not a developer so no idea what went wrong. Can anyone help me.

# Description/Steps to reproduce

# Link to r

[2017-12-27 17:02] jannyHou commented on #3711
Hi @VinaySingh1 which version of `loopback-connector-mongodb` are you using?

When I scaffold my app with loopback@3, the default version of mongodb connector is 1.18.1, and it doesn't seem to have the error:

./app/package.json:

[code]

Add a **geopoint** type property `` in model Note:

[code]

[code]

run the app with `node .`, it prints:

[code]

And the explorer works well too:

endpoint: `G

[2017-12-27 17:27] jannyHou commented on #3717
@angfal Thank you now I can see the error, the `count`'s type is `number`, so its type is `string`, which should pass the following assertion:
[code]
Probably for some reason the type for `count` is detected incorrectly...looking into the bug. Will update here when have the fix PR.

[2017-12-27 18:29] #3652 closed

[2017-12-27 18:29] jannyHou commented on #3717
FYI, I created a PR for it, but would like to hear opinions from `strong-remoting` experts before review.
https://github.com/strongloop/loopback/pull/3741

[2017-12-27 19:04] angfal commented on #3717
@jannyHou Thank you very much! But I made the same pull above. It was rejected

[2017-12-28 07:56] naumanahmad17 opened #3742 "Related Model Operation Hook Get Executed on Executing Model create function"
I have three Models
orders and driver and driver_order

relation between orders and driver is thought the driver_order and is  following

driver relation property.
 "order": {
      "type": "hasMany",
      "model": "orders",
      "foreignKey": "",
      "through": "driver_order"
    },

orders relation property.

"drivers": {
      "type": "hasMany",
      "model": "extendedUser",
      "foreign

[2017-12-28 19:46] jannyHou commented on #3717
I see...closed https://github.com/strongloop/loopback/pull/3741, I find the rejected PR, following the chat there.

[2017-12-28 19:56] jannyHou commented on #3739
@gaja33

If your medicine have a primary key, I think you can try specify `{index: {unique: true}}` in the model property, like this test case:
https://github.com/strongloop/loopback-connector-postgresql/blob/dfb8bd3a1b0481573fd15cb4b41d38ae1b1cb51b/test/postgresql.autoupdate.test.js#L182-L186

[2017-12-28 20:08] jannyHou commented on #3734
@vmvwebworks I think the example is re-organized into strongloop-community:
https://github.com/strongloop-community/loopback-example-connector

I am updating the document link.

[2017-12-28 21:46] jannyHou commented on #3734
Updated in https://github.com/strongloop-community/loopback-example-connector/pull/19
Feel free to reopen it if you have other question :)

[2017-12-28 21:46] #3734 closed

[2017-12-28 23:21] DerekTBrown commented on #2434
I am also experiencing this issue. Can it be reopened?

[2017-12-29 00:19] beirdostudio opened #3743 "Users with same id on different datasources can access one another's account"
Hello, I encountered this problem with users being able to access other users accounts with same id on different datasources.

# Description/Steps to reproduce

Create two users submodels with different datasource, create 2 users (id will be 1 for both), call get userModel/{id} while logged in with any of the users and you can access both users details

# Expected result

User not being able to ac

[2017-12-30 01:25] san2code commented on #1885
I have a similar use case and same question as @Overdrivr ,  Any help? @haoxy0 Did you get a solution?

[2017-12-30 03:02] dhmlau commented on #3743
@strongloop/sq-lb-apex , PTAL.

[2017-12-30 03:42] jannyHou commented on #3743
Hi @beirdostudio I am trying to reproduce your failure, have you tried example repo https://github.com/beeman/loopback-example-multiple-user-models?

I just tried with that repo but I had the opposite result as you described, I could not get a customer(or vendor)'s info after login. Maybe I test it in a wrong way, @strongloop/sq-lb-apex people more familiar with that example can give it a try.

My

[2017-12-30 04:47] #1905 closed

[2017-12-30 08:27] kurtommy commented on #517
in the doc i can read: `Loopback supports filtering nested properties in three NoSQL connectors: Mongodb, Cloudant, Memory.`

so a query like this it's impossible on mysql
User.find({where: {'address.tags.tag': 'business'}}

i can't see any valid workarount to achieve multiple join with where condition... that will require multiple queries leading performance issues (and resource waste)

any sugge

[2017-12-30 08:35] sskhokhar commented on #3593
The workaround to this problem is to use "Like" clause.
e.g
{"where" : {"chainId" : { "like" : "598c71f8a61ed73d00756212"}}}

I hope this helps you all.

[2017-12-30 09:04] jasoncys commented on #3593
@sskhokhar It works.

[2017-12-30 14:50] #3656 closed

[2017-12-30 17:24] sunnyhk commented on #3593
Unfortunately the "like" clause workaround doesn't work in my case

[2017-12-30 17:50] #3480 closed

[2017-12-30 19:37] kamilml commented on #3480
@SippieCup I copy/paste your example but I got this :(

![error](https://i.imgur.com/b11FC27.png)

[2017-12-30 21:21] SippieCup commented on #3480
I'd double check to ensure you did everything correctly, it's probably a race condition.

[2017-12-31 20:14] cfjedimaster commented on #3600
Nope - not stale - keep it open.

[2018-01-01 09:17] matuagarwal commented on #2882
Any update by when we can get fix for this
thanks in advance

[2018-01-01 22:02] andrewferk commented on #3682
No feedback on this?

[2018-01-02 09:18] bhavnagyanchandani opened #3744 "Unexpected Element is generated when model has property named "Type" in the complex object."
when creating a model, I have an element which is a complex-type property with one element named “type” in the model. While using this model to pass the payload to the connector, than  LoopBack is not passing the expected JSON to the connector instead it is passing [object object]. Any pointers on how to fix it  or is this a known isse?
For reference, attached is the sample model file.
[operation.

[2018-01-02 10:47] bajtos commented on #3743
@beirdostudio what is your LoopBack version? We have fixed similar issues relatively recently, see e.g. https://github.com/strongloop/loopback/pull/3666 and https://github.com/strongloop/loopback/pull/3675. Could you also verify that your application is correctly configured to support multiple user models as described in our [docs](http://loopback.io/doc/en/lb3/Authentication-authorization-and-per

[2018-01-02 14:56] PaddyMann commented on #2201
Just ran into this bag of fun.

Suggested solution for Loopback 3:
1. Copy code from `url-not-found.js`: https://github.com/strongloop/loopback/blob/master/server/middleware/url-not-found.js
2. Paste into your own `/middleware/url-not-found.js`
3. Update `middleware.json`, replacing `"loopback#urlNotFound": {}` with `"./middleware/url-not-found": {}`
4. Move onto the next issue... :)

[2018-01-02 16:17] jannyHou commented on #3682
Hi @andrewferk the warning is probably from here: https://github.com/strongloop/loopback-boot/blob/5060032d265bd457c14ea2510ecd0d017a7a2f1b/lib/executor.js#L388

I am looking into it.

[2018-01-02 22:07] jannyHou commented on #2882
FYI I created a PR to omit the default value for the embedded item, not finished, still in progress. Let's track and discuss the technical details there https://github.com/strongloop/loopback-datasource-juggler/pull/1532

[2018-01-03 01:38] bluermind commented on #559
{
"principalType": "ROLE",
"principalId": "$everyone",
"permission": "ALLOW"
},

the above solution only works because it allows everyone to read/write everything.
but if you have to use access control and add a custom role like 'admin' it doesn't work.
you will get "Authorization Required" on 'admin' method calls.
I fail on below.

staff.json: extension of the User model
`{
    "name": "Staff",

[2018-01-03 02:49] tqtran7 opened #3745 "Embeds many does not bulk create correctly"
# Description/Steps to reproduce
1. Remove lines https://github.com/strongloop-community/loopback-example-embedded-relations/blob/master/server/boot/z-customer-emails.js#L16-L45
2. Add
[code]
3. Launch the explorer
4. Models looks like
[code]

# Link to reproduction sandbox

# Expected result
When we expect
[code]

# Additional information

[2018-01-03 09:07] Munmw commented on #3356
yeah. same issue here as well.

[2018-01-03 09:49] #3662 closed

[2018-01-03 12:25] taimoor736 opened #3747 "findOrCreate method is not working when datasource is memory."
I have this function. If the Selected datasource is memory it gives me this warning.

`(node:30566) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): ValidationError: The `Account` instance is not valid. Details: `email` Email already exists (value: "admin@email.com"); `username` User already exists (value: "admin").`

It works fine if the selected datasource is mong

[2018-01-03 12:40] ayushkamadji commented on #3266
+1

[2018-01-03 15:44] akvaliya opened #3748 "db undefined on connect"
I am trying to access mongodb through native driver.

When i use connect method in my remote method. I am getting connected successfully but i am getting "undefined" as db object

 Purpose : Getting all fields name from collection.

    Activation.getUserFields = function (id, callbackFn) {
            Activation.app.dataSources.mongoConnector.connect(function (errconnect, mdb) {
                i

[2018-01-04 14:44] mdali602 commented on #683
I also have same issue. I have a very bad experience with loopback. This is a major issue should be fixed asap. :)

[2018-01-04 15:26] kreegr commented on #269
+1 Array?

[2018-01-05 00:30] rikantro commented on #2483
@vasanthps-rm I just only create a new var (_in my case baseRestApiRoot_) in config*.js like this

`module.exports = {
  baseRestApiRoot: '/api/v1',
  restApiRoot: '/api/v1.0.5',
  host: process.env.HOST || 'localhost',
  port: process.env.PORT || 3000
};
`

and I modified the middleware.json in this way

`
  "routes": {
    "loopback#rest": {
      "paths": [
        "${baseRestApiRoot}",

[2018-01-05 12:43] #3397 closed

[2018-01-05 15:16] bajtos commented on #1841
See https://github.com/strongloop/loopback-next/issues/656 and https://github.com/strongloop/loopback-next/issues/656

[2018-01-05 15:16] #1841 closed

[2018-01-05 16:06] Vandivier commented on #997
what about the text? Eg change page title from 'LoopBack API Explorer' to 'My Service Library'

[2018-01-05 16:19] cuzox commented on #1666
+1

[2018-01-05 17:22] #3664 closed

[2018-01-05 20:38] #2456 closed

[2018-01-06 18:42] #3645 closed

[2018-01-06 20:01] Vandivier commented on #2125
Does stalebot reopen? Is the Loopback 3 team open to a pull request on this issue?

[2018-01-06 21:42] mike-a opened #3749 "npm install -g loopback-cli Win7 "ERR! 404 Not Found: pinkie-promise@^2.0.0""
*** Note:  https://github.com/floatdrop/pinkie-promise/issues/4 reports pinkie-promise not being available today. Perhaps there should be a catch test to first dicover if the package is available, followed by graceful exception reporting if not.

# Description/Steps to reproduce
Installation bug...
$ npm install -g loopback-cli
npm WARN deprecated nodemailer@2.7.2: All versions below 4.0.1 of Node

[2018-01-07 07:11] Vandivier commented on #591
I'm having this issue in loopback 3. I'm reviewing Daniel's solution but at first glance the API is loopback 2 (app.models(), etc) and it's postgresql.

Here's what I'm seeing and here's the [repro](https://github.com/Vandivier/ella-api/tree/repro-automigrate-native-model).

![image](https://user-images.githubusercontent.com/5559355/34647391-97bd7d10-f34f-11e7-984e-2bfeed60e51a.png)

The below cod

[2018-01-07 12:36] tqtran7 commented on #2071
And another year later, it is still a bug... I am having the exact same issue. Can not update an embedded model via set.

[2018-01-07 12:40] #3668 closed

[2018-01-07 12:40] #3669 closed

[2018-01-07 12:50] tqtran7 commented on #2071
If anyone is attempting to use promises with this, it will not work. As soon as I switched it to the callback version, it worked.

[2018-01-07 15:37] Drulac opened #3750 "Use template-literal instead of EJS"
[Template Literal](https://github.com/Drulac/template-literal) is fastest, smallest and simplest template engine, because it use JS's literal template feature,

You can find here a simple wrapper for Express templating engine system : https://github.com/Drulac/express-tl/

It's  55 times faster than EJS, so it may be a good idea to use it instead of EJS 😀

[2018-01-07 19:17] Harry97 commented on #3700
@viguirilo @taimoor736 `instance` is yeilding `undefined` :disappointed: Am I missing something?

[2018-01-07 21:25] richardpringle commented on #2125
@kjdelisle ^

@Vandivier, I'm sure the LoopBack team is always open to pull requests!

[2018-01-07 21:25] richardpringle commented on #2125
FYI, I'm no longer on the LB team... just thought I would make that clear

[2018-01-08 13:27] #3670 closed

[2018-01-08 14:59] chrischnweiss commented on #1314
Same probleme here. :-/
Any suggestions to resolve it?

[2018-01-08 15:16] bajtos commented on #2201
@PaddyMann This is awesome, thank you for figuring the solution and sharing it on GitHub. I'd love to give your Jest preset more publicity, could you perhaps send a pull request to add your project to our [Community Projects](http://loopback.io/doc/en/community/index.html) section on loopback.io? See the instructions [here](http://loopback.io/doc/en/community/How-to-add-a-project.html). If you can

[2018-01-08 15:25] PaddyMann commented on #2201
@bajtos I can't take credit for this — after a prolonged fight, I was lucky enough to stumble across the good work by @negativetwelve

Kudos to him!

[2018-01-08 15:28] PaddyMann commented on #2201
This issue is the top search result when you hit the `loopback/server/middleware/urlNotFound` error (at least on the Strongloop site), so at least others should find it here in future.

[2018-01-08 17:18] #1009 closed

[2018-01-08 17:18] #3671 closed

[2018-01-08 19:42] luncht1me opened #3751 "BelongsTo Relationship doesn't respect foreignKey"
Not sure if this is intended, but it took me a moment to figure this out.

I'm using mongodb connector, for reference. All packages are updated to latest via npm.

I have a Mixin to set relationships for authors and recording modifications to a model, say a news article.
The definitions are as follows, where `m` is the target model:
[code]

This Mixin also includes an operation hook to update auth

[2018-01-08 22:53] rikantro commented on #2027
@davidcheung I have the scenario for the issue
Let say I have 2 config

config.json
[code]

and
config.test.json

[code]
and In the other hand, you added the example code for versioning your API.

[code]

when you try to get the value of blur property with
[code]
you get the value from the config.json, not from config.test.json.
The issue occurs only when a javascript configuration file exists

[2018-01-09 12:19] rahul9874563210 commented on #2432
I'm facing the same issue. it doesn't fire validation.

[2018-01-09 16:21] tluanga opened #3752 "src\ursaNative.cc(157): warning C4244: 'argument': conversion from 'ssize_t' to 'int', possible loss of data [C:\Use rs\Tluanga\AppData\Roaming\npm\node_modules\loopback-cli\node_modules\ursa\build\ursaNative.vcxproj] ..\src\ursaNative.cc(172): warning C4244: 'argument': conversion from 'ssize_t' to 'int', possible loss of data [C:\Use rs\Tluanga\AppData\Roaming\npm\node_modules\loopback-cli\node_modules\ursa\build\ursaNative.vcxproj]"
C:\Users\Tluanga\AppData\Roaming\npm\node_modules\loopback-cli\node_modules\ursa>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "" rebuild )
Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
  ursaNative.cc
  win_delay_lo

[2018-01-09 19:35] aiherrera opened #3753 "error TS2305: Module has no exported member 'get'."
Hi, I am trying loopback and following the docs, after installed, when I run **npm start** I get the following
error:

`src/controllers/ping.controller.ts(1,9): error TS2305: Module '"D:/back/node_modules/@loopback/rest/index"' has no exported member 'get'.`

when I look for the controller generated by the cli:

[code]
the compiler looks like can't find the @get module when tries to import it.
any

[2018-01-09 19:41] raymondfeng commented on #3753
The decorators have been refactored to a new module `@loopback/openapi-v2`. Please upgrade the CLI:

`npm i -g @loopback/cli`

And regenerate your app.

[2018-01-09 19:42] raymondfeng commented on #3753
@jannyHou We might want to re-export the decorators from `@loopback/rest` to keep backward compatibility.

[2018-01-09 19:51] bliu13 opened #3754 "Date and Timestamp Format for Loopback and Oracle"
Hi, I was using Loopback's Model Discovery features to generate a model based on an Oracle table.
I am having issues figuring out what type of date format that Loopback (and Oracle) will accept. The error message I am getting is "Error: ORA-01843: not a valid month". I have tried "2018-01-10", "10-JAN-18", "01/10/18", and etc, but none of them work. There seems to also be issues with generating Ti

[2018-01-09 21:39] bliu13 commented on #3754
Update: It wasn't the Date type that was not working, it was the Timestamp type.
With the Date type, you could pass in an ISO 8601 formatted time, "2018-01-09T00:00:00.000Z", or even just the date "2018-01-10", and it would still work.

I am not sure how to resolve the Timestamp issue.

[2018-01-10 03:59] CyrusZei opened #3755 "user model?"
Hi guys,

You should have the user model exposed in the common/models folder when you create a new project since it is a pain the ass to let's say you want to add profile info to the user model. You can use relation CLI for this. I am maybe doing it wrong =/

I have looked everywhere, but no luck on how you can do that.

what I want to do is be able to generate a profile model and then extend the

[2018-01-10 11:15] pbouda commented on #3744
I got the same problem, my complex property looks like this:

[code]

Whenever I store some nestedActions all the entries in the db array are just strings "[object Object]". If I remove the `type` property in the definition everything works fine. I use MongoDB.

[2018-01-10 13:13] bhavnagyanchandani commented on #3744
@raymondfeng - I have tried to add a simplified model for your reference:

[operation.zip](https://github.com/strongloop/loopback/files/1618840/operation.zip)

This is how it looks on Swagger UI:

![image](https://user-images.githubusercontent.com/17310585/34774579-dd6b3170-f635-11e7-8f7f-65149c961f1f.png)

This is how it is sent to the connector:
![image](https://user-images.githubusercontent.com

[2018-01-10 16:10] jannyHou commented on #3753
Sorry for replying late.
@raymondfeng Sure, making the PR now, the document&example update will be a little slower

[2018-01-10 16:42] CrossPT opened #3756 "Relation filter to directly return field instead of object with that field."
Is it possible to create relations filters to return relation data like this:

**Atual**
`categories: [
{
id: 8
}, {
id: 10
}
]`

**Desired:**
`categories: [ 8, 10 ]`

Already using protected of the related model, but I have an array of objects with the id, instead of having an array of ids only.

Is it doable?

[2018-01-11 00:33] beirdostudio commented on #3743
@bajtos sorry for the very late response, I did not follow the part of the doc where it talks about multiple user models so it's my bad, the app changed since then so it's not using different user models anymore but I'm still interested in that so as soon as I get some time on my hand, I'll make a sandbox app to try it out and report back.
@jannyHou did you forget to set the access token after log

[2018-01-11 03:52] yqrashawn commented on #3400
loopback3 already support async function.
[code]
These two functions will accomplish the same functionality.

[2018-01-11 09:08] Sanbornzhang opened #3757 "How to learn ?"
If i want to learn loopback framework [ deep logic]
Where should i start

1. start with loopback source code?
2. or something 101 doc?

[2018-01-11 20:20] dhmlau commented on #3757
@Sanbornzhang , is there anything in particular that you're interested in?  Our documentation can be found here: http://loopback.io/doc/en/lb3/.

Please also note that we're working on the next version of LoopBack (LoopBack 4) which is currently in Developer Preview release.   It's a rewrite of the existing LoopBack framework and more extensible.  More information can be found here: http://loopbac

[2018-01-11 20:23] dhmlau commented on #3752
@tluanga , not sure if I get the issue you're trying to report, could you please clarify? Thanks.

[2018-01-11 20:38] dhmlau commented on #3749
@mike-a , I just tried it and it seems to be working for me.  You might want to give it a try as you mentioned `pinkie-promise` was not available earlier.  Thanks.

Here is my output:
[code]

[2018-01-12 01:16] Sanbornzhang commented on #3757
yes,  like how to register model(found form source code),how to register middleware. so i mean "If someone wants to join this project,where to start", where is the Developer doc? or flow chart(like http req -> express -> middleware acl  -> middleware parse  -> middleware router -> before hook  ...)

[2018-01-12 02:06] OSMeteor opened #3758 "strongloop convert swagger.json to md"
[ https://github.com/OSMeteor/sltomd]( https://github.com/OSMeteor/sltomd)
convert strongloop swagger.json to markdown file
swagger.json -> .md -> gitbook -> pdf

[2018-01-12 14:11] dhmlau commented on #3757
@Sanbornzhang , I'd suggest you check out the official documentation: http://loopback.io/doc/en/lb3/.  The [Core concepts](http://loopback.io/doc/en/lb3/LoopBack-core-concepts.html), [Getting Started](http://loopback.io/doc/en/lb3/Getting-started-with-LoopBack.html) and the [tutorials](http://loopback.io/doc/en/lb3/Tutorials-and-examples.html) would be a good place to start.
Hope it helps.

[2018-01-12 19:04] Rikhart opened #3759 "Boolean type allways return true"
I have a proble with loopback 3, when use boolean types allways return true, I can change the state of my property via PUT or PATCH method, how I can solve this trouble. Thanks for your answers.

[2018-01-12 23:19] Rikhart opened #3760 "Number type don't updating properly in relationship"
I have another problem with loopbackjs v3:

I am using the number type in my model called Module to store an order. The get a better vision I going to describe all the scenario I have a model called Course which has a relationship of one to many with my model Module.

In this snipped get the modules of my course and based on an arrays of Ids that store the new order of my modules I try to update t

[2018-01-13 03:38] JulsRicketti opened #3761 "Getting a 401 (Unauthorized) on user's second login"
I'm creating a very simple app just to play around and familiarize myself with the authentication in loopback.

I have created a `user` model by extending the default `User` and haven't really touched anything besides perhaps some ACLs in (failed) attempts to fix the problem.
Basically all I do is set the localStorage's JWT token once the POST on /users/login has successfully finished. The thing i

[2018-01-13 20:39] #3680 closed

[2018-01-15 12:59] F3L1X79 commented on #924
Still having the issue in 2018

[2018-01-15 15:48] bajtos commented on #2027
@rikantro thank you for chiming in. Could you please open a new issue and include a runnable application demonstrating the problem? See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2018-01-16 02:41] go2smartphone commented on #3452
I have the sample problem, how did u solve this?

[2018-01-16 10:12] acgrama opened #3762 "Context lost after async / await"
# Description/Steps to reproduce
We use Loopback for an API with REST endpoints. We rely on the `getCurrentContext()` method from **loopback-context** to get the current context, but it seems the context is lost when using async / await. More precisely, the context is available at the beginning of the endpoint function, but during its execution, when an async / await point is encountered, retrievi

[2018-01-16 19:36] dhmlau commented on #3757
@Sanbornzhang , does the above information help?  Is this issue good to close?  Thanks.

[2018-01-17 02:41] cjjchu opened #3763 "I am working on a project for internal use in IBM,could you please help me on sending email from IBM-email by nodejs"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2018-01-17 12:25] uds214125 commented on #576
app.dataSources.hmsDs.connector.connect(function(err,db){
        console.log(db);
        db.collection('mastercounters').findOne({},function(err,doc){
            console.log(doc)
        });
    });
it is working example : hmsDs is datasource name defined in datasource.json

[2018-01-17 21:20] dhmlau commented on #3763
@cjjchu, there is an internal community using #loopback-at-ibm Slack channel.  Feel free to contact us on that channel.
With that, I'm closing the issue.  Thanks.

[2018-01-17 21:20] #3763 closed

[2018-01-18 00:29] ZabdiAG commented on #3653
Is this fixed or something?

[2018-01-18 04:03] Dawensky opened #3764 "MongoDB Error Message in Strong Loop"
# Description/Steps to reproduce
I am using "Strongloop" to initiate connection with mongodb. After reading through the log error (slc ctl log- dumb MY-SERVICE-NAME) couple of times, the constant complain is **"Error: Cannot create "data source:" Cannot initialize connector "loopback-connector-mongodb": Username containing an unescaped at-sign".** Below is my configuration in the datasource.json p

[2018-01-18 05:27] rsa408 opened #3765 "How to generate test data for models with considering relations between them"
I have 45 models created in loopback with relations. I don't know how to insert test data into these collations by keeping relations.

Models are not independent they have defined relations has one or has many or belongs to relations. therefore test data should be paying attention to the relations.

Regards.

[2018-01-18 06:13] pbalan commented on #3452
+1

[2018-01-18 06:17] pbalan commented on #3452
@go2smartphone Can you post your code? I think I just solved the issue for myself. Spoke too early...

[2018-01-18 08:03] xavierchow commented on #3356
I have the same issue,

[code]

[2018-01-18 08:33] akvaliya commented on #576
I am using the same method but i am getting "db" object undefined.

[2018-01-18 14:56] #3663 closed

[2018-01-18 17:46] beirdostudio commented on #3743
Hello again,
So I switched back to multiple user models and configured them following the doc, now I'm getting a warning in the console:
`The app configuration follows the multiple user models setup as described in http://ibm.biz/setup-loopback-auth The built-in role resolver $owner is not currently compatible with this configuration and should not be used in production.`
When I try GET /usermodel

[2018-01-19 01:19] go2smartphone commented on #3452
i c, my code are almost same structure  like you and the same result.   I managed to solve this from schema design by creating additional models

[2018-01-19 07:33] jkunwar commented on #2789
Hi!
i am very new to loopback and i am having problem with listing all objects owned by me.
here is my acl
{
      "principalType": "ROLE",
      "principalId": "$owner",
      "permission": "ALLOW",
      "property": "find"
    },

[2018-01-19 07:34] jkunwar opened #3766 "list object owned by owner"
Hi!
i am very new to loopback and i am having problem with listing all objects owned by me.
here is my acl
{
"principalType": "ROLE",
"principalId": "$owner",
"permission": "ALLOW",
"property": "find"
},

but i am able to list object by id

{
      "principalType": "ROLE",
      "principalId": "$owner",
      "permission": "ALLOW",
      "property": "findById"
    },

[2018-01-19 10:44] pbalan commented on #2068
@shaheero +1.

I tried changing this behavior using `before save` hook too, but it seems to throw similar error...

[code]

**My goal is to allow users to use POST for both create/update.** I understand, its a bad API design as per REST but unfortunately required to comply to this standard as other APIs are designed this way.

[2018-01-19 13:34] theblackcat102 opened #3767 "ctx.currentInstance in “before save” hook of (persisted) model inaccurate when updating (updateById) embedded model?"
When performing updateById on an embedded model (ie. PUT /model/{id}/embed/{fk}):

Actual behavior:
1. “before save” hook of embedded model is triggered
2. followed by “before save” of persistedModel
3. ctx.currentInstance (in 2) has the changes (to embedded model, ie. ctx.data) already applied

Expected behavior:
Instead, ctx.currentInstance, in (2), should contain the state BEFORE applying the c

[2018-01-19 13:35] bajtos commented on #3593
Hello, thank you all for participating in this discussion. Our bandwidth is very limited, therefore it would tremendously help us if somebody could create a sample application that will reproduce the issue - ideally a test that seeds the database with the necessary data, makes the HTTP call(s) and asserts the expected result. See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report.

[2018-01-19 16:19] akvaliya commented on #576
@uds214125 Thanks. I was missing connector after ds name. Working now.

[2018-01-19 16:28] virkt25 opened #3768 "Fix 2.x CI"
# Description/Steps to reproduce

CI is failing in loopback 2.x. Issue originated as a follow up to this PR. Comment has more details about what's wrong and how it can be fixed.

https://github.com/strongloop/loopback-datasource-juggler/pull/1541#issuecomment-358595168

[2018-01-19 17:52] nitro404 commented on #3732
Issue has been resolved. Thanks!

[2018-01-19 17:52] #3732 closed

[2018-01-19 19:34] sebastianfelipe opened #3769 "Options: disableInclude is not useful"
# Description/Steps to reproduce
Model A hasMany model B and model A has disabled the include to model B, it should restrict its filter from the client, that's work very good. But, it also disable the internal use, that is, when in the backend side, you need to make a query, using an include (not in the client side), it doesn't work too, that is, it disable the include in absolute. I think it shou

[2018-01-19 19:43] sebastianfelipe commented on #386
Can this "disableInclude" feature affect the client calls only and not the back-end side? Thanks.

[2018-01-19 20:09] dhmlau commented on #3764
@Dawensky , We just released loopback-connector-mongodb 3.4.0, which pulls in mongodb driver 3.x. You should be able to use encoded user/pass now without extra options to be set.

cc @raymondfeng

[2018-01-19 22:15] beirdostudio opened #3770 "GET modelName/:id/childModel throwing error with hasAndBelongsToMany polymorphic relation"
# Description/Steps to reproduce

- Create an organization
- Create a user of any type (Admin, Student etc..)
- try GET /Organizations/:id/userModel with filters

# Link to reproduction sandbox

https://github.com/beirdostudio/loopback-multi-user-models

# Expected result

list of users related to model

# Result

[code]

# Additional information

 linux x64 9.2.0

├── loopback@3.17.1
├── loopback

[2018-01-19 22:37] #2808 closed

[2018-01-20 08:33] rsa408 opened #3771 "How to get nested master-detail or master detail detail query in Loopback?"
I have category and category_subs, master-detail model, post model belongs to category_subs. In the following code, I can get master-detail of both but I don't know how to include the post to them or even attachment model of the post to the remote method.

[code]

[2018-01-20 10:31] #3685 closed

[2018-01-20 17:43] #3672 closed

[2018-01-20 17:43] #3464 closed

[2018-01-20 19:49] #2818 closed

[2018-01-20 19:49] #2047 closed

[2018-01-21 02:34] collaorodrigo7 commented on #2830
I know this issue was closed I while ago, but I was working on something similar and I was still having the same problem, I was creating my ACL but it did not have any effect to my API. To summarize I was just trying to deny access to all the models using
[code]
, but when I was testing from explorer to see if it worked I still was able to access all my models, the ACL had no effect.
After reading

[2018-01-22 00:24] atherdon commented on #3771
@rsa408 can you post your json files, related to your models. So i can add them to my project and test your issue?

[2018-01-22 00:27] atherdon commented on #3771
btw, check this method from my project. maybe this will help you.
https://github.com/atherdon/groceristar/blob/master/server/models/department.js#L133
Result:
![image](https://user-images.githubusercontent.com/1469198/35200741-237360ba-ff24-11e7-9579-04cb5f163a65.png)

[2018-01-22 07:17] rsa408 commented on #3771
Dear @atherdon thanks for your reply  I post here the JSON of models,

**category:**
[code]
**category_subs**
[code]
**Post:**
[code]

the fallowing code returns all a posts and category_subs

Category.categorySubs = function (id, cb) {
   Category.find({
        where: {
          id: id
        },

        include: {
          relation: 'categorySubs',
          scope: {
              include: {

[2018-01-22 08:35] hoangtrongphuc commented on #2901
@joincamp Can you send me your code about this issue ?

[2018-01-22 09:38] pbalan commented on #443
+1 @Maransatto Same for me

[2018-01-22 09:39] rsa408 commented on #3771
This return all category_subs and pots. In somewhere I had to limit posts only for selected category_sub model.

[2018-01-22 11:09] charsi commented on #1905
+1 for native support for jwt

[2018-01-22 15:24] bajtos commented on #386
@sebastianfelipe I believe this flag affects all calls, including JavaScript API. If you suspect it's not working that way, then please open a new issue and provide us with a small app reproducing the problem - see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2018-01-22 19:25] nitro404 opened #3772 "Critical crash when setting user email to undefined where case sensitive email is disabled"
# Description/Steps to reproduce

If you disable case sensitive emails for an extended user model and attempt to set the value of the extended model's email to undefined, the user email setter attempts to convert an undefined value to lower case and invokes the extended user created callback twice.

# Link to reproduction sandbox

https://github.com/nitro404/loopback-case-insensitive-user-email-sa

[2018-01-22 19:40] Amir-61 commented on #1803
This is a bug and unresolved.

[2018-01-22 22:58] ataft commented on #2286
Is it possible that we'll see this in loopback 3.x?

[2018-01-23 02:55] JulsRicketti commented on #1314
I'm having a similar problem.
However I am able to make the first login, but then after I logout, on the second time I attempt to login I get the 401. Have no clue what's going on and it's been quite a frustrating journey.

[2018-01-23 08:48] huangyanxiong01 commented on #630
[code]

[2018-01-23 10:21] simonmullaney commented on #3705
Is there any fix to this - I'm experiencing the same problem..

[2018-01-23 13:13] furkanuyar opened #3773 "How to use promise with db connectors?"
Hi,

I was using **callback** with native queries. For example:

[code]

I want to use **promise**. But I couldn't find how can I use **promise** for native queries with connector. I tried something like this but couldn't get any result:

[code]
Do you have any suggestions?

[2018-01-23 15:00] kulom opened #3774 "And Or filters are not working"
using loopback 3.x i have tried to build a query which has AND condition and OR condition together but it shows incorrect data
` where = {
         and: [{ type: 'customer' },
                 {  or: [
                    { fullName: { like: '%' + john + '%' } },
                    { email: { like: '%' + john + '%' } }
                  ]
                }
            ]
        }`

[2018-01-23 23:11] redevill commented on #733
Boy you guys are useless

[2018-01-23 23:24] redevill commented on #733
Quite a legit problem -> to be able to set the ttl to a value of your choosing, and you have no answer?

On your client side you can Hack it in: this.http.post('api/user/login', {email: email, password: password})

[2018-01-23 23:25] redevill commented on #733
Posted too soon... but anyway - you can add it to the credential json object - as a hack.

[2018-01-23 23:30] redevill commented on #733
Alternately: You can have a common model that overrides the login function.
*.js file
module.exports = Employees => {
    Employees.on('dataSourceAttached', model => {
        const login = Employees.login;
        Employees.login = function (credentials, include, cb) {
            credentials.ttl = MyCustomTTLValue;
            return login.call(this, credentials, include, cb);
        };
    });

[2018-01-24 09:37] tylkomat opened #3775 "DisableRemoteMethod inside mixin does work for User, but not for other PersistedModel"
# Description/Steps to reproduce

I use this [mixin](https://gist.github.com/ebarault/1c3e43e19735f03dee8260471f8d3545?ts=2#file-disable-remote-methods-js-L10) which was mentioned in in issue #651 by @ebarault

Despite all the configuration, what it does in the end is to call `disableRemoteMethodByName` on the given Model.

I would like to disable `deleteById`. On my PlatformUser model which exten

[2018-01-24 09:48] tylkomat opened #3776 "If extended User model does not have "emailVerificationRequired" property in the config the model does not have a login method"
# Description/Steps to reproduce

While creating the sandbox for issue #3775 I noticed the following bug.

When the `emailVerificationRequired` property is missing in the model that is extending the User model, than that model does not have  login method.

Use [this](https://github.com/tylkomat/loopback-disableremotebyname-mixin-test) repo and remove the `emailVerificationRequired` property from `

[2018-01-24 15:57] JulsRicketti commented on #3761
I have solved the problem.
In my original tests, when creating the users, I never gave them a username because I perceived that as optional. However, why am I allowed to register the  user without the username if it is required? Why am I allowed to login once without it, but not a second time? Could this be a bug or have I missed something?

[2018-01-25 07:10] bajtos commented on #3772
@nitro404 thank you for reporting this issue. I am afraid we don't have much bandwidth right now to look into the problem. It would be great if you could go ahead and submit a pull request fixing the problem, we can discuss more details there. Thanks!

[2018-01-25 14:29] chrisandrews7 commented on #2304
Any updates on this one?

[2018-01-25 21:14] michaelerobertsjr opened #3777 "Object.assign weird behavior with Models"
# Description/Steps to reproduce
Create a remote method in a model, then attempt to merge the results of a find, with another object.  The model's data will return with getters and setters instead of the data.

Assuming you do a `user.find()` against a user model, the resulting array should be mapable and you should be able to merge the objects if needed.

Example:
[code]

# Expected result

Expec

[2018-01-25 22:54] raymondfeng commented on #3777
Use `user.toJSON()`

[2018-01-25 22:54] #3777 closed

[2018-01-26 02:13] #3761 closed

[2018-01-26 05:57] funkizer commented on #3777
toJSON() would return a string right? .toObject() does what he's looking for. It's weird this is impossible to find in the docs if it even is there, I found it by looking at the source code (which is fun, but...)  :)

[2018-01-26 17:51] sebastianfelipe opened #3778 "Bug: nestRemoting bad applied over a referencesMany Model"
# Description/Steps to reproduce
Supose that model A is a model which contains a relation referencesMany with model B. Then if a model C extends the model A functionalities (endpoints) using nestRemoting, we have a problem.

The error is "Error: Invalid remote method: `__exists__relatedModelBName`"

Thanks.

[2018-01-27 04:16] dhmlau commented on #3764
Another way is to encode the `@` with `%40`.
Closing this issue as we believe your issue has been resolved.  Thanks.

[2018-01-27 04:16] #3764 closed

[2018-01-27 04:19] dhmlau commented on #3757
Closing this issue as we believe this issue has been resolved.
@Sanbornzhang , feel free to reopen if you still have outstanding questions.  Thanks.

[2018-01-27 04:19] #3757 closed

[2018-01-27 14:13] #3690 closed

[2018-01-27 16:34] zegulas commented on #1803
I tried with DEBUG=* node .
What I could see is that its actually an SQL error, but for some reason we get an incorrect validation error for email field.

Here is some log from the report:

Excerpt from the SQL error:
[code]
This error is clearly about unknown column name 'gender' but instead of that we get the following error:
`Unhandled error for request POST /api/customers: ValidationError: The

[2018-01-28 14:46] AMHZR commented on #443
@here i am trying to override the deleteById Method to support my need but it seems not working

[2018-01-28 15:37] #3691 closed

[2018-01-28 17:51] #3692 closed

[2018-01-29 08:17] neomeric commented on #3684
@raymondfeng any thoughts?

[2018-01-29 18:00] cfjedimaster commented on #3421
Re-open.

[2018-01-30 14:35] bajtos commented on #3421
@cfjedimaster I have reopened the issue per your request. I think that this won't be an easy change, because I believe those extra lines are printed by yeoman, which we have only limited control of. (See also https://github.com/strongloop/loopback-next/issues/844.) Considering our limited bandwidth, I find it unlikely that we will have time to fix this issue ourselves.

[2018-01-30 17:41] cfjedimaster commented on #854
I just ran into this. I've been trying to get an example of "I must be logged in to CRUD and I can only work with my data" and I have only been able to make it such that I have to be logged in. I had user1 make 3 objects and not only could user2 see them all, they could also get them individually.

[2018-01-31 12:38] piotrekkmt opened #3780 "No validation on DataSourceDefinition when adding in a database connector"
# Description/Steps to reproduce

No validation done on naming the DataSource definition when creating a database connector to overwrite the default in memory db connector.

### Steps to reproduce:

**~/Development/git/db2-playground    lb datasource**
[code]

# Link to reproduction sandbox

Local MacOS environment with node 6.11 installed. Versions below.

# Expected result

Created or overwritt

[2018-01-31 14:29] joincamp commented on #2901
@hoangtrongphuc Sure, I invited you to my repo.

[2018-01-31 15:17] tewris-backend commented on #3648
I ran into the same error. Any fix for that?

[2018-01-31 15:21] taxiIDZwaneveld commented on #3648
Not for this issue, we patch it directly into the database. A real-workaround (loopback) in this case. But we do not really like this solution.

[2018-01-31 15:26] tewris-backend commented on #3648
Can you show me how do you patch it directly?

[2018-01-31 15:29] taxiIDZwaneveld commented on #3648
I can refer you to https://stackoverflow.com/questions/28346169/how-do-i-get-the-mongodb-connection-from-inside-loopback-io and https://docs.mongodb.com/manual/reference/method/db.collection.update/

[2018-01-31 20:03] monster910 opened #3783 "loopback model generator touches all model files when executing"
Issue
When using the loopback model generator, the tool will touch all models and several json configs even if there are no changes to those files.

When using Git, a developer must revert unchanged files.

lb model xxxx

1. Generate a loopback project
2. Define a model
3. Check project into Git
4. Define another model that is just inherits from 'Model'

The model file defined in step 2 will be mo

[2018-02-01 03:14] arondn2 commented on #3385
Hi @JustinTRoss. Maybe this could be a alternative:

[code]

[2018-02-01 08:24] hoangtrongphuc commented on #2901
I'm not get any notify about your repo, you can send me : dr.hoangphuc@gmail.com

[2018-02-01 10:59] rahulrkr08 opened #3785 "User logout trigger error accessToken is required"
I am getting error on when hitting logout API.

### Query Parameter
curl -X POST http://localhost:3000/api/users/logout?access_token=$ACCESS_TOKEN

### Getting below error

{
    "error": {
        "statusCode": 401,
        "name": "Error",
        "message": "accessToken is required to logout",
        "status": 401
   }
}

[2018-02-01 11:18] rahulrkr08 commented on #3785
Sorry for the wrong posting, I missed to uncomment enableAuth() function. Thanks

[2018-02-01 11:18] #3785 closed

[2018-02-01 11:49] aravindvaideesh opened #3786 "Simultaneous requests result in pending status and no response is received"
Hi,

I have an issue that has been bugging me for a long time. Simultaneous requests made from front end angular application to my loopback application in the backend results in one of the requests to go into pending state. I have attached a screenshot below where the last request shows a pending state. This was reproduced by refreshing the page , so that API calls part of the entire route get cal

[2018-02-01 12:04] Sambit567 commented on #3702
![capture](https://user-images.githubusercontent.com/33077951/35677568-249271b6-0776-11e8-9a79-5c03ab1d5733.JPG)

[2018-02-02 05:45] bluermind commented on #559
No solution to this yet??

[2018-02-02 09:55] tewris-backend commented on #3648
@taxiIDZwaneveld  Thanks a lot for you help.

I ended up setting a 'before save' hook to set the 'lng' and 'lat' to zero and a 'after save' hook to update the database directly with the correct values.

I also don't like this solution but seems to work ok.

[2018-02-02 10:26] #3623 closed

[2018-02-02 13:23] F3L1X79 commented on #517
I am lost at the moment. This ticket is closed, but does filtering on nested properties work with mongodb?

[2018-02-02 13:45] barocsi commented on #2504
it seem so far this issue persists. only mongodb connector has some thing like this with allowExtendedOperators: true setting so your can add $where "this.xxx != this.yyy"

[2018-02-02 15:02] theblackcat102 commented on #2071
Will promise be ever supported to updateById?

[2018-02-02 17:24] estebanDarriens commented on #2860
can we reopen this issue?
I have a model with relations and I need to hide some relation's method, there is an existent way to do that?

I'm trying some like this in model-config.json: (_but it seems not to work_)
[code]

[2018-02-02 17:56] pulkitsinghal commented on #3339
@ebarault - how should I go about tracking if your code was ultimately merged and if this feature has solidified in 3.x?

[2018-02-02 18:43] Noob7 commented on #2205
+1 im getting this too when trying to. And landed here after an hour of scratching my head and trying out all different combinations of for and while and forEach loops and after then consoling the weird list

[2018-02-02 18:50] nVitius commented on #517
@F3L1X79 It works as long as the nested properties are embedded on the same document.

[2018-02-02 19:13] acrodrig commented on #517
This does not work for MySQL. It should be possible to translate something like:

[code]

Into [`JSON_EXTRACT`](https://dev.mysql.com/doc/refman/5.7/en/json-search-functions.html#function_json-extract) conditions instead of simple SQL equality.

Can someone point me in the direction of the code where the translation from JSON to SQL is done? Thanks.

[2018-02-02 19:20] nVitius commented on #517
@acrodrig I think most of the code you're looking for will be here: https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/mysql.js.

[2018-02-02 20:49] dhmlau commented on #3749
@mike-a, closing this issue as we believe your issue has been resolved.  Feel free to ping us again if the problem persists.  Thanks.

[2018-02-02 20:49] #3749 closed

[2018-02-02 21:23] Overdrivr commented on #2860
You can hide them by writing the following code in MyModel.js

[code]

[2018-02-03 01:09] joshrickert commented on #3518
I'm having this issue as well, so I'll add my report so stalebot doesn't close it. My use case is adapting ACLs to power some additional functionality (implementing property-level security on one of my models).

Same issue as above, where with this ACL:
[code]

and calling this in my tests:
[code]

yields an `ALLOW` permission and the following debug output:

[code]

[2018-02-03 02:19] zbarbuto commented on #517
Also for anyone interested - there is support for this to some degree in postrgres using the json data type as per this PR

https://github.com/strongloop/loopback-connector-postgresql/pull/304

[2018-02-03 05:40] #3657 closed

[2018-02-03 05:40] #3698 closed

[2018-02-03 06:38] Overdrivr commented on #2711
I'm on it, next week

[2018-02-03 09:24] khanisak commented on #3056
[
{
"id":"123123213",
"name":"Some Name",
"colors":[
{
"colorId":"1"
"colorName:"Red"
},
{
"colorId":"2",
"colorName:"Blue"
}
]
}
]

Hello, this thread help me so much.
How can i update the colorName properties from colorId "1" ?
So basicly i want to upgrade the colorName property only in colorId 1 to Green.
please advise me.
Thank you so much.

[2018-02-03 09:55] #3699 closed

[2018-02-03 13:25] frankorama commented on #924
**This is what worked for me:**

I have a date property that is not required.  I want to fetch objects that either don't have a date or, if they do have a date, the date is today:

[code]

**_Details:_**
Loopback 2
tried `exists`, `$exists`, `exist`, `$exist`, and `workDate: null`, but nothing worked.  Only `undefined` worked for me

[2018-02-03 13:29] frankorama commented on #1009
Using Loopback 2, this worked for me:

`{where: {property: undefined}}`

The query returned all documents that did not have the property specified and left out documents that did.

[2018-02-03 14:24] frankorama commented on #924
This is still an issue for me.  I have a date field that is not required and I want to fetch documents that have a date of today or no date:

[code]

for the `<not set clause>` I have tried the following:
`{workDate:{exists: false}}` => bad date format
`{workDate:{$exists: false}}` => bad date format
`{workDate:{exist: false}}` => bad date format
`{workDate:{$exist: false}}` => bad date format
`{w

[2018-02-03 14:54] narenderv7 commented on #3056
hey @khanisak, You can try this

db.collection.updateOne({"colors":{"elemMatch":{"colorId":"1"}}},
   { $set: { "colors.$. colorName" :  'Green'} }
)

[2018-02-03 15:48] khanisak commented on #3056
@narenderv7 it works if I querying inside mongodb, but i doesn't work if i querying from loopback model.

[2018-02-05 07:20] rodolph66 commented on #3751
I'm  a beginner, working on:
windows 10
loopback latest version (4.1.0) - this the cli generated version
 I'm trying to create two very simple models with "belongsTo" "HasMany" relations, such as Products the belong to Categories (or Devices of Types). So far every attempt in creating this relation between the two models, using the generator, or manually, by editing the .json files of the models a

[2018-02-05 10:08] rodolph66 commented on #3751
It seems that the id's has nothing to do with this... It is still failing no matter what combination I try.

[2018-02-05 12:54] estebanDarriens commented on #2860
@Overdrivr you're so right! I had forgot that possibility, and works perfectly, also it is possible hide with:

`MyModel.disableRemoteMethodByName('prototype.__updateById__domains');`

Maybe this restriction (hiding relations methods) should be added as a note in the documentation.

[2018-02-05 14:31] richardpringle commented on #2860
@estebanDarriens, can you open a new ticket proposing the addition to the documentation and mention @crandmck?

[2018-02-05 17:15] rodolph66 opened #3788 "Help Wanted: loopback crashes at any attempt at creating "BelongTo" "HasMany" relation"
I have worked with loopback (v3) a few months back I did not encounter this before.
Any attempt at creating a BelongTo - HasMany relation between two models end up in the app/loopback failing.

To reproduce simply create any basic two models such as Category and Product and attempt to create the described relation.
Note there is an egghead Loopback introduction course (very concise) which creates

[2018-02-05 18:04] virkt25 commented on #2860
Mention @bschrammIBM instead in the new ticket.

[2018-02-05 18:48] mbenedettini commented on #3561
@kjdelisle

I have a forked version of `loopback-datasource-juggler` in which I have added a few simple methods to the Memory connector just to make my tests pass (ie won't do any check on transaction status -although this is not easy to implement-).

Something like this:

[code]

[2018-02-05 19:29] rodolph66 commented on #3788
After reviewing the older files, in which this type of relation worked seamlessly, I noted that the inclusion of the "options" property in the "relations" section of the .json file might have been the cause, since after removing the

`      "options": {
        "nestRemoting": true,
        "disableInclude": true
      }`

The app worked again with the relation behaving as intended. For now I will

[2018-02-05 19:40] jannyHou commented on #3788
@rodolph66 could you post the `loopback-datasource-juggler` and `loopback` version here?
And also the last version that doesn't have this problem if you know it.

[2018-02-06 04:39] rodolph66 commented on #3788
Did not use loopback since Aug 2017 at which I had...
loopback ver as per package.json: 3.0.0
loopback-datasource-juggler ver: 3.9.3
Now... respectively is 3.0.0 and 3.15.0

[2018-02-06 16:14] #3706 closed

[2018-02-06 16:16] jannyHou commented on #3788
@kjdelisle could you help take a look of this interrupt issue? Thanks!

[2018-02-06 16:20] richardpringle commented on #2860
Is @crandmck no longer maintaining the LoopBack documentation?

[2018-02-06 17:21] nVitius commented on #257
@buokae are you still using loopback? Do you plan on working on this at all?

[2018-02-06 18:50] virkt25 commented on #2860
Nope ... @bschrammIBM is maintaining the documentation now.

[2018-02-06 19:40] kjdelisle commented on #3788
I can confirm that the issue is related solely to the `nestRemoting` option (using `disableInclude` exclusively doesn't cause any problems).

I'm going to start tracking down the source of the fault now.

[2018-02-07 06:08] bienek commented on #3709
There still seems to be no solution to this and regarding the number off supporting comments it would be  sad to be left stale and closed.

[2018-02-07 10:19] tylkomat commented on #2305
@0candy can you tell more about `.link`? To my knowledge link only exists on HasMany , EmbedsMany and ReferencesMany

[2018-02-07 15:22] #3707 closed

[2018-02-07 21:18] #3514 closed

[2018-02-07 21:50] kjdelisle commented on #3788
@rodolph66 So I'm almost certain I've found the flaw. Would you be able to clone a copy of my branch from the linked pull request and see if it solves your problem?

I've functionally tested it myself as well as made sure the test changes in the PR reproduce it, but I want to be sure that there isn't more than one issue at play here.

[2018-02-08 10:26] phuttipong commented on #3747
I also face the same issue. Just to give more information here that findOrCreate() work well on other models. I found this issue on Model that extends Loopback.user

[2018-02-08 11:08] ali1tokan commented on #2125
in case of we made a model like user on our own can we use the access token built in... and if so do we have to persist it to the data source for example mysql like that model we made.... or keep it in the memory..

[2018-02-08 15:26] #3708 closed

[2018-02-08 17:09] gantir commented on #1905
+1 for native support for jwt

[2018-02-08 18:12] #3788 closed

[2018-02-08 18:25] kjdelisle commented on #3788
@rodolph66 I've merged the fix and I'll be releasing it shortly! :tada:

[2018-02-08 18:27] kjdelisle commented on #3788
3.18.2 has been released!

[2018-02-08 20:25] joshrickert commented on #3518
I dug around in the code and tried out some variations of @supermafete's PR. I still wasn't able to get all of my app's tests passing (although more of them passed). I noticed that `ACL.checkAccessForContext` suffered from a similar issue when the principal was a dynamic role.

It seems like one big thing that is missing is the idea that some roles are supersets of others. So if I grant a permissi

[2018-02-08 21:13] kjdelisle commented on #1905
We're working on the next major version of loopback here: https://github.com/strongloop/loopback-next

Make an issue suggesting JWT support, or even better, ask to join the loopback-next group! We're looking for more community contributors to help build the new version. :)

[2018-02-08 21:17] kjdelisle commented on #2125
Pull requests welcome!

Though, I would say that you'd probably be better off suggesting this as a part of the next major version of loopback: https://github.com/strongloop/loopback-next

We're looking for more community contributors, and since we're still in alpha, there's plenty of room for change!

[2018-02-08 21:22] kjdelisle commented on #3747
@taimoor736 Would you be able to reproduce or perhaps debug the problem?

Ideally, a pull request to fix the issue would be best, though I understand if you don't have the time, or aren't interested.

[2018-02-09 09:07] bajtos commented on #2575
It was our intentional design decision to leave out the method name from Operation Hooks context. For users wishing to execute different code depending on which DAO method was invoked, we used to think of Per-method hooks in https://github.com/strongloop/loopback-datasource-juggler/issues/397. However, we decided to reject that feature. Quoting from https://github.com/strongloop/loopback-datasourc

[2018-02-09 10:40] rahulgopinathan commented on #2355
I have the same issue.
Any help?

[2018-02-09 11:09] bajtos commented on #3518
Thank you @joshrickert for looking into this issue. I am afraid I don't have enough knowledge about our authentication layer to be able to meaningful help you. Perhaps @raymondfeng or @ebarault could provide some guidance here?

[2018-02-09 12:22] #3710 closed

[2018-02-09 14:21] rodolph66 commented on #3788
Thanks, I will give it a go... Apologies for not coming back I have a full time job that has nothing to do with computing. I am now suffering with another issue. One that is again taking me days of continues trials before I decide to post something here..

[2018-02-09 14:42] rodolph66 commented on #3788
Great, I just tested it out and it is now working fine. Thanks again and all the best.

[2018-02-09 15:09] rodolph66 opened #3791 "Help Needed: extending User in mysql generates invalid email error"
Steps followed (to my best understanding of the docs, which I have to admit is not the best referee out there):
1.  new app i.e. test (and installing connector)
2.  new mysql datasource replacing default db
3.  writing and running the create-lb-tables.js script successfully
4.  generating "Client" model using 'lb model' command line and extending User as a base and adding two new properties: name

[2018-02-09 18:02] bajtos commented on #255
@tohagan IIRC, the `code` is set to the name of the validator as provided in the first argument of `Model.validate`. So in your example, the code will be set by LoopBack to `expires`.

I see your point. Could you please open a new GitHub issue to discuss this feature and keep track of it? It is rather off-topic here.

[2018-02-10 06:36] #3791 closed

[2018-02-10 11:41] sebastianhaas commented on #3514
But why

[2018-02-11 02:40] #3576 closed

[2018-02-11 02:52] jhay07 opened #3792 "Node.js and MSSQL ram spike if the model property casing is incorrect in the filter parameter"
I am new to loopback, installed latest version 3.0.0

I created my sample project by using the CLI. and generated my Customer model using this: https://gist.github.com/honestserpent/a09f8a625aa1b142d31b62f22fef747b looks fine so far.

I tried to do basic query like /Customers?filter[where][**Email**]=email@address.com and seems to work well. However, when i try to put an incorrect casing on the pr

[2018-02-11 14:01] mauriceKA commented on #3730
Any follop-up on this?

[2018-02-11 15:54] regevbr commented on #429
The answer is that when implementing your own DataAccessObject you need to mixin into it the Original dao and apply changes to it.

e.g.
[code]

[2018-02-11 16:26] #3712 closed

[2018-02-11 17:52] #505 closed

[2018-02-12 02:26] StillOnMyWay commented on #3614
Is noone able to address this?

[2018-02-12 10:02] #3696 closed

[2018-02-12 12:05] tohagan opened #3793 "Model.validate() should allow server side data to be returned"
**Feature request.**  A failing validation from `Model.validate()` currently only returns the validation `code`. however in some cases a code property may be inadequate as in order to the build the localised error message client side, you may need to additional server side data from other records or server side logic so ideally, the code could become an error object containing the code + other dat

[2018-02-12 14:07] husnulhamidiah commented on #429
@regevbr can you give a complete example how to solve this problem. I got same problem as @Mowso here.

[2018-02-12 14:18] regevbr commented on #429
I created a rewrite of the stroage component that works with relations and acl - [loopback-component-flatstorage](https://github.com/regevbr/loopback-component-flatstorage)
You can check out the code there and see how I solved the issue when you create you own DataAccessObject

[2018-02-12 14:23] TuNi54 opened #3794 "Near filter is very slow"
Hi,

I have this kind of request for my LoopBack 3 project :

[code]
But the response is very very slow. More than 1 min in local and 15s with Heroku.

Is someone had the same issue ?

Database : mongodb

Thank you

[2018-02-12 15:55] phobos101 commented on #3356
Also having this issue which is kinda breaking my error logging flow.

As previous users have mentioned, when a Promise handles a rejection gracefully, my error logging middleware logs the error fine, but then loopback logs it as an unhandled error immediately after.

[code]

[2018-02-12 16:49] xavierchow commented on #3356
As a workaround, I ended up with setting `log: false`  as per https://github.com/strongloop/strong-error-handler/issues/40#issuecomment-276178204.

[2018-02-12 21:24] #3714 closed

[2018-02-13 03:45] TopGunBasten opened #3795 "How to integrate with Object Storage Service Lite version in IBM Cloud"
I can custom a remote method to call ibm-cos-sdk
the api of https://github.com/IBM/ibm-cos-sdk-js#example-code

[2018-02-13 11:48] xavitb3 opened #3796 "How to add custom functions to ctx.instance"
I'm seeing myself needing to know if an user has a role Admin or if his account is active in "before save" and "after save" model hooks in different files and defining functions that accept the ctx.instance as a parameter and doing the checks.

[code]

Is there a way to do something like this?

[code]

The only way I've come up is creating a custom model file that accepts an userInstance as the on

[2018-02-13 21:50] kjdelisle commented on #924
@frankorama @sivicencio

If someone would like to open an issue [here](https://github.com/strongloop/loopback-connector-mongodb/issues) with a reproduction sandbox (a small toy app that demonstrates the problem) then we can triage the issue and find the source of the problem. Ping me in the issue and I'll tag it accordingly.

[2018-02-13 22:07] kjdelisle commented on #3654
@mukulsoftwap If you're still having this issue, would you please open a reproduction sandbox (a sample application that accurately replicates the problem you're having)?

If not, please let us know so we can close this issue.

[2018-02-13 23:32] kjdelisle commented on #3796
The [custom remoting phases](https://loopback.io/doc/en/lb3/Using-current-context.html#use-a-custom-strong-remoting-phase) are what I imagine you're looking for.

I lifted the example and tested it out on a dummy app to see what it would do.

**./server/boot/is-admin-phase.js**
[code]

**./common/models/category.js**
[code]

[2018-02-13 23:34] kjdelisle commented on #3796
In my above example, the `isAdmin` function is always returning true, so it's up to you to define what makes an "admin", but the concept should hold for your use-case.

[2018-02-14 00:39] ataft commented on #2044
While many arguments that people make are solid, there are definitely use cases for outputting data as CSV directly from the server rather than going to the client first. This simple solution works to achieve that:
https://stackoverflow.com/a/31389086/5551593

[2018-02-14 03:10] muhawo commented on #737
@bajtos where can find doc about relation model remote hooks , I did not find the format '*.__get__sharedBooks__'

[2018-02-14 03:43] muhawo commented on #737
@bajtos I find it, https://loopback.io/doc/en/lb3/Accessing-related-models.html
![image](https://user-images.githubusercontent.com/4066427/36186778-2db681d2-117c-11e8-88d9-4a4631ef868c.png)

[2018-02-14 08:36] sw8fbar commented on #843
I have seen this work with Loopback 3.0
model.disableRemoteMethodByName('deleteById', true);

[2018-02-14 13:58] Chinmayans44 opened #3797 "Duplication problem for custom logic in before remote hook for related model."
I am facing this issue of duplicating custom logic in "before remote" methods.
I have two models customer and email, which are related as hasMany relation.
Currently my custom logic is based on body of request that is made.
If request has lets say got two emails with same email Ids, I need to throw error.
This logic is implemented now in before remote of both email and customer models. I need to m

[2018-02-14 19:13] richardpringle commented on #2044
After having left LoopBack and forked in close proximity to the banking industry, I've seen the extensive usage of CSVs. With that, I've also seen some serious problems with CSVs, their text encoding, and handling multiple internationalization standards. CSVs are too difficult to normalize such that they are easily consumable by another application.

It is much better to use libraries such as [csv

[2018-02-15 03:39] bartlettpsj commented on #1009
It is still an issue!

[2018-02-15 09:51] bmrinal opened #3798 "Is there a way to actually validate user/access-token on custom route?"
I need to validate a custom route that I created before sending the response. is there a way to do so?

Here is how my custom route looks:

[code]

[2018-02-15 14:11] EnzoBer commented on #3759
same here
`{
  "name": "dim_carrefour",
  "base": "PersistedModel",
  "idInjection": false,
  "options": {
    "validateUpsert": true
  },
  "properties": {
    "CAR_PK": {
      "type": "number",
      "required": true,
      "id": true
    },
    "CAR_DESC": {
      "type": "string",
      "required": true
    },
    "CAR_MODE_PILOTED": {
      "type": "Boolean",
      "required": true
    }
  }

[2018-02-16 00:16] jeemok opened #3800 "Prototype pollution attack in hoek (via hawk and request)"
# Expected result

Expected to pass NSP, however, failed because it has a vulnerable dependency.

# Additional information
[code]
Ref: https://hackerone.com/reports/310439
Related issue: https://github.com/hapijs/hoek/issues/230
Related PR: https://github.com/hapijs/hoek/pull/231

[2018-02-16 00:20] jackrobertscott commented on #3266
The best way to receive a file is to get the file from the `req` object by using a file extractor like multiparty and then you have the file to do what ever you want from it. I wrote a little post on how to do that here.

Solved: https://medium.com/@jackscott/upload-files-to-aws-s3-in-loopback-29a3f01119f4

Hope it helps! 😄

[2018-02-16 06:38] virkt25 commented on #3800
Hi @jeemok, unfortunately this issue is cause by a downstream dependency as can be seen in the `Path` from the NSP report. `hoek` has a fix, `hawk` picked it up in version `7.x.x` but request still uses `6.x.x`. So till `request` doesn't get updated, we can't do anything. See issue https://github.com/request/request/issues/2874

There is an issue in their repository so a patch should be coming soo

[2018-02-16 06:56] ZeeAzmat commented on #1314
same error... any suggestions?

[2018-02-16 08:35] MarianZoll opened #3801 "PersistedModel.upsert increases Heap mem until the ms crashes"
# Description/Steps to reproduce

BUG: Heap Memory is increasing significantly until it crashes the microservice

- Cloudant is connected with the in-built cloudant connector
- Running [PersistedModel.upsert](https://apidocs.strongloop.com/loopback/#persistedmodel-upsert)(data, callback) with a large number of requests ~300.000 documents á 4.8KB size.
- After some insertion time (and continuous in

[2018-02-16 17:50] JakubMifek commented on #2964
Hi, I encountered this problem as well. **And found a solution.**

Well solution for me at least... 😄  I found that when creating a model, loopback searches already existing models (for example in common/models/) and their .json definitions. If he finds a file that he does not understand, throws the error. I had a config file that I used in my models in the folder and so the error occurred.  Delet

[2018-02-16 18:41] ninoguba opened #3802 "AccessToken.validate doesnt work as expected if AccessToken model stored in a database."
If the AccessToken model is stored in a DB, the created property will be stored as its UTC value. This becomes an issue when the AccessToken.validate function computes the elapsedSeconds below:

[code]

The now value is in local server time while the created value is in UTC.  This can make a valid accessToken (based on the TTL) become invalid as the computation of the elapsedSeconds will be wrong

[2018-02-17 01:34] Ekzer opened #3803 "Multipart/form-data - 422 ValidationError "***" cannot be blank"
# Description/Steps to reproduce
Hi,
I'm using React+Redux in front-end and loopback3 in back-end.
I have a simple form with text inputs and one file input.
I create the formData as usual
`const formToSend = new FormData(document.getElementById("form_add_news"));`
then I send it to axios

[code]
Here is the request sent :

Request headers

But I always get 422 ValidationError "title": cannot be bl

[2018-02-17 13:50] shSina opened #3804 "Multiple datasource , mongodb , postgresql relation problems"
I use two different connectors for models and relations between them not working properly ,
mongodb document ids has extra double quotation (second row below,I manually changed first row)
<img width="396" alt="screen shot 2018-02-17 at 5 06 51 pm" src="https://user-images.githubusercontent.com/478063/36341566-6955d8f6-1405-11e8-9a76-d947971cf319.png">

1. including relation from postgres model to

[2018-02-17 21:04] shSina commented on #3804
I fixed the problem like this , but I'm trying to find the bug and fix it

[code]

[2018-02-18 03:51] #3804 closed

[2018-02-18 05:08] jainath commented on #3676
Error object requires name, status and message properties
[code]

https://loopback.io/doc/en/lb3/Error-object.html

[2018-02-18 12:22] dmastag commented on #3400
@yqrashawn
Thanks but am curious how would you return multiple returns using that way?

For instance, if we have this code
[code]

How can I use async await and return 2 values?

[2018-02-18 12:30] dmastag commented on #3400
Nevermind, I found out how to do it by trying multiple options

You can replace
[code]

into
[code]

[2018-02-19 10:45] kamal0808 commented on #3303
In recent projects that I've worked on, developers like to set mobile number as the primary verification attribute instead of email.

Can there be an option to choose a primary verification attribute from mobile and email?

For example, Facebook treats email as the primary verification attribute, but keeps asking the user to verify his mobile number every time he logs in.

[2018-02-19 12:44] anouarkacem opened #3805 "After Remote Upsert"
I was trying to PATCH (upsert) some model and catch the result with the AfterRemote Hook, I tried with the code below, nothing happens, no response no errors even with the afterRemoteError

[code]
Replacing the method name with **updateOrCreate** doesn't work, no response also, however it works with this method name **patchOrCreate** I found it under [loopback/lib/persisted-model.js line 119](http

[2018-02-19 12:54] kamal0808 commented on #3398
@Freundschaft were you able to make it work for yourself?

[2018-02-19 18:03] raymondfeng commented on #3801
Please take heapdumps per https://strongloop.com/strongblog/how-to-heap-snapshots/ to see what objects are not GCed.

[2018-02-19 20:46] #3701 closed

[2018-02-20 01:49] wmurmann opened #3806 "Model.app is undefined"
# Description/Steps to reproduce

I have a few loopback projects and I am suddenly experiencing a problem with accessing other models outside of my PersistedModel.js file. I tried two projects running lb2/lb3 with node 8.9 on OSX 10.12.6. In both instances app.models has 0 models and PersistedModel.app is undefined, where app is defined globally as `const app = require('../../server/server')` and

[2018-02-20 10:50] nyousefzai opened #3807 "how to save json object to mongodb"
i am new to loopback, I searched on doc it was not clear

how to save data using loopback in MongoDB?
basically how to populate?

[2018-02-20 12:44] gangakrishh opened #3808 "how to test afterRemoteError function"
how to test afterRemoteError function? any example for 3.0 version

[2018-02-20 13:31] EnzoBer opened #3809 "Get method always return true"
Get method always return true on mysql BIT data

[code]
The response body

[code]
My model

[2018-02-20 16:35] jpmyob opened #3810 "DB2 table schemas break API"
## Nature of the issue
Following the discovery process, and creating a model from that discovery,
I have a model in the common/models dir. it was read using discovery-and-build.js which specified a "schema"

My db2 database makes wide use of table schemas for organization, so the table in question is @ LIVE.TBLADDRESS  - when I add the model to model-config.json using

,"Tbladdress": {
	"dataSourc

[2018-02-20 16:46] #3643 closed

[2018-02-20 23:16] mihir83in commented on #429
I have the same issue with the same stacktrace when creating two different models Contacts and Cities which are from two different soap based data sources.

[2018-02-21 02:48] husnulhamidiah commented on #1905
@thanh-taro can you give us an example how to blacklist JWT?

[2018-02-21 10:33] oderayi opened #3811 "User login fails with "username" and "password" combination but succeeds with "email" and "password" combination."
# Description/Steps to reproduce
In the api explorer, expand Users category, scroll to "login" method.
Input in credentials textarea: { "username": "...", "password" : "..."}. This fails.
Input in credentials textarea: { "email": "...", "password" : "..."}. This works.

[2018-02-21 13:31] uds214125 commented on #303
I also faced the same issue. Thanks to @cchacons for the solution. But it must be mentioned in official docs.

[2018-02-21 15:14] #3638 closed

[2018-02-21 20:08] jpmyob commented on #3810
Added Info - DB2X happens to be the login's default schema - which is most likely WHY it's being selected.

This reinforces my suspicions that the "schema" option of the model is being ignored. But I don't know if it happens at the loopback-connector-db2 / db2.js or the loopback-connector sql.js or somewhere else in the chain.... I've been trying to track it down, it looks like "options" just gets

[2018-02-22 13:27] bolmsten commented on #2080
+1

[2018-02-22 14:10] atherdon commented on #2355
i have similar issue. can provide data for testing
my problem - i want to have INQ + LIKE statement.

[2018-02-22 14:17] furkanuyar commented on #3773
I can get result in this way:

[code]

[2018-02-22 14:17] #3773 closed

[2018-02-22 23:37] devpascoe commented on #3566
been a while but figured i'd update. Finally moving to latest loopback and juggler now after these updates. So far so good 👍

[2018-02-23 03:27] blacktrue opened #3812 "userId is NaN in CustomAccessToken model"
Hi everyone

I have a model user extends from User model and CustomAccessToken extends from AccessToken.
Change the property id from user model

[code]

In CustomAccessToken insert a record with userId NaN

My relations:

in user model:

[code]

in CustomAccessToken model:

[code]

¿Any idea what's wrong?

[2018-02-23 07:07] simoami commented on #854
If it helps anyone to ensure one user doesn't supply a different `userId` or to let the service do it for you so you don't have to explicitly pass it in, here's a simple drop-in check. Just add it to your models that have a belongTo user relation:

[code]

[2018-02-23 09:43] MarianZoll commented on #3801
@raymondfeng

Took several snapshots (every 3mins). Also logged the ending of the application logic in the running system. It seems like the `PersistedModel.upserts` continue inserting documents to the cloudant after the interface call (app logic) ended. With the continous increase of heap memory due to this buffering, the apllication crahses. Screenshot below indicates the heap memory size during

[2018-02-23 11:45] #3575 closed

[2018-02-23 14:55] JakubMifek opened #3814 "Filter in REST datasource"
Hi everyone,
I created a LoopBack server that holds my models data in-memory and backups once in a while (not very often). Then I created a client application that connects to the server and manipulates with the in-memory models. Final results are then saved in persisted MongoDB automatically on the server - that works perfectly. The problem that I'm facing is filtering such data.
Let's say that I

[2018-02-23 15:12] JakubMifek commented on #3814
I realized that this is not loopback problem but probably my bad configuration x rest-connector problem. Closing the issue. Am very sorry for the spam.

[2018-02-23 15:12] #3814 closed

[2018-02-23 15:44] JakubMifek commented on #3814
Note: If someone else struggles. Solved it by using remote connector instead of rest connector :)

[2018-02-23 21:18] #3639 closed

[2018-02-24 11:18] #3694 closed

[2018-02-24 15:35] micrub opened #3815 "Error on insertion of access token record on successful authentication"
# Error on insertion of access token record on successful authentication

* connection using postgresql data source
* build in model are auto generated using loopback auto migration routine
* there is a common Account model extended from build in User model.

On login request getting following error:
[code]

Table CREATE sql:
[code]
Debug log shows:

[code]

## packages

[code]

## ENV
`
psql (9.5

[2018-02-24 15:51] micrub commented on #3815
Seems that needs to be moved to https://github.com/strongloop/loopback-connector-postgresql/issues

[2018-02-24 19:46] #3729 closed

[2018-02-25 05:18] dreamdevil00 commented on #3731
Try catch only works with synchronous code， so if your code include asnc logic， it will not work as you think

[2018-02-25 14:46] #3730 closed

[2018-02-25 18:31] #3716 closed

[2018-02-26 15:31] #3715 closed

[2018-02-27 07:44] andy2046 opened #3816 "Hide model from API Explorer but keep it available via REST"
# Description/Steps to reproduce
when I set public to false for model config json file, I don't see it in api explorer, nor i can access it via api

# Expected result
based on https://loopback.io/doc/en/lb2/model-config.json.html#model-properties it should not affect accessibility, it's hidden from explorer but it should still be accessible

@raymondfeng your advice is appreciated

[2018-02-27 07:47] andy2046 commented on #3483
@f-w did you got the answer for this ticket? thanks

[2018-02-27 09:14] jkunwar opened #3817 "Error downloading file"
[code]

my remote method is

[code]

[2018-02-27 11:20] prochac opened #3818 "Break ACLs with filter:include in findById method"
# Description/Steps to reproduce

Follow README.md in link
short:

# Link to reproduction sandbox

(https://github.com/prochac/loopback-sandbox)[https://github.com/prochac/loopback-sandbox]

# Expected result

Expected 401

# Additional information

**edit:**
duplicate:
https://github.com/strongloop/loopback/issues/386 since 20 Jul 2014

dummy fix by *disableInclude* in relations
https://loopback.

[2018-02-27 13:32] angfal commented on #3717
@jannyHou Any news here?

[2018-02-27 15:50] dhmlau commented on #3815
Closing this as duplicate of https://github.com/strongloop/loopback-connector-postgresql/issues/321.

[2018-02-27 15:50] #3815 closed

[2018-02-27 15:59] dhmlau commented on #3811
@oderayi , I just tried it with loopback@3.18.2, both combinations seem to work fine.
Which version of LoopBack are you using?
You can run `npm ls --prod --depth 0 | grep loopback` to find out.

My output looks like this:
[code]

[2018-02-27 17:48] f-w commented on #3483
@andy2046 , no and given that lb4 is rewritten from scratch I doubt the issue will be investigated at all.

[2018-02-27 18:52] digitalhemanth commented on #3702
npm install -g nodemailer

        // use this command

[2018-02-28 02:17] vituocgia commented on #3295
this issue still occurs, anyone has the answer for this?

[2018-02-28 02:44] daniloprates commented on #3766
+1

[2018-02-28 12:06] uds214125 commented on #1137
what if i have custom method which have required` 'true' ?

[code]
then how to remove its required field.

[2018-02-28 21:43] jpmyob commented on #3810
OK - this works -

{
	"db": {
		"name": "db",
		"connector": "memory"
	},
	"x3": {
		"name": "x3",
		"connector": "db2",
		"username": "...",
		"password": "...",
		"database": "...",
		"hostname": "...",
		"port":     50000
                "schema": "LIVE"
	}
}

Granted - I now have to specify a separate datasource entry for each schema (40 and counting...) but at least it's a solution, I still d

[2018-02-28 21:43] #3810 closed

[2018-02-28 23:05] tellex commented on #1586
I added this functionality trough a mixing method, checkout the code:
https://github.com/tellex/createNested/
soon i will create a npm package.

[2018-03-01 10:03] bmrinal opened #3819 "multi user setup - role resolver always passes through"
# Role Resolvers with Multi User Setup
I have a multi-user setup as described using polymorphic relationships as described [here](https://loopback.io/doc/en/lb3/Authentication-authorization-and-permissions.html) in the docs (lb3)
Now, i have a entity say device that can be written using one type of user and only read by another type of user.

So I created two separate role resolvers for them:

[co

[2018-03-01 20:49] cfjedimaster commented on #3600
Nope, somebody fix it. :p

[2018-03-02 11:44] dhmlau commented on #3739
@gaja33, does the above comment help you resolve the issue?  If so, is this GitHub issue good to close? Thanks.

[2018-03-02 13:13] ghassenlassoued commented on #2516
Hi , since this discussion was  6 months ago, I need to ask again if there are any solutions ?

[2018-03-02 20:44] buokae commented on #257
@nVitius yes I am still using loopback, and no I don't plan on working on this in the near future due to time constraints, and lack of motivation to work on lb3. I'd love to make this but since the whole lb team seems to be concentrating on lb next (lb4) I don't really feel the motivation to create this pr on the lb3 repo when it is probably going to be obsolete within a year. It takes quite a lot

[2018-03-03 12:43] elviocb commented on #517
Why the filter with property **id** does not work? If I change it to any other property name it works (ie: customer.name). I'm using mongodb connector.

[code]

[2018-03-03 13:02] princecharmx commented on #517
Hey @elviocb , this must be problem with customer.id stored as String and not ObjectId. Can you share how your Order model looks. It should be related to https://loopback.io/doc/ja/lb3/MongoDB-connector.html#strictobjectidcoercion-flag

[2018-03-03 13:47] elviocb commented on #517
hey @princecharmx .. thanks for your reply!

That's my order model definition:
[code]

And this is how an order model is stored:

[code]

[2018-03-03 14:38] princecharmx commented on #517
You have incorrect model. You are having property customer and also have a relation customers with hasOne.
You should use either.

Also, as pointed note, your customer.id is stored as string and hence you are having problem.
Add strictObjectIDCoercion to true in above model.

[code]
Fyi, your usage is incorrect at many places. First you confirm if my suggestion works. I will then guide you next st

[2018-03-03 18:31] #3736 closed

[2018-03-03 21:30] #3735 closed

[2018-03-04 00:42] elviocb commented on #517
Hey @princecharmx .. It works. Thanks!.. Could you guide me which other parts of the model are incorrect please?

[2018-03-04 12:33] alexthewilde commented on #3593
I'm encountering the same issue: filtering by any property other than model.id returns an empty array. Using "like" makes it work.

[2018-03-05 09:40] ErikMartensson commented on #3380
As an extension to @juancaacuna answer. In `model-config.json` the relation, from AccessToken to your custom user model, **needs to be named** "user".
Your custom user model can be named whatever you want, but the name of the relation needs to be "user".

[2018-03-05 10:13] matuagarwal commented on #2882
@jannyHou any update on the PR

[2018-03-05 11:47] NgaNguyenDuy commented on #3764
Hi, I still can't connect via url string?
So, what is exactly of URL string format.

[2018-03-05 17:33] jannyHou commented on #2882
hi @matuagarwal Sorry I haven't got time to continue the fix PR, https://github.com/strongloop/loopback-datasource-juggler/pull/1532

cc @dhmlau Is it possible to prioritize fixing this issue in our next planning? Thanks!
I started a PR https://github.com/strongloop/loopback-datasource-juggler/pull/1532 to fix it but didn't get time to continue :(

[2018-03-06 14:34] wibblymat opened #3821 "Allow conditional relations"
Let's say I have a Player model and a Game model. A Game represents some instance of a single player game that the player either won or lost. I would like to add a relation that gives me games where the player won.

Something like:
[code]

As far as I can see it is not possible to add such a condition to a relation.

[2018-03-08 15:38] suisun2015 commented on #3593
I occasionally face such problems, too.

[2018-03-09 11:09] Noob7 opened #3824 "Insufficient docs for loopback-passport"
I am trying to implement fb login. My server needs to send access token instead of redirects and thus far i have failed to find any docs on configuring provider json to :
1) Return json instead of redirects
2) Run a custom verify callback to save user details

After searching i was able to find some examples of customCallback option in provider json but all the articles seem to be two years old. A

[2018-03-09 13:53] SoilChang commented on #3356
same issue

[2018-03-09 16:43] #3738 closed

[2018-03-11 04:24] dhmlau commented on #3811
Closing it due to inactivity.
@oderayi , feel free to reopen this issue if you still encounter the problem.  If that's the case, we'll need more information on the versions for the node modules.  Thanks.

[2018-03-11 04:24] #3811 closed

[2018-03-11 11:20] mihir83in commented on #3544
+1

[2018-03-11 12:13] #3740 closed

[2018-03-11 18:13] #3711 closed

[2018-03-11 18:19] rockyshukla opened #3825 "owner in model not working loopback"
suppose i have 2 model one is user which is extending user base model and another one is company model. here i m try to apply acl on company model i.e owner who has save detail of company can access there own detail for that i have company_id column in both table so i can match (know which user detail is this)

**user.json**

[code]

**company.json**

[code]

debug log
[code]

now when i m try to

[2018-03-12 06:46] arifsohail opened #3826 "Using upsert for custom datatypes."
Question:
I want to apply upsert on a custom datatype.

I have created a custom model for the time. Then I used it in another model as a datatype. But later I realized it's not working when I use upsert.
[code]

[2018-03-13 01:37] ashishswami22 opened #3827 ".find() returns blank array"
My data in mongodb:

[code]

I am writing REST API endpoint to fetch this data:

[code]

# Expected result
bookHistory should not be empty.

Am I missing something here?

[2018-03-13 08:53] akkonrad commented on #3664
hey @rendy14s, have you found what was causing this issue? I have exactly the same problem with mongo connector

[2018-03-13 09:09] rendy14s commented on #3664
hai @stale thanks , this issue was have close thanks.

hai @akkonrad , yes, this issue was solving. i just wrong set value of field password length. was is just 50 varchar. and i change it to 255 or max of varchar length in mysql, and its solved.

[2018-03-13 09:12] akkonrad commented on #3664
ok cool. in my case it is mongodb, so that's not the issue. thank you for quick reply :)

[2018-03-13 15:21] vinicius-ronconi commented on #3418
I just cloned https://github.com/strongloop/loopback-sandbox.git and tried to run the project as-is, using in-memory connector and I'm facing the same issue.

Using the /explorer, I created a new user, logged in, set the token and then tried to get some resources of this user:
- GET /users
- HEAD /Users/{id}
- GET /users/{id}/accessTokens

Added a boot script to create an admin, logged in, set the

[2018-03-13 15:41] vinicius-ronconi opened #3828 "HTTP 401 on Users endpoints - even as admin"
# Description/Steps to reproduce
I just cloned https://github.com/strongloop/loopback-sandbox.git and tried to run the project as-is, using in-memory connector.

Using the /explorer, I created a new user, logged in, set the token and then tried to get some resources of this user:
- GET /users
- HEAD /Users/{id}
- GET /users/{id}/accessTokens

All the above returned a HTTP 401.

Then I added a boot

[2018-03-13 23:41] abouroubi opened #3829 "ACL seems to not work when having multiple user models with a base UserModel"
# Description/Steps to reproduce

I'm having trouble using multiple user models in my app, here is my test case.

I create a new loopback app, follow the doc to add multiple user models, with custom AccesToken model (https://loopback.io/doc/en/lb3/Authentication-authorization-and-permissions.html#access-control-with-multiple-user-models).
I have 5 models:
1) BaseUser : that inherit from User and h

[2018-03-14 11:12] akkonrad commented on #1460
+ 1

[2018-03-14 11:45] israelglar opened #3830 "async function - callback called after finished"
# Description/Steps to reproduce
I'm defining a async remote method and when I call the callback function with no Errors 'Callback was already called'. But if the callback has an Error, it all goes well.

### Function with no errors:
Client receives 'ok' but server's console shows 'Error: Callback was already called.'
`Test.async_returnCB = async (cb) => {
        cb(null, "ok")
    }`

### Consol

[2018-03-14 11:51] shivamgupta211 commented on #3356
Please do something about this bug, StrongLoop/Loopback. My servers log files are getting filled with these annoying consoles.

[2018-03-14 16:11] webocs commented on #3684
Too bad this is dead.. I'd love this feature and rollbacking right now.. I guess we'll have to implement a custom solution for our system.

[2018-03-15 17:01] brunoescalona commented on #3634
@ghmendonca could you find a solution for that? I am getting the same empty array like you.

[2018-03-15 17:09] ghmendonca commented on #3634
@brunoescalona I couldn't. I don't remember now the workaround that I used, sorry. But what I think is that this bug only happens if you use MySQL, because the docs seems to be right and no one ever answered me about this bug.

[2018-03-15 17:31] brunoescalona commented on #3634
@ghmendonca Ok thanks, I'm having the same problem with mongodb and with memory connectors. I will try to find a solution.

[2018-03-15 18:14] brunoescalona opened #3831 "Empty array response in HasManyThrough relations with include filter"
# Description/Steps to reproduce
First at all I want to give you te version of my package.json
[code]

I have created an application with HasManyThrough relationship.
A ```Restaurant``` model with the following relation:
[code]

A ```Laboratory``` model with the following relation:
[code]
And finally a mapper ```LaboratoryRestaurantMappers``` to map both models through hasmay relations with the fo

[2018-03-15 18:23] brunoescalona commented on #3831
Solved the issue with that post in stackoverflow:
https://stackoverflow.com/questions/43120270/loopback-include-filter-fails-with-hasmanythrough-relation?rq=1

[2018-03-15 18:23] #3831 closed

[2018-03-15 19:53] xmanemran opened #3832 "modelInstance..! How do you do that ?"
[code]
Here is log

[code]

I am not expert in JavaScript. If we use `Object.defineProperties` definitely `__data` should show on console, but it not, How?
How do you do that ? ⭕️

[2018-03-15 23:40] pbalan commented on #3832
@xmanemran What are you trying to achieve? If you want the data, you can do the following.
modelInstance.__data
However, if you want the keys for the data, you can use Object.keys on **modelInstance.__data** array.
Shortcut that works for me **modelInstance.toJSON()**

[2018-03-16 03:59] brunoescalona commented on #3634
@ghmendonca I found a solution for the problem.
Here https://github.com/strongloop/loopback/issues/3831 you can find the explanation in case you need it.
I had to use the `keyThrough` property as explained in the documentation https://loopback.io/doc/en/lb3/HasManyThrough-relations.html#keythrough-in-json.

[2018-03-16 05:25] NorthDecoder commented on #3807
There are several fully functional examples on youtube that if followed exactly will work as shown:
* by David Connelly
  -  Setting up with mongodb [01](https://www.youtube.com/watch?v=Z5pGL2QojU4)
* by IBM developer advocate Erin McKean
  - [IBM Code SF Jan 2018](https://www.youtube.com/watch?v=E94I-F5V7_4)
  - [SacJS June 2017](https://www.youtube.com/watch?v=J3tfPTyPY4c)
* Traversy Media
  - L

[2018-03-16 10:07] #3832 closed

[2018-03-17 09:24] tttmaximttt opened #3833 "Static remote methods don't work"
# Try to create any remote static method and call it.

[2018-03-17 16:51] #3682 closed

[2018-03-18 14:09] #3704 closed

[2018-03-18 17:09] #3748 closed

[2018-03-19 11:37] karanssj4 commented on #3139
@bajtos how to proceed to add this functionality? I tried adding a function in lib/model.js similar to updateById but I get an error - Cannot read property 'apply' of undefined

I was, however, able to achieve the desired functionality by adding these two functions in lib/model.js like this.

[code]

[code]
any suggestions?

[2018-03-19 12:31] israelglar commented on #3830
Is there a solution to this?

[2018-03-20 02:06] dhmlau commented on #3807
@nyousefzai , you might also wanna check out the `README` on https://github.com/strongloop/loopback-connector-mongodb.  Hope it helps.

[2018-03-20 09:41] bajtos commented on #3833
Please add full instructions describing how to reproduce the problem, see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report.

[2018-03-20 09:41] #3833 closed

[2018-03-20 09:43] bajtos commented on #3830
@israelglar async functions are returning a promise which is handled by LoopBack, you must not use the callback. Simply return the value directly.

[code]

To report an error, return a rejected promise or throw the error directly.

[code]

[2018-03-20 09:43] #3830 closed

[2018-03-20 09:45] bajtos opened #3834 "Doc: how to use async functions"
We should enhance our documentation to show how to use async functions in the following places:

 - as a custom remote method
 - as a remoting hook (beforeRemote, afterRemote, afterRemoteError)
 - as an operation hook

Related issues:

 - #3830

[2018-03-20 10:00] bajtos commented on #3828
Hello @vinicius-ronconi, thank you for reporting the issue.

LoopBack's ACL system works and method (endpoint) level, not at the level of individual model instances. In order to allow `GET /users` for an ordinary user, we would have to filter the returned instances to include only the currently logged-in user - and that's something LoopBack cannot do (yet).

It may be possible to configure ACLs to

[2018-03-20 10:03] bajtos commented on #3827
Hello, could you please create a small application reproducing the problem? See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2018-03-20 10:07] bajtos commented on #3824
@raymondfeng could you PTAL?

[2018-03-20 10:09] bajtos commented on #3821
@wibblymat thank you for reporting this idea, it makes sense to me. @raymondfeng can you think of any solution how to combine relations and scope in the current LoopBack version?

[2018-03-20 10:11] bajtos commented on #3819
Hi, could you please create a small application (see [our instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)) that we can use to reproduce your problem? It would be even better if you could include automated tests that we can run to trigger the issue.

[2018-03-20 10:11] bajtos commented on #3818
Closing as a duplicate per the edit.

[2018-03-20 10:11] #3818 closed

[2018-03-20 10:13] bajtos commented on #3817
Hello, I don't see any obvious problem. Could you please create a small application reproducing this issue in isolation? See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2018-03-20 10:20] bajtos commented on #3816
The current behavior is intended. Here is what the documentation you linked to says:

"accessibility of Node API" means that you can still access the model from your server-side javascript code.

If you would like to expose the model over REST but hide it from the API explorer, then you need to annotate all model's method as `documented: false`. Considering how tedious it is, I think it would make

[2018-03-20 12:09] jkunwar commented on #3817
i have figured out solution for this. thank you for the response though :)

[2018-03-20 12:09] #3817 closed

[2018-03-20 12:15] bajtos commented on #3829
Hello, thank you for the bug report and the loopbacktest repository. I managed to reproduce the problem you have described.

AFAICT, there are several causes:

1] `$everyone` cannot be used as a user id, it's a role id. Here is the corrected ACL definition:

[code]

2] You need to create "admin" role and assign your admin user to this role, as described in our [docs](https://loopback.io/doc/en/lb3

[2018-03-20 13:21] bajtos commented on #3829
Yay, I sent a pull request to fix this issue - see https://github.com/strongloop/loopback/pull/3835. @abouroubi could you please check if the patch fixes the problem for you (together with the change described in my comment above) and leave a comment in the pull request to let us know?

[2018-03-20 13:26] bajtos commented on #3826
Hello, please create a small application showing how to reproduce the issue in isolation - see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report. Ideally, write an automated test we can run via `npm test`, one that fails with the current LoopBack version.

[2018-03-20 13:29] bajtos commented on #3825
IIRC, `find` is using `"accessType": "READ"`. Please try the following simplified ACL config and let me know if it solves the problem for you:

[code]

If the problem persists, then I'll need you to provide us with a small application reproducing the issue in order to be able to help - see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2018-03-20 13:32] bajtos commented on #3812
Hello, I don't see any obvious problem in your configuration. Since you have only a single user model in your application, you should not need a polymorphic relation - see the following documentation for more details: http://loopback.io/doc/en/lb3/Authentication-authorization-and-permissions.html#access-control-with-a-single-user-model

Please create a small application showing how to reproduce th

[2018-03-20 13:34] bajtos commented on #3808
For example: in your tests, define a custom remote method that always return an error. Invoke this custom remote method via REST API (e.g. using [supertest](https://www.npmjs.com/package/supertest)) and verify that your afterRemoteError was correctly executed.

[2018-03-20 13:34] #3808 closed

[2018-03-20 13:34] #3807 closed

[2018-03-20 13:34] bajtos commented on #3807
Closing as answered.

[2018-03-20 13:44] bajtos commented on #3805
Let me rephrase your report as I understand it: `afterRemote('patchOrCreate')` works, but it does not work with method names "updateOrCreate" and "upsert". Is that correct?

Such behavior looks like a bug in the implementation of our remote hooks to me - perhaps the hooks are not recognizing aliases? This particular method is registered as "patchOrCreate" with two aliases "updateOrCreate" and "ups

[2018-03-20 13:47] bajtos commented on #3803
Hello, LoopBack does not support multipart/form-data requests out of the box.

In order to support this use case, you have to either write your custom remote method that will parse the request body (see loopback-component-storage for inspiration [here](https://github.com/strongloop/loopback-component-storage/blob/eb11b4d660c6da950869041e9d4cb4fcfad52a46/lib/storage-service.js#L236) and [here](http

[2018-03-20 13:47] #3803 closed

[2018-03-20 13:50] bajtos commented on #3802
Hello @ninoguba, thank you for reporting this issue. The AccessToken is definitely meant to be stored in a database! It's just that we did not anticipate the timezone-related issue you have described.

Do you have an idea how to fix this problem? Would you like to contribute the fix yourself? See http://loopback.io/doc/en/contrib/code-contrib.html to get you started.

[2018-03-20 14:01] AhmedMasoodSiddiqui opened #3836 "MySql connector AUTOUPDATE works after many tries, why?"
according to the documentation if a new field/property is added to a model, the DB also needs to be updated, for this autoupdate is used, but it doesn't always work, after 5 to six attempts some times it does work, but if foreign keys are involved it straight away gives error.

[2018-03-20 14:06] bajtos commented on #3798
Our built-in token middleware validates the access token and stores valid access tokens in the `request` object. I think the following code is what you want:

[code]

By default, `loopback#token` middleware should be automatically executed by `loopback#rest` middleware. I am not sure in which order the REST middleware and custom Express routes are executed, you may need to to configure `loopback#t

[2018-03-20 14:06] #3798 closed

[2018-03-20 14:06] abouroubi commented on #3829
Thanks for the reply.

When assigning the role, it fixes the authentication.

But my original problem, was to control access based on principal type and not roles. Wonder if this is possible with the actual implementation ?

I added some code in the BaseUser, that assign role to the models that inherits from it (sets role to Admin when principal is Admin, and to Client when principal is Client). I

[2018-03-20 14:13] bajtos commented on #3797
I am afraid you cannot avoid having two before-remote hooks to accomplish what you want. However, you should be able to move the actual implementation to a single method that's shared by both hooks.

A mock-up to illustrate my point:

[code]

Having wrote that, I feel that your approach is rather brittle. Let's say your hook is going to reject a request trying to send Email1 and Email2 when they b

[2018-03-20 14:13] #3797 closed

[2018-03-20 14:19] bajtos commented on #3796
I would recommend to add your custom method to User prototype. One option is to define your custom User model extending the built-in User model, see http://loopback.io/doc/en/lb3/Extending-built-in-models.html. Another option is to write a boot script that will add your custom method directly to the built-in User model, see http://loopback.io/doc/en/lb3/Adding-remote-methods-to-built-in-models.htm

[2018-03-20 14:19] #3796 closed

[2018-03-20 14:57] bajtos commented on #3794
Hi @TuNi54, thank you for reporting the issue. We don't have bandwidth to take a close look into this problem, but I can at least give you some pointers to get you started.

The first step is to find out what query is sent to MongoDB. For example, you can run your app on your local machine with debug log enabled (`DEBUG=loopback:connector*`), make the slow query and see what the connector reported

[2018-03-20 15:02] bajtos commented on #3795
Hello, I am afraid I don't understand what are you trying to achieve, @TopGunBasten.

In general, writing custom remote methods is documented here: https://loopback.io/doc/en/lb3/Remote-methods.html

In your custom remote method, you can invoke any Node.js API you like, including ibm-cos-sdk-js.

Are you perhaps looking integration between our loopback-component-storage and IBM Object Storage Serv

[2018-03-20 15:06] bajtos commented on #3792
Hi @jhay07, thank you for reporting the issue. Could you please provide us with detailed steps how to reproduce the problem locally on our machines? A small application based on our sandbox (see see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report) would be best.

[2018-03-20 15:48] raymondfeng commented on #3801
![image](https://user-images.githubusercontent.com/540892/37665859-6ad9da3c-2c1b-11e8-9977-90262895b5ad.png)

It seems the cloundant driver is not releasing http requests. As a result, all request/response data are kept in http ClientRequest objects. Maybe you are sending requests too fast before Cloudant can respond.

[2018-03-21 10:34] andy2046 commented on #3816
@bajtos thanks for the reply, I can see the `documented` option for remote method in 3.x, doest it apply to normal method defined in JSON file?

we are using 2.x, can I cherry pick this `documented` option implementation to 2.x? maybe it's easier to just upgrade to 3.x?

thanks for pointing out the loopback-swagger code for this `documented` option, I can raise a pr to make the model-level flag `d

[2018-03-21 13:02] #3743 closed

[2018-03-21 17:40] JuergenSimon commented on #1920
How can you close this issue? The bug is still there! +1

[2018-03-22 07:53] hyunjin-juana-joo opened #3837 "after upsert fail, hiddenProperties created and scope disappear"
hello,

find after upsert(replaceOrCreate) fail, scope disappear and hiddenProperties are created in before remote.
here is my code. (I use mysql and remove table information like 'mysql' or 'relations'...)

upsert url : POST replaceOrCreate

**normal case :**

[code]

 **error case**

[code]

why does scope disappear...??

[2018-03-22 08:18] #3829 closed

[2018-03-22 08:20] bajtos commented on #3829
@raymondfeng could you please help? I don't know our ACL/auth system enough to be able to answer this question.

[2018-03-22 08:59] hyunjin-juana-joo commented on #3837
this model "SlotGroup" was declared

`"relations": {"page": {"type": "belongsTo", ...}, "slot":{"type": "belongsTo", ...}} `

for many-to-many.

"Page" and "Slot" model

`"relations": {"pages": {"type":"hasMany", "model": "Page", "foreignKey": "slotId", "through":"SlotGroup","keyTrough":"pageId"}}
`

Can I guess cached problem?
https://apidocs.strongloop.com/loopback-datasource-juggler/#relationmi

[2018-03-22 16:14] #3750 closed

[2018-03-22 20:14] #3700 closed

[2018-03-23 07:49] Jman commented on #3661
But how to do this on the fly?
Why i need to use environment var to switch language for error messages?
How to add new languages for Validator?
Why it is so complicated to do such basic operation?

[2018-03-23 11:32] israelglar commented on #3295
No solution for this error yet?

[2018-03-23 11:36] israelglar opened #3838 "Validation problem when patching a model with embedded relation"
This is an old issue, but is not resolved yet. The last github issue was closed, so I'm opening this one.

Any solution to this yet?

Previous issue: https://github.com/strongloop/loopback/issues/3295

[2018-03-23 13:43] bajtos commented on #3816
Yes, it applies to all remote method, regardless of the place where they are defined.

Since the support for this option is implemented in loopback-swagger, which is mostly independent from the LoopBack version, I think it should work with LoopBack 2.x applications too. Just make sure you are using the latest version of loopback-component-explorer and/or loopback-swagger.

We are not adding any ne

[2018-03-23 19:28] jura-b commented on #3295
@israelglar I gave up and rewrite the CRUD on my own. I nested the object and validate with joi instead of using embedded relation.

[2018-03-23 19:31] bagintz commented on #1850
@rkmax can you share your mistake if you remember, I am having the same problem

[2018-03-23 19:58] bagintz commented on #1850
fwiw, I found my problem, I had a weird table structure that I had to override the "keyThrough" for.

[2018-03-24 20:57] cbullokles commented on #2202
And there is clear doc about how to do it? I want to do the same but I didn't get a clear response answering how to do it..

[2018-03-24 22:04] #3754 closed

[2018-03-24 23:33] newthings4learning commented on #843
I am still facing this issue.
I just began with loopback and created a very simple app with two models only: customer and club.
I created a hasAndBelongToMany relation between these models.

i see that i have got the below end point in the explorer:
POST /customers/{id}/clubs

But I don't want to expose the create method for club from within customer.

I tried to use the below methods inside custo

[2018-03-25 05:04] #3755 closed

[2018-03-25 09:11] abarbaro opened #3839 "Error installing loopback"
Hi all,
I'm trying to install loopback on a Ubuntu machine but I had the following error:

[code]

Any suggestion?

Thanks

[2018-03-25 16:53] #3753 closed

[2018-03-26 02:20] tuxity commented on #3648
I have exactly the same problem.
Empty collections, autoupdate to create mongo indexes, and then I use a POST route on my model and I get the error.

My guess ? the mongo connector doesn't handle correctly { "lat": xxxx, "lng": xxxx } loopback object to GeoPoint object or something like that

[2018-03-26 09:57] bmrinal opened #3840 "updateAll fill nulls automatically on array nested props"
Models with nested properties gets nulled values on updateAll

# Description/Steps to reproduce
1. Create a model with nested property (array of objects)
2. Try to use updateAll on that model for the above nested property

The above steps results in filling of null values in all other optional model properties apart from the nested one!

[2018-03-26 13:22] mbuster commented on #257
@buokae, would you be interested in sharing your solution. We are finding this be a requirement as well, and I'm very interested in seeing how others have approached it.

[2018-03-26 14:53] #3756 closed

[2018-03-26 15:02] AhmedMasoodSiddiqui commented on #3836
+ and it does not update tables that have foreign key constraints.  kindly respond.

[2018-03-27 02:38] #3758 closed

[2018-03-27 04:56] andy2046 commented on #3816
@bajtos
I tried to add `documented` to model json file, but in loopback-swagger this property shows in `aClass.ctor.settings.documented`, not in `aClass.documented`, I believe I have to add one line to
strong-remoting shared-class.js `this.documented = this.ctor.settings.documented !== false` in order to access `aClass.documented`, or it is ok to access via `aClass.ctor.settings.documented`, pleas

[2018-03-27 12:20] bajtos commented on #3816
strong-remoting shared-class.js `this.documented = this.ctor.settings.documented !== false` in order to access `aClass.documented`, or it is ok to access via `aClass.ctor.settings.documented`,

Let's enhance strong-remoting to lift the `documented` flag from model settings to SharedClass as you proposed.

[2018-03-27 14:38] #3744 closed

[2018-03-27 18:53] #3839 closed

[2018-03-27 18:55] abarbaro opened #3841 "Cannot initialize connector "mongodb": slash in host identifier"
Hi all,
I have installed mondogb correctly and crated a new datasource and relative model. Now when I run ```node .``` I have the following error:

[code]

I'm using ```4.2.0 (generator-loopback@5.7.0 loopback-workspace@4.1.1)```, with older version I don't have this problem. Any idea on how to solve it please?

Thanks

[2018-03-28 00:08] #3760 closed

[2018-03-28 05:19] #3837 closed

[2018-03-28 10:06] akvaliya opened #3842 "Loopback : Validate model from another model doesn't return proper error message"
I am validating model from another model like below

[code]
If i do this then I am getting error like below

[code]
It should be with error message like below

[code]
Can anyone tell me what am i missing here.

How can i achieve this.

[2018-03-28 10:08] snarjuna commented on #2882
@jannyHou Any update on the PR? We are facing this problem in multiple connectors

[2018-03-28 12:13] buokae commented on #257
@mbuster sure, I've used a combination of tib's and av-k's code above. In server.js:
[code]
Also, in models-config.js I have configured the ttl in the custom user model I'm using like so:
[code]
That way loopback enforces the ttl value.

[2018-03-28 12:21] mbuster commented on #257
@buokae very slick, thanks for sharing.

[2018-03-28 12:45] jpradeep2003 commented on #3203
This is a major issue. I am wondering why it has no response whatsoever. Is nobody facing this? Is it not a valid issue? Is there an obvious workaround? Can somebody please update this issue with some useful guidance.

[2018-03-28 16:38] davidpestana opened #3843 "Second Level Size in where quering"
I have a model with hasMany relation  ( myModel hasMany Items )

i need filter all with only 1 item in hasMany relation

i try to filter with ...

`{"include":"items","where":{"items":{"size":1}}}`

I do not find documentation about it, what am I doing wrong?
thanks

[2018-03-28 16:39] andrewpaulino commented on #591
Has any solutions came up, or are going to have to manually recreate all the tables with our SQL DB. I am assuming the reason I can't login is because mySQL DB has no reference to the accessTokens?

[2018-03-28 18:07] ochimo commented on #2578
@qvantor @richardpringle  -- There is still a bug here in User.verify in the following conditions: If you specify your own verification URL in verifyOptions.verifyHref, then it is reasonable that you also have hidden the confirm user method.  The bug is that urlPath should not be built if verifyHref is specified.  Instead urlPath is always built and joinUrlPath throws because confirm method is hid

[2018-03-29 01:48] paulomcnally commented on #2901
This script allow multitenant (postgre schema based).

http://subdomain.domain.com => set **subdomain** schema in every model. Need edit **model-config.json** to add

[code]

https://gist.github.com/paulomcnally/0fea84f0c5ed7fce70fd26d134c65c5f

[2018-03-29 08:46] TheBoroer commented on #546
Just like @dancingshell i'm using a before save hook to check if the authenticated user is creating a model with their own user ID (and not some other user's id).

Since this issue is still open, i'm guessing this still isn't in lb3? Is there a better way that I missed? Before save does the job, but just requires some extra code.

Thanks!

[2018-03-29 17:31] dhmlau commented on #3843
@davidpestana , have you looked at this: https://loopback.io/doc/en/lb3/Where-filter.html?

[2018-03-29 17:44] davidpestana commented on #3843
@dhmlau Sure, but ... in "where-filter documents" do not explain how I can filter by the size of the elements included in has many relationships.

I try, using size operator than the mongoDb query but it does not work.

Thanks for everything.

[2018-03-29 19:53] wasiddiqui commented on #1314
same error

[2018-03-30 05:40] abarbaro commented on #3841
Problem solved.

Thanks anyway

[2018-03-30 05:40] #3841 closed

[2018-03-30 07:27] #3654 closed

[2018-03-30 07:33] TopGunBasten commented on #3795
hi, bajtos
I have fixed that, but I think need a feature like storage component in loopback like integrating with AWS S3 Service

[2018-03-30 07:33] #3795 closed

[2018-03-30 07:51] jkunwar commented on #3817
hello @arnaud-git  I haven't created remote method instead use same URL , and open file by using arraybuffer

[2018-03-30 08:08] TheBoroer commented on #3094
Damn, i just got burned by this too... *sigh*
-_-

[2018-03-30 16:29] richardpringle commented on #2578
@kjdelisle ^

[2018-03-30 17:21] rockyshukla opened #3844 "find value and save it to variable loopback"
<I m new to loopback so  don't know how to solve this kind of situations suppose I have  model sale and model stock
here is my code

    Sales.beforeRemote('create', function (ctx, user, next) {
   	     var stock=app.models.estshopinventory
   	     var value=  stock.find({where: {product_id:1}})// is this possible to assign value which got from stock

    });
if users sale tv which price is 1000

[2018-03-30 17:44] #3825 closed

[2018-03-30 18:11] Sheikh-Aman commented on #3785
@rahulrkr08 Could you please tell a bit more on where did you uncomment the enableAuth() function?
Is this the default User model, or a derived one?

[2018-03-31 11:37] abarbaro opened #3845 "ACL Question"
Hi all,
in my application I have the ```shared``` model where I want to enable the ```admin``` to perform any action and instead other user only few of them. I have successfully created the ```admin``` role and all works. The problem is that if by default I say ```on shared prohibits any access`` and after ```on shared allow a normal user to use find``` as a normal user I cannot use ```find```.Wha

[2018-03-31 12:16] #3762 closed

[2018-03-31 12:34] VAggrippino commented on #3841
@abarbaro How did you solve the problem? I have the same problem.

[2018-03-31 13:26] tranthebao opened #3846 "Embeds relation lost mysql. Can not use embed insert full object model to table details and master"
**Table.**
[https://drive.google.com/file/d/1ut1uGfGZXwrZ3smwdHv9uV1iybMsfhGE/view](url)
[https://drive.google.com/file/d/1eLcA4GPBjoBU0MnpGEzJuTbvaedkWoCk/view](url)
**Model**
{
  "name": "Customer",
  "base": "PersistedModel",
  "idInjection": true,
  "options": {
    "validateUpsert": true,
    "strictObjectIDCoercion": true
  },
  "properties": {
    "name": {
      "type": "string"
    }
  },

[2018-03-31 22:24] petrgazarov opened #3847 "Feature request - `afterRemote` method should be able to take an array of method names"
# Description of proposed feature

Feature request - `afterRemote` method should be able to take an array of method names

Right now, the first argument of `afterRemote` function is the [method name (string)](https://github.com/strongloop/loopback/blob/0feda03d5b9534d4ce785e1de18c6788300c77af/lib/model.js#L225). This limits usage to just one method. If I want to have the same `afterRemote` callbac

[2018-03-31 22:26] abarbaro commented on #3841
Hi,
Please when you create a new model try to manually insert the plural for it
instead of leaving it blank and also add at least one property.

I'm not entirely sure what solved it but at least it worked :)

Let me know if it works.

Thanks

On Sat, Mar 31, 2018, 13:35 Vince Aggrippino <notifications@github.com>
wrote:

[2018-04-01 03:59] VAggrippino commented on #3841
@abarbaro I figured out the cause of the problem for me... my own stupidity. I forgot that my database connection information wasn't part of my git repository when I cloned it to my host. So, my MongoDB connection URL that was defined like this in the code:

    const mongoUrl = `mongodb://${username}:${password}@${dbhost}:${dbport}/${database}`

... ended up being interpolated like this:

    mon

[2018-04-01 04:49] TheBoroer commented on #257
Thank you @buokae !
Your snippet helped me solve our (related) problem as well :)

[2018-04-01 10:59] mahdinai opened #3848 "res.flash is not a function in middleware"
hi , i'm using flash-2 in my project :
server.js code:
[code]

and it work correctly in routes ,but in middleware before:route have error:
res.flash is not a function

middleware code:

[code]

[2018-04-02 02:01] #3653 closed

[2018-04-02 07:01] #3765 closed

[2018-04-02 08:19] abarbaro commented on #3845
Hi all,
just a quick update on it. Is it possible to create a really granular ACL say something: user X can access only to the work Y with id Z?

Thanks

[2018-04-03 05:03] babuqburst opened #3849 "Order the results by the property of the related model"
I have to order the results by the property of the related model. But it is not working. Can you suggest a solution for it?

Model 1: Project
id
title

Model 2: Bids
id
rank
project_id (FK)
createDate

Model 3: Company

I have to apply the following filter to the bids list

[code]

var params = { params: { filter: filters } };

var result = $http.get( '/api/Bids', params );

console.log(result);

[2018-04-03 09:22] saikartik1990 opened #3850 "Valiadations are not working when my model's datasource is null"
If feature:  Validation Methods
If bug: set datasource to null or false in the model.Config

The status is 200 always not seeing 422

[2018-04-03 13:35] abqadeer commented on #443
In case if any body tries to do that in future here is how i did it(complete MyModel file)

    'use strict';

    module.exports = function (MyModel) {

        MyModel.once('attached',function(){
            MyModel.deleteById = function(filter,auth, cb){
                cb(null,'This is a overridden method')
            }
        })
    };

Thing to note here is that cb is the third argument to

[2018-04-03 14:55] #3767 closed

[2018-04-03 17:00] kernel8liang opened #3851 "How to run loopback on multicores cpu ?"
The loopback API is running on single core with single thread,  How can I run it on multicores with multi threads?
I tried strongloop but it doesn't  work.

[2018-04-03 17:55] #3768 closed

[2018-04-03 21:46] #3769 closed

[2018-04-03 23:46] #3770 closed

[2018-04-04 13:31] maherzaidoune opened #3852 "french translation problem"
i was trying  to use lb acl command and  i found  a problem in the frensh version
so , select the acl scope  and  select  the  access type was  ok , but when i tried to select  the role , the option i got was
- tous les utilisateurs (all  users)
- tous  les utilisateurs authentifiés(any authenticated user)
- tous  les utilisateurs authentifiés(any authenticated user) again
- l'utilisateur possedan

[2018-04-04 16:04] dhmlau commented on #3852
@maherzaidoune , thanks for reporting this issue.
In the English version (https://github.com/strongloop/loopback-workspace/blob/master/intl/en/messages.json#L160)
[code]

But in French version (https://github.com/strongloop/loopback-workspace/blob/master/intl/fr/messages.json#L19)
[code]

[2018-04-04 17:33] dhmlau commented on #3852
Sent the request to the translation team.

[2018-04-05 09:52] RishiMahendru commented on #397
Hi @bajtos is there a way to override persistedModel class methods and add our custom logic to used across all custom models

[2018-04-05 12:30] mastermunj commented on #3851
Since Loopback is built on top of Express, try going through [this](https://expressjs.com/en/advanced/pm.html).

We use PM2 for our production servers to run a thread per core.

[2018-04-05 12:38] mastermunj commented on #3849
What exactly are you trying to achieve here?
You're querying `Bids`, which includes `company` & `project` which again includes `bids` and `company`. Same data being queried several times on several levels.

On other note, include can also accept various filters like where, order and fields. Read more about it [here](http://loopback.io/doc/en/lb3/Querying-related-models.html#using-filters-parameter

[2018-04-05 13:00] mastermunj commented on #3844
If you're on Node 8+ then you can use Promises or even better async/await to do one of below.

Promise way:
[code]

Async/Await way:
[code]

Hope it helps.

[2018-04-05 13:04] mastermunj commented on #3843
Try using `scope` on include. Read about it [here](http://loopback.io/doc/en/lb3/Querying-related-models.html#using-filters-parameters-with-included-relations).

Something like:
[code]

[2018-04-05 13:07] mastermunj commented on #3842
Please share validation code within `Favorite` model for us to know more about exactly what's going on in there.

[2018-04-05 13:07] mastermunj commented on #3840
Can you share a snippet to replicate the issue for better understanding?

[2018-04-05 15:07] akvaliya commented on #3842
@mastermunj  There is no code. It's loopback's default validations like (required, check type) according model json.

[2018-04-05 16:57] EdCampion opened #3853 "Default Scope - Does it apply for create and update ops"
Hi,
I'm attempting to use the default scope to always include some related rows following CRU (create,read,update) ops on a table.

Current documentation states that the default scope will take effect on all CRUD ops. In my testing it is not effective on create or update. I just get the basic table object back.

Is the documentation out of date? Or does the issue lie with me?

[2018-04-06 11:12] #3771 closed

[2018-04-06 19:28] petrgazarov commented on #3593
Hi all,

Here is a simple app which reproduces the issue using mongodb connector: https://github.com/petrgazarov/loopback-sandbox-issue-3593-repro

Mongodb connector automatically converts string properties that look like ids to ObjectID types. This is documented in the [docs](https://github.com/strongloop/loopback-connector-mongodb#strictobjectidcoercion-flag).

So then

1. a simple where filter

[2018-04-06 21:34] joshrickert commented on #3800
Hoek's backported the fix and released it with 4.2.1, which satisfies the required versions all the way up the dependency tree without needing any changes in this repo. I was able to clear out the security notice by forcing an update:
[code]

Clearing out your `node_modules` and `package-lock.json` then running a fresh `npm install` should also do the trick.

[2018-04-07 09:11] birendra-90 opened #3854 "How to webpack 4 configure with loopback"

[2018-04-07 11:45] #3705 closed

[2018-04-07 11:46] sstone1 opened #3855 "ID field with generated = true, forceId = true appears in Swagger example"
Reopening as #3705 was closed and this is regularly causing our users confusion.

# Description/Steps to reproduce

I am using the following LoopBack model definition:

[code]

Each instance of this type has those three properties ($class, id, timestamp).
The ID needs to be generated on the server side when creating new instances of this type.
The ID must not be supplied by the client.

# Expected

[2018-04-07 15:45] #3774 closed

[2018-04-08 10:50] #3775 closed

[2018-04-08 10:50] #3776 closed

[2018-04-09 04:55] babuqburst commented on #3849
@mastermunj ,
Thank you for the reply. I agree to remove the includes associated with project filter. my concerns about order filter. I need to filter the entire results based on project title and then with the rank field of bid table.

[2018-04-09 08:04] #3772 closed

[2018-04-09 11:13] mastermunj commented on #3842
Without knowing anything about models, it's difficult to find casue.

Please follow the steps for Bug Report explained [here](https://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report) to create a repo that reproduces the issue.

[2018-04-09 11:16] mastermunj commented on #3849
AFAIK, combined ordering on model and it's related model is not possible in loopback as of now.

[2018-04-09 12:16] mrbatista commented on #924
@kjdelisle Please see issue https://github.com/strongloop/strong-remoting/issues/443 for more details. The problem is related to strong-remoting.

[2018-04-09 15:41] dhmlau commented on #2882
Marking it as `bug` so it won't be closed by stalebot.

[2018-04-09 16:48] OscarVargasG commented on #3242
I have the same issue.....
Some News?

[2018-04-09 17:17] OscarVargasG opened #3856 "Put method to update a single field deletes the unspecified fields and ask for required fields."
When i use the PUT method in any model, the method ask to fill the required fields and updated  to null value the unspecified fields, (similar behavior to a POST method). Can´t update a single field!

# Description/Steps to reproduce
Get method:
![get](https://user-images.githubusercontent.com/8744574/38511222-b851b004-3be4-11e8-9aef-d8d2669d8490.PNG)
PUT:
![32](https://user-images.githubuserconte

[2018-04-09 18:12] jannyHou commented on #2882
I have heard different opinion on the expected behaviour:
@raymondfeng Do you think it's a valid use case to omit the embedded item when creating its parent instance?

For example:

Request:
POST http://localhost:3000/api/Tasks
Payload:
[code]
Response with embedded item:
[code]
Response omit embedded item:
[code]

And I also appreciate some explanation of the "read only property" mentioned in htt

[2018-04-10 01:17] mrbatista commented on #3569
@yahoohungif you are interest I have found the temporary solution:
[code]

[2018-04-10 09:49] JaFF92 commented on #3778
I am running into the same problem here. My setup is similar to @sebastianfelipe 's, after I had to change a relation type from "embedsMany" to "referencesMany":

**PersistedModelA** embedsOne **ModelB**
**ModelB** referencesMany **PersistedModelC**
**PersistedModelA**.nestRemoting("**ModelB**")

Also getting the error
"Cannot load the LoopBack application: Invalid remote method: `__exists__Persis

[2018-04-10 10:16] shaheero commented on #3644
Last time I tried, this was still persisting.

[2018-04-10 12:54] akvaliya commented on #3842
@mastermunj If it helps my model is like below

[code]

Now when user passes date like "2018-03- 10:28:00.810Z". It will give error like i mentioned in my question

[2018-04-10 14:47] mastermunj commented on #3842
Sorry, can't make out what's up there. Please help with repo to reproduce as explained [here](https://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report).

[2018-04-10 15:49] akvaliya commented on #3842
@mastermunj I don't understand what are you trying to find. I have given model definition. And a remote method & ex. to fire validation.

Issues is with
[code]

What more do you need?

[2018-04-10 16:30] RobPhippen commented on #2882
@raymondfeng @SowmyaGrama @jannyHou

It's my understanding that `embedsMany` is used to model an object that has an field of type array, with array elements that are themselves of type object.

So I think this boils down to whether the array field is `required` in the response or not.
Since the field is clearly *not* mandatory in the overall model (otherwise, you would not be allowed to create an

[2018-04-10 23:05] abouroubi commented on #3295
Any news about this bug ?

[2018-04-11 02:58] #3852 closed

[2018-04-11 09:09] bienek commented on #3558
I think the question was more related to loopback and not so much towards multiple applications (but rather a single application supporting multiple organisatons).

@karan-kapoor90  did you already find a solution for your loopback application? Reading the resources above about API management software didn't show me an approach. Unless you have separate instances for every organization you still n

[2018-04-11 10:44] rockyshukla opened #3857 "update always inserting last array value"
unexpected behaviour of update
    Permissiontb.assembleAndInsert = async (ctx, cb) => {
    for (let i = 0; i < ctx.req.body.view.length; i++) {
           console.log('outside i  '+i)
           await Process(ctx,i);
     }
    };

     function  Process(ctx,i) {
    let data={company_id:ctx.args.options.accessToken.userId,
           userid:ctx.req.body.userid,
           perpage:ctx.req.body.p

[2018-04-11 11:48] #3857 closed

[2018-04-11 14:57] dhmlau commented on #3856
@OscarVargasG , nice!
Closing this issue as resolved.  Thanks.

[2018-04-11 14:57] #3856 closed

[2018-04-11 17:55] #1803 closed

[2018-04-12 06:41] bitpod-io commented on #3295
Any update on this bug ?

[2018-04-12 11:32] dreamdevil00 commented on #3848
Middleware phase matters. [Defining-middleware.html](http://loopback.io/doc/en/lb3/Defining-middleware.html)

[2018-04-12 15:06] nickgermaine commented on #559
I had subclassed User into user, and then had to combine a few of these to work.  I set my user acls to:

{
        "principalType": "ROLE",
        "principalId": "$everyone",
        "accessType": "READ",
        "permission": "ALLOW"
      },

And then I used the server.js user acls method suggested by jcsmesquita. And then the mixins as suggested by noderat.  Eventually something there worked,

[2018-04-14 14:48] ogsalman commented on #559
Just disable server.enableAuth() when you don't need to be using authentication (primarily in dev)
In that case, if you haven't already, please separate with a dev environment and prod environment.

[2018-04-14 15:55] #3421 closed

[2018-04-14 23:59] darko86 commented on #2346
Hi. Reading above, this seems like exact issue I'm having. I need support for more than 2 level child models e.g:

api/first/:id/second/:id/third/:id/**fourth/:id**

Is there any plan to integrate this and what are the timeframes? It seems there was no progress on this for a while. I'm sure there's a lot of people that are after this.

Is there any workaround for this??

Thanks

[2018-04-16 12:25] jannyHou commented on #2882
Should be fixed in https://github.com/strongloop/loopback-datasource-juggler/pull/1532, I am going to release a minor version for it.