[2016-04-25 20:34] loay commented on #2254
I am not sure if you used Raymond's suggestion above .. and also with the console.log in the boot data for creation model, I got that error:
[code]
which is similar to what you got in explorer as well.

There is a new error handler in development right now. Hopefully that will provide more info. if not, we can look into adding a feature to get the proper error message.

[2016-04-25 20:35] #2254 closed

[2016-04-25 21:02] tomcooksey commented on #2247
I actually found this was caused by a circular relationship, so item A was related to item B was related to Item A etc.

[2016-04-25 21:39] loay commented on #2230
Can you please submit a pull request with your solution?
Also, can you point out the error message that you get or the actual behavior when the process terminates the workflow that you mentioned in your first comment?
Thanks.

[2016-04-25 21:49] loay commented on #2031
Hi, I am closing this issue for now. If you are still experiencing the same problem, please feel free to leave a comment and I will re-open the issue. Thanks.

[2016-04-25 21:51] loay commented on #1825
Hi,

the issue has been reported to include a feature for a similar case: https://github.com/strongloop/angular-live-set/issues/11
Closing this issue for now.

[2016-04-25 21:51] #1825 closed

[2016-04-25 21:53] loay commented on #2081
Hi @margagn
I am closing this issue for now. if you are experiencing the same behavior, please feel free to leave a comment and I will re-open the issue. Thanks.

[2016-04-25 21:53] #2081 closed

[2016-04-25 21:58] 0candy commented on #2173
Yes, you can use scope on inherited models. I tried your above model with the following scope:
[code]

[2016-04-25 22:08] Morriz commented on #2230
I am involved in 2 contracts atm and feel quite overwhelmed, so I don't see that happen in the near future. But a programmers eye will see what I mean.

[2016-04-26 02:05] ffarzat commented on #2243
+1

[2016-04-26 03:27] supasate opened #2258 "Document should be updated to support relative paths in bootScripts option"
In [Defining boot scripts#Boot script loading order](https://docs.strongloop.com/display/public/LB/Defining+boot+scripts#Definingbootscripts-Bootscriptloadingorder), the document states that

[code]
Then the application will then execute scripts in the order specified in the bootScripts array.    Specify the **full directory path** to each script.

Actually, the bootScripts option also supports re

[2016-04-26 04:11] loay commented on #2230
@Morriz Thanks for your suggestion. I will have a look.

[2016-04-26 05:56] nmklong commented on #2248
Hi @loay can you explain a bit more, where can i declare that customizedField as a function? and what should i put in the function to customize the order by statement?

As i explained above, this is my issue:

"
The idea is that i finally got an array of ids, which i would like to keep its order, i can do this by doing

ORDER BY FIELD(id, 1399, 8833, 8989, ....)

in sql, however, i can't alter loo

[2016-04-26 08:15] ask10000 commented on #1207
@cfjedimaster
I avoided going via a REST URL query method. Rather I have four URL parameters (lat,lng,radius and radiusType) to a remote method call - radius defaulted to `2000` and radiusType to `meters`, it works.

[code]

[2016-04-26 09:18] nmklong opened #2260 "Auto-increment is not created when using auto-migrate"
Hi, i'm trying to follow the example of auto-migrate, this is my model definition:

[code]

I edit the bin/server/auto-migrate.js file to be like this

[code]

The table was created just fine, except for the primary key id_ns_customer not getting Auto-increment, does anyone know why? I checked the model definition of acl and i don't see anywhere that auto-increment needs to be declared.

Thank you

[2016-04-26 09:22] elfazzo commented on #1275
+1

[2016-04-26 13:21] cfjedimaster commented on #1207
Thanks - I finally figured it out myself. :)

[2016-04-26 13:41] bajtos commented on #1612
@jannyHou @gausie Here is a quick outline of a possible implementation:

[code]

See also how we allowed remote hooks and remote methods to return a promise instead of calling the callback: https://github.com/strongloop/strong-remoting/commit/a7f5d12c0129932236cfcc7dc6fb824edf40d8a4

[2016-04-26 14:47] bajtos commented on #2252
Hi, the format `filter[where][name]=foo` is a short-hand for `filter={"where":{"name":"foo"}}`, see [qs](https://www.npmjs.com/package/qs#parsing-objects).

I agree we should provide more type information in the generated swagger document. I think we need to register few new types (swagger definitions), at least `FilterParameter` and `WhereParameter`. IIRC, it's possible for models to provide cust

[2016-04-26 14:50] bajtos commented on #2252
Here is the code describing the `filter` argument of the `find` method: https://github.com/strongloop/loopback/blob/4cd84dcd8af5f4f90ff62f506a6bf49e6fc2036b/lib/persisted-model.js#L619-L626

[2016-04-26 18:45] g3k0 opened #2261 "Server side validation and isModified() method"
Hi,
I use Loopback for the development of a web application for my client.
The framework is very rich and it has a very good documentation. Anyway, after few months using Loopback in my professional activity, I noticed the lack of 2 functionalities that could be very useful in my case and perhaps in general:

1) Server side validation for complex instances: my data structure is quite denormalized

[2016-04-26 20:08] superkhau commented on #2261
Thanks for the comment. Could you create two new issues for each of the feature requests you're asking for? We can track them independently then. I will close this issue for now and add feature labels to the new ones u create.

[2016-04-26 20:08] #2261 closed

[2016-04-26 20:09] shaharz commented on #1806
Any updates on this? This is a showstopper bug for me and unfortunately it looks like this one requires an intimate knowledge of Loopback internals which I currently lack, otherwise I would gladly fix it myself.

I put together a test case before I found out about this issue, hopefully it can help you come up with a fix or at least a workaround: https://github.com/shaharz/loopback-sandbox/tree/rel

[2016-04-26 20:51] 0candy commented on #2251
Many users have had issues with getCurrentContext. It is unstable and there has been plans of deprecating it: https://github.com/strongloop/loopback/issues/1676

Maybe you can try the alternative to inject remote context via options.
https://github.com/strongloop/loopback/issues/1495

[2016-04-26 20:52] 0candy commented on #2251
Closing as dup of https://github.com/strongloop/loopback/issues/878

[2016-04-26 20:52] #2251 closed

[2016-04-26 21:26] 0candy commented on #2192
For step 2, did you change the ttl using the User.login function?

[2016-04-26 21:26] souluniversal commented on #2251
Thanks, glad I asked and thank you for the clear answer: loopback.getCurrentContext() uses CLS. CLS is definitely not dependable and context breaks in many places (I documented a bit of that here: nodejs/node#66).

Reviewed the solution.  CLS doesn't work. Domains don't work. Both break under quite a variety of conditions. This looks like a great way to get context always injected down into the mo

[2016-04-26 21:49] 0candy commented on #2260
Try setting `"idInjection": false`

[2016-04-26 22:18] paotoya757 commented on #2243
Here is the fix. Its important to propagate the transaction in this manner.
![image](https://cloud.githubusercontent.com/assets/7131457/14835941/594efccc-0bd2-11e6-9ae5-e7e9fe4e76c2.png)

[2016-04-26 22:34] ffarzat commented on #2243
Worked well. Thanks a lot.

[2016-04-26 22:37] casamia918 opened #2263 "Argument sanitizing of related models."
[Running Environment]
loopback 2.27.0

I'm trying to implement remote hook that does argument sanitize of related models.
The example request url is PUT /users/{id}/contacts. I show you my code.

[code]

[code]

I want to make some private property in contact model.
But it seems useless when request comes from relating model model, like 'users/{id}/contacts', this ACL does not block the properties

[2016-04-26 22:58] crandmck commented on #2258
I added the following:

I'm assuming that addresses this issue.  If not, please tell me what else is required and reopen.  Thanks!

[2016-04-26 22:58] #2258 closed

[2016-04-26 23:06] crandmck commented on #2114
Thanks @danielrvt I added the info you suggested above.
@raymondfeng or @richardpringle can you please confirm the information [above](#issue-137887379)...

[2016-04-26 23:13] crandmck commented on #2209
OK, I think I need to talk with someone about this to understand it better.  Who?  @bajtos ?

[2016-04-27 02:57] likun7981 commented on #2238
I change a way to achieve, thank you for your answer

[2016-04-27 02:57] #2238 closed

[2016-04-27 04:28] loay commented on #2175
Taking for example an operation such as `create`.
```apic create --type model:```
- The first model that is created will be generated in the swagger file. Assume it is name is `swagger1` and has the following data.

[code]

The next output must be captured in either memory or a JSON file that will capture all the output.
[code]
- A scan for duplicated to be done first.
- Merge the info into the sw

[2016-04-27 07:34] nmklong commented on #2260
I found the propery to set, which is "generated"

Thanks for helping!

[2016-04-27 08:24] Undrium commented on #1321
+1

Sweet type or constraint, would organize alot for our project

[2016-04-27 09:44] Valko54 commented on #1984
+1

[2016-04-27 11:02] jamesjjk commented on #466
@XinV @bajtos Is there any update on this feature? The idea of a special key (or reserved naming) to retrieve the properties of the through model, on retrieving related data would be great!

[2016-04-27 13:06] Vaelor commented on #1939
Still not correct in the newest version.
https://apidocs.strongloop.com/loopback/v/2.27.0/#user-prototype-haspassword
Or am I missing something there, this not being the newest version?

[2016-04-27 14:47] jannyHou commented on #2242
Checklist
[ ] Add flag in apiconnect-cli-loopback
[ ] Read flag in loopback-boot
Only trigger connect phase in connectors
[ ] db2
[ ] cloudant
[ ] mysql
[ ] mongodb
[ ] mssql
[ ] postgresql
[ ] oracle

[2016-04-27 15:03] loay commented on #2175
I don't think the current code overrides for some operations, but it actually merges. I need to double check to make sure that it is true.

[2016-04-27 15:33] jannyHou commented on #1939
@Vaelor I think it's merged into 3.x, but the latest apidocs version is still 2.x. I will see cherry pick it into 2.x branch.

[2016-04-27 16:26] enceladus opened #2264 "Custom Role ACL with custom AccessToken models"
I'm having problems restricting access to a specific role when the role has a custom AccessToken model. I have an AdminAccessToken model, inheriting from AccessToken, and an Admin model, inheriting from User. I've set up the relations between the two, and I've created Role and RoleMapping for the Admins (in an "after save" hook). Login works just fine, and the access tokens are created, but when I

[2016-04-27 17:21] enceladus commented on #2264
Found this in **role.js**:

[code]

Does Role support custom user models?

[2016-04-27 19:05] supasate commented on #686
@bajtos Let's me take this. (Anyway, I'm a beginner to this community. If I do something wrong, please advise.)

I'll send one PR to this repo to make Loopback emits 'remoteMethodDisabled' event and one PR to loopback-component-explorer to re-create the swagger object when this event fired.

[2016-04-27 19:18] codeyad opened #2265 "problem creating a datasource with generator"
hi, i wanna use the loopback-component-torage and when i try to create the DS i got this error:

[code]

[2016-04-27 19:38] nicgirault commented on #517
:+1:

[2016-04-27 19:55] supasate commented on #2258
I think it's clear. Thanks @crandmck.

[2016-04-27 20:14] supasate commented on #1869
I have submitted 2 PRs to solve this issue (#2266 and strongloop/loopback-component-explorer#157).

[2016-04-27 20:31] walkev13 commented on #517
+1

[2016-04-27 22:52] crandmck commented on #1939
Thanks, @jannyHou!

[2016-04-28 02:53] 0candy commented on #2211
Hi @mneil,

What you're trying to do is currently not supported:
See https://github.com/strongloop/loopback/issues/517#issuecomment-71796806

I am closing this as a dup of that issue.

Thanks!

[2016-04-28 03:55] yahoohung opened #2267 "Bug found on relational model"
I have tested the following code with mysql and mongodb connector provided by loopback. (loopback-connector-mysql@2.2.1 and loopback-connector-mongodb@1.13.3)

[code]

In mysql, it returns all records even currentUser.id is not in teamMemberIds.
In mongodb, it returns correct results.

I have checked the debug details, I don't why it did the following statement.

[code]

Is that means, if I have 1

[2016-04-28 04:27] loay commented on #2175
it looks like it does updsate the swagger as it is in a comment by Krishna here:
https://github.ibm.com/apimesh/scrum-platform-foundation/issues/77#issuecomment-59264
but that looks like it is only for only creation. I will have to double check with Krishna and Ivy

[2016-04-28 11:01] Rajan opened #2268 "Apiconnect and Loopback?"
Great to know that IBM is committed to maintaining Loopback. Will APIconnect always be an optional component or it will be a mandatory part of the loopback framework?

[2016-04-28 14:42] bajtos commented on #2239
Well, I am suggesting to decouple the actual REST API from the implementation in LoopBack models. The fact that your API is based on resources and CRUD operations does not mean you have to map these HTTP requests directly to built-in CRUD methods. Especially when some of the built-in CRUD methods like `updateOrCreate` are difficult to implement correctly in your application domain.

In my example

[2016-04-28 15:23] raymondfeng commented on #2268
It's the other way around, LoopBack is an optional but important component of IBM API Connect.

There are 4 major components in API Connect:
-  Create (based on LoopBack for Node.js)
- Run (Laptop/on-prem/cloud)
- Manage (API management)
- Secure (Gateway/Data Power)

[2016-04-28 15:57] Rajan commented on #2268
This is great. Thank you @raymondfeng

[2016-04-28 16:24] bajtos commented on #157
/cc @davidcheung

[2016-04-28 16:27] davidcheung commented on #157
Loosely related https://github.com/strongloop/loopback/issues/1485

[2016-04-28 18:19] vanthome commented on #1586
@alFReD-NSH I have a similar problem but for me this is not only if I update but also when I create the object initially. So in your example, the `belongings` property would just be missing. Can you confirm this?

[2016-04-28 18:35] #2268 closed

[2016-04-28 18:38] #2247 closed

[2016-04-28 18:48] hq-mobile commented on #2239
No, you make a lot of sense. In theory I agree with the decoupling of the REST API to the models, however in my case (can't speak for others, and I amy be in the minority).  However given my admittedly limited experience creating REST API's I have always found they involve at least a fair amount of modelling  'resources', and then on some operations perform extra actions.  Your suggestion certainl

[2016-04-28 19:31] jannyHou commented on #2205
@jdschreck
The name is returned by this function: https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/scope.js#L176

That's why it's type is `function`.

Please check comment https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/scope.js#L162-L169 to see details

[2016-04-28 21:07] ataraxus commented on #1460
Hey, at least this ticket is here... i spent a couple of hours on this issue, not knowing that it is not possible. since there is no mention, that this is not supported and the API is created, but wont work on the second owner. Is there a best practice on this?

I guess i ditch then the whole belongsTo relation if i have two owner and do it manually

[2016-04-28 21:11] jdschreck commented on #2205
Janny,
   Sorry that answer is a little too terse for me to understand.  Can you
tell me how I can navigate the returned structure?  I don't understand why
JSON.stringify does not have trouble navigating the structure, but I do.

Thanks,
John

From:   Janny <notifications@github.com>
To:     strongloop/loopback <loopback@noreply.github.com>
Cc:     John Schreck/Fishkill/IBM@IBMUS, Mention
<mention

[2016-04-28 21:57] jannyHou commented on #2205
@jdschreck this property `name` is defined by Object.defineProperty(), so the value is returned by [`get`](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/scope.js#L172). When you apply `JSON.stringify` to it, `JSON.stringify` will get value by function `get`.
Is it clear now?

[2016-04-28 22:06] jannyHou commented on #2164
@jbcpollak The code still works for me:
[code]
Did you try to declare `  "use strict";`?

[2016-04-29 04:59] loay commented on #2175
Apparently it does not merge. In the above mentioned bug, the swagger was not being generated at all. The feature of merging is not being implemented yet.
@bajtos Please have a look at the proposal above. Thanks.

[2016-04-29 06:46] KishoreBarik commented on #1666
Ya, great suggestion of multiple roles. But I have some more edit to this suggestion. which is can we put condition over role like && and ||. Actually I have a condition where I need the property to be accessed only if it's **$authenticated && myCustomRole1** other wise deny. As putting only myCustomRole1 is not checking for authenticated i.e verify access token. May be I am not sequencing ACLs pr

[2016-04-29 07:21] bajtos commented on #2164
This is intentional. In the batch mode, the callback is invoked with two arrays - list of errors in the first argument, list of instances created in the second argument. In other words, batch create can partially succeed/fail at at same time. This is difficult to map into promises, where an operation either succeeds or fails completely.

The recommended solution is to call [Promise.all](http://blu

[2016-04-29 08:55] bajtos commented on #2175
@loay I am afraid I don't understand what you are proposing in https://github.com/strongloop/loopback/issues/2175#issuecomment-214966963.

Consider the following use scenario:
 1. Create a new LoopBack app using `apic loopback`
 2. Open the project in GUI - `apic edit`
 3. Make some changes that are persisted in the swagger yaml file, e.g. edit "Info>Title", "Info>Name", configure security, etc. T

[2016-04-29 08:58] supasate commented on #2111
Hi @richardpringle @raymondfeng @javefang, let's me take this feature.

[2016-04-29 09:00] zhaojunmo commented on #2164
Thank you, @bajtos , this problem confused me for a long time.
However, we have a new problem here: Why does @jannyHou 's code work (which should not) ?
Thanks again for your time.

[2016-04-29 09:52] jbcpollak commented on #2164
Why not make batch create mode use Promise.all() itself?

It seems reasonable that when in batch create mode create would call

return Promise.all(jobsP.map(Job.create));

On Fri, Apr 29, 2016, 5:00 AM Max Mok <notifications@github.com> wrote:

[2016-04-29 09:54] tomcooksey commented on #878
I have got this working on newer versions of Node, including the latest 5.9.1 - but only on certain machines - for instance my dev machine it works fine, on my colleague's it has this same problem.  However, reverting to 0.12.13 version of Node it seems to work reliably across machines and servers.  Obviously this is annoying as this is quite an old version of Node.  Is there any update on this?

[2016-04-29 12:27] bajtos commented on #2164
Let's move that discussion to https://github.com/strongloop/loopback/issues/1275 please.

Thanks again for your time.

Ha, this is interesting. I believe this happens when the datasource is not connected yet, see [this code](https://github.com/strongloop/loopback-datasource-juggler/blob/89bf94245b32751422d7ff6d8432bd9c73c75b06/lib/dao.js#L206-L209):

[code]

When I introduce `setTimeout` delay int

[2016-04-29 13:30] bajtos commented on #686
Awesome, thank you for the contribution. I can see the first pull request was already landed :)

[2016-04-29 14:07] hq-mobile commented on #2239
Just thought I'd add a more real world example based on consistency and the comment:

When using the loaded operation hook, the behaviour is pretty bizarre and even more confusing than the hooks not always firing. If I am updating an object and have the hooks persist (to encrypt) and loaded (to decrypt) everything works as expected, a context with the data attribute is passed to the  loaded hook.

[2016-04-29 14:52] gunjpan commented on #2184
@PaddyMann. Hope you're feeling better now.
Closing this in favor of #2228. Please track the progress there. Thank you!

[2016-04-29 14:52] #2184 closed

[2016-04-29 15:59] jannyHou opened #2270 "ACL for models extending User Model is not working"
1. `slc loopback` to create a new lb app
2. `slc loopback:model` to create a model extends User model
3. `node .` and open explorer
4. Try endpoint Post/ myusers/ :

Result:

[code]

Try endpoint Get/ myusers/ :
Result:

[code]

By default, people should not be able to Get /myusers without login.

[2016-04-29 17:18] jesperbruunhansen commented on #411
This helped me fixing the problem!
[code]

[2016-04-29 19:51] #2103 closed

[2016-04-29 19:52] davidcheung commented on #2218
@Upguard I am closing this issue as it might be fit better in the [sdk-angular](https://github.com/strongloop/loopback-sdk-angular) repo or are you trying to follow the [passport example](https://github.com/strongloop/loopback-example-passport) or even better in the googles forum, we try to limit the scope of github issues to be bug reports and feature requests ([See Wiki](https://github.com/stron

[2016-04-29 19:52] #2218 closed

[2016-04-29 20:25] loay commented on #2175
I think it is already been implemented. I tested myself. Also, I asked the QA team to double check.
The `apic create --type model` doesn't drop any changes made in the GUI editor.
@bajtos @raymondfeng I think we can close this one.

[2016-04-29 21:05] ebarault commented on #411
@jesperbruunhansen as a best practive i usually use this to declare only once other models per model.js file:

[code]

[2016-04-30 06:36] jesperbruunhansen commented on #411
Thanks @ebarault, I wasn't aware of the `startet` event - I will definitely look into your method!

[2016-04-30 11:37] chi-mai2b commented on #531
+1

[2016-05-01 02:36] chrisamoore commented on #2252
@bajtos Thanks for the insight ! any way I can help ?

[2016-05-01 12:09] manuschiller opened #2274 "Model Inheritance and overwriting parent properties / methods"
Hi!

I want to create the the following structure for my models:

[code]

[code]

is a structure like that possible with strongloop / loopback?

[2016-05-01 19:07] rblalock opened #2275 "Model consistency between the Model and it's JSON config"
A very minor suggestion going through some model config:

In a model's json config, e.g. `mymodel.json`, there is an `options` object.  When the model is rendered, it is changed to `Model.settings` instead of, what I was assuming would be `Model.options`, since that's what the definition is using.  I assume it's getting merged with a few other things and that's the property that it's all attached

[2016-05-01 20:18] ambrt opened #2276 "Pass multiple foreign ids to __link__model"
Hi

I can link one existing item of related model to instance with:
`instance.__link__model(1, cb);`

Is it possible to do one call with multiple foreign ids?
Or pass array of related instances to it (like linking tags instances to item instance)

[2016-05-02 06:46] bajtos commented on #2270
I think ACLs are not inherited when extending a model. See #157 for more details.

[2016-05-02 06:56] bajtos commented on #157
ACLs are not inherited either, see #2270.

As for inheriting relations, pure prototypal inheritance may not be enough. Consider this scenario:

We have a parent model `User` which has a relation

[code]

When attached to a datasource, `foreignKey` property is automatically inferred and `AccessToken.userId` property is defined by juggler.

Now when we create `Customer` extending `User`, the foreign

[2016-05-02 07:01] bajtos commented on #2270
I think there is one catch: ACL is represented as a list of access-control entries and AFAIK we don't have a declarative way for clearing this list from model JSON file. This means that when a child model inherits ACL from the parent, it is not possible to drop parent's ACL and build a new ACL from scratch.

We should find a solution for that while working on the fix for this issue.

Since this wa

[2016-05-02 11:01] bajtos commented on #686
Released in `loopback@2.28.0` and `loopback-component-explorer@2.5.0`. Enjoy :)

[2016-05-02 11:05] bajtos commented on #2175
Sounds good, I am closing this issue as done then.

[2016-05-02 11:05] #2175 closed

[2016-05-02 12:33] vasanthps-rm opened #2277 "Cannot access 'req' object in mixin"
Hello,

I have a mixin that looks somewhat like this:-
[code]

Is there any other way to access the 'req' object?
I don't want to use the 'currentContext' feature available in loopback

Thanks

[2016-05-02 12:56] cfjedimaster commented on #2270
@bajtos Are you saying this is a bug *everywhere*, or that it wasn't intended to work in the first place?

To your second point - what if the logic was this: Given Child extends Parent - if my child.json file has *no* acls property, then it inherits. If it has "acls":[], that means "I'm not inheriting Parent, I'm setting acls to an empty array."

That may not be backwards compat though.

[2016-05-02 14:49] bajtos commented on #2123
Status update: strong-remoting has been fixed to handle an array of errors in the response, see strongloop/strong-remoting#292.

The remaining work is to disallow bulk updateOrCreate in v3.0, see https://github.com/strongloop/loopback-datasource-juggler/pull/889

Once that's landed, this issue can be closed as done, at least I think so.

The feature request to properly implement bulk create/update

[2016-05-02 14:51] loay commented on #2274
Hi @manuschiller

Here is how to extend built-in models.
https://docs.strongloop.com/display/public/LB/Extending+built-in+models

Here is how to extend customized models(your own models):
https://docs.strongloop.com/display/public/LB/Customizing+models#Customizingmodels-Extendinganothermodel

Please let me know if you have any questions. Regards

[2016-05-02 15:05] bajtos commented on #2089
Once this is verified, we should make a new release for all relevant modules (juggler, connectors, etc.)

[2016-05-02 15:59] fuzzball1980 commented on #583
Hi guys, Any news on this feature?

[2016-05-02 17:48] codyolsen commented on #1137
+1

[2016-05-02 17:51] PowerP commented on #1321
+1

[2016-05-02 18:16] Amir-61 commented on #2171
Hey @samzhao2008,

Where are you adding this code? Is it in your model.js which probbaly is called `video.js`. To make triage process clear could you please provide a sample repo using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox)?

Thanks!

[2016-05-02 18:25] jannyHou commented on #2276
@ambrt we support multiple primary key but not foreign key, please check issue https://github.com/strongloop/loopback/issues/2080 and keep track of further discussion there.

I believe you are looking for a `embedsMany` relationship from item to tags, please check our doc for more details:
https://docs.strongloop.com/display/LB/Embedded+models+and+relations#Embeddedmodelsandrelations-EmbedsManywit

[2016-05-02 18:35] loay commented on #2195
Hi @deviant32
I am having a look.
BTW, is your app available on github?

[2016-05-02 18:36] loay commented on #2213
Hi @sm-g
You can do a nesterd query:
https://docs.strongloop.com/display/public/LB/Nested+queries

[2016-05-02 18:55] gunjpan commented on #2243
@paotoya757 : Yes, you need to get handle of an [`app`](https://docs.strongloop.com/display/public/LB/Working+with+LoopBack+objects#WorkingwithLoopBackobjects-Gettingareferencetoanunrelatedmodel) object for getting access to an unrelated model. More about working with loopback objects [here](https://docs.strongloop.com/display/public/LB/Working+with+LoopBack+objects).
Closing now. Should you need

[2016-05-02 18:55] #2243 closed

[2016-05-02 18:57] gunjpan commented on #2202
@mountain1234585: Closing this due to inactivity. If you're still facing this issue, please feel free to re-open it and mention my GH handle, I will be happy to assist. Thank you :)

[2016-05-02 18:57] #2202 closed

[2016-05-02 19:00] gunjpan commented on #1965
@csmtcy : Hi, closing this issue for now due to inactivity. Should you need any further assistance, please feel free to reopen it and mention me in the comments, will be happy to assist :)

[2016-05-02 19:00] #1965 closed

[2016-05-02 19:44] richardpringle commented on #2169
@s-a, we don't officially support the electron environment at this time, but I will leave this issue open for discussion for now. We would probably need to see a high demand to be able to officially support.

@bajtos, what do you think? Leave this issue open for discussion?

@s-a, our priorities right now are working on new features and cleaning up this large backlog of bugs.

[2016-05-02 19:47] richardpringle commented on #2220
Hey @mediastuttgart, just FYI, if you fork the [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) so I can just clone and reproduce right away it will speed up the process.

Just for future reference, I'll look into this right now though.

[2016-05-02 19:52] richardpringle commented on #2220
@mediastuttgart I couldn't reproduce, could you set up a sandbox for me please? Might be something pretty specific.

[2016-05-02 19:53] jannyHou commented on #2265
The error happens since when it calls `availableConnectors` to return the list of available connectors, `loopback-component-storage` is not included:
see  https://github.com/strongloop/generator-loopback/blob/master/datasource/index.js#L195

I think we should either add `loopback-component-storage` to available connectors or enable `availableConnectors` read custom connectors in project and return

[2016-05-02 19:59] jannyHou commented on #2265
@codeyad and anyone run into this issue, I think as a workaround, you can manually add that datasource entry in `datasource.json` instead of using generator to create it.

[2016-05-02 20:00] richardpringle commented on #2256
Hey @alvarp, there any chance you could fork a [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) where I could reproduce the issue? I get what you are trying to do but I need a little more detail to find either the correct implementation or to see if this is a bug.

Thanks.

[2016-05-02 20:01] jannyHou commented on #2267
@yahoohung looking into it. It might take some time to get it work with connectors, will update details later today or tmr.

[2016-05-02 20:55] 0candy commented on #2223
Actually when I run the test, I do see the `since` value. Even when I run your test cases without your code changes I can still see the `since` value.

Btw, the code change you made is inside an if block:
https://github.com/jouke/loopback/blob/master/lib/persisted-model.js#L697-L709

Have you tried adding either of these options in your model?
`  "trackChanges": true,
  "enableRemoteReplication":

[2016-05-02 21:02] gunjpan commented on #2257
@rweng : Hey Robin, yes, `loopback-datasource-juggler` caches the data. This is a known limitation at the moment, more discussion [here](https://github.com/strongloop/loopback/issues/256)

Workaround for this issue is:
Always pass 'true' as the first parameter of "find-all" queries.
In other words, in your test file, changing the code to:
[code]
should refresh the cache.

Hope that addresses your

[2016-05-02 21:07] gunjpan commented on #2062
@Morriz : Hey Maurice, is it good to close?

[2016-05-02 21:08] 0candy commented on #2263
So hidden property is working for you but you're trying to use remote hook? Could you please provide a sample repo to reproduce this issue?
https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-05-02 21:48] amuramoto opened #2278 "Info on extending the built-in User model is confusing"
In most samples and docs, the 'User' model is extended as 'user'. This is confusing and should probably be changed to something like 'customer' or 'customUser' for the purposes of examples.

Listing the pages/repos that could use updating:
- https://github.com/strongloop/loopback-example-user-management
- https://docs.strongloop.com/display/public/LB/Managing+users

[2016-05-02 22:38] raymondfeng commented on #1692
I started to draft the definitions at https://gist.github.com/raymondfeng/4d71d6e04e3d3a810b2f90c28859d496

[2016-05-03 00:03] superkhau commented on #2187
@dligthart We use GitHub issues to report bugs or keep track of feature requests. If you are looking to get input from community, etc. I suggest posting a discussion at https://groups.google.com/forum/#!forum/loopbackjs. I'm going to close this. Feel free to open a specific issue when you have something to request. See https://github.com/strongloop/loopback/wiki/Getting-help

[2016-05-03 00:03] #2187 closed

[2016-05-03 00:13] superkhau commented on #2255
@shaharz Can you provide a sample repo for me to reproduce the issue on my end?

[2016-05-03 00:19] superkhau commented on #2255
@shaharz What do you mean might fail? If you are not accessing the result, it should be passed through as though you didn't add the hook.

It sounds like you're saying the problem is sending a PUT request triggers the access hook when it shouldn't.

@Amir-61 @bajtos I remember one of you guys working on refactoring the PUT feature. What is the expected behaviour with regard to what hooks get trigg

[2016-05-03 00:36] Amir-61 commented on #2275
Hey @rblalock,

Thanks for helping us improve the code. I really appreciate it.

Yes consistency is always good...

Could you please give me the link to the code or elaborate it when it is changed to `Model.settings`?

Thanks again :-)

[2016-05-03 00:40] #2070 closed

[2016-05-03 00:48] Amir-61 commented on #2255
That's right!

Yes you are right for the code please see [here](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L2795-L2981)... The following hooks are triggered by this order:'before save', 'persist', 'loaded' and 'after save'...

AFAICT [updateAttributes](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L2795-L2981) does not call f

[2016-05-03 00:58] superkhau commented on #2198
Sounds like a feature request that is pretty hard to implement. Let's get @bajtos and @raymondfeng's opinion on this. @bajtos @raymondfeng ^

[2016-05-03 01:06] superkhau commented on #2198
On second thought, what you propose seems possible with a bit of work. Would you like to try submitting a PR? We can discuss once you get some tests and code in place https://github.com/strongloop/loopback-datasource-juggler

[2016-05-03 01:07] Amir-61 commented on #2198
I want to get users and their roles through the account.

Could you please provide a sample repo using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox), which reproduces the issue and explaining what you want to achieve? To me it seems you can do what you are looking for using [nested queries](https://docs.strongloop.com/display/public/LB/Nested+queries)... Just to make sure

[2016-05-03 01:09] jannyHou commented on #1612
Pr merged. I am closing it now. Will merge it and another doc pr into 2.x branch ASAP

[2016-05-03 01:10] #1612 closed

[2016-05-03 01:23] shaharz commented on #2255
I later noticed the following (under 'access')[https://docs.strongloop.com/display/APIC/Operation+hooks]:

So in fact it is documented, but my point regarding the lack of context in the hook still stands.

[2016-05-03 02:04] superkhau commented on #2255
So is this a feature request to get access to context in the op hook?

[2016-05-03 02:46] shaharz commented on #2255
When I say context I don't mean the Loopback context, but the broad sense of the word. Suppose I I have a remote hook `beforeRemote('**')`, it will fire after the operation hook, if at all. As someone else said on #2064, "from the description of the beforeRemote hook I would expect that that hook is triggered before anything else happens.".

Since that's not the case, the choice is basically to ei

[2016-05-03 03:00] supasate commented on #686
@bajtos In loopback-component-explorer, should we change the loopback version in devDependency to be "^2.28.0" to make it more explicit about minimum requirement?

[2016-05-03 03:03] mneil commented on #2211
Are these two issues the same? That issue is asking for support for nested properties - not relations. I believe issue 517 is asking for queries on complex types like postgres lists, bson/json fields or mongo subdocuments. I'm asking for filtering direct on a model when finding them through a relation (another model).

[2016-05-03 03:09] mneil commented on #2198
I don't think nested queries will handle it. I've been using loopback in production for the past 8 months or so and haven't found a way to do this. I may have to break down and submit a PR to try and make this happen. I dug a bit to see if I could get it in but wasn't sure where this code belonged.

I'm been working around it currently but it's complicating my API.

I will put together a sample re

[2016-05-03 03:49] 0candy commented on #2211
If you don't think its the same issues, please feel free to re-open this issue.

[2016-05-03 05:31] Morriz commented on #2062
Sure. Tnx

[2016-05-03 05:36] nmklong commented on #2188
Hi, any updates so far?

[2016-05-03 06:30] sahilanguralla commented on #2270
I am in middle of something and I need it. please fix it ASAP. Also please suggest any workaround for the time being, if possible.

[2016-05-03 06:35] folivi opened #2279 "Screeshots with phantomjs"
Hi all,
I need to dynamically generate screenshots during the app runtime.
For that, I'm using phantomjs.
I have a pretty straight forward script which works perfectly in the terminal, but which doesn't work in the application.
I tried using a child_process which spawns the file containing the script for capturing the screeshot but it still doesn't work I get the message:

[2016-05-03 06:36] #2279 closed

[2016-05-03 06:37] mario128mex opened #2280 "handling error inside Validatable.validateAsync"
Hello, i have been working with logical user deletion in my app, i remove the uniqueness validation for username and email from base user model so i can handle multiple users with the same username when they are deleted, this is, I can have an admin user with id = 1 with deleted flag = true and an admin user with id = 2 with deleted = false, I handle that with the following async validation:

[cod

[2016-05-03 07:02] Piu130 commented on #1610
I'm still running into the issue.
[code]
package.json:
[code]
user.json:
[code]
NodeJS 5.11

[2016-05-03 07:05] bajtos commented on #2265
Here is the list of available connectors: https://github.com/strongloop/loopback-workspace/blob/ab5d905eb14a6dfc0948faf62f8ee1b42068c594/available-connectors.json

Since we allow the user to enter arbitrary connector name, the generator should gracefully handle the case when a connector not in our list is selected. (Think about community-maintained connectors that we are not aware of yet.)

I am p

[2016-05-03 07:09] manuschiller commented on #2274
@loay
thanks! Does this overwrite the basemodels (I only need to overwrite custom models) properties or methods by default if the properties / methods have the same name?

Or will I have to declare an overwrite explicitly?

[2016-05-03 07:11] bajtos commented on #2270
I believe that we have never implemented inheritance of ACL. I don't think it was an intentional decision, just the result of the way how we implemented the feature.

I think the typical scenario would be to built a custom ACL in the JSON file, which would not be supported if you had to specify `"acls":[]`.

Here are few other ideas of what can be done:

1) When "acls" is not defined, or set to a

[2016-05-03 07:12] bajtos commented on #2270
Also if we add a setting `inheritAcls`, then we can implement it in 2.x and modify model generator to set the flag to true. That way we get backwards compatibility for existing codebase and still have the benefit of doing things the right way for newly created models.

[2016-05-03 07:13] alvarp commented on #2256
@richardpringle, in the next days I'll try to reproduce the issue.

[2016-05-03 07:28] casamia918 commented on #1610
Few days ago, I have the same issue. But I found the solution.

Actually, Model.create returns created instance with the id field. These problems are related with migration of the model.

When I use model's datasource connected with 'memory', these problems are not happened. But when I changed the datasource to RDB (in my case, postgreSQL), these issue occur. So, why?

The reason is that loopback

[2016-05-03 07:31] bajtos commented on #2270
@sahilanguralla

If you can contribute a pull request fixing the issue then I am happy to help you along the way.

Copy the `acls` entry from LoopBack's [common/models/user.json](https://github.com/strongloop/loopback/blob/6b40c69bb3bebbf1b7651b881f6f8b139922112a/common/models/user.json#L36-L91) into your newly created model.

[2016-05-03 08:54] Piu130 commented on #1610
Solved my problem. Thanks!
Is it bad to write this for every model?

[2016-05-03 08:56] casamia918 commented on #1610
I'm not sure. But it forced to do that until loopback support auto migrate model in boot up stage.

[2016-05-03 09:28] Virendra-Developer opened #2281 "Strong Loop aggregation support?"
How can i use aggregation or it's alternate in strong loop?

[2016-05-03 10:28] rblalock commented on #2275
I'm not sure when it's changed, I just know that anything under the `options` object, in a model.json file gets merged in to `Model.settings` at some point and that's how you can access it programmatically.

[2016-05-03 12:35] #294 closed

[2016-05-03 12:49] richardpringle commented on #2256
@alvarp awesome, I appreciate the help. Please mention me in a comment when you have the fork up!

[2016-05-03 13:26] cfjedimaster commented on #2270
Personally, it feels wrong to me that some things inherit automatically and
some would not (ACLs).

"I think the typical scenario would be to built a custom ACL in the JSON
file, which would not be supported if you had to specify "acls":[]."

I'm not quite sure what you mean here. If I'm building Child(extends
Parent) and I want to specify custom acls, then I'd type them at the
property. If I want

[2016-05-03 14:11] #2062 closed

[2016-05-03 14:36] superkhau commented on #2255
This would definitely help. See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-05-03 14:39] loay commented on #2280
Hi @mario128mex
Can you please share your app so I can reproduce your issue?
Thanks.

[2016-05-03 14:42] Amir-61 commented on #2281
@Virendra-Developer

If I understood you correctly, you are asking for database aggregate function? There is some documentation for some aggregate functions [here](https://docs.strongloop.com/display/public/LB/MongoDB+connector#MongoDBconnector-Aggregate(groupby)query). @crandmck @superkhau Do we have any more documentation for this?

Thanks

[2016-05-03 15:10] victorhqc opened #2285 "Can't install Loopback - unmet peer dependency"
When I run
[code]

I get the following error `UNMET PEER DEPENDENCY loopback-datasource-juggler@^2.19.0`

![captura de pantalla de 2016-05-03 10-06-26](https://cloud.githubusercontent.com/assets/726113/14987878/fa56eb40-1116-11e6-93e5-3c1162219fc0.png)

I got Node `v6.0.0` and NPM `3.8.8`

The funny thing is that I can use loopback commands `slc loopback:command` but I'm having issues with the rel

[2016-05-03 15:12] #2285 closed

[2016-05-03 15:12] victorhqc commented on #2285
My bad, wrong package installed

[2016-05-03 15:17] ambrt commented on #2276
Ok @jannyHou, thanks for info.

[2016-05-03 15:17] #2276 closed

[2016-05-03 15:25] shaharz commented on #2255
https://github.com/shaharz/loopback-sandbox/tree/implicit-findById

[2016-05-03 15:32] Krisa opened #2286 "Streaming the result of a database query"
Make a database query returning a stream of results, as opposed to current implementation that returns an all-in-one in-memory array.

---

**Original description**

I'm not very experimented with loopback yet but I tried to investigate various methods for the ability to stream the result of a simple query from a client (instead of sending the result over http).

I found that
- [strong remoting](h

[2016-05-03 15:36] superkhau commented on #2211
@mneil Can you provide a sample repo for us to reproduce this issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-05-03 16:09] cgole commented on #2089
@laven26 @ssh24

[2016-05-03 16:20] mario128mex commented on #2280
Hi @loay I can't share the whole app, but i share to you my user.js script

[code]

[2016-05-03 16:59] crandmck commented on #2281
That's all that I know of.  I don't think the standard filters support "group by" AFAIK.

[2016-05-03 18:16] codeyad commented on #2265
@jannyHou the thing is that's one on the ways you can do it according to the doc, i haven't have problems with that before, prolly is the latest version of loopback that has changed it, anyways i think i did manually and also had a problem, gonna check it out again to see if its really possible that way.

[2016-05-03 18:58] jannyHou commented on #2265
@codeyad oh...good to know that. Let me check is there any change broke it.

[2016-05-03 20:15] gunjpan commented on #2286
@Krisa : I'm looking into this issue. Will update you when I have something to share. Thanks.

[2016-05-03 20:24] gunjpan commented on #2286
@Krisa : Hi, I guess, [`Using server-sent events`](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events) is close to your use case.
It would be great if you couuld please share any sample implementation that you might have seen, on web, for your use case.

[2016-05-03 20:43] Krisa commented on #2286
I would be left with the implementation using that.

My current implementation is using express.js with mongoose doing the connection to the MongoDB server (and fetching records) and [node ws](https://github.com/websockets/ws) streaming the result to the client. It's completely bespoke so it's not really worth sharing anything more than that. I could probably do the same in loopback in a hacky way

[2016-05-03 21:24] loay commented on #2280
Thanks, I am having a look.

[2016-05-03 22:24] superkhau commented on #1610
Glad you guys got it resolved. @casamia918 is right, models are not automigrated unless you tell it to. This would be no problem for NoSQL DBs like mongodb (which create collections on the fly as needed).

The issue is that automigrate wipes the table data, so if you automigrate each time during app boot up, you will lose data. So it probably makes more sense to have a migration script in somethin

[2016-05-03 22:51] casamia918 commented on #1610
@superkhau  I think that loopback needs to support model migration at the "model configuration" level (known as server/model-config.json) if it can't find corresponding db table . Or, modify automigrate method to takes options. (E.g. "preserveExistingTable"). In this way, automigrate method can be more safe method.

As you said, current automigrate method must be carefully used because it wipes ou

[2016-05-03 22:56] superkhau commented on #2278
Another reference issue: https://github.com/strongloop/loopback-example-access-control/issues/73

[2016-05-03 23:00] superkhau commented on #1610
What you describe is exactly what I'm thinking to (the dangerous parts for newcomers).

Your proposed solution makes sense to me too, ie. if table exists in model-config.json and hasn't be automigrated during boot up, automigrate it (of course we would need a config to turn this behaviour on/off for backwards compatibility too). Would you like to submit a PR?

@raymondfeng What do you think about

[2016-05-03 23:12] noderat commented on #2225
@crandmck I'm finding apic all over the place in the loopback docs suddenly, perhaps there should be a new issue opened to help track down and fix all of them?

[2016-05-04 04:24] sonalisa1 commented on #1876
Is there a method to perform updateOrCreate with Where clause ?

[2016-05-04 05:43] ks1974in opened #2290 "remoteMethod() has no request parameters when POSTed to. [Previously it was #440]"
This issue has appeared again. My code is as follows

    Job.remoteMethod(
            'createJob',
            {
                description: 'Creates a Job',
                accepts:
                        [{arg: 'userId', type: 'string','required':true},
			 {arg: 'authToken', type: 'string','required':true},
			 {arg: 'job', type: 'Job','http':{source:'body'},'required':true}]

[2016-05-04 06:05] cloudtronics opened #2291 "Concurrent requests are stalled in loopback server"
Hello,

I was developing an API for my project. I hit one API that yields a large nos of data, twice to test concurrent access. It seems the Port is blocking till the 1st request completes.. Pls see the below  fig:

I was expecting a parallel processing to scale..

Thanks
-riv

![untitled](https://cloud.githubusercontent.com/assets/11921110/15006176/91e07286-11eb-11e6-8b31-0671b89b2460.png)

[2016-05-04 07:17] JordanMajd opened #2292 "slc loopback:relation throws error"
When I run the loopback relation command I get an error after I enter the property name for the relation.

The error:

[code]

Here is a log of my terminal so you can see all the options I selected:

[code]

Any hints? Thanks!

And selection the model to create the relationship from:

[2016-05-04 12:11] ambrt commented on #2263
It seems that `"protected":["property"] ` works only when model is `included`
and not when its queried by relation using `GET /users/{id}/contacts`

[2016-05-04 13:41] lsroman commented on #1321
+1

[2016-05-04 13:57] richardpringle commented on #2290
Hey @ks1974in, first of all, you are passing in the arguments as formData so they won't get appended as a query string.

Side note: I think that `Job.app.models.Job.create` is redundant. You could just use `Job.create` and it would be the exact same thing... woops :wink:.

Also, is there any reason that you didn't use the following `http: { source: 'query' }` in the first two elements of your `acc

[2016-05-04 13:58] richardpringle commented on #2291
@jannyHou, can you see if this is related to that other issue you were dealing with?

[2016-05-04 14:42] aws-na-ss-usplu commented on #1321
Novice: Our very small two cents **_;-)_**

We currently develop solutions in two worlds… LoopBack/Node.js & WebApi/Asp.net

 We would love to have a solution that complements each others interpretation of the concepts around

- Generic Extensions for Enum
- Implement of Enum
- Solution path to transition from Swagger Extension to first class member of Swagger 2.x schema

We currently use swagger

[2016-05-04 14:46] bajtos commented on #2188
@nmklong Hi, this is an interesting scenario. We don't have a first class support for it, but you may be able to describe your custom argument by modifying the remoting metadata of the `find` function.

Here is a mock-up to illustrate what I mean. I am afraid I don't have enough time to fully test it, it may not work OOTB.

[code]

[2016-05-04 14:59] jannyHou commented on #2292
@JordanMajd are you using node6?

[2016-05-04 15:07] jannyHou commented on #2292
@JordanMajd this is my console log of latest version of `generator-loopback`:
![node6](https://cloud.githubusercontent.com/assets/12554153/15018534/f31adfd6-11e7-11e6-9bc1-137a17a1182e.PNG)

I am using node5. 5 and I don't see your error,

this warning is suspected, find some related issue : https://github.com/sequelize/cli/issues/291
Can you try with node5 and see if the error still exists?

[2016-05-04 15:19] JordanMajd commented on #2292
Hey @jannyHou ,

I am using Node 6. Good call. I will try out a 5.* and see how it goes.

Thanks.

[2016-05-04 15:24] jannyHou commented on #2291
thank you @richardpringle . And @cloudtronics it might be related to https://github.com/strongloop/loopback/issues/2246
I am looking into it. See if I can reproduce.

[2016-05-04 15:25] nateha1984 commented on #2292
I'm seeing this same (or very similar) issue on 4.4.3. I do not get the first error:

(node:31096) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.

But I do get the last error:

/usr/local/lib/node_modules/strongloop/node_modules/rx/dist/rx.js:77
    throw e;
    ^
true

[2016-05-04 15:27] raymondfeng commented on #2291
@cloudtronics You probably have APIs that produce a huge JSON payload which involves CPU-intensive `JSON.parse()/stringify()`. The event loop of Node.js is then blocked by the request. Please note the main loop is single-threaded. The scalability of Node is achieved by Async I/O.

To mitigate the problem, you should use pagination for your API so that the processing can be done in chunks and it yi

[2016-05-04 15:42] jannyHou commented on #2292
@nateha1984 could you fork https://github.com/strongloop/loopback-sandbox and upload your code?
I fail to reproduce it on my end...seems it's not as simple as you create a model in an app then just establish a relation. it might be caused by other config.

and please also include your `generator-loopback`, `loopback` version:) Thanks.

[2016-05-04 16:11] mitsos1os opened #2293 "Property setters and getters"
Hi guys, I would like to know how safe is the usage of **setter** and **getter** properties from model class.

This is already being used in loopback user model and can be seen here: [User Code](https://github.com/strongloop/loopback/blob/master/common/models/user.js#L609)

Why is this not documented anywhere? Can we use it?

[2016-05-04 16:25] nateha1984 commented on #2292
I've uploaded my changes to https://github.com/nateha1984/loopback-sandbox

I've been following the loopback-getting-started tutorial and run into the error on this page of the docs: https://docs.strongloop.com/display/public/LB/Define+model+relations

loopback version: 2.28.0
generator-loopback version: 1.20.6

[2016-05-04 17:22] Morriz opened #2294 "impossible to create proper unit tests"
I have not been able to create isolated unit tests for my models. I strongly advise to publish example tests in the code base.

However, I have a feeling this is not possible due to tight coupling of code parts.
I have tried to discuss this previously, but did not really find a listening ear.
I strongly believe the initialization of models should be synchronous, and without dependencies. Attaching

[2016-05-04 17:49] jannyHou commented on #2292
@nateha1984 I git cloned your repo and followed tutorial on the doc page:
**A coffee shop has many reviews**
![review](https://cloud.githubusercontent.com/assets/12554153/15023528/d2c97500-11fe-11e6-84fc-7d5ae7490b23.PNG)

but it still works fine, did I miss anything or steps?

[2016-05-04 18:26] crandmck commented on #2225
@noderat The LoopBack docs should not refer to `apic` and a search of the LB space for "apic" does not return any results: https://docs.strongloop.com/dosearchsite.action?queryString=apic&startIndex=0&where=LB

However, note that there is now an APIC space that includes documentation for LoopBack, but with references to the StrongLoop tools replaced by API Connect tools--so a search for "apic" in

[2016-05-04 18:27] nateha1984 commented on #2292
No, that's about it. I've tried running through another 3rd party tutorial as well and had the same issue.

[2016-05-04 18:29] richardpringle commented on #1876
@Amir-61, you want to answer that one? ^

[2016-05-04 18:46] JordanMajd commented on #2292
I haven't had a chance to retest with another version of Node, but do you think system could be a factor?

I'm on:

- OS X, El Capitan Version 10.11.4
- node v6.0.0
- strongloop@6.0.0
   - loopback@2.28.0
   - generator-loopback@1.20.6

[2016-05-04 18:49] superkhau commented on #2294
We have a lot of work planned for refactoring LoopBack for testing in the works. As for your proposal, it is too generic for us to act on. If you have something specific you want to fix, feel free to submit a PR or open an issue for a specific feature. See https://github.com/strongloop/loopback/wiki/Reporting-issues

[2016-05-04 18:49] #2294 closed

[2016-05-04 18:59] jannyHou commented on #2292
@JordanMajd mine is windows. I am testing on mac now, need sometime to setup lol.

[2016-05-04 19:10] alebarreiro opened #2295 "remoteMethod with multiple arguments, including a model"
Is possible to have multiple arguments when we are using a model type as an argument too?

For example:

[code]

Using the Strongloop API Explorer, I can see defined the endpoint with the ServiceRequest model definition, and an input to enter the serviceId.
But in the ServiceRequest schedule function, the parameter serviceId always have the value ``undefined``, and the model have the correct value

[2016-05-04 19:21] nateha1984 commented on #2292
I'm also on OSX, same version

[2016-05-04 19:24] jannyHou commented on #2292
@JordanMajd @nateha1984 thank you I reproduced that error on osx.

[2016-05-04 20:03] superkhau commented on #2255
@shaharz In your example, I can't reproduce it properly. beforeRemote gets called first and access is never called (opposite of what you describe in the readme).

[2016-05-04 20:10] superkhau commented on #2255
Actually I could use your example after modifying a few things. However, the result I get is remote hook first, then access, which seems correct. What are you expecting to happen?

[2016-05-04 22:58] gunjpan commented on #2286
@Krisa : Hey, I guess, LB doesn't look like to have out-of-the-box for `load` events. I was able to implement the stream on an operation hook: [`loaded`]( https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-loaded) and registering a `remote method`.
Take a look at PR above that I sent to my sandbox repo. I believe that's something close to what you want.

[2016-05-04 23:09] superkhau commented on #2286
This sounds like a feature request for an internal component to add for streaming data (ie. websockets). @ritch Do you have any opinion here? Should this remain in userland or be something that we should be looking at to implement as part of LB?

[2016-05-04 23:12] gunjpan commented on #2286
@bajtos : PTAL and share your views as well.

[2016-05-04 23:34] ritch commented on #2286
Why aren't you batching / paging the requests? I think making several smaller requests would be a simple solution to this problem.

OTOH I think the feature request is valid and something I've wanted for a while. The ability to create a cursor against a loopback datasource and incrementally respond with data.

We do have support for responding with data incrementally, as @gunjpan pointed out, usin

[2016-05-04 23:49] superkhau commented on #2286
:+1:

[2016-05-05 01:54] Amir-61 commented on #1876
I personally don’t think if `where` clause makes sense with the essence of `updateOrCreate`, on the other hand it does make sense for `update`, for which we already have support. Lets see how `updateOrCreate` / `upsert` works… if the `data` object  you pass has the PK and there is already an instance with that PK, the operation would be `update`, otherwise the operation would be `create`.  Hence,

[2016-05-05 02:03] sonalisa1 commented on #1876
Hi..I have a requirement to perform upsert with a foreign key like in case of salesforce connector.Upsert where foreign key = <value>.

[2016-05-05 02:15] Amir-61 commented on #1876
Hey @sonalisa1,

Hi..I have a requirement to perform upsert with a foreign key like in case of salesforce connector.Upsert where foreign key=value

@bajtos could give more info about our future plans. Also, it is worth mentioning we welcome community contributions. If you like to contribute, please send a patch and ping me in your PR, so I'll make sure it gets landed as soon as possible.

Thanks!

[2016-05-05 02:23] cloudtronics commented on #2291
Thanks. I will try on a cloud..

[2016-05-05 03:14] ks1974in commented on #2290
Hi Richard!
Thanks for the guidance. Yes, i will add http:{source:query}. But I send a
Job object in the Request body, and so i specified consumes .
I did not find anything wrong while using postman. The only problem was no
query parameters, which you resolved.

If you could describe in a bit more detail what is strange or unexpected, i
will try to reproduce it.

Also, thanks for the tip about usi

[2016-05-05 07:18] bajtos commented on #2188
Hmm, I am afraid the example above will not work, because the added argument will be sent to `find` method too, which will most likely break things, as `find` does not expect extra parameters.

I think the cleanest option is to stop using hooks and write a custom method instead. (Again, the code below may not work OOTB.)

[code]

[2016-05-05 09:15] RichardJECooke commented on #1415
+1. Both hapi & koa have TS definitions. Our firm is thinking of choosing these instead of loopback.

[2016-05-05 13:29] richardpringle commented on #2290
I don't believe that the `consumes` property of your remoting `options` object (the second argument of `job.remoteMethod`) is recognized at all by LoopBack or strong-remoting.

The weird part is that you got an error saying `userId is a required arg` when you had entered it (even without specifying the `http.source` object.

If you got it working, that's all that matters. If you come across the pr

[2016-05-05 13:29] #2290 closed

[2016-05-05 13:34] ks1974in commented on #2290
Userid was not part of the query string. Hence the error message. Btw,
specifying query as source resolved it.
On May 5, 2016 7:00 PM, "Richard Pringle" <notifications@github.com> wrote:

[2016-05-05 15:25] 0candy commented on #2188
And make the 'country' arg required:
{ arg: 'country', type: 'string', description: '...' , required: true},

[2016-05-05 15:32] 0candy commented on #1975
Where are you setting `digitalPinSetStub.calledOnce`?

Can you please provide a link to a test project for me to reproduce the issue? Thanks!
See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

[2016-05-05 15:34] richardpringle commented on #2295
Hey @alebarreiro, you most definitely can!

I'm not quite sure what's going wrong in your case. `service` should be populated if you enter a value into the field in Explorer.

You could also try passing in the `service` argument as a query string.

Checkout the `options` argument for `sharedMethod`:
https://apidocs.strongloop.com/strong-remoting/#sharedmethod
and in particular `accepts.http.source

[2016-05-05 16:05] Arveti commented on #2292
I am facing the same error on windows.
Any help to resolve to this will be much appreciated.
Thank you.

[2016-05-05 16:06] crandmck commented on #2293
I'll try to find time to add docs for it.  See also http://stackoverflow.com/questions/24223329/how-do-i-create-getter-and-setter-overrides

[2016-05-05 18:00] jannyHou commented on #2292
@Arveti good to know that it also happens on windows. could you post your system info(win7?8?10?) and storngloop version? Thanks.

[2016-05-05 18:09] superkhau commented on #1415
@RichardJECooke Please +1 at #1692

[2016-05-05 18:18] noderat commented on #2225
@crandmck Here's just a couple I found just in my open tabs:

https://docs.strongloop.com/display/public/LB/Defining+models
https://docs.strongloop.com/display/public/LB/Remote+methods

[2016-05-05 18:39] alebarreiro commented on #2295
Hi @richardpringle

Here you can find the issue: https://github.com/alebarreiro/loopback-sandbox

I have added 4 endpoints. In the first one (schedule1) you can see that the explorer recognises the model, and the service input, but in the in the function schedule1 ```service``` has the value ```undefined```.
There are 3 more examples (schedule2, schedule3, schedule4) that the explorer does not rec

[2016-05-05 18:55] crandmck commented on #2225
OK, thanks.  I fixed those.

Obviously Confluence search isn't finding them as it should.  I'll try to find other occurrences.. maybe Google will do a better job.

LMK when you run across any others.

[2016-05-05 19:17] JordanMajd commented on #2292
Let me know if there is anything I can do to hlep @jannyHou

[2016-05-05 20:01] richardpringle commented on #2295
So there's a better way to do this. A typical REST API won't force the user to submit the model instance that they want to perform an action on. I would suggest creating a prototype method instead. For example: `/api/ServiceRequest/:id/schedule`.

Although, I am aware that you haven't added any of the actual logic that you want to perform. The `schedule3` method actually worked fine for me, which

[2016-05-05 20:01] #2295 closed

[2016-05-05 20:27] crandmck opened #2300 "Document scoped instance manipulation"
Scope documentation (https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Scopes) does not reflect these behaviours: https://github.com/strongloop/loopback-datasource-juggler/blob/2189b9a746071b599d6a129313b2cdd11052e36b/test/default-scope.test.js#L134-L213

[2016-05-05 21:32] Amir-61 commented on #2180
Closing this issue due to inactivity... Please feel free to open this issue if you experience the same issue....

Thanks!

[2016-05-05 21:32] #2180 closed

[2016-05-05 21:34] Amir-61 commented on #2194
Closing this issue due to inactivity... Please feel free to re-open the ticket with a sample repo reproducing the issue.

Thanks a lot!

[2016-05-05 21:34] #2194 closed

[2016-05-06 04:44] loay commented on #2274
@manuschiller
For the customized models, the 2nd link should do the trick.
But let me answer your question with an example, which is from the documentation as well:

When you attach a model to a persistent data source, it becomes a persisted model that extends PersistedModel, and LoopBack automatically adds a set of built-in methods for CRUD operations.

Let's take the `find` method as an example.

[2016-05-06 09:13] bajtos commented on #1806
Hello, sorry for the long delay. I have started to look into ways how to fix this issue "properly", now I would like to share my thoughts and get your feedback before I start making any changes.

I am afraid I am not able to reproduce the issue when calling `PUT /api/mymodel/{id}` directly. This is actually not very surprising, as the remoting metadata for `updateAttributes` specifies that the typ

[2016-05-06 09:15] bajtos commented on #1806
To prevent confusion, when I say the current behaviour is not surprising, I mean the behaviour matches what is expressed in the source code. I fully agree that the current behaviour is surprising for LoopBack users, it's a major bug and it should be fixed.

[2016-05-06 09:20] bajtos commented on #1806
Let me describe a bit more why I would like to make this change:

 - We already do the same for non-relation CRUD methods.
 - All juggler methods support plain object for `data` argument.
 - Creating a model instance before calling juggler methods adds unnecessary performance overhead.

[2016-05-06 10:48] Arveti commented on #2292
@jannyHou  It's windows 7 and version is 3.3.12.

[2016-05-06 11:02] mitsos1os opened #2302 "idInjection and forceId do not work in MongoDB embedded documents"
Let's say I have the following user document schema for mongodb
**app-user.json:**

[code]

and **userProfle Schema (user-profile.json):**

[code]

_Note that I assign UserProfile to a **transient** data source and AppUser to **mongo** data source_

With this setup, the userProfile embedded document of AppUser gets assigned an id property! It ignores the forceId and idInjection settings..

In orde

[2016-05-06 11:35] bajtos commented on #2169
Sure, let's keep it open for now.

@s-a yes, Electron environment is not a priority for us right now. I don't mind landing a patch that will fix loopback for Electron as long as the change won't increase our maintenance costs, but we don't have bandwidth to investigate issues like this ourselves.

[2016-05-06 11:36] bajtos commented on #686
That's a good idea, could you please contribute that change yourself?

I am closing this issue as resolved.

[2016-05-06 11:36] #686 closed

[2016-05-06 11:44] bajtos commented on #2198
Hello, I don't have enough time to read through all discussions here and in the other issue #2211. However, I remember that `findById` (`GET /api/accounts/1`) did not support `filter` argument initially, it as added later by https://github.com/strongloop/loopback-datasource-juggler/pull/564. As can be seen from the diff, this pull request addressed the issue for top-level DAO method only.

It make

[2016-05-06 13:05] mrbatista opened #2303 "Filter on second-level property does not respect type"
I have the model `Model1` with the following properties (note that lastMessage is embedsOne model):

[code]

and the model `Model2` with the following properties:

[code]

Example of query:

[code]

The value of property `lastMessage.created` is coerced to type `String` instead of `Date`;
I use mongo connector.

[2016-05-06 14:02] matthewtoast commented on #854
Note that the path of the target model's remote method _must_ use the substring `:id` for this to work.

This *will NOT* work:

    foo.remoteMethod('fooBar', { path: '/:fooId/fooBar' });

Whereas this *will* work:

    foo.remoteMethod('fooBar', { path: '/:id/fooBar' });

Loopback looks for an `id` parameter (that property name only) when doing the access control check.

https://github.com/strong

[2016-05-06 14:30] supasate commented on #686
@bajtos Done. I made a PR at strongloop/loopback-component-explorer#159.

[2016-05-06 15:01] davidcheung commented on #2277
Hi @vasanthps-rm , you can try to use the [remote hooks](https://docs.strongloop.com/display/public/LB/Remote+hooks#Remotehooks-Contextobject) to get the `req` object

[code]

[2016-05-06 15:23] shalkam opened #2304 "Using the include filter in hasOne relationship"
Hi,
I've created a simple has one realtionship between two models (a user and a team ) like this :

[code]

The thing is when I use a hasone relationship the api has no "filter" parameter and it doesn't work instead it has a "refresh" parameter.

So if I need to use the api like this via the angular sdk :

[code]

The only way to go is to change the relationship into hasMany to be able to load the

[2016-05-06 15:34] jasiedu opened #2305 "Linking 2 or more existing model instances"
Is there a way to  "link" 2 existing model instances via the REST API? There seems to be one for "hasAndBelongsToMany" but the other relation types do not have this option.
Is this observation correct? If so, is there a workaround that anyone knows?

[2016-05-06 15:46] zekizeki commented on #2081
This problem still occurs and is the same as the one described [here](https://github.com/strongloop/loopback-connector-mssql/issues/53)

[2016-05-06 16:39] ambrt opened #2306 "Replace all instances of {href} in user.verify."
I just saw that user.verify() replaces only first instance of {href} in text here:
https://github.com/strongloop/loopback/blob/6964914bab64496c789c434fec39d2914231ee23/common/models/user.js#L436

It would be better if instead of:
`options.text = options.text.replace('{href}', options.verifyHref);`

we would use:
` options.text = options.text.replace(/\{href\}/g, options.verifyHref);`

That way we

[2016-05-06 17:03] ambrt opened #2307 "Redirect url should be urlencoded"
The user verify link is made in such way that it provides redirect path in the middle of whole link.

The problem is that when one would use `redirect=/#/my-angular-path` then the token is treated as hash valu and isn't read by api (to verify) and api throws error.
Redirect is added on line [407](https://github.com/strongloop/loopback/blob/6964914bab64496c789c434fec39d2914231ee23/common/models/use

[2016-05-06 18:16] mneil commented on #2198
Thanks for the links to those files. I will try to dig in next week if time allows.

[2016-05-06 18:27] davidcheung commented on #2277
Also please note that we would like to encourage users to post [questions](https://github.com/strongloop/loopback/wiki/Questions) on our Google Forums as we only accept bug reports and feature requests through Github issues, closing this issue, please feel free to reopen.

[2016-05-06 18:27] #2277 closed

[2016-05-06 18:45] mjordang commented on #2292
Hello I have the same problem

C:\Users\mrjordan\AppData\Roaming\npm\node_modules\strongloop\node_modules\rx\dist\rx.js:77
    throw e;
    ^
 true

The running environment is: Windows7, I upgraded to rx@2.3.19 and  these are the rest of  versions:
{ 'loopback-server': '1.0.
  npm: '3.8.9',
  ares: '1.10.1-DEV',
  http_parser: '2.5.2',
  icu: '56.1',
  modules: '46',
  node: '4.4.4',
  openssl: '1

[2016-05-06 19:01] superkhau commented on #2307
Can you provide a sample repo for us to reproduce your issue?

[2016-05-06 19:02] superkhau commented on #2306
Would you like to submit a PR?

[2016-05-06 19:22] 0candy commented on #2305
You can create model relations between the 2 models that you have created.
https://docs.strongloop.com/display/APIC/Creating+model+relations

Could you provide more info on what you're trying to do?

[2016-05-06 19:25] 0candy commented on #2304
So to clarify, you have an owner model and a members model in addition to the user and team model? Can you provide a sample repo? You can fork this sandbox.
https://github.com/strongloop/loopback-sandbox

[2016-05-06 19:27] jasiedu commented on #2305
I am talking about instances here. Not just the models. Say I have existing data in Mongo in two different collections. I have created the model relationship between them (say one to one).
How do I use the API to link an Instance of Model A to an instance of Model B if the relationship is anything but "hasAndBelongsToMany"? What is the equivalent of the following endpoint ?
PUT /ModelA/{id}/ModelB

[2016-05-06 19:58] jannyHou commented on #2303
@mrbatista  I am trying to reproduce your error, but seems your filter doesn't work:

I upload the app I created onto sandbox https://github.com/jannyHou/loopback-sandbox/tree/test/mongo-date
The models are built according to the json file in your comment
Open explorer try `GET/Model1s` with filter you provided:
`{"where": {"lastMessage.created": {"lt": "2016-05-05T10:57:36.717Z"}}, "limit": 10, "

[2016-05-06 20:04] akrasov commented on #517
+1

[2016-05-06 20:59] ssh24 commented on #2089
`Verified`.

- [x] MongoDB
- [x] MySQL
- [x] MSSQL
- [x] Cloudant
- [x] Oracle
- [x] Postgresql
- [x] DB2 : there is no issue from our QA developer side. DB2 connector does not work properly for which I have created an issue https://github.com/strongloop/loopback-connector-db2/issues/32

[2016-05-06 21:31] 0candy commented on #2305
You can follow the relations from one model to another one to get instances of the associated model.
`GET /model1-name/instanceID/model2-name`

[2016-05-06 21:41] jasiedu commented on #2305
That is not the question I am asking.
Suppose I have two models Person  and Title. I have data for both models in a database.
Suppose that I have linked Model Person to Model Title with a "HasOne" relationship.
How do I through the API, link an existing Person (Foo bar) to an existing Title (Dr)?

[2016-05-06 21:45] 0candy commented on #2305
If you have the "hasOne" relation set up, it should be referenced by a foreignKey.
https://docs.strongloop.com/display/APIC/HasOne+relations

[2016-05-06 21:53] jasiedu commented on #2305
I have existing data! The relationship was set up after the tables were populated not before.
I can write a script to back link them, but I would like to know how i can do that via the API!

[2016-05-06 23:33] jannyHou commented on #2292
I label it as a major issue, we will take a look at it as soon as possible. As a workaround, anyone run into this please check our doc https://docs.strongloop.com/display/public/LB/Tutorial%3A+model+relations
or example https://github.com/strongloop/loopback-example-relations
to manually add relations. Thanks for understanding.

[2016-05-07 00:29] mrbatista commented on #2303
@jannyHou I have created [fork](https://github.com/mrbatista/loopback-sandbox/tree/test/mongo-date) with boot script that create some data.
This is the correct filter: `{"where": {"lastMessage.created": {"lt": "2016-05-07T10:57:36.717Z"}}, "limit": 10, "order": "lastMessage.created DESC"}`.
Note that the filter in boot script works because property `lastMessage.created` is converted to type `Date`

[2016-05-07 01:25] andmart commented on #2292
Same issue here

Linux RHEL7.2
Node v4.4.3
strongloop v6.0.0 (node v4.4.3)
├── strong-arc@1.8.8 (fb756f2)
├── strong-build@2.1.1 (8a73f8b)
├── strong-deploy@3.1.3 (cc2e089)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.1 (6ab604c)
├── strong-registry@1.1.5 (f46e58f)
├── strong-start@1.3.3 (55d9a35)
├─┬ strong-supervisor@3.3.2 (254835a)
│ └── strong-agent@2.0.3 (ec2d95b)
├── generator-lo

[2016-05-07 02:57] andmart commented on #2292
It seems something is missing here node-v4.4.3-linux-x64/lib/node_modules/strongloop/node_modules/generator-loopback/lib/helpers.js:

exports.checkRelationName = function (modelDefinition, name, callback) {

  modelDefinition.properties(function(err, list) {
    if (err) callback(err);
    var conflict = list.some(function(property) {
      return property.name === name;
    });
    if (conflict)

[2016-05-07 12:11] shalkam commented on #2304
@0candy So to reproduce my problem it's very simple. you can try to create any simple hasone relation then look at it via the api explorer ... you will see that the get request for it doesn't have a filter parameter.

Here is how it looks like on my end :
![fireshot capture 37 - strongloop api__ - http___localhost_3000_explorer_ _](https://cloud.githubusercontent.com/assets/5118439/15092012/7dd1e4

[2016-05-07 21:56] shaharz commented on #2255
@superkhau I pushed `npm-shrinkwrap.json` to make sure we're running the same version. Also fixed formatting in the README. What you're saying is correct for `PUT /Tests/` (beforeRemote then access) but not for `PUT /Tests/1` (access only).

[2016-05-07 22:00] shaharz commented on #1806
@bajtos sounds good to me.

[2016-05-07 22:56] juguar commented on #2292
@jannyHou - Same issue here...

Console log --
`C:\Sites\temps\loopback-server>slc loopback:relation
? Select the model to create the relationship from: dishes
? Relation type: has many
? Choose a model to create a relationship with: Comments
? Enter the property name for the relation: (comments)

C:\Users\juguar\AppData\Roaming\npm\node_modules\strongloop\node_modules\generator-loopback\node_modu

[2016-05-08 00:50] toni783 commented on #2292
have the same issue

i am using:

strongloop v6.0.0 (node v4.4.4)
├── strong-arc@1.8.8 (fb756f2)
├── strong-build@2.1.2 (a98f310)
├── strong-deploy@3.1.4 (9b29df0)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.1 (6ab604c)
├── strong-registry@1.1.6 (f8c2339)
├── strong-start@1.3.4 (28c261d)
├─┬ strong-supervisor@3.3.3
│ └── strong-agent@2.0.3 (ec2d95b)
├── generator-loopback@1.20.6 (c537

[2016-05-08 11:20] ambrt commented on #2306
Its my firs PR :) i hope i made it right  https://github.com/strongloop/loopback/pull/2310

[2016-05-08 12:58] ambrt commented on #2307
@superkhau  Here's a sample of it https://github.com/ambrt/loopback-sandbox

[2016-05-08 15:43] MarcDiethelm commented on #2166
For future refence here's an official blog post.
https://strongloop.com/strongblog/working-with-pagination-and-loopback/

[2016-05-08 17:32] random0000 commented on #2292
Same issue here...Latest StrongLoop, both Node 4.4.4 and Node 6.1, Windows 10.

[2016-05-09 04:02] tktk8924 opened #2312 "creating relation error "Getting started part II""
I'm trying ["Getting started part II"](https://docs.strongloop.com/display/public/LB/Define+model+relations) and having a problem with creating relation between CoffeeShop and Review models.

I got the following error:

[code]

I followed the following steps:

[code]

Versions:
* Node.js: v5.11.1
* strongloop: 6.0.0

Thanks.

[2016-05-09 04:13] tktk8924 commented on #2312
same with #2292

[2016-05-09 07:39] bajtos opened #2313 "Fix input argument metadata for updateAttributes"
Consider the following model:

[code]

When loaded in LoopBack API Explorer, the endpoint `PUT /people/{id}` shows the following model for the request body:

[code]

Notice that the `name` property is marked as required, even though the method `updateAttributes` accepts a partial data (i.e. any subset of model properties).

We should fix the metadata for `updateAttributes`, `updateOrCreate` and co

[2016-05-09 12:15] roytan883 opened #2314 "can ACL.checkAccessForToken support customed accessType ?"
currently the

[code]

can't define accessType, internally it use ACL.ALL
If I call ACL.checkAccessForToken() directly, it lead the calculate score wrong, ACL rules "*" always get high score, sepcified "READ" and "WRITE" not used.

I tried passing accessType "READ", "WRITE" to this function, which used to new AccessContext internally.
Then ACL.checkAccessForToken works as expect.
Now I can use ACL

[2016-05-09 13:50] bajtos commented on #2255
Hello, as for the "access" hook: the way how this hook is designed, it should be called whenever any model instance(s) are accessed. This way it's possible to implement custom access control by registering "access" hook observer.

We are discussing with @Amir-61 that we should eventually implement a static version of `updateAttributes` that would not load the instance, i.e. something like `MyModel

[2016-05-09 14:14] gunjpan commented on #2257
@rweng:  Did above solution work for you?

[2016-05-09 14:38] 0candy commented on #2305
I understand that you have existing data. If you don't have the relationship set up for the tables prior to population, I don't think you can do that via an API. Do you have a foreign key column set up on one of your existing models already? You can try setting up auto migrate to move your existing data.

[2016-05-09 15:36] 0candy commented on #2304
Thank you for the info. You are right, `hasOne` does not take in a filter parameter. We should probably add it for consistency. Would you like to submit a PR?

https://github.com/strongloop/loopback/blob/ca1baee0f9547107bdb54853d49ebce6650a4fbf/lib/model.js#L477

[2016-05-09 15:47] richardpringle commented on #1081
Looks like this has been solved: closing. If the issue persists, please re-open this issue and **mention me** in a comment so I can take a look right away.

@mrbatista, thanks for your contribution!

[2016-05-09 15:47] #1081 closed

[2016-05-09 17:32] ritch commented on #1806
[code]

I think this gets us close... but what the real issue is that we aren't properly specifying the expected schema for the `data` object in `updateById`. This is really a limitation of strong-remoting's "type". It expects you to specify a model or JSON type. This is different than what swagger expects. Which is json-schema.

I'd really like to add something like `schema` to strong-remoting or

[2016-05-09 17:37] smurali1717 opened #2315 "Multi level model relation and querying"
modelD.JSON
{
  "name": "modelD",
  "base": "PersistedModel",
  "strict": false,
  "idInjection": false,
  "options": {
    "validateUpsert": true
  },
  "properties": {
    "userID": {
      "type": "string",
      "id": true
    },
    "age": {
      "type": "number"
    },
    "city": {
      "type": "string"
    }
  },
  "validations": [],
  "relations": {
    "ModelE": {
      "type": "hasOne

[2016-05-09 17:39] shaharz commented on #2255
Yes, I was expecting the remote hook to be called before `sharedCtor`. As to whether it's this hook or a different/new one, I defer to your expertise!

[2016-05-09 17:40] 0candy commented on #2315
Should be:
[code]

[2016-05-09 17:45] smurali1717 commented on #2315
I tried above one but I am getting the below response:
{
  "relationA": [
    {
      "userID": "123",
      "age": 31,
      "city": "Madurai"
    }
  ]
}

[2016-05-09 18:27] superkhau commented on #2255
Escalating to feature. Thanks for the input everyone.

[2016-05-09 19:15] jannyHou commented on #2312
yep, duplicate of #2292, we will take a look into it as soon as possible

[2016-05-09 19:15] #2312 closed

[2016-05-09 19:46] Krisa commented on #2286
Thank you @ritch this makes sense and answer few of my initial problems (also I didn't know the stream#PassThrough, it looks interesting...). Yet this solution may not be fully optimal regarding performances by opening every time a new cursor on the database (i.e. db request => records streamed => db request => etc.). Is there eventually a way to make a stream from the request like below?

My curr

[2016-05-09 20:03] richardpringle commented on #2306
#2310 was merged to solve this issue: closing.

[2016-05-09 20:03] #2306 closed

[2016-05-09 20:25] cgole opened #2318 "Models base class should be selected as Persisted class by default"
Right now when you create an empty loopback server, by default the base class is Model and not Persisted. We should switch this so Persisted class is default

https://media.github.ibm.com/user/3069/files/c9efc7d2-15d6-11e6-9192-f81a3ab4b747

[2016-05-09 20:36] davidcheung commented on #2264
Hi @enceladus, looking into this, is your custom user extended from the built-in user model? or its completely custom?
It does support extended custom user models, [our example](https://github.com/strongloop/loopback-example-access-control/blob/master/common/models/user.json) is also extending from the user model.

It would probably be the easiest if you can provide a sample-repo so it's easier to

[2016-05-09 21:02] davidcheung commented on #2264
Note sure if I understood the issue completely, just another note that extended user models also inherits the ACL from parent https://github.com/strongloop/loopback/blob/master/common/models/user.json#L36-L100
so this might be what you meant by under the hood?

[2016-05-09 21:04] jbcpollak commented on #418
I'm not sure if this is the right place to report this, but `Model.save()` does not return a Promise. If it matters, my model is using a `remote` connector.

I am using these versions:

[code]

[2016-05-09 22:18] raymondfeng commented on #2318
It does not make sense to use `PersistedModel` as the base if no datasource is present. If you create a datasource before trying to create a model, the base will be default to `PersistedModel`.

[2016-05-09 22:27] #2318 closed

[2016-05-09 22:29] ritch commented on #2318
Closing... this is 100% intentional.

[2016-05-09 22:39] superkhau commented on #2318
@crandmck Do you want to add a note about this somewhere in the docs regarding scaffolding models?

[2016-05-09 22:44] 0candy commented on #2315
Hi @smurali1717, I created a sample repo with a working example. The problem with your config was the model E has the wrong primary key. The primary key should be propertyA and not userId as the reference to modelF is depending on that.

https://github.com/0candy/modelrelation

[2016-05-09 23:17] superkhau commented on #2302
Sounds like a bug, can you provide a sample repo for us to verify? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-05-10 01:02] juanpujol commented on #517
+1

[2016-05-10 01:23] stringbeans commented on #878
Just ran into this again with 5.10.1... the issue is very intermittent

[2016-05-10 01:29] jannyHou commented on #2314
@roytan883 Thanks for your suggestion, could you explain more about

?
I am a little confused with what `calculate score` means?

[2016-05-10 02:22] roytan883 commented on #2314
@jannyHou I debug the acl.js of loopback source code, ACL internally calculate each acl principal score, choose the highed score principal as the final result true or false.
As the doc says, the more specified rule will override Wildcard rule. But currently the result is wrong,  the wildcard rule always get highest score. The reason is 'new AccessContext' default use '*' as the accessType.
For exa

[2016-05-10 03:15] roytan883 commented on #2314
@jannyHou
For example, if i have those ACL for model 'project'
[code]
If i call project.find and Role match $teamMember, it should be "ALLOW". But currently, the ACL.checkAccessForToken return false.

But my modified ACL.checkAccessForTokenRt return true, because model._getAccessTypeForMethod(request.method) pass accessType "READ" to it.

[2016-05-10 05:03] always-akshat commented on #1275
+1

[2016-05-10 06:32] rweng commented on #2257
@gunjpan Thanks for your help and feedback, but I decided to switch to Koa 2. I'm not yet in need of all the features that loopback provides, and after coming across some other stumbling stones (or making some more mistakes) with loopback I decided that the learning curve was too steep for the moment.

[2016-05-10 06:32] #2257 closed

[2016-05-10 07:33] jeff3yan commented on #517
+1

[2016-05-10 07:38] mitsos1os commented on #2302
I have created the Repo here: https://github.com/mitsos1os/loopback-sandbox

Steps to reproduce are

1. Create a new customer with POST to **/Customers** with data such as:
[code]
  The customer record gets created with id:1

2. Create an address for customer with POST to **/Customers/1/address** with data:
[code]
You will see that the address is created with an id although `forceId` in customer.j

[2016-05-10 09:32] JoeShi opened #2319 "Manually update profile in UserIdentity failed"
I am trying to update the profile in UserIdentity model. Just followed the guide (here)[https://docs.strongloop.com/display/public/LB/Embedded+models+and+relations#Embeddedmodelsandrelations-EmbedsOne]. It crash my app, I have also tried to specify the relationship in `userIdentity` model.

[code]

[code]

Try specify `embedsOne` relationship in `userIdentity` model.

[code]

[2016-05-10 10:56] Morriz opened #2320 "User.validatePassword should get user model injected"
Same with User.hashPassword.

That way we can decide ourselves if we wish to allow third party's (passport) auto generated passwords. By inspecting the user instance we can deduce the conditions for this.

[2016-05-10 11:26] JoeShi opened #2321 "afterRemote never get executed on __get__identities remote method"
I have a user model which `hasMany` `userIdentity`, the relationship name is `identities`.

[code]

I defined the following in user model. However, when I call `GET /users/me/identities`, it returns me the correct resource, but the afterRemote never get executed.

[code]

I just followed the [remote hooks example](https://docs.strongloop.com/display/public/LB/Remote+hooks#Remotehooks-Examples), bu

[2016-05-10 11:31] shalkam commented on #2304
@0candy thanks for clearing this out. I will give a try and see if I can do it.

[2016-05-10 11:31] JoeShi commented on #651
try this [loopback-remote-routing](https://github.com/Neil-UWA/loopback-remote-routing)

[2016-05-10 12:06] bajtos commented on #2286
The feature request makes sense to me too. I think it has two parts:

1) How to make a database query returning a stream of results, as opposed to current implementation that returns an all-in-one in-memory array.

2) How to get the stream of results to the HTTP client (web browser).

As @ritch pointed out in his comment, 2) should be already available.

The remaining part is 1), which is somethin

[2016-05-10 12:40] Krisa commented on #2286
@bajtos agree, I could get the example above working (with few amendments to the code), hence the streaming (of anything) is definitely working well.

Regarding 1), I wanted to see whether doing everytime a new query is really slower:
- sample table: 21477 records
- batch size chosen: 5000 records
=> It will do therefore 5 recursive queries.

I have run each sample 5 times:
Example using Collectio

[2016-05-10 13:10] bajtos commented on #2209
@crandmck yes, it would be me. If you point me to a doc page where to describe this new feature, then I can write the draft myself. Thoughts?

[2016-05-10 13:14] bajtos commented on #2252
@chrisamoore you can try to tweak remoting metadata to use a different type for the `where` argument and then send a pull request with the implementation.

[2016-05-10 13:22] bajtos commented on #1876
We don't have such method, although we have `findOrCreate` which implements the part where a new model is created when not found. @sonalisa1 please open a new github issue to keep track of your feature request.

[2016-05-10 13:56] davidcheung opened #2322 "Use composite key for realmRequired Users"
Currently `realmRequried: true` doesn't do composite keys,
should use options [`scopedTo`](https://github.com/strongloop/loopback-datasource-juggler/blob/2189b9a746071b599d6a129313b2cdd11052e36b/lib/validations.js#L231) to implement
unique: `email & realm`, `username & realm`

https://github.com/strongloop/loopback/blob/363bc4d6c182067cf02fdf964ee4ea38ce408f35/common/models/user.js#L727-L731

[2016-05-10 14:06] Morriz opened #2323 "expose 'authenticated' event"
For use case when using signed cookies:

When a valid access token is found, loopback should emit an event to allow the developer to set an unsigned cookie as a flag that the user is logged in for an SPA.

This location is a valid candidate for such an event:

AccessToken.findForRequest

[2016-05-10 15:31] tomhallam commented on #1495
@ritch this doesn't seem to work with methods with relationships, for example `model1.prototype.__create__model2` - I get an error of `next is not a function` in the `server.js` file.

Any thoughts there? Any other alternatives?

[2016-05-10 15:44] richardpringle commented on #2253
Hey @dregre, is this isolated to isomorphic LoopBack?
Disclaimer: I might not have the answer for you on this one, but worst case, I will find someone who does.

I'm a little confused with calling `post.content()` as a function. Is that the proper way to use a getter to call a related model? @raymondfeng do you have any insight here?

[2016-05-10 15:47] gunjpan commented on #2321
@JoeShi : Hey Joe, it is not invoking the remote method as `User.afterRemote('__get__identities',...` referring to a `static` method with name `__get__identities`, not an `instance`/`protoype` method.
As explained [here](https://docs.strongloop.com/display/public/LB/Accessing+related+models):LoopBack automatically creates a set of related **model methods**.
Thus, `__get__identities` being an insta

[2016-05-10 15:47] #2321 closed

[2016-05-10 15:49] JoeShi commented on #2321
Great thanks.

[2016-05-10 16:09] notbrain opened #2324 "By default, passwords can't be all numbers because of a weak type check in user.js"
I would think a password that is all numbers would be a bit more secure than those that are of the well-known "letmein" or "password123" variety, especially if we enforce 8 digits.

Because of this line in user.js, passwords cannot be all numbers:

https://github.com/strongloop/loopback/blob/master/common/models/user.js#L610

This needs to be more intelligent and allow a full string of numbers for

[2016-05-10 16:26] notbrain commented on #2324
Is there any harm in adding an explicit conversion like this? Not sure of the security ramifications but password requirements should be up to the app owners. Kind of pointless to do a `toString()` and immediately after check that it's a string, so there's some thinking to do around this.

    UserModel.setter.password = function(plain) {

      plain = plain.toString();

      if (typeof plain !=

[2016-05-10 17:03] smurali1717 commented on #2315
Super Candy! Thank you so much for your kind help! it works like charm.

[2016-05-10 17:03] #2315 closed

[2016-05-10 17:19] crandmck commented on #2209
From looking at the linked issues, I _think_ this adds some stuff to the returns/accepts options for remote methods (?)  If true, then we'd need to update https://docs.strongloop.com/display/APIC/Remote+methods#Remotemethods-Argumentdescriptions.

If I've misunderstood, please LMK.

[2016-05-10 17:34] jannyHou commented on #2314
@roytan883 makes sense. It's a acl problem. Would you mind create a pr to implement it?

[2016-05-10 17:48] jdschreck commented on #2205
Janny,
    This is unfortunately not clear to me yet.  Is there a way to access the returned structure to access the list of model2s without parsing/stringifying?

John

[2016-05-10 17:56] richardpringle opened #2325 "Fix formatting of LoopBack-sandbox to comply with slc loopback:*"
Clone [loopback-sandbox](https://gihub.com/strongloop/loopback-sandbox) then run the latest version of slc with the command `slc loopback:*` (instead of `*` use `model` for example) and check the differences with `git diff`. Without adding any new files (the model you may have created), commit the changes on the master branch.

[2016-05-10 19:13] sklein12 commented on #517
+1

[2016-05-10 20:10] nateha1984 commented on #517
+1 oracle

[2016-05-10 21:08] davidcheung commented on #1485
Had some discussion and test implementation and came to the conclusion that we probably should not be inheriting the validations by model creation, but to encourage users to use the `Model.setup()` function as a constructor for the model *(this is not really well documented, or maybe not documented at all)* and i think is what led to users having subModel inherit issues.  Basically model on submod

[2016-05-10 21:49] 0candy commented on #2319
Hi @JoeShi ,
What does your base model UserIdentity look like?
Would you mind forking this sandbox and providing a sample repo for me to reproduce your issue?
https://github.com/strongloop/loopback-sandbox
Thanks!

[2016-05-11 02:40] Amir-61 commented on #2281
@Virendra-Developer Hopefully this answers your question. Please feel free to open a specific feature request you think it will be useful. I'm closing this issue...

Thanks!

[2016-05-11 02:40] #2281 closed

[2016-05-11 08:42] mountain1234585 opened #2331 "Feature request for PUT with WHERE in loopback ."
Currently, loopback framework provides support for performing updateOrCreate in case of primary key only. For cases, where upsert feature needs to be supported based on foreign key, we need to have an operation supporting *PUT with Where clause and data field. The same way, we have POST with Where  now.

@bajtos .. please let me know if you have plans for supporting this anytime soon.

[2016-05-11 09:51] FredericLeuba commented on #517
+1 fields on nested attributes + dotted notation

[2016-05-11 09:56] FredericLeuba commented on #1655
+1

[2016-05-11 10:21] lucaslopez commented on #517
+1

[2016-05-11 12:40] zealseeker commented on #1976
@jannyHou  I got the similar issue.  And made a pull request, please check whether its a bug.

[2016-05-11 12:47] richardpringle commented on #2324
@notbrain, good question about security ramifications. I think it might be better to check for the following:
[code]

Do you want to submit the PR? You found the bug, you should get the credit for the fix!

[2016-05-11 13:45] nobesio commented on #2292
Same issue here! OSX El Capitan

[2016-05-11 13:53] jannyHou commented on #1976
@zealseeker Thank you I will take a look and label it bug if necessary.

[2016-05-11 14:31] richardpringle commented on #1485
@davidcheung, did you create a doc issue for @crandmck?

[2016-05-11 14:40] #1854 closed

[2016-05-11 14:52] davidcheung opened #2332 "[doc] Improve Model.setup() function documentation"
Related to https://github.com/strongloop/loopback/issues/1485
### Objective:
- To educate users to use `model.setup()` function to customize extended models
- It behaves like a constructor, where child will automatically call the parent's constructor
### Use case
- validation inheritance
- customized user and child's setter getters
### example
- the `user.js` is probably the best example we have,

[2016-05-11 14:53] davidcheung commented on #1485
@richardpringle good idea
https://github.com/strongloop/loopback/issues/2332

Closing issue now

[2016-05-11 14:53] #1485 closed

[2016-05-11 15:13] shakeelmogify opened #2333 "How to use Group by aggregation in loopback remote method"
[code]
and result is as follows

[code]
Please help me out how can i group result by **groupId**.

[2016-05-11 15:59] notbrain commented on #2324
Thanks, yeah I like checking for number type and only converting at that point.

[2016-05-11 19:50] smurali1717 opened #2334 "Model Property Alias Name and reconstruct JSON without any remote method or custom methods"
1. How to introduce Property Alias name? for example, in post property name and my db property name may differ so in this cases how to handle (apart from any remote methods)
2. I want to change the JSON result structure, without any custom methods. is it possible?

Please help me.

[2016-05-11 20:50] richardpringle commented on #2333
Wait, I'm confused about the question... @shakeelmogify, what do you mean by "group result"?

Do you want to query based on `groupId` instead of `createBy`? This is confusing because each Survey instance has the same `groupId` as well as the same `creatBy` property.

[2016-05-11 21:25] Amir-61 commented on #2334
Hey @smurali1717,

For your first question, what connector are you using?

This is for MySQL:

Using the datatype field/column option with MySQL
loopback-connector-mysql allows mapping of LoopBack model properties to MySQL columns using the 'mysql' property of the property definition. For example in `/common/models/model.json`
[code]
You can also use the dataType column/property attribute to speci

[2016-05-11 21:30] jannyHou commented on #2334
@smurali1717

If you already have a table or schema in your database, you can use `discoverAndBuildModels` to map it to your lb model. Please check doc https://docs.strongloop.com/display/public/LB/Discovering+models+from+relational+databases for more details.

And if you have a different property name between lb and your database, you can specify the database_property_name in your model.json:
[co

[2016-05-11 22:09] crandmck commented on #2293
@richardpringle Can you help to clarify this so I can document? Here are some questions I have:
- Why would one want to do this (examples)?
- Can you do it for any model or just for built-in models?  The example referred to above is for a built-in model.
- In `<Model>.setter['myProp'] = function(val) {};` is `val` just the value of the property being set (that you can then manipulate)?  That's wha

[2016-05-11 22:17] alvarp commented on #2256
@richardpringle, I've created the repository and the relations reproducing my issue.

- There are the default models, a user model extending User and a RandomModel model.
- There are the roles admin and randomModelFind.
- $everyone are denied to do everything at RandomModel model,
- except principalId randomModelFind, which is ALLOWed to find in RandomModel.
- The only user at the repo has the rol

[2016-05-11 22:50] notbrain commented on #2324
https://github.com/strongloop/loopback/pull/2335

[2016-05-11 22:54] notbrain commented on #2324
Ironically there is a test that tests for missing email that uses an all number password. Heh.

https://github.com/strongloop/loopback/blob/master/test/user.test.js#L114

Will try to carve out some time to add a test to include one that is valid with an all number password.

[2016-05-12 04:59] smurali1717 commented on #2334
Apologies for not mentioned connector name. I am using DB2 connector. From DB2 connector is it possible. The same example throwing me an error when I tried to use it in DB2. Is it possible from DB2?

2. When I get data from DB I may get the response in the below format but I want change.

For example:
{
{
"firstname":"Murali",
"lastname":"Sankaran",
"address":"address information",
"age":31,
"prop

[2016-05-12 05:08] shakeelmogify commented on #2333
@richardpringle i think my question is not clear .... actually i am fetching surveys created by a particular user. Each survey belongs to a group and an user can create multiple surveys in a group. So in the result set i want to group all surveys of a group instead of repeated same group with each survey. Hope it clarifies my question. Thank you

[2016-05-12 06:57] Morriz commented on #1452
Any progress on this? It's been 5 months

[2016-05-12 09:16] VenkataNaveen commented on #2292
same issue here using node v0.12..7

[2016-05-12 09:55] ahmetcetin commented on #1275
+1

[2016-05-12 10:53] rjrahul opened #2337 "unless in path specification in middleware.json"
Can we implement a feature in middleware.json to attach middlewares to a path but skip on some paths.

Requirement is to attach authentication middleware to /api endpoints but not to /api/user endpoint.

[2016-05-12 13:09] sbacem commented on #1841
:+1:

[2016-05-12 13:29] #2208 closed

[2016-05-12 13:50] davidcheung commented on #2337
You can try to override the paths, I've had some success changing the order of my middleware as follows
[code]
and my regular `/api/{models}` still works while `/api/test` goes to the middleware
@rjrahul please let me know if this solves your problem.

[2016-05-12 13:57] jannyHou commented on #2334
@smurali1717 we support property type to be `Object`, could you try like define an object property called `name`:
[code]

[2016-05-12 15:12] gunjpan commented on #2286
@Krisa : Meanwhile, did you have a chance to look at this PR: https://github.com/gunjpan/sandbox/issues/2 . It should help you to move forward while we wait for this feature implementation. Thanks.

[2016-05-12 15:36] yagobski commented on #1213
Thanks but it works only if it is not inside afterRemote

This example not work

`module.exports = function(ExampleModel) {
var app = require('../../server/server');

ExampleModel.afterRemote('create', function(context, usr, next) {
ExampleModel.observe('loaded', function( ctx, next) {
   var User = app.models.User;    // works!
   ...
   User.create(...);
   ...
}
});`

[2016-05-12 15:44] richardpringle commented on #2333
@shakeelmogify, Can a user create surveys in multiple groups? If they can't and you don't want to include the group info you can just remove the `include` filter.

But if they can create surveys in multiple groups,  I might suggest returning an object such as:
[code]
If you do want your response to look like that, I can help you get there.

My best suggestion for getting help is to fork a [loopbac

[2016-05-12 15:57] shakeelmogify commented on #2333
@richardpringle, yes, an user can create surveys in multiple group and want same result object as you shown.

[2016-05-12 16:14] bajtos commented on #157
We agreed this required a bit of research to find out what and how should be inherited when subclassing a model. We don't have bandwidth to address it in 3.0 time.

[2016-05-12 16:18] superkhau commented on #1452
@Morriz It has not been a priority for awhile and probably won't be in the near future. Would any of you guys like to take this on? I can bump the review if someone submits a PR.

[2016-05-12 16:54] Morriz commented on #1452
I now believe it's inherently impossible to guarantee uniqueness without enforcing it on the db index, and it should be accepted that the code thus throws errors due to concurrent posting with the same creds. So I think this thread may be closed unless somebody can prove otherwise

[2016-05-12 16:58] richardpringle commented on #2333
@shakeelmogify, instead of `cb(null, surveys)', you can create a new array of objects as suggested above and do `cb(null, newObj)`. It'll just take some vanilla JS inside the `Survey.find` callback. There currently is no "LoopBack way" to group them as suggested.

I'm going to close this issue, but that doesn't mean that the discussion has to end! If you have any other comments, just mention me an

[2016-05-12 16:58] #2333 closed

[2016-05-12 17:13] bajtos opened #2338 "Remove loopback#errorHandler"
AFAICT, the only purpose of `loopback#errorHandler` is to provide option `includeStack` that allows user to remove stack traces from error responses in production. However, that's not enough, as other error properties may contain sensitive information too.

We should remove the handler and tell users to use strong-error-handler instead.

To simplify upgrade from 2.x to 3.0, we should preserve the

[2016-05-12 17:45] RobPhippen commented on #531
ok - looks like we need this too

[2016-05-12 18:28] richardpringle commented on #2324
Yeah weird. I only tried to reproduce the issue through *strong-remoting*. Once you write your test, we should know if a different change needs to be made.

[2016-05-12 20:27] richardpringle commented on #2293
@crandmck, I would talk to @raymondfeng about this. I haven't used *setters* or *getters* within LoopBack nor have I seen them used on a user-defined model, so I don't have an example but they are generally used to *get* and *set* private variables.

The code that defines them is in the [model-builder](https://github.com/strongloop/loopback-datasource-juggler/blob/3113333cb2ab62ad3863fc5ceee856a4f

[2016-05-12 21:23] Krisa commented on #2286
Thanks @gunjpan for taking the time to share that. An elegant solution to stream from the server to the client, but it's a similar solution to the one proposed by Ritch before and does not help further regarding the stream from the database to the server.

I have not experimented beyond my relatively simple performance test I've shared in my previous post but I'm currently concerned the built-in a

[2016-05-13 04:34] rjrahul commented on #2337
@davidcheung I have a single middleware authentication which needs to be applied to all (a lot of /api/xxx paths) and skip for some (very few /api/xxx paths). Post this the continuation of other middleware (including rest middleware) needs to be done as common flow.

Your suggestion seems would work in cases where middleware would be different based on paths.

[2016-05-13 09:49] kakenn commented on #2292
have the same issue

strongloop v6.0.1 (node v6.1.0)
├── strong-arc@1.8.8 (fb756f2)
├── strong-build@2.1.2 (a98f310)
├── strong-deploy@3.1.4 (9b29df0)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.1 (6ab604c)
├── strong-registry@1.1.6 (f8c2339)
├── strong-start@1.3.4 (28c261d)
├─┬ strong-supervisor@3.3.3
│ └── strong-agent@2.0.3 (ec2d95b)
├── generator-loopback@1.20.6 (c53788b)
├── node

[2016-05-13 10:48] isreekan commented on #2292
same error on Mac OSX El Capitan

[2016-05-13 11:09] ashishtilara commented on #445
+1

[2016-05-13 11:31] ashishtilara commented on #2292
I am getting similar error too,
![screen shot 2016-05-13 at 9 30 13 pm](https://cloud.githubusercontent.com/assets/1509613/15246663/fd2def06-1951-11e6-8c9e-633c0ea53297.png)

Any suggestions on how to fix this?

[2016-05-13 12:08] bajtos commented on #2331
@mountain1234585 we don't have immediate plans to support this feature. Would you like to contribute it yourself?

@Amir-61 has recently added two new methods `replaceById` and `replaceOrCreate`, you can use his work for inspiration, since adding "upsert by where filter" will be similar in many aspects. See https://github.com/strongloop/loopback-datasource-juggler/pull/788 and related issues and p

[2016-05-13 12:12] bajtos commented on #1874
Possibly related: https://github.com/strongloop/loopback-sdk-angular/issues/134

[2016-05-13 14:05] Morriz opened #2339 "Allow lazy attachment of data sources"
Please decouple the attachment of data sources, so that models can be loaded synchronously. The need to unit test models is very real and this is a step in the right solution.

[2016-05-13 15:08] Amir-61 commented on #2331
@mountain1234585 If you decided to contribute code please ping me on your PRs so I can help review the code as well.

Thanks!

[2016-05-13 16:27] crandmck commented on #2293
@raymondfeng Please advise ^.

[2016-05-13 16:30] gunjpan commented on #2339
@Morriz : Hi, is this close to what you are looking for: https://github.com/strongloop/loopback/issues/2242?

[2016-05-13 16:36] Morriz commented on #2339
I have no clue anymore, I just wish that loopback was not so tightly coupled from the start. Is there a roadmap to refactor loopback so that it is decomposed into the unix style philosophy?

Ultimately I think it would be preferable to have:
- the data abstraction layer decoupled
- the server functionality decoupled (why that was tied so hard from the start I have no clue)
- the model layer decoup

[2016-05-13 16:42] gunjpan commented on #2339
@bajtos / @raymondfeng / @ritch : Could you please share your views re. ^ and their consideration in LB roadmap. Thanks.

[2016-05-13 17:00] Morriz commented on #2339
Sry if I come across a bit cynical, but I have been digging and trying to hack around all these impossibilities to come up with a way to create unit tests and simple task runs, but the system was never designed with that in mind, which makes me truly feel sad. I have been postponing a migration away from this mess for months now, but decided to ride with it, hoping it will become better in a pace

[2016-05-13 17:31] kaktus42 commented on #1412
@bajtos @superkhau @raymondfeng @ritch

Something new about that?

[2016-05-13 17:45] jannyHou commented on #2242
Will update verification steps here soon.

[2016-05-13 18:17] richardpringle commented on #2256
Hey @alvarp, not only is the documentation incomplete, but you also found a bug!

The problem is that that the `principalType` is defaulting to `Principal.USER` [right here](https://github.com/strongloop/loopback/blob/4fd1d2bcd460e962c7e1b4c370d69a7bf8509a3b/lib/access-context.js#L61), so the role is not fulfilled.

What you can do instead is create a custom resolver [like in the access-control ex

[2016-05-13 21:51] casamia918 opened #2340 "How to configure current time?"
When I command $ date in my mac, the output is

[code]

Also, when I run node repl, I can see similar time

[code]

But, when I run my loopback app, current time is not consistent with my local time.
This is the first few line when I execute 'slc start' at now. It should be around 6'o clock but the result is

[code]

How can I configure loopback process time to my local time?

[2016-05-13 22:03] yagobski commented on #1137
+1

[2016-05-14 02:05] superkhau commented on #2339
@bajtos @raymondfeng ^

[2016-05-14 02:07] superkhau commented on #1412
@kaktus42 I don't believe its anywhere near our current priorities, but PRs are always welcome. We can set aside some time to help review things, but won't be able to spend time coding up the features ourselves unfortunately ;) @bajtos can probably give a bit more insight here.

[2016-05-14 02:13] superkhau commented on #2190
@Amir-61 @loay Is this a bug or still triaging?

[2016-05-14 02:22] Amir-61 commented on #2190
@superkhau

No I believe it can be closed now. It does not seem a bug to me. @paddymann please feel free to re-open the issue with a repo reproducing the issue.

Thanks!

[2016-05-14 02:22] #2190 closed

[2016-05-14 03:38] shaozi commented on #2292
Same Error.
OSX El Capitan
"""
strongloop v6.0.1 (node v4.4.3)
├── strong-arc@1.8.8 (fb756f2)
├── strong-build@2.1.2 (a98f310)
├── strong-deploy@3.1.4 (9b29df0)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.1 (6ab604c)
├── strong-registry@1.1.6 (f8c2339)
├── strong-start@1.3.4 (28c261d)
├─┬ strong-supervisor@3.3.3
│ └── strong-agent@2.0.3 (ec2d95b)
├── generator-loopback@1.20.6 (c53788b

[2016-05-14 16:42] dregre commented on #2253
Yeah, I've observed that it is isolated in isomorphic loopback.  Interestingly, the models in isomorphic loopback seem to have slightly different behavior than models in regular loopback.  For example, whereas `MyModel.find()` returns a Promise in regular loopback, in isomorphic loopback you have to pass in a callback in your call to `find()`.

To clarify the use of `Post#content()` -- Post has a

[2016-05-15 02:37] mrgithub commented on #2292
I have the same error on Cloud9

[code]

[2016-05-15 12:57] devotox opened #2342 "Using default user class has no PUT user/{id}"
I am extending the base User class like

[code]

but i get this error when trying to update a user

[code]

[2016-05-15 22:01] briandavidson commented on #2292
Experiencing the same issue on linux with several nodejs versions.

[2016-05-16 04:06] jeff3yan commented on #517
While waiting on this feature, I'd like to create a remoteMethod that does an INNER JOIN, resulting in the dataset I want, but I'd like to be able to keep a relatively similar filter/sort/order REST API parameter set if possible.

Is there any method to compile some of the query parameters into SQL? Or possibly a subset of the filters.

[2016-05-16 08:26] dadakoko commented on #2292
getting the same using v4.4.4 on OSX Yosemite

[2016-05-16 08:48] bajtos commented on #2292
I am able to reproduce it on my machine too:
 1. create a new project, e.g. via `yo loopback`
 2. define two models, e.g. `Customer` and `Address`
 3. run `yo loopback:relation`

(Node v6.1.0, the latest generator-loopback and loopback-workspace from GitHub master.)

[2016-05-16 10:06] saggafarsyad opened #2343 "Upsert operation remove the id that i've been set in instance"
Let's say i have `OrderPayment` and `Order` model with fields
- id
- paymentMethod
- amount
- status

The `id ` is not auto-increment. So when I add a new instance, I write the object like this
[code]

and then i called `upsert` like this
[code]

Since `OrderPayment.id` is a foreign key to `Order.id`, it always error because failed id constraint

I track how my `payment` object changes with Operat

[2016-05-16 13:53] bajtos opened #2344 "Add an option to scaffold 3.x projects"
- Add a new option to loopback-workspace's `createFromTemplate` to specify which LoopBack version to use (2.x or 3.x)
 - Add a new prompt to generator-loopback asking the user which LoopBack version to use.

[2016-05-16 14:34] bajtos commented on #2339
@Morriz I am afraid I don't really understand what are you asking for.

What do you mean by loading models synchronously? Could you please provide more details, perhaps a code sample showing what would you like to achieve?

When you write "unit test models", are you referring to pure unit tests where the subject under test is completely isolated and all dependencies/integration points are mocked o

[2016-05-16 14:35] gunjpan commented on #2342
hey @devotox, I was unable to reproduce the error.
Could you please provide me with the steps to reproduce.
Also, I was using loopback-explorer to test the end-points and was able to make a PUT request to an existing instance of user after **logging in**, just want to make sure you're making authenticated requests.
Moreover, if you could please provide the code you have by forking [loopback-sandbo

[2016-05-16 14:59] Morriz commented on #2339
I prefer a skype call or something, as I believe it will be waaaaaay faster to make you see what I mean. Are you open to that?

[2016-05-16 15:55] jannyHou commented on #2340
@casamia918 If I create the model instance from script code(like script in server/boot folder), it will generate the local time, I created a sandbox to prove it, please check it here:
https://github.com/jannyHou/loopback-sandbox/tree/test/lb-date

Npm install and run the app, you will see the local time printed on console.

But the problem you report also exist, I think https://github.com/stronglo

[2016-05-16 16:04] Morriz commented on #2339
Ok, let me try again. Please keep decoupling, modularity and unit testing in mind when you read my response.

And I don't want to come across as condescending here, but can I ask what the background is of the main coders of the stack? Monotlithic Java apps? It seems that they don't come from async programming at all. It would have been a good idea to have a crack aboard from the start and avoid al

[2016-05-16 20:32] raymondfeng commented on #2253
@ritch or @kraman You guys have more knowledge about the remote connector and how relations are implemented. Can you chime in?

[2016-05-16 21:08] awsp commented on #2292
+1
getting exact problem on node 5.11.1 as well as 6.10.0 on Ubuntu 14.04
[code]

[2016-05-16 23:10] cgole opened #2345 "slc loopback:relation` not working"
$ slc loopback:relation
? Select the model to create the relationship from: note
? Relation type: belongs to
? Choose a model to create a relationship with: (other)
? Enter the model name: k8
? Enter the property name for the relation: (k8) h

/usr/local/lib/node_modules/strongloop/node_modules/generator-loopback/node_modules/yeoman-generator/node_modules/yeoman-environment/node_modules/inquirer/n

[2016-05-16 23:10] cgole commented on #2345
this is affecting apic loopback in production.

[2016-05-16 23:32] superkhau commented on #2345
Closing as duplicate of https://github.com/strongloop/loopback/issues/2292#issuecomment-219378029. @bajtos reproduced it himself and is aware of the issue.

[2016-05-16 23:32] #2345 closed

[2016-05-17 00:58] zbarbuto commented on #517
+1

[2016-05-17 01:05] jannyHou commented on #2344
- [ ] **generator-loopback**

Add a new prompt called `lbVersion` and pass it into [`createFromTemplate`](https://github.com/strongloop/generator-loopback/blob/master/app/index.js#L172)

[code]

[2016-05-17 01:26] davidcheung commented on #2292
For a temp fix you can
- navigate to where `slc` is installed and find
- for npm 2 would be `<YOUR_GLOBAL_NPM_FOLDER>/strongloop/node_modules/generator-loopback/node_modules/yeoman-generator/`
-  install `npm install yeoman-environment@1.5.3` which would bring [inquirer](https://github.com/yeoman/environment/blob/v1.5.3/package.json#L39) back to 0.11

if you're using  `yo` or npm3 then i assume yo

[2016-05-17 02:24] EvanWillms commented on #466
+1

I've ended up creating a second relationship to access extra data stored in the join table and then have to manually re-attach it.  Native support to access these properties in the primary relationship would be awesome.

[code]

[2016-05-17 05:02] Kumuluzz commented on #517
+1 (Postgre)

[2016-05-17 06:45] casamia918 commented on #2263
@0candy I created a repository to reproduce this issue.
https://github.com/casamia918/loopback-sandbox

**Model definition**

- user: opened with public api, has many contact
- contact : private model, can only access by users related method (Verb /users/1/contact/{fk}). Have 3 properties and 2 of them are protected property
[code]

**Bug occur**

When API request with GET /users/{id}/contacts, al

[2016-05-17 07:24] PaddyMann commented on #651
Rather than separately defining the defined methods, I wanted to only include methods supported by my model's ACLs. So, building on @ericprieto's solution, I added:

    function disableUnauthorizedMethods (model) {
      const acls = model.definition.settings.acls || [];
      let authorizedMethods = [];

      acls.forEach((acl) => {
        if (Array.isArray(acl.property) && acl.permission ===

[2016-05-17 09:18] SETTER2000 commented on #2292
problem is urgent!

[2016-05-17 09:47] PaddyMann opened #2346 "nestRemoting doesn't support multiple levels?"
I am trying to set up API end points like:
- /workspaces
- /workspaces/1/projects
- /workspaces/1/projects/1/sections
- /workspaces/1/projects/1/sections/1/questions

I am able to set up /workspaces and /workspaces/1/projects within my `workspace.json` config file.

I am able to get /workspaces/1/projects/1/sections to work using nestRemoting:

[code]

However, `/workspaces/1/projects/1/sections/1

[2016-05-17 09:49] JordanMajd commented on #2292
Apologies for closing temporarily, wrong button. It's 4AM and I'm accidentally closing issues. That is my queue to go to bed.

[2016-05-17 13:22] fabiomdf commented on #2292
I'm using Ubuntu 16.06 node 4.4.4 and loopback 6.0.0 and same issue here. Updated to newer version of loopback but error persists.

[2016-05-17 13:40] JoeShi opened #2347 "Error: Cannot GET /{}"
My loopback server sometimes emit the following error. From the error message, it says cannot `GET /{} error `.

What is the meaning of `GET /{}`, is it same as 'GET /'?  There is something in my client root, so it should not return 404.

[code]

[2016-05-17 15:12] jannyHou commented on #2242
This feature are supported in nine repos:
1. apiconnect-cli-loopback
2. loopback-boot
3. loopback-connector-db_name
(db_name = [mysql, mongodb, db2, cloudant, oracle, mssql, postgresql])

To verify this feature, please make sure all repos are updated with the latest change.

Verify Steps:
1. apic loopback
2. Go to apiconnect-cli-loopback and open the code, comment this line: https://github.ibm.com

[2016-05-17 15:23] jannyHou commented on #2242
@chandadharap This story is ready for verification, please assign it to proper people in qa-team to verify it, thank you.

[2016-05-17 15:30] gunjpan commented on #2347
@JoeShi : Hey Joe, could you please post your `middleware.json` file or if possible, a sample repo would be the best to understand what's causing the error with your application. Thanks.

[2016-05-17 15:49] bajtos commented on #2001
Closing as done per @superkhau and @hacksparrow

[2016-05-17 15:49] #2001 closed

[2016-05-17 15:49] JoeShi commented on #2347
Sure. @gunjpan  `middleware.json` & `middleware.production.json` are same and given in the following. My server is running `strong-pm`. with `NODE_ENV=production`.

[code]

[2016-05-17 15:49] bajtos commented on #2001
Follow up stories: https://github.com/strongloop-internal/scrum-loopback/issues/879 and https://github.com/strongloop-internal/scrum-loopback/issues/880

[2016-05-17 15:51] bajtos commented on #2001
Follow up story: https://github.com/strongloop-internal/scrum-loopback/issues/904

[2016-05-17 15:58] JoeShi commented on #2347
Hello, @gunjpan This is the [repo](https://github.com/JoeShi/Wechat). This error occurs quite often, but from the error message, I cannot figure out the reason.    Thank you for your help.

[2016-05-17 16:00] gunjpan commented on #2347
@JoeShi : Looking into it. Thanks for the repo, makes my life easier! :)

[2016-05-17 16:53] bajtos commented on #2118
The proposal we are going to implement:

If we look at the swagger file generated by `apic loopback` (and friends), i.e. `definitions/{name}.yaml`, we can see that it contains many custom configuration specified via `x-ibm-*` extensions. The goal is to allow LoopBack applications to specify this extra metadata together with regular app/model/datasource configuration in such way that loopback-swagg

[2016-05-17 16:59] superkhau commented on #2292
*Status update*

@jannyHou is working on this and will hopefully have a fix for you guys soon.

[2016-05-17 18:09] stevegaossou commented on #1870
I'm getting this exact issue as well. I'm using the Postgres connector and I am using BIGINT IDs.

My problem is that I am using BIGINT as the ID data type in the DB schema, but I **need** to use String, not Number, for the data type within Loopback (since JavaScript Number cannot fully represent a BIGINT).

So I have something like this in my model.json:
[code]

If I switch to Number, the problem

[2016-05-17 18:35] superkhau commented on #2343
Can you provide a sample for us to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-05-17 18:48] 0candy commented on #2263
Thank you for the sample repo. I am able to reproduce the issue. I am labelling this as a bug. In case you're interested, feel free to contribute a PR. :)

[2016-05-17 18:52] gunjpan commented on #2347
@JoeShi : Hey Joe, I cloned your repo and tried to reproduce the issue. I couldn't reach the error you were reporting. `strong-pm` seems to be working fine for me and was able to launch the app fine on my local machine.
Can you share the steps to reproduce the error you're getting? or any specific event where the error gets triggered.

[2016-05-17 19:14] gunjpan commented on #1565
@jamesjjk : closing this due to inactivity. If you are still facing this issue, feel free to reopen it and mention my name in the comments, will be happy to assist. Thank you & have a great day!

[2016-05-17 19:14] #1565 closed

[2016-05-17 20:29] lius commented on #2001
@bajtos, the links are returning 404.

[2016-05-18 01:07] JoeShi commented on #2347
Hey @gunjpan, I am also trying to reproduce the error, but never get reproduced when I develop on my machine. It happens occasionally on the strong-pm server, I did not find any steps of reproducing it even after deploy it.

But it do exists in the log file when I `log-dump` the service. I am very curious about what is `GET /{}`.

[2016-05-18 08:03] PaddyMann commented on #2346
A related but separate question...

Having read a load of issues on this:

- One level of nesting has great support. So I can call the following with no problem:
- Two levels of nesting requires nestRemoting. This works in a fundamentally different way to one level of nesting and provides limited functionality:
  - find works
  - count does not
  - It does not update the Swagger page (so anyone us

[2016-05-18 08:28] bajtos commented on #2209
https://docs.strongloop.com/display/APIC/Remote+methods#Remotemethods-Argumentdescriptions
-> added a note about "file" type

https://docs.strongloop.com/display/APIC/Remote+methods#Remotemethods-Returningafile(stream)response
-> created a new level4 section describing how to return files

@crandmck please take a look and make whatever edits you find appropriate.

[2016-05-18 08:41] bajtos opened #2350 "Remote methods defined in model JSON file are not inherited"
1. `yo loopback` to create a new app
2. `yo loopback:model` to create a model
3. `yo loopback:remote-method` to create a remote method, fill in some simple implementation
4. `yo loopback:model` to create another model inheriting from the model created in step 2
5. `node .` to run the app
6. Open the explorer http://127.0.0.1:3000/explorer/
7. The model created in step 2 has a custom remote method,

[2016-05-18 08:42] bajtos commented on #2332
@davidcheung I think your description is good.

There is one caveat of `MyModel.setup()` - it works well for changes made from code, but it doesn't work for settings defined in JSON files, for example ACLs (see https://github.com/strongloop/loopback/issues/2270) and remote methods (https://github.com/strongloop/loopback/issues/2350). I think the documentation should mention these limitations.

[2016-05-18 08:44] bajtos commented on #550
See also https://github.com/strongloop/loopback/issues/1485#issuecomment-218292069

[2016-05-18 09:13] upupzealot opened #2351 "update relation after add?"
I have a model named User which has thousands of instances there.
Now I add a new hasOne relation to it, hope that each of them would have an "account".
And it works for new created users.
But how can I create accounts for the existed users?

[2016-05-18 11:25] bajtos commented on #2242
@cgole ^^^

[2016-05-18 12:37] Overdrivr commented on #1936
Any updates ?

I can confirm that I am seeing inconsistencies for hiding methods.

For instance, in a model script
[code]
Do not hide the method. Only deleteById does work

[code]

[2016-05-18 13:56] jannyHou commented on #2242
lol, Sorry I mentioned the wrong id. Corrected.

[2016-05-18 14:10] bajtos commented on #1412
Exactly as @superkhau wrote, isomorphic/universal support is not our priority for the foreseeable future.

[2016-05-18 14:14] gunjpan commented on #2347
@sam-github : Hey Sam, could you PTAL at this issue and provide your insight. Thanks.

[2016-05-18 15:12] jannyHou commented on #2242
@ssh24
We need to force the process exit.
But the boot functions are executed async so the swagger generator would exit before we see connection error.

So we have to comment `process.exit(0)` so if this feature has any bug, it's observable.

[2016-05-18 16:22] gunjpan commented on #2347
@JoeShi : this could be a route generated/accessed by angular?! try re-generating `lb-services.js`.
I'll close this issue now as we're unable to reproduce it. Please feel free to reopen if you're able to reproduce it and mention me, will be happy to help. Thank you :)

[2016-05-18 16:22] #2347 closed

[2016-05-18 18:40] stevegaossou opened #2352 "Loopback standard model REST endpoints automatically round BIGINT params"
#### Summary
This one is causing me a lot of pain.

After a lot of debugging it looks like Loopback is automatically assuming an ID value on the URI (e.g. `/api/myModel/:id`) is a Number.

So something like this:
`curl -X GET --header "Accept: application/json" "http://192.168.99.100:3000/api/profiles/5828128208445124611"`

Does not work because Loopback is automatically converting the BIGINT valu

[2016-05-18 19:07] gunjpan commented on #2351
@upupzealot: Hi, adding a relation establishes a connection between two models by means of a foreign key. and to update the data, you can take the following approach:
- use [`include`](https://docs.strongloop.com/display/APIC/Include+filter) filter to query a related model and identify the instances with no accounts.
- for each of those accounts, you can create new account instances using [`create

[2016-05-18 20:01] crandmck commented on #2209
@bajtos Your changes look fine, but I'd like to provide a reference link for Buffer and ReadableStream.
Would the best link for Buffer be https://nodejs.org/api/buffer.html  ?
And for ReadableStream https://nodejs.org/api/stream.html#stream_class_stream_readable ?

[2016-05-18 22:11] RDudani commented on #517
:+1:

[2016-05-18 22:55] stevegaossou commented on #2352
Looks like this is the same issue as https://github.com/strongloop/loopback/issues/1870 which is supposed to be fixed by https://github.com/strongloop/loopback/pull/1221.

[2016-05-19 03:12] upupzealot commented on #2351
@gunjpan Thanks for replying. So after all I have to do that manually?
I thought there may be some auto way there.

[2016-05-19 04:26] dongmai opened #2353 "How to modify api description for automatically generated apis on loopback api explorer."
Hi,

Firstly, Thanks you all for a fantastic open-source.

I've a question that how to modify apis description for automatically generated apis on loopback api explorer.  For example I have an api to create friends (POST /friends/ ) and I want to add some additional description for how to use this api, what are acceptable params, etc ....

Can someone please provide a solution for this ?
Many than

[2016-05-19 10:30] teropes commented on #517
+1

[2016-05-19 13:33] richardpringle commented on #2346
Hey @PaddyMann, I'm not quite sure why this doesn't work. We will have to dig a little further into the issue.

[2016-05-19 14:08] laurentdesmet opened #2354 "Configuration using only config.local.js without config.json"
Currently, it is not possible to setup the main configuration using only `config.local.js` without a `config.json` file. Because some parts of the configuration are dynamically set in my case, I need to use `config.local.js` anyway. So it would be nice if I can put the complete configuration here, because now it is divided in two places: `config.json` and `config.local.json`.

The same remark is v

[2016-05-19 14:34] shakeelmogify opened #2355 "`inq` / `like` queries do not work on mongodb on some environments"
In the following code snippet i am fetching all records from Installation of multiple userIds using inq operator of loopback. Code is working fine on local server but not on Heroku, it is returning empty result while record is available in collection.

[code]

I am unable to find out what i am doing wrond .. Please help me out. Thank you

[2016-05-19 16:32] jonathanwoahn commented on #1137
+1

[2016-05-19 18:09] davidcheung commented on #2346
here is a possible workaround for this issue https://github.com/strongloop/loopback/issues/1859#issuecomment-163037446
related https://github.com/strongloop/loopback/issues/1865, https://github.com/strongloop/loopback/issues/1866

[2016-05-19 20:42] richardpringle commented on #2346
The above workaround is not ideal...

[2016-05-19 22:07] shaharz opened #2356 "Token middleware user literal replacement fails when user ID is 0"
Happened to run into this edge case. The culprit is this if statement, obvious in hindsight: https://github.com/strongloop/loopback/blob/6964914bab64496c789c434fec39d2914231ee23/server/middleware/token.js#L24

Happy to send a PR if you need a hand.

P.S. I noticed another issue with ID == 0 where an include filter fails (doesn't show relations) but haven't had time to look into it yet.

[2016-05-20 01:07] juanpujol commented on #1321
👍

[2016-05-20 02:55] sm-g commented on #2089
What about sqlite3? Any other way to set `foreign keys=true` in connection steing?

[2016-05-20 04:01] zbarbuto commented on #1275
+1

[2016-05-20 04:30] zbarbuto commented on #1610
I am experiencing the original issue described but only in nested promises:
[code]

output:
[code]

As mentioned, if I look in the data store or do a query, both models `1` and `2` were created, it's just the second create did not return a promise, only the original array.

Tried with both in memory and PostgreSQL data sources.

[2016-05-20 08:32] dongmai opened #2357 "I cannot get where like filter working."
Hi,

This is my code

Event.find({where : {owner_id: {like : '%573c299bbadc76612c61a469%'}} } ,
function (err, items) {
                console.log(items);
});

An event document in database:

  "_id": ObjectId("573ec19bf4b7658720c2fe65"),
  "action_id": ObjectId("573df5620318e27b0fe3c989"),
  "friend_ids": [
    "573e94170dc277150ca28258"
  ],
  "string_friend_ids": "573e94170dc277150ca28258",

[2016-05-20 09:22] PaddyMann commented on #2346
Thanks @richardpringle , @davidcheung

I'm not sure if the above workaround would work here.

For example, if I was to add a remote route to `Workspace` with the path `/workspaces/:workspaceId/projects/:projectId/sections/:sectionId/questions`, then I'd have write a custom function that gets questions that meets the other criteria.

This would work if it was an issue I was only facing in one place

[2016-05-20 09:23] pkgulati opened #2358 "If we run boot process in a context, getCurrentContext fails some times when connector is still connecting to mongodb"
We have tried both approach calling boot in runInContext as well as calling some individual boot scripts in runInContext.
Why we are using getCurrentContext in boot?
Actually we have some logic in 'before save" mixins which works on context, we are basically trying to load some data in boot script for different context.

[2016-05-20 09:27] shakeelmogify opened #2359 "Strongloop/Loopback "inq" operator is not working on Heroku server"
If i run following without inq operator

`/api/Installations?filter[where][userId]=572d7995a80e6d0300b3f812
`
the result is as follows

[code]

But now if i run same query with inq operator as following

`/api/Installations?filter={"where": {"userId": {"inq": ["572d7995a80e6d0300b3f812"]}}}`

it gives me empty result without any error. I have waste many hours but unable to find what could be the r

[2016-05-20 09:45] ejaigom commented on #1321
+1

[2016-05-20 09:51] paranoiasystem commented on #2292
I have same error. I'm using ArchLinux, kernel: 4.5.4-1, node version: v4.4.4, npm version: 3.9.0.
I have test with node 6.0 and i receive same error, but not receive this error on OSX El Capitan node version: 4.4..3 and npm version: 2.15.1

[2016-05-20 10:57] hristo-vrigazov commented on #2292
I also have the same problem on Ubuntu 15.04 with Node v5.9.0, npm 3.7.3
How to manually add a relation?

[2016-05-20 13:10] kajanth commented on #2292
I also have the same issue on OSX EL Capitan node V4.4.4.

[2016-05-20 13:13] kajanth commented on #2292
You can define the relationship like so on the model.json file

"relations": {
    "reviews": {
      "type": "hasMany",
      "model": "Review",
      "foreignKey": ""
    },
    "reviewers": {
      "type": "hasMany",
      "model": "Reviewer",
      "foreignKey": ""
    }
  },

Please refer to the article
https://docs.strongloop.com/display/public/LB/Define+model+relations

[2016-05-20 13:36] bajtos commented on #2209
Would the best link for Buffer be https://nodejs.org/api/buffer.html ?
And for ReadableStream https://nodejs.org/api/stream.html#stream_class_stream_readable ?

@crandmck sounds good, the two links looks good to me.

[2016-05-20 13:47] nelsonkd commented on #2292
@kajanth that is a temporary work around that works, Thank You. Note that the model.json file is actually item.json for the example being using.

See:
- [Video Tutorial](http://www.ibm.com/developerworks/websphere/library/techarticles/1605_baker-trs/1605_baker.html)
- [APIC PoT Lab](https://github.com/ibm-apiconnect/pot-onprem-core/tree/master/lab-files/lab6/complete/inventory)

We really could us

[2016-05-20 14:11] bajtos commented on #2001
@lius I am afraid those follow up stories are in a private repository, that's why you are seeing 404 :( Is there any specific question you have about multi-tenancy?

/cc @superkhau @raymondfeng

[2016-05-20 15:28] gunjpan commented on #2351
@upupzealot :

yes, I believe so.
As you're adding the relation after already having Instances, by your design, it seems you want to set a generic/same account for each user w/o any account. In that case, you can iterate over the the instances - with no accounts - and set their accounts and this will be a one-time thing.

Hope that answers your question, please let me know if this is good to close

[2016-05-20 15:46] #2351 closed

[2016-05-20 15:56] gunjpan commented on #2353
@dongmai: To begin with: Is your endpoint `POST /friends/` generated by a [`remoteMethod`](https://docs.strongloop.com/display/public/LB/Remote+methods#Remotemethods-Howtodefinearemotemethod), if yes, you can easily provide the description while registering your method as follows:

[code]

[2016-05-20 18:04] jannyHou commented on #2292
https://github.com/strongloop/generator-loopback/pull/187 landed. Please verify it:

1. In a loopback app, run `slc relation` to create a relation, make sure it exits successfully and the new relationship entry is created into `commom/models/model_name.json`
2. In a apic app, run `apic loopback:relation` and verify the same thing as step 1.

[2016-05-20 19:10] jannyHou commented on #1275
@pantaluna Let's move our discussion here:
@bajtos suggests to use `Promise.all()` in https://github.com/strongloop/loopback/issues/2164#issuecomment-215645590
but when I run it I get this error:
[code]

The whole sample script:
[code]

I will take a look then.

[2016-05-20 19:46] jannyHou commented on #1275
@pantaluna I get `Promise.all()` work in a very tedious way:
[code]

[2016-05-20 20:50] pantaluna commented on #1275
@jannyHou Nice. But the actions are not executed "in parallel" in your example (I think - note I'm not an expert on Bluebird).

The Bluebird .mapSeries(), which I'm currently using in my project, is more compact and also works fine as shown in my sandbox project:
[code]

It still does not explain the original issue.

[2016-05-20 21:04] crandmck commented on #2209
OK, added those links.  I think we can close this now.

[2016-05-20 21:04] #2209 closed

[2016-05-21 04:32] dongmai commented on #2353
@gunjpan , Thank for the reply.

But `POST /friends/` endpoint is auto-generated when I create `friend` model.

[2016-05-21 10:23] josephlaw opened #2361 "loopback logout fail if ttl >= -1"
"node_modules/loopback/common/models/access-token.js"

      assert(this.ttl !== 0, 'token.ttl must be not be 0');
      assert(this.ttl, 'token.ttl must exist');
      assert(this.ttl >= -1, 'token.ttl must be >= -1');

      var now = Date.now();
      var created = this.created.getTime();
      var elapsedSeconds = (now - created) / 1000;
      var secondsToLive = this.ttl;
      var isValid =

[2016-05-22 07:13] laurentdesmet commented on #531
+1

[2016-05-22 07:46] devotox commented on #2342
1. I created a model called user that extended the Base User class
2. created the database table to match the model
3. tried to update the user using the auth token that is specified to that user.
4. Get that error

[2016-05-22 08:14] JoeShi opened #2362 "How to query objects with property contains a value in loopback"
I have a model `event` which referenceMany `user` model.
[code]
How can I query event which attendees property contain a given value? attendees is an array containing userId.

For example:
[code]

[2016-05-22 14:28] charlie-s commented on #591
@nivincp Seems to me that the only way to customize the name is to redefine the model. Hoping for another method.

[2016-05-22 15:29] gendigbadig opened #2363 "How to query instance with "inq" and order by "inq"?"
Hello,

I have code like this :
[code]

My expected results is the array of results are have same order like "inq". But the results order always following "id" order. Is there any way to get same results order with inq order?

Thanks. Sorry for my bad english

[2016-05-22 16:11] thaiat commented on #1455
+1

[2016-05-22 21:53] barocsi commented on #690
Can someone clarify this?
Its not clear in the docs how to do this properly. Do we even need to overwrite it in the middleware to have JSON limit increased? For me it throws 413 when trying to upload a large payload in JSON.

[2016-05-23 12:10] tmikulcek opened #2364 "destroyAll does not respect normalizeUndefinedInQuery"
This bit us today. An undefined value got into the where clause of destroyAll and caused a delete of all items. We tried using normalizeUndefinedInQuery option as per https://github.com/strongloop/loopback/issues/637 but it only works in find queries.

Sample repo: https://github.com/tmikulcek/loopback-sandbox
Run the test with mocha

[2016-05-23 12:29] FranckVE commented on #651
I had the same problem.

My first solution was to manually update the `"public":true` items in `server/model-configuration.json` but it was overridden anytime I used the Swagger tool to refresh the LoopBack API (with `slc loopback:swagger myswaggerfilename` command from the project root).

I finally wrote a Grunt task as a reliable workaround.

- Run it just after a `slc loopback:swagger` generati

[2016-05-23 13:37] drdeath2609 commented on #1275
+1

[2016-05-23 13:38] MemoryChips commented on #2292
I attempted to reinstall strong loop to get this fix. It did not work. How do I get the fix for this issue?

[2016-05-23 13:42] jmereaux opened #2365 "model attachTo"

[2016-05-23 13:42] #2365 closed

[2016-05-23 14:46] mitsos1os opened #2366 "$owner Dynamic Role should be applied to `find` filter"
$owner as a dynamic role, gets triggered by instance methods that have the :id route parameter.
I believe that this should also happen in static methods in a similar way.

For example, let's say I have User and Post model. And they are connected through a **User hasMany Posts** and **Posts belongTo User** relationships through foreign key **userId** in Post model.

When requesting /find on Posts a

[2016-05-23 14:49] bajtos commented on #2339
@Morriz thank you for the long comment, I think I am starting to understand what you are asking for.

Before I respond to your comment, I am kindly asking you to refrain from making comments about personalities of people involved here and keep the discussion focused on the issues/features.

Few quotes showing what I mean:

---

In general, you don't have to use loopback-boot and it's conventions i

[2016-05-23 16:25] peeter-tomberg opened #2367 "How do I add a custom filter to my models find remote function?"
I'm using the built in REST API to query my model.
I wish to add a custom filter named "specialFilter" that will perform a complex SQL query based on the value provided. For example:

[code]

My method should be invoked before the SQL query is sent to the database and I should be able to change the query to fit my needs.

Couldn't find anything about this on the internet, so any help is appriciate

[2016-05-23 16:32] Morriz commented on #2339
Wow, tnx for the grand reply!
And sry for my lack of netiquette, still working on it :|

I was under the assumption that it wasnt possible to load the models properly and configured with a backend in a synchronous fashion, but I had a breakthrough splitting up the code and now have it working as intended. I will add it to the demo-api loopback stack I published asap.

Might very well be the best t

[2016-05-23 16:43] raymondfeng commented on #2367
Have you tried https://docs.strongloop.com/display/APIC/Remote+hooks <https://docs.strongloop.com/display/APIC/Remote+hooks>?

[2016-05-23 17:20] peeter-tomberg commented on #2367
I cant figure out how to modify the query though

[2016-05-24 01:03] adanielyan opened #2369 "Can't add model with name Model"
I'm trying to add a new model named ```Model```, but when I start the app I get an error

```AssertionError: User must be a descendant of loopback.Model```

User just happened to be the first in models declaration in model-config.json.

If I rename the model ```Model``` to something else everything works fine. Is it a bug?

[2016-05-24 04:42] Ashwanirai commented on #2292
Same Issue I am also facing...any solution..?

ashwani@ashwani:~/workspacenode/api$ slc loopback:relation
? Select the model to create the relationship from: user
? Relation type: has many
? Choose a model to create a relationship with: Order
? Enter the property name for the relation: (orders)

/opt/node-v4.4.3-linux-x64/lib/node_modules/strongloop/node_modules/generator-loopback/node_modules/yeo

[2016-05-24 06:38] Amastyer commented on #2369
Naming conflicts, loopback/common/models under the model already exists

[2016-05-24 06:44] Amastyer commented on #2362
for example:

[code]

[2016-05-24 07:08] JoeShi commented on #2362
Thank you @Amastyer, Follow your example and [docs](https://docs.strongloop.com/display/public/LB/Include+filter). Still very confused.

[code]

I have tried the above, however, the `attendeesIds` is not defined any where. So I think mine is wrong, please correct me.

[2016-05-24 07:29] bajtos commented on #2041
I think we will need to implement this soon for the integration @chayab is working on.

[2016-05-24 07:41] peeter-tomberg commented on #2367
I've updated my post with a more detailed question.

[2016-05-24 07:56] bajtos opened #2370 "Configure modelBuilder via JSON file"
Recently, I am encountering places where we would like to add configuration to `modelBuilder` instances.
- Make strict option default to true for anonymous models: https://github.com/strongloop/loopback-datasource-juggler/issues/923 and more specifically the pull request https://github.com/strongloop/loopback-datasource-juggler/pull/940
- Configure Max Listeners at runtime https://github.com/stron

[2016-05-24 08:41] SandeshSarfare commented on #1641
How do I change swaggerVersion to 2.0? And is the support ready for the same?

[2016-05-24 11:45] bajtos commented on #1361
I am afraid we don't have bandwidth to implement this feature in v3.0, removing from the milestone.

[2016-05-24 11:46] bajtos commented on #1990
I am afraid we don't have bandwidth to finish this in v3.0, I am removing it from the milestone.

[2016-05-24 11:48] bajtos commented on #1249
@BerkeleyTrue I am afraid we don't have enough bandwidth to implement this change in v3.0. Would you like to contribute it yourself?

[2016-05-24 11:54] bajtos commented on #1224
Closing in favour of https://github.com/issues?utf8=✓&q=is%3Aopen+milestone%3A"%23Epic%3A+Compat+Flags+Cleanup"

[2016-05-24 11:54] #1224 closed

[2016-05-24 11:57] bajtos commented on #702
/cc @davidcheung you were investigating model inheritance recently. I think the conclusion was that we should prefer users to put stuff-to-be-inherited in the `setup()` method instead of auto(magic) inheritance. What do you think about this particular use case?

[2016-05-24 12:08] bajtos opened #2371 "Release LoopBack 3.0 RC"
-  [x]  First of all, we need to change version numbers from 3.0.0-alpha.X to 3.0.0, and publish new versions of the packages - see https://github.com/strongloop-internal/scrum-loopback/issues/1062
- [x] Then we need to update downstream projects to use 3.0.0 instead of 2.x or 3.0-alpha. loopback-workspace should use `^3.0.0` instead of `^3.0.0-alpha.X` when scaffolding new projects - see https://

[2016-05-24 12:47] casamia918 opened #2372 "Custom middleware phase bug"
https://docs.strongloop.com/display/public/LB/Defining+middleware

Loopback support 2 ways of defining middleware. One is defining in middleware.json, and other one is using JS code in the server script.

The bug is simple. Custom phase is working at middleware.json but not working at JS code. (e.g. server.js)

I wrote my custom middleware named 'logger'

[code]

And I created my custom middleware

[2016-05-24 13:44] davidcheung commented on #702
@bajtos yeah that was the conclusion ([more info](https://github.com/strongloop/loopback/issues/1485#issuecomment-218292069))
 I was testing it the other day and couldn't reach my use case, I think the very last child will need to recursively call their parents constructor, but from the **base -> child** direction, but that [isnt the behavior](https://github.com/strongloop/loopback-datasource-jugg

[2016-05-24 13:48] davidcheung commented on #2292
@MemoryChips , @ashishtilara yes I believe this is not published to npm yet, it is only on CI, once its verified we will be able to push it live, in the mean while you would still have to use the workarounds listed above.

[2016-05-24 13:49] davidcheung commented on #2292
/cc @cgole

[2016-05-24 15:16] bajtos commented on #2371
We need to give at least a weeks, preferably two weeks notice to @crandmck so that he can get the documentation updated in time.

[2016-05-24 15:42] Amir-61 commented on #2275
This is some sort of `enhancement`; but since there is no `enhancement` label available in this repo, I decided to choose `feature` label. Thanks for reporting this...

[2016-05-24 16:04] laven26 commented on #2292
[code]

[code]
[code]

[code]

[code]

[2016-05-24 16:20] crandmck opened #2373 "Create documentation for LoopBack v3"
Per #2371, when LB 3.0 is released we need to create a docs for it.  General procedure in Confluence:
1. Clone existing LoopBack (2.x) docs into new space.
2. Retitle existing docs for 2.x and make new space the current LB space.
3. Replace or add these pages in the (new) 3.x space as appropriate http://loopback.io/doc/en/lb3/

[2016-05-24 16:29] ritch commented on #2370
If its just these two settings... why don't we add them to the server config? I don't want to put any (more) references to `ModelBuilder` in the public LB api.

[2016-05-24 17:17] jannyHou commented on #2292
@laven26 thanks. I will close it after it's published

[2016-05-24 17:39] davidcheung commented on #2354
Hi @laurentdesmet, this sounds like a valid use case, to clarify exactly the problem is

would the following describe your scenario?
Currently `config.local.json` must be present for `config.local.js` to work? but there is no `config.js` for `config.json`

related https://github.com/strongloop/loopback-boot/issues/101#issuecomment-153196601, https://github.com/strongloop/loopback-boot/pull/181, ht

[2016-05-24 17:48] davidcheung commented on #2355
Hi @shakeelmogify, if your result comes back with http `200` probably, I would guess there is no problem with the code snippet above, but maybe something with your configurations (such as `datasources.json`)

Would you be able to show us the configuration you are using, would be best using the loopback-sandbox, [See link on how to setup sandbox](https://github.com/strongloop/loopback/wiki/Reportin

[2016-05-24 18:28] davidcheung commented on #2356
@shaharz I believe this is not a one-off scenario but a general loopback behavior. In order to keep behaviors consistent, I feel the support for `id==0` might be quite a large scope, if the decision is to support `Boolean(id) == false` I think it will need to be done across the board for all ID instances

/cc @strongloop/loopback-dev any thoughts?

For example: [model](https://github.com/strongloo

[2016-05-24 18:33] shakeelmogify commented on #2355
Hi @davidcheung, yes i am getting http 200 but empty result. Please check this one `http://fathomless-forest-55851.herokuapp.com/api/Installations?filter={"where": {"userId": {"inq": ["572d7995a80e6d0300b3f812"]}}}` using postman.

I have set **NODE_ENV = test** and data sources are as follows

**datasource.json**
[code]
`datasource.test.json`

[code]
**datasource.local.json**

[code]

[2016-05-24 18:49] davidcheung commented on #2357
@dongmai does the code work with something other than the `like` filter?

might be due to this https://github.com/strongloop/loopback-connector-mongodb/blob/7c717e4446f08210dec628295049835f9206a977/lib/mongodb.js#L659-L674

or a known issue https://github.com/strongloop/loopback/issues/274

[2016-05-24 18:57] gunjpan commented on #2372
@casamia918: In your `server.js`, you're trying to add the `logger` middleware [`before boot`](https://docs.strongloop.com/display/public/LB/Upgrading+applications+to+use+phases#Upgradingapplicationstousephases-Middlewareaddedbeforeboot) and as the application is not yet initialized by [`boot( )`](https://docs.strongloop.com/display/APIC/Defining+boot+scripts#Definingbootscripts-Overview), the cus

[2016-05-24 18:57] #2372 closed

[2016-05-24 19:07] davidcheung commented on #2355
@shakeelmogify if this is your production please make sure you change ure passwords afterwards :p
the following both works, hmm so you were right it is something to do with the query,

as well as

[2016-05-24 19:09] jannyHou commented on #2356
I agree with

And btw, now when we open `Explorer` and try `POST/ MyModels`, the default value is `id = 0`, this kinds of hints users that we support `id = 0`, which is not expected.

[2016-05-24 19:20] gunjpan commented on #2353
@bajtos : Hi Miroslav, could you PTAL and advise how we can change the `description` for our built-in model methods. Thanks.

[2016-05-24 19:24] davidcheung commented on #2355
this sounds like it could be related to https://github.com/strongloop/loopback/issues/274#issuecomment-183080844
@shakeelmogify you mentioned it works on your local, can you see if your local is using
[code]

[2016-05-24 19:43] gunjpan commented on #2362
@JoeShi : Does following work for you:

[code]

[2016-05-24 19:59] lsroman commented on #1825
@EmileSpecs Hi. You solved problem 6 connections?

[2016-05-24 20:55] davidcheung commented on #2356
Upon discussion with @raymondfeng, he agrees that we should fix it, would you mind submitting a patch? that would be great!
I will create a separate issue attempting to track all the other places in LoopBack that has that behavior.

[2016-05-24 20:56] davidcheung opened #2374 "To replace `if(id)` behaviors across loopback"
convert `if(id)` behaviors to `id != null`

as @shaharz suggested, when using if(id) if the `id` value is **0** it will cause the operation to fail
related https://github.com/strongloop/loopback/issues/2356
- [ ] [model.js](https://github.com/strongloop/loopback/blob/70cec0755acc2b670987675c3bc63ecbfe9b473f/lib/model.js#L163)
- [ ] [access-context](https://github.com/strongloop/loopback/blob/69649

[2016-05-24 22:57] ashishtilara commented on #2292
Thank you @davidcheung

[2016-05-24 23:41] gunjpan commented on #2369
@adanielyan : that's happening due to naming conflicts as LoopBack application has a built-in model named `Model`.

[2016-05-25 01:54] jimmylimm commented on #803
The docs should really be updated to reflect this. Just spent at least 2 hours trying to figure out what was wrong with my model. Please update the loopback docs. Thanks @fabien @superkhau

[2016-05-25 03:52] av-k commented on #251
For example you can use context for temp data.

`  User.beforeRemote('create' , function(ctx, user, next) {
    var context = User.app.loopback.getCurrentContext();

    if (context) {
      context.set('currentPassword', ctx.req.body.password);
    }

    next();
  });`

And after validate it:
`  User.validateAsync('password', function (err, done) {
    var context = User.app.loopback.getCurrentC

[2016-05-25 05:19] rwngallego commented on #2265
I'm having this same issue

[2016-05-25 06:34] upupzealot commented on #2185
same problem,
modelName.beforeRemote( create, function( ctx, instance, next) {
 ...
 next();
});

[2016-05-25 07:32] peeter-tomberg commented on #2367
@raymondfeng Any thoughts?

[2016-05-25 08:04] bajtos commented on #2292
Published as `generator-loopback@1.20.7`

[2016-05-25 09:24] mitsos1os opened #2376 "nestRemoting not persisting data with embedsOne relationship"
Let's say we have the following models in our app:
1. A User has (embedsOne) Configuration model
2. Configuration model has (embedsMany) settings Model

If I enable nestRemoting in the User model for configuration relation I am able to query endpoints as expected for settings
ex:
`/api/users/1/configuration/settings`

GET, POST correctly return the results, but the problem is that POST although it

[2016-05-25 12:42] mitsos1os commented on #1629
@ekussberg @loay @bajtos I too believe that if someone is posting on the specific embeded model endpoint, a PUT should **only** update the attributes mentioned and not the whole embedded model.
ex:
Given this model:
[code]
and issuing a `PUT /api/Test/setting` with body of `{"two":200}` should only update the property **two** of the setting embedded model, leaving the rest intact:
[code]

Besides

[2016-05-25 13:13] ekussberg commented on #1629
@mitsos1os yes you pointed in clear way! It should be possible to update specific attributes of embedded/relation models.

[2016-05-25 13:46] mitsos1os commented on #1629
@ekussberg Thanks! I just hope that a solution is provided soon so that we can use all this good stuff!

[2016-05-25 13:56] codeyad commented on #2265
@rwngallego it looks like in the latest version something was changed cause i did several time in the past with previous versions.

[2016-05-25 14:08] liongoncalves commented on #2292
how can i download that version? sorry to bother....

[2016-05-25 14:10] shakeelmogify commented on #2355
@davidcheung, i tried all above solution provided above but still facing same issue for **userId** field. Strange it is working for **appId** field. Please check following

`http://fathomless-forest-55851.herokuapp.com/api/Installations?filter={"where": {"appId": {"inq": ["meetup","meetoo"]}}}
`
`Response of above resource`

[code]
Tried a many tricks and hacks but unable to resolve this issue.

[2016-05-25 14:36] bajtos commented on #2369
Ideally, LoopBack should throw a helpful error when the users tries to redefine an existing model. See https://github.com/strongloop/loopback-datasource-juggler/issues/185

OTOH, we may need some way how to redefine existing models to customize them, see the discussion in https://github.com/strongloop/loopback/issues/397.

[2016-05-25 14:40] gunjpan commented on #2369
@adanielyan: Please rename your model to something different than existing model and it should work.
For the progress re. a way to redefine existing models, please see the comment above.

Closing this for now. Should you need any further assistance with this issue, feel free to reopen and tag my name, will be happy to assist. Thank you.

[2016-05-25 14:40] #2369 closed

[2016-05-25 14:42] adanielyan commented on #2369
Thank you for replies. So does it mean there is no way to have a model named ```Model```? I am building a db of cars, and name Model is the only meaningful name for storing car models. I can of course prefix it with something, but then I'll have to do it for all models for consistency.

[2016-05-25 14:43] adanielyan commented on #2369
@gunjpan just saw your comment. Will take a look.

[2016-05-25 15:03] gunjpan commented on #2353
@dongmai: To modify description of `Friend` model-methods, you can do following in your `Friend.js` file:
[code]

This will change the description and you can verify it in LB explorer.
You can see which method is connected to what end-point: [Predefined remote methods](https://docs.strongloop.com/display/public/LB/Exposing+models+over+REST#ExposingmodelsoverREST-Predefinedremotemethods).

Closing

[2016-05-25 15:03] #2353 closed

[2016-05-25 15:04] mitsos1os commented on #2376
Actually I have found the cause for this and it is in loopback-datasource-juggler.
The problem is that the embedsOne relation does not monkey patch the .trigger function as the EmbedsMany do [here](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L2854) and [here](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-defi

[2016-05-25 15:46] davidcheung commented on #2355
yeah definitely a bug, it even works with a direct query, just not with the `inq` filter
where
- this works: `http://fathomless-forest-55851.herokuapp.com/api/Installations?filter={"where": {"userId": "572d7995a80e6d0300b3f812"}}`
- this doesnt:  `http://fathomless-forest-55851.herokuapp.com/api/Installations?filter={%22where%22:%20{%22userId%22:%20{%22inq%22:%20[%22572d7995a80e6d0300b3f812%22]}}}

[2016-05-25 16:54] 0candy commented on #2376
I am closing this one as you already opened the issue in datasource-juggler.

[2016-05-25 16:54] #2376 closed

[2016-05-25 18:01] rmg commented on #2356
**Heads up in case it hasn't occurred to anyone yet...**

Relational databases generally avoid using 0 as a primary key. MySQL requires changing the server mode, sqlite3 just doesn't allow it, in Postgres and SQL Server you have to override the default when you define the table/column. I'd be surprised if fixing this in loopback is the end of someone's problems if they are using multiple data sour

[2016-05-25 18:05] Amir-61 commented on #2355
or any workarounds?

Not sure if https://github.com/strongloop/loopback/issues/1874 is related or not. Maybe @superkhau has any thought on this. But it seems a valid bug to me too.

[2016-05-25 18:20] shaharz commented on #2356
PostgreSQL allows id 0 - granted, I happened to encounter the issue due to automated testing (which generated & inserted that id) so it's not something that would normally happen.

Deciding to not support id 0 sounds completely reasonable to me, however in that case I'd expect Loopback to assert() on that, and at the very least it should be mentioned in the docs.

[2016-05-25 19:11] codyolsen commented on #1137
Please note that the workaround above by @raymondfeng will remove all validations from the user model for email, including uniqueness, presence, format, and any additional validations defined in `common/models/user.js`.

Assuming that `user` inherits from built-in `User`, instead of deleting the validations in `server/boot/user.js`, delete the validations in `common/models/user.js` first and then

[2016-05-25 19:33] crandmck commented on #2185
@richardpringle Sorry I guess I missed this somehow initially.  I changed the wording in https://docs.strongloop.com/display/APIC/Remote+hooks#Remotehooks-Signature
PTAL.

[2016-05-25 19:50] richardpringle commented on #2185
LGTM

[2016-05-25 19:50] #2185 closed

[2016-05-25 20:45] hristo-vrigazov opened #2377 "Loopback user super model ACL won't work"
Ways to reproduce the problem:
1. Create empty loopback application (not api-server)
2. Add in memory data source
3. Add new model "person", whose base model is "user"
4. Add new ACL rule to deny all methods of person

After these steps, I expect for example
GET /people/
or any other endpoint to answer with 401 Unauthorized.
However, the response is 200 and an array of people.

I think this is eit

[2016-05-25 22:12] shalkam opened #2378 "nestRemoting a remote method ?"
Hi,
I'd like to know if there is a way to do the nestRemoting on a model's remote method.
I am using the paginate mixin : https://github.com/fullcube/loopback-ds-paginate-mixin for a client model

client.json

[code]

client.js

[code]

and of course the app crashed with an error

[code]

regards,
Mostafa

[2016-05-25 23:01] robcresswell commented on #2292
Are we still waiting for a new release on npm to address this? I understand its not a massive issue as we can manually write the relations, but its nice for basic models and sleepy programming.

[2016-05-26 12:29] bajtos opened #2379 "Standardized Logger compatible with APIC conventions"
LoopBack applications scaffolded via `apic loopback` should come up with pre-configured logger for HTTP request metadata (verb, path, duration, etc.).

@ritch and @kraman to provide more details.

[2016-05-26 13:32] gunjpan commented on #2222
@sbehrends : Hi, closing this issue for now due to inactivity. If you're still facing this issue and need any further assistance, please feel free to reopen it and mention my name, I'll be happy to help :)
Thank you.

[2016-05-26 13:32] #2222 closed

[2016-05-26 14:29] jannyHou commented on #2292
@robcresswell and everyone still runs into this problem:
Please reinstall generator-loopback globally from https://registry.npmjs.org/
`npm install -g generator-loopback`

[2016-05-26 14:53] gunjpan commented on #2377
@hristo-vrigazov : Hey Hristo, does your acl for `Person` model looks same as:
[code]
if not, then change it to above and it should work. FYI, that ACL entry is setup by using `ACL generator` to [**Deny access to all project REST endpoints**](https://docs.strongloop.com/display/APIC/Controlling+data+access#Controllingdataaccess-UsingtheACLgeneratortodefineaccesscontrol).

[2016-05-26 15:01] gunjpan commented on #2358
@pkgulati : Hi, I don't understand what you're trying to do. Could you please provide a sample code/repo so that I can understand well what you're trying to achieve and can help you better.

[2016-05-26 15:10] richardpringle commented on #2356
@davidcheung, what was the result of the discussion? @rmg makes some good points and I tend with the following:

Regardless of what the decision is, I think a warning should be issued in the docs somewhere. <- @crandmck

[2016-05-26 15:30] gunjpan commented on #2342
@devotox: I tried to reproduce your issue with same ACLs and couldn't reproduce it. I was able to update existing instance after logging in as that user and making an authenticated request: `PUT user/{id}` with access token.
I am unable to identify the cause without looking at the code; it'll be great if you could share your code.
Also, please let me know what database you're using.

[2016-05-26 16:30] fedebalderas opened #2380 "elemMatch doesn't work with Dates"
I'm trying to do a query over  a property which is a Date type using **elemMatch** . I've changed a little my model for this example. (sorry about my english)

My model
![screen shot 2016-05-26 at 11 13 01 am](https://cloud.githubusercontent.com/assets/5208431/15581924/19044dba-2334-11e6-92d3-ee61b9963167.png)

This query works fine:
![screen shot 2016-05-26 at 11 24 17 am](https://cloud.githubuse

[2016-05-26 16:50] saggafarsyad commented on #2343
I think I found the problem. It seems I try to replace a PersistentModel methods in my custom Soft Delete mixins

[code]

[2016-05-26 16:50] #2343 closed

[2016-05-26 17:45] hristo-vrigazov commented on #2377
This is exactly how it is in my project, but it does not behave as expected. I gave you the steps to exactly reproduce the problem.

[2016-05-26 18:00] samzhao2008 opened #2381 "polymorphic relation mysql index problem"
Using mysql as datasource, when I define polymorphic relation, and run database migration to create tables, loopback is trying to add index to discriminator. The result is always failed, because it alter the discriminator field to VARCHAR(512), and of cause, "Specified key was too long; max key length is 767 bytes" error is always thrown.

**MonthlyInvestment.json**

[code]

education-fund.json

[

[2016-05-26 18:01] gunjpan commented on #2377
@hristo-vrigazov: ohk. It would be hard to say what's happening until I can reproduce. Could you please share your code in a sample repo for me to take a look, thanks.

[2016-05-26 18:09] infinisuite opened #2382 "Incorrect Results With Count When Using "filter[where][...]" vs Just "where[...]""
I'm getting two different results when using **'filter[where][...]'** vs just using **'where[...]'** with the **count** end-point.

[code]

[2016-05-26 18:26] raymondfeng commented on #2367
@peeter-tomberg The `ctx.args` property should have the filter object and you should be able to update it.

[2016-05-26 20:53] jannyHou commented on #2292
I am closing it since it's fixed by the latest version of `generator-loopback`.
Please reinstall generator-loopback globally from https://registry.npmjs.org/ to get it work :)
`npm install -g generator-loopback`

[2016-05-26 21:04] devotox commented on #2342
Ok am using postgres database and the code is at https://github.com/DnD-Enterprises/kids-vocab

[2016-05-26 21:31] 0candy commented on #2378
nestRemoting is for querying a nested model while you're using paginate to paginate an existing model. You won't be able to query the paginate tool.

[2016-05-26 21:46] s74 commented on #531
+1

[2016-05-26 22:30] shalkam commented on #2378
what about a remote method defined according the documentation here :
https://docs.strongloop.com/display/public/LB/Remote+methods

I guess it's not supported too in loopback.

[2016-05-27 00:22] jannyHou commented on #2089
@sm-g I am not quite familiar with database sqlite3, I think @raymondfeng or @bajtos might be able to give you a quick answer of

I will look into it then.

The feature in this pr is a short-term solution. Actually we have a long-term discussion about implementing a unified NDBC interface for relational databases. I will bring "support sqlite3 connection string" into plan, and we will discuss what

[2016-05-27 02:27] casamia918 commented on #2263
I solved this problem using loopback-ds-readonly-mixin. I've enlist the private property to readonly mixin. As the 'hidden' option is working with normal, the only important issue is to block updating of private property, and this is the perfect usage case of readonly-mixin.

I'd be happy to contribute loopback code, but I'm also worried about mass up the code. So, someday I'll PR when I ready to

[2016-05-27 02:52] JoeShi commented on #2362
@gunjpan Unfortunately, it does  not work.

[2016-05-27 04:59] abdagli opened #2383 "Create link between relational models on 'before save' operational hook"
`company.json`
[code]

`company.js`

[code]

`company.createWithUser` remote method  firstly create a user, then create a company which is related with this user and a dealer company which is a company object also. When I create company with a dealerId property directly, ther is no problem, but if I want to add dealerId property with operational hooks, the `dealerId` property not inserted to objec

[2016-05-27 05:14] abdagli commented on #2383
Sorry, I have solved. The issue about `next()` callback place.

[code]

[2016-05-27 05:14] #2383 closed

[2016-05-27 07:12] tamilvendhank opened #2384 "Model Count call never returns"
Hi,

I have debugging this issue for few hours. It seems to get me any where. When creating users, I am using Model.observer to check if the user name exists or not and updating it if exists. To check I am using count method. In local machine everything works fine. But, in prod machine it doesnt work.

When I debugged using node debugger, the callback in the below code never gets called.

[code]

[2016-05-27 07:47] laurentdesmet commented on #2354
Hi

`config.local.js`works without `config.local.json`being present, but it doesn't work when `config.json`is not present. The exact scenario that I'm describing is that you can have exactly one config file, where your complete configuration is defined. You can do this now, with a `config.json` file, but this doesn't allow you to set your configuration dynamically at runtime using for example envi

[2016-05-27 09:05] geminiyellow commented on #1692
+ 1

[2016-05-27 09:57] eatjeff opened #2385 "strongloop installation failure."
I am a starter at node.js, and I have learnt to use loopback as a backend service, however, the installation fails everytime,Can somebody help?

C:\Users\Jeff\Desktop\Bootstrap Base>npm install strongloop -g
npm WARN optional dep failed, continuing modern-syslog@1.1.3

\
C:\Users\Jeff\AppData\Roaming\npm\node_modules\strongloop\node_modules\heapdump>if not defined npm_config_node_gyp (node "C:\Pro

[2016-05-27 10:37] savsharma2 opened #2386 "sql connector discovery api giving same primary table and foreign table"
http://stackoverflow.com/questions/37408747/strongloop-database-discovery-api-for-sql-server-giving-same-table-name-for-prim

[2016-05-27 13:10] bajtos commented on #2344
@jannyHou your proposal sounds reasonable 👍

[2016-05-27 14:16] bajtos commented on #2346
This looks like a limitation of the current implementation of `nestRemoting` to me, thus the `feature` label is more appropriate than `bug`.

[2016-05-27 14:57] madianas opened #2387 "Model.find() returns undefined"
In boot script, I am trying to query data from the model:

/server/boot/cron.js:
[code]
It comes out as  "undefined" in the console.
`console.log(Transaction)` comes out fine. The model is attached and it has a `find()` function. All the other functions, such as Transaction.count(), Transaction.findById() etc. return the same undefined.

I am using a loopback generated app. Is there an option some

[2016-05-27 16:01] gunjpan commented on #2387
Looking into it.

[2016-05-27 16:08] PJEstrada opened #2388 "Angular + Loopback: could not find accessToken when loging out"
I´m trying to implement a simple login on angular and loopback.

I have the login working using the following controller.

[code]
When I login I succefully get the following response:

`{"id":"IzVg5NH2l4oCOskzIFrhUoSIDcvc6Ht5sy7AHgnjutB8etx2Gb77Dz1bAdFm4HVZ","ttl":1209600,"created":"2016-05-27T15:44:26.648Z","userId":1,"user":{"name":"test","last_name":"t","phestone":55485698,"realm":null,"usernam

[2016-05-27 16:21] gunjpan commented on #2387
@madianas : Hi, it's happening because you're referring to the first argument of `find(err, res)`. The method [signature of `find()`](http://apidocs.strongloop.com/loopback/#persistedmodel-find) is:
`PersistedModel.find([filter], callback)` where callback function is called with (err, returned-instances) arguments.

Changing your boot script: `cron.js` as following should resolve the issue:
[code]

[2016-05-27 16:21] #2387 closed

[2016-05-27 16:31] madianas commented on #2387
OMG, I did not know that. Thank you so much!
I am new to this, I thought error is usually a separate function after the result function.

I will pay more attention to the docs now.

[2016-05-27 18:02] gunjpan commented on #2385
@eatjeff: Did you follow the steps to install compiler tools [here](https://docs.strongloop.com/display/SL/Installing+compiler+tools)? If not, please follow them and try to reinstall `strongloop`.

[2016-05-27 18:25] gunjpan commented on #2384
@tamilvendhank: Hi, can you provide a sample repo with surrounding code to the code-block you posted? Also, what's the difference between your local setup & production one.

OTOH,

For that, instead of using count method, why not use [`PersistedModel.exists( )`](http://apidocs.strongloop.com/loopback/#persistedmodel-exists)

[2016-05-27 19:35] SETTER2013 commented on #2292
How can I reinstall the generator-loopback

[2016-05-27 19:35] SETTER2013 commented on #2292
??

[2016-05-27 20:23] kaktus42 commented on #2292
You can't wait to get started, huh?

`npm update -g --depth 1 generator-loopback` should do the trick when you have installed `strongloop`

[2016-05-27 23:56] davidcheung commented on #2354
Hmmm I believe that's expected behavior, not sure how much benefit one would get being able to opt-out.

wouldn't you be able to overide those variables?
is you main concern the extra file that you're not using? or its the confusion it causes, or it is affecting the functionality?  Trying to see how to correctly label this issue, you could also create an issue at [loopback-boot](https://github.com

[2016-05-28 00:33] davidcheung commented on #2337
Hmmm im not too sure what would be a good way to achieve this,
you can still override all the paths

[code]
[code]

I guess another option would be something like [remoteMethod hooks](https://docs.strongloop.com/display/public/LB/Remote+hooks)

[2016-05-28 01:43] eatjeff commented on #2385
@gunjpan.thank,  I will follow this

[2016-05-28 02:55] snowyu commented on #1495
The `user.login` would crash the app for the injected new argument:

[code]

Why not attach the `remoteCtx` as session to the context of the operator hooks directly?

[code]

[2016-05-28 07:26] laurentdesmet commented on #2354
I like to have my configuration in one place, then I have only one place where I should look for it. If I need to set it dynamically anyway, then I would like to put everything in a `config.js` file. Because if you still need a `config.json`file, then I would make an empty JSON file and specify everything in `config.js`.

Spreading your configuration over multiple files leads to the problem that y

[2016-05-28 07:32] laurentdesmet commented on #2354
Actually, I just found out this issue (https://github.com/strongloop/loopback-boot/issues/190) that also would be a solution to my specific use case. Because some properties of my `config.json` are dynamically set using environment variables, such a syntax would make this possible without the need of a `config.js`file.

[2016-05-28 12:55] MemoryChips commented on #2292
I got an error when I tried the above command.
Rob

$ npm update -g --depth 1 generator-loopback
npm WARN deprecated cross-spawn-async@2.2.4: cross-spawn no longer requires a build toolchain, use it instead!
npm ERR! Linux 3.13.0-37-generic
npm ERR! argv "/home/rob/n/bin/node" "/home/rob/n/bin/npm" "update" "-g" "--depth" "1" "generator-loopback"
npm ERR! node v5.6.0
npm ERR! npm  v3.6.0

npm ERR!

[2016-05-28 13:08] kaktus42 commented on #2292
Try a reinstall of the whole strongloop package, @MemoryChips

[2016-05-28 14:05] PremKiran commented on #2285
Hi there, could you shine a little more light. Which package was wrong?

[2016-05-28 14:06] nvartolomei commented on #1995
Can this work with rest connector?

[2016-05-28 14:31] ddbaron commented on #2285
I think he means he should have installed as
```npm install -g strongloop```

[2016-05-28 14:44] PremKiran commented on #2285
Hi there,

Thanks for your reply.I have been installing as you said "npm install -g strongloop"

Alas still getting the error. Not that I think it is troublesome, however it would be nice not to have any errors.
On May 28, 2016 at 4:32:11 pm +02:00, Derek Baron <notifications@github.com> wrote:

[2016-05-28 16:45] robcresswell commented on #2292
The only difference now is that instead of an error the 'slc loopback:relation' command hangs with '[object Promise]' where previously it threw the error.

[2016-05-28 16:55] kaktus42 commented on #2292
Well.. For me it works with the new version.
So they must have done something right...

[2016-05-28 17:07] robcresswell commented on #2292
Well, it's changed, but still failing. This was on a full reinstall of the local and global packages.

npm v3.9.5
node v6.2.0

Unfortunately it working for you isn't much use to me :)

[2016-05-28 20:19] xinbenlv commented on #1692
+1

[2016-05-28 22:13] victorhqc commented on #2285
Just as @ddbaron

[code]

I got confused when I was doing it, loopback is just a part of the whole strongloop environment. Try removing global path for strongloop (and possible loopback) libraries, clear cache and try again.

[2016-05-29 03:30] eatjeff commented on #2385
@gunjpan, Thank you, follow your instruction, I have installed the strongloop succesfully.Cheers

[2016-05-29 06:23] medvar72 commented on #2292
I have the same @robcresswell  problem, the 'slc loopback:relation' command hangs with '[object Promise]'. I have OS X El Capitan , node V5.10.1 and np, 3.8.3.
This is my terminal

? Select the model to create the relationship from: dishes
? Relation type: has many
? Choose a model to create a relationship with: Comments
? Enter the property name for the relation: (comments)

Somebody have a idea

[2016-05-29 07:58] SETTER2013 commented on #2292
I got to create a relationship, only after reinstalling the global strongloop.

[2016-05-29 17:35] gunjpan commented on #2385
@eatjeff : Great! Hope you may enjoy LoopBack :)
Closing this now.

[2016-05-29 17:35] #2385 closed

[2016-05-29 23:06] jannyHou commented on #2292
@medvar72 I am using OS X EI Capitan 10.11.3, node 4.4.3, npm 2.15.1
Could you try reinstall strongloop?
And I will update to your node & npm version to see if i can reproduce that problem.

[2016-05-29 23:15] medvar72 commented on #2292
hi, @jannyHou, thanks for your response. I have reinstalled the strongloop with "npm install strongloop -g", too I did it with node and npm, and when try execute the command "slc loopback:relation" I get the same result:

? Select the model to create the relationship from: dishes
? Relation type: has many
? Choose a model to create a relationship with: Comments
? Enter the property name for the re

[2016-05-30 00:03] jannyHou commented on #2292
@medvar72 I am using the same `npm`, `node`, `generator-loopback` with you now, but relation generator works fine for me:

[code]

generator-loopback: 1.20.6
[code]

[2016-05-30 00:05] jannyHou commented on #2292
@medvar72 The problem seems like generator doesn't recognize a returned promise. Could you check if `bluebird` is installed properly in your generator-loopback?

[2016-05-30 00:38] medvar72 commented on #2292
Hi @jannyHou , here the results of the verification:
[🍺 hector@Hectors-MBP loopback-server]$ npm list bluebird -g
/usr/local/lib
├─┬ generator-loopback@1.20.7
│ └── bluebird@3.4.0
└─┬ strongloop@6.0.1
  ├─┬ generator-loopback@1.20.7
  │ └── bluebird@3.4.0
  └─┬ strong-registry@1.1.6
    └── bluebird@1.2.4

I did a fresh install of strongloop again with the command "npm install strongloop -g" and t

[2016-05-30 07:18] PremKiran commented on #2285
Hi there,
Thanks for your help guys. I finally managed to get it working. Yay!
And there was much rejoicing throughout the land.

[2016-05-30 10:26] saubhagyab commented on #1743
@sandipp I did the fix you said but after model creation none properties cam in all were undefined. Did you face the same problem?

[2016-05-30 16:47] felcerreia commented on #2292
I'm having the same problem ([object Promise]). Posting my environment to help.
Windows 10

[code]

[code]

[code]
[code]

[2016-05-30 17:11] priyavivek1 opened #2389 "Wrong error message: if a DELETE/PATCH request is made for an API which is implemented as GET"
Get a wrong error message when i try to make a delete request for an API which is implemented as GET.

it gives error: Cannot DELETE /v1/10/agreements,
Although it should be "There is no method handling for DELETE- ResourceURI"

above case happens just for DELETE and PATCH methods, If i try to make a POST for the API implemented as GET, error message comes correct

[2016-05-30 18:31] davidcheung commented on #2356
I believe we should still fix it,  the only disadvantage is people relying on `if(id) {` in their code, this is breaking change for sure tho, if people previously had their code doing
[code]

[2016-05-30 18:37] davidcheung commented on #2354
agreed, the current way could definitely be improved

@laurentdesmet  I would like to close this issue if (strongloop/loopback-boot#190) can address this, please dont hesitate to make comments on the loopback-boot issue for potential issues or suggested behaviors or features, or reopen if you feel appropriate,  thanks!

[2016-05-30 18:37] #2354 closed

[2016-05-30 18:53] jannyHou commented on #2292
@felcerreia @medvar72 @robcresswell I reproduced the error with a reinstalled strongloop.
I am not sure why a generator-loopback inside strongloop fails to return the promise properly, maybe due to the flatten structure of npm3, but a globally installed generator-loopback works fine.

So as a workaround. Please delete the generator-loopback inside your stongloop and `npm install -g generator-loopb

[2016-05-30 19:58] jannyHou opened #2390 "LB Connection String"
Copy from chat:

R:
The idea is to parse the url into protocol (connector type, such as mysql), host, port, db and query parameters for the config properties.
for example, mysql://localhost:12345/mydb?connectionTimeout=10&poolSize=10

R:
What I meant is to build some facility into the base connector so that it can parse the `url` into object so that you don’t have duplicate the logic in all connec

[2016-05-31 01:43] medvar72 commented on #2292
Hi @jannyHou I followed your instruction but the error continues showing, then I'd uninstalled both strongloop and generator-loopback , and reinstalled strongloop again. It is not working yet. Any suggest?
[🍺 hector@Hectors-MBP loopback-server]$ npm ls -g --depth=0
/usr/local/lib
├── bower@1.7.9
├── express-generator@4.13.1
├── grunt@1.0.1
├── gulp@3.9.1
├── how2@1.1.0
├── npm@3.9.3
└── strongloop

[2016-05-31 01:57] jannyHou commented on #2292
@medvar72 It fails because I submitted a pr to yeoman-generator to use `yeoman-environment@1.5.3` for `yeoman-generator@0.21.1`.
My previous fix works for the latest yeoman-environment.
As a workaround, please try to install the latest yeoman-environment in strongloop's depedency.
I will fix it as soon as possible.

[2016-05-31 02:55] medvar72 commented on #2292
Thanks a lot, it is working!.

Regards

[2016-05-31 05:03] yshing commented on #2359
It is likely due to the those ObjectId issues when using MongoDB ...

[2016-05-31 08:58] pkgulati commented on #2358
// in server.js
    var ns = loopback.createContext('loopback');

    loopback.runInContext(function(ns, domain) {

    console.log('setting foo=bar before boot');
    ns.set('foo', 'bar');
    console.log('check after set ', loopback.getCurrentContext().get('foo'));

    // boot scripts mount components like REST API
    boot(app, __dirname, function() {
        console.log('boot completed');

[2016-05-31 11:18] mamartins commented on #443
I tried this for updateAttributes with no success.

Workaround: disable method and create my own

[2016-05-31 11:33] PaddyMann commented on #443
My solution required a little tweaking for `findById`, and the same is probably true for `updateAttributes` @mamartins

I now have a module exposing an `overideRemoteMethod` function:

    function overideRemoteMethod (model, methodName, newFunc) {
     const origFunc = model[methodName];
     model[methodName] = (a, b, c, d) => { // eslint-disable-line
       // We rely on the remote method call

[2016-05-31 11:37] diegobent opened #2391 "ACL does not work for multiple loopback apps on the same server"
Hi everyone and sorry for my bad english!

I'm trying to create a 2 loopback applications on the same server, each app is reached by specific url like app1.domain.com and app2.domain.com

I used the vhost middleware and I followed the suggestions of @bajtos in the following post http://stackoverflow.com/questions/22678387/how-to-run-multiple-strongloop-loopback-apps-on-the-same-server and I implem

[2016-05-31 12:17] pkgulati commented on #2358
Other possibility is we write a simple mocha test script , so basically getCurrentContext works for http request but for mocha or boot scripts it does not work

      myapp.boot(app, options, function fnboot () {
           app.start();
           app.emit('started');
     });

    var ns = loopback.createContext('loopback');
    loopback.runInContext(function (ns, domain) {

    var ctx = {

[2016-05-31 13:08] subchal opened #2392 "When using slc loopback:relation, I get [object Promise] error"
Hi good morning everyone,

I am on Windows 7. and npm version is 3.6.0.  I was trying to play with slc loopback:relation concept. Whenever, I try to establish a has-many relationship between two models, I run into the [object Promise] showing up in red color at the point where I was prompted to enter the name of the relationship. I spent several hours trying to figure out what may be causing the i

[2016-05-31 13:42] mamartins commented on #443
That's a good one.

It would be good to have a default way of doing this for all methods

[2016-05-31 13:47] Dragomir-Ivanov commented on #607
Yes, I need this too. But remember that PATCH needs to contain object diff, not just the new resource value. And I guess they need to provide some kind of sequence numbering, so mitigating updating already modified resource. Much like CouchDB works. Complex stuff, but WEB needs it.

[2016-05-31 13:51] bajtos opened #2393 "Deficiencies of DAO.save()"
1) It has "patch" semantics (instead of "replace"), which can be demonstrated on this code:

[code]

2) The implementation in SQL connectors does not handle the case when the record does not exist yet, but the caller has specified a value for the ID column.

[2016-05-31 13:54] bajtos commented on #2393
We would like to rework `save` to call `connector.replaceOrCreate` under the hood. That requires all connectors to provide an atomic implementation of `replaceOrCreate`, which is not yet true even for official connectors provided by the LoopBack team.

Once we have atomic `replaceOrCreate` implemented, I think the following solution would fix both issues:

1) Add a flag, either at datasource-level

[2016-05-31 14:06] gunjpan commented on #2392
@subchal : Hi, could you please let me know what strongloop version you have:
you can grab the output of `slc -v` and post it here for me.

[2016-05-31 14:09] subchal commented on #2392
Hi Good morning, please see below

C:\sairam\OMSaiRamC\FullStack\Session - 5\Week 4\loopback-server2>npm -v
3.6.0

C:\sairam\OMSaiRamC\FullStack\Session - 5\Week 4\loopback-server2>slc -v
strongloop v6.0.1 (node v5.7.0)
├── strong-arc@1.8.8 (fb756f2)
├── strong-build@2.1.2 (a98f310)
├── strong-deploy@3.1.4 (9b29df0)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.1 (6ab604c)
├── strong-re

[2016-05-31 14:12] bajtos commented on #2338
Here is the implementation of `loopback#errorHandler`:

https://github.com/strongloop/loopback/blob/70cec0755acc2b670987675c3bc63ecbfe9b473f/server/middleware/error-handler.js

I am also cross-posting my comments from a private chat:

If we change `loopback#errorHandler` to use strong-error-handler, then we will couple the version of loopback with the version of strong-error-handler. Then when we

[2016-05-31 14:16] bajtos commented on #2338
We also need to modify the templates in loopback-workspace, but that will be handled by https://github.com/strongloop-internal/scrum-loopback/issues/896.

[2016-05-31 14:54] richardpringle commented on #2356
@davidcheung, can you follow up with @crandmck for documentation please?

[2016-05-31 15:25] elropero commented on #770
Bump

[2016-05-31 16:25] subchal commented on #2392
Hi Good afternoon, just checking to see if you need any further information and any anticipated time frame on when you may be able to suggest next steps. Thanks in advance.

[2016-05-31 18:16] emmanuelpautet commented on #517
+1

[2016-05-31 22:26] denkan commented on #2222
@gunjpan : Actually, I'm facing the same problem. Tried to lock down a bunch of models in a current project, which got ignored.

Tried with a new, clean loopback project with a simple, basic memory model - and still ignores the acls.

[code]

FYI, had some trouble earlier due to issue #2292 which led me to custom installs of `generator-loopback` and `yeoman-environment`. No idea if this could be r

[2016-06-01 00:20] clearappdevelopment commented on #2292
I tried uninstalling yeoman-environment, yeoman-generator, strongloop, and loopback-generator, then installing them all back (in that order) and it didn't work, still getting Object Promise when using loopback:relation

[2016-06-01 05:40] pkgulati commented on #1495
One of the method where options is not available is isValid method of model

[2016-06-01 06:13] diegobent commented on #2391
This morning I've found this! #1056

[2016-06-01 07:14] denkan commented on #2222
Hmf... my  bad.

Apparently, the `/server/boot/autentication.js` (containing the `server.enableAuth()` call) isn't included when choosing `'empty-server'` as application type in the loopback initialization.

Without calling `server.enableAuth()` the ACL is ignored overall. Fair enough :)

[2016-06-01 07:27] btdevn commented on #2292
I tried manually updating the yeoman-environment to 1.6.1 but the problem [Object Promise] isn't solved

[2016-06-01 07:34] Lughino commented on #517
+1

[2016-06-01 07:59] vroudge commented on #418
This will be really wonderful when it happens, +1ing this so hard

[2016-06-01 08:11] denkan commented on #2292
Here's what I did (os x):

1. `npm install -g strongloop` - update strongloop to v6.0.1 globally
2. `npm install -g generator-loopback` - install v1.20.7 globally
3. `npm install -g yeoman-environment` - install yeoman-environment v1.6.1 globally
4. `rmdir -rf /usr/local/lib/node_modules/strongloop/node_modules/yeoman-environment` - removed the local yeoman-environment dependency shipped with stro

[2016-06-01 09:09] erickyi2006 commented on #2292
? Select the model to create the relationship from: CoffeeShop
? Relation type: has many
? Choose a model to create a relationship with: Review
? Enter the property name for the relation: (reviews)

After several attempts to update globally yeoman-environment, yeoman-generator, I found the fix. The culprit is in yeoman-environment inside yeoman-generator. Thanks for the hint by @jannyHou .Fixed by

[2016-06-01 11:07] hristo-vrigazov commented on #2377
The problem was that I wasn't persisting Role and Rolemapping, if anyone wants to create a project from scratch.

[2016-06-01 11:07] #2377 closed

[2016-06-01 12:11] subchal commented on #2392
Hi Good morning Gunipan,  Just checking if you have any further guidance on the above noted issue ?

[2016-06-01 13:54] gunjpan commented on #2392
@subchal : That seems to be a bug as I can reproduce it. We will update you on the status when it's fixed.
Meanwhile, would you like to submit a patch.

[2016-06-01 14:04] subchal commented on #2392
Hi Gunjpan good morning - Unfortunately, I don't know how to fix it. Hence, I won't be able to submit a patch.  In the meanwhile, Is there a previous version of the connector, for MongoDB,  that is available for me to use ?   Also, can you please let me know how long it will take to fix the bug ? Please let me know. Thanks for your help

[2016-06-01 14:05] gunjpan commented on #2392
@subchal : It's fixed here: https://github.com/strongloop/generator-loopback/pull/192
It's fixed, not sure if it's released on `npm`, you can directly install `generator-loopback` from GH repo

[2016-06-01 14:15] ssh24 commented on #2242
`Verified`.

[2016-06-01 14:17] gunjpan commented on #2392
@subchal: it's not `connector` specific, it was an issue with the `relation generator`. If you like, you can create `hasMany` relation programmatically as well, more [here](https://docs.strongloop.com/display/APIC/HasMany+relations)