[2014-11-13 00:53] #695 closed, assigned to nobody

[2014-11-13 15:56] hacksparrow opened #797 "Use of Express error pages"
The default Express error pages are being used to display the errors. This can be potentially confusing for some developers, why they are seeing "Express", while they are using LoopBack.

A LoopBack formatted error page will also make LoopBack look better :)

[2014-11-13 17:32] altsang opened #798 "GoDaddy: make API explorer embeddable"
TBD

touching base with Dennis to get requirements

[2014-11-13 17:33] altsang opened #799 "GoDaddy: Swagger 1.2 tags supported in API Explorer"
TBD (to be discussed with Dennis)

[2014-11-13 17:34] crandmck opened #800 "Deprecate model hooks in docs"
Per https://groups.google.com/forum/#!topic/loopbackjs/rCodNgRjqow add examples of other model hooks to http://docs.strongloop.com/display/LB/Model+hooks.  Also explain that  the results are stored in ctx.result, not ctx.res.

Ideally, all the model hooks would be added to the API docs as well.

[2014-11-13 17:44] crandmck opened #801 "Resolve open questions re roles"
Improve http://docs.strongloop.com/display/LB/Defining+and+using+roles with some more explanation:

- What is `context` and where does it come from?
  - ANSWER: It's is an object provided by loopback to give the user context into the request (ie. when the request comes in, they can access context.req or context.res, like you normally would with middleware)
- What is purpose of process.nextTick() ?

[2014-11-13 17:49] gcirne opened #802 "Allow PUT /api/things/:id to create a thing resource if it doesn't exist"
A PUT /api/things/:id request should behave in one of two ways:

1 - When a thing resource with the given id does not exist:
- It should create the thing resource with the given id
- It should return 201 (Created)

2 - When a thing resource with the given id already exists:
- It should update the existing thing resource
- It should return 200 (Ok)

Please see https://tools.ietf.org/html/rfc7231#se

[2014-11-13 17:52] #783 closed, assigned to nobody

[2014-11-13 18:02] #649 closed, assigned to ritch

[2014-11-13 18:15] #345 closed, assigned to nobody

[2014-11-13 18:19] djabif opened #803 "How can I access the belongsTo relation object from the afterCreate method?"
When I try to access an object in the afterCreate() hook method, I can't access to its belongsTo relations.

This is my model decision.json with a belongsTo relation named "profile"

[code]

I have defined the afterCreate as follows. I can access the created object with the "this", and it has the "profile_id" property set correctly.

[code]

Then when I try to access the <b>profile</b> of this obj

[2014-11-13 18:40] #673 closed, assigned to altsang

[2014-11-13 18:48] #743 closed, assigned to nobody

[2014-11-13 18:58] #779 closed, assigned to crandmck

[2014-11-13 22:48] Jeff-Lewis opened #804 "DataSource discoverSchema doesn't fire callback if table was not found"
Using the mssql connector:

[code]

If both _err_ and _schemas_ are undefined, _cb_ will never be called nor does the function return anything.

[Code can be found here.](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/datasource.js#L1166-1169)

[2014-11-14 00:14] raymondfeng opened #805 "Add support for hierarchical phases"
LoopBack usually builds a tree of express middleware to handle incoming HTTP requests, see an example at:

https://github.com/strongloop/loopback-gateway/wiki/Middleware-routes-in-loopback-gateway

We need to have a way to build and reference phases in a hierarchy. For example, we need to inject a middleware that audits all /api/users access.

One idea is to allow a qualified phase name such as 'r

[2014-11-14 01:46] crandmck opened #806 "Refactor getting started example app"
Create new repo for the new and improved Getting Started tutorial.  The final state of this repo will be the starting point for Getting Started Part II.

[2014-11-14 01:48] crandmck opened #807 "Rewrite Getting Started to align with new GS app"
Use app from #806 - rewrite GS instructions.

[2014-11-14 01:49] crandmck opened #808 "Write Getting Started Part II tutorial"
Take example app and basic instructions/notes from Simon and write finished "Getting Started Part II" tutorial.  Consider a better name/title for the series?

[2014-11-14 02:06] bluestaralone opened #809 "loopback.getCurrentContext() return null after MongoDB call returns"
A follow-up for #766.

I tested on https://github.com/strongloop/loopback-example-app

Step to create bug like this:
1. run npm install strongloop/loopback
2. Add the code below into Customer.js
3. Add debug codes
4. Run app
6. Go to explorer page and make a request GET /Customers
7. Go to explorer page and Login to get AccessToken
8. Go to explorer page and set AccessToken to header in Explorer p

[2014-11-14 02:24] clarkorz opened #810 "About missing(?) methods/routes on relations"
### HasManyThrough
On the HasManyThrough relation, there are **link**, **unlink**, and **exists** methods, which can access  the through model. But I would like to be able to retrieve the through model, something like:

[code]

### HasOne
On the HasOne relation, there is only one method remoted currently: **get**. But I hope that **create**, **update**, **destroy** could be remoted too:
[code]

[2014-11-14 03:28] clark0x opened #811 "Wrong Response Model for hasManyThrough relation in API Explorer"
Check the following picture, the Response Model should be **Patient**, not the through model **Appointment**.

At first, I thought that it's a bug in **Model.scopeRemoting()**, but I didn't found one there. Since in the `scope` instance for HasManyThrough, `scope.modelTo` **IS** pointing to **Appointment**. This is what I am confusing: I thought that for a scope, the find/create/update/... is targ

[2014-11-14 05:05] #804 closed, assigned to nobody

[2014-11-14 17:15] simoami opened #815 "Support for throttling and metering? any recommendations on how to implement?"
One of the essential requirements for a public api is the ability to apply throttling and metering to protect against abuse and performance degradation.

This is not necessarily best implemented as part of the framework as the scope might be big. I wanted to know your thought on the subject. Here's some points:

- Throttling and metering should be user or role specific. so that api calls from othe

[2014-11-14 17:15] #771 closed, assigned to nobody

[2014-11-14 17:24] bajtos opened #816 "How to access the current user from a model method"
We should document the recommended way for accessing the current user from model methods.

See
 - https://github.com/strongloop/loopback/issues/569
 - https://groups.google.com/forum/#!topic/loopbackjs/2HaUzpFPmfQ

And the solution:
 - https://github.com/strongloop/loopback/pull/775

[2014-11-14 17:28] raymondfeng opened #817 "Further integration between oAuth 2.0 and LoopBack"
1. Unify the access token model between oAuth 2.0 and User.login
2. Integrate scope with ACL

[2014-11-14 20:24] #803 closed, assigned to superkhau

[2014-11-15 03:46] voitau opened #818 "Documentation: Persisted Model page has inconsistent information"
1. List of methods at the top has a link to not existing method: ```PersistedModel.update```
2. ```PersistedModel.updateAll``` has incorrect example: ```Employee.update(...)```, which I suppose is coming from here: https://github.com/strongloop/loopback/blob/master/lib/persisted-model.js#L229-229
3. It may be subjective (and more difficult to do, if the doc is generated from code), but the list of

[2014-11-15 13:50] skyserpent opened #820 "Validation error when not using email for signup"
I don't want my users to need email to signup for my app so by simply extending the email property in users, I changed the email requirement to false, however, my app gives me an error saying 'email' can't be blank meaning it's a validatesPresenceOf('email') method that's causing this but it's nowhere to be found in code which is why I am confused as to how to overcome this error. Please assist me

[2014-11-15 19:05] lkrnac opened #821 "QUESTION: Accessing file system RESTfully?"
Is it possible to map file-system  (directories, files) with some custom logic to LoopBack models?
Possible way is using custom: logic http://docs.strongloop.com/display/public/LB/Extend+your+API
But I would like to have something closer to REST principles.

Is creation of custom connector the only way to go?

BTW, I discovered this project today and like very much the API. Keep up the good work.

[2014-11-17 04:09] dstroot opened #823 "Where do I find my access token??"
What do I enter here:
![image](https://cloud.githubusercontent.com/assets/1438457/5065113/717730d0-6dcc-11e4-9435-e029bcbf1a3f.png)

Yes... I've searched.

[2014-11-17 07:55] limichange opened #824 "How to change error message ?"
# from

[code]
# to

[code]

[2014-11-17 07:56] #824 closed, assigned to nobody

[2014-11-17 07:58] limichange opened #825 "Question : how to change error message?"
from

[code]

to

[code]

[2014-11-17 07:59] #825 closed, assigned to nobody

[2014-11-18 00:42] simoami opened #827 "Loopback still requires config.json in order to load config.local.js or config.{env}.js"
This can be seen in the loopback-boot code below:

config-loader.js
[code]

Suggested fix:
[code]

The same might apply to model and data source config file loaders.

[2014-11-18 04:43] simoami opened #828 "Filter requires native mysql (%) as wildcard instead of (*) in "like" operation"
The loopback mysql connector support `%` as wildcard but not the asterisk. The data source abstraction should ensure nothing native to the underlying db passes through.

The following works:

[code]

But it would be good to support standard wildcard and do the conversion behind the scenes:

[code]

[2014-11-18 06:03] jorgeramos opened #829 "QUESTION: How to query for existance of relationship?"
I have a few of models that look like below and would like to be able to find Reservations of a specific state AND have one or more Credits OR PaymentDetails with an an amount greater than zero. I'm open to changing my Model relations if needed. Something like the following is what I'm looking for. BTW, I'm using the mongodb connector... so if I could do a query through the mongodb library directl

[2014-11-18 07:07] violet-day opened #830 "Is there a good way to expose acl check?"
I want to check acl with angular.But no rest exposed.

[2014-11-18 08:29] bajtos opened #831 "Document the new XML response format"
- https://github.com/strongloop/strong-remoting/pull/111 implemented support for sending back responses in XML format.
- https://github.com/strongloop/strong-remoting/pull/134 added a config option to enable this behaviour.
- https://github.com/strongloop/strong-remoting/pull/120 added a URL param to control this behaviour.
- https://github.com/strongloop/strong-remoting/pull/121 added a config op

[2014-11-18 08:37] bajtos opened #832 "Document `Model.definition.settings.hidden`"
See https://github.com/strongloop/loopback-datasource-juggler/pull/100 and https://github.com/strongloop/loopback/issues/233

Example of how to use the setting can be found in the built-in User model: [common/models/user.json](https://github.com/strongloop/loopback/blob/7a877e91fe69c005077e56c67744c1d88e063182/common/models/user.json#L32)

[2014-11-18 17:15] #780 closed, assigned to nobody

[2014-11-18 17:36] #692 closed, assigned to chandadharap

[2014-11-18 21:28] ritch opened #833 "safeRequire returning undefined even when module is installed"
We're running into an issue where the following setup is causing
[https://github.com/strongloop/loopback/blob/master/lib/express-middleware.js#L8](safeRequire) to return undefined.

[code]

Since the versions are compatible (I assume) `npm` installs only one `loopback` package in arc's node_modules directory (and nothing in workspace). This breaks the assumptions `safeRequire()` makes - which is t

[2014-11-19 05:12] bluestaralone opened #835 "Inconsistent between GET, DELETE and POST on return not found record."
When i made request to API server as describe below with incorrect model ID 'aaaaa':
GET /Books/{id}
DELETE /Books/{id}
=> Response null

PUT /Books/{id}
=> Response error
 "message": "could not find a model with id 546abccb7f87485e3618f522aaa"

This is stardard of API or something like that, please explain to me.

[2014-11-19 06:30] clark0x opened #836 "Different HTTP Status code between destroying instance and destroying related instance"
`DELETE /api/books/1` will response `204`, while `DELETE /api/books/1/pages/1` will response `200` with `{}` as body.

Related line is here: https://github.com/strongloop/loopback/blob/master/lib/model.js#L460

is this on purpose? thx

[2014-11-19 06:52] #835 closed, assigned to nobody

[2014-11-19 06:55] #836 closed, assigned to nobody

[2014-11-19 11:42] pungoyal opened #838 "Add ctx. isNewInstance to "before save" and "after save" hooks"
Extend `before save` and `after save` hooks and add a new property `ctx.isNewInstance` (or similar).

This new property will have one of the following values for `Model.updateOrCreate`:

- `before save`:
  - true when the data has not id and the method falls back to a regular create
  - true/false when a non-atomic implementation is used
  - undefined when an atomic implementation is used

- `afte

[2014-11-19 18:21] #794 closed, assigned to bajtos

[2014-11-19 18:59] crandmck opened #839 "Improve remote hooks doc"
- In beforeRemote/afterRemote, there are just a few examples listed, with no clear rules for the method filter, and examples don't even all work... I tried using "*.save" in an afterRemote hook for when I called user.$save() using the angular API.  By using setting it to *, I found that ctx.methodName was set to user.upsert when I call user.$save().  Through trial and error, I found that using "up

[2014-11-20 01:25] kisayista opened #840 "How to expose discovered models through REST API?"
Referencing https://groups.google.com/forum/#!msg/loopbackjs/nudYA3BV8n0/Y5zQUrKv78kJ, I'm having trouble exposing discovered models. I tried a bunch of things with little success.

First, I created a script `discover-models.js` in the `boot` directory:

[code]

Then, I tried modifying `server.js` to follow [this snippet](https://gist.github.com/raymondfeng/db7ffa7a8f030f123f45) to no success.

An

[2014-11-20 02:23] theotherdon opened #841 ""customer" needs to be changed to "Customer" on the "Model Relations Tutorial" page."
I was working through the tutorial and ran the "create-customers.js" script in my application boot and I got an error telling me that the system couldn't migrate the "customer" collection since it wasn't connected to a database. I realized that this was supposed to be capitalized, changed it, and it worked fine. I'd be happy to fix the issue.

[2014-11-20 02:53] #841 closed, assigned to nobody

[2014-11-20 05:29] #840 closed, assigned to nobody

[2014-11-20 08:25] #769 closed, assigned to bajtos

[2014-11-20 11:01] mrbatista opened #842 "Model schema in Explorer not show hidden fields"
If declare hidden field, explorer not show their. This is view of custom object Users. Password and other custom fields are not visible.
![image](https://cloud.githubusercontent.com/assets/6544817/5123461/f9edd31a-70ab-11e4-8135-91f7a5170a09.png)

Is possible overwrite output for specific remote method? For example user with role admin wants to see all the fields.

[2014-11-20 11:06] diasalvatore opened #843 "Hide put and delete endpoints for related models"
Hi,

I have `MyUser` that extends built-in `User`. I am trying to disable all `/myusers/accessTokens` endpoints, but I can't disable PUT and DELETE.

Here's my code (in `MyUser.js`):

    MyUser.disableRemoteMethod('__get__accessTokens', false);
	MyUser.disableRemoteMethod('__create__accessTokens', false);
	MyUser.disableRemoteMethod('__find__accessTokens', false);
	MyUser.disableRemoteMethod('__c

[2014-11-20 11:07] tanis2000 opened #844 "Question: how can you add created/updated properties that automatically populate?"
I would like to add created/updated properties to a model and define rules for them so that if it's a new object, created and updated will be set to new Date(). And if it's an update, only updated would be set to new Date().

Is there a way to accomplish this with Loopback's models?

[2014-11-20 15:13] panduroab opened #845 "Error: Invalid workspace: no facets found."
Hi, I can create and run a new loopback project, but when I try to create a new Module into the path project this error aperce:

**slc loopback:model**

[code]

I have Ubuntu 14.04 and strongloop v2.9.2

[code]

I tried uninstall and install strongloop again but it didn't work, what else I can try?

Thanks

[2014-11-20 15:18] doublemarked opened #846 "ACLs for model properties"
I've come across several [code](https://github.com/strongloop/loopback/blob/master/test/acl.test.js#L230-L241) [samples](http://apidocs.strongloop.com/loopback-datasource-juggler/#datasource-prototype-createmodel) hinting at the ability to declare ACLs per-property:

[code]

However, it seems that ACLs declared this way in my model.json are not being applied. Am I doing this wrong, or is it as of

[2014-11-20 15:27] alexunm opened #847 "token.ttl must exist"
Hi,

I'm trying to `login` from an angularjs app, I've done all the configuration needed, but it doesn't seem to work, I get this request response:

[code]

It works from the `api explorer` and from my IDE's RESTful Web Service (WebStorm)

I can't figure out what is the source of this error, maybe someone here can help me.

This is part of my `app file`:

[code]

This is part of my `login file`:

[2014-11-20 16:07] #847 closed, assigned to nobody

[2014-11-20 16:13] #846 closed, assigned to nobody

[2014-11-20 16:51] doublemarked opened #848 "Regarding synchronous access to model relations"
The documentation implies that model relations can be retrieved synchronously. It describes the following snippet as `Get the customer for the order synchronously`:

[code]

As far as I can tell, this is only true if the data is cached as result of a previous async call to the function. I feel the current documentation is misleading and should be updated to clarify that the synchronous call is onl

[2014-11-20 20:37] #732 closed, assigned to nobody

[2014-11-20 20:59] mrjrdnthms opened #849 "aclErrorStatus in config default to 403"
Just ran into the 401 vs 403 issue here:
[https://github.com/strongloop/loopback/issues/462](https://github.com/strongloop/loopback/issues/462)

Editing the config file worked great so thanks for that option.

What about making the default 403 instead of 401? What is the case for 401 being the default for an acl fail? Just trying to make life easier for the next person.

[2014-11-21 01:09] serkanserttop opened #850 "Documentation Error : HasManyThrough relations - Incorrect Relation Tag Name"
http://docs.strongloop.com/display/public/LB/HasManyThrough+relations
Scroll down to common/models/patient.json
Starting at line 10, "relations.patients" should have been "relations.physicians".

[2014-11-21 01:53] serkanserttop opened #851 "Documentation Error : Querying related models - Copy&Paste Error"
http://docs.strongloop.com/display/public/LB/Querying+related+models
Under the "Inclusion" section, it writes "Or, equivalently:" but both scripts are exactly the same.

[2014-11-21 02:17] pulkitsinghal opened #852 "Failing user.test.js test"
I generated a project with `slc loopback` and copy/pasted the `./node_modules/loopback/test/user.test.js` into its test directory. I also setup `Makefile` and ran `npm install loopback-testing --save-dev` ... my goal was to see the test succeed as a sanity check.

But instead it failed:

[code]

Googling yielded a remote reference to issue #155 but I'm not sure how it applies here. Thoughts?

[2014-11-21 05:09] #851 closed, assigned to nobody

[2014-11-21 05:15] #850 closed, assigned to nobody

[2014-11-21 15:20] mrbatista opened #854 "Custom model not respect $owner ACL"
I created a custom object Foo and set ACL for method updateAttributes:
[code]

After login response of API is 401 Authorization Required.
The model Role checks if the instance of model is User or subclass of user [#L145](https://github.com/strongloop/loopback/blob/7c96aec9af579f697b8755b53bd9be1b628f939b/common/models/role.js#L145) and then checks for specific property attribute [#L159](https://gi

[2014-11-21 20:21] Lewiscowles1986 opened #855 "Possible permissions issues"
Hi I regularly use many nodejs npm packages without sudo, firstly I hav to use sudo in ubuntu 14.04 LTS despite docs not mentioning it... http://loopback.io/getting-started/

Second issue much more serious is that after running
`sudo npm install -g strongloop`

running
`slc loopback`
or even
`sudo slc loopback`

Does nothing but take me back to the command line... ='[

[2014-11-21 21:04] bajtos opened #856 "A tool for dumping app middleware"
It would be nice to have a tool to inspect all middleware handlers registered with a given expres/loopback app. The information should make it easier to visualise the order in which the middleware is executed.

[2014-11-21 21:05] bajtos opened #857 "Measure the performance of phased middleware and fix the worst issues"
Scoped to 5 story points (about 1-2 days).

[2014-11-21 21:33] bajtos opened #858 "Connector for browser indexedDB"
At the moment, loopback's memory connector can be configured to persist data in browser's local storage. This has a significant problem as the local storage is size limited to about 5MB.

We should support storing the data in indexdb too, possibly via https://github.com/google/lovefield

A community-run implementation: https://github.com/r3dm/loopback-connector-indexedDB

[2014-11-22 15:45] idosh opened #859 "Can't Use HasManyThrough When The From And To Models Are The Same"
I want to implement a followers-followee mechanism (like Twitter).
I defined these relations in my user model:

    "followers": {
         "type": "hasMany",
         "model": "User",
         "foreignKey": "followerId",
         "through": "Follower"
     },
     "follows": {
        "type": "hasMany",
        "model": "User",
        "foreignKey": "followeeId",
        "through": "Follower"

[2014-11-23 15:33] #821 closed, assigned to nobody

[2014-11-24 06:46] violet-day opened #860 "Confused by principalId"
Blow principalId valued with id.
[code]
In model.json,principalId vauled with name string.
[code]
I read the test file.Also can't understand how to use principalId.
[acl.test.js#L296](https://github.com/strongloop/loopback/blob/master/test/acl.test.js#L296)

[acl.test.js#L279](https://github.com/strongloop/loopback/blob/master/test/acl.test.js#L279)

[2014-11-24 08:30] bluestaralone opened #861 "How can i get all pre-defined properties of Model ?"
Hi everyone, how can i get all pre-defined properties of a Model ?
Currently i use this: server.models.Member.definition.properties
Is it right ?

[2014-11-24 09:43] AlexMason opened #862 "How do I set the built in 'Users' to use a datasource."
I want to set the built in `user` model to use a MySQL server for data storage.  But I am not sure how to migrate over,

I have this snippet in model-config.js:

[code]

Now I would assume I set the datasource to a user datasource I created for the `User`.  How do I got about the proper schema, and what about these other default models?

[2014-11-24 15:51] bajtos opened #863 "Document middleware phases"
Update the middleware documentation page in Confluence and describe the new features related to middleware phases:

  http://docs.strongloop.com/display/LB/Defining+middleware

A draft of the new content:

  https://gist.github.com/bajtos/e7eaba736ff096916b71

Before we can publish the new content, the following tasks must be finished:
- [x] Land https://github.com/strongloop/loopback-boot/pull/70

[2014-11-24 15:55] #739 closed, assigned to bajtos

[2014-11-24 20:23] #672 closed, assigned to altsang

[2014-11-25 20:04] yagobski opened #864 "Include with filters REST URL"
Hi,

I want to do include with filters based on REST REQUEST. Something like :

Albums?filter=[include][favorites]&filter[where][favorites.type]=abc

I am using MYSQL connector

Thanks

[2014-11-26 06:50] violet-day opened #865 "Is model.json support mixin?"
Can i set mixin in model.json?if can where should I put the mixin code?

[2014-11-26 10:06] bajtos opened #866 "Replication and paging"
Consider the case when the server database has thousands of records, but we want to replicate only subset of them (a first page, let's say 1-10 out of 1000), incrementally adding more pages when requested while online.

A possible solution is some sort of lazy replication, where only a subset of records is replicated and there is an API to fetch more records.

[2014-11-26 10:50] #811 closed, assigned to nobody

[2014-11-26 14:26] PuKoren opened #867 "Default model value erase unset values when upserting"
When upserting, the default model values erases the fields that are not updated.
This behaviour is not the same when using mongodb connector or memory connector

Exemple:
My model defined as:

[code]

And using default value for createdAt with:

[code]

And creating a model instance with:

[code]

The resulting data in the memory database is:

[code]

This seems ok to me, and when I try to update

[2014-11-26 14:38] #194 closed, assigned to ritch

[2014-11-26 16:49] #410 closed, assigned to nobody

[2014-11-26 18:02] #806 closed, assigned to nobody

[2014-11-26 18:44] hacksparrow opened #868 "Review and update "Relation REST API" docs"
http://docs.strongloop.com/display/LB/Relation+REST+API

[2014-11-26 18:47] hacksparrow opened #869 "Review and update "User REST API" docs"
http://docs.strongloop.com/display/LB/User+REST+API

[2014-11-26 18:47] hacksparrow opened #870 "Review and update "Access token REST API" docs"
http://docs.strongloop.com/display/LB/Access+token+REST+API

[2014-11-26 18:48] hacksparrow opened #871 "Review and update "ACL REST API" docs"
http://docs.strongloop.com/display/LB/ACL+REST+API

[2014-11-26 18:48] hacksparrow opened #872 "Review and update "Role REST API" docs"
http://docs.strongloop.com/display/LB/Role+REST+API

[2014-11-26 18:48] hacksparrow opened #873 "Review and update "Application REST API" docs"
http://docs.strongloop.com/display/LB/Application+REST+API

[2014-11-26 18:49] hacksparrow opened #874 "Review and update "Push Notification REST API" docs"
http://docs.strongloop.com/display/LB/Push+Notification+REST+API

[2014-11-26 18:49] hacksparrow opened #875 "Review and update "Installation REST API" docs"
http://docs.strongloop.com/display/LB/Installation+REST+API

[2014-11-26 18:49] hacksparrow opened #876 "Review and update "Email REST API" docs"
http://docs.strongloop.com/display/LB/Email+REST+API.

Note that this article is not yet published.

[2014-11-27 07:28] bluestaralone opened #877 "Is it possible to make a case-insensitive query ?"
@bajtos
@raymondfeng
Currently, i can't make query on filter with text in case-insensitive. Please tell me how can i do it ?
Example result of searching with text "Computer" is different from "computer". i want to make it the same. Please help me, thanks much.

I suggest solution for processing like and nlike in mongodb.js as below:
[code]
It's better than:
[code]
---------------------------------

[2014-11-27 09:08] #585 closed, assigned to bajtos

[2014-11-27 16:35] diasalvatore opened #878 "loopback.getCurrentContext() seems to return null when MySQL is used"
As in https://github.com/strongloop/loopback/issues/569 I was trying to set currentUser in context in order to retrieve it after in requests.

[code]

the problem is that `loopback.getCurrentContext()` returns `null` so it will not be set.
Why does this happen?

[2014-11-28 08:46] diasalvatore opened #879 "Overriding validation"
I have a class `MyUser` which extends built-in `User`.
How can I remove default validation (like the one on email and password)?

[2014-11-29 10:06] fabien opened #880 "REST 'filter' scopes should be chainable"
You can currently do `/api/messages/received` and `/api/messages/unread` but cannot chain both into `/api/messages/received/unread` to combine one or N scopes together, which is already supported in plain JS. Additionally, we might support `/api/messages?scopes[]=received&scopes[]=unread`.

[2014-11-29 10:19] bajtos opened #881 "Reject incorrect model property definitions"
Consider the following model definition:

[code]

LoopBack will happily create such model, even though "hasMany" is not a valid model name.

However, loopback-explorer is not prepared to handle that, see https://github.com/strongloop/loopback-component-explorer/issues/71

[2014-11-29 16:42] BerkeleyTrue opened #882 "Server side replication and conflict resolution"
Hello Loopback Team!

First of all, thanks for such an awesome product!

Is it possible to handle model conflict on the server rather than in the client?

I am developing an inventory application using the new replication api. There are three main parts to this app. The office UI (angular app w/ loopback), the backend (loopback server), and an application being built on Java.

The java app would l

[2014-11-29 20:03] pulkitsinghal opened #883 "How to configure realmRequired?"
The documentation for how to configure settings such as `realmRequired` is missing. Not sure if this can only be done after extending the built-in User model or without. In either case, its not specified how to set it up.

[2014-12-01 08:09] bajtos opened #884 "Apply HTTP API design guidelines by Heroku"
Cherry-picking parts of https://github.com/interagent/http-api-design to consider for implementing in LoopBack.
#### Trace requests with Request-Ids

Include a Request-Id header in each API response, populated with a UUID value. If both the server and client log these values, it will be helpful for tracing and debugging requests.
#### Actions

Prefer endpoint layouts that don’t need any special ac

[2014-12-01 15:48] BerkeleyTrue opened #886 "Inconsistencies between loopback remote and loopback memory in browser."
When working in the browser with loopback, using the find method returns different object types. Using a remote find method returns an array with plain objects with the models data and a plain JS Object as its constructor, while using the local model returns a modelConstructor with all the function expected.
![developer_tools_-_http___localhost_9002_](https://cloud.githubusercontent.com/assets/677

[2014-12-01 16:42] BerkeleyTrue opened #887 "relation.modelTo.Include not defined in client loopback"
Using loopback in the browser, using include with sub-include on local models with the memory connector `causes undefined is not a function` error. Works fine with the remote model method.

[code]

[2014-12-01 16:52] crandmck opened #888 "Persisted Model API doc issues"
From sam:

The persisted model docs for find() link the clauses to the docs for the clause, but a number of the other apis, count(), destroy(), don't have links, just a scrap of example. The links should be everywhere, I think.

Also, either the API has some odd inconsistencies, or the docs are wrong: .count() takes a full filter object, but only supports the where property (set to a where clause)

[2014-12-01 19:35] #620 closed, assigned to raymondfeng

[2014-12-02 22:04] #883 closed, assigned to nobody

[2014-12-02 22:09] #807 closed, assigned to crandmck

[2014-12-03 01:01] crandmck opened #889 "Need example of password reset"
We had some questions about http://docs.strongloop.com/display/LB/User+REST+API#UserRESTAPI-example.  I removed the code that referenced EJS templates where the user could reset their password.  So, the example just shows how to generate an access token for resetting password.

We really need an example of a password reset page...

@ritch said: I think simon should add a full reset password flow t

[2014-12-03 03:56] bluestaralone opened #890 "How can i make "Group By" query on loopback with mongodb connector ?"
How can i make "Group By" query on loopback module with mongodb connector ?
I can not find any document which say about that problem ?
Please help me. Thanks

[2014-12-03 10:14] pungoyal opened #892 "bcrypt vs bcrypt.js"
bcrypt.js has a pretty horrible performance. js is not designed for CPU intensive tasks. how can i use native bcrypt with loopback to get better hashing performance?

[2014-12-03 12:49] antoinegomez opened #893 "default scope cause error in GET /item/{ID} + questions"
Hello,

An update regarding my post in issue #773

I have a problem with the scope configuration in the model where I want to include a dependent model by default.

In this exemple I have a model user and user-profile. I don't expose user-profile on the REST API and I want to include the data of this model in the user one when I fetch some users.

I tryed to understand what's the best way to do th

[2014-12-04 05:53] raymondfeng opened #895 "Middleware not getting express req object if registered before routes phase"
If the following middleware is registered using `app.middleware('routes:before', ...)`, `req.get()` will fail as the `req` object has not been enhanced by express yet.

[code]

[2014-12-04 09:22] bluestaralone opened #896 "afterSave remote hook doesn't show error when call next(new Error('aaa'));"
This code below is not show error when create new Car: POST /Cars
[code]
This code response to client as "success" of create new car.
How can i stop process "create new car" if i have problem after save it.?

[2014-12-04 14:00] Va1 opened #897 "Method names in ACLs"
Hey guys,

While defining ACLs, I wonder why "property": "__destroyById__sets" , but  "property": "deleteById". This does not look logical and intuitive, does it? Docs do not represent this.

And it does not work for me any other way =(

[2014-12-04 16:27] cajoy opened #898 "Per-method validation rules"
Can I have different subset of validation rules for different methods?

I mean for /create one set of rules
for   /update  different set of rules.

or

isValid() would be able to use defined set of rules. So if I create custom remote method I can apply different validations to it.

Thanks

[2014-12-04 18:19] #864 closed, assigned to nobody

[2014-12-04 18:47] #855 closed, assigned to nobody

[2014-12-04 18:48] #861 closed, assigned to nobody

[2014-12-04 18:49] #634 closed, assigned to crandmck

[2014-12-04 19:21] #879 closed, assigned to nobody

[2014-12-05 21:24] dstroot opened #899 "I can't believe I can't figure out how to update a record!"
I'd really appreciate a nudge in the right direction.   Say I have a model called 'widgets' with a property 'name'.  I create a widget with name "mygoodwidget".

Now I want to update the name of the widget to 'myGREATwidget'.

I know the id of the widget.  Say the id is '1'.

I am in nodejs - How do I make this happen?  I'd GREATly appreciate a bit of help.

code I've tried:

[code]

[2014-12-05 22:39] #899 closed, assigned to nobody

[2014-12-07 17:06] nickleus73 opened #900 "Problem after have run the command slc loopback:relation"
Hi,

I don't know if is it a bug, but I have this error after have run the command slc loopback:relation on a custom model (Member model based on User model), when I run the server with this command line : slc run.

[code]

I tried to add a relation from my Member model to the accessToken model.

The Member model is like this :

[code]

Can you help me on this subject.

Thank you.

PS : I work on

[2014-12-08 04:51] crandmck opened #901 "Initial work to internationalize LoopBack docs"
Need to define how we are going to provide content in multiple languages.  We should investigate if there are any good Confluence plugins for this; e.g. https://marketplace.atlassian.com/plugins/com.k15t.scroll.scroll-translations.

As a provisional plan, we will add a space for each language for which we have localized content.  It looks like this will be at least Japanese and Russian; so e.g. JP

[2014-12-08 19:22] #892 closed, assigned to nobody

[2014-12-08 22:39] yagobski opened #902 "What is equivalent to ORDER BY RAND()?"
Hi,

There is any alternative to do Order by RAND() in filter?
http://docs.strongloop.com/display/public/LB/Order+filter

I see only order ASC and DESC.

I am using MYSQL connector.

Thanks

[2014-12-09 02:53] dstroot opened #903 "Mail Example"
Following the example from here: http://docs.strongloop.com/display/public/LB/Using+built-in+models#Usingbuilt-inmodels-Emailmodel

/common/models/model.js

[code]

It doesn't work because app is not defined.  Error:

[code]

[2014-12-09 06:42] #903 closed, assigned to nobody

[2014-12-09 07:25] simoami opened #904 "Incorrect distance calculation in the GeoPoint class"
In reference to the code at:
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/geo.js#L248

[code]

Whoever wrote this function flipped longitude and latitude while calculating the  haversine function.

For reference, the Haversine formula is described here: http://en.wikipedia.org/wiki/Haversine_formula

Proof:

[code]

![screen shot 2014-12-09 at 2 19 13 am](https://cloud

[2014-12-10 02:27] clarkorz opened #906 "What does dynamic converters do? they only work if modelName is all lowercase"
During `Model.setup()`, it registers a converter to `RemoteObjects` with a name which is usually capitalize (e.g. `User`).  See [L117](https://github.com/strongloop/loopback/blob/master/lib/model.js#L117)

But I also found that, `strong-remoting` looks up a converter by lowercase the `typeName` (e.g. `user`), hence it never find that converter. See [L120](https://github.com/strongloop/strong-remot

[2014-12-10 07:38] #863 closed, assigned to crandmck

[2014-12-10 16:28] jesusbv opened #909 "Can't override afterRemote confirm"
I have tried to override the hook like this

[code]

but it still running the default code in loopback user model.
Can it be override? Thanks

[2014-12-10 19:01] fsegouin opened #910 "Where filter in scope only works for first object"
Hi guys,

I have an issue here, trying to include a relation and filter what's returned.

So, in a model that has a relation with user (called users), let's say I only want this user instance included when the user id is 1.

According to [this](http://docs.strongloop.com/display/public/LB/Include+filter) I tried this filter:
{"include": {"relation": "users", "scope": {"where":{"id": 1}}}}

Unfortu

[2014-12-11 00:43] #889 closed, assigned to superkhau

[2014-12-11 06:10] jrschumacher opened #911 "Error running `slc loopback`"
When running `slc loopback` and typing in a project name an error is thrown

[code]

Strongloop version

[code]

OS: OSX 10.10
Node: 0.10.33

[2014-12-11 09:10] bajtos opened #912 "Discovery: NOT NULL fields should have `required: true`"
The discovery mechanism should mark all non-nullable fields as required properties. I have run into this issue while using loopback-connector-mysql, other SQL-based connectors may be affected too.

See https://github.com/strongloop/strong-arc/issues/359 for an example scenario.

Table definition

[code]

An example of LDL for a discovered property:

[code]

/cc @raymondfeng

[2014-12-11 13:58] #911 closed, assigned to nobody

[2014-12-11 18:48] ritch opened #913 "Honoring SOAP Headers on a per request basis [GoDaddy]"
@raymondfeng can you fill in the details here? I'm not sure what the exact issue is.

[2014-12-11 18:49] ritch opened #914 "200 statues should not be returned with bad config [GoDaddy]"

[2014-12-11 18:50] ritch opened #915 "Allow hooks at Node.js method level so that local/remote invocations can have the same behavior"
details TBD

[2014-12-11 19:22] #912 closed, assigned to nobody

[2014-12-11 19:25] bajtos opened #916 "Extract phased router/phased express app out of loopback"
See #908.

We should either upstream our changes to express, or move them to a new repo that can be used in vanilla express apps, even without loopback.

[2014-12-11 22:43] voitau opened #917 "Adding to the model the count of related model instances"
Based on google groups conversation: https://groups.google.com/forum/#!topic/loopbackjs/Vrrl1Zi3q64/discussion

Let's assume there are two models: Chapter and Book, which hasMany Chapters via chapters relation.
Requirement is to list all Books with the count of Chapters for each of them in one REST API query. Example:

Request: `GET /Books`
Response:

[code]

where chaptersCount is the number of r

[2014-12-12 10:26] makersu opened #918 "like operator with long string in mongodb"
When use like operator, if the length of query string too long(>64 chars?) will find nothing with mongodb.

[code]

[2014-12-12 13:26] pungoyal opened #919 "Request IP address"
I want to record the request's IP address conditionally in the `beforeUpdate` hook of a model. What is the best way to achieve this without saving it in a beforeRemote hook?

[2014-12-12 14:12] drFabio opened #920 "Structure on embedded model"
I don't know if there is already a documentation , but is there a way to define a structure to a property that has the type object?
Something on the likes of:

[code]

in which questions would be a array of objects with the structure of name and value required

[2014-12-12 16:52] #895 closed, assigned to raymondfeng

[2014-12-12 18:31] #759 closed, assigned to hacksparrow

[2014-12-12 20:50] #897 closed, assigned to nobody

[2014-12-13 10:06] #600 closed, assigned to nobody

[2014-12-13 20:31] AndrewJHart opened #922 "`slc loopback:relation` to define a m2m relationship + through table has confusing behavior"
Hey Guys,

After discussing this in the forum it appears this is not the desired behavior so Im pursuing a patch/enhancement. I've also not added to the docs yet because I wasn't sure - guess i'm a little hesitant :/ I will gladly do so though - just need some feedback.

When running `slc loopback:relation` to define a m2m relationship with a through table, I found the behavior a bit confusing. I'

[2014-12-14 14:53] darionyaphet opened #923 "Getting Started Failed"
I'm using loopback follow  http://loopback.io/getting-started/  on Mac & nodeJS v0.10.30
Create app with slc loopback command is successed and create models failed ?

[code]

I don't  know what had happened ? Could any one help me thanks a lot

[2014-12-15 03:54] #923 closed, assigned to nobody

[2014-12-15 04:57] bluestaralone opened #924 "How can i check one property exists in mongodb collection by loopback model methods ?"
How can i check one property exists in mongodb collection by loopback model methods ?
This is describle by document below:
http://docs.mongodb.org/manual/reference/operator/query/exists/

[2014-12-15 07:51] BerkeleyTrue opened #926 "Add(extend) properties to all Change models."
I would like to add some properties to the change model. I was able to successfully extend the Change model that is attached at app.loopback.Change using a script in the Boot dir, but these changes are not added to the individual change models attached models at Model.getChangeModel();

Is it possible to extend all these models at once, or do I have to go through each model individually and grab t

[2014-12-15 07:55] BerkeleyTrue opened #927 "Add boot script to common directory?"
I found myself having to run the same boot script in two different locations for my application.

For my client app in `client/boot` and for my server at `server/boot`. Is it possible to add a common/boot just like common/models so both apps pic this one up first?

[2014-12-15 13:00] #857 closed, assigned to bajtos

[2014-12-15 17:48] bajtos opened #928 "Document how to use polymorphic relations"
The author of #731 was told to use polymorphic relations instead of his patch. However, these relations are not documented yet.

[2014-12-16 21:21] crandmck opened #929 "Update docs with examples from user mgmt FAQ repo"
Review  https://github.com/strongloop/loopback-faq-user-management/ for code examples and other stuff to add to docs, e.g. password reset.

[2014-12-16 22:34] #848 closed, assigned to nobody

[2014-12-17 00:12] BerkeleyTrue opened #930 "Define remote method hook order."
Is it possible to define the order in which remote method hooks are executed in?

User.confirm has a built in remoteHook that does not call next on success but calls ctx.res.redirect(), effectively ending the hooks stack.

https://github.com/strongloop/loopback/issues/416#issuecomment-67256408

[2014-12-17 01:02] greaterweb opened #931 "suggestion: check emailVerified after valid password"
I would suggest moving the User model [`emailVerificationRequired` check](https://github.com/strongloop/loopback/blob/cb2f40bb86905439434a358debbd2e044a2de1ca/common/models/user.js#L186-L194) after [successful matching](https://github.com/strongloop/loopback/blob/cb2f40bb86905439434a358debbd2e044a2de1ca/common/models/user.js#L199) of the password (supplied to remote `/login` request). This would r

[2014-12-17 01:59] greaterweb opened #932 "Globalize error messages"
It would be useful to have the ability to configure the error messages for some of the existing remote methods. For example, in the case where [email verification is required](https://github.com/strongloop/loopback/blob/cb2f40bb86905439434a358debbd2e044a2de1ca/common/models/user.js#L190), there doesn't seem to be a way to supply, intercept or configure the value. There is no presence of `details`

[2014-12-17 23:40] ritch opened #933 "Replication: Changes not tracked when using custom id property"
With a model definition similar to the following (attached to mongodb on the server):

[code]

Changes are being tracked with the `_id` (`ObjectID`) instead of the value of the `id` field ('myIdProperty'). This completely breaks replication.

[2014-12-18 02:57] #927 closed, assigned to nobody

[2014-12-18 03:00] #930 closed, assigned to nobody

[2014-12-18 08:39] #740 closed, assigned to nobody

[2014-12-18 08:51] #919 closed, assigned to nobody

[2014-12-18 08:52] #920 closed, assigned to nobody

[2014-12-18 08:54] #909 closed, assigned to nobody

[2014-12-18 09:16] #862 closed, assigned to nobody

[2014-12-18 09:17] #865 closed, assigned to nobody

[2014-12-18 10:01] #842 closed, assigned to nobody

[2014-12-18 14:16] Va1 opened #934 "Role.isOwner and relation name collision"
Hey, guys!

On one of my models, the name of the relation was "owner" with the primary key of "identityId", and $owner role resolver was not working when I used it in ACLs. I was wandering why and dug into the sources. So, here's what I've found:

https://github.com/strongloop/loopback/blob/7c96aec9af579f697b8755b53bd9be1b628f939b/common/models/role.js#L159

In my case, the value of inst.owner is

[2014-12-18 18:24] vajaiswal14 opened #935 "HTTP/1.1 422 Unprocessable Entity Error when sending data to LoopBack from Java client"
Hi,

I am doing an HttpPost to send data to LoopBack and get the response. I am getting an error as below from LoopBack :

[code]

So, what I did in java is created a json from a java object , when I used this JSON in loopback api explorer, the data was inserted and gave me response 200, but doing from Java, I am getting this error. Does anyone have an idea about this.
Java code is as below

[code

[2014-12-18 20:17] stringbeans opened #937 "MySQL error 'ER_TOO_BIG_ROWSIZE' when automigrating to create the 'Application' table"
After including the Application built-in model to the model-config.json and running automigrate, loopback fails to create the Application table in MySQL.

[code]

This seems like a pretty huge issue since it prevents MySQL users from being able to utilize loopback's built in OAuth2 support.

Any ideas for workarounds?

[2014-12-19 01:53] stringbeans opened #938 "Documentation for Database discovery API is incorrect (references "relations" key in options)"
The documentation for the Database discovery API (http://docs.strongloop.com/display/public/LB/Database+discovery+API#DatabasediscoveryAPI-discoverSchemas) mentions that passing "relations: true" will scour and build all relations.

This is incorrect as the actual key to use is "associations: true"

[2014-12-19 18:41] #926 closed, assigned to nobody

[2014-12-19 19:34] kulakowka opened #940 "Typo in the documentation"
Sorry if you already know about this bug.

In the documentation section **[Add some test data and view it](http://docs.strongloop.com/display/public/LB/Connect+your+API+to+a+data+source)** is a typo.

```app.dataSources.mysqlDs.automigrate'CoffeeShop', function(err) {```

It will be correct:

```app.dataSources.mysqlDs.automigrate('CoffeeShop', function(err) {```

Replace this one example:

[code]

[2014-12-21 16:51] #887 closed, assigned to nobody

[2014-12-21 16:54] #882 closed, assigned to nobody

[2014-12-22 16:23] idosh opened #942 "Set Model Scope For Role"

[2014-12-22 18:29] greaterweb opened #944 "FIX: Invalid User Tests"
There appear to be a number of issues present with the [User model tests](https://github.com/strongloop/loopback/blob/36e1f6840ca681439f9424eb3eef098aaf98e6e8/test/user.test.js).

 - [x] [`invalidCredentials`](https://github.com/strongloop/loopback/blob/36e1f6840ca681439f9424eb3eef098aaf98e6e8/test/user.test.js#L14) are actually valid (see [`validCredentialsEmailVerified`](https://github.com/stron

[2014-12-23 16:55] estin opened #947 "in User.resetPassword callback called without error if user not founded"
In line https://github.com/strongloop/loopback/blob/master/common/models/user.js#L445
called callback without error about not founded user by email.

[code]

Sorry for my poor English.

[2014-12-23 17:44] bkniffler opened #948 "Suggestion: Post including related data"
I suggest implementing a possibility to handle new/updated/removed associated child data when posting an item.

Lets say we have a "Shelf" and a "Book" model with a 1:n relation, I'd like to be able to post from the client:
[code]
Currently, this scenario must be handled either client-side, posting shelf and on response, posting the associated books; or server-side with custom methods or by using

[2014-12-23 20:56] superkhau opened #949 "Calling `next` in `afterDestroy()` throwing error"
See strongloop/loopback-faq-model-hooks/issues/1

[2014-12-23 21:02] crandmck opened #950 "Integrate middleware phases doc"
Clean up http://docs.strongloop.com/display/LB/Using+middleware+phases and integrate with the rest of the docs: eliminate duplication, add x-links, etc.

This affects quite a few articles:
* http://docs.strongloop.com/display/public/LB/Add+a+static+web+page
* http://docs.strongloop.com/display/LB/Defining+middleware
* http://docs.strongloop.com/display/LB/Using+middleware+phases
* http://docs.stro

[2014-12-23 22:15] jrschumacher opened #951 "package.json corruption after running slc loopback:acl"
After running `slc loopback:acl` my package.json is corrupted.

![screenshot](https://cloud.githubusercontent.com/assets/46549/5543748/ff44c6e0-8ac6-11e4-8b59-14cc4bff0a81.png)

The change results in all dependencies being overwritten and looking like this.

[code]

[2014-12-25 11:50] alFReD-NSH opened #952 "Automatically cast remote method argument to ObjectID"
Seems like right now we have to manually cast ObjectID input arguments. It'd be nice to have that.

[2014-12-26 10:42] alFReD-NSH opened #953 "Ability to query nested documents/objects/arrays"
For example right now there doesn't seem to be an easy way to have equivalent of this mongodb query with loopback where filters:

[code]

Do note that poeple is an array of objects that contains, tags which is an array of strings.

Note that this has been asked before on [mailing list](https://groups.google.com/forum/#!msg/loopbackjs/8c8kw8EMiPU/yev3lsmrTFUJ) and on [stackoverflow](http://stackove

[2014-12-27 11:52] clarkorz opened #954 "How to config passport in `middleware.json`?"
I try to use passport in `middleware.json`, as follow:

[code]
But got this:

/Developer/Projects/WebStormProjects/joypet-server/node_modules/passport/lib/authenticator.js:167
  return this._framework.authenticate(this, strategy, options, callback);
                         ^
TypeError: Cannot call method 'authenticate' of undefined
    at Authenticator.authenticate (/Developer/Projects/WebStormPr

[2014-12-28 16:01] sirvon opened #957 "using rethinkdb as storage backend?"
Can you guys point me in the right direction towards getting rethinkdb to work in place of mysql or postgres?

Thanks you.
and thanks for your works.

[2014-12-28 18:49] pulkitsinghal opened #958 "Feature Request: Generate nodejs client for loopback"
Please add the tooling to generate nodejs client for loopback.

The google group discussion on this topic can be found here: https://groups.google.com/forum/#!topic/loopbackjs/QpDBiAmXZog

[2014-12-29 19:20] crandmck opened #959 "Document all remoting properties in server/config.json"
Need to describe all the properties you can set in the remoting section of `config.json`.  See
http://docs.strongloop.com/display/LB/config.json#config.json-Remotingproperties.

[2014-12-29 21:44] #831 closed, assigned to crandmck

[2014-12-31 01:27] superkhau opened #960 "ACL does not apply to related models"
Access is denied for related models even when the user is authenticated and has permissions on the primary model.

See https://github.com/strongloop/loopback-example-access-control/issues/41 and https://groups.google.com/forum/#!searchin/loopbackjs/access$20denied$20related$20model/loopbackjs/iCgMsTzuJ14/Efmdl33JcTQJ

[2014-12-31 02:45] slawo opened #961 "Connecting to sqlite for use within node-webkit"
Is there a way to use loopback within a node-webkit application with sqlite as the backend?

If no, how difficult would it be to add sqlite support to loopback?

Would there be any other issue with using loopback in a node-webkit environment?

[2015-01-01 21:33] daankets commented on #89
I have exactly the same case, and even stranger: when I use the API explorer to invoke the create, I get an 401, but in the application, the 'afterCreate' hook that I registered is executed successfully. So are the beforeCreate and beforeSave hooks.
I do NOT succeed in overriding the DENY($everyone,*,ALL) with ALLOW($everyone, create,EXECUTE).

[2015-01-01 21:36] slawo opened #963 "Add support for regular expression in queries."
Is it possible to add a pendent to like (rlike) which would take regular expressions to run in the database?Today, it seems, all major databases accept regular expressions to query the content of the db.

[2015-01-01 21:40] daankets commented on #89
@ritch, @raymondfeng : Never mind... seems like it DID work after all. However, a faulty role resolver was blocking the method from returning [No content], and instead caused the 401.

[2015-01-01 22:06] slawo opened #964 "Add utility functions for queries: startsWith, endsWith, contains"
Every-time, or nearly, I have a search form on a text field there are only 2 kinds operations which happen `UPPER(someField) LIKE UPPER(%?)` and `UPPER(someField) LIKE UPPER(%?%)`. This is a near constant in all projects.

Therefore it would be very interesting to have very simple operators to do this kind of searches:

 - `contains` and case insensitive `icontains`
 - `starts` and case insensitiv

[2015-01-01 22:46] paulomcnally opened #965 "invalid value for argument 'filter' of type 'object': {\"where\": {\"name\":\"Rpto. K\\hn (masaya)\"}}"
Url:

http://localhost:3000/api/locations/findOne?filter=%7B%22where%22%3A%20%7B%22name%22%3A%22Rpto.%20K%5Chn%20(masaya)%22%7D%7D

## Filter

    {"where": {"name":"Rpto. K\hn (masaya)"}}

## Response

    {
      "error": {
        "name": "Error",
        "status": 400,
        "message": "invalid value for argument 'filter' of type 'object': {\"where\": {\"name\":\"Rpto. K\\hn (masaya)\"}}",

[2015-01-02 01:58] pulkitsinghal opened #966 "Don't overwrite non-null values when creating the built-in Applciation model"
Right now the built-in `Application` model overrides values that a developer might want to specify explicitly: https://github.com/strongloop/loopback/blob/7c96aec9af579f697b8755b53bd9be1b628f939b/common/models/application.js#L88-L92

It would be great if any non-null values provided as `options` to `Application.register` were not overwritten: https://github.com/strongloop/loopback/blob/7c96aec9af5

[2015-01-02 09:23] wpjunior commented on #964
+1

[2015-01-02 21:57] cabolanoz opened #967 "Key mismatch on column with value 0"
The error I'm facing is the next one;

**Key mismatch: OpsItinerary.itinerary_status_ind: 0, GenIndicatorValue.ind_value: 0**

For some reasons, loopback cannot create a relation since the source and target value starts with 0, the identity value should be greater than that. I have some other relations with this target entity with values like 1 or 2 and the api performs exactly as I expect.

[2015-01-03 00:19] pulkitsinghal commented on #958
@doublemarked - I felt like on the fly code would be more of a pain to debug than getting a file spit out that I could then tweak for any kinks.

[2015-01-03 01:11] pulkitsinghal commented on #958
FYI: I filed another issue with https://github.com/wcandillon/swagger-js-codegen/issues/34 in my quest to get a perfect out-of-the-box javascript client for loopback ... I wouldn't need to do this if the `nickname` field generated by loopback's swagger spitting code was a bit more accommodating. I think @doublemarked also posed a question/comment for the authors above regarding the convention bein

[2015-01-03 10:14] chinajuanbob opened #968 "Get roles of users when find() users"
How do I get roles of users when GET /users?
Expected result will be something like:
users:[{
  username:...
  roles: ['admin', '...']
},{...
}]
Thanks!

[2015-01-04 05:36] pulkitsinghal opened #969 "Possible bug: `Where` filter returns result for undefined value"
[code]

In the code above, when the value for masterKey is `undefined`, I receive an object as the result which should not have matched ... I think that is unintuitive and should be treated as a bug.

The fix should be to return either no results (my preference) or an error. What do you think?

[2015-01-04 05:44] pulkitsinghal commented on #969
Until a fix is available, I'm using a workaround for my use-case:
https://github.com/ShoppinPal/loopback-example-access-control/commit/b9e408120a6b948a75a5b7651534d698aadfd9f6

But I can imagine this being a problem for plenty of people, thoughts?

[2015-01-05 09:18] STRML opened #970 "Returning XML, CSV based on Accepts header or extension"
Is there any way to do this (say, inject a post-request, pre-response middleware)? Would really like to support `GET /model(.json)`, `GET /model.xml`, and `GET /model.csv`, as well as `GET /model` with an Accepts header.

[2015-01-05 10:45] bajtos commented on #958
As @doublemarked explained above, these nick names are not hard-coded, they are generated from remoting metadata:

Can you pre-process the swagger metadata produced by LoopBack and fix nickname fields to whatever convention works well for you, before you pass the swagger metadata to codegen?

For example, loopback-sdk-angular renames `prototype.updateAttributes` to `prototype$updateAttributes`.

R

[2015-01-05 11:07] bajtos commented on #418
Few more thoughts:
 - Node v0.12 and/or io.js 1.0 will come with built-in support for Promises
 - LoopBack should work with any implementation of Promises compatible with ES6

Modifying callback-based functions to support both callbacks and promises is reasonably easy even without `promisify`, see my work on adding promise support to core `fs` API: https://github.com/iojs/io.js/pull/173

[2015-01-05 14:43] cesarbolanos commented on #968
You have to make a relation to your role's model. Assuming you have mapped the two tables, edit the "relations" tag of your user model and add the linked role to it. Should something like this;

"relations":{
     "roles": {
          "type": "hasMany", // Assuming you have a one to many relationship between the user and roles
          "mode": "YourRoleModelName",
          "foreignKey": "role_id

[2015-01-05 15:10] stephanMettler commented on #327
+1

[2015-01-05 16:22] bajtos commented on #397
Related: how to customize the `Change` model used for change-tracking. https://github.com/strongloop/loopback/issues/926

[2015-01-05 17:39] crandmck opened #971 "Update example apps to use middleware phases"
All the example apps use the old way of defining middleware.  However, with the advent of [middleware phases](http://docs.strongloop.com/display/LB/Using+middleware+phases), there have been some changes that affect all the examples.  Here is a summary of the changes:
* `server/server.js`
* New `server/middleware.json` defines middleware.

See http://docs.strongloop.com/display/LB/Using+middleware+

[2015-01-05 19:18] chandadharap commented on #971
Highest priority.

[2015-01-05 22:06] raymondfeng commented on #944
@greaterweb Thank you for making efforts to improve the tests. Sorry for the delay as some of us were on holidays.

A few comments:

- Good catch to the `invalidCredential`
- Good catch to the end(), which will receive an error if the expected status code doesn't match
- For the content type test, we should set it to something like `text/html`

Can you create a pull request from your repo? It woul

[2015-01-06 02:06] clarkorz opened #974 "How to run scheduled tasks (delay or periodic) in a cluster of loopback app?"
I want to run periodic tasks and delay tasks in loopback app. But `slc run` in production env starts a cluster of loopback app, and the master process doesn't run the app, only the worker process does.

So I can't simply use `setTimeout()` or modules like [*node-cron*](https://github.com/ncb000gt/node-cron), [*agenda*](https://github.com/rschmukler/agenda) in app, since they will be trigger in eve

[2015-01-06 06:35] vigyanhoon commented on #858
5MB is practically too less for a major application housing all data offline.

Please add IndexedDB support. We can't think of an application to survive only on 5 MB where most part of the app is going to be offline.

[2015-01-06 07:11] amenadiel commented on #858
How is localstorage support provided? I thought memory connector was persisted server side.

[2015-01-06 07:20] bajtos commented on #858
See [Memory.prototype.loadFromFile](https://github.com/strongloop/loopback-datasource-juggler/blob/f4c540ca02b33757ced34bea34f35ee607594c31/lib/connectors/memory.js#L111-L115) and [Memory.prototype.saveToFile](https://github.com/strongloop/loopback-datasource-juggler/blob/f4c540ca02b33757ced34bea34f35ee607594c31/lib/connectors/memory.js#L169-L179).

We had extended memory connector to support both

[2015-01-06 07:52] bajtos commented on #597
Actually, I find `sharedClass.find` name rather ambiguous, a better name would be `sharedClass.findMethod`. That reveals a backwards-compatible solution: create a new method `sharedClass.findMethod` accepting a single string (`prototype.foo` or `foo`) and deprecate the `find` method.

Unfortunately fixing `disableRemoteMethod` is still a breaking change.

[2015-01-06 09:37] bajtos commented on #569
It's quite hard to help you without seeing the code you are running. If you are using MongoDB, then you may be affected by the following bug: #809.

[2015-01-06 11:30] bajtos commented on #914
@chandadharap @dashby3000 ping, could you please fill in more details? We still don't have enough information on what is requested in this issue and thus we can't provide any effort estimate.

[2015-01-06 14:36] jrschumacher commented on #858
What about using Mozilla's [localForge](https://github.com/mozilla/localforage) solution?

[2015-01-06 15:38] greaterweb commented on #944
@raymondfeng I rebased my fix branch with the current loopback master and created the pull request.

Please feel free to add your comments to the PR and I'll adjust accordingly.

[2015-01-06 18:05] greaterweb commented on #944
Closing as PR has been merged.

[2015-01-06 18:05] #944 closed

[2015-01-07 01:19] crandmck commented on #950
I'm still working on the rest of the documents, but @bajtos please review this article: http://docs.strongloop.com/display/LB/Defining+middleware+using+phases.  You must login to Confluence to view it.  Once approved, it will replace http://docs.strongloop.com/display/LB/Defining+middleware and http://docs.strongloop.com/display/LB/Using+middleware+phases.

[2015-01-07 02:40] greaterweb commented on #932
I'll revisit this soon, the PR for 944 was merge in today. PR I created for 931 is ready, rebased against loopback master yesterday. Once that is merged in I'll continue work on this.

[2015-01-07 04:27] grantcarthew commented on #957
I would be interested in a connector for rethinkdb also.

[2015-01-07 05:31] BerkeleyTrue commented on #957
Loopback is an opensource project and the main team is pretty busy these days. If someone would like to build one for rethinkdb, it is not too hard. You can use https://github.com/strongloop/loopback-connector to start! Anyone interested?

[2015-01-07 08:28] bajtos commented on #950
Let's keep the description there.

The Express API is not necessarily legacy, because the new phase-based API does not cover all Express API, e.g. methods like `app.post` or `app.route` don't have a phase-enabled variant.

I am proposing to rephrase the sentence: *If you register middleware (or routes) with the Express API, etc.*

[2015-01-07 08:32] bajtos commented on #950
You can, but since we are recommending against using these compatibility shortcuts in new applications, it's IMO better to not mention them at all.

And since you must have the package installed to use the shortcut, there isn't really any reason to prefer the id `loopback.csrf` over the id `csurf`.

[2015-01-07 08:41] bajtos commented on #950
This feels misleading to me.

First of all, there is no guarantee that `err` is an instance of `Error`, it may be anything (e.g. a string message). However, the convention is to pass an error object, so it may be ok to stick to that in this page.

Secondly, "V8 error object" sounds like the value is something internal to V8. Typically, the error is created by user code.

Last but not least, the st

[2015-01-07 08:50] bajtos commented on #950
It still applies. For example, if you register `loopback#urlNotFound` in `initial` phase, your application will return 404 for all request.

[2015-01-07 08:53] bajtos commented on #950
I have finished the review. The article is well written!

[2015-01-07 09:52] gagan-bansal opened #977 "indexes in model.json"
Are defining indexes in model.json file supported? As this is described in [documentation of Model definition](http://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Indexes)
In my case its ignored, I am defining index like this:
[code]
and this also is ignored:
[code]

[2015-01-07 09:58] #809 closed

[2015-01-07 11:09] bajtos commented on #809
The fix is available as of `loopback@2.8.8`.

[2015-01-07 14:24] doublemarked commented on #958
@bajtos, I have some thoughts regarding the nicknames -

  1. The nicknames are currently mapping to the internal models/methods, but this is essentially meaningless to an API consumer. Nicknames are a property of the REST API and thus should reflect the functionality described by the REST API. I would expect the nickname to closely match the behavior of the route.
  2. Following from #1, the nick

[2015-01-07 14:39] bajtos commented on #958
@doublemarked I don't mind changing the format of swagger nicknames generated by loopback (loopback-explorer) as long as the existing clients are either not affected or have a reasonably easy upgrade path (ping @STRML).

What do you propose?

/cc @ritch @raymondfeng

[2015-01-07 18:46] crandmck commented on #950
Thanks, Miroslav.  I incorporated all your comments.  This page is now published as http://docs.strongloop.com/display/LB/Defining+middleware.  Upgrade instructions are in http://docs.strongloop.com/display/LB/Upgrading+applications+to+use+phases.

As suggested, I also created http://docs.strongloop.com/display/LB/Error+object that we can start linking to from various places.  It would be nice to

[2015-01-07 22:56] crandmck commented on #959
@ritch PTAL

[2015-01-07 23:01] ritch commented on #959
Can you add the defaults for `rest.supportedTypes`? I couldn't find them if they are there.

[2015-01-07 23:03] ritch commented on #959
Otherwise LGTM.... @bajtos should probably take a look as he added a lot of the `remoting` options.

[2015-01-08 02:22] #931 closed, assigned to nobody

[2015-01-08 08:07] bajtos commented on #959
A more correct phrasing: when the HTTP request "accepts" type *contains* 'xml'.

[2015-01-08 08:08] bajtos commented on #959
Other than that, the section LGTM.

[2015-01-08 09:54] chinajuanbob commented on #968
Thanks for the reply!

Is it possible to use internal Role and RoleMapping models in this way?

Thanks!

[2015-01-08 14:39] fabien commented on #953
With the PR in place, the above query should work as follows:

[code]

It might have worked before, but not if you defined the people property as:

`people: { type: [Person] }`

[2015-01-08 18:06] ritch commented on #959
After @bajtos change this should be done

[2015-01-08 18:47] raymondfeng commented on #915
Close as duplicate of https://github.com/strongloop/loopback-datasource-juggler/issues/367

[2015-01-08 18:47] #915 closed

[2015-01-08 19:30] crandmck commented on #959
Made all noted changes.

[2015-01-08 19:30] #959 closed

[2015-01-08 21:43] ritch commented on #933
With some deeper digging... it looks like this is a property definition we cannot support with mongodb out of the box.

The model should instead use the default `id` configuration. This will avoid the issue where changes are not saved with the correct id.

/cc @dashby3000 @raymondfeng

[2015-01-08 21:43] #933 closed

[2015-01-08 22:06] ritch commented on #974
Perhaps your loopback (server) app isn't the right place for this. You can use you model's outside the context of a server (eg. a simple node script) like this:

[code]

[2015-01-08 22:52] ritch opened #981 "Enforce guid for replication"
Replication in its current form does not support serial `Number` -ish ids. When a model is created on an offline client with a conflicting id created on the server loopback assumes that the models are the same.

This is easily prevented by using a guid id for your replicated models. Requires https://github.com/strongloop/loopback-datasource-juggler/issues/388.

/cc @raymondfeng @bajtos

[2015-01-09 02:04] BerkeleyTrue opened #982 "loopback.getCurrentContext() not working in a non-http context"
I have a need to get the current user during change.rectify() calls after a client calls bulkUpdate.

I have limited understanding of how domains/cls work but it seems that since the juggler is not binded to the current domain/ns anywhere as the [req/res](https://github.com/strongloop/loopback/blob/master/server/middleware/context.js#L65) objects are, the context is not preserved when the DAO emit

[2015-01-09 03:40] makersu commented on #327
Here's my Loopback with socket.io chat example.
https://github.com/makersu/loopbackchat

[2015-01-09 05:59] superkhau commented on #971
`loopback-example-database` will be split into 5 seperate examples (one for each connector)

[2015-01-09 05:59] superkhau commented on #971
Done https://github.com/strongloop/loopback-example-mysql

[2015-01-09 06:03] superkhau commented on #971
Create example repo to make tracking examples easier. See https://github.com/strongloop/loopback-example

[2015-01-09 06:03] superkhau commented on #971
Done https://github.com/strongloop/loopback-example-angular

[2015-01-09 06:21] superkhau commented on #971
WIP https://github.com/strongloop-internal/scrum-loopback/issues/122

[2015-01-09 07:04] bajtos opened #983 "Use parameterized queries in SQL connectors"
We should use parameterized SQL commands instead of string concatenation in all our SQL-based connectors.

Advantages:

 - No space for introducing SQL injection vulnerabilities. All user-provided values are always encoded by the SQL engine.
 - Parameterized SQL queries have significantly better performance, as the same querying plan can be used for all queries independently of parameter values. F

[2015-01-09 07:20] HilkoLantinga commented on #327
Makersu, that's not what we are after. We want to use it to communicate to API's build with loopback.

[2015-01-09 10:02] bajtos commented on #933
Related: https://github.com/strongloop/loopback/issues/981

[2015-01-09 11:10] marcuspl opened #984 "Role.id and Role.name mixup in resolving ACLs and Role.isInRole"
The documentation for the ACL class states that the principalId for a Role should be "ID of the principal - such as appId, userId or roleId". When a role is resolved in ACL.checkAccessForContext we see that it is called with roleModel.isInRole(acl.principalId, ...
However, when looking at the documentation for Role.isInRole:

[code]

And later on it is used as a name, not as an id: this.findOne({w

[2015-01-09 11:36] bajtos opened #985 "Fix checkpoint implementation"
The REST API uses one checkpoint id. In practice, the client checkpoint number will be different than the server-side number. (Think about two clients connected to the same server).

#1157

 - [x]  `Model.replicate` will accept two `since` values - one for the source model, another for the target model. The single `since` value will remain supported for backwards compatibility with a deprecation w

[2015-01-09 11:38] bajtos opened #986 "Race condition in the replication algorithm"
When two clients are preforming replication at the same time and the same object was changed in both clients, some of the changes may get lost. The replication algorithm should check the data before the update to verify it was not changed by another party during the replication process. ~~This will most likely require LoopBack to support transactions for SQL datasources and [Update if Current](htt

[2015-01-09 11:40] bajtos opened #987 "High-level REST API for replication"
The current version of the REST replication protocol is too chatty. There are two many messages and too much data being exchanged between the client and the server during a two-way sync, the reason is that the replication algorithm is invoking lots of fine-grained methods. We should build a set of replication methods providing a higher-level REST API where only few requests are needed to perform a

[2015-01-09 11:41] #712 closed, assigned to bajtos

[2015-01-09 11:43] bajtos opened #988 "Documentation for replication and offline data access & sync"
Review the current documentation and extend it as necessary, so that the following information is available:

 - how to setup replication
 - how to setup an offline-capable client
 - how the replication algorithm works under the hood
 - a list of caveats and known issues

Possibly useful document: https://gist.github.com/BerkeleyTrue/f960946ba72814006651

[2015-01-09 12:09] bajtos opened #989 "Reduce the size of loopback client bundle"
At the moment, a browserified loopback module has about 1.4MB uncompressed, 650KB compressed. This size is unacceptable, especially for mobile browsers on a slow internet connection. We need to get at least below 100kb.

This GH issue is a time-scoped story. The goal is to analyse the dependencies, fix as many low-hanging fruits as possible and then create follow-up stories for the unsolved items.

[2015-01-09 12:15] jrschumacher commented on #858
Ah, that makes sense. Maybe it could be a wrapper which try's to detect leveldb or local forge and if found then resorts to the included library?

[2015-01-09 12:22] bajtos commented on #858
API wise, we could use localForge instead of IndexedDB. However, [https://mozilla.github.io/localForage/localforage.min.js] is almost 24kb, which is a problem.

Why are you pushing for localForage, what are the advantages compared to pure IndexedDB?

[2015-01-09 12:23] jrschumacher commented on #858
I'm not. Just what I know.

[2015-01-09 12:26] bajtos commented on #858
Fair enough. I was wondering if there is something important that I am missing.

[2015-01-09 12:32] bajtos commented on #950
LGTM, feel free to close this issue as resolved.

[2015-01-09 15:44] BerkeleyTrue commented on #985
This is something I am running into now, but haven't thought of a way to fix. What about adding local/remote checkpoint values to the Change model?

[2015-01-09 19:06] ritch commented on #440
@superkhau I cannot reproduce this...

Here is my model.js:

[code]

And here is what I get in the explorer:

![screen shot 2015-01-09 at 11 05 28 am](https://cloud.githubusercontent.com/assets/462228/5685496/91547708-97ef-11e4-81b4-fbc12d7a0d6a.png)

[2015-01-09 19:29] superkhau commented on #440
@ritch I checked via the inspector in Firefox, not explorer. Try inspecting for body values via Chrome inspector and see if you get anything.

[2015-01-09 20:14] ritch commented on #440
Looks fine to me...

![screen shot 2015-01-09 at 12 13 24 pm](https://cloud.githubusercontent.com/assets/462228/5686565/fbbcbf0c-97f8-11e4-88ed-79dc84848ec0.png)

[2015-01-09 20:16] ritch commented on #440
Here is what I get:

![screen shot 2015-01-09 at 12 15 44 pm](https://cloud.githubusercontent.com/assets/462228/5686607/4c4b2d5a-97f9-11e4-861b-697133c23a68.png)

Looks fine to me...

[2015-01-09 20:20] ritch commented on #440
@eabruzzese @superkhau

I'm assuming this has been fixed. If you guys have steps to repro or any other related issue please re-open this.

[2015-01-09 20:20] #440 closed

[2015-01-10 01:07] stringbeans opened #990 "beforeValidate hook does not seem to pass changes made to modelInstance on in the chain"
I have a model "Student" with a required field "statusId"

When I create the student, I do not set the statusId and I want to be able to set a statusId by default in the model hook.

To do this properly, I need to set it in the beforeValidate hook (otherwise the validation will catch that this required field is missing and spit back an error).

[code]

However, I still get a validation error back

[2015-01-10 07:11] fabien commented on #990
You should try to not set `required: true` on the `statusId` but instead try the following:

[code]

[2015-01-10 13:32] Nutelac opened #991 "REST upsert with where instead of by id"
It's possible to create upsert via REST, with where parameters, like when updating?

I tried

[code]

But this just create new record, even when record with **prop1=42** and **prop2=24** exists.

Thank you.

[2015-01-11 17:31] vyctorbh opened #993 "delete"

[2015-01-11 17:31] #993 closed

[2015-01-11 19:46] dashby3000 commented on #799
Yes. This is still relevant.

[2015-01-12 01:18] imkven opened #994 "Any good way to set system wide IDs?"
I define custom ID inside the `boot` folder. My problem is every time I created new persistent model, I need define in here. Any better way to do it system wide?

[code]

[2015-01-12 03:06] bluestaralone opened #995 "Supertest is not compatiple with loopback.getCurrentContext"
When i apply new patch of fixing "loopback.getCurrentContext()" and use it in the app, i get error when i run "npm test" in command line. Please help.
[code]

[2015-01-12 04:18] jorgeramos commented on #274
Hi @DanielBodnar  - your code above helped me solve a similar issue. The code below iterates through all model relations converting them to proper mongo ObjectIDs if the data property is either an object with an id or just a string. It also fixes dates that were getting stored as string instead of ISODate. As it's going through the data object, it checks to see if the prop is a nested model and tr

[2015-01-12 04:50] raymondfeng commented on #274
Sorry I missed it. I'll check soon.

[2015-01-12 05:13] jorgeramos commented on #274
i updated the code slightly to provide proper foreign key when the relation is defined without a custom foreign key. Also, it would be great if the date and object id ran through a regex before attempting to process. At the very least there should be some try-and-catch to prevent the app from erroring out...

[2015-01-12 05:50] DanielBodnar commented on #274
Thanks @jorgeramos, looks much more elegant.

[2015-01-12 16:14] bajtos commented on #799
@dashby3000 @altsang Could you please fill in details about what is this story about?
/cc @chandadharap

[2015-01-12 16:16] #886 closed

[2015-01-12 16:31] bajtos commented on #985
That would not work as you can have multiple clients for the same server/model/change.

Here is what I'd like to implement instead: when a replication is finished, the new checkpoint should be created as `max(localCheckpoint, remoteCheckpoint)+1`.

[2015-01-12 16:52] raymondfeng commented on #274
The type of a foreign key property will be updated to match to the corresponding primary key by LoopBack. I'll check the add() method to see why the value is stored as string in the joined collection.

[2015-01-12 16:54] raymondfeng commented on #995
@bluestaralone Can you elaborate the steps to reproduce the problem?

[2015-01-12 16:57] raymondfeng commented on #951
@superkhau Can you try to reproduce the problem?

[2015-01-12 17:24] crandmck commented on #971
This is a separate issue, but is actuallyl part of this issue: https://github.com/strongloop/loopback-getting-started/issues/3.

It should the the top-priority since it affects Getting Started.

[2015-01-12 17:36] crandmck opened #997 "Add info on how to "skin" or brand API Explorer"
From Dennis:

If doc is there I cannot find it.  I know it used to be this summer and easy to find - it probably just got lost in the reshuffling of the docs. If I have a vote in the matter, it should be in the Getting Started guide.  It is a basic question and showing a developer how to modify Explorer to look like their company's brand before showing their boss the API is, believe it or not, a b

[2015-01-12 17:56] superkhau commented on #951
@jrschumacher Thanks for the report!
@raymondfeng I will try to reproduce it.

[2015-01-12 18:49] superkhau commented on #951
@jrschumacher Can you post the complete package.json so I can use it to reproduce the exact issue?

[2015-01-12 18:50] jrschumacher commented on #951
@superkhau I used `slc` to create a new project

[2015-01-12 20:36] seriousben commented on #292
The following code is not a workaround since it is executed everytime causing the created date to change. It is a workaround for the updatedAt timestamp.
[code]

[2015-01-12 20:49] seriousben commented on #977
You need to call `app.datasource.db.autoupdate()`.

[2015-01-12 20:52] seriousben commented on #974
Having something like https://github.com/LearnBoost/kue running a similar script is probably the way to go.

[2015-01-12 21:16] chandadharap commented on #950
resolved. closing.

[2015-01-12 21:16] #950 closed

[2015-01-12 21:20] #761 closed

[2015-01-13 03:31] wilsonmar commented on #789
Last year I wrote up an explanation of Google's JWT OAuth2 implementation to go with code I wrote to explore Google's API and load test connections. I just jumped on the Lookback bandwagon, but would be happy to repurpose my write-up and the "beautiful" flowchart that I made to go with the text.

[2015-01-13 05:28] gagan-bansal commented on #977
where should I add this line. I tried in
`` server/server.js``
after the boot script i.e after
``boot(app, __dirname);``
but there is an error
``TypeError: Cannot read property 'db' of undefined``

[2015-01-13 06:52] chandadharap commented on #901
Is this a priority atm?

[2015-01-13 06:53] raymondfeng commented on #789
@wilsonmar That would be fantastic. I look forward to your write-up.

[2015-01-13 07:11] gagan-bansal commented on #977
I am able to achieve the unique index with [validation](http://docs.strongloop.com/display/public/LB/Validatable+class#validatable-validatesuniquenessof) of the model in ``model.js``
[code]
but still to create index (not unique) on any property I need to define the index in ``model.json``.
And defining index in ``model.json`` is more simple. So still I need to resolve the issue.

[2015-01-13 07:18] ijroth commented on #901
It isn't, but when discussed it was a small item that would pay dividends in terms of the community so that's why it was scheduled to work on. (If I remember the discussion from last week.)

[2015-01-13 09:09] superkhau commented on #971
Example repos are also being updated for errors

[2015-01-13 12:29] bajtos commented on #985
Uff, this issue is much more complex than I initially thought.

Problems we need to address:

 1. Ensure that no changes are added to the checkpoint that is being
   synchronized while the replication is in progress.

    *Example:*

[code]

    *The problem:*

    The next run will consider change D as already synchronized

    *Solution:*

    Increment the checkpoint before querying for the lis

[2015-01-13 14:06] seriousben commented on #977
I have a script that I run after deployments:
[code]

[2015-01-13 16:45] gagan-bansal commented on #977
Thank you, it worked for me.
So technically which one is better to use, or which one is more efficient - defining index in model.json or using unique validation?
Does unique validation also rely on mongodb (or database unique index)? if yes I think both are same.

[2015-01-13 17:07] crandmck commented on #789
@wilsonmar That would be great.  In what format was your article written?  I can work with almost anything, but best for me would be Google Doc or just add a page to the LoopBack GitHub wiki: https://github.com/strongloop/loopback/wiki.  Then I can move and convert to Confluence on docs.strongloop.com.  Thanks!

[2015-01-13 17:31] wilsonmar commented on #789
In my write-up I explain each step of the JWT process and what data goes
into it, all illustrated by a gradual-reveal graphic. But I'm embarrassed
that I wrote the thing in MS Word and the graphic is in PowerPoint.  I can
convert the text into wiki markup. What do you recommend that I use to
create the graphics? Most importantly, where can I find sample Node.js code
to make JWT OAuth2 calls (for B

[2015-01-13 17:44] crandmck commented on #789
@wilsonmar If you can convert to wiki format, that would be fine... Or you can just upload to Google Drive, and convert to Google Doc format--then I can take it from there (just make sure permissionss are set properly).  Or just email me the Word doc and I can convert it... Whichever you prefer.

For the graphics in PowerPoint, you could just take screenshots of them (or save to .png or .jpg from

[2015-01-13 18:46] rnybergh opened #1002 "Storage with custom file names"
We are implementing a solution where the user can upload files that are related to a certain group. Using the storage-connector and Container, there does not seem to be any way of changing the incoming filename. Thus there seems to be no other way of naturally grouping the files together than creating a container for each group. This would work nicely on the local filesystem, since the container i

[2015-01-13 18:46] wilsonmar commented on #789
Rand, I'll start by emailing you what I have, but only to show you my
starting point. Where do I find your email address?

I say starting point because the coding example I wrote refers to another
programming language. Nevertheless, I structured the coding so that someone
can just make a call and the rest of the coding is taken care of in the
library code. I would think we need to do the same for

[2015-01-13 18:55] ritch opened #1003 "Disable dynamic ACL checks via setting"
Many LB apps aren't using dynamic ACLs... yet the access control pipeline can't know this. It still will query the `dataSource` for dynamically defined access controls. What if we added something like:

[code]

When false we would just skip the query for dynamic ACLs...

@raymondfeng @bajtos

[2015-01-13 19:03] raymondfeng commented on #1003
+1. On top of that, we should allow static roles/roleMappings, global ACLs across models in json.

[2015-01-13 19:08] bajtos commented on #951
@jrschumacher do you have another `package.json` file in your project tree (besides node_modules dependencies)? It's possible you have run into https://github.com/strongloop/loopback-workspace/issues/181

[2015-01-13 19:12] jrschumacher commented on #951
@bajtos yes that's exactly my scenario. I can remove the other project from my repo, but is there another solution?

[2015-01-13 19:49] crandmck commented on #789
My email is **rand at strongloop dot com**.

[2015-01-13 20:05] ritch commented on #985
This is certainly an issue. Perhaps the checkpoint for a change should always be set ahead of the current checkpoint.

[code]

`Model.replicate()` is never aborted. Conflicting changes are never replicated. It is up to user code to fix the model in a way that it can be replicated.

We should not be updating the checkpoint of a conflicting change... It should basically be discarded from replication

[2015-01-13 22:35] seriousben commented on #977
validation does a simple find.

Glad that it helped, you can chose this now :)
On Jan 13, 2015 11:46 AM, "Gagan Bansal" <notifications@github.com> wrote:

[2015-01-14 01:29] #977 closed

[2015-01-14 01:36] panduroab opened #1004 "User.resetPassword method emit Response Code 204 every time"
When I try to use resetPassword in the API (http://0.0.0.0:3000/explorer/#!/Users/resetPassword) sending an unregistered or registered User every time the API response is 204 "no content", only when I don't send the "email" parameter I optain a Response Code 400 and an error message

[code]

I suggest add an message error like this when the User is unregistered:
[code]

[2015-01-14 04:21] bitmage opened #1006 "Feature Proposal: Facilities for monitoring Model local state"
I wanted to kick around an idea and see what others think.

Most other model systems (Mongoose, Backbone, ActiveRecord) have facilities for monitoring dirty state of objects and provide hooks that can activate when the values change.  Loopback seems to be taking a different path - it's building out towards rich replication features on collections, but doesn't have much in the way of events and sta

[2015-01-14 08:41] bajtos commented on #878
The bug should have been fixed by #809 in `loopback@2.8.8`, I am closing this issue as resolved. Please leave a comment if the problem is still present in the latest loopback version.

[2015-01-14 09:18] bajtos commented on #982
@BerkeleyTrue could you please provide a test case to reproduce the problem? Ideally using a memory connector.

[2015-01-14 10:32] aars opened #1007 "Loopback 2.10.0 & express 4.11.0 > deprecated req.param(name)"
Loopback still uses express' deprecated `req.param(name)`. Since express 4.11.0 this will result in `deprecated` warnings.

[code]

I will patch it now.

(Haven't contributed to Loopback or any Node project yet, so setting it all up, making sure tests run etc might take a bit longer than normal)

[2015-01-14 13:52] bajtos commented on #985
Thanks @ritch for review.

A) The current implementation stops the replication if there is a conflict. Even though the response contains non-conflicting deltas, they are not applied.

B) A database write may fail, the client may crash, there are many reasons why the replication may not finish successfully.

In all of these cases, the subsequent run of the replication must pick again all changes th

[2015-01-14 14:00] bajtos commented on #951
I see. I am closing this issue as a duplicate then. I am not aware of any other solution ATM. The good news is that strongloop/loopback-workspace#181 has pretty high priority for us.

[2015-01-14 14:00] #951 closed

[2015-01-14 17:59] ritch opened #1009 "isSet query operator"
We should add support for something like this:

[code]

This would allow you to query for undefined fields using `$isset` in mongodb and `NULL` in SQL databases.

[2015-01-14 17:59] ritch commented on #1009
@kraman @bajtos @raymondfeng @fabien

[2015-01-14 18:26] bajtos commented on #935
422 is a validation error, the details are returned in the response body. Please post the full error response here.

[2015-01-14 18:31] bajtos commented on #1009
Well if we can't use `{ where: { someField: null } }`, then `isSet` makes sense.

[2015-01-14 18:47] BerkeleyTrue opened #1010 "Local Model hasOne remote model uses incorrect model id"
I have a model Mat with HasOne relation Origin. I have local model LocalMat in the client.

Calling `localMat.origin()`  causes Unknown "origin" id "undefined".

It seams that https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L1432 is useing the model name 'localMat' to create the foreign key 'localMatId' which is incorrect.

This does not seem to aff

[2015-01-14 19:24] raymondfeng commented on #1009
We can use `{ where: { someField: null } }` today but the semantics is different for NoSQL DBs. For example, in Mongo,

 someField: null ==> someField: {$type: 10}
 someField: {isSet: false} ==> someField: {$exists: 10}

I'm fine to introduce connector specific extensions. Each connector should validate such extensions and report errors if a given operator or syntax is not supported.

[2015-01-14 19:59] jrhone opened #1011 "ACL permission checking"
Reproduction:
Create a remote method on a model that is called via GET, do not set the access type (it will default to READ since the verb is GET)

    Poll.remoteMethod(
        'inbox',
        {
            accepts: [{ arg: 'limit', type: 'number' }],
            returns: { arg: 'results', type: 'object' },
            http: { verb: 'get' },
            description: 'Get inbox'
        }
    );

[2015-01-14 20:47] steve-the-edwards opened #1012 "Update Android SDK Getting Started Guide"
SDK 'Getting Started' guide uses deprecated object-wrappers and callbacks.

[2015-01-14 20:53] crandmck commented on #744
@ritch Please review: http://docs.strongloop.com/display/LB/Remote+connector.

[2015-01-14 20:58] ritch commented on #744
Looks good.

[2015-01-14 21:12] crandmck commented on #744
Thanks, I think we can close this now.

[2015-01-14 21:12] #744 closed

[2015-01-14 21:14] crandmck opened #1013 "Review and revise loopback-example-remote"
Review https://github.com/strongloop/loopback-example-remote and make it consistent with other examples.

Amir:
Connect to : https://github.com/strongloop/loopback-example-remote/pull/7

[2015-01-14 22:39] crandmck commented on #1012
@steve-the-edwards It would be great if you would tackle this.  GH is not letting me assign the issue to you, though.  But I'll assume you're going to address it, unless I hear otherwise from you.  Thanks!

Please let me know if you have any questions about using Confluence.

[2015-01-14 23:53] ih2502mk opened #1016 "Long running boot scripts may break the sequence of mounting middleware."
Just pointing this out here in case someone encounters similar issue.

In a `server.js` file, that normally gets generated by `slc loopback` there is a set of middleware mounted on the app like this:
[code]
The problem that I've encountered happens when I have some long running asynchronous boot script in my `./boot` directory. The actual reason I believe is my boot script `process.nextTick()`ing

[2015-01-15 00:00] raymondfeng commented on #1016
If you have async boot scripts, `boot(app, __dirname, function(err) {...});` should be used to wrap the rest.

@bajtos Have we updated the generator-loopback to scaffold server.js?

[2015-01-15 00:01] superkhau commented on #1016
@raymondfeng not yet, that one is on my list

[2015-01-15 00:31] superkhau commented on #1016
@ih2502mk There is an example of the async boot script @raymondfeng mentioned here: https://github.com/strongloop/loopback-example-app-logic/blob/master/examples/async-boot-script/server.js#L16-L23

[2015-01-15 01:24] ih2502mk commented on #1016
Yes, actually doing the rest in callback is apparently better because `app.once('booted', ...)` may execute later than the `'booted'` event emits.

[2015-01-15 12:00] bajtos commented on #1009
We can use `{ where: { someField: null } }` today but the semantics is different for NoSQL DBs.

Yeah, I was sort of expecting that, in wich case `null` is not a solution. Since LoopBack is promising to provide single API working on all databases, we need a solution that works consistently in all supported databases.

[2015-01-15 12:25] bajtos commented on #1016
See https://github.com/strongloop/loopback-workspace/issues/170 and the related pull requests, most notably https://github.com/strongloop/loopback-workspace/pull/172.

[2015-01-15 12:27] bajtos commented on #1016
Also note that the new template registers middleware via `middleware.json` using phases.

Another solution (workaround) is to rewrite your code to use phases too:

[code]

[2015-01-15 13:27] gagan-bansal commented on #817
+1

[2015-01-15 14:18] #1007 closed

[2015-01-15 16:33] Metux-ClicRDV opened #1017 "Setting idInjection:true and a property with id:true?"
Hey there!

Here is what I would like to achieve and what i am struggling with to find a way to do it:

I  have a model in which I create a randomized unique "uid" property (with hat).
``` uid: {type: String, id: true}```
I would like also the model to generate an id (_id) with the mongoDb connector thanks to
``` idInjection: true ```

Now I can GET any newly created instances using their uid as t

[2015-01-15 19:40] steve-the-edwards commented on #1012
Basic update is done now.  I think reviewed?  Please review again if necessary.  Otherwise, can close.

[2015-01-15 19:40] crandmck commented on #808
@altsang This is ready for intial review.

The work to create releases in the repo is not yet done.  I'd like at least one release, so the reader can easily get the entire client directory, _except_ for the `lb-services.js` file, which they should generate.

Do we want to have releases for each and every step along the way, so someone can "jump in" along the way--as we did for GS part 1?

I know I

[2015-01-15 21:33] raymondfeng commented on #1017
The mongodb connector maps ‘id’ to ‘_id’ (and that’s why you saw the mongodb documents with _id). You should use ‘uid’ for your code in LoopBack.

We also plan to allow custom mapping of LoopBack model properties to mongodb fields in the future.

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc.

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://stronglo

[2015-01-15 21:53] ritch commented on #994
Can you clarify what you mean by system wide?

[2015-01-16 00:55] crandmck commented on #1012
I approved your edits. Thanks for your contribution!

[2015-01-16 00:55] #1012 closed

[2015-01-16 07:49] bajtos commented on #838
It is probably better to defer this enhancement until https://github.com/strongloop/loopback-datasource-juggler/issues/367 is implemented.

[2015-01-16 07:53] bajtos commented on #292
Could you please provide more details, ideally a small example that we can run to reproduce the problem?

[2015-01-16 08:07] bajtos commented on #833
I believe this issue is a duplicate of https://github.com/strongloop/loopback-boot/issues/73

[2015-01-16 09:58] imkven commented on #994
I want built-in users ID able to customize too. Any where allow me to define once will override all models ID (Include built-in model ID)?

Now, I do it in manual, I create a boot script:
[code]

But, I don't think this is the best way to handle it, because it will override default beforeCreate() from user model.

[2015-01-16 10:23] Metux-ClicRDV commented on #1017
Thanks @raymondfeng , do you have any roadmap where I can check this feature?

[2015-01-16 10:23] #1017 closed

[2015-01-16 12:13] spirospolitis opened #1018 "Model JSON default scope declaration breaks update"
Assuming a model definition like so:

(test-model.json)

[code]

and having overridden the TestModel.deleteById method:

(test-model.js)

[code]

the query produced is the following (datasource "debug": true):

[code]

Seems that the default scope column "deleted" value is assigned as the SET value of the "deleted" param.

Note that if one is to remove the default scope declaration from the .json

[2015-01-16 17:17] ritch commented on #974
Closing this for now... Please re-open if you have other related questions.

[2015-01-16 17:17] #974 closed

[2015-01-16 17:22] britztopher opened #1019 "Add connect-flash to loopback app"
Right now there is no express middleware to handle flash messages. It would be nice to add connect-flash to express app.  I found this issue out while using `loopback-component-passport`, and couldnt figure out why the `failureRedirect` kept being called.  The providers.json allows for failureFlash, however, when set to true I get an error from express stating that no 'flash' method is available,

[2015-01-16 17:32] ritch commented on #1011
@jrhone does https://github.com/strongloop/loopback/pull/1014 fix your issue?

[2015-01-16 19:03] raymondfeng commented on #1019
@britztopher It probably doesn't belong to `loopback`. Maybe `loopback-component-passport`?

[2015-01-16 19:16] britztopher commented on #1019
@raymondfeng There is no connect-flash in either loopback-component-passport or loopback.  Like I said, I had to add it then require it.

[2015-01-16 19:20] raymondfeng commented on #1018
Default scope is applied to operations that have a `where` filter.

[2015-01-16 19:25] raymondfeng commented on #1019
I understand. I was wondering if the dependency of `connect-flash` could be added to `loopback-component-passport` instead of `loopback`.

[2015-01-16 19:27] britztopher commented on #1019
@raymondfeng Yeah, it really depends, do we want to have just flash messaging in passport, or do we want to be able to use it throughout all express.  I find flash messaging very useful, but some may find it just as more noise.  It can be added to either.

[2015-01-16 20:08] crandmck commented on #901
OK, I created spaces for Japanese and Russian docs that initially contain copies of the English LoopBack docs (as of yesterday):
- http://docs.strongloop.com/display/JA/LoopBack
- http://docs.strongloop.com/display/RU/LoopBack

I also created a custom macro to display a link to the the source (English) article, and the date the translated page was last updated; I added this as a space header to th

[2015-01-16 21:11] spirospolitis commented on #1018
Hi Raymond,

Surely I understand that, my point is that the default scope actually changes the value of the attribute that is to be set in the update clause (i.e. converts the SQL string from 'UPDATE `test_model` SET **`deleted` = 1** WHERE (`id` = 1) AND (`deleted` = 0)' to 'UPDATE `test_model` SET **`deleted` = 0** WHERE (`id` = 1) AND (`deleted` = 0)').

[2015-01-16 21:30] raymondfeng commented on #1018
I see what you mean now. The default scope idea is from Ruby On Rails (http://api.rubyonrails.org/classes/ActiveRecord/Scoping/Default/ClassMethods.html#method-i-default_scope).

It would be tricky for upsert though.

@fabien What's your take?

[2015-01-16 21:45] fabien commented on #1018
@raymondfeng I think the current behavior is correct, and you can fine-tune the behavior by overriding the `defaultScope` and possibly `applyProperties` methods of your model. It is actually encouraged to alter these methods for cases like this.

Note that `defaultScope` came about to fully support the new context handling within Loopback. That is the most useful use-case. Otherwise you'd usually

[2015-01-17 22:52] psi-4ward commented on #327
I ended up using sails.js cause getting the model create/update/delete notifications in my angular app is essential

[2015-01-18 05:13] FelipeAguayo commented on #109
Have you implemented this? (transactions). because, I really need to implement this in my project

[2015-01-19 01:59] BerkeleyTrue opened #1020 "Support loopback.getCurrentContext in the browser"
This would help with things like storing user sessions and access token in localStorage while using an existing api.

[code]

[2015-01-19 07:30] bajtos commented on #109
Not yet, it hasn't been a priority for us.

[2015-01-19 12:32] FelipeAguayo commented on #109
Uhmmm, the data consistency should be a priority. Especially if the framework works with databases.

[2015-01-19 14:36] AvivLander commented on #353
I'm getting this error of userId: NaN as well, but using a different JugglingDB connector. Strongloop v2.10.2 via NPM.

I'm using the standard getting started project with no models -- just User.

[2015-01-19 17:07] zephyr4434 opened #1021 "RethinkDB Connector"
Are there plans for adding a connector to RethinkDB?

[2015-01-19 17:16] altsang commented on #109
If the DB driver supports transactions you should be able to call natively from the LB connector.  We're not implementing transactions at the Juggler level at this time.  2PC is difficult enough when the multiple instances of a data source support it, let alone across multiple disparate data sources.

Our priorities for @bajtos and the rest of the very small team are being driven by our customer o

[2015-01-19 17:37] FelipeAguayo commented on #109
ok, thanks for the answers. I'll wait later versions.

[2015-01-19 17:37] AvivLander opened #1023 "userId NaN"
I'm getting an error of userId: NaN using the standard "getting started" project with no models -- just User.

Strongloop v2.10.2 via NPM
Using a JugglingDB connector

The issue seems directly related to a previous issue: https://github.com/strongloop/loopback/issues/353

[2015-01-19 17:39] AvivLander commented on #1021
@zephyr4434, check this out: https://github.com/fuwaneko/jugglingdb-rethink

With version two of Loopback, there is currently an issue with parsing when an Int type comes back as NaN. I mentioned it in a previous issue: https://github.com/strongloop/loopback/issues/1023

[2015-01-19 17:49] superkhau commented on #1023
What step of getting started did you get to?

[2015-01-19 18:06] AvivLander commented on #1023
I made sure that I had the latest version of StrongLoop, but here are the steps:

npm install -g strongloop
slc loopback
(Default answers)

Updated datasources.json to:

{
  "db": {
    "host": "localhost",
    "port": 28015,
    "database": "test",
    "name": "db",
    "defaultForType": "db",
    "connector": "jugglingdb-rethink"
  }
}

Then I ran the server with: slc run

Standard stuff.

The j

[2015-01-19 19:12] altsang commented on #808
reviewed, I think releases for each step would be good so that someone who understands up to a certain point can jump ahead by fast forwarding

will take a more in-depth look at the Angular JS part to what should be linked out

please #923, we should release this as is and can work on ...

1) releases for each step
2) deploy step - #923

[2015-01-19 20:24] AvivLander commented on #957
Why not use the existing https://github.com/fuwaneko/jugglingdb-rethink?

[2015-01-19 22:42] BerkeleyTrue commented on #957
Is that compatible with Loopback? It does not mention it anywhere in the repo. It states it is a connector for jubgglingDB. What is your experience with it @AvivLander ?

[2015-01-20 00:19] altsang commented on #901
looks good, although we need some reference to the version of the products and API, in general we actually need the version displayed for each of the components - LoopBack 2.X so that we can reference the translation back to a specific version

[2015-01-20 00:49] crandmck opened #1024 "Promote the LB Google Group better in docs and loopback.io"
Per Al, we need to promote the GG better in the docs and on loopback.io.  It's a great resource that apparently many new LB developers are not aware of.

[2015-01-20 01:57] #971 closed

[2015-01-20 08:07] AvivLander commented on #957
It is compatible for version 1 of Loopback, but there is currently a bug with version 2. The issue is not really from the library though... On user login, the param userId is reaching the connector with a value as NaN. This causes the connector library to fail. There's an open bug for this here: https://github.com/strongloop/loopback/issues/1023

With version 1 of loopback it works wonderfully. It

[2015-01-20 11:41] britztopher commented on #1019
Any more thoughts on this.  If not I am going to add this to loopback project and submit a PR.

[2015-01-20 13:35] brillout opened #1026 "lb-ng cli command continuously generates lb-sevices.js"
The cli command is `lb-ng server/server.js client/generated/lb-services.js`.

It is expected that the node process generates `lb-services.js` once to then terminate itself.

Instead the node process generates `lb-services.js` over and over again and does not terminate.

[code]

[2015-01-20 15:22] aymeba opened #1027 "Register global beforeRemote hook?"
Hi,
i'm trying to register a hook 'beforeRemote' globally valid for all model and actions. Registering hook global :

[code]

But my remote hook is never called.

[2015-01-20 16:22] aymeba commented on #1027
Solved.

I've created a hook to iterate all models and add a remote Hook.

[2015-01-20 16:22] #1027 closed

[2015-01-20 16:35] weslley39 commented on #517
i'm having the same problem trying to do a nested include. Any solution ?

[2015-01-20 16:49] raymondfeng commented on #1019
Please submit a PR to loopback-component-passport and make it a `optionalDependency`.

[2015-01-20 17:27] dossorio opened #1028 "Overriding remote method metadata"
Hello !

I am overriding built in user remote method login successfully, but I can't override its metadata.

I have tried with:

[code]

without success.

In my user.js file:

[code]

Debugging **User.sharedClass._methods** I have both definitions, the built-in and my metadata, this causes an undesirable behaviour and the custom remote method login is called following built-in metadata.

Is there

[2015-01-20 17:49] crandmck opened #1029 "Create tagged releases for Getting Started part 2"
Initially, we need at least one tagged release for loopback-getting-started-intermediate. It should include everything EXCEPT `client/js/services/lb-services.js`, because the tutorial walks them through creating this file (see http://docs.strongloop.com/display/LB/Create+AngularJS+client).

[2015-01-20 18:13] superkhau commented on #1029
Before finalizing, we can just link to specific SHA's instead of creating tags. I will do that once we decide on that the steps are.

[2015-01-20 18:23] crandmck commented on #901
I added 2.x to the space-wide headers and emailed the volunteer translators.  Will post to GG soon, then we can close this one.

[2015-01-20 18:44] crandmck commented on #1029
At this point, I only have the one step that needs a release.

@altsang Do you want us to have tags for each step of GS2, as we did for part 1?  Currently, the tutorial _doesn't_ have the text like:

Let us know if you want us to add that.

[2015-01-20 19:25] superkhau commented on #1026
I can't reproduce this. Can you post some steps to reproduce?

[2015-01-20 19:40] ritch opened #1030 "Improve Dynamic Remoting Docs"
Below is an example that is becoming a common use case... We should document this and add examples to the [loopback-example-remote](https://github.com/strongloop/loopback-example-remote) project.

What I think we should highlight:

 - How to create a client with a dynamic url / config
 - **...and or...** How to correctly configure dynamic datasources
 - Making authenticated requests
 - Modifying t

[2015-01-20 19:49] crandmck commented on #1029
Per Al, we want to have tags at each of the following points:
1. After creating the data sources - result of following  http://docs.strongloop.com/display/LB/Create+new+data+source
1. After creating new models - result of http://docs.strongloop.com/display/LB/Create+new+models
1. After defining relations - result of http://docs.strongloop.com/display/LB/Define+model+relations
1. After defining ACL

[2015-01-20 19:53] crandmck commented on #901
Posted to GG https://groups.google.com/forum/#!topic/loopbackjs/6aCJQ3ySD3E

[2015-01-20 19:53] #901 closed

[2015-01-20 21:58] crandmck commented on #1024
Added to loopback.io and in various placed in the docs.

[2015-01-20 21:58] #1024 closed

[2015-01-20 22:57] crandmck commented on #688
Added http://docs.strongloop.com/display/LB/Environment-specific+configuration#Environment-specificconfiguration-CustomizingRESTerrorhandling.

[2015-01-20 22:58] crandmck commented on #688
@bajtos Please review and close if it looks OK.

[2015-01-20 23:07] crandmck commented on #762
We've completely rewritten GS since this was opened, and it now includes steps for adding a boot scripts and creating a custom remote method.

[2015-01-20 23:07] #762 closed

[2015-01-20 23:08] crandmck commented on #751
This is covered now by http://docs.strongloop.com/display/LB/Create+AngularJS+client in "Getting Started Part 2".

[2015-01-20 23:08] #751 closed

[2015-01-20 23:15] glesage opened #1031 "Missing ID when POST Multiple models with custom hook"
No idea how to name this issue properly ;P

Based on this thread: https://groups.google.com/forum/#!topic/loopbackjs/MjAND8jVFvc

The error can be reproduced using this repo: https://github.com/superkhau/zipcode (from @superkhau)

--> I have a custom hook for beforeCreate for a model which basically checks to see if an object with the same data already exists and return it if it does.

Here is the

[2015-01-21 00:12] rmg commented on #1030
Is your `Authorization` header example for sending credentials? That will work for Basic auth and Bearer auth, but not Digest.

[2015-01-21 01:03] bitmage commented on #584
@rhalff this didn't quite work for me, I had to add the following fields to the config in order to restore boot script loading and other default behavior:

1. appRootDir
2. config
3. modelSources
4. bootDirs
5. models

Here is the [resulting config.js](https://gist.github.com/bitmage/0c7a3b4f08ddfcf0d2cc) for me.

@bajtos agreed on the flexibility, this is great.  Can you use my gist to create som

[2015-01-21 01:50] pulkitsinghal commented on #1030
@rmg will it work for session token that has already been issued for a user who logged in?

[2015-01-21 02:06] rmg commented on #1030
@pulkitsinghal That depends on the backend and actual contents of `ADMIN_ACCESS_TOKEN`. I don't know the full background of this issue/proposal (I was probably mentioned because I recently landed #1015 and strongloop/strong-remoting#163).

LoopBack will accept a plain token in the `Authorization` header, but that's not really part of the HTTP spec as far as I know, which specifies a `$scheme $cred

[2015-01-21 04:02] rhalff commented on #584
@bitmage I think the tooling build around loopback relies on the config dir structure: e.g. http://strongloop.com/node-js/arc/

Drifting away from that convention does make things incompatible.

Also note I never finished the project mentioned above, it was a fork from:
https://github.com/beeman/loopback-angular-admin which still is actively being developed.

Anyway, I think one config file probab

[2015-01-21 05:56] jimmydale1977 commented on #751
RANDY I DONT WANNA SOUND STUPID, BUT I DONT UNDERSTANMD ANY OF THIS, I JUST KNOW THAT IT WAS ON MY COMPUTER I SEARCHED DEEPERE AND IT CAME BACK TO LOOPBACK AND GITHUB, I KNOW KNOW HOW OR WHY IM TARGEDTED BUT I HAVE BEEN NOW FOR 5 YRS, I AMD WORKING ON XP NOW CAUSE ALL MY DEVICES WERE EFFECTED WHEN I PRINTED OUT THE DETAILS OF WAHT THIS WAS MY DEVICES CRASHED COMPLETELY LEAVING ME WITH NO OPERATING

[2015-01-21 06:53] clarkorz commented on #1027
check this line:
https://github.com/strongloop/loopback/blob/master/lib/application.js#L295

[2015-01-21 06:55] superkhau commented on #1029
I ran through GS2 and it's mostly good. I fixed a few typos, but there is major change required. We need to add a step to copy the updated boot script to insert additional sample data (ie. `/server/boot/sample-data.js`).

[2015-01-21 07:37] clarkorz opened #1032 "Boot corrupts session store object in middleware params"
`express-session` middleware require a _Store_ instance in production env. Obviously it can't be config in `middleware.json`. So I want to take the advantage of **Environment-specific configuration**, which is config a _Store_ instance in `middleware.local.js`.

But the merging function seams break the _Store_ instance: it lose its prototype.

The workaround might be use `middleware.js` in the fir

[2015-01-21 09:28] docoder opened #1033 "AWS DynamoDB Connector ?"
I want to use AWS DynamoDB, so how I will get AWS DynamoDB Connector ?

[2015-01-21 09:54] bajtos commented on #688
LGTM.

[2015-01-21 09:54] #688 closed

[2015-01-21 11:04] brillout commented on #1026
My bad; I made `lb-ng` execute at server start and because `lb-ng` starts the server it results in an infinite loop.

Checking `require.main.exports.loopback` before executing `lb-ng` avoids the infinite loop.

[2015-01-21 11:04] #1026 closed

[2015-01-21 13:20] dossorio commented on #1028
This behaviour causes that explorer shows both endpoints definitions, so you see inside /users, /confirm and /login (These are the endpoints I wanted to overwrite) shown twice.

I have added this function to my user.js as a workaround:
[code]
and instead adding the remoteMethod via:
[code]
I do:
[code]

I hope it helps.

Thanks !

[2015-01-21 13:47] aantipov opened #1034 "loopback saves data, not defined on model"
Hi,
I use loopback version 2.10.2.
I have a model with a base "PersistedModel" and defined some properties on it.
In article [Validating model data] (http://docs.strongloop.com/display/public/LB/Validating+model+data) I've found this:

But when I tried to save 'extra' data through api explorer, those data have been successfully saved in my MongoDB database.

Is it a bug?

[2015-01-21 14:20] aantipov opened #1035 "loopback saves data with invalid Date property"
Hi,
I use loopback version 2.10.2.
I have a model with a base "PersistedModel" and defined some properties on it.
[code]
Note that property `created` is required.

When I try to save a new object with invalid `created` property, the object is successfully saved & stored value for that property is `null`.

Here is a screenshot from api explorer with a post operation https://www.dropbox.com/s/cbdlyb

[2015-01-21 14:59] aantipov opened #1036 "Document using "this" instead of "data" args in beforeValidate model hook"
Hi,
I use loopback version 2.10.2.
I have a model with a base "PersistedModel" and defined some properties on it.
[code]
Note that property `created` is required.

Then in model hook I try to set `created` value before validation:
[code]
After this I try to save a new object without `created` property & get validation error:
[code]

Here is a screenshot from api explorer with a post operation http

[2015-01-21 16:04] jellekralt opened #1037 "package.json gets corrupted when adding model 'Package'"
Hi,

When adding a model with 'slc loopback:model Package', the package.json in the root folder gets corrupted. The generator basically tries to save the Package model in the package.json file in the root (which is understandable).

[code]

Is there a way to avoid this?

[2015-01-21 16:16] raymondfeng commented on #1037
This should have been fixed by https://github.com/strongloop/loopback-workspace/pull/183. Please upgrade strongloop using `npm uninstall -g strongloop; npm install -g strongloop`.

[2015-01-21 16:16] #1037 closed

[2015-01-21 16:24] raymondfeng commented on #1036
@superkhau Can you try to reproduce it?

[2015-01-21 16:27] raymondfeng commented on #1034
You can configure the `strict` mode. See http://docs.strongloop.com/display/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Top-levelproperties. By default, mongodb will take the extra properties.

[2015-01-21 16:27] #1034 closed

[2015-01-21 16:35] raymondfeng commented on #1033
Do you want to give https://github.com/tmpaul/jugglingdb-dynamodb a try? I'm not the developer, but it probably requires minimal effort to get it working with LB.

[2015-01-21 16:37] aantipov commented on #1034
Thanks, @raymondfeng
Shouldn't this mode to be a default one?

[2015-01-21 17:10] bajtos commented on #1032
@clarkorz could you please provide steps for reproducing the problem on my machine? E.g. what is in your `middleware.local.js` file, what extra modules to install, etc.

[2015-01-21 17:37] bajtos commented on #584
The feature requested in the issue description has been implemented by #43 and released in `loopback-boot@2.1.0`, I am closing the issue.

Sorry, I don't have bandwidth for that myself. Would you mind contributing the docs yourself? See the [instructions](http://docs.strongloop.com/display/LB/Contributing+to+LoopBack+documentation).

[2015-01-21 17:37] #584 closed

[2015-01-21 17:59] bajtos commented on #1030
The datasource config is IMO missing a connector property.

Ad Authorization - is there a way how to configure the authorization via datasource config, instead of a beforeRemote hook? It may turn out to be not viable, so treat this just like an idea to consider.

[2015-01-21 18:01] bajtos commented on #1030
This can be achieved via `datasources.local.js`.

[code]

[2015-01-21 18:25] rmg commented on #1030
Authorization can be set in the URL if the backend supports Basic auth. If the backend is loopback, the next release of loopback will support using access tokens via Basic auth if your URL looks like `http://token:YOUR_TOKEN_HERE@backend-server/api`. That would allow the credentials to be set without using a hook, but would require the URL to be reconfigured any time the credentials changed (such

[2015-01-21 20:43] superkhau commented on #1029
@cranmck Please review.

[2015-01-21 23:38] crandmck commented on #1029
In GS1, the boot script to create db tables and add data is `server/boot/create-sample-models.js` (https://github.com/strongloop/loopback-getting-started/blob/master/server/boot/create-sample-models.js)
But in GS2, it's called `server/boot/sample-models.js`  (https://github.com/strongloop/loopback-getting-started-intermediate/blob/master/server/boot/sample-models.js).

They should have the same na

[2015-01-21 23:44] raymondfeng commented on #1036
@aantipov You need to update `this` instead:

[code]

Please note data is original data object from the create().

[2015-01-22 00:05] clarkorz commented on #1032
@bajtos steps:

1. create a new loopback app and install modules

2. alter `server/middleware.json` (snippet)
[code]

3. add `server/middleware.local.js`
[code]

**Result**
[code]

[2015-01-22 00:46] bitmage commented on #584
Oh, cool.  I wasn't aware of any avenue for community contributions.  I'll check that out.  Thanks!

[2015-01-22 01:07] bitmage commented on #584
@rhalff vim is my IDE.

[2015-01-22 01:26] superkhau commented on #1029
@crandmck Done. See https://github.com/strongloop/loopback-getting-started-intermediate/commit/a5a59c8a9ae2c9480110919d214f0fa1fe9bccf3#diff-3bdc4a9c11a151bf268bc3b59bf6ec1eR1

Please review again.

[2015-01-22 04:45] aantipov commented on #1036
Thanks, @raymondfeng
But what is the purpose of the data object then?

[2015-01-22 07:24] shyd0w commented on #157
Is this still and issue? Where can I find the documentation to override these connections? Thank you!

[2015-01-22 08:30] AvivLander commented on #1033
@raymondfeng is right. Anything JugglingDB should be compatible or near compatible.

[2015-01-22 10:39] inawlaljar commented on #292
Hi, Did we reach on any conclusion (and also implemented) a way to set default value for a model?

I want to set created and lastupdated fields.

I am currently using hooks. Let me if that's the right way to set default value.

Ta.

[2015-01-22 17:49] PymZoR commented on #859
Same issue here.

[2015-01-22 18:33] crandmck commented on #997
You can provide your own CSS file that will be used by the explorer instead of the file shipped by us

See `options.uiDirs`.

http://stackoverflow.com/questions/28073421/how-to-modify-the-strongloops-loopback-explorer-css/28088915#28088915

[2015-01-22 18:49] crandmck commented on #1029
Looks good.  Closing.

[2015-01-22 19:03] superkhau commented on #1036
@aantipov You can use the data object is the model instance you're about to create. You can do whatever you need to do before the validation happens in your case (ie. change a property, etc)

[2015-01-22 19:23] aantipov commented on #1036
@superkhau But we have found out above that changing a property of a `data` object do not change the model data that are eventually saved - changing `data` object really matters nothing.
@raymondfeng advised to change `this` object instead.
Thus I'm confused about the purpose of `data` object.

[2015-01-22 19:32] #1029 closed

[2015-01-22 20:13] raymondfeng commented on #1035
I recently found that `new Date('invalid)` doesn't throw in JS and it creates an instance of Date. Which database do you use?

[2015-01-22 20:34] aantipov commented on #1035
mongodb

[2015-01-22 21:26] ritch commented on #1030
@bajtos I still consider this static. The use case that keeps coming up is the ability to dynamically create a client that points at a given URL.

[2015-01-22 22:01] raymondfeng commented on #1016
I'm closing the issue based on the solutions proposed.

[2015-01-22 22:01] #1016 closed

[2015-01-22 22:02] raymondfeng commented on #859
Duplicate of https://github.com/strongloop/loopback-datasource-juggler/pull/394

[2015-01-22 22:02] #859 closed

[2015-01-22 22:04] superkhau commented on #1036
@aantipov I see what you mean now. That is a good question.

[2015-01-22 22:08] raymondfeng commented on #1036
There is some legacy code we inherited from [jugglingdb[(https://github.com/1602/jugglingdb). We are cleaning up over time. In some case, we have to introduce breaking changes.

[2015-01-22 22:11] superkhau commented on #1036
@raymondfeng Maybe we should document this up front and say the recommended way is to use "this" amd ignore the "data" args due to legacy reasons?

/cc @crandmck

[2015-01-22 22:18] GameScripting commented on #517
So are there any plans to support nested properties? Is there any way to get the "native" mongodb-connection so we can query the database without the loopback abstraction?

[2015-01-22 22:24] crandmck commented on #1036
OK, rather than open a new issue, I'm just going to reopen this as a doc issue.  Will change title, lable, etc., accordingly.

[2015-01-23 01:04] crandmck commented on #888
Fixed in fc31f37a83abbf4d81597be7278730113d136ea6.  Will show up in apidocs.strongloop.com upon next npm publish.

[2015-01-23 01:04] #888 closed

[2015-01-23 07:09] bajtos commented on #1030
Note that the current implementation does not allow you to have multiple instances of the isomorphic client (multiple loopback apps), because all apps share the same set of models and each model can be attached to a single datasource only. When you create the second client with a new URL, it will reconfigure models used by the first client to use this new URL too.

This is the old "singleton model

[2015-01-23 15:07] aantipov opened #1041 "API documentation bug"
Hi
I found a bug with documentation of `PersistedModel.find` method here http://apidocs.strongloop.com/loopback/#persistedmodel-find & here http://docs.strongloop.com/display/public/LB/PersistedModel+class#persistedmodel-find
According to the docs the `PersistedModel.find` method should return some object, but it actually returns `undefined`.
It is an asynchronous method, so it can't return 'Array

[2015-01-23 20:40] zephyr4434 commented on #327
+1

[2015-01-24 05:11] b96705008 opened #1042 "LoopBack - net::ERR_CONNECTION_REFUSED from LAN Network"
I have a problem. I just create a loopback project, and I add a client web page in client folder and socketio that listen with the server.

I can connect to my server in loclhost, but I can't connect it from other LAN network ip source,
like  GET http://192.168.1.119:3000/ net::ERR_CONNECTION_REFUSED

Is there any security issue that I neglect?

[2015-01-24 06:47] chandadharap commented on #808
can we please close this then?

[2015-01-24 06:57] chandadharap commented on #699
@seanbrookes and @cgole Shouldn't this be closed?

[2015-01-24 11:54] fusionstrings commented on #327
:+1:

[2015-01-24 16:14] billinghamj commented on #1007
Is this not being fixed?

[2015-01-24 16:32] BerkeleyTrue commented on #1007
@billinghamj  https://github.com/strongloop/loopback/pull/1038

[2015-01-24 16:49] brillout commented on #318
in the meantime you can do something along the following to use the AngularJS JavaScript SDK for other frameworks;

https://gist.github.com/brillout/8c2cd10404d915974242

[2015-01-24 17:45] brillout opened #1043 "AngularJS JavaScript SDK doesn't rightfully translates `filter`"
I'm trying to retrieve filtered entries.

Following the example in http://docs.strongloop.com/display/public/LB/AngularJS+JavaScript+SDK

[code]

the SDK translates this to

`http://localhost:3000/api/product/findOne?filter=%7B%22name%22:%22Pen%22%7D`

and the backend replies results without the filter applied.

The following corresponding request URL works though

`http://localhost:3000/api/produ

[2015-01-25 05:26] jeffreytu opened #1044 "datasources.local.json and model-config.local.json not being picked up"
I have both datasource.json, model-config.json and their local versions. Loopback isn't picking up the .local files automatically. If I delete datasources.json and model-config.json and leave the .local versions, loopback still doesn't pick up the .local.

Am I missing a config option somewhere?

[2015-01-25 09:38] billinghamj opened #1045 "HEAD requests return invalid data"
In the documentation & API explorer, the `HEAD` method is incorrectly described as a way to check for the existence of an object. In fact, it is actually meant to return exactly the same as a `GET` request does, but without the body.

The `Content-Length` and `Etag` headers return different values for GET & HEAD requests.

#### `HEAD`

[code]

#### `GET`

[code]

It is really important that `HEAD`

[2015-01-25 09:41] billinghamj opened #1046 "Request: add metadata to HEAD response headers"
Hey,

It'd be good if `HEAD` requests allowed you to get more data about the resource you're pointing at.

More specifically, I'd like to be able to see the instance count. e.g. `Collection-Length: 1000`

This would also allow for eventual deprecation of the non-RESTful routes like `count`, `findOne`, etc. if you wanted to do that.

Thanks

[2015-01-25 13:16] brillout commented on #1043
the problem is the missing where clause and the following works;

[code]

It would be nice to have a consistent documentation:)

[2015-01-25 17:20] wallace commented on #1021
Does http://thinky.io/ work?

[2015-01-25 19:26] umesh0492 commented on #986
Can't we handle this through remote hook?

[2015-01-26 01:56] marcellodesales commented on #1033
Has anyone tried this?

https://github.com/claylo/loopback-connector-dynamodb

We decided to use StrongLoop, but without DynamoDB we can't go to EC2

[2015-01-26 05:08] marcellodesales opened #1047 "The express access shows: express deprecated req.param(name): Use req.params, req.body, or req.query"
I just installed and upgraded the command line, generated a new sample, and the warns for the access is showing that the libraries are using a deprecated version of the calls.

[code]

It would be great to get it fixed!

thanks!

[2015-01-26 07:13] seanbrookes commented on #699
We should consider this complete as far as I am concerned

[2015-01-26 14:14] brillout commented on #1043
and I can't find a repository holding the docs.
Otherwise I'd submit a PR

[2015-01-26 14:25] bajtos opened #1048 "Refactor change tracking to use the new hook infrastructure"
The new hook API: https://github.com/strongloop/loopback-datasource-juggler/pull/403

~~Once change tracking uses the new hooks, the following issues should become resolved/fixed:
 https://github.com/strongloop/loopback/issues/617~~

[2015-01-26 14:30] brillout opened #1049 "Extend JSON model definition to support mixins"
according to the docs, mixins are to be defined in the model JS file.

Having part of a model definition not defined in the JSON file makes it considerably more difficult to exhaustively expose the model definition.

[2015-01-26 16:46] #699 closed

[2015-01-26 16:54] #808 closed

[2015-01-26 16:58] psi-4ward opened #1050 "Model on(changed gives old data"
[code]

When i create a new Car using the explorer i get
[code]

But when i PUT `{"color": "red"}` to `/api/Cars/1` the callback gets the old data:
[code]

[2015-01-26 17:05] crandmck commented on #1043
Thanks for catching this.  I updated the doc.  Please [take a quick look](http://docs.strongloop.com/display/LB/AngularJS+JavaScript+SDK#AngularJSJavaScriptSDK-Read(querying)) to be sure I got it correct.

For future reference, the docs are not on GitHub, but rather in a Confluence wiki.  We welcome community contributions.  See http://docs.strongloop.com/display/LB/Contributing+to+LoopBack+docume

[2015-01-26 17:09] brillout commented on #1043
looks good :)

[2015-01-26 17:09] #1043 closed

[2015-01-26 18:02] bajtos commented on #126
Possibly related: https://github.com/strongloop/loopback-datasource-juggler/pull/405

[2015-01-26 19:35] ilianaza commented on #327
+1

[2015-01-26 21:05] jeffreytu commented on #1044
Was just a simple datasource naming error on my part. If someone else has this problem, check for consistency in your names. .local.json will not get picked up if .json version isn't there.

[2015-01-26 21:05] #1044 closed

[2015-01-26 23:32] superkhau commented on #1050
Can you submit a PR to loopback-sandbox so I can try to reproduce it?

[2015-01-26 23:46] ih2502mk opened #1051 "Default column for `ORDER BY ` in PersistedModel.find() is not reliable"
In my model definition `properties` look like this:

[code]

When I make a request to find all users like this `MyUsers.find({}, function(err, users) {})` the query builder inserts `ORDER BY` statement in sql request but the column that it will use for the example above will be `uid` not `USER_ID`.

I only experienced this when using MySQL. Looks like this issue occurs in `MySQL.prototype.all` met

[2015-01-27 00:20] raymondfeng commented on #1051
The filter.order is set to ['uid'] but it should be mapped to the column name by https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/mysql.js#L520. Can you check if the mapping code is executed?

[2015-01-27 00:55] ih2502mk commented on #1051
Mapping code — you mean `order.map(...)`?

[2015-01-27 01:05] raymondfeng commented on #1051
Yes.

I cannot reproduce your problem. A similar model with mysql column name works for me. The generated SQL is:
[code]

You can see the SQLs using `DEBUG=loopback:connector:mysql node .`

[2015-01-27 01:06] ih2502mk commented on #1051
I think the problem is actually in this part of `MySQL.prototype.all()` method:
[code]
There is no implementation of `this.idNames()` specific to mysql-connector, such that it would return the right column name. And that's why `filter.order` may end up assigned a wrong value (again only if you have different column name in `'mysql'` property of the property definition).

[2015-01-27 08:09] aantipov opened #1052 "Configured for Amazon S3 storageService.getContainer() returns error"
Hey there!
I want to implement a remote method for uploading images to Amazon S3.
According to the article http://docs.strongloop.com/display/public/LB/Storage+service I defined amazon's credentials in `/server/datasources.json`.
Then in my model's code I am trying to implement a remote method:
[code]
At this stage this method only returns S3 buckets info & it works fine.
But if I replace `s3.getC

[2015-01-27 10:50] bajtos commented on #986
No.

Consider the following sequence of execution of two parallel requests updating the same record (model instance):

[code]

[2015-01-27 11:22] psi-4ward commented on #1050
Thanks for your answer, suprisingly i couldn't reproduce it using the sandbox or a new app.
After removing `node_modules` and a `npm cache clean && npm install` it works now.

[2015-01-27 11:22] #1050 closed

[2015-01-27 13:52] aantipov commented on #1036
Hi, @raymondfeng , @superkhau
I've just tried to change a `modelInstance` in `Account.beforeCreate` and it works fine:
[code]
So the questions emerged are:
- is this behavior a bug?
- should I use `this.name = 'some-name'` instead of `modelInstance.name = 'some-name'`
- if this hook initiates a call `next(null, someObject)` which data will be finally used in the method?

[2015-01-27 17:08] altsang opened #1053 "iCars front end for investor pitches"

[2015-01-27 17:13] altsang commented on #1053
I have a LB 2.x backend that shows the RDMBS schema for iCars in Oracle.  In my demo I'm creating an OracleDB data source and showing the discovery flow and the API create on the fly.

To round out the demo, I need to show the front end in an iPhone emulator.  Minimally it should show a map with the rental locations.  If I click on a rental location it should show the inventory.  The more function

[2015-01-27 17:17] superkhau commented on #1053
@altsang Which iPhone emulator are you using?

[2015-01-27 17:23] altsang commented on #1053
I can run whatever is required to show it best. Way back when it was iPhone 5 emulator.  I think we should shoot for a iPhone 6 emulator just to look current.

[2015-01-27 17:36] superkhau commented on #1053
Sounds good.

[2015-01-27 19:59] superkhau commented on #1050
Cool, glad you got it working.

[2015-01-27 21:45] ritch commented on #1036
I would not use `data` (the second arg to the hook's "work" function). It isn't consistent in all the hooks. Eg. calling `save()` will give you the `inst.toObject()` version and create will give you `inst`.

You should always (@bajtos / @raymondfeng please correct me here) use `this`.

[2015-01-27 21:48] crandmck commented on #1036
I believe in the particular case of `beforeCreate` (above), one could use either `this` or `modelInstance` but I don't know if there is any advantage of one vs. the other.

@bajtos Pending confirmation, I will add a note to the docs.  If we can just say "always use `this` in model hooks," that would simplify things.

[2015-01-27 22:00] superkhau commented on #1036
^
I could also remove the "data/modelnstance" param out of the examples to make sure people don't get confused.

[2015-01-27 22:07] dominikriedel commented on #517
Hey! I've got the Same Problem. I want to query a List of objects based on the property of an related model as well as the property of the wanted model e.g:

Event.find( { where: { and: [ { endDate : { lt : givenDate}}, { location.name : "Abc" }]} }, cb );

So, am I right, that this is not supported atm?

[2015-01-28 01:00] violet-day commented on #986
@bajtos How about `version key`?
Each row has a version key,once update just increase the key.Before save to db,we check the key,if not match,throw exception.
It's implemented  in mongooe.
[versionKey](http://mongoosejs.com/docs/guide.html#versionKey)
[mongoose-v3-part-1-versioning](http://aaronheckmann.tumblr.com/post/48943525537/mongoose-v3-part-1-versioning)

[2015-01-28 08:21] bajtos commented on #517
You are right, this it not supported yet.

[2015-01-28 08:24] dominikriedel commented on #517
so the easiest way would be to just query via SQL? Without any further knowlage: is there any caching mechanism I could use?

[2015-01-28 08:26] bajtos commented on #1036
Since we are going to deprecate these hooks in favour of https://github.com/strongloop/loopback-datasource-juggler/pull/403 in the near future, I don't think it's worth investing our time into investigating how exactly are the old hooks implemented and when to use `this` and when `data`.

I am proposing to fix the docs for this particular case only (`beforeValidate` hook).

[2015-01-28 09:03] bajtos commented on #986
@violet-day Yes, I was thinking about implementing something similar. We already have a checksum of the data, this property is even better than version number.

The trick is to design and implement a database-agnostic API in juggler that can be mapped to an atomic operation in all SQL and NoSQL databases (connectors).

A possible solution is to use `updateAll`, assuming that all connectors are fix

[2015-01-28 17:26] bajtos commented on #709
@PradnyaBaviskar will be looking into this issue in the next few days.

It should be possible to reproduce the problem of unguarded `cur.call` by adding a test to `test/rest.test.js` with the following code:

[code]

[2015-01-28 17:55] bajtos commented on #1032
I managed to track the problem down to `resolveMiddlewareParams()` in `loopback-boot/lib/compiler.js`. My impression is that `cloneDeep(val)` preserves the methods like `store.on`, while `cloneDeep(val, transformFn)` does not.

I don't have time to investigate this further. Would you mind to take a look yourself and perhaps contribute a fix?

[2015-01-28 17:56] bajtos commented on #1032
Possible workaround: move the middleware configuration to a boot script.

[code]

[2015-01-28 18:38] #1053 closed

[2015-01-28 23:17] crandmck commented on #1036
OK, I added a note to the [beforeValidate docs](http://docs.strongloop.com/display/LB/Model+hooks#Modelhooks-beforeValidate).  Is that sufficient?

[2015-01-29 02:18] clarkorz commented on #1032
@bajtos ok, I will continue base on your investigation

[2015-01-29 07:30] vigyanhoon commented on #858
Hi,
Any update on when this is going to be implemented. We would love to have idb implemented!
Thanks.

[2015-01-29 08:45] bajtos commented on #858
@vigyanhoon This is not the top priority for us ATM, it's almost certain that the feature won't be implemented in the next 4 weeks. Would you mind contributing the connector yourself?

[2015-01-29 10:35] glesage commented on #1031
No one has any pointers?

[2015-01-29 12:34] vigyanhoon commented on #858
I will try. Please provide resources to look upto.

[2015-01-29 13:26] vsmurali opened #1054 "usage of deprecated module static-favicon"
Current npm uses deprecated static-favicon module.  Warning can be observed during npm install
"WARN deprecated static-favicon@1.0.2"

serve-favicon module to be used instead of static-favicon across the application and its dependencies

Direct References in
1. test/fixtures/simple-integration-app/app.js
2. server/middleware/favicon.js

Dependency references in
1. karma/node_modules/connect/exampl

[2015-01-29 15:02] brillout opened #1055 "Model doesn't inherit hooks defined on Mixin"
I would expect a hook like `MixinModel.beforeUpdate` to be inherited

[2015-01-29 16:47] raymondfeng commented on #1031
I found a bug in juggler. Will fix it.

[2015-01-29 19:34] glesage commented on #1031
oOo perfect thanks!

[2015-01-29 21:20] j0nathan-ll0yd commented on #898
+1

[2015-01-29 23:44] ritch opened #1056 "Model collision when creating multiple apps"
I ran into this in the following scenario

[code]

I'm guessing the issue is that we have a singleton `registry` object. I'd like to move away from this and support both the existing singleton behavior as well as an `app.registry`. This means we have to juggle the interaction between the two... but it will come with multi app support in a single process.

/to @bajtos @raymondfeng
/cc @kraman @sean

[2015-01-29 23:51] ritch commented on #1041
@crandmck can you take a look?

[2015-01-30 05:54] kraman commented on #1056
+1

[2015-01-30 08:23] bajtos commented on #1056
+1, although I don't consider this issue to be a bug.

[2015-01-30 11:52] makersu commented on #327
Is salis.js implementation like 3-way data binding with firebase and angular.js?
BTW, How to implement  3-way data binding with loopback?
Thanks!

[2015-01-30 11:58] psi-4ward commented on #327
Back on loopback :smirk:

Heres my idea / implementation to mimic the sails-way: [anguloop-example](https://github.com/psi-4ward/anguloop-example) using
[express-websocket](https://github.com/psi-4ward/express-websocket) and angular [$httpSock](https://github.com/psi-4ward/anguloop-example/blob/master/packages/socket-test/angular/services/httpSock.js) service

@makersu theres no 3-way binding and

[2015-01-30 12:36] pulkitsinghal opened #1058 "Possible bug: Model's type not honored by update()"
I'm using loopback@2.8.6 and I just noticed that calling the update method on a model in a boot script changes the id from number to string and persists it ... anyone else run across something like this before?

with create db.json:
[code]

after update db.json:
[code]

datasources:
[code]

model:
[code]

boot script:
[code]

[2015-01-30 17:19] bajtos commented on #1047
Fixed by #1038

[2015-01-30 17:19] #1047 closed

[2015-01-30 17:23] raymondfeng commented on #1045
http://stackoverflow.com/questions/3854842/content-length-header-with-head-requests/18925736#18925736

[2015-01-30 17:28] ritch commented on #1042
In your `server.js` file are you listening on all hosts? Do you not have this issue with express?

I'm guessing this is not a LoopBack issue... Please post some code to reproduce this. There are many factors outside of LoopBack that can cause this (eg. your computer / router / networks settings).

[2015-01-30 17:30] ritch commented on #1042
I'm closing this for now... If you have some repro steps (outside the context of your network) or code we can re-open.

[2015-01-30 17:34] raymondfeng commented on #1031
Fixed by https://github.com/strongloop/loopback-datasource-juggler/issues/413

[2015-01-30 17:34] #1031 closed

[2015-01-30 17:37] raymondfeng commented on #1018
Closing the issue per @fabien

[2015-01-30 17:39] raymondfeng commented on #1011
Fixed by https://github.com/strongloop/loopback/issues/1014

[2015-01-30 17:39] #1011 closed

[2015-01-30 18:29] crandmck commented on #1041
Yes, I believe @aantipov is correct.  We should remove the "Returns" sections and note instead that the returned-instances callback parameter will contain the array of matching instances (in the case of find).  I'll go through all the PersistedModel APIs to check for similar errors.

[2015-01-30 20:55] ritch commented on #327
@bajtos Instead of doing this in **strong-remoting** I'd prefer to leave strong-remoting as is and introduce a new module **loopback-messaging**. This will support things like bi-directional messaging, pub sub, etc. On top of this I'd like to build `Model.subscribe()` which would notify observers of model changes.

[2015-01-30 21:57] raymondfeng commented on #1058
I couldn't reproduce the problem as follows:

1. Define a model:
[code]
2. Go to the explorer, create a new note with title ‘t1'
db.json:
[code]
3. Update note (id=1) with {title: 't2'}
db.json:
[code]
db.json has the correct content before/after the update.

Please provide a working app to reproduce the problem.

[2015-01-30 22:56] pulkitsinghal commented on #1058
Ok I did my best to shrink wrap the dependencies and deleted all the proprietary source code ... it should be self-evident as the updated entry has a string instead of a number:

[code]

Here's the repo: https://github.com/pulkitsinghal/loopback-issues-1058

[2015-01-31 00:39] #875 closed

[2015-01-31 00:41] #874 closed

[2015-01-31 00:41] #1042 closed

[2015-01-31 00:42] #873 closed

[2015-01-31 00:43] #872 closed

[2015-01-31 00:43] ritch commented on #1020
+1

Although I am a bit worried about building on top of `getCurrentContext()`. It is very slow...

[2015-01-31 00:43] #871 closed

[2015-01-31 00:44] #870 closed

[2015-01-31 00:47] ritch commented on #1010
This sounds like a bug. I think we need to inherit the foreign key from the parent model. /cc @raymondfeng

@kraman have you run into this?

@BerkeleyTrue a potential workaround is to set the foreign key in your model-config.json.

[2015-01-31 00:48] #869 closed

[2015-01-31 01:02] ritch commented on #1006
We used to have this... but it involved defining a lot of redundant properties (`Object.defineProperty()`). You should be able to do dirty checking / change notification with `setter`s.

[code]

If we do this - it will probably be as an external module / mixin.

[2015-01-31 01:04] kraman commented on #1010
@ritch Haven't run into this situation yet but I probably will soon or later.

[2015-01-31 01:30] BerkeleyTrue commented on #1010
@ritch Yes, this is what I have been doing in the mean time.

[2015-01-31 11:41] Telemakhos commented on #789
Hi guys, any news on this? I think there's a lot of interest in a clear example of JWT with loopback. It would be great to have a detailed app/guide for reference and implementation.... cheers

[2015-01-31 15:07] wilsonmar commented on #789
I've been working on it. Sorry for the delay in converting from the Word
file I had it in. I'm hoping for completion next week. Let me know if you'd
like to draft.

On Sat, Jan 31, 2015 at 4:41 AM, Jose <notifications@github.com> wrote:

[2015-01-31 17:07] raymondfeng commented on #1045
`curl -X HEAD` doesn't behave as you expect. Please use `curl --head` or `curl -I` instead.
See http://serverfault.com/questions/140149/difference-between-curl-i-and-curl-x-head

[2015-01-31 17:07] #1045 closed

[2015-01-31 18:26] SwadhyayStudios commented on #426
Is this resolved ? I am still having the same issue
The last thread doesn't help

[2015-01-31 18:29] billinghamj commented on #1045
You could do the same thing in Telnet and it would exhibit the same issue. This is nothing to do with curl. You can read the exact request data it is sending to the server above.

And for reference, this is the result with the command you suggested:

[code]

[2015-01-31 18:31] billinghamj commented on #1045
And with telnet:

[code]

[2015-01-31 18:37] billinghamj commented on #1045
And having done a quick check, the length of 15 characters comes from this:

`{"exists":true}`

This bug is that `HEAD /resource` is not equivalent to `GET /resource/exists`.

[2015-01-31 18:41] SwadhyayStudios commented on #426
[ { principalType: 'ROLE',
    principalId: '$everyone',
    permission: 'DENY' },
  { principalType: 'ROLE',
    principalId: '$everyone',
    permission: 'ALLOW',
    property: 'create' },
  { principalType: 'ROLE',
    principalId: '$owner',
    permission: 'ALLOW',
    property: 'deleteById' },
  { principalType: 'ROLE',
    principalId: '$everyone',
    permission: 'ALLOW',
    property: 'log

[2015-01-31 21:17] pulkitsinghal commented on #1058
@raymondfeng - i don't see that fix in the master https://github.com/strongloop/loopback-datasource-juggler/commits/master branch ... should I just go ahead and get the branch you created and put into my package.json as the source? Also is there a doc page on what versions of juggler go hand in hand with what versions of loopback core?

[2015-02-01 02:06] ulion commented on #418
@partap so the promises for model relationship still not work by the bluebird plan?

[2015-02-02 04:11] bluestaralone commented on #877
@raymondfeng : I don't know if this problem is solved jet ?

[2015-02-02 08:46] aantipov commented on #990
Try to use `this` instead of `modelInstance `
See https://github.com/strongloop/loopback/issues/1036

[2015-02-02 08:50] aantipov commented on #755
+1
`beforeUpdate` doesn't seem to work at all.
LoopBack v.2.11.0

[2015-02-02 09:09] Tarabyte commented on #274
Any news on the issue?
I have almost the same problem with belongsTo relation. Post belongsTo Category.
- When I save Post instance for the first time using Post.upsert `categoryId` is saved as `ObjectId`. Which is an expected behaviour of course.
- When I edit the post using the same Post.upsert `categoryId` is converted to a `String`. Which results in various problems later when one needs to que

[2015-02-02 16:58] #1058 closed

[2015-02-02 17:38] ritch opened #1059 "Testing best practices / guide / docs"
We should provide some guidance on how to test loopback applications. `loopback-testing` is really not well designed or documented for external usage.

/cc @bajtos @crandmck

[2015-02-02 18:22] superkhau commented on #1013
@crandmck This should be created in scrum-loopback.

[2015-02-02 18:24] superkhau commented on #1004
@panduroab Can you create a sample repo/PR to reproduce the issue in strongloop/loopback-sandbox?

[2015-02-02 18:36] crandmck commented on #1013
@superkhau Why?  It shows up in the [Waffle board](https://waffle.io/strongloop-internal/scrum-loopback).

Unless there a reason for it to be private, we should keep doc issues in the public repo.

[2015-02-02 18:36] superkhau commented on #995
@bluestaralone  Can you provide the code and steps to reproduce at https://github.com/strongloop.com/loopback-sandbox?

[2015-02-02 18:41] superkhau commented on #1013
Sounds good, I didn't know example refactors fall under doc issues so I assumed it was in the wrong repo.

[2015-02-02 19:00] superkhau commented on #949
This has been resolved by @raymondfeng. Closing.

[2015-02-02 19:00] #949 closed

[2015-02-02 19:06] superkhau commented on #968
@chinajuanbob Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. Closing.

[2015-02-02 19:06] #968 closed

[2015-02-02 19:07] superkhau commented on #965
@paulomcnally  Can you provide the code and steps to reproduce at https://github.com/strongloop.com/loopback-sandbox via a pull request?

[2015-02-02 19:17] superkhau commented on #1002
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. You will get a quicker response there as we have a very active community willing to help out.

Please let me know when you've copied the question over there so I can close this issue.

[2015-02-02 19:20] #1002 closed

[2015-02-02 19:33] shawnim commented on #722
I had the same problem on Ubuntu 14.04.1 LTS.

$ node --version
v0.10.13
$ npm --version
1.3.2

I did the following to update to the latest node:

sudo npm cache clean -f
sudo npm install -g n
sudo n stable

$ node --version
v0.10.36
$ npm --version
1.4.28

Then rerunning the strongloop install and slc loopback worked for me.

sudo npm install -g strongloop
slc loopback

[2015-02-02 19:53] paulomcnally commented on #965
https://github.com/strongloop.com/loopback-sandbox => 404

[2015-02-02 19:55] paulomcnally commented on #965
Sorry: https://github.com/strongloop/loopback-sandbox.

I will work on This

[2015-02-02 19:55] raymondfeng commented on #965
https://github.com/strongloop/loopback-sandbox <https://github.com/strongloop/loopback-sandbox>

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc.

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://strongloop.com/mobile-application-development/loopback/> in Node, plus get DevOps capabilities <http://strongloop.com/node-js-performance/strongops/> like mon

[2015-02-02 21:33] crandmck commented on #1013
np -- if  https://github.com/strongloop/loopback-example-remote were included in the scrum-loopback Waffle board, then I would create the issue there.  But it isn't, and not sure if Chanda would want to add it.

[2015-02-02 22:12] superkhau commented on #1013
@chandadharap ^

[2015-02-02 22:13] superkhau commented on #965
@paulomcnally Sorry I put an extra .com in the link. ;P It's fixed now! ;)

[2015-02-03 00:59] crandmck opened #1060 "Document model "settings" property"
Example: https://github.com/strongloop/strong-scheduler/blob/master/lib/api-server/lb-models/executor-ext.js#L16-L22

@ritch Need more info and examples. What is this for?  Any other info would be helpful.

[2015-02-03 01:02] ritch commented on #1060
This stores all the input passed to the juggler's model builder. It was the object used to define the model. Its a fairly complex object that contains definitions for relations and access controls... @raymondfeng should also chime in here.

[2015-02-03 03:44] bitmage commented on #1006
Would you mind pointing me to the commit when this used to be implemented?  Maybe it can be factored out as a mixin.

I'm concerned though that implementing this functionality externally will be hacky and subject to breaking with subsequent releases.

It seems like functionality that should be standardized rather than everyone rolling their own.

[2015-02-03 06:50] inawlaljar commented on #776
It's not working for me. signup doesn't showup in the explorer. Can anyone please help?

module.exports = function(User) {

	User.prototype.signup = function(userData, callback){
		// Validate data
		// Save data - User
		// Create role mapping
		// return token
	}

User.remoteMethod(
    'signup',
    {
      accepts: [{ arg: 'userData', type: 'object' }],
      returns: { arg: 'token', type: 'ob

[2015-02-03 06:54] inawlaljar opened #1061 "How to remoteMethods to User model?"
Hi,

I have created common/models/user.js file and have following code in it.

signup action doesn't showup in the explorer. Can anyone please help?

    module.exports = function(User) {

    User.prototype.signup = function(userData, callback){
    // Validate data
    // Save data - User
    // Create role mapping
    // return token
    }
     User.remoteMethod(
    'signup',
       {

[2015-02-03 07:15] bajtos commented on #722
I am closing this issue as resolved then. Feel free to reopen if the problem still persists and you can add more information to help us troubleshoot.

[2015-02-03 12:31] bajtos commented on #896
I am closing this issue, we are moving away from `beforeSave/afterSave` hooks in favour of [Operation hooks](http://docs.strongloop.com/display/LB/Operation+hooks) and [Per-method hooks](https://github.com/strongloop/loopback-datasource-juggler/issues/397).

Please upgrade your project to use the new `after save` hook and open a new GH issue if you run into any problem.

[2015-02-03 12:31] #896 closed

[2015-02-03 12:31] bajtos commented on #614
I am closing this issue, we are moving away from `beforeSave/afterSave` hooks in favour of [Operation hooks](http://docs.strongloop.com/display/LB/Operation+hooks) and [Per-method hooks](https://github.com/strongloop/loopback-datasource-juggler/issues/397).

Please upgrade your project to use these hooks and open a new GH issue if you run into any problem.

[2015-02-03 12:31] #614 closed

[2015-02-03 12:32] bajtos commented on #990
Also note that we are moving away from `beforeValidate/afterValidate` hooks in favour of [Operation hooks](http://docs.strongloop.com/display/LB/Operation+hooks) and [Per-method hooks](https://github.com/strongloop/loopback-datasource-juggler/issues/397).

Please upgrade your project to use the new `before save` hook and open a new GH issue if you run into any problem.

[2015-02-03 12:32] #990 closed

[2015-02-03 12:33] bajtos commented on #643
I am closing this issue, we are moving away from `beforeSave/afterSave` hooks in favour of [Operation hooks](http://docs.strongloop.com/display/LB/Operation+hooks) and [Per-method hooks](https://github.com/strongloop/loopback-datasource-juggler/issues/397).

Please upgrade your project to use the new `before save` hook and open a new GH issue if you run into any problem.

[2015-02-03 12:33] #643 closed

[2015-02-03 12:34] bajtos commented on #612
Closing as a duplicate of strongloop/loopback-datasource-juggler#159.

Note that we are moving away from `beforeSave/afterSave` hooks in favour of [Operation hooks](http://docs.strongloop.com/display/LB/Operation+hooks) and [Per-method hooks](https://github.com/strongloop/loopback-datasource-juggler/issues/397).

[2015-02-03 12:34] #612 closed

[2015-02-03 12:35] #565 closed

[2015-02-03 12:37] bajtos commented on #800
We are moving away from `beforeUpdate/afterUpdate` hooks in favour of [Operation hooks](http://docs.strongloop.com/display/LB/Operation+hooks) and [Per-method hooks](https://github.com/strongloop/loopback-datasource-juggler/issues/397).

@superkhau @crandmck is this issue still relevant?

[2015-02-03 12:42] bajtos commented on #838
The new [Operation hooks](http://docs.strongloop.com/display/LB/Operation+hooks) implemented by  strongloop/loopback-datasource-juggler#367 provide `after save` hook which does not distinguish between `created` and `updated`. One of the reasons is that this information may not be available from `updateOrCreate` (a.k.a `upsert` and HTTP `PUT`) implemented by connectors as an atomic operation.

Howe

[2015-02-03 13:30] aantipov commented on #990
@bajtos please see also this issue https://github.com/strongloop/loopback/issues/755

[2015-02-03 15:28] bajtos commented on #755
We are moving away from `beforeUpdate/afterUpdate` hooks in favour of [Operation hooks](http://docs.strongloop.com/display/LB/Operation+hooks) and [Per-method hooks](https://github.com/strongloop/loopback-datasource-juggler/issues/397).

Please upgrade your project to use the new `before save` hook and open a new GH issue if you run into any problem.

[code]

[2015-02-03 15:28] #755 closed

[2015-02-03 15:29] bajtos commented on #990
@aantipov good catch, I left a comment there.

[2015-02-03 15:34] bajtos commented on #366
We are moving away from `beforeSave/afterSave` hooks in favour of [Operation hooks](http://docs.strongloop.com/display/LB/Operation+hooks) and [Per-method hooks](https://github.com/strongloop/loopback-datasource-juggler/issues/397).

Please upgrade your project to use the new `before save` hook and open a new GH issue if you run into any problem.

[code]

[2015-02-03 15:34] #366 closed

[2015-02-03 15:36] bajtos commented on #617
This should be fixed by #1048

[2015-02-03 15:45] bajtos commented on #709
@Spark-star strongloop/strong-remoting#172 fixed the crash you mentioned in your comment. Please upgrade to `strong-remoting@2.12.1` and let us know if it works for you now.

[2015-02-03 17:16] bajtos commented on #1023
Based on my discussion with @altsang, I am assigning this issue to @superkhau to investigate and fix.

[2015-02-03 17:38] crandmck commented on #800
In that case, I will change this issue to be deprecating model hooks, if that is what we're doing.

[2015-02-03 18:34] jakerella commented on #1061
FYI, looks like this is the same as a [question posted on Stack Overflow](http://stackoverflow.com/questions/28292834/how-to-add-more-remotemethod-to-built-in-models-say-user-in-loopback). My suggestion there was to use a boot script to extend the base `User` model:

[code]

[2015-02-03 21:52] crandmck commented on #1060
@raymondfeng Should we document the model settings?  Which (if any) of these settings are writeable?

[2015-02-03 22:24] amenadiel commented on #1060
at some parts of my app I must clone an existing model (let's say it's *Wasp*), modify its properties and attach it to the dataSource as a new model *Hornet*

[code]

I might be a lame example, but I'm using something very similar in an app.

[2015-02-03 22:31] crandmck commented on #1060
Thanks @amenadiel.  It's helpful for me to see a "real world" use case.

[2015-02-03 22:47] jrhone commented on #274
For what it's worth, AccessToken id's are currently generated as Strings instead of ObjectIds.. different bug?

    "id": {
      "type": "string",
      "id": true
    }

{
    "ttl" : 1209600,
    "created" : ISODate("2014-12-01T22:50:18.752Z"),
    "userId" : ObjectId("5464f1f8df5ea75545c39d1c"),
    "_id" : "uqdHTCgre9LD3XQHeH2BUAkW8iVxWSsxGEKmKaAjjRBm9nxNheRSTAbzn8lxcaHZ"
}

[2015-02-03 22:48] raymondfeng commented on #274
Access token ids are hashed keys. They are not object ids.

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc.

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://strongloop.com/mobile-application-development/loopback/> in Node, plus get DevOps capabilities <http://strongloop.com/node-js-performance/strongops/> like monitoring, debugging and clustering.

[2015-02-04 01:16] benmarten opened #1064 "How to get Length of Relation Array?"
Hello, I am trying to get the length/count of the relation array, but it returns 2 which is not correct...

		Item.find({
			where: {
				userId: userId
			},
			include: 'orders'
		}, function(err, items) {
			var result = _.remove(items, function(item) {
				console.log(item.orders.length);  // 2
				console.log(typeof(item.orders)); // function
				if (item.orders.length > 0) {
					return fals

[2015-02-04 05:55] raymondfeng commented on #1064
You'll need to call item.toObject().orders.length.

Sent from my iPhone 6 Plus

[2015-02-04 06:35] clarkorz commented on #838
@bajtos *loopback-connector-mongodb* implements `updateOrCreate` by using **findAndModify**.  The  result that **findAndModify** command responses could be use to distinguish `FIND`, `CREATE`, and `UPDATE`.

For *loopback-connector-mysql*, I am not familiar with mysql, but I do find a hint in [mysql document](http://dev.mysql.com/doc/refman/5.5/en/insert-on-duplicate.html):

I don't study all othe

[2015-02-04 08:26] bajtos commented on #838
@clarkorz thank you for making the research.

Based on what you have described above, I am proposing the following implementation: extend `after save` hook and add a new property `ctx.wasCreated` (or `ctx.isNewInstance` or similar).

This new property will have one of the following values for `Model.updateOrCreate`:

 1. `true` when the connector reported that a record was created
 2. `false` when

[2015-02-04 08:48] umbrella-ivan-zhukov opened #1065 "User.confirm has 'redirect' as required argument"
User.confirm remote method shouldn't have `redirect` as required argument, because you can request this endpoint via ajax.

Also, the code allows to do this (from common/models/user.js)

[code]

[2015-02-04 10:16] benmarten commented on #1064
Perfect! Thanks :)

[2015-02-04 10:16] #1064 closed

[2015-02-04 11:29] aantipov commented on #755
@bajtos why do you close the issue?
There is a documentation on these hooks & they are not even marked as deprecated, so they should work.

[2015-02-04 11:48] aantipov opened #1067 "Docs chapter "Add a static web page" has several typos & wrong parts"
Hey there!
I think you should re-read the chapter [Add a static web page](http://docs.strongloop.com/display/public/LB/Add+a+static+web+page) - it contains several typos (`pplication`, missed comma in server/middleware.json code sample) & wrong suggestion about how to remove using of `loopback.status()`.
By default the scaffolded application has not a boot script named root.js, so the provided the

[2015-02-04 11:58] arik-so commented on #327
+1

[2015-02-04 13:20] bajtos commented on #954
Fixed by #92.

[2015-02-04 13:20] #954 closed

[2015-02-04 13:35] bajtos commented on #755
@aantipov We are going to deprecate the old hooks as soon as we gain enough confidence that the new hooks provide all functionality needed by LoopBack users to upgrade.

We are not going to fix the old hooks and almost certainly we won't accept pull request (changes) fixing these hooks either.

That's why I am asking all users that reported hook-releated bugs to try the new hooks and let us now if

[2015-02-04 14:03] aantipov commented on #755
huh
It turns out that users should choose between
1. new method, that possibly have some issues & it's documentation warns about using it.
and
2. old method, that is broken & will not be fixed.
In my opinion it is rather strange behavior.

[2015-02-04 14:26] bajtos commented on #755
@aantipov My point of view is different: you can use old hooks that have a set of know issues and limitations, or you can try out the new hooks that fixed known issues of the old hooks and don't have any other known issues.

I was very careful in designing the new hooks in a way that minimises any potential problems, you can check the extensive test suite which is accompanying the implementation (

[2015-02-04 14:31] aantipov commented on #755
@bajtos ok, thanks for the answer

[2015-02-04 14:54] umbrella-ivan-zhukov commented on #1065
Me bad, above I posted code from my patch, but now it's in PR.
Now trying to pass tests...

[2015-02-04 15:25] bajtos commented on #858
@vigyanhoon I am afraid this is the only documentation we have so far: http://docs.strongloop.com/display/LB/Building+a+connector

The implementation of the filtering function is at the moment hidden inside the memory connector: [loopback-datasource/lib/connectors/memory.js#L367-L527](https://github.com/strongloop/loopback-datasource-juggler/blob/9b675ef3dc67689d5e90950abf4fe48904e26d3b/lib/connec

[2015-02-04 15:54] aantipov opened #1068 ""Display" property for facebook auth provider doesn't work"
Hi
I try to implement a login via facebook in a modal window, so I should specify `display` option as `'popup'` (see https://github.com/jaredhanson/passport-facebook#display-mode)
I've specified config properties in `providers.json`:
[code]
All works fine but the specified `display` property doesn't applied.
Is it a bug or I do something wrong?

[2015-02-04 17:56] jrschumacher commented on #858
@bajtos how does loopback memory connector connect to the browser's localstorage?

[2015-02-04 18:03] raymondfeng commented on #858
+1 to expose it. I want to use it as part of the rules engine.

[2015-02-04 18:08] bajtos commented on #858
@jrschumacher search for "localStorage" in [loopback-datasource-juggler/lib/connectors/memory.js](https://github.com/strongloop/loopback-datasource-juggler/blob/78aca026517779c44b4cc2730f83339223a673f2/lib/connectors/memory.js).

Note that the approach used by memory connector, where it builds/loads a giant JSON containing all model instances, is not the right approach to use for the IndexedDB con

[2015-02-04 21:42] ritch opened #1069 "Document `Model.settings`"
We need to document the base `settings` object. Use this syntax:

[code]

[2015-02-04 21:43] ritch opened #1070 "Document `User.settings`"

[2015-02-04 22:09] ritch opened #1071 "Document BuiltInModels.settings"
Need to document the `settings` object for the following built in models...

access-token.js
acl.js
application.js
change.js
checkpoint.js
email.js
role-mapping.js
role.js
scope.js

[2015-02-04 22:17] ritch commented on #1065
Agree for supporting `confirm()` without `redirect` set.

[2015-02-05 08:10] bajtos commented on #416
Pull request in review: https://github.com/strongloop/loopback/pull/1066

[2015-02-05 08:11] bajtos commented on #1065
This issue is a duplicate of #416. I'll keep it open though since there is already a pull request associated with this issue.

[2015-02-05 09:28] clarkorz commented on #838
LGTM

Besides the new hooks, should we complete the event system in advance?  To specific, should we replace `changed` event with `created` and `updated` events, or pass a similar flag (as you describe above) when emitting `changed` event?

[2015-02-05 11:30] umbrella-ivan-zhukov commented on #1065
Setting Location header and calling `next()` (like @ritch says) is now triggering afterRemote hook (for duplicate issue).
But I have to make some change in strong-remoting repo. Please, take a look on PR (linked above).

[2015-02-05 11:46] bajtos commented on #709
This issue should be fixed by https://github.com/strongloop/strong-remoting/pull/172 and https://github.com/strongloop/loopback-datasource-juggler/pull/430.

[2015-02-05 11:46] #709 closed

[2015-02-05 12:11] roopesh90 opened #1073 "Cannot install strongloop using npm install -g strongloop"
I have installed strongloop on my local system with no issues, but when i try install the same on my remote using
`npm install -g strongloop`
I get the following errors and the process exits
[code]

[2015-02-05 13:29] pungoyal commented on #854
any more insights?

[2015-02-05 13:34] pungoyal commented on #450
ping!

[2015-02-05 17:42] crandmck commented on #1067
Thanks for catching the typo. I corrected it.

By default the scaffolded application has not a boot script named root.js, so the provided there solution doesn't work.
To remove using of loopback.status() we should edit routes property in server/middleware.json

The scaffolded LB app changed recently.  There was a brief period when it did not include `root.js`, but it does again now due to https://

[2015-02-05 17:42] #1067 closed

[2015-02-05 18:14] droig opened #1074 "I'm able to get another user data (not $owner)"
Is this normal?

#### How to reproduce
The app I'm testing uses angular SDK to generate client $resource.

1. Login with user which has ID = 2
2. With using $resource from lbServices do the following request:
[code]
[code]

[2015-02-05 19:02] raymondfeng commented on #1074
At the moment, ACLs checks the permission before invoking an API. It doesn’t aggressively inspect the results. You should use a afterRemote hook to enforce it.

See: http://docs.strongloop.com/display/LB/Remote+hooks <http://docs.strongloop.com/display/LB/Remote+hooks>

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc.

StrongLoop <http://strongloop.com/> makes it easy to devel

[2015-02-05 23:25] crandmck commented on #800
I added a note to the model hooks page. Closing this.

[2015-02-05 23:25] #800 closed

[2015-02-05 23:58] raymondfeng commented on #964
Duplicate of https://github.com/strongloop/loopback-datasource-juggler/issues/385. A new `regexp` operator should cover these use cases.

[2015-02-05 23:58] #964 closed

[2015-02-06 00:00] raymondfeng commented on #940
Fixed. Thanks!

[2015-02-06 00:00] #940 closed

[2015-02-06 00:02] raymondfeng commented on #937
I believe that the issue has been fixed. Please reopen if it's not.

[2015-02-06 00:02] #937 closed

[2015-02-06 00:06] raymondfeng commented on #963
Duplicate of https://github.com/strongloop/loopback-datasource-juggler/issues/385

[2015-02-06 00:06] #963 closed

[2015-02-06 00:12] raymondfeng commented on #1068
Which version of `loopback-component-passport` do you have?

[2015-02-06 00:13] raymondfeng commented on #942
Can you elaborate the issue/requirement?

[2015-02-06 00:14] #560 closed

[2015-02-06 00:19] raymondfeng commented on #961
You may try https://github.com/jugglingdb/sqlite3-adapter and port it to LB. The migration should be trivial.

[2015-02-06 00:26] raymondfeng commented on #938
We actually support both `associations` and `relations`.

[2015-02-06 00:26] #938 closed

[2015-02-06 00:28] raymondfeng commented on #924
Can you try?
[code]

[2015-02-06 00:28] #918 closed

[2015-02-06 00:31] #849 closed

[2015-02-06 00:43] #823 closed

[2015-02-06 00:45] raymondfeng commented on #781
I assume it's fixed by https://github.com/strongloop/loopback-datasource-juggler/pull/352

[2015-02-06 00:45] #781 closed

[2015-02-06 05:13] aantipov commented on #1068
1.1.2

[2015-02-06 06:58] raymondfeng commented on #1068
Can you try the following?
[code]

[2015-02-06 07:05] aantipov commented on #1068
@raymondfeng Thanks, it helped! Now that works fine!
It should be documented somewhere

[2015-02-06 10:16] slawo commented on #964
Not necessarily. While using regexp would cover this in most cases it will not in fact work  in setups where regular expressions are not enabled on the backend.

More important is the fact that they are very simple to implement and add immediate value to the framework

[2015-02-06 10:19] inawlaljar opened #1075 "Creating model without sudo clears package.json"
Hi,

I created a loopback app using sudo. So now every time I want to add new model (say) to it, Terminal in my mac forces me to run the command with "sudo".
If I don't run the command (slc loopback:model) with sudo (by mistake), I have noticed that loopback cls fails (permission denied) but it also wipes out package.json, config.json, and model-config.json clean.

May like to check.

Thanks,
Raj

[2015-02-06 10:50] clarkorz commented on #1074
@raymondfeng I think @droig 's code snippet is calling angular sdk api, not server side.

@droig `findOne` is a static method, and `$owner` protects only instance methods. `findOne` method is **DENY** by default, do you customize acls of user model? And please check that you have enabled authentication in `server/boot/authentication.js`.

[2015-02-06 11:19] technicallyfeasible opened #1076 "hasAndBelongsToMany related array has only "null" entry when limiting fields"
I have a model which is related to another model (countries) through hasAndBelongsToMany. When I do a filter with include like this
{
    "include": [{
        "relation": "countries",
        "scope": {
            "fields": ["name"]
        }
    }]
}

then in my response I get something like this
    "countries": [
      null
    ]

and without the scope
    "countries": [
      {
        "name

[2015-02-06 16:34] raymondfeng commented on #1076
Please create a test project on github to reproduce the issue per https://github.com/strongloop/loopback/wiki/Issues.

[2015-02-06 17:26] bajtos commented on #838
We need to preserve `changed` event for backwards compatibility.

The choice is then `changed` with flag, or `changed` + `created`/`updated`. I slightly prefer the flag as it is consistent with `after save`, but I don't really mind either option.

[2015-02-06 17:26] bajtos commented on #838
We need to preserve `changed` event for backwards compatibility.

The choice is then `changed` with flag, or emit both `changed` and `created`/`updated`. I slightly prefer the flag as it is consistent with `after save`, but I don't really mind either option.

[2015-02-06 19:44] idosh commented on #942
I want to be able to set a scope for a model based on the role of the user that asks for this model.
For example, if a user wants its own information from the server, the server should return all the information. But if a friend of a user asks for it, the server should return partial information.

[2015-02-07 01:27] clarkorz commented on #454
this has been supported

[2015-02-07 01:27] #454 closed

[2015-02-07 02:02] clarkorz commented on #525
fixed

[2015-02-07 02:02] #525 closed

[2015-02-07 06:03] chinuy opened #1077 "How to override 'find' function in model"
I am creating a transparent interface to end point.

For example, a _user_ has his/her first name in another model called _profile_. For convenience, I want my _find_ function can default has filter: {include: 'profiles'}

I consult #443 and have following code
[code]

And I get this error: TypeError: Object #<Object> has no method 'getDataSource

Is any clue that I can work on?

[2015-02-07 06:25] raymondfeng commented on #1077
You need to call override with the correct receiver:
[code]

[2015-02-07 08:32] marcellodesales commented on #1047
@bajtos perfect! Is the latest upgraded? thanks!

[2015-02-07 12:19] technicallyfeasible commented on #1076
I created a test repository as described in the link:
https://github.com/technicallyfeasible/loopback-sandbox

Just start it and use the explorer __get__Companies with the following filter:
{"include":{"relation":"countries", "scope":{"fields":["name"]}}}

I expect the list of companies with the linked countries for each one but only the "name" property. Instead for each linked Country there is on

[2015-02-07 13:16] rubentorresbonet commented on #426
Something that helped me with ACL and relations is to run "DEBUG=loopback:security:* slc run" and then check the property it is trying to access.
At first I tried adding ACL to the "orders" property (since it was like  /users/2/orders) but it seems like the ACL resolver tried to access this property: __get__orders.
I set that in my json acl file and it is working like a charm.

Example:
  "acls":

[2015-02-07 18:05] chinuy commented on #1077
Thanks! this solve my problem.

[2015-02-07 18:05] #1077 closed

[2015-02-07 22:55] sergiolepore commented on #445
@bradplank hmm... Seems like the Ember Inflector is trying to pluralize the word "data". Try this:

[code]

[2015-02-08 13:57] billinghamj commented on #1045
@raymondfeng Please reopen this. It is a valid bug.

[2015-02-08 17:17] bajtos commented on #1047
@marcellodesales yes, the fix was released in`loopback@2.11.0`.

[2015-02-09 00:48] violet-day commented on #942
+1

[2015-02-09 07:45] vishal171991 opened #1078 "Problem with min & max length validation on model"
I am trying to attach length validation to name description field of name field like

  City.validatesLengthOf('name', { min: 0, max: 10 });

But when I am trying to save blank name field its give length validation error.

So how can I validate it could be blank or max 10 length.

Thanks,
Vishal

[2015-02-09 10:56] STRML opened #1079 "blip.strongloop.com is dead - what is this?"
Looks like you guys are (abusing) optionalDependencies to send a callback to your servers when someone downloads a package.

When it goes down, it has the nice side effect of making `npm install` take ages.

All SL projects are throwing something similar to:

[code]

[2015-02-09 12:10] STRML opened #1080 "Large memory leak caused by context.js's domains"
This regression was introduced in https://github.com/strongloop/loopback/commit/ca0208ddd936a8573f1af6eb18edaff329fd4571.

I am documenting as I go - this was causing large memory usage in my application that would eventually cause it to crash.

An example of its memory usage (I updated from loopback `2.8.4` to latest on Feb 1):

![Imgur](http://i.imgur.com/oWspXdT.jpg)

To replicate this, clone [

[2015-02-09 16:41] thovden opened #1081 "Logout does not clear localStorage (AngularJS) when backend logout fails"
This happens e.g., when the client presents an invalid authorization token to the REST API, which will respond 500, and the interceptor that clears localStorage will not run.

To reproduce (using angularJS-generated model bindings)

1. Log in using the AngularJS SDK-generated support code
2. Edit the authorization token in the client browser - e.g., localStorage.$LoopBack$accessTokenId = "foo"
3.

[2015-02-09 20:29] ritch opened #1082 "LoopBack Remote Connector Auth"
This will include an implementation for https://github.com/strongloop/strong-remoting/issues/105

[2015-02-10 01:21] STRML commented on #1080
Using the following memwatch code in the example app:

[code]

I ran the server and hit it with `ab`. Results after 10000 hits:

[code]

Stats from `ab`:

[code]

Funnily enough, heap growth is actually so fast that it overflows in `memwatch`'s calculations.

[2015-02-10 01:37] #1080 closed

[2015-02-10 08:23] bluestaralone commented on #890
I don't know if thís problem is solved ?

[2015-02-10 08:37] STRML opened #1084 "Create benchmarks & fail on leaks"
Continuation of [this discussion](https://github.com/strongloop/loopback/pull/1083#issuecomment-73628853) on the critical leak that affected `2.8.7` to `2.12.1`.

We need a way to detect if something like this happens again.

It would be a good idea IMO to have general benchmarks in any case, so we can detect how our changes affect loopback's throughput. We could also fail the benchmark outright i

[2015-02-10 13:55] violet-day commented on #114
Great!

[2015-02-10 16:02] gcirne commented on #1079
Oh, is that what blip.strongloop.com is? This is severely affecting us too.

[2015-02-10 16:11] morpheu commented on #1079
:-1:

[2015-02-10 16:14] wpjunior commented on #1079
-1

[2015-02-10 16:16] andrewsmedina commented on #1079
:-1:

[2015-02-10 16:17] gcirne commented on #1079
Just so you guys know, this affects us even when blip.strongloop.com is up because we are behind a firewall that does not allow connections to blip.strongloop.com.

[2015-02-10 16:19] magnotorres commented on #1079
:-1:

[2015-02-10 16:27] shlomiassaf commented on #418
+1.

Could you please post a behavior schema for the future implementation of promises.

Since they are a solid future feature for JS we will see a lot of frameworks going towards them.
An example is CO which is Promise based now.

I would like to start using them but I would like my changes to be future proof.
Will you guys implement a bluebird type schema? (e.g "Async" suffix?)
Will you support

[2015-02-10 16:39] albertoleal commented on #1079
![blip](http://cdn.meme.li/instances/51019400.jpg)

[2015-02-10 16:40] andreribeirocoelho commented on #1079
:-1:

[2015-02-10 16:42] jeffbraga commented on #1079
:-1:

[2015-02-10 17:00] pandaiolo commented on #418
I have wrapped everything in bluebird -Async promises, If that can influence the roadmap :-)

[2015-02-10 17:07] #868 closed

[2015-02-10 18:18] seanbrookes commented on #114
I like ViewModel, ViewDataModel

On Tue, Feb 10, 2015 at 5:55 AM, Nemo <notifications@github.com> wrote:

--
*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://strongloop.com/node-js-performance/strongops/> like monitoring,
debugging and clustering**.*

[2015-02-10 22:35] marcellodesales commented on #1047
@bajtos thanks! Ready for NodeSummit! :) I will say hi to the booth today!

[2015-02-10 23:23] crandmck commented on #1041
This is addressed in the JSdoc comments in `PersistedModel.js` and `Model.js`.  The API docs will be updated the next time loopback is published to npm.

[2015-02-10 23:23] #1041 closed

[2015-02-11 11:49] slawo commented on #964
@raymondfeng: Not necessarily. While using regexp would cover this in most cases it will not in fact work in setups where regular expressions are not enabled on the backend.

More important is the fact that they are very simple to implement and add immediate value to the framework

[2015-02-11 20:21] SLTestUser opened #1085 "test issue"

[2015-02-11 20:22] SLTestUser commented on #1085
testing waffle

[2015-02-11 22:32] Solher opened #1086 ""Has many through" relation issue"
Hi,
I'm currently trying to use a "has many through" relation.
The problem is I can create countries (POST /Documents/{id}/countries) but I always get an empty array when I try to get them afterwards (GET /Documents/{id}/countries).
The mappings/ids in the DB are alright and everything looks fine.
Here are my models:

Document:
  "relations": {
    "countries": {
      "type": "hasMany",
      "mo

[2015-02-12 05:34] bajtos commented on #1036
LGTM.

[2015-02-12 05:34] #1036 closed

[2015-02-12 11:01] siddhant-mohan opened #1087 "Getting http request object in model.js"
Is there any way to get http object (containing req, res e.t.c) in model.js file or especially in custom remote method like in rails we get an object named 'itself' in the controller which contains all the http object(req, res, env e.t.c).

on debugging I have seen that only args is being passed to remote method(model.js) from http-context.js file.

[2015-02-12 12:20] fabien commented on #1087
Try the following as an example:

[code]

[2015-02-12 12:29] #1087 closed

[2015-02-12 13:08] jbrw1984 commented on #718
Any movement on this? Or should we just use the 'belongsTo' relationship?

[2015-02-12 17:18] esco commented on #637
:+1:

Silently stripping out undefined values can have catastrophic outcomes for MongoDB queries.

[code]

The result of the above code is that all users in the database will have their email updated. Although this also requires an application error, this is not an expected outcome for the developer in any circumstance.

[2015-02-12 20:43] #1086 closed

[2015-02-12 20:56] cajoy opened #1088 "Extend remote method documentation"
Let's assume we have build in user model or any model with pre-defined methods like create.

And in Explorer/Swagger there is good API description of methods. But what if I want to change description or notes?

Basically question is how can I extend/override default remote methods?

something like

[code]

[2015-02-12 21:27] crandmck commented on #718
Sorry I haven't gotten to this.  Will try to carve out some time to improve it.

I nneed to talk with Raymond... Here is something from him from chat re diff. btw 'hasOne` and `belongsTo` (for my notes):

hasOne: a customer has one profile

[2015-02-13 00:48] ritch opened #1089 "Add examples to CI"
This includes adding basic smokes tests for examples that do not include any tests.

[2015-02-13 01:11] ritch opened #1090 "Review and improve docs for polymorphic, embeded, and through relations"

[2015-02-13 01:23] ritch opened #1091 "Extract User / Authentication into a plugin / component"
This issue is a placeholder to start talking about extracting the opinionated User model into another module. I'd like to allow dropping in a totally different user implementation without copying any User model code. This means we need some sort of base / abstract `User` that these opinionated implementations can be based on.

[2015-02-13 01:29] ritch opened #1092 "Rework existing examples to use the new operation hooks"

[2015-02-13 01:36] seriousben commented on #1091
Would definitely be useful, we ended up not inheriting from the User model and creating our own. But still use accessTokens and other related models.

[2015-02-13 04:06] ayhoung opened #1093 "Autoupdate blocks entry for 'required':false values"
When autoupdate migration is enabled and new "required:false" fields are added to the json model, it updates the database (postgres) successfully, but everything passed into the new columns results in null values.

[2015-02-13 11:52] Nutelac opened #1094 "Automatically include relations to every operation."
It's possible to automatically include relations to response in every operation (create, update, delete, ...) without an explicit "include" filter in url?

e.g.

When I send request:
[code]

It should respond with:
[code]

I end with this code, but it only include **group** relation for findAll and findOne methods:
[code]

Even when I update code to:
[code]

The response is:
[code]

Thank you.

[2015-02-13 16:13] jbrw1984 commented on #718
My question is - does this affect the $owner role? For example, right now I have multiple 'belongsTo' relations on a single model, even though a few should probably be better categorized as a 'hasOne' relation. In this case, how is the $owner role determined?

[2015-02-13 16:13] mrfelton commented on #418
This is awesome. Using the techniques here I've been able to use Bluebird promises for most of my loopback code. The only exception I have found so far is the model relation methods which was mentioned earlier in this thread. Just wondering if anyone has come up with a way to promisify the complete model, including the relationship methods?

[2015-02-13 16:25] raymondfeng commented on #1094
See http://docs.strongloop.com/display/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Defaultscope

[2015-02-13 16:25] #1094 closed

[2015-02-13 16:31] bajtos commented on #418
I'd like to modify the current API to support both callback and promise based usage using the approach shown in https://github.com/iojs/io.js/pull/173. I have updated the issue description to match this new direction.

[2015-02-13 16:36] raymondfeng commented on #418
+1. You could just create a promise backed callback function to replace https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L127-L131.

[2015-02-13 16:40] raymondfeng commented on #1093
@ayhoung Can you provide a simple test case and link to the github repo?

[2015-02-13 16:54] Solher commented on #395
+1, I really think that feature is crucial.

[2015-02-13 20:48] ritch opened #1095 "Request / Context Identifier"
Almost all services need some meta / header data that allows separate systems to tie identify a request outside the scope of access control.

Perhaps something as simple as:

[code]

[2015-02-13 22:19] cgole commented on #1089
We could set up a server and deploy the example apps to the pm server after a successful build. We could also add  app url links to our docs.

[2015-02-13 22:45] TofPlay opened #1096 "npm WARN engine async-listener"
Hi
When I run this command:
[code]
I have this message:
[code]

[2015-02-13 22:48] raymondfeng commented on #1096
It's safe to ignore the warning. You can open an issue against https://github.com/othiym23/async-listener too.

[2015-02-13 22:48] #1096 closed

[2015-02-13 22:52] TofPlay commented on #1096
Done :smile:

[2015-02-13 23:07] partap commented on #418
Cool!
I just tried this and it seems to be working so far...  I have to make sure
to return the promise in all the different code paths.
I'll add in some tests to make sure and if it looks good, I'll submit a
PR...

-partap

On Fri, Feb 13, 2015 at 9:36 AM, Raymond Feng <notifications@github.com>
wrote:

[2015-02-13 23:18] shlomiassaf commented on #418
@bajtos

Just to make it clear,
You choose to implement it in a way that will keep the current API similar.
If a callback argument is not supplied, a promise is returned?

[2015-02-13 23:29] partap commented on #418
Yes... and if the function previously returned a value, I'm returning the
same value if a callback is supplied.

On Fri, Feb 13, 2015 at 4:18 PM, Shlomi Assaf <notifications@github.com>
wrote:

[2015-02-14 08:38] billinghamj opened #1097 "HEAD requests return wrong data in headers"
Follows on from #1045, which was incorrectly closed.

In the documentation & API explorer, the `HEAD` method is incorrectly described as a way to check for the existence of an object. In fact, it is actually meant to return exactly the same as a `GET` request does, but without the body.

The `Content-Length` and `Etag` headers return different values for GET & HEAD requests.
#### HEAD

[code]
####

[2015-02-14 08:45] billinghamj commented on #1097
This is what causes the issue:

https://github.com/strongloop/loopback/blob/master/lib/persisted-model.js#L542

`HEAD /:id` should be part of the `findById` remote - not the `exists` remote. I can fix this, but I don't know exactly how you want to proceed with changes like this - compatibility-wise.

This could be considered a breaking change, if anyone was relying on the `Content-Length` and `Eta

[2015-02-14 08:52] billinghamj commented on #1097
A similar issue is exhibited here:

https://github.com/strongloop/loopback/blob/master/lib/model.js#L567

However in this case, the correct solution is a bit different. Currently, `HEAD /:pathName/rel/:fk` is used to check for existence. However, `GET /:pathName/rel/:fk` doesn't exist, so the equivelent `HEAD` should not exist either.

The correct path to check for existence in this case is `HEAD

[2015-02-14 09:58] beat84 commented on #505
+1

[2015-02-14 13:26] beat84 commented on #735
And if the relation is a HasManyThrough type, how can I include a filter on the through model?
For instance:
Model A has Model C through Model B.
Model B has modelAId and modelCId obviously, and a boolean field (filteringFld).
Is it possible querying it to get all the Model C for Model A where the filteringFld of Model B is true?

[2015-02-14 19:54] Nutelac commented on #1094
Thank you for your response. Unfortunatelly, this does not work for creating, updating and deleting.

[2015-02-14 22:34] shlomiassaf commented on #418
@partap

The `RelationDefinition` object gets created once for every relation in every model.
However, the invoking function/object gets created dynamically every time a relation instance is requested.

You can see it [Here](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L1104)
This function adds the relation property to a model`s prototype (e.g: M

[2015-02-15 01:11] esco commented on #418
:+1:

[2015-02-15 01:13] senorcris commented on #418
:+1:

[2015-02-15 21:04] partap commented on #418
Thanks, it looks like that is the crux of the problem.

With the original callback mod, it doesn't support relations, and without
that, it's essentially the same as just running Promise.promisifyAll() on
each model, which is my current promise solution.

On Sat, Feb 14, 2015 at 3:34 PM, Shlomi Assaf <notifications@github.com>
wrote:

[2015-02-15 23:03] partap commented on #418
The relation methods have a few synchronous modes:

 * - order.customer(refresh, callback): Load the target model instance
asynchronously
 * - order.customer(customer): Synchronous setter of the target model
instance
 * - order.customer(): Synchronous getter of the target model instance

For backwards compatibility, I'll only return a promise if refresh is an
explicit boolean and no callback is su

[2015-02-16 00:47] partap commented on #418
Ran into a hiccup while testing:

DAO.create() supports chaining, but I'm not sure how to handle it... I'm
returning the new data if a callback is supplied, otherwise the promise.
This passes the current test suite.

How is chaining expected to work? Should I continue to return the data
object or array even when using promises?
I could, for example, attach a $promise variable to the data, similar

[2015-02-16 01:25] partap commented on #418
Another issue in create...

Apparently the batch creation allows "partial success"
<https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/manipulation.test.js#L159-L167>...
if validation fails on one record, the others are still created and
returned in the callback.

Normally, node callbacks have an error as the first argument, and if it is
set, then the rest of the arguments

[2015-02-16 02:52] partap commented on #418
I submitted a PR here:
https://github.com/strongloop/loopback-datasource-juggler/pull/447

There is still a lot of testing to do with related models, but the
manipulation tests seem fine.  For the most part, I just went through the
existing tests and duplicated them using promises where applicable.

If anybody wants to help with the tests for related models, I'd appreciate
it...there are a *lot* o

[2015-02-16 15:18] framp opened #1098 "Translatable models"
Is there any plan to provide a facility to translate string contained in other models?

The workflow could be:
## Developer
- Developer adds some options (in the same way the ACL works) to define which fields can be translated on a certain `Model`
## User
- User creates a model with `defaultLanguage` strings
- User creates a `Translation` model which contains:
  - `modelId`: id of the translated m

[2015-02-16 18:52] robotiko commented on #817
+1

[2015-02-17 03:14] superkhau commented on #1023
@AvivLander I was able to reproduce your issue and I'm assuming you see something like:

[code]

I'm not sure why the error is there yet, but I will continue to dig deeper.

[2015-02-17 04:44] AvivLander commented on #1023
@superkhau this is the issue I was getting. If you need any more information or help, please ask, and I will do my best to do so.

[2015-02-17 13:43] bajtos commented on #1020
I don't like this idea:
 - LocalStorage is persistent, the "current context" is not meant to be persisted.
 - When there are two methods called in parallel, each invocation has it's own "current context". LocalStorage-backed "current context" would be shared by all invocations.

We should find a different way how to provide "current context" functionality in a browser.

[2015-02-17 15:15] arjan123 commented on #531
would be a very handy feature. Maybe in combination with dynamic, calculated properties

[2015-02-17 15:25] jolafrite commented on #1059
Hi
There is no +1 button on Github but I definitely would be interested by this feature
Is there a place where I can start to have a look ?

[2015-02-17 16:00] bajtos commented on #418
explicit boolean and no callback is supplied.

In my opinion, such rather unfriendly. Most people will forget the `true` argument and get `undefined` in the better case, or a cached object in the worse case. The code won't make it obvious where the mistake is, thus troubleshooting will be difficult.

It also violates the promise pattern where all promise functions should always return a promise, r

[2015-02-17 18:49] bajtos commented on #292
The implementation of `$now` as a `Date` default value has landed in juggler's master: https://github.com/strongloop/loopback-datasource-juggler/pull/445

You can use `$now` for the `lastupdated` field once the new juggler version is released. `created` field is tricky to get right, because `createOrUpdate` does not know in advance whether the `created` column should or should not be updated.

[2015-02-17 22:04] zanemcca opened #1099 "Polymorphic relation messes up delete for $owner of model"
Getting the following error
[code]
When I looked at it it appears to be getting called with a null modelTo from within modelClass.findById in role.js. I have a polymorphic belongTo relation that I think is causing the problem. I modified isUserClass to return false if the passed in modelClass is null and it cleared the issue up for me.