[2015-11-20 20:34] Amir-61 commented on #1828
Thanks @sharkinsspatial; to be honest I could not reproduce your error message. I'm getting a different error message (forbidden error); not sure if I can use Mailgun right after signing up or it takes some time to have the service available... Also, it is worth mentioning that [Model Hooks](https://docs.strongloop.com/display/public/LB/Model+hooks) is now deprecated and instead you can use [opera

[2015-11-20 20:40] gunjpan commented on #1526
Hi @stringbeans, if you are still looking for an answer:
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-11-20 20:41] #1526 closed

[2015-11-20 21:08] gunjpan commented on #1515
@seminice : Please refer to: https://docs.strongloop.com/display/public/LB/AngularJS+JavaScript+SDK#AngularJSJavaScriptSDK-Update for manipulating Model data with Angular.
For future reference, please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-11-20 21:09] #1515 closed

[2015-11-20 21:10] varunj90 commented on #1822
@raymondfeng

Another question - we are starting our server using the supertest app; i came across this thread and was wondering if its somehow related?

https://github.com/strongloop/loopback/issues/1538

If yes, can you shed some insight in what could be a fix and in which file.

Thanks again !

[2015-11-20 21:38] fabien commented on #1817
@richardpringle sure, makes sense - which means you'd deprecate `setAttribute` as well then?

[2015-11-20 22:50] crandmck commented on #1528
This is still an issue: https://apidocs.strongloop.com/loopback/v/2.25.0/#persistedmodel-findorcreate

[2015-11-20 23:13] sharkinsspatial commented on #1828
I believe you will receive a verification email from Mailgun which you will need to confirm to activate the account.  Also note that the api key should be prefixed by 'key-'  (I made this mistake when I first entered mine).  I will look into using operation hooks rather than the deprecated model hooks.  I was following the technique outlined in the user registration section of the [documentation](

[2015-11-21 03:05] Amir-61 commented on #1828
Hey @sharkinsspatial,

Yes you are more than welcome to contribute the code and submit the pull request.

Thanks for reporting the issue!

[2015-11-21 06:07] djbeckett commented on #1808
I am having the same problem and `--no-optional` is not resulting in a clean install. Here is the log when I use `--no-optional`. Any ideas? I would really like to use loopback...

$ sudo npm install -g --no-optional strongloop
Password:
npm WARN deprecated jsonstream@1.0.3: use JSONStream instead
npm WARN deprecated showdown@0.3.1: IMPORTANT hotfix
npm WARN deprecated react-tools@0.10.0: react-to

[2015-11-21 21:06] tekand commented on #737
Hi,

I have a quite similar problem. Lets say I have `Product hasAndBelongsToMany Categories`. What operation hook should I define if I like to trigger additional actions (send a push notification for example) if a new relation is made between these two models (`PUT /Products/{id}/categories/rel/{fk}` or `PUT /Categories/{id}/products/rel/{fk}`)

Thanks,

David

[2015-11-22 18:44] rmg commented on #1730
I'm closing this for now. @danielblignaut please re-open if it is still a problem for you.

[2015-11-22 18:44] #1730 closed

[2015-11-22 20:05] rmg commented on #1808
@djbeckett what do you get if you run it without `--no-optional`? The extra optional dependencies are intended to smooth over some of these odd issues related to dependency resolution. There will be some build failures for some of the optional dependencies, but it should finish.

[2015-11-22 20:37] djbeckett commented on #1808
Thank you so much for your reply. I'm really excited about this framework!

I was somehow able to get it to install, though I'm not sure I could
replicate it. I restarted the machine, I tried from a different OS user, I
tried to install the old strong-cli which it complained about but did
something anyway. And then for some reason finally I was able to install
strongloop.

So, in short, I flailed.

[2015-11-22 20:51] rmg commented on #1808
@djbeckett Installing `strong-cli` could cause problems because of how it uses peerDependencies and because it will name squat on `/usr/local/bin/slc` which is also created by the `strongloop` module.

I'm guessing that because you are using npm@3, which doesn't install peerDependencies for you, the installation failed.

If you were having permissions error when installing before under your regula

[2015-11-23 03:17] djbeckett commented on #1808
Thank you again for your reply.

I don't have the output any more, but I remember one of the errors was the same as OP on this thread re: `gentlyRm ... isn't under npm's control` which perplexed me.

`npm ERR! gentlyRm containing path /usr/local/lib/node_modules/strongloop/node_modules/strong-pm/node_modules/loopback-explorer/node_modules/swagger-ui/node_modules/swagger-client/node_modules/btoa is

[2015-11-23 06:36] wzup opened #1830 "AccessToken.destroyAll doesn't work for "connector": "memory""
`AccessToken.destroyAll({ where: {userId: 1}})` doesn't work for `"connector": "memory"`. Doesn't delete entries.

[2015-11-23 10:35] mrbatista commented on #505
+1

[2015-11-23 10:42] mrbatista commented on #1629
Is it possible to have any feedback from a strongloop team member? If it's known bug, I should review my implementation logic. Thanks a lot.

[2015-11-23 13:59] gausie commented on #1009
The automatic passthrough of unrecognised properties actually doesn't work for this on MongoDB.

[2015-11-23 14:09] zanjs opened #1832 "api is user list"
List sorting and filtering criteria

[2015-11-23 14:18] Octopixell commented on #1739
+1

[2015-11-23 14:20] gausie commented on #1009
The reason for this bug lies with this line

https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L1238

In my case, the property I am inspecting is of boolean type. My `{ exists: true/false }` object will be converted to `true` by this line because `DataType` is the `Boolean` constructor.

[2015-11-23 14:26] bajtos commented on #1821
I'm adding a `doc` label to remind us to update the docs too.

[2015-11-23 14:30] bajtos commented on #1821
@fabien thank you for explaining the background of the `defaultScope` feature!

@geekguy does the suggestion above work for you? I it does, then I would prefer to not make any changes and instead update the documentation to describe caveats of scopes together with a hook-based alternative for implementing a default scope that applies filters on reads only.

[2015-11-23 14:40] gausie commented on #1009
A possible solution for this would be to have the coercion skipped if the value is an object?

[2015-11-23 15:38] loay commented on #1629
@mrbatista  Looking into it .. Will get back to you shortly.

[2015-11-23 15:59] Amir-61 commented on #1830
Hi @wzup,

Thanks for reporting this bug! For now as a work around you can use `destroyById` to destroy a model instance with passing the ID, until this bug is fixed...

Thanks for reporting!

[2015-11-23 18:01] sam-github commented on #1749
We have a common style for non-loopback code: https://github.com/strongloop/strong-supervisor/blob/master/.eslintrc and https://github.com/strongloop/strong-supervisor/blob/master/package.json#L59 and
[code]

Is our basic setup. Loopback probably has a slightly different style, but the integration pattern above would remain the same.

I've found a few things in jscs that eslint < 1.0 didn't catch,

[2015-11-23 18:30] superkhau commented on #1749
Boo.

[2015-11-23 18:41] BerkeleyTrue commented on #1749
http://eslint.org/docs/rules/max-len

[2015-11-23 18:43] superkhau commented on #1749
@BerkeleyTrue Nice.

[2015-11-23 18:45] superkhau opened #1833 "slc loopback:model damage my middleware configuration"
I'm using the following middleware setup
## `middleware.json`

[code]
## `middleware.production.js`

[code]

as you can see i'm using the name to avoid serving files from some routes if my app it's on production

Now when I ran commands like `slc loopbck:model` my middleware.json left in this state

[code]

I can omit this before commit but it's a bit annoying

[2015-11-23 18:45] superkhau commented on #1833
from https://github.com/strongloop/strongloop/issues/254

[2015-11-23 18:56] sam-github commented on #1749
@BerkeleyTrue Thanks! I swear, just last week I scoured the userdocs and didn't find that!

[2015-11-23 20:11] varunj90 commented on #1822
@raymondfeng

Latest Finding:  if we add the following code snippet for the unit tests, they actually pass

![image](https://cloud.githubusercontent.com/assets/3495961/11348355/1ef2799e-91f4-11e5-9ea7-d8f0d8d572e5.png)

Reference in server.js : start function

![image](https://cloud.githubusercontent.com/assets/3495961/11348379/45f561be-91f4-11e5-8a50-6379cd04022e.png)

Reference in server.js : st

[2015-11-23 20:26] superkhau commented on #1827
My vote goes to no icon to prevent issues like this from coming up again in the future.

[2015-11-23 21:37] benawarez commented on #1489
I'm also having the 500 error.  I'm essentially using the same AuthService and controllers that came with the loopback-getting-started-intermediate.

The only difference is the following, any ideas?  Thanks in advance.

    $scope.login = function(e) {
      console.log('logging...');
      AuthService.login($scope.email, $scope.password)
        .then(function() {
          console.log('I am insi

[2015-11-23 21:40] jannyHou commented on #1585
Hey @daddybh , I tried to reproduce your problem but in my case, the primary key works fine.
I will paste my snippet and config stuff here, if you still have problem, please contact me.
This is my script file, exactly the same code as you post:
[code]
And I created the table in MySQL as :
[code]

My explore api looks like:
[code]
(please ignore unnecessary property names :p)

[2015-11-23 21:52] #1585 closed

[2015-11-23 23:52] Amir-61 commented on #724
Hi @jorgeramos,

Please share the repo or re-produce the issue using [loopback-sandbox](https://github.com/geekguy/loopback-sandbox). Also, for this type of question we encourage you if you can ask the question on  our [Google community](https://groups.google.com/forum/#!forum/loopbackjs)...

Thanks!

[2015-11-24 00:19] berill commented on #1760
Hi Candy,
as far as I can see, it sort of does. feel free to close this up and mark as a dup of the other one.

Sorry for not picking it up before. I will like to point out though, that this particular query does work for mysql connector, as in: it doesn't filter it if the nested query doesn't have the related item, but at least it returns it when it exists.

[2015-11-24 00:47] Amir-61 commented on #1830
Hi @wzup,

The correct syntax is the following:

[code]

I tried it and it is working for memory connector as well. I will be closing this ticket...

Thanks!

[2015-11-24 01:09] #1234 closed

[2015-11-24 08:42] shbhsngh commented on #1138
facing the same problem.  don't know, why loopback is not giving option to change verification email body?

[2015-11-24 09:44] vabnirvana commented on #559
Hey I am not able to understand the implementation @doublemarked . I have put the code
"mixins": {
    "ClearBaseAcls": true
}
in model-config.json and it gives "Error: Model not found: mixins" since I dont have any model.json. Should I create a new Model named mixins?. Any leads would be awesome as I am new to loopback. Thanks.

[2015-11-24 09:52] mrbatista commented on #1629
@loay Thanks!

[2015-11-24 09:52] doublemarked commented on #559
This belongs in your `common/models/whatever-model.json`, not in model-config.json.

[2015-11-24 09:56] vabnirvana commented on #559
Ohkay and after putting it there it gives ClearBaseAcls: Failed to load model config from /common/models/user.json error

[2015-11-24 10:16] skolesnyk opened #1834 "Support request"
There's one thing I don't get about Models. I have a custom model extending built-in Model 'User'. My model generated from Postgres backend. Whenever I try POST to /Customers with
{
"email" : "tester@test.com",
"password" : "test"
}
I get error  "The `Customer` instance is not valid. Details: `id` can't be blank (value: undefined)." id is set to autoincrement and not null in Postgres. I had to set

[2015-11-24 11:36] doublemarked commented on #559
Do you have any ACLs defined in your user.json file? Note the code above is very straight forward:

[code]

[2015-11-24 12:02] framp commented on #917
+1

[2015-11-24 12:05] tuomastanner commented on #1692
+1

[2015-11-24 12:36] #1830 closed

[2015-11-24 15:29] sachinhub commented on #162
I have a remote hook as follows -

Model.afterRemote ('**', function (ctx, result, next){
   console.log ('afterRemote hook called.');

   next ();
});

This hook gets called when GET is invoked from /explorer. However when a Model.find ({}) is executed from unit test case, the above hook is not getting called.

Any inputs on why remote hooks are not getting called when find is executed in unit te

[2015-11-24 19:22] 0candy commented on #1760
Hi Berill,
Interesting that it works for you. I tried running your code and the nested query still doesn't return the social network item for me.

I will close this as a dup of the other issue. https://github.com/strongloop/loopback/issues/517

Thanks.

[2015-11-24 19:22] #1760 closed

[2015-11-24 20:20] gunjpan commented on #1834
@skolesnyk : Hi, I'm looking into this request. Can you please provide me with a sample repo to re-produce the issue?!
Please see: https://github.com/strongloop/loopback/wiki/Reporting-issues

[2015-11-24 22:00] gunjpan commented on #1832
@zanjs : Hi, Could you please provide me some more information on what you're trying to achieve here (i.e. is that a suggestion for a new feature, if yes, please provide more info.)
 Please see: https://github.com/strongloop/loopback/wiki/Reporting-issues

[2015-11-24 23:11] loay commented on #1629
@ekussberg @mrbatista
i did few testings in order to ensure that the issue could be reproduced in the correct manner.

You are right .. when you update one attribute, it does not update all the other attributes .. so if we take the branch created by @mrbatista  as an example.
when you try to update
```setting.one```
then it will only update one, but two and three recently inserted values will be e

[2015-11-24 23:52] fabien commented on #1629
Looking at @mrbatista 's failing test case (without running it right now), I can see you were updating the 'parent' model's attributes, and then expect the related `settings` to be handled correctly. However, this is not how it works (you could call it a feature, but not a bug). Instead, you should perform the update on the **relation**.

So instead of:

[code]
You should actually call:
[code]

Or

[2015-11-25 00:13] mrbatista commented on #1629
@loay your workaround works, but there is a security issue: any client can override property/object of specific Model.
@fabien Ok for updateAttributes for embedsOne relation I need to call:
[code]
I expect, however, that
[code]
skip relation (in this case embedsOne model), otherwise any client can compromise the integrity of the data. This API is required to updateAttributes of father model.
What

[2015-11-25 00:18] fabien commented on #1629
@mrbatista I agree, we should make sure that such embedded properties are excluded from 'parent' updates - @raymondfeng thoughts?

[2015-11-25 00:52] GaryTowers commented on #1566
Same issue happening for me.
When I try to get my items with an include of another in them (and the relation is hasMany with through) it returns an empty array.

LivingArea **hasMany** CommonAreas **through** LivingCommonAreas

[GET] `/livingAreas/?filter[include]=commonAreas`
This returns all my LivingAreas with an array of commonAreas, however the array is empty every time even though there is r

[2015-11-25 01:55] bigktmbig commented on #684
Thank you so much!. It's greate.

[2015-11-25 04:22] tamilvendhank commented on #1526
Welldone @gunjpan

[2015-11-25 04:41] RayFerr000 opened #1835 "Field of type number and Date keeps returning 4294967295 when I use Date.now()"
So I know that the largest value a 32-bit number can represent is 4294967295, Is there anyway around this to store Date.now() in a integer field?

[2015-11-25 12:04] chrene commented on #505
https://github.com/strongloop/loopback-example-embedded-relations/blob/master/common/models/customer.json

[code]

I just tried with `embedsOne` and it validates that the relation must be defined.

[2015-11-25 12:34] mariohmol commented on #1803
I'm having EXACLTY the same error. If I use a not valid email (like bondgmailcom) it says a differente message "must provide a valid email""

If i use the base class , User, it works like a charm

* account-user.json
[code]
* account-user.js

[code]

* controller.js (here if a change AccountUser.create to User.create it works!)

[code]

Tested using supervisor or node directly... my versions are n

[2015-11-25 12:45] ghatwala commented on #1704
HI All ,  i have managed to install node from source on ubuntu.

steps are as below
# git clone git://github.com/nodejs/node.git && cd node && git checkout v4.2.2
# ./configure && make && make install

Closing this bug  !!!

[2015-11-25 12:45] #1704 closed

[2015-11-25 12:58] gholias commented on #1803
I found out that the record save was failing for another reason, but the message said the email was invalid.
In my case was a problem related to a wrong Oracle field type.

Check the details of the error object, something like this:

    if (err.details) {
        console.log("unknownServerError details: " + util.inspect(err.details.codes));
     }

[2015-11-25 13:19] mariohmol commented on #1803
Thanks a lot!!!

You are right.. it shows me a error in mysql... in my case was a column mapped that doesnt exists in database .. the weird here is that this account-user.json was generated by sontrongloop discover...

Anyway, would be better to have a different error message here rather than "email invalid", do u agree?

[2015-11-25 13:23] gholias commented on #1803
yes, I agree
The error message make lost a lot of time trying to see what could be wrong
with the values I was saving.

On Wed, Nov 25, 2015 at 11:20 AM, Mario Mol <notifications@github.com>
wrote:

--
*Felipe Oliveira, *Software Developer

*http://www.felipeoliveira.me <http://www.felipeoliveira.me>*

[2015-11-25 15:11] loay commented on #1629
@mrbatista
we can use proper ACL for giving proper access for the CRUD operations so we can avoid any security issues.

[2015-11-25 15:15] mrbatista commented on #1629
@loay I have settings proper ACL with static role $owner. Rather than being a security problem, it is a data integrity one.

[2015-11-25 15:40] zanemcca commented on #1827
+1 for no icon

[2015-11-25 16:06] loay commented on #1629
@mrbatista
One more thing that might clear things ... which is somehow related to what @fabien  was saying earlier

if I post the following Test instance:

[code]

now, I want to only update the email in the parent "Test" without touching anything else ..

[code]

Now that will give the following where the parent is updated separately while keeping the setting attributes untouched.

[code]

I will

[2015-11-25 16:11] priyavivek1 opened #1836 "EMFILE, too many open files during perf test"
I am running a performance test with 50 users. After a certain number of request, approx 3500, all requests started to throw "too many files open" issues. Ulimit of my OS is 1024.

Following is the full stack trace:
[code]

A lot of places states increasing the ulimit is the solution, what should be the valid value of unlimit to be set.

@bnoordhuis :

[2015-11-25 16:23] mrbatista commented on #1629
@loay your example is right. Now if I want to update only field `email` and `setting.one`:
[code]
the result is:
[code]
embed model setting is completely overridden. Field setting.two is zero for default value in `setting.json`.
My consideration is that if I call this crud
[code]
for update attributes in embed model, I expect that
[code]
skip `setting.one` field (and other fields if present) for i

[2015-11-25 16:34] ebarault commented on #1355
Hi,

I have a slightly different question : my issue is the otherway around:

Say i have the following relations in my models

Book hasMany Pages
Pages hasMany Words

Using nestremoting I generate nested endpoints so I can for example Book.prototype__create__pages__notes(...)

I get the endpoints generated in lb-services with lb-ng.
I can use the endpoints through swagger explorer.

However there'

[2015-11-25 17:41] fablife opened #1837 "destroyAll with where clause crashes"
TestModel.destroyAll({where: {testprop: {like: "hallo%"}}}, function(err, results) {
      if (err) {
        console.log(err);
        done(err);
      }
      console.log("success");
      console.log(results);
    }); `

The `where` clause object is being interpreted as a field for lookup.
This happens in the context of an `after()` mocha test function.

    TypeError: Cannot read property 'typ

[2015-11-25 17:49] bnoordhuis commented on #1836
I'd set it high, there's no real reason not to these days.  Try `ulimit -n 32768` and see if that resolves the issue.

[2015-11-25 17:53] priyavivek1 commented on #1836
@bnoordhuis :Changing ulimit will definitely resolve the issue. Just wanted to comfirm, is this the only solution or we can fix it some other way.
i have gone through the code at /strongloop/node_modules/strong-agent/lib/info.js:44:21), and found its process.memoryUsage(), where its throwing error.

i tried putting a timeout at socket connection, but it didn't resolve the issues. any thoughts?

[2015-11-25 19:12] bnoordhuis commented on #1836
`process.memoryUsage()` opens `/proc/self/stat` to find out how much RSS the process is currently using.  I'll add some error handling to strong-agent for this particular case but in general, if your server is under moderate load, you're going to hit the default file descriptor limit sooner or later.

[2015-11-25 19:22] rimvydas-urbonas commented on #1495
Hello, I refactored my code as you suggested with remote ctx, but then I can 't login to the system because of:

TypeError: fn is not a function on
node_modules\loopback\common\models\user.js:261:9

[2015-11-25 22:45] Amir-61 commented on #1837
Hi @fablife,

The syntax you are using is not right; I recommend that you go through the documentations for [destroyAll](https://docs.strongloop.com/display/LB/PersistedModel+class#persistedmodel-destroyall) and [where clause syntax](https://docs.strongloop.com/display/public/LB/Where+filter#Wherefilter-Whereclauseforothermethods). Also there are some examples showing the right syntax,...; please

[2015-11-25 23:00] Amir-61 commented on #1803
Thanks for bringing this to our attention!

I'll label this issue as `enhancement`/`feature` to show better error messages.

Thanks

[2015-11-25 23:01] #1837 closed

[2015-11-25 23:59] zero5100 commented on #1485
+1 Just ran into this issue. If the "required" property is not set or set to false in the model it should not fail validation checks when the property is undefined on save. We already have the validatesPresenceOf method to explicitly check for required properties. I do not want to create custom validators that mirror built in methods except have a null check.

Thank you.

[2015-11-26 02:46] debianmaster opened #1838 "how do i retain sessions between deployments?"
I'm loosing user sessions on mobile devices when performing loopback deployments.

Where is session data stores on loopback  ?   users-api

[2015-11-26 02:56] BerkeleyTrue commented on #1838
Try using something like https://github.com/kcbanner/connect-mongo to store sessions. This is outside of loopbacks domain.

[2015-11-26 03:04] loay commented on #1835
@RayFerr000
Thanks for your question.
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-11-26 03:04] #1835 closed

[2015-11-26 09:44] doublemarked commented on #1651
Hey @bajtos - my turn to apologize. I'm sorry, it's been quite a long delay here on my side.

However - as is probably apparent, the size of this has ballooned a good bit (now stretching into three projects), and has started to exceed the bandwidth I have available to get involved, particularly as we shift more into less familiar territory (strong-remoting, etc.). I've been holding out, hoping to

[2015-11-26 15:55] Amir-61 commented on #723
I'm closing this ticket due to inactivity.

Please feel free to open an issue if you see the same issue; however it should be solved by now.

Thanks!

[2015-11-26 15:56] #723 closed

[2015-11-26 15:58] Amir-61 commented on #724
I'm closing this ticket due to inactivity. Please feel free to open a new ticket if you face the same issue.

Thanks!

[2015-11-26 15:58] #724 closed

[2015-11-26 16:27] gunjpan commented on #1556
@TNT-Likely : Hi, it looks like an issue with npm unable to find the version. Could you please let me know if this error still exist.

[2015-11-26 21:09] Amir-61 commented on #1013
Hey @crandmck,

Could you please clarify that by `make it consistent with other examples.` you mean I should follow your instructions at [here](https://github.com/strongloop-internal/scrum-loopback/issues/495)

Thanks!

[2015-11-26 22:42] robinskumar73 opened #1839 "Error fetching user model from Access Tokens"
I am trying to get the username after a user has logged in. I've followed this example from the docs. However, when I try to access the user relation, I am unsuccessful. What am I doing wrong?

Below is some code. You can assume that my data store contains a User with the username 'foo' and password 'bar'.

[code]

[2015-11-26 22:45] robinskumar73 commented on #1839
Also asked on stackoverflow
http://stackoverflow.com/questions/30359463/how-do-i-use-the-access-token-in-loopback

[2015-11-26 22:56] Amir-61 commented on #1839
Hi @robinskumar73,

Could you please ask your question in our [Google Community](https://groups.google.com/forum/#!forum/loopbackjs)? That way people can comment on your code easily; also just a side note, [user.login](https://docs.strongloop.com/display/public/LB/Logging+in+users) returns `accessToken.userId`, by which you can query user information from the user model.

I will close this ticket;

[2015-11-26 23:50] Amir-61 commented on #1839
I pushed the code to a [sample repo](https://github.com/Amir-61/loopback-issue-1839), used file based database and included the file `db.json` which saves user info in the repo so you should be able to see how `test.js` script under `boot` folder fetches user object after using `user.login`.

I hope this solves your question...
Thanks!

[2015-11-27 01:25] loay commented on #1838
Hello @debianmaster
Thanks for your questions. I am not sure if you meant the passport session or what type of session?
That link should answer your question:

https://groups.google.com/forum/#!topic/loopbackjs/SBAmhCkZwkc

For future reference, please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-11-27 01:25] #1838 closed

[2015-11-27 01:39] loay commented on #1810
Please let me know if the problem is still persisting .. we will re-open the ticket.
closes #1810

[2015-11-27 07:54] Yaojian commented on #1692
+1

[2015-11-27 13:13] bajtos opened #1840 "Alternatives for plural model names in endpoint URLs"
At the moment, LoopBack uses plural form of model name to build the URL where the model is exposed (e.g. `Car -> /cars`, `Person -> /people`).

This is a potential issue for non-English developers. For example, plural form of Person may be not obvious for everybody. Furthermore, to support localised (non-English) model names, LoopBack would have to ship with dictionaries for all languages.

Possib

[2015-11-27 13:33] bajtos commented on #1827
I am proposing to keep `loopback#favicon` as it is for backwards compatibility, and modify `slc loopback` to scaffold a project that does not come with any favicon middleware.

[2015-11-27 13:33] bajtos commented on #1827
@zanemcca @pwwolf would you like to contribute this change yourself? Here is the place where to start looking: https://github.com/strongloop/loopback-workspace/blob/a388532346ec2a9b498d3ff6a97b6248b3e613a7/templates/components/api-server/template/server/middleware.json#L3

[2015-11-27 14:23] bajtos commented on #1651
FWIW, we are discussing that favicon should be removed: https://github.com/strongloop/loopback/issues/1827

[2015-11-27 14:27] bajtos commented on #1651
Hey @doublemarked, thank you for the update. I agree this has grown much more that we anticipated in the beginning. I'll try to revisit this issue and our discussion in order to come up with some smallish incremental steps that *are* beginner-friendly. However, I can't promise any timeframe, it may take few weeks :(

[2015-11-27 14:27] fabien commented on #1806
@raymondfeng ping

[2015-11-27 14:53] bajtos commented on #1806
Hey @fabien, thank you for the detailed analysis. In principle, your conclusion that strong-remoting should not coerce model data to model instances makes sense to me and I fully agree. Before implementing that change, I'd like to hear from @raymondfeng and @ritch why that recent change was made - perhaps we (you and me) are both missing something important here?

[2015-11-27 14:58] bajtos commented on #1806
Actually, as I am thinking about this some more, perhaps we should not label accept arguments with `type:modelName` instead? For example, for `updateAttributes`, the argument is not a valid model, it's a subset of model properties. I'm throwing this in just as an idea to consider.

[2015-11-27 14:59] bajtos commented on #1806
BTW the type converter was registration was added as part of LB 2.0 work, see https://github.com/fabien/loopback/commit/918596f0353b726d4b0da7142a6b8e0aefa94b11

[2015-11-27 15:23] bajtos opened #1841 "GraphQL transport"
Make it easy to expose GrapQL APIs in addition (or instead of) traditional REST API.

See https://github.com/facebook/graphql/issues/3

@raymondfeng could you please share the result of your discussion with @leebyron and what are the next steps we need to take in order to make this happen?

[2015-11-27 15:25] bajtos commented on #1841
@leebyron You have locked facebook/graphql#3 for collaborators only. Would you mind adding a comment linking to this new issue, so that people can find the place where the discussion is continuing?

[2015-11-27 15:41] lionel-bijaoui opened #1842 "Swagger: skipping unknown type "geopoint"."
I'm totally new to strongloop, and I was following the getting started guide.

Instead of "CoffeShop", I used my model (named "event"), which require geopoint among other things and I'm using postgresql as my data source.
When I launch the server on my local machine (Windows 7, nodejs 0.12.6, strongloop 5.0.1), I get this warning : `Swagger: skipping unknown type "geopoint".`
And so when I launch

[2015-11-27 18:21] gunjpan commented on #1556
@TNT-Likely : Can you please advise if you're still experience this issue?

[2015-11-27 18:38] raymondfeng commented on #1840
I'm cool to use the model name by default and provide a way to customize it.

[2015-11-27 18:49] Amir-61 commented on #1839
@robinskumar73, I will be closing this ticket since it seems there is no issue and I already pushed a sample code to Github showing how you can get user object after `user.login`. Please see how I did it in [this sample Github repo](https://github.com/Amir-61/loopback-issue-1839) I just created for you...

Thanks!

[2015-11-27 18:49] #1839 closed

[2015-11-27 21:08] gunjpan commented on #1833
@rkmax: I tried to reproduce the issue and it seems an issue with the only `"name"` option in `middleware.json` file that gets updated whenever a new model is created. I'm changing the label to `bug` and we will cover it in our sprint planning soon to resolve.

[2015-11-27 23:00] dregre opened #1843 ""loaded" opertation observer -- either docs are incorrect or implementation is buggy"
[The docs say](https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-loaded), in relation to the `loaded` operation hook:

However, after attaching a debugger and inspecting the `ctx` returned to my `loaded` callback, I've noticed that:

1. The `ctx` object has no `data` property at all;
1. Contrary to what the description says, it __does__ contain a model instance.

E.g.:

[2015-11-28 02:20] dregre commented on #1843
I think this might be a bug.  I've noticed varying behavior:

1. When my `loaded` hook is called incident to one of my auto migrations (`app.dataSources.db.automigrate`), whose callback calls `create` on the model, then `ctx` has `data` but no `instance`.
1. When my `loaded` hook is called afterwards, e.g., when I `find` a record, the `ctx` has an `instance` but no `data`.

Could this varying beha

[2015-11-29 03:58] AshleyAitken commented on #1841
I'm interested in this too...

[2015-11-29 22:14] dregre commented on #114
+1

[2015-11-30 08:34] bigktmbig commented on #1213
if you stay user model :
var app = require('../../server/server');
var Role = app.models.Role;
var Project= app.models.Project;

[2015-11-30 14:29] pwwolf commented on #1827
I just realized one negative consequence of removing the favicon middleware.  Since loopback records 404s to the console, there are errors with stack traces unavoidably shown in the console when the browser attempts to request the now-missing favicon.

Even though the error is benign, I'd rather deal with the default favicon than have to see the error messages.

[code]

[2015-11-30 16:26] crandmck commented on #1013
@Amir-61 Yes, that is correct.

[2015-11-30 20:23] EmileSpecs commented on #1454
Hi @ritch, is this any closer to reality?
#1424 is "released", so assuming the backbone for this feature is in place?

[2015-11-30 21:37] superkhau commented on #1840
+1 for use whatever they define as the model name and provide a way to customize it

[2015-11-30 22:44] matthewdickinson commented on #1566
I've looked through the code, and I think I've found the cause of this issue. In the relationship setup code (https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L589), the it sets a property `keyThrough` to use for lookup values. If this property is not in the relationship definition in the .json file, it uses the model name (which in my and @GaryTower

[2015-11-30 22:44] #1566 closed

[2015-11-30 22:55] superkhau commented on #969
@chandadharap Moving out of TOB, this issue is still triaging and hasn't been flushed out yet. Adding major label to make sure we keep and eye on it.

[2015-11-30 22:56] superkhau commented on #969
@pulkitsinghal or @OwenBrotherwood Can one of you guys provide a project for me to clone in order to reproduce the issue?

[2015-11-30 22:57] superkhau commented on #1733
I believe this is a duplicate, someone on the TO team is working on something like this already.

@0candy @jannyHou @richardpringle @gunjpan @Amir-61 @loay @davidcheung ^

[2015-11-30 23:16] superkhau commented on #1758
How many of these are done? I assume we should go through this list at some point.

[2015-11-30 23:17] superkhau commented on #1702
@mhamann Are you still running into issues or is this good to close?

[2015-11-30 23:40] crandmck commented on #1767
Review Amir's draft in https://docs.strongloop.com/display/LB/New+doc+for+nestRemoting

[2015-11-30 23:45] fabien commented on #1806
@bajtos thanks for the update. It's strange that this has been committed as part of LB 2.0 such a long time ago. I did not expect that, because this issue has only surfaced recently for me. All this time the given test cases passed, all the way until my recent update from 2.18.0 to 2.23.0.

There must be something else involved, and I suspect this to be in `strong-demoting` instead.

[2015-12-01 00:06] haukurk commented on #395
+1

[2015-12-01 00:10] crandmck commented on #1758
I'll review ASAP.

[2015-12-01 00:15] loay commented on #1733
@superkhau  I was recently working on a security issue but related to component passport, so not sure if that's what you meant.

[2015-12-01 01:40] seanbrookes commented on #517
+1

the dot notation doesn't seem to work with Angular SDK / mongo
eg:

[code]
returns no documents

[code]
returns all the documents

[2015-12-01 02:41] vnathalye opened #1845 "custom role resolver not getting executed for related model"
I've defined a custom role resolver that is not getting executed when I try to access the model via relationship.
E.g.- Project - Team - Tasks
Project has many TeamMembers.
TeamMember can belong to many Projects.
Project has many Tasks.
Task belong to a Project.

I'm trying to setup a scenario such that, basic project info is accessible (READ) to all authenticated users, but Tasks are accessible o

[2015-12-01 02:57] gunjpan commented on #1733
Closing as it's a duplicate of: https://github.com/strongloop-internal/scrum-loopback/issues/583

[2015-12-01 02:57] #1733 closed

[2015-12-01 03:16] gunjpan commented on #1845
@vnathalye : Hi Vivek, I'm looking into this issue. Could you please provide me with a sample repo to reproduce it as it will help me in the triaging process. Thank you.
Please see:https://github.com/strongloop/loopback/wiki/Reporting-issues

[2015-12-01 04:17] gunjpan commented on #1842
@lionel-bijaoui : Hi, I was able to reproduce the issue and have flagged it as a bug. There is similar issue reported at: https://github.com/strongloop/loopback-component-explorer/issues/126
Meanwhile, you could use `latlang` as an array of integers. Hope that helps, please let me know if you have any questions/concerns.
Will update you when it is fixed

[2015-12-01 06:32] superkhau commented on #1731
@Amir-61 Please follow up on this issue as you are the triage expert for this repo now.

[2015-12-01 06:34] superkhau commented on #1714
@kennethlynne Glad you got it resolved. Closing this. If you run into anymore issues, feel free to comment and I will reopen this issue.

[2015-12-01 06:59] tesenwein commented on #1692
+1

[2015-12-01 07:30] #1714 closed

[2015-12-01 07:36] superkhau commented on #1687
@wesleymilan Are you still running into issues? Is this good to close?

[2015-12-01 07:38] OwenBrotherwood commented on #969
@sumitha  if @pulkitsinghal does not have time, I will try.
Give a callout to me by end of year if nothing happened

[2015-12-01 07:39] superkhau commented on #1608
@onnoll Hav eyou tried @h2non's solution? Is this issue good to close?

[2015-12-01 07:44] vnathalye commented on #1845
@gunjpan Hi Gunjan,
Please check the sample repo @ https://github.com/vnathalye/loopback-sandbox

When you access index.html, it will show you list of projects. When you click on a project it shows basic details of the project along with the tasks associated with that project. Shouldn't the role resolver get executed before these tasks are fetched using include filter?

[2015-12-01 07:51] OwenBrotherwood commented on #969
@superkhau @pulkitsinghal code is a clone of:
https://github.com/strongloop/loopback-example-access-control
His fix, to the example code is:
https://github.com/ShoppinPal/loopback-example-access-control/commit/b9e408120a6b948a75a5b7651534d698aadfd9f6

The real fix? hmm, is it inside loopback code?
So, pulkitsinghal has supplied a fix to the example code that can be reviewed.

[2015-12-01 10:00] #1575 closed

[2015-12-01 10:01] bajtos commented on #1575
The story covering work on our examples: #1576

[2015-12-01 11:13] violet-day commented on #1724
+1

[2015-12-01 13:01] mariohmol opened #1846 "Inifinity Loading in discovering models"
Hy there

I'm using slc arc to open the console, using root user, and trying to generate a model.

I tested in 2 different  machines (OSx and ubuntu server), both using mysql (mysqld  Ver 5.6.22 for osx10.8 on x86_64)
It shows the tables and generate all except for one table it stays in a inifinty loading..

I used 3 different browsers to run as well (ff, chrome and safari)

Here are my versions o

[2015-12-01 13:40] mariohmol commented on #1846
If i reduce the table to this size it works

CREATE TABLE `Usuario` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `password` varchar(255) DEFAULT NULL,
  `email` varchar(120) DEFAULT NULL,
  `nome` varchar(200) DEFAULT NULL,
  `genero` varchar(10) DEFAULT NULL,
  `image` varchar(256) DEFAULT NULL,
  `endereco` int(11) DEFAULT NULL,
  `status` smallint(6) DEFAULT NULL,
  `borndate` date DEFAULT NULL,

[2015-12-01 14:57] loay commented on #1846
Hi @mariohmol
Thanks for reporting the issue. Having a look and getting back to you.

[2015-12-01 15:05] loay commented on #1825
Hi @EmileSpecs
Thanks for reporting the issue. I am having a look to reproduce and getting back to you on that.

[2015-12-01 15:30] loay commented on #1799
@mike-aungsan
Any news on that issue? Still having the same problem?
if yes, can you please provide me some info so I can help out.  Thanks

[2015-12-01 15:38] loay commented on #1712
@blackvirus18
Did you get that sorted out?
if not, can you please share the save model function that you are using with the type of db?
Even better, if you have a repo that I can use to reproduce the issue so I can help out?
Thanks.

[2015-12-01 17:16] gunjpan commented on #1845
@vnathalye :Thank you Vivek for providing with the repo. Will look into it and update you.

[2015-12-01 17:18] crandmck commented on #1758
Current status is:
- One of the tasks is done (checked above).
- Open PR: https://github.com/strongloop/loopback-example-relations/pull/20 which looks pretty close to being resolved.  Janny/Simon
- https://github.com/strongloop/loopback-example-user-management/issues/25 is assigned to @richardpringle and has not been started AFAICT.

[2015-12-01 18:30] superkhau commented on #1758
TY for the status update. Keep chugging along.

[2015-12-01 18:34] superkhau commented on #1743
It looks like you have some discovery code you are writing. Why can't you provide a sample project with the sample project? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

[2015-12-01 19:03] EmileSpecs commented on #1825
Hi @loay, thanks!

I've now also found another problem caused by change streams. In my app I register 6 change stream listeners, when they're enabled all other requests remain pending until the EventSources throw the errors above and then they return responses.

So my app basically doesn't function when I have these 6 change streams registered. Do these change streams somehow block other responses

[2015-12-01 20:41] doublemarked commented on #1669
I see the discussion from #1489 has been making its way through various issues and PRs. I want to again voice the suggestion I placed there - is the correct fix perhaps just to adjust the ACL? We all agree that logout should not be called without an access token. Yet the ACL currently allows $everyone:

[code]

Change to $authenticated?

[2015-12-01 20:52] loay commented on #190
@lsdriscoll,  Since issue is fixed, closing case.
If issue still persisting, please let us know. Thanks.
closes #190

[2015-12-01 20:52] #190 closed

[2015-12-01 21:28] loay commented on #1825
@EmileSpecs
is your app somewhere on github so I can try reproducing using your app?
Thanks

[2015-12-01 21:52] gunjpan commented on #1800
@mike-aungsan : Hi, could you please advice if you're still getting the buggy results in find function. I've tried to reproduce the issue and I was getting an empty array with status code: 200, no data from DB. It will be great if you could provide me with a repo to see what's happening as it will help me to verify and escalate it as a bug.
Should you have any questions/concerns, please let me kno

[2015-12-01 21:54] gunjpan commented on #1556
@TNT-Likely : Hi, Just following up on this issue. Could you please let me know if you're still expereince this issue. IMO, it is not an issue with Loopback itself. Your take on it would be appreciated.
Thank you.

[2015-12-01 21:57] gunjpan commented on #1823
@jbcpollak: Hi Joshua, I'm looking into this request. I am investigating a watch can be placed on a single model instance. Will udpate you soon with the outcome. Thank you.

[2015-12-01 22:05] loay commented on #1636
Hi @simonguest

Did you have a look at this part here: Read-Only endpoints example in the following document.

https://docs.strongloop.com/display/public/LB/Authentication%2C+authorization%2C+and+permissions

is that what you are looking for? If not, would it be possible to provide more info a repo so I can reproduce your issue? Thanks.

[2015-12-01 22:26] loay commented on #384
@xinshouke
Closing due to inactivity. If you are still running into issues, feel free to leave a comment and I will reopen the issue.
Actually some users have developed few e-commerce apps based on Strongloop and some are available on github.
Thanks.

[2015-12-01 22:26] #384 closed

[2015-12-02 00:10] gshireesh opened #1848 "verification token not getting removed on confirm"
https://github.com/strongloop/loopback/blob/master/common/models/user.js#L467

i hope the code here should be
user.verificationToken = "";

[2015-12-02 01:35] Amir-61 commented on #1674
@oscar-espada Could you please confirm if you still have the same issue? It seems this should have been solved by [this fix](https://github.com/strongloop/loopback/pull/1667)

Thanks!

[2015-12-02 03:43] raymondfeng commented on #1848
It should be set to `null`. Patch please.

[2015-12-02 05:28] gshireesh commented on #1848
when i tried the memory db, i could see that verification token is not getting removed.
Do you want me to make a pull request for this.??

[2015-12-02 06:39] mike-aungsan commented on #1799
Hey, sorry I had a surgery and on medical leave. I found out why it happened but I don't remember right now. I will find out and post the cause.

[2015-12-02 09:45] EmileSpecs commented on #1825
@loay, unfortunately I don't. Like I mentioned in the first comment, I get those errors with the example app as well. So that would be a good start.

I will try and also add a couple more models to the example app and then see if I have the same "blocking" issues as I have in my own app.

Figuring out why there are these `net::ERR_INCOMPLETE_CHUNKED_ENCODING` errors occur would be a good start and

[2015-12-02 10:04] adrien-candiotti commented on #1321
+1

[2015-12-02 10:32] TNT-Likely commented on #1556
yeah,it isn't an issue with loopback itself,i resolve it .

[2015-12-02 10:32] TNT-Likely commented on #1556
@gunjpan

[2015-12-02 10:32] #1556 closed

[2015-12-02 11:41] geekguy commented on #1821
@bajtos : Tried `access` hook. works for me.

Thanks @fabien for the information.

[2015-12-02 11:50] digitalsadhu opened #1849 "Datasource"
@bajtos @superkhau @raymondfeng @ritch (apologies to anyone else who I haven't had the pleasure of interacting with yet) and apologies if this is A: already supported in some way or B: already has an issue somewhere else.

**Problem:**
Mapping custom datatypes for specific databases is limited. You can override a mapping in model schema but as far as I can tell you can't define a way to translate

[2015-12-02 12:15] lionel-bijaoui commented on #1842
Thank you very much !

[2015-12-02 13:03] bajtos commented on #1849
Hi @digitalsadhu, thank you for the interesting feature idea. Your proposal makes sense to me from the high level point of view, as far as I can judge it without specific examples of what the customized SQL would look like.

Let's give @raymondfeng and @ritch few days to comment before we continue to a more detailed proposal.

[2015-12-02 13:05] bajtos commented on #1821
Thank you @geekguy for the confirmation.

In which case I am labelling this bug as a doc task.

[2015-12-02 13:12] mariohmol commented on #1450
same thing here.. any helps?

[2015-12-02 13:26] digitalsadhu commented on #1849
Sure thing :+1:

[2015-12-02 14:43] loay commented on #1629
@mrbatista
Thanks for clarifying. We will put that on the list to get it sorted out ASAP.

[2015-12-02 14:54] gunjpan commented on #1556
@TNT-Likely : Thank you for your reply and I'm glad that it is resolved for you.. Please feel free to report any bugs you stumble upon or features you would like to see in Loopback by opening a new issue here.
For any questions: we encourage them to be posted on:
Please feel free to ask on:
- Google Groups
- StackOverflow
- Gitter (supported, but we prefer posting to Google Groups so others may be

[2015-12-02 14:55] rkmax opened #1850 "Include filter doesn't work with hasManyThrough relations"
Using the example on https://docs.strongloop.com/display/public/LB/HasManyThrough+relations

Why the following code does not return all patients for the physician
[code]

This would make things easier

[2015-12-02 15:07] Amir-61 commented on #1767
I need to add doc for API doc as well

[2015-12-02 15:33] mariohmol commented on #583
Hy there, is any news about upserting child/related models?

[2015-12-02 15:44] bajtos commented on #1806
That's entirely possible. Could you please share the failing test case with us so that we can isolate the particular commit which broke it? Or perhaps could you do that search yourself?

[2015-12-02 16:00] bajtos commented on #1115
I believe `created` and `lastUpdated` field are not populated ATM. If it was my call, I would simply remove it in LB 3.0, possibly in favour of a mixing that LB users can add if they like.

AFAICT, `status` is not used either, I would personally remove it too.

`realm` is the only undocumented property that is used by the current code, it allows to namespace user accounts into realms (think of mul

[2015-12-02 16:01] bajtos commented on #1115
I think they were added with the intention to use them in the future, which obviously never happened. I think it's ok to use them in your app, I am not aware of any immediate plans to use them in LoopBack core.

[2015-12-02 16:36] loay commented on #1799
@mike-aungsan
Thanks for your reply. I hope you get well very soon. Best Regards.
Don't worry about it. If you see a similar issue, please add a comment and we will re-open the issue.

again, I hope you get well soon.

[2015-12-02 16:36] #1799 closed

[2015-12-02 16:39] greaterweb commented on #1115
@bajtos thanks for the update!

Not sure what to treat as resolution to this issue but I think some sort of documentation update would be helpful in case anyone else in the future had the same sort of question.

[2015-12-02 16:53] loay commented on #548
Hi @frankcarey

Does the current extension of the built-in model of the current version respond to your concerns?
Have a look at this document?
https://docs.strongloop.com/display/public/LB/Extending+built-in+models

Thanks.

[2015-12-02 16:57] gunjpan commented on #1850
@rkmax : Hi, I'm looking into this issue.
-From the docs at : https://docs.strongloop.com/display/public/LB/HasManyThrough+relations

Once you define a "hasManyThrough" relation, LoopBack adds methods with the relation name to the declaring model class’s prototype automatically, for example:  physician.patients.create(...).

Example method: `physician.patients(filter, function(err, patients) {
  .

[2015-12-02 17:30] rkmax commented on #1850
Yes I agree without about the description in the documentation but also inthe [Include filter](https://docs.strongloop.com/display/public/LB/Include+filter) documentation

I know we're talking about a hasManyThrough but if you look the model definition it's a hasMany relationship with a extra parameter in that case I think the documentation must aclare that do not work for hasManyThrough or even b

[2015-12-02 18:10] davidcheung commented on #1115
As of the [`apidocs@2.25`](https://apidocs.strongloop.com/loopback/v/2.25.0/#user) it is listed in the properties now under settings, but I do think it would be helpful if the `apidocs` can somehow link with https://docs.strongloop.com/display/public/LB/Partitioning+users+with+realms as a reference

[2015-12-02 18:41] mojo5000 commented on #1469
Did this thread ever get some resolution?  Are there updated performance comparisons available?

[2015-12-02 19:01] loay commented on #665
@bluestaralone
Is that issue still relevant?

You can use
[code]

to delete a specific record of a thankBooks of the customer mode.
let me know if that's not what you are looking for.

[2015-12-02 19:19] crandmck commented on #1767
@Amir-61 Please see https://github.com/strongloop/loopback/pull/1847.

[2015-12-02 19:21] loay commented on #828
@simoami
Will have a look at that. Need to double check if that may cause any sort of conflicts.
Thanks.

[2015-12-02 19:40] loay commented on #586
Is this good to close? Are we still running into issues with validation?

[2015-12-02 20:05] loay commented on #487
Hello @offlinehacker
Is this issue still relevant or it is been resolved?

@fabien  Thanks a lot for the clarification.

[2015-12-02 20:18] loay commented on #501
@ChrisIgel

Did the comments above answer your question?

Thanks

[2015-12-02 20:35] loay commented on #722
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2015-12-02 20:35] #722 closed

[2015-12-02 20:45] loay commented on #827
Hi @simoami
Still having a problem with the same issue?

Thanks.

[2015-12-02 23:38] #1013 closed

[2015-12-02 23:46] dnovice commented on #1469
Others who tried to reproduce my issue stated that they did not see an
issue. I was consistently able to reproduce the issue, but that¹s as far as
it got.
-David

From:  Steve Motola <notifications@github.com>
Reply-To:  strongloop/loopback
<reply+00c5b3f8aafca6bf4e13a0a42aee19131ac4dbc80a2697f192cf000000011276fd639
2a169ce0553e8b7@reply.github.com>
Date:  Wednesday, December 2, 2015 at 1:41 PM
To

[2015-12-02 23:55] philippdhh commented on #1052
Any news on this topic?

I've got the same problem and just opened a related issue here: https://github.com/strongloop/loopback-component-storage/issues/101

I hope this fix should be quite simple for a loopback guru, but unfortunately I don't know where and how to fix it yet. It really seems to be related with the signature version which should be set to v4...

This problem only occurs when using

[2015-12-03 00:00] Amir-61 commented on #118
I believe this has been solved in the newer version; I just tried on version 2.22.0 when I use bad email/password, I get the right HTTP status code which is 401.
[code]

Since this has already been solved I will be closing this ticket.

Thanks!

[2015-12-03 00:10] Amir-61 commented on #222
I followed all of the conversation here and it seems all of the user's questions have been already answered; I will be closing this ticket soon...

Thanks!

[2015-12-03 00:31] Amir-61 commented on #1674
Since this issue seems to be solved by this fix(https://github.com/strongloop/loopback/pull/1667) and no activities for a while, I'm closing this ticket.

Thanks!

[2015-12-03 00:32] #1674 closed

[2015-12-03 01:57] bluestaralone commented on #665
@loay
Arcording to your way, we just delete only one record, but my need is deleting multiple records.

[2015-12-03 03:03] gunjpan commented on #1834
@skolesnyk : Hi, following up on this issue:
As you've set `id` as `required` every `POST/PUT/DELETE` request would look for all required properties in your query and it will complain about missing ones. Thus, setting it to `false` resolved your issue as you were not providing `id`in your `POST` request.

Also, setting up an auto increment in database would not require you to explicitly insert the

[2015-12-03 07:59] skolesnyk commented on #1834
Hi! Yes, thanks for the follow up.

[2015-12-03 07:59] #1834 closed

[2015-12-03 08:34] superkhau commented on #1115
+1 to all these comments

[2015-12-03 08:51] superkhau commented on #1849
@digitalsadhu +1 for your proposal, makes sense to have a transform layer in between. With regards to the implementation, we'll definitely need to see examples of SQL/NoSQL before going any further IMO.

[2015-12-03 09:40] gausie commented on #418
Also needs to support Model.afterRemote etc

[2015-12-03 11:50] h2non opened #1852 "JSON based query param filtering is not parsed by loopback"
If we use the bracket notation to define filters, such as:

[code]

it's properly parsed and mapped into a raw JS object, which is perfect.

However, we had troubles passing JSON based queries since they're not properly parsed as JS object in the `parse` middleware phase, so we have to infer the type and try to parse it accordingly, so we've been forced to implement that on a custom middleware pha

[2015-12-03 12:07] philippdhh opened #1853 "Best practise for relations with 2 levels"
Hello,

I've got a rather basic question about related models, but can't find the right answer in the docs.

- Let's assume we've got 3 models:
user, place, file

- many users have many places (for example two users are related to the same place)
- one place has many files

- A user may only view and access places he is related to
- A user may only view and access files that are related to his pla

[2015-12-03 13:29] bajtos opened #1854 "Remove unused User properties: created, lastUpdated, status"

[2015-12-03 13:30] bajtos commented on #1115
I'm proposing the following actions:
 - Update apidocs, describe `realm` property and link to https://docs.strongloop.com/display/public/LB/Partitioning+users+with+realms
 - Update apidocs, describe `created`, `lastUpdated` and `status` as unused properties that will be removed in the future.
 - Remove these three unused properties in LoopBack 3.0 - see https://github.com/strongloop/loopback/issue

[2015-12-03 13:32] bajtos commented on #1115
@davidcheung I could not find any docs for `realm` property, I can see only `settings.realmRequired` and `settings.realmDelimiter`. Is that what you meant?

I agree it would be helpful to include a link to the "big" docs in the description of these two settings.

[2015-12-03 13:33] jmls commented on #1641
when will 2.0 support be ready ?

[2015-12-03 14:44] Amir-61 commented on #1853
Hey Philipp,

Thanks for asking this question; this is one of the new features which we have recently implemented; however the documentation is not ready yet. What you need to use is nestRemoting function, by which you can query nested models through Restfull APIs.

For example: lets say you have a `Book` model, which has many `pages` and `chapters`, each of which has many `notes`. Something simil

[2015-12-03 14:55] CarlosCuevas commented on #418
+1

[2015-12-03 16:28] loay commented on #665
@bluestaralone
I thought that's what you were looking for.

So basically the current workaround would be:

delete the whole records for customers would be:
[code]

delete specific thankBooks with a specific ID:

[code]

delete multiple records of thankBooks with a specific condition:

[code]

Another example from the documentation:
https://docs.strongloop.com/display/public/LB/Where+filter#Wherefi

[2015-12-03 17:37] gunjpan commented on #1832
@zanjs : Hi, just following up on this issue. Could you please provide me with more information so that I can help you.

[2015-12-03 18:29] BenjaminHorn opened #1856 "request entity too large"
If I try to send a json to the server, which is about 220kb. (It contains a base64 coded image as a long string). I am getting the following error:
[code]
**server/confing.json**

[code]

[2015-12-03 19:03] philippdhh commented on #1853
Hi Amir,

thank you very much for your detailled and instant response!

Unfortunately, I am not yet able to get this running.

Here is my code:
https://github.com/philippdhh/GroupTravelMgrJs/tree/v0.0.2/common/models

I've got the model objects
- app-user
- group
- gfile

In app-user.json a "has many" relation to group is defined:
  "relations": {
    "groups": {
      "type": "hasMany",
      "mo

[2015-12-03 19:36] CarlosCuevas commented on #443
@veekungx's solution works for me, @raymondfeng's didn't.

[2015-12-03 19:55] raymondfeng commented on #1856
Do you have a json parser set up in the middleware.json or server.js?

Thanks,

---
Raymond Feng (rfeng@us.ibm.com)
Co-Founder and Architect @ StrongLoop, Inc. (An IBM Company)

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://strongloop.com/mobile-application-development/loopback/> in Node, plus get DevOps capabilities <http://strongloop.com/node-js-performance/strongops/

[2015-12-03 20:34] BenjaminHorn commented on #1856
I did not alter any of those files. They look like this:

**server.js**

[code]

**middleware.json**

[code]

[2015-12-03 20:41] csvan opened #1857 "Feature: remote method locks"
There are certain use cases where the server should not allow two invocations of a single method to be accepted at the same time. For example, a remote method may cause the server to run through sequential updates of several models based on a single set of data, which should later be discarded. If the user (or several users) is/are able to invoke the same remote method several times with the same

[2015-12-03 20:46] fabien commented on #1806
@bajtos as initially mentioned I think it's related to https://github.com/strongloop/strong-remoting/commit/34b0665841d763944dca3e9b4b2033366ea8a0c0

A sample failing test case is also outlined at the top of this issue ;)

[2015-12-03 20:51] fabien commented on #1853
@philippdhh to avoid any load-order related issues, I suggest to add all the `nestRemoting` calls in a separate boot file in `server/boot`.

[2015-12-03 20:59] fabien commented on #1840
I think there will be side-effects, though. Most resources should conceptually be regarded as plural.

What's wrong with just using the manually set `plural` as before? The only part I don't really like right now is that this plural value is used directly for the url.

I would much prefer a new option `urlPrefix` or similar to control this, and in case it's omitted, it should fall back to `pluralN

[2015-12-03 21:03] fabien commented on #1857
Implementing this in a `beforeRemote` hook should be pretty easy. The hard part is dealing with a global lock, especially in a clustered environment. A plain per-process global variable would otherwise be enough to keep track of this locked state.

However, in order to prevent corruption of data, I would first look into the database layer and transactions specifically.

[2015-12-03 21:06] fabien commented on #1676
+1 for flag, please

[2015-12-03 21:13] fablife commented on #878
+1

[2015-12-03 21:21] dh376 commented on #878
+1

[2015-12-03 21:25] crandmck commented on #929
@gunjpan Yes, that's correct.  I wrote the doc before this example was created, and there may be some code snippets that we could use in the docs, e.g. for registering users, logging in, etc.

[2015-12-03 21:52] csvan commented on #1857
Was just going to add this as an edit, thanks for beating me to it ;)

[2015-12-03 22:09] gunjpan commented on #1525
@saller : Hi, closing this issue due to inactivity. If you are still running into problems, please feel free to leave a comment and I will reopen the issue.
Thank you.

[2015-12-03 22:09] #1525 closed

[2015-12-03 22:13] davidcheung commented on #1115
@bajtos you're right, I have created a pull request, and did the first two action you proposed.

[2015-12-03 22:15] philippdhh commented on #1853
This seems to work!

I have created a new file `/server/boot/initNestRouting.js` :
[code]
The route `http://localhost:4000/api/AppUsers/1/groups/165/gfiles?access_token=xyz` is not visible through api explorer but when calling it through REST client I now get a `HTTP 401 AUTHORIZATION_REQUIRED` instead of the `404` response I got until now.

So i guess I am almost done! :-)

What is missing is set

[2015-12-03 22:20] fabien commented on #1853
Glad that it helped a bit. The easiest way to discover what the property (method) name actually is, would be to set a `beforeRemote` hook and echo something like `ctx.method.name`. I'm sure there's a debug option somewhere to do this too, but this `beforeRemote` trick might help you on your way.

It will apply to `AppUser` I think.

[2015-12-03 22:30] fablife commented on #878
UPDATE:

We detected that for us, it is due to the node version.
I was developing locally on 0.12.7 - and it was working.
Only when deploying to modulus, which was using per default 5.0.0, we found out about the problem.
So we could reproduce this issue in 5.0.0 and 5.1.0.

For the time being our workaround is to revert back to v0.12.7.
Please let us know if you see any problems with this and/or i

[2015-12-03 22:33] gunjpan commented on #1529
@lengyueChen: Hi, could you please advise if you're still facing this issue. If yes, can you please provide a link to a test project with steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues.

[2015-12-03 22:36] philippdhh commented on #1853
And now I got a `200 OK` when calling `http://localhost:4000/api/AppUsers/1/groups/165/gfiles?access_token=HgfBlY9OeLLcfKYXsX8U5znK4DBm28w4gVtGt9pxv1gwBxftCwn3Oz42U0r6Txu2`

:-)

The property value I was looking for is `"property": "__get__groups__gfiles"`

@Amir-61 & @fabien : Thank you very much for your help! That not only solved the problem but I also learned a lot about the framework.

[2015-12-03 22:36] #1853 closed

[2015-12-03 22:42] jannyHou commented on #816
hey @bajtos , I confirmed with Rand and this solution is already explained perfectly in doc:
https://docs.strongloop.com/display/public/LB/Using+current+context#Usingcurrentcontext-Usecurrentauthenticateduserinremotemethods

The same example snippet as you post in [comment](https://github.com/strongloop/loopback/issues/569#issuecomment-62690674) is applied.

Since it's done, I will close it here.

[2015-12-03 22:42] #816 closed

[2015-12-03 22:49] mike-aungsan commented on #624
How to format the response returned from Remote methods to client?

How to response just a String from Remote methods to client?

    module.exports = function(Test) {

        Test.teamMembers = function(sthId, aName, cb) {
            cb(err, 'want to return just a String')
        }

        Test.remoteMethod('format', {
            accepts: [
                {arg: 'sthId', type: 'string'},

[2015-12-03 23:36] Amir-61 commented on #118
Since this issue seems has been resolved in the newer versions and no activity for a long time, I'm closing this ticket now.

Thanks!

[2015-12-03 23:36] #118 closed

[2015-12-03 23:41] Amir-61 commented on #1853
@philippdhh Glad that your problem is solved! :-)

[2015-12-03 23:42] Amir-61 commented on #222
I'm closing this ticket now for the user's problems seem to be resolved.

[2015-12-03 23:42] #222 closed

[2015-12-04 07:57] fabien commented on #1853
@philippdhh happy to hear it worked!

[2015-12-04 07:58] fabien commented on #1853
@crandmck perhaps this should be added to the docs?

[2015-12-04 09:38] bajtos commented on #1650
**General requirements:**

 * Support at least HTML (templated + static files) and JSON response formats, plain-text and XML are nice to have.
 * A config option to enable/disable insecure development mode (see [errorhandler](https://github.com/expressjs/errorhandler) module) where sensitive info like stack traces is included in response payload.
 * A config option to enable/disable logging of err

[2015-12-04 10:45] bajtos commented on #816
:+1:

[2015-12-04 14:49] ataraxus commented on #1052
Same issue here, Frankfurt region: The authorization mechanism you have provided is not supported. Please use AWS4-HMAC-SHA256

[2015-12-04 16:09] bajtos commented on #586
I believe the issue was fixed by https://github.com/strongloop/loopback-datasource-juggler/pull/565.

Note that backwards compatibility was preserved, you need to enable validations for PUT requests via a new model setting `validateUpsert: true`.

Example `common/models/my-model.json`:

[code]

[2015-12-04 16:09] #586 closed

[2015-12-04 21:25] Amir-61 commented on #1848
@gshireesh Possibly duplicate of [this issue](https://github.com/strongloop/loopback/issues/414). I will be closing this ticket. Please comment there.

Thanks so much :-)

[2015-12-04 21:27] #1848 closed

[2015-12-04 21:59] gunjpan commented on #1372
@lukeblechlmbww : Hi, hope an answer by fabien would have helped you. Closing this issue due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.
Thank you.

[2015-12-04 21:59] #1372 closed

[2015-12-05 01:06] Amir-61 commented on #1767
Hey @crandmck,

I have applied changes for [nested queries doc](https://docs.strongloop.com/display/LB/Nested+queries) and added info for [Loopback API doc](https://github.com/strongloop/loopback/pull/1847) as well; please close this ticket if you think they are all good.

Thanks!

[2015-12-05 01:09] nkhaitan opened #1858 "persistentModel.find() returns wrappedPromise { <pending> }"
Hello,

A simple .find() on a persistentModel returns  wrappedPromise { <pending> } instead of the result. The following code still renders the same issue:

	$categories = app.models.Category.find({order: 'name ASC'})
	.then(function(result){
		return result
	})
	.catch(function(err){
		return err
	});

However, the only exception here is that console.log(result) outputs the desired result. Howeve

[2015-12-05 05:35] J0N47H4N opened #1859 "Scopes in model relations - strongloop api"
I found in the documentation that [scopes](https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Scopes) enable you to specify commonly-used queries that you can reference as method calls on a model. Below i have a `category` model. I am trying to create scopes that apply to the relation. Unfortunately the below does nothing. How can I get scopes to apply

[2015-12-05 12:20] type0lang commented on #1739
Since it would be hard to provide a hateoas facace after a well scaffolded project was created
maybe a wizard can assist you to create the project:

*Do you want to provide hateoas support?*
[y] yes
[n] no

*Which paradigm do you prefer for hateoas interface ?*
[1] jsonapi (http://jsonapi.org/)
[2] hal (http://stateless.co/hal_specification.html)
[...]

[2015-12-05 19:48] jannyHou commented on #1523
@ekussberg @FelipeAguayo Please see [doc](https://docs.strongloop.com/display/public/LB/Embedded+models+and+relations#Embeddedmodelsandrelations-EmbedsMany) and example here(https://github.com/strongloop/loopback-example-relations/blob/master/server/boot/z-customer-emails.js#L15) and (https://github.com/strongloop/loopback-example-relations/blob/master/server/boot/z-customer-emails.js#L15) to foll

[2015-12-05 19:49] #1523 closed

[2015-12-06 04:09] demeyr commented on #1275
+1

[2015-12-06 05:41] jannyHou commented on #1859
hey @J0N47H4N Do you have to use `categories/{id}/games/mature` as the endpoint?
If not, according to your description, I uploaded my solution to [sandbox](https://github.com/jannyHou/loopback-sandbox).

I think first you need to create a `hasMany` relation from `category` to `game`, not from `category` to itself (maybe it's a typo in your code? :) ). And don't forget to establish `belongsTo` rela

[2015-12-06 06:16] J0N47H4N commented on #1859
Hey @jannyHou, thanks for your assistance. You are right it was typo there is a `hasMany` relation from `category` to `game`. Ok I tried your solution but Yes, I am looking to use `categories/{id}/games/mature` as the endpoint. I really dont want to expose the query in the end point like `/api/categories/1/games?filter[where][mature]=true`

[2015-12-06 09:25] csvan commented on #1857
For anyone interested in a current workaround for clusters, the following provides a semaphore implementation based on Redis:

https://github.com/danmactough/halocksmith

It is not optimal, but the timeout can be set to avoid blocking in cases where you only want one execution of the method to be active in the cluster at any given time.

[2015-12-06 18:10] nkhaitan commented on #1858
Hi can anyone please look into this ASAP? I'm using a remote MongoDB in my project. If you need any other information about this issue, please let me know. Thanks!

[2015-12-06 19:26] dpurrington commented on #1033
@raymondfeng can you explain what you mean by "give it a try?" Is it possible just to plug in the jugglingdb-dynamodb package directly? If so, I can't find the info I need to try that. Or does the code need to be ported to the loopback-connector-dynamodb package?

[2015-12-06 20:04] seriousben commented on #1858
categories = results; in your then function.
This is async so the results are only available when the promise has been
resolved.
On Dec 4, 2015 20:09, "Nilesh Khaitan" <notifications@github.com> wrote:

[2015-12-06 20:21] gunjpan commented on #1858
@nkhaitan : I tried to reproduce it. But, in my case, I was able to get the `object` in `result` and pass it along as follows:
[code]

and agree with @seriousben. So if you try to use `categories` on the next line, you will get `wrappedPromise{}`

[2015-12-07 03:14] J0N47H4N commented on #1859
@jannyHou Any thoughts/ideas how to implement end point `categories/{id}/games/mature`?

[2015-12-07 06:20] nkhaitan commented on #1858
Thanks guys that worked! But how do I go about making several queries asynchronously? This is what I intend to do:

Category.find({order: 'name ASC'})
	.then(function(result){
		Researcher.find({ 'where': {id:ctx.instance.researcherId} })
		.then(function(res){
			res.render('index', {
				research: res,
				categories: result
			});
		})
	})
	.catch(function(err){
		throw(err)
	});

[2015-12-07 10:11] blackvirus18 commented on #1217
We are also facing the same issue on our production environment wherein we are not able to fetch the documents which have auto generated long numeric ids.

loopback version:2.13.0
loopback-connector-mongodb version:1.8.0

Is there a workaround for this issue.

[2015-12-07 11:01] seemike commented on #1217
For us the workaroud was to change the ID generation. We now use String uuids for all collections that previously had MongoDB ObjectIds. The uuid String never looks like a number to Loobback, so documents with UUID ids are not affected by the problem.

To do that, we use the module 'node-uuid' and add an beforeSave hook on our models like that:

/**
 * generate UUID String id field for model
 * @p

[2015-12-07 11:05] blackvirus18 commented on #1217
@seemike This will work for new models, but not for existing ones. Is there any workaround for existing models with such ids

[2015-12-07 11:50] GregAujay commented on #1842
I had the same issue but it vanished after I changed the type declaration from `geopoint` to `GeoPoint`.

[2015-12-07 13:39] bajtos opened #1861 "Performance issues of Change.rectifyAll"
The current implementation of `Change.rectifyAll` has several performance issues caused by the current naive implementation which simply calls `rectify` for each existing record.

Each `rectify` call makes two database queries: load the model instance data and load the current checkpoint (when needed). This means that `2*N` database calls are made to rectify `N` model instances.

We should fix the

[2015-12-07 14:34] alankyshum commented on #1528
Having exactly the same issue, and this issue is quite frustrating, as I expect `instance` to be null if not found and new record is inserted.

[2015-12-07 15:17] davidcheung commented on #1564
Possibly related #1833

[2015-12-07 15:25] gunjpan commented on #1850
@rkmax : Hey, I tried to reproduce the scenario on my end and I couldn't reproduce the issue.
Can you provide a link to a test project with steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

[2015-12-07 15:30] jannyHou commented on #1512
hey @simoami I am trying to reproduce your issue. I run a sample app on my local server and yes, when I stop my server and login, the error is 401. Thanks for your suggestion and we will look into it!

[2015-12-07 15:35] gunjpan commented on #1858
@nkhaitan : I'm glad that helped. To further the discussion, could you please re-post it to our Google groups at: https://groups.google.com/forum/#!forum/loopbackjs as we are trying to use this space for reporting bugs/features in order to improve Loopback for the community.
( See https://github.com/strongloop/loopback/wiki/Questions for more details.)
Thank you!

[2015-12-07 15:35] #1858 closed

[2015-12-07 15:51] psmarcin commented on #1275
+1

[2015-12-07 17:03] jannyHou commented on #1859
hey @J0N47H4N we don’t expose the 2nd level (related) scope over REST right now, so your expected endpoint is not supported yet. But we will mark it as a feature, and thank for your suggestion!

[2015-12-07 18:16] crandmck commented on #1767
Doc changes look good, and I have opened up that doc to pubic access.
API doc changes also look good, but I want to confirm that the CI failures are not a problem.  Should be able to merge that soon.

[2015-12-07 18:16] #1767 closed

[2015-12-07 18:27] crandmck commented on #1528
@superkhau Can you confirm that the callback function gets three arguments, `(error, created, instance)`, where `created` is `true` if the instance was just created or `false` if it was found.
If, so I'll update the docs accordingly.

[2015-12-07 19:54] superkhau commented on #1528
`findOrCreate(query, data, cb)` - https://github.com/strongloop/loopback/blob/master/lib/persisted-model.js#L127

@Jhoanegar @kevintechie @alankyshum Which connectors are you guys using? Can you guy provide sample projects for me to confirm the issue on my end? I need to verify the bug based on your specific use cases.

[2015-12-07 21:07] BenjaminHorn opened #1862 "Filter relations"
[code]
this returns ALL customers with age 30+ and if they have one or more orders with a total more then 3000. Is it possible to query ONLY the customers, where orders > 3000 AND age > 30?

In SQL I would write it in one statement:
[code]
So I can have it with one SELECT

[2015-12-07 21:07] BenjaminHorn commented on #1856
@raymondfeng  is there any news on this?

[2015-12-07 21:15] jannyHou commented on #1539
hey @nvcken thanks for your suggestion, we are going to support `ObjectId` in the future, for more details please check here: https://github.com/strongloop/loopback-datasource-juggler/pull/778

[2015-12-07 21:17] jannyHou commented on #1539
This issue is a duplicate feature request as https://github.com/strongloop/loopback-datasource-juggler/pull/778.
I am closing it here. Thanks!

[2015-12-07 21:17] #1539 closed

[2015-12-07 23:10] J0N47H4N commented on #1859
@jannyHou hmm there are 156 open issues for new features and 24 closed. So guessing that it will be a long while before that gets implemented.

[2015-12-08 00:05] gunjpan commented on #929
@crandmck : I've made improvements/changes that I found would be helpful and references to the example repo. Could you please review them and advise if any updates required.

Also, please note that the steps to [register with third-party system] (https://docs.strongloop.com/display/public/LB/Registering+users#Registeringusers-Registeringusersthroughathird-partysystem) are lengthy and thus I believ

[2015-12-08 02:56] superkhau commented on #1859
@J0N47H4N There are probably more open issues than that! ;p More like 500+ issues. Anyways, we get around to issues whenever we have time. If you need priority support, see https://strongloop.com/node-js/subscription-plans/ for subscription plan pricing. In addition, feel free to send us a message at callback@strongloop.com with your specific needs and they can answer any other questions you may h

[2015-12-08 03:52] amenadiel commented on #1859
So you want to list every category containing at least one game rated as mature?

[2015-12-08 03:59] J0N47H4N commented on #1859
Hi @amenadiel, List all games under a certain category that are `mature`. For  Example, I want to get all the games rated `mature` for games under category `fighting`, Endpoint would be `categories/1001/games/mature`

[2015-12-08 05:12] saaa-hsjgrobler commented on #1692
+1

[2015-12-08 07:26] Martodox commented on #1387
Guys, please address this issue. We are working on an open source angular project with loopback as a backend and to go over this limitation we have to delete an entity first then create once more for the relatio to work, otherwise two update queries are fired by the framework and data never gets updated.

[2015-12-08 10:00] pktippa opened #1863 "Multiple models with same plural name - only one model shown in Swagger UI"
When we have multiple models with same plural name, only one model getting shown in the Swagger UI(explorer).

common\models\sample-a.json
[code]
common\models\sample-b.json

[code]

[2015-12-08 11:47] #1150 closed

[2015-12-08 11:51] bajtos opened #1864 "Speed up Checkpoint implementation"
The current `Checkpoint` implementation keeps all past checkpoints around. When looking up the current checkpoint, we run the query `this.find({ limit: 1, order: 'seq DESC' })` which is not backed up by any index and thus triggers a full table scan.

We should rework the implementation to keep a single global `Checkpoint` instance and update it in-place when bumping up `seq`.

Related: strongloop-

[2015-12-08 12:32] alemhnan commented on #1033
Any news on this or hints on this? They both (https://github.com/claylo/loopback-connector-dynamodb and https://github.com/claylo/loopback-connector-dynamodb) are not actively maintaned.
There are npm library actively maintained (https://github.com/victorquinn/dynasty), could a connector be built based on that?

[2015-12-08 13:22] OwenBrotherwood commented on #1150
:+1:

[2015-12-08 14:30] richardpringle commented on #554
@bajtos, Is this still an issue?

[2015-12-08 14:50] amenadiel commented on #1859
In that case I'd add a remote method to `game.js`

[code]

So the endpoint would be `/games/mature/{{id_category}}' `

[2015-12-08 14:52] richardpringle commented on #798
@bajtos, do you know if we can close this issue?

[2015-12-08 14:55] richardpringle commented on #1862
@superkhau, no one is assigned to this issue, you on top of it?

[2015-12-08 15:12] richardpringle commented on #1828
@Amir-61, what's going on with this issue? You removed both the bug and triage label...

[2015-12-08 15:21] richardpringle commented on #1581
@raymondfeng, did this issue get resolved with https://github.com/strongloop/loopback-boot/issues/148?

[2015-12-08 15:28] richardpringle commented on #1574
@iamgyz, I hope you solved your issue! If you have any further issues to do with installing strongloop, please refer to the [issues tab](https://github.com/strongloop/strongloop/issues) of the strongloop repo

[2015-12-08 15:28] #1574 closed

[2015-12-08 15:37] richardpringle commented on #1551
@ritch, I gave this issue a bug tag since you said you had a similar issue although I was not able to reproduce.

Should this be investigated further? It seems to be on a machine to machine basis...

[2015-12-08 15:42] richardpringle commented on #1542
Hey @kennethlynne, did you ever resolve your issue (with more than a workaround)? I want to make sure this isn't an issue with loopback itself.

[2015-12-08 15:59] richardpringle commented on #1863
Hey @pktippa, the REST endpoint is the plural name of the model unless you create a custom path with the `http` object.
[code]
Make sense?
I don't know your particular use case but to me, it looks like you should create a `Sample` model in which `SampleA` and `SampleB` can inherit from, then use a polymorphic relationship.
[Docs for polymorphic relationships](https://docs.strongloop.com/display/pu

[2015-12-08 15:59] #1863 closed

[2015-12-08 16:22] Smileo commented on #1796
Hello @0candy  ) Any information about status for task? I can investigate and fix it. Please assign it to me.

[2015-12-08 16:43] Amir-61 commented on #1828
Hey @richardpringle

Thanks for your comment! To be honest I had some issues reproducing this issue due to no being able to setup the 3rd party software [mailgun](https://github.com/orliesaurus/nodemailer-mailgun-transport); I removed the labels and made the issue open for someone who can reproduce it...

@superkhau Could you see if you can reproduce the issue? Also the user has sent [a pull reque

[2015-12-08 17:15] raymondfeng commented on #1849
@digitalsadhu Did you look at https://github.com/strongloop/loopback-connector/blob/master/lib/sql.js#L1272-L1284?

[2015-12-08 17:40] amenadiel commented on #1849
I'm both a heavy user of both loopback and postgis, and as much as I'd like loopback to be able to deal with postgis datatypes, I don't see it coming anytime soon.

You see, binary geometries are stored in WKB (Well Known Binary) and can be printed as WKT or GeoJSON before sending them to the client. For this, it would be helpful to have loopback support transformed properties. This way the geomet

[2015-12-08 17:45] kennethlynne commented on #1542
Only with a workaround sadly. We did not get it to work out of the box. If no one else reports anything similar I would guess it is a bug in our code base, and the issue can be closed. We can rather reopen if something similar occurs with a more recent version of loopback.

[2015-12-08 17:45] #1542 closed

[2015-12-08 17:46] superkhau commented on #1828
Spoke with @Amir-61 over Slack, he is digging into it more.

[2015-12-08 17:49] Amir-61 commented on #1828
I eventually could successfully reproduce the bug.

[2015-12-08 18:09] adrien-candiotti opened #1865 "Related models don't expose their remote methods."
I didn't find any way to expose the remote methods of a related model.

Example:

For a model 'Cat' I have defined a remote method, lets call it 'meow'.

So i can do:

GET /cats/{:id}/meow

The 'Cat' model belongsTo the 'User' model.

Now I would like to be able to do something like this:

GET /users/{:id}/cats/{:id}/meow

I already tried nestRemoting, which only works for nested 'blueprint' metho

[2015-12-08 18:14] richardpringle commented on #1856
Hey @BenjaminHorn , do you have an sample repo from which I can reproduce the issue?
You can follow [this guide](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report) which basically says to fork the loopback-sandbox and reproduce your issue in the fork, but any sample repo will do.

If I am not mistaken, you should be able to use a Node.js [buffer object](http://nodejs.org/api/

[2015-12-08 18:21] richardpringle commented on #1822
@raymondfeng, did you see @varunj90's reply?

I would like to close this issue if the problem is really with supertest.

[2015-12-08 18:28] richardpringle commented on #1836
@priyavivek1, @bnoordhuis, this good to close?

[2015-12-08 18:29] bajtos commented on #1409
I think we should postpone this until https://github.com/strongloop-internal/strong-docs/issues/63 is implemented first.

[2015-12-08 18:38] philippdhh opened #1866 "Overridden CRUD methods ignored when using nestRemoting"
Hello,

normally when overriding a default CRUD method I just use the following code:

GFile.findById = function(id, cb) {
      console.log('Overridden find method fired!');
      ...
    }

This works perfectly when calling the ressource directly, e.g. GET localhost:3000/api/GFile/1

But when using nestRemoting and calling GET localhost:3000/api/AppUser/1/Group/1/GFile/1 the original find method

[2015-12-08 18:42] philippdhh commented on #1866
This might be related with the just before created issue #1865

[2015-12-08 18:43] bnoordhuis commented on #1836
Yes, I'll close the issue.

[2015-12-08 18:43] #1836 closed

[2015-12-08 18:43] richardpringle commented on #1843
hmm.. @dregre, do you have a sample repo that I can clone and see what's going on? See [the wiki](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.) for details on how to do this.

To me, it looks like you've found a bug but I would like to confirm.

[2015-12-08 18:44] kevintechie commented on #1528
The issue is not the findOrCreate signature, but rather the parameters passed to the callback.

I have included some sample code that demos the callback parameters. The code initializes database tables and then adds a user.

I've used the variable name `user` in place of `instance` in the callback parameters.

[code]

I'm using the MySql database connector in this code, but I've also used the in-m

[2015-12-08 19:13] kevintechie commented on #1528
I believe the callback is called in the loopback-datasource-juggler; specifically lines 672 through 685.:

https://github.com/strongloop/loopback-datasource-juggler/blob/80c3bd9d419e501d5b7beb0a623c8b1eaefdc258/lib/dao.js#L599

Specifically lines 672 through 685.

[2015-12-08 19:22] richardpringle commented on #1852
Thanks @h2non, going to throw the `feature` label on this issue and we'll take a look where it fits on the priority list.

[2015-12-08 19:26] h2non commented on #1852
No worries. The implementation is not hard, tough. Here it's my own:
[code]

[2015-12-08 19:28] richardpringle commented on #1852
@h2non, did you submit a PR?

[2015-12-08 19:30] h2non commented on #1852
I don't have plans to do it, but feel free to take that code, make the proper improvements and push it if you want.

[2015-12-08 19:31] richardpringle commented on #1659
@rmg, this isn't a "loopback-core" issue is it? In other words, should this be closed and moved to another repo?

[2015-12-08 19:32] superkhau commented on #1862
no

[2015-12-08 19:35] STRML commented on #1659
@richardpringle Perhaps you can get someone from strongloop to comment on https://github.com/strongloop/loopback/issues/1079 and consider remove sl-blip instead of surreptitiously tracking them?

[2015-12-08 19:42] STRML commented on #1079
@ritch @bajtos Would like to see some movement on this user-hostile abuse of `optionalDependencies`. Not only has it caused many install problems for our servers behind firewalls, but it is also downloading from a non-secure URL, meaning it's a possible MITM vector. Given how npm packages support `postinstall`, anyone MITMing `blip.strongloop.com` gets code execution on any server running `npm ins

[2015-12-08 19:43] EmileSpecs commented on #878
@bajtos seems like this issue has been unfixed...

I have a Todo model where I call a "before save" hook:
[code]
In the `linkUserSetTimestamps` method I try and set the context:
[code]
The value of `context` is null. This is quite a big problem...
Any ideas on what's causing it / how to fix it?

[2015-12-08 20:16] OwenBrotherwood commented on #1079
@raymondfeng Deep issues with some organisational aspects StrongLoop / Loopback or just time to fix?

[2015-12-08 20:17] richardpringle commented on #1659
Hey @STRML, I'm going through the issues and doing some bug fixes on some of the loopback code so I just want to make sure the right person is looking at this.
Just trying to help.

[2015-12-08 20:24] davidcheung commented on #1866
Hi @philippdhh, yes seems like they could be related, does your `non-overridden` remote methods work? If they don't then it is likely the same issue.

[2015-12-08 20:30] jannyHou commented on #1865
hey @adrien-candiotti I am trying to reproduce your issue and could you explain `blueprint method` more clearly?

[2015-12-08 20:36] STRML commented on #1659
Thanks @richardpringle -- appreciate it.

[2015-12-08 20:56] jannyHou commented on #1518
hey @starbassma, I checked this [document page](https://docs.strongloop.com/display/public/LB/User+REST+API)(is it the user model doc page you mentioned?), but I didn't see the table you copied here.
And there is no such table [here](https://docs.strongloop.com/display/public/LB/Controlling+data+access).

But thank you @starbassma I think it's right to document those ACL rules clearly somewhere.
H

[2015-12-08 20:59] philippdhh commented on #1866
Thats's correct, the non-overridden methods also don't work.

[2015-12-08 21:02] superkhau commented on #1387
Contributions are welcome! ;)

[2015-12-08 21:08] EmileSpecs commented on #878
I didn't have the issue on my development machine, only in production.

Even though both obviously use the same package.json and I ran `npm update` on both, it still only worked on dev not prod.

Then I thought I'd just give this a try, copied from node_modules on dev to prod:
[code]
After that it's now also working on production machine.

I have no idea idea which fixed it. Also don't know why th

[2015-12-08 21:25] kennethlynne opened #1867 "Cannot read property 'type' of undefined for polymorphic relationship keys used in a composite id"
Reading from your documentation I can add set an id property to a positive integer to make it part of a composite id (https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-IDproperties)

as, soon as I add a id property it crashed.

Before

[code]

after

[code]

[code]

The property is part of a polymorphic relation. I want to be able to upsert using a co

[2015-12-08 21:26] richardpringle commented on #1518
Hey @starbassma, I don't believe you should be allowed default access to `findById()` (so it looks like a doc issue). One user definitely cannot find another user and shouldn't be able to unless you extend the user model and change the ACLs.

Let me know if that helps, but as @jannyHou said, the docs should be fixed if it isn't clear.

[2015-12-08 21:35] richardpringle commented on #1518
@starbassma do you have a link to where you read that?
I found the correct [doc](https://docs.strongloop.com/display/public/LB/Managing+users#Managingusers-Defaultaccesscontrols) where there is a piece of the loopback-core code which can also be found on  [line 67](https://github.com/strongloop/loopback/blob/master/common/models/user.json#L36) of the user.json file.

It only allows the `$owner`...

[2015-12-08 21:51] amenadiel commented on #1079
@STRML you should patch the inconvenience and submit a PR. Since you already know the POC attack, you are the most suited to contribute so we all can benefit.

That's what open source is about, isn't it?

[2015-12-08 21:55] STRML commented on #1079
@amenadiel This is not like other contributions, where there is an implementation cost. I am asking them to delete a line from the package.json of every strongloop project. Submitting a PR will only fragment the discussion.

[2015-12-08 22:06] gunjpan commented on #1867
@kennethlynne : Hi, I tried to reproduce the issue with a sandbox and composite id worked fine. Could you please let me know the config of your `datasource.json` as well as the `actor.json` (i.e. `model.json`)
Also, a sample repo with the steps to reproduce will  greatly help me to identify the cause.

[2015-12-08 22:25] J0N47H4N commented on #1859
Thanks @amenadiel close to what I want. For anyone trying to achieve the same goal,  currently it can only be done using Remote Methods as mentioned above.

Added the remote methods to `common/models/category.js`

[code]
Add the ACL property `common/models/category.json`.

[code]
Now I am able to get all games that are `mature` by get method: http://0.0.0.0:3000/api/categories/:id/games/mature

[2015-12-08 22:39] Martodox commented on #1387
Not a bad idea. Could you assign me to this issue so I won't forget to resolve it in a spare time?

[2015-12-08 22:57] amenadiel commented on #1852
@h2non how are you sending said JSON based queries?

I went through trial and error for a bit until I saw that the parameter [must be stringified beforehand](https://docs.strongloop.com/display/public/LB/Querying+data#Queryingdata-UsingstringifiedJSONinRESTqueries) I guess this allows from proper escaping.

For example, I have a frontend backbone model whose current status can be described as:

[c

[2015-12-08 23:02] h2non commented on #1852
I'm just sending a raw JSON as filter param value, like you are doing.

[2015-12-08 23:09] richardpringle commented on #1862
Hey @BenjaminHorn, I'm not sure it's possible to do what you are attempting (but it should be). I think there may be a feature request asking for the same thing.

In the meantime, try using this as a workaround: https://docs.strongloop.com/display/public/LB/Executing+native+SQL

Hope that helps!

[2015-12-08 23:14] superkhau commented on #448
@fabien Which test fixture apps are these? Is this still relevant?

[2015-12-08 23:42] richardpringle commented on #1862
@BenjaminHorn, I just got the confirmation that what you are trying to do is not possible, you cannot use information from related models as the criteria to query the main model. Please let me know if executing native SQL works.

I am going to close the issue though since the functionality you are looking for is not supported. If you would like to open a new issue requesting that feature, please d

[2015-12-08 23:42] #1862 closed

[2015-12-08 23:52] BenjaminHorn commented on #1862
@richardpringle  we use native SQL, and it works. But still, it would be nice to have this feature.

[2015-12-09 00:00] richardpringle commented on #1572
Hey @rkmax, did @raymondfeng's suggestion work?

[2015-12-09 00:00] starbassma commented on #1518
Hello, @richardpringle

this is the link :  https://docs.strongloop.com/display/LB/User

[2015-12-09 00:39] gunjpan commented on #1529
Closing this issue due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2015-12-09 00:40] #1529 closed

[2015-12-09 00:43] gunjpan commented on #1800
@mike-aungsan : HI Mike, can you please let me know if you're still facing this issue?? If yes, please provide me with a sample repo and steps to reproduce as I was unable to reproduce it on my end.
Thank you.

[2015-12-09 00:47] gunjpan commented on #1832
@zanjs : Hi, can you please provide me more information to help you out here. Thank you.

[2015-12-09 03:16] rkmax commented on #1572
@richardpringle yes it works but I have another issue when I ran some slc command the files are edited and the Middleware settings are losed. Maybe I need open a different issue for that

[2015-12-09 03:41] zanjs commented on #1832
@gunjpan  Interface data sorting and data filtering through url

demo (https://github.com/api/user/list?age=18&sex=1)

. Thank you.

[2015-12-09 05:37] vnathalye commented on #1845
@gunjpan: Hi Gunjan, any update on this?

[2015-12-09 05:47] pktippa commented on #1863
Hi @richardpringle

Actually we are creating models using [loopback-workspace](https://github.com/strongloop/loopback-workspace) api, if we POST /ModelDefintions multiple models with same plural name it is getting accepted and only one model is getting shown in the swagger UI.

[2015-12-09 07:17] wajidmehraj opened #1868 "Validation of model data does not work on models defined as server only."
Validation rules written on models work only when the model is created as a common model and resides in
folder
**common/models/MyModel.js**
module.exports = function(MyModel) {
  MyModel.validatesLengthOf('name', { min: 5, message: { min: 'Name should be 5+ characters' } });
  ...
};

**server/models/MyModel.js**
*Any validation rule written on server models do not trigger.*

Is it intended to wor

[2015-12-09 08:49] Shyri commented on #443
I was trying @veekungx's solution but server got really slow, at the end it didn't complete any request. I found out debugging that Model.on('attached'.... was being called constantly again and again. Am I doing something wrong?

 @raymondfeng's didn't work for me

Thanks

[2015-12-09 09:02] AlmaasAre commented on #1867
@gunjpan Are you using mongodb? Ended up using unique indexes as a workaround for composite id's for mongodb. But upsert does not seem to take a unique index into consideration.

[2015-12-09 09:03] adrien-candiotti commented on #1865
Sorry, i made a mistake in my explanation : it's not the default CRUD method (that I called 'blueprint' methods).
It's the relationship access method that appear with nestRemoting.
For example if in my example the Cat model belongsTo a Breed model, i can see the

```GET /users/{:id}/cats/{:id}/breed```

route in my explorer

[2015-12-09 12:52] jmimi opened #1869 "disableRemoteMethod does not work in boot script"
/server/boot/initializer.js
[code]
Above code doest not affect anything.

[2015-12-09 13:40] richardpringle commented on #1518
Thanks @starbassma, you found an issue! We'll get that fixed as soon as possible.

For future reference, I wouldn't use those reference tabs if you are looking for loopback APIs. Instead, use https://apidocs.strongloop.com/.

Happy coding!

[2015-12-09 13:41] richardpringle commented on #1518
@crandmck, could you please take a look at this: https://docs.strongloop.com/display/LB/User?

[2015-12-09 14:07] richardpringle commented on #1572
@rkmax, I am going to close this issue and you can open up another issue. Feel free to mention me in the new issue if you want someone to take a look at it right away.

[2015-12-09 14:08] #1572 closed

[2015-12-09 14:26] bajtos commented on #1843
Yep, this looks like a bug in the implementation of `find` to me, see the [source code](https://github.com/strongloop/loopback-datasource-juggler/blob/80c3bd9d419e501d5b7beb0a623c8b1eaefdc258/lib/dao.js#L1490-L1499).

[2015-12-09 14:26] loay commented on #548
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2015-12-09 14:26] #548 closed

[2015-12-09 14:30] loay commented on #487
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2015-12-09 14:31] loay commented on #501
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2015-12-09 14:31] #501 closed

[2015-12-09 14:32] loay commented on #478
@STRML
Are you still running with issues with this one?
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2015-12-09 14:32] #478 closed

[2015-12-09 14:33] richardpringle commented on #1863
@pktippa, yes it will be accepted as you have experienced but the behavior is as expected. If you want, you can open up a new issue asking for a feature that stops you (or at least warns you from doing so).
Here is [the wiki](https://github.com/strongloop/loopback/wiki/Reporting-issues#feature-request) for requesting a feature.

[2015-12-09 14:33] loay commented on #827
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2015-12-09 14:33] #827 closed

[2015-12-09 14:38] jannyHou commented on #1518
@richardpringle Thanks! I will correct it today!

[2015-12-09 14:52] STRML commented on #478
Thanks - only one issue left: https://github.com/strongloop/strong-remoting/pull/261

[2015-12-09 15:34] davidcheung commented on #1115
The undocumented `User` properties are now documented in the [updated docs @ `2.26.0`](https://apidocs.strongloop.com/loopback/#user)
Closing issue now.

[2015-12-09 15:34] #1115 closed

[2015-12-09 15:59] rkmax opened #1870 "Loopback try to convert strings with numeric values into integer values"
I have a model that extends PersistedModel with some fields and relations nothing fancy. today on production server users report a error a 404 error openning a specific record I dont know if more records present the same problem. Is an default method `findById`

My model is named **Profile** by default the url to retrieve a profile is

[code]

The curious thing here is only happens with one record

[2015-12-09 16:11] bajtos commented on #878
@fablife thank you for pinning down the issue to different Node version. Would you mind checking whether the context works on `v0.10` and `v4.x`, to give us a full picture?

@EmileSpecs what is your Node.js vesrion on dev and production? Could the version difference explain the problem?

[2015-12-09 16:23] rkmax commented on #1217
The #1870 is related to this or is the same bug?

[2015-12-09 16:38] rkmax commented on #1870
There's some way to edit a remote method. I tried with the following without success

[code]

[2015-12-09 19:20] gunjpan commented on #1867
@AlmaasAre : I was using `memory` as db. I will give it a spin with mongodb.

[2015-12-09 19:59] jannyHou commented on #1865
hey @adrien-candiotti I reproduced your issue and the custom remote method doesn't work.
Thank you for noticing us this and I labeled it as a feature!

I tried [`nestRemoting`](https://docs.strongloop.com/display/public/LB/Nested+queries) and I believe this is built for multiple level extension, like if you have another model called `food`, which belongs to `cat`, then you can expose endpoint `/ap

[2015-12-09 21:50] davidcheung commented on #1869
@jmimi I was trying to reproduce your issue, it seems like the method still shows up in the API explorer, but the call to the method itself does become `404 Not found` for me. Is this also your case? Or your endpoint is still call-able.

[2015-12-09 22:59] petermetz commented on #994
+1 I want to be able to POST records without an ID attribute and make those receive a generated random ID that is unique on the database level not just in the table.

[2015-12-09 23:36] bjrmatos commented on #997
if i understand correctly customizing the explorer UI would be the same as customizing Swagger UI files? if that is correct, a simple example and links to resources that explain about Swagger UI would be be really cool!

[2015-12-09 23:42] raymondfeng commented on #994
The property can have a `defaultFn` flag set to `uuid`. See https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Generalpropertyproperties

[2015-12-09 23:42] #994 closed

[2015-12-10 04:23] jeffcressman commented on #1734
@TimPerry do you have any code samples around of how you got this working? Would be greatly appreciated.

I'm trying to do the same thing and have been doing a lot of head banging. In particular I'm wanting to set up offline sync but I'm not sure if I'm going to be able to do that yet as the browser client is expecting to use local storage. I'm guessing I might have to write a connector for React

[2015-12-10 04:25] mackwan84 opened #1871 "Model hook "before save" is executed before validateAsync is finished"
I have define validateAsync methods for my model and found that Model hook "before save" is executed even though my model validation (async) return false. In my opinion, it should be an issue, right?

[2015-12-10 05:45] gshireesh opened #1872 "ACL.checkAccessForToken not working properly"
hi,
i am using ACL.checkAccessForToken to check access of user for models

Acl.checkAccessForToken(socket.client.token,'post','1','updateById',function(err,allowed){
        console.log(allowed);
})
this works for $owner but not for admin,

 "acls": [
    {
      "accessType": "*",
      "principalType": "ROLE",
      "principalId": "$everyone",
      "permission": "DENY"
    },
    {
      "acces

[2015-12-10 06:13] gunjpan commented on #750
@bajtos / @crandmck :In [Connected model object docs](https://docs.strongloop.com/display/LB/Connected+model+object)

    `RelationMixin` class
    `PersistedModel` class

Besides above two classes, I noticed that `Basic model` object also gets `static` and `instance` methods of [`DataSource` class](https://apidocs.strongloop.com/loopback-datasource-juggler/#datasource).
Could you please verify it

[2015-12-10 06:18] gshireesh commented on #1872
looked at the acl model and found it looks for acl in database.
looks like i dont have any documents in ACL collection

how to access permissions based on the mode.json?
could you please help me quick.
thank you in advance

[2015-12-10 06:44] pktippa opened #1873 "Feature Request - Multiple models with same plural name"
As suggested by @richardpringle in #1863 raising a request for the feature.

While creating model from
1. [loopback-workspace](https://github.com/strongloop/loopback-workspace) api, if we POST /ModelDefintions
2. loopback.createModel
3. datasource.createModel

with the same plural name existing in already in previously created models, should stop creating models or atleast warn and stop model crea

[2015-12-10 06:45] pktippa commented on #1863
@richardpringle Thanks for responding the request. As suggested I created the issue #1873

[2015-12-10 07:13] gunjpan commented on #750
@crandmck : Please review the draft for [**Defining mixins**](https://docs.strongloop.com/display/LB/Defining+Mixins+-+Draft)
It's a copied page and restricted from Public.
Thank you.

[2015-12-10 07:20] gunjpan commented on #1800
Hi, closing this issue due to inactivity. If you are still running into problems, please feel free to leave a comment and I will reopen the issue. Thank you!

[2015-12-10 07:20] #1800 closed

[2015-12-10 07:31] gunjpan commented on #1845
@vnathalye : Hi Vivek, will look into it sooner!

[2015-12-10 08:12] superkhau opened #1874 "Long term proposal for ObjectId coercion"
At the moment, we do not support ObjectId in model definitions. I am creating this issue to gather some opinions on how to move forward for a bigger fix than the one at https://github.com/strongloop/loopback-datasource-juggler/pull/778.

[2015-12-10 08:26] superkhau commented on #1874
The aforementioned fix depends on the [native mongodb driver's](https://github.com/mongodb/node-mongodb-native) ObjectId implementation (simply delegates to it for the time being). The following are some interesting items:

@bajtos @ritch and @superkhau do not like this solution for the long term. My suggestion is to probably use our own class impl that uses the strategy pattern to allow swappable

[2015-12-10 08:27] gunjpan commented on #1868
@wajidmehraj : Any model created, regardless of being in server or common directory, in Loopback gets the base [`Model` object](https://docs.strongloop.com/display/public/LB/Basic+model+object).

    Inclusion object - Enables you to load relations of several objects and optimize numbers of requests.
    Validateable object - provides validation methods; see Validating model data.

Thus, `validati

[2015-12-10 08:33] superkhau commented on #1874
This is an interesting question because we need to support persistence in both types of databases. For NoSQL dbs that support ObjectIds, the solution is simple. For SQL databases, do we persist them as String PKs when marshalling/unmarshalling or do we use another format?

[2015-12-10 08:35] superkhau commented on #1874
@bajtos @ritch @raymondfeng Please add your insights (especially @raymondfeng since you know database architecture/design pretty well).

[2015-12-10 08:39] superkhau commented on #1874
This is pretty simple in that we can just do something like:

[code]

Note we should also alias `Id` and `ID` defensively (saw this in mongo's native impl).

[2015-12-10 08:42] superkhau commented on #1874
This is interesting and probably dependent on how we choose to serialize/deserialize the ObjectId type. We could do deep comparison or simple string comparison via the hex string, etc. Not sure what is the best route here. In addition, do we support multi-level relations, etc.

[2015-12-10 08:53] superkhau commented on #1874
Ultimately, I think the long term proposal would involve this major items:

- [ ] Create a registry in Juggler
- [ ] Expose the registry in the `app` object which delegates to the registry in Juggler
- [ ] Add impl to Boot in order to populate registry with data types based on model definitions
- [ ] Create ObjectId class impl
  - [ ] Figure out algo for hex strings
  - [ ] Figure out how to make

[2015-12-10 11:38] EmileSpecs commented on #878
@bajtos, both use v.4.2.2, it was the first thing I checked to make sure it couldn't be that.

Somewhere some dependency or combination thereof is causing this issue, it's one of those that is probably going to be a irritation to find...

[2015-12-10 14:36] fablife commented on #878
I can confirm we have the same issue as @EmileSpecs .
We found out about this problem only **after deploying to modulus** (http://modulus.io).

I have been developing locally on my machine, and locally **it works** even with node 5.1.0, 4.2.3, 0.12.7, 0.10.38

The problem appears when we deploy to modulus. There, 5.1.0 and 4.2.3 produce the `null`context, and it only works there if we use 0.12.7 (

[2015-12-10 14:42] gustavomick commented on #517
+1

[2015-12-10 14:43] erikschmoll commented on #517
+1

[2015-12-10 14:46] Shyri commented on #443
I found where the problem is but I don't know how to solve it.
I need to override method find of a model and get the accessToken/userId, so I do as follows:

[code]

when method find is called, it triggers a recursive call to find over and over again. Any thoughts?

Thanks

[2015-12-10 14:48] sculebras commented on #517
+1

[2015-12-10 15:46] davidcheung commented on #1866
@philippdhh, I believe then the root cause of this issue is the only default methods are nested through [`nestRemoting`](https://github.com/strongloop/loopback/blob/master/lib/model.js#L678), and listed as feature in #1865
@ritch does this [commit](https://github.com/strongloop/strong-remoting/commit/195845ffc06a404263af61d86e9072973ce5ce0a) provide us ability to add this feature to model.js `nest

[2015-12-10 16:57] superkhau commented on #1646
@lozery Is this related to LoopBack?

[2015-12-10 17:20] superkhau commented on #274
Progress on this issue depends on ehttps://github.com/strongloop/loopback-datasource-juggler/pull/778. However we should also take the [longer term changes](https://github.com/strongloop/loopback/issues/1874) into consideration at before moving on this.

[2015-12-10 17:25] superkhau commented on #1646
Closing as this appears to be unrelated to LoopBack. Feel free to comment again if you disagree and I will reopen the issue.

[2015-12-10 17:25] #1646 closed

[2015-12-10 18:34] bajtos commented on #1485
I think the workaround solution is to define the validators from withing `MyModel.setup`. That method is called whenever a model is subclassed, which will cause the validators to be defined again on the new model.

[code]

Having said that, we should still fix this issue.

[2015-12-10 18:57] bajtos commented on #251
@STRML is this still an issue for you? I see we landed https://github.com/strongloop/loopback/pull/941 which allows users to implement a workaround. Is that good enough?

@raymondfeng @ritch do you remember if we have any idea what a proper solution for this problem would look like?

Then there is https://github.com/strongloop/loopback/pull/941#issuecomment-98756858 mentioning this issue should be

[2015-12-10 19:20] drwaldo commented on #517
+1

[2015-12-10 19:26] bajtos commented on #1267
Removing the `support` label based on the comment above (https://github.com/strongloop/loopback/issues/1267#issuecomment-94629775)

[2015-12-10 20:19] pvijeh opened #1875 "the explorer and documentation regarding filtered queries are inaccurate / broken"
I constructed this GET query using the API explorer:

curl -X GET --header "Accept: application/json" "http://0.0.0.0:3000/api/Votes?filter=%5Bwhere%5D%5BUserId%5D%3D0"

which returns this error:

{
  "error": {
    "name": "Error",
    "status": 400,
    "message": "invalid value for argument 'filter' of type 'object': [where][UserID]=0. Received type was string. Error: Unexpected token w",
    "

[2015-12-10 20:41] pvijeh commented on #1875
I eventually figured out that the request should look like this:

http://0.0.0.0:3000/api/Votes?where=%5BUserId%5D%3D0

the explorer and documentation regarding filtered queries are inaccurate / broken

[2015-12-10 20:54] Amir-61 opened #1876 "New functionalities: replaceAttributes and replaceOrCreate"
### Goal:
Adding support for  the following:

Related spike task: https://github.com/strongloop-internal/scrum-loopback/issues/621

##### PersistedModel.replaceAttribute(name, value, callback)
###### Description:
Replace the model instance with a single attribute. Equivalent to `replaceAttributes({name: 'value'}, cb)`
###### Example:
If you have this model instance `{ name: 'foo', surname: 'bar',

[2015-12-10 21:08] davidcheung commented on #1871
hi @mackwan84, would you be able to provide steps to reproduce your issue?  [Report Bug](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report)

Because validateAsync runs async, I believe you would have to validate the model before the operational hook methods if you need to use `validateAsync`
[code]

[2015-12-10 21:57] raymondfeng commented on #1875
The url should be one of the following:

http://0.0.0.0:3000/api/Votes?filter[where][UserId]=0 // qs syntax
or
http://0.0.0.0:3000/api/Votes?filter={"where":{"UserId":0}} // stringified json

[2015-12-10 21:57] #1875 closed

[2015-12-10 23:00] deweydb commented on #517
+1

[2015-12-10 23:30] deweydb commented on #517
Can I pledge a donation amount to ensure this issue is worked on in the near future?

[2015-12-10 23:52] superkhau commented on #517
@deweydb Haha, if things only worked that way. Let's do this, I will bump this to critical to make sure this comes up during sprint planning.

[2015-12-10 23:54] superkhau commented on #517
However, that said, it's still in triage status and we need to figure out all the use cases. If you guys could provide me with more sample repos, we can use them to create tests to make sure we get the coverage needed.

[2015-12-11 11:58] bajtos commented on #1612
Relabelled as "Beginner Friendly" + "Feature".

@gausie I am afraid this particular issue is not very high in our list of priorities, would you mind contributing the improvement yourself? See https://github.com/strongloop/strong-remoting/commit/a7f5d12c0129932236cfcc7dc6fb824edf40d8a4 for inspiration.

[2015-12-11 12:03] seanmangar commented on #300
I'm running into a lot off issues to validate nested models. How can this be implemented?

[2015-12-11 12:35] pktippa commented on #1873
Hi @richardpringle I would like to work on this feature, please let me know the pointers and code to debug the same.

[2015-12-11 14:12] mariohmol commented on #379
+1

[2015-12-11 14:25] richardpringle commented on #1873
Hey @pktippa, glad you would like to help! I'm actually pretty new to Loopback, so I don't have an answer off the top of my head :confused:. What I would do if I were you is step through the code with a debugger (I like [node-inspector](https://github.com/node-inspector/node-inspector)).

If you're using the standard scaffolding, the [execute function](https://github.com/strongloop/loopback-boot/b

[2015-12-11 14:34] gausie commented on #1612
Yeah I'll take a look into it, I understand that it's not super important.

[2015-12-11 14:51] davidcheung commented on #1833
It seems any keys in the following object are removed if the user uses them, `middleware.json` is only re-written and loses data from `workspace-api`, keys in the following object seems to be problematic. [Possibly related code](https://github.com/strongloop/loopback-workspace/blob/master/common/models/middleware.js#L284-L292)
[code]
-----------------
Just to note some behaviors in my investigatio

[2015-12-11 15:46] davidcheung commented on #1870
Related PR : #1221

[2015-12-11 16:30] jmls commented on #789
were you able to complete this ? I am also looking at using jwt with strongloop ;)

[2015-12-11 20:34] vabnirvana commented on #878
Hey i face the same issue. It works ok when i run locally (OS X). But when i try running it on my ubuntu digital ocean server it gives a 500 error saying "Cannot call method 'set' of null" where in I am not able to set the value. The code base is same. Not able to understand how to proceed.

[2015-12-11 23:45] crandmck opened #1877 "Document case-sensitive email option for User model"
Implemented in https://github.com/strongloop/loopback/pull/1804.
Should be fairly trivial.

@richardpringle Please provide basic explanation, and I'll add to docs.

[2015-12-12 00:23] crandmck commented on #929
I made a few small edits, otherwise LGTM.
Thanks!

[2015-12-12 00:23] #929 closed

[2015-12-12 00:25] crandmck commented on #1796
@loay Perhaps you could advise on this issue?  Is it a bug or an issue with docs?

[2015-12-12 00:33] crandmck commented on #1518
So https://docs.strongloop.com/display/LB/User was supposed to reflect exactly the same content as https://apidocs.strongloop.com/loopback/#user but due to a bug in strong-docs, it was not being updated when loopback was versioned and so occasionally had mistakes (as it did here).  Anyway, in discussion with @richardpringle we decided to just remove all the replicated API docs from http://docs.str

[2015-12-12 00:42] crandmck commented on #750
I reviewed your draft and made a few small edits.  It LGTM, so I copied it into https://docs.strongloop.com/display/LB/Defining+mixins and removed your hidden draft page.
Thanks!

[2015-12-12 00:42] #750 closed

[2015-12-12 00:43] starbassma commented on #1518
thank you for the clarification

[2015-12-12 03:18] loay commented on #1796
Hi @crandmck @Smileo @wzup

Actually the documents are correct. Loopback does create both `emailVerified` and `verificationToken`.

We can use this repo as a perfect example for that: https://github.com/strongloop/loopback-example-user-management
I will type it step by step so you can see how both got created.

1) in `server/datasource.json`, please add ` "file":"db.json" ` in db so you can see th

[2015-12-12 06:58] JonnyBGod commented on #1825
Also getting similar issues.

- `net::ERR_INCOMPLETE_CHUNKED_ENCODING`
- Connections timeout after 60 seconds of inactivity.

[2015-12-13 00:08] loay commented on #1825
@EmileSpecs  @JonnyBGod
I cannot reproduce the issue on my end. I did some search and I found that some people got that issue fixed once they disabled the Real time protection on the Anti-Virus. Others had that issue related to the Cache Control.

[2015-12-13 00:41] JonnyBGod commented on #1825
I am on mac, no antivirus cache disabled on chrome when devtools are open.
My main problem is not related to the error though. I am concerned about the timeout after one minute of inactivity.

[2015-12-13 00:50] loay commented on #1825
@JonnyBGod, Is your code on a repo that you can refer me to so I can try to reproduce?
Thanks

[2015-12-13 17:23] Amir-61 commented on #582
Hi @GustavoRPS,

Sorry to get back to this ticket too late! Could you please share a repo to reproduce the issue using [loopback-sandbox](https://github.com/strongloop/loopback-sandbox)? Also in case you do not run into this issue with updating the the packages, please update us on that so we can close this ticket.

Thanks!

[2015-12-13 17:48] Amir-61 commented on #877
I label this ticket as a feature for `Memory` connector.

Thanks!

[2015-12-13 17:58] Amir-61 commented on #733
Is this ticket good to close?

[2015-12-13 18:03] raymondfeng commented on #877
The memory connector already supports `regexp` operator which can have `/i` option.

[2015-12-13 18:07] Amir-61 commented on #877
Thanks @raymondfeng,
Cool! So I will be closing this ticket soon!

[2015-12-13 18:31] TimPerry commented on #1734
@jeffcressman The solution I got working (which I'm not happy with so still holding out for a better solution) was to use https://github.com/mjohnston/react-native-webpack-server this allowed me to use the https://www.npmjs.com/package/loopback-webpack-plugin plugin but it appears that react-native-webpkac-server isnt going to be maintained any longer. To get that far I spend a whole week of messi

[2015-12-13 18:34] TimPerry commented on #1734
This is my webpack config file: https://gist.github.com/TimPerry/522234ee4de8534496ff

[2015-12-13 19:43] STRML commented on #1079
This also kills installs with alternate package managers like [ied](http://gugel.io/ied/).

Time to fork every strongloop package - what a pain.

[2015-12-13 19:48] OwenBrotherwood commented on #1079
-1 for the need to fork

[2015-12-14 00:45] jeffcressman commented on #1734
Thanks @TimPerry, much appreciated. I'll let you know how I go. Cheers.

[2015-12-14 01:08] #1518 closed

[2015-12-14 01:23] loay commented on #1846
@mariohmol

I tested using my local mysql as well as using phpMyAdmin. I cannot reproduce the issue.
Is your repo available online so I can reproduce?
Thanks.

[2015-12-14 01:35] loay commented on #1846
@mariohmol I tested on one machine and I cannot reproduce it.
I will test on another machine and get back to you.

[2015-12-14 02:54] remotevision opened #1878 "Set userId relation based on accessToken?"
I have a one-to-many relationship between ```User``` and ```Thing```. I have a foreignKey defined on each object and I was hoping that when creating a new ```Thing```, it would assign the ```userId``` foreignKey based on the user principle from the ```accessToken```.

Relationship defined on ```Thing```:
[code]

What is the best way to assign ```thing.userId``` based on the user principle?

[2015-12-14 03:49] remotevision commented on #1878
I wrote a ```beforeRemote``` which adds it. This solution worked out nice.

[code]

[2015-12-14 09:46] fabien commented on #1806
@raymondfeng @ritch @bajtos - any updates?

[2015-12-14 10:55] behrad opened #1879 "Authenticating by Application.restApiKey"
I couldn't be able to create a working example and use generated `restApiKey` in my application instance to secure and call REST endpoints.

[2015-12-14 10:55] behrad commented on #457
https://github.com/strongloop/loopback/issues/1879

[2015-12-14 10:55] behrad commented on #436
https://github.com/strongloop/loopback/issues/1879

[2015-12-14 11:18] jmimi commented on #1869
@davidcheung I forgot what is exactly the case. But I'm sure `disableRemoteMethod` should be call in model definition

[2015-12-14 14:02] bajtos commented on #798
Also I believe that GoDaddy was able to embed explorer and since there was no update for more than a year, I tend to think this issue is no longer relevant.

@dashby3000 please do reopen if I am mistaken.

[2015-12-14 14:02] #798 closed

[2015-12-14 14:04] bajtos commented on #554
@richardpringle I don't know. Could you please take [loopback-example-app](https://github.com/strongloop/loopback-example-app), open the explorer and check if `findOrCreate` and `findByIds` are listed?

[2015-12-14 14:06] bajtos commented on #1512
I think we should return `500 Internal Error` when it was not possible to verify the supplied credentials because of a database connection error.

[2015-12-14 14:11] richardpringle commented on #554
@bajtos, they aren't

[2015-12-14 14:17] bajtos commented on #1874
One more thing to consider: how to support models with `ObjectId` properties when running in a browser, where we don't have any mongodb connector?

1) We should not include the full `mongodb` module in the browser bundle, this is something we should probably fix in the current short-term fix ASAP.

2) Since there is no `mongodb` module in the browser that could contribute the `ObjectId` type, we d

[2015-12-14 16:19] FelipeAguayo commented on #517
+1

[2015-12-14 19:04] amaurybrisou opened #1880 "pgsql: can't determine url id type"
Hello guys,

I'm currenctly stuck in a ManytoMany self-referencing with through table, on one step only.

I have this main model self referencing itself :

[code]

then the through table :

[code]

Everything works great for fetching friends, If I add manually a SurferFriend relation with two Ids in the post body, along with the other fields of course; It works !
My problem comes when I use the ex

[2015-12-14 20:50] superkhau commented on #1874
How do we fix this? Come up with our own impl now?

Not sure how to do this in the browser. It sounds like if the browser is a requirement, we need to impl our own ObjectId type that is not dependent on the `mongodb` module. The short term-fix doesn't take this use case into consideration at all since it just uses the `mongodb` module directly. Is the browser requirement a must have at this point

[2015-12-14 20:54] superkhau commented on #1512
+1

[2015-12-14 21:35] STRML commented on #1079
Something even more bizarre going on that makes this difficult to actually exclude:

The packaged `loopback` **differs** from the tagged version on GitHub, including the following `package.json`:

[code]

Note that they have moved the blip into `dependencies`, meaning the only way to use loopback without opening yourself up to a `postinstall` mitm attack, or inside a private network without intern

[2015-12-14 21:47] STRML commented on #1079
Previously I posted about `sl-blip` being in `dependencies` on install. I just found that this appears to be  how `npm` rewrites the package.json on a successful install of optionalDependencies, and not any modification of the package.json before publishing. Sorry about that. Still, my point stands: this has to go.

[2015-12-14 22:55] davidcheung commented on #1564
Hi @crandmck, I believe this(non-existing path `files` entry removed) is no longer as issue, would you be able to see if you also can no longer reproduce this issue, then this issue can be closed . Thanks!

[2015-12-14 23:05] matohawk opened #1881 "Problem with remote-method boolean arg and strong-remoting 2.23.0"
loopback : 2.2.26

Here my remote Method definition :
Auction.remoteMethod('allAuctions', {
    description: 'Get all Auctions',
    accepts: [ {
      arg: 'franchised',
      type: 'boolean',
      http: {
        source: 'query'
      },
      description: 'Get only franchised Account'
    }

When I pass :
api/v1.1/Auctions/All?franchised=false

I retrieve :
true for the franchised after the re

[2015-12-14 23:29] crandmck commented on #877
Note that this is documented: https://docs.strongloop.com/display/LB/Where+filter#Wherefilter-Regularexpressions.

[2015-12-14 23:36] crandmck opened #1882 "Document how to define remote methods via model settings/config"
See:
- https://github.com/strongloop/loopback/pull/1366
- https://github.com/strongloop/loopback/pull/1163
- https://github.com/strongloop/loopback/issues/209

[2015-12-15 03:52] TNT-Likely opened #1883 "method count seems not work correct."
i use same filter in method find,it work.

i wish somebody can help me

thanks!

![1](https://cloud.githubusercontent.com/assets/9278923/11801560/0ff63c16-a322-11e5-9c48-80364821b31a.png)

[2015-12-15 03:53] TNT-Likely commented on #1883
![2](https://cloud.githubusercontent.com/assets/9278923/11801606/5e9bf89c-a322-11e5-8e0b-375d9c815e24.png)

[2015-12-15 04:17] Neil-UWA commented on #1883
you are passing wrong query parameters, no filter only where query. You can check the format in your explorer. Also provide details when you have any issues, otherwise others need to take time to analysis the problem.

[2015-12-15 05:01] TNT-Likely commented on #1883
thanks,it work.

[2015-12-15 05:01] #1883 closed

[2015-12-15 05:56] superkhau commented on #1436
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2015-12-15 05:56] #1436 closed

[2015-12-15 05:57] superkhau commented on #1449
@alexxgathp Are you still running into issues? Can you provide a sample repo for me to reproduce the issue?

[2015-12-15 08:24] skolesnyk opened #1884 "strong-nginx-controller doesn't start"
Ok, I've figured that I shouldn't bother with nginx : it's strong-nginx-controller that launches nginx. But now, the strong-nginx-controller doesn't start.

UPD: the service starts only under root e.g.
sudo sl-nginx-ctl-install -c 4444 -u root -g wheel --systemd -f

   Loaded: loaded (/etc/systemd/system/strong-nginx-controller.service; enabled)
   Active: active (running) since Tue 2015-12-15 08:

[2015-12-15 09:39] seanmangar commented on #531
+1 A readOnly property would be very useful for ids.

[2015-12-15 10:38] skolesnyk commented on #1884
Things are clearing up bit, but not completely.  Now I understand that nginx controller starts nginx process. But it still doesn't proxyfy requests to strong-pm's children

[2015-12-15 11:45] toplinuxsir opened #1885 "How to change datasource of Models dynamicly ?"
How to change datasource of Models dynamicly ?

[2015-12-15 11:46] toplinuxsir commented on #1885
For example: a model Product , at runtime I want to change the datasource of model Product from pgsql to mysql , how to ?
Thanks !

[2015-12-15 12:59] skolesnyk commented on #1884
I've changed user/group to nginx. Now there's different exit status
strong-nginx-controller.service - StrongLoop Nginx Controller
   Loaded: loaded (/etc/systemd/system/strong-nginx-controller.service; enabled)
   Active: failed (Result: start-limit) since Tue 2015-12-15 07:59:04 EST; 4s ago
  Process: 2498 ExecStart=/usr/bin/node /usr/lib/node_modules/strong-nginx-controller/bin/sl-nginx-ctl.js -

[2015-12-15 13:02] skolesnyk commented on #1884
And nginx service is disabled
nginx.service - The nginx HTTP and reverse proxy server
   Loaded: loaded (/usr/lib/systemd/system/nginx.service; disabled)
   Active: inactive (dead)

[2015-12-15 14:49] jannyHou commented on #1885
hey @toplinuxsir , I think the functionality you are looking for is [`attachTo()`](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model-builder.js#L330)
Please check this (example)[http://stackoverflow.com/questions/31173302/how-to-configure-two-different-datasource-for-a-model-in-strongloop-loopback-fra] for more details about how to use it, not complicate as far as I s

[2015-12-15 16:16] jannyHou commented on #1881
hey @matohawk  I am trying to reproduce your issue, however the description above is a little vague. Can you please provide me the whole definition of your remote method (eg: at least contains http path)?
And for a better review we would appreciate it if you can fork this [sandbox](https://github.com/strongloop/loopback-sandbox) and upload your own project, with the code I can help you more easily

[2015-12-15 16:39] matohawk commented on #1881
* 2 descriptions is one for the remote method and one for the argument
* I will try to reproduce this bug in your sandbox

[2015-12-15 16:51] jannyHou commented on #1881
@matohawk  Cool! thank you.

[2015-12-15 17:08] gunjpan commented on #1868
@wajidmehraj : Closing this. If you are still facing this issue, please comment here and I will reopen it.
Thank you :)

[2015-12-15 17:08] #1868 closed

[2015-12-15 18:28] gausie commented on #1774
@mastertinner's idea is a good one!

[2015-12-15 18:29] talvola commented on #517
I have data stored in JSON columns in Postgres - it would be nice if I could do nested filters there as well.

For example, something simple like:

`{
  "customerId": 0,
  "customer": {},
  "source": "string"
}`

where the customer is a Object field with a postgres JSON column type (it displays as {} in the Explorer) and the customerId is an int with source as a string.    I'd want to query/filter

[2015-12-15 19:18] jannyHou commented on #1878
hey @remotevision glad to see you have figured out the solution, I suppose you find the proper usage of `ctx.req.accessToken` in [doc here](https://docs.strongloop.com/display/public/LB/Remote+hooks#Remotehooks-ctx.req.accessToken), it includes more details of remotehooks.

Just in case you will need it, we also explained how to get current user in [remote method](https://docs.strongloop.com/displ

[2015-12-15 19:18] #1878 closed

[2015-12-15 19:56] matohawk commented on #1881
Sorry it's too long for us to do that.
We will just use the 2.22.0 of the strong-remoting for now.

The only things I can say it's a boolean arg problem with custom remote method. When we pass false we retireve true.

[2015-12-15 20:19] #877 closed

[2015-12-15 20:20] Amir-61 commented on #733
I'm closing this ticket due to in activity for months. Please feel free to open it if you run into the same issue.

Thanks!

[2015-12-15 20:21] #733 closed

[2015-12-15 20:32] jannyHou commented on #1881
@matohawk no worries, that doesn't matter, I reproduced your issue and yes you are right, we will look into this bug ASAP! Thank you very much!

[2015-12-15 20:36] Amir-61 commented on #611
Hi @bluestaralone,

Does Raymond's answer solve your problem? If no please share a sample repo using our [loopback-sandbox](https://github.com/sharkinsspatial/loopback-sandbox) so we can comment on your code; also we encourage you to ask your question in our [Google community](https://groups.google.com/forum/#!forum/loopbackjs) so people can answer your question easily.

Thanks

[2015-12-15 21:02] jannyHou commented on #1881
hey @superkhau @bajtos , as the user said above, "there is a boolean arg problem with custom remote method. When we pass false we retireve true."

I reproduced this issue with [sample](https://github.com/jannyHou/loopback-sandbox/tree/bug/strong-remoting-boolean-arg) here.

I defined a remote method for model `game`. It takes one input argument called `isMature` and the value of `isMature` is prin

[2015-12-15 21:30] toplinuxsir commented on #1885
Yes, it dose,
Thanks !

2015-12-15 22:49 GMT+08:00 Janny <notifications@github.com>:

[2015-12-15 21:46] jannyHou commented on #1885
No problem :) Glad to hear that!
And for future references, we welcome users to ask questions on [google group](https://groups.google.com/forum/#!forum/loopbackjs) Thanks!

[2015-12-15 21:46] #1885 closed

[2015-12-15 23:44] superkhau commented on #1881
@jannyHou Sounds like a bug to me. Check the git history to see what changes were recently commited.

[2015-12-15 23:51] jeffcressman commented on #1734
@TimPerry I've had an awful time trying to get this sorted out. Tried a number of approaches. Need to move on from React Native for this project but I hope to circle back later and try and figure this out.

It seems like React Native + Webpack is very temperamental. Some folks can get projects to build/run and some can't and the difference in environments is difficult to pin down. For example, I c

[2015-12-16 00:00] jbcpollak commented on #1739
+1

[2015-12-16 00:20] skolesnyk commented on #1884
Got it to work without nginx controller. Will try it later once need arises.

[2015-12-16 00:20] #1884 closed

[2015-12-16 01:06] mike-aungsan commented on #1173
Is it possible to terminate the invocation from Operation hooks?
I cannot find in doc. I try ctx.end() and it raise err.

[2015-12-16 01:12] mike-aungsan commented on #1563
@crandmck
I am looking a way to terminate without error message and response obj. Is it possible and how can I do it from operation hooks?

[2015-12-16 02:06] viljami commented on #1553
Upsert fails silently when float number is sent to column defined as number with postgresql. I hope this example shows it. Ihave Strongloop model definition json file with column defined as:

[code]

And I send PUT request with url /model (or /model/:id) containing body as:

[code]

The response will have status code 200 and the response body will have the updated score.

But A GET request shows t

[2015-12-16 03:40] Neil-UWA commented on #1774
@mastertinner  agreed +1

[2015-12-16 04:42] holisticode opened #1886 ""after delete" hook of "Through" model runs on /rel/ endpoint even if the relationship doesn't exist anymore"
Context: a hasMany:Through relationship
ModelA hasMany ModelB through ModelC

Consider this:
PUT /modelA/:id/modelB/rel/:fk
Establishes a new relationship.

If ModelC has a "after save" hook, it correctly gets triggered only when PUT is executed the first time, in other words when the relationship is established; subsequent PUT calls don't execute the "after save" hook.

But the behavior seems inc

[2015-12-16 14:41] jannyHou commented on #1881
@superkhau I think it's fixed now, miroslav reverted that commit:
please see https://github.com/strongloop/strong-remoting/pull/269 for more details.

[2015-12-16 15:43] vespertilian commented on #1822
So I ended up here because my boot scripts were also interfering with Supertest.

My boot script was hanging because no company model had been setup in the database. The weird thing was, catch was not throwing an error and Supertest was still able to interact with the server and get responses, so some tests still worked. For anyone else happening upon this thread you should double check your boot

[2015-12-16 16:43] darior87 commented on #162
Have this problem on remote hook intercepting a relationship get call.

[code]

[2015-12-16 17:06] darior87 commented on #162
it works by replacing the result in the context

ctx.result = {concert:concert};

before the next(); to be called

[2015-12-16 17:09] bajtos commented on #1881
Yes, I have landed a pull request that was approved by @ritch but accidentally lost by `git push -f`. Unfortunately it turned out the pull request introduced regressions (like the one described here), so I have reverted it back.

@matohawk could you please try `strong-remoting@2.23.1` and let us know if the bug is still present?

[2015-12-16 17:10] bajtos commented on #1881
Actually, to simplify our process, I am going to close this issue as fixed. @matohawk please reopen if the problem still persists.

[2015-12-16 17:10] #1881 closed

[2015-12-16 17:47] crandmck commented on #1563
@mike-aungsan Please ask your question on the forum: https://groups.google.com/forum/#!forum/loopbackjs.  Thanks!

[2015-12-16 18:01] bajtos opened #1887 "Speed up Change lookups - remove modelName column"
At the moment, we create one change table per each tracked model, e.g. `Product-changes` and `Category-changes`. At the same time, each Change record contains a property `modelName` which we use in queries. These queries are not backed by any index, which (most likely) causes low performance when the number of changes grows large.

We should simplify the `Change` model, remove `modelName` property

[2015-12-16 18:03] bajtos opened #1888 "Define index for Change lookup by "checkpoint""
At the moment, we use the following query that is not backed by any index:

[code]

We should modify LoopBack to define such index in a way that is compatible with as many connectors as possible. If there isn't a connector-agnostic way for that, then we should implement one.

A short-term workaround is to enhance offline-sync documentation and explain what indices are necessary to create.

Related

[2015-12-16 18:36] mbouclas opened #1889 "Cannot setup redis session"
I have been trying to use redis as a session store but with no luck. What i have as a setup is :

//middleware.json
[code]

Then i tried to override this in several places like middleware.development.js where i have this :
[code]

or in the session.js where i had the same code as above. Loopback seems to ignore my settings and always starts the default store. Any ideas?

[2015-12-16 22:06] Amir-61 commented on #414
@johnsoftek Would you like to send a patch for this fix?

Thanks.

[2015-12-16 22:20] Amir-61 commented on #773
Hi @Spark-star,

Has your problem been solved by using lowercase `server` here:
'''
"scope": {
        "include": "server"
}
'''
 or still you experience the same issue? If so please share a repo using our [sandbox](https://github.com/sharkinsspatial/loopback-sandbox) and we can look into your code and see what is wrong; otherwise, please let us know and we close this ticket.

Thanks!

[2015-12-16 23:15] Amir-61 commented on #1819
@ahmed-abdulmoniem

`"null"` does not seem right; it can be a bug; but in order to make sure this a real bug please provide a sample repo using our [sandbox](https://github.com/sharkinsspatial/loopback-sandbox).

Thanks!

[2015-12-16 23:51] Amir-61 commented on #1748
Hey @GlennMurphy

You are right if you are using `loopbacl-connector-mongodb` the IDs get coneverted to scientific notation integers; but in terms of the problem you encountered, could you please provide a sample repo using [loopback-sandbox](https://github.com/sharkinsspatial/loopback-sandbox), so then we can see what is the problem in your example repo...

Thanks so much!

[2015-12-17 00:32] crandmck commented on #1564
@davidcheung  I tried it again and was not able to reproduce.  So, I assume the problem is fixed in the latest release.

[2015-12-17 00:32] #1564 closed

[2015-12-17 06:21] denzelwamburu commented on #405
Hi @paidon  kindly check https://github.com/denzelwamburu/lb-ngIonic .A better kickstarter for your ionic + loopback app. Though offline sync hasn't been added.

[2015-12-17 12:03] bajtos opened #1890 "Change rectification: detect "delete array of ids""
Use case: delete a given (known) set of change-tracked model instances in one operation.

At the moment, the "after delete" hook in `PersistedModel` does not detect this situation and triggers expensive `rectifyAll` call.

We should improve the heuristics in "after delete" hook to detect deletion of multiple instances identified by ids, and rectify only the required change instances.

Related: str

[2015-12-17 12:12] chandrasekhark opened #1891 "Process Manager have running pretty heavily sending out the data, which causing Amazon abuse report"
I installed process manager and deployed my application in live server. After few days i got mail from client team like below.

"I saw the node have running pretty heavily sending out the data,  which causing Amazon abuse report come out."

![ieicjccd](https://cloud.githubusercontent.com/assets/8915614/11869298/bf93311a-a4e4-11e5-8e2f-4dd38d3a9377.png)

I checked the progress
sudo ps -aux |grep no

[2015-12-17 12:26] bajtos opened #1892 "How to remove old change records linked to deleted model instances"
The current design of change tracking and replication has a significant flaw: when a model instance (e.g. Todo instance) is deleted, the linked change record must remain in place effectively forever, as we use it to distinguish between new and deleted instances during replication. As the result, the collection of change records grows in size indefinitely over time. This is bad especially for brows

[2015-12-17 12:53] bajtos commented on #1864
Workaround: schedule a regular cleanup of old checkpoints.

Code example:

[code]

[2015-12-17 13:06] bajtos opened #1893 "bulkUpdate triggers rectifyAll"
The current implementation of `bulkUpdate` triggers expensive `rectifyAll` operation whenever a model instance was updated or deleted.

TL;DR: we need to improve [getIdFromWhereByModelId()](https://github.com/strongloop/loopback/blob/3b66fc1c8839f21d25c8af05d6073c83378666ae/lib/persisted-model.js#L1477-L1490) to detect filters that can match either one record with a known id, or no records at all.

[2015-12-17 13:26] bajtos commented on #554
@richardpringle then the answer to your original question, "Is this still an issue?", is pretty clear now :) Yes, this feature still needs to be implemented.

[2015-12-17 14:13] listepo commented on #418
+1

[2015-12-17 15:15] pvijeh opened #1895 "Fails to Install on Ubuntu 14.04.3"
Strong loop fails to install on Ubuntu 14.04.3.

I tried installing it on a fresh Digital Ocean Ubuntu instance using the following steps:

sudo apt-get install nodejs
sudo apt-get install npm
npm install -g strong-pm

Which results in the following failure:

/usr/bin/env: node: No such file or directory
npm WARN This failure might be due to the use of legacy binary "node"
npm WARN For further exp

[2015-12-17 15:16] listepo commented on #300
+1 http://json-schema.org/

[2015-12-17 15:18] pvijeh commented on #1895
I discovered that there was a problem with my path variable.  I fixed it with the following command:

"update-alternatives --install /usr/bin/node node /usr/bin/nodejs 99"

maybe we should add something about this in the documentation?

[2015-12-17 15:22] #1895 closed

[2015-12-17 18:35] devonatdomandtom commented on #651
@ericprieto In what file did you run that method?

[2015-12-17 19:42] superkhau commented on #1895
@crandmck ^

[2015-12-17 20:22] davidcheung commented on #1869
@jmimi I'm trying to see if this could be a bug with the `remote layer`, so we can identify where the issue is coming from, and when I was trying to reproduce the call becomes 404 when I run
[code]
But the method still appears in the explorer for me.

`disableRemoteMethod` does get called, and makes function `uncallable`, not `unviewable`,

@bajtos would you know what the intented behavior is? sho

[2015-12-17 22:14] myen-ln commented on #1454
+1

[2015-12-17 23:11] crandmck commented on #1895
@pvijeh Will all Ubuntu users need to use this command?   Or was there something particular about your configuration?

Does it apply to all versions of Ubuntu or just Ubuntu 14._x_ or 14.04._x_ ?

[2015-12-17 23:16] jmimi commented on #1869
@davidcheung Why there is different behaviour between calling in `boot-script` and `model-definition`?

[2015-12-18 00:35] crandmck commented on #1333
@superkhau this fell through the cracks.  Is it still something that we need to add to docs?  If so, can you provide some more info here?  If not, then we should close it.

[2015-12-18 01:10] superkhau commented on #1333
@crandmck They've all been merged in and I believe they are done. Feel free to close after confirming it's in the docs.

[2015-12-18 01:21] superkhau commented on #1814
@jannyHou Should the triage label be removed here?

[2015-12-18 01:24] superkhau commented on #910
@fsegouin Are you stilll running into issues here? Can I close this?

[2015-12-18 04:05] toplinuxsir opened #1897 "The loopback model query functions doese not support finally"
For example , I have a model Product and query :

Product.find().then(function(results) {
 ///do sometheing
}).catch(function(err){
}).finally(function(){
});

loopback does  not support the bluebird finally function ?

Thanks !

[2015-12-18 07:31] bajtos commented on #1869
This is expected. We don't have a mechanism to notify loopback-component-explorer that a method was disabled.

A similar case is adding a new model after explorer was initialised. To address that, we modified loopback to emit an event when a new model is added to the app, and now there is a pending patch https://github.com/strongloop/loopback-component-explorer/pull/141 to listen for that event in

[2015-12-18 09:21] salamani opened #1898 "Testcases failure for PhantomJS2.0"
Hi,
I am having issue of PhantomJS crashing while running the testcases.
The  PHANTOMJS_BIN set to /bin/phantomjs where I do have a  PhantomJS2.0 which has been ported for ppc64le machine and working correctly.
Strongloop should migrate to 2.0.0 because the breakpad code is removed from 2.0.0. Since this is a very complex code to port, 1.9.8 can not be ported to ppc64le easily.

The log while runn

[2015-12-18 14:33] jannyHou commented on #1814
@superkhau Sure, I removed it. Thank you for reminding me!

[2015-12-18 15:44] loay commented on #966
Hi @pulkitsinghal
We will have a look into that.

[2015-12-18 16:13] loay commented on #942
@idosh
is this issue still relevant?
Have a look here:
https://docs.strongloop.com/display/LB/Creating+model+relations
Thanks.

[2015-12-18 18:24] crandmck commented on #1333
@superkhau Could you do this please.

[2015-12-18 18:57] superkhau commented on #1333
@crandmck You've already updated the docs based on the updated example. Closing as this is already done.

[2015-12-18 18:57] #1333 closed

[2015-12-18 20:47] loay commented on #902
Thanks for reporting the issue.
There is a workaround for that case, but we will need to add the RAND to all the connectors.

[2015-12-18 20:49] superkhau commented on #1897
The bluebird impl is not complete yet. See https://github.com/strongloop/loopback/issues/418

[2015-12-18 20:49] #1897 closed

[2015-12-18 20:49] loay commented on #880
Hi @fabien,
is it issue still relevant? I mean: is it already implemented?
Thanks

[2015-12-18 20:51] superkhau commented on #902
Is this a feature or still in triage? I assume u need to remove the triage label?

[2015-12-18 20:52] loay commented on #1880
Hi @amaurybrisou
Thanks for reporting the issue?
Is your repository available here so I can have a look?

[2015-12-18 20:53] loay commented on #902
@superkhau Done

[2015-12-18 20:56] superkhau commented on #902
ty

[2015-12-18 20:59] TimPerry commented on #1734
@jeffcressman I'm off from Christmas now so should have a couple of days to have a play around with this :) If I get anywhere I shall update everyone on here. I think my approach is going to be to try and avoid webpack, as like you have mentioned it is temperamental with react native.

[2015-12-18 21:11] simonguest commented on #1636
Hi @loay - give me a couple of days, and I'll setup a test repo that demonstrates the current behavior. Thanks!

[2015-12-18 21:50] jannyHou commented on #1603
hey @acao thanks for your [solution](https://github.com/strongloop/loopback/issues/961#issuecomment-131990658)!
I will label it and people who also google this question can see the solution for it!

[2015-12-18 21:50] #1603 closed

[2015-12-19 07:00] vl4dt opened #1900 "url encoded accented characters break the filter"
This condition occurs when I have to query any list or call the findOne method and specify a filter with some accented character in any string value, I don't know if there is another way to send the filter, maybe as a json payload but it doesn't work either.

Example:

**This works:**
Original object:
[code]

http://localhost:3000/api/organizacions?**_filter=%7B%22where%22%3A+%7B%22nombre%22%3A+%2

[2015-12-19 15:38] ben-girardet commented on #386
Any chance that the ACL would handle this security issue in the future ?

[2015-12-19 16:43] fablife opened #1901 "in hasMany relationship, when changing foreign key, the lookup fails"
This case can be reproduced in the following repo:
https://github.com/fablife/loopback-playground

Start the repo, go to the explorer and execute GET `TestModel/:id/hasMany`

We encountered this issue while implementing a followers relationship. In a follower relationship, the model (User) is the same for both ends of the relationship. As we need a Through model, both ends of the Through model req

[2015-12-19 20:25] mariohmol opened #1903 "Filter with Wildcard in Production Site Returns Error 404"
I have a localhost that filters using like and wildcards, Using local or production database.
- http://localhost:3502/api/Cidades?filter={"where": {"nome": {"like": "%25BETIM%25"}}}

This example Works:
- http://production.com.br/api/Cidades?filter={"where": {"nome": {"like": "%25BETIM"}}}

  If I use the like resources or wildcard at the end ( % ), it gives me Error 404.
- http://production.com.b

[2015-12-20 06:09] joshbodine21 opened #1904 "Model Relationships and Lookups"
Is there no concept in defining a model that allows a model to contain a foreign key that is associated with another table for lookup purposes? In my database I have an "Accounts" table and one of the columns contains an "Industry ID" foreign key which maps to another table, "Industries" that has an ID/Value pair, listing all of the acceptable industries. The Industries table is finite and doesn't

[2015-12-20 07:01] idosh commented on #942
No, haven't used Loopback for a long time...

[2015-12-20 15:34] TonnyTao opened #1905 "will consider use jwt to replace uid2 generate access token?"
Json Web Tokens seems better than normal 64 length uid2 string.

Why not change to jwt?
https://tools.ietf.org/html/rfc7519

[2015-12-20 21:40] Amir-61 commented on #582
@GustavoRPS I will be closing this ticket due to inactivity; please feel free to re-open it if you encounter  the same issue.

Thanks!

[2015-12-20 21:40] #582 closed

[2015-12-20 21:53] shyd0w opened #1906 "heroku cannot run application when local runs fine"
`
Installing any new modules (package.json)
remote:
remote: -----> Caching build
remote:        Clearing previous node cache
remote:        Saving 2 cacheDirectories (default):
remote:        - node_modules
remote:        - bower_components (nothing to cache)
remote:
remote: -----> Build succeeded!
remote:        ├── bower@1.6.5
remote:        ├── compression@1.6.0
remote:        ├── cors@2.7.1
re

[2015-12-20 21:54] shyd0w commented on #1906
Runs great until i do a heroku open, utilized this documentation specifically:
https://docs.strongloop.com/display/SL/Heroku

[2015-12-20 22:12] Amir-61 commented on #1901
Hi @fablife,

Thanks! We cloned your sample repo; however it does not explain/reproduce the issue you are explaining here; for example, I just see one model in your sample repo which is `TestModel`; please re-produce the issue using our [sandbox](https://github.com/sharkinsspatial/loopback-sandbox) and we can look into it. In the mean time I created a [sample repo](https://github.com/Amir-61/appoi

[2015-12-20 22:15] Amir-61 commented on #773
Hi @Spark-star,

I will be closing this ticket due to inactivity; please feel free to re-open it if you still have the same issue.

Thanks!

[2015-12-20 22:15] #773 closed

[2015-12-20 22:41] jay-soeur commented on #1692
+1

[2015-12-20 23:50] Amir-61 commented on #1893
Connect to https://github.com/strongloop/loopback/pull/1899

[2015-12-21 08:16] bajtos opened #1907 "Inconsistent encoding of Buffer values"
Apparently we have two ways how to encode a buffer value:
1. Method/callback arguments are encoded as `{ '$type': 'base64', '$data': 'MjM=' }`, see see [serialization](https://github.com/strongloop/strong-remoting/blob/e0846fe0f9d5480eb3e2ec5105b5fe6b4b7fa332/lib/shared-method.js#L548-L552) and [deserialization](https://github.com/strongloop/strong-remoting/blob/e0846fe0f9d5480eb3e2ec5105b5fe6b4b7

[2015-12-21 08:17] bajtos commented on #1907
The parser should always detect and support both base64 and array forms.

[2015-12-21 10:01] raymondfeng commented on #1907
I am out of the office until 01/04/2016.

Happy holidays!

Note: This is an automated response to your message  "[loopback]
Inconsistent encoding of Buffer values (#1907)" sent on 12/21/15 8:16:59 AM
.

This is the only notification you will receive while this person is away.

[2015-12-21 10:01] raymondfeng commented on #1907
I am out of the office until 01/04/2016.

Happy holidays!

Note: This is an automated response to your message  "Re: [loopback]
Inconsistent encoding of Buffer values (#1907)" sent on 12/21/15 8:17:54 AM
.

This is the only notification you will receive while this person is away.

[2015-12-21 14:06] fablife commented on #1901
Sorry, I forgot to push on that repo, you should now be able to find everything there in order to reproduce.

I hope this is enough, in order to not have to reproduce the issue on another environment. But I will use the sandbox from now on for future issues. Thanks

[2015-12-21 14:40] loay commented on #942
Thanks.
Closing for now. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2015-12-21 14:40] #942 closed

[2015-12-21 14:44] loay commented on #965
@paulomcnally
Is that issue still persisting?
Thanks

[2015-12-21 14:47] loay commented on #900
@nickleus73
Is this issue still persisting? Thanks

[2015-12-21 16:01] raymondfeng commented on #942
I am out of the office until 01/04/2016.

Happy holidays!

Note: This is an automated response to your message  "Re: [loopback] Set
Model Scope For Role (#942)" sent on 12/21/15 2:41:03 PM.

This is the only notification you will receive while this person is away.

[2015-12-21 16:01] raymondfeng commented on #900
I am out of the office until 01/04/2016.

Happy holidays!

Note: This is an automated response to your message  "Re: [loopback]
Problem after have run the command slc loopback:relation (#900)" sent on
12/21/15 2:47:22 PM.

This is the only notification you will receive while this person is away.

[2015-12-21 16:01] raymondfeng commented on #1901
I am out of the office until 01/04/2016.

Happy holidays!

Note: This is an automated response to your message  "Re: [loopback] in
hasMany relationship, when changing foreign key, the lookup fails (#1901)"
sent on 12/21/15 2:07:01 PM.

This is the only notification you will receive while this person is away.

[2015-12-21 16:01] raymondfeng commented on #965
I am out of the office until 01/04/2016.

Happy holidays!

Note: This is an automated response to your message  "Re: [loopback]
invalid value for argument 'filter' of type 'object': {\"where\": {\"name
\":\"Rpto. K\\hn (masaya)\"}} (#965)" sent on 12/21/15 2:44:45 PM.

This is the only notification you will receive while this person is away.

[2015-12-21 17:10] jannyHou commented on #1886
hey @fablife, thanks for your question and I am glad to discuss it here.
I think the `after save` hook in ModelC doesn't work because when you call:
PUT /modelA/:id/modelB/rel/:fk
It updates modelB's properties, not modelC, and since the foreign key can't be changed, then no property in instance of modelC would change, then nothing to save.
In another word, if you define `after save` in ModelB, yo

[2015-12-21 17:30] #1904 closed

[2015-12-21 17:37] loay commented on #1146
@brunocascio
So to ensure that I follow:
You are asking to implement a feature, so when you GET query your model, the expected results to show as:
[code]
instead of:
[code]
Correct?

[2015-12-21 17:51] loay commented on #1712
Hello,
I am closing this issue for now.
If you are still running into problems, feel free to leave a comment and I will reopen the issue.
closes#1712

[2015-12-21 17:51] #1712 closed

[2015-12-21 18:21] loay commented on #1686
Hello,
I am closing this issue for now.
If you are still running into problems, feel free to leave a comment and I will reopen the issue.
closes#1686

[2015-12-21 18:21] #1686 closed

[2015-12-21 18:25] OwenBrotherwood commented on #969
@superkhau
https://github.com/ShoppinPal/loopback-example-access-control/blob/b9e408120a6b948a75a5b7651534d698aadfd9f6/server/boot/create-role-resolver.js
- does not seem to be in the current files of the example that was forked and used for this issue
https://github.com/strongloop/loopback-example-access-control/tree/master/server/boot

If @pulkitsinghal doesn't protest, this does not look like a

[2015-12-21 18:57] superkhau commented on #969
Let me confirm what you are saying:

1. A query using the where clause currently does not return null
- I believe the current implementation returns an empty array, why do you want it to return null (is it really null)?
2. You want it to return null
- I can't see this happening without a breaking change to the current impl without a config. Maybe this should be a feature request to set a config th

[2015-12-21 19:08] OwenBrotherwood commented on #969
@superkhau @pulkitsinghal is still active as far as I can see on his activity on github: he has to give the feedback

---

https://github.com/pulkitsinghal?tab=activity

[2015-12-21 19:49] jannyHou commented on #1886
I reproduced the issue of `DELETE /modelA/:id/modelB/rel/:fk ` [here](https://github.com/jannyHou/loopback-sandbox/tree/example/has-many-through)
But I think this problem could be described in a easier way:
First we create a model by `slc loopback:model myModel`,
add hook as [document](https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-afterdelete) says:
MyModel.observe('

[2015-12-21 21:46] fablife commented on #1901
Oooooops - actually my bad. No bug here.

The solution is documented (albeit a bit tucked away) as `keyThrough`. And then I just had to get the foreign keys right. Thanks anyway.

TestModel:

{
  "name": "TestModel",
  //other properties omitted for brevity
  "relations": {
    "hasMany": {
      "type": "hasMany",
      "model": "TestModel",
      "foreignKey": "srcId",
      "through": "ThroughM

[2015-12-21 21:46] #1901 closed

[2015-12-21 22:07] Amir-61 commented on #1819
@ahmed-abdulmoniem Any update on this? If your problem is solved either by upgrading packages or.. Please let us know and we can close this ticket!

[2015-12-22 01:41] Amir-61 commented on #1864
Connect to: https://github.com/strongloop/loopback/pull/1908

[2015-12-22 03:04] pvijeh commented on #1895
I can't say for sure where it is version specific or not, but if people
plan to install it on the current LTS version of Ubuntu they will certainly
encounter this problem.

On Thu, Dec 17, 2015 at 6:11 PM, Rand McKinney <notifications@github.com>
wrote:

[2015-12-22 09:58] bajtos commented on #1893
Fixed by #1899 and released as `loopback@2.26.2`.

[2015-12-22 09:58] #1893 closed

[2015-12-22 12:59] bajtos commented on #1873
We already validate uniqueness of model name, see https://github.com/strongloop/loopback-workspace/blob/bfcf676204d3be69e7362b7974399508f930f7ea/common/models/model-definition.js#L33

loopback-datasource-juggler is not aware of remoting configuration (like plural model name). Instead of reporting an error at definition time, you should report an error when the model is attached to an app via `app.

[2015-12-22 15:29] ericprieto commented on #651
@devonatdomandtom in any file... Just pass the model that you want the methods to be hidden. I usually run that on the model implementation.

[2015-12-22 15:55] Amir-61 commented on #1901
I'm glad that your problem got fixed; I add the documentation [here](https://docs.strongloop.com/display/LB/HasManyThrough+relations) in case others run into the same issue and find this article by search engines...

Thanks!

[2015-12-22 16:00] Amir-61 commented on #611
I will be closing this issue due to inactivity; please feel free to re-open it if you run into the same issue and we can look into it further.

Thanks!

[2015-12-22 16:00] #611 closed

[2015-12-22 16:01] Amir-61 commented on #1748
@GlennMurphy Any update on this?

[2015-12-22 16:42] devonatdomandtom commented on #651
@ericprieto thanks! did you include the function definition there as well?

[2015-12-22 17:29] ahmed-abdulmoniem commented on #1819
Actually no. I don't have an clue on how to reproduce the bug with your branch because my project contains a lot of infrastructure like using Amazon dynamo, postgres ... etc.

Still the problem exists and my workaround is that I didn't send the optional arguments to the end points!

[2015-12-22 19:06] crandmck commented on #1895
Added https://docs.strongloop.com/display/SL/Installation+troubleshooting#Installationtroubleshooting-ErrorsonUbuntu

Also added to https://docs.strongloop.com/display/SL/Installing+on+Linux

[2015-12-23 02:20] drywolf commented on #1692
+1

[2015-12-23 05:34] vol4life27 opened #1911 "Cannot implement custom password regex"
I am trying to implement my own custom regex checking for the password field in my model that derives from User model. I try to use the following line of code in Account.js but it doesnt check based on the regex.

Account.validatesFormatOf("password", {with: passwordRegex, message:"Error message"})

Here is the regex I am using:

/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$!*)(?%])).{8,}$/

This reg

[2015-12-23 05:55] vnathalye commented on #1845
@gunjpan Hi Gunjan,, its been a while now and I'm still waiting for update from you.

[2015-12-23 05:59] #1911 closed

[2015-12-23 09:18] paulomcnally commented on #965
Sorry. I close project. Thanks

[2015-12-23 09:18] #965 closed

[2015-12-23 14:08] loay commented on #900
Hello,
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2015-12-23 14:08] #900 closed

[2015-12-23 14:10] loay commented on #1146
Hi @brunocascio
I will close this issue for now. If you are still running into problems or you think there is an added value to a feature, feel free to leave a comment and I will reopen the issue and see if we can implement the feature. Thanks.

[2015-12-23 14:10] #1146 closed

[2015-12-23 16:42] sachinhub commented on #1676
loopback.getCurrentContext() has given lot of hard time while developing unit test cases so far. We had to setup dummy context before executing tests.

However today we faced one major issue where loopback.getCurrentContext () is returned as null when a async callback function gets called.

We are making an external HTTP call from within loopback API in async manner. loopback.getCurrnetContext ()

[2015-12-23 17:13] digitalsadhu commented on #1676
Don't think so.
You can get the context everywhere except in Model.observes callbacks. Our
preference has been to avoid doing anything that needs context in
Model.observes callbacks and get by without getCurrentContext or passing
context around. We have found that we can usually get by in this way,
sometimes using beforeRemote/afterRemote as a substitute.

On Wed, 23 Dec 2015 at 17:42, Sachin Mane

[2015-12-23 18:37] superkhau commented on #910
Closing due to inactivity since its been a year already. @fsegouin Please ping if you are still running into issues and I will reopen this.

[2015-12-23 18:37] #910 closed

[2015-12-23 19:21] superkhau commented on #1891
@cgole Can you look into this?

[2015-12-24 00:36] mike-aungsan commented on #890
I would suggest to update doc since aggregate take other pipeline stages as an individual parameter.

bookCollection.aggregate( {$match: {} }, {$group: {} } ... , function(err, groupByRecords) {
  if(err) {
    next(err);
  } else {
    next();
  }
});

[2015-12-24 02:25] TidyHuang commented on #274
Hello,

      I've encountered the same issue related to ObjectID. I define two models are hasmany relation,  Using the foreign key (ID string)as query filter which is the results from first model, and then use this ID string to query information from the second table, the return values always  NULL.
     Does this mean we need manual casts the ID string to ObjectID type.

It is really appreciate

[2015-12-24 13:23] alFReD-NSH commented on #651
This is what I'm doing to disable current methods:

[code]

[2015-12-24 13:27] ericprieto commented on #651
@devonatdomandtom no, I store this function in some helpers library

**helpers.js**
[code]

**models/SomeModel.js**
[code]

[2015-12-25 06:12] Neil-UWA opened #1912 "unscope method"
Will loopback provide a unscope method, just like ruby on rails' `unscope` method.

currently, we can unscope by define `Model.defaultScope = function(){}`, and restore it when necessary. But doing this is dangerous.

[2015-12-25 06:44] amaurybrisou commented on #1880
Hi sorry for the long delay,

I've found the solution and the actual documentation of hasManySelfThrough is right as it is. I just missunderstood at first.

solution :  add the two belongsTo Surfer on the SurferFriend model with foreignKey friendId and userId. these Keys have to be declared in the SurferFriend properties !

On the other side, Surfer, I added the inverted relation friendsOf but it'

[2015-12-25 06:59] amaurybrisou commented on #487
I do need to override User delete method, instead of deleting I want to update deleted field. And I want to keep the same path :  DELETE /api/User

How can i achieve this in 2016 :) ?

[2015-12-25 07:44] alFReD-NSH opened #1913 "Provide a way to override the default description of scope remote mehtods."
Currently the description(for documenation/api explorer) is auto-generated for the remote method of a scope, it'd be nice to override it or be able to add more information.

[2015-12-25 10:40] alFReD-NSH opened #1914 "Using scopes methods with the angular SDK"
Right now, methods are generated for the defined scopes but they are not documented and also the generated methods don't seem to be meant to be used directly, because for example a method generated for the scope `topAdmins` is `__get__topAdmins`. Why isn't it just `getTopAdmins`?

[2015-12-25 18:03] amaurybrisou commented on #443
The @veekungx example doesn't work as it is for me (2.22.0). this works :

    User.on('attached',function(){
        User.find = function(filter, empty, cb){
            cb(null,['This is a overridden method'])
        }
    })

[2015-12-25 18:49] pvijeh opened #1915 "npm install -g strongloop does not work"
After running sudo npm install -g strongloop, the slc command is not found as it should be.

I am running node v0.12.6, npm v3.3.9 on OSX.

Here is the path that npm spits out... incase that helps:

/Users/peter/.node/bin/slc -> /Users/peter/.node/lib/node_modules/strongloop/bin/slc.js
/Users/peter/.node/bin/lb-ng -> /Users/peter/.node/lib/node_modules/strongloop/node_modules/loopback-sdk-angular-

[2015-12-26 14:03] yadavji83 commented on #1321
+1

[2015-12-27 02:39] pureexe commented on #1731
same problem
Windows 10
Node 4.2.2

strongloop v6.0.0 (node v4.2.2)
├── strong-arc@1.8.5 (d01942e)
├── strong-build@2.1.0 (47dd24a)
├── strong-deploy@3.1.2 (be6180a)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.1.0 (eb2f788)
├── strong-registry@1.1.5 (f46e58f)
├── strong-start@1.3.2 (1327018)
├─┬ strong-supervisor@3.3.1 (1e39220)
│ └── strong-agent@2.0.2 (4ea7ee9)
├── generator-loopback@

[2015-12-27 03:14] dakotahNorth opened #1916 "Can't reference property from model in operation hook"
I have a Question model that has properties of text and points and a belongs to relationship with a Student.

In Question.js I tried to reference student properties (in this case 'points') and I get undefined. I expected to be able to get the Student that this question belongs to and to then be able to use those properties from that student.

[code]

[code]

[2015-12-27 06:50] pureexe commented on #1731
update: after i have problem on `slc loopback:relation`
now i try to update node to 5.3.0 and everything work fine.

C:\Users\puree>slc -v
strongloop v6.0.0 (node v5.3.0)
├── strong-arc@1.8.5 (d01942e)
├── strong-build@2.1.0 (47dd24a)
├── strong-deploy@3.1.2 (be6180a)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.1.0 (eb2f788)
├── strong-registry@1.1.5 (f46e58f)
├── strong-start@1.3.2 (13

[2015-12-27 07:05] Amir-61 commented on #1731
@pureexe Thanks for bringing this to our attention! Yes it seems it is buggy; I will move this ticket to the right repository and escalate it to resolve it ASAP. Also could you please confirm whether you use windows CLI or ...?

Thanks

[2015-12-27 07:10] Amir-61 commented on #1731
FYI; I created [a ticket](https://github.com/strongloop/generator-loopback/issues/131) in `gerenator-loopback` module and escalate it to resolve the issue.

[2015-12-27 08:01] pureexe commented on #1731
@Amir-61  I'm using built-in cmd.exe
![](http://www.mx7.com/i/c8a/54nADT.png)

[2015-12-27 13:39] rodamora commented on #1692
+1

[2015-12-27 20:25] gaurav21r commented on #418
+1 @bajtos Any updates on this? I see a lot of merged code. Docs don't reflect it though

[2015-12-28 06:22] joneqian opened #1917 "run command 'slc ctl' failed !!"
I run command 'slc ctl' in linux, but it is failed!!
I can run this command yesterday.

This error message is : Command "status" on "http://127.0.0.1:8701" failed with Error: connect ECONNREFUSED 127.0.0.1:8701

The port 8701 is free!!

Why?

Thanks!

[2015-12-28 09:04] teckays commented on #445
I'm waiting for this feature more than for a Christmas present. +100

[2015-12-28 09:32] digitalsadhu commented on #445
@teckays
Have a look at the component we are working on here
https://github.com/digitalsadhu/loopback-component-jsonapi

It's not quite feature complete for use with ember. (Side loading in the works) and there are still most likely some bugs to work out but it's worth giving it a go. We'd certainly appreciate any big reports etc.

[2015-12-28 09:58] Overdrivr opened #1918 "disabled `User` methods still appear in explorer"
Following [this documentation](https://docs.strongloop.com/display/public/LB/Authentication%2C+authorization%2C+and+permissions), I am disabling all User methods except ```login``` and ```logout```. I don't need extra behavior so I'm using the User model as-is.

However, disabled methods still appear in the explorer, but are not accessible.

![untitled](https://cloud.githubusercontent.com/assets/1

[2015-12-28 10:17] teckays commented on #445
@digitalsadhu I will definitely give it a try and report any bugs/improvements I find. Thank you.

[2015-12-28 14:12] devonatdomandtom commented on #651
@ericprieto Amazing sir. That was exceedingly helpful

[2015-12-28 18:00] Ijmir commented on #1774
+1

[2015-12-28 18:40] crandmck commented on #890
Thx @mike-aungsan, updated.

[2015-12-28 18:46] crandmck commented on #418
Docs are lagging a bit, but we're going to start working on them.  We have tracking issues per https://github.com/strongloop/loopback/issues/418#issuecomment-135494570.  One issue is that we need to update our API doc code to allow for both callback and promise API.

[2015-12-28 23:19] tcf909 opened #1919 "dao.js allCb() async not using callback() - stalled fiber"
Hello,

I ran across an issue when moving to the use of fibers for my loopback project. The situation presented itself as a stalled request. Upon further investigation I found that a fiber that had been yielded was never re-awoke because the callback was not being executed.

I tracked the problem down to the allCb() method in the dao.js file in which under certain conditions when using the related

[2015-12-28 23:20] tcf909 commented on #1919
Just realized this belongs in the datasource-juggle repo. Will post there.

[2015-12-28 23:21] #1919 closed

[2015-12-29 00:45] mike-aungsan commented on #1918
https://github.com/strongloop/loopback/issues/465#issuecomment-151640492

[2015-12-29 00:47] superkhau commented on #1917
@cgole ^

[2015-12-29 00:51] mike-aungsan opened #1920 "PersistedModel.updateAll Where filter does not work"
This does not work.

[code]

[2015-12-29 00:55] superkhau commented on #1920
What connector are you using?

[2015-12-29 01:04] superkhau commented on #1915
@cgole ^

[2015-12-29 01:14] superkhau commented on #1749
Connect to strongloop-internal/scrum-loopback/issues/687.

[2015-12-29 02:40] dakotahNorth commented on #1446
Why was this closed?

I just ran into this problem tonight ... and it appears to be much bigger than just a question of optimization since once I hit this issue, validate no longer works. For example ...

    Question.validatesLengthOf('text', {max: 0, message: {max: 'Question is too long'}})

Now does nothing.

[2015-12-29 03:18] kpasokhi opened #1921 "Getting current user id fails on server but works in local"
I'm trying to get current user id based on [Using current context](https://docs.strongloop.com/display/public/LB/Using+current+context) wiki article. I've changed the code to this:
[code]

in model.js:
[code]
I also set enableHttpContext to true. The problem is it works on my local machine but it doesn't  work on the server. I tried running with production node environment in local and nothing cha

[2015-12-29 06:31] gaurav21r opened #1922 "Collaborative Documentation using Markdown"
This issue was spurred on through https://github.com/strongloop/loopback/issues/418#issuecomment-167625725 . It looks like the core developers are documenting using Atlassian Tools. https://docs.strongloop.com/display/public/LB/LoopBack

While the UI and the search functionality and all is great, most modern projects in the JS community have a separate repo to generate static documentation on a be

[2015-12-29 06:36] gaurav21r commented on #1922
@bajtos @raymondfeng @crandmck @ritch @superkhau @sam-github Would love to hear your thoughts!

[2015-12-29 08:23] alFReD-NSH opened #1923 "findById generated by relations(HasMany for example) doesn't accept a filter option"
findById generated by relations(HasMany for example) doesn't accept a filter option(to pass include option forexample), but it should since the findById in persisted model accepts a filter option.

[2015-12-29 09:55] yadavji83 opened #1924 "Customize the data returned by api/user/ID?access_token"
hi can anyone tell me how can i customise the data returned when calling:
api/users/ID/?access_token=ACCESSTOKEN
i want to get more data from some other model named: UserIdentity

[2015-12-29 13:12] alFReD-NSH commented on #1924
If you have [defined the relationships](https://docs.strongloop.com/display/public/LB/Creating+model+relations) properly, you can use the [include filter](https://docs.strongloop.com/display/public/LB/Include+filter): `api/users/ID/filter[include]=userIndentities`.

And for the future references, please ask questions on google group.
Thanks

[2015-12-29 13:32] doublemarked opened #1925 "Nested Queries documentation contains bad/unworking example configuration"
@crandmck  The following documentation contains JSON with poorly chosen relation names:

  https://docs.strongloop.com/display/public/LB/Nested+queries

The relations (node, chapter, page) are non-plural, and yet the tables reference URLs that use plural names (pages). These endpoints won't work. The example JSON should be changed to use plural relations.

[2015-12-29 16:29] kpasokhi opened #1926 "Handle body-parser errors"
I've added `body-parser` to `middleware.json` and it works correctly.
[code]
I tried to handle all app errors with [Customizing REST error handling](https://docs.strongloop.com/display/public/LB/Environment-specific+configuration#Environment-specificconfiguration-CustomizingRESTerrorhandling) but it fails to handle `body-parser` errors when `json` syntax is not valid and bypasses it.
Any help is a

[2015-12-29 16:33] an-ttt opened #1927 "Inherit build-in User Model, ACLs wrong"
Hello
I made a Model Inherit build-in User Model：
{
  "name": "AppUser",
  "base": "User",
  "idInjection": true,
  "strict": false,
  "options": {
    "validateUpsert": true
  },
  "properties": {},
  "validations": [],
  "relations": {},
  "acls": [
    {
      "principalType": "ROLE",
      "principalId": "$everyone",
      "permission": "DENY"
    }
]
}

But it can not deny the create or delet

[2015-12-29 17:22] mike-aungsan commented on #1920
mongo

[2015-12-29 17:24] superkhau commented on #1924
@alFReD-NSH Thanks for helping out. As stated, please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-12-29 17:24] #1924 closed

[2015-12-29 17:28] superkhau commented on #1920
Can you provide a sample repo for me to reproduce the issue?

[2015-12-29 19:00] crandmck commented on #1922
In principle, I think this is a reasonable suggestion.  However, it would be _very_ significant effort to (1) create a new documentation infrastructure (even using something existing like Jekyll) and (2) migrate the existing docs to it.  We have well over 500 pages of docs in Confluence.  While we could undoubtedly come up with some kind of automated process (script) to help with the migration, it

[2015-12-29 19:02] crandmck commented on #418
@gaurav21r Note that we are using an internal repo to generate API docs, and we have an issue to enhance it to support the `@promise` annotation: https://github.com/strongloop-internal/strong-docs/issues/63 (this is not currently visible externally).  I don't see any reason why this should be private, though....

[2015-12-29 19:06] warriorpostman commented on #1186
I'm having basically the same problem. Trying to load static lookup data in a boot script, and I guess all the callbacks attachments are stacking up before the connection succeeds in the background?

[2015-12-29 19:17] crandmck commented on #1925
OK, I changed the relations to `pages`, `chapters`, and `notes`.  Please let me know if that addresses the issue.

[2015-12-29 19:21] crandmck commented on #1059
The `loopback-testing` repo has been removed.  If there is still a desire to cover testing best practices in docs, lets open a separate issue.

[2015-12-29 19:21] #1059 closed

[2015-12-29 19:35] 0candy commented on #1872
@gshireesh Are you using a database, if so which one?

[2015-12-29 19:36] gshireesh commented on #1872
memory db.

[2015-12-29 19:37] 0candy commented on #1872
Can you provide a sample repo for me to reproduce the issue?

[2015-12-29 19:39] 0candy commented on #1872
By default, the ACL REST API is not exposed. To expose it, add the following to models.json:
"acl": {
    "public": true,
    "options": {
      "base": "ACL"
    },
    "dataSource": "db"
  },

See documentation:
https://docs.strongloop.com/display/public/LB/ACL+REST+API

[2015-12-29 19:40] superkhau commented on #1922
I am +1 for markdown docs, but as stated by @crandmck, it would be a huge undertaking to change from where we are now.

[2015-12-29 19:53] 0candy commented on #1879
What error are you getting?

[2015-12-29 20:11] behrad commented on #1879
I don't how I should use this @0candy ?!
I'm currently using token based User authentication, however tokens need login, and do have TTL.
I prefer permanent API keys for my REST clients.
How can I integrate this across loopback's default token based authentication.

[2015-12-29 20:15] doublemarked commented on #1925
Almost - the last JSON snippet (Page model) still has a singular `note` relation and should be pluralized to `notes`.

Two other changes you might consider for this document,

   - I believe in the bullet list at the top you should change the 2nd bullet point to mention page too: *Chapters and pages each have many notes*
   - You mention an Image model and relations but provide no reference to it

[2015-12-29 21:35] crandmck commented on #1925
Thanks again @doublemarked!  I made the changes you suggest.

Except I don't have the code for the image model.  @Amir-61 Do you have that?

[2015-12-29 21:35] 0candy commented on #1879
For now loopback supports token based authentication, but there is a feature request out there to support permanent tokens which I am unable to find at the moment.  (Will post when I find it.)

Are you able to make authenticated request with access tokens for now?
https://docs.strongloop.com/display/public/LB/Making+authenticated+requests#Makingauthenticatedrequests-Makingauthenticatedrequestswith

[2015-12-29 21:53] mikelax commented on #1840
I agree with @fabien in that the concept of plural should exist. This way the convention of /pluralobject/{id} maintains the expected hierarchy of List -> Single Object

I am relatively new to loopback but there is an option to manually provide a value for "plural". Doesn't this allow the user to tailor the API naming to their liking?

[2015-12-29 22:04] 0candy commented on #1927
@an-ttt I am not able to reproduce this issue. Can you please provide a sample repo?

[2015-12-29 22:57] crandmck commented on #1925
OK, I added the snippet for the image model.  I'm going to close this...

Thanks again @doublemarked I really appreciate your constructive input!

[2015-12-29 22:57] #1925 closed

[2015-12-29 22:59] doublemarked commented on #1925
You're welcome!

[2015-12-30 02:34] joneqian opened #1928 "I want to import model into my project!"
I use bower to manage my model.
I can import model into my project by bower and gulp.

Does loopback api or slc provide this feature?

Thanks!!

[2015-12-30 05:16] TonnyTao opened #1929 "getPropertyDefinition did not considering relations will cause bugs."
I defined a relation with custom foreignKey and columnName
[code]

and getPropertyDefinition('..', 'userId') will get nothing because it only find in model.properties.
[code]

and SQLConnector.prototype.column will be userid, not expected as admin_id
[code]

[2015-12-30 05:19] TonnyTao commented on #1929
so I have to define repeat userId like this.

[code]

[2015-12-30 07:10] cchacons commented on #303
I had to use "and" operation to separate the lte and gte comparisons. If I use them together inside the same { } doesnt work.

Doesn't work:
{"where": { "epoch_time": {"lte":1459407675, "gte":1450717674} } },

Works:
{"where": {and: [{"epoch_time": {"gte":1450717674}},{"epoch_time": {"lte":1459407675}}]} }

[2015-12-30 07:14] an-ttt commented on #1927
@0candy
Thanks for replying.
After reading ACL rule precedence(https://docs.strongloop.com/display/public/LB/Controlling+data+access),
I understand it's behavior.
But I think it's werid when inherit User model,
I must write a more specific rule to take precedence over the old one in User model.

[2015-12-30 13:25] muditsatija1 opened #1930 "mongodb populate in loopback"
Hey i am new to loopback though i have been using mongoose for mongodb and express for a while now.
I could not find anything in loopback docs to populate a field if there is no relation between two models, so i'm opening an issue here.

[2015-12-30 16:03] roopesh90 commented on #1073
Still for answers or solutions??

[2015-12-30 17:21] lucasftp commented on #1321
+1

[2015-12-30 18:02] digitalsadhu commented on #445
@teckays we released v0.11.0 of the component yesterday which adds support for side loading and that pretty much rounds out the main features needed for ember users.

For anyone else reading this, https://github.com/digitalsadhu/loopback-component-jsonapi is ready for anyone willing to try it out and submit bugs and such. We are pretty quick to respond and keen to find and fix any issues so please

[2015-12-30 18:15] digitalsadhu commented on #445
@bajtos I'm wondering if theres any chance anyone from Strongloop would have the time to have a look through https://github.com/digitalsadhu/loopback-component-jsonapi and offer any feedback? (I know you guys are busy and understand if it's not possible)

Theres a lot of code improvement we'd like to do when we get a chance and we have a bank of integration tests in place so that we can refactor w

[2015-12-30 18:45] cchacons opened #1931 "Issue deploying in loopback.io application - ERROR: EADDRINUSE 0.0.0.0:8080"
Hi Everyone,

I am trying to deploy my loopback.io application into my server platform: modulus.io but it is failing with the following error: "EADDRINUSE 0.0.0.0:8080".

In my local machine (mac OS X) it runs properly  but on the servers it fails. Locally, I'm able to run the app using "node ." and I'm able to go to the API explorer and also run queries.

I'm not sure why the app is listening to

[2015-12-30 19:14] rawrmaan commented on #1931
I don't think `config.json` populates `process.env.PORT`. You'll have to set the `PORT` environment variable in your modulus app using `modulus env set PORT 3001`. More info: http://help.modulus.io/customer/portal/articles/1702084-environment-variable-commands

[2015-12-30 19:14] rawrmaan commented on #1930
This is very vague, you'll need to be more specific. What exactly are you trying to do?

[2015-12-30 19:19] rawrmaan commented on #1916
Nope, you'll have to fetch any relations manually. You also may have to fetch the model depending on the save/update operation that was used (`updateAll`, for example). More in the Operation Hooks docs: https://docs.strongloop.com/display/public/LB/Operation+hooks

[2015-12-30 19:52] 0candy commented on #1928
If you have swagger specs, you can import into loopback:
https://docs.strongloop.com/display/public/LB/Swagger+generator

If this is not what you are looking for, could you please provide more details as to what you are trying to do?  Thanks!

[2015-12-30 20:22] CarlosCuevas commented on #651
@ericprieto thanks!

[2015-12-30 21:02] 0candy commented on #1842
@lionel-bijaoui  Type "GeoPoint" has been added to loopback. Could you please try and let me know if that works for you? Thanks!

https://github.com/strongloop/loopback-component-explorer/issues/136

[2015-12-30 21:41] superkhau commented on #1073
@cgole ^

[2015-12-30 22:07] cchacons commented on #1931
hi rawrmaan,
I'm trying to follow modulus guidelines. My understanding is that we are not supposed to set the PORT variable, instead that gets assigned by modules based on which ports are available on the servo that your app is running.
http://help.modulus.io/customer/portal/articles/1660583-application-guidelines

All apps should be configured to listen on the port provided in the PORT environmen

[2015-12-30 23:47] mishagray commented on #531
+1 !

[2015-12-31 00:44] cchacons commented on #1931
I have found the problem and fixed it.

It was on server/server.js. It was okay to initialize the port based on the environment variable process.env.PORT || 8329; but I shouldnt be calling app.listen(port) because that is called later by loopback. So that was causing the port to be already in used when loopback calls it. Also moved the port variable assignment at the beginning of the server.js bef

[2015-12-31 00:44] #1931 closed

[2015-12-31 07:37] muditsatija1 commented on #1930
model name: 'md1",
properties: {
    "post": {
      "type": "string"
    }
 }

model name: 'md2',
properties: {
   "username": {
        "type": "string"
    }
    "md1_id": {
       "type": "objectId"
    }
}

These are my two models, so now i want to populate the name from the md2 model. In mongoose i use to do the following to populate :-
md1.populate('md2object', {'path': md1_id, 'select': 'n

[2015-12-31 12:27] joneqian opened #1933 "I want destroyAll token by user, but it is failed."
my code is:
Access.destroyAll({where: {userId: user}}, function(){});

error msg is:
no indexes found for where impossible to sort and filter using redis connector

please help me check it!
Thanks!

[2015-12-31 12:33] joneqian commented on #1933
I fix it, should be {userId: user},  no 'where'!
Please update loopback document, thanks!

[2015-12-31 17:14] 0candy commented on #1933
Thanks for pointing this out, in the doc description column, you can see that it says you can add an Optional where filter, like: {key: val, key2: {gt: 'val2'}, ...} . Don't have to include the word where.

https://apidocs.strongloop.com/loopback/#persistedmodel-destroyall

[2015-12-31 17:14] #1933 closed

[2015-12-31 18:13] gunjpan commented on #1845
@vnathalye : Hey Vivek, after extensive debugging, I found out that `custom roleResolver` is being called, but you won't see results as there is a *Typo* at [controllers.js#L25](https://github.com/vnathalye/loopback-sandbox/blob/master/client/js/controllers.js#L25).
It should be :
[code]
Change as above and it should work.
I am closing this issue. Should you need further assistance on this issue,

[2015-12-31 18:13] #1845 closed

[2015-12-31 20:32] alexxgathp commented on #1449
I tested it today on a new project I have. Issue appears to be gone.

[2015-12-31 20:32] #1449 closed

[2015-12-31 23:34] rmg commented on #1915
The location of your global modules is not in your path. You need `/Users/peter/.node/bin`

[2016-01-01 01:07] sam-github commented on #1922
Since I was at-mentioned... I agree with @superkhau and @crandmck . Just not reasonable right now. Lets let the express docs continue to fly, and if we can get out of that tooling to make markdown docs well for large multi-lingual doc projects, then maybe one day there will be resource to apply them to loopback. This isn't the time.

[2016-01-01 04:34] githistory commented on #1565
Same issue here with below environment:
loopback: 2.26.2
loopback-boot: 2.16.0
loopback-connector-mongodb: 1.13.2
loopback-datasource-juggler: 2.44.0

[2016-01-01 08:30] FluxAugur commented on #1321
+1

[2016-01-01 10:16] raghav135 commented on #1321
Same example can be thought of as a enum which is defined in type registry as a "custom type".

And in model, have property as type : "sex"

So that adding a new entry in enums can be done in central type registry?

[2016-01-01 11:09] JensWinter commented on #531
+1

[2016-01-01 15:20] Overdrivr opened #1936 "disableRemoteMethod does not recognize method aliases"
Could you please clarify why in ACL definition, `deleteById` is used versus [in the API](https://apidocs.strongloop.com/loopback/#persistedmodel-destroybyid) it is `destroyById` ?

It is rather confusing when defining acls for this specific method, people (understand: me, probably others) will try to use `destroyById` because of [this documentation](https://apidocs.strongloop.com/loopback/#persist

[2016-01-01 18:19] J0N47H4N opened #1937 "Authentication through Social Login"
I am starting to gain grounds with `loopback api`. Currently I am trying to integrate authentication through social logins for my app. I have found three pages that indicate how to accommplish this but they all show this a bit differently and unclear: [github-loopback-component-passport](https://github.com/strongloop/loopback-component-passport) & [npmjs-loopback-component-passport](https://www.np

[2016-01-02 01:33] XinV commented on #466
How is it going in this proposal? We really want to create the record in the through model (with extra property such as appointment date in one single API call, in order to make sure it's done in one transaction, so fail or succeed.
My guess is the suggestion from @fabien makes sense.
`
Or have some kind of convention to have a special key on data to specify this 'through' data (_appointment in th

[2016-01-02 05:01] BerkeleyTrue commented on #1937
@J0N47H4N loopback-component-passport replaces loopback-passport.

To see an example in production checkout https://github.com/freecodecamp/freecodecamp

Here is where we configure the social logins https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/server/passport-providers.js

Here is where we actually set it up with the server https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/ser

[2016-01-02 05:22] J0N47H4N commented on #1937
@BerkeleyTrue great will look into that!

[2016-01-02 07:09] J0N47H4N commented on #1937
@BerkeleyTrue a noob question, but where do I find my `process.env` file or how do I set that up?

[2016-01-02 23:31] helsont commented on #1275
+1

[2016-01-03 01:41] senorcris commented on #1275
+1

[2016-01-03 01:42] esco commented on #1275
+1

[2016-01-03 05:15] alFReD-NSH commented on #1936
They are alias, you can use any. Though it's not mentioned anywhere...

[2016-01-03 08:29] Overdrivr commented on #1936
I disagree, when writing ACL I believe they're not, 'destroyById' does not resolve anything.

Also what is the motivation for having an alias ? it's rather confusing.

[2016-01-03 13:29] AvivLander commented on #1046
+1

[2016-01-03 14:07] dansterrett commented on #1692
+1

[2016-01-03 23:50] darior87 commented on #1917
up

[2016-01-04 05:22] niallobrien commented on #473
Has anyone made any progress with this?

[2016-01-04 08:53] joneqian opened #1938 "How do I use RequestBuilder ?"
Has RequestBuilder been abandoned in the latest version?
How do I use RequestBuilder ?

Thanks!!

[2016-01-04 09:48] bajtos commented on #1806
I personally think this needs a bit of research first: review recent changes (e.g. strongloop/strong-remoting@34b0665), proposed changes (e.g. strongloop/strong-remoting#264) and related GH issues that are still opened; build a better understanding of various edge cases that we need to support. Then write down a proposal how to fix this properly, in way that would hopefully prevent more bugs like

[2016-01-04 09:58] bajtos commented on #1409
@jannyHou built a list of places where we need to update API docs - it's about 80 methods. See the following comments:
 - https://github.com/strongloop-internal/scrum-loopback/issues/615#issuecomment-165314984
 - https://github.com/strongloop-internal/scrum-loopback/issues/615#issuecomment-165546746
 - https://github.com/strongloop-internal/scrum-loopback/issues/615#issuecomment-166174401
 - https

[2016-01-04 10:22] amiashraf commented on #274
As the issue entitled "ID values incorrectly stored as plain strings in relation tables for mongodb"
I have experienced two cases where this happening (i was working with loopback+juggler+angularjs):
Case 1. I have mistakenly didn't declare the relation of "belongs to" at commont/model_name.json and that's why my reference was storing as string.
Case 2. Add new is working fine but editing occur st

[2016-01-04 14:29] ericprieto commented on #651
Anytime, guys :)

[2016-01-04 15:21] ronenteva commented on #473
Now that sails future is not clear, using Loopback as a server side MVC looks like a good alternative.
I found an [article](https://github.com/shortwavapp/loopback-tutorials/tree/master/01-server-side-templates) about serving views, which worked perfect.
However there are some things that are unclear like how to expose the controllers and services.
@kisayista I couldn't find the [boilerplate](http