[2016-09-02 22:13] franckysolo commented on #2641
@spid3r use 2x version

[2016-09-03 00:50] ericalves commented on #517
+1 Oracle DataBase

[2016-09-03 01:11] ericalves commented on #683
+1 please!

[2016-09-03 08:06] benjaminhon opened #2705 "cannot PATH FK to null, keeps becoming EMPTY_STRING in ajax"
when i do a REST ajax call

[code]

but in the database the FK for patientId is "" instead of null.
anyone know why this is happening?

thanks

[2016-09-03 09:27] zealseeker opened #2706 "Change the response result when error occurs, like redirecting to another method"
The requirement is similar to #634. But here is my condition:
When I POST a new user in user model, it will show an error if the username exists.
I want to change the password of the existed instance into the new password I posted.

1) I can do this in beforeRemote('create') and the password will be changed successfully. However, the response will show the error of "existed username" because I did

[2016-09-03 17:13] nammaianh commented on #2698
This remote method is a the remote method for creating a new record of the relation `posts`.

The URL is: `POST http://localhost:3000/items/:id/posts`

`images` field is just an additional field, not a field to be stored in `posts` table. I wanna use this field in the remote hook, and then unset it from request body in order to not store it.

[2016-09-04 07:29] sinegovsky-ivan opened #2707 "is anywhere changelogs of loopback releases ?"
Where i can find changelogs\release notes ?

[2016-09-04 18:48] coen-hyde opened #2708 "ACL - Exposing model attributes to different roles"
Hi,

I can't see anywhere in the documentation on how to restrict/expose access to certain model attributes on a per role basis. I want an admin role who can read and write more attributes than other roles. In addition I would like to expose some of those attributes to other roles but not allow them to update those attributes. Is this possible with Loopback? And if not, do you have any suggestions

[2016-09-04 19:22] superkhau commented on #2707
https://github.com/strongloop/loopback/blob/master/CHANGES.md

[2016-09-04 19:22] #2707 closed

[2016-09-04 21:39] sundeepgupta opened #2709 "Promisify relation/scope methods in juggler"
If I define a model with a custom scope like this:

[code]

When I call it from client code `MyModel.active()`, this does not return a promise, it requires a callback argument.

[2016-09-05 06:23] benjaminhon opened #2710 "Fields clashing with Include"
When i do a query such as follows:

[code]
When i have the line **fields: ['lng', 'lat']**, then the relation *map*will not be included, however if i remove the **fields: ['lng', 'lat']**, then **map** is included again.

in my relations:

Location belongsTo Map
Map hasMany Location

I think this is a Bug

[2016-09-05 06:43] raymondfeng commented on #2710
For relations, the id needs to be included.

[2016-09-05 06:57] Overdrivr opened #2711 "Calling a hidden endpoint returns 401 instead of 404(GET api/MyModels/change-stream )"
[code]

Hides `POST api/MyModels/change-stream`, but is not hiding `GET api/MyModels/change-stream` anymore.

This is either a [documentation](https://docs.strongloop.com/display/public/LB/Exposing+models+over+REST#ExposingmodelsoverREST-Read-Onlyendpointsexample) issue, or some breaking change was introduced inadvertently.

See my test to highlight the issue

[code]

This is happening with loopba

[2016-09-05 07:35] benjaminhon commented on #2710
hmm

[code]

seems to work, thanks.

[2016-09-05 12:26] bajtos commented on #2076
Very little. Recently, we created a KeyValueModel with in-memory and Redis connectors. The new feature is not documented yet, but you can learn about it from https://github.com/strongloop/loopback/issues/2525 and other linked issues/pull requests.

You are welcome to try to build a caching layer using this new feature! I am recommending you to start a new project (npm package) that will provide th

[2016-09-05 14:59] acabrera91 commented on #517
+1 (Postgre)

[2016-09-05 16:41] zealseeker commented on #2706
Finally I solved my problem with the following code:
[code]
I use `IsNoPassword` to label whehter a user can change his password by the remote method of create.

`res.send` is the key to implement my idea.  But it does not satisfy the feature requirement I posted.
Hope that we can redirect the remote method, for example, from create to update or other custom remote method. So that we need not to p

[2016-09-05 16:43] leifdejong commented on #1722
Resolved this issue using the `--ignore-scripts` flag. `npm install -g --ignore-scripts strongloop`

[2016-09-05 17:14] kennergrings commented on #517
+1 (Oracle)

[2016-09-05 20:17] sonoman opened #2713 "calling buildModelFromInstance does not generate model file"
Hi !
I have this code in a /setup route:

`var db = req.app.dataSources.mongodb;
var customer = {name: "Paul", ... }
var Customer = db.buildModelFromInstance('Customer', customer, {idInjection: true});`
I understood from documentation, that model definition file is created automatically, but I cannot find it (instance is persisted in MongoDB though...)

[2016-09-05 20:25] FFFFFF opened #2714 "Error during install"
Hi, Guys!
When I run in console
`$ npm install -g strongloop`
I get following error message:

npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@0.3.0: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue

/usr/local/bin/slc -> /usr/local/lib/node_modules/strongloop/bin/slc.js
/usr/local/lib
└

[2016-09-05 21:25] mriosb commented on #2714
+1 I'm having the exact same error.

[2016-09-05 21:30] forivall commented on #2714
I'm having the issue as well. It appears that the release of `loopback-sdk-angular-cli` renamed `lb-ng` to `lb-ng.js`. PR incoming soon.

[2016-09-05 21:39] maximumspatium commented on #1722
Thank you! It has solved my problem. Does that `--ignore-scripts` have any negative effect on my installation?

[2016-09-06 08:02] bekl commented on #2602
@richardpringle I could break down the problem to a mixin I'm using which prevents read-only properties from being updated. The mixin unsets all read-only properties on update (including the model ID if declared as such) which leads to the above validation error, my bad. Thanks for your help!

[2016-09-06 08:02] #2602 closed

[2016-09-06 08:11] JoeShi opened #2715 "How to run task in only one worker when deploying on cluster"
I have a schedule task which run once per day. I write the code in `boot/schedule.js`. When I deploy on cluster, each worker will execute the same code.

I have red the [How-to cluster node.js in Production](https://strongloop.com/strongblog/production-node-js-strong-cluster-control/), I cannot figure out how to achieve this.

I have tried the [solution](http://stackoverflow.com/questions/31881847

[2016-09-06 09:50] paranoiasystem commented on #2714
+1 I have the same error with node v4 and v6
tested on osx el capitan  and  windows 10

[2016-09-06 11:18] n1try commented on #531
+1 :)

[2016-09-06 11:24] terehov commented on #1207
@cfjedimaster Would you mind to share it with us? ;-)

[2016-09-06 11:27] shuckepco commented on #2695
We face intermittent occurences of 504 errors as well. Unfortunately, we were not able to track it down yet.

We can (somehow) reproduce it as follows:
- Do not call the API of our internal test installation for some hours
- Refresh the Angular client (it uses the generated SDK)
- Wait a long time (~1 min.) for the API calls to finish -> sometimes one of them responds a 504, sometimes not.
- Subse

[2016-09-06 11:46] ask10000 commented on #1207
@terehov I have given an example above. It has worked for me. In my app I let the caller define the radius type (meters,  miles etc as distance unit) and radius value ( actual max distance in specified units), while picking up the lat long from phone's geolocation

[2016-09-06 12:36] bajtos commented on #1723
Fixed by #2716 and #2717

[2016-09-06 13:07] kamal0808 opened #2719 "Docs for bulkUpdate not clear"
I want to perform a bulkUpdate, but came across an error that I don't understand.
The documentation for bulkUpdate in Loopback docs is very limited.

Can someone explain the proper usage of bulkUpdate, or what am I missing here?

[code]

[2016-09-06 13:12] cfjedimaster commented on #1207
@terehov I blogged about it here: https://strongloop.com/strongblog/working-with-geographical-data-in-your-api/

[2016-09-06 13:24] davidcheung commented on #2698
@nammaianh would you be able to fork a sandbox to reproduce the issue? Please see https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report for more details.

[2016-09-06 13:45] esvignolo commented on #2714
+1 on Heroku
+1 on osx

[2016-09-06 13:47] nammaianh commented on #2698
Oh! Really sorry! I will do it right now

[2016-09-06 13:51] davidcheung commented on #2698
Thanks @nammaianh! I wasn't able to reproduce the issue

[2016-09-06 14:01] alejandrobustos commented on #2714
**+1**, I have the same error, but I actually tested on several node & npm versions, since I'm using docker. In every installation got the same error.

[2016-09-06 14:25] davidcheung commented on #1299
Info Placeholder
https://github.com/strongloop/loopback-datasource-juggler/blob/f102f6302b62640824584f50af3be52cdf7b27cd/lib/dao.js#L84-L104

[2016-09-06 15:02] bajtos commented on #2610
The instructions are here: https://docs.strongloop.com/display/APIC/Using+current+context#Usingcurrentcontext-Fixingdeprecationwarnings

I have opened a PR to add upgrading instructions to release notes, see https://github.com/strongloop/loopback/pull/2721

[2016-09-06 15:14] bajtos commented on #1275
Please stop posting `+1` comments, they only spam the discussion. Click on the big yellow "thumbs up" button below the issue description instead, it will also allow us to filter issues by popularity.

You can also click on "Subscribe" button in the right menu-bar if you would like to be notified about updates. (I am not sure if up-voting an issue subscribes to notifications too.)

[2016-09-06 15:33] agustinfrancesa commented on #2714
+1 Same error too.

[2016-09-06 16:11] superkhau commented on #1275
Or even better, would someone like to submit a PR instead since there are quite a bit of +1's here.

[2016-09-07 01:30] superkhau commented on #1089
Closing. CIS-jenkins picks up the example repos now.

[2016-09-07 01:30] #1089 closed

[2016-09-07 02:02] superkhau opened #2723 "Installation Failure on Mac OS X"
_From @steveatkin on September 3, 2016 12:20_

Loopback connector fails to install on Mac. See screen shot.
<img width="872" alt="screen shot 2016-09-03 at 8 19 27 am" src="https://cloud.githubusercontent.com/assets/5531596/18224789/2e178e46-71af-11e6-8d4e-7eae7f99e93c.png">

_Copied from original issue: strongloop/loopback-connector-db2z#3_

[2016-09-07 02:04] superkhau commented on #2723
@steveatkin Moved your issue to this repo for tracking because I closed off the issues tab at loopback-connector-db2z.

[2016-09-07 02:20] superkhau opened #2724 "Refactor tests to depend on Juggler directly instead of LoopBack in MQ Light connector"
_From @superkhau on September 6, 2016 23:53_

ATM, the tests use `loopback.createDatasource`, which should instead be `new Datasource(..., config)` from Juggler instead). We need to do this to trigger downstream builds on CI.

- Master should be using juggler@^3.0.0-alpha.7
- New branch `loopback-2.x` should be using juggler@^2.50.0

Prerequisite for https://github.com/strongloop-internal/scrum-lo

[2016-09-07 03:10] #2710 closed

[2016-09-07 06:01] Noob7 commented on #1213
if model is unrelated, get a reference to the main server file and get the model from it. Ex.
var app2 = require('......./server/server');
var myMod = app2.modelName;

Ref:
https://docs.strongloop.com/display/public/LB/Working+with+LoopBack+objects

[2016-09-07 06:12] sirmadboy commented on #2672
Hi @davidcheung, thank you for your response.
I already did all your suggestions, but it still the same. :(
Recently I did DEBUG=*, and what I found is my loopback do rectifyAllChange every 30 seconds. I also tried clone from [https://github.com/strongloop/loopback-example-offline-sync](url), and it also does the same behaviour. I think it makes my server drain a lot of CPU usages and high traffic

[2016-09-07 07:24] bajtos commented on #2037
@gunjpan both pull requests were landed, I am closing this story as done. Feel free to reopen if there is still some work remaining.

[2016-09-07 07:24] #2037 closed

[2016-09-07 07:40] hkashlan commented on #1692
+1

[2016-09-07 10:05] sumedhbhagat opened #2725 "Strongloop issue while creating application"
Hello Team, I have installed Node.js, NPM and Loopback with below version.

Node.js -->4.4.4
npm   ---->3.10.6
Strongloop -->
strongloop v6.0.2 (node v4.4.4)
├── strong-arc@1.8.8 (fb756f2)
├── strong-build@2.1.2 (a98f310)
├── strong-deploy@3.1.4 (9b29df0)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.3
├── strong-registry@1.1.6 (f8c2339)
├── strong-start@1.3.4 (28c261d)
├─┬ strong-super

[2016-09-07 11:05] bajtos commented on #2610
I am closing this issue as fixed. @rogersnm feel free to reopen if the problem still persists.

[2016-09-07 11:05] #2610 closed

[2016-09-07 11:10] bajtos opened #2726 "Fix swagger description of `patchAttributes`"
ATM, the update methods perform a partial update (patch), but the description of the request does not convey this information. Specifically, if a model has a required property, this property may be omitted from an update (patch) request, but the swagger spec says it's still required. I think the solution is to register a new type (model, definition) that will have all properties of the original mo

[2016-09-07 11:10] bajtos commented on #1806
Moved to https://github.com/strongloop/loopback/issues/2726

[2016-09-07 11:28] bajtos commented on #2582
Fixed by #1027 and d385dfa9d.

[2016-09-07 11:28] #2582 closed

[2016-09-07 12:35] josieusa commented on #1495
@pulkitsinghal
1. I can't share any code besides what I published on my account
2. Here is a test, follow README in order to setup it (beware that this uses `cls-hooked` instead of `continuation-local-storage`, and that you'll need to clone my forked repo and checkout the branch `cls-hooked`and install Node >= 4.
https://github.com/josieusa/loopback-context/blob/bf874aa3376b3edc4a6ee64d93855e7420b

[2016-09-07 14:53] bajtos commented on #1495
@pulkitsinghal @Saganus @josieusa please open a new issue to discuss this, or perhaps use https://gitter.im/strongloop/loopback instead, so that we can keep this discussion focused on the original proposal, which is to allow an alternative way for injecting context into remote methods, one that does not rely on CLS.

[2016-09-07 15:01] bajtos commented on #2198
@microfly2008 This issue is not a priority for the LoopBack core team right now. I am encouraging you to take a look at the code, implement the feature yourself and submit a pull request.

[2016-09-07 15:04] bajtos commented on #2644
@terehov please open a new issue and describe how to reproduce the problem locally, ideally by creating a sandbox app per [our wiki instructions](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report).

[2016-09-07 16:09] josieusa opened #2728 "Community contributions to keep mantaining deprecated current context feature"
As suggested by @bajtos in issue 1495 I'm opening a new issue for discussing the solutions which are _not_ alternative to the deprecated [current context](https://docs.strongloop.com/display/public/LB/Using+current+context) feature; that is, solutions that try to _fix_ or help with current context issues (e.g. lost context) and **not** to replace the current context feature with a similar one; for

[2016-09-07 16:35] ealiaga commented on #2714
+1 Ubuntu 16.04

[2016-09-07 19:42] arielmcm opened #2730 "Remote methods 'default' property for 'accepts' option does not work when arg name is 'data'"
for example:

...
'accepts': [
        {
          'arg': 'data',
          'description': 'An object...',
          'type': 'object',
          'default': '{"count": 1}',
          'required': true,
          'http': { 'source': 'body' },
        },
      ],
...

that example does not show the default data in explorer.

[2016-09-07 20:28] jannyHou commented on #2725
@sumedhbhagat I am trying to reproduce your problem but mine works fine:
[code]

My config:
[code]

And I haven't seen a "Trace: options is not being passed" error before.
It goes into `dao.js` because when you use generator to create an app, it actually calls some function in [loopback-workspace](https://github.com/strongloop/loopback-workspace) to check whether the app folder is valid:
https://g

[2016-09-07 20:34] jannyHou commented on #2719
@kamal0808 bulk insert/create is a feature we are going to support, please check this issue for details(and feel free to **Thumb up** if you have same suggestion :-) ): https://github.com/strongloop/loopback/issues/1275#issuecomment-244983771

If you are still confused, please give me the link of the unclear doc, or provide me your sample code by fork https://github.com/strongloop/loopback-sandbox

[2016-09-07 20:45] kamal0808 commented on #2719
Thanks @jannyHou , but #1275 focuses only on bulk insert/create. Now, I understand two of the ways/workarounds suggested in that thread: `Model.create([array])` and `Promise.all({createjob})`.

However, they do not necessarily work for `updates`. As far as the loopback docs are concerned, I could only see this: https://docs.strongloop.com/display/APIC/Creating,+updating,+and+deleting+data#Creating

[2016-09-07 20:57] jannyHou commented on #2715
@superkhau @bajtos I feel this is more like a `strong-cluster-control` or `strong-pm` error other than loopback, I find the article mentioned above is written by Alex Gorbatchev, but not sure is he still working with strongloop or is it fine to mention him here. Any suggestion? Thanks!

And @JoeShi could you fork https://github.com/strongloop/loopback-sandbox and replace with your code for a bette

[2016-09-07 21:39] acabrera91 commented on #1477
+1

[2016-09-07 21:42] tatianacmh commented on #1477
+1

[2016-09-07 21:45] mradzinski commented on #1477
+1

[2016-09-07 21:45] rkmax commented on #1477
+1

[2016-09-07 22:10] luckita commented on #1477
+1

[2016-09-07 22:28] iwannabaa commented on #1477
+1

[2016-09-07 22:32] ggiacomo opened #2731 "Can't update extended model (from default User) with angular-sdk $save() method"
Hi all,
I've a model called 'Yuser', extended from built-in User model.
When I try to update the model, using angular-sdk, I got this error
`{"error":{"name":"ValidationError","status":422,"message":"The`Yuser`instance is not valid. Details:`password`can't be blank (value: undefined)...`

This is the code inside the controller:
`
// first I retrive the user
$scope.user = Yuser.findById({ id: USERI

[2016-09-07 23:04] evasquez26 commented on #1477
+1

[2016-09-07 23:08] EddSuarez commented on #1477
+1

[2016-09-08 00:12] superkhau commented on #2715
@JoeShi Please do not ask questions here, we mainly use GitHub for tracking features/bugs, see https://github.com/strongloop/loopback/wiki/Questions.

That said, please post your question at https://github.com/strongloop/strong-cluster-control/issues. @sam-github I assume you can take it from here.

[2016-09-08 00:32] jannyHou commented on #2713
@sonoman I think the model would be created dynamically instead of adding files into your workspace, like inside `/common/models/`. This is the doc page I can find for [`buildModelFromInstance`](https://docs.strongloop.com/display/public/LB/Creating+models+from+unstructured+data), but it doesn't metion that any **file** will be created, can you copy me the doc or the link you referred in

? Thanks

[2016-09-08 01:31] alfredooo commented on #1477
+1

[2016-09-08 01:35] jeff3yan commented on #517
@zbarbuto just clarifying, but this issue is specifically related to filtering on object type properties of the current model, _not_ filtering on properties on related models?

If so, should there be another issue created for filtering on related model properties? I have seen this issue referenced in a few stackoverflow questions asking about filtering on related models, so still not 100% sure.

[2016-09-08 01:35] stringbeans commented on #1018
would love to see this reopened. i can understand why the scope definition would be used in all where filters, but modifying the update portion (in addition to the where portion) is VERY unintuitive and quite a few people have been bitten by this behaviour.

[2016-09-08 01:39] zbarbuto commented on #517
@jeff3yan I believe this is the case. You are correct in that many questions etc. link to this issue, but in reading @daankets op it sounds like he is referring to nested object properties only: `/someResource?filter[where][field.subField][like]=abc`.

I have already created  an issue for related model properties issue over on loopback datasource juggler:
https://github.com/strongloop/loopback-dat

[2016-09-08 02:00] morentin commented on #1692
+1

[2016-09-08 06:25] dearfrankg commented on #2518
Same here

[2016-09-08 09:46] bajtos commented on #2715
@JoeShi Do you control your production environment? Can you create a cron job? My recommendation is to create an HTTP route with a handler that will perform the desired task. Then you can schedule a periodic cron job to call this HTTP route. Because each HTTP request is always handled by a single worker, your periodic task will be run only once.

Alternatively, you can implement some sort of a loc

[2016-09-08 09:46] #2715 closed

[2016-09-08 09:51] JoeShi commented on #2715
Thank you @bajtos .  Seems like the cron job is the proper way so far.

[2016-09-08 10:29] bogomips commented on #2616
Hi,
I am working on PWA that largely uses websocket, so http2 makes the difference during the first connection when the whole application has to be served.
I am currently using apache/php with mod_h2 and a nodejs server for websocket.
It would be great to have just one technology on server side but I don't want to step back on http1's  hell : concatenations, images sprites, domain sharding,etc.
Is

[2016-09-08 10:36] kashifeqbal commented on #924
[code]
[loopback-connector-mongodb](https://github.com/strongloop/loopback-connector-mongodb) append $ to any property which is not define in the [loopback-connector-mongodb](https://github.com/strongloop/loopback-connector-mongodb). So it will the $exists: true to the mongo database.

[2016-09-08 14:08] brusherru commented on #1477
+1

[2016-09-08 15:49] sumedhbhagat commented on #2725
Hey JannyHou .. Thanks for replying. I was installing the strong loop package by using my company proxy. When I removed the proxy and installed the strong loop at my home, it worked. I was able to create the application.

[2016-09-08 15:49] #2725 closed

[2016-09-08 15:52] volkanozyilmaz opened #2732 "Shared class \"Seller\" has no method handling POST..."
I'm getting this error when I logged in with $owner but when I logged in different user, admin (I've created it this ROLE), I can call the remote method. Seller is my User model.

Here's my error.

{
  "error": {
    "name": "Error",
    "status": 404,
    "message": "Shared class  \"Seller\" has no method handling POST /%7Bid%7D/licenses/take-one?access_token=9sV73DfuEuhWxQYWCzv7jGPWRBf3ExekxXU3j

[2016-09-08 18:20] jannyHou commented on #2705
@benjaminhon I am trying to reproduce your issue, for a better debug, please fork sandbox and replace with your code: https://github.com/strongloop/loopback-sandbox
Thanks!  And please also include which database you are using.

[2016-09-08 18:26] jannyHou commented on #2677
Confirmed this is a duplicate bug of https://github.com/strongloop/loopback-datasource-juggler/issues/166

@sundeepgupta I am on fixing it, to keep issues clean and easy to track, I will update my status in issue https://github.com/strongloop/loopback-datasource-juggler/issues/166, and you can also join the discussion there.
A workaround if you need it: https://github.com/strongloop/loopback-datas

[2016-09-08 18:26] #2677 closed

[2016-09-08 19:03] seefeld commented on #1841
👍

[2016-09-08 19:04] jannyHou commented on #2706
@zealseeker
- From my understanding, https://github.com/strongloop/loopback/issues/634 is for the situation that you want to change response result for **ALL** models, but in your case you only want to change `User` model.

- I am a little confused with your requirement, to be honest I don't think it's a good idea to change password in `beforeRemoting` hook, please read the suggestion from our [do

[2016-09-08 19:21] jannyHou commented on #2708
hey @coen-hyde we are using google group for questions and github to keep track of bugs/features, please follow the rule in https://github.com/strongloop/loopback/wiki/Questions

And for your question, I believe you are looking for [DOC: How to define and use role in loopback](https://docs.strongloop.com/display/public/LB/Defining+and+using+roles), you can define your custom role to control the ac

[2016-09-08 19:24] sendyputra commented on #2513
i also have problem, there is my version. slc start is working and after slc set-size i try slc ctl but i have warning Error: connect ECONNREFUSED 127.0.0.1:8701

$ slc -v
strongloop v6.0.1 (node v6.4.0)
├── strong-arc@1.8.8 (fb756f2)
├── strong-build@2.1.2 (a98f310)
├── strong-deploy@3.1.4 (9b29df0)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.3
├── strong-registry@1.1.6 (f8c2339)
├──

[2016-09-08 19:56] jannyHou commented on #2709
@sundeepgupta the scope functions are not promisified yet. I will label this issue as a feature to keep track of the promisify status of relation/scope methods in juggler. Thanks for bringing it up.
And here is a placeholder shows what apis we already promisified: https://github.com/strongloop/loopback/issues/418

[2016-09-08 20:15] jannyHou commented on #2711
@Overdrivr It seems hidden on my side:
I created a custom User model called `Myuser`:
My file `common/models/myuser.js`
[code]
And see pic below, both POST and GET are hidden.

I am using template `notes` when creating app and my strongloop version of 6.0.2. Could you try update your strongloop and create a new app to see if it's still there? If it still doesn't work please mention which template

[2016-09-08 20:16] sundeepgupta commented on #2709
thanks @jannyHou

[2016-09-08 20:23] jtmcn commented on #1722
`--ignore-scripts` did not work for me. Still getting the "no such file or directory" error regarding aws-sign.

[2016-09-08 20:42] jannyHou commented on #2730
@arielmcm I believe it will not show in explorer no matter which name you use. Please check our doc for details:
https://docs.strongloop.com/display/public/LB/Remote+methods#Remotemethods-Argumentdescriptions

So if you build your own UI and want to show the default value of an input, you can get the value from res, but explorer doesn't have it.
Example UI:
[code]

[2016-09-08 21:43] jannyHou commented on #2731
@ggiacomo I haven't tried angular but I believe without angular you still could not create user instance with empty password since it's a required property in User model:
https://github.com/strongloop/loopback/blob/master/common/models/user.json#L10-L12

Please check our doc for details about how to config model property:
https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#Mod

[2016-09-08 22:05] jannyHou commented on #2732
From the path above I assume you are calling a relation endpoint, you have a relation like `Seller` hasMany `Licenses`.

I have to see your code for a better debug but I think our doc explains why you cannot access to it:

And please check our doc [accessing related model](https://docs.strongloop.com/display/public/LB/Accessing+related+models) for more details.

If you still could not figure it ou

[2016-09-08 22:42] jannyHou commented on #2675
Hey @stringbeans I understand that occasional occurred issue is pretty annoying and if you can tell me how to reproduce it I am glad to help. But since I have don't know your development/production evn it's pretty hard for us to debug it.

When a bug happens occasionally, it's  probably caused by race condition, there are several issues in loopback reporting race condition bug, maybe you can searc

[2016-09-08 22:42] #2675 closed

[2016-09-09 03:22] madianas commented on #1362
@raymondfeng Using `disableInclude` does not work, because some dynamics roles need to use the include feature.

Would it be possible to add something similar to ACL, but specific to the "include". Whenever nested include is used it would check each models "inclusion" tag and run. This way each model will decides access by role.

[2016-09-09 03:53] sayasemut commented on #418
+1 guys ... very support this features...

[2016-09-09 04:56] zealseeker commented on #2706
@jannyHou Thanks for the suggestion. In my case, it is better to change password in 'AfterRemoteError'. But my requirement is to "Automatically change remote method"

For example, I have two remote methods, Remote_One (create a user) and Remote_Two (change the user's password).   `User.property : [username, password, IsNoPassword]`  When a user's `IsNoPassword==true`, which means he has registed w

[2016-09-09 08:25] bajtos commented on #1723
Released in `loopback@2.33.0`.

[2016-09-09 08:25] #1723 closed

[2016-09-09 08:25] bajtos commented on #1806
Released in `loopback@2.33.0`.

[2016-09-09 08:25] #1806 closed

[2016-09-09 08:27] bajtos commented on #2089
I believ all related modules have been already published to npmjs.org, I am closing this issue as done.

[2016-09-09 08:27] #2089 closed

[2016-09-09 08:28] #2242 closed

[2016-09-09 08:29] bajtos commented on #2592
This has been already released to npmjs.org.

[2016-09-09 08:29] #2592 closed

[2016-09-09 08:57] volkanozyilmaz commented on #2732
I changed all $everone, DENY to $everyone, ALLOW. Still, the admin can access it but $owner can't. Paste my ACL code.

Seller
{
  "name": "Seller",
  "base": "User",
  "idInjection": true,
  "options": {
    "validateUpsert": true
  },
  "properties": {
    "name": {
      "type": "string",
      "required": true
    }
  },
  "validations": [],
  "relations": {
    "licenses": {
      "type": "has

[2016-09-09 10:33] akigupta131 commented on #2054
Any updates on this? I am finding trouble with same!

[2016-09-09 11:41] ephillipe opened #2733 "LoopBack Model code not work if in different path"
My LoopBack model code not work if in different path.

My mode-config has tree folders with models:

[code]

In "../../common/models" I want put my shared models. I will share the models across my micro-services. So the Logic (the code) I need put into micro-service project path.

Then I need .JSON stay in "../../common/models" and .JS stay in "../common/models" or "./models"

There are any way to

[2016-09-09 12:05] josieusa commented on #2728
Just wanted to add (loopback-context PR #10)[https://github.com/strongloop/loopback-context/pull/10]

[2016-09-09 14:28] Overdrivr commented on #2711
I am using stongloop 6.0.1, I created the project with the blank template.

Actually, I didn't check before the explorer but now I noticed that the method is indeed hidden in the explorer, but doesnt return 404 anyway (it returns 401).

@jannyHou  Does this makes sense to you ?

[2016-09-09 16:14] mraak commented on #1841
+1

[2016-09-09 16:32] yeddahsu opened #2734 "Limit filter range like SQL command limit 5,10"
Dear all,

Does loopback support limit filter range? For example,

select * from tableA
limit 5, 10

Thanks

[2016-09-09 17:40] stringbeans commented on #2675
@jannyHou Thanks Janny! I understand how hard it is to debug something that is hard/impossible to reproduce. That's exactly the situation we're in where unfortunately we're only able to see it occur on production but not in development. We will continue digging for the issue.

[2016-09-09 19:07] raymondfeng commented on #2734
Yes. See:
- https://docs.strongloop.com/display/public/LB/Limit+filter
- https://docs.strongloop.com/display/public/LB/Skip+filter

Such directives will be translated to SQL limit or other ways for pagination.

[2016-09-09 19:07] #2734 closed

[2016-09-09 22:49] arielmcm commented on #2730
@jannyHou Actually it does, it shows the text you assign to the default property into the input in the explorer when it is in the path or query, but for the body it shows that text in the right side so you can click on it to display that text in the input... The only thing, at least for me, is that it does not work when the arg name is 'data'.

[2016-09-10 00:41] yeddahsu commented on #2734
Yes. Thanks for your help!

[2016-09-10 06:33] superkhau commented on #2724
Closed via strongloop/loopback-connector-mqlight#5 and strongloop/loopback-connector-mqlight#6

[2016-09-10 06:33] #2724 closed

[2016-09-10 07:50] jcroldan commented on #1692
+1

[2016-09-10 12:56] amay0048 commented on #1415
+1

[2016-09-10 14:03] M-jerez commented on #1692
@ritch @all, microsoft is working On dts-gen, that might help to anyone working On this https://github.com/Microsoft/dts-gen

[2016-09-11 10:03] issmile opened #2735 "if I don't want Response data which is post in,how to make it?"
if I don't want Response data which is post in,how to make it?
as follow ,nothin happend,how to make right?

Item.observe('after save', function(ctx, next) {
  if (ctx.instance) {
    console.log('Saved %s#%s', ctx.Model.modelName, ctx.instance.id);
    console.log("ctx.instance",ctx.instance);
    ctx.instance={};
    console.log("ctx.instance",ctx.instance);
  } else {
    console.log('Updated %

[2016-09-11 23:11] jannyHou commented on #2730
@arielmcm Thank you I see the problem after setting http source as body, here is a screenshot of the bug:
<img width="977" alt="screen shot 2016-09-11 at 7 07 59 pm" src="https://cloud.githubusercontent.com/assets/12554153/18421251/2f2bce64-7853-11e6-8cfc-260f22c81c89.png">

The default value for `data` should be `{ "count": 1 }`

And my config of remote method:
[code]

[2016-09-12 00:03] jannyHou commented on #2732
@volkanozyilmaz Could you fork https://github.com/strongloop/loopback-sandbox and replace it with your code to reproduce the error? Thanks :)
Your sample is not that easy to setup because I don't know how you define the owner, admin, etc..... It will save both your and my time to debug if I can have your code as well as the reproduce steps.

[2016-09-12 01:13] markstuart commented on #2531
I explicitly had to remove the builtin models, otherwise the accessTokens relationship would sometimes still reference the AccessToken model, not my ExtendedAccessToken model. This occurred in the context of calling User.login via the API.

[2016-09-12 03:30] jorgeramos commented on #1692
+1

[2016-09-12 04:18] raymondfeng commented on #1692
@M-jerez Good pointer. I'll take a look.

BTW, our tooling team has built the following plugin for Visual Studio code:

https://github.com/IBM-Bluemix/vscode-extension-api-connect

It generates the following typescript d.ts file:

[apiConnect.d.ts.txt](https://github.com/strongloop/loopback/files/466520/apiConnect.d.ts.txt)

[2016-09-12 14:43] jannyHou commented on #2711
Thank you @Overdrivr good catch. I think it should be 404.

[2016-09-12 14:46] jannyHou commented on #2102
Should be the same issue as https://github.com/strongloop/loopback/issues/2711
Closing it as a duplicate.

[2016-09-12 14:46] #2102 closed

[2016-09-12 17:38] carter3689 opened #2737 "slc command not found in terminal"
Hello,

I recently installed loopback for a project and tried to follow the instructions on the docs but did not have any luck running "slc loopback".

My osX path is : `/Library/Frameworks/Python.framework/Versions/2.7/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin`

My node path is: `/usr/local/bin/node`
My npm path is : `/usr/local/bin/npm`

and the output from the `npm ls -g --d

[2016-09-12 17:48] marcelorl commented on #1841
+1

[2016-09-12 18:04] jannyHou commented on #2737
@carter3689 Are you able to find `slc` in `/usr/local/bin/`?

[2016-09-12 18:07] carter3689 commented on #2737
@jannyHou Hey thanks for responding. No, unfortunately I didn't.

[2016-09-12 19:11] jannyHou commented on #2737
@carter3689 ideally slc should installed with strongloop together if you run `npm install -g strongloop`
Could you give me the node and npm version you are using?

And I suggest you reinstall node using instruction http://blog.teamtreehouse.com/install-node-js-npm-mac

If it still doesn't work please update here. Good luck!

[2016-09-12 19:28] jannyHou commented on #2735
@issmile Sorry I am confused:
(1) What are you expecting to happen?
(2) Could you explain more about what's the meaning of `don't want Response data`? Like you don't expect it show up or exist in which place?

Thanks!

[2016-09-12 19:32] carter3689 commented on #2737
@jannyHou The Node version I am using is v4.5.0
The Npm version I am using is 2.15.9

I'll try the instruction you provided and update on the status soon. Thanks

[2016-09-12 19:38] jannyHou commented on #2737
@carter3689 Sounds good. If you still don't have slc in `/usr/local/bin/` after reinstall node & strongloop globally, please try to paste your installation log here, it might give us some clue about why slc installation fails.

BTW, my npm modules are installed in `/usr/local/lib` by default, so maybe try don't use a custom npm path.
[code]

[2016-09-12 19:42] jannyHou commented on #2737
And please make sure you followed installation on macOS, like give folders permission, etc...:
https://docs.strongloop.com/display/SL/Installing+on+MacOS

[2016-09-12 19:45] carter3689 commented on #2737
I reinstalled Node using homebrew but I received an error saying `Warning: node-6.5.0 already installed, it's just not linked` Also, regarding the custom npm path, is there a way to reset the path of npm?

I've also followed the installation docs for folder permissions multiple times with no luck.

[2016-09-12 20:04] jannyHou commented on #2737
Interesting, seems your node and npm are not working well..... I am not a installation expert TBH lol,
try what google says?
https://www.google.ca/?client=safari#q=uninstall+node+mac&gfe_rd=cr

uninstall node then reinstall it.

[2016-09-12 20:08] carter3689 commented on #2737
Hey Good news!! It works!!
<img width="570" alt="screen shot 2016-09-12 at 3 04 41 pm" src="https://cloud.githubusercontent.com/assets/9578509/18450865/621a139c-78fa-11e6-9c75-af19f9a8cb10.png">

I found some helpful links that helped reset my npm path that may be of help to others.
http://stackoverflow.com/questions/20934343/how-to-restore-reset-npm-configuration-to-default-values

Then I reinsta

[2016-09-12 20:10] kenmorechalfant commented on #2142
@mkumr  Yes, I haven't touched this code in months but here it is, hope it helps:

### routes.js
[code]

[2016-09-12 20:15] richardpringle commented on #2602
@bekl, not sure that I was much help but I'm glad your issue was resolved!

[2016-09-12 20:18] jannyHou commented on #2737
@carter3689 Good Job! Thank you and Cheers 👍

Then I am closing this issue since it's fixed. Good to know that **NPM path** is critical to install strongloop!

My guess is maybe your custom path didn't have enough permission (you only set permission for default one but actually modules are not installed there)?

[2016-09-12 23:17] superkhau commented on #2737
@jannyHou I assume you mean to close this as fixed? Closing for you. ;)

[2016-09-12 23:17] #2737 closed

[2016-09-13 07:08] bajtos commented on #2452
Fixed & released in `loopback@2.34.1`.

[2016-09-13 07:08] #2452 closed

[2016-09-13 08:27] bajtos commented on #2092
The problem will be fixed in LoopBack 3.0, see https://github.com/strongloop/strong-remoting/pull/343.

[2016-09-13 08:27] #2092 closed

[2016-09-13 09:11] bajtos commented on #2352
This problem has been fixed by #343 in LoopBack 3.0 (alpha). When converting "any"-typed argument from a string-source like a query string, we preserve string values that are too large to store in an integer (greater than `MAX_SAFE_INTEGER`).

[2016-09-13 09:11] #2352 closed

[2016-09-13 09:25] jmereaux commented on #1744
Hello,
Is there any update on this please?

[2016-09-13 10:18] penguinpowernz opened #2739 "How to update device with unique field?"
Any time I try to do a put request to my model that has this:

[code]

It will fail with a 422 saying: `ValidationError: The`device`instance is not valid. Details:`address`address is not unique (value: "N0")`.  Even if I haven't specified the address field in the request.

As you can see in this excerpt from the model file, the validations are empty and I have removed the `unique: true` from the a

[2016-09-13 10:39] JuergenSimon commented on #1460
+1

[2016-09-13 15:02] franckysolo opened #2740 "method findOrCreate strange behaviour"
Hello,

I'm trying to create default users with mapping role in boot script, and i have a strange behaviour with findOrCreate method,  it seems not recognized where filter
here's my boot script code:
[code]

Then i look at my mongo database i've got my three accounts but i've got also three roles
maybe i made a mistake but i will had only one role register in database. ?!?
So I'm made a test in a

[2016-09-13 15:43] manojchandrashekar commented on #2739
Which datasource are you using?

In my experience (MongoDB), just removing the `unique: true` property does not remove the index that was created on your collection when you put in the unique constraint.

I've always had to manually drop the index from the database.

[2016-09-13 15:45] manojchandrashekar opened #2741 "Different versions of documentation?"
Are these documentation sources different in content or is it just duplication?

1. http://loopback.io/doc/en/lb2/index.html
2. https://docs.strongloop.com/

[2016-09-13 15:54] manojchandrashekar commented on #2740
I may be wrong but your loop must be running faster than your database could commit the insert. Therefore, your subsequent `find` is failing and it is creating a second entry.

You can factor a delay in your loop to confirm this behaviour.

[2016-09-13 18:08] richardpringle commented on #2517
fixed by https://github.com/strongloop/strong-remoting/commit/6aaafd054c48677180945e19e459246ba3027156

[2016-09-13 18:08] #2517 closed

[2016-09-13 20:09] superkhau commented on #2741
@manojchandrashekar New docs website is coming soon, wait for the blog announcement. ;)

[2016-09-13 20:09] #2741 closed

[2016-09-13 20:10] superkhau commented on #2741
cc @crandmck

[2016-09-13 20:11] superkhau commented on #2740
Can you provide a sample for us to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-09-13 22:05] penguinpowernz commented on #2739
I'm using the Redis datasource.  I have flushed the DB but it's still causing problems.

[2016-09-13 22:38] penguinpowernz commented on #2739
Hmmm.. those other errors (`TypeError: Cannot read property 'constructor' of null`) seem to only happen when running tests with mocha.

[2016-09-13 22:39] franckysolo commented on #2740
@superkhau
hello, here's the fork with some notes [https://github.com/franckysolo/loopback-sandbox/tree/master/bin](url)
the boot script is in server/boot directory
another test boot script is on bin directory
I've not have the same behaviour on local work and with the loopback-sandbox
I'am using the same sample script

franckysolo

[2016-09-13 22:57] superkhau commented on #2740
@jannyHou Can you try to reproduce this?

[2016-09-13 22:59] franckysolo commented on #2740
I don't know if i made something wrong or not?

[2016-09-14 01:22] penguinpowernz opened #2744 "TypeError: Cannot read property 'constructor' of null"
When I try to access a non existent model, I get this error instead of a 404.

What have I broken?  With a quick test app I get the 404 error but not on the API that I am developing.  I'm guessing it's some configuration option somewhere.

Here's my `middleware.json` file:

[code]

Here's my `middleware.json` file:

[code]

Here's my `config.json` file:

[code]

Any my `config.local.js` file:

[co

[2016-09-14 04:14] pbrain19 commented on #1033
Ok guys looks like we will just have to use the one originally mentioned on top. According to the details I see it appears to be working.

[2016-09-14 06:41] demsey2 commented on #690
can anyone clarify what steps and config is required to get this working

[2016-09-14 07:10] Industrial commented on #2657
@davidcheung: Thanks, i'll take a look at that.

[2016-09-14 08:09] ron137 commented on #2524
+1

[2016-09-14 09:29] penguinpowernz opened #2745 "Fresh project cannot start using kv-redis connector"
I just made a fresh project using the following steps:

[code]

I chose 2.x stable for the version and api-server for the application.

Then I did `npm install --save loopback-connector-kv-redis` and modified my `datasources.json` file to look like this:

[code]

Then I did `npm start` and I get this stacktrace:

[code]

I didn't even create any models yet.

Here is the `package.json` file:

[code

[2016-09-14 11:24] demsey2 commented on #690
in case someone else has that problem and is running server on AWS EB here is the link to some additional settings
http://stackoverflow.com/questions/18908426/increasing-client-max-body-size-in-nginx-conf-on-aws-elastic-beanstalk

[2016-09-14 14:54] bajtos commented on #418
[code]

This is a bug in loopback. See the implementation of `Model.before/after|remote/Error`: https://github.com/strongloop/loopback/blob/6752dd3af3dd1ced800f4175317a786cedb3998e/lib/model.js#L193-L221

@tvdstaaij would you mind contributing the fix and sending a pull request? Please mention my GH handle (@bajtos) in the pull request description, so that I notice it in the flood of other notific

[2016-09-14 14:58] bajtos commented on #418
@vroudge @sayasemut and everybody else subscribed to this thread:

While we are definitely in favour of making all LoopBack APIs promise-enabled, our bandwidth is limited and there are many other, more complex issues needing our attention.

We are encouraging everybody in the community to help us with making this happen. Adding support for promises is a pretty easy task, take a look at prior pull

[2016-09-14 16:09] jannyHou commented on #2524
@achintverma @ron137 Can you fork https://github.com/strongloop/loopback-sandbox and replace it with your code? Thanks!

This makes it hard for me to reproduce your problem if it doesn't happen in all instances. Thanks.

[2016-09-14 17:58] superkhau opened #2746 "EPIC: LoopBack connector support for pub/sub messaging"
As discussed with @raymondfeng @ritch, we should support pub/sub messaging styles in the LoopBack connector space.

At the moment, we only support [MQLight](https://github.com/strongloop/loopback-contributor-docs/blob/master/functional-area-owners.md#mq), but we should build in capabilities to allow extension for third party connectors such as MQTT.

---

List is WIP:
- [ ] Remoting API in LoopBac

[2016-09-14 19:28] franckysolo commented on #2740
@jannyHou :
hello i've made some other tests with async and [promise](https://github.com/franckysolo/loopback-sandbox/blob/master/server/boot/sample-async-promise.js) same result, maybe it could help?

[2016-09-14 20:09] superkhau commented on #2745
That is interesting, can you try running the examples at https://github.com/strongloop/loopback-example-kv-connectors and let me know if they work?

[2016-09-14 20:19] tvdstaaij opened #2747 "beforeRemote/afterRemote does not pass promise to strong remoting"
Originally reported in [this #418 comment](https://github.com/strongloop/loopback/issues/418#issuecomment-234722434), opened this as a separate issue because @bajtos [mentioned](https://github.com/strongloop/loopback/issues/418#issuecomment-247040099) that this is a rather specific loopback problem and requested a PR.

Summary: returning a promise from beforeRemote/afterRemote hangs the remote req

[2016-09-14 20:26] crandmck commented on #2741
@manojchandrashekar See http://loopback.io/doc/index.html for more background.  Once we launch the new site, of course we'll mark the old site (docs.strongloop.com) as deprecated, and probably add redirects to the new site.

[2016-09-14 21:50] penguinpowernz commented on #2745
Yep that works.  Why though?  I notice that's running 3.0.0-alpha.5 of loopback, is the kv-redis connector only compatible with the 3.x versions?  I haven't had any success swapping out `loopback-connector-redis` for `loopback-connector-kv-redis` in an established app.

[2016-09-14 22:01] superkhau commented on #2745
It should work for both versions (althought as you can see from my example, I'm using the latest master on GH -- 3.0.0-alpha.5). Would you like to help update the examples? We need it working for all versions (its WIP ATM -- almost release time after we work out the gremlins as you discovered).

[2016-09-14 22:19] penguinpowernz commented on #2745
I downgraded to 2.34.1 in the redis-lb2x and it still boots.  I think the kv-redis connector doesn't work as I expect it to (i.e. doesn't want to store `PersistedModel`) - judging by the Color model in there.  Trying to find all PersistedModels (`/api/animals`) results in this error:

[code]

[2016-09-14 22:46] stringbeans opened #2748 "Overwriting / Resetting default scope is dangerous"
In the documentation its described to use the following method of resetting the default scope:

[code]

However, if this endpoint is hit multiple times in parallel we could run into the case where the defaultScope is permanently reset because the Report model in the above example is a singleton.

Is there a better way to reset the defaultScope temporarily?

[2016-09-14 23:10] stringbeans commented on #2675
Just wanted to mention, this issue turned out to be the cause!

https://github.com/strongloop/loopback/issues/2748

[2016-09-14 23:21] superkhau commented on #2745
Did you try with KVModel? Not supposed to use PersistedModel

[2016-09-15 00:01] jannyHou commented on #2740
@franckysolo Really appreciate your sandbox, and I can get Error message when I run `node .` in `/loopback-sandbox`

Could you clarify what's the difference between `local work` and `with the loopback-sandbox`?

[2016-09-15 00:25] jannyHou commented on #2748
@stringbeans Thank you for the updates and I am glad that you find out the problem.
Can you try to use custom scopes instead of defaultScope? See https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Scopes

I think you read the doc from https://docs.strongloop.com/display/public/LB/_Default+scope
It looks like a workaround to me, if we really need a feat

[2016-09-15 01:56] acrodrig commented on #517
👍

[2016-09-15 03:34] sayasemut commented on #418
@bajtos i see your point, okay let see what i can do ..

[2016-09-15 03:39] yahoohung opened #2749 "What is the best way to develop OAuth server in loopback?"
I am working on a new project and planned to use loopback for the REST API portal. As I know IBM stopped support on the strongloop gateway. https://docs.strongloop.com/display/LGW/Setting+up+the+API+Gateway

What is the best options to make loopback work with OAuth server at this moment? Thanks.

[2016-09-15 07:20] bajtos commented on #2746
I agree with the idea in general 👍 I have different opinion on implementation details though.

1)
I think the proposed API is not flexible enough. Many (if not all) messaging protocols allow clients to subscribe to multiple topics. When publishing a message, a single topic must be selected. When subscribing to messages, multiple topics can be specified, including a wildcard. I don't see how a `new

[2016-09-15 07:37] penguinpowernz commented on #2745
Yes the KVModel works... but now I realize that this is not what I want.  I want a persisted model, persisted in Redis so went back to `loopback-connector-redis`.

Using your example redis-lb2x app with 2.34.1 works fine, so I don't know what the loopback generator does differently.

[2016-09-15 08:23] franckysolo commented on #2740
@jannyHou
Hello,
here the result of the console.log when i run npm start (node .) from local work
[code]
Entries are not registered in the same order
I've no Error thrown
I've got 3 records from Role developpers

In the sandbox example:
The result of the console.log
[code]
Account created for  tom
Account created for  mickey
Account created for  jerry
Developpers role created for  mickey
Mapping r

[2016-09-15 14:34] jannyHou commented on #2749
@yahoohung we are using github to track features and bugs, but for questions we always keep them on google group, please follow our guide https://github.com/strongloop/loopback/wiki/Questions to ask questions :-) Thanks for understanding.

And @sam-github @ritch I think you are more familiar with gateway, any idea of "What is the best options to make loopback work with OAuth server at this moment?

[2016-09-15 14:42] bajtos commented on #2642
This is expected, see https://github.com/strongloop/loopback-datasource-juggler/pull/982.

If your Model is using an auto-generated id, then we don't allow the clients to provide id values. This is needed to prevent a DoS attack, where the client can provide a MAX_INT_VALUE in id, and thus triggering integer overflow in subsequent create calls. See https://github.com/strongloop/loopback-datasource

[2016-09-15 14:43] jannyHou commented on #2744
@penguinpowernz Thank you for the code, for a better debug, could you fork https://github.com/strongloop/loopback-sandbox and replace it with your code? Thanks.

And also please include the error you got if possible, or describe it here.

[2016-09-15 14:43] bajtos commented on #2642
@elkorep If you want to allow clients to provide a custom id value, then you need to set `forceId:false` in your model JSON file.

[code]

[2016-09-15 14:45] bajtos commented on #1748
This should be fixed by https://github.com/strongloop/strong-remoting/pull/343 in LoopBack 3.0 (alpha).

@0candy @superkhau could you please verify?

[2016-09-15 14:53] bajtos commented on #2324
As I commented in https://github.com/strongloop/loopback/pull/2335#issuecomment-247351225, I think this is a bug of strong-remoting that should have been already fixed in 3.0 (alpha).

[2016-09-15 14:55] bajtos commented on #2747
@tvdstaaij Could you please open a pull request with your implementation and add a unit-test for the problematic case? It will make it easier for me to troubleshoot what exactly is happening under the hood.

[2016-09-15 15:17] alihalabyah opened #2750 "Context Request Session Not Saving"
Hello I'm trying to save a variable to the session using the afterremote context object but it's not reflecting, however I'm getting a successful callback on session save

[code]

[2016-09-15 15:28] franckysolo commented on #2740
Sorry for my english!
this is the first loopback project i'm working on my local machine, before i've meet the issue with my tests!
I've made the project with slc:loopback, this was the same script on the boot than sandbox example
difference could be the use of es6 in the first project and not in the sandbox
i had the package json of  in bin directory
I hope my explanation is more clear :)

[2016-09-15 15:42] bajtos commented on #2422
Some (most) of the modules has been released, we think that's good enough for now. We will be releasing new versions when we receive translated strings.

[2016-09-15 15:42] #2422 closed

[2016-09-15 16:35] superkhau commented on #2745
I will close issue then. Please open a new issue if you are still running into issues.

[2016-09-15 16:35] #2745 closed

[2016-09-15 18:27] romulocintra commented on #1841
+1

[2016-09-15 20:37] superkhau commented on #1748
@0candy Confirm please? I remember talking to you about this.

[2016-09-15 22:55] 0candy commented on #1748
Verified that it works with LB 3.0 (alpha). Closing issue.

[2016-09-15 22:55] #1748 closed

[2016-09-15 23:24] penguinpowernz commented on #2744
I mucked around and now I cannot reproduce this error in my own application.

I think this is a problem with `loopback-connector-redis`, I was able to fix a similar problem in that library with this pull request: strongloop/loopback-connector-redis/pull/25

However there should probably be some input validation between the connector and the `findById` to ensure that 404 errors are pushed out.

How

[2016-09-16 06:06] shSina commented on #1841
does it need a change to all datasources or a transmission layer graphql query to json?

[2016-09-16 06:30] mraak commented on #1841
@shSina Transmission layer is enough. You can even resolve from existing rest end points. Wouldn't be a huge task to make something basic.

[2016-09-16 07:57] nomocas commented on #531
+1

[2016-09-16 11:49] bajtos commented on #2518
@benjaminhon @gael-boyenval @dearfrankg could you please post here the output of `npm ls -g generator-loopback` to verify you have the right version of generator-loopback installed?

[2016-09-16 16:35] issmile commented on #2735
I don't want show up,but I have allready fix it ,thanks

[2016-09-16 16:40] issmile opened #2753 "how to make right in get filter of RESTFUL?"
I following the document,why it don't work ?how to make right
![image](https://cloud.githubusercontent.com/assets/20268011/18593629/decb326e-7c6e-11e6-90f4-c7f0f796c15a.png)
![image](https://cloud.githubusercontent.com/assets/20268011/18593660/0c97c0a4-7c6f-11e6-9c6d-c966e6665e54.png)

[2016-09-16 16:50] dancingshell commented on #2753
@issmile you must wrap your query in an object and use json format try
`{ "limit": 5 } `

[2016-09-16 17:54] jannyHou commented on #2735
@issmile Glad to know you fixed it!!

[2016-09-16 17:54] #2735 closed

[2016-09-16 20:51] jannyHou commented on #2740
@franckysolo When I test with your sandbox, there is only one result in my mongodb collection:
[code]

And I agree with the explanation: https://github.com/strongloop/loopback/issues/2740#issuecomment-246729864

[2016-09-16 21:51] alihalabyah commented on #2342
I'm facing the same issue but with get

[2016-09-17 01:55] issmile commented on #2753
@dancingshell  but I want use it in explorer.I don't think they built explorer only for show?

[2016-09-17 02:24] issmile commented on #2753
@dancingshell thank you

[2016-09-17 02:24] #2753 closed

[2016-09-17 04:43] shSina commented on #1841
@mraak I'm thinking of the way we can manage ACL inside transmission layer, we can check the request token on all requested relations before transmission and handling the errors... ,
and I should test whether it's possible to override user predefined relations scope (in json) in js dynamically to separate the effect of graphQL endpoint from REST one.

[2016-09-17 05:03] manojchandrashekar commented on #2741
@crandmck @superkhau - Thank you! Yes, that definitely makes it easier for the community to contribute to the documentation.

[2016-09-17 08:15] franckysolo commented on #2740
ok thanks
so, it's normal behaviour or not?
Normally, i would not have an error raised at 2nd item, it would return a instance of the existing role instead. Or i can't use a basic loop with findOrCreate with mongo cause of record delay.
What can i do to overcome this issue, is there an alternative or specific configuration in mongodb?

[2016-09-17 17:15] shairez commented on #1692
+1

[2016-09-17 17:51] jeffbcross commented on #1692
Stay out of this, @shairez

[2016-09-17 20:14] jcroldan commented on #1692
Hi,

i tried Qeti's fork of loopback-sdk-angular & loopback-sdk-angular-cli who generates typescript files.

You can take a look here:
https://github.com/qeti/loopback-sdk-angular
https://github.com/Qeti/loopback-sdk-angular-cli

[2016-09-17 20:21] sylvaindumont commented on #1692
Based on the work on the qeti fork, there is :
https://github.com/mean-expert-official/loopback-sdk-builder

[2016-09-19 04:24] casamia918 commented on #2202
@gunjpan

I've read that guide doc and apply to my project like this.

[code]

It's working. But, in the case of reusing, if I want to reuse the Name objet type in multiple models, when should I define the Name object type?

At the above guide doc, author define the object type (named address) with this code
[code]

But, it's JS code! I can't insert JS code to my json file.
Can I see a working exa

[2016-09-19 04:31] mcat-ee opened #2756 "Inq limit?"
Hi, in our office we've had some errors with queries involving _inq_ statements containing over 20 values.

To be clear, 20 or below values works fine. Anything over and the server appears to perform a weird transform of the array into a nonsensical object with no clear mappings to the inq array we passed in.

Has anybody else encountered this?

[2016-09-19 09:01] gvillenave commented on #2074
Any update on a fix?

[2016-09-19 11:36] bajtos opened #2757 "Make it easy for community modules to provide custom data-access methods"
I think we need an easy and solid way for LoopBack users to implement their custom data-access methods outside of LoopBack core, in an npm package that can be shared by many projects. That way the community can experiment with different flavours of DAO without waiting for our input/review/approval. The caveat I see is how to implement both 1) user/REST-facing bits at loopback/juggler level and 2)

[2016-09-19 13:48] pierreclr commented on #568
We encounter the same issue on loopback 2.22, any progress on a possible fix ?

[2016-09-19 16:44] superkhau commented on #2756
Can you provide a sample for us to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-09-19 17:25] ritch commented on #2525
@bajtos @superkhau - should we deprecate the redis connector in favor of this new redis kv connector?

[2016-09-19 19:54] superkhau commented on #2525
@ritch I'm not sure about this yet, there was one person using it recently in the PersistedModel fashion. I spoke with @raymondfeng about this before and we need a way to inject usage styles/templates to the connector at boot/runtimes to allow different usage styles for the same connector.

[2016-09-19 20:11] jannyHou commented on #2740
@franckysolo I think that's how the async works, I would suggest you to create the role first then in the callback function loop the users and assign them to the role.

[2016-09-19 22:49] dancingshell commented on #732
@raymondfeng can you shed light on if this is possible to do with just the json model definitions?

genre.json
[code]

post.json
[code]

this results in the table in postgres `genrepost`. what I really want is the table `postgenre`. when I add `"through": "postGenre"` to both definitions and migrate the models dont get created.

[2016-09-19 23:14] Amir-61 commented on #2756
As @superkhau suggested please reproduce the issue by our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox). Also please let us know what connector you are using?

Thanks!

[2016-09-19 23:20] Amir-61 commented on #2750
[save](http://apidocs.strongloop.com/loopback/#persistedmodel-prototype-save) returns error and model instance which git created/save; what are you getting there? @alihalabyah To make the triage process easier could you please provide a sample repo using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) to reproduce the issue on my local machine?

Thanks!

[2016-09-20 00:06] Amir-61 commented on #2757
👍

[2016-09-20 04:07] mcat-ee commented on #2756
We use the following modules:

- "loopback": "2.26.0",
- "loopback-boot": "^2.15.0",
- "loopback-component-explorer": "^2.1.0",
 - "loopback-component-migrate": latest
 - "loopback-connector": latest
 - "loopback-connector-mysql": latest
 -"loopback-connector-remote": "^1.0.3",
 - "loopback-connector-rest": "^1.10.1",
 - "loopback-datasource-juggler": "^2.39.0",
 - "loopback-ds-timestamp-mixin": "

[2016-09-20 04:10] mcat-ee commented on #2756
If we break the query containing 20+ **inq** parameters down into multiple queries it will function as expected.

[2016-09-20 11:52] abimelex opened #2761 "Replace or Create works unexpected"
I have a model with composite primary key, but none of them is called 'id'.
Now I want to insert or update new data using replaceorcreate function for that.

My expectation was, that it checks for the primary key and if it exists, it will update the data and if not it will create. Currently it sometimes updates and sometimes create new data. What is it supposed to do, or what would be the correct

[2016-09-20 13:18] bajtos commented on #1495
Hello everybody watching this issue, I have just submitted a patch proposing a solution:

https://github.com/strongloop/loopback/pull/2762

I am encouraging you to take a look and let us know what do you think about my proposal.

[2016-09-20 14:29] 0candy opened #2764 "Add globalization to ibm connectors"
- [x] strongloop/loopback-connector-db2  https://github.com/strongloop/loopback-connector-db2/pull/49

- [x] https://github.com/strongloop/loopback-connector-mqlight PR: https://github.com/strongloop/loopback-connector-mqlight/pull/15
- [x] https://github.com/strongloop/loopback-connector-ibmdb PR: https://github.com/strongloop/loopback-ibmdb/pull/14
- [x] https://github.com/strongloop/loopback-co

[2016-09-20 15:10] #1299 closed

[2016-09-20 15:42] dtaylor7 opened #2766 "no way to protect nested relations"
Consider the following problem:

There are three models:

 1. User
  - has many `Payment Details`
  - has many `Users` through `Contacts`
 2. Payment Details
  - belongs to `User`
 3. Contacts (User-to-User link table)
  - belongs to `User`
  - has one `User`

A `User` can get their `Payment Details` information:

`/users/{user_id}/payment_details`.

A `User` can also get their `Contacts`:

`/user

[2016-09-20 16:09] loay commented on #1413
Hi @erikverheij
Are you still experiencing the same issue? Thanks.

[2016-09-20 16:16] dtaylor7 commented on #2766
for now i am manually checking to see if the owner is the one accessing the relation:

    PaymentDetails.observe('access', function restrict(ctx, next) {

      if(_.isObject(ctx.query.where) && ctx.query.where.user_id && ctx.query.where.user_id.inq){
        var id = app.models.user.getCurrentUserId();
        if(validate(ctx.query.where.user_id.inq[0] === id, 'Unauthorization Access', "UNAUTHOR

[2016-09-20 17:15] loay commented on #1705
Issue is fixed as per this https://github.com/strongloop/loopback-datasource-juggler/issues/733

Closing

[2016-09-20 17:15] #1705 closed

[2016-09-20 17:18] loay commented on #1695
Closing this issue. If problem is still persisting, please feel free to leave a comment and I will re-open the issue. Thanks.

[2016-09-20 17:18] #1695 closed

[2016-09-20 17:23] loay commented on #1669
This issue should have been fixed as per this pr: https://github.com/strongloop/loopback-sdk-angular/pull/178

If the same problem is still persisting, please leave a comment so we can look further. Thanks

[2016-09-20 17:28] #1669 closed

[2016-09-20 17:48] loay commented on #1434
Hi @penzhan8451 that's a connection error, and it means that the other side has closed the connection. Are you still experiencing the same issue?
There are couple of fixes here: http://stackoverflow.com/questions/17245881/node-js-econnreset

[2016-09-20 18:08] loay commented on #2766
Hi @dtaylor7, can you please provide a sample repo so I can test this issue? Thanks.

[2016-09-20 18:42] franckysolo commented on #2740
@jannyHou : this is exactly what i do :)
thanks

[2016-09-20 18:42] #2740 closed

[2016-09-20 19:04] dtaylor7 commented on #2766
Hi @loay, Sure have put one together for you: [loopback-protected-relation.git](https://github.com/dtaylor7/loopback-protected-relation.git)

So if you login as user id: 1. Go to the explore [user_prototype_get_contacts](http://localhost:3000/explorer/#!/user/user_prototype_get_contacts) and use the filter `{"include":"payment_details"}`. In an ideal world you wouldn't be able to include `payment_

[2016-09-20 19:05] Amir-61 commented on #2761
Hey @abimelex,

They do not need to be called `id`.

Yes thats the current functionality. It checks the instance if the instance with that PK exists, it does the full update for that instance; otherwise it creates the instance for you.

I assume the explanation of [the doc](https://apidocs.strongloop.com/loopback/#persistedmodel-replaceorcreate) is confusing, where it says:

It may need to be rewo

[2016-09-20 22:41] #2322 closed

[2016-09-20 22:41] davidchriqui opened #2769 "How to call remote methods programatically (not through http endpoint request)"
Hi,

I'm able to add remote methods to any model but I would like to be able to call a custom remote method programatically.

I explain.

I have a custom model **customModel** with a custom remote method **customRemoteMethod** accepting one argument **arg1** with a **get** http verb.
I'm able to make a get request to **/api/customModel/customRemoteMethod** with **arg1** as query param.
I'd like to

[2016-09-21 02:20] superkhau opened #2770 "Fix expire in explorer"
_From @superkhau on September 20, 2016 1:53_

KV connector expire feature isn't working properly in explorer:

# Step to reproduce

1. Create a typical app with a model and browse to explorer
2. Create an object via set without TTL
3. Try to set TTL using expire

The request will fail with:

[code]

# Workaround

None at the moment, we probably need to fix this one right away.

_Copied from origin

[2016-09-21 02:20] superkhau commented on #2770
_From @bajtos on September 20, 2016 14:59_

@superkhau is there any particular reason for keeping this issue private? I would like us to be as transparent and open as possible, otherwise it's difficult to get community involvement. I would like us to default to filling issues in the public `loopback` project unless there is a good reason for keeping it private.

[2016-09-21 02:20] superkhau commented on #2770
_From @bajtos on September 20, 2016 15:0_

Which request failed? The second one, setting a key without expire? Or the third one? For the third one, I think it's expected that the `ttl` argument is required, right?

[2016-09-21 02:20] superkhau commented on #2770
_From @bajtos on September 20, 2016 15:2_

@superkhau I am also adding missing `Milestone: #Epic KV Connectors` to this issue and the others you created recently.

[2016-09-21 02:20] superkhau commented on #2770
@bajtos No reason, I should've created in `loopback` in the first place -- I actually created all the CI issues in scrum-loopback and forgot to switch over for the KV connector issues. Moving.

[2016-09-21 02:21] superkhau opened #2771 "`slc loopback:datasource` need a option for `kv-memory`"
_From @superkhau on September 20, 2016 1:57_

There is no `kv-memory` option when using `slc loopback:datasource`.
# Steps to reproduce
1. Create a new app
2. Try to create a new datasource via `slc loopback:datasource`

At step 2, you will see there is no option for `kv-memory`.
# Workaround

Choose `memory` and modify `datasources.json` and manually enter `kv-memory` for the `connector` value.

[2016-09-21 02:21] superkhau commented on #2771
_From @bajtos on September 20, 2016 15:2_

+1, I think we need to add an entry to [loopback-workspace/available-connectors.json](https://github.com/strongloop/loopback-workspace/blob/3e80fcd3053199c5de549a5ded5e7773ad2fc5cc/available-connectors.json) for both `kv-memory` and `kv-redis`.

[2016-09-21 02:26] superkhau commented on #2770
First request. There is something wrong with explorer not passing the TTL entered in the textbox to the remote method.

[2016-09-21 02:28] superkhau opened #2772 "Update all examples to use LoopBack 3.x instead of 2.x"
#Every project at https://github.com/strongloop/loopback-example is based on LoopBack 2.x. We need to update each and every project to use LoopBack 3.x instead.
- [x] https://github.com/strongloop/loopback-getting-started
- [x] https://github.com/strongloop/loopback-getting-started-intermediate
- [x] https://github.com/strongloop/loopback-example-database
- [x] https://github.com/strongloop/loopba

[2016-09-21 03:30] dongmai commented on #1666
+1

[2016-09-21 05:23] snowyu commented on #1495
Cons:

1. The model observe could miss the options If some developer forget to add the options parameter on the remote method which do some CRUD operation.
1. Not for all build-in remote methods yet.
1. Need to notify all the component developers to modify their codes.
1. The written remote method must meet the specification, or crash the server(maybe use the Promise only to solve it). eg,

[code]

[2016-09-21 06:33] erikverheij commented on #1413
Hi @loay, at the moment I'm not using batch operations in my loopback apps.

[2016-09-21 11:17] abimelex commented on #2761
It works for sure not as described by you. I have a composite key defined as following but only the first is recognized as key. But when I rewrite it to create() it throws the already existing error.

[code]

[2016-09-21 11:45] B4bharat opened #2773 "Role Resolver working for Wrong accessType"
I have a similar issue to this - https://goo.gl/CgKvAE wherein a 'Role Resolver' is called upon even for those 'accessType' in the 'ACL' of a model.
For e.g. I want only 'WRITE' accesstype to be resolved by a custom role - 'Manager' so my ACL looks like this:
acl: [{
  "accessType": "WRITE",
  "principalType": "ROLE",
  "principalId": "Manager",
  "permission": "ALLOW"
}]

But whenever I use 'find

[2016-09-21 12:05] Amir-61 commented on #2761
@abimelex,

could you please provide a sample repo using our loopback-sandbox to reproduce the issue?

[2016-09-21 13:16] Amir-61 commented on #2761
Hey @abimelex,

Unfortunately we do not have full support for composite key. `updateOrcreate` and `replaceOrcreate` both work assuming you do not have composite keys. Please see [here](https://github.com/strongloop/loopback-datasource-juggler/blob/373e038301cf88080d0b0330f2a51ff51eedbba2/lib/dao.js#L838) and [here](https://github.com/strongloop/loopback-datasource-juggler/blob/373e038301cf88080d0b

[2016-09-21 13:21] #2761 closed

[2016-09-21 13:38] ebourmalo commented on #1655
After some investigation, [this commit](https://github.com/strongloop/loopback-datasource-juggler/commit/e7a108efdb01783260c5176ea77f62bb7b09ac84) is in part responsible.

With the 2 blocks:
[code]

It filters the fields (looking for the field `aaa.bbb.ccc` in the document and got only the first-depth field `aaa`) so it won't play well with nested fields.

A right solution would be to check with l

[2016-09-21 15:00] loay commented on #1413
Hi @erikverheij Thanks for your prompt response.
If you re-use them or run to similar issue, please feel free to leave a comment, so I can investigate further. Thanks.

[2016-09-21 15:00] #1413 closed

[2016-09-21 15:02] loay commented on #2766
Thanks a lot. I will have a look and get back to you ASAP.

[2016-09-21 15:30] loay commented on #1796
@wzup
Did the previous comment clarify things a bit?
Has the issue been fixed or do you require more assistance? Please let me know. Thanks

[2016-09-21 16:20] zsszatmari commented on #175
@moklick Thanks that worked!

[2016-09-21 17:40] loay commented on #2074
@gvillenave Please follow up with these issues:
https://github.com/strongloop/angular-live-set/issues/11

#1454

A feature request is being made and it will be implemented according to priorities. Thanks

[2016-09-21 19:16] Amir-61 commented on #2769
@davidchriqui
Lets say you define a remote method like:
[code]

You should be able to call `myModle.method`, is there something I'm missing in your question? Could you please create a sample repo using [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) showing what you are trying to achieve here please?

[2016-09-21 19:33] rafaelferreir4 commented on #257
Do we have any update on this?

[2016-09-21 20:24] dylanfoster opened #2774 "REST api DELETE returns 200"
This behavior was changed after [this](https://github.com/strongloop/loopback/issues/1322) was filed, however, 204 is the appropriate response from a DELETE method [see here](http://www.restapitutorial.com/httpstatuscodes.html). Can we revert this, or at the very least, is there a way to override this?

[2016-09-21 22:43] crandmck opened #2775 "Edit all example READMEs for proper formatting, etc."
Run the markdown linter, and make edits accordingly.

Also, ensure:
- Format and TOC of the README meet our standard.
- ALL links are absolute, not relative, so they work on http://loopback.io/doc/.

[2016-09-21 22:52] superkhau opened #2776 "Deprecate loopback-example + loopback-contrib-docs in favour of new docs site"
- [x] @crandmck Will move the docs over to loopback.io and ping @superkhau when done
- [x] @superkhau will go through usual deprecation procedures
- [x] @superkhau will modify READMEs/repos to point at the new doc site
- [x] Coordinate with @crandmck for final LGTM

cc @bajtos

[2016-09-21 22:54] crandmck commented on #2776
Actually I think I already have loopback-example content in http://loopback.io/doc/en/lb2/Tutorials-and-examples.html . It looks the same to me!

@superkhau PTAL and if it looks OK, you can deprecate/remove https://github.com/strongloop/loopback-example since it's just a README.  But be careful, because there may be links to it from elsewhere...?

[2016-09-21 23:12] rahpuser opened #2777 "relation method add not working, generating wrong query"
Hello, I have the following relation

'entity1' hasMany Through 'entity1_entity2'
'entity2' hasManyThrough 'entity1_entity2

`
entity1Object.entity2.add(entity2Object);
`
In debug mode I can see the following query:

[code]

Mysql error:

[code]

Seems like an '=' is missing.. is this a bug ?

[2016-09-21 23:14] penguinpowernz opened #2778 "Docs incorrect? Observe "loaded" returns instance, not data"
On [this page](https://docs.strongloop.com/display/public/LB/Operation+hooks) in the docs it says that observing loaded will return a context with data in it.  However that doesn't seem to be case when I am testing it, instead giving the model instance:

[code]

Gives this output:

[code]

Do the docs need updating?

[2016-09-21 23:43] superkhau commented on #2776
Yeah, will think about what to do here. I think we'll just add deprecation notice that points to your doc and move to sl-archive (which keeps the links intact due to auto redirection).

[2016-09-21 23:47] superkhau commented on #2778
@crandmck ^

[2016-09-21 23:51] rahpuser commented on #2777
Seems like I misunderstood the documentation:

Appointment.belongsTo(Physician);

Patient.hasMany(Physician, {through: Appointment});
// Now the Physician model has a virtual property called patients:
Physician.patients(filter, callback); // Find patients for the physician
Physician.patients.build(data); // Build a new patient
Physician.patients.create(data, callback); // Create a new patient for

[2016-09-21 23:53] rahpuser commented on #2777
Documentation improvement.

[2016-09-22 03:08] Amir-61 commented on #2778
I don't think if there is any doc issue. @penguinpowernz Could you please clarify what method you are referring to that `loaded` hook returns `instance` and not `data`?

AFAICT, all `loaded` hooks return `data` and not `instance`. Please see [loaded hook for create](https://github.com/strongloop/loopback-datasource-juggler/pull/1105), [loaded hook for updateORCreate](https://github.com/strongloop/

[2016-09-22 08:09] k1ng440 commented on #1415
+1

[2016-09-22 12:15] habbes commented on #2465
What's the follow up on this? Is it a work in progress, that feature would be quite useful.

[2016-09-22 14:55] Amir-61 commented on #2774
@dylanfoster

Interesting... It makes sense to me to use HTTP status code `204` for delete... I see [the PR](https://github.com/strongloop/loopback/pull/1667) which changes the behaviour was landed long time ago `Sep 28, 2015`. I believe there was a reason that @superkhau is returning `200` status code as opposed to `204`. I will let @superkhau explain that. Also @superkhau could you please confir

[2016-09-22 15:11] gunjpan commented on #2612
@inv-joseph : Closing due to inactivity. If the issue still persists and further assistance is needed, please mention me in the comments and I'll be happy to help. Thank you :)

[2016-09-22 15:11] #2612 closed

[2016-09-22 15:37] dearfrankg commented on #2518
I installed a later version of node and all is well for me now.

[2016-09-22 16:01] frankorama commented on #2778
I just noticed the same behaviour.

[code]

[2016-09-22 16:27] crandmck commented on #2776
Re https://github.com/strongloop/loopback-contributor-docs, I'm thinking about the best place to put this in the doc site. We currently have http://loopback.io/doc/community/, which is currently empty, and I propose to retitle and broaden the scope of this "space" to be for all community-related information, including contribution guidelines.  So, it would have both info on community projects and

[2016-09-22 16:56] Amir-61 commented on #2778
Thanks @frankmalin,

To make it clear and easier for @crandmck (our doc expert) I believe just `find*` methods (`find`, `findOne`, `findById` and `findByIds`) have `instance` in their loaded methods. All other methods provide `data` object in their `loaded` OH.

[2016-09-22 19:03] #2350 closed

[2016-09-22 21:59] superkhau commented on #2776
I agree with your proposal in consolidating at some point. Needs to be one simple centralized consistent document across the board. Transparency is key here as we want everyone (community and internal) to be on the same page when it comes to contributions.

[2016-09-23 01:20] tatianacmh commented on #517
+1 (Postgres)

[2016-09-23 02:28] evasquez26 commented on #517
+1 (Postgres)

[2016-09-23 02:31] EddSuarez commented on #517
+1 (Postgresql)

[2016-09-23 07:28] Noob7 commented on #624
Hey,
Maybe im too late but from the remote method documentation on loopback i could find this:

**Formatting remote method responses**
You can reformat the response returned by all remote methods by adding a boot script that modifies the object returned by app.remotes() as follows:
/server/boot/hook.js
module.exports = function(app) {
  var remotes = app.remotes();
  // modify all returned values

[2016-09-23 12:14] rkmax commented on #517
:+1:  for Postgres

[2016-09-23 14:41] siyb commented on #1321
+1

[2016-09-23 14:44] bajtos commented on #2371
Status update: Yesterday, we have released `3.0.0` as a release-candidate version. Expect a production-ready GA version to be available in few weeks time.

[2016-09-23 15:32] frankorama commented on #2414
I am having the same issue.  We have a database which contains several companies, and each company can create several tags such that the Tags model has a foreign key property "companyId".

We created a middleware to always add a filter so that the user only sees their company's tags.

The problem is when calling GET **/api/Tags**, the `req.filter.where` clause must be an object.  When calling **/a

[2016-09-23 15:45] emsedano opened #2785 "is it posible to have client folder outside (in different repo)"
We are planning to separate the ui from the backend... is there a way to have for example insead of
[code]
have...
[code]

If we get this... how we can tell loopback node app where the client is ?
is there a way to reach this ?

I appreciate your help, thank you!
cheers!
EM

[2016-09-23 15:48] loay commented on #1796
Also, I am assuming that this part below is already done. emailVerificationRequired needs to be set to true as per the docs here: https://docs.strongloop.com/display/public/LB/Registering+users

[code]
 If All that is done and the previous steps still show no data in your db file, can you please provide a sample of your repo so I can have a look.

Thanks.

[2016-09-23 15:48] #1796 closed

[2016-09-23 15:49] issmile opened #2786 "How often do the global variable configuration?"
I have a demand,Need  global read  'showDate' variable,

1.In the beginning,I want to create a new config model,then,I put the time variable showDate inside.The question is I have to read it in custom  Remote methods  of  another model , how to make a query in another model ?Such as I want to be in the item Model query showDate from config model?

2.If I had get the 'showDate' ,I don't want query

[2016-09-23 17:59] emsedano commented on #2785
nevermind I got it

[2016-09-23 17:59] #2785 closed

[2016-09-23 18:28] Amir-61 commented on #2786
Is this intentional? Or you are asking whether this is a good approach to share methods in different models? The easier approach probably would be to define all your utils methods in a separate file (lets say `util.js` or whatever) and require it wherever (in any model or...) you want to use it. However different folks may have different tastes.

I recommend asking this type of question in our [Go

[2016-09-23 21:55] msarm opened #2787 "Unable to install just "buffertools" on Windows 2012R2 64bit server. Added NPM debug file."
**Failed at the buffertools@2.1.4 install script 'node-gyp rebuild'.**

-----------------NPM debug error -----------------------
0 info it worked if it ends with ok
1 verbose cli [ 'C:\Program Files\nodejs\node.exe',
1 verbose cli   'C:\Program Files\nodejs\node_modules\npm\bin\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '-g',
1 verbose cli   'buffertools' ]
2 info using npm@3.10.3
3 i

[2016-09-23 22:06] superkhau commented on #2787
What are you running? `npm install -g strongloop`?

[2016-09-24 03:09] Fercho191 commented on #568
I have the same problem, I try and write something right ring but I can not function that I write in the script of the model.

[2016-09-24 04:50] issmile commented on #2786
@Amir-61 I am sorry ,My English is not good ,I think you are misunderstanding ,I am ask for help ,and I am Not sure  what I think is right, Many of them is to use translation software translation of the sentence,我想问的是,怎么样调用另一个模型的方法在这个模型.js中.还有怎么用缓存?

[2016-09-24 08:44] issmile opened #2788 "How to getting references to models?"
My English is not good .see picture ,In order to avoid misunderstanding,因为我用翻译软件问的问题
Why console.log(app.models.config) is undefine? how to make right?

![image](https://cloud.githubusercontent.com/assets/20268011/18807308/f65864bc-8275-11e6-9b71-866e9ff4c888.png)

[2016-09-24 09:47] zsszatmari opened #2789 "How to list all objects owned by me?"
Hi!

  I am struggling with this. How to list all items belonging to me? For example, I am looking at loopback-example-access-control project. I am querying GET /users/{id}/team with correct user id and access token, but I get 401 auth required error.
 Also, a related question: if I create a new item with POST or PATCH, can I somehow assign the specific ownerId on server side to the newly created

[2016-09-24 10:34] penguinpowernz commented on #2778
Thanks for confirming that @frankorama.  Any more info needed from my side?

[2016-09-24 11:58] ChBernat commented on #2788
Could you check app.models, please? Whether it has some value or is undefined.

[2016-09-24 13:28] issmile commented on #2788
@ChBernat       I follow the doc as same ,but not work.and  how to check ?     like this ? consolo.log(app.modles) see:
![image](https://cloud.githubusercontent.com/assets/20268011/18808760/9795a21e-829d-11e6-90d8-53834ac73b1e.png)

[2016-09-25 03:40] yickling opened #2790 "Getting raw body data using loopback"
I'm having trouble getting raw body data using loopback.
I'm currently adding the middleware via `middleware.json`
[code]

Most expressJS solutions suggest the use of a middleware that listens to the req.on('data') event, typically through the 'verify' function in the `body-parser` middleware.

Since the middleware is done through a JSON file I cannot provide a 'verify' function to configure the `

[2016-09-26 02:09] clearmirror commented on #1955
Model.beforeRemote('prototype.updateAttributes', function(ctx, modelInstance, next){
    console.log(modelInstance);
    next();
  })

The modelInstance is always empty object {}. However ctx.instance is the instance snapshot before the update. What modelInstance is supposed to be?

[2016-09-26 05:50] noomerzx opened #2791 "How to make relation that FK type is string"
I've 2 example model on my db(mySql) is campaign and campaign_status. For example

T_Campaign
- id : integer (PK)
- name : varchar
- campaign_status : varchar (FK)

T_Campaign_Status
- status : varchar (PK)

In my loopback model has simple relation as
- T_Campaign belongsTo T_Campaign_Status
- T_Campaign_Status hasMany T_campaign

FK is T.Campaign.campaign_status and this field is string on both m

[2016-09-26 08:09] yickling commented on #2790
Used a separate way of getting raw body data by attaching custom middleware code to the initial:before phase of middleware. Would still love to have a way of doing that via bodyparser setup.

[2016-09-26 08:09] #2790 closed

[2016-09-26 08:23] cburnicki opened #2792 "Access additional url parameters in a GET request"
Hi,

I couldn't find a solution for my problem so far. Maybe I am using a wrong approach here. The idea is the following:

I am using loopback to write a simple service to manage translations. So far, I have a model `translation.json`:

[code]

Later on, a translation should contain more languages, not only `en` but also, for example, `es` and `fr` for spanish and frensh translations.

Also, my tr

[2016-09-26 09:17] benkroeger commented on #2778
reported same bug a while ago #1071. It's supposed to be fixed in 3.x but not backported to 2.x due to suspected breaking changes

[2016-09-26 14:28] Amir-61 commented on #2786
No worries @issmile. I ask @jannyHou to help on that. She speak Chinese too :-)

[2016-09-26 14:54] jannyHou commented on #2786
Hi @issmile I assume your two questions are:
1. How to call modelB's methods in modelA.js file.
2. How to store a var value globally.

- For question 1, as @Amir-61  explained, in your modelA.js file:
[code]
  Please check answer https://github.com/strongloop/loopback/issues/1213#issuecomment-81148615 for details.

- For question 2, it depends on the scope of where do you need the variable:
 e.g.

[2016-09-26 15:43] Amir-61 commented on #2778
I believe you are right! IIRC It was fixed a while ago for LB 3.x https://github.com/strongloop/loopback-datasource-juggler/pull/796

@crandmck So When we document https://github.com/strongloop/loopback/issues/2778#issuecomment-248963090 we should mention thats the 2.x version behaviour and it is fixed now in LB 3.x. We could not backport it because it was a breaking change in 2.x.

Thanks @benkro

[2016-09-26 16:38] Amir-61 commented on #2788
Could you try `Item.app.models.ModelB.config` in your code? If it still does not work please create a sample repo using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) to reproduce the issue.

Thanks :-)

[2016-09-26 18:55] Amir-61 commented on #2792
Hey @cburnicki,

tbh I'm not sure what you want to accomplish here.

Do you need to have this endpoint `GET localhost/api/translations/:id?lang=en&price=myPrice`? Is this ^ the requirement?

I would think indetead of having a model with many preoperties like `en`, `es`, `fr`,... it is better if you normalize your models and create another model, lets call it `language` where you would have `id`, `

[2016-09-26 20:28] Amir-61 commented on #2791
Hey @noomerzx,

To make the triage process easier, could you please provide a sample repo using https://github.com/strongloop/loopback-sandbox to reproduce the issue? It would be way easier if we see the actual code.

Thanks

[2016-09-26 23:25] chris-hydra commented on #1495
On  Aug 19 @digitalsadhu said:

@digitalsadhu, could you elaborate on the final form of your approach to replace currentContext?

I see about 6 variations on the solution discussed above, and as a SL noob I would appreciate a simple code sample, a "with CLS" and "no CLS" kind of thing... ; )

[2016-09-27 00:02] #2769 closed

[2016-09-27 01:10] loay commented on #1768
Closing this issue due to inactivity. Also, there were few fixes in the other referred issue. If you are still experiencing the same issue, please leave a comment and I will re-open. Thanks

[2016-09-27 01:10] #1768 closed

[2016-09-27 01:11] loay commented on #1715
Closing due to inactivity, if still experiencing the same issue, please feel free to leave a comment and will re-open. Thanks

[2016-09-27 01:11] #1715 closed

[2016-09-27 05:04] noomerzx commented on #2791
I already solve this issue. The problem is I'm remove idinjection form model instead of set it false. So that why loopback alway though the FK is number.

Thx you so much by the way :)

[2016-09-27 05:04] #2791 closed

[2016-09-27 05:59] kamal0808 opened #2793 "Cannot access related models in afterSave operation hook"
I tried accessing related models in afterSave hook through the ctx object, but there seems to be no easy way of doing this. I have a model with HasMany relationship to another model, and access it through the following code.

`MyModel.find({include: 'relatedModel'}, func(){...});`

Could someone guide me as to how can I access the model instance with its relations in afterSave hook?

I need someth

[2016-09-27 07:43] ywang-clarify opened #2794 "PersistedModel.createChangeStream doesn't clean up observers?"
I've been trying to implement server-sent events for my custom endpoints based on the PersistedModel.createChangeStream pattern hoping to use the angular-live-set module to easily consume them on the client side. But from what I'm seeing, the code in PersistedModel.createChangeStream doesn't clean up observers?

As a test, I cloned https://github.com/strongloop/angular-live-set.git and put some co

[2016-09-27 08:12] cburnicki commented on #2792
Hey @Amir-61 , thanks for your answer.
The model is denormalized on purpose. However, I will close this issue and reopen a discussion in your google group within the next day or so.

[2016-09-27 08:12] #2792 closed

[2016-09-27 11:29] shuckepco commented on #683
This is definitely a "must have"!

[2016-09-27 12:10] loay commented on #1711
Hi @mastertinner
Still having trouble with the same issue?
Thanks

[2016-09-27 12:42] mastertinner commented on #1711
Hi @loay
I restructured my app back then to not depend on this anymore so I cannot tell you if the error would still occur. For me, the issue can be closed.

[2016-09-27 12:56] loay commented on #1711
Thanks. I will double check if any updates are done within Mongo to see if that has been addressed or not. If you encounter the same issue again, please leave a comment here and I will re-open the case.

[2016-09-27 12:56] #1711 closed

[2016-09-27 13:27] loay commented on #1709
Hi @MarkAndrewJohnson I am closing this issue. If you are still experiencing the same issue, please feel free to leave a comment and I will re-open the case. Also, please provide a test project as per the previous comment. Thanks

[2016-09-27 13:27] #1709 closed

[2016-09-27 13:29] loay commented on #1682
@henryhardy is this issue fixed on your end? Thanks

[2016-09-27 14:26] kinabalu opened #2796 "Receiving a 401 for a missing model when ACL deny everyone, allow $owner access"
Running into a strange issue.  Often with our models we have the following ACL setup:

[code]

However, after being logged in with an authenticated user, a client can issue a normal RESTful request such as: `GET /api/model/{modelId}` or `DELETE /api/model/{modelId}`

and if the modelId is not in the database, rather than a 404 being issued, it throws a 401.  It is seemingly because the `$owner` do

[2016-09-27 15:13] #2764 closed

[2016-09-27 15:35] loay commented on #1634
Hi @csvan Closing the issue due to inactivity. If you are still experiencing the same issue, please leave a comment and I will re-open the case. Also, please provide a test project to reproduce the issue as per the previous comment. Thanks.

[2016-09-27 15:35] #1634 closed

[2016-09-27 15:37] kirgene opened #2797 "Embedded model fields get lost during PATCH"
I have following relation between User and Settings models:
User - (embedsOne) - Settings
When I try to PATCH individual fields of Settings model the rest of fields get lost.

[2016-09-27 15:43] Amir-61 commented on #2791
@noomerzx

I'm glad that the problem got resolved :-) Thanks for letting us know.

[2016-09-27 15:53] loay commented on #1510
Hi @ezraroi
It is displayed as for example: `"2016-12-25T00:00:00.000Z", `
is that what you are getting?

[2016-09-27 16:10] Amir-61 commented on #2793
Hey @kamal0808,

AFAICT there is `after save` hook for any `find` methods. All the related instances are handled [here](https://github.com/strongloop/loopback-datasource-juggler/blob/24f000d9781cc93db5ccdd782bdc9b8507688f9e/lib/dao.js#L1863-L1899) in dao.js. Am I missing something here? To make the triage process easier, I would suggest that you provide a sample repo using our [loopback-sandbox](h

[2016-09-27 16:57] Amir-61 commented on #2794
Hey @ywang-clarify,

Thanks for filling this issue. I just wonder if you can give me steps to reproduce the issue on my end or ideally provide me with a sample repo to reproduce the issue using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox)...

I'm not sure what you mean here... We have two methods to remove/clean observers which are [MyModel.removeObserver](http://apidocs.

[2016-09-27 17:05] Amir-61 commented on #2797
Hey @kirgene,

Could you please provide a sample repo using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) to reproduce the issue? That would help alot to triage the issue...

Thanks a lot!

[2016-09-27 17:12] loay commented on #1459
Hi @bitmage
are you still experiencing the same issue?
Thanks

[2016-09-27 17:22] chris-hydra commented on #1495
Hello again,

I came to this page from: https://docs.strongloop.com/display/public/LB/Using+current+context, which links to this page with the following (emphasis mine):

As I mentioned in my effort to contact @digitalsadhu, I'm trying to sort through all of the "alternative solutions" mentioned above in this thread to understand what the fix will entail.

I see @ritch commented on Sep 17, 2015

A

[2016-09-27 17:34] loay commented on #1622
Hi @ziobo @edwincen @grzegorzgolec
still experiencing the same issue?If so, can you guys share a sample project so we can debug the issue? Thanks.

[2016-09-27 17:36] loay commented on #1207
Hi, is this issue fixed? I see the PR merged and also @cfjedimaster blog.
If not, please let me know. Thanks.

[2016-09-27 17:38] loay commented on #1511
I thought that issue was fixed as per this case: https://github.com/strongloop/loopback/issues/1139

Is it still persisting?

[2016-09-27 18:05] loay commented on #1680
Hi @enco164 closing the issue for inactivity. If you are still having the same issue, please leave a comment and I will re-open. Please provide a test project so we can reproduce. Thanks.

[2016-09-27 18:05] #1680 closed

[2016-09-27 18:14] digitalsadhu commented on #1495
@chris-hydra

Our early apps used current context, we fell prey to CLS buggyness and did some rewriting to use a solution similar to what @ritch proposed in the description of this issue. We only did this 1x as we found it just caused us too much hassle trying to pass around the context all the time.

In the end what we settled on was to never use operation hooks which to my knowledge are the only

[2016-09-27 18:16] Amir-61 commented on #2796
I'm trying to reproduce the issue; I appreciate it if you can fork [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) to reproduce the issue.

Thanks!

[2016-09-27 18:26] loay commented on #2280
Hi @mario128mex Is this issue still persisting?
I think this PR should fix the issue: https://github.com/strongloop/loopback-datasource-juggler/pull/900/files

[2016-09-27 18:35] ywang-clarify commented on #2794
Hi @Amir-61 ,

What I'm referring to is a buildup of server-side observers that continue to exist and do work after the request that triggered their creation is terminated. You can reproduce this in any loopback application that has PersistedModels. Pick any model that inherits from PersistedModel and does not override the default behavior of exposing the change-stream REST endpoint. If you have a

[2016-09-27 18:39] chris-hydra commented on #1495
@digitalsadhu, thank you for taking the time to write this up - I hope other folks will get some use out of this as well.

[2016-09-27 18:40] bitmage commented on #1459
I'm not working on the project where I encountered this any more.  Sorry.

[2016-09-27 18:57] loay commented on #1688
Hi @kranthitech
I checked your sandbox. You still need to create both the parent and child separately.
Quoting from the documents:
`
Treat embedsMany as an actual relation, no different from hasMany, for example. This means that you cannot just POST the full object with embedded/nested data to create everything all at once. So using the example above to add a Customer and multiple email addresses

[2016-09-27 19:03] loay commented on #1459
Thanks for your reply. I will close for now. If the same issue is encountered, please leave a comment so I can re-open. Thanks

[2016-09-27 19:03] #1459 closed

[2016-09-27 19:05] davidcheung commented on #2672
maybe related: https://github.com/strongloop/loopback/issues/2794

[2016-09-27 19:10] loay commented on #2096
Hi @anagrath I am not sure if I follow here. where is that code?
Is it a bug using a loopback app? Can you give more details so I can help out? thanks.

Also, as for the before/after save hook, there is code in `common/models.user.js` about email update and it does trigger the newInstance. Thanks.

[2016-09-27 19:14] jannyHou commented on #2642
Closing since pr https://github.com/strongloop/loopback-datasource-juggler/pull/1103 merged.
And it's also included in our new doc [Migrating-to-3.0](http://loopback.io/doc/en/lb3/Migrating-to-3.0.html)

[2016-09-27 19:14] #2642 closed

[2016-09-27 19:18] loay commented on #2085
PR is already merged. Closing the issue.

[2016-09-27 19:18] #2085 closed

[2016-09-27 19:32] loay commented on #1781
Hi @Ijmir I will close this issue in favor of this one: https://github.com/strongloop/loopback-connector-mongodb/issues/186
Thanks

[2016-09-27 19:32] #1781 closed

[2016-09-27 19:53] loay commented on #2739
Hi @penguinpowernz
Can you provide a test project with steps to reproduce so I can have a look?
Thanks.

[2016-09-27 20:04] loay commented on #2733
If I understand correctly, there should be no conflict if you call the right files with the right path. Unless, I missed something here, can you share a sample app with conflicting path?
Thanks.

[2016-09-27 20:18] kirgene commented on #2797
I've created a sample repo: https://github.com/kirgene/loopback-sandbox
Here are the steps to reproduce this issue:
1) ```git clone https://github.com/kirgene/loopback-sandbox```
2) ```npm i```
3) ```node . &```
4) ```curl -X POST --header "Content-Type: application/json" --header "Accept: application/json" -d "{
  \"email\": \"test@test.com\",
  \"password\": \"123456\",
  \"settings\": {
    \"c

[2016-09-27 20:48] anagrath commented on #2096
Yes, sorry.  Now that I am looking at it again, I was also confused and I can see what happened.

The code I pasted was from Application within Loopback.  Every time you save Application, it generates new keys for oAuth.  Which means, if the user just changes the name of the application, too bad, all your old keys are invalid.  The work around I implemented to avoid this checks if there is a new i

[2016-09-27 22:09] kinabalu commented on #2796
@Amir-61 thanks, i'll see what i can put together, looks like i'll have to get the user stuff migrated over or this won't make much sense with the ACL as it is

[2016-09-27 22:15] Sequoia commented on #2438
Here's my server config from a brand new scaffolded Loopback 2.34.1 application:

[code]

**`remoting.context.enableHttpContext` is not present**. Is this issue resolved?

[2016-09-28 00:41] crandmck commented on #2776
OK @superkhau I added the docs from `loopback-contributor-docs` to the doc site at http://loopback.io/doc/en/contrib/code-contrib.html.  I made some small formatting edits, but nothing major.

I want to rework the navigation for the "Contributing to LoopBack" space because right now it's mostly about doc contributions, and the above docs on code contributions are on their own.. I want to separate

[2016-09-28 01:02] superkhau commented on #2776
We should take the parts that are still relevant and merge it with the other doc sections. Governance should probably be in it's own subsection.

[2016-09-28 01:16] crandmck commented on #2776
Sounds good.  Do you want to take a first stab at it or shall I?

[2016-09-28 02:03] superkhau commented on #2776
Go for it. Ping me later if you need review and I'll chime in directly on the PR.

[2016-09-28 03:42] Amir-61 commented on #2788
@issmile Is your problem solved now? Is this ticket good to be closed?

[2016-09-28 05:27] Noob7 opened #2798 "Return next vs next in remote hooks"
Its not really an issue but the documentation is not very specific on whether the remote hook should use return when calling next with error or not

[2016-09-28 08:35] dongmai opened #2799 "Can I assign custom data to Error object ?"
Hi everyone,

I've used a middleware to validate the api requests, when there is an error occur I want to add a custom data to it, for example : I want to adding a new key with name 'errorCode' and the value is string defined by my system.

So the error response is something like
`{
  "error": {
    "statusCode": 401,
    "name": "Error",
    "message": "System is under deactivated mode.",
    "st

[2016-09-28 08:39] Overdrivr opened #2800 "Async boot scripts doc clarification"
With multiple asynchronous boot scripts, is the server waiting for the first boot script (using alphabetical order) to call back before starting the next boot script ? Or is starting all of them at once, and waits for all to call back ?

I believe this is not [documented](https://docs.strongloop.com/display/public/LB/Defining+boot+scripts), and IMO it could be an improvement to add it.

[2016-09-28 09:11] dongmai commented on #2799
Seems use next(err) in middleware somehow remove all my custom keys on error object. I have to handle response error myself as in strong-remoting/lib/rest-adapter.js. And it worked fine now.

Hope anyone can explain this. Thanks.

[2016-09-28 11:42] aorlic commented on #1495
@digitalsadhu, your approach seems to be natural and simple. How can it be used to access the state from the model's code, for example from the overrided CRUD method?

[2016-09-28 12:16] digitalsadhu commented on #1495
@aorlic
We typically disable the CRUD endpoint in question and implement our own as a new remote method injecting ctx as needed.

eg. replacing find would look something like this
[code]

Please excuse any mistakes, code above is untested and mostly going from memory.

I especially like this approach as the behaviour of the ORM's find method stays the same, only the endpoint is overridden.

[2016-09-28 12:58] loay commented on #2799
Hi @dongmai
I have to see the code in order to debug and see where the problem is but in general and depending on the callback function and its structure, you can use something like that:
if (err) return callback(err); and that should return the err.
If next is being used in your code, then same thing: if (err) return next(err);
Again, I can't really judge without seeing the code itself and how to

[2016-09-28 13:02] aorlic commented on #1495
@digitalsadhu, I get it, thank you. Seems like a valid workaround, as the external REST endpoints remain just the same.

However, I just cannot believe that a serious API Server does not permit to legally override a CRUD method (without this kind of hacking) and access the context from it.

What else a developer is expected to do in an API Server, if no to play with CRUDs?

[2016-09-28 13:03] loay commented on #2798
Hi @Noob7
Are you talking about this document? https://docs.strongloop.com/display/public/LB/Remote+hooks

[2016-09-28 13:28] loay commented on #2800
I believe it states that in this part:
https://docs.strongloop.com/display/public/LB/Defining+boot+scripts#Definingbootscripts-Asynchronousbootscripts

`You must call the callback function when the script is finished to pass control back to the application.`
so as per your question this is the answer: ` is the server waiting for the first boot script (using alphabetical order) to call back before

[2016-09-28 15:14] marcoskubis opened #2801 "Where has relation feature"
Would be useful a fueature that allows filter results based on your relational data. An example:

**This should return all post that has a admin user:**

[code]

A similiar feature already exists? If not, would be nice to have.

[2016-09-28 15:16] ezraroi commented on #1510
No, the type is specified as String

[2016-09-28 15:20] aorlic commented on #1495
@digitalsadhu, one more question for you. In case of "overriding" a findById method this way, what should go here?

` http: {path: '/', verb: 'get'}`

What does it mean returns: {root: true}?

Thank you very much!

[2016-09-28 15:20] loay commented on #1510
Hi @ezraroi
Sorry I can't reproduce that. Can you create a test project with steps to reproduce so I can debug?
Thanks.

[2016-09-28 17:17] Amir-61 commented on #2801
@marcoskubis

This is already doable by:
[code]

Please see include filter doc [here](https://docs.strongloop.com/display/public/LB/Include+filter) for more info.

Please let me know if that answers your question?

Thanks!

[2016-09-28 17:19] superkhau commented on #2800
@crandmck Any improvements to the wording we can make in the docs?

Boot scripts are processed alphabetically, one at a time (not in parallel) -- this applies to both sync and async boot scripts.

[2016-09-28 17:24] Amir-61 commented on #2786
Is this ticket good to be closed now?

[2016-09-28 17:32] Overdrivr commented on #2800
Is not very clear IMO. Your sentence @superkhau in the contrary is ideal, clarifies anything without doubts.

[2016-09-28 18:00] digitalsadhu commented on #1495
@aorlic looking at the loopback source code, the definition for findById here:
https://github.com/strongloop/loopback/blob/master/lib/persisted-model.js#L733
looks like:

[code]

`{root: true}` just means that whatever the remote method returns is returned at the root of returned payload.

See the "argument descriptions" section of the remote methods docs here:
https://docs.strongloop.com/display/

[2016-09-28 18:01] crandmck commented on #2438
@bajtos Since currentContext is deprecated, should we spend time on this issue?

[2016-09-28 18:30] Destreyf opened #2803 "BelongsTo Relationship Include causes crash"
I am making a request like this
![image](https://cloud.githubusercontent.com/assets/967304/18926916/d573bc52-8576-11e6-9b8f-79d5a870b04a.png)

and it causes the loopback api to crash.
[code]

my relationships look like this:
**course.json**
[code]

**author.json**
[code]

if i do a different relationship include on courses (sections) it works fine, funny enough, if i go to my sections which has a

[2016-09-28 18:32] marcoskubis commented on #2801
@Amir-61 thanks for reply. But this only filter the included results, does not affect the "Posts" results.
In the example: I want return only Posts that owner is a admin user, not all.

[2016-09-28 18:33] Destreyf commented on #2803
Also, i'd like to note that i am using the postgres connector.  there's also issue #2112 which has the same error but no resolution, its specifically mentions nested relationships, but this is happening with including them.

[2016-09-28 18:37] marcoskubis commented on #2801
I'm using the Mongo connector, but a mysql examplo could be:

    SELECT * FROM posts WHERE EXISTS (SELECT * FROM users WHERE users.id=posts.user_id AND user.role='admin')

[2016-09-28 18:43] Destreyf commented on #2803
Its also worth noting that this only happens when triggering a findById.  using find with the filter works perfectly.

[2016-09-28 19:19] Destreyf commented on #2803
I think i have something else wrong, when i do a /courses/407, i get returned course id 394 so something is wonky and not using what its supposed to.

[2016-09-28 19:24] loay commented on #1434
Closing this case for inactivity. If you are still experiencing the same issue, please feel free to leave a comment and the case will be re-opened. Thanks.

[2016-09-28 19:24] #1434 closed

[2016-09-28 19:28] Destreyf commented on #2803
This was caused by a mixin rewriting they "query" and basically removing the where statement causing it to have a bad query, i thought i had removed all the mixins during my testing but i had left one hanging.

[2016-09-28 19:28] #2803 closed

[2016-09-28 19:39] loay commented on #1682
Closing this case for inactivity. If you are still experiencing the same issue, please feel free to leave a comment and the case will be re-opened. Thanks.

[2016-09-28 19:39] #1682 closed

[2016-09-28 20:11] loay commented on #2096
Hi @anagrath
I thought that is an expected behavior for security reasons.
Can you please submit a Pull Request with your workaround and mention me in it? Thanks

[2016-09-29 00:07] crandmck commented on #2516
Added a note to:

- http://loopback.io/doc/en/lb2/Managing-users.html
- http://loopback.io/doc/en/lb2/Using-built-in-models.html#user-model

[2016-09-29 03:18] issmile commented on #2788
@I found why.the reason is must be in function.thanks

[2016-09-29 03:18] #2788 closed

[2016-09-29 04:23] dongmai commented on #2799
Where should I put the test project ?

[2016-09-29 13:24] zeriss commented on #854
I have an extended class of User and the method Role.isOwner(modelClass, modelID,userID,callback) returns false. isUserClass function fails on the modelClass.prototype instanceof User. Any idea ?

[2016-09-29 15:42] loay commented on #1688
Closing this case for now. If you are still experiencing the same issue, please feel free to leave a comment and the case will be re-opened. Thanks.

[2016-09-29 15:42] #1688 closed

[2016-09-29 16:25] richardpringle commented on #2770
@superkhau, what does your input look like?

[2016-09-29 16:44] loay commented on #2799
Hi @dongmai
Please follow instructions here: https://github.com/strongloop/loopback/wiki/Reporting-issues
Thanks

[2016-09-29 16:46] loay commented on #571
Closing this issue in favor of this: https://github.com/strongloop/loopback-datasource-juggler/issues/103

[2016-09-29 16:46] #571 closed

[2016-09-29 21:24] jbcpollak commented on #2248
I'm interested in something similar. Give a set of points with x and y fields, I would like to do something like this:

`ORDER BY (x-4)(x-4) + (y-3)(y-3)`

In other words, order by distance from a known point.

I realize there is the GeoPoint API, but I need to work in non-Geographical units, and there are other functions that would be handy to have accessed by the database.

[2016-09-29 21:29] pruje opened #2805 "Cannot change error message if status 500 in Loopback 3.0"
Hi
Since I use loopback 3.0, I've a strange issue concerning return errors.
Since loopback 2, I use promises instead of callbacks and that is great.
A very simple example, working on loopback 2:

[code]

Now I run it in loopback 3.0.0; if I set a reject status different from 500 (e.g. 404, 400, ...), I got my custom message. But if I don't specify a status or specify status 500, my message is alwa

[2016-09-29 21:31] superkhau commented on #2770
@richardpringle the remoting for expires is at https://github.com/strongloop/loopback/blob/master/common/models/key-value-model.js#L187-L195.

After some digging, the interesting part is API explorer with the above remoting settings doesn't submit any values in the curl request (missing -d ... contents or -F for form data). Meaning it doesn't submit any data to the backend.

That said, I did a bit

[2016-09-30 00:13] superkhau commented on #2248
@jbcpollak Can you use a custom query? http://loopback.io/doc/en/lb2/Executing-native-SQL.html

[2016-09-30 08:38] bajtos commented on #2770
There is one part that I don't understand. AFAIK, Explorer/swagger-ui should be sending JSON-encoded request bodies, not `application/x-www-form-urlencoded`. Therefore the HTML5 limitation allowing only POST for HTML forms should not be relevant here.

@superkhau could you please investigate more?

1) What is the swagger description of `expire` method?
2) How is this description handled by swagger

[2016-09-30 08:40] bajtos commented on #2770
Also note that loopback-component-explorer is using our fork of swagger-ui/js, we may be able to implement the fix there.

[2016-09-30 08:45] bajtos commented on #2438
As part of working on https://github.com/strongloop/loopback/pull/2439, I have changed the doc page a bit. Right now, new applications are scaffolded with `context: false` and the option was removed from LoopBack 3.0 completely.

I am closing this issue as fixed.

[2016-09-30 08:45] #2438 closed

[2016-09-30 09:24] kwuite commented on #1138
@loay

I am in the process of using Mandril as an e-mail service. But in now way it seems possible to use Mandril since I cannot pass the mandrill template via the options to user.verify().

Do we have a solution for this, or will I be implementing a custom verification script?

[2016-09-30 11:57] jbcpollak commented on #2248
We are currently using the memory store, but I would have switched to
Postgres if query parameters were supported.

Considering all the warnings at the top of the native SQL page, in
disinclined to give it a try.

Would it be possible to have a 'native where' field in the find()
parameters, so we could stick with the existing API but inject our own
order by and where options?

On Thu, Sep 29, 2016

[2016-09-30 12:09] bajtos commented on #2805
@pruje this is intentional. When running in production mode, we are hiding 5xx error messages because they can leak sensitive information (e.g. file paths in `fs` errors).  See http://loopback.io/doc/en/lb3/3.0-Release-Notes.html#new-error-handler-for-rest-adapter

For debugging purposes during development, you can enable `debug` mode - see https://github.com/strongloop/loopback/blob/72b57ca68dee6

[2016-09-30 12:14] zhenyanghua commented on #1138
@kwuite the user.verify() method calling the `Email.send()` to send the mail, the send method is implemented in the `User` model to use `nodemailer`. If you'd like to use another e-mail sender library, you can write just simply write your own verify method by using your own mailer. The verify method is just to send out an email with the `confirm` endpoint token, and then you may install write a `c

[2016-09-30 12:53] kwuite commented on #1138
@zhenyanghua, thank you for your reply.

I resolved the issue by generating the token and then calling user.save so I can proceed with the call to mandrill.
[code]

[2016-09-30 14:25] bajtos opened #2807 "Drop support for Node v0.10 and v0.12"
Based on the discussion below, we are going to drop support for Node v0.10 and v0.12.

For modules in release-candidate mode, we will make the change within the current major version (see the comments below for reasoning).

For other modules, we will release a new major version.

**Tasks**
- [x] Modify `engine` field in all loopback packages to state v4 as the lowest supported Node version
  - [x]

[2016-09-30 16:01] crandmck opened #2808 "Update links in code to documentation"
There are links to docs.strongloop.com in various places in the code that we should replace with links to the new doc site `loopback.io/doc`.

https://github.com/strongloop/loopback/search?utf8=%E2%9C%93&q=%22docs.strongloop.com%22&type=Code

NOTE: The new site will remain around for a while, but it is deprecated for LoopBack, so we _should_ update the links.

**This issue is specifically for URLs

[2016-09-30 17:59] superkhau commented on #2770
Then I believe https://github.com/strongloop/loopback/blob/master/common/models/key-value-model.js#L192 may be wrong and should be changed from `form` to `body`?

1. https://github.com/strongloop/loopback/blob/master/common/models/key-value-model.js#L187-L195
2. They simply don't send any params (I simply opened network inspector and checked if any outgoing params are sent with the request -- they

[2016-09-30 18:07] crandmck commented on #2776
@superkhau https://github.com/strongloop/loopback.io/pull/81

[2016-09-30 18:37] loay commented on #2766
Hi @dtaylor7
Both user and user2 have the same email.
when the code is changed to
[code]
the expected error 401 is obtained.

[2016-09-30 18:43] emtiazahmed commented on #1033
Any progress on this? I want to go with loopback but without this connector it would be impossible.

[2016-09-30 19:26] superkhau commented on #1033
We do not have any current plans to support the connector on the roadmap.

Would any of you guys like to make a community connector? We could add it to strongloop-community like https://github.com/strongloop-community/loopback-connector-elastic-search (which is actively maintained by one of our community members @pulkitsinghal).

[2016-09-30 22:08] crandmck commented on #2776
I replaced all the content in https://github.com/strongloop/loopback/wiki with links to the corresponding pages on loopback.io.

[2016-09-30 23:37] superkhau commented on #2770
I've narrowed it down to:

1. Setting remoting to `source: 'body'` instead of form sends the correct object (Content type as application/json), but shows in API explorer as a textbox instead of an input field -- meaning you can pass in "60000" which is a not a JSON object.

2. Setting remoting to `source: 'form'` correctly shows a input field, but doesn't send the data as part of it's request.

[2016-10-01 00:12] superkhau commented on #2442
@bajtos After doing a bit of spiking on this, its fairly simple to integrate templates. However, I think we need to use a combination of updating CONTRIBUTING.md and ISSUE_TEMPLATES.md.

For example, we need the users to read http://loopback.io/doc/en/contrib/Reporting-issues.html when creating new issues -- this shows up as a yellow bar when creating issues (the content is from CONTRIBUTING.md).

[2016-10-01 06:20] kerwynrg commented on #1841
👍

[2016-10-01 22:14] hristo-vrigazov opened #2811 "Loopback internal error when null is passed in url parameter, e.g. people/null/conversation"
Steps to reproduce:
1. Create a loopback app
2. Add person (derive from User model) and conversation model
3. Add relation person hasMany conversation from person to conversation

POST people/something/conversation
correctly says that there is no model with such id. However,

POST people/null/conversation
shows internal error

[2016-10-02 11:58] BoLaMN commented on #1010
+1

[2016-10-02 21:08] pruje commented on #2805
@bajtos thanks for the information. If you can improve documentation, it would be great.
For me it's OK; I let you close this issue if you want.

[2016-10-03 03:14] BoLaMN commented on #1321
I do this in my json files with a mixin I wrote for validations [link](https://github.com/BoLaMN/loopback-validate-mixin)

[code]

[2016-10-03 03:20] mario128mex commented on #2280
Hi @loay, in the end i made a not optimal solution, but I'll try to fix it with the datasource juggler updated, I'll keep you updated

[2016-10-03 04:42] sinegovsky-ivan opened #2812 "Can i easy write loopback app with TypeScript?"
Can you please provide any examples of TypeScript's loopback application?

Thank you!

[2016-10-03 07:56] emresebat commented on #1264
Hi @fabien

I'm trying to add a default scope in a mixin without success.

Did you create a mixin which contains a defaultScope? I need to add this via mixin

[code]

[2016-10-03 08:06] lsAmAre opened #2813 "Is it possible to create hook before request access ACL?"
I want to use **$owner**, so that only owner can update User information.
I know that if my front-end colleagues request by using "**id**" as a arg, it would work.
However, my front-end colleagues pass arg "**userId**", so loopback cannot know what the "**id**" is.

Is it possible to create hook before request access ACL?
So that I can add ctx.id = ctx.userId or something.

[2016-10-03 16:27] waldemarzahn commented on #274
I just had the same problem and i found a very simple workaround:

**One example:**
A city belongs to a country.

This is not working:
_model-config.js_
[code]

This works:
_model-config.js_
[code]

The container model (in this example country) must be at the bottom. this way the foreign key will be parsed to an ObjectID and not an string.

[2016-10-03 17:52] richardpringle commented on #2770
This is definitely a problem with explorer. The `content-type: application/x-www-form-urlencoded` header is not set by the swagger UI. Using Postman, the `form` source works fine.

[2016-10-03 18:37] sundeepgupta commented on #1009
I'm finding that the `nlike` operator is working as a workaround in my particular case, which is for a MongoDB connector and `string` type property.

`Account.find({where: {analyticsId: {nlike: ''}}})`

[2016-10-03 20:09] caoer commented on #1841
+1

[2016-10-03 23:25] crandmck commented on #2777
@rahpuser  `patientId` is the foreign key property. What's the inconsistency?

[2016-10-03 23:46] crandmck commented on #2242
Added to http://loopback.io/doc/en/lb2/datasources.json.html

[2016-10-03 23:55] rahpuser commented on #2777
[code]
Between those two lines. One is using `patient` and the other one is using `patientId`.
But both methods accept an id, so that different drives developers to think `add` method behave different than `findById` and accepts a patient instance instead of a patient id.

I haven't used remove so I'm not sure if remove is accepting a patient object or a patient id.

[2016-10-04 03:52] sebfindling commented on #2660
how do i update my project to fix this problem?

[2016-10-04 04:47] superkhau commented on #2770
@bajtos Had a meeting with @raymondfeng today regarding this issue and we decided to go with the query string route.

1. Simple one liner change to get it working in LB
1. Found a bug in loopback-swagger (we need to coerce 'form' to 'formData' -- we have other tests in various projects setting `source: 'form'`, but they are all returning false positives as `form` is not actually supported by Swagg

[2016-10-04 12:48] bajtos commented on #2442
Take a look at https://github.com/nodejs/node/blob/master/.github/PULL_REQUEST_TEMPLATE.md for inspiration.

Please look at https://github.com/nodejs/node/blob/master/CONTRIBUTING.md too

[2016-10-04 13:11] bajtos commented on #2770
I believe this is a breaking change. How are we going to ensure existing apps don't break after upgrade?

+1

Note there is a catch here: because Swagger's `formData` type expects url-encoded form data body (as opposed to LoopBack, which allows JSON too), arguments are not allowed to have a an object type. This does not affect `ttl`, which is a number, but we need to handle this case in loopback-s

[2016-10-04 15:53] bajtos commented on #2772
Timeboxed to 3 story points this sprint.

[2016-10-04 16:04] sundeepgupta opened #2816 "A model with a required property of `array` type can't have empty array as a value"
[code]

When creating a model with a property like this and without specifying a value for `times`, I get a validation error. Is this expected?  I would thing empty array is a valid value.

[2016-10-04 16:52] Sequoia commented on #876
Reviewing Docs. I will step thru each of the features described and note if anything doesn't work. When that's finished I should be able to recommend publishing and/or merging the two pages.

[2016-10-04 16:52] bajtos opened #2817 "doc: how to fetch existing model data inside operation hooks"
I noticed this question is frequently asked these days: how can one get the current (old) data in a "before save" hook? `ctx.data`, `ctx.instance` and `ctx.currentInstance` always contain the new modified version.

The solution: fetch the data from the database.

Example implementation: https://github.com/strongloop/loopback/pull/2693/files

[2016-10-04 16:55] Sequoia commented on #876
Reviewing [the new version of what @crandmck linked](http://loopback.io/doc/en/lb2/Email-connector.html) and [the new version of what @hacksparrow linked](http://loopback.io/doc/en/lb2/Email-REST-API.html) (which is, incidentally, *published*).

[2016-10-04 18:58] Sequoia commented on #876
# Observations
* http://loopback.io/doc/en/lb2/Email-REST-API.html This page was clearly scaffolded & never fleshed out. Not clear why you’d have an “email” API, email is usually accessed thru another model.
  * Email has no rest endpoints `"Shared class  \"Email\" has no method handling POST /"`
* The top level Using Built-in Models page has [a section describing how to use the built-in email mod

[2016-10-04 19:06] zhenyanghua commented on #968
@chinajuanbob Here is an example that just use internal Role and RoleMapping to get the roles from user id. [https://gist.github.com/zhenyanghua/d24ea57cd70e69bcb82dc3bc8f14ea74](https://gist.github.com/zhenyanghua/d24ea57cd70e69bcb82dc3bc8f14ea74)

[2016-10-04 19:28] crandmck commented on #876
Sounds like a plan.

When you do this, be sure to also remove it from the sidebar `yml`.  Also remove from any of the translated sidebars as well.

[2016-10-04 20:24] crandmck opened #2818 "Explain KV connector vs. PersistedModel style connectors"
From https://github.com/strongloop/loopback-connector-redis/issues/16:

Is this only relevant to Redis?  IIUC there is also a memory KV connector.

[2016-10-04 23:46] superkhau commented on #2818
Yes, KV memory also applies (same as KV redis style).

[2016-10-05 07:51] bajtos opened #2819 "Honour forceId:true in swagger model definitions"
There isn't any easy way that I am aware of. OTOH, we have a `forceId` option that is used to enforce that `create` requests must not contain `id` values. I think it should be possible to improve our swagger spec generator to take that option into account and generate two type definitions - one for create, another for queries/updates.

[2016-10-05 08:59] bajtos opened #2821 "Release LoopBack 3.0 GA"
- [x] Prepare the announcement blog post
  - Just need to get @DaveYVR to publish to wordpress, confirm with @crandmck if he needs to make any more direct changes

- [x] Update loopback-workspace and tags in the npm registry to reflect the fact that 3.x is the current/latest and 2.x is a long-term-support version now. [[PR]](https://github.com/strongloop/loopback-workspace/pull/364)

  Tags to upd

[2016-10-05 09:52] kwuite commented on #2154
+1 I have the exact same problem while generating a memberRole and memberRoleMapping model. I am unable to invoke the create method on the role object I get from :
[code]

[2016-10-05 10:02] kwuite commented on #2154
Ok, well the solution was op course in front of my eyes, thank you @richardpringle. I created the relations in the extended role and mapping json model files and the problem is solved.

[2016-10-05 13:05] kartsims commented on #1495
For those looking for a workaround and details, here is a nice resource on the subject : http://blog.digitopia.com/tokens-sessions-users/

[2016-10-05 13:57] richardpringle commented on #2154
@kwuite haha glad to have helped!

Closing the issue, please re-open if it persists.

[2016-10-05 13:57] #2154 closed

[2016-10-05 15:15] davidcheung opened #2824 "Error when having many filter in `filter[where][or][0][id]=1` format"
### Problem

when a user sends a GET request with many filters with this format as follows

[code]

when the Array `or[]` have over 20 indices it maps it as an object
resulting in [juggler throwing an error](https://github.com/strongloop/loopback-datasource-juggler/blob/99a864e9c6ef4907ed32425ef1f196d2677d17a8/lib/dao.js#L1551)

this behavior is caused by express query parser https://github.com/lj

[2016-10-05 16:43] rikantro commented on #2018
I had the same issue, even if install  strong-arc separately without errors , only with npm install -g strongloop the same error appears.

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: modern-syslog@^1.1.2 (node_modules\strongloop\n
):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for modern-syslog@1.1.4: wan
:"any"} (current: {"os":"win32","arch":"x64"})
npm WARN optional S

[2016-10-05 16:49] rikantro opened #2825 "Failed at the strong-arc@1.8.8 preinstall script 'node .sl-blip.js'"
I try to install strongloop globally but the next error appears

[code]

Currently I sucessful to install strong-arc module without errors. Only happens with strongloop package

System Information

node 6.7.0
npm 3.10.8
windows 10 x64

[2016-10-05 17:21] jannyHou commented on #2824
Agree with document it, probably under where filter tag:
http://loopback.io/doc/en/lb2/Where-filter.html

[2016-10-05 17:28] athieme commented on #1196
has there been any progress or a decision made on resolving this issue, or what is the (official) recommended workaround in the interim?

[2016-10-05 17:31] #876 closed

[2016-10-05 18:06] fperks commented on #1495
I am struggling to understand, exactly how to utilize any of the above solutions with remote operations like loaded, and access.

We have middleware that extracts a JWT, and in the past has stored data from the jwt in the current context. Then in remote operations such as `loaded`, or `access` we do some work, depending on values in the jwt.

getCurrentContext is seemingly randomly returning null

[2016-10-05 18:47] digitalsadhu commented on #1495
@fperks can you extract the jwt info and stick it on the req object in your middleware then use beforeRemote and afterRemote hooks instead of access and loaded operation hooks?

[2016-10-05 19:14] fperks commented on #1495
@digitalsadhu i feel that would require a significant amount of time and effort given the size of our project. Not to mention the amount of testing and other requirements that we would need to go through again.

I am more looking for a simple and clean solution to this problem.

[2016-10-05 19:19] digitalsadhu commented on #1495
@fperks Ah, fair enough.
I'm afraid I'm not sure such a solution exists. :(

[2016-10-05 19:39] superkhau commented on #2824
There is nothing to resolve here as this is expected behaviour in express/qs. We should document the workaround for end-users though. I see this as a doc issue and not a bug, gonna relabel. @crandmck Can you help document this?

[2016-10-05 19:48] superkhau commented on #2824
@davidcheung I'll leave it up to you if you want to mark this as a bug again -- and the proposed solutions we discussed:

- Add an option to LoopBack to allow some sort of override out-of-box
- Increase the default limit in the LoopBack repo
- Hack up juggler to convert the object back to an Array

My opinion is as long as we provide the warning and workaround above, it should be good enough for n

[2016-10-05 20:07] tamitutor commented on #2714
+1 sierra macOS, npm@3.10.3 and node@6.7.0

[2016-10-05 20:10] tamitutor commented on #2018
+1  Same as @rikantro...starting today.

[2016-10-05 20:14] tamitutor commented on #2018
FWIW: If I downgrade to node@6.6.0 and keep npm@3.10.0 I do not see this problem any more.

[2016-10-05 20:14] tamitutor commented on #2714
FWIW: If I downgrade to node@6.6.0 and keep npm@3.10.0 I do not see this problem any more.

[2016-10-05 20:41] forivall commented on #2714
@tamitutor: are you talking about https://github.com/strongloop/strong-pm/issues/295? What are you logs? You are probably seeing a different issue than this one.

[2016-10-05 21:12] mamiysr commented on #2714
+1 Ubuntu 16.04 node v6.7.0 npm  v3.10.8

`
124546 silly build strongloop@6.0.2
124547 info linkStuff strongloop@6.0.2
124548 silly linkStuff strongloop@6.0.2 has /usr/lib/node_modules as its parent node_modules
124549 silly linkStuff strongloop@6.0.2 is part of a global install
124550 silly linkStuff strongloop@6.0.2 is installed into a global node_modules
124551 silly linkStuff strongloop@6.0.2

[2016-10-05 21:54] a-c-m commented on #1984
+1

[2016-10-05 21:54] viczam commented on #1984
-1

[2016-10-05 21:54] odlevakp commented on #1984
+1

[2016-10-05 23:07] rikantro commented on #2018
Actually, I downgrade as @tamitutor  said, but appears the same error

[2016-10-05 23:16] rmg commented on #2807
For the newer/smarter CI running on cis-jenkins, this would prevent 0.10 from being run:
[code]

Or after 0.12 is dropped:
[code]

[2016-10-06 00:44] superkhau opened #2826 "Transfer loopback-example/contributor-docs to strongloop-archive"
# DO AFTER LB3 RELEASE
- [x] Change links in loopback-example to point to LB3 docs
- [x] Make sure LB3 docs contain a warning/message of sorts to ensure the user can view LB3
- [ ] Transfer ownership of both repos to strongloop-archive
- [ ] Ask @crandmck for final LGTM

[2016-10-06 00:47] crandmck commented on #2776
Changes LGTM.

[2016-10-06 00:48] superkhau commented on #2776
Follow up issue for final cleanup tasks after lb3 release at https://github.com/strongloop/loopback/issues/2826

cc @crandmck

Closing this issue as done.

[2016-10-06 00:48] #2776 closed

[2016-10-06 00:52] marcoskubis opened #2827 "Mixin not called when using instance method "Model.mixin()""
My custom mixin is not being called when I use the instance model method "Model.mixin()".
Here is my code:

myMixin.js _(./server/mixins)_

    module.exports = function (Model, options) {
        console.log('hi');
    };

_THIS WORKS_: model.json

    {
        "mixins": {"MyMixin": true}
    }

_THIS **NOT** WORKS_: model.js

    module.exports = function (Model) {
        Model.mixin("MyMixin"

[2016-10-06 01:07] marcoskubis commented on #2827
Ignore this. It's working, I'm sorry.

[2016-10-06 01:07] #2827 closed

[2016-10-06 01:52] guodong opened #2828 "bug: create model with name "host" causes swagger explorer not working"
bug: create model with name "host" causes swagger explorer not working.
![qq20161006-0](https://cloud.githubusercontent.com/assets/858637/19137960/7d77bcd0-8baa-11e6-9744-d98da2d5add8.png)

[2016-10-06 02:43] Sequoia commented on #789
@wilsonmar Please email what resources you have to @crandmck per email address above or to my email which you can find on my profile page. @crandmck please close this ticket when ready- there are no further action steps.

[2016-10-06 03:21] Sequoia commented on #1090
Please close when ready.

[2016-10-06 07:42] superkhau commented on #2018
Please comment on the open issue at https://github.com/strongloop/loopback/issues/2714

[2016-10-06 07:46] jjhesk commented on #2825
i have experienced the same issue on heroku deploy but it doesnt happen on the localhost.

[code]

[2016-10-06 07:51] viamgr commented on #2714
I start new loopback project every month approximately and I faced this issue in the recent project.
I think it's a major bug and must be fixed quickly.
Thanks.

[2016-10-06 08:05] superkhau commented on #2828
@gunjpan PTAL

[2016-10-06 09:26] evilive3000 opened #2829 "ReferenceMany relation with additional fields"
Hi, I need your help with model relations. I have two models: `Post` and `Media`.

Examples:

**Media**

[code]

**Post**

[code]

I'm going to use MongoDb. I want to describe a relation between this two models, but not sure how to do it in the right way.

If I had only array of `mediaId`s, I'd make it through `referenceMany`. Now it's look more like `embedsMany`, but embeds many _what_?

I even t

[2016-10-06 10:37] pusaphil opened #2830 "Question/s: ACL in DB (mysql)"
I'm new in Loopback and I'm trying to do things one step at a time.
Before I put my ACL in DB, my **ACL definition in JSON file of the models works**.

When I **put the ACL in DB (mysql), it's not working**. I think the ACL for the model base User ('Owner' in my code) loads the default ACL for User model and the model base PersistedModel ('Task' in my code) do not have any ACL.

Did I forget to se

[2016-10-06 12:25] singh7889 opened #2831 "How to install in windows 10 i got error . my npm -v 3.10.8 & node -v 6.6.0 . I am install in three win system but got same error ."
npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Users\\Singh\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "install" "nod                        e-pre-gyp"
npm ERR! node v6.6.0
npm ERR! npm  v3.10.8
npm ERR! path C:\Users\Singh\AppData\Roaming\npm\node_modules\.staging\sqlite3-e34b87be
npm ERR! code EBUSY
npm ERR! errno -4082
npm ERR! syscall r

[2016-10-06 12:34] raviranjan528 commented on #2831
I have same error . please review

[2016-10-06 13:45] eduardongarcia commented on #2831
Hi, the same with me

[2016-10-06 13:52] eduardongarcia commented on #2714
+1 on Win 10, npm@3.10.7 and node@5.0.0

[2016-10-06 13:53] e-part commented on #917
+1

[2016-10-06 14:34] rikantro commented on #2825
Might be related to https://github.com/strongloop/strong-arc/issues/1733

[2016-10-06 14:52] jjhesk commented on #2825
how to solve [the problem](https://github.com/strongloop/strong-arc/issues/1733)

[2016-10-06 15:05] whispers16 opened #2832 "ACL owning object allowed for two models sharing a model"
Hi guys,
I have a question
I have two models: 'user' and 'company' that have a relation with a third model 'messages', and messages have the ids of both models.

I set this ACL rule for messages:

[code]

but my question is can I share this ACL rule with both modules if for example user model create a message and company needs to update it? or there's any other way to share a ACL rule with message

[2016-10-06 15:13] bajtos commented on #2824
I'm fine with keeping the current implementation and updating the documentation only.

IMO, the best solution is to encode the large filter object as JSON.

[code]

[2016-10-06 15:38] dahuahe opened #2834 "mysql filter where on relation"
In model A
[code]
In model B
[code]
if I find A with B like this  /api/A      {filter:{include:"B"}}}  I will get this data
[code]
But I want to get this data
[code]
so  I try find A with B like this  /api/A
{filter:{include:"B",where:{B:{neq:''}}}}}}  or
{filter:{include:"B",where:{neq:{B:''}}}}}}
it's doesn't  work!!
How i to write filter ??or to do??

[2016-10-06 16:05] davidcheung commented on #2831
related https://github.com/strongloop/strong-arc/issues/1733
https://github.com/strongloop/strongloop/issues/324
https://github.com/mapbox/node-sqlite3/issues/720

[2016-10-06 17:09] scheung38 opened #2835 "$ npm install -g apiconnect followed by npm not found?"
Followed instructions

[code]

then

`$apic loopback
`

bash: apic: command not found

http://stackoverflow.com/questions/37388274/apic-command-not-found-strongloop

But hardly anyone answered?

Have I missed out something?

[2016-10-06 18:08] mneil commented on #1744
This is still an issue as far as I can tell. I set an internal upper limit to queries to stop people from requesting hundreds of thousands of documents at a time and found out this makes the data returned incomplete.

It feels like a bug since it's undocumented. However, I'm not sure how you would handle limits on relations given how the queries are currently performed. An include like this

[code

[2016-10-06 21:59] 0candy commented on #2834
@dahuahe `hasOne` does not take in a filter parameter. There is already a feature request for that.
https://github.com/strongloop/loopback/issues/2304
Closing this one as a dup.

Please let me know if you don't think its the same problem and we can reopen the issue. Thanks!

[2016-10-06 23:04] 0candy commented on #2834
See feature request https://github.com/strongloop/loopback/issues/683.
Closing this issue as a dup.

[2016-10-06 23:04] #2834 closed

[2016-10-06 23:21] superkhau commented on #2714
@viamgr @tamitutor @eduardongarcia Can you try installing again? I submitted a fix at https://github.com/strongloop/strongloop/commit/829f6b2b4449922e33bff6475b97c8caedd89895 and I want make sure its working.

[2016-10-06 23:46] rmg commented on #2831
Quick update from the various other issues:
 * strong-arc@1.8.9 has been released which completely removes the preinstall script calling sl-blip
 * strongloop@6.0.3 was released which pins sqlite3 at 3.1.4
 * sqlite3@3.1.6 was released, which makes pinning to 3.1.4 no longer necessary

In other words, this should now be working. @davidcheung or @singh7889 please re-open if you are still seeing a p

[2016-10-06 23:46] #2831 closed

[2016-10-07 04:02] Amir-61 commented on #2835
I guess this is duplicate of https://github.com/strongloop/strongloop/issues/324
Fixed by https://github.com/strongloop/strongloop/pull/325

@scheung38 Please confirm the fix and I'll close the issue then.

Thanks!

[2016-10-07 06:02] superkhau opened #2837 "Pull request template integration"
Integrate PR templates into strongloop/loopback.

See https://github.com/strongloop/loopback/issues/2442#issuecomment-251377947

[2016-10-07 06:10] superkhau commented on #2307
@davidcheung Reassigning to you as this is your FA.

[2016-10-07 06:12] superkhau commented on #2824
We should document @bajtos's suggestion too -- but we should also confirm that there are no issues with that (I assume there aren't -- hopefully `qs` agrees).

[2016-10-07 06:42] superkhau commented on #1744
@jannyHou Can you TOB this when you have time, it's been an issue for awhile and I don't have bandwidth to look into it -- related to relations FA anyways so it's up your alley. ;)

[2016-10-07 06:44] singh7889 commented on #2831
Thanks @rmg,  I fix this issue .

[2016-10-07 08:51] lohbrand opened #2838 "request method to remove internal properties from list"
Is there a method to remove hidden properties from loopback list, like

"__cachedRelations" : {
    "__data" : {
        "variable" : "d",
        "relation" : "r",
        "value" : "1"
    },
    "__dataSource" : null,
    "__strict" : false,
    "__persisted" : false,
    "variable" : "d",
    "relation" : "r",
    "value" : "1",
    "id" : null
}

[2016-10-07 09:25] coder1412 opened #2839 "Loopback relation HasAndBelongsToMany with the same model"
Sorry if i'm wrong but i'm preety sure it's currently impossible to create a many-to-many relationship between same model using Loopback.
I tried to create a HasAndBelongsToMany for same model Users, the relation named friends but it doesn't work.
The details was described here https://groups.google.com/forum/#!topic/loopbackjs/u6vsH644ehc
Hope to have a workaround solution for it.
Thanks

[2016-10-07 10:47] bajtos commented on #1807
You can bind your callback to the correct current context, as is proposed in https://github.com/strongloop/loopback-connector/pull/56. That way the current context will be correctly restored after your child process finishes.

[2016-10-07 11:46] coder1412 commented on #2839
Solved after reading this one
https://github.com/strongloop/loopback/issues/1993

Sorry & Close...

[2016-10-07 11:46] #2839 closed

[2016-10-07 13:37] gunjpan commented on #2828
@guodong : Thank you for reporting this issue. I was able to reproduce it and raised it as a bug.
While we prioritize this issue to be fixed in our workflow, would you please like to submit a fix?
It would be a fix to : [loopback-component-explorer](https://github.com/strongloop/loopback-component-explorer), IIRC.

Will update this issue when fixed. Meanwhile, as a workaround, please rename your m

[2016-10-07 14:19] Overdrivr commented on #1885
Using this example, what happens if multiple requests are processed concurrently ?

One request may set the `datasource1`, and the second request may expect to write to `datasource2` but (since `attachTo` is static and not per instance) then it will use `datasource1` instead.

[2016-10-07 14:26] jannyHou commented on #1744
@superkhau Sure, thank you for mention me. let me reopen it first 😆

[2016-10-07 14:32] loay commented on #2766
Closing now. If the issue is not fixed, then please leave a comment and I will re-open. Thanks.

[2016-10-07 14:32] #2766 closed

[2016-10-07 15:07] loay commented on #1511
Closing issue for now. If it still persisting, please leave a comment and I will re-open the case. Thanks.

[2016-10-07 15:07] #1511 closed

[2016-10-07 15:18] evseevnn commented on #2519
@beornharris +1

[2016-10-07 15:21] loay commented on #1622
Closing issue due to inactivity. If the issue is still ongoing, please feel free to leave a comment and I will re-open the case. Thanks.

[2016-10-07 15:21] #1622 closed

[2016-10-07 15:22] loay commented on #2280
Thanks @mario128mex.
If the juggler update doesn't fix the issue, please leave a comment and I will re-open. Thanks.

[2016-10-07 15:22] #2280 closed

[2016-10-08 00:49] superkhau commented on #2838
Did you read the first line of the issue template? Closing as this is a question and better suited for Gitter/Google Groups -- http://loopback.io/doc/en/contrib/Reporting-issues.html.

[2016-10-08 00:49] #2838 closed

[2016-10-08 00:51] superkhau commented on #2835
node-sqlite3@3.1.6 should resolve this issue -- see https://github.com/strongloop/strongloop/commit/9599f0d16bcbd4ced276a0a1978712ed0728dcce for more info. Closing as resolved. @scheung38 Ping if you're still running into issues and we can reopen this issue then.

[2016-10-08 00:51] #2835 closed

[2016-10-08 04:09] SebastienFCT commented on #2714
In my case, I had to manually remove the file `lb-ng` (a symbolic link) at `/usr/local/bin/` and the installation went without issues.

[2016-10-09 00:16] archenroot commented on #2026
Same here with postgreSQL connector.. I fill the name of connection and all working data, the file \server\datasources.json is filled with follwing data(which are correct):
{
  "hb_automation_framework": {
    "host": "192.168.99.100",
    "port": 5432,
    "database": "postgres",
    "password": "zangetsu",
    "name": "hb_automation_framework",
    "user": "zangetsu",
    "connector": "postgresq

[2016-10-09 00:23] archenroot commented on #2026
Ok, I found the root cause, maybe, there is file: /server/model-config.json, the project has been created by scl command probably and here is the content:
`{
  "_meta": {
    "sources": [
      "loopback/common/models",
      "loopback/server/models",
      "../common/models",
      "./models"
    ],
    "mixins": [
      "loopback/common/mixins",
      "loopback/server/mixins",
      "../common/m

[2016-10-09 11:18] osenvosem commented on #1841
👍🏻

[2016-10-10 07:08] xerobuffer opened #2840 "PersistedModel findById response 404 when id is biginteger or even string type"
### Bug or feature request
- [x] Bug
- [ ] Feature request
### Description of feature (or steps to reproduce if bug)

1) define model (UserOrder for example) with id as number
2) insert a record into database with id big enough (785301454754676736 for example)
3) request from loopback explorer ( UserOrders/{id} ), 785301454754676736 as the id parameter value
4) response 404 status
### Link to samp

[2016-10-10 15:00] evilive3000 commented on #2829
well designed next models:

**media.json**
[code]

**content-item.json**
[code]

**post.json**
[code]

Now if I need all posts with included relations I'm doing next:
`http://localhost:3001/api/posts?filter[include]=content` and receive data as expected:
[code]

but if I want nested relation `media`, I go to:
`http://localhost:3001/api/posts?filter[include][content]=media` and receive same output

[2016-10-10 21:08] the1mills commented on #443
Try ```Model.once('attached')``` otherwise memory leaks (?)

[2016-10-10 21:19] eddiemonge commented on #1846
This is still a problem

[2016-10-11 00:10] crandmck commented on #2800
Clarified in http://loopback.io/doc/en/lb2/Defining-boot-scripts.html#boot-script-loading-order.
Thanks!

[2016-10-11 00:10] #2800 closed

[2016-10-11 10:49] youngtt commented on #1010
+1

[2016-10-11 13:54] Amir-61 commented on #2840
Thanks @xerobuffer for bringing this issue to our attention.

I tried with your id `785301454754676736 ` and it works for me! I could not reproduce the issue; to make the triage process faster and label this issue as a bug, could you just create a simple app with [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) to reproduce the issue?

Although I could not reproduce the issue, th

[2016-10-11 14:35] bajtos commented on #2104
returns: {
  arg: 'count',
  description: 'The number of instances updated',
  type: 'number',
[code]
returns: {
        arg: 'count',
        description: 'The number of instances updated',
        type: { count: 'number' },
        root: true
      },
[code]

[2016-10-11 18:24] crandmck commented on #2805
Yes, in general we need to go through the release notes and propagate the information to the rest of the docs as appropriate.

For this issue specidfically, I think we could mention this in [Using strong-error-handler](http://loopback.io/doc/en/lb2/Using-strong-error-handler.html) and perhaps [Environment-specific configuration](http://loopback.io/doc/en/lb2/Environment-specific-configuration.html

[2016-10-11 21:17] raymondfeng commented on #2777
The first argument of `add` can be either an instance or just id value of the target model. We allow both. If the generated SQL has invalid syntax, it's a bug.

[2016-10-11 23:14] tamitutor commented on #559
+1

Running into this problem again in a new project after implementing @doublemarked's solution in an old one--the workaround does not work.

I just want my authenticated "admin" Role to be able to execute any and all functions on a model.

[2016-10-12 00:21] BoLaMN commented on #1010
fixed this on my fork yesterday

replace the [includeOneToOne function in loopback-datasource-juggler](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/include.js#L865) with https://gist.github.com/BoLaMN/6590e8849d23f6373a177d5ccc42ef23

cheers

[2016-10-12 02:34] superkhau commented on #2837
PR at https://github.com/strongloop/loopback/pull/2843

[2016-10-12 04:24] Amir-61 commented on #2423
Closing this issue due to inactivity.... Please feel free to re-open the issue if you still have the same issue with a sample repo reproducing the issue.

Thanks!

[2016-10-12 04:24] #2423 closed

[2016-10-12 05:22] superkhau commented on #2825
Closing this issue as this should've been fixed by strong-arc@1.8.9. Please create a new issue if you are still running into issues.

[2016-10-12 05:22] #2825 closed

[2016-10-12 05:29] superkhau commented on #2714
Closing as resolved by https://github.com/strongloop/strongloop/pull/327. Please create a new issue if you are still running into issues.

[2016-10-12 05:29] #2714 closed

[2016-10-12 05:50] superkhau opened #2844 "Update CONTRIBUTING.md"
Figure out what is needed today to make CONTRIBUTING.md better and more relevant:
- Link to official loopback.io docs
- Style guide
- ESLint guide
- etc

Work with @crandmck to see what we need to keep/what to remove, etc.

[2016-10-12 05:51] superkhau commented on #2442
Closing this in favour of https://github.com/strongloop/loopback/issues/2844 for CONTRIBUTING.md and #2837 for PR template integration.

[2016-10-12 05:51] #2442 closed

[2016-10-12 10:54] bajtos commented on #2442
@superkhau how about the issue template? Has it already been added to all loopback projects that have issue tracker? AFAICT, https://github.com/strongloop/loopback-boot does not have it yet.

[2016-10-12 11:48] roytan883 opened #2847 "error parsing 'string' to 'number' when using 'application/json' to submit 'object' data"
### Bug
- [x] Bug
### Description of bug

input arg with 'object' type error parse 'string' to 'number' when using 'application/json' to submmit data.**

## result

### input:
[code]

### server:
[code]
### Additional information (Node.js version, LoopBack version, etc)

nodejs 4.3.0 and 6.7.0
loopback@2.36.0

repo show this bug: [loopback-string-num-bug](https://github.com/roytan883/loopback-stri

[2016-10-12 13:29] shalkam commented on #517
I have taken a look on how to do the filtering based on the included model in mongodb.
I've found that this is working:
`db.model1.aggregate(
[
{$lookup: {
    from:"model2",
    localField: "model2Id",
    foreignField: "_id",
    as: "model2"
 }},
 {$match: {"model2.recordNo": 123}}
 ])`
where `model1` is the main model and `model2` is the related model
this should return a set of `model1` filte

[2016-10-12 14:46] Industrial opened #2848 "slc loopback:relation is broken"
Hi!

There are no choices shown and when I press arrow down and enter I get the stack trace.

https://gist.github.com/Industrial/49cf6da2be8ecc4d65b2e31f280fc10f

[2016-10-12 19:19] jannyHou commented on #2848
@Industrial I tried with the latest generator-loopback in npm, it works fine:

I saw your problem before but it is a very old bug we already fixed.

Could you give me the version of generator-loopback you are using?

[2016-10-12 19:26] jannyHou opened #2850 "lazyConnect should not affect api executions"
### Bug or feature request
- [x] Bug
- [ ] Feature request
### Description of feature (or steps to reproduce if bug)

`lazyConnect` should only defer the connection phase, but connection will still establish when users call endpoints.
Now if we set `lazyConnect = true` in datasource config, the db instance will not be attached to datasource and all endpoints get 500 server error.
### Link to sampl

[2016-10-12 20:56] Industrial commented on #2848
Hi.

I've npm installed strongloop (-g) 6.0.3 and it uses 1.24.3 of generator-loopback

[2016-10-12 21:09] jannyHou commented on #2848
@Industrial 1.24.3 should work well...Sometimes if you installed generator-loopback globally, it will not use the one inside strongloop but the global one, could you take a double check which generator-loopback is really invoked? And reinstall strongloop to see if the latest one fixes the bug.

If you are sure that 1.24.3 has the problem, please provide me the npm and node version you are using, I

[2016-10-12 21:16] Industrial commented on #2848
I haven't installed generator-loopback separately.

Node: 6.7.0
NPM: 3.10.3

[2016-10-12 21:43] rahpuser commented on #2777
ok @raymondfeng , then it seems to be a bug. Thanks.

[2016-10-12 22:46] superkhau commented on #2442
Not yet, I'm just doing them on the side (they are not in my sprint backlog ATM, but I figured it's important enough to get the ball rolling). The plan I had in my head was get the entire `.github` dir stuff done (issue+pr templates, contributing.md) then create a task to write a script to replicate the entire dir across all repos). We can switch it up to replicate ISSUE_TEMPLATE first, then land

[2016-10-13 00:06] crandmck commented on #2778
Added a note to http://loopback.io/doc/en/lb2/Operation-hooks.html#loaded (v 2.x only).

[2016-10-13 00:06] #2778 closed

[2016-10-13 02:24] xerobuffer commented on #2840
hi Amir-61, I add some demo codes at https://github.com/xerobuffer/loopback-sandbox.

reproduce step as follows:
1) open loopback explore, navigate to UserOrder.
2) use put (url as UserOrders/) method to insert on record into db, {"id":"785301454754676736","name":"hello loopback"} as data param value.
3) use get (url as UserOrders/{id}) method to query record, 785301454754676736 as id param value,

[2016-10-13 02:36] foodaka commented on #231
is the date format in the database a string? Does it work for comparing string dates in DB? Or does the date in DB need to be unix int?

[2016-10-13 02:51] gvillenave commented on #2441
Any update on when the PR will be available in master?

[2016-10-13 07:53] pierissimo commented on #683
+1

[2016-10-13 07:53] bajtos commented on #651
FWIW, as of https://github.com/strongloop/loopback/pull/1667, one can white/black-list methods in the model-config by setting

[code]

[2016-10-13 09:27] hoangtrongphuc opened #2856 "Crash when invalid date"
### Bug or feature request

- [x] Bug
- [ ] Feature request
### Description of feature (or steps to reproduce if bug)

When I update model relation with invalid date, whole API is crash
Eg: I have Customer model and Customer has many Campaign model, Campaign model have startDate and endDate, when I call API to __updateById__campaigns with invalid date, crash my server
### Link to sample repo to re

[2016-10-13 10:52] AlexYegupov commented on #2808
Also there would be great to redirect old documentation pages to the new one (using 301?) because google often points to old docs.

[2016-10-13 11:11] gulshan-kumar opened #2857 "domain.find(). The find method has not been setup. The PersistedModel has not been correctly attached to a DataSource!"
I am trying to overwrite pre-built method. Getting this error.
codes are very simple -
 Domain.find({include: 'augu'}, function(err,data) {
        console.log(err);
        console.log(data);
      });

domain.find(). The find method has not been setup. The PersistedModel has not been correctly attached to a DataSource!

checked in db source

[2016-10-13 13:02] bajtos commented on #2554
The patch https://github.com/strongloop/strong-remoting/pull/370 provides a good short term fix, where we will distinguish between `type: 'file'` (a file stream) and `type: 'File'` (a model called `File`).

However, I feel this is rather confusing, because other types are case-insensitive, especially in LoopBack 3.x (the `TypeRegistry` always convert all types to lower-case, see https://github.com

[2016-10-13 13:12] fabien commented on #2554
I think having a definite list of reserved keywords makes sense first of all.

In addition, having an additional key within the `returns` spec would probably be a good alternative, for example: `as: 'file'` of ` file: true`. This would then signal the correct response logic, and the `type` key would more or less be ignored.

[2016-10-13 13:33] yagobski commented on #2708
+1

[2016-10-13 13:44] gunjpan commented on #651
@voitau: as described by @bajtos in above solution, you can white/black list methods for a particular model in `server/model-config.json` file; it will look like, for a model named `MyModel`:

**server/model-config.json**
[code]

Closing now. Should you need any further assistance, please comment here and I'll be happy to help. Thank you.

[2016-10-13 13:44] #651 closed

[2016-10-13 14:26] gunjpan commented on #2830
@pusaphil : Could you please explain what you're trying to achieve here by defining ACL rules in a `boot-script`?

That's correct.

It would be great if you can provide me with your sample repo, or you can for our sandbox from [here](https://github.com/strongloop/loopback-sandbox)

[2016-10-13 14:33] davidcheung commented on #2824
updated in http://loopback.io/doc/en/lb2/Where-filter.html#rest-api closing issue now

[2016-10-13 16:02] davidcheung commented on #2420
adding information,
changing role creation to not-auto generate could be breaking change?

[2016-10-13 17:00] coen-hyde commented on #2708
@yagobski no. I just I didn't use strong loop.

[2016-10-13 17:47] kschulst commented on #531
+1

[2016-10-13 17:49] superkhau commented on #2544
Closing in favour of https://github.com/strongloop-internal/scrum-loopback/issues/1114

[2016-10-13 17:49] #2544 closed

[2016-10-13 22:11] jannyHou commented on #2708
Hi @coen-hyde apologize first, I misunderstood your question, I thought you didn't find the doc for how to use a role in loopback so I just post the link, and I didn't realize that a custom role is not the right place to filter the attributes.

Back to your question, now ACL are only applied on methods, but not properties.

As a workaround, I think you can filter attributes according to the roles

[2016-10-13 22:36] jannyHou commented on #2829
Thank you @evilive3000  for providing enough details, while I still need some time to create the app on local to reproduce your error, if you have an existing app, could you fork https://github.com/strongloop/loopback-sandbox and replace with your code? Thanks!

After going through your steps I don't see anything wrong, if the nested scope doesn't work then I believe it's a bug. Ideally you don't

[2016-10-13 22:59] #1090 closed

[2016-10-13 23:09] crandmck commented on #789
@wilsonmar We're cleaning up old issues, so I'll close this since we haven't heard from you.  If you are still want to participate, please comment (or reopen).

[2016-10-13 23:09] #789 closed

[2016-10-13 23:10] crandmck commented on #2808
Yes, @AlexYegupov I plan to do this, but just haven't gotten to it yet.  Will do it ASAP.

[2016-10-13 23:12] crandmck commented on #2808
@Amir-61 I'm going to remove the `doc` label, because this issue is for references to doc _in the code_.  Of course, it's related to docs, but IMHO it's really an engineering issue and responsibility to correct, so the `doc` label might lead someone to think it's actually documentation work...

[2016-10-14 05:41] raviranjan528 commented on #2831
@singh7889 Thanku Mr.singh ...with your i am able to fix my issue.

[2016-10-14 06:18] penguinpowernz commented on #2171
@samzhao2008 please can you detail the mistake that you made in your code so that others can learn from that mistake?

[2016-10-14 07:21] bajtos commented on #1676
Another interesting POV with examples showing what breaks CLS propagation: https://github.com/LewisJEllis/async-context-examples/blob/3ff52a73b410183f934b37a69f1df540ede1657e/README.md

[2016-10-14 08:25] digitalsadhu commented on #1676
I read 2 particularly interesting points in that article.

1. the async module is called out for losing context
2. CLS correctly maintains context when promises are used

When I did a deep dive into our issues a while back I specifically found the problem to be the use of async inside the database connector.

Is there therefore reason to hope that replacing the async module with promises could fix

[2016-10-14 10:38] ahmed-abdulmoniem commented on #651
@bajtos @gunjpan Using this:

[code]
I can hide the related models end points like for example `__get__tags` because I have tried this:

[code]

And it is now working?!

[2016-10-14 10:42] archenroot commented on #2080
**+1**
It is more or less blocking me from finishing POC project for presentation of loopback the way to go. We have about 3000 tables and lots of them are having composite both primary and foreign keys, we are moving from PL/SQL api to microservices, but this functionality is one of key points to GO or not. I don't have option to do concatenation of the keys by creating single columns in our data

[2016-10-14 12:28] bajtos commented on #2554
On the second thought, I think we should add `file` to the list of reserved types and disallow developers to create models called `File`, starting with LoopBack 3.0. It is already not possible to create models like `Object` or `Number`, therefore I think it makes sense to extend this rule to `File` too.

I believe this will require the smallest amount of code changes and have the lowest maintenanc

[2016-10-14 12:33] beingshashi opened #2859 "Error running loopback application"
When i run `Node .` i got following error:-

/home/ubuntu/kinekt_apis/node_modules/loopback-boot/lib/compiler.js:365
    throw err;
          ^
Error: Cannot resolve path "helmet"
    at resolveAppPath (/home/ubuntu/kinekt_apis/node_modules/loopback-boot/lib/compiler.js:363:15)
    at resolveAppScriptPath (/home/ubuntu/kinekt_apis/node_modules/loopback-boot/lib/compiler.js:686:22)
    at resolveMi

[2016-10-14 13:44] gunjpan commented on #651
@ahmed-abdulmoniem : Hi, I tried to reproduce it and found that this functionality is limited to the model's methods only ATM. I'll create a new issue to expand the coverage of this feature to methods attached to the model by applying relations.

Thank you for reporting. And, please feel free to submit a patch for this and we will help along the way to get it landed.

[2016-10-14 13:57] gunjpan opened #2860 "White/Black listing methods generated by relations"
### Bug or feature request

- [x] Bug
- [ ] Feature request
### Description of feature (or steps to reproduce if bug)

Continuing from #651, the feature is a limited one. It does not allow to white/black list methods imposed on a model by relations.
### Expected result

white/black listing of methods should be applied to related model method endpoints along with model's own methods
### Actual resu

[2016-10-14 13:58] gunjpan commented on #2860
cc/@bajtos

[2016-10-14 14:53] FrankenGit opened #2861 "TypeError: Cannot create data source "mqlight": Cannot initialize connector "mqlight": options object missing"
### Bug or feature request

- [X] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Have done:
- npm install loopback-connector-mqlight --save
- apic create --type datasource

### Link to sample repo to reproduce issue (if bug)
{
  "mqlight": {
    "password": "vdm",
    "name": "mqlight",
    "service": "amqp://localhost:5672",
    "user": "vdm",
    "connector"

[2016-10-14 14:54] ahmed-abdulmoniem commented on #651
@gunjpan Thank you.

[2016-10-14 20:13] jannyHou commented on #2848
@Industrial what's your OS? I tried with mac and node 6.8.0, it still works fine:

[code]

I don't think there is a big probability that the minor version of node and npm result in different behaviours..but maybe try the latest node 6.x

And also try reinstall strongloop too.

[2016-10-14 20:35] jannyHou commented on #2816
@sundeepgupta I think you are using an old version of `generator-loopback`. I would suggest upgrading it to latest version `generator-loopback@1.24.4`

And the latest behaviour is:

[code]

And then you will find the following model config in your json file:
[code]

[2016-10-14 20:38] jannyHou commented on #2816
So theoretically
  - It should pass with blank default value
  - An array property should have a type for array items

[2016-10-14 21:28] marcoskubis commented on #880
Thanks @fabien for mixin. @loay I think it's not implemented yet. It is a must-have feature, this is very useful.

[2016-10-14 21:36] ORESoftware opened #2863 "(node:5535) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: (this.host || "").indexOf is not a function"
On latest version of Loopback and Macbook Pro

I get this error =>

`(node:5535) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: (this.host || "").indexOf is not a function`

Having trouble locating where this is in the codebase or why it's happening, but shouldn't happen I assume?

[2016-10-14 21:40] ORESoftware commented on #2863
Ok I figured out why =>

[code]

all I can ask for is more defensive coding and a better error message :)

I don't think this is necessarily a better idea, but maybe

`String(this.host || "").indexOf`

[2016-10-14 22:50] crandmck commented on #2777
@jannyHou FYI

[2016-10-14 23:01] superkhau commented on #2861
What is the expected result and actual result?

[2016-10-14 23:05] ORESoftware commented on #1526
good lord, I really want the answer to the original question, but now I have to go to google groups? :/

[2016-10-14 23:19] superkhau commented on #1526
@ORESoftware We do not answer questions using GitHub issues -- see http://loopback.io/doc/en/contrib/Reporting-issues.html#asking-questions. Gitter and Google Groups should be used for questions. If you need immediate support, see https://strongloop.com/node-js/subscription-plans/.

[2016-10-15 00:53] ORESoftware commented on #1526
ok I see, thank you

[2016-10-15 03:29] sundeepgupta commented on #2816
Thanks @jannyHou I don't use the generator that's my mistake. I didn't know we had to specify the array element type. Thanks for pointing this out.

[2016-10-15 07:05] sprypradeep commented on #1319
We are facing similar issues, is the polymorphic relation unusable then ? No update on such a critical issue.

[2016-10-15 09:31] ahmed-abdulmoniem commented on #651
@gunjpan Another issue ..

Can we hide PATCH end points?

![image](https://cloud.githubusercontent.com/assets/6064145/19409002/d1c3d5a4-92ca-11e6-95ed-e79a0c9e6e22.png)

I see for example PATCH and PUT has the same method names but with index?! like `upsert_0` and `upsert`?

When I hide `upsert` it hides both PATCH and PUT .. can we keep one of them and hide the others?

[2016-10-15 11:54] Tallyb commented on #1841
Anyone feels like checking this and providing feedback? It is still in infancy.
https://github.com/Tallyb/loopback-graphql

[2016-10-15 13:10] ahmed-abdulmoniem commented on #1710
@superkhau Any solution to this .. I don't think it is a question .. it is unwanted behavior opposite to what stated in the docs!

[2016-10-15 15:02] swfredrik opened #2864 "Cannot pass data between before save and after save"
module.exports = function(Home) {

  Home.observe('before save', function (ctx, next) {
    console.log("before save")
    console.log(ctx.data.id);

    Home.findById(ctx.data.id, function(err, instance){
          console.log(instance)
         ctx.hookState = instance;
         next();
    })
  });

  Home.observe('after save', function (ctx, next) {
    console.log("after save")
    console.lo

[2016-10-15 15:06] swfredrik commented on #2864
Got it.
http://stackoverflow.com/questions/38638637/pass-context-in-persist-to-after-save/38660028#38660028

[2016-10-15 15:06] #2864 closed

[2016-10-16 06:05] ahmed-abdulmoniem commented on #546
Any news on the create method guys? @superkhau @raymondfeng

[2016-10-16 08:04] ahmed-abdulmoniem commented on #2304
Any success guys to have this soon? ++++1 @0candy

[2016-10-16 15:09] neoPix commented on #1321
+1

[2016-10-16 23:52] lailavinson commented on #531
+1

[2016-10-17 07:23] pusaphil commented on #2830
@gunjpan, I was trying to create the DB tables and sample data before staring the loopback application.
The command is `node server/bin/create-lb-tables.js && node server/bin/sample-data.js `

[2016-10-17 10:24] FrankenGit commented on #2861
expected result: successfull connection to mqlight
actual result:
TypeError: Cannot create data source "mqlight": Cannot initialize connector "mqlight": options object missing
    at Object.exports.createClient (/Users/de091307/git/vdm-lbneu/node_modules/loopback-connector-mqlight/node_modules/mqlight/mqlight.js:458:11)
    at MQLightConnector.connect (/Users/de091307/git/vdm-lbneu/node_modules/lo

[2016-10-17 10:24] #2861 closed

[2016-10-17 10:41] FrankenGit commented on #2861
Simon,
I debugged into it and found the code working with the following workaround in
node_modules/loopback-connector-mqlight/lib/mqlight-connector.js:
function MQLightConnector(config) {
  //this.settings = config.settings;
  this.settings = config;

[2016-10-17 12:12] jlvdh commented on #1460
+1

[2016-10-17 12:52] gunjpan commented on #2830
@pusaphil : I'm glad that you found the workaround and thank you for taking the time to detail the solution.
Is this good to close now?

[2016-10-17 12:55] gunjpan commented on #2860
Another flaw, reported by @ahmed-abdulmoniem :
@gunjpan Another issue ..

Can we hide PATCH end points?

![image](https://cloud.githubusercontent.com/assets/6064145/19409002/d1c3d5a4-92ca-11e6-95ed-e79a0c9e6e22.png)

I see for example PATCH and PUT has the same method names but with index?! like `upsert_0` and `upsert`?

When I hide `upsert` it hides both PATCH and PUT .. can we keep one of them a

[2016-10-17 13:17] Amir-61 commented on #2857
@gulshan-kumar Please provide a simple repo using https://github.com/strongloop/loopback-sandbox reproducing the issue.

Thanks!

[2016-10-17 13:52] bajtos commented on #2837
@superkhau what's the plan for adding the template to all LB projects/repositories?

[2016-10-17 14:00] gunjpan commented on #651
@ahmed-abdulmoniem : Added to #2860 .

[2016-10-17 14:12] 0candy commented on #2304
Unfortunately, we haven't reach this item in our backlog yet as we have some bugs/features to finish to get LB 3.x released. Would you ( @ahmed-abdulmoniem ) be interested in submitting a patch so we can get it in sooner? Thank you for your understanding.

[2016-10-17 14:15] gunjpan commented on #1526
@stringbeans , @ORESoftware : You can use one of the following approaches in your `middleware.<env>.json` file to dynamically update the path serving static files, considering you set your env. variable `STAT` before running the application:
[code]
or

[code]

[2016-10-17 14:37] jannyHou commented on #2816
@sundeepgupta np :) Is the problem solved now? If yes shall we close this issue?

[2016-10-17 15:03] ahmed-abdulmoniem commented on #2304
@0candy No problem for sure .. just I would like some guidance .. which part I should change?

[2016-10-17 15:04] ahmed-abdulmoniem commented on #651
@gunjpan Thanks

[2016-10-17 15:34] xander-monk commented on #517
+1 (Postgresql)

[2016-10-17 16:30] #2816 closed

[2016-10-17 17:06] eddiemonge commented on #2844
can the CLA move to its own file with a link to it?

[2016-10-17 17:07] eddiemonge commented on #2844
An example one that has some good parts is [Yeoman's](https://github.com/yeoman/yeoman/blob/master/contributing.md)

[2016-10-17 17:36] davidcheung commented on #2863
@ORESoftware looks like the error comes from the `pg` driver https://github.com/brianc/node-postgres/blob/83a946f61cb9e74c7f499e44d03a268c399bd623/lib/connection-parameters.js#L61

perhaps you can submit a pull request against their repo?
or i guess on app boot we(loopback) could do some type checking of configurations

[2016-10-17 17:41] superkhau commented on #1710
@ahmed-abdulmoniem Let's reopen this then. ;) @crandmck Can you work with us here to reword the docs so the correct behaviour is stated?

[2016-10-17 17:41] davidcheung commented on #2859
newly scaffolded loopback applications [should have helmet by default](https://github.com/strongloop/loopback-workspace/blob/86d5f951c518d35a30392d3c183f3ad0b2811ffd/templates/projects/empty-server/data.js#L23), perhaps you have a old scaffolded app with a new version of the middleware.json?

`npm install --save helmet` should fix your problem.

@jannyHou thoughts?

[2016-10-17 18:23] jannyHou commented on #2859
thanks @davidcheung exactly, `helmet` is included in a default app's `package.json`.

@beingshashi Could you try `slc loopback` a new app and see if `node .` still gives you this error?
I installed strongloop with latest generator-loopback a few days ago and it works fine on my end.

If you still have problem please include the `generator-loopback` and `loopback-workspace` you are using. And give

[2016-10-17 19:33] superkhau commented on #546
No new from from me yet, I haven't had the bandwidth to look into it TBH. Let's bump it to a major for now so it gets considered during planning.

[2016-10-17 19:59] chojowliu opened #2866 "User.resetPassword for different REALM"
### Bug or feature request

- [ ] Bug
- [x ] Feature request
### Description of feature (or steps to reproduce if bug)

Currently, when I do User.resetPassword(email)), it will only return the first record of the match email and return the token, but it's not support to different realm with same email address.
### Link to sample repo to reproduce issue (if bug)
### Expected result

Support differe

[2016-10-17 20:14] superkhau commented on #2830
@crandmck Can you make sure the above points are documented in the relevant sections? They are all good points to note. @pusaphil Thanks for the detailed notes. :+1:

[2016-10-17 20:28] superkhau commented on #2861
@FrankenGit Great! :+1: Would like like to submit a patch to fix it? I can help you review/land it.

[2016-10-17 20:30] jannyHou commented on #2850
The related doc is removed to prevent users using it.
The actual fix is TBD

[2016-10-17 20:34] superkhau opened #2867 "Replicate .github dir templates across all LB projects"
- [x] Get feedback from @raymondfeng @ritch and @cgole regarding the content of https://github.com/strongloop/loopback/blob/master/.github/ISSUE_TEMPLATE.md and update accordingly (@superkhau will do this after chatting on hangout)
- [x] Copy the entire `.github` dir (you want to copy both ISSUE_TEMPLATE and PR_TEMPLATES) across all LoopBack projects (see https://github.com/strongloop/loopback-tri

[2016-10-17 20:36] superkhau commented on #2837
@bajtos Pull it into planning tmr https://github.com/strongloop/loopback/issues/2867

[2016-10-17 20:38] superkhau commented on #2837
@bajtos I also want to get a few more rounds of feedback (especially from @raymondfeng @ritch) before doing the propogation TBH. We're almost there -- I should be able to get the feedback as part of the task above.

[2016-10-17 21:14] superkhau commented on #2844
@eddiemonge Thanks for the input, we can definitely take some parts from the Yeoman example. :+1:

Might be worth adding a link to each repo that links ot the CLA signing page -- this is done via GitHub UI ATM. For example the link is https://cla.strongloop.com/agreements/strongloop/loopback.

[2016-10-17 21:21] 0candy commented on #2304
For starters, you will need to add the filter arg to accepts: https://github.com/strongloop/loopback/blob/ca1baee0f9547107bdb54853d49ebce6650a4fbf/lib/model.js#L477

@jannyHou Can you point @ahmed-abdulmoniem where he should add the include filter for `hasOne` in juggler relations?

[2016-10-17 21:48] davidcheung commented on #2569
perhaps fixed by https://github.com/strongloop/loopback-component-explorer/pull/182,
- [ ] need to verify

[2016-10-17 22:12] ahmed-abdulmoniem commented on #546
Thanks

[2016-10-17 22:40] ahmed-abdulmoniem commented on #2304
@jannyHou ?

[2016-10-17 23:55] ahmed-abdulmoniem opened #2868 "findById doesn't have consistent filter like other end points"
Hi guys,

Why `findById` doesn't have consistent filter object like other end points!

I can't for example apply where ... only (Include, Fields) which is pretty limiting!

What if I want to return only the object from `findById` if it is owned to the called of the object?

I was adding `where` to all filters so that I guarantee it gets only the required result.

How to do this right now?!

Thanks

[2016-10-18 00:07] davidcheung commented on #2569
looks like this is nolonger an issue in `loopback-component-explorer@3`
![screen shot 2016-10-17 at 8 06 27 pm](https://cloud.githubusercontent.com/assets/1787590/19459975/509b176c-94a5-11e6-9ccd-1c77ca533592.png)

[2016-10-18 03:04] pusaphil commented on #2830
@gunjpan Yep, this issue is good to close.
@superkhau NP. :)

[2016-10-18 04:58] superkhau opened #2869 "List current subscriptions in loopback-connector-mqlight"
### Bug or feature request

- [ ] Bug
- [x] Feature request
### Description of feature (or steps to reproduce if bug)

There should be a way OOB to list the current subscriptions when asked (the cache should be real time and list the current subscriptions.
### Expected result

[code]

[2016-10-18 06:55] #2837 closed

[2016-10-18 06:56] superkhau commented on #2837
Closing in favour of #2865

[2016-10-18 07:31] superkhau commented on #2770
@bajtos Last time I spoke to raymond regarding this, he mentioned https://github.com/strongloop/loopback-swagger/blob/master/lib/specgen/route-helper.js#L276 line failing since swagger expects `formData`. Basically change that line from:

[code]

to:

[code]

What are your thoughts on this before I update the PR?

[2016-10-18 11:18] doublemarked commented on #2824
Just ran into this today when hitting a `find` route with an `inq` filter containing > 20 items. IMHO it's unreasonable for code to break by default if you suddenly have 20 items in an `inq`.

I'm glad for the arrayLimit solution, however - should juggler perhaps be fixed so that it can work with either an array or an object? Currently it just bails because it doesn't understand how to process the

[2016-10-18 11:21] doublemarked commented on #2824
Also, in the very least, can we improve the error inside _coerce to hint at `arrayLimit`? It took me an annoying amount of time to unravel the problem.

[2016-10-18 12:38] bajtos commented on #2770
@superkhau +1 for fixing loopback-swagger to produce `in: 'formData'` instead of `in: 'form'`. BTW I think this is a bug introduced while upgrading our specgen to Swagger 2.0. In Swagger 1.2, `paramType: 'form'` is valid.

[2016-10-18 12:54] JanHavel commented on #1742
I'd like to see answers here not at groups.google. !

[2016-10-18 14:06] jannyHou commented on #2304
@ahmed-abdulmoniem I am following the context in this issue, will reply asap :)

[2016-10-18 14:15] davidcheung commented on #2824
@doublemarked agreed, lets note the limitation from the _coercion method for now as a temp fix, so people can at least troubleshoot this without digging into the code all the way to `qs`

then later look into getting better at coercing :p

@bajtos @superkhau

[2016-10-18 14:21] bajtos commented on #2824
Sure, I think improving `_coerce` to handle object-like arrays created by `qs` is a reasonable idea. Anybody willing to send a pull request?

[2016-10-18 15:01] doublemarked commented on #2824
@bajtos I can give it a go.

BTW, according to https://github.com/ljharb/qs/issues/107 ... it looks likely that v7 of qs will default arrayLength to 0, so the direction things are going is that we'll need the juggler parsing array-like objects. Also in that Issue they reveal that arrayLength exists to prevent params like `key[999999]` auto-vivifying an array of that length.

[2016-10-18 15:08] tspoke opened #2870 "Before delete order in inherited User model"
### Bug or feature request
- [x] Bug
- [x] Feature request
### Description of feature (or steps to reproduce if bug)
- Create an inherited model of Loopback User model
- Declare a before remote method in it and send error.

[code]
### Expected result

I expect that nothing will happen in my database.
### Actual result (if bug)

The access token is deleted in my database because in the User model t

[2016-10-18 18:06] swfredrik opened #2871 "Cant get current accesToken in operation hook"
How can I get the current user in an operation hook? I've tried the guide using context vice versa but can't get it to work. Also reading that the loopback-contex is depricated.

https://docs.strongloop.com/display/public/LB/Using+current+context#Usingcurrentcontext-Configurecontextpropagation

Here is my operation hook:
 Model.observe('before save', function (ctx, next) {
ctx.accessToken....
}

[2016-10-18 20:24] loay commented on #2003
Hi @mike-aungsan .. did the above comment fix the issue? ^^

[2016-10-18 21:18] Amir-61 opened #2872 "Add support for audit trail"
### Bug or feature request

- [ ] Bug
- [X] Feature request

### Description of feature (or steps to reproduce if bug)

Add support for audit-trail middleware.

Can we put this in our agenda and plan it? If yes, I'm willing to work on it...

/to: @bajtos @raymondfeng

[2016-10-19 06:14] amerishk opened #2873 "Error : "Cannot redefine property: getConnection" using slc run to start a server"
### Bug or feature request

- [x] Bug
- [ ] Feature request
### Description

When using oracledb (node-oracle) module to establish a connection in a SLC Project, we are getting "error: uncaughtException: Cannot redefine property: getConnection ". This is happening whenever we use "SLC RUN" to start the node server. On the other than, when we use "NODE ." everything works. We asked the same issue i

[2016-10-19 06:57] alihalabyah opened #2875 "Socket IO Weird Behavior"
Hi Guys,

I have Loopback version `2.34.1` and SocketIO ver `1.5.0` and the socket is integrated according the official documentation of Loopback as per the below code snippet:

[code]

Whenever I start my application it will work fine with no issues and the connection will be upgraded to Websocket with a response code of `101` however the moment I try to access the rest API even by entering a wro

[2016-10-19 07:08] vijay22sai commented on #1364
Getting this error. while creation of user, it catches if there is any error. but, if i use updateAttributes function, throwing an uncaught exception. Can someone help?

[2016-10-19 07:21] ahmed-abdulmoniem commented on #2304
@jannyHou Thank you waiting :)

[2016-10-19 07:35] alihalabyah commented on #2875
@bajtos Since as I can see you are very active here Can you please look at the above?

[2016-10-19 07:59] superkhau commented on #2525
Closing this issue in favour of leftover individual stories:

- https://github.com/strongloop/loopback/issues/2770
- https://github.com/strongloop-internal/scrum-loopback/issues/1074
- https://github.com/strongloop/loopback-connector-kv-redis/issues/15
- https://github.com/strongloop-internal/scrum-loopback/issues/1015

[2016-10-19 07:59] #2525 closed

[2016-10-19 11:20] bajtos commented on #2875
@alihalabyah No idea what may be wrong. Could you please create a sample application that we can run locally to reproduce the problem? See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2016-10-19 11:27] bajtos commented on #2872
@Amir-61 could you please extend the description with more details? What data should be stored in the audit and for which operations?

[2016-10-19 13:04] bajtos commented on #2807
Let me elaborate in more detail why I originally proposed to drop support for Node v0.10/0.12 in LoopBack v4.

**1) semver**

As most of us have already experienced, when a project drops support for a Node
version in a minor/patch version, downstream consumers are facing difficult
situation. A code depending on `"loopback": "^2.30.0"` used to work yesterday,
but it no longer works today (on Node v

[2016-10-19 13:10] bajtos commented on #2807
One more comment. My reluctance to drop support for Node v0.10 in LoopBack 3.0 comes from the fact that we are in a release candidate mode where no more breaking changes should be made. We are already using regular release numbers when publishing to npmjs.org, i.e. `3.0.0` was already published as the first release candidate.

[2016-10-19 13:21] qpresley commented on #2807
@bajtos On this last comment, is there any reason why a move to not support LB 3.x on Node v0.10 is a breaking change?  I would be much more comfortable with a concrete statement that Node v0.10 and Node v0.12 are use at own risk where as LB 2.x continue to support 0.10 and 0.12 on a best effort basis.

[2016-10-19 13:37] bajtos commented on #2807
`loopback@3.0.0` was already published to npmjs.org, albeit as a release candidate under the `next` tag, and it does include support for Node v0.10 in the sense that it was running there at the time of publish. So if we add `engines: >= 0.12` let's say in `3.0.1`, then there is a breaking change between `3.0.0` and `3.0.1`.

OTOH, when we consider this is all pre-release stuff that nobody should b

[2016-10-19 14:15] sam-github commented on #2807
I'm on the fence... LB@3 is not officially released, so maybe dropping 0.10 support isn't so terrible. But then, it was published not npmjs.org, maybe dropping 0.10 is a breaking change. Maybe post on the google group list to get feedback? Maybe post a blog entry and tweet and point people to here to get feedback on what the community thinks? Its so hard to know how many LB3 users on 0.10 :-(

[2016-10-19 14:28] loay commented on #2799
I am glad you figured it out, but I am just wondering how does your middleware look like, was it something like:

[code]
Since it is working now, I will close the issue but if the same thing persists, please leave a message and I will re-open the case. Thanks.

[2016-10-19 14:28] #2799 closed

[2016-10-19 14:51] davidcheung commented on #2569
closing this as [loopback-workspace](https://github.com/strongloop/loopback-workspace/commit/6a5a10453ed7ad34179d259f3ac9114be66e453f) will now(once published) scaffold with new explorer

[2016-10-19 14:52] davidcheung commented on #2569
didnt notice its only lb@2.x that would get new explorer, probably still an issue

[2016-10-19 15:18] loay commented on #2568
Hi @shankarpilli
Can you please provide a test project with steps to reproduce the issue so I can debug? Thanks

[2016-10-19 16:12] Ijmir commented on #1009
+1
can't query date field with exists - throws error when trying to cast it to date.
any update on this?

[2016-10-19 16:41] Malkiat-Singh commented on #1481
@dcarter5804 You can use remote hook after create for this
Model.afterRemote('create',function(ctx,modellnstance,next){
modelInstance.address.create(ctx.reg.body.address,function(err,result){
if(err){
modelInstance,destroy();
next(err);
}
next();
});
});

[2016-10-19 17:11] acrodrig commented on #505
Just wanted to comment that @mymainmanbrown's trick above does not work (at least with the latter versions of Loopback). It will create a `BLOB`/`TEXT` column which is unsuitable for the foreign key constraint.

[2016-10-19 17:50] jannyHou commented on #2304
@ahmed-abdulmoniem Let's say we have define a `hasOne` relation from `parentModel` to `childModel`, here is the code of function `parent.children()`:
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L1640

It doesn't support filter, only returns you the child instance.

I think a possible approach to add filter is define a scope as what `hasMany` doe

[2016-10-19 18:15] loay commented on #2364
Hi @tmikulcek
as I can see here in find: Error: Unexpected `undefined` in query
but the `err` in `destroyall` gives undefined and that's why the test fails.
I will flag it as a bug.
Thanks for reporting the issue.

[2016-10-20 01:31] lailavinson commented on #1692
+1

[2016-10-20 08:04] kartsims commented on #2695
Looks like a proxy error, you could :
* log the requests (chrome devtools)
* replay them according to your scenario (wait some time etc.) [using CuRL](https://coderwall.com/p/-fdgoq/chrome-developer-tools-adds-copy-as-curl), except that you would *change the URL to use the direct URL to the loopback instance* if available

If direct access is not available, figure out a way to make it available, b

[2016-10-20 08:58] bajtos commented on #2807
Good idea 👍

https://groups.google.com/forum/#!topic/loopbackjs/b9MCPOHrUgk

[2016-10-20 09:02] bajtos commented on #2807
On the second thought, perhaps we are too cautious? For long term, I doubt anybody would care about this short episode where LB 3.0.0 and 3.0.1 did support Node v0.10/0.12 and LB 3.0.2 or 3.1.0 dropped it. Majority of users will learn about LB 3.0 at the time when Node v0.10 was already out of LTS and the first LB version they will use will be the version which has already the right set of support

[2016-10-20 13:36] sam-github commented on #2807
I don't know if we are too cautious :-(. I think its a good idea to drop 0.10 support. I'm not sure about 0.12. Its really a question of what people want, vs how much effort it is. Its definitely some effort. Its impact is ... unknown. Maybe we will get feedback from https://groups.google.com/forum/#!topic/loopbackjs/b9MCPOHrUgk

I don't like the idea of dropping support for 0.12 while it is still

[2016-10-20 14:23] bajtos commented on #2807
My concern with locking dependencies is that if we lock down a dependency to support Node v0.12, we won't receive any more bug (or security!) fixes in that particular dependency. I.e. users running LoopBack on Node v4/v6 will be penalised because LB is making best effort to not break Node v0.12. When I over-exagerrate, we are making a tradeoff - do we want LB that supports Node v0.12 or LB that do

[2016-10-20 14:37] qpresley commented on #2807
I like this idea of locking them down to stick within a major release. The catch is that it requires that bugs are opened against modules that drop 0.10 and 0.12 in minor releases. This should allow you to continue to get security fixes on minors or PR them to the offending module

[2016-10-20 14:37] beingshashi commented on #2859
Hi,
@davidcheung ; i have tried what you have told and it worked also , but now i am getting different type of error , while creating relations in loopback models:-

ubuntu@ip-172-31-46-222:~/beingexpert$ slc loopback:relation
Native thread-sleep not available.
This will result in much slower performance, but it will still work.
You should re-install spawn-sync or upgrade to the lastest version of

[2016-10-20 15:04] davidcheung commented on #2859
weird, never ran into this myself
would you be able to tell us what version ur `slc` and `generator loopback` is?
`npm info generator-loopback -g .version && npm info strongloop -g .version`

[2016-10-20 15:28] loay commented on #2003
Hi @mike-aungsan please leave a comment if you still require further assistance and I will reopen the issue. Thanks.

[2016-10-20 15:28] #2003 closed

[2016-10-20 16:29] alemhnan commented on #531
@superkhau is there any status update for this?

[2016-10-20 16:59] sam-github commented on #2807
It allows getting security fixes on minors, true, but most upstream modules don't back-port security (or any) fixes to older minors, only the latest major.minor gets fixed. We should probably be much more proactive in observing the states of our deps and identifying security fixes that need backporting, but that is hard to do. It might require observing all PRs to all dependencies, and evaluating

[2016-10-20 17:04] beingshashi commented on #2859
@davidcheung :->
ubuntu@ip-172-31-46-222:~$ npm info generator-loopback -g .version && npm info strongloop -g .version
1.24.4

6.0.3

[2016-10-20 17:15] beingshashi commented on #2859
@davidcheung @jannyHou -->
ubuntu@ip-172-31-46-222:~/kinekt_apis$ slc loopback:property
FATAL ERROR: Evacuation Allocation failed - process out of memory

not able to add property ..kindly look at the issue.

[2016-10-20 17:26] bostondv commented on #683
+1

[2016-10-20 18:32] davidcheung commented on #2859
@beingshashi do u also get this behavior on other machines? or is it just one machine that you face this issue?  I leaning to think it is a problem with the environment?

[2016-10-20 18:54] davidcheung commented on #2756
same issue as https://github.com/strongloop/loopback/issues/2824

[2016-10-20 19:01] Amir-61 commented on #2756
@davidcheung Thanks!
Closing in favour of https://github.com/strongloop/loopback/issues/2824

[2016-10-20 19:01] #2756 closed

[2016-10-20 19:32] nammaianh opened #2880 "Retrieve all remote methods of a model"
I am using `nestRemoting()` to have nested URLs.

I want to disable and changed ACL for some nested remote methods that i got from `nestRemoting()`, but the explorer does not show them. It's hard for me for me to do the task.

Anybody know how I can retrieve all remote methods from a specific model?

Thank you very much!!!

[2016-10-20 19:34] jbcpollak commented on #491
I just ran into this with `destroyAll()` - I can't believe this is still open 2 years later:

[code]

[2016-10-20 19:42] dancingshell commented on #531
Heres how I'm going about this. Feedback welcome!

Disabling the put `replaceById` method and only using the `patchAttributes` (loopback 3.0.x). Just to be safe in the before hook throw error if using put.
[code]

then in the model, you can set the props as immutable
[code]

Of course you can change `immutable` to `readOnly` if you prefer that. I haven't figure out how to implement for relations y

[2016-10-20 20:00] jbcpollak commented on #491
@raymondfeng using your workaround I get this error message:

[code]

[2016-10-20 20:15] superkhau commented on #2807
@sam-github Has pretty much hit all the main points. I would like to emphasize:

I feel community would understand if we explain we follow Node core release schedule in terms of support, and lock versions up to then and there. They will have a working version of non-updating LB2 and are free to upgrade at their discretion.

This is important too, and the drinking from a firehose part. Just let LB2