[2019-11-12 16:29] #2182 closed

[2019-11-12 16:30] bajtos commented on #583
LoopBack version 3 is in LTS, we won't be adding any new features.

[2019-11-12 16:30] #583 closed

[2019-11-12 16:31] bajtos commented on #702
LoopBack version 3 is in LTS, we won't be making breaking changes like this one.

[2019-11-12 16:31] #702 closed

[2019-11-12 16:32] #1295 closed

[2019-11-12 16:35] bajtos commented on #2493
AFAICT, this issue was fixed at the UI side.

[2019-11-12 16:35] #2493 closed

[2019-11-14 11:17] #3593 closed

[2019-11-14 19:25] dhmlau commented on #4270
Back to `Triaging` as @deepakrkris needs to look into it some more.

[2019-11-15 05:52] #4247 closed

[2019-11-15 12:43] hubitor opened #4280 "Unhandled error for request GET /images/throbber.gif: Error: Cannot GET /images/throbber.gif"
## Steps to reproduce

I was following this tutorial:
[Introduction to LoopBack - Using It With SQlite3](https://www.youtube.com/watch?v=ii17_TdzKPM&t=3s)

These are the steps in short:
[code]

Now when I start LB with:
`$ npm start`

LB is showing an error. This was not the case with the in-memory database.

## Current Behavior

[code]
## Expected Behavior

No error after starting LB.

## Link to

[2019-11-15 13:27] bajtos commented on #4270
Users should always provide `options` argument, it's the way how context is propagated (current db transaction, info about the current user, etc.).

In many cases, users don't need to tweak access token data, they are ok to use the defaults. That's why we allow `createAccessToken` with no `data` argument.

I guess it would make sense to prioritize clarity of API over convenience and force uses to

[2019-11-15 14:03] bajtos commented on #4280
Thank you @hubitor for reporting the issue. Please provide a link to the reproduction sandbox, as explained in https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-3x-bugs.

[2019-11-15 14:08] bajtos commented on #4280
Please provide a link to the reproduction sandbox, as explained in https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs.

[2019-11-15 14:43] bajtos commented on #4278
@sujeshthekkepatt thank you for reporting the issue. Please create a small app we can run to reproduce the issue, see https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-3x-bugs

[2019-11-16 08:30] sujeshthekkepatt commented on #4278
I have added the necessary code for reproduction. The forked repo can be found [here](https://github.com/sujeshthekkepatt/loopback-sandbox).
## Steps for reproduction

- Run the cloned repo.
- create(post) a usermodel instance using the endpoint ```/usermodels```
- create(post) a ```/usermodels/{id}/myanothermodels```. Here ```me``` can be used instead of ```id```.
- Retrieve (get) the related ins

[2019-11-16 12:41] hubitor commented on #4280
Here it is:

[https://github.com/hubitor/loopback-sandbox/tree/issue4280](https://github.com/hubitor/loopback-sandbox/tree/issue4280)

I hope, I did it correctly.

[2019-11-16 17:51] #3886 closed

[2019-11-16 20:37] ewrayjohnson opened #4282 "Composite Id not working for embedsMany relations"
## Steps to reproduce
1. Create an embedsMany relation where the embedded model has a composite id as described by:
https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#composite-ids
2. Add an array of embedded objects where one (e.g. the first) of the id properties is a duplicate, but other id properties is not a duplicate.

## Current Behavior
The code errors on the first duplicate pro

[2019-11-18 21:25] dhmlau commented on #4282
@jannyHou , could you please take a look? Thanks.

[2019-11-19 14:32] sujeshthekkepatt commented on #4278
@bajtos Any updates ?

[2019-11-20 08:48] aceraizel commented on #1610
Any fix update this issue?

[2019-11-22 01:38] dhmlau commented on #4275
@vucv138, we're working on the documentation, see https://github.com/strongloop/loopback-next/issues/3694. In the meanwhile, could you please check out this blog post series: https://strongloop.com/strongblog/building-an-online-game-with-loopback-4-pt7/?

I'd like to close this issue as duplicate of #3694. Please continue the discussion over there if needed. Thanks.

[2019-11-22 15:32] bajtos commented on #4280
@hubitor thank you for the app. Here is what I tried:

1. Setup: `git clone` your project, checkout the branch, run `npm install`.

2. Run the app as-is via `npm start`. The app starts, when I go to http://localhost:3000, the page displays two items.

3. Install `loopback-migration-tool`, run `lb-migration migrate --ds=db sqliteDS`. Here is the output:

[code]

4. Run `npm start`. The application

[2019-11-22 15:40] bajtos commented on #4278
Just for the information: it's necessary to login and set the access token in API Explorer first, before calling this endpoint.

Other steps work as described and I did receive the same error as you.

[2019-11-22 15:41] bajtos commented on #4278
I am also able to reproduce the problem when I call `GET /usermodels/{id}/myanothermodels` right after creating the user and logging in, it's not necessary to create and delete `myanothermodel`.

[2019-11-22 16:08] bajtos commented on #4278
The weird part is that we have a test in loopback to verify that 404 Not Found error is returned when the target model of HasOne relation was not found, see here:

https://github.com/strongloop/loopback/blob/2db09a3d00c0c2a5698f86de868aeabef95a57af/test/relations.integration.js#L1809-L1815

Model definitions:
 - [Customer](https://github.com/strongloop/loopback/blob/2db09a3d00c0c2a5698f86de868aeab

[2019-11-22 17:14] hubitor commented on #4280
@bajtos  thanks for checking!

Well, this is weird. I tried I a couple of times and I was always getting the same error.

It seems to be related to swagger-ui:
[https://github.com/swagger-api/swagger-ui/search?q=throbber.gif&type=Issues](https://github.com/swagger-api/swagger-ui/search?q=throbber.gif&type=Issues)

[2019-11-23 07:31] sujeshthekkepatt commented on #4278
@bajtos yes I am also getting 404. Yep the current error message is not a proper one. But returning ```null``` in this scenario is a recommended one,right ? So that we could easily check for null value and continue with our logic. But throwing error makes it bit confusing. And it introduces unnecessary error handline and all. Error message improvement helps to understand what happened under the ho

[2019-11-23 18:25] mdmusaib opened #4284 "Include Base Property in loopback api"
I would like to login with the loopback api with some additional conditional parameters like
username or email , password , status is active or inactive if active member only can be able to login into the systems and access the token only if it is active user, for inactive user the user should not login...

can you help me out to fix this issue, I'm really looking forward for your help!!!

[2019-11-23 21:32] #4203 closed

[2019-11-23 22:50] ewrayjohnson commented on #4282
Pull request: https://github.com/strongloop/loopback-datasource-juggler/pull/1794

[2019-11-26 14:14] aymen94 opened #4285 "Added loopback to the popular framework using Node.js"
https://github.com/nodejs/nodejs.dev/pull/372

[2019-11-26 15:57] dhmlau commented on #4285
@aymen94, thanks for submitting the PR over there and letting us know.  Anything you need from us here, besides letting us know? Thanks!

[2019-11-26 16:03] aymen94 commented on #4285
Nothing, now i close it.

[2019-11-26 16:03] #4285 closed

[2019-11-28 13:22] jsylvester89 commented on #2137
How do we achieve the nestRemoting in Loopback4?
ModelA -> relationX -> ModelB -> relationY -> ModelC

[2019-11-28 13:28] jsylvester89 opened #4286 "LoopBack 4 nestRemoting"
How do we achieve the nestRemoting in Loopback4?
ModelA -> relationX -> ModelB -> relationY -> ModelC in a single endpoint?

Here there is a solution to achieve it in loopback3....
https://github.com/strongloop/loopback/issues/2137

[2019-11-28 13:32] sujeshthekkepatt commented on #4278
Any update on this @bajtos ?

[2019-11-28 18:19] richardpringle commented on #2137
@jsylvester89, I think you want to post this in the [loopback-next repo](https://github.com/strongloop/loopback-next/issues)

[2019-11-29 13:43] bajtos commented on #4278
The current behavior is intentional. The 404 error object is created only when you call the endpoint via REST API. Without this interception, your HTTP clients will get `204 No Content` response. IMO, `404 Not Found` is more appropriate - it better describes what happened.

[2019-11-29 14:08] fasenderos opened #4287 "lb3 - Relations on uuid"
## Steps to reproduce
When the `foreignKey` of the relations point to ID everything works as expected, while if I try to point the foreignKey to UUID, the UUID is parsed as integer (NaN) and the relation not work.

To reproduce create 2 models:

**Customer**
[code]

**Address**
[code]
Get customer with address related by ID:
[code]
![work](https://user-images.githubusercontent.com/1219087/69873078

[2019-11-29 14:55] bajtos commented on #4287
This looks like a reasonable assumption to me. Can you try to apply https://github.com/strongloop/loopback-datasource-juggler/pull/1783 to the juggler module installed in your dependencies and then add `useDefaultIdType: false` to `uuid` property definition?

[2019-11-29 15:09] sujeshthekkepatt commented on #4278
@bajtos  In that case as you suggested, improving the error message seems a perfect fit

[2019-11-29 15:37] fasenderos commented on #4287
Thank you for your reply.
I replace in `loopback-datasource-juggler/lib/datasource.js` on line 711
`if (idProp && idProp.generated && this.connector.getDefaultIdType)`
with
`if (idProp && idProp.generated && idProp.useDefaultIdType !== false && this.connector.getDefaultIdType)`

Then edited `Customer` and `Address` models as below:
[code]
But I get same results, uuid NaN.

[2019-11-29 16:16] bajtos commented on #4278
Great! See our [Contributing guide](https://loopback.io/doc/en/lb4/code-contrib-lb4.html) and [Submitting a pull request to LoopBack 4](https://loopback.io/doc/en/lb4/submitting_a_pr.html) to get started.

[2019-11-29 16:17] bajtos commented on #4287
Hmm, then the problem may be somewhere else.

[2019-11-29 16:48] fasenderos commented on #4287
The juggler always look at the id prop, so adding `"id": true` to uuid property make the relation work again:
[code]

[2019-11-30 19:58] saadismail commented on #1905
@thanh-taro's solution worked fine for ~4 weeks until now when I tried using built-in reset password logic. After spending ~2 hours debugging why it doesn't work, I have figured out that I had changed the AccessToken creation behavior (for JWT) and reset password's built in logic also depends on it.

Do we have any good alternative for this JWT hack?

[2019-12-02 08:40] mel-neumtech opened #4291 "How can i set a access token with an infinity ttl so it does not expire"

[2019-12-02 11:44] wilywork commented on #1870
i have this problem..
when send to server a array: styles:["1","3","2"] the server convert to [1,2,3].
loopback version 3.26.0
solution for this?

[2019-12-02 16:15] fasenderos commented on #4287
Although the model relations now seem to work fine, most of the methods don't.

For ex `Customer.create()` returns an object **without** the ID prop **but** with the auto incremented id in the UUID prop, like this:

[code]
While in the db the entry is correct:
[code]

[2019-12-04 14:39] katherdx commented on #4217
Any updates?

[2019-12-04 15:19] sujeshthekkepatt commented on #4217
You may need to find other solutions. This issue, I think , outside the scope of this repo. It has nothing to do with loopback. You are on your own. You may check other ways like dockerizing your app (may be😊). Consider any other solutions. It's my opinion.

[2019-12-04 15:56] demiro opened #4292 "LB3: multiple hasOne relations on a one model not working for me"
## Steps to reproduce

I have two simple models (using mongoDB for DB)...
I have a model called wedding and another one called person

on the wedding I have 3 relations

[code]

So my wedding document in DB looks something like this:
[code]
## Current Behavior
When I do filter:
`{ "include": ["partner1", "partner2"]}`
on
http://localhost:3000/api/weddings/5de78c76f89d1a8ad4091ca5

I am getting thi

[2019-12-05 05:50] mitchelangelo commented on #3593
I am having the same issue it only seems to occur for integers when I went into the model and changed it to a string [where] works as expected.

[2019-12-05 13:53] #4136 closed

[2019-12-05 15:10] bajtos commented on #1870
@wilywork Please create a small application we can use to reproduce the issue, see https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-3x-bugs. Ideally, there should be a failing test reproducing the HTTP call you are making. Once you have the app, then please open a new issue.

Resurrecting 2+ year old issues does not work well for us, the maintainers. Thank you for the understandin

[2019-12-05 15:29] bajtos commented on #4292
@demiro thank you for reporting the bug. I don't see any obvious problems in your description, it may be a bug in the framework. Would you like to investigate it yourself? My recommendation is to start here: https://github.com/strongloop/loopback-datasource-juggler/blob/2f867576b66fe535aa1f82bceaaa680ecd4eec6c/lib/include.js#L889-L960

[2019-12-06 14:35] #4061 closed

[2019-12-07 09:30] #4256 closed

[2019-12-09 02:51] yshing commented on #4292
@demiro I think you setup the relation in a revert way.
what it actually means is sth like
What you want is actually `belongs to` (targetId stored in current Model)

https://loopback.io/doc/en/lb2/BelongsTo-relations.html
[code]

[2019-12-10 07:11] pookdeveloper commented on #1137
Another way ?? i want to delete the field email in the table.
Thankss

[2019-12-10 11:38] #3393 closed

[2019-12-11 08:52] RipkensLar commented on #4275
@dhmlau @deepakrkris @jannyHou
I don't think this and https://github.com/strongloop/loopback-next/issues/3694 should be closed. I went through the shopping-example, the documentation and the README from the authorization package and am still unsure how I can implement role based authorization. Your linked blog post series is not using the current authorization package, so this does not help.

The

[2019-12-11 17:35] dhmlau commented on #4275
@deepakrkris @jannyHou, could you please help? Thanks.

[2019-12-12 06:52] Tyagi0502 commented on #4109
Same issue occurring for some time now. Fixed it last time by replacing Class name in a specific field definition with 'object'. But, it started happening again and cannot fix it now by any means.

[2019-12-13 16:36] #4263 closed

[2019-12-14 00:37] garrettmac opened #4294 "“loopback-connector-atg” does not exist or is private"
The README.md has an enterprise section to a dead hyperlink

  https://github.com/strongloop/loopback-connector-atg

I would love to see this! Is it private or on the roadmap? Curious why no hyperlink or repo for this?

Thanks! Your project is new to me but looked exciting!

[2019-12-14 14:54] dhmlau commented on #4294
@garrettmac, the above link redirected to a private repo. It says "DEPRECATED AS OF 2016-09-19", and there hasn't been code change even earlier than that date.

@raymondfeng , saw from the history that you're one of the key contributors in that repo. Since this repo has been deprecated, do you know of any alternatives? Thanks.

[2019-12-15 23:55] bshrram commented on #3951
@medanis-bentili
did you find a solution for that ?

[2019-12-16 00:26] bshrram opened #4295 "'where' filter on 'hasMany through' relation works well except when using 'id' field"
## I have two models: **edParty** & **user**

*edParty hasMany users (through model named userParties)*
*user hasMany edParties (through userParties)*

I can do this:
[code]
but when I replace **name** with **id** in filter, it gives an empty array!
[code]

and this is working fine:
[code]
I use Mongo connector

[2019-12-16 01:34] medanis-bentili commented on #3951
@bshrram it's been a long time so I don't really remember and I switched to koa and loopback 4 for most of my projects.
You could always write a custom remote method or a remote hook if you still have a problem.

[2019-12-18 18:18] bwmusake commented on #2830
It does not matter if you create an acl table in the db and populate it with acls. The acls are read from the acl settings in the model, so you can push them in boot scripts or specify them in the model.
I have been trying to see its effect from the database and at last i decided to drop all acls in myacl table, it didn't have any effect on the app. What prompted all this is the question i was hav

[2019-12-20 14:18] HugoPoi commented on #4291
Here the process to enable infinite TTL https://stackoverflow.com/a/50591768

[2019-12-23 16:54] agnes512 commented on #4257
We support custom scope for inclusion now https://github.com/strongloop/loopback-next/issues/3453 :D

[2019-12-23 16:54] #4257 closed

[2019-12-23 19:44] micko75 opened #4296 "Loopback 4 install on Windows 10 core-js 2.6 is no longer maintained"
Good day;
I have this error during the install of loopback-cli and on application initialisation.
==============================================================
npm WARN deprecated core-js@2.6.11: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version of core-js@3.
=======================================

[2019-12-26 00:36] #4261 closed

[2019-12-26 07:11] skt1598 opened #4297 "how to create example documentation for Remote Method"
How to create example documentaion for api's created using remote method. Example like what will the input data and what will the structure of output data.

[2019-12-26 14:08] sujeshthekkepatt commented on #4297
It's automaticallyget  generated

[2019-12-27 22:48] dknapp47 opened #4298 "Event loop blocked when querying ~4k rows from a PostgreSQL database"
We are seeing repeated event loop blocked results in our Loopback application.

## Steps to reproduce

1. Download and npm install the sandbox app
2. Start a postgres database using docker-compose -f postgresql.yml up (or update the data source to point to an existing postgres insteallation).
3. Start the app using node.
4. Open loopback explorer and create the suppliers contained in suppliers.jso

[2019-12-28 02:50] sujeshthekkepatt commented on #4298
Was using loopback with Postgres for a long time. I never experienced such an issue. I have cloned the repo and ran against my Postgres installation. I didn't find any such issues as you described. I am using Postgres 9.6 on my local machine.

[2019-12-28 14:29] dknapp47 commented on #4298
@sujeshthekkepatt Thanks for trying to reproduce the issue. We have been using and loving Loopback with Postgres for almost five years as well :). But only recently added blocked-at to our app to check for thread blocking issues in dev and test. The issue could have been there for some time before that (how would we know?).

I am sorry that you could not reproduce the issue. Perhaps there is some

[2019-12-29 05:39] sujeshthekkepatt commented on #4298
From the log I feel it's something related to postgres  connection management. I am not jumping into any conclusions. I will try to reproduce it. And a docker/docker-compose would be great :). It would be more convenient if some one from the core team take a look @bajtos

[2019-12-29 16:30] dknapp47 commented on #4298
@sujeshthekkepatt I have added the dockerfile and docker-compose. You should be able to just do docker-compose up and it will run. I tested and had the same results.

[2019-12-30 03:57] sujeshthekkepatt commented on #4298
@dknapp47 It seems like the Postgres configuration issue. You may need to modify the `timeOut` value etc. Could you update the `datasources.json` with the following and verify
[code]

[2019-12-30 11:12] dknapp47 commented on #4298
@sujeshthekkepatt I updated the settings and added logging to confirm that the settings took effect. I also measured the time until the "remove idle client" messages and they match the 60 second settings. Unfortunately it did not fix it. I still see the Event loop blocked messages. I have attached the logs from the container.
[logs.txt](https://github.com/strongloop/loopback/files/4009634/logs.txt

[2019-12-30 11:44] skt1598 commented on #4297
@sujeshthekkepatt in case of remote method auto generated documentation is less. Input model example is not there. How to insert that ?

[2019-12-30 13:19] dknapp47 commented on #4298
@sujeshthekkepatt While testing on my side, I noticed that things had improved but it turned out that somewhere along the way, the postgres database was reset so I had to reload the suppliers.json. After doing that, I am back to consistent blocking reports.

[2019-12-30 15:03] dknapp47 commented on #4298
I have refined the event loop blocking output and also included the logs in the latest commit:

https://github.com/Apex-BPM/loopback-sandbox/blob/master/logs.txt

Line 195 shows that async id 27 which is a TCPWRAP took 89.4ms.

It is interesting that the same async id was called multiple times before that. You can see those on lines 137, 143, 153, 163, 174, and 190. Those ranged from a low of 2.5m

[2019-12-30 22:21] jannyHou commented on #4297
Hi @skt1598 did you create the remote method using CLI?

If so the jsdoc are automatically generated, see code https://github.com/strongloop/generator-loopback/blob/master/remote-method/index.js#L469 and https://github.com/strongloop/generator-loopback/blob/master/remote-method/index.js#L482.

Other than the auto generated docs, what else would you expect to see? Can you post some code or doc exam

[2019-12-31 02:16] sujeshthekkepatt commented on #4298
I think it happens when a new connection is made with the postgres server,which results in the high range of time. It's nothing related to loopback I think. From the log you could find that the highest time taken is for to create a new connection to the server, before that no new connection is made which resulted in less amount of time.

[2019-12-31 17:59] dknapp47 commented on #4298
@sujeshthekkepatt I have made more progress this morning. It appears that the issue is in the callbacks after the executeSQL has results. I need to add more logging but I think that something about the way datasource-juggler handles the 1000 row result may be blocking the event loop. I probably won't be able to dig deeper until Thursday.

[2020-01-02 17:40] agnes512 commented on #4287
@fasenderos I think LB3 takes the id property as the source key by default. That's why when set the uuid property to `id: true` the relation works. I am not sure if lb3 can customize the source key, it probably can't.

I am curious about the result of `Customer.create() `. I have no clue why it returns the wrong `uuid` and ignores `id`. Do you mind posting your `Customer` model definition here? th

[2020-01-03 09:53] fasenderos commented on #4287
@agnes512 here is my model def

**Customer**
[code]

**Address**

[code]
Then I create a boot script **/boot/test.js**
[code]
These are the results
![Annotazione 2020-01-03 104553](https://user-images.githubusercontent.com/1219087/71717069-23ebc180-2e17-11ea-8bf7-4c1e14eeed20.png)

[2020-01-03 10:16] fasenderos commented on #4287
@agnes512 with your suggestions the create() method works right but the relations don't, here is my def with your suggesstions:

**Customer**
[code]

**Address**

[code]
Edited boot script **/boot/test.js**
[code]
These are the results
![Annotazione 2](https://user-images.githubusercontent.com/1219087/71718081-64990a00-2e1a-11ea-9cc1-1e2f17bba313.png)

[2020-01-03 14:07] agnes512 commented on #4287
@fasenderos sorry I made a mistake! Both relation definitions in my suggestion should be :
[code]
Could you try it one more time? thanks!

uuid should be working fine when it's the id property. Just need to check if it's possible to customize the primary key in LB3.

[2020-01-03 14:27] fasenderos commented on #4287
@agnes512 great! Now it works, thanks for your help!

Here is the result
![Annotazione 3](https://user-images.githubusercontent.com/1219087/71728292-fe71ae80-2e3c-11ea-8020-e5170dad3479.png)

[2020-01-03 14:36] agnes512 commented on #4287
Great!! :D

As for your first definition, I think the problem happens when you do the creation.
[code]
Type of `uuid` is string. So it somehow assigns 24 to the int type `id`. And since the `defaultFn` of `uuid` is set, property `uuid` will be generated **automatically**, no need to set the value.

If you would like have auto increment **id** (as the id property) and auto-generated **uuid**, use t

[2020-01-03 14:48] fasenderos commented on #4287
No no, I never create customer with the uuid prop. I always create customer **only with the name** but the **response** was an object with name and uuid (with the auto-incremented id - check the script at **/boot/test.js**  here https://github.com/strongloop/loopback/issues/4287#issuecomment-570522645)

However I understand the point. Thanks so much!

[2020-01-04 11:56] pookdeveloper commented on #3817
I have the same error:
My code:
[code]

[2020-01-04 12:15] pookdeveloper commented on #3817
Like this it works for me:
Documentos.get_document = function (req, res, options, tipo, id_registro, data, cb) {
    console.log(`------->: Documentos.get_document -> Documentos.getFile`, Documentos.getFile);
    id_registro = "8362bd07-8823-4dd9-b0d2-c63aca97dcf0.pdf";
    Documentos.download(tipo, id_registro, req, res);
  };

[2020-01-04 15:28] ras-marques commented on #3514
I would like to keep the model from being exposed on the REST API, but suppress the warning. Is there some way of doing that currently?

[2020-01-04 22:01] dknapp47 commented on #4298
@sujeshthekkepatt Here is an update. I have been working locally adding timing and changes to eliminate the blocking aspects.  Here is a summary of what I have done.

Here is the baseline run output:
[code]
I then added console.time to the allCb in DataAccessObject.find:
[code]
allCb accounted for most of the blocking time. I then added console.time around data.map in SQLConnector.prototype.all an

[2020-01-07 14:58] agnes512 commented on #4287
Feel free to re-open the issue in case it is not solved yet.

[2020-01-07 14:58] #4287 closed

[2020-01-09 03:12] dhmlau commented on #4298
@bajtos  @raymondfeng @strongloop/sq-lb-apex, could you please help with this? Thanks.

[2020-01-09 07:41] deeeed opened #4299 "Loopback API Login using multiple Passport stragegies - Override User.login() ???"
Hi,

I am jumping on a project using loopback and would need to change the behavior of User.login(), what would be the best way to do that?
Can I use a "before hook" or something similar?

Thanks

[2020-01-09 08:08] bajtos commented on #4298
Whoa, thank you @dknapp47  for such detailed analysis!

Based on my past experience, your summary looks like a correct conclusion to me.

Let me try to reproduce the issue on my machine and then investigate what options we have to fix this problem.

[2020-01-09 08:17] #4299 closed

[2020-01-09 13:47] skt1598 commented on #4297
@jannyHou for example my autogenerated get api has example model
"[
  {
    "userName": "string",
    "hashTag": "no_data",
    "userId": "string",
    "oneLineBio": "no_data",
    "location": "no_data",
    "skills": [],
    "experience": "no_data",
    "aboutMe": "no_data",
    "score": 0,
    "videoUrl": "no_data",
    "fbUrl": "no_data",
    "twitterUrl": "no_data",
    "instagramUrl": "no_dat

[2020-01-09 15:07] bajtos commented on #4298
I wanted to reproduce the issue while running the application locally,
using Docker for the PostgreSQL database server only. I ran
`docker-compose -f postgresql.yml up` but the application was not able
to connect with the current configuration.

So first of all, I updated `server/datasources.json` as follows:

[code]

With this new config, I was able to start the app, post sample supplier data
to

[2020-01-09 15:47] bajtos commented on #4298
Here is my current understanding of what's happening under the hood:

The code converting the result from `pg` to an HTTP response is fully synchronous right now, we perform all work in a single tick of the event loop. While this is probably a good thing when the number of records (array items) is low, it does not scale well when the size of data increases.

I verified the claim above by adding th

[2020-01-09 16:06] dknapp47 commented on #4298
Maybe we could use a sensible default and allow it to be overridden with something in options. That would let us set the option for queries that return large result sets for example:

Suppliers.find({where:{status:'Active'}},{resultChunkSize:100},callback);

For backward compatibility, we could set the resultChunkSize to 0 indicating that there is no chunking.

[2020-01-10 08:47] bajtos commented on #4298
I run a quick benchmark using [autocannon](https://www.npmjs.com/package/autocannon) and the following command:

[code]

Using vanilla juggler code, I observed average latency `356.68 ms` and `27.5` requests per second.

After I applied the patch, the performance has significantly degraded to average latency `8225.8 ms` and about `1` request per second.

I agree that a new feature flag (a new opti

[2020-01-10 10:16] bajtos commented on #4298
I managed to create a working prototype that processes query results in chunks of 500 rows, does not trigger blocked-at warnings and mostly preserves the performance:
- `blocked-at` warning is triggered on the first run, I think this is caused by the fact that V8 hadn't had a chance to optimize the code yet.
- average latency is `363.96 ms` (increase of about 2.0%)
- we can handle `27` requests pe

[2020-01-10 14:36] sujeshthekkepatt commented on #4298
@bajtos Can't we use a worker thread? Just a quick question

[2020-01-10 15:59] bajtos commented on #4298
I am not familiar with worker threads enough to be able to tell how easy or difficult it would be to make LoopBack work on worker threads and what would be the overhead of passing the data between the main loop and the worker thread. I suspect it would require significant design changes inside the framework.

[2020-01-10 16:22] sujeshthekkepatt commented on #4298
That I agree. But offloading work is the better choice while dealing with CPU intensive op ,right ? Batching improves the performance but that too has a limitation, I think. Just brainstorming. @bajtos

[2020-01-11 03:52] armmmo opened #4300 "remote hook in built in models"
is there a way to add a remote hook directly to a built in User model in a boot script like in the docs say (when adding a remote method), without having to create a model that extends the built in one and adding the hook in this new one? (in the user management example user is extended and the a hook is added).didnt want to extend, simply add the hook to the built in model.
tried doing it gave me

[2020-01-11 13:04] pookdeveloper opened #4301 "async remothe mehtod change statusCode in begintransaction"
## Steps to reproduce
Async remote mehtod

When i call begin transacction it change the res.statusCode to 204
![image](https://user-images.githubusercontent.com/3384734/72204700-1e2b5700-347b-11ea-96b1-21d03d26c86a.png)

## Current Behavior
Change the res.statusCode

## Expected Behavior
No change  the res.statusCode

Thanks

[2020-01-13 09:19] bajtos commented on #4298
Yes, offloading to a worker thread is a often a good choice. There is no free lunch though, you have to pass extra costs to pass the data between the main thread and the worker thread. So if you are processing only few records (e.g. 50), then the cost of worker synchronization is almost certainly going to outweigh benefits from higher concurrency.

Anyhow, I don't offloading to worker threads is s

[2020-01-13 10:38] bajtos commented on #4297
@skt1598 IIUC, when you say "documentation", you are referring to what's shown by API Explorer, and you would like to improve the documentation for your custom remote method. Is that right?

At high level, you need to describe your method's `accepts` and `returns` parameters in such way that LoopBack can convert your description into meaningful Swagger spec, which will be later rendered by our API

[2020-01-13 18:12] sam-github commented on #4298
@bajtos My thoughts mirror your own in the comment above.

To mimize cpu cost-per-record, it can be worthwhile to get a large set of query rows as a single result, operate on it synchronously, and JSON.serialize() it to the requestor.

But this is trading off cost-per-record with latency. For low latency/fast loops/minimal interaction between requests, it would be better to do stream records, or u

[2020-01-14 09:02] #4274 closed

[2020-01-14 09:02] #4273 closed

[2020-01-14 14:02] #4272 closed

[2020-01-14 19:02] #4276 closed

[2020-01-14 22:02] #4277 closed

[2020-01-16 07:21] skt1598 commented on #4297
@bajtos thankyou. ``` returns: {
   arg: 'info',
   description: 'Information related to the outcome of the operation',
   type: {
     count: {
       type: 'number',
       description: 'The number of instances updated',
     },
   },
   root: true,
 }, ```

The above code solved my issue.

[2020-01-16 07:26] #4297 closed

[2020-01-17 03:06] youknowme09 commented on #4301
async ensures that the function returns a promise.
so.. you didn't return any promise for crear2 function, it's empty response content.

[code]

[2020-01-17 07:10] pookdeveloper commented on #4301
Thanks @youknowme09 i will try it

[2020-01-21 01:38] ewrayjohnson opened #4302 "Synchronous get for hasOne relation not working"
Synchronous get for hasOne relations does not work.
Identical code for a belongsTo relation works.

## Steps to reproduce

Create a hasOne relation and call the synchronous get.

## Current Behavior
   const component = container.component(); //  component is undefined

## Expected Behavior
   const component = container.component();  // this should work

[2020-01-21 10:43] Astha-Anand commented on #2068
Did you have any solution for this? still present

`  sql:
   'UPDATE `group` SET `admin`=\'function () { [native code] }\' WHERE `id`=129',`

[2020-01-23 12:41] bajtos commented on #4298
Thank you @sam-github for chiming in.

We have discussed this topic offline and decided that we are not going to fix it in LoopBack 3 because it would require too much effort.

I opened a feature request for LoopBack 4 to implement "proper" support for handling large query results in a way that preserves good time-per-loop values, see https://github.com/strongloop/loopback-next/issues/4486

[2020-01-23 12:41] #4298 closed

[2020-01-23 15:06] #4301 closed

[2020-01-24 13:02] agnes512 commented on #4302
@ewrayjohnson Hi, could you have more examples / code snippet? thanks.

[2020-01-24 13:54] ewrayjohnson commented on #4302
Working on it...

Wray Johnson
(m) 704-293-9008

[2020-01-24 15:46] dknapp47 commented on #4298
Thank you to everyone who worked on this and we look forward to seeing the large query handling in Loopback 4 :).

[2020-01-25 17:45] #546 closed

[2020-01-25 17:45] #448 closed

[2020-01-28 05:59] ewrayjohnson commented on #4282
I am working on creating tests to show the bug and confirm the fix

[2020-01-28 06:01] ewrayjohnson commented on #4279
I am working on creating tests to show the bug and confirm the fix.

[2020-01-28 14:14] #4270 closed

[2020-01-30 09:11] #4278 closed

[2020-02-04 18:07] #4280 closed

[2020-02-05 21:33] #4284 closed

[2020-02-06 06:07] AnanthGopal opened #4304 "Initial application doesn't work"
I create a basic initial application by using this "https://loopback.io/getting-started.html" page.
I got the error When i try to run the  application  by using "npm start"(I didn't change anything in that application just create an application by using lb4 app then run the application using npm start)

[2020-02-06 06:31] raymondfeng commented on #4304
@AnanthGopal What error did you see?

[2020-02-06 17:44] guitargfv commented on #3380
For the "allowEternalTokens" property to work as expected in custom models, you must set it in the "options" property of the custom model to "true". As well as setting a relationship between the custom model and "AccessToken" within "server/model-config.json"

Ex:

[code]

Tested in loopback 3.x

[2020-02-06 21:06] AnanthGopal commented on #4304
when i run the application, i got ./dist folder not found the issue.

The issue was fixed when i update the loopback CLI Update 1.21.4 → 1.30.0

[2020-02-06 21:06] #4304 closed

[2020-02-10 16:21] RezaRahmati opened #4305 "Self signed certificate error"
## Steps to reproduce
Create loopback project
Add loopback datasource to a web service
Run lb soap
Choose your datasource

## Current Behavior
It throws an error

## Expected Behavior
Generate models and classes

## Link to reproduction sandbox
![image001](https://user-images.githubusercontent.com/10086092/74168098-3bc51b00-4bf7-11ea-8c2a-f999f99e01ed.png)

## Additional information
We are in a li

[2020-02-13 09:33] bajtos opened #4306 "Maintenance LTS"
Almost a year ago, we announced [Extended Long Term Support for LoopBack 3](https://strongloop.com/strongblog/lb3-extended-lts/) and according to the schedule, LoopBack version 3 has entered Maintenance LTS in December 2019.

Let's update our docs & other places to reflect that change.

## Acceptance criteria

- [x] Publish a  blog post announcing the transition.
- [x]  Update the header printed i

[2020-02-14 09:13] natuan62 commented on #1856
@youngtk96 its works. tks so much

[2020-02-21 11:03] praneshvrp1396 opened #4307 "Id property not auto generating in Loopback 4"
## Steps to reproduce
With `settings: {idInjection: true, postgresql: {schema: 'public', table: 'user'}}`
[code]
## Current Behavior

[code]

## Expected Behavior

User created sucessfully

## Additional information

Id is generated when I manually turn on the Identity constraint in table properties via **pgadmin** . But I need the same to be done via running `migrate.ts` of the app.

[2020-02-21 15:34] RezaRahmati opened #4308 "ISO string dates are converted even the model is string"
## Steps to reproduce
I have a soap service returning datetime (to check for optimistic lock later)
this is what I receive if I call the soap service in postman
[code]

Then I generated the model by `lb soap` and this is the model
[code]

Then I call the same endpoint as REST api via loopback

## Current Behavior
What I receive is
[code]

## Expected Behavior
[code]

the precision of date is chang

[2020-02-22 00:41] garrett-gottlieb opened #4309 "AccessToken gets deleted after being created"
## Steps to reproduce

My goal is to return an access token when a new user signs up to prevent having to make 2 requests. Once I sign up the user, I create and attach the access token. I then make a request for the CustomUser's roles.

boot/authentication.js:
[code]

model-config.json:
[code]

models/custom-user.js:
[code]

1. Create a CustomUser
2. Request CustomUser's roles

## Current Behavior

[2020-02-23 07:24] sbeka opened #4310 "How connect only localhost for MySQL?"
I can't connect to MySQL database via 127.0.0.1. My provider says could connect via localhost.
In mysql.datasource.config.json writed localhost, but loopback try connect to 127.0.0.1.
How connect only localhost? Version loopback: 4

[2020-02-23 09:14] #4292 closed

[2020-02-26 10:19] slim-hmidi commented on #3356
I have the same issue here. Is there any progress in that issue or not?

[2020-02-26 12:25] kenma9123 commented on #3356
just bumped on this problem. Any other workarounds? I've been looking even at page 2 of google and no joy.

[2020-02-26 12:42] juanvillegas commented on #4047
Just for reference, there is a package called Bull that allows assigning an ID to the Job. If running multiple instances, attempting to create a job with an ID that already is in the queue will be ignored.
https://github.com/OptimalBits/bull

[2020-02-27 06:27] #4294 closed

[2020-02-28 02:27] #4295 closed

[2020-02-28 10:01] shaikhriyaz434 commented on #1905
you are my hero bro!

[2020-02-28 10:09] mirfmaster opened #4311 "Is it possible to filter count without including the relational data?"
Hello guys, im using Loopback 3.22.0 with postgres as database

What i want to perform is getting relation data with total count of another relation from rest api
eg:
      let filter = {
        include: ["kendaraan", "sopir", "cabang", "rute", "jam"],
        count: ["paket", "reservasi"]
      };
      await this.props.getGlobal(
        `http://localhost:3000/api/manifests?filter=${JSON.string

[2020-02-28 12:59] praneshvrp1396 opened #4312 "Null is not returned if there is no target object available"
## Steps to reproduce

I use 2 models.
Patient and Husband.
They have a relation of type `hasOne` . ie. Patient has one husband.
But when I try to get the husband object with the below code
`await this.patientRepository.husband(id).get()`
I am getting an error as below

Ideally, the code should return the Husband object if it exists or null if it does not.
## Current Behavior

Error as stated abov

[2020-02-28 17:44] agnes512 commented on #4312
@praneshvrp1396 Hi, I believe it's intentional to throw an error if the related target is not found.

[2020-02-28 22:43] RAlhawash commented on #3569
@mrbatista Works with static methods, but not with any instance methods.
for example:
[code]
then when calling the rest endpoint myModule/:id/relationName with the Debug on i get

[2020-02-29 04:26] praneshvrp1396 commented on #4312
But it is mentioned in the documentation that return type is the target
object or null.

On Fri, 28 Feb 2020, 11:14 pm Agnes Lin, <notifications@github.com> wrote:

[2020-02-29 15:22] uldcra opened #4313 "How to create the routes and methods."
I have create new methods in my api, but i don´t know how to make it,
I suppose that are methods are based in models?
Please if somebody how to create new methods and routes, in code.
Thanks.

[2020-03-01 08:49] Fernandogdo commented on #4214
How did you access the value of the photo? I have the same problem

[2020-03-01 16:23] agnes512 commented on #4312
@praneshvrp1396 you're right, I found the inconsistent in [the code](https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/relations/has-one/has-one.repository.ts#L99) and [the API docs](https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/relations/has-one/has-one.repository.ts#L37). Personally I think it should return `null` or `undefined` in

[2020-03-02 04:42] praneshvrp1396 commented on #4312
Cool. You're welcome..!

On Sun, 1 Mar 2020, 9:53 pm Agnes Lin, <notifications@github.com> wrote:

[2020-03-02 10:50] slim-hmidi opened #4314 "Can't attach file in the browser using loopback"
## Steps to reproduce
[code]

## Current Behavior
The archive file stored in the response and not shown in the browser.
[code]

## Expected Behavior
The folder will be added in the browser as an attachement.

## Link to reproduction sandbox

## Additional information

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good i

[2020-03-02 16:01] agnes512 commented on #4311
@mirfmaster I am not sure what you mean by "getting relation data with total count of another relation from rest api", could you explain more with examples? But LB3 doesn't have the `count` filter clauses. See docs: https://loopback.io/doc/en/lb3/Querying-data.html#overview

[2020-03-03 06:02] itsdun1 commented on #702
does setup() inheritence also works with afterRemoteError()

[2020-03-03 12:26] amarbisht09 commented on #1460
You can simply create two relations and also create the fields (senderId, receiverId) in the message table as foreign Keys :
  "relations": {
    "receiver": {
      "type": "belongsTo",
      "model": "User",
      "foreignKey": "receiverId"
    },
    "sender": {
      "type": "belongsTo",
      "model": "User",
      "foreignKey": "senderId"
    }
  }

[2020-03-03 15:05] vanderdill commented on #517
@tellex solution works very well for PostgreSQL. Thank you so much!
I've tested many scenarios, with where conditions and order/limit situations and it is exactly what I needed.

Code and instructions:
https://github.com/tellex/findComplex

[2020-03-03 20:30] #4291 closed

[2020-03-04 13:28] agnes512 commented on #4312
@praneshvrp1396 it should throw an error if an instance was not found. By throwing an EntityNotFoundError, we make the controller implementation much easier. So it doesn't need to convert `null` to 404. The inconsistence is being fixed in https://github.com/strongloop/loopback-next/pull/4773.
I am closing issue as it's resolved, thanks.

[2020-03-04 13:28] #4312 closed

[2020-03-04 20:59] uniconstructor commented on #4126
![ignoring-problem](https://user-images.githubusercontent.com/1384545/75922146-7ecf8280-5e73-11ea-973b-09ca7fe30ad2.jpg)

Problem still persists.

I confirm this bug on latest Loopback installetion (3.26.0). Configuration and steps to reproduce are the same.

Reopening issue.

[2020-03-05 19:21] agnes512 commented on #4126
_I think_ `fields` overrides the setting `persistUndefinedAsNull`.

[2020-03-06 16:25] bajtos commented on #4306
Closing as done 💪

[2020-03-06 16:25] #4306 closed

[2020-03-06 21:42] emonddr commented on #4314
@slim-hmidi, please provide a small app that demonstrates the problem you are experiencing. Thank you.

[2020-03-07 17:29] vincentmarkcelino opened #4316 "point data type for postgresql is not supported"

[2020-03-09 11:01] mikeevstropov commented on #3487
Im using
- loopback@3.26.0
- loopback-datasource-juggler@3.35.0

**roleMapping** model has following relations
[code]

**user** model has
[code]
and **role** has
[code]
When im trying to get related **users** from **role** like
[code]
the `filter` will apply to **roleMapping** instead of **user** collection.
How to fix it?

[2020-03-10 01:54] Wizarth opened #4317 "Remote change-stream causes zombie 'after save' handlers"
## Steps to reproduce

Using the remote, connecting to change-stream creates an observer on the model that is never removed.

With this sandbox:
In separate shells

    NODE_ENV=backend node server/server.js
    NODE_ENV=frontend node server/server.js
    node test.js

## Current Behavior

backend is on localhost:3000
frontend is on localhost:3010

backend is using in-memory db for Test model.
fro

[2020-03-10 14:44] bajtos commented on #4317
Thank you @Wizarth for a detailed bug report.

It makes me wonder, is it possible to recreate your observed behavior in an automated LoopBack test? We already have tests in place to verify that "after save" hooks are removed when the change-stream is closed, see [test/change-stream.test.js](https://github.com/strongloop/loopback/blob/06fcaa144e5e4bbae08f5addea86a924c7339690/test/change-stream.test

[2020-03-10 14:45] bajtos commented on #4316
Thank you @vincentmarkcelino for reporting the issue. LoopBack 3 is in Maintenance LTS mode, only critical bugs and critical security fixes will be provided. Missing support for point data type is not a critical bug, sorry.

[2020-03-10 14:45] #4316 closed

[2020-03-10 14:49] bajtos commented on #2083
LoopBack 3 does not support ES6 class style for defining models. Please use LoopBack 4 instead.

[2020-03-10 14:49] #2083 closed

[2020-03-10 14:50] bajtos commented on #360
LoopBack 3 is in Maintenance LTS mode, only critical bugs and critical security fixes will be provided. We are tracking this request for LoopBack 4 here: https://github.com/strongloop/loopback-next/issues/788

[2020-03-10 14:50] #360 closed

[2020-03-10 14:51] bajtos commented on #491
Closing as resolved per the comment https://github.com/strongloop/loopback/issues/491#issuecomment-255375163

[2020-03-10 14:51] #491 closed

[2020-03-10 15:01] bajtos commented on #4309
As far as I know and remember, access tokens do not support negative time to live (`ttl: -1`). Your code is creating a token that's already expired at the creation time.

If you want to create a token with the standard TTL, then just don't provide any TTL value at all.

[code]

[2020-03-10 15:03] bajtos commented on #4300
Please post the entire boot script.

[2020-03-11 00:36] Wizarth commented on #4317
I was reading the source of strong-remoting, and found that json:true is set for the request.
I updated my test to set json:true as well, and found that both cases (direct connection and forwarding via another loopback instance) cause the zombie handlers. That narrows things down.

[2020-03-11 06:14] sirajalam049 commented on #2165
Any update yet?

[2020-03-11 11:45] Arathy-sivan commented on #2191
Hi,
I try to download files using Loopback4 , then I got these error message

Server is running at http://[::1]:3000
Try http://[::1]:3000/ping
Unhandled error in GET /testfile: 500 TypeError: Cannot read property 'status' of undefined
    at TodoController.getFile (D:\todo\src\controllers\todo.controller.ts:280:8)
    at invokeTargetMethod (D:\todo\node_modules\@loopback\context\src\invocation.ts

[2020-03-11 15:34] emonddr commented on #4314
Have you tried this example : https://github.com/strongloop/loopback-example-storage/tree/master/example-3.0 ?

[2020-03-11 15:53] emonddr commented on #4313
Hi @uldcra,

In LoopBack 3, you create your model, and specify your datasource (e.g. database), and start loopback and you automatically have all the CRUD API endpoints created for you.

https://loopback.io/doc/en/lb3/Create-a-simple-API.html#create-models
( use the  `lb` command to create the project folder, and `lb model` command to create your model(s)).

If you need to customize a model method

[2020-03-13 06:52] Arathy-sivan commented on #2601
Could you please provide email verification code in loopback4 ??

[2020-03-13 07:50] pbalan commented on #3266
@Gomathivignesh @JohnHour89 Can you share your solution? @bajtos Any updates to get files with multipart/form-data?

I'm using loopback v3.
I am trying to upload an image with json form data. https://github.com/strongloop/loopback-component-storage/issues/237#issuecomment-598296893

[2020-03-13 07:53] pbalan commented on #3544
@bajtos looking to upload multipart/form-data. Could it be possible without having to create a remote method? And internally use superagent/request to send file data to loopback-component-storage in original afterremote method?

[2020-03-13 14:09] emonddr commented on #3266
Have you looked at this example?

https://github.com/strongloop/loopback-example-storage/tree/master/example-3.0

Here is a LB 4 solution from a community member:
https://stackoverflow.com/questions/54663283/how-to-use-storage-components-in-loopback-4-0/55213810#55213810

[2020-03-15 03:53] pbalan commented on #3266
Hi @emonddr, thanks for your reply. Are you referring to how to use loopback-component-storage?
I have adapted several solutions to form solution for my problem. I'll post the solution to the above link once I complete my fix.

[2020-03-15 15:44] tangoat2019 commented on #4047
This solution worked for me as well. Loopback 4 tested

[2020-03-18 18:36] emonddr commented on #4314
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2020-03-18 18:36] #4314 closed

[2020-03-18 18:38] emonddr commented on #4313
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2020-03-18 18:38] #4313 closed

[2020-03-18 18:43] uldcra commented on #4313
Sorry for the big delay
Thanks for yor help

[2020-03-19 13:13] bluewayll opened #4319 "Partial patch not working with required true of nested objects"
Hello guys,

Dependencies version i'm using :

`"@loopback/boot": "^2.0.0",
    "@loopback/context": "^3.0.0",
    "@loopback/core": "^2.0.0",
    "@loopback/openapi-v3": "^3.0.0",
    "@loopback/repository": "^2.0.0",
    "@loopback/rest": "^3.0.0",
    "@loopback/rest-explorer": "^2.0.0",
    "@loopback/service-proxy": "^2.0.0",`

What i want to perform is a partial patch by id, my code :

`@pat

[2020-03-19 13:56] BuzkoYaroslav commented on #1819
Does this issue has a chance to be resolved?

[2020-03-19 14:52] jannyHou commented on #2601
weird the verify email address page seems gone https://loopback.io/doc/en/lb4/Registering-users.html#verifying-email-addresses
@Arathy-sivan In Loopback 4 we have an in progress PR showing how to do validation, see https://github.com/strongloop/loopback-next/pull/4895

You can validate a field's format by specifying json spec for it, like
https://github.com/strongloop/loopback-next/pull/4895/files

[2020-03-19 20:25] emonddr commented on #4319
@bluewayll , please provide a minimum LB4 application, so that we can investigate. Thank you.

[2020-03-20 10:37] bluewayll commented on #4319
Hello @emonddr,

I pushed an example of the application, you can find it here :

https://github.com/bluewayll/lb4_partial_patch

Current Behavior

[https://i.imgur.com/Z38ZiYk.png](url)

Expected Behavior

successful PATCH.

Thank you.

[2020-03-20 14:36] emonddr commented on #4319
@bluewayll , thx for providing the app. starting to take a look...

[2020-03-20 15:29] emonddr commented on #4319
@bluewayll , I reproduced your error. Investigating...

[2020-03-20 15:48] bluewayll commented on #4319
@emonddr Thank you.

[2020-03-20 16:01] emonddr commented on #4319
@bluewayll , seems this commit : https://github.com/strongloop/loopback-next/commit/5b9a1efe03a9728dc707eb050c24b0ac7e23a1ec#diff-5b2d24820db7f9cff0ed5e93d171c73cR147   with new code is the culprit at the moment. Discussing with team.

[2020-03-21 10:21] saurabhg22 commented on #2165
Same Issue

[2020-03-21 13:32] SBO-Fooderise commented on #3356
I have loopback 3.22.0 and any if you pass to the callback a custom error object that has statusCode 5xx, the server will take over and respond to client according to the code. Therefore client will not receive the custom error object.

[2020-03-21 19:02] alexdee2007 commented on #683
It's not hard to just override the _buildWhere method at boot time.
For example (i use Oracle DB)

[code]
And then
GET /Books

[code]

[2020-03-21 19:19] alexdee2007 commented on #517
https://github.com/strongloop/loopback/issues/683#issuecomment-602088132

[2020-03-23 02:02] Wizarth commented on #4317
I've narrowed it down to a unit test on strong-remoting, and have submitted an issue there.

[2020-03-24 09:39] joe-at-startupmedia commented on #2791
Almost 4 years later and here I am replicating the same issue. Neither removing the idInjection property or setting it to false resolves the issue. Instead, removing the hasMany foreignkey specification is the only solution for me.

[code]

[2020-03-24 21:44] ewrayjohnson commented on #4302
I’ve been busy, but work on it soon.

[2020-03-25 18:07] emonddr commented on #4309
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2020-03-25 18:07] #4309 closed

[2020-03-25 18:10] emonddr commented on #4308
@RezaRahmati, sorry for the delay in response. If you could provide a minimal application to help reproduce the problem, this would be helpful. thx.

[2020-03-25 18:35] emonddr commented on #4305
@RezaRahmati,

Your statement

[code]

Are you saying that the limited network doesn't have access the the web service url on the internet, and in general doesn't have access to anything on the internet? And when you tried on a network that does have access to anything on the internet, you were able to access this url which is on the public internet?

Please clarify.

Thank you.

:)

[2020-03-26 03:08] #1475 closed

[2020-03-26 03:08] #1217 closed

[2020-03-26 03:08] #274 closed

[2020-03-26 03:08] #1441 closed

[2020-03-26 03:08] #2850 closed

[2020-03-29 16:08] montera82 commented on #4110
Hi, @dhmlau is it possible to specify what Postgres schema to use for queries at runtime? I have a use case where after authorization, I get the schema name from the user object and that would determine what schema on my Postgres DB to query. I'm building a multi-tenant application.

[2020-03-30 19:37] emonddr commented on #4305
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2020-03-30 19:37] #4305 closed

[2020-03-30 19:40] emonddr commented on #4300
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2020-03-30 19:40] #4300 closed

[2020-04-01 15:02] pizza-hut commented on #2073
Hey, in 2020, I have the same problem. I followed the tute step by step and I use the strongloop sql.

Error: Cannot migrate models not attached to this datasource: CoffeeShop

/server/datasources.js
  "localDs": {
    "host": "127.0.0.1",
    "port": 3306,
    "url": "",
    "database": "demo",
    "password": "...",
    "name": "localDs",
    "user": "...",
    "connector": "mysql"
  }
}

server

[2020-04-01 19:31] emonddr commented on #4308
@RezaRahmati , I was not able to reproduce this issue with the web service I created and tested.

My wsdl file:

[code]

where `<element name="date_value" nillable="true" type="xsd:string"/>`

In my web service I pass in a `searchString` and I receive a `SomeData` with 3 fields, one of them being with the date_value of xsd:string .

Running this service through `lb soap`, I get this model

[code]

[2020-04-01 19:31] emonddr commented on #4308
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2020-04-01 19:31] #4308 closed

[2020-04-02 12:35] molok commented on #1729
I had to define and call a function like this, otherwise the server never exists

<pre>
app.disconnectDatasources = function() {
    Object.values(app.dataSources)
        .forEach(ds => {
            if (ds.disconnect) {
                ds.disconnect();
            }
        });
}
</pre>

[2020-04-02 18:59] boakye-agyeman opened #4320 "Passing Values to the next() in remote hooks."
MyModel.afterRemote('create', function(ctx, unused,next){
var NewModel = MyModel.models.User
//Now I will pass the context variables to a variable.
// Example
var body = ctx.req.body;
username = body.Username;
email = body.email;

// I want to create an object and persist into a different model instance. I called that model at the // // top as NewModel referencing the User model.
// The creation w

[2020-04-07 15:43] khiemm commented on #1850
I think I have the same problem
I have `categories_product.json` and `product.productCategory()` return empty
[code]
and I fixed it
[code]

[2020-04-08 01:07] sebastianfelipe commented on #487
Hi. I have some situation here. I'd like the existence of the "documented" parameter to bypass swagger without lose the remoting functionalities. Well, I realised that I can run a boot script, selecting which endpoint deploy on swagger and which not, but, the issue is with related models, I cannot apply the documented property. I think is related with this issue, I'd like to override the by defaul

[2020-04-08 05:32] Wizarth commented on #4317
Fixing https://github.com/strongloop/strong-remoting/issues/482 solved the problem where directly connecting to the backend with json:true would leak handlers.

There remains an issue when forwarding - the handlers survive until the 2 minute change-stream timeout occurs (or some other timeout?), and are then cleaned up.

I think this is an issue in strong-remoting http-invocation - again needing t

[2020-04-09 06:29] youknowme09 commented on #4320
If I'm not misunderstand ... try this

[code]

[2020-04-11 07:06] #4282 closed

[2020-04-11 07:06] #4279 closed

[2020-04-16 09:21] keith666666 commented on #1945
For anyone who want to get a plain text response, the solution is to set the return type to "file" with "root" true, like below:
[code]

The reason is because the result is always get stringify by "res.json":
[code]

`operationResults.sendBody` is a method set from `resolveReponseOperation`, which can only be one of `sendBodyJson, sendBodyJsonp, sendBodyJsonp and sendBodyJsonp`, and non of them wi

[2020-04-18 06:52] amoungui commented on #3841
Hello, I'm developing a node.js project with mongodb, express, but I get this error when I start the server:

MongoDB connection error: Error: slash in host identifier
[nodemon] app crashed - waiting for file changes before starting ...

this is my files:
mongoose.js file:
[code]

my var.js file:

[code]
the index.js file:

[code]

thanks for you help

[2020-04-20 20:01] SephReed opened #4321 ""Content-Type" header is overwritten"
## Steps to reproduce
[code]

## Current Behavior
Content type is `text/plain`
<img width="344" alt="Screen Shot 2020-04-20 at 2 59 27 PM" src="https://user-images.githubusercontent.com/14002040/79794246-8f4e9600-8317-11ea-8bed-324bf93ca1e7.png">

A Content-Type-Test header was also set, it is the correct `text/html; charset=UTF-8`

## Expected Behavior

Content-Type should be `text/html; charset=

[2020-04-20 20:47] #4321 closed

[2020-04-20 20:47] agnes512 commented on #4321
Issue moved to [strongloop/loopback-next #5168](https://github.com/strongloop/loopback-next/issues/5168) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-21 21:34] garrett-gottlieb opened #4322 "Docs are lying: User.login doesn't exist, and logging in a test user fails"
## Steps to reproduce

Write a test in jest or whatever testing framework you use. This is what I've come up with from the 0 documentation I've found about testing in LB3. The problem is that the [official docs](https://apidocs.strongloop.com/loopback/#) outline methods like `User.login` that simply don't exist.

[code]

## Current Behavior

First off... how does it failing logging in a user that

[2020-04-22 09:51] garrett-gottlieb commented on #4322
Created reproducible repo: https://github.com/garrett-gottlieb/loopback-testing-example

I'm still working on reproducing the user api login error, but one issue is already there. It's hard to reproduce because I'm also using a yarn workspaces monorepo.

[2020-04-23 11:54] garrett-gottlieb commented on #4322
Found the solution, which I'm happy to share to save people digging for multiple hours. Firstly, make sure your `test` env for babel only ever points to your `src` folder, since `jest` doesn't need to see compiled written code. Second, you need to wrap the `boot` code in a promise and wait for it to finish before starting your tests. If you're using TypeScript, you also need to add the undocumente

[2020-04-25 14:26] vilasshetkar commented on #3886
Anyone found solution on this.
I'm facing same issue. It's very urgent. Please anyone has solution please share code.

@cata86  would you like to post the solution or part of your solution? I have the same problem and I really appreciated if you could help me.
Thanks.

[2020-04-28 17:07] VictorSalles99 commented on #2504
no solution to this problem so far?

[2020-05-01 16:57] agnes512 commented on #4311
Closing as inactive.

[2020-05-01 16:57] #4311 closed

[2020-05-05 07:00] utsav-hub commented on #935
I have an object which has property "weight" as number,
Now when I pass from angular it is "weight": "50" and in loopback 4 it requires "weight": 50 ,
how do i achieve this i do not want to do anything in angular. Kindly suggest I am tired of doing this since past 2 days.

[2020-05-07 12:05] vanderdill commented on #517
For those who are using PostgreSQL I'm using @tellex solution, and it's working greate on a large project.
I've done some bug fixes and I'm keeping this fork updated with it:
https://github.com/vanderdill/findComplex

[2020-05-09 06:37] nhatnguyen12343 opened #4323 "How auth OpenID with passport-steam"

[2020-05-09 07:03] nhatnguyen12343 commented on #4323
Please help me auth  with passport-steam OpenID setup with loopback

[2020-05-11 06:25] bajtos commented on #4317
Thank you @Wizarth for confirming which part of the problem is fixed now 👍

Let's close this GiHub issue as resolved then. If you ever get time to look into the remaining problem yourself, then feel free to go ahead and open a pull request to fix it, no need to open a new issue first.

[2020-05-11 06:25] #4317 closed

[2020-05-11 06:34] ShubhamRK96 opened #4326 "How to serve static file without passing from auth"
I want to serve static files without passing the request from the auth in middleware.

In `middleware.json`

[code]

I want to bypass auth for serving static files.

[2020-05-11 11:05] jamesjjk commented on #3482
Loopback-data-source juggler does not observe the setting "strict": true, for PATCH model/:id.
Version 3.35.0 is still effected.

[2020-05-11 17:18] deepakrkris commented on #4323
@nhatnguyen12343 please take a look at https://github.com/miyoda/loopback-passport-jwt/blob/master/index.js, https://github.com/strongloop/loopback-component-passport , it may not have specific instructions on `passport-steam` but must answer general questions of using passport with loopback.

[2020-05-11 17:18] #4323 closed

[2020-05-11 17:30] deepakrkris commented on #4322
closing as user was able to resolve build issue.

[2020-05-11 17:30] #4322 closed

[2020-05-11 17:36] deepakrkris commented on #4320
@boakye-agyeman next() only takes an error argument, we cannot pass any data values into it. please take a look at https://loopback.io/doc/en/lb3/Remote-hooks.html

[2020-05-11 17:36] #4320 closed

[2020-05-11 17:36] #4141 closed

[2020-05-11 17:48] deepakrkris commented on #570
catching up with this old thread, looks like custom disabling of https://loopback.io/doc/en/lb2/MongoDB-connector.html#additional-settings is the only way for the REST layer to handle this , please look at https://github.com/strongloop/loopback-connector-mongodb/blob/6c946d1278dbc4b0ea106127bbe793997157d46d/test/mongodb.test.js#L1318. otherwise model layer will have to override find() to check for

[2020-05-11 17:48] #570 closed

[2020-05-11 17:49] deepakrkris commented on #4302
@ewrayjohnson definitely need some code samples

[2020-05-11 21:59] ewrayjohnson commented on #4302
Working on some

[2020-05-14 17:25] luxigo commented on #4204
I had to set "public" to false for the base Users model in model-config.json so that User.findById works eventually.

[2020-05-18 09:24] khlilturki97 opened #4324 "Compiler does not compile Loopback 4"
Hi

I was debugging a project when i found out that the compiler at some point does not work. It did not print any error to console.
I deleted the dist folder and ran compile command, no dist folder was created. Still no error to console

I tried to delete tsconfig.json and tsconfig.tsbuildinfo and then it worked.

I had this bug multiple time (i don't know when it happened neither why)

I am susp

[2020-05-18 11:04] khlilturki97 opened #4325 "Migrating MySQL and Mongo on the same project crush"
I followed [this tutorial](https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html) and everything worked fine. I managed to work with relations on MySQL db.

In my use case, i had to add another datasource based on Mongo and i had a bug while migrating

i had to translate it from french, the original text is

i digged a little in `RepositoryMixin` class, and found out that the problem came f

[2020-05-18 15:04] bajtos commented on #4326
We are recommending users to configure static assets middleware in the `files` phase to avoid performance penalty paid when a request is first passed to the static middleware and then actually handled by the REST API layer. In such case, REST API requests are slowed down by filesystem checks performed by the static middleware.

In your case, the static assets are mounted on a subpath (presumably d

[2020-05-18 15:04] #4326 closed

[2020-05-18 17:52] deepakrkris commented on #4325
duplicate of https://github.com/strongloop/loopback-next/issues/5479

[2020-05-18 17:52] #4325 closed

[2020-05-18 18:21] deepakrkris commented on #4324
@khlilturki97 , I think you are deleting the dist folder in your application (just to confirm, since video is not clear). that has nothing to do with lb4 packages. loopback is ts-compiled before release. So ts -compiler should have troubles either with your tsconfig , or project or lib references. also lb4 related issues must be open in https://github.com/strongloop/loopback-next

[2020-05-18 18:21] #4324 closed

[2020-05-19 08:52] bobby91560 opened #4327 "Generated Controllers using openapi command"
Hello,

I have used the command lb4 openapi that generated successfully all I wanted regards to my yaml configuration.
I just wanted to know if there was a way to separate all the description in the controller, representing by the decorator @api et @operations, in a different file, to have a more readable controller ?
Or a way to have something more cleaner ?

Thanks for your response

[2020-05-19 17:04] thinhnk opened #4328 "Canot upload p12 file"
I use loopback 3 for my project.
I trying to upload a p12 file. But now LB3 can't get filemime of file. Filemime is null.
Before is the response that i console log in **node_modules\loopback-component-storage\lib\storage-handler.js**, function **form.handlePart**

File to upload https://gofile.io/d/rYRJAq

[code]

[2020-05-20 14:21] sirajalam049 commented on #2165
Why there's no assignee here 🤔?

*Bump*

[2020-05-22 01:14] youknowme09 commented on #4328
I think its not a bug.
How do you request to upload a file?
below is my test screen capture
![擷取](https://user-images.githubusercontent.com/6247167/82621008-741fc080-9c0c-11ea-8ec7-33fc93fc67d0.JPG)

[2020-06-04 13:23] eashmohankhatri commented on #4149
Hello @rust4m  were you able to fix this issue? I am facing this issue. Thanks

[2020-06-04 19:10] narenderv7 commented on #1920
you don't need to use where class here, you can directly use

[code]

[2020-06-09 20:13] rohit-ambre opened #4329 "Model table not getting auto created"
Hi,
I am new to Loopback framework.
I have gone through getting started and model creation and tried creating test application.
I created application by command ->  `lb`
and created mysql datasource by -> `lb datasource`
and created  two models by -> `lb model`
which are using mysql datasource.
[code]
so now when I start application by `npm start` and goto `localhost:3000/explorer` and try using a

[2020-06-10 07:28] rohit-ambre commented on #4329
Hi,
so I created a script file in `boot` directory with following code
[code]

It creates table and also updates table if any property has changes and also does not cause loss of data as if when we use `automigrate` function

Thank you

[2020-06-10 07:28] #4329 closed

[2020-06-11 09:40] anirudhr95 commented on #1856
@nirmal25990 your fix worked for me too :)

[2020-06-15 14:19] Karthikayinivkn commented on #4164
So how to implement the same concept in Loopback 4 @raymondfeng

[2020-06-18 20:12] andersonaskm opened #4330 "ENOENT: no such file or directory, open 'C:\Pessoais\Estudos\Loopback\package.json'"
Hi, I´ve just installed lb4 cli and tried to build a new app from following the instructions from https://loopback.io/doc/en/lb4/Getting-started.html

When I try to npm start it shows the following errors

npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Pessoais\Estudos\Loopback\package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Pessoais\Estud

[2020-06-26 14:37] bajtos commented on #4126
Thank you @uniconstructor for reporting the issue, it looks like a bug in the implementation of `persistUndefinedAsNull` to me. We don't have bandwidth to fix it ([LoopBack 3 is in Maintenance LTS](https://strongloop.com/strongblog/lb3-entered-maintenance-mode/)), but I am happy to help you if you decide to contribute the fix yourself.

As I understand the current implementation, when a new model

[2020-07-03 06:49] shilpank commented on #4150
We are seeing the below vulnerability with the loopback latest version :

lodash": "^4.14.151"

Low             Prototype Pollution

  Package         lodash

  Patched in      No patch available

  Dependency of   @loopback/boot

  Path            @loopback/boot > @loopback/service-proxy >
                  loopback-datasource-juggler > strong-globalize > lodash

  More info       https://npmjs.c

[2020-07-07 17:15] uniconstructor commented on #4126
Wow. @bajtos , thank you for such deep explanation of the problem - I will try to use this information to create a bugfix for my backend server.

Best regards, Ilia.

[2020-07-14 04:47] garrett-gottlieb opened #4331 "lb export-api-def throws loopbackApplication.get is not a function"
## Steps to reproduce

`lb export-api-def`

## Current Behavior

[code]

## Expected Behavior

Output the API def

## Link to reproduction sandbox

## Additional information

NOTE: I had to use ` yarn list --prod --depth 0 | grep loopback` because I'm using yarn workspace
[code]

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on wr

[2020-07-15 04:49] vivek-kandhvar commented on #1856
Unless you override parse param in middleware.json, by using a body-parser, setting it in config.js will work. It does work for us.

[2020-07-17 09:43] prithviraj99 opened #4333 "Loopback application middleware not working - No matching layer found errors"
I have integrated my loopback application with appDynamics library and all the middlewares are not firing from then on.
Used the debug command -  DEBUG=* npm start to get the logs and found these logs coming up.
All the middlewares declared through middleware.json and imperatively through app.middleware() command are having this error message - **No matching layer found**

[code]

Any idea what's

[2020-07-21 19:57] sadiss commented on #2831
Thanks @singh7889 You saved my life

[2020-07-25 11:52] clementohNZ commented on #1537
For me, when I was creating a custom connector, I accidentally deleted the output folder `dist` so when I installed it into another package, the entry file was no longer present (i.e. `index.js`).

After recompiling the code for the custom connector package and re-installing the new package, it worked well 😁

[2020-07-28 00:58] dhmlau commented on #4333
@hacksparrow, could you please take a look? Thanks.

[2020-07-28 09:28] hacksparrow commented on #4333
@prithviraj99 does it work fine without appDynamics integration?

[2020-07-28 09:33] hacksparrow commented on #4333
This file is where the middleware stuff is implemented - https://github.com/strongloop/loopback/blob/master/lib/server-app.js.

[2020-08-02 17:07] #2165 closed

[2020-08-03 12:06] hholst80 commented on #4247
that is not valid JSON. That is valid JSON5 though.

Why is it not valid JSON? you need to quote email, password and name.

[2020-08-04 09:07] bivanychko-intobi opened #4335 "The worst readable and non informatics documentation"
It's totally impossible to find something on your f*cking web site. For example for now I am working on Redis KV connector. Thanking to your documentation I don't understand how I can setup Redis for my app. What I should generate except datasource and how can I call 'get/set' functions to get some cache from Redis or set some cache into my Redis.

[2020-08-04 15:37] emonddr commented on #4335
@bivanychko-intobi, your language is not appropriate. Please edit your comment using more appropriate language. Thank you. :)

[2020-08-08 07:43] #4328 closed

[2020-08-10 14:54] ewrayjohnson commented on #2201
I found configuring jest with testEnvironment: 'node' resolved the issue for me. Otherwise jest thinks it is running in a  browser by default.

[2020-08-12 05:33] Maniarasan commented on #3593
I have the same issue. I have used the work around to use "like" temporarily.  I have attached the package.json file to identify if package versions has got anything to do with it.

`{
  "name": "watersense",
  "version": "1.0.0",
  "description": "watersense",
  "keywords": [
    "loopback-application",
    "loopback"
  ],
  "main": "index.js",
  "engines": {
    "node": ">=10"
  },
  "nodemonCon

[2020-08-12 12:06] #4335 closed

[2020-08-17 10:22] dzhiwei opened #4336 "A question about LoopBack 3 EOL"
Hi Team,

Thank you so much for deliver a good product. It help many developers a lot.

May I know is EOL of LoopBack 3 finalized at 2020 DEC?
Is that possible LoopBack 3 will be supported time postponed to 2021?

[2020-09-01 21:52] nellybaz commented on #2695
Hi there. Having the same issue when hitting my loopback APIs

[2020-09-08 02:23] johndpope commented on #1033
@eduar2 - https://github.com/letsfullstack/loopback-connector-dynamodb

[2020-09-08 17:29] SippieCup commented on #1033
That's awesome to see!

[2020-09-09 12:32] herbecon commented on #3356
I have the same issue here with next dependencies:

    "loopback": "3.22.0",
    "loopback-boot": "^3.3.1",
    "loopback-component-explorer": "^6.5.1",

any solution?

[2020-09-09 13:01] flaviogoncalves commented on #3593
I got to work in this way users?filter[where][domain]=domain100

without quotes in loopback4

[2020-09-11 11:29] bajtos commented on #4333
Thank you @prithviraj99 for reporting the issue.

In order to support middleware phases, LoopBack has to monkey-patch internal data structures used by Express to hold routes. Many monitoring agents (e.g. NewRelic) monkey-patch these internal structures too. Unsurprisingly, when two parties are patching the same place, a conflict can occur. In the past, we have fixed our middleware phases to recogn

[2020-09-11 11:31] bajtos commented on #4331
Thank you for reporting the issue. I don't see any obvious cause of the problem. Can you please create a small app we can use to reproduce it?

See https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-3x-bugs

_Note: Failure to provide a sandbox application for reproduction purposes will result in the issue being closed._

[2020-09-11 12:03] prithviraj99 commented on #4333
@bajtos @hacksparrow @dhmlau ,

Sorry for the delay but this is the update i have -

"I have identified the trouble caused by AppDynamics on application code (on loopback’s middleware router_stack) and understood that this was indeed fixed on the version of loopback v3.25.0 onwards. https://github.com/strongloop/loopback/blob/v3.25.0/lib/server-app.js

This is the commit on Loopback’s official git

[2020-09-11 12:36] bajtos commented on #4333
Awesome, thank you for confirming the fix works for you!

I am closing this issue as fixed via #4119 then.

[2020-09-11 12:36] #4333 closed

[2020-09-13 21:55] ewrayjohnson commented on #4302
Will work now

[2020-09-15 18:55] dhmlau commented on #4336
@dzhiwei, thanks for your question.

The EOL Dec 2020 date is applicable to community support (see our [LTS schedule](https://loopback.io/doc/en/contrib/Long-term-support.html)). IBM API Connect customers has extended support for LoopBack 3, see APIC release notes on LoopBack EOS timeline.

We also understand there are still LoopBack 3 users trying to migrate to LoopBack 4, so for the next few mon

[2020-09-20 04:01] #4126 closed

[2020-09-22 09:35] Prashant-Chandel commented on #3356
I am facing the same on my side.Is there any solution to this

[2020-10-01 07:40] shubhddn01 commented on #3970
Is sqlite connector really works? I'm still stuck while making out the electron build. Please let me know if it really works with loopback3 or 4, I am comfortable with both versions.

[2020-10-01 09:34] mituso89 commented on #683
How to use it in loopback4?

[2020-10-01 19:59] dhmlau commented on #3970
The sqlite connector is built by the community, you might want to ask in that repo: https://github.com/strongloop-community/loopback-connector-sqlite3.

[2020-10-01 20:09] shubhddn01 commented on #3970
Already dropped my concern for https://github.com/strongloop-community/loopback-connector-sqlite3/issues/40 . Please let me know if anybody have the solution or I have to write wrapper for sqlite.

[2020-10-06 07:51] seshagiri13 commented on #443
Hi,
Can somebody give me the syntax for overriding patchAttributes method for a model.I have overidden all other methods but facing issue with it

[2020-10-14 13:08] achalas-shaliya commented on #3369
yes... we can do it change the model js file.
when we create remoteMethod; we provide accepts array. there is _arg, type, required, http_. then we can give our request object   into **type** parameter.
follow bellow code.

`UserModel.remoteMethod(
      'login',
      {
        description: 'Login a user with username/email and password.',
        accepts: [
          {
            arg: 'credentia

[2020-10-26 14:00] gonzo09 commented on #1655
@rkmax I know it's been a while but did you find a way to soluce this ?

[2020-10-27 08:50] bala-fashiondx opened #4337 "Error: EMFILE, Too many open files"
Running a loopback application inside docker container .

#The file descriptor was going on increasing  for datasource as mongodb (Checked using lsof | wc -l )#

[2020-11-03 17:28] juanvillegas commented on #443
@seshagiri13 You can always add a beforeRemote that captures everything using the *.* wildcard. Then add a breakpoint in your debugger, trigger the request you want to override, and inspect what the Context object has. The context object has a bunch of information related to the request, including the "name" loopback assigns it internally. You can use that to override it.

[2020-11-10 17:50] triadzack commented on #2508
This still seems to be an issue.  I don't think it is a bug but I guess a feature request?  This is something we are trying to do in our project now and given the size of the data and number of relations can't take the same route @holbora took.

@jannyHou is there a solution for filtering the parent list by its relations?  To use the OP example; I want to return only recipes that have category "Fr

[2020-11-17 06:34] srihakum opened #4339 "nodemailer security vulnerability"
The version of node module `nodemailer` is quite old and affected by the below mentioned security vulnerability.  Fix is required on Loopback 3 as well

[CVE-2020-7769](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-7769):
This affects the package nodemailer before 6.4.16. Use of crafted recipient email addresses may result in arbitrary command flag injection in sendmail transport for sen

[2020-11-18 00:21] dhmlau commented on #4339
@srihakum, thanks for reporting this. Would you like to submit a PR? Thanks.

[2020-11-18 13:00] shubhamsingh2209 commented on #924
Hi ,
I have also faced this issue and find something by which it will solve out this issue.

Actually exists is not a built-in operator, it's MongoDB specific. To use a database-specific operator, you need to prefix it with $, e.g. $exists.

Models.find({
        where: {
            read_at: {
                $exists: false
            }
        }
    }

Steps to resolve:-
"allowExtendedOperators

[2020-11-23 10:40] bajtos commented on #4339
Please note: if your application is not using LoopBack's built-in `Email` model & the email connector, then I believe you are not affected by this vulnerability - the vulnerable code is invoked only when you are sending an email.

As the first step, we need you to compile a list of breaking changes made by `nodemailer` since the version 4 used by LoopBack now, so that we can asses the impact on Lo

[2020-11-23 20:20] jannyHou commented on #4339
The related breaking changes would be:

- Start using dns.resolve() instead of dns.lookup() for resolving SMTP hostnames. Might be breaking change on some environments so upgrade with care. [link](https://github.com/nodemailer/nodemailer/blob/master/CHANGELOG.md#500-2018-12-28)

- SMTPConnection: use removeListener instead of removeAllListeners (xr0master) [ddc4af15] Using removeListener should fi

[2020-11-25 14:38] dhmlau commented on #4336
We also published a blog post https://strongloop.com/strongblog/2020-lb3-eol/ regarding this topic that's pretty much the same as my response above.
Closing this issue as answered. Thanks.

[2020-11-25 14:38] #4336 closed

[2020-11-26 02:01] jannyHou commented on #4339
released as 3.28.0 🎉

[2020-11-26 02:01] #4339 closed

[2020-11-30 12:44] sasanrose commented on #647
I know this is a very old issue, but is there a  work around for this now in lb4?

[2020-12-09 10:42] giovanni-bertoncelli opened #4341 "prototype.updateAttributes hooks not triggered with replaceOnPUT configuration"
## Steps to reproduce
- Configure the project with the flag `replaceOnPUT: true`
- Create a model and declare an hook on `prototype.updateAttributes`, like this:
[code]
- Calling the PUT on that model does not pass through that beforeRemote.

## Current Behavior
Calling the PUT on that model does not pass through that beforeRemote.
Only declaring the hook on the `prototype.patchAttributes` will re

[2020-12-11 10:09] bajtos commented on #4341
Thank you @giovanni-bertoncelli for reporting the bug. Please note that LoopBack 3 is in maintenance mode, we are fixing only critical bugs and security vulnerabilities.

Based on your report, there is a reasonable workaround for your issue, thus I don't consider it as critical and closing this issue as "won't fix".

[2020-12-11 10:09] #4341 closed

[2020-12-15 14:11] rhtpandeyIN opened #4342 "Request to use "node-informixdb" for the Informix connector rather "node-ibm_db""
# Description/Steps to reproduce
Request to use "node-informixdb" for the Informix connector rather "node-ibm_db"

# Link to reproduction sandbox
this module's package.json contains below dependencies:
 "dependencies": {
    "async": "^1.5.0",
    "debug": "^3.1.0",
    "loopback-connector": "^4.0.0",
    **"loopback-ibmdb": "^2.0.0",**
    "strong-globalize": "^4.1.1"
  },

**loopback-ibmdb** has

[2020-12-15 14:15] rhtpandeyIN commented on #4342
Unfortunately, I had to open this issue here as I got no response from the "loopback-connector-informix" repository.
I opened one issue there on Sept 21, 2020, and till now I have not got any response on that.

Repo: https://github.com/strongloop/loopback-connector-informix
Issue: https://github.com/strongloop/loopback-connector-informix/issues/58

Please help us to reach out to the correct team.

[2020-12-15 16:29] bajtos commented on #4342
Thank you for starting this discussion, @rhtpandeyIN.

I am afraid we don't have any Informix/DB2 experts on the maintainers team any more, so we don't have enough knowledge to be able to judge your proposal.

I don't think we can simply change `loopback-ibmdb` to use `informixdb` instead of `ibm_db`, because `loopback-ibmdb` is used by other connectors like [`loopback-connector-db2`](https://gith

[2020-12-15 16:29] #4342 closed

[2020-12-15 17:13] rhtpandeyIN commented on #4342
Thanks for the quick response @bajtos
Yes, "ibm_db" has more traffic as it is an older library in comparison to "informixdb". And also, "Db2" has more customers, and I am not sure how many of them are using "node-ibm_db" for Informix connectivity. So these numbers don't actually represent the real Informix users.

Also, earlier Informix node.js driver did not have support for OpenSSL, but this new

[2020-12-20 07:07] ketansp commented on #3425
Not stale.

[2020-12-21 03:11] marcelodive commented on #466
Does something like this exists in Loopback 4?

[2020-12-31 16:11] a3diti commented on #1018
Can't loopback just make a feature to set a scope option to include or exclude specific calls

[2021-01-05 14:07] bajtos commented on #466
Not yet.

@marcelodive feel free to open a feature request in https://github.com/strongloop/loopback-next

[2021-01-05 14:07] #4331 closed

[2021-01-05 14:08] #4302 closed

[2021-01-05 14:08] bajtos commented on #1018
LoopBack 3 has reached end of life, we are not going to add any new features.

[2021-01-05 14:08] #1018 closed

[2021-01-07 13:13] a3diti commented on #1018
@bajtos Also LoopBack 4 has the same problem, the scope interferes everywhere on every crud operation
According to the loopback overview logic it shouldn't
<img width="933" alt="loopback-overview" src="https://user-images.githubusercontent.com/3646190/103896398-31a2e980-50f2-11eb-9710-e6a8b7dc5fa1.png">

Anyway good luck, i extended to my models to another repository that extended to default crud

[2021-01-25 21:38] ricefice commented on #4139
I've had to do configure dotenv in `index.ts` file instead:
[code]

[2021-01-26 15:56] Naresh-varma commented on #3475
@sarankani Can we have a possible solution here, please?

[2021-02-10 12:57] rigibore-charlie opened #4344 "Add --tables/--models arguments to `lb4 discover` command"
## Suggestion

Add arguments `--tables` or `--models` to `lb4 discover` command.

## Use Cases

I'm a new user to Loopback trying to create a REST API for two large existing SQL Server databases, each database has in excess of 200 tables spanning 8+ schemas, and scrolling the list in the interactive prompts to find the right tables is near impossible.

This would also allow you to selectively disc

[2021-02-16 05:11] aayush-sib opened #4345 "Is there a way to use custom body parser in loopback 3?"
I want to use a custom body-parser in the middleware, but when I remove the line `body-parser#json": { "params" : { "limit" : "15mb"} }` from `middleware.json` I start getting errors, or is there any way by which I can bypass this body-parser for some routes?

`middleware.json`
[code]

[2021-02-17 05:08] aayush-sib commented on #4345
I am able to use the custom body-parser. I was doing a very minor mistake, closing the issue with this comment.
Thanks!

[2021-02-17 05:08] #4345 closed

[2021-02-18 11:13] achrinza commented on #4344
@dhmlau Could you help move this issue to the LoopBack 4 repo? Thanks

[2021-02-18 13:46] noufalnoufu opened #4346 "What is corresponding method to do referencesmany in lb4"
Can you explain how to do referencesmany in loopback 4

https://loopback.io/doc/en/lb3/Embedded-models-and-relations.html#referencesmany

I wanted to store categories and its products Ids as an array in the collection. On get method I need show category info as well as product details as mentioned below .Is there any best with relational model in loopback? I am new in Loopback and node js, please

[2021-02-18 17:00] achrinza commented on #4346
@dhmlau I don't permissions to shift this issue to the [LoopBack 4](https://github.com/strongloop/loopback-next) repo. Could you please assist? Thanks

[2021-02-20 16:12] dhmlau commented on #4346
I think it's a duplicate of https://github.com/strongloop/loopback-next/issues/7102. So I'm closing this issue as duplicate and let's continue the discussion over there. Thanks.

[2021-02-20 16:12] #4346 closed

[2021-02-28 17:53] hardik-ebiz commented on #3056
Solution  {"where":{"colors":{"elemMatch":{"colorId":"1"}}}} is not working with date field.

I have the below data in MongoDB collection. I want to find the examPaperId detail from the timetable according to the current date.
{
    "status": "Active",
    "createdOn": "2021-02-14T17:01:19.008+05:30",
    "updatedOn": "2021-02-14T17:01:19.008+05:30",
    "deleted": false,
    "timeTable": [{

[2021-03-12 22:00] fguille94 commented on #3094
+1

[2021-03-13 13:06] sboudouk commented on #1865
Still no built-in solution for this "issue" ?

[2021-03-14 06:15] natuan62 opened #4347 "MongoDb connector : Error "E11000 duplicate key error index: _id: {_id} when use PATCH api"
I research some solutions like

`loopback MongoError: E11000 duplicate key error collection: my-db.News index: _id_ dup key`

[code]

but still not working

[2021-03-29 07:10] AmanMandloi commented on #3593
Thanks this worked for me also.

[2021-04-12 14:00] sunilsharma0 opened #4348 "How can I inject a custom class between controller and repository."
Hello Team,

Please help me to inject a class between my controller and repository.
I want create a library/myclass.ts and that i want to call from my controller request function. So that i can interact with my different database table through repository instances.

@fabien @albertoleal @sam-github @rmg @Schoonology
Guys please help to do it. As I am moving from Laravel to Loopback.

[2021-04-12 16:57] mercale opened #4349 "Error: Password contains an illegal unescaped character: using loopback-connector-mongodb: ^5.5.0"
## Steps to reproduce

The solution stated in [PR#529](https://github.com/strongloop/loopback-connector-mongodb/pull/529) does not seem to work for me.

Here is my config.
Noticed the last char in password was and equal sign "=" I encoded this with %3D but I am still getting error.
 What am i doing wrong? Can someone help me figure it out please?

So userid and password are pre-generated by mongo-

[2021-04-16 18:29] mercale commented on #4349
I really need help, :( anyone?
I've tried all the posted solutions for this subject, but still getting this pesky error `Password contains an illegal unescaped character`. I've encoded the password but that doesn't help either. Help anyone?

[code]

here is my loopback code, generated by `lb4 datasource` for mongodb:
[code]

[2021-04-18 09:57] achrinza commented on #4349
Hi @mercale, this repo is for the older EOLed **LoopBack 3** framework and isn't being actively monitored. LoopBack 4 is under https://github.com/strongloop/loopback-next.

cc: @dhmlau could you assist in transferring this issue? Thanks!

[2021-04-27 18:52] juned1998 commented on #3356
any updates on this?

[2021-04-29 11:55] Optimus2297 commented on #2076
TypeError: context.end is not a function
        at D:\Workspace_for_cache\SpeedUp\common\mixins\cache-mixin.js:24:36
        at notifySingleObserver (D:\Workspace_for_cache\SpeedUp\node_modules\loopback-datasource-juggler\lib\observer.js:160:24)

i am getting this error while using the above method to cache can you help me with this @bajtos

[2021-05-28 17:50] carlos-herrera-cervantes commented on #1879
If you create the middleware, How can I show this in the **loopback-component-explorer**?. To use it in the documentation of REST API. Same as the token section to put the token and set the access token for all operations.

[2021-06-09 06:31] viotile commented on #2347
Have you found any solution for this?

[2021-06-12 19:26] prateek-raj commented on #3726
I got a solution by defining the custom model in model-config with options
[code]
Hope this might help. This worked for me :P

[2021-09-02 07:46] bestrivens001 opened #4350 "update ejs in 3.28.1 release for loopback"
Hi, @dhmlau @achrinza,
### Issue Description

   I noticed that a vulnerability is introduced in **_loopback@3.28.0_**:
     Vulnerability **SNYK-JS-EJS-1049328** affects package **_ejs_** (versions:<3.1.6):  [https://snyk.io/vuln/SNYK-JS-EJS-1049328](https://snyk.io/vuln/SNYK-JS-EJS-1049328)
  The above vulnerable package is referenced by **_loopback@3.28.0_** via:
`loopback@3.28.0 ➔ ejs@2.7.4`

[2021-11-16 12:35] enisinanaj commented on #683
where does `ParameterizedSQL` come from?

[2021-11-16 13:42] alexdee2007 commented on #683
@enisinanaj

const ParameterizedSQL = require('loopback-connector/lib/parameterized-sql');

[2021-11-16 16:37] cantoute commented on #683
Or perhaps the way to go is switch to typeORM ....

But at this time support for it in lb is at useless... nestjs  ?

[2021-11-25 13:20] wangsenyan opened #4352 "avoid hardcoded password in config file"
## Suggestion

Hi,is there any way to avoid hardcoded password in config file or datasource file ?

for example:

i set encrypted password in config file,

when loopback boot, it auto automatic decryption,

So even if my files are leaked, my password is still safe

thanks

[2021-12-13 18:45] slimdo opened #4353 "Can not findById, deleteById of id injected documents"
My get all method return as follow
`[
  {
    "code": "Server",
    "name": "Server",
    "status": "active",
    "createdAt": "2021-12-13T16:32:46.069Z",
    "updatedAt": "2021-12-13T16:32:46.069Z",
    "createdBy": {
      "appId": "service-management",
      "userId": "2d9ef30a-a9e5-4ba9-934d-b39cbbf8ebcc",
      "orgId": ""
    },
    "id": "123543"
  }
]`

Document on mongodb
![image](https:/

[2022-01-22 15:18] pandayamitray commented on #683
8 years and counting. Still, this basic feature is not there. If I would have known earlier about this, I would have not chosen LB4

[2022-01-22 16:37] cantoute commented on #683
I switched to nestjs + typeorm and no regrets

[2022-02-08 23:49] marcus-gomes-v commented on #2554
Man your reply help me a lot, so many years after you reply, but Thanks!

[2022-02-16 14:44] nishankpathak opened #4354 "Cassandra UDT not being persisted in cassandra database"
Hi @hilagut @fabien @Schoonology , Loopack team,
The code is converting Json object string. We debugged and found the issue with Cassandra.prototype.create function in loopback-connector-cassandra/lib/cassandra.js. Please provide the solution for the issue.

**model class**
import {Entity, model, property} from '@loopback/repository';
@model()
export class Address {
  @property({
    type: 'string

[2022-02-18 17:11] achrinza commented on #4354
Hi @nishankpathak, this repository is for LoopBack 3. Please create an issue or GitHub Discussion in https://github.com/loopbackio/loopback-next for LoopBack 4-related matters.

[2022-02-19 13:54] noeljoaquin30 commented on #2500
hi, the solution is not working also. I'm using loopback 3.
please help me with this.

thank you

[2022-02-20 11:47] arnaud16571542 commented on #4352
One way to solve this problem is to transmit password through env variables. In that way, no password are stored in your code. Take at dotenvext npm.

[2022-02-28 15:53] jotamora commented on #4057
Hello,

Sorry, how do you solved it? I have the same problem...

Thanks in advance

Best regards

[2022-04-16 14:02] samih-dev commented on #1949
Thanks jmdiego,

just needed to take care of one more thing - remote the `returns: [...]` in the model definition - as with it, an error is being thrown related to the headers set.

hope this helps someone, and keeping this as reference to me :)

[2022-05-14 11:05] Doni1231 opened #4355 "No design-time type metadata found while inspecting *.constructor[*]. You can either use `@service(ServiceClass)` or ensure `emitDecoratorMetadata` is enabled in your TypeScript configuration. Run `tsc --showConfig` to print the final TypeScript configuration of your project."
We are using two services, in order to import functions and methods from each others, but in this situation there is a bug shown above

[2022-05-21 13:44] achrinza commented on #4355
Hi @Doni1231, this Git Repository is for the old LoopBack 3 project and is not actively monitored.

Please open an issue in https://github.com/loopbackio/loopback-next/issues for LoopBack 4-related bugs.

For questions on using LoopBack 4, please open a new Q&A discussion in https://github.com/loopbackio/loopback-next/discussions.

[2022-05-22 13:50] Adekoreday commented on #2500
kindly check your NODE_ENV value in loopback 3.
if you add NODE_ENV = production the middleware.local.js would not be used its that of the production that would be used.
more details here
https://loopback.io/doc/en/lb3/Environment-specific-configuration.html

[2022-06-18 09:02] ThatAnonyG opened #4356 "TypeError: TokenModel.findForRequest is not a function"
## Steps to reproduce

Setup the tests with Jest.
Enabled token middleware authentication.
Trying to call protected endpoint via supertest.

## Current Behavior

When calling the endpoint from inside any test block like `beforeAll` or `it` I am getting the error "TypeError: TokenModel.findForRequest is not a function". And upon logging I see that the function is not even present.

Calling it from

[2022-07-07 08:26] Rushikesh-Mule opened #4357 "method to overwrite password for data source connection instead of using config/environment variables"
for security reasons I don't want to store password in config or environment variables so my approach is to get secret password from some API and pass it to framework at runtime while making data source connection. so looking for any solution to pass password at runtime to connection methods.
Thanks

[2022-07-07 08:50] gytisrepecka commented on #2483
Curious to know if that is something planned to be implemented in Loopback v4?

Or the only option is to use conditional logic like in @ako977's [comment](https://github.com/strongloop/loopback/issues/2483#issuecomment-296798228)?

It seems v3 supported [adding version to REST API route](https://loopback.io/doc/en/lb3/Versioning-your-API.html), but it was just using the currently defined version o

[2022-07-28 11:18] alfredgoogle commented on #3301
same issue

[2022-09-13 11:54] engrwaqasali commented on #1149
need this +1
is it available in loopback4?

[2022-11-23 14:16] apV2V opened #4358 "Loopback 4 keep alive when datasource error"
Hello,

I use Loopback 4 framework in my app service. In my app service I have a principal datasource and 2 more external datasources(SQL server). Sometimes the external datasources are not available and the app service crash when called an endpoint that use there. I cannot control when datasource are available or not.

All datasources have the property "lazyConnect", but this property don't works

[2022-11-23 16:49] sanjaybaskaran01 commented on #3301
Has this been resolved? or addressed?