[2017-02-25 11:21] frankorama opened #3235 "Access to parent instance from 'before delete' of embedsMany model"
# Description/Steps to reproduce

I have 2 models setup in an embedsMany relationship such that ParentModel (base: PersistedModel) embeds many ChildModels (base: Model)

This creates the usual api methods, including the delete method for a child instance:
`DELETE  /parent-model/{id}/child-model/{fk}`

I have a `before delete` operation hook on my child model.  When I call the delete method, the `b

[2017-02-25 14:47] ninoguba commented on #591
Since the ACL and AccessTokens are in memory, I believe they are already automatically reset after every script restart.

[2017-02-26 00:46] Biax2099 commented on #531
+1

[2017-02-26 02:02] greaterweb commented on #3215
Thank you, @bajtos, very helpful information!

As mentioned in the [misconfigured access token PR](https://github.com/strongloop/loopback/pull/3231) something seems to be breaking the rules a bit in the custom implementation for my personal project. I might try to prune out some of the business logic and publish a version of the loopback backend for review.

I'll investigate a bit further and repo

[2017-02-26 16:48] vkachan commented on #591
Started playing with Loopback and MySQL database and found that automigrate/autoupdate doesn't create **relations** between tables as well as ACL records for my models. I'm just wondering has anyone solved that somehow? I don't want to put this into the boot script as this makes usage of the relation generator and ACL generators kinda needless.

[2017-02-26 17:01] danielmihai commented on #591
I did it like that.

Daniel M. Colceag

[2017-02-26 18:39] vkachan commented on #591
@danielmihai, I dived deep into the code of **loopback-connector-mysql** and I found that logic does not exist there, only creation of the tables. Thereby it seem like creation of the fk's and ACL records is manual job :(

[2017-02-27 03:03] simoami commented on #1639
+1

[2017-02-27 11:35] barocsi commented on #3215
Worked for me as well. I had an error when updating the extended usermodels email.
[code]

[2017-02-27 13:42] Freundschaft commented on #608
I also think its highly confusing that the documentation states https://loopback.io/doc/en/lb3/config.json.html#top-level-properties

but it doesnt acutally work...

[2017-02-27 16:43] barocsi commented on #3071
It would be great to just have some methods so we can override the hook registration of some email and password related stuff. It can be pretty blocking when you have a slightly but not completely different implementation.

[2017-02-27 17:22] quimarche opened #3236 "How to modify SOAP headers at runtime"
I need to generate an MD5 hash from the query parameters and add it to the SOAP headers for each request. What's the best way of doing this?

[2017-02-27 18:11] deepakrkris commented on #3232
@mathewvino which version of loopback are you testing with, I tested your model definitions, with loopback 3.x and the relations seems to work fine with and without the id field

[2017-02-27 18:13] deepakrkris commented on #3236
@quimarche can you please raise the issue in loopback-connector-soap , https://github.com/strongloop/loopback-connector-soap, we have an associate looking at the issues in that repository

[2017-02-27 18:22] deepakrkris commented on #3236
@quimarche you can add a middleware script to
- [ ] take the query parameters and create a hash
- [ ] set the hash in the context
Please refer,
https://loopback.io/doc/en/lb3/Defining-middleware.html

If you use a custom remote method, then a custom mapping function can access the request object and create the hash,
Please refer,
http://loopback.io/doc/en/lb3/Remote-methods.html#http-mapping-of-in

[2017-02-27 18:37] crandmck opened #3237 "HasMany through relationship is not working when we explicitely add the id attribute"
@mathewvino commented on [Mon Feb 27 2017](https://github.com/strongloop/loopback.io/issues/295)

Hi there,

Here are the three tables mapping;

Notice: If we remove the id attribute from student/course table the join relationship will work:

I am looking for the following : Give me all the courses for student:

Will work the below url if we remove the id attributes from both tables (Student/cours

[2017-02-27 18:48] deepakrkris commented on #3233
@KevinMongiello nice job with the sample repository! I am able to see the error. let me take a look at what is failing.

[2017-02-27 18:48] crandmck commented on #608
Yes, if it doesn't actually work as documented, then we should remove doc for `remoting.rest. normalizeHttpPath` from [config.json](https://loopback.io/doc/en/lb3/config.json.html#remoting-properties) and instead document the property in the [model definition JSON file](https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html).

@Freundschaft Can you confirm that this is correct?

Of course,

[2017-02-27 19:27] Freundschaft commented on #608
@crandmck at least for me the global settings defintively dont work, i didnt check in the loopback sourcecode though.

[2017-02-27 19:28] mathewvino commented on #3232
Deepak.

i am using the below version, for me its works  only when i am not adding any id attributes explicitely.
 loopback@3.2.1

No issues for adding records using loopback explorer. if i add the explicit id  attributes and trying to access  courses using student. Only the below link is not displaying the records.

http://localhost:3000/api/Students/58b08334bb217da88ab673fd/courses

thanks

[2017-02-27 19:44] deepakrkris commented on #3232
@mathewvino , may be this is specific to a db (like mongodb), could you please provide a sample workspace like, https://github.com/KevinMongiello/loopback_include_bug

[2017-02-27 20:22] loay commented on #517
Verification of the feature:
- [x] Memory
- [  ] mongodb
- [  ] Cloudant

[2017-02-27 21:13] zbarbuto commented on #517
@jannyHou Why is SQL n/a? I feel like this should still be possible in Postgresql - but would require using the native JSON type for storage rather than strings as is done now.

[2017-02-27 22:10] deepakrkris commented on #3233
@KevinMongiello This would need a fix, I have temporary solution for the issue, if you query with ``` {"include": {"relation": "post", "scope": {"fields": ["id", "authorId"]}} } ``` the error wouldnt occur

[2017-02-27 22:21] deepakrkris commented on #3233
@bajtos @superkhau the following line creates a filter with only the query fields {'post': {fields: 'id'}}, but does not add relation.keyFrom : `authorId`
https://github.com/strongloop/loopback-datasource-juggler/blob/76c73d55d28dfa150b9e004aeae12aafe0ce6475/lib/include.js#L311

so , the data retrieved does not have the authorId and later at line https://github.com/strongloop/loopback-datasource-j

[2017-02-27 23:17] superkhau commented on #3233
I'm not familiar enough with this area of code, @raymondfeng can you chime in here?

[2017-02-28 00:09] crandmck commented on #608
OK, I changed the docs, PTAL ^

[2017-02-28 00:10] ebarault commented on #3233
I reported this issue à while ago:
Please see https://github.com/strongloop/loopback-datasource-juggler/issues/779

For now you need to manually include the foreign key in the scope of the incriminated relation for it to work, otherwise it crashes the app

[2017-02-28 00:52] pwarelis commented on #2302
I can confirm this. I dug around for a bit:

When the model is created in the registry, it gets the 'id' property from the base 'Model'.

You can set 'id': false on the embedded model to force a deletion of the inherited property further down the line in the model builder, but the call "modelDefinition.idNames()" picks up on the id field and adds one anyway.

[2017-02-28 03:47] KevinMongiello commented on #3233
I've found that `{"include": {"relation": "post", "scope": {"fields": {"id": "true"} } } }` works, and I am successfully using this as a solution right now. @deepakrkris @ebarault

[2017-02-28 06:20] NaqeebSial commented on #3237
You can't use "idInjection": true along with custom id property because "idInjection" would create a same field name in your database so either you can use your on id in model property or "idInjection": true, in this case I would suggest you to remove id property from your model then it will work.

[2017-02-28 10:32] Freundschaft commented on #608
how can I see the preview of the docs you changed?

[2017-02-28 14:22] mathewvino commented on #3237
Hi Naqeeb,

I made some changes making the "idInjection": false and added the id field for both student and course.

The database i am using is Mongodb. I can insert the data using strongloop explorer.

Following steps did

1) post the student  --- verified its works fine -- instering data in mongodb
2) POST /Students/{id}/courses --- insert the course using the above id -- verified and its pushin

[2017-02-28 14:23] mathewvino commented on #3232
Hi Deepak,

I made some changes making the "idInjection": false and added the id field for both student and course.

The database i am using is Mongodb. I can insert the data using strongloop explorer.

Following steps did

1) post the student  --- verified its works fine -- instering data in mongodb
2) POST /Students/{id}/courses --- insert the course using the above id -- verified and its pushin

[2017-02-28 14:40] lygstate opened #3238 "Mongodb findOrCreate caused the data item updated when already exist."
# Description/Steps to reproduce
When using function findOrCreate:
https://apidocs.strongloop.com/loopback/#persistedmodel-findorcreate
with MongDB backend.
when the data item that already exist in database.
It's would update the item in database with the item just provided.
That's not expected for the meaning of findOrCreate.

[2017-02-28 14:43] #3238 closed

[2017-02-28 15:37] kolach commented on #517
@kjdelisle Closed? Does it mean I can now filter by 2 level properties using Postgres or MySQL?

[2017-02-28 16:36] jannyHou commented on #517
@zbarbuto @kolach There's a more fundamental change coming in loopback 4 which might be able to support 2nd level filter across all connectors.

cc @raymondfeng
Can you elaborate more about our plan on supporting nested filter in sql connectors? Thanks :)

[2017-02-28 16:57] crandmck commented on #608
@Freundschaft You can see the changes to the source markdown files in the PR: https://github.com/strongloop/loopback.io/pull/296/files

If you want to preview how they will look on when published to the site, follow instructions in http://loopback.io/doc/en/contrib/jekyll_getting_started.html.

[2017-02-28 19:36] kolach commented on #517
@zbarbuto Don't you think that this issue should be left open until you guys implement that filtering?

[2017-02-28 19:56] kjdelisle commented on #517
My bad; I closed this via ZenHub. I thought it was the internal issue we were using to track the work across our pipeline. Reopening this until it hits npmjs.

[2017-02-28 21:47] kolach commented on #517
Thank you @kjdelisle

[2017-02-28 23:35] kevintelford commented on #2366
I'm having the same problem. To piggy back on @mitsos1os Posts example, I want to issue a query to find the users last 5 Posts, AND I don't want other users to be able to see that users Posts.
`GET /api/posts?filter[where][ownerId]=123&[order]=updatedAt%20DESC&filter[limit]=5`
But how can I craft the ACL? I want to say
[code]
But the $owner ACL doesn't get applied to my find query ([src](http://lo

[2017-03-01 01:25] ebarault commented on #2366
Note that there are 2 slightly different demands here:
* the first one (from @mitsos1os) covers the ability to automatically filter the query results based on the detection of the model instance ownership
* the second one (from @kevintelford) covers strictly the access control part as the user id is passed in the query filter

There's currently WIP on the $owner dynamic role. I'll keep this in min

[2017-03-01 04:46] autovipdeveloper opened #3239 "user verification resend email multiple verification tokens"
each time **user.verify()** is called it adds another token to the email verification link

Thanks for registering. Please follow the link below to complete your registration.
https://192.168.0.108:80/api/Clients/confirm?uid=2&redirect=%2F&token=63e415dedbffe4fed5d9ce34f2faad465f7e379198336ae5a17b6bade48a7b19226af973cc1f569a137c0a769c6c534024ac16cc64d077f40915becc80fb3ee9&token=5d6db9b4b95199b80d3

[2017-03-01 06:48] superkhau commented on #3199
@lazaridis-com @zbarbuto We've been at this issue for awhile now and I've brought this up many times as one of our top priorities. I've been advocating opening up many of the repos to community so that members like you can help triage/maintain issues, docs, etc etc. Make it more open to the general public so that we can scale accordingly. There are discussions of what to do going forward with the

[2017-03-01 07:11] barocsi commented on #3142
@bajtos bump?

[2017-03-01 08:10] mitsos1os commented on #2366
Just for a hint I will tell you what I do to restrict user access to static $owner querying - interacting.
I set up a generic `beforeRemote` hook for all the static functions (ex. **find, findOne, crate, count**) that I want, which extracts the access token from the request, and then checks the `ctx.args` whether they have a `data`, `where`, or `filter` property and add the userId to the specific

[2017-03-01 08:50] ebarault commented on #2366
@mitsos1os : using `beforeRemote` hook makes perfect sense, I implemented this as well in some projects. I would not call that hardcoded. The way I did was to make it a reusable mixin so this can be activated on a per model basis, and in an optionnated manner.

[2017-03-01 09:45] jmls commented on #517
and when may LB4 be coming ?

[2017-03-01 09:58] bajtos commented on #3233
Thank you @ebarault for chiming in. I am closing this issue as a duplicate of strongloop/loopback-datasource-juggler#779  then.

[2017-03-01 09:58] #3233 closed

[2017-03-01 13:15] FalloutPL commented on #2504
@gunjpan Any update of this?

[2017-03-01 13:54] totalard commented on #3194
I will do it soon. Do you still need it?

[2017-03-01 14:07] bajtos commented on #3199
Inspiring reading: http://words.steveklabnik.com/how-to-be-an-open-source-gardener

[2017-03-01 14:18] bajtos commented on #3142
@barocsi How can I reproduce the problem on my machine? Could you please create a small app per our [bug reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)?

[2017-03-01 14:25] totalard opened #3240 "Getting Custom fields from Through Table?"
It seem there is No way to get Custom fields mentioned in hasmany through table while querying **related** data.. or to save data in it.

[2017-03-01 14:25] bajtos commented on #2366
This feature request makes total sense. In my personal opinion, it should have been a part of the ACL system from the beginning.

@raymondfeng @ritch @superkhau ☝️ something to consider for the next LoopBack version

Now that `accessToken` is available in operation hooks via `ctx.options.accessToken`, it should be possible to register a single `access` hook observer instead of multiple beforeRemot

[2017-03-01 14:30] bajtos commented on #3240
Please see the discussion in https://github.com/strongloop/loopback/issues/466 for possible solutions.

I am closing this issue as a duplicate.

[2017-03-01 14:30] #3240 closed

[2017-03-01 14:32] bajtos commented on #3239
@autovipdeveloper thank you for the bug report. Could you please create a small app reproducing the problem, per our [bug reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)?

[2017-03-01 14:33] bajtos commented on #3237
@strongloop/sq-lb-apex this looks to be relations-related, could you please triage?

[2017-03-01 14:40] lazaridis-com commented on #3199
@bajtos , nothing could be of less relevance (to me) than ruby related material.

And subjecting Issue Management, you need just 2 words to keep issues under control:

**Professional Pride**

It's a matter of **professional pride**, to have a projects issue-tracker in a clean and rational state.

Member should always try to kill issues by relevant check-ins.

Managers should reduce issues, by grou

[2017-03-01 14:40] bajtos commented on #3235
Hi @frankorama, thank you for the feature request, would you like to contribute the implementation yourself?

IMO, the parent instance should be ideally available via `ctx.instance` - that way the parent can be access from other places, e.g. from custom (remote) methods. I think the implementation of this feature may be easier/small that way too.

[2017-03-01 14:42] bajtos commented on #3237
Closing as a duplicate of https://github.com/strongloop/loopback/issues/3232

[2017-03-01 14:42] #3237 closed

[2017-03-01 14:44] bajtos commented on #3229
Hi @OSMeteor, LoopBack does not provide direct API for customising response format. However, there are hooks that can be leveraged to achieve that - see the implementation in https://www.npmjs.com/package/loopback-component-jsonapi for inspiration.

[2017-03-01 14:48] kevintelford opened #3241 "Feature Request - $owner access control for all custom resources"
As suggested by @ebarault this is a separate issue from https://github.com/strongloop/loopback/issues/2366

To summarize, I've created a custom model called Posts. A user may create zero to many, and these Posts are private to the user (my actual need isn't Posts, but works well enough). Using loopback, I want to create ACLs to only allow a user to view their own Posts. Furthermore, I want to disp

[2017-03-01 14:49] bajtos commented on #3234
@Freundschaft I see your point. I am afraid there is no easy way for achieving that right now.

Do you have any proposals how to support your use case? Could you perhaps contribute the change yourself?

[2017-03-01 14:52] bajtos commented on #3228
@simenko thank you for the bug report. Could you please create a small app we can use to reproduce the problem on our side? See our [bug reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report).

[2017-03-01 14:57] Freundschaft commented on #3234
Hi @bajtos

currently I am using loopback to quickly build a prototype backend, which then will be used as a blueprint by another company to implement a production grade system.
They are using swagger.json as a reference, and I only want to include interfaces that this other company needs to build, I already disabled everything I dont need, but I dont seem to be able to disable this last function.

[2017-03-01 14:58] bajtos commented on #3225
Hi @PaddyMann, thank you for a detailed feature request, it makes sense to me. AFAIK, LoopBack does not perform any JOIN queries right now, we are always sending several SQL commands when relations are involved. Adding support for JOIN is a non-trivial task, see https://github.com/strongloop/loopback/issues/517.

So while I wish there was an easy way how to support your use case, I am afraid it wo

[2017-03-01 15:03] bajtos commented on #3220
@MrsBookik thank you for reporting the issue.

@strongloop/sq-lb-apex @raymondfeng while I am not very familiar with relations myself, the URL looks legit to me. Should such request work as expected by the user (do we have a bug)? Is there any other way how to implement the requested use-case?

[2017-03-01 15:05] bajtos commented on #3217
@pierreclr It should be possible to add custom prototype methods to any models, including a model extending the built-in User model. Could you please create a small app reproducing the issue per our [bug reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)?

[2017-03-01 15:10] #3061 closed

[2017-03-01 15:10] bajtos commented on #3224
@NaqeebSial I am afraid this how remote hooks work by the definition. Please consider using [Operation Hooks](https://loopback.io/doc/en/lb3/Operation-hooks.html) instead, they were designed specifically for use cases like "do something whenever a model instance was changed", which seems to be your situation.

[2017-03-01 15:10] #3224 closed

[2017-03-01 15:16] mitsos1os commented on #2366
Yes I agree, with the exception that you cannot have the `access` hook triggered for `create` operations and `updateAttributes`...

I also like the idea of a configurable mixin for accepting also some options on which actions it should restrict access... @bajtos  where would be a good location to share this mixin?

[2017-03-01 15:18] bajtos commented on #3234
@Freundschaft A possible workaround: hide `replaceOrCreate` method from the API using [disableRemoteMethod()](https://loopback.io/doc/en/lb3/Exposing-models-over-REST.html), then write a custom method wrapping `replaceOrCreate` that will be exposed only on the `POST` endpoint.

[2017-03-01 15:23] bajtos commented on #3212
While I am not familiar with the mysql connector code myself, it looks like the "discovery" query does not include any information about the `default` value - see [lib/discovery.js#L159-L186](https://github.com/strongloop/loopback-connector-mysql/blob/030f8f9dc152c56f348aeb45e4d7c14387b4a246/lib/discovery.js#L159-L186).

@enricop89 I think this should be an easy change, would you like to contribut

[2017-03-01 15:27] bajtos commented on #3175
@cfjedimaster it makes me wonder, does your `server/model-config.json` perhaps include both the built-in `User` model and the custom user model? If that's the case, then you should remove the `User` entry from your `server/model-config.json` file. IIRC, we print the warning for each User-like model configured in the application.

[2017-03-01 15:28] cfjedimaster commented on #3175
Well to be clear, if this is gone in 3, we can close it, right?

[2017-03-01 15:29] bajtos commented on #2366
I would create a new package developed on github.com and published to npmjs.org. You can promote it e.g. in https://github.com/pasindud/awesome-loopback and http://loopback.io/doc/en/community/index.html

[2017-03-01 15:31] bajtos commented on #3175
LoopBack 2.x is still a supported version and I think most people have not migrated to 3.x yet. Therefore the issue may affect many LoopBack users, IMO it's worth investigating and fixing.

[2017-03-01 15:31] PaddyMann commented on #3225
Sure - thanks for the update

[2017-03-01 15:40] zealseeker commented on #3175
Hi, @bajtos . When I set `logoutSessionsOnSensitiveChanges` as true in `config.json`, error will happen:
[code]
Then I removed this line. Interestingly, the newest version did not warn again. But I think this `logoutSessionsOnSensitiveChanges` is recommanded by you, isn't it?

[2017-03-01 15:43] cfjedimaster commented on #3175
I'll check - I'm on the road this week though so its going to be hard to find time.

[2017-03-01 16:52] rahulrkr08 opened #3242 "Single attributes updates, replacing or empty values for other attributes"
When trying to call PUT call with one or two attributes, which replacing other attributes values as empty. If anyone know please help.

[2017-03-01 19:35] jannyHou commented on #3220
I think the right api would be
[code]

Looks good to me too, it should return only one record if records exist, instead of "NO messages transfered any more "

[2017-03-02 05:34] BingxingXu commented on #559
this should be solved by adding
`RoleMapping.settings.strictObjectIDCoercion = true;`
in boot script
this may help
[strongloop/loopback#3121 (comment)](https://github.com/strongloop/loopback/issues/3121#issuecomment-280283743)

[2017-03-02 07:11] benlime commented on #2719
Also came accross this issue. The usage of bulkUpdates or createUpdates completely unclear. Would appreciate if anybody could describe if this is even implemented or going to work.

[2017-03-02 10:23] pierreclr commented on #3217
@bajtos Could not reproduce in sandbox. Not easy to simulate what happen in a huge app :/ However, I set up a [sandbox](https://github.com/pierreclr/loopback-sandbox/tree/bug/user-prototype) which (for now) show you a problem :  `common/user.js`
[code]

[2017-03-02 12:55] b3rew commented on #3242
i did not fully understand what you meant but normally
`http://localhost:3000/api/modelName/58ad5c0490ac1a2865257f4a`

with data
[code]
will update the single attribute

[2017-03-02 13:04] rahulrkr08 commented on #3242
Hi,

Data for POST call is:

-X POST 'http://localhost:3000/api/brands'

`{
 title: 'testing 333',
  status: 'active',
  description: 'string',
  brand_id: 493,
  slug: 'testing-333'
}`

Data for PUT call is:

-X PUT 'http://localhost:3000/api/brands/493'

`{
 title: 'testing 444',
  slug: 'testing-444'
 }`

after updating remaining existing fields like "description", "status" is removed from DB.

[2017-03-02 14:23] bajtos commented on #3175
@zealseeker please open a new issue and provide steps to reproduce the issue - see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2017-03-02 14:42] bajtos commented on #3220
Thank you @jannyHou!

@MrsBookik Could you please create a sample app with the models and sample data you described? It will make it much easier for us to debug this issue. See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2017-03-02 15:18] tuanquynet commented on #3151
I got the same problem

[2017-03-02 15:38] alemhnan commented on #1231
@raymondfeng , any update for the indexes in the foreign keys?

[2017-03-02 15:57] bajtos commented on #1231
Possibly related, maybe a partial duplicate: https://github.com/strongloop/loopback/issues/3011

[2017-03-02 18:28] BoLaMN commented on #3235
I was able to achieve the same thing in

https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L2100

this function I added

[code]

so you could access the parent instance by using parent = @parent()

may help, cheers

[2017-03-02 18:45] BoLaMN commented on #2797
The issue is patch uses `$set: 'settings': object` on the root object key 'settings' so it completely over writes the object stored instead it should use `$set: 'settings.currency': object.currency` which would patch only that field.

It's the same for all embedded relationships unfortunately, none of the patch end points work correctly due to this issue

[2017-03-02 19:08] BoLaMN commented on #3241
correct $owner only works for the related endpoints as that's how the role resolver knows what id it is, you could probably create your own role resolver that some how iterates through every possible combination that the ownerId could be provided (and/or, nested and/or statements) but its not really a performent iteration.

I normally set the model not to be public so it's only accessible through

[2017-03-02 19:31] Freundschaft commented on #443
how can I disable the filter paramter this way? for my GET /api/entity endpoints I would like to disable the filter parameter

[2017-03-02 22:56] necevil commented on #2254
Hey Guys,
I ran into a similar issue and setting my DEBUG=loopback:connector:mysql environmental variable really helped troubleshoot the query issue.  For those not familiar on the terminal, run:

export DEBUG=loopback:connector:mysql

Thanks @loay and @raymondfeng
Wanted to re-post that suggestion since it solved a problem that I had worked on for ~3 hours prior to finding this discussion.

[2017-03-02 23:08] jannyHou commented on #2719
The current doc only has a link to `bulkUpdate` jsdoc: https://loopback.io/doc/en/lb3/Creating-updating-and-deleting-data.html#updating-data-model-instances

We need to figure out the correct way to use that api and add use case in a certain example repo.
Then update our doc as well.

BTW, @kamal0808 @benlime anyone runs into the error, could you elaborate more about the error message?

Is `Change

[2017-03-03 01:37] Freundschaft commented on #443
just figured it out, its possible to just override by rebinding to the http path:

[code]

[2017-03-03 02:15] anodynos commented on #418
It would be great of we could add support for a Promise to be returned for each `loopback-component-XXX` loaded status + more.

This will allow us to decide whether to perform a task or not, or even disable parts of the API's functionality, wait before running tests etc.

See for example this workaround of auto-migrate https://github.com/snowyu/loopback-component-auto-migrate.js/pull/4

BTW and fo

[2017-03-03 05:37] kamal0808 commented on #2719
@jannyHou - No, only the term 'CategoryModel' comes from my project, rest everything is Loopback

[2017-03-03 09:28] bajtos commented on #418
@anodynos thank you for the comment. Your request makes sense to me, however it's rather off topic in this thread, which is focused on modifying existing APIs to support dual callback/promise. Could you please open a new issue to discuss component registration/discovery?

[2017-03-03 09:55] sukheja-varun opened #3243 "Calling loopback API methods directly"
Questions:
 Unable to call API methods using have many relation ,directly in loopback remote method.

# Description/Steps to reproduce

I have a model with relation: organisation has many folders and folder belongs organisation.
I can see API: /Organisation/{id}/folders
I want to call the methods corresponding to this API directly in my another remote methods.
Like :
Organisation.folders(id, funct

[2017-03-03 10:04] duncancasemore commented on #3091
Hi @loay did you get a chance to have a look at this?  We've very keen to upgrade to a later loopback release but this is holding us back at the moment.

[2017-03-03 10:52] honestserpent opened #3244 "Access the header of an HTTP request inside an operation hook?"
How is it possibile to access the request headers inside an operation hook?

I have a model that I have exposed through the REST API, and everytime I access an api I need to check whether a header field is present in the request or not, but apparently this is not possible. Well, at least, I haven't found any solution.

## Description

For instance, I have created a model named `Shop` and made it p

[2017-03-03 11:01] ebarault commented on #3244
hi @macogala, have you looked at https://loopback.io/doc/en/lb3/Using-current-context.html#access-the-context-from-operation-hooks ?
it's been recently added to LoopBack and should match your needs.
**Note: it requires LoopBack v3**

[2017-03-03 11:09] ebarault commented on #3243
hi @sukheja-varun : as you can see in https://loopback.io/doc/en/lb2/HasMany-relations.html#methods-added-to-the-model,

methods are added on model class's prototype: meaning that you can do the following in your code:
[code]
where `anOrganisation` is an **instance** of Organization.

doing
[code]
is not relevant here

you should then do something like
[code]

[2017-03-03 11:11] macogala commented on #3244
hi @ebarault , I have looked at it, but if I perform a GET request , ctx does not contain the header of the request. Yes, I am using Loopback 3.0.

To test it, I created a GET request with Postman and inserted a field in the header named Authorization and its value, but I can't see it in the ctx object. The same problem should anyway occur with any other header field. It just looks like I can't ac

[2017-03-03 11:23] ebarault commented on #3244
@macogala : using the context params in req options require a little bit of configuration, as mentioned [here](https://loopback.io/doc/en/lb3/Using-current-context.html#override-createoptionsfromremotingcontext-in-your-model)
did you go through the process of customizing the value provided to the “options” object?

for example, the following should give you access to the full ctx inside the option

[2017-03-03 11:40] bajtos commented on #3215
I'll defer these two tasks for later.

@greaterweb if you manage to trim down your app to something that can be shared, then please open a new issue.

[2017-03-03 11:40] #3215 closed

[2017-03-03 11:52] timlind opened #3246 "Avoid committing db credentials to datasources.json"
# Description/Steps to reproduce

Datasource credentials should come from env variables and committing to source code should not be encouraged.

A templating solution which allows reference to env variables should be implemented.

# Expected result

A templating solution which allows reference to env variables should be implemented.

# Additional information

Documentation should discourage storin

[2017-03-03 12:10] bajtos commented on #3217
Thank you @pierreclr for the sandbox app. I am afraid I am not able to reproduce your problem. When I run your app, I see the following output:

[code]

When I fix the boot script to actually call the method (`user => console.log(user.undefinedPrototypeMethod()`), then I receive:

[code]

[2017-03-03 14:18] pierreclr commented on #3217
@bajtos Sorry, I just figured out what was my problem. (it comes from the way unit tests were launched. However (and I think another bug issue should be opened) my sandbox show you that I can't get `user.customer()` (user is an instance) neither `this.customer()` inside prototype method ...

[2017-03-03 14:29] pierreclr commented on #3217
@bajtos Sorry for this issue. It was due to the way I launched unit test.

[2017-03-03 14:29] #3217 closed

[2017-03-03 14:31] bajtos commented on #3217
@pierreclr `user.customer()` is async function, you should pass a callback to received the related model. It returns a cached value, which is not set on the first call, that's why you are receiving undefined.

[2017-03-03 14:32] bajtos commented on #3217
[code]

[2017-03-03 14:36] bajtos commented on #1807
You can also try the new additions in loopback-context, e.g. https://github.com/strongloop/loopback-context#bind-for-concurrency

We have removed `getCurrentContext` APIs in LoopBack 3.0, we are not going to further investigate this issue.

[2017-03-03 14:36] #1807 closed

[2017-03-03 14:37] #1457 closed

[2017-03-03 14:40] bajtos commented on #2339
Looks like all is good, I am closing this issue as resolved.

[2017-03-03 14:40] #2339 closed

[2017-03-03 15:06] #2063 closed

[2017-03-03 15:07] bajtos commented on #473
We will be adding support for controllers in the next major version of LoopBack. Stay tuned!

[2017-03-03 15:07] #473 closed

[2017-03-03 15:08] bajtos commented on #445
Closing this issue as done - see https://www.npmjs.com/package/loopback-component-jsonapi

[2017-03-03 15:08] #445 closed

[2017-03-03 15:09] #1247 closed

[2017-03-03 15:10] #1249 closed

[2017-03-03 15:11] #989 closed

[2017-03-03 15:12] #858 closed

[2017-03-03 15:12] #2371 closed

[2017-03-03 15:15] bajtos commented on #3144
Looks like the issue was fixed. I am closing this ticker, feel free to reopen it if needed.

[2017-03-03 15:17] bajtos commented on #3121
I am closing this issue as resolved.

[2017-03-03 15:17] #3121 closed

[2017-03-03 15:18] #2554 closed

[2017-03-03 15:25] pierreclr commented on #3217
If feel terribly sorry : I though loopback fallback returns the result in an synchrone way in case of no callback.

[2017-03-03 18:21] anodynos opened #3248 "Components 'loaded' Promise & loopback <--> components contract"
New Feature:

It would be great if we could add support for a Promise to be returned for each `loopback-component-XXX` loaded status + more.

This will allow us to decide whether to perform a task or not, or even disable parts of the API's functionality, wait before running tests etc.

See for example this ~~workaround~~ beginning of a nice and simple loopback <--> components contract for auto-mig

[2017-03-03 18:24] anodynos commented on #418
Thanks @bajtos - I opened it here https://github.com/strongloop/loopback/issues/3248

[2017-03-03 20:24] 0candy commented on #3243
Hi @sukheja-varun , did @ebarault 's answer resolve your issue?

[2017-03-04 11:16] BoLaMN commented on #2797
looked into it further and came up with https://gist.github.com/BoLaMN/b69979b6dca800fd23579c32900593ba which i wrapped around data here https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L515

works quite well

eg
[code]

[2017-03-04 17:20] sukheja-varun commented on #3243
Hi @0candy, @ebarault answered my question and it worked perfectly

[2017-03-04 20:59] #3243 closed

[2017-03-04 20:59] ebarault commented on #3243
Closing as solved

[2017-03-05 18:45] saurabhnsonar commented on #2483
Any update on this feature?

[2017-03-05 19:08] svanbaelen commented on #2516
Is the functionality mentioned by @ebarault available?

[2017-03-05 22:43] ebarault commented on #2516
Hi @svanbaelen : yes!
Take a look at http://loopback.io/doc/en/lb3/Authentication-authorization-and-permissions.html
and search for the "Access control with multiple user models" section

[2017-03-05 22:46] ebarault commented on #2516
Closing as available

[2017-03-05 22:46] #2516 closed

[2017-03-06 08:02] hoangtrongphuc commented on #1321
I have a solution and I'm using it in my project:
In model Game :
[code]
In game.js file:
[code]

[2017-03-06 08:32] LuckyLam34 commented on #1722
--ignore-scripts worked for me. Many thanks!!!

[2017-03-06 09:45] ebarault opened #3250 "enhance context passing in OWNER role resolver"
### Description

In regards to: https://github.com/strongloop/loopback/pull/3230

With the move to explicit context passing of an `options` object, internal calls to `find` etc needed to be updated to pass the necessary information along, too. In this case, `isOwner` calls `findById` on a Model, but does not pass an access token in `options`.

In https://github.com/strongloop/loopback/pull/3230, @

[2017-03-06 09:54] ebarault commented on #2797
hi @BoLaMN,
Would you like contributing your fix as a pull request?

[2017-03-06 13:01] BoLaMN commented on #2797
already in progress @ebarault at https://github.com/strongloop/loopback-connector-mongodb/issues/355

I need to write some tests for it still

[2017-03-06 13:22] vkruoso commented on #2302
Any updates on this? Those inconsistencies are not good the product. This also happens for other databases or it is just MongoDB? Maybe the problem is with the MongoDB connector only.

[2017-03-06 15:51] AndreMaz opened #3251 "Add support for custom "accepts" types"
It seems that there is no way of adding a custom content type for Loopback's API. As stated in [Remoting properties](https://loopback.io/doc/en/lb3/config.json.html#remoting-properties) the supported types are 'application/json','application/javascript', 'application/xml', 'text/javascript', 'text/xml', 'json', 'xml'
The 'application/vnd.api-json' is also supported but is not one of default types.

[2017-03-06 15:56] bajtos commented on #3250
One option is to add a new `Role` method to build the "options" object passed to `Role.isOwner`. Subclassed models then can override this method, although I am not sure how easy it is to configure LoopBack app to use own `Role` model.

[code]

Another option that comes to my mind is to add support for 4-arg role resolvers with the signature `(role, context, options, callback)`. The catch is how to

[2017-03-06 16:00] bajtos commented on #3248
@raymondfeng @davidcheung could you PTAL please? How does this fit into the new loopback-boot design/architecture?

FWIW, loopback-component-explorer is "publishing" its configuration via `app.set('loopback-component-explorer')`, see https://github.com/strongloop/loopback-component-explorer/blob/188603f352e1a6a6ba7587aaa0a9e3e1a75ce387/index.js#L38

[2017-03-06 17:20] bajtos commented on #2366
I am closing this issue as a duplicate of much olderhttps://github.com/strongloop/loopback/issues/343.

[2017-03-06 17:20] #2366 closed

[2017-03-06 17:30] pierreclr opened #3252 "Strange behavior on user related models"
# Description/Steps to reproduce

[code]
# Expected result

We should directly access `user.customer.name` for example without making `.toJSON()` or `.customer()`

# Additional information

Sandbox: https://github.com/pierreclr/loopback-sandbox/tree/bug/include-related-model-on-user
Mongodb, Loopback 2.X

[2017-03-06 23:11] superkhau commented on #3204
- [ ] Find out from @bajtos can we remove the dependency on require.extensions
- [ ] Implement the fix/workaround

[2017-03-07 02:23] deepakrkris commented on #487
@nghiaht @kennethlynne @windyinwind @dktan @loay @superkhau , I am able to override the inbuilt remote methods of the relation as following:
- [ ] - attach the customized method only after the application has booted or started.
- [ ] - add a model event handler for 'booted' (or 'started', if event is emitted in server.js, when app.listen() is called)
[code]

[2017-03-07 02:26] deepakrkris commented on #487
@superkhau @bajtos , it would be helpful to add documentation on overriding inbuilt remote methods. I will do it this sprint.

[2017-03-07 07:28] grmahajan11 opened #3254 "upsert should return auto-generated id of newly created model instance"
# Description/Steps to reproduce
I have a some models generated from postgresql db using looback-connector postgresql. Id column of these models is a auto incremented integer column of postgresql db.
1) I have a remote method added on one of persisted models, where i perform simple update or insert(upsert).

`Car.CreateOrUpdateCar = function (carobj, req)     {
    Car.upsert(Carobj, function (err

[2017-03-07 09:22] grmahajan11 commented on #1610
Hello everyone, struggling with similar issue, I have a some models generated from postgresql db using looback-connector postgresql. Id column of these models is a auto incremented integer column of postgresql db.

1) I have a remote method added on one of persisted models, where i perform simple update or insert(upsert).
`Car.CreateOrUpdateCar = function (carobj, req)     {
    Car.upsert(Carobj,

[2017-03-07 14:17] bajtos commented on #3204
This comment has nailed it down. `loopback-boot` uses `require.extensions` to figure out which file extensions to try when loading script files (`server/boot/*`, but also `common/models/{model-name}`).

We cannot remove it, but we can replace it with a different alternative.

I don't know about any generic solution that would work as seamless as the current one.

The only option that comes to my m

[2017-03-07 14:32] bajtos opened #3255 "2.38.1 LTS"
It has been 7 weeks since we had released the last 2.x version of LoopBack and the dependencies. I think it's past time to publish an update.

 - [x] Release `strong-remoting@2.x`
  https://github.com/strongloop/strong-remoting/releases/tag/v2.33.0
 - [x] Release `loopback-datasource-juggler@2.x`
  https://github.com/strongloop/loopback-datasource-juggler/releases/tag/v2.54.1
 - ~Release `loopback

[2017-03-07 14:44] AndreMaz commented on #3251
Ok I think that I found the source of my problem. It is located in `strong-remoting/lib/http-context.js` https://github.com/strongloop/strong-remoting/blob/5bfaa4742387ac0946873c7bd57b9ea616f43f4c/lib/http-context.js#L315-L350

By default the contentType is set to `application/json` and only changes for `application/vnd.api+json` and `xml`.

To solve this I've just added my custom content type and

[2017-03-07 14:49] skleeschulte opened #3256 "Excluding properties from base model does not work"
# Description/Steps to reproduce

- Extend the base User model and set `properties.realm = false` and `properties.username = null`:

[code]

- Create a new user (POST /api/users) -> realm and username can be added to the new user without error.

[code]

- Login and show own userdata (GET /api/users/1) -> realm and username are in the response.

[code]

# Expected result

According to the docs ([Mo

[2017-03-07 15:21] bajtos opened #3257 "Governance: document the convention to hide breaking changes behind feature flags"
This is a follow-up issue for https://github.com/strongloop/loopback/issues/3042:

Extend our documentation on loopback.io, add a section/page documenting our convention which is to use feature flags to enable/disable features (breaking changes) that were accidentally introduced in non-major versions

[2017-03-07 15:22] bajtos commented on #3042
Let's work in smaller incremental steps here. I created https://github.com/strongloop/loopback/issues/3257 to track the documentation about feature flags.

I'd like to keep the scope of this item only as the Announcements Google Group together with necessary loopback.io changes.

[2017-03-07 15:41] ebarault commented on #3256
hi @skleeschulte
- what connector do you use for your test? memory, mongodb?
- are you using strict validation over the incriminated model ? (as [here](https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#top-level-properties))

if you don't use strict and your db is NoSQL then you can add whatever property to your model with a POST, it is a standard behavior. If your db is SQL, then the

[2017-03-07 16:04] bajtos commented on #3251
@AndreMaz Makes sense, thank you for investigating the problem in deep.

I agree with you that updating strong-remoting code whenever a new json-based type is needed is not the right solution.

I think we need to come up with some sort of configuration that will allow LoopBack applications to specify custom ContentTypes. For example, what if remote methods could specify the content type they are r

[2017-03-07 16:14] loay commented on #2513
@asano-shinichi so if you turn off the security app, it works fine?

[2017-03-07 16:17] loay commented on #2381
Closing issue for now. If the issue is still persisting, please feel free to leave a comment and have another look. Issue was supposed to be fixed in release of version 3.0. Thanks.

[2017-03-07 16:17] #2381 closed

[2017-03-07 16:30] loay commented on #2859
@beingshashi Are you still running into this issue?

[2017-03-07 16:31] loay commented on #2789
Hi @zsszatmari does the previous answer by @TrevorPage fix your issue? Thanks

[2017-03-07 16:32] AndreMaz commented on #3251
Thanks for answering @bajtos

I haven't thought about this case because my client always sets the `Accept` header. In my case in particular it would be preferable to receive a `406` because it would indicate that the request is not done properly.

Probably the best solution would be to allow to configure strong-remoting's behavior in case of a missing `Accept` header.

[2017-03-07 16:39] loay commented on #3091
Hi @vijay22sai
There was a pr that fixed this issue by @bajtos recently. Are you still experiencing the same issue? Thanks

[2017-03-07 16:45] vijay22sai commented on #3091
Hi @loay, I will check it and let you know. Thanks a lot.

On Mar 7, 2017 10:10 PM, "Loay" <notifications@github.com> wrote:

[2017-03-07 16:46] zsszatmari commented on #2789
Hi! Sorry but I don't know, the solution is likely good but came a little late for me so I've moved on and am not near a loopback project to actually try it out.
Thanks for everything.

[2017-03-07 17:14] loay commented on #2789
@zsszatmari you are welcome. Let me know if you need any further assistance.

[2017-03-07 17:14] #2789 closed

[2017-03-07 18:43] #1028 closed

[2017-03-07 21:52] kyleraymorgan commented on #607
I believe this is the most current RFC for HTTP PATCH:

https://www.rfc-editor.org/rfc/rfc7396.txt

[2017-03-07 22:40] skleeschulte commented on #3256
I was using the memory connector and did not use the strict validation. With `"strict": true` it is working as I expected it. Thank you!

[2017-03-07 22:40] #3256 closed

[2017-03-08 00:13] segu commented on #2513
@loay Yes, it works fine.

[2017-03-08 00:39] supasate commented on #3204
That sounds good to me. I'll explore the code and try with this method.

[2017-03-08 05:13] vijay22sai commented on #3091
Hi @loay I was able to upgrade to latest version `2.38.0` successfully without any issues. Thank you very much for the help 👍

[2017-03-08 05:14] #3091 closed

[2017-03-08 05:22] loay commented on #2513
Thanks. Closing the issue for now. If issue persists, please feel free to leave a comment and I will re-open. Thanks.

[2017-03-08 05:22] #2513 closed

[2017-03-08 05:52] jjhesk commented on #3139
I have the same experience where I use `PATCH` as the request with header token fashion `Authorization: $TOKEN_ID` from the login token object. @PaddyMann @bajtos  I have defined the ACL in such way
[code]

It turns out that the request with `patch` still getting the 401 unauthorized error. is that a bug or there i still need to setup some other things?

[2017-03-08 09:17] bajtos commented on #3254
Hello, as I mentioned on Gitter, I think this is a missing feature of LoopBack or the PostgreSQL connector.

The first place where to start looking is `lib/dao.js` in loopback-datasource-juggler.

For example, the `create` method invoked on the connector returns `id` and `rev` properties - see
https://github.com/strongloop/loopback-datasource-juggler/blob/76c73d55d28dfa150b9e004aeae12aafe0ce6475/l

[2017-03-08 09:56] duncancasemore commented on #3091
Hey @loay just wanted to say thank-you for this - we're grateful for your assistance.

[2017-03-08 11:55] chetanmekha commented on #3254
Hi @bajtos , I tried for above changes but get struck on below point,
`var modelName = Model.modelName;`
we are getting model name in string format, how can I convert it into Object on which i can perform operation like as,
`modelName.find({
  order: 'price DESC',
  limit: 3
});`

[2017-03-08 13:59] grmahajan11 commented on #3254
Hi @bajtos Thank you for bringing it on forum, Encountered similar issue as that of @chetanmekha . This feature is so crucial as it stops me from doing map table inserts. Is there any other option or work around? so that it doesn't become a deadlock. Can we invite more contributors who can manage to do this fix?

[2017-03-08 15:04] loay commented on #3091
@vijay22sai @duncancasemore You guys are very welcome. I am glad I could help :) Thanks for your kind words

[2017-03-08 15:29] jmereaux commented on #440
Same problem here with a DELETE remote method.

├── loopback@2.35.0
├── loopback-boot@2.23.0
├── loopback-component-explorer@2.7.0
├── loopback-component-model-diagram@0.2.0
├── loopback-component-visualizer@0.1.0
├── loopback-connector-cloudant@1.0.11
├── loopback-datasource-juggler@2.53.0

The issue is marked as closed. Is there any fix available?

[2017-03-08 17:38] supasate commented on #3204
@bajtos @superkhau I've created a PR at strongloop/loopback-boot#240 based on the comment.

[2017-03-09 05:03] ChopperLee2011 commented on #443
override remote method and override model method is different, guys!
- if you use override model method just for changing default remote method like `findById`, then you go too far, 'cause when you are using this method anywhere, you are using the new rewrite version which I think is not expect behavior.
- if you just want to override remote method, I think you'd better **disable the old one, and

[2017-03-09 06:19] EminentStar opened #3260 "About price"
# Description/Steps to reproduce

Hello, I'm Junkyu Park and a developer in Korea.

I'm writing this issue so that I could get some information regarding Loopback API Gateway.

In the below URL, there is information installing loopback api gateway in local computer.
( URL: https://strongloop.com/get-started/?S_TACT=S_OFF_CD=&cm_mmc=Website_Strongloop-_-IBM+Software_API+Connect-_-WW_WW-_-Get_starte

[2017-03-09 08:06] bajtos commented on #3254
@grmahajan11 @chetanmekha could you please post the code showing what you have tried? It's difficult for me to help you without that.

I don't know any, perhaps @raymondfeng or @strongloop/sq-lb-apex may be aware of some?
(The question is how to make upsert return auto-generated id of newly created model instances when using PostgreSQL connector. AFAICT, the memory connector does include auto-gene

[2017-03-09 08:13] bajtos commented on #3042
The new mailing list: https://groups.google.com/forum/#!forum/loopbackjs-announcements

[2017-03-09 08:15] doublemarked commented on #3042
Excellent!

[2017-03-09 11:00] mercuriete commented on #843
in Stroonloop 3.0:

"loopback": "^3.4.0",
"loopback-component-explorer": "^4.1.1"

loopback deprecated Model.disableRemoteMethod is deprecated. Use Model.disableRemoteMethodByName instead.

but it seems that it doenst work properly with static methods

the following works:
[code]

the following doenst work at all:

[code]

Please @raymondfeng reopen this issue.

Thanks for your product :+1:

[2017-03-09 11:19] bajtos commented on #3042
I configured the Google Group permissions to allow anybody to subscribe to this mailing list, but also to restrict new posts to administrators only. We can tweak these settings in the future as needed.

[2017-03-09 11:22] alemhnan opened #3263 "RoleMapping.findOrCreate always create new mapping in lp 3.x"
I am migrating from LoopBack 2 to 3.x.  I have this piece of code in a boot script:
[code]

In Loopback 2.x it was behaving as expected, in 3.0 the findOrCreate always create a new instance.

I tried to update also just the loopback-datasource-juggler using version 2 but the problem apparently is in loopback 3.0 and not the juggler.

# Additional information

darwin x64 6.10.0
Node v6.10.0
├── loo

[2017-03-09 11:40] bajtos commented on #3042
Announcement post in LoopBackJS group: https://groups.google.com/forum/#!topic/loopbackjs/qvMC6r2IRwo

[2017-03-09 11:58] Freundschaft commented on #443
@ChopperLee2011 I know that its different, I'd also agree that overriding the model method usually has a lot of implications, in my case it was sufficient to override just the remote method, since i only wanted to remove the filter attribute :)

[2017-03-09 12:07] alemhnan commented on #3263
Upon further inspection I discovered that the problem is with the property `principalId`.

I cannot query by `principalId` and get a result using `.findOne`. I am using mongodb. I suspect that since the property is stored as String type there might be some confusion in the query.

I tried anyway converting in string using .toString, manually quoting and even hard coding an object id with no succes

[2017-03-09 12:32] bajtos commented on #3263
Hi @alemhnan, thank you for reporting the issue and providing detailed information.

I believe this is a duplicate of https://github.com/strongloop/loopback/issues/3121 (see also rejected https://github.com/strongloop/loopback/pull/3198).

The solution is to enable `strictObjectIDCoercion` in `RoleMapping` settings by updating your application's `server/model-config.json` - see https://github.com/

[2017-03-09 12:35] chetanmekha opened #3264 "Attachments in apis"
Hello Folks,
I want to perform operation where attachments are coming as a parameter. How can we achieve it?

[code]

What type we need to define for file1/file2 so It will act like an attachment?

[2017-03-09 12:40] alemhnan commented on #3263
Thanks a lot for the fast reply and for pointing out the solution.
I tried it, and it's indeed working.

I am going to contribute to the docs as well. I will try to submit a PR early next week.

[2017-03-09 12:53] bajtos opened #3266 "Allow remote methods to accept uploaded files"
Allow remote method to accept uploaded file(s) via regular "accepts" parameters.

So far, methods accepting files have to parse them manually from the `request` object, see [loopback-component-storage](https://github.com/strongloop/loopback-component-storage/blob/82878077ffd71485b4258deedd4c2a4c0c907cd6/lib/storage-service.js#L340-L343) for an example implementation.

Possible flavours to support:

[2017-03-09 12:53] bajtos commented on #3264
I am afraid this is not supported by LoopBack - see https://github.com/strongloop/loopback/issues/3266

You can take a look at https://github.com/strongloop/loopback-component-storage for a possible workaround solution.

[2017-03-09 12:53] #3264 closed

[2017-03-09 12:54] bajtos commented on #3171
I am afraid this is not supported by LoopBack, see https://github.com/strongloop/loopback/issues/3266

[2017-03-09 12:54] #3171 closed

[2017-03-09 13:32] ebarault commented on #843
in loopback 3 use the `prototype.` prefix when it comes to disable methods attached on prototype:
`model.disableRemoteMethodByName('prototype.__count__accessTokens');`

[2017-03-09 14:41] bajtos commented on #3263
I tried it, and it's indeed working.

That's great to hear!

Awesome ❤️

I am going to reopen this issue and keep it open as a reminder for us (and anybody else in the community) that the docs are not updated yet.

[2017-03-09 15:12] loay commented on #3117
Hi @oneoutone
There are few solutions to this issue in this issue https://github.com/strongloop/loopback/issues/1469
Have you tried them?
Thanks

[2017-03-09 15:31] ebarault commented on #3263
i missed the fix mentioned [here](https://github.com/strongloop/loopback/issues/3121#issuecomment-280635105) @bajtos
as of now i was using the js bootscript approach consisting of
[code]

shouldn't the new projects templates be updated as well as long as you did for projects generated with the slc cli?

further on: shouldn't it be made a feature flag so this can be activated out of box in next maj

[2017-03-09 16:12] dcolley commented on #1171
I'm trying to follow the example in the docs: https://loopback.io/doc/en/lb3/Embedded-models-and-relations.html
I can't get this to work - I have the same error, but the suggestions above don't help me to figure it out...
I don't see any table schema, so I am trying to reverse-engineer this from the docs...

If I don't put the `customerId` or `billingAddress` fields in the tables then we get the E

[2017-03-09 21:01] aydonat commented on #3260
Hello Junkyu Park,

You can use the free APIC Essentials Developer Toolkit to create your Loopback applications and use the microgateway in your computer. Please see https://www.npmjs.com/package/apiconnect for instructions on how to download.

Regards

[2017-03-09 21:24] timlind commented on #3246
https://github.com/timlind/loopback.io/commit/be726363b9c5aeee019f9d6b261ebe72a28be299

[2017-03-10 00:33] NatuMyers opened #3267 "Loopback Models Not Updating - Loopback: Error: Relation "chatroomID" is not defined for ChatMessage model"
# Description/Steps to reproduce

I've looked at the documentation and github issues.

See -> https://github.com/NatuMyers/loopback-fullstack-chat-app

https://loopback.io/doc/en/lb2/HasMany-relations.html

https://github.com/strongloop/loopback-datasource-juggler/issues/76

http://stackoverflow.com/questions/30840146/hasmany-relation-including-from-the-other-direction

I couldn't put my finger on

[2017-03-10 01:29] NatuMyers commented on #3267
Solved nvm http://stackoverflow.com/questions/42707497/loopback-models-not-updating-loopback-error-relation-chatroomid-is-not-def

[2017-03-10 01:29] #3267 closed

[2017-03-10 03:21] codejie commented on #274
I think I got the issue in Role-Mapping model~I could not insert principalId with ObjectId by Role relation to Role-Mapping.

{
    "_id" : ObjectId("58c2185a6024ee2f1705d1ec"),
    "principalType" : "USER",
    "principalId" : "58c1380699220526baa9477b",
    "roleId" : ObjectId("58c21117df1db02b1425882c")
}

[2017-03-10 04:37] codejie opened #3268 "Role and Role-Mapping do not work with wrong data type"
# Description/Steps to reproduce
I added a new Role and set a user to the Role, in Role-Mapping model of mongodb look like this,

{
    "_id" : ObjectId("58c228ad2dd774367b857126"),
    "principalType" : "USER",
    "principalId" : "58c1380699220526baa9477b",
    "roleId" : ObjectId("58c21117df1db02b1425882c")
}

Please note the type of principalId is STRING, this is defined in Role-Mapping model

[2017-03-10 04:58] codejie commented on #3268
base on [issue#3263](https://github.com/strongloop/loopback/issues/3263), I resolved the problem. please check the answer of bajtos (@bajtos).

I am not sure if my problem is a issue or not. Or the above lines were the root cause of issue#3263? because I cannot understand why those types use STRING not OBJECTID, it is not reasonable.

[2017-03-10 05:02] loay commented on #3117
Closing this issue since it is a duplicate.

[2017-03-10 05:02] #3117 closed

[2017-03-10 07:58] EminentStar commented on #3260
Thanks.!

[2017-03-10 08:16] #3260 closed

[2017-03-10 08:30] fabien commented on #274
This has been fixed recently, but it only works out-of-the-box with new Loopback apps, because the data has been stored in the legacy format in existing apps. You'd need to migrate that data yourself in that case.

[2017-03-10 08:43] ebarault commented on #3246
hi @timlind ,
thanks for sharing thoughts and providing some excerpts for doc improvement.

i guess you've seen [this page](https://loopback.io/doc/en/lb3/Advanced-topics-data-sources.html) already on how to set up datasources programmatically.

you're right that in a production scenario people should avoid committing the db credentials to the source code (i assume you are referring here to the `d

[2017-03-10 09:12] ebarault commented on #3268
@codejie: the new thing here compared to #3263 would be that the LoopBack's ACL system does not work out-of-box with custom roles, without specifying the `strictObjectIDCoercion` option.
[code]

I never encountered this i believe and people's issues regarding the incorrect type of principalId are rather collateral. Would you mind providing a sandbox reproducing your issue?
(see [reporting issues](

[2017-03-10 18:04] superkhau commented on #3246
@ebarault Thanks for chiming in, yes this feature is available by creating a `datasources.*.js` instead. In that file, where you normally put in your credentials, use `process.env.YOUR_ENV_VAR`.

See https://github.com/strongloop/loopback-example-offline-sync/blob/master/server/datasources.staging.js#L12.

[2017-03-10 18:04] #3246 closed

[2017-03-10 18:06] superkhau commented on #3246
For posterity, the docs are at https://loopback.io/doc/en/lb2/Environment-specific-configuration.html.

[2017-03-10 18:06] ebarault commented on #3246
excellent, thanks @superkhau : am i wrong to think the doc is missing?
i guess it addresses your concern @timlind

[2017-03-10 18:26] developermhayden opened #3269 "Change to response object in afterError hook not formatted as expected"
In my hook.js file I have:

[code]

My response object looks like this:
[code]
Why does it NOT look like this:

[code]

Which is the same thing minus the wrapping in an error object.

[2017-03-10 20:12] loay commented on #3041
Hi @ishansan38
The link to sample repo doesn't exist. it just takes me to a non-complete github repo.

[2017-03-10 20:32] superkhau opened #3270 "test"
test

[2017-03-10 20:41] mathewvino opened #3271 "How to Exclude Relation from the base class"
I have a Model extending the Base Model.

The Base Mode has too many properties and relation.

Is there any way we can exclude the relation. In other words I have relation in the Base Model and I don't need to show it in the Derived Model.

For properties I know that we can do  "properties": false on the derived model. How do we exclude the RELATION  from the DerivedModel

Thanks

[2017-03-10 20:49] loay commented on #3069
There are couple of workarounds in the the other issue mentioned above by 0Candy ^^^
https://github.com/strongloop/generator-loopback/issues/69

[2017-03-10 21:16] loay commented on #3049
Hi @archenroot
Please follow up with these 2 issues:
https://github.com/strongloop/loopback/issues/517
https://github.com/strongloop/loopback/issues/683

Thannks

[2017-03-10 21:21] loay commented on #3156
Is this issue a duplicate? https://github.com/strongloop/loopback/issues/3157

[2017-03-10 21:34] loay commented on #3271
@mathewvino
In the child model json file, you can leave the relation empty and that should override.

[2017-03-10 21:40] ebarault commented on #3156
@loay : No they are different.
Cc @bajtos: in case you'd have missed them

[2017-03-10 21:46] mathewvino commented on #3271
Thanks Loay, How do we do that

Let say I have the derived Model which has some relation. From the Base Model I have one relation  and I dont need to show in the derived model.

For eg From base Model  I have a relation  tags and I don't need to show in the derived model

While adding relation empty its not working. The way I added in below is

"relations": {
   **tags:null,**
     "linkedIdeas":

[2017-03-10 21:53] loay commented on #3271
ok I am sorry I got a bit confused.
If I understand correctly
[code]
does not work

but
[code]
works??
Is that what you meant?

[2017-03-10 21:59] mathewvino commented on #3271
For me its not working.
I  have added  relation like below and its not working

"relations": {
tags:null,
}

The existing relation in our child model is below. Now I need to hide the  tags relation from the parent table. How do we that. Thanks for the help

"relations": {
      "linkedIdeas": {
      "type": "referencesMany",
      "model": "Idea",
      "foreignKey": "linkedIdeaIds",
      "optio

[2017-03-10 22:07] loay commented on #3271
@mathewvino I don't think that you can do that.
the child inherited the relation already from the parent, then you cannot go back to the parent and remove that relation. The best solution is not to create the relation for the parent, but create a new relation for the child.

[2017-03-10 22:10] raymondfeng commented on #3271
In your sub-model.js, try the following:
[code]

[2017-03-10 23:56] mathewvino commented on #3271
Thanks ray and loay,

I tried the above two and it seems to be not working. Please guide me if i am doing wrong.

Parent class --> has  below relation

 "relations": {
"linkedCampaigns": {
      "type": "referencesMany",
      "model": "Campaign",
      "foreignKey": "linkedCampaignIds",
      "options": {
        "validate": true,
        "forceId": false
      }
    }
}

Child extends parent and

[2017-03-11 09:00] timlind commented on #3246
@superkhau That's great to know. I'll avoid defining data source programmatically then. The issue that remains though (see #317) is that for someone defining a DS programmatically it is really tricky as the example in doc is not working and there is no explanation of whether a partial configuration still needs to exist in datasources.json, whether model-config.js can still be used to associate to

[2017-03-11 09:41] codejie commented on #3268
Thanks for your concern, it is true that after I added 'strictObjectIDCoercion' to model-config, ROLE, ROLE-MAPPING and ACL worked. I think loopback would convert STRING to OBJECTID in right way after did like this, because I tried to change all STRING related to ROLE-MAPPING to OBJECT in loopback, it worked.

please check below my system information.

Darwin 192.168.0.105 16.4.0 Darwin Kernel Ver

[2017-03-12 09:43] BingxingXu opened #3272 "wired error when accessing related model, hasAndBelongsToMany relation"
# Description/Steps to reproduce
I have 3 models: comany, user, assessments.
company `hasMany` users which is called members.
company `hasAndBelongsToMany` assessments.
user `hasAndBelongsToMany` assessments.
the logic is: company own the assessments and he can assign assessments to his members, so members can read the assessments
company archive this by linking his own assessments to his members.

[2017-03-13 07:11] Traksewt opened #3273 "Change.getModelId is slow"
We are seeing Change.getModelId as a performance issue in our profiling when syncing many items.
I know there is a TODO there, but I was wondering what was the purpose of creating the new model and using setId and getId for the model ID. The creation of the new model is slow due to the copying of the attributes in ModelBaseClass._initProperties (calling toObject). And the getId is slow, as it call

[2017-03-13 08:42] ebarault commented on #3250
still thinking about this. For the record in #2957 i chose to use a [method that can be overriden](https://github.com/strongloop/loopback/pull/2957/files/7906fb3c382d22c034c509b9360acd303ecf4fae#diff-45d772e3be7eacd9da2cc827f5076382R579), as you suggest in your first proposition.

[2017-03-13 09:28] bajtos commented on #3273
[code]

@ritch you are the author of the original code and the `TODO` comment, do you happen to remember your reasoning?

That seems a valid assumption to me, see the comment for `setId` method in `lib/persisted-model.js`:  _Override this method to handle complex IDs_.

Another possible use case that comes to my mind is to ensure `getModelId` returns the value correctly typed. Notice that `change.

[2017-03-13 09:32] bajtos commented on #3269
The error response format is controller by error-handling middleware, which is typically strong-error-handler in LoopBack 3.x and recently scaffolded LoopBack 2.x applications.

You can replace strong-error-handler with your own middleware to control the format of JSON responses.

We had considered the ability to configure the format of HTTP responses in strong-error-handler too, but didn't have b

[2017-03-13 09:32] #3269 closed

[2017-03-13 10:19] JelleDeVos opened #3274 "When creating object with BelongsTo the belonging model's HasMany relationship is not update on create, but it is when saving again?"
I have 2 models, sector and subsector with relations like these:

sector.json:
`  "relations": {
    "subsectors": {
      "type": "hasMany",
      "model": "subsector",
      "foreignKey": "sectorId"
    },`

subsector.json:
`  "relations": {
    "sector": {
      "type": "belongsTo",
      "model": "sector",
      "foreignKey": "sectorId"
    },`

There's already a sector, and when I create a su

[2017-03-13 10:37] ebarault commented on #3246
for sake of completeness and keep track for a potential doc improvement PR:

@bajtos commented:

You have two options:
1) define your datasource before calling boot
2) assuming you only need programmatic way for providing datasource configuration, because the datasource name is static anyways, then you can export your programmatic datasource config in server/datasources.local.js

[2017-03-13 10:59] bajtos commented on #3246
There is no need to write custom `.js` files if the only requirement is to configure certain datasource properties from ENV vars. loopback-boot already provides a simple templating mechanism for that - see https://github.com/strongloop/loopback-boot/issues/4 and https://github.com/strongloop/loopback-boot/issues/4#issuecomment-213557135 in particular.

I would personally recommend to use a connect

[2017-03-13 11:19] bajtos commented on #3246
Looks like https://github.com/strongloop/loopback.io/pull/319 was already opened to improve this part of our documentation 👍

[2017-03-13 11:21] bajtos commented on #3157
@barocsi please create a small app reproducing the problem per our [bug reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report.

[2017-03-13 11:23] bajtos commented on #3156
Hello, `createOptionsFromRemotingContext` is always synchronous right now. https://loopback.io/doc/en/lb3/Using-current-context.html#customize-the-value-provided-to-options for other options how to customize the context, some of them allow async computation.

I am labelling this issue as `doc`, I think we should make it clear what extension points support async computation and which do not.

[2017-03-13 12:58] Freundschaft commented on #3234
@bajtos yes thats what I ultimately did, thanks!

[2017-03-13 12:58] #3234 closed

[2017-03-13 14:44] bajtos commented on #3042
Done.

[2017-03-13 14:44] #3042 closed

[2017-03-13 15:06] YounesKeraressi opened #3275 "Rethinkdb Connector"
hey maybe its not the right place to post this here, but i post this already in google groups for loopback and Gitter loopback but dint get any answer,

first of all thanks for your efforts , Please! is there an officiel RethinkDB connector for Loopback created by  RethinkDB developers?

[2017-03-13 15:12] bajtos commented on #3275
See https://strongloop.com/strongblog/rethinkdb-connector-loopback-node-js-framework/ and https://www.npmjs.com/package/loopback-connector-rethinkdb.

There is no official RethinkDB connector maintained by StrongLoop/IBM.

[2017-03-13 15:12] #3275 closed

[2017-03-13 15:21] Biax2099 commented on #618
I'm agree with @rblalock !!! it would be very convenient to be able to create dynamic properties.

[2017-03-13 15:22] YounesKeraressi commented on #3275
thx dude, i already read that post and i couldn't find  loopback-connector-rethinkdb via npm install, its outdated post, about the 2nd link yes i found just few like that already i was just asking if there's an official RethinkDB connector and finally you tell me no :) thx anyway

[2017-03-13 15:48] bajtos commented on #3255
Done.

[2017-03-13 15:48] #3255 closed

[2017-03-13 23:15] tomcooksey opened #3276 "ctx.options is empty"
# Description/Steps to reproduce
I have this observer declared as a mixin
[code]

For brevity I have removed the actual logic - however the issue is that whilst this is populated when using the REST API, if I want to perform an action on a model say in a custom route then this is completely empty.

How can I get the app configured so that this is always populated?  Essentially I am adding items to

[2017-03-14 00:15] ebbnormal opened #3277 "utilizing operation hook loaded with related Models"
I have a hasMany relation between company and clients. One company has many clients. When I do a `Company.find({include: 'clients'}, function() { /* ... */ });` what internal `PersistedModel` method is used to query the `Client` related model. Is it another `find()` I need to know so that I can properly use a `loaded` operation hook on a `Client` when I retrieve them from a `Company.find()`. I wan

[2017-03-14 00:18] ShimiBaliti commented on #1692
+1

[2017-03-14 02:00] BingxingXu commented on #3272
I'll answer my own question,  it not working properly because, `memberInstance.assessments()`is not a promise, i write my own promise function, everything is working fine now. so I think should close the issue

[2017-03-14 02:00] #3272 closed

[2017-03-14 10:38] pierreclr opened #3278 "Recent loopback (2.X) update broke the updateAttributes / patchAttributes behaviors"
Hi,

We recently encounter a problem related to `disableRemoteMethod` / (patch|update)Attributes :

I have a mixin wich disable every remote methods excepted those whitelisted in mixin options. Our API is covered by tests which suddenly  were broken despite the fact that we fix dependencies version. The problem was the following : calling `disableRemoteMethod(patchAttributes, false)` disable updat

[2017-03-14 11:27] mercuriete commented on #843
@ebarault Thank you so much.
this is a nice product and a nice community.
thanks :+1:

[2017-03-14 11:43] ebarault commented on #843
welcome @mercuriete !

[2017-03-14 12:11] smith64fx opened #3279 "Make default scope overridable"
Hey there!

# Description/Steps to reproduce

I just created a model and also a default scope for its relation:

Mother.json
[code]

When I do a normal query at /api/mother I get all children. Fine.

But when I try this:
[code]

I still get all children.
When I remove the default scope, my query works.

# Expected result

It would be really nice, if the default scope for "children" gets overridden

[2017-03-14 12:53] ebarault commented on #3279
hi @smith64fx, this is related to datasource-juggler

For track record, see this existing (though outdated) PR: [#787](https://github.com/strongloop/loopback-datasource-juggler/pull/787)

the overall rationale is the following:
**for security reasons, it should not be possible to override a scope to make it more open**

in your specific case though the rationale does not apply as you narrow the sc

[2017-03-14 13:45] DAVIDFlavien opened #3281 "Migration from Loopback 2.X to 3.0"
Hi there,

I recently tried to migrate my project from Loopback 2.X to 3.0 and I got some error regarding validation on an embeded model. However, if I set `validate: false` in the model definition, it does work. Does anyone of you had the same issue while migrating ?

[2017-03-14 15:25] loay commented on #3281
Hi @DAVIDFlavien
Here is a documentation that you will need to follow:
https://loopback.io/doc/en/lb3/Migrating-to-3.0.html

If you are still having troubles, can you please provide a sample repo for your app, so I can reproduce and debug? Thanks.

[2017-03-14 15:42] loay commented on #3049
closing in favor of the other 2 issues, since it is a duplicate. for additional info, please feel free to leave a comment. Thanks.

[2017-03-14 15:42] #3049 closed

[2017-03-14 16:02] Cu4rach4 commented on #1900
i have allmost the same problem, i'm using http for request on the same Strongloop server (i dont know how to call internal), but returns:

[SyntaxError: Unexpected token w]

This is the code:

`
GetDevicebyChannel: function  (channelId, callback){

		var filter = {
			"where":{
				"idchannelsts": channelId
			}
		};

		// console.log(JSON.stringify(filter));
		// http://localhost:3000/api/Channe

[2017-03-14 16:12] loay commented on #953
@eugenehp Nested query is currently working with Mongodb. Please have a look at it.
I am closing this issue in favor of https://github.com/strongloop/loopback/issues/517

[2017-03-14 16:12] #953 closed

[2017-03-14 16:23] tomcooksey opened #3282 "Cannot read property 'where' of undefined"
# Description/Steps to reproduce
I have some code that calls destroy() on a model instance and I am getting this error thrown:

Cannot read property 'where' of undefined

The code:

[code]

# Expected result
The model should be destroyed

# Additional information

Node version is 6.10.0

Output of npm ls

[code]

I am completely stuck with this, I have recently upgraded from Loopback 2 so perhaps

[2017-03-14 16:37] bajtos commented on #3263
I am afraid I don't understand. What do you mean by "new projects templates"? AFAIK, we have only one set of templates, and that's the set used by our CLI tooling (`slc`, `lb`, `apic`) - see strongloop/loopback-workspace#437

IMO, this is already a feature flag. I guess what we need is a list of feature flags to toggle in the next major version. This [issue query](https://github.com/strongloop/loo

[2017-03-14 16:52] ebarault commented on #3263
my bad, i was imprecise: i meant sample project starters: baremetal project skeletons to be used to bootstrap a new project without the cli. But maybe i got confused in thinking there are such starters?

arff yes, you're right in a sense. What I meant is a global activation of this feature for any model using some setting in config.json

[2017-03-14 17:27] deepakrkris commented on #3282
@tomcooksey findById is not a juggler function and so will not return a dao object, to call destroy(). But by calling find() , we would get an order object and then could call destroy(). Also your implementation of promises seems to be incorrect.

[code]

[2017-03-14 17:28] #3282 closed

[2017-03-14 17:35] bajtos commented on #3263
Makes sense. I think the most important one to update is https://github.com/strongloop/loopback-sandbox, which we use for reproducing bugs.

Then we have a bunch of [example repositories](https://github.com/strongloop?utf8=%E2%9C%93&q=loopback-example&type=&language=). @superkhau what's the process to update our example repos to the latest project layout?

[2017-03-14 17:37] loay commented on #924
@bluestaralone
is this issue resolved using the suggestion in the previous comments?

[2017-03-14 17:38] bajtos commented on #3263
Makes sense. OTOH, I am personally not familiar enough with the side effects of this setting to be able to tell whether it's a good or a bad idea to enable it app-wide.

I think the existing flag is just a workaround for the fact that LoopBack does not handle the type of foreign keys correctly, especially the ObjectID type. @superkhau and @raymondfeng were looking into ways how to fix that root ca

[2017-03-14 18:26] jbrosan commented on #3151
Any word on a fix for this or a work around?

[2017-03-14 20:34] tomcooksey commented on #3282
Can you explain why the documentation has a method called findById then? And why it is working elsewhere in my code?

http://apidocs.strongloop.com/loopback/#persistedmodel-findbyid

[2017-03-14 20:40] tomcooksey commented on #3282
In addition, your suggested fix does not seem to work for me, provided I have implemented it correctly.  Not sure what you mean about not using promises correctly, have pasted the whole code this time:

[code]

I still get the same error.  This is using MySQL not Mongo.

[2017-03-14 21:17] ebarault commented on #3151
hi,
could anyone provide a [sandbox](https://github.com/strongloop/loopback-sandbox) reproducing the issue, it would greatly ease the troubleshooting? (do not forget to update the dependancies to make sure it matches your setup)

looking at the logs: i can see
[code]

As the role `$admin` is found, i assume a static role mapping is used here, and not a dynamic role resolver.
The log clearly states

[2017-03-14 21:19] tomcooksey commented on #3282
Nevermind, I have isolated it to one of my mixins in my model - however it's not correct to say that findById does not work because it does.

[2017-03-15 00:46] jsheely opened #3283 "Pass relationModel into SharedMethod for use in remote hooks"
It is useful to know exactly which model class is being referenced in a remote hook without having to look it up by doing a substring of the ```ctx.methodString```

By passing in the ```relationModel``` to the SharedMethod we can then utilize it in any operational hook

[code]

Then in a remote hook you could do something like
[code]

[2017-03-15 05:51] Sanbornzhang commented on #1009
maybe sometime filter have `$` should continue ?
cause I always need `field:{$operator: value}`
`if field instanceof Model and key match ^$ then continue `?
I think there will not convert to '[object Object]' ,should return to mongoDB. let mongo to do .

[2017-03-15 07:06] kevinbaisas opened #3284 "qs.stringify expects the id as "string""
DB: mongo

loopback/common/models/user.js line 435 to line 444:
[code]

line 442 `options.user[pkName]` needs to be a string. The querystring library is converting the object id to nothing. It needs to be `options.user[pkName].toString()` for the uid to be appended.

My code :

[code]

havent check the orm script (having trouble finding it) to see if the prototype getter is reinstantiating a new O

[2017-03-15 07:44] kevinbaisas commented on #3284
NVM, havent noticed my projects version is outdated. The creating an `empty-server` doesn't fetch from the latest release.

[2017-03-15 08:44] pierreclr commented on #3281
@loay It's should be a 'bug' label not 'triage'. We are not the only ones who encounter this problem. (Cf Loopback channel on Gitter)

@bajtos Are you aware of what changes imply such behavior ?

[2017-03-15 15:36] dasoli commented on #1692
+1

[2017-03-15 16:44] timlind opened #3286 "How to modify current context from a middleware"
In loopback 3.0 context is passed around everywhere, i.e 'loaded' operation hook.

I want to place something on the context before a bulk (find) operation takes place, no matter which remote method or relation the model was accessed through.

How can I access - from a middleware function - the context that is passed to a 'loaded' operation hook?

@raymondfeng?

[2017-03-15 18:28] 0candy commented on #3058
Closing due to inactivity.

[2017-03-15 18:28] #3058 closed

[2017-03-15 18:29] 0candy commented on #2902
@dongmai Are you still encountering this issue? If so, could you please provide a sample app for us to reproduce? Thanks!

[2017-03-15 18:30] 0candy commented on #2459
@Emiya0306 Are you still encountering this issue? If so, could you provide us with a sample app for us to reproduce this issue?

[2017-03-15 18:34] 0candy commented on #2305
@jamchen Did the solution in the other discussion resolve your issue?

[2017-03-15 19:29] dasoli commented on #1692
I dont know why everytime the same people rate down the post, Beeman or somebody else - feel free to tell us why you don't like that people want to keep this issue alive?

[2017-03-15 19:55] beeman commented on #1692
@dasoli it's annoying to see just an `+1` added to an issue. Everybody gets notified without any news, that kind of defeats the purpose of keeping the issue alive because nothing changed.

If you want to express that you'd like to see this issue solved you can use the thumbs up icon on the opening post.

[2017-03-15 23:06] davichoso commented on #2302
Nope, same problem with RethinkDB conector, I had to write a before save hook to solve the problem.

[2017-03-15 23:38] pwarelis commented on #2302
Quickest fix for this is to make the field hidden.

[2017-03-16 05:01] Jeff-Lewis opened #3287 "PersistedModel `updateAll` return type is not recognized by strong-remoting"
All PersistedModel models' `updateAll` return type is not registered properly.

# Description/Steps to reproduce

- set DEBUG=strong-remoting:rest-adapter
- Start loopback server with a model that inherits PersistedModel
- You should see this line once for each model that is registered
[code]

See [persisted-model.js](https://github.com/strongloop/loopback/blob/master/lib/persisted-model.js#L843-L

[2017-03-16 10:21] akshayKrSingh commented on #3151
@ebarault
Yes, I've used a static role mapping here. But as I'm writing this, I'm thinking I should try using a dynamic role resolver, although is the the ideal way to implement this?

Meanwhile, I'm creating a sandbox of this issue and will add it in the comments for everyone to go through.

Thanks.

[2017-03-16 15:23] eslynunez commented on #1275
+1

[2017-03-16 15:54] bajtos opened #3288 "DataSource health check"
# Description/Steps to reproduce

In our https://github.com/strongloop/loopback-example-facade, we are implementing health check REST endpoints to allow cloud infrastructure to monitor the health status of our micro-services.

It would be great if LoopBack connectors provided built-in health check method. The method can be similar to `ping`, but should return extended health status like latency, l

[2017-03-16 16:58] asaxena1993 opened #3289 "Circuit Breaker pattern"
Greetings,
Went thru the documentation of loopback(http://loopback.io/doc/) was not able to find anything on the circuit breakers(https://spring.io/guides/gs/circuit-breaker/).
Found these module,
- https://www.npmjs.com/package/opossum
- https://www.npmjs.com/package/levee
Can you please advice better implementation for these modules or more npm modules?
Also if loopback out of the box can provid

[2017-03-16 18:41] ebarault commented on #3151
@akshayKrSingh

Usually for an admin role a role mapping is the best solution. Let's wait for your sandbox.

[2017-03-16 23:58] ataft commented on #2256
Is there an ETA for this bug fix?

[2017-03-17 00:48] ebarault commented on #2256
@richardpringle : defaulting the principalId to USER in the AccessContext definition is really no big deal IMO in the context of this discussion.
1. most of the time an array of principals is used in AccessContext, rather than the definition of a principal at the top-level. I think the ability to define a principal this way is kept for some backward compatibility reason (and it's used in tests).
2

[2017-03-17 04:22] Dinl opened #3290 "Authorization error when remote method is created"
# Description/Steps to reproduce
I just extend the User model with this one:

[code]

Then in appuser.json a remote method was created:

[code]

The method is called with the token in the Authorization header, but response is

[code]

# Expected result

The method should print in console the id of the user.

# Additional information

Node: 6.9.5
Loopback: 3.4.0

[2017-03-17 12:14] bajtos commented on #3281
@pierreclr The "triage" label means that we are gathering information about the issue, to make sure we understand the problem and can reproduce it on our machines.

That's why we need you to provide us with clear and complete steps for reproducing the issue you are experiencing - see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

Nothing comes to my mind right now. We will kno

[2017-03-17 12:23] bajtos commented on #3289
Hello @asaxena1993, I am afraid we don't have any support for Circuit Breaker pattern built into LoopBack yet.

As I see it, the circuit pattern can be applied at different levels:
 - Connectors can detect when the target system is not responsive and start returning a pre-canned success or failure response until the target system recovers.
 - The REST adapter can stop calling remote methods and st

[2017-03-17 12:32] bajtos commented on #3287
Hi @Jeff-Lewis, thank you for reporting this issue.

Could you contribute this fix yourself?

In my understanding, the return type of `updateAll` method is described correctly - the method returns an object with a single `count` property. Unfortunately, strong-remoting's `getTypeString` method is not prepared to handle such anonymous in-place object definition.

I agree with you that LoopBack apps

[2017-03-17 12:40] bajtos commented on #3286
Hi @timlind, I am afraid it's not possible to modify the context object directly from a middleware. Here are few options you can use instead:

 1. Modify the "options" object in a beforeRemote hook or a custom remoting phase as described in our docs - see https://loopback.io/doc/en/lb3/Using-current-context.html#customize-the-value-provided-to-options
 2. If you really have to use a middleware (wh

[2017-03-17 12:45] bajtos commented on #3284
Hello, this has been already fixed by https://github.com/strongloop/loopback/pull/3259 and https://github.com/strongloop/loopback/pull/3253. Please upgrade to `loopback@3.5.0`.

[2017-03-17 12:45] #3284 closed

[2017-03-17 17:45] archenroot commented on #2872
Why is this closed? I am comming from enterprise SOA and microservices stack and common approach I apply almost everywhere is as following:
in every service pipeline 1 action is to do Audit (ENTRY) and last action Audit (EXIT), anything between happen is Audit (ERROR). Of course everyone is interested in different kind of audit information.
In my case it is always mixture of pure technical informa

[2017-03-17 18:29] aaronbuchanan opened #3291 "invalid token on currentUserLiteral throws 500"
# Description/Steps to reproduce
When loading fixtures in our dev/staging environments, our token table gets reset and all clients that were previously logged in start receiving 500 responses at currentUserLiteral endpoints with the error:
[code]

In looking into this we found that the authToken was being invalidated and unset, and the default findById method was being called with our currentUserL

[2017-03-17 20:40] vegham commented on #1275
+1

[2017-03-18 04:49] akshayKrSingh commented on #3151
@ebarault
Created a repo with the issue, [Sandbox](https://github.com/akshayKrSingh/loopback-3-x-acl-issue). Although, the issue is no longer reproducible after upgrading the packages, unless somebody is able to reproduce this issue I'm closing this.

FYI for future reference: as @ebarault mentioned in his comments -

That should solve the issue, in case anyone is facing the same problem.

[2017-03-18 04:49] #3151 closed

[2017-03-18 08:16] alFReD-NSH commented on #2153
I made a pull request(#3293) for this.

[2017-03-18 11:43] ebarault commented on #2153
@vkeyrockz @alFReD-NSH : it would be better to reproduce your issue before investigating further in the proposed fix.
The log trace with debug string `loopback:security` would be more appropriate also: with the provided logs i can't tell whether there is a correct role-mapping set up for the user with the provided token and the admin role.

Also, may i ask why you are setting the custom route this

[2017-03-20 05:29] autovipdeveloper opened #3294 "date format not consistent before persist"
# Description/Steps to reproduce
mixins / timestamp.js
[code]

# Expected result
date format should be consistent

[2017-03-20 07:17] jwebcat commented on #2074
any update on this?
I would also like to use this feature to avoid listening to thousands of objects.

[2017-03-20 11:24] Sanbornzhang commented on #1724
+1

[2017-03-20 15:43] bajtos commented on #2872
I think this should be possible to implement using our existing `beforeRemote`, `afterRemote` and `afterRemoteError` hooks.

This is a missing feature we are aware of. I am not able to find the specific issue keeping track of it, the closes one I found is this: https://github.com/strongloop/loopback/issues/3116

[2017-03-20 15:51] bajtos commented on #2256
@ebarault thank you for your thoughtful comment. I am going to change the label and also the issue title.

[2017-03-20 16:07] crandmck opened #3295 "Validation problem when patching a model with embedded relation"
@ahallez commented on [Sat Feb 04 2017](https://github.com/strongloop/loopback.io/issues/268)

I have a model that includes an embedded relation (embedsMany).
The embedded model has auto generated ids.

When patching the parent model I get a validation error, saying the embedded model data shouldn't have it id's set.

Details of the models and patch below.

Is this a bug or do I have to change som

[2017-03-20 16:51] richardpringle commented on #2256
Thanks @ebarault and @bajtos, 👍 .

[2017-03-20 18:00] archenroot commented on #2872
During my research on this, I have found following project today. I didn't have yet look much, but maybe:
https://github.com/yantrashala/loopback-audit-trail

Will give it a try.., but looks very basic and not much as what I expect from basic look into code...

[2017-03-20 18:43] archenroot commented on #2872
I have prepared some schemas (converted from older times when on worked for IBM on SOA implementations) just to give you better idea what I am talking about

[audit-trail-schemas.zip.zip](https://github.com/strongloop/loopback/files/856009/audit-trail-schemas.zip.zip)

[2017-03-20 19:31] btalayeminaei opened #3296 "ar"
# Description/Steps to reproduce

# Expected result

# Additional information

[2017-03-20 19:32] #3296 closed

[2017-03-20 20:43] jsheely opened #3297 "Model property typed object validation"
Model properties that are a typed objects with validations do not fire validation.

Take these models
[code]

[code]

I would expect to be given a 422 error stating that price is required on ```part.price```

[2017-03-20 22:29] superkhau commented on #2083
@ritch Need your confirmation here before moving into Backlog.

[2017-03-20 22:31] superkhau commented on #487
Connect to #443

[2017-03-20 22:31] superkhau commented on #487
Actually, closing in favour of #443

[2017-03-20 22:31] #487 closed

[2017-03-21 05:43] AbhishekBatwara commented on #3256
I am extending the User model and setting below properties to false/null
    "realm": false,
    "username": null,
    "emailVerified": false,
    "verificationToken": null

Below is my model
{
  "name": "users",
  "base": "User",
  "strict": false,
  "options": {
    "idInjection": true,
    "mysql": {
      "schema": "test",
      "table": "users"
    },
  },
  "properties": {
    "realm": false

[2017-03-21 07:37] padelagani commented on #3297
@jsheely Loopback is not supporting nested validation. I am also facing the same issue.

[2017-03-21 12:49] ellenaua opened #3298 "Optional boolean is set to false if it's not passed"
I have an endpoint declared this way:

    Campaign.updateCampaign = function (id, title, isActive, cb) {
        .....
    }

    Campaign.remoteMethod('updateCampaign', {
         http: {path: '/:id/updateCampaign', verb: 'POST'},
         accepts: [
             {arg: 'id', type: 'string', required: true},
             {arg: 'title', type: 'string'},
             {arg: 'is_active', type: 'boole

[2017-03-21 13:43] AlexDM0 commented on #817
I've added an option for oauth2 and loopback to live side by side. If you're interested, it's all available:
https://github.com/crownstone/loopback-component-oauth2

[2017-03-21 15:19] bajtos commented on #3298
@ellenaua thank you for reporting the issue. What version of LoopBack and strong-remoting are you using?

AFAICT, in the version 3.x, optional boolean arguments are set to `undefined` when they are not provided by the caller.

See e.g. the following test cases:

[code]

[2017-03-21 15:21] bajtos commented on #3297
Exactly. I am closing this issue as a duplicate of #300

[2017-03-21 15:21] #3297 closed

[2017-03-21 15:24] bajtos commented on #3294
Hello, thank you for reporting the issue. How is your model defined? If `modified` is defined as `{ type: 'date' }`, then your `persist` hook is probably incorrect - you should call `new Date()` instead of `Date.now()`.

[code]

Having said that, I see your point about inconsistent behaviour. Unfortunately I am not sure if we actually can detect this situation in our code.

[2017-03-21 15:26] bajtos commented on #3291
Thank you for reporting this issue and opening a pull request to contribute the fix too 🙇

[2017-03-21 15:28] bajtos commented on #3283
@jsheely thank you for the proposal, it looks like a reasonable improvement of the current not ideal situation.

@raymondfeng @ritch @superkhau what's your opinion?

[2017-03-21 16:12] ebarault commented on #3283
what if multiple nesting levels?
// (POST) /api/products/1/part/1/subpart/1

[2017-03-21 16:52] bajtos commented on #3278
Hello, thank you for reporting this issue. The change you are observing was an intentional bug fix - see #1936 and https://github.com/strongloop/strong-remoting/pull/395.

Yes, we are backporting most bug fixes that are backwards compatible. In my opinion, the intent of `disableRemoteMethod('patchAttributes', false)` is to disable the `updateAttributes/patchAttributes` endpoint, therefore arguably

[2017-03-21 16:53] #3278 closed

[2017-03-21 16:56] bajtos commented on #3276
Hi @tomcooksey, I am afraid I am a bit confused. You started with _whilst this is populated when using the REST API, if I want to perform an action on a model say in a custom route then this is completely empty_, but then you also want _access to req when using the REST API_, which seems unrelated to me.

Could you please create a small repository based on our sandbox repo (see our [bug reporting

[2017-03-21 16:58] bajtos commented on #3114
Fixed by #3161

[2017-03-21 16:58] #3114 closed

[2017-03-21 17:28] bajtos commented on #3122
Hi @Casy, loopback does not allow you to customise the events returned in the change stream.

I think it should be reasonably easy to implement this extension point, would you like to contribute it yourself?

Most of the code is in [lib/persisted-model.js#L1845-L1928](https://github.com/strongloop/loopback/blob/cb7e2114ecfad9d852bb8da70a44fe74d6fa0ef7/lib/persisted-model.js#L1845-L1928).

I think

[2017-03-21 17:33] bajtos commented on #3283
FWIW, I don't think we support nested scopes yet, see https://github.com/strongloop/loopback/issues/2346

[2017-03-21 17:36] ebarault commented on #3283
hmm i see... at least we can say it works with a depth of 3 (which is the max i've used so far with built-in methods i believe)

[2017-03-22 07:03] jwebcat commented on #2074
For any still looking for a solution to this see:  https://github.com/strongloop/angular-live-set/issues/11 the solution posted there worked perfectly for me with a little massaging.

[2017-03-22 08:13] sirmadboy commented on #2672
@mrjrdnthms thank you for your response. after adding changeCleanupInterval to -1 in all my change tracked model and updating loopback to latest version, it solved my problem and now my loopback doesn't fire cleanup function every 30 sec.

[2017-03-22 08:13] #2672 closed

[2017-03-22 14:10] barocsi commented on #3286
Actually makes sense. If you want to have an error handler middleware and want to access the options object, how would you do that? The docs only say this:
[code]

[2017-03-22 14:39] bajtos commented on #382
Hello everybody subscribed to this thread/issue. I have good news for you - I am going to work on the proposed changes in the next two weeks.

My first step:  https://github.com/strongloop/loopback/pull/3299 adding `User.changePassword()`.

[2017-03-22 14:42] bajtos commented on #3286
That's a good question. My recommendation is to use remoting hook `afterRemoteError` instead of an error-handler middleware.

Again, if you really need to use error-handler middleware, then you can e.g. add `afterRemoteError` hook to copy `ctx.req.args.options` to `ctx.req.options` so that your middleware can access it.

[2017-03-22 14:45] barocsi commented on #3286
I was nasty, I have this boot script
[code]
so I can access currentUser from any _req.currentUser_.

[2017-03-22 14:47] barocsi commented on #3286
However, additionally afterRemoteError should be placed in the docs, because right now docs insist on middleware error handling.
https://loopback.io/doc/en/lb3/Using-strong-error-handler.html
on this URL you can find no mentioning of afterRemoteError.

I know there is a way to improve docs, so I would need to contribute there.

[2017-03-22 15:01] bajtos commented on #3286
FWIW, afterRemoteError is already documented here: https://loopback.io/doc/en/lb3/Remote-hooks.html

The page https://loopback.io/doc/en/lb3/Using-strong-error-handler.html is generated from strong-error-handler's README. To improve this document, simply send a pull request to strong-error-handler repository.

Here are instructions for contributing changes to our "main" documentation: http://loopb

[2017-03-22 15:06] barocsi commented on #3286
Clear!
What is not clear to me and apologies for it, that how can I access the app model from the afterRemoteError, https://loopback.io/doc/en/lb3/Working-with-LoopBack-objects.html#from-a-model-script does not mention this clearly.

[2017-03-22 15:39] timlind commented on #3286
@bajtos Thanks for the suggestion, although my use case is to avoid using remote hooks (because they are not run when a model is accessed from any direction in the graph), and access the context from an operation hook instead, after a middleware function has decorated the context options.

I'll eventually open up another issue for the use case, which is largely around ensuring that whenever a mode

[2017-03-22 19:33] hyperd commented on #3151
@akshayKrSingh I'm also facing the same issue you had. Couldn't repro using your Sandbox. I verified that my dependencies are up to date. The only difference I can find is that I'm using MongoDB.
I could track down the issue to https://github.com/strongloop/loopback/blob/master/common/models/role.js#L445 where `roleMappingModel.findOne` cannot find the RoleMapping instance even though I can see it

[2017-03-22 20:27] #3270 closed

[2017-03-22 20:42] superkhau commented on #3223
I'm going to escalate this to bug, when I reproduce on my machine, I also get an empty object as described by @timlind. I expected to get a reference to model instance that is being created (before the actual creation).

[2017-03-22 20:43] superkhau commented on #3223
1. Either docs need to explain why we get back empty object
2. Update the code to give me a proper reference to the model before insertion (and doc updates if this is the case)

[2017-03-23 07:45] ebarault commented on #411
just a warning though @charlie-s : by doing `loopback.getModel()` you are using loopback's global registry. This might lead to unexpected results if you set up the app to use local registries.

[2017-03-23 07:48] ebarault commented on #3151
@hyperd : are you able to reproduce the issue in a sandbox using mongodb as the db backend?

[2017-03-23 09:16] johnsoftek commented on #382
@bajitos It seems a good idea to add a facility to change password when the old password is known - as proposed using User.changePassword. This should not require email verification. I am fairly sure that the emailVerificationRequired setting is meant for registration, not password changes.

However, change known password is different from a password reset, which is a facility to change password w

[2017-03-23 12:25] shaheero opened #3300 "Showing/returning only filtered data to a custom defined dynamic role"
# Description/Steps to reproduce
Building on this example to create a dynamic role in the docs
https://loopback.io/doc/en/lb3/Defining-and-using-roles.html#dynamic-roles

I am trying to return only **filtered data** (described in myFilter var below) to users of a specific role (teamMembers). The aim is to allow teamMembers to read, write or execute to only a specific set of records in a model base

[2017-03-23 12:40] bajtos commented on #382
On the second thought, I think we should not follow this proposal of mine. When the `User` model contains has sensitive auth-related properties like hashed "password" or password reset token, then it's difficult to perform a full replace (`replaceById` at `PUT /api/users/:id`) - either the client has to know all sensitive auth properties (which is a security vulnerability), or the client cannot ma

[2017-03-23 12:44] bajtos commented on #382
@johnsoftek thanks for chiming in!

The currently proposed implementation of `changePassword` does not check whether the email is verified or not. However, notice that if `emailVerificationRequired` is enabled, then a verified email is required for login - this is an existing functionality.

Agreed.

[2017-03-23 14:23] ebarault commented on #3300
replace your Member.count() query by a Member.findById() to get the user instance instead of just asserting existence

that being said, unless you'd like to submit an issue, please use the forum or gitter for questions:
  https://groups.google.com/forum/#!forum/loopbackjs
  https://gitter.im/strongloop/loopback

[2017-03-23 14:23] #3300 closed

[2017-03-23 14:29] shaheero commented on #3300
I am suspecting Q2 is an issue. The filter is being ignored.

[2017-03-23 15:23] virendra656 opened #3301 "upsertWithWhere throwing an error that "There are multiple instance found operation will not be performed status code 400"."
Iterating a huge array and setting context for each user request for upsertWithWhere throwing an error that "There are multiple instance found operation will not be performed status code 400". I get this because there are some dupes are returned by this api. But even is start  with empty collection I still get this error. So when i use async.mapLimit with 1 concurrency it works.

[2017-03-23 15:52] bajtos commented on #3286
@timlind

I agree that for code that has to run even when a method is invoked locally via JavaScript API, remote hooks are not the solution. IMO, the same applies to middleware. If you are relying on a middleware function to decorate context options, then your code invoking the method via JavaScript API won't decorate it.

Have you considered decorating the context options inside the operation hoo

[2017-03-23 16:03] zenjabroni opened #3302 "Deny property write via ACL"
# Description/Steps to reproduce
I'm looking for a way to prevent users from updating their own `username` via `PATCH /api/users/:id`.

According to the docs for ACL it looks like this should be possible by specifying a property in the ACL like this:
[code]

This, unfortunately, does not work. I'm not sure if it's a bug or the docs are worded incorrectly regarding the ACL definition.

@ebarault as

[2017-03-23 16:05] ebarault opened #3303 "Provide a solution to finish the user's registration when the email verification token has expired"
#### About
I'm opening this issue to isolate the discussion on the feature request in #382 referenced as
**"Provide solution for finishing the registration when the verification link was not followed (opened) before it has expired"**

My understanding, as depicted in the issue title is that we're willing provide a solution for the following situation:
- a user a completed the registration form to

[2017-03-23 16:12] ebarault commented on #3302
thanks for posting this @zenjabroni
cc: @bajtos

Although the ACL js states
`@property {String} property Name of the **property**, method, scope, or relation.`

I never tested this kind of ACLs. It seems the doc is unclear about the support of this, although all examples refer to `ACL.property` of type `method`.

It appears that the given ACL does not work and does not prevent a user from patching

[2017-03-23 16:22] timlind commented on #3286
@bajtos what I actually mean is that the model decoration needs to run when being accessed via the REST api through any relation as well as directly on the model REST api.

Perhaps the missing functionality is that there is no operation hook that executes on a bulk access operation, so that it can be used to cause a further - efficient - lookup of data related to the viewing user, regardless of wh

[2017-03-23 16:22] bajtos commented on #3303
I'd like to invite people involved in the original discussion in #382 to chime in too: @offlinehacker @TFaga  @karlmikko @shaunbruno @johnsoftek @lazaridis-com

Good catch!

This leaves me a bit confused about what was mine reasoning for proposing this change in https://github.com/strongloop/loopback/issues/382#issuecomment-224954978.

How about the following two scenarios, is it something we shou

[2017-03-23 16:24] bajtos commented on #3302
I don't think we support ACL at property level (for properties other than methods). @ritch @raymondfeng?

[2017-03-23 16:31] bajtos commented on #3286
You can use a global remoting hook that's triggered for any method on any model. I think the code will look like this:

[code]

(IIRC, the handler method can return a promise instead of using `next` callback too.)

See also https://loopback.io/doc/en/lb3/Remote-methods.html#formattingremote-method-responses

I think it would be great to add a new section to that page explaining how to use a global

[2017-03-23 16:38] bajtos commented on #3139
@PaddyMann

From what I can tell by reading the source code, it seems the relation methods were not updated to use PATCH instead of PUT. See e.g. https://github.com/strongloop/loopback/blob/cb7e2114ecfad9d852bb8da70a44fe74d6fa0ef7/lib/model.js#L655-L670

I think this was an oversight on our side, IMO the relation methods should be using PATCH for partial update and PUT for full replace too.

@jjhe

[2017-03-23 16:54] zenjabroni commented on #3302
FWIW, the concern I have is that using the passport social connector puts the account link in the username column like this: `facebook-token.<facebook_user_id>`.  This seems like data that users shouldn't be able to change.

[2017-03-23 16:57] shaheero opened #3304 "Showing/returning only filtered data to a custom defined dynamic role"
# Description/Steps to reproduce
Building on this example to create a dynamic role in the docs
https://loopback.io/doc/en/lb3/Defining-and-using-roles.html#dynamic-roles

I am trying to return only **filtered data** (described in myFilter var below) to users of a specific role (teamMembers). The aim is to allow teamMembers to read, write or execute to only a specific set of records in a model base

[2017-03-23 17:47] bajtos commented on #2265
@jannyHou is this issue still relevant?

[2017-03-23 17:48] bajtos commented on #171
@ebarault PTAL, this may be something to consider in your current work on verifying auth setup.

[2017-03-23 17:50] bajtos commented on #2391
@diegobent hello, is this issue still relevant?

[2017-03-23 17:53] ebarault commented on #382
hi all, you can follow and participate to the discussion on
**Provide solution for finishing the registration when the verification link was not followed (opened) before it has expired.** in #3303

[2017-03-23 17:57] bajtos commented on #2239
Sorry for the long silence.

This should have been fixed by https://github.com/strongloop/loopback-datasource-juggler/pull/796/commits/3028329126702456d59b42d6a88da17effe89919.

I am going to close this issue, please open a new one if there is any other specific thing to fix/improve.

[2017-03-23 17:57] #2239 closed

[2017-03-23 18:00] bajtos commented on #238
As I was rereading the discussion here, I think the problem is in the fact that LoopBack's ACL system works at method level (a method is allowed or denied) and does not support model-instance restrictions (user X can access only instances 1,2,3 when querying a database).

I'm relabelling this issue as `feature`. Related: https://github.com/strongloop/loopback/issues/1427

[2017-03-23 18:01] #286 closed

[2017-03-23 19:32] PaddyMann commented on #3139
OK - we've now reverted to PUT and replaceOnPUT so no urgency for me but would be good to see this fixed :)

[2017-03-23 20:49] cryptk opened #3305 "Using model descovery on multiple databases can cause model name overlaps"
Hello, I am developing an API that wraps around some pre-existing MySQL databases using discovery.  The issue that I have encountered is that some of these databases have table names that are the same (so db1.instances and db2.instances for example).  The tables do store different data, and as such should be available via different API endpoints, but the discovery results in both of them generatin

[2017-03-23 21:41] sukheja-varun opened #3306 "Getting array of only values from Get API"
I have a data model having data like:
 {   "id": 1,
    "name": "A green door",
    "price": 12.50,
    "tags": ["home", "green"]
}

I need an array of price only like:
[12.50.5.7,9.2,23,45,78,34]

If I use Fields filter like:
{ fields: {price: true} }
I get result something like this:
[{price:12.50},{price:5.7},{price:9.2},{price:23},{price:45},{price:78},{price:34}]

[2017-03-23 21:53] jannyHou commented on #2265
@bajtos I checked with the latest stongloop & node6, it still works fine:
[code]

I am closing this issue since we couldn't reproduce the bug.
Please feel free to reopen it if anyone still runs into same issue has has more details. Thanks.

[2017-03-23 21:53] #2265 closed

[2017-03-23 22:22] ebarault commented on #171
@bajtos

app.enableAuth() should check that these models are correctly configured, otherwise throw an error.

:+1:
(Gosh we are traveling through time here! 3 years back you were discussing this already, seems like things happen eventually :-) )

[2017-03-24 01:02] hyperd commented on #274
@codejie as @fabien pointed out the `strictObjectIDCoercion` is now available for RoleMapping model in new applications created using `lb`, `apic` etc.
In my case I had to add it manually to `model-definition.json` which looks like this:
[code]

[2017-03-24 01:10] hyperd commented on #3151
@ebarault Looks like my application was created with an older version of `lb` which doesn't automatically set `strictObjectIDCoercion` for RoleMapping model. After adding it to `model-config.json` roles started working fine. Thanks for chiming in!

[2017-03-24 08:49] bajtos commented on #2265
Thank you, @jannyHou!

[2017-03-24 08:59] ebarault commented on #3303
Scenario 1 makes perfect sense to me.
And developers can certainly leverage on such a solution to help with scenario 2 as well.

Any scenario assumes a part of custom code to handle interactions with users:

For example for scenario 1:
- the user tries to log in but the form shows indications about the unverified email
- the user tries to create an account with the same email/username and indicati

[2017-03-24 09:09] bajtos commented on #3303
Sounds reasonably to me.

The developer will have to take care when implementing the overall logic that the access to the verify-again system prevents someone from spamming people by providing any valid email address. This is actually working similar to the recovery form here.

I agree, this is a concern we should address. What are the best practices for implementing this? What big players like Go

[2017-03-24 09:43] lazaridis-com commented on #3303
@bajtos, @ebarault , just dropping in here to remind you that this is an IT standard-use-case, and that there are possibly ready patterns for this (e.g. ready flow-charts, describing the mechanics). Take a llok at the images, possibly one of them belongs to an quality-article which describes a real-life-verifed pattern:

https://www.google.gr/search?q=user+registration+sequence+diagram

[2017-03-24 09:46] ebarault commented on #3303
@lazaridis-com : sure 👍
nevertheless we also have to consider the way previous features were integrated in LB.

[2017-03-24 10:39] shaheero commented on #3305
I am not sure if the discovery is quite ready yet for getting _everything_ good to go by just running it.

In my use cases, it did most of the work but manual changes were a must (among which some Booleans were discovered as numbers, added the plurals, changed the 'id' columns from being required to not because MySQL autogenerates and autoincrements them..).

Anyway, could you share your discovery

[2017-03-24 10:44] shaheero commented on #2881
Alright.
https://github.com/strongloop/loopback-connector-mysql/issues/253

[2017-03-24 10:44] #2881 closed

[2017-03-24 12:41] ebarault commented on #3303
i suggest we go on the following way:
1. implement `User.verify(email, options, (cb))` to ease custom integration of "verify-again" feature in a more advanced workflow. Warn in the docs on the best practices to mitigate spam when using this method
2. implement an optional param in `User.login()`to automatically trigger `User.prototype.verify()`
3. implement a flag on User model to override missing

[2017-03-24 13:24] samithks opened #3307 "Created a custom model extending the base model, the data is inserted into the base model, not to the custom model."
How to create a 3rd party login that insert data to custom model which inherit loopback base models, using loopback-component-passport?

When created a custom model extending the base model, the data is inserted into the base model, not to the custom model.

model-config.json
[code]
The passport configurator
server.js
[code]
Models
[code]
customer-credential.json
[code]
accessToken.json
[code]
cus

[2017-03-24 13:42] Schubbcasten opened #3308 "Warning when CustomAccessToken uses a polymorphic realtion to user models"
# Description/Steps to reproduce

I currently have an app where I have different custom User models. To implement the authentication I follwed these instruction:
http://loopback.io/doc/en/lb3/Authentication-authorization-and-permissions.html#access-control-with-multiple-user-models
Which resulted in the following model definitions:

[code]

This then still gives the following warning:
The model "A

[2017-03-24 13:51] ebarault commented on #3308
hi @Schubbcasten,
your app seems to react as if the polymorphic relations are not available : could you post as well the content of your model-config.json in the first place?

[2017-03-24 13:56] Schubbcasten commented on #3308
[code]

[2017-03-24 14:16] ebarault commented on #3308
could you please try removing `User` from your model-config.json ?

[2017-03-24 14:18] Schubbcasten commented on #3308
that doesn't change anything, warning is still there.

[2017-03-24 14:20] ebarault commented on #3308
could you please fork a sandbox app using https://github.com/strongloop/loopback-sandbox, so we can investigate ?

[2017-03-24 14:47] kamal0808 opened #3310 "Camel casing is removed in model name when created with slc loopback:model"
# Description/Steps to reproduce
Creating a model with `slc loopback:model` removes **Camel-casing** names in `modelName.js` whereas keeps as-it-is in  `modelName.json`.

Steps to reproduce:
- Go to terminal in your project dir and type `slc loopback:model`
- Write model name in camel casing. For example, `MyNewModel`
- Complete steps. Go to file `myNewModel.js`, you'll find module name as `Mynewm

[2017-03-24 15:11] Schubbcasten commented on #3308
[](https://github.com/Schubbcasten/loopback-sandbox)
Added the models that seem to produce the issue and added all dependencies.
Note:
With the sandbox version of loopback (2.22.0) the messaage doesn't show. But i think that' s because that warning was introduced with lb3. When updating the dependecies the warning shows up again.

[2017-03-24 15:33] raymondfeng commented on #3303
@ebarault Your proposal LGTM. Here is my expectation of the user experience:

1. When the user clicks on the initial link with an expired token, the application can prompt the user to resend a new link

2. When the user tries to login without the email being verified, the application can prompt the user to perform email verification.

From the implementation perspective, I would prefer to align th

[2017-03-24 16:31] ebarault commented on #3303
thanks for sharing your POV @raymondfeng

The current implementation of the email verification feature does not handle a TTL, it's just a simple random crypto buffer attached to the user instance. It might be better to add this feature when aligning with oAuth2 and detaching this token from the user

agreed 👍 . Let's focus on a simpler implementation for now and move to oAuth2 flow with next major

[2017-03-24 16:33] ebarault commented on #3308
thanks, i'll review this.
Yes the warning was added with LB3, we're currently working on some improvements.

[2017-03-25 07:28] padelagani commented on #3306
Try using **lodash** map function and pick price from it.

`_.map(prices, 'price')`

[2017-03-26 02:36] shaheero commented on #3304
The job of the example above (based on the example in the docs) is to determine whether to allow or reject the request altogether, without any ability to change/control the output.

To control the inputs or the outputs, Remote Hooks do the job. In my case, I needed to write an afterRemote function in the .js of the model to filter the output.

http://loopback.io/doc/en/lb2/Remote-hooks.html

[2017-03-26 02:36] #3304 closed

[2017-03-26 11:04] archenroot commented on #2872
Following my research I found out that actually Loopback already does something similar, but in different place :-)
There is implemented context in product https://github.com/strongloop/microgateway

Microgateway actually is having some of attributes mentioned by me to capture in audittrail and they call it middleware context, the difference is that such context is for example on Oracle Service Bu

[2017-03-27 02:25] waleed2744 opened #3311 "Validation error"
what is the solution of this error ?
![capture](https://cloud.githubusercontent.com/assets/26245331/24338395/eeb9ba5c-1259-11e7-85a7-6bb7dca94d24.PNG)

[2017-03-27 08:39] Cyperwu commented on #2656
I stuck into the same problem, is there any update to this issue?

[2017-03-27 08:44] bajtos commented on #3303
In the light of the comments above, I think we can limit the scope of this issue to the following change in LoopBack core:

I am proposing to also:
 - Enhance https://github.com/strongloop/loopback-example-user-management to show how to handle these new scenarios.
 - Review and extend the documentation to clearly describe when and how to use the new `User.verify` method.

Thoughts?

[2017-03-27 08:50] ebarault commented on #3303
`implement User.verify(email, options, (cb))`

👍 : options 2 and 3 can anyhow be implemented with a hook on remote method `login`

A PR already exists to improve User.verify() doc: https://github.com/strongloop/loopback.io/issues/321

[2017-03-27 09:24] bajtos commented on #2872
@raymondfeng could you please chime in and help @archenroot to figure out what is the recommended way for setting up the microgateway to act as and audit logger?

If this proves to be a viable solution, then I think we should describe our recommended setup at http://loopback.io/doc/. cc @ritch @crandmck

[2017-03-27 13:00] samithks commented on #3307
https://github.com/samithks/loopback-sandbox

[2017-03-27 13:01] samithks commented on #3307
The link to the sandbox is given below.
https://github.com/samithks/loopback-sandbox

[2017-03-27 14:29] ebarault commented on #3308
hi @Schubbcasten,
I was able to reproduce your issue.
It seems there's a bug in the way the polymorphic relation "belongsTo" is implemented.
as described in the doc [here](https://loopback.io/doc/en/lb3/Polymorphic-relations.html#belongsto-polymorphic-relations), the model name seems expected which i always considered as a doc issue as the model name is unknown upfront.

Well, it appears that this

[2017-03-27 14:44] Schubbcasten commented on #3308
hi @ebarault

Thanks a lot for your help and the clarification. I have one more quick question then. In the polymorphic doc it shows the example with the Picture model that belongs to an author. What would the model look like, if I also want the picture to belong to either an Author or a Reader?
[code]

[2017-03-27 14:45] ebarault commented on #3308
please, remove this unrelated question in order to keep the issue clean, and let's discuss this on gitter

[2017-03-27 15:29] jannyHou commented on #2656
@Cyperwu Could you fork this sandbox: https://github.com/strongloop/loopback-sandbox
and replace it with your code? Thanks!

[2017-03-27 15:49] molinto commented on #1920
MiniMongo doesn't like $and or $or clauses

[2017-03-27 16:10] jdforsythe commented on #1052
@gunjpan This isn't really solved. It's only solved if your region doesn't require V4 and you set your region. Regions like `us-east-2` only support V4 and so this is still an issue for me

[2017-03-27 16:38] cryptk commented on #3305
Updated the original post with a link to an example of the boot script that I am using.

[2017-03-27 23:52] ebarault commented on #3308
this is fixed in https://github.com/strongloop/loopback-datasource-juggler/pull/1289

[2017-03-28 02:37] Cyperwu commented on #2656
@jannyHou sure I'll try

[2017-03-28 04:30] shaheero commented on #3305
Have a look at the file datasource.js in node_modules/loopback-datasource-juggler/lib.
In my version (3.2), in line 1432 you will find:
`          model: nameMapper('table', fk.pkTableName),`

You could manually add the current db name before running your discovery script. This will affect the model names in the relation attribute of the generated json. For example, change it to:
`           model

[2017-03-28 06:20] Cyperwu commented on #2656
@jannyHou I just realized that it could be my wrong understand of querying data.
Assume I have two models, Teacher and Student, they have a hasAndBelongsToMany relation.
So i do something like `Teachers.Students.count({ where: { gender: male }})`, will return 0
Is that a correct way to count all the male students belongs to this teacher?
It seems that no matter what I fill in the where filter(in t

[2017-03-28 06:29] RodrigoCS commented on #3028
+1

[2017-03-28 07:41] ebarault commented on #3303
I'm starting implementing this feature.
To make it a remote method we need to define a default options param, which can be overridden by the developer.

in User.prototype.verify(options, cb) the only property which has currently no default is the verification type. As for the moment only the email verification is supported i propose to set it as default to reduce frictions when using this feature

[2017-03-28 10:48] timlind commented on #531
This feature should be based on ACL roles, i.e only admin can edit this field, or only team owner can rename team

[2017-03-28 13:14] upupzealot commented on #3191
same problem, do you solved this issue?

[2017-03-28 13:35] upupzealot opened #3315 "ACL don't persisted into datasource"
ACL don't persisted into datasource

I created ACL instances by code
[code]

the log shows I'v created ACL instances, but cant find them in the datasource(postgresql).

[2017-03-28 13:35] timlind commented on #3286
@bajtos are you sure about that? I've tried that out and it doesn't hit the before remote when accessing a user-subclass/reset-password URL.

Also do the model operation hooks (i.e before save / before access) always run after the next() call of a before remote?

[2017-03-28 13:52] ebarault commented on #3286
i solved this once, this could come from the order where the hooks are registered, it can be a bit tricky. If you provide a sandbox reproducing what you're trying to do, i could play around with you on this. Then when finding a solution we could enhance the doc to cover this scenario.

[2017-03-28 14:01] upupzealot commented on #3315
#3191

[2017-03-28 14:17] sebdelvalle opened #3317 "lb-ng: command not found"
# Description/Steps to reproduce
lb-ng

# Expected result
command should exist and allow you to generate angular services

# Additional information

linux x64 6.10.1

└── UNMET DEPENDENCY loopback-connector-sendgrid@^1.2.2
npm ERR! missing: loopback-connector-sendgrid@^1.2.2, required by Referrall@1.0.0

[2017-03-28 14:46] upupzealot opened #3318 "How to set ACLs in javascript?"
Is the json file the only way to define ACLs to a model?
Can I define/change ACL settings in javascript?

[2017-03-28 15:04] timlind commented on #3286
Thanks @ebarault.

OK, I seem to be able to customise the operation context through this before remote hook.

This is really weird though (aside from all these similar names being really confusing): ctx.args.options doesn't exist in the before remote, but if I create it, it will override the options sent to the before save operation hook, remember to put accessToken on it as well (as that is on th

[2017-03-28 15:11] bajtos commented on #3286
@timlind

I agree this is weird, it's not how I envisioned the interaction before options-from-context and remoting-hooks. Could you please fork https://github.com/strongloop/loopback-sandbox and create a small app showing what and how are you trying to accomplish? It will help us to better understand your use case and identify any possible bugs in the current implementation.

[2017-03-28 15:45] gunjpan commented on #1052
@jdforsythe : Hi, could you please open a new issue with detailed description of the problem you face, along with a reference to this issue.

[2017-03-28 16:04] developermhayden commented on #2091
Just to chime in, my endpoint looks like this:
/api/v1/roles?filter= {"fields": ["id", "name", "alias"], "where": {"name": "admin"}, "include": [{"relation": "users", "fields": ["id", "name"]}]}

the include part on the users collection is not limiting the number of returned fields to "id" and "name"

[2017-03-28 18:35] aaronbuchanan commented on #531
+1

[2017-03-28 19:19] shibusr opened #3319 "hasManyThrough with filter on mapping table"
Hi all, we have three table Physician, Appointments, Patient. We are using hasmany throuhg relationship to get pysician and his patient by setting relation ship through Appointment. Now we need to filter the result by a field in Appointment table

How we can do this using loopback relations?

[2017-03-28 19:25] jesperbruunhansen commented on #1427
Hi everyone.

My team has open sourced our approach to a custom build of this functionality. Any feedback or help is highly appreciated. Repo: [loopback-object-acl](https://github.com/jesperbruunhansen/loopback-object-acl)

Note: the state of this project is currently in early alpha release and is only tested with Loopback v3.x and MongoDb as datasource.

[2017-03-28 19:46] cryptk commented on #3305
Well, I can generate JSON and then just manually change them as needed, but that kind of defeats the purpose of using discovery.  What I am hoping to be able to accomplish is to have the API app start up, use discovery to create the API, and then use the API as discovered.  If I were to generate JSON files from the discovery, I could edit them as needed to deal with the conflicts, but then if the

[2017-03-28 19:51] shaheero commented on #3305
I see what you mean.

I haven't played around the datasource.js file much, but you can try to assign the db name to a variable (e.g. var thedbname) and then use it in the line I told you about above.

`model: nameMapper('table', fk.pkTableName+thedbname),`

[2017-03-29 07:58] odedtaizi opened #3320 "How to change the field delete instead of id?"
I want to the delete a few rows in MySQL table using loopabck. But I don't want to use the id to delete the record. I'm trying it in Angular SDK

    ModelName.destroyById({ fieldName : myValue })
                          .$promise
                          .then(function() {
                          });

[2017-03-29 09:51] DAVIDFlavien commented on #2409
Hey,

Some news regarding this issue ? It's something that will be very helpful...

[2017-03-29 13:52] DAVIDFlavien commented on #2409
See strongloop/loopback-component-explorer#208

[2017-03-29 14:58] bajtos commented on #3320
You can use [`deleteAll`](http://apidocs.strongloop.com/loopback/#persistedmodel-destroyall) method. Note that this method is not exposed via REST API by default, because it makes it too easy to accidentally delete the whole table/collection.

[2017-03-29 14:58] #3320 closed

[2017-03-29 15:01] bajtos commented on #3318
For a model class `MyModel`, the ACLs are stored in `MyModel.settings.acl` property. You can manipulate this value for example from a model `.js` script.

Would you mind contributing a pull request to our documentation to clarify this usage? See http://loopback.io/doc/en/contrib/doc-contrib.html to get started.

[2017-03-29 15:03] bajtos commented on #3317
Please install `loopback-sdk-angular-cli` via the following command:

[code]

[2017-03-29 15:03] #3317 closed

[2017-03-29 15:04] bajtos commented on #3311
Hello, this error is related to `forceId` setting that controls whether clients are allowed to provide their own `id` values, or whether model id must be always generated by the server.

Please provide us with steps how to reproduce the problem you are experiencing, see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report.

[2017-03-29 15:06] bajtos commented on #3319
I am afraid LoopBack does not support this feature yet, see https://github.com/strongloop/loopback/issues/466.

I am closing this issue as a duplicate.

[2017-03-29 15:06] #3319 closed

[2017-03-29 15:16] davidrivers93 opened #3321 "Error: Shared class "Supplier" has no method handling POST /57/kmRange"
Hello.

I have a related model called KmRange and a model called Supplier, Supplier hasMany KmRanges. When I try to make a save to http://localhost:3001/api/Suppliers/57/kmRange it throws me a 404 error : Shared class  "Supplier" has no method handling POST /57/kmRange.

I haved found the ACL solution but it's not working on my project. Running the project on debug mode it shows me the next flow :

[2017-03-29 16:00] upupzealot commented on #3318
@bajtos I find an other way: use `loopback.configureModel`, like
[code]
this will keep all configs and add the acl to existed acls to the `Model`

[2017-03-29 17:42] jannyHou commented on #2656
hi @Cyperwu from your description, what you expect is correct, while I still prefer to see your app to debug more, because even a small config in relation could cause behaviors different.
And please double check the doc of `hasAndBelongsToMany` to make sure you set everything correctly, e.g. `foreignKey`: https://github.com/strongloop/loopback-datasource-juggler/blob/5bf18b07280e22d713e722b8e23f8a

[2017-03-29 18:43] jannyHou opened #3323 "Message Model in loopback"
Summarized from discussion with @qpresley :

Like PersistedModel is built with CRUD operations, it's good for loopback to have a MessageModel which talks to message services like mqlight, rabbitmq, etc...

MessageModel will integrate with basic message operations like `send` and `receive`, example see functions in [`loopback-connector-mqlight`](https://github.com/strongloop/loopback-connector-mqli

[2017-03-29 22:34] Casy commented on #3122
@bajtos I will do it, i need time because I'm with a lot of work right now .. i will need help with the tests that i should do once i finish it, ok?

[2017-03-30 00:31] superkhau commented on #3323
@jannyHou I think we should definitely have something along the lines of DAO/KVAO for MAO to interface with MQ operations. We have no exact plans yet, but I recall this discussion has happened in the past. It'll take a bit of work like what we did on the KV-connectors though. ;)

[2017-03-30 02:33] jonathanwoahn opened #3324 ""resourceName" and REST connector not working as anticipated"
I have a project where I'm trying to set up a datasource for Stripe. I have created models for a few of the stripe objects (charges, plans). I anticipated that this configuration would allow me to send a request to `http://localhost:4000/api/Charges`, and it would return the charges from the Stripe API.

However, when I send a request to this URL, it returns an error from Stripe. BUT, if I change

[2017-03-30 04:16] simoami commented on #1803
Just hit the same error and glad I found this thread. In my case, I attempted to simply create a second user with the same email. I used the stock `POST /users` with `{ email, password }` as form data

Here's the full log:

[code]

[2017-03-30 06:25] supasate commented on #2201
Hi @loay, I faced the same issue when running test with `jest`.

[code]

Currently, I work around by renaming the file from `url-not-found.js` to `urlNotFound.js`. Should we fix it in `loopback-boot` to get the correct file name?

[2017-03-30 07:55] b3rew commented on #3307
Did you try to remove user and access token from the model-config.json and just use customAccessToken & customUser but you should

add this to your customUser (in your case customer)
[code]
and also add this to your customAccessToken (in your case accessToken)
[code]

[2017-03-30 07:59] ebarault commented on #3307
@samithks
just ignore the warning message and remove base User and AccessToken in your model-config.json at the moment. Please confirm whether it's working then.

[2017-03-30 09:21] Cyperwu commented on #2656
hi @jannyHou I use 2.x. So It turns out I was counting through models! Seems that I shoud upgrade to 3.x. Thanks!

[2017-03-30 11:53] bajtos commented on #3122
Sure, I'm happy to help! Take a look at the existing [change-stream tests](https://github.com/strongloop/loopback/blob/53182affef06aa23563496242b4f447f0a171069/test/change-stream.test.js) to get started.

[2017-03-30 14:22] jannyHou commented on #2656
@Cyperwu no problem. Hope 3.x works for you. I am closing this issue since problem solved. If you still run into error, feel free to reopen it and I will continue working on it. Thanks for understanding.

[2017-03-30 14:22] #2656 closed

[2017-03-30 15:25] diegobent commented on #2391
@bajtos hello! yes it is!
Now I'm using different models with the same base model (for common settings) and each model works on the same MongoDB collection and has different ACLs. At the moment it works but I think this is a little bit tricky.

[2017-03-30 20:28] ishaaqj commented on #531
+1

[2017-03-30 21:16] jdhrivas commented on #531
I'll be working on mixin for this purpose (ETA: TBD) and maybe after some community feedback this could become part of the base code.

Here is the general architecture idea.
![column properties](https://cloud.githubusercontent.com/assets/5058768/24525083/9e42bdbe-155e-11e7-81cc-1b7b8e02563b.jpg)

1. First of all I think MSSQL handles this issue beautifully, I'm not reinvent the wheel, so I'll impl

[2017-03-30 22:29] jdhrivas commented on #924
this issue is resolved. I tested this afternoon, and both true and false options return the desired output

[2017-03-31 03:38] tjc0090 commented on #512
This still appears to be an issue as I am faced with an identical situation.

Attempting app.get('url') returns a URL identical to the one contained in config.json however I need to use a different URL to provide to the user after a "resetPasswordRequest" has been emitted. That URL will change across environments and over time as we have not yet moved to production.

Accessing context from the cus

[2017-03-31 08:55] bajtos commented on #3323
+1 for defining a shared API for messaging.

How do we envision to implement `receive` (or perhaps `subscribe`?) Are we expected the clients to keep a long-polling request that will be handled once a message arrives, and then expecting the client to open another long-polling connection? Do we want the clients to use WebSockets instead? Or perhaps even-stream, as we are already doing in `PersistedM

[2017-03-31 08:59] bajtos commented on #2391
I think the original issue should have been fixed by https://github.com/strongloop/loopback/commit/98816217c951bdc0a357e427f987ae491e5e3384 in LoopBack 3.0.0. Could you please check?

I find it difficult to build a mental image of what you are trying to accomplish. Could you perhaps create a small application showing your use case, per our [bug-reporting instructions](http://loopback.io/doc/en/con

[2017-03-31 09:06] bajtos commented on #512
FWIW, the config can be customized using per-environment overrides like `server/config.production.json`. It should be also possible to reference environment variables inside `server/config.json` to make it even simpler.

IMO, this is a missing feature that we should address.

Right now, `resetPassword` is defined with the following arguments:

[code]

I am proposing to rename the first argument fr

[2017-03-31 14:02] bajtos commented on #2201
AFAIK, `loopback#urlNotFound` is usually resolved by loopback-boot to `require('loopback').urlNotFound`.  When `require('loopback')` does not export `urlNotFound` property, then loopback-boot is trying to treat the fragment as a filename. Here is the relevant source code in `2.x` branch: [lib/compiler.js](https://github.com/strongloop/loopback-boot/blob/cda21ea48196db0448014bc9642da1fc5c6b8768/lib

[2017-03-31 14:02] pe3 commented on #1568
Any interest for building an example with [create-react-ap](https://github.com/facebookincubator/create-react-app) integration?

[2017-03-31 15:43] pierreclr opened #3325 "Include filter crashes the app at some conditions"
I tried for about 2 hours to find why my include filter crashed my app. Guess what I found:
If the relationName has the same name of the related model, the function `relation.modelTo.find(filter, options, targetFetchHandler);` (`loopback-datasource-juggler/libs/include.js L550`) fetches related docs without related ids which throw an error in `loopback-datasource-juggler/lib/include_utils.js L30`.

[2017-03-31 15:58] #3325 closed

[2017-03-31 19:26] supasate commented on #2201
It seems like `url-not-found` and `error-handler` are treated differently by [re-naming file names into camelCase properties]( https://github.com/strongloop/loopback/blob/0499d09d6b34aec87f4f05a576851ba3d5ac4dc6/lib/loopback.js#L149-L153).

So, can we just re-name the fragment back to the correct file name like the following?
[code]

[2017-03-31 21:17] futurus opened #3326 "Angular SDK User logout returning 401 (Unauthorized)"
# Description/Steps to reproduce
Regarding (Angular SDK) User.logout(), I'm a bit confused as the doc stated that:

I'm doing exactly that in my angular authentication controller, but server keeps spitting out:

which obviously means it's expecting the current user's accessToken to log her/him out. The token is also included in the post request under 'authorization'.

What am I doing wrong here? I

[2017-04-01 02:08] #3199 closed

[2017-04-01 03:00] JoeShi opened #3327 "How to specify an API call is deprecated"
Is there any way to specify a remote method is deprecated?

What I want to achieve is when developer go through the API docs, he may knows this method is deprecated, and use the other one.

[code]

[2017-04-01 04:52] javid-netlinks commented on #1319
Facing the same issue, any updates???

[2017-04-01 06:30] tabvn opened #3328 "Loopback Realtime Database + ACL Implements ?"
I have been working on this and i hope someone can able find this (Loopback Realtime Database and ACL Permission Implements)
code: https://github.com/tabvn/loopbackCMS
see Video how it works: https://www.youtube.com/watch?v=z38B_iA4fJI

i hope it helps

Best regards,
Toan

[2017-04-01 07:37] jdhrivas commented on #2484
@gunjpan please reopen.
To reproduce:
1. create a hasmany relationship between two models.
2. DELETE model1/:id/relatedModel/:id returns status 204 No Content

[2017-04-02 03:48] johnsoftek commented on #512
I use:
[code]

I should probably store the origin in ctx.options...

[2017-04-02 23:48] kolach commented on #517
@kjdelisle can you post a link to the documentation page that explains how this feature is now implemented?

[2017-04-03 00:14] kjdelisle commented on #517
cc @jannyHou

[2017-04-03 03:12] daordonez11 opened #3329 "Filter error"
Hello my question is simple whenever I try to do a simple filter query on mi api y continue getting an empty array querying any String attribute in the model.

For examplo if I do:
https://apiurl/api/Moodel?filter={"where":{"bookingStatus":"123456789101123456789101"}}}
This returns empty array
If I try
https://apiurl/api/Moodel?filter={"where":{"bookingStatus":"1234567891011234567891011"}}}
Return

[2017-04-03 09:53] ebarault commented on #3329
hi, if no model's instance have the bookingStatus "123456789101123456789101", this is the expected behavior.

Please use the google group or the gitter channel for questions

[2017-04-03 09:53] #3329 closed

[2017-04-03 09:55] ebarault commented on #3326
you should configure the SDK so that the authorization header is provide with the user's access token.
User.logout() expects an logged-in user hence, an access token.

[2017-04-03 09:56] #3326 closed

[2017-04-03 10:01] ebarault commented on #3321
hi, a problem with ACL config would throw a 401 error, not a 404.

Can you see the relation defined in swagger explorer?
It seems there's a problem in your relation/model config, that makes the related method undefined.

[2017-04-03 10:25] ebarault commented on #3318
hi,
do you seek to have those ACLs persisted ?
there's of course the possibility or you to create ACL instances which will be looked up as well along with ACLs defined by code.

[2017-04-03 10:33] ebarault commented on #3315
ahh.. that's strange, ACL is just like any other built-in model in LB, it should persist to datasource. Could you share a sample app reproducing the issue?

https://github.com/strongloop/loopback-sandbox

[2017-04-03 16:31] futurus commented on #3326
What is a proper example of User.logout() call?
Is it
`User.logout({}, {
   accessTokenId: user.token
}, function() {}, function() {})`
or something else?

I have tried different calls including setting header but still getting 401 error complaining about missing accessToken.

[2017-04-03 18:36] maziarz commented on #2270
I am experiencing this problem even in version 3.6.0. Is it really not fixed yet?

[2017-04-03 20:25] siddhipai commented on #3310
Hi @kamal0808 ,
You can refer this link which talks more about camel-casing. So this is the expected behaviour.
https://loopback.io/doc/en/lb2/Model-definition-JSON-file.html#overview

[2017-04-03 20:30] kamal0808 commented on #3310
@siddhipai Quoting from doc

However, the model name ("FooBar") **IS NOT** preserved via the model's name property. It changes to ("Foobar"). Please don't close this issue yet.

[2017-04-03 20:31] siddhipai commented on #3194
@totalard yes i do..please send it here.

[2017-04-03 22:52] superkhau commented on #3310
@siddhipai Please try to reproduce @kamal0808's issue and see if the behaviour if different from the docs. If so, we can escalate this to a bug.

[2017-04-03 23:57] futurus commented on #3326
Actually I have figured this out. I forgot to add authentication.js script to server/boot...

[2017-04-04 01:03] timlind commented on #1803
When an email address on a subclass of User is not unique, I'm getting an error message about another column not existing: UNIQUENESS.ERROR: COLUMN "HEIGHTINCHES" DOES NOT EXIST

This was happening because migration was failing somewhere else with a new required property on a column that had null values (you can allow nulls via the custom connector properties if needed btw).

[2017-04-04 13:35] ebarault commented on #2270
hi, i believe this is will be fixed in https://github.com/strongloop/loopback-datasource-juggler/pull/1289

[2017-04-04 13:54] #2274 closed

[2017-04-04 15:06] maziarz commented on #2270
@ebarault Super awesome! What is the temporary solution for this issue?

[2017-04-04 15:08] ebarault commented on #2270
there's currently no clean one i'm afraid, the best i see is to create you own User base model, reusing the code from the built-in model and removing the incriminated ACLs from this custom User base model

[2017-04-04 17:39] kattsushi commented on #1692
1+

[2017-04-04 17:51] maziarz commented on #2270
@ebarault I do not want to point fingers, but i just came from Django REST framework and getting a bit cold feet, especially since LB encourages extending the base model to create a custom User model, it does not seem to extend the ACL methodology quite well. I am just crossing my fingers that i do not fall over more weird design defects. Sorry if i sound rude, it was not intentional.

[2017-04-04 18:19] crandmck commented on #2872
Sure... If so, please open an issue in https://github.com/strongloop/loopback.io.  Thanks.

[2017-04-04 18:52] jdhrivas opened #3331 "Operation Hook: 'before save' - param ctx.instance missing attributes passed to Model.create"
I'm trying to clean up the data object passed to a Model.create method before validation. The model is configure to "strict:true". I  created  a mixin to remove undesired data using "before save" hook - see below. The problem is that the ctx.instance does not have the original object passed to Model.create, therefore I cannot clean the data. Validation is triggered after 'before save' and I'm gett

[2017-04-04 19:10] ebarault commented on #2270
@maziarz: no offense taken. I'm a community maintainer, doing my best to sort some problems out, one at a time. Community is doing a great job here so does the Strongloop team (now joined by IBM). The framework is nearly extensible to the infinite and everyone expects a tone from it OOTB, which is fine :-) but it just take some time and/or your joined efforts to contribute in fixing the issues tha

[2017-04-04 19:13] maziarz commented on #2270
@ebarault you are doing a good job as far as i can see! I will eat the default ACL's for now until juggler gets released with new shoes :-)

[2017-04-04 21:47] shreyas-a opened #3332 "Webpack Angular 1.x SDK plugin/loader"
Just like we have the SDK generator for Grunt "grunt-loopback-sdk-angular", do we have similar plugin/loader for Webpack?

[2017-04-05 01:59] geminiyellow commented on #1692
@beeman no no, `Reactions` not send a notification, single comment dose. that means, everybody want to know the status about this issues.they push this project move. if you dont like it, you can set  no watch , or, if maintainer dont like it, they can lock this issue.

[2017-04-05 04:09] jdforsythe opened #3333 "Updating user email breaks login"
# Description/Steps to reproduce
In an angular app, using `User.prototype$updateAttributes({id: user.id}, {email: vm.newEmail})` as suggested here [https://github.com/strongloop/loopback-sdk-angular/issues/125](https://github.com/strongloop/loopback-sdk-angular/issues/125)

It also required this ACL (didn't pick up the 'updateAttributes' ACL):
[code]

It properly calls a PATCH to /user/:id and upd

[2017-04-05 07:21] ghulamhussain commented on #2610
i am having same kind of issue when i open localhost i get Cannot GET / why is that

[2017-04-05 07:22] ghulamhussain commented on #2610
btw i am converting a soap api to rest api

[2017-04-05 07:24] ghulamhussain commented on #2610
i am also not able to connect to a magento wsdl all other wsdl work fine is there any solution

[2017-04-05 07:29] ghulamhussain opened #3334 ""Error: There is no method to handle GET /"
# converting a soap api into rest gives "Error: There is no method to handle GET /

[2017-04-05 09:22] ghulamhussain opened #3335 "magento wsdl error connetion"
![capture](https://cloud.githubusercontent.com/assets/16648097/24698936/d631a9d6-1a0b-11e7-83f4-ccd18465189a.PNG)

can not connect to a magento wsdl gives error like this
connection fails : unexpected root element of wsdl or include

i shuold be able to connect to the wsdl

[2017-04-05 10:40] liviudobrea commented on #3144
Installing a new version of node doesn't fix the issue.
I got the same error as @sanjay-shah while trying ``lb model`` before and after updating node, npm and loopback
**Before**
[code]
**After**
[code]

[2017-04-05 10:56] mrfelton commented on #2144
We wrote the Changed mixin to provide a generalised way to accomplish this:

https://github.com/fullcube/loopback-ds-changed-mixin

[2017-04-05 13:02] bajtos commented on #2610
@ghulamhussain thank you for the comment. Please open a new github issue and provide us with steps how to reproduce the problem you are experiencing - see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2017-04-05 13:06] bajtos commented on #3144
@liviudobrea Can you upgrade loopback-cli to the latest version please and try again?

Also note that loopback-cli is typically installed globally via `npm install -g loopback-cli`. Your comment shows the CLI installed locally in our project's dependencies.

Please send us the output of `lb --version` to verify what version you are running.

[2017-04-05 13:35] liviudobrea commented on #3144
Loopback was installed globally, forgot I also had it locally. Removed local loopback, tried again, got same error.
Current loopback version is
[code]

[2017-04-05 13:40] bajtos commented on #3144
Thanks, I am reopening the issue then.

[2017-04-05 13:55] bajtos commented on #3332
None that I know of. This is the kind of feature where we would like the community to step in and implement the plugin/loader as a standalone npm package.

[2017-04-05 13:58] bajtos commented on #3333
This behaviour is intentional. If your application requires email addresses to be verified, then users must verify the new email address they entered into the system before they can login again.

You can modify your app to not require emails to be verified by changing the setting `emailVerificationRequired`, see https://loopback.io/doc/en/lb2/Registering-users.html#verifying-email-addresses for mo

[2017-04-05 13:58] #3333 closed

[2017-04-05 14:00] bajtos commented on #3328
Thank you @tabvn for sharing. Would you like to showcase your project in http://loopback.io/doc/en/community/index.html?

There isn't much else to do about this issue, I am closing it as resolved.

[2017-04-05 14:00] #3328 closed

[2017-04-05 14:03] bajtos commented on #2811
Hi @hristo-vrigazov, is this issue still relevant? What loopback version are you using?

To make it easier to help you, please create a sample application reproducing the problem - see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2017-04-05 14:07] bajtos commented on #2832
@ebarault could you PTAL? I think you may know the answer from the top of your head, considering how much time you spent working on $owner role recently.

[2017-04-05 14:08] bajtos commented on #2933
@ebarault could you PTAL? Has this scenario been already addressed, or is it waiting for #3140 to get landed?

[2017-04-05 14:11] bajtos commented on #2870
Hello, I think there is no single ordering of observers that would work for all use cases.

Let's step back a bit and discuss the actual problem you are trying to solve. Why would you like to disable the built-in "before delete" hook that's deleting access tokens of the deleted user?

[2017-04-05 14:14] bajtos commented on #3032
@ebarault thoughts? Is this related to the recent discussion about inheriting ACLs in subclassed models?

[2017-04-05 14:16] #3239 closed

[2017-04-05 14:16] bajtos commented on #3239
Closed as abandoned. Feel free to reopen if/when you can provide us with more details as requested by my previous comment.

[2017-04-05 14:17] bajtos commented on #3142
Closing as abandoned. Feel free to reopen if/when you can provide us with more details as requested by my previous comment.

[2017-04-05 14:17] #3142 closed

[2017-04-05 14:19] ebarault commented on #2832
@whispers16 : the ownership concept only works for models of type **User** (models inheriting from the built-in model `User`). In your case, a **company** instance can only own a `message` if **company** model is of type `User` (can call authenticated REST methods).

Still this feature will be soon available in combination with multiple user models setups (see http://loopback.io/doc/en/lb3/Authent

[2017-04-05 14:22] tabvn commented on #3328
that is cool :) thank you @bajtos

[2017-04-05 14:27] ebarault commented on #2933
basically the situation described here implies 2 different User models, at a time where authentication with multiple user based models was not supported, in such a configuration at that time, yes the scenario could happen, but the setup was not correct.

in #3140 the situation will be solved OOTB provided that multiple user models are configured, and with a feature flag for setups with only one us

[2017-04-05 14:46] ebarault commented on #3032
yes and no

**yes**, because the builtin user model has already the following ACL:

[code]

as it is more specific than

[code]
(let's call it `DENY * *`)
the former gets a higher score and authorizes standard users.

**no**, because it could also be solved already by defining a user role, binding it to standard users and implementing the following ACL in the extended user model:

[code]

LoopBack

[2017-04-05 15:30] davidrivers93 commented on #3321
Hi @ebarault

This is the supplier.json on the API1 :

  "name": "Supplier",
  "base": "PersistedModel",
  "idInjection": true,
  "options": {
    "validateUpsert": true
  },
  "properties": {
    "name": {
      "type": "string"
    }
  },
  "validations": [],
  "relations": {
    "zones": {
      "type": "hasMany",
      "model": "Zone",
      "foreignKey": ""
    },
    "rates": {
      "type":

[2017-04-05 16:52] jjhesk commented on #3179
@sam-github @bajtos you can try to use the [ipfox](https://addons.mozilla.org/en-US/firefox/addon/ipvfox/) to check if the loopback server support ipv6. In my case, I got apple rejected from not being able to support NAT64 ipv6 and the loopback-boot is deployed and hosted on heroku. I am trying to think if loopback has any configurations in coding to enabled ipv6 server listening.

[2017-04-05 18:07] gunjpan commented on #2484
@jdhrivas : Could you please create a new issue and refer it. LoopBack team would be happy to help. Thank you :)

[2017-04-05 19:39] timlind opened #3336 "Modify model data during loaded hook"
# Description/Steps to reproduce

Add a property in a loaded hook, onto ctx.data

# Expected result

Find property on the client http response. This does not seem to be happening.

# Additional information

postgresql connector

[2017-04-05 20:16] crandmck commented on #2144
Cool...

@mrfelton Would you be interested and willing to add this project to http://loopback.io/doc/en/community/index.html ?  It should be simple to do (see http://loopback.io/doc/en/community/How-to-add-a-project.html).... I can help, too, if needed.

[2017-04-05 20:33] timlind commented on #3286
@bajtos I've forked sandbox with an example of using the global remote hook to preload data for decorating in an operation loaded hook. Currently it seems the modification to ctx.data in loaded operation hook isn't affecting the resulting data sent over REST.

https://github.com/timlind/loopback-sandbox-bulk-decoration

[2017-04-05 23:37] jdhrivas opened #3337 "Related model methods: destroyById and destroyAll returns status 204 No Content"
Issue:
Related model methods: destroyById and destroyAll returns status 204 No Content
It does performs the delete operation but it returns 204, when I was expecting 200 with:
[code]

Steps to reproduce:
1. Setup two model and create relations via the .json
2. Perform destroyById and destroyAll like this:
   DELETE model/:id/relatedModel/:id
   DELETE model/:id/relatedModel

[2017-04-05 23:38] jdhrivas commented on #3337
@gunjpan see above. Thanks.

[2017-04-06 02:00] cheese10yun opened #3338 "I want infinite AccessToken allow."
I want infinite AccessToken allow.

and i try ttl value is  -1

but faild message INVALID_TOKEN

how to infinite AccessToken allow ?

English is difficult to use. Please understand

Thank you.

[2017-04-06 07:23] Noob7 commented on #1319
:-1:  :(

[2017-04-06 08:34] timlind commented on #3286
see also #3336

[2017-04-06 08:54] cheese10yun commented on #3338
i'm resolved eternal Access Token Allow

first `AccessToken` model and User Model is should be connected by foreign key

second  allowEternalTokens : true must be declared in `user.json`(model directory)  file

I am not accustomed to English. Please understand

Thank you.

[2017-04-06 09:28] #3338 closed

[2017-04-06 09:57] Noob7 commented on #2051
:( it worked once but then i tried to include the containing models and it has not worked since even when i reverted back to the same code. While you are at it can you also let me know how to include/populate the include the contained model while querying because polymorphic relation doesnt work with include

[2017-04-06 11:23] bajtos opened #3339 "Access Scopes"
# Description/Steps to reproduce

In #3313, I laid ground work for implementing scopes-based authorization. To make this implementation a first-class citizen in LoopBack world, we need to:

 - [ ] Agree on how to define scopes at app/model level - see the discussion in https://github.com/strongloop/loopback/pull/3313 for more details
 - [ ] Implement this solution
 - [ ] Write documentation (see h

[2017-04-06 12:05] timlind commented on #737
When I put a remote hook on Favorite.afterRemote('find') I expect it will execute when I access /profiles/1/favorites.

Can we introduce this as a feature @bajtos?

[2017-04-06 12:06] timlind commented on #3336
It doesn't help that remote hook are not run when the model is accessed directly as a relation on another model: #737

It also doesn't help that remote hooks don't run when a model is included via another model's rest endpoint.

[2017-04-06 18:00] anodynos opened #3340 "Docs for RelationDefinition"
It's not a bug or a feature request, but a docs request + question:

With regards to `app.models.Person.relations` with seems to be holding a [`RelationDefinition`](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js) instance for each relation name, I am trying to use it for run-time introspection (like its used in many other components or mixins such

[2017-04-06 20:41] timlind opened #3341 "customise host for user.verify link"
# Description/Steps to reproduce

On heroku config.js host needs to be 0.0.0.0 so the host used for the link in the email sent by user.verify needs to be accept a host parameters, api documentation does not indicate this is possible.

Also do these emails get sent through the email datasource that is setup or another transport mechanism?

# Expected result

# Additional information

[2017-04-07 03:45] simoami commented on #1803
After I redefined the `email` property in my custom `user.json` as follows the error message improved:
[code]

The new error is now much better:

[code]

[2017-04-07 05:20] tborja commented on #1856
Serpentinefire,

Can you supply the code on server.js to fix this issue?

[2017-04-07 07:04] Kitanotori commented on #1196
It seems this is unsupported. You have to create separate POST requests or implement your own handler.

https://loopback.io/doc/en/lb3/Relation-REST-API.html

[2017-04-07 09:57] ebarault commented on #3339
@bajtos : regarding **defining scopes at model level** i picked the code from commit strongloop/loopback@6f9ae2a, rebased it on top of PR #3313 and pushed it to a seperate branch: https://github.com/strongloop/loopback/tree/feature/access-scopes

[2017-04-07 15:21] bajtos commented on #1295
Possibly related: https://github.com/strongloop/loopback/issues/2046

[2017-04-07 15:22] bajtos commented on #2080
Possibly related: https://github.com/strongloop/loopback/issues/2046

[2017-04-07 15:25] bajtos commented on #1295
And also https://github.com/strongloop/loopback/issues/126

[2017-04-07 15:25] bajtos commented on #2080
and also https://github.com/strongloop/loopback/issues/126

[2017-04-07 15:25] bajtos commented on #2046
See also https://github.com/strongloop/loopback/issues/126

[2017-04-07 19:18] STRML commented on #2046
This would be good for guid IDs as well; however I don't think that changing ID formats (say, from autoincrement to guid or objectid) could possibly be a non-breaking change and is a relatively uncommon use case. However, forcing all existing clients with numeric IDs to change to strings absolutely is a breaking change. If done it will need to be at a major bump and opt-out.

[2017-04-07 20:33] tspoke commented on #2870
Hi @bajtos

I don't remember exactly what I wanted to do, but the original post was more about handle errors in observe() method.

I understand that observers are just.. observers. I don't know how you want to users to use them, only as 'events hooks' with no real impact on the request; or, in a more complexe way, as methods in a global transactions.

In loopback I really feel like I want to be ab

[2017-04-08 13:01] diversoft commented on #1803
the same error

[2017-04-08 18:33] joeybenenati opened #3347 "polymorphic relation based on property"
I have review the loopback polymorphic relation docs (https://loopback.io/doc/en/lb3/Polymorphic-relations.html) and I am trying to determine if I can achieve a polymorphic relation that suits the following needs:

I have List, Task, and Event models. Lists can have many Tasks OR have many Events. Lists also have a type property that defines what kind of child objects it has. ie, "tasks", "events"

[2017-04-09 00:45] shaheero opened #3348 "ACL $owner is not honoured when relation belongsTo userId (primary key) is set"
# Description/Steps to reproduce
1. Define a belongsTo relation to a model that extends the predefined User model.
2. Set ACLs to allow $owner to read and deny $everyone from anything (*).
3. Use a user's access token to try to make a GET request for the data of that user (i.e. GET localhost:3000/api/Depts/1?&access_token=xxx)

Note:
userId is the primary key of the Dept table.

It gives a 401 una

[2017-04-09 12:18] shaheero commented on #3338
I recommend that you make a pull request to the docs to include how to do this
https://github.com/strongloop/loopback.io/edit/gh-pages/pages/en/lb3/Authentication-authorization-and-permissions.md

[2017-04-10 11:04] Sigfried commented on #2769
I have the same question and haven't quite tried it yet, so it's probably as easy as you say. But I'm just trying to figure out, if I've got, like you said:
[code]
and
[code]
What does the body of myOtherMethod look like so that I can do something like:
[code]

Does my pseudocode do the job, or is there some other magic necessary to call myMethod with the appropriate arguments and make use of the

[2017-04-10 12:16] bajtos opened #3349 "New password-reset flow: docs, examples, project template"
- [ ] Update https://github.com/strongloop/loopback-example-user-management
   - https://github.com/strongloop/loopback-example-user-management/pull/58
- [ ] Update our documentation to reflect the changes made in https://github.com/strongloop/loopback/issues/382. Include a guide showing users how to correctly set up password-related endpoints in LoopBack applications.
  (internal task: https://gi

[2017-04-10 15:11] luisfavila opened #3351 "Can't access included relations' properties"
Hi! I'm struggling a bit with an include behavior I wouldn't expect.
I have a model A which has a belongsTo relation with model B.

    A.findById(id, {"include":"b"}, function(err, data){
        console.log(data);
        console.log(data.b);
    })

# Description/Steps to reproduce

I have a model A which has a belongsTo relation with model B.

    A.findById(id, {"include":"b"}, function(err,

[2017-04-10 15:14] luisfavila commented on #3351
#2205 Related

[2017-04-10 15:36] mitsos1os commented on #2428
This should be fixed by this [merge request](https://github.com/strongloop/loopback-datasource-juggler/pull/1259) in datasource-juggler

[2017-04-10 15:43] mitsos1os commented on #1362
This should definetely be implemened in next versions... You should no way be able to access a model B without read access just because you have access to model A which is related to model B...

This can be easily reproduced at [example repo](https://github.com/strongloop/loopback-example-access-control). If you convert all ACLs to a single deny all you should not be able to access anything. Howev

[2017-04-10 19:29] idushes commented on #1018
dao.js
<img width="733" alt="screenshot 2017-04-10 14 26 39" src="https://cloud.githubusercontent.com/assets/13415220/24878674/ba4286d6-1df9-11e7-8e96-ed950885427e.png">

utils.js
<img width="847" alt="screenshot 2017-04-10 14 25 32" src="https://cloud.githubusercontent.com/assets/13415220/24878642/9318e1a4-1df9-11e7-8707-b26192215ed8.png">

// setScopeValuesFromWhere(data, scope.where, this);
wor

[2017-04-10 19:38] mnvini commented on #1856
If you're using bodyParser,
Try put that where you configure your express in the application.
app.use(bodyParser({ limit: '10mb' }));

[2017-04-10 20:52] luncht1me commented on #2531
I'm having problems too, where my extended user model is still calling the base accessToken. when I try and log a user in...

`Error: Cannot call AccessToken.findById(). The findById method has not been setup. The PersistedModel has not been correctly attached to a DataSource!`

`

my model-config:
[code]

access-token.json
[code]

user.json
[code]
server.js
[code]

Latest version of loopback and

[2017-04-10 20:53] idushes commented on #1018
**server.js** before boot
`app["loopback"]["DataSource"]["DataAccessObject"]["applyProperties"] = function(data, inst) {
  let properties = this.definition.settings.properties;
  properties = properties || this.definition.settings.attributes;
  if (typeof properties === 'object') {
    util._extend(data, properties);
  } else if (typeof properties === 'function') {
    util._extend(data, propertie

[2017-04-10 21:37] luncht1me commented on #2531
So, I just ended up changing the accessToken relations in my model-config.json to point to my new user model and things seem to be working.

[2017-04-10 23:21] joeybenenati commented on #3347
or would i be able to achieve this with a custom scope?

[2017-04-10 23:21] charlle commented on #2816
@jannyHou your model declaration still retains a validation error: `teams` can't be blank.  How does this insert an empty array into your data store without a default value?  Wouldn't the require reject it?

[2017-04-10 23:26] charlle commented on #2816
If you are trying to insert an **empty array as the default** for your data store, then I believe this is the correct declaration.
[code]

[2017-04-11 01:23] bdharrington7 commented on #1692
Sooo given the number of +1's (both reactions and comments) is this being prioritized at all?

[2017-04-11 01:38] zbarbuto commented on #1692
@bdharrington7 Given that the [Loopback Angular 2 SDK Builder](https://github.com/mean-expert-official/loopback-sdk-builder) exists, probably not.

[2017-04-11 01:54] bdharrington7 commented on #1692
@zbarbuto what if I don't want to use Angular?

[2017-04-11 02:05] jannyHou commented on #2816
@charlle are you using the latest generator-loopback?
I just tried
[code]
and I didn't see the error.
Can you provide your `generator-loopback` version? Thanks.

[2017-04-11 06:25] tborja commented on #1856
I already have this on my server.js and I still get the error.

`var bodyParser = require('body-parser');

app.use( bodyParser.json({limit: '50mb'}) );
app.use(bodyParser.urlencoded({
  limit: '50mb',
  extended: true,
  parameterLimit:50000
}));`

[2017-04-11 07:13] ketansp commented on #1856
I got it working by modifying values in `middleware.json` file. You can set the actual request limit there. Apparently loopback picks it up from `middleware.json`, not `config.json`.

`{
  ...,
  "parse": {
    "body-parser#json": { "params" : { "limit" : "50mb"}},
    "body-parser#urlencoded": {"params": { "limit" : "50mb", "extended": true }}
  },
  ...
}`

[2017-04-11 08:01] ebarault commented on #3347
have you tried hasMany inverted polymorphic relations? as in https://loopback.io/doc/en/lb3/Polymorphic-relations.html#hasandbelongstomanypolymorphic-relations

invert allows the discriminator to be hosted by the modelFrom of a hasMany relation rather than by the modelFrom of a belongsTo relation. Although i'm not sure it will work without a through model.

[2017-04-11 12:10] IgorVieira commented on #1342
I have another problem, my server return a error for authentication

[code]

[2017-04-11 12:24] bajtos commented on #2046
I totally agree 👍 The issue is already labelled as `breaking-change`.

[2017-04-11 12:28] bajtos commented on #2870
Makes sense!

To some extend, hooks works the way you have described - when a hook observer calls `next(err)`, the operation is aborted.

Unfortunately, LoopBack does not support transactions out of the box, therefore when an operation consisting of multiple database calls (e.g. the cascading delete described above) fails in the middle, there is no easy way for rolling back the change that have be

[2017-04-11 12:34] IgorVieira commented on #1342
I will write in other issue.

[2017-04-11 12:42] mnvini commented on #1856
![image](https://cloud.githubusercontent.com/assets/6878424/24909606/f50ef816-1e9a-11e7-9cb4-4bab74bd7838.png)

try change this value limit, and see if it works for you.
If don't work the problem is not with body parser

[2017-04-11 12:53] IgorVieira opened #3352 "User, Role and RoleMapping Error: AUTHORIZATION_REQUIRED"
I have a application and I need resolve a problem about roles in my application and I try write my model in diferent ways, I write call my Role through in my RoleMapping in my User, just like this:

[code]
But I have little issues, and one this issues is a error about authenticated

[code]
What is this?

[2017-04-11 13:26] padelagani opened #3353 "Remove Remote Hook on Run time"
Is there a way to remove **remote hook** dynamically like observers **`ObserverMixin.removeObserver(operation, listener)`** ?

I have added a remote hook
e.g.
app.models.Movie.afterRemote(method, afterFn)

[2017-04-11 14:27] haotangio commented on #2074
Simply put, if this feature has not been implemented yet, please don't write it in the official documentation.
As a common sense, official document = implemented + carefully tested

[2017-04-11 16:14] ruoru commented on #2886
i suggest use [between](https://loopback.io/doc/en/lb3/Where-filter.html#operators)
like this:
[code]

[2017-04-11 18:08] IgorVieira commented on #3352
I close this issue because I resolve add news acls in my model for authorized  my new relations and new endpoints.

[code]

[2017-04-11 18:08] #3352 closed

[2017-04-11 18:36] joeybenenati commented on #3347
thanks, @ebarault.the inverted makes sense, but still not able to get it to work.

i've tried this List definition to no avail. does that look right? I have Tasks with `listId: 3` but when including `"items"`, the array is empty.
[code]

[2017-04-11 21:02] kjdelisle commented on #3037
@lygstate Sorry for the delay, we've got quite the backlog to churn through!

I've reproduced what you're seeing here, but only when I use a model that hasn't been migrated to the target datasource.

If I use the automigrate feature, it correctly creates the index as defined in the model and enforces the constraint.

For example, I have a model definition for a Widget:
[code]

Automigrating this d

[2017-04-11 21:05] kjdelisle commented on #3037
Please let me know if this resolves your issue.

[2017-04-12 01:14] shaheero commented on #2531
@tvdstaaij Thanks for the detailed solution.

Two more things:

- If you have in your `server.js` the script from the docs which uses current user id as a literal in URLs for REST, make sure to change `model: app.models.accessToken,` to `model: app.models.ExtendedAccessToken,`
[Docs Ref: Making authenticated requests](https://loopback.io/doc/en/lb3/Making-authenticated-requests.html#using-current-

[2017-04-12 01:59] ruoru commented on #2886
@phra  sorry，my writing is wrong。thanks

[2017-04-12 02:17] lygstate commented on #3037
OK I Will try it , does this need the master version of loopback?

[2017-04-12 03:03] tborja commented on #1856
Hello mnvini,

I did as you suggested and changed the limit parameter for the types on body-parser, but I am still getting the same entity too large error.

My loopback database is Cloudand on Bluemix and I am using this connector:
"loopback-connector-cloudant": "^1.2.2"

It seems that it is the cloudant server that is sending out the entity too large error.

`{"error":{"name":"Error","status":413

[2017-04-12 03:42] shaheero commented on #825
In the .js files (not .json) of the models, have if conditions, and in the else part:
[code]

[2017-04-12 10:28] FVJohnny opened #3355 "Modifications on 'loaded' hook don't affect the response of Model.create (POST Endpoint)"
# Description
Modifications made to ctx.data on the 'loaded' operation hook won't affect the response sent from the endpoint to create a new instance of a Model .

Example code:
[code]

Now i use the explorer to create a new Order-Line with this data:

# Expected result
Expected response from the POST request:

[code]

Actual response from the POST request:
[code]

It looks like it sends as a resp

[2017-04-12 11:14] ae1080 commented on #1841
any Updates?

[2017-04-12 12:39] davidrivers93 commented on #3321
Any idea?

Thanks in advance.

[2017-04-12 13:47] cfree opened #3356 "Unhandled error for request when sending error to callback"
# Description/Steps to reproduce

While testing responses in Loopback using promises, it was noticed that Loopback reports unhandled errors to the console despite the request succeeding.

Example:
[code]
results in:
[code]

[Using promises in the remote method](https://github.com/cfree/lb-error/blob/master/server/models/test.js#L67-L90) results similarly:
[code]

I started digging and it seems tha

[2017-04-12 15:29] arondn2 opened #3357 "Group by clause with a mysql datasource"
Is there anyway to do a groupBy clause with a aggregate function in a model attached to a mysql datasource with the loopback's models?

[2017-04-12 19:47] franckysolo opened #3358 "Mongo dataSource UnhandledPromiseRejectionWarning"
Hello,
i try to make a complex request derived from mysql to mongo but an exception is thrown

# Description/Steps to reproduce
the original mysql request
[code]

I convert it for mongo, i test it on console just with totalDistance
[code]

# Expected result
`[ { "totalDistance" : 3316.9500000000003 } ]
`
# Exception
when i test my remote method
[code]
**Exception thrown**
[code]
Any ideas?
Could i

[2017-04-12 20:01] necevil commented on #1452
@deepakrkris I am working on a project where I am trying to add a second unique index (right now I am only using the in-memory datasource, but will be moving to mongoDB).  I have been having trouble getting Loopback to enforce unqiueness on anything other than the ID fields that it auto-creates.

Right now I am using the in-model index declaration something along these lines:
[code]

But I can't s

[2017-04-12 20:57] always-akshat commented on #2616
Hey, are there any updates on this ?

[2017-04-12 21:51] franckysolo commented on #3358
Ok i find, except the sum of duration

the good way

[code]

I can't make a sum of time
how can i convert
`SEC_TO_TIME(SUM(TIME_TO_SEC(`duration`))) AS totalDuration`
in model?

[2017-04-13 01:18] ndjathe-ndjathe commented on #2264
I have the same problem. Please help!!!

[2017-04-13 02:24] ndjathe-ndjathe commented on #2264
This work for me.

In addition to custom user and accessToken models as done by @tvdstaaij in #2531 , i have added, customs role, roleMapping and acl model and make them persisted in my datasource.
I also remove the `server.enableAuth()` in the server/boot/authentication.js file.

[2017-04-13 13:44] barocsi commented on #3147
Bump? This is still a serious problem...

[2017-04-13 14:11] barocsi commented on #3112
There is a sudden issue from the blue, regarding invalidation:
User.prototype.createAccessToken removes all other tokens.
Why? Why cannot an user can be logged in from multiple devices?

[2017-04-14 07:47] tspoke commented on #2870
Thank you @bajtos. I understand that's not easy and probably my use case was too much specific to spend time on it.

I think we can close this Issue :)

[2017-04-14 07:47] #2870 closed

[2017-04-14 08:04] cheese10yun opened #3360 "model Validation length"
I`m try password of length validation in mysql model

[code]

but password length check is done not working

so I`m try password of length validation in mongo model

[code]

At this time, password length check is working successfully

My question is password length checking in mysql  model

I am not accustomed to English. Please understand

Thank you.

[2017-04-14 08:42] cheese10yun commented on #3360
i`m sorry mongodb is done not working

i`m thinking password of length checking done not working

how to password length checking ?

[2017-04-15 03:33] aaalsubaie opened #3361 "loopback cli root path configuration"
I am trying to use the Loopback "lb" command to generate a model. it always writes on the server folder (root dir) even though I configured the boot to have different configuration paths for models.

[code]

[2017-04-16 12:46] #3358 closed

[2017-04-16 16:18] cheese10yun opened #3362 "how to swagger custom ?"
![](https://i.imgur.com/WrpNnNs.png)

how to swagger document custom?

I like that picture want swagger custom

For a detailed description of the document you want to create.

how to do ?

I want to Implementation Notes  write.

[2017-04-16 20:32] shaheero commented on #685
@loay using Loopback 3.6, this is still an issue.

[2017-04-17 03:34] cheese10yun commented on #3362
I have solved this problem.

Please see this link

Registering a remote method, check the table of contents to the notes options

[code]

| Option     | Description     |
| :------------- | :------------- |
| Inotes       | Additional notes, used by API documentation generators like Swagger.

You can put long strings in an array if needed (see note below).       |

[2017-04-17 04:02] tborja commented on #1856
It seems that there is a 1MB limit in the Cloudant request.

https://github.com/cloudant/java-cloudant/issues/345

It is just weird that this limit is there without a way to change it.

[2017-04-17 07:34] prtkkmrsngh commented on #3295
Workaround is only making validate false. Any update on this?

[2017-04-17 08:46] prtkkmrsngh opened #3363 "Count not working with embedded models"
All api are returning count as 0 where relations type is embedsMany.

**For example**
In repository [loopback-example-relations](https://github.com/strongloop/loopback-example-relations)
following api returns count 0 after adding any number of emails.
http://localhost:3000/api/Customers/1/emails/count

[2017-04-17 08:59] chiqui3d opened #3364 "callback for field model and return different values"
In a model I have a field of type varbinary, to save the ip, but now I want to convert to ip format when it make the call through the api.

Is it possible to modify values before showing it?

[2017-04-18 13:25] kodepareek commented on #2270
Hi guys
Would be really super if this fix comes out soon. ACLs on User are pretty much unusable without the fix. Thanks

[2017-04-18 13:41] kodepareek commented on #3151
@akshayKrSingh what dependencies did you update?

[2017-04-18 13:59] kodepareek commented on #2270
A new version of Datasource juggler seems to have been published 18 hours ago. But does not seem to fix the issue

[2017-04-18 14:27] bajtos commented on #3112
User.prototype.createAccessToken removes all other tokens.
Why? Why cannot an user can be logged in from multiple devices?

See https://github.com/strongloop/loopback/issues/3112#issuecomment-274750562 and also http://loopback.io//doc/en/lb2/AccessToken-invalidation.html

In  https://github.com/strongloop/loopback/issues/3071, I proposed a feature allowing app developers to get more control over a

[2017-04-18 15:07] bajtos commented on #737
Yes, that's what we all would expect.

Unfortunately, the way how relation methods are exposed via strong-remoting/REST makes it very difficult to implement such desired behaviour.

Sure, you are welcome to give it a try! See http://loopback.io/doc/en/contrib/index.html to get started.

Just be warned, this feature is tricky and complex to implement (at least I think so).

[2017-04-18 16:48] superkhau commented on #3349
Create new timeboxed story.

[2017-04-18 17:34] sneakersgames opened #3365 "Include with filter does not filter out where condition"
Following the documentation as regarding scope on include filter: https://loopback.io/doc/en/lb3/Include-filter.html

[code]

Gives me an array with Spots without categoryId 45:
![image](https://cloud.githubusercontent.com/assets/473894/25144204/4ec906e4-246d-11e7-9d02-1dac9be4d047.png)

I would expect this object isn't returned since it doesn't have categoryId 45

**spot.json**
[code]

**category

[2017-04-18 17:39] ryodeushii opened #3366 "Error when generating Angular (v.4.0.0) SDK with models, which has referencesMany relation"
# Description/Steps to reproduce
This error appears only when referencesMany relation used. If I remove all referencesMany relations from all models - SDK is generating successfully.

# Expected result

# Additional information
[code]

[2017-04-18 17:55] #3366 closed

[2017-04-18 17:55] ryodeushii commented on #3366
from index.js of generator
[code]
We need only to change one row
From `        if(Array.isArray(type)) {` to `        if(Array.isArray(property.type)) {` and all works fine.

[2017-04-18 19:16] hyperd commented on #732
@raymondfeng @wtfribley sorry to bring this issue back but is this feature currently available? Seems that `hasAndBelongsToMany` relations are omitting the `through` model that's specified

[2017-04-18 19:23] sneakersgames commented on #683
+1 Can't believe this isn't included in the framework!

[2017-04-19 04:44] kodepareek commented on #3151
@akshayKrSingh figured that out. Seems instantiating the project with the loopback cli installs with very outdated versions of all required lb related dependencies.

[2017-04-19 09:19] davidrivers93 commented on #3321
Any idea?
Thanks in advance.

[2017-04-19 09:26] barocsi commented on #1723
Why is email validation forcefully present during new user creation? Why is this must be coupled this tightly?

[2017-04-19 09:31] kodepareek commented on #1960
Hello guys.

Have been tinkering for a couple of hours and it seems that the implicit model creation only happen when one calls `ds.automigrate()` on the entire database

This makes through model creation very cumbersome for in production databases. I suggest that there be a way to create the implicit through model via `ds.autoupdate` as well.

ALTERNATIVELY.

Document a clear way to manually crea

[2017-04-19 09:47] jarryjarryjarry opened #3367 "Using transaction with models with trackChanges enabled"
# Description/Steps to reproduce
**Not sure if bug or feature is unsupported**
When creating records using a transaction on model with _trackChanges_ enabled, model's change model is not populated, with the following error:
![image](https://cloud.githubusercontent.com/assets/27766207/25173698/b39c6498-2527-11e7-9293-408a07702524.png)

# Expected result
Model's corresponding change model should be

[2017-04-19 11:06] bajtos commented on #1723
@barocsi please open a new issue, describe steps to reproduce the problem you are experiencing and actual vs. expected results.

[2017-04-19 14:21] jannyHou commented on #1960
thanks @kodepareek I will take a look of your scenario asap.

[2017-04-19 23:28] f-w opened #3368 "Inconsistent execution order between operation hook and custom strong-remoting phase hook"
With LB3, I am trying to use [custom strong-remoting phase](http://loopback.io/doc/en/lb3/Using-current-context.html#use-a-custom-strong-remoting-phase) to inject httpContext into *args.options* in order to access HTTP headers in downstream middleware such as operation hooks. I need this injection for all methods, built-in or not, in all of my models and I think this is the least effort approach i

[2017-04-20 01:22] kristojorg commented on #2391
I am sorry if this is a dumb question, but I'm wondering if this is relevant for developing two l loopback apps completely separately on the same machine? They are created in entirely different folders. In the first app I have ACLs set to disallow all endpoints. In the second, I have no ACLs set or permissions at all (it is a brand new app from running `lb` on command line), but now am seeing `401

[2017-04-20 07:20] bajtos commented on #2924
Similarly, we need to specify that `User.create` body must contain a required `password` property, that's otherwise hidden from all other payloads.

[2017-04-20 07:43] davide-talesco commented on #2860
Also I have noticed that if I selectively enable some methods of my model (which extends PersistedModel), the method on the prototype don't get actually exposed.
Not too sure this is related...

[code]

Any ideas?

[2017-04-20 09:01] amazinggadget commented on #1314
Hai,
   I am getting the same as you have posted @rkmax . I followed what @raymondfeng have told. But I am getting the following in the console.

 loopback:user No matching record is found for user **foo@bar.com**

But I have created this user already. I dont no what I am missing. Can someone help?
Thanks

[2017-04-20 09:07] lzerma commented on #3235
Hi there, I'm having issues with the embedsMany, I need to put some logic like
@superkhau
[code]

My models:

[code]

I've tried everything...

[2017-04-20 09:47] #3362 closed

[2017-04-20 09:48] cheese10yun opened #3369 "how to customize to Example Value"
![](http://i.imgur.com/yR4ApXM.png)

Id, name, desc .., created, modified I want to remove certain attributes from an attribute and create an example. Is that possible?

For example

[code]
This data

[code]
I want to make this change.

I am wrong in English. Thank you for your understanding. Thank

[2017-04-20 11:02] samithks commented on #3307
@ebarault

I removed the User and AccessToken the model-config.json.
[code]
Now the warning message is not showing and as far working properly.

[2017-04-20 11:16] samithks commented on #3307
@b3rew
Hi,
Thanks for your reply.
Ya, I tried that already and working.
I need to use relation name as `user` in access-token and `accessTokens` in customer.json.

[2017-04-20 12:04] bajtos commented on #2860
I suspect the code handling `sharedMethod` configuration does not correctly support prototype methods. Here is the relevant code:

https://github.com/strongloop/loopback/blob/75fdd3cf327052495fd7ebb010704eb952e33562/lib/application.js#L570-L575
[code]

`sharedClass.methods()` is defined [here](https://github.com/strongloop/strong-remoting/blob/24dbcc75669ddce9d4d0aabce94563fdc7882ce6/lib/shared-cl

[2017-04-20 12:43] stelios313 commented on #1477
+1

[2017-04-20 12:46] jaydp17 commented on #1744
@superkhau @jannyHou any update ?

[2017-04-20 13:45] bajtos commented on #2391
@kristojorg If the applications are executed in a separate Node.js processes, then the problem you are experiencing is not related to this issue.

Is it perhaps possible that both of your applications are listening on the same port and you may end up with connecting to the wrong one, depending on which app has started first?

[2017-04-20 15:28] bajtos commented on #3286
@timlind thank you for the example repo and sorry for my late response.

In [server/boot/context-decorator.js](https://github.com/timlind/loopback-sandbox-bulk-decoration/blob/20bc327c7081bff712bb24cab391c764180241b9/server/boot/context-decorator.js#L23), you have a before-remote hook modifying the `ctx` argument. This context is strong-remoting's `HttpContext`. A bit later you are modifying `ctx.

[2017-04-20 18:56] luncht1me commented on #3147
I'm facing simmilar issues with updateAttribute and having validation on my model, I believe it's related.

[code]

When I try and do a `user.updateAttribute()`, the beforeSave fires again, but the `ctx.data` only has the attribute I updated. Even though my `ctx.currentInstance` does include the full user object, the `slug` validation fires, because `data` is only the attribute I've chosen to upda

[2017-04-20 19:31] jannyHou commented on #1744
@jaydp17 I feel this is same issue as https://github.com/strongloop/loopback/issues/3030#issuecomment-275249931

In loopback-datasource-juggler we have a test case to cover this scenario and it passes, can you take a look of my comment above and provide more details about what's the difference between that test case and your use case? Thanks.

[2017-04-20 19:33] jannyHou commented on #3030
same one as https://github.com/strongloop/loopback/issues/1744, I am closing this one and let's keep discussion under issue#1744, thanks for understanding.

[2017-04-20 19:33] #3030 closed

[2017-04-20 20:47] superkhau commented on #3235
@Izerma Can you try:

[code]

See http://loopback.io/doc/en/lb2/Working-with-LoopBack-objects.html#from-a-model-script

[2017-04-20 21:01] 0candy commented on #3365
Do you have a model that links those two models together?
See https://loopback.io/doc/en/lb2/HasAndBelongsToMany-relations.html#defining-a-hasandbelongstomany-relation

It would help if you could create a sample repo so I can reproduce the exact issue you are seeing.
http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2017-04-21 02:54] superkhau commented on #2904
This got left on the backburner, will open a new issue if it comes up again.

[2017-04-21 02:54] #2904 closed

[2017-04-21 04:10] shaheero commented on #3155
I believe this is related to https://github.com/strongloop/loopback/issues/569
For your question, have a look at https://github.com/strongloop/loopback/issues/569#issuecomment-257749777

[2017-04-21 05:22] akshayKrSingh commented on #3151
@kodepareek yup.

[2017-04-21 15:03] ssh24 commented on #3369
@cheese10yun Not sure I understand your question correctly. The example json object has all the properties from your model. Hence, if your model does not have the `mobileNumber` property the REST call would not work.

[2017-04-21 15:40] cheese10yun commented on #3369
@ssh24
Id, name, desc .., created, modified I want to remove certain attributes from an attribute and create an example. Is that possible?

For example

[code]
This data

[code]
I want to make this change.

I am wrong in English. Thank you for your understanding. Thank

[2017-04-21 15:40] 0candy commented on #3363
There is a bug logged for relations embedsMany count not working.

Closing this as a dup.
Please follow issue here: https://github.com/strongloop/loopback-datasource-juggler/issues/258

[2017-04-21 15:40] #3363 closed

[2017-04-21 16:04] ssh24 commented on #3369
Are you saying you want to just insert the data as only? Something like this:
[code]
You can do that as long no other properties are marked as **required**. All **required** properties must be associated upon an insert.

[2017-04-21 16:26] cheese10yun commented on #3369
In certain api, all properties are required

On other api
`` `
{
    "MobileNumber": "string"
}
`` `
You may only need attributes.

I want to send the body value easily by clicking on the Example value provided by swwager.

In other words, I want to set the Example Value differently for each

[2017-04-21 16:33] ssh24 commented on #3369
You cannot set the example value by itself. The example value by itself fetches all the properties from the model. You can edit it to set it to whatever attributes you want.

[2017-04-21 16:38] cheese10yun commented on #3369
@ssh24

The reason I want this is because it is inconvenient to send the body value.

Is it impossible to utilize the swagger's Example Value if the body value of each API is different?

If so, is not the purpose of the Example Value easy to transfer the body value?

[2017-04-21 16:43] ssh24 commented on #3369
I am not sure of what you mean. The swagger example value fetches the json object and it's properties depending on the model properties. They are not hard coded to have the same values for each model unless obviously all the models have the same property.

[2017-04-21 17:12] cheese10yun commented on #3369
@ssh24
내가 잘못이해하고 있었습니다.

나는 Example Value가 body값을 편하게 전송하는 기능으로 이해하고 있었습니다.

그것이 아니라 모델의 속성을 보여주는 것이 입니까?

정말 답변 감사하게 생각합니다.

[2017-04-21 17:20] ssh24 commented on #3369
@cheese10yun It should show all the properties of the model and if you try to do a REST call with a property that is not part of the model, it should throw an error.

[2017-04-21 17:26] cheese10yun commented on #3369
@ssh24
I understood so much differently.

I understood because of you.

Thank you very much.

[2017-04-21 18:43] ssh24 commented on #3369
@cheese10yun You are welcome.

Closing this issue since it is resolved, feel free to reopen it if needed.

[2017-04-21 18:43] #3369 closed

[2017-04-21 18:57] 0candy commented on #2459
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2017-04-21 18:57] #2459 closed

[2017-04-21 18:58] 0candy commented on #2305
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2017-04-21 18:58] #2305 closed

[2017-04-21 18:59] 0candy commented on #2902
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2017-04-21 18:59] #2902 closed

[2017-04-21 23:27] necevil commented on #3365
I actually think I may be in a similar boat on this one.
@sneakersgames in my instance I am matching any property name (in any one of my models) to any possible value and returning every instance of the model as a result.

I need to re-structure the project to provide a sample repo, but in the interim, try enterying a vald but crazy query in the loopback explorer.  For instance, every one of my mo

[2017-04-22 17:53] seanxlliu opened #3370 "customized remote method cannot return with status code 200"
Thanks for the great job.

My issue is as title.
To reproduce the issue, creates a standard remote method and specifies the default status code as 200, like following,

[code]

but 'status 200' is ignored and still returns 204.
I know it is forced when returning no content. Any workaround or did I make a mistake in the code? I searched the whole repository but didn't find the code to how the defau

[2017-04-22 20:27] necevil commented on #3365
My filters, both Node Syntax and Rest Syntax (through Loopback Explorer), are still failing to filter data appropriately.

Updates since Yesterday:
1. Have tested WHERE filters on simultaneously connected MySQL and MongoDB datasources (different models): **All Datasources experience the issue although I am not using any In-Memory DB sources.**
2. Tested FindById Loopback Default Remote method:  **

[2017-04-23 20:51] ako977 commented on #2483
+1 on this feature.
Currently I'm hacking this by allowing a variable for the API version defined in middleware config:

[code]

Then explicitly looking for that variable in the remoteMethods.

[2017-04-23 21:41] ako977 opened #3371 "environment specific config files are being loaded when NODE_ENV has not been defined"
# Description

From the docs:
https://loopback.io/doc/en/lb2/Environment-specific-configuration.html

`config._env_.json/js` should not be loaded in the environment that has not defined NODE_ENV.

However in my local environment, config.development.js gets loaded along with config.js and config.local.js.
This is incorrect behavior right?

# Link to sample repo

https://github.com/ako977/loopback-d